Repository quarkusio/quarkus, pull requests merged in 2019-05, with the labels that each got.

#2329 Make very minor changes to extension philosophy section
  docs/src/main/asciidoc/extension-authors-guide.adoc
Labels: component:documentation

#2255 Upgrade to JBoss Threads 3.0.0.Beta3
  bom/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
Labels: waiting-for-ci

#2116 Add tests for the startup log output #2005
  core/test-extension/deployment/pom.xml
  core/test-extension/deployment/src/main/resources/application-console-output.properties
  core/test-extension/deployment/src/main/resources/application-file-output-log.properties
  core/test-extension/deployment/src/test/java/logging/ConsoleHandlerTest.java
  core/test-extension/deployment/src/test/java/logging/FileHandlerTest.java
  devtools/common/src/main/java/io/quarkus/utilities/JavaBinFinder.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  devtools/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
  devtools/maven/src/test/java/io/quarkus/maven/it/MojoTestBase.java
  devtools/maven/src/test/resources/projects/classic/src/main/resources/application.properties
Labels: coding-in-progress

#2340 Tweaks to quarkus-gradle-plugin build
  devtools/gradle/build.gradle
  devtools/gradle/gradle/wrapper/gradle-wrapper.jar
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  devtools/gradle/gradlew
  devtools/gradle/gradlew.bat
Labels: component:gradle

#2300 [DO NOT MERGE] Update to smallrye-jwt 1.1.4 and remove CDI producers
  bom/pom.xml
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/ClaimValueProducer.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/ClaimValueWrapper.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/CommonJwtProducer.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/JsonValueProducer.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/PrincipalProducer.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/RawClaimTypeProducer.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAccount.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMechanism.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtPrincipalHandler.java
Labels: coding-in-progress, component:security, component:smallrye

#2369 [DO NOT MERGE] Support for the default groups and the tokens in Cookies
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/DefaultGroupsEndpoint.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/DefaultGroupsUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/JwtCookieUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/resources/TokenNoGroups.json
  extensions/smallrye-jwt/deployment/src/test/resources/applicationDefaultGroups.properties
  extensions/smallrye-jwt/deployment/src/test/resources/applicationJwtCookie.properties
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMechanism.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMechanismFactory.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMethodExtension.java
Labels: coding-in-progress, component:security, component:smallrye

#2213 Add log files rotation #2086
  core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupTemplate.java
  core/test-extension/deployment/pom.xml
  core/test-extension/deployment/src/main/resources/application-periodic-file-log-rotating.properties
  core/test-extension/deployment/src/main/resources/application-periodic-size-file-log-rotating.properties
  core/test-extension/deployment/src/main/resources/application-size-file-log-rotating.properties
  core/test-extension/deployment/src/test/java/logging/PeriodicRotatingLoggingTest.java
  core/test-extension/deployment/src/test/java/logging/PeriodicSizeRotatingLoggingTest.java
  core/test-extension/deployment/src/test/java/logging/SizeRotatingLoggingTest.java
  docs/src/main/asciidoc/logging-guide.adoc
Labels: coding-in-progress

#2407 update the version of SmallRye Reactive Messaging to 0.0.8
  bom/pom.xml
Labels: component:reactive, enhancement, waiting-for-ci

#2415 Make -Dextension and -Dextensions behave the same in the add-extension mojo
  devtools/maven/src/main/java/io/quarkus/maven/AddExtensionMojo.java
  devtools/maven/src/test/java/io/quarkus/maven/it/AddExtensionIT.java
Labels: waiting-for-ci

#2385 Improve add-extension with error in case of multiple matches
  devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensions.java
  devtools/common/src/test/java/io/quarkus/cli/commands/AddExtensionsTest.java
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: component:maven

#2424 [fixes #2422] - policy-enforcer should be disabled by default
  docs/src/main/asciidoc/keycloak-guide.adoc
  extensions/keycloak/deployment/src/main/java/io/quarkus/keycloak/KeycloakConfig.java
  integration-tests/keycloak/src/main/resources/application.properties
Labels: component:security, noteworthy-feature

#2431 Confusing version override message logging in the Gradle plugin
  devtools/gradle/pom.xml
  devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java
  devtools/gradle/src/main/java/io/quarkus/gradle/ResolvedGradleArtifactDeps.java
Labels: component:gradle

#2429 Exclude log4j dependency from the Vert.x Kafka Client dependency
  extensions/smallrye-reactive-messaging-kafka/runtime/pom.xml
Labels: bug

#2397 move to using a config map for quarkus.hibernate-orm.cache.* config properties
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateConfigUtil.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
Labels: waiting-for-ci

#2066 QUARKUS-2021: It is now possible to provide a password for the keysto…
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ssl/CertificateConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ssl/ServerSslConfig.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/SecureSocketWithKeyStoreTestCase.java
  extensions/undertow/deployment/src/test/resources/application-keystore.properties
  extensions/undertow/deployment/src/test/resources/keystore.jks
  test-framework/common/src/main/java/io/quarkus/test/common/RestAssuredURLManager.java
  test-framework/junit4/src/main/java/io/quarkus/test/junit4/AbstractQuarkusRunListener.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: coding-in-progress, needs-rebase

#2460 added dep on reactive-streams-operators-deployment to kafka-deployment
  extensions/smallrye-reactive-messaging-kafka/deployment/pom.xml
Labels: waiting-for-ci

#2443 Hot code reloading may rely on source file timestamps only
  core/devmode/src/main/java/io/quarkus/dev/RuntimeUpdatesProcessor.java
Labels: requires-stuart

#2521 Update to Vert.x 3.7.0 and other reactive bits
  bom/pom.xml
  build-parent/pom.xml
Labels: waiting-for-ci

#2530 Apply minor cleanup to Panache deployment module
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheJpaEntityEnhancer.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheJpaRepositoryEnhancer.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheResourceProcessor.java
Labels: waiting-for-ci

#2536 Fix BeforeDestroyed and Destroyed event firing for request scope.
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/RequestContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/ContextObserver.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/Controller.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/ControllerClient.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/LifecycleEventsWithNoBeanTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/RequestContextTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/propagation/RequestContextPropagationTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/propagation/SuperButton.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/propagation/SuperController.java
Labels: waiting-for-ci

#1859 Generate debug sources for generated bytecode
  bom/pom.xml
  core/creator/src/main/java/io/quarkus/creator/phase/augment/AugmentPhase.java
  core/deployment/src/main/java/io/quarkus/deployment/ClassOutput.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
Labels: enhancement

#2571 refactor: minor cleanups to remove unused imports
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConverterSupport.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/ConverterTestCase.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/CreateProjectCommand.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ListExtensionsCommand.java
  devtools/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/maven/src/main/java/io/quarkus/maven/RemoteDevMojo.java
  devtools/maven/src/test/java/io/quarkus/maven/it/RemoteDevMojoIT.java
  extensions/keycloak/runtime/src/main/java/io/quarkus/keycloak/QuarkusDeploymentContext.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/test/NoConfigTest.java
  independent-projects/bootstrap/maven-plugin/src/test/java/io/quarkus/maven/BuildTreeMojoTest.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java
Labels: waiting-for-ci

#2587 -DnoDeps property to exclude the local project dependencies from dev-mode
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: waiting-for-ci

#2586 Skip build and native-image goals when the artifact is POM
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
Labels: waiting-for-ci

#2259 Quarkus CORS Filter #2136
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/RestEasyCORSTestCase.java
  extensions/resteasy/deployment/src/test/resources/cors-config.properties
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/CORSDisabledServletTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/CORSFullConfigServletTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/CORSServletTestCase.java
  extensions/undertow/deployment/src/test/resources/cors-config-full.properties
  extensions/undertow/deployment/src/test/resources/cors-config.properties
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/HttpBuildConfig.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/HttpConfig.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/filters/CORSConfig.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/filters/CORSFilter.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/filters/CORSTemplate.java
Labels: coding-in-progress, requires-stuart

#2543 feat(undertow): Support undertow-handlers.conf
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/undertow-reference.adoc
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/UndertowHandlersConfTestCase.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/RewriteCorrectingHandlerWrappers.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowHandlersConfServletExtension.java
Labels: waiting-for-ci

#2605 InjectionPointTransformerTest - using local variable kind
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/build/extension/injectionPoints/InjectionPointTransformerTest.java
Labels: waiting-for-ci

#2514 Fixes #2400, ServletContainerInitializer support
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AdditionalBeanBuildItem.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/ServletContainerInitializerBuildItem.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/SCIImplementation.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/SCIInterface.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/ServletContainerInitializerTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/TestSCI.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentTemplate.java
Labels: waiting-for-ci

#2619 context propagation restart fix
  extensions/smallrye-context-propagation/runtime/src/main/java/io/quarkus/smallrye/context/runtime/SmallRyeContextPropagationTemplate.java
Labels: waiting-for-ci

#2583 Arc - implement support for transitive interceptor bindings.
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorResolver.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Interceptors.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/AnotherAnnotation.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/ClassLevelInterceptedBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/CounterBinding.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/CounterInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/MethodLevelInterceptedBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/NotABinding.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/NotInterceptedBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/SomeAnnotation.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/TransitiveCounterInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/TransitiveInterceptorBindingTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/TwoLevelsDeepClassLevelInterceptedBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/DummyBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/MuchCoolerBinding.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/MuchCoolerInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/PlainBinding.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/PlainInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/TransitiveInterceptionWithTransformerApplicationTest.java
Labels: waiting-for-ci

#2621 reactive stream operators: add dep on context propagation runtime
  extensions/reactive-streams-operators/smallrye-reactive-streams-operators/runtime/pom.xml
Labels: waiting-for-ci

#2617 fix: #2470 Use mirror to download dependencies if applicable
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenRepoInitializer.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/ProxyAwareMirrorSelector.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/MavenRepoInitializerTest.java
Labels: waiting-for-ci

#2572 Mailer extension
  bom/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  docs/src/main/asciidoc/sending-emails.adoc
  extensions/mailer/deployment/pom.xml
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerBuildItem.java
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/InjectionTest.java
  extensions/mailer/deployment/src/test/resources/mock-config.properties
  extensions/mailer/pom.xml
  extensions/mailer/runtime/pom.xml
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/Attachment.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/Mail.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/Mailer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/ReactiveMailer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/BlockingMailerImpl.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/MailClientProducer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/MailConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/MailConfigTemplate.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/ReactiveMailerImpl.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/AttachmentTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/MailTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/impl/MailerImplTest.java
  extensions/mailer/runtime/src/test/resources/lorem-ipsum.txt
  extensions/pom.xml
Labels: noteworthy-feature

#2654 fix(#1998): improves error message when quarkus:dev fails on empty project
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: waiting-for-ci

#2598 Add support for config profiles
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigurationSetup.java
  core/deployment/src/main/java/io/quarkus/runner/RuntimeRunner.java
  core/runtime/src/main/java/io/quarkus/runtime/LaunchMode.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DeploymentProfileConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ProfileManager.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/ConfigProfileTestCase.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/application-configuration-guide.adoc
Labels: needs-rebase, noteworthy-feature

#2624 Quickstart guide for the Hibernate Search + Elasticsearch extension
  devtools/common/src/main/filtered/extensions.json
  devtools/common/src/test/java/io/quarkus/cli/commands/AddExtensionsTest.java
  docs/src/main/asciidoc/hibernate-search-guide.adoc
Labels: noteworthy-feature, waiting-for-ci

#2676 Misc cleanup
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/MailTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/impl/MailerImplTest.java
  extensions/smallrye-rest-client/deployment/src/test/java/io/quarkus/smallrye/restclient/ft/RestClientFallbackTest.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
Labels: waiting-for-ci
