Repository quarkusio/quarkus, pull requests merged in 2019-07, with the labels that each got.

#2987 Fix for #2961
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: bug, component:openapi, component:panache, component:persistence

#3027 docs: fix quarkus/centos-quarkus-maven docker coordinates
  docs/src/main/asciidoc/building-native-image-guide.adoc
Labels: component:documentation

#3050 build: bump junit.jupiter.version to 5.5.0
  bom/pom.xml
Labels: waiting-for-ci

#3052 Update to SmallRye Health 1.0.3
  bom/pom.xml
Labels: waiting-for-ci

#3076 Implement max-lifetime configuration for Agroal
  docs/src/main/asciidoc/datasource-guide.adoc
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/DefaultDataSourceConfigTest.java
  extensions/agroal/deployment/src/test/resources/application-default-datasource.properties
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceRuntimeConfig.java
Labels: waiting-for-ci

#3079 smallrye-reactive-messaging-mqtt, fixes #3045
  bom/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/pom.xml
  extensions/smallrye-reactive-messaging-mqtt/deployment/pom.xml
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/mqtt/deployment/SmallRyeReactiveMessagingMqttProcessor.java
  extensions/smallrye-reactive-messaging-mqtt/pom.xml
  extensions/smallrye-reactive-messaging-mqtt/runtime/pom.xml
  integration-tests/main/src/test/java/io/quarkus/it/main/WebsocketTestCase.java
Labels: component:reactive-messaging, enhancement, noteworthy-feature

#3016 Vertx - make it possible to set cache dir for native image
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxTemplate.java
Labels: bug, component:reactive, component:vertx

#3096 Update slf4j-jboss-logging
  bom/pom.xml
Labels: waiting-for-ci

#3108 Improve native-image detection
  core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
Labels: enhancement

#2730 Offer H2 and PostgreSQL dialects resistant to schema update + documentation
  docs/src/main/asciidoc/hibernate-orm-guide.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dialect/QuarkusH2Dialect.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dialect/QuarkusPostgreSQL95Dialect.java
Labels: waiting-for-ci

#2890 Introduce Apache Tika extension
  bom/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  extensions/pom.xml
  extensions/tika/deployment/pom.xml
  extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaProcessor.java
  extensions/tika/pom.xml
  extensions/tika/runtime/pom.xml
  extensions/tika/runtime/src/main/java/io/quarkus/tika/TikaContent.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/TikaMetadata.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/TikaParseException.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/TikaParser.java
  extensions/tika/runtime/src/main/resources/META-INF/beans.xml
  integration-tests/pom.xml
  integration-tests/tika/pom.xml
  integration-tests/tika/src/main/java/io/quarkus/it/tika/TikaParserResource.java
  integration-tests/tika/src/main/resources/quarkus.odt
  integration-tests/tika/src/main/resources/quarkus.pdf
  integration-tests/tika/src/main/resources/quarkus.txt
  integration-tests/tika/src/test/java/io/quarkus/it/tika/NativeTikaParserIT.java
  integration-tests/tika/src/test/java/io/quarkus/it/tika/TikaParserTest.java
Labels: new-feature, noteworthy-feature, waiting-for-ci

#3029 Introduce KubernetesMockServerTestResource
  bom/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/kubernetes-client.adoc
  integration-tests/kubernetes-client/pom.xml
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/QuarkusTestResourceLifecycleManager.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit4/src/main/java/io/quarkus/test/junit4/AbstractQuarkusRunListener.java
  test-framework/junit4/src/main/java/io/quarkus/test/junit4/AbstractQuarkusTestRunner.java
  test-framework/junit4/src/main/java/io/quarkus/test/junit4/QuarkusTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/kubernetes-client/pom.xml
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesMockServerTestResource.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/MockServer.java
  test-framework/pom.xml
Labels: waiting-for-ci

#3054 Don't apply application managed dep versions to its direct deps
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenArtifactResolver.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/CollectDependenciesBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsArtifact.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/DirectDependencyOverridesManagedDependencyTestCase.java
Labels: bug

#3086 Add Neo4j extension
  bom/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/neo4j/deployment/pom.xml
  extensions/neo4j/deployment/src/main/java/io/quarkus/neo4j/deployment/Neo4jDriverProcessor.java
  extensions/neo4j/deployment/src/main/java/io/quarkus/neo4j/deployment/NettyProcessor.java
  extensions/neo4j/pom.xml
  extensions/neo4j/runtime/pom.xml
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jConfiguration.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jDriverProducer.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jDriverTemplate.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/NettyTemplate.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/graal/NettySubstitutions.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/graal/ZLibSubstitutions.java
  extensions/pom.xml
  integration-tests/neo4j/README.md
  integration-tests/neo4j/pom.xml
  integration-tests/neo4j/src/main/java/io/quarkus/it/neo4j/Neo4jResource.java
  integration-tests/neo4j/src/main/resources/application.properties
  integration-tests/neo4j/src/test/java/io/quarkus/it/neo4j/Neo4jFunctionalityInGraalITCase.java
  integration-tests/neo4j/src/test/java/io/quarkus/it/neo4j/Neo4jFunctionalityTest.java
  integration-tests/pom.xml
Labels: new-feature, noteworthy-feature

#3060 Add JNI activation and lib path managment
  core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java
  core/deployment/src/main/java/io/quarkus/deployment/JniProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/JniBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/SubstrateConfigBuildStep.java
Labels: waiting-for-ci

#2193 Add Amazon DynamoDB SDK2 extension
  azure-pipelines.yml
  bom/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/amazon-dynamodb/deployment/pom.xml
  extensions/amazon-dynamodb/deployment/src/main/java/io/quarkus/dynamodb/deployment/DynamodbProcessor.java
  extensions/amazon-dynamodb/pom.xml
  extensions/amazon-dynamodb/runtime/pom.xml
  extensions/pom.xml
  integration-tests/amazon-dynamodb/README.md
  integration-tests/amazon-dynamodb/pom.xml
  integration-tests/amazon-dynamodb/src/main/java/io/quarkus/it/dynamodb/DynamoDBApplication.java
  integration-tests/amazon-dynamodb/src/main/java/io/quarkus/it/dynamodb/DynamoDBResource.java
  integration-tests/amazon-dynamodb/src/main/java/io/quarkus/it/dynamodb/DynamoDBUtils.java
  integration-tests/amazon-dynamodb/src/main/resources/application.properties
  integration-tests/amazon-dynamodb/src/test/java/io/quarkus/it/dynamodb/DynamoDbFunctionalityITCase.java
  integration-tests/amazon-dynamodb/src/test/java/io/quarkus/it/dynamodb/DynamoDbFunctionalityTest.java
  integration-tests/pom.xml
Labels: new-feature, noteworthy-feature

#3152 Throw a comprehensible exception when Keycloak configuration is missing
  extensions/keycloak/runtime/src/main/java/io/quarkus/keycloak/KeycloakRecorder.java
Labels: waiting-for-ci

#3132 Enable all charsets in native mode for MSSQL
  core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/NativeEnableAllCharsetsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/SubstrateConfigBuildStep.java
  extensions/jdbc/jdbc-mssql/jdbc-mssql-deployment/src/main/java/io/quarkus/jdbc/mssql/deployment/MsSQLProcessor.java
Labels: waiting-for-ci

#3022 Add a MongoDB client extension
  bom/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  docs/src/main/asciidoc/mongo-guide.adoc
  extensions/mongodb-client/deployment/pom.xml
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/CodecProviderBuildItem.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientBuildItem.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/pom.xml
  extensions/mongodb-client/runtime/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/AggregateOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/ChangeStreamOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/CollectionListOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/DatabaseListOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/DistinctOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/FindOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/MapReduceOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/ReactiveMongoClient.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/ReactiveMongoCollection.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/ReactiveMongoDatabase.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/impl/ReactiveMongoClientImpl.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/impl/ReactiveMongoCollectionImpl.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/impl/ReactiveMongoDatabaseImpl.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/impl/Wrappers.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/CredentialConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientProducer.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientRecorder.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/WriteConcernConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/graal/MongoClientSubstitutions.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/BasicInteractionTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/CollectionManagementTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/ConnectionToReplicaSetTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/DatabaseListTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/DatabaseRunCommandTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/DeploymentWatchTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/ListDatabaseTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/MongoTestBase.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/MongoWithReplicasTestBase.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/ReactiveMongoClientTest.java
  extensions/pom.xml
  integration-tests/mongodb-client/pom.xml
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/Book.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/BookCodec.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/BookCodecProvider.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/BookDetail.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/BookResource.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/ReactiveBookResource.java
  integration-tests/mongodb-client/src/main/resources/application.properties
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/BookResourceTest.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/NativeBookResourceIT.java
  integration-tests/pom.xml
Labels: component:persistence, component:reactive, noteworthy-feature

#3124 Allow applications to customize how roles are decoded from raw identity
  extensions/elytron-security/deployment/src/main/java/io/quarkus/elytron/security/deployment/SecurityDeploymentProcessor.java
  extensions/elytron-security/deployment/src/test/java/io/quarkus/security/test/CustomRoleAccessResource.java
  extensions/elytron-security/deployment/src/test/java/io/quarkus/security/test/CustomRoleDecoder.java
  extensions/elytron-security/deployment/src/test/java/io/quarkus/security/test/CustomRoleDecoderTestCase.java
  extensions/elytron-security/deployment/src/test/resources/test-users.properties
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/DefaultRoleDecoder.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/SecurityRecorder.java
Labels: waiting-for-ci

#3178 Reduce the set of recognized build system properties
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
Labels: backport?, waiting-for-ci

#3175 Split the BeanProcessor.process() method
  core/builder/src/main/java/io/quarkus/builder/BuildContext.java
  core/builder/src/main/java/io/quarkus/builder/Messages.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AnnotationProxyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/AnnotationProxyBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/AnnotationProxyProvider.java
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ContextRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ValidationPhaseBuildItem.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/spring-di/deployment/src/main/java/io/quarkus/spring/di/deployment/SpringDIProcessor.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeploymentValidator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ContextConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DeploymentEnhancer.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanGeneratorTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoInjectionsTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/ClientProxyGeneratorTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/InterceptorGeneratorTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/SubclassGeneratorTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/build/extension/deployment/DeploymentEnhancerTest.java
Labels: waiting-for-ci

#3159 Rename quarkus-profile to quarkus.profile
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigDefinition.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ProfileManager.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/ConfigProfileTestCase.java
  docs/src/main/asciidoc/application-configuration-guide.adoc
  docs/src/main/asciidoc/hibernate-orm-guide.adoc
Labels: waiting-for-ci

#3134 Add multiline support for sql load script file
  docs/src/main/asciidoc/hibernate-orm-guide.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmReflections.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/InvalidMultilineSqlLoadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/resources/application-invalid-multiline-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/invalid-multiline.sql
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
  integration-tests/jpa/src/main/resources/import.sql
Labels: component:hibernate-orm, component:persistence, noteworthy-feature

#1966 support cleanup of deleted classes during live reload #1963
  core/devmode/src/main/java/io/quarkus/dev/RuntimeUpdatesProcessor.java
  devtools/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: component:dev-mode, waiting-for-ci

#3154 Native executable tests should be run under the test profile
  test-framework/common/src/main/java/io/quarkus/test/common/NativeImageLauncher.java
Labels: waiting-for-ci

#3165 Introduce KubernetesClient bean
  docs/src/main/asciidoc/kubernetes-client.adoc
  extensions/kubernetes-client/deployment/pom.xml
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/kubernetes-client/runtime/pom.xml
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientBuildConfig.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientProducer.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientRecorder.java
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/KubernetesClientProducer.java
Labels: waiting-for-ci

#3188 Fix substitutions ahead of 19.1.0
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/graal/JdkSubstitutions.java
Labels: waiting-for-ci

#3153 Set default runtime profile to build profile
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigurationSetup.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ProfileManager.java
  docs/src/main/asciidoc/application-configuration-guide.adoc
Labels: component:config, waiting-for-ci

#3193 introduction of quarkus-deployment-bom
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  build-parent/pom.xml
  devtools/common/pom.xml
  devtools/gradle/pom.xml
  pom.xml
Labels: waiting-for-ci

#3194 Update TikaProcessor to enable JNI
  extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaProcessor.java
  integration-tests/tika/pom.xml
Labels: waiting-for-ci

#3199 Azure guide for Quarkus Native applications in Docker containers
  docs/src/main/asciidoc/azure-cloud-guide.adoc
Labels: component:documentation

#3203 renamed quarkus-deployment-bom to quarkus-bom-deployment
  bom/deployment/pom.xml
  build-parent/pom.xml
  devtools/gradle/pom.xml
Labels: waiting-for-ci

#3220 Add ConfigPhase.BUILD_AND_RUN_TIME_FIXED values to example config file
  core/creator/src/main/java/io/quarkus/creator/phase/generateconfig/GenerateConfigPhase.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigDescriptionBuildStep.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/HttpBuildConfig.java
Labels: waiting-for-ci

#3211 Update to MP Metrics 2.0 and a compatible version of SmallRye Fault Tolerance
  bom/runtime/pom.xml
  extensions/jaeger/runtime/pom.xml
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerMetricsFactory.java
  extensions/smallrye-fault-tolerance/runtime/pom.xml
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsDotNames.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/jandex/JandexAnnotationInfoAdapter.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/jandex/JandexBeanInfoAdapter.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/jandex/JandexMemberInfoAdapter.java
  extensions/smallrye-metrics/runtime/pom.xml
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/LambdaCounter.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java
  integration-tests/main/src/main/java/io/quarkus/it/metrics/MetricsOnClassResource.java
  integration-tests/main/src/main/java/io/quarkus/it/metrics/MetricsResource.java
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsOnClassITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsOnClassTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsTestCase.java
Labels: component:smallrye, waiting-for-ci

#2916 ArC - allows to programatically register interceptor bindings, add au…
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/InterceptorBindingRegistrarBuildItem.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorBindingRegistrar.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/build/extension/interceptor/bindings/AdditionalInterceptorBindingsTest.java
Labels: waiting-for-ci

#3242 Update to smallrye_jwt_1.1_2.0.1
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3244 hot reload OpenAPI static files
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: waiting-for-ci

#3117 QuarkusUnitTest has to be excluding directory containing test classes from indexing
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ArchiveRootBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/RuntimeRunner.java
  core/deployment/src/test/java/io/quarkus/deployment/index/ApplicationArchiveBuildStepTestCase.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: bug

#3243 Arc - propose a new API for context propagation
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/context/ArcContextProvider.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/HttpSessionContext.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/AbstractSharedContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ManagedContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/RequestContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/propagation/RequestContextPropagationTest.java
Labels: waiting-for-ci

#3255 MP Metrics MetadataBuilder requires name to be set
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerMetricsFactory.java
Labels: waiting-for-ci

#3259 Arc - Default scope for additional bean defining annotations is no lo…
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/StereotypeInfo.java
Labels: waiting-for-ci

#3263 Also defer resolution of accepted config values
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigDefinition.java
Labels: waiting-for-ci

#3271 Add missing test scope
  extensions/arc/deployment/pom.xml
  extensions/kafka-client/deployment/pom.xml
  extensions/mailer/deployment/pom.xml
  extensions/reactive-pg-client/deployment/pom.xml
  extensions/rest-client/deployment/pom.xml
  extensions/scheduler/deployment/pom.xml
  extensions/smallrye-fault-tolerance/deployment/pom.xml
  extensions/smallrye-jwt/deployment/pom.xml
  extensions/smallrye-reactive-messaging/deployment/pom.xml
  extensions/spring-di/deployment/pom.xml
  extensions/vertx-web/deployment/pom.xml
  extensions/vertx/deployment/pom.xml
Labels: waiting-for-ci

#3264 Allow the host name part to be empty for socket addresses
  core/runtime/src/main/java/io/quarkus/runtime/configuration/InetSocketAddressConverter.java
Labels: waiting-for-ci

#3208 mailer client not taking account configuration update in hot reload
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/MailConfigRecorder.java
Labels: enhancement

#3272 inheriting @Observers, fixes #3260
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodUtils.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/MethodUtilsTest.java
  independent-projects/arc/tests/pom.xml
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/assignability/generics/AssignabilityWithGenericsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/inheritance/EmittingBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/inheritance/NonObservingSubBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/inheritance/ObserverInheritanceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/inheritance/ObservingBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/inheritance/ObservingSubBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/inheritance/SimpleEvent.java
Labels: waiting-for-ci

#3276 Upgrade to JBoss Threads 3.0.0.Beta5
  bom/runtime/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/CleanableExecutor.java
Labels: waiting-for-ci

#3074 Upgrade to GraalVM 19.1.1
  bom/runtime/pom.xml
  build-parent/pom.xml
  core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java
Labels: noteworthy-feature

#3265 Document custom test profile usage with Maven and Gradle
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigDefinition.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ProfileManager.java
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  integration-tests/main/src/test/java/io/quarkus/it/main/ProfileManagerITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ProfileManagerTestCase.java
  test-framework/common/src/main/java/io/quarkus/test/common/NativeImageLauncher.java
Labels: waiting-for-ci

#3299 Upgrade Gradle version to 5.5.1 (includes enforcedPlatform bug fix)
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  devtools/gradle/gradlew
  devtools/gradle/gradlew.bat
Labels: waiting-for-ci

#3026 test(rest-client): Add test for async rest client
  docs/src/main/asciidoc/rest-client-guide.adoc
  integration-tests/main/src/main/java/io/quarkus/it/rest/ClientResource.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/RestInterface.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RestClientTestCase.java
Labels: component:documentation, component:rest-client, waiting-for-ci

#3310 SubstrateOutputBuildItem - Check both key and value, throw error only if values differ
  core/deployment/src/main/java/io/quarkus/deployment/steps/SubstrateSystemPropertiesBuildStep.java
Labels: waiting-for-ci

#3191 Fix #2113 create-extension Maven mojo
  build-parent/pom.xml
  devtools/common/src/main/java/io/quarkus/maven/utilities/PomTransformer.java
  devtools/common/src/test/java/io/quarkus/maven/utilities/PomTransformerTest.java
  devtools/maven/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/CreateExtensionMojo.java
  devtools/maven/src/main/resources/create-extension-templates/Processor.java
  devtools/maven/src/main/resources/create-extension-templates/deployment-pom.xml
  devtools/maven/src/main/resources/create-extension-templates/parent-pom.xml
  devtools/maven/src/main/resources/create-extension-templates/runtime-pom.xml
  devtools/maven/src/test/java/io/quarkus/maven/CreateExtensionMojoTest.java
  devtools/maven/src/test/resources/expected/create-extension-pom-minimal/minimal-extension/deployment/pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-minimal/minimal-extension/deployment/src/main/java/org/acme/my/project/minimal/extension/deployment/MinimalExtensionProcessor.java
  devtools/maven/src/test/resources/expected/create-extension-pom-minimal/minimal-extension/pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-minimal/minimal-extension/runtime/pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-minimal/pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-minimal/templates/Processor.java
  devtools/maven/src/test/resources/expected/create-extension-pom-with-grand-parent/pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-with-grand-parent/templates/Processor.java
  devtools/maven/src/test/resources/expected/create-extension-pom-with-grand-parent/with-grand-parent/deployment/pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-with-grand-parent/with-grand-parent/deployment/src/main/java/org/acme/myproject/with/grand/parent/deployment/WithGrandParentProcessor.java
  devtools/maven/src/test/resources/expected/create-extension-pom-with-grand-parent/with-grand-parent/pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-with-grand-parent/with-grand-parent/runtime/pom.xml
  devtools/maven/src/test/resources/projects/create-extension-pom/pom.xml
  devtools/maven/src/test/resources/projects/create-extension-pom/templates/Processor.java
Labels: noteworthy-feature

#3293 Add doc for tests-with-coverage quickstart
  docs/src/main/asciidoc/tests-with-coverage-guide.adoc
Labels: component:documentation

#3327 ArC - add self-invocation interception test
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/selfinvocation/Nok.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/selfinvocation/NokInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/selfinvocation/Ok.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/selfinvocation/OkInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/selfinvocation/SelfInvocationTest.java
Labels: waiting-for-ci

#3063 Allow to configure the timeout for a specific transaction
  docs/src/main/asciidoc/transaction-guide.adoc
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionConfiguration.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorBase.java
Labels: noteworthy-feature, waiting-for-ci

#3349 Explicitly register also IntOrString class for reflection
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: waiting-for-ci

#3361 Fix rest-assured scope and javadoc typos
  core/deployment/src/main/java/io/quarkus/deployment/annotations/Record.java
  extensions/vertx-web/deployment/pom.xml
Labels: waiting-for-ci

#2927 Add a config converter for hyphenated enums
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BooleanConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigDefinition.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/DoubleConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/FloatConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/IntConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/LeafConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/LongConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ObjectConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ObjectListConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/OptionalObjectConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigurationSetup.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConvertWith.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/DefaultConverter.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConverterClassHolder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/HyphenateEnumConverter.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ssl/ServerSslConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/AsyncConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/ConsoleConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/util/StringUtil.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/HyphenateEnumConverterTest.java
  core/runtime/src/test/java/io/quarkus/runtime/util/StringUtilTestCase.java
  core/test-extension/deployment/src/main/resources/application-async-file-log.properties
  core/test-extension/deployment/src/main/resources/application-async-syslog.properties
  core/test-extension/deployment/src/main/resources/application.properties
  core/test-extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/MyEnum.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestBuildAndRunTimeConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestRunTimeConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/WholeNumberConverter.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/YesNoConverter.java
  docs/src/main/asciidoc/extension-authors-guide.adoc
  docs/src/main/asciidoc/logging-guide.adoc
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceRuntimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/TransactionIsolationLevel.java
  extensions/keycloak/deployment/src/main/java/io/quarkus/keycloak/KeycloakConfig.java
Labels: component:config, waiting-for-ci

#3366 Fix subPath append
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/NotFoundExceptionMapper.java
Labels: waiting-for-ci

#3353 log a warning when transactional observers are used
  docs/src/main/asciidoc/cdi-reference.adoc
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
Labels: component:arc, enhancement, waiting-for-ci

#3367 Remove static driver instance.
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jDriverRecorder.java
Labels: waiting-for-ci

#3379 Upgrade to Hibernate ORM 5.4.4
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3377 Make the Mailer extension trigger the SSL support
  docs/src/main/asciidoc/native-and-ssl-guide.adoc
  docs/src/main/asciidoc/sending-emails.adoc
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
Labels: waiting-for-ci

#3250 Enable Hibernate Envers compatibility in JVM mode
  bom/runtime/pom.xml
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/envers/EnversTestValidationResource.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/envers/EnversValidationTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/envers/MyAuditedEntity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/envers/MyRevisionEntity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/envers/MyRevisionListener.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
Labels: waiting-for-ci

#3183 Throw an exception in Panache when there is no entity manager
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/JpaOperations.java
Labels: component:hibernate-orm, component:panache, waiting-for-ci
