Repository quarkusio/quarkus, pull requests merged in 2019-12, with the labels that each got.

#5873 Add hint support for Hibernate with Panache
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheQuery.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/PanacheQueryImpl.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
Labels: component:panache

#5886 Generalize registration of jackson modules
  docs/src/main/asciidoc/kotlin.adoc
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/ObjectMapperProducer.java
  extensions/jackson/spi/src/main/java/io/quarkus/jackson/spi/ClassPathJacksonModuleBuildItem.java
  extensions/kotlin/deployment/pom.xml
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinProcessor.java
  extensions/scala/deployment/pom.xml
  extensions/scala/deployment/src/main/java/io/quarkus/scala/deployment/ScalaProcessor.java
  integration-tests/jackson/model/pom.xml
  integration-tests/jackson/model/src/main/java/io/quarkus/reproducer/jacksonbuilder/model/InheritedModelWithBuilderBase.java
  integration-tests/jackson/model/src/main/java/io/quarkus/reproducer/jacksonbuilder/model/ModelWithBuilder.java
  integration-tests/jackson/model/src/main/java/io/quarkus/reproducer/jacksonbuilder/model/RegisteredPojoModel.java
  integration-tests/jackson/service/pom.xml
  integration-tests/jackson/service/src/main/java/io/quarkus/reproducer/MyObjectMapperCustomizer.java
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/ObjectMapperModulesTest.java
Labels: waiting-for-ci

#5854 Remove GraalVM internal class usage for JDK11 compatibility
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
Labels: GraalVM + Java 11

#5719 Config documentation generation fixes for #5144 and #5703
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDoItemFinder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocGeneratedOutput.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItem.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemScanner.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocKey.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocSection.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocWriter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtil.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ScannedConfigDocsItemHolder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtilTest.java
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/java/io/quarkus/docs/generation/AllConfigGenerator.java
Labels: component:documentation

#5621 fix: timezone mappings missing for Mysql JDBC driver in native mode
  core/deployment/src/main/java/io/quarkus/deployment/builditem/NativeEnableAllCharsetsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/NativeImageEnableAllCharsetsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/NativeImageEnableAllTimeZonesBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/DeprecatedBuildItemProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageConfigBuildStep.java
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/jdbc/jdbc-mssql/deployment/src/main/java/io/quarkus/jdbc/mssql/deployment/MsSQLProcessor.java
  extensions/jdbc/jdbc-mysql/deployment/src/main/java/io/quarkus/jdbc/mysql/deployment/JDBCMySQLProcessor.java
  integration-tests/jpa-mysql/pom.xml
Labels: component:persistence

#5881 Logging Sentry
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  docs/src/main/asciidoc/logging-sentry.adoc
  extensions/logging-sentry/deployment/pom.xml
  extensions/logging-sentry/deployment/src/main/java/io/quarkus/logging/sentry/deployment/SentryProcessor.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerCustomTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerTest.java
  extensions/logging-sentry/deployment/src/test/java/io/sentry/jvmti/ResetFrameCache.java
  extensions/logging-sentry/deployment/src/test/resources/application-sentry-logger-custom.properties
  extensions/logging-sentry/deployment/src/test/resources/application-sentry-logger-default.properties
  extensions/logging-sentry/pom.xml
  extensions/logging-sentry/runtime/pom.xml
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryConfig.java
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryConfigProvider.java
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryHandlerValueFactory.java
  extensions/logging-sentry/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
Labels: waiting-for-ci

#5822 Update keycloak version to 8.0.1
  bom/runtime/pom.xml
  build-parent/pom.xml
  ci-templates/native-build-steps.yaml
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakReflectionBuildStep.java
Labels: component:oidc

#5922 Some misc. cleanups
  core/creator/src/main/java/io/quarkus/creator/phase/generateconfig/GenerateConfigTask.java
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/runtime/src/main/java/io/quarkus/runtime/ConfigHelper.java
  extensions/elytron-security-properties-file/deployment/src/main/java/io/quarkus/elytron/security/properties/deployment/ElytronPropertiesProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
Labels: housekeeping

#5923 Ensure that Transformations always happen in a safe CL
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusClassWriter.java
  core/deployment/src/main/java/io/quarkus/runner/RuntimeRunner.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: waiting-for-ci

#5900 Feature/create artemis test module
  bom/runtime/pom.xml
  integration-tests/artemis-core/pom.xml
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisConsumerTest.java
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisHealthCheckTest.java
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisProducerTest.java
  integration-tests/artemis-jms/pom.xml
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisConsumerTest.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisHealthCheckTest.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisProducerTest.java
  test-framework/artemis-test/pom.xml
  test-framework/artemis-test/src/main/java/io/quarkus/artemis/test/ArtemisTestResource.java
  test-framework/pom.xml
Labels: waiting-for-ci

#5930 First version of Qute Reference Guide
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TemplateDataTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteConfig.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ExpressionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SimpleTest.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: component:documentation, waiting-for-ci

#5782 Support for the fixed redirect URI
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AuthenticationRedirectException.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: component:oidc

#5949 Fix XML content handling in Spring Web Controller
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/SpringWebProcessor.java
  integration-tests/spring-web/pom.xml
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/Book.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/BookController.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/SpringControllerTest.java
Labels: waiting-for-ci

#5853 Check if the user ran compile and otherwise run it for them
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: waiting-for-ci

#5954 CDI ref guide - document eager instantiation of beans
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: component:documentation

#5960 Document new requirements to build on Fedora
  docs/src/main/asciidoc/building-native-image.adoc
Labels: component:documentation, user experience

#5815 Throwing ForbiddenException if OidcUtils.findRoles throws an exception
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronPasswordIdentityProvider.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronTokenIdentityProvider.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronTrustedIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java
Labels: component:oidc

#5977 update directory for kotlin guide maven archetype
  docs/src/main/asciidoc/kotlin.adoc
Labels: component:documentation

#5975 Upgrade to Hibernate ORM 5.4.10.Final
  bom/runtime/pom.xml
Labels: component:hibernate-orm

#5761 Improvements to Gradle plugin build and enable gradle testing again
  build-parent/pom.xml
  ci-templates/stages.yml
  devtools/gradle/build.gradle
  devtools/gradle/gradle/wrapper/gradle-wrapper.jar
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  devtools/gradle/gradlew
  devtools/gradle/pom.xml
  devtools/gradle/settings.gradle
  devtools/gradle/src/assembly/copy.xml
  devtools/gradle/src/functionalTest/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java
  devtools/gradle/src/main/java/io/quarkus/gradle/GradleDependencyArtifact.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusExtDependency.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPluginExtension.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/GradleLogger.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusAddExtension.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusListExtensions.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusTask.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusTestNative.java
  devtools/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/src/test/resources/gradle-project/build.gradle
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/java/build.gradle-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/java/settings.gradle-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/build.gradle-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/settings.gradle-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/scala/build.gradle-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/scala/settings.gradle-template.ftl
  independent-projects/tools/common/src/main/java/io/quarkus/cli/commands/file/GradleBuildFile.java
  independent-projects/tools/common/src/test/java/io/quarkus/cli/commands/CreateProjectTest.java
  independent-projects/tools/pom.xml
Labels: breaking-change, noteworthy-feature

#5499 Add the ability to control the target dir via config
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/BuildSystemTargetBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: waiting-for-ci

#5973 Introduce YAML configuration extension
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/runtime/pom.xml
  extensions/config-yaml/pom.xml
  extensions/config-yaml/runtime/config/application.yaml
  extensions/config-yaml/runtime/pom.xml
  extensions/config-yaml/runtime/src/main/java/io/quarkus/config/yaml/runtime/ApplicationYamlProvider.java
  extensions/config-yaml/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSourceProvider
  extensions/config-yaml/runtime/src/test/java/io/quarkus/config/yaml/runtime/ApplicationYamlTest.java
  extensions/config-yaml/runtime/src/test/resources/application.yaml
  extensions/pom.xml
  integration-tests/kogito-maven/src/test/resources/projects/simple-kogito/pom.xml
  integration-tests/kotlin/src/test/resources/projects/classic-kotlin/pom.xml
  integration-tests/scala/src/test/resources/projects/classic-scala/pom.xml
  tcks/microprofile-opentracing/base/pom.xml
Labels: component:config

#5983 Add missing Spring Controller templates for Kotlin and Scala
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/spring-controller-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/scala/spring-controller-template.ftl
Labels: component:spring

#5944 Initial token validation support for the issuer and audience claims
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  extensions/oidc/runtime/src/test/resources/tokenArrayAudience.json
  extensions/oidc/runtime/src/test/resources/tokenIssuer.json
  extensions/oidc/runtime/src/test/resources/tokenStringAudience.json
Labels: component:oidc

#5987 BOM - exclude jakarta.ejb-api in the jakarta.interceptor-api dependency
  bom/runtime/pom.xml
  extensions/infinispan-embedded/runtime/pom.xml
Labels: waiting-for-ci

#5988 Fix "Class-Path" parsing issues in -dev.jar generated by Gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: waiting-for-ci

#5991 Use getHandler helper method in logging tests
  core/test-extension/deployment/src/test/java/io/quarkus/logging/AdditionalHandlersTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/AsyncConsoleHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/AsyncFileHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/AsyncSyslogHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/ConsoleHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/FileHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/LoggingTestsHelper.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/PeriodicRotatingLoggingTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/PeriodicSizeRotatingLoggingTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/SizeRotatingLoggingTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/SyslogHandlerTest.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/JsonFormatterCustomConfigTest.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/JsonFormatterDefaultConfigTest.java
Labels: waiting-for-ci

#5986 Avoid using MAVEN_OPTS as a command line argument
  devtools/gradle/pom.xml
Labels: waiting-for-ci

#6000 Fix Jackson integration test imports
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/InheritedModelWithBuilderBase.java
Labels: urgent

#5985 Running gradle build no longer triggers a native build
  devtools/gradle/src/functionalTest/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: noteworthy-feature

#5999 Remove Override annotation from generated bytecode
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
Labels: GraalVM + Java 11, waiting-for-ci

#5125 Add readiness health check for Kafka Streams
  docs/src/main/asciidoc/kafka-streams.adoc
  extensions/kafka-streams/deployment/pom.xml
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsBuildTimeConfig.java
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
  extensions/kafka-streams/runtime/pom.xml
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/health/KafkaStreamsStateHealthCheck.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/health/KafkaStreamsTopicsHealthCheck.java
  integration-tests/kafka/pom.xml
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsTest.java
Labels: waiting-for-ci

#5475 Make sure system properties dominate the properties defined in pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapModelBuilderFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/CollectDependenciesBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/ResolverSetupCleanup.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsArtifact.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/SystemPropertyOverridesPomPropertyDependencyTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/VersionPropertyDependencyTestCase.java
Labels: component:bootstrap-maven

#5768 Fix HTTPS issue on native for OAuth2
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/OAuth2Recorder.java
Labels: waiting-for-ci

#6012 Fix org.apache.kafka.common.utils.Crc32C substitution with JDK 11
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/graal/Crc32CSubstitutions.java
Labels: GraalVM + Java 11

#5458 [5360] Translate Windows-Style path in volume mounting, so that it wo…
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/util/FileUtil.java
  core/deployment/src/test/java/io/quarkus/deployment/util/FileUtilTest.java
Labels: component:build, platform:windows, waiting-for-ci

#6029 Disable HTMLUnit cache
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: backport?

#6031 Read from the process before waiting for exit
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: backport?

#6030 Properly pass Kotlin compiler plugin options to dev-mode
  bom/runtime/pom.xml
  build-parent/pom.xml
  core/devmode/src/main/java/io/quarkus/dev/ClassLoaderCompiler.java
  core/devmode/src/main/java/io/quarkus/dev/CompilationProvider.java
  core/devmode/src/main/java/io/quarkus/dev/DevModeContext.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  extensions/kotlin/deployment/pom.xml
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
  independent-projects/tools/pom.xml
  integration-tests/kotlin/src/test/java/io/quarkus/kotlin/maven/it/KotlinDevModeIT.java
  integration-tests/kotlin/src/test/resources/projects/classic-kotlin/pom.xml
  integration-tests/kotlin/src/test/resources/projects/classic-kotlin/src/main/kotlin/org/acme/GreetingService.kt
  integration-tests/kotlin/src/test/resources/projects/classic-kotlin/src/main/kotlin/org/acme/HelloResource.kt
Labels: backport?

#6023 Initialize ClassFieldAccessorFactory at run time
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoAssetsProcessor.java
Labels: GraalVM + Java 11, backport?

#6022 Improve the datasource health check feedback
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/health/DataSourceHealthCheck.java
  integration-tests/main/src/test/java/io/quarkus/it/main/HealthTestCase.java
Labels: backport?

#6036 Close connection in flyway tests
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionCleanAndMigrateAtStartTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionCleanAtStartTest.java
Labels: backport?, waiting-for-ci

#5694 New extension: GELF logging support
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  docs/src/main/asciidoc/centralized-log-management.adoc
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/logging.adoc
  extensions/logging-gelf/deployment/pom.xml
  extensions/logging-gelf/deployment/src/main/java/io/quarkus/logging/gelf/deployment/GelfLogHandlerProcessor.java
  extensions/logging-gelf/pom.xml
  extensions/logging-gelf/runtime/pom.xml
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfConfig.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfLogHandlerRecorder.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/graal/JulLogEventSubstitution.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/graal/KafkaGelfSenderProviderSubstitution.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/graal/RedisGelfSenderProviderSubstitution.java
  extensions/logging-gelf/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/logging-gelf/README.md
  integration-tests/logging-gelf/pom.xml
  integration-tests/logging-gelf/src/main/java/io/quarkus/logging/gelf/it/GelfLogHandlerResource.java
  integration-tests/logging-gelf/src/main/resources/application.properties
  integration-tests/logging-gelf/src/test/java/io/quarkus/logging/gelf/it/GelfLogHandlerIT.java
  integration-tests/logging-gelf/src/test/java/io/quarkus/logging/gelf/it/GelfLogHandlerTest.java
  integration-tests/logging-gelf/src/test/resources/docker-compose-efk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-elk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-graylog.yml
  integration-tests/logging-gelf/src/test/resources/fluentd/Dockerfile
  integration-tests/pom.xml
Labels: waiting-for-ci

#6052 Prevent possible NPE in KotlinCompilationProvider
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
Labels: backport?

#6060 Make recently added integration tests pom consistent with the rest
  integration-tests/logging-gelf/pom.xml
  integration-tests/vertx-graphql/pom.xml
Labels: backport?

#6066 Temp workaround: use a single thread to generate native image
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: backport?, waiting-for-ci

#5995 Get correct map key for config maps of maps, with tests
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  core/test-extension/deployment/src/main/resources/application.properties
  core/test-extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/MapMapConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestBuildAndRunTimeConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestBuildTimeConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestRunTimeConfig.java
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakPolicyEnforcerBuildStep.java
  integration-tests/test-extension/src/main/resources/application.properties
Labels: backport?

#6068 Property handle pagination in Spring Data JPA custom queries
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/JpaOperations.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/PanacheQueryImpl.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/SpringDataRepositoryCreator.java
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/AdditionalJpaOperations.java
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/CustomCountPanacheQuery.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieResource.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/MovieResourceTest.java
Labels: backport?

#6058 StandardCharsets.UTF_8 usage
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/TokenUtils.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/client/CertificateHelper.java
  independent-projects/tools/platform-descriptor-resolver-json/src/test/java/io/quarkus/platform/descriptor/resolver/json/test/TestJsonPlatformDescriptorLoader.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/TestServlet.java
Labels: backport?

#6072 Remove Kotlin from dependabot config
  .dependabot/config.yml
Labels: infra

#6082 revert change to run()
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/QuarkusStreamHandler.java
Labels: backport?

#5990 Log a warning if Arc finds observer for @Initialized(ApplicationScope…
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ObserverValidationProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Annotations.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
Labels: waiting-for-ci

#6078 Add proper artifact names for Qute
  independent-projects/qute/core/pom.xml
  independent-projects/qute/generator/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/qute/rxjava/pom.xml
Labels: backport?

#6104 Ignore empty lines in jaxb.index file
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
Labels: backport?, waiting-for-ci

#6057 Show command line in 'gradle quarkusDev' in one line
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: backport?

#6064 Drop unused build item classes
  core/builder/src/main/java/io/quarkus/builder/BuildChainBuilder.java
  core/builder/src/main/java/io/quarkus/builder/BuildContext.java
  core/builder/src/main/java/io/quarkus/builder/BuildExecutionBuilder.java
  core/builder/src/main/java/io/quarkus/builder/BuildResult.java
  core/builder/src/main/java/io/quarkus/builder/BuildStepBuilder.java
  core/builder/src/main/java/io/quarkus/builder/ItemId.java
  core/builder/src/main/java/io/quarkus/builder/item/NamedBuildItem.java
  core/builder/src/main/java/io/quarkus/builder/item/NamedMultiBuildItem.java
  core/builder/src/main/java/io/quarkus/builder/item/SymbolicBuildItem.java
Labels: housekeeping

#6125 Make JSON logging default to enabled
  extensions/logging-json/runtime/src/main/java/io/quarkus/logging/json/runtime/JsonConfig.java
Labels: backport?

#6077 Fix an artemis-commons dependency convergence issue
  .dependabot/config.yml
  bom/runtime/pom.xml
Labels: backport?, waiting-for-ci

#6126 Use generated doc for JSON logging and fix a couple of documentation generation issues
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/stylesheet/config.css
Labels: backport?

#6090 Substitute BootLoader.hasClassPath() to work around a JDK 11 NPE
  core/runtime/src/main/java/io/quarkus/runtime/graal/BootLoaderSubstitutions.java
Labels: GraalVM + Java 11, backport?

#6116 Added Documentation for YAML configuration
  docs/src/main/asciidoc/config.adoc
Labels: backport?

#6086 Documentation for Flyway support for multiple datasources #3449
  docs/src/main/asciidoc/flyway.adoc
Labels: backport?

#6053 Update KC authorization test to return the data only if 'from-body' key exists
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
Labels: backport?

#6139 Fixed annotation name in writing extensions documentation
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: backport?

#6098 ArC - introduce ObserverTransformer build extension
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ObserverTransformerBuildItem.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/observer/ObserverTransformerTest.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/HystrixInitializerStarter.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AbstractAnnotationsTransformation.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationStore.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Annotations.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationsTransformation.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationsTransformationContext.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationsTransformer.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointModifier.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointsTransformer.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverTransformer.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Transformation.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
Labels: waiting-for-ci

#6124 Update to Neo4j 4.0.0 driver, add more information to health check.
  bom/runtime/pom.xml
  docs/src/main/asciidoc/neo4j.adoc
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/heath/Neo4jHealthCheck.java
  integration-tests/neo4j/pom.xml
  integration-tests/neo4j/src/main/java/io/quarkus/it/neo4j/Neo4jResource.java
  integration-tests/neo4j/src/test/java/io/quarkus/it/neo4j/Neo4jFunctionalityTest.java
Labels: backport?, waiting-for-ci

#6141 Allow JAXB to be a runtime dependency of Hibernate ORM
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/runtime/pom.xml
Labels: waiting-for-ci

#6129 Use the DeploymentClassLoader to transform classes
  core/deployment/src/main/java/io/quarkus/runner/RuntimeClassLoader.java
Labels: backport?

#4360 Support for the parser configuration in the properties
  extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaParsersConfigBuildItem.java
  extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaProcessor.java
  extensions/tika/deployment/src/test/java/io/quarkus/tika/deployment/TestConfigSource.java
  extensions/tika/deployment/src/test/java/io/quarkus/tika/deployment/TikaProcessorTest.java
  extensions/tika/deployment/src/test/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaConfiguration.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaParserParameter.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaRecorder.java
  integration-tests/tika/src/main/java/io/quarkus/it/tika/TikaEmdeddedContentResource.java
  integration-tests/tika/src/main/java/io/quarkus/it/tika/TikaParserResource.java
  integration-tests/tika/src/main/resources/application.properties
  integration-tests/tika/src/main/resources/tika-config.xml
Labels: backport?, component:tika, waiting-for-ci

#6152 Add a doc note about YAML config prefix ambiguity
  docs/src/main/asciidoc/config.adoc
Labels: component:documentation

#6099 Controller advice exception content type
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/ControllerAdviceAbstractExceptionMapperGenerator.java
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/ResponseBuilder.java
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/SpringWebProcessor.java
  extensions/spring-web/runtime/src/main/java/io/quarkus/spring/web/runtime/ResponseContentTypeResolver.java
  extensions/spring-web/runtime/src/main/java/io/quarkus/spring/web/runtime/ResponseEntityConverter.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/CustomAdvice.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/Error.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/ExceptionThrowingController.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/HandledPojoException.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/HandledResponseEntityException.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/HandledStringException.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/HandledUnannotatedException.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/UnannotatedException.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/UnhandledAnnotatedException.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/UnhandledAnnotatedRuntimeException.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/ExceptionHandlingIT.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/ExceptionHandlingTest.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/SpringControllerTest.java
Labels: backport?, component:spring, waiting-for-ci

#6140 only base64 encode binary types
  bom/runtime/pom.xml
  docs/src/main/asciidoc/amazon-lambda-http.adoc
  extensions/amazon-lambda-http/runtime/pom.xml
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
Labels: backport?, waiting-for-ci

#5464 Maven plugin's devmode doesn't take into account versions overridden through system properties or profiles
  devtools/maven/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenRepoInitializer.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptions.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptionsParser.java
  integration-tests/maven/pom.xml
Labels: component:dev-mode

#6169 Substitute BootLoader.loadClassOrNull(name) to fix a NPE with JDK 11
  core/runtime/src/main/java/io/quarkus/runtime/graal/BootLoaderSubstitutions.java
Labels: GraalVM + Java 11

#6178 Initialize com.microsoft.sqlserver.jdbc.KerbAuthentication at run time
  extensions/jdbc/jdbc-mssql/deployment/src/main/java/io/quarkus/jdbc/mssql/deployment/MsSQLProcessor.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoAssetsProcessor.java
Labels: GraalVM + Java 11, backport?, waiting-for-ci

#6180 Add quarkus-kafka-streams-deployment to bom/deployment
  bom/deployment/pom.xml
Labels: backport?, waiting-for-ci

#6181 Raise a few native tests timeout
  ci-templates/stages.yml
Labels: waiting-for-ci

#6182 Removed Quarkus bootstrap dependencies not used (directly) by bootstrap core
  independent-projects/bootstrap/core/pom.xml
Labels: waiting-for-ci

#6185 Improve error message if config properties conflict
  core/deployment/src/main/java/io/quarkus/deployment/configuration/matching/PatternMapBuilder.java
Labels: backport?

#6186 Move Launching JVM log to debug level
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: backport?

#6188 Fix erroneous Kubernetes file name in docs
  docs/src/main/asciidoc/kubernetes.adoc
Labels: backport?

#6167 Let the delegate handlers decide to autoflush
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: backport?, component:logging

#6216 Move Spring Data JPA classes to panache to avoid dev-mode CL issue
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/AdditionalJpaOperations.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/CustomCountPanacheQuery.java
Labels: backport?

#6194 Qute - escape expressions in HTML by default
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/EscapingTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/VariantTemplateTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/api/VariantTemplate.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/VariantTemplateProducer.java
  extensions/resteasy-qute/runtime/src/main/java/io/quarkus/resteasy/qute/runtime/TemplateResponseFilter.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Escaper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/RawString.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ResultMapper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SingleResultNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateLocator.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Variant.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/EscaperTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SimpleTest.java
Labels: backport?, component:qute

#6201 Use the bean index to scan subresources, check parameters and look for @Context
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
Labels: backport?, waiting-for-ci

#6225 ArC - activate request context for any observer notification
  docs/src/main/asciidoc/cdi-reference.adoc
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/builtin/beans/BuiltInBeansAreResolvableTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/request/RequestInObserverNotificationTest.java
Labels: waiting-for-ci

#6204 Upgrade to Hibernate Search 6.0.0 beta3
  bom/runtime/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/hibernate-search-elasticsearch.adoc
  extensions/hibernate-search-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/elasticsearch/HibernateSearchClasses.java
  extensions/hibernate-search-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/elasticsearch/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfig.java
  integration-tests/hibernate-search-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/search/HibernateSearchTestResource.java
  integration-tests/hibernate-search-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/elasticsearch/HibernateSearchTest.java
Labels: component:hibernate-search, noteworthy-feature, waiting-for-ci

#6242 Some housekeeping on our pom files
  bom/runtime/pom.xml
  extensions/amazon-lambda-http/maven-archetype/pom.xml
  extensions/amazon-lambda/maven-archetype/pom.xml
  extensions/azure-functions-http/maven-archetype/pom.xml
  integration-tests/amazon-lambda-http/pom.xml
  integration-tests/vault-agroal/pom.xml
  integration-tests/vault-app/pom.xml
  integration-tests/vault/pom.xml
  test-framework/amazon-lambda/pom.xml
  test-framework/arquillian/pom.xml
  test-framework/artemis/pom.xml
  test-framework/artemis/src/main/java/io/quarkus/artemis/test/ArtemisTestResource.java
  test-framework/common/pom.xml
  test-framework/derby/pom.xml
  test-framework/h2/pom.xml
  test-framework/junit5-internal/pom.xml
  test-framework/junit5/pom.xml
  test-framework/kubernetes-client/pom.xml
  test-framework/maven/pom.xml
  test-framework/pom.xml
  test-framework/vault/pom.xml
Labels: waiting-for-ci

#6245 Minor cleanup in Gradle plugin
  devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPluginExtension.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/GradleMessageWriter.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusTask.java
Labels: housekeeping, waiting-for-ci

#6248 Add a dev-mode test for the Spring Web module
  extensions/spring-web/deployment/src/test/java/io/quarkus/spring/web/test/ControllerReloadTest.java
Labels: waiting-for-ci

#6254 auth-mechanism property does not exist
  docs/src/main/asciidoc/security-jwt.adoc
Labels: backport?

#6247 Add a dev-mode test for the Spring Security module
  extensions/spring-security/deployment/pom.xml
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/AnnotationChangeReloadTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/springapp/SpringController.java
  extensions/spring-security/deployment/src/test/resources/application.properties
  extensions/spring-security/deployment/src/test/resources/test-roles.properties
  extensions/spring-security/deployment/src/test/resources/test-users.properties
Labels: waiting-for-ci

#6239 Include sun.security.util.Resources bundle in native image
  core/deployment/src/main/java/io/quarkus/deployment/steps/ResourceBundleStep.java
Labels: GraalVM + Java 11

#6290 QuarkusDevModeTest - Address Class-Path parsing issues with Java 11 and Windows
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: backport?

#6282 Fix package name of Neo4j health check.
  extensions/neo4j/deployment/src/main/java/io/quarkus/neo4j/deployment/Neo4jDriverProcessor.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/health/Neo4jHealthCheck.java
Labels: backport?, waiting-for-ci

#6309 Use same all-open configuration for generated Kotlin Maven projects as Gradle
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/pom.xml-template.ftl
Labels: triage/backport?, triage/waiting-for-ci

#6310 Ensure that the Kotlin compiler adds method param names to bytecode
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/build.gradle-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/pom.xml-template.ftl
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
Labels: triage/backport?, triage/waiting-for-ci

#6313 Adopt new label nomenclature in issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/extension_proposal.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/housekeeping.md
  .github/ISSUE_TEMPLATE/question.md
Labels: area/infra

#6312 Added back methods mistakenly considered unused in QuarkusPluginExtension
  devtools/gradle/pom.xml
  devtools/gradle/src/functionalTest/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPluginExtension.java
Labels: triage/backport?, triage/waiting-for-ci

#6317 Fixes Gradle build in Scala projects
  devtools/gradle/src/functionalTest/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPluginExtension.java
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/scala/build.gradle-template.ftl
Labels: triage/backport?, triage/waiting-for-ci

#6330 Documentation improvements
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/logging-sentry.adoc
  docs/src/main/asciidoc/qute-reference.adoc
  docs/src/main/asciidoc/qute.adoc
Labels: triage/backport?

#6301 Introduce a deterministic ordering, between extensions, for database schema updates
  extensions/agroal/spi/src/main/java/io/quarkus/agroal/deployment/DataSourceSchemaReadyBuildItem.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  integration-tests/flyway/pom.xml
  integration-tests/flyway/src/main/java/io/quarkus/it/flyway/AppEntity.java
  integration-tests/flyway/src/main/resources/application.properties
  integration-tests/flyway/src/main/resources/db/location1/V1.0.1__Quarkus.sql
Labels: triage/backport?

#6328 Fix extension descriptions
  extensions/config-yaml/runtime/pom.xml
  extensions/logging-gelf/runtime/pom.xml
  extensions/logging-sentry/runtime/pom.xml
  extensions/quartz/runtime/pom.xml
  extensions/spring-security/runtime/pom.xml
Labels: triage/backport?, triage/waiting-for-ci

#6343 spring-di: Handle javax.inject.Named on implict singleton bean
  extensions/spring-di/deployment/src/main/java/io/quarkus/spring/di/deployment/SpringDIProcessor.java
  integration-tests/spring-di/src/main/java/io/quarkus/it/spring/AppConfiguration.java
  integration-tests/spring-di/src/main/java/io/quarkus/it/spring/InjectedSpringBeansResource.java
Labels: triage/backport?
