Repository quarkusio/quarkus, pull requests merged in 2019-06, with the labels that each got.

#2675 Allow to register JAX-RS endpoints generated by extensions - register…
  extensions/resteasy-common/deployment/pom.xml
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-common/runtime/pom.xml
Labels: waiting-for-ci

#2669 [Arc] Fix method param type resolution, create test case.
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/assignability/generics/AssignabilityWithGenericsTest.java
Labels: waiting-for-ci

#2403 Clarify type of container
  README.md
Labels: component:documentation

#2697 ArcContextProvider should check for Arc container being null.
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/context/ArcContextProvider.java
Labels: waiting-for-ci

#2700 Add the Vert.x web client to the bom
  bom/pom.xml
Labels: infra, waiting-for-ci

#2717 Close Files.walk stream to avoid Too Many Open Files error
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: waiting-for-ci

#2729 NativeImageMojo - Check the pom first
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
Labels: enhancement

#2636 Docs fixes
  docs/src/main/asciidoc/hibernate-orm-guide.adoc
  docs/src/main/asciidoc/hibernate-orm-panache-guide.adoc
Labels: component:documentation, component:panache, component:persistence

#2708 Fixes #2707: Use Files.newInputStream instead of FileInputStream directly
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/WebXmlParsingBuildStep.java
  integration-tests/main/pom.xml
Labels: coding-in-progress

#2732 Mention `mvn process-sources` in CONTRIBUTING
  CONTRIBUTING.md
Labels: component:documentation, enhancement

#2716 Add Openshift patch command for Windows Users in Kubernetes Guide.
  docs/src/main/asciidoc/kubernetes-guide.adoc
Labels: backport?

#2734 Remove the quarkus deps from narayana in favor of the smallrye ones
  extensions/narayana-jta/runtime/pom.xml
Labels: backport?, component:smallrye

#2733 CDI.current() should throw ISE if no container is available
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcCDIProvider.java
Labels: backport?, waiting-for-ci

#2741 Handle exception on shutdown in dev mode
  core/runtime/src/main/java/io/quarkus/runtime/CleanableExecutor.java
Labels: backport?, bug

#2738 Fix regression around OpenAPI not working in dev mode anymore
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowStaticResourcesBuildStep.java
Labels: backport?, bug

#2742 Fix reference to quarkus version in the kubernetes documentation
  docs/src/main/asciidoc/ap4k.adoc
Labels: backport?, bug, component:documentation

#2723 ubi8 based container for native mode application
  devtools/common/src/main/resources/templates/dockerfile-native.ftl
  docs/src/main/asciidoc/building-native-image-guide.adoc
Labels: waiting-for-ci

#2682 Add an extension for Camel-AWS SNS
  bom/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/camel/camel-aws-sns/deployment/pom.xml
  extensions/camel/camel-aws-sns/deployment/src/main/java/io/quarkus/camel/component/aws/sns/deployment/CamelAwsSNSProcessor.java
  extensions/camel/camel-aws-sns/pom.xml
  extensions/camel/camel-aws-sns/runtime/pom.xml
  extensions/camel/pom.xml
  integration-tests/camel-aws-sns/pom.xml
  integration-tests/camel-aws-sns/src/main/java/io/quarkus/it/camel/aws/CamelApplication.java
  integration-tests/camel-aws-sns/src/main/java/io/quarkus/it/camel/aws/CamelRoute.java
  integration-tests/camel-aws-sns/src/main/resources/application.properties
  integration-tests/pom.xml
Labels: component:camel, enhancement

#2722 Add support for generating an example configuration file
  bom/pom.xml
  core/creator/src/main/java/io/quarkus/creator/phase/generateconfig/ConfigPhaseOutcome.java
  core/creator/src/main/java/io/quarkus/creator/phase/generateconfig/GenerateConfigPhase.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ConfigDescriptionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BooleanConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigDefinition.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/DoubleConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/FloatConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/IntConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/LeafConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/LongConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ObjectConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ObjectListConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/OptionalObjectConfigType.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigDescriptionBuildStep.java
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  devtools/gradle/build.gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateConfig.java
  devtools/maven/src/main/java/io/quarkus/maven/GenerateConfigMojo.java
  devtools/maven/src/test/java/io/quarkus/maven/it/GenerateConfigIT.java
  docs/src/main/asciidoc/application-configuration-guide.adoc
  extensions/hibernate-orm/runtime/pom.xml
Labels: component:config, component:maven, enhancement

#2736 Make additional archives actually work
  core/deployment/src/main/java/io/quarkus/runner/RuntimeRunner.java
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/QuarkusDeployableContainer.java
  war-launcher/runner/src/main/java/io/quarkus/legacy/Main.java
Labels: waiting-for-ci

#2780 Introduce test Mock stereotype
  docs/src/main/asciidoc/getting-started-testing.adoc
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/StereotypeInfo.java
  independent-projects/arc/tests/pom.xml
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/stereotypes/StereotypeAlternativeTest.java
  test-framework/common/src/main/java/io/quarkus/test/Mock.java
  test-framework/common/src/main/resources/META-INF/beans.xml
Labels: waiting-for-ci

#2743 MP Config TCK - fix a regression caused by #2629
  azure-pipelines.yml
  tcks/microprofile-config/src/test/java/io/quarkus/tck/config/ConfigApplicationArchiveProcessor.java
  tcks/microprofile-config/src/test/java/io/quarkus/tck/config/ConfigExtension.java
  tcks/microprofile-config/src/test/java/io/quarkus/tck/config/Dummy.java
  tcks/microprofile-config/src/test/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension
Labels: waiting-for-ci

#2804 Define a mock mailbox bean where we can retrieve sent emails in mock mode
  docs/src/main/asciidoc/sending-emails.adoc
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/MockMailbox.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/MailConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/MailConfigTemplate.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/MockMailboxImpl.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/ReactiveMailerImpl.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/impl/MockMailerImplTest.java
Labels: component:dev-mode, component:reactive, enhancement

#2791 fix: force Jackson transitive dependencies versions
  bom/pom.xml
  extensions/smallrye-openapi/runtime/pom.xml
Labels: waiting-for-ci

#2779 Allows OpenAPI path to contain segments e.g /api/openapi
  extensions/smallrye-openapi/deployment/pom.xml
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/OpenApiDefaultPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/OpenApiPathWithSegmentsTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/OpenApiPathWithoutSegmentsTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/OpenApiResource.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiServlet.java
Labels: component:openapi

#2787 Arc - Implement inheritance of scopes for beans.
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ScopeInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/inheritance/ScopeInheritanceTest.java
Labels: waiting-for-ci

#2812 Arc - register certain CDI components under BuildContext so extension…
  extensions/spring-di/deployment/src/main/java/io/quarkus/spring/di/deployment/SpringDIProcessor.java
  extensions/spring-di/deployment/src/test/java/io/quarkus/spring/di/deployment/SpringDIProcessorTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuildExtension.java
Labels: waiting-for-ci

#2777 Subclasses/client proxies - skip delegation if not constructed yet
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/constructor/ClientProxyConstructorGuardTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/constructor/SubclassConstructorGuardTest.java
Labels: waiting-for-ci

#2823 Docs - CDI guide - remove unnecessary dummy constructor
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: component:arc, component:documentation

#2826 Fix various warnings
  docs/src/main/asciidoc/undertow-reference.adoc
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/Service.java
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TestResource.java
Labels: component:documentation, waiting-for-ci

#2836 Undertow 2.0.21.Final
  bom/pom.xml
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: waiting-for-ci

#2794 Making sure the right RocksDB native binary is added for container build
  extensions/kafka-streams/deployment/pom.xml
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
Labels: enhancement

#2853 Fix case where no-arg constructor wasn't added to beans without super class
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/NoArgsConstructorProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/noargsconstructor/AddMissingNoargsConstructorTest.java
Labels: waiting-for-ci

#2855 Fix quarkus-agroal POM - add quarkus-narayana-jta dependency
  extensions/agroal/runtime/pom.xml
Labels: waiting-for-ci

#2775 Add a Kogito (Drools + jBPM) extension
  bom/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  docs/src/main/asciidoc/images/kogito-guide-screenshot.png
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/kogito-guide.adoc
  extensions/kogito/deployment/pom.xml
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/DecisionTablesCompilationProvider.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoAssetsProcessor.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoCompilationProvider.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoCompilerException.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/ProcessCompilationProvider.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/RulesCompilationProvider.java
  extensions/kogito/deployment/src/main/resources/META-INF/services/io.quarkus.dev.CompilationProvider
  extensions/kogito/deployment/src/test/java/io/quarkus/kogito/drools/Person.java
  extensions/kogito/deployment/src/test/java/io/quarkus/kogito/drools/Result.java
  extensions/kogito/deployment/src/test/java/io/quarkus/kogito/drools/RuntimeTest.java
  extensions/kogito/deployment/src/test/java/io/quarkus/kogito/jbpm/ProcessEndpointTest.java
  extensions/kogito/deployment/src/test/java/io/quarkus/kogito/jbpm/ProcessTest.java
  extensions/kogito/deployment/src/test/resources/META-INF/kmodule.xml
  extensions/kogito/deployment/src/test/resources/org/drools/simple/candrink/CanDrink.drl
  extensions/kogito/deployment/src/test/resources/test-process.bpmn
  extensions/kogito/pom.xml
  extensions/kogito/runtime/pom.xml
  extensions/pom.xml
  integration-tests/kogito/pom.xml
  integration-tests/kogito/src/main/java/io/quarkus/it/kogito/drools/CanDrinkResource.java
  integration-tests/kogito/src/main/java/io/quarkus/it/kogito/drools/GreetingResource.java
  integration-tests/kogito/src/main/java/io/quarkus/it/kogito/drools/HelloRuleService.java
  integration-tests/kogito/src/main/java/io/quarkus/it/kogito/drools/Person.java
  integration-tests/kogito/src/main/java/io/quarkus/it/kogito/drools/Result.java
  integration-tests/kogito/src/main/java/io/quarkus/it/kogito/jbpm/CalculationService.java
  integration-tests/kogito/src/main/java/io/quarkus/it/kogito/jbpm/Order.java
  integration-tests/kogito/src/main/java/io/quarkus/it/kogito/jbpm/OrdersProcessService.java
  integration-tests/kogito/src/main/resources/META-INF/kmodule.xml
  integration-tests/kogito/src/main/resources/org/drools/candrink/CanDrink.xls
  integration-tests/kogito/src/main/resources/org/drools/project/Sample.drl
  integration-tests/kogito/src/main/resources/org/jbpm/orderItems.bpmn
  integration-tests/kogito/src/main/resources/org/jbpm/orders.bpmn
  integration-tests/kogito/src/test/java/io/quarkus/it/kogito/drools/DroolsTest.java
  integration-tests/kogito/src/test/java/io/quarkus/it/kogito/drools/DroolsTestIT.java
  integration-tests/kogito/src/test/java/io/quarkus/it/kogito/jbpm/OrdersProcessTest.java
  integration-tests/kogito/src/test/java/io/quarkus/it/kogito/jbpm/OrdersProcessTestIT.java
  integration-tests/pom.xml
Labels: new-feature, noteworthy-feature, waiting-for-ci

#2849 Fix thread safety of TransactionEntityManagers
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/TransactionEntityManagers.java
Labels: waiting-for-ci

#2850 Fixes #2781 allow ServletContext to be injected
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/ServletContextInjectionTestCase.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentTemplate.java
Labels: waiting-for-ci

#2555 Update SmallRye Health to 2.0
  bom/pom.xml
  build-parent/pom.xml
  extensions/kubernetes/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesHealthLivenessPathBuildItem.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesHealthReadinessPathBuildItem.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/BasicHealthCheck.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/FailingHealthCheck.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/FailingUnitTest.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/HealthUnitTest.java
  extensions/smallrye-health/runtime/pom.xml
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeLivenessServlet.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeReadinessServlet.java
  integration-tests/main/src/main/java/io/quarkus/it/health/SimpleHealthCheck.java
  integration-tests/main/src/main/java/io/quarkus/it/health/SimpleHealthCheckWithBuilder.java
  integration-tests/main/src/test/java/io/quarkus/it/main/HealthCheckTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/HealthTestCase.java
Labels: noteworthy-feature, waiting-for-ci

#2870 Check both BuiltinQualifier.ANY and BuiltinQualifier.DEFAULT
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
Labels: waiting-for-ci

#2753 Integrate Hibernate ORM with Hibernate Validator
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/MyEntity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/DefaultSqlLoadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportSqlLoadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/SqlLoadScriptFileAbsentTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/SqlLoadScriptPresentTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/SqlLoadScriptTestResource.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/validation/JPATestValidationResource.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/validation/JPAValidationTestCase.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidatorProvider.java
Labels: noteworthy-feature

#2881 Config root suffix support
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigDefinition.java
Labels: component:config, enhancement

#2857 Micro versions updates
  bom/pom.xml
Labels: enhancement, waiting-for-ci

#2785 Implement the new selection algorithm
  devtools/aesh/src/main/java/io/quarkus/cli/commands/AddExtensionCommand.java
  devtools/common-core/src/main/java/io/quarkus/dependencies/Extension.java
  devtools/common/src/main/filtered/extensions.json
  devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensionResult.java
  devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensions.java
  devtools/common/src/main/java/io/quarkus/cli/commands/SelectionResult.java
  devtools/common/src/test/java/io/quarkus/cli/commands/AddExtensionsTest.java
  devtools/maven/src/main/java/io/quarkus/maven/AddExtensionMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  docs/src/main/asciidoc/health-guide.adoc
  docs/src/main/asciidoc/jwt-guide.adoc
  docs/src/main/asciidoc/metrics-guide.adoc
  docs/src/main/asciidoc/openapi-swaggerui-guide.adoc
  docs/src/main/asciidoc/opentracing-guide.adoc
  docs/src/main/asciidoc/reactive-postgres-client.adoc
  docs/src/main/asciidoc/rest-client-guide.adoc
Labels: component:maven, enhancement

#2891 Make RESTEasy config build phase explicit
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
Labels: waiting-for-ci

#2906 Fix multi-project Gradle artifact resolution
  devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java
Labels: waiting-for-ci

#2911 Allow registrations reflection on fields and methods but not the class
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/SubstrateAutoFeatureStep.java
Labels: waiting-for-ci

#2878 Only include the jars in the lib/ directory and classpath entries
  core/creator/src/main/java/io/quarkus/creator/phase/runnerjar/RunnerJarPhase.java
  core/creator/src/test/java/io/quarkus/creator/phase/runnerjar/test/RunnerJarOutcomeTestBase.java
Labels: bug, component:build

#2920 Remove defunct phase and add paragraph about config root suffixes
  docs/src/main/asciidoc/extension-authors-guide.adoc
Labels: component:documentation

#2910 Add first version of a Fabric8 Kubernetes Client extension
  azure-pipelines.yml
  bom/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  extensions/kubernetes-client/deployment/pom.xml
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/kubernetes-client/pom.xml
  extensions/kubernetes-client/runtime/pom.xml
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/graal/CertUtilsSubstitutions.java
  extensions/pom.xml
  integration-tests/kubernetes-client/pom.xml
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/KubernetesClientProducer.java
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/Pods.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTestIT.java
  integration-tests/pom.xml
Labels: noteworthy-feature, waiting-for-ci

#2919 Generate a substitution for the usage of MethodHandle in kafka-client
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: GraalVM + Java 11

#2884 Fix broken quarkusDev in Gradle
  core/devmode/src/main/java/io/quarkus/dev/DevModeMain.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: bug, waiting-for-ci

#2932 Prevent infinite loop if pom parent has empty relative path
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
Labels: waiting-for-ci

#2943 PgRowSet is now an Iterable<Row> in Axle shim
  docs/src/main/asciidoc/reactive-postgres-client.adoc
  integration-tests/reactive-pg-client/src/main/java/io/quarkus/it/reactive/pg/client/FruitResource.java
Labels: waiting-for-ci

#2947 Add quarkus-test-h2 dependency to BOM
  bom/pom.xml
Labels: waiting-for-ci

#2875 Move to GraalVM 19
  bom/pom.xml
  build-parent/pom.xml
  core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java
  core/deployment/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/steps/SubstrateAutoFeatureStep.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/MethodReplacement.java
  docs/src/main/asciidoc/building-native-image-guide.adoc
  docs/src/main/asciidoc/openshift-s2i-guide.adoc
Labels: noteworthy-feature

#2948 Fix the inclusion of the built-in serializers and deserializers
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/KafkaCodecProcessor.java
Labels: bug, waiting-for-ci

#2942 Support JARs as test sources in Quarkus JUnit 5 extension
  core/deployment/src/main/java/io/quarkus/runner/RuntimeClassLoader.java
  core/deployment/src/main/java/io/quarkus/runner/RuntimeRunner.java
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/QuarkusDeployableContainer.java
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: component:testing, waiting-for-ci

#2915 Support live-reload of multi-project Gradle builds
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: waiting-for-ci

#2977 Add Kotlin DSL examples to the testing section of Gradle configuration
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: component:documentation

#2973 Client proxies - fix invalid warning
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
Labels: waiting-for-ci

#2970 Revert printing the printStackTrace on reflection registration error
  core/deployment/src/main/java/io/quarkus/deployment/steps/SubstrateAutoFeatureStep.java
Labels: waiting-for-ci

#2960 Introduce support for @DefaultBean
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/extension-authors-guide.adoc
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorInfo.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/DefaultBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AlternativesPriorityTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/producer/defaultbean/DefaultBeanTest.java
Labels: waiting-for-ci

#2859 doc: add multi stage build to the native guide
  docs/src/main/asciidoc/building-native-image-guide.adoc
Labels: component:documentation, enhancement

#2979 Do not unnecessarily pre-load managed deps (cutting out exclusions)
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
Labels: waiting-for-ci

#2986 Exclude the SISU dependency from our quarkus-junit artifact
  .gitignore
  test-framework/arquillian/pom.xml
  test-framework/junit5/pom.xml
Labels: waiting-for-ci

#2994 Upgrade Kogito to 0.1.3
  bom/pom.xml
  extensions/kogito/deployment/pom.xml
  extensions/kogito/runtime/pom.xml
Labels: bug, waiting-for-ci

#3004 Make it possible to use class beans and producer fields as default beans
  docs/src/main/asciidoc/cdi-reference.adoc
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/DefaultBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/defaultbean/DefaultClassBeanTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/defaultbean/DefaultProducerFieldTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/defaultbean/DefaultProducerMethodTest.java
Labels: waiting-for-ci

#3000 Use UTF-8 instead of platform encoding
  devtools/common/src/test/java/io/quarkus/cli/commands/ListExtensionsTest.java
  devtools/maven/src/test/java/io/quarkus/maven/it/GenerateConfigIT.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/impl/MailerImplTest.java
Labels: waiting-for-ci

#3009 Use io.quarkus.it package in integration-tests
  integration-tests/hibernate-search-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/client/ElasticsearchClientTestResource.java
  integration-tests/hibernate-search-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/search/Address.java
  integration-tests/hibernate-search-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/search/DefaultITAnalysisConfigurer.java
  integration-tests/hibernate-search-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/search/HibernateSearchTestResource.java
  integration-tests/hibernate-search-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/search/Person.java
  integration-tests/hibernate-search-elasticsearch/src/main/resources/application.properties
  integration-tests/hibernate-search-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/elasticsearch/ElasticsearchClientInGraalIT.java
  integration-tests/hibernate-search-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/elasticsearch/ElasticsearchClientTest.java
  integration-tests/hibernate-search-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/elasticsearch/HibernateSearchInGraalIT.java
  integration-tests/hibernate-search-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/elasticsearch/HibernateSearchTest.java
  integration-tests/hibernate-search-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/elasticsearch/TestResources.java
Labels: waiting-for-ci

#3025 refactor: fix typo in CapabilityAggregationStep
  core/deployment/src/main/java/io/quarkus/deployment/steps/CapabilityAggregationStep.java
Labels: waiting-for-ci
