Repository quarkusio/quarkus, pull requests merged in 2019-10, with the labels that each got.

#4282 ORM update, paving road for more persistence optimisations
  bom/runtime/pom.xml
Labels: component:hibernate-orm, component:persistence

#4287 Tweak Netty memory usage patterns
  extensions/artemis-core/deployment/src/main/java/io/quarkus/artemis/core/deployment/ArtemisCoreProcessor.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
Labels: backport?

#4291 Fixes #4218
  core/runtime/src/main/java/io/quarkus/runtime/graal/FieldReplacement.java
Labels: waiting-for-ci

#4295 Add reflection registrations for @OrderBy
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmReflections.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/orderbyfragment/Child.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/orderbyfragment/Parent.java
Labels: backport?, waiting-for-ci

#4230 optimize classpath resources
  extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/ClasspathResourceTestCase.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
Labels: component:resteasy

#4302 Support customization of the project name and version in logs
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ApplicationInfoBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/Timing.java
Labels: waiting-for-ci

#4307 Port 8080 exposed
  devtools/common/src/main/resources/templates/dockerfile-jvm.ftl
Labels: backport?, bug

#4310 Update the type of Http Request we get in a filter
  docs/src/main/asciidoc/rest-json-guide.adoc
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/ContextTest.java
Labels: component:documentation, waiting-for-ci

#4304 Prevent Vert.x/RESTeasy hang if HTTP URL handler is not installed
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxHttpResponse.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxRequestHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: waiting-for-ci

#4299 Add missing classes for the jgit native build.
  extensions/jgit/deployment/src/main/java/io/quarkus/jgit/runtime/deployment/JGitProcessor.java
Labels: backport?

#4312 Update SmallRye Reactive Messaging version to 1.0.7
  bom/runtime/pom.xml
Labels: component:reactive-messaging, waiting-for-ci

#4309 Update Security docs and properties files
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  docs/src/main/asciidoc/elytron-properties-guide.adoc
  docs/src/main/asciidoc/keycloak-guide.adoc
  docs/src/main/asciidoc/security-guide.adoc
  extensions/elytron-security-properties-file/deployment/pom.xml
  extensions/elytron-security-properties-file/deployment/src/main/java/io/quarkus/elytron/security/properties/deployment/ElytronPropertiesProcessor.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/BasicAuthTestCase.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/CustomAuth.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/CustomAuthEmbeddedBase.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/CustomAuthEmbeddedEncryptedTestCase.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/CustomAuthEmbeddedTestCase.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/CustomAuthTestCase.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/CustomRoleAccessResource.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/DebugAnnProcessor.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/NoConfiguredRealmsTestCase.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/ParametrizedPathsResource.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/RolesEndpointClassLevel.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/SecurityRealmsTestCase.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/SubjectExposingResource.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/TestApplication.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/TestCharClone.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/TestSecureServlet.java
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth-embedded-encrypted.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth-embedded.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/application.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/logging.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/test-roles.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/test-users.properties
  extensions/elytron-security-properties-file/pom.xml
  extensions/elytron-security-properties-file/runtime/pom.xml
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronPropertiesFileRecorder.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/MPRealmConfig.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/PropertiesRealmConfig.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/SecurityUsersConfig.java
  extensions/elytron-security/deployment/src/main/java/io/quarkus/elytron/security/deployment/ElytronDeploymentProcessor.java
  extensions/elytron-security/deployment/src/main/java/io/quarkus/elytron/security/deployment/PasswordRealmBuildItem.java
  extensions/elytron-security/deployment/src/main/java/io/quarkus/elytron/security/deployment/SecurityDeploymentProcessor.java
  extensions/elytron-security/deployment/src/main/java/io/quarkus/elytron/security/deployment/SecurityRealmBuildItem.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronPasswordIdentityProvider.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronRecorder.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronTokenIdentityProvider.java
  extensions/pom.xml
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityConfig.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  integration-tests/elytron-security/pom.xml
  integration-tests/elytron-security/src/main/resources/META-INF/microprofile-config.properties
  integration-tests/main/pom.xml
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/main/resources/users.properties
Labels: waiting-for-ci

#4322 Upgrade quarkus-http to 3.0.0.Alpha7
  bom/runtime/pom.xml
Labels: backport?

#4327 Issue #4254 Force java.io.tmpdir = /tmp for native executable
  extensions/amazon-lambda/deployment/src/main/resources/bootstrap
Labels: component:amazon-lambda

#4335 Skip Quarkus build of integration tests when using -DskipTests
  CONTRIBUTING.md
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  integration-tests/pom.xml
Labels: infra, waiting-for-ci

#4337 Fix Hot reload when mixing filters and routes
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/hotreload/DevFilter.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/hotreload/HotReloadWithFilterTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/hotreload/HotReloadWithRouteTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/hotreload/NewFilter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: bug, waiting-for-ci

#4314 Vertx web - use shared BodyHandler instance
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
Labels: bug, component:vertx, waiting-for-ci

#4370 fix: error handling for gradle wrapper call
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
Labels: waiting-for-ci

#4351 Add MP JWT TCK
  build-parent/pom.xml
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/RawOptionalClaimCreator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InstanceImpl.java
  tcks/microprofile-jwt/pom.xml
  tcks/microprofile-jwt/src/main/java/io/quarkus/tck/jwt/DeploymentPropertyConfigProvider.java
  tcks/microprofile-jwt/src/main/java/io/quarkus/tck/jwt/JwtTckArchiveProcessor.java
  tcks/microprofile-jwt/src/main/java/io/quarkus/tck/jwt/JwtTckExtension.java
  tcks/microprofile-jwt/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSourceProvider
  tcks/microprofile-jwt/src/main/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension
  tcks/microprofile-jwt/src/test/java/io/quarkus/tck/jwt/Dummy.java
  tcks/microprofile-jwt/tck-base-suite.xml
  tcks/pom.xml
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/QuarkusDeployableContainer.java
Labels: waiting-for-ci

#4379 Add jboss-logging-processor to the BOM
  bom/runtime/pom.xml
Labels: waiting-for-ci

#4385 fix Java heap space when OpenAPI is enabled and enums are used in a JAX-RS endpoint
  bom/runtime/pom.xml
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/OpenApiResource.java
Labels: waiting-for-ci

#3671 Provides extension health via builditem
  bom/deployment/pom.xml
  docs/src/main/asciidoc/datasource-guide.adoc
  docs/src/main/asciidoc/extension-authors-guide.adoc
  docs/src/main/asciidoc/health-guide.adoc
  extensions/agroal/deployment/pom.xml
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/runtime/pom.xml
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalBuildTimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/health/DataSourceHealthCheck.java
  extensions/smallrye-health/deployment/pom.xml
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthBuildTimeConfig.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/pom.xml
  extensions/smallrye-health/spi/pom.xml
  extensions/smallrye-health/spi/src/main/java/io/quarkus/smallrye/health/deployment/spi/HealthBuildItem.java
  integration-tests/main/src/test/java/io/quarkus/it/main/HealthTestCase.java
Labels: coding-in-progress, needs-rebase

#4384 Fix minor wording issues in integration tests README.md
  integration-tests/hibernate-search-elasticsearch/README.md
  integration-tests/reactive-mysql-client/README.md
Labels: waiting-for-ci

#4352 Provide the reactive route guide
  docs/src/main/asciidoc/images/http-architecture.png
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/reactive-routes-guide.adoc
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/Route.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
Labels: component:documentation

#4402 Remove useless capability strings
  core/deployment/src/main/java/io/quarkus/deployment/Capabilities.java
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-jackson/deployment/src/main/java/io/quarkus/resteasy/jackson/deployment/ResteasyJacksonProcessor.java
  extensions/resteasy-jsonb/deployment/src/main/java/io/quarkus/resteasy/jsonb/deployment/ResteasyJsonbProcessor.java
Labels: waiting-for-ci

#4409 Junit5 - inner classes are not allowed as they cannot become managed …
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: waiting-for-ci

#4328 Add the implementation for the RestClient configKey parameter
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/ClientResource.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/RestClientBaseUriConfigKeyInterface.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/RestClientConfigKeyInterface.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/RestClientTestCase.java
Labels: component:rest-client

#4398 Initial support for generic OIDC properties
  docs/src/main/asciidoc/oidc-guide.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/VertxKeycloakRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/VertxOAuth2AuthenticationMechanism.java
  integration-tests/oidc/src/main/resources/application.properties
Labels: component:oidc

#4417 Make working directory configurable for Gradle's and Maven's dev tasks
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPluginExtension.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: waiting-for-ci

#4438 Application classes classloader
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DeploymentClassLoaderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/DeploymentClassLoaderBuildStep.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
Labels: waiting-for-ci

#4435 Email extension should not rely on SLF4J
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/ReactiveMailerImpl.java
Labels: enhancement, waiting-for-ci

#4425 Implement initial-sql configuration for Agroal
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/DefaultDataSourceConfigTest.java
  extensions/agroal/deployment/src/test/resources/application-default-datasource.properties
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceRuntimeConfig.java
Labels: component:persistence

#4420 Allow Hibernate ORM to make updates on the DB w/o a Transaction
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
Labels: component:hibernate-orm

#4437 Add OIDC Cors test and update the docs
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/oidc-guide.adoc
  docs/src/main/asciidoc/security-guide.adoc
  integration-tests/oidc/src/main/resources/application.properties
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: waiting-for-ci

#4449 Fix JDBC test failures in Windows
  extensions/elytron-security-jdbc/deployment/src/test/resources/bcrypt-password-mapper/import.sql
  extensions/elytron-security-jdbc/deployment/src/test/resources/custom-role-decoder/import.sql
  extensions/elytron-security-jdbc/deployment/src/test/resources/minimal-config/import.sql
  extensions/elytron-security-jdbc/deployment/src/test/resources/multiple-data-sources/permissions.sql
  extensions/elytron-security-jdbc/deployment/src/test/resources/multiple-data-sources/users.sql
  extensions/elytron-security-jdbc/deployment/src/test/resources/multiple-queries/import.sql
Labels: waiting-for-ci

#4443 Periodically validate JDBC connections
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceRuntimeConfig.java
Labels: waiting-for-ci

#4382 Add io pause
  bom/runtime/pom.xml
  extensions/elytron-security-jdbc/deployment/pom.xml
  extensions/elytron-security-properties-file/deployment/pom.xml
  extensions/elytron-security/deployment/pom.xml
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxInputStream.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxRequestHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  integration-tests/elytron-resteasy/pom.xml
  integration-tests/elytron-resteasy/src/main/java/io/quarkus/it/resteasy/elytron/RootResource.java
  integration-tests/elytron-resteasy/src/main/resources/application.properties
  integration-tests/elytron-resteasy/src/test/java/io/quarkus/it/resteasy/elytron/BaseAuthWithPostTest.java
  integration-tests/elytron-undertow/pom.xml
  integration-tests/elytron-undertow/src/main/java/io/quarkus/it/undertow/elytron/GreetingServlet.java
  integration-tests/elytron-undertow/src/main/resources/application.properties
  integration-tests/elytron-undertow/src/test/java/io/quarkus/it/undertow/elytron/BaseAuthWithPostTest.java
  integration-tests/pom.xml
Labels: component:new-http, regression

#4441 Force the version of the Maven Compiler Plugin in the templates and the -parameters option
  build-parent/pom.xml
  devtools/common/src/main/filtered/quarkus.properties
  devtools/common/src/main/resources/templates/basic-rest/java/pom.xml-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/kotlin/pom.xml-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/scala/pom.xml-template.ftl
Labels: waiting-for-ci

#4461 Be defensive with closeTask in HttpAuthenticator#sendChallenge
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
Labels: waiting-for-ci

#4410 Test improvements in the Gradle plugin
  devtools/gradle/build.gradle
  devtools/gradle/pom.xml
  devtools/gradle/src/test/java/io/quarkus/gradle/GradleBuildFileTest.java
Labels: component:gradle

#4466 Fix issue with RESTEasy GET requests when using standalone vert.x
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxInputStream.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/classic-no-undertow/pom.xml
  integration-tests/maven/src/test/resources/projects/classic-no-undertow/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/classic-no-undertow/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/classic-no-undertow/src/main/resources/application.properties
  integration-tests/maven/src/test/resources/projects/classic-no-undertow/src/test/java/org/acme/HelloResourceTest.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/MojoTestBase.java
Labels: waiting-for-ci

#4475 Fix minor doc issues
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/oidc-guide.adoc
Labels: backport?

#4473 Replace @Stream with @Channel
  docs/src/main/asciidoc/amqp-guide.adoc
  docs/src/main/asciidoc/context-propagation-guide.adoc
  docs/src/main/asciidoc/kafka-guide.adoc
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/StreamConsumer.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/StreamEmitter.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/StreamEmitterWithOverflow.java
Labels: backport?, waiting-for-ci

#4483 Update OpenAPI
  bom/runtime/pom.xml
Labels: backport?

#4484 add a note on how to make GraalVM binaries work on macOS Catalina
  docs/src/main/asciidoc/building-native-image-guide.adoc
Labels: backport?

#4485 Remove redundant patterns compilations
  core/devmode/src/main/java/io/quarkus/dev/ClassLoaderCompiler.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigInstantiator.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientRecorder.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxUtil.java
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxOptionsBuilder.java
Labels: enhancement

#4381 Implement a searchable and expandable configuration property table
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocElement.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItem.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemScanner.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocKey.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocSection.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocWriter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DescriptiveDocFormatter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocFormatter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtil.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/JavaDocParser.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/ConfigDocKeyTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/ConfigItemTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtilTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/GenerateExtensionConfigurationDocTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocConfigDescriptionParserTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocConfigSectionParserTest.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigDocMapKey.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigDocSection.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigItem.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/AllValuesConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestBuildAndRunTimeConfig.java
  docs/pom.xml
  docs/src/main/asciidoc/all-config.adoc
  docs/src/main/asciidoc/docinfo.html
  docs/src/main/asciidoc/extension-authors-guide.adoc
  docs/src/main/asciidoc/javascript/config.js
  docs/src/main/asciidoc/stylesheet/config.css
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
Labels: backport?, waiting-for-ci

#4491 Avoid byte[].clone() in Elytron classes
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/graal/Target_org_wildfly_security_password_interfaces_BCryptPassword.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/graal/Target_org_wildfly_security_password_interfaces_BSDUnixDESCryptPassword.java
Labels: backport?, waiting-for-ci

#4463 Some new Agroal datasource improvements
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/DefaultDataSourceConfigTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/DisabledTransactionDataSourceConfigTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/XaRequiresXaDatasourceTest.java
  extensions/agroal/deployment/src/test/resources/application-disabledjta-datasource.properties
  extensions/agroal/deployment/src/test/resources/application-wrongdriverkind-datasource.properties
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/TransactionIntegration.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceBuildTimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceRuntimeConfig.java
Labels: backport?, component:persistence, enhancement

#4501 Display application name in shutdown message
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
  core/runtime/src/main/java/io/quarkus/runtime/Timing.java
Labels: waiting-for-ci

#4496 Remove High contention on TransactionManager class
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaProducers.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorBase.java
Labels: bug

#3832 Infinispan Embedded Extension
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/infinispan-embedded-guide.adoc
  extensions/caffeine/deployment/src/main/java/io/quarkus/caffeine/deployment/CaffeineProcessor.java
  extensions/infinispan-embedded/deployment/pom.xml
  extensions/infinispan-embedded/deployment/src/main/java/io/quarkus/infinispan/embedded/deployment/InfinispanEmbeddedProcessor.java
  extensions/infinispan-embedded/deployment/src/main/java/io/quarkus/infinispan/embedded/deployment/InfinispanReflectionExcludedBuildItem.java
  extensions/infinispan-embedded/pom.xml
  extensions/infinispan-embedded/runtime/pom.xml
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/InfinispanEmbeddedProducer.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/InfinispanEmbeddedRuntimeConfig.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/InfinispanRecorder.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/FixJMXClasses.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/FixOSGIBasedClasses.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/JChannelSubstitutions.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/SubstituteCallerId.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/SubstituteJGroups.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/SubstituteReflectionBasedClasses.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/SubstituteTransactionClasses.java
  extensions/pom.xml
  integration-tests/infinispan-embedded/README
  integration-tests/infinispan-embedded/pom.xml
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/CustomInterceptor.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/CustomMBeanServerLookup.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/TestAdvancedExternalizer.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/TestCacheLoader.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/TestServlet.java
  integration-tests/infinispan-embedded/src/main/resources/10.0.xml
  integration-tests/infinispan-embedded/src/main/resources/application.properties
  integration-tests/infinispan-embedded/src/main/resources/dist.xml
  integration-tests/infinispan-embedded/src/main/resources/resources-config.json
  integration-tests/infinispan-embedded/src/main/resources/stacks/broken-tcp.xml
  integration-tests/infinispan-embedded/src/main/resources/stacks/tcp.xml
  integration-tests/infinispan-embedded/src/main/resources/stacks/tcp_mping/tcp1.xml
  integration-tests/infinispan-embedded/src/main/resources/stacks/tcp_mping/tcp2.xml
  integration-tests/infinispan-embedded/src/main/resources/stacks/udp.xml
  integration-tests/infinispan-embedded/src/test/java/io/quarkus/it/infinispan/embedded/InfinispanEmbeddedFunctionalityInGraalITCase.java
  integration-tests/infinispan-embedded/src/test/java/io/quarkus/it/infinispan/embedded/InfinispanEmbeddedFunctionalityTest.java
  integration-tests/infinispan-embedded/src/test/java/io/quarkus/it/infinispan/embedded/InfinispanEmbeddedTestResource.java
  integration-tests/pom.xml
Labels: component:infinispan

#4530 Add caffeine runtime dependency to Infinispan embedded runtime
  extensions/infinispan-embedded/runtime/pom.xml
Labels: bug, component:infinispan, waiting-for-ci

#4444 feat: configure java compiler plugin in gradle to add parameters arg
  devtools/common/src/main/java/io/quarkus/cli/commands/file/BuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/GradleBuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/MavenBuildFile.java
  devtools/common/src/main/resources/templates/basic-rest/java/build.gradle-template.ftl
Labels: waiting-for-ci

#4397 Maven plugin: Support <compilerArgs/>, <source/>, <target/> in dev mode
  core/devmode/pom.xml
  core/devmode/src/main/java/io/quarkus/dev/ClassLoaderCompiler.java
  core/devmode/src/main/java/io/quarkus/dev/CompilationProvider.java
  core/devmode/src/main/java/io/quarkus/dev/CompilerFlags.java
  core/devmode/src/main/java/io/quarkus/dev/DevModeContext.java
  core/devmode/src/main/java/io/quarkus/dev/JavaCompilationProvider.java
  core/devmode/src/test/java/io/quarkus/dev/CompilerFlagsTest.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: waiting-for-ci

#4549 Call the health check method on the worker pool
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/DispatchedThreadTest.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/RequestScopeHelper.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeLivenessHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeReadinessHandler.java
Labels: waiting-for-ci

#4556 remove redundant "org.quartz.threadPool.threadPriority" initialization in scheduler extension
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/QuartzScheduler.java
Labels: component:scheduler

#4354 Include rest client multipart guide
  docs/src/main/asciidoc/rest-client-multipart-guide.adoc
Labels: component:documentation

#4522 Config all docs: temporary titles, sorted, faster
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocWriter.java
  docs/src/main/asciidoc/javascript/config.js
Labels: component:documentation

#4559 Clarify statement in the extension guide
  docs/src/main/asciidoc/extension-authors-guide.adoc
Labels: component:documentation

#4561 Fix missing callout
  docs/src/main/asciidoc/rest-client-multipart-guide.adoc
Labels: bug, component:documentation

#4569 Add OpenDocument format abbreviation
  extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaProcessor.java
Labels: waiting-for-ci

#4535 Enhance Kotlin documentation with Gradle examples and CDI considerations
  docs/src/main/asciidoc/kotlin.adoc
Labels: component:arc, component:documentation, component:kotlin

#4527 Work around an issue in JDK which causes hot deployment compilation to fail
  core/devmode/src/main/java/io/quarkus/dev/ClassLoaderCompiler.java
  core/devmode/src/main/java/io/quarkus/dev/DevModeContext.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: waiting-for-ci

#4554 Only start Quartz when there are some @Scheduled annotations
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/QuartzScheduler.java
Labels: component:scheduler, waiting-for-ci

#4589 Typo
  docs/src/main/asciidoc/jwt-guide.adoc
Labels: component:documentation

#4590 Upgrade to Yasson 1.0.5 (JSON-B impl)
  bom/runtime/pom.xml
Labels: waiting-for-ci

#4580 Fix #4562
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/hotreload/MyResource.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/hotreload/MySecondResource.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/hotreload/OpenApiHotReloadTest.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java
Labels: bug, waiting-for-ci

#4631 Introduce "suspend" for gradle dev mode debugging, similar to Maven tooling
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: waiting-for-ci

#4600 Fix gradle - junit5 integration templates and instructions
  devtools/common/src/main/java/io/quarkus/generators/rest/BasicRestProjectGenerator.java
  devtools/common/src/main/resources/templates/basic-rest/java/build.gradle-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/kotlin/build.gradle-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/scala/build.gradle-template.ftl
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusTestNative.java
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/kotlin.adoc
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
Labels: waiting-for-ci

#4622 chore: move the "elytron-security-jdbc" alongside security related modules.
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/pom.xml
Labels: waiting-for-ci

#4642 Use canonical path for checking -dev.jar location
  core/devmode/src/main/java/io/quarkus/dev/ClassLoaderCompiler.java
Labels: waiting-for-ci

#4643 Flyway - Internal .sql files are no longer present and don't need to be added as substrate resource
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
Labels: component:persistence, enhancement

#4658 Ensure QuarkusJsonbComponentInstanceCreator can be used in unit tests
  extensions/jsonb/runtime/pom.xml
  extensions/jsonb/runtime/src/main/java/io/quarkus/jsonb/QuarkusJsonbComponentInstanceCreator.java
  extensions/jsonb/runtime/src/test/java/io/quarkus/jsonb/JsonbUnitTest.java
Labels: waiting-for-ci

#4665 Pin keycloak version in docker run to known working version
  ci-templates/native-build-steps.yaml
Labels: waiting-for-ci

#4609 Improve internal component testing helpers
  core/test-extension/deployment/src/test/java/io/quarkus/logging/AsyncConsoleHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/AsyncFileHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/AsyncSyslogHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/ConsoleHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/FileHandlerTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/PeriodicRotatingLoggingTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/PeriodicSizeRotatingLoggingTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/SizeRotatingLoggingTest.java
  core/test-extension/deployment/src/test/java/io/quarkus/logging/SyslogHandlerTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/DefaultDataSourceConfigTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/DisabledTransactionDataSourceConfigTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/MultipleDataSourcesConfigTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/NamedDataSourceConfigTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/NoConfigTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/XaRequiresXaDatasourceTest.java
  extensions/agroal/deployment/src/test/resources/application-disabledjta-datasource.properties
  extensions/agroal/deployment/src/test/resources/base.properties
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: component:core, waiting-for-ci

#4673 Fix Gradle docs about native generation and suspend debug instructions
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: component:documentation, component:gradle, waiting-for-ci

#4668 Do not crash when encountering a RESTEasy param annotation on field/property
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/TestResource.java
Labels: waiting-for-ci

#4652 Do not use cache when loading resources, fixes #4645
  core/deployment/src/main/java/io/quarkus/deployment/util/ServiceUtil.java
Labels: waiting-for-ci

#4628 #4587: Reversed isAssignableFrom arguments
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
Labels: waiting-for-ci

#4688 Metrics extension should not add Dependent scope to JAX-RS provider c…
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsDotNames.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
Labels: backport?, waiting-for-ci

#4654 Shorter json classes in guides
  docs/src/main/asciidoc/fault-tolerance-guide.adoc
  docs/src/main/asciidoc/openapi-swaggerui-guide.adoc
  docs/src/main/asciidoc/rest-client-guide.adoc
  docs/src/main/asciidoc/rest-json-guide.adoc
  docs/src/main/asciidoc/validation-guide.adoc
Labels: backport?

#4641 Update to SmallRye Health 2.1.0 and MP Health 2.1
  bom/runtime/pom.xml
  build-parent/pom.xml
  tcks/microprofile-health/pom.xml
Labels: backport?, waiting-for-ci

#4703 Add note about prefixing properties with "quarkus."
  docs/src/main/asciidoc/application-configuration-guide.adoc
Labels: backport?, component:documentation

#4711 Add a quarkus-extension.json for Vault
  extensions/vault/runtime/src/main/resources/META-INF/quarkus-extension.json
Labels: backport?

#4713 Swagger UI encoding should be UTF-8
  extensions/swagger-ui/runtime/src/main/java/io/quarkus/swaggerui/runtime/SwaggerUiRecorder.java
Labels: backport?

#4689 Update Eclipse Vert.x to 3.8.3
  bom/runtime/pom.xml
  build-parent/pom.xml
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/SwaggerAndOpenAPIWithCommonPrefixTest.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
Labels: backport?, component:reactive, component:vertx, waiting-for-ci

#4714 Fix broken Gradle buildNative task
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
Labels: backport?, component:gradle, component:maven, waiting-for-ci

#4708 Make more use of the generated doc
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/SyslogConfig.java
  docs/src/main/asciidoc/artemis-jms-guide.adoc
  docs/src/main/asciidoc/health-guide.adoc
  docs/src/main/asciidoc/infinispan-client-guide.adoc
  docs/src/main/asciidoc/infinispan-embedded-guide.adoc
  docs/src/main/asciidoc/jgit.adoc
  docs/src/main/asciidoc/jwt-guide.adoc
  docs/src/main/asciidoc/kafka-streams-guide.adoc
  docs/src/main/asciidoc/kubernetes-client.adoc
  docs/src/main/asciidoc/logging-guide.adoc
  docs/src/main/asciidoc/metrics-guide.adoc
  docs/src/main/asciidoc/mongo-guide.adoc
  docs/src/main/asciidoc/neo4j-guide.adoc
  docs/src/main/asciidoc/openapi-swaggerui-guide.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  docs/src/main/asciidoc/tika-guide.adoc
  docs/src/main/java/io/quarkus/docs/generation/AllConfigGenerator.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfig.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientConfig.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jConfiguration.java
Labels: backport?

#4717 Upgrade to Hibernate ORM 5.4.7.Final
  bom/runtime/pom.xml
Labels: backport?, component:hibernate-orm, waiting-for-ci

#4726 Some doc fixes
  docs/src/main/asciidoc/getting-started-guide.adoc
Labels: backport?

#4728 Don't resume in hot deployment handler
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/VertxHotReplacementSetup.java
Labels: backport?

#4730 Fixes #4680
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/swagger-ui/runtime/src/main/java/io/quarkus/swaggerui/runtime/SwaggerUiRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ThreadLocalHandler.java
Labels: backport?

#4731 Increase timeout for test
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: backport?

#4732 Remove unused config
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/JdbcSecurityRealmConfig.java
Labels: backport?

#4725 Fixes #4718
  extensions/elytron-security-jdbc/deployment/src/main/java/io/quarkus/elytron/security/jdbc/deployment/ElytronSecurityJdbcProcessor.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/JdbcRecorder.java
  extensions/elytron-security/deployment/src/main/java/io/quarkus/elytron/security/deployment/ElytronDeploymentProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
Labels: backport?

#4727 include i.q.k.c.s.JsonbSerializer and i.q.k.c.s.JsonbDeserializer in …
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: waiting-for-ci

#4733 Change output back to being directly in target
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  docs/src/main/asciidoc/getting-started-guide.adoc
Labels: backport?

#4734 Disable native image PrintAnalysisCallTree by default, change semantics to 'enabledReports=true'
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
  devtools/maven/src/main/resources/create-extension-templates/integration-test-pom.xml
  integration-tests/elytron-security-jdbc/pom.xml
  integration-tests/maven/src/test/resources/expected/create-extension-pom-itest/integration-tests/itest/pom.xml
Labels: waiting-for-ci

#4735 Make KubernetesClientConfig values Optional
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientBuildConfig.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientProducer.java
Labels: waiting-for-ci

#4747 Apply minor cleanup to PackageIT
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
Labels: waiting-for-ci

#4751 chore: update kubernetes-client to 4.6.1
  bom/runtime/pom.xml
Labels: waiting-for-ci

#4752 Bootstrap maven repo initializer should take into account maven.repo.local
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenRepoInitializer.java
Labels: backport?, component:bootstrap-maven, waiting-for-ci

#4763 Fix various issues in Native image generation configuration
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
Labels: backport?, component:gradle, component:maven, waiting-for-ci

#4753 Gradle wrapper not created on windows
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
Labels: backport?, waiting-for-ci

#4769 Gradle templates are not taking platform version into account
  devtools/templates/src/main/resources/templates/basic-rest/java/build.gradle-template.ftl
  independent-projects/tools/common/src/main/java/io/quarkus/cli/commands/CreateProject.java
  independent-projects/tools/common/src/main/java/io/quarkus/cli/commands/file/BuildFile.java
  independent-projects/tools/common/src/main/java/io/quarkus/cli/commands/file/GradleBuildFile.java
  independent-projects/tools/common/src/main/java/io/quarkus/cli/commands/file/MavenBuildFile.java
  independent-projects/tools/common/src/main/java/io/quarkus/maven/utilities/MojoUtils.java
Labels: backport?, component:platform

#4756 Arc - log a warning when we detect wildcard as a bean type.
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
Labels: waiting-for-ci

#4781 Arc should use the same Gizmo version as Quarkus
  independent-projects/arc/pom.xml
Labels: waiting-for-ci

#4779 Fixes bug in Axle example
  docs/src/main/asciidoc/using-vertx.adoc
Labels: backport?

#4692 More all config layout changes
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  docs/pom.xml
  docs/src/main/asciidoc/javascript/config.js
  docs/src/main/asciidoc/stylesheet/config.css
  docs/src/main/java/io/quarkus/docs/generation/AllConfigGenerator.java
Labels: backport?

#4764 filter out multiple vertx instances warning in development
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
Labels: backport?, component:logging

#4757 Make Jackson + JSON-B @JsonSerializer/Deserializer for fields work in native
  azure-pipelines.yml
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
  integration-tests/jackson/model/src/main/java/io/quarkus/reproducer/jacksonbuilder/model/ModelWithSerializerAndDeserializerOnField.java
  integration-tests/jackson/service/src/main/java/io/quarkus/reproducer/ModelWithSerializerDeserializerOnFieldResource.java
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/ModelWithSerializerAndDeserializerOnFieldResourceIT.java
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/ModelWithSerializerAndDeserializerOnFieldResourceTest.java
  integration-tests/jsonb/pom.xml
  integration-tests/jsonb/src/main/java/io/quarkus/it/jsonb/ModelWithSerializerAndDeserializerOnField.java
  integration-tests/jsonb/src/main/java/io/quarkus/it/jsonb/ModelWithSerializerDeserializerOnFieldResource.java
  integration-tests/jsonb/src/test/java/io/quarkus/it/jsonb/ModelWithSerializerAndDeserializerOnFieldResourceIT.java
  integration-tests/jsonb/src/test/java/io/quarkus/it/jsonb/ModelWithSerializerAndDeserializerOnFieldResourceTest.java
  integration-tests/pom.xml
Labels: waiting-for-ci

#4798 Remove reference to deleted artifactId quarkus-undertow-common-substi…
  bom/runtime/pom.xml
Labels: bug, urgent

#4800 Fixed minor typo in kubernetes-client guide
  docs/src/main/asciidoc/kubernetes-client.adoc
Labels: component:documentation

#4810 Add a name for quarkus-amazon-lambda-http-maven artifact
  extensions/amazon-lambda-http/maven/pom.xml
Labels: waiting-for-ci

#4813 Add a featurebuilditem to Hibernate with Panache
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheResourceProcessor.java
Labels: waiting-for-ci

#4799 Hard disable the Narayana TSM
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerConfiguration.java
Labels: component:narayana

#4816 Rename Postgres to PostgreSQL
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  extensions/reactive-pg-client/deployment/pom.xml
  extensions/reactive-pg-client/pom.xml
  extensions/reactive-pg-client/runtime/pom.xml
Labels: waiting-for-ci

#4807 Fix broken gradle buildNative
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: waiting-for-ci

#4682 Check ConfigProperties missing config values
  docs/src/main/asciidoc/application-configuration-guide.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ClassConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertyBuildItemCandidate.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertyBuildItemCandidateUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/InterfaceConfigPropertiesUtil.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/ClassWithMissingConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/ClassWithMissingNestedConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/InterfaceNoGetterWithMissingConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/InterfaceWithMissingConfigPropertiesTest.java
Labels: waiting-for-ci

#4828 All to disable the oidc extension
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/oidc/deployment/src/main/java/io/quarkus/vertx/keycloak/deployment/VertxKeycloakBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfig.java
Labels: waiting-for-ci

#4775 Change Kafka Stream config topics type from String to List<String>
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java
Labels: component:kafka-streams

#4794 Clarify preparation for build native
  docs/src/main/asciidoc/building-native-image-guide.adoc
Labels: component:documentation

#4308 Customize Kubernetes manifests via application.properties
  bom/runtime/pom.xml
  docs/src/main/asciidoc/kubernetes-resources.adoc
  extensions/kubernetes/deployment/src/main/java/io/quarkus/kubernetes/deployment/DockerConfig.java
  extensions/kubernetes/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/pom.xml
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/pom.xml
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/src/main/docker/Dockerfile.native
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/src/main/resources/META-INF/resources/index.html
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/verify.groovy
  integration-tests/kubernetes/src/it/kubernetes-with-smallrye-health/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/src/it/kubernetes-with-smallrye-health/src/main/docker/Dockerfile.native
  integration-tests/kubernetes/src/it/kubernetes-with-smallrye-health/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/src/it/kubernetes-with-smallrye-health/src/main/resources/META-INF/resources/index.html
  integration-tests/kubernetes/src/it/kubernetes-with-smallrye-health/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/kubernetes-with-smallrye-health/verify.groovy
  integration-tests/kubernetes/src/it/kubernetes/pom.xml
  integration-tests/kubernetes/src/it/kubernetes/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/src/it/kubernetes/src/main/docker/Dockerfile.native
  integration-tests/kubernetes/src/it/kubernetes/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/src/it/kubernetes/src/main/resources/META-INF/resources/index.html
  integration-tests/kubernetes/src/it/kubernetes/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/kubernetes/verify.groovy
  integration-tests/pom.xml
Labels: noteworthy-feature, waiting-for-ci

#4662 [#3878] adding transaction scope into JTA extension
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/CDIDelegatingTransactionManager.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaProducers.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/context/TransactionContext.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorBase.java
  integration-tests/narayana-jta/pom.xml
  integration-tests/narayana-jta/src/main/java/io/quarkus/narayana/jta/TransactionBeanWithEvents.java
  integration-tests/narayana-jta/src/main/java/io/quarkus/narayana/jta/TransactionScopedBean.java
  integration-tests/narayana-jta/src/test/java/io/quarkus/narayana/jta/TransactionScopedTest.java
  integration-tests/pom.xml
  tcks/microprofile-context-propagation/pom.xml
Labels: component:narayana

#4866 Remove unnecessary type from TransactionalContextState.
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/context/TransactionContext.java
Labels: waiting-for-ci

#4870 Fixes native build on Docker in the Gradle plugin
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
Labels: component:gradle, waiting-for-ci

#4897 Don't add the "--rm" option to "docker run" command, of native-image, too early
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: bug, component:core

#4902 fix: add a NPE check for overridable description files
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/GenerateExtensionsJsonMojo.java
Labels: component:platform

#4903 Minor text edit - add space after text "single" and Lambda ResourceHander (..single[ ]com.amazonaws...)
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java
Labels: component:amazon-lambda, waiting-for-ci

#4912 Remove war-launcher
  pom.xml
  war-launcher/launcher/pom.xml
  war-launcher/launcher/src/main/java/io/quarkus/legacy/launcher/Main.java
  war-launcher/pom.xml
  war-launcher/runner/pom.xml
  war-launcher/runner/src/main/java/io/quarkus/legacy/Main.java
Labels: noteworthy-feature

#4915 Add missing module to CI native runs
  azure-pipelines.yml
Labels: infra, waiting-for-ci

#4916 Introduce a ResumingRouter
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/router/RouterEventTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ResumeHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ResumingRouter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: bug, component:vertx, enhancement, waiting-for-ci

#4921 Upgrade to Hibernate Search 6.0.0.Beta2
  bom/runtime/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/hibernate-search-guide.adoc
  extensions/hibernate-search-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/elasticsearch/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfig.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
Labels: component:persistence, waiting-for-ci

#4917 If start fails make sure to shutdown server
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: bug, component:vertx

#4868 Move to jsonb and jackson dependencies for mongodb with panache
  extensions/panache/mongodb-panache/runtime/pom.xml
Labels: waiting-for-ci

#4932 Support outputDirectory in CreateProjectMojo
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
Labels: component:maven, waiting-for-ci

#4937 Fix broken quarkusBuild task
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
Labels: component:gradle

#4924 Ensure that vert.x is closed after Arc
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ShutdownContextBuildItem.java
  core/runtime/src/main/java/io/quarkus/runtime/ShutdownContext.java
  core/runtime/src/main/java/io/quarkus/runtime/StartupContext.java
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: requires-stuart

#4653 Update to GraalVM 19.2.1
  bom/runtime/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
Labels: noteworthy-feature

#4934 Make sure hot deployment works after a failed server start in an application with non-default http port
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigInstantiator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: requires-stuart

#4923 Improves Agroal messages
  bom/runtime/pom.xml
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalEventLoggingListener.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceRuntimeConfig.java
Labels: component:persistence, user experience

#4899 Distinguish between Maven and Gradle for hint-text
  independent-projects/tools/common/src/main/java/io/quarkus/cli/commands/ListExtensions.java
Labels: component:gradle, waiting-for-ci

#4948 Use Maven settings with Google mirror for all CI steps
  azure-pipelines.yml
Labels: waiting-for-ci

#4880 Support for groups, KC and custom role claims
  extensions/oidc/runtime/pom.xml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/VertxJwtCallerPrincipal.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/VertxKeycloakRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/VertxOAuth2IdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  extensions/oidc/runtime/src/test/resources/tokenCustomPath.json
  extensions/oidc/runtime/src/test/resources/tokenCustomScope.json
  extensions/oidc/runtime/src/test/resources/tokenGroups.json
  extensions/oidc/runtime/src/test/resources/tokenKeycloakRealmAccess.json
  extensions/oidc/runtime/src/test/resources/tokenKeycloakResourceAccess.json
  extensions/oidc/runtime/src/test/resources/tokenScope.json
Labels: waiting-for-ci

#4950 After failed start make sure to read the HTTP config with the correct TCCL
  core/devmode/src/main/java/io/quarkus/dev/DevModeMain.java
Labels: waiting-for-ci

#4952 Reduce CI load on failing PR
  azure-pipelines.yml
Labels: waiting-for-ci

#4780 Change to only allow a single output type
  core/creator/src/main/java/io/quarkus/creator/phase/augment/AugmentOutcome.java
  core/creator/src/main/java/io/quarkus/creator/phase/augment/AugmentTask.java
  core/creator/src/test/java/io/quarkus/creator/phase/runnerjar/test/ExecutableOutputOutcomeTestBase.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/JarBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/UberJarBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/UberJarRequiredBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeBuild.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/PackageTypeVerificationBuildStep.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/java/pom.xml-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/pom.xml-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/scala/pom.xml-template.ftl
  docs/src/main/asciidoc/building-native-image-guide.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/maven/src/test/resources/projects/uberjar-check/src/main/resources/application.properties
Labels: noteworthy-feature, waiting-for-ci

#4931 Add FeatureBuildItem for Amazon Lambda to be displayed upon startup
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java
Labels: waiting-for-ci

#4930 Update Netty to 4.1.42.Final
  bom/runtime/pom.xml
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
Labels: component:vertx
