Repository quarkusio/quarkus, pull requests merged in 2019-09, with the labels that each got.

#3746 Update to vertx 3.8.1
  bom/runtime/pom.xml
  build-parent/pom.xml
  extensions/amazon-dynamodb/deployment/src/main/java/io/quarkus/dynamodb/deployment/DynamodbProcessor.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbAsyncClientFullConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbClientDefaultCredentialsProviderConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbClientProfileCredentialsProviderConfigTest.java
  extensions/amazon-dynamodb/runtime/pom.xml
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/DynamodbClientProducer.java
  extensions/narayana-jta/runtime/pom.xml
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
  extensions/reactive-streams-operators/smallrye-reactive-streams-operators/runtime/pom.xml
  extensions/smallrye-reactive-messaging-amqp/runtime/pom.xml
  extensions/smallrye-reactive-messaging-kafka/runtime/pom.xml
  extensions/smallrye-reactive-messaging-mqtt/runtime/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/EmitterBuildItem.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/EmitterWithOverflowTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/SimpleTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/StreamEmitterWithOverflow.java
  extensions/smallrye-reactive-messaging/runtime/pom.xml
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingRecorder.java
  extensions/vertx/deployment/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  extensions/vertx/runtime/pom.xml
  integration-tests/amazon-dynamodb/src/main/java/io/quarkus/it/dynamodb/DynamoDBResource.java
  integration-tests/amazon-dynamodb/src/test/java/io/quarkus/it/dynamodb/DynamoDbFunctionalityTest.java
Labels: enhancement

#3428 Generate Asciidoc configuration file for each extension
  .gitignore
  core/processor/pom.xml
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigItem.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigPhase.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigRootInfo.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DescriptiveDocFormatter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocFormatter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtil.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/GenerateExtensionConfigurationDoc.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/JavaDocParser.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/ConfigItemTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtilTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/GenerateExtensionConfigurationDocTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocParserTest.java
  devtools/maven/src/main/java/io/quarkus/maven/GenerateConfigMojo.java
  docs/src/main/asciidoc/datasource-guide.adoc
  docs/src/main/asciidoc/hibernate-search-guide.adoc
  docs/src/main/asciidoc/sending-emails.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/kubernetes/deployment/src/main/java/io/quarkus/kubernetes/deployment/DockerConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/impl/MailConfig.java
  extensions/undertow-websockets/deployment/src/main/java/io/quarkus/undertow/websockets/deployment/UndertowWebsocketProcessor.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/CertificateConfig.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/HttpConfiguration.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/ServerSslConfig.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/cors/CORSConfig.java
Labels: component:documentation

#3733 Reactive MySQL client extension
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  docs/src/main/asciidoc/using-vertx.adoc
  extensions/pom.xml
  extensions/reactive-mysql-client/deployment/pom.xml
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/MySQLPoolBuildItem.java
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-mysql-client/deployment/src/test/java/io/quarkus/reactive/mysql/client/MySQLPoolProducerTest.java
  extensions/reactive-mysql-client/pom.xml
  extensions/reactive-mysql-client/runtime/pom.xml
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/DataSourceConfig.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolConfig.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolProducer.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  integration-tests/pom.xml
  integration-tests/reactive-mysql-client/custom-mariadbconfig/custom.cnf
  integration-tests/reactive-mysql-client/pom.xml
  integration-tests/reactive-mysql-client/src/main/java/io/quarkus/it/reactive/mysql/client/FruitResource.java
  integration-tests/reactive-mysql-client/src/main/resources/application.properties
  integration-tests/reactive-mysql-client/src/test/java/io/quarkus/it/reactive/mysql/client/FruitsEndpointTest.java
  integration-tests/reactive-mysql-client/src/test/java/io/quarkus/it/reactive/mysql/client/NativeFruitsEndpointIT.java
Labels: enhancement, noteworthy-feature

#3801 fix quarkus-smallrye-reactive-messaging-amq artifactId in bom
  bom/runtime/pom.xml
Labels: bug

#3815 Drop useless Class.forName from generated Spring Data JPA repositories
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/SpringDataRepositoryCreator.java
Labels: waiting-for-ci

#3807 Add gradle.properties to the gradle plugin project
  devtools/gradle/gradle.properties
  devtools/gradle/pom.xml
Labels: on-ice

#3821 Fix missing qualifiers in reactive messaging
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
Labels: bug

#3827 Update to latest SmallRye OpenTracing
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3825 Update to latest SmallRye JWT
  bom/runtime/pom.xml
  extensions/smallrye-jwt/deployment/pom.xml
  extensions/smallrye-jwt/runtime/pom.xml
Labels: waiting-for-ci

#3826 Update to latest SmallRye Health
  bom/runtime/pom.xml
  extensions/smallrye-health/runtime/pom.xml
Labels: waiting-for-ci

#3819 Remove Elytron SSL dependencies
  bom/runtime/pom.xml
  core/runtime/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ssl/CipherSuiteSelectorConverter.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ssl/ProtocolConverter.java
  core/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.Converter
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/graal/Target_org_wildfly_security_x500_util_X500PrincipalUtil.java
  extensions/infinispan-client/runtime/pom.xml
  integration-tests/infinispan-client/pom.xml
Labels: waiting-for-ci

#3816 Test Keycloak in CI
  azure-pipelines.yml
  ci-templates/native-build-steps.yaml
Labels: waiting-for-ci

#3800 Rename Subclass method
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/Subclass.java
Labels: waiting-for-ci

#3845 Fix error page layout and appearance
  core/runtime/src/main/java/io/quarkus/runtime/TemplateHtmlBuilder.java
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/NotFoundExceptionMapperTestCase.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/NotFoundExceptionMapper.java
Labels: backport?

#3841 Null normal scoped producers throw IllegalProductException
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/producer/illegal/IllegalProducerTest.java
Labels: waiting-for-ci

#3735 Correctly add class path entries
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/kogito-maven/src/test/java/io/quarkus/kogito/maven/it/KogitoDevModeIT.java
Labels: bug

#3776 Vert.x Event Bus Codec Management
  extensions/vertx/deployment/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusCodecProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxConstants.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/CodecRegistrationTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/CodecTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/MyPetCodec.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/Person.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/Pet.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/ConsumeEvent.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/LocalEventBusCodec.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/GenericMessageCodec.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/EventBusConsumer.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/EventBusSender.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/Pet.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/VertxProducerResource.java
  integration-tests/vertx/src/test/java/io/quarkus/it/vertx/EventBusIT.java
  integration-tests/vertx/src/test/java/io/quarkus/it/vertx/EventBusTest.java
Labels: bug, enhancement

#3858 fix: file not found exception during doc generation
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/GenerateExtensionConfigurationDoc.java
Labels: waiting-for-ci

#3830 Update to latest SmallRye Metrics and Fault Tolerance
  bom/runtime/pom.xml
  extensions/jaeger/runtime/pom.xml
  extensions/smallrye-fault-tolerance/runtime/pom.xml
  extensions/smallrye-metrics/runtime/pom.xml
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsTestCase.java
Labels: waiting-for-ci

#3848 makes inclusion of generated docs optional
  docs/pom.xml
  docs/src/main/asciidoc/datasource-guide.adoc
  docs/src/main/asciidoc/hibernate-search-guide.adoc
  docs/src/main/asciidoc/sending-emails.adoc
Labels: waiting-for-ci

#3875 Add missing spring-web feature
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/SpringWebProcessor.java
Labels: waiting-for-ci

#3872 fix(swagger-ui): throw an error when "/" is set as swagger-ui path
  docs/src/main/asciidoc/openapi-swaggerui-guide.adoc
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
  extensions/swagger-ui/deployment/src/test/java/io/quarkus/swaggerui/deployment/ErroneousConfigTest.java
Labels: waiting-for-ci

#3899 fix the link to the distroless image documentation
  docs/src/main/asciidoc/building-native-image-guide.adoc
Labels: component:documentation

#3892 Remove duplicate vertx-mysql-client dependency from BOM
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3874 exclude org.osgi.annotation.versioning
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3910 bump jgit to 5.4.3.201909031940-r
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3398 Change default value of `sql-load-script` to `no-file` in PROD mode
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/hibernate-orm-guide.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/configurationless/CRUDResource.java
  integration-tests/spring-data-jpa/src/main/resources/application.properties
Labels: noteworthy-feature

#3915 Remove dependency on junit4 JAR in quarkus-hibernate-orm-deployment tests
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/enhancer/HibernateEntityEnhancerTest.java
Labels: waiting-for-ci

#3922 Bump Junit 5 to 5.5.2
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3404 Add http servers max body size and max headers size limits
  docs/src/main/asciidoc/undertow-reference.adoc
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/TestServlet.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/RewriteCorrectingHandlerWrappers.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/ServerLimitsConfigTestCase.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/TestRoute.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/Route.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/TestResource.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/JaxRSTestCase.java
Labels: component:new-http, waiting-for-ci

#3927 Add noDeps to the integration tests
  integration-tests/pom.xml
Labels: waiting-for-ci

#3948 Make BytecodeRecorderImpl#classProxy primitive agnostic
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
Labels: waiting-for-ci

#3953 chore: remove generated config docs from gitignore entry
  .gitignore
Labels: waiting-for-ci

#3952 Bump kubernetes-client to 4.5.1
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3998 Allow to disable the jaeger extension
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerConfig.java
Labels: component:jaeger, waiting-for-ci

#4000 Introduce an Extension Proposal issue template
  .github/ISSUE_TEMPLATE/extension_proposal.md
Labels: noteworthy-feature

#4014 Upgrade Gradle version to 5.6.2
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  devtools/gradle/gradlew
Labels: component:gradle, waiting-for-ci

#4008 Do not trigger CI if any Github issue template changes
  azure-pipelines.yml
Labels: waiting-for-ci

#4022 Fix configuration guide typos
  docs/src/main/asciidoc/application-configuration-guide.adoc
Labels: component:documentation

#4010 Update to JBoss Threads 3.0.0.Final
  bom/runtime/pom.xml
Labels: waiting-for-ci

#4024 Fix ConfigProperty injection in ContextResolver
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/ProviderConfigInjectionTest.java
Labels: waiting-for-ci

#4032 Update to smallrye-jwt-2.0.3
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3929 Force Netty to use an internal logger based on JBoss logging
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/JBossNettyLoggerFactory.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: waiting-for-ci

#3997 Document the usage of OpenTracing JDBC tracer
  bom/runtime/pom.xml
  docs/src/main/asciidoc/opentracing-guide.adoc
Labels: component:documentation, component:jaeger, waiting-for-ci

#3977 Scan JAX-RS sub-resource locators
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/subresource/MyService.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/subresource/PingResource.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/subresource/PingsResource.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/subresource/SubresourceLocatorTest.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/subresource/SuperPingResource.java
Labels: waiting-for-ci

#4063 UTF-8 fixes
  devtools/common/src/main/java/io/quarkus/cli/commands/file/GradleBuildFile.java
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/Function.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaRecorder.java
  integration-tests/virtual-http/src/test/java/io/quarkus/it/virtual/FunctionTest.java
Labels: waiting-for-ci

#4068 Fix links in Spring guides
  docs/src/main/asciidoc/spring-data-jpa-guide.adoc
  docs/src/main/asciidoc/spring-di-guide.adoc
  docs/src/main/asciidoc/spring-web-guide.adoc
Labels: component:documentation

#4046 Support HttpServletRequest/Response in Spring exception handlers
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/AbstractExceptionMapperGenerator.java
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/ControllerAdviceAbstractExceptionMapperGenerator.java
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/SpringWebProcessor.java
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/TypesUtil.java
  integration-tests/spring-web/src/main/java/io/quarkus/it/spring/web/CustomAdvice.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/SpringControllerTest.java
Labels: component:spring

#4084 Fix importing the project in IDEA
  build-parent/pom.xml
Labels: waiting-for-ci

#4079 Add a CI run with JDK 12
  azure-pipelines.yml
  integration-tests/maven/src/test/resources/projects/custom-packaging-app/pom.xml
Labels: waiting-for-ci

#4098 Replace JSON-B with Jackson for Spring Web
  extensions/spring-web/deployment/pom.xml
  extensions/spring-web/runtime/pom.xml
Labels: waiting-for-ci

#4091 Upgrade to jboss-parent pom v.36
  pom.xml
Labels: waiting-for-ci

#4083 TCK for MP Reactive Messaging
  build-parent/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingLifecycle.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingRecorder.java
  tcks/microprofile-reactive-messaging/pom.xml
  tcks/microprofile-reactive-messaging/src/test/java/io/quarkus/tck/reactivemessaging/Dummy.java
  tcks/pom.xml
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/QuarkusDeployableContainer.java
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/QuarkusJunitCallbacks.java
Labels: waiting-for-ci

#4043 Upgrade GraalVM to 19.2.0.1
  bom/runtime/pom.xml
  build-parent/pom.xml
  core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java
Labels: backport?, noteworthy-feature

#4107 Docs - diff between @Initialized(ApplicationScoped) and StartupEvent
  docs/src/main/asciidoc/application-lifecycle-events-guide.adoc
  docs/src/main/asciidoc/extension-authors-guide.adoc
Labels: backport?

#4111 Removal of explicit version definition, depending on BOM defined ones
  devtools/extension-plugin/pom.xml
  integration-tests/jackson/model/pom.xml
Labels: waiting-for-ci

#4129 Unify how Arc attemps to load classes from Index, add logging for mis…
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinBean.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/IndexClassLookupUtils.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Injection.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoInjectionsTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoQualifiersTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoTypesTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
Labels: waiting-for-ci

#4138 Bump kubernetes-client to 4.6.0
  bom/runtime/pom.xml
Labels: backport?, waiting-for-ci

#4142 Rename undertow-build-items module to undertow-spi
  bom/deployment/pom.xml
  extensions/resteasy/deployment/pom.xml
  extensions/undertow/deployment/pom.xml
  extensions/undertow/pom.xml
  extensions/undertow/spi/pom.xml
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/BlacklistedServletContainerInitializerBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/FilterBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/GeneratedWebResourceBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/HttpHandlerWrapperBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/KnownPathsBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/ListenerBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/ServletBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/ServletContainerInitializerBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/ServletContextAttributeBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/ServletDeploymentManagerBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/ServletExtensionBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/ServletInitParamBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/StaticResourceFilesBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/UndertowBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/UndertowStaticResourcesBuildStep.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/WebMetadataBuildItem.java
Labels: waiting-for-ci

#4128 Fail deployment when unable to create the vertx httpServer
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: backport?

#4133 Bump jGit to 5.5.0.201909110433-r
  bom/runtime/pom.xml
Labels: backport?

#4143 hide a TODO comment from the website and review the command for debugging generated classes
  docs/src/main/asciidoc/extension-authors-guide.adoc
Labels: component:documentation

#4144 add a note about ExtensionSslNativeSupportBuildItem and NativeEnableAllCharsetsBuildItem build items in the extension authors guide
  docs/src/main/asciidoc/extension-authors-guide.adoc
Labels: component:documentation

#4137 upgrade to kogito 0.4.0
  bom/runtime/pom.xml
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/JandexProtoGenerator.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoAssetsProcessor.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/ProcessCompilationProvider.java
Labels: backport?, waiting-for-ci

#4152 Upgrade to jackson 2.9.10
  bom/runtime/pom.xml
Labels: waiting-for-ci

#4075 Implement @ConfigProperties as a way to group related properties and inject with minimum boilerplate
  core/deployment/src/main/java/io/quarkus/deployment/bean/JavaBeanUtil.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/HashSetFactory.java
  docs/src/main/asciidoc/application-configuration-guide.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ClassConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/DotNames.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/InterfaceConfigPropertiesUtil.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/ClassWithAllPublicFieldsConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/ClassWithoutGettersConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/GreetingExtraProperties.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/InterfaceExtendingOthersConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/NestedClassConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/TypicalClassConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/TypicalInterfaceConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/UnspecifiedPrefixConfigProperties.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/config/ConfigProperties.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/EntityField.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheFieldAccessMethodVisitor.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/StockMethodsAdder.java
  integration-tests/main/src/main/java/io/quarkus/it/config/ConfigPropertiesResource.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/ConfigPropertiesITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ConfigPropertiesTestCase.java
Labels: waiting-for-ci

#4149 [issue#4081] Use all relevant configured properties for Kafka AdminClient
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java
Labels: backport?

#4164 MariaDB JDBC driver update
  bom/runtime/pom.xml
  integration-tests/jpa-mariadb/README.md
Labels: backport?, component:persistence

#4171 Log the H2 DB server status to provide more details on its state and URL
  test-framework/h2/src/main/java/io/quarkus/test/h2/H2DatabaseTestResource.java
Labels: waiting-for-ci

#4155 Arc - add logging for interceptors/alternatives without @Priority. Fi…
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Interceptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/AlternativePriority.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcContainerImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AbstractAlternativeNoPriorityTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AlternativeNoPriorityBeanClassTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AlternativeNoPriorityProducerFieldTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AlternativeNoPriorityProducerMethodTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/priority/AlternativePriorityAnnotationTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/no/priority/AverageBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/no/priority/InterceptorWithNoPriorityTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/no/priority/Simple.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/no/priority/SimpleInterceptorWithNoPriority.java
Labels: waiting-for-ci

#4170 Add missing Spring JCL logging exclusion
  bom/runtime/pom.xml
Labels: backport?, waiting-for-ci

#4168 Ensure maven integration tests don't fail due to clashing random file name generation
  integration-tests/maven/src/test/java/io/quarkus/maven/CreateExtensionMojoTest.java
Labels: waiting-for-ci

#4176 Remove an outdated Jackson version
  core/processor/pom.xml
Labels: backport?, waiting-for-ci

#4132 issue #4073 - Display profile and whether Live Coding is enabled or not at startup
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/Timing.java
Labels: backport?

#4180 Fix typo in error message
  core/deployment/src/main/java/io/quarkus/runner/RuntimeClassLoader.java
Labels: backport?, waiting-for-ci

#4181 Improve the generated code for Spring Data JPA fragments
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/FragmentMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/FragmentMethodsUtil.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/SpringDataRepositoryCreator.java
Labels: backport?

#4183 Remove lambdas from runtime code
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
Labels: backport?, waiting-for-ci

#4184 Bump artemis-jms to 2.10.0
  bom/runtime/pom.xml
  build-parent/pom.xml
Labels: waiting-for-ci

#4192 Add an explicit sql-load-script configuration
  docs/src/main/asciidoc/hibernate-search-guide.adoc
Labels: backport?

#4194 SmallRye Reactive Messaging MQTT requires Vert.x JSON
  extensions/smallrye-reactive-messaging-mqtt/deployment/pom.xml
  extensions/smallrye-reactive-messaging-mqtt/runtime/pom.xml
Labels: backport?

#4186 Add Artemis JMS documentation
  docs/src/main/asciidoc/artemis-jms-guide.adoc
  docs/src/main/asciidoc/index.adoc
  integration-tests/artemis-jms/src/main/java/io/quarkus/it/artemis/ArtemisConsumerManager.java
  integration-tests/artemis-jms/src/main/java/io/quarkus/it/artemis/ArtemisProducerManager.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisConsumerTest.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisHelper.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisProducerTest.java
Labels: waiting-for-ci

#4191 Handle exceptions correctly in the vertx input/output
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java
Labels: bug

#4217 Add support for user filters
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/FilterBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/FilterBuildItemTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/filters/UserFilterTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/Filter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/Filters.java
Labels: enhancement

#4204 Jta preboot
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmReflections.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusJtaPlatform.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusJtaPlatformInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusJtaPlatformResolver.java
Labels: component:hibernate-orm

#3980 Build smallrye-reactive-messaging MediatorConfiguration at build time
  bom/runtime/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/DotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusMediatorConfiguration.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingRecorder.java
Labels: component:reactive-messaging, waiting-for-ci

#4221 Wire up @Authenticated when used with JAX-RS
  bom/runtime/pom.xml
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/RolesAllowedFilter.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/RolesFilterRegistrar.java
  extensions/security/runtime/pom.xml
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/RolesAllowedUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/RolesEndpoint.java
Labels: component:security

#4247 RESTeasy is creating a new RoutingContext
  extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/DefaultRouteBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HandlerConsumer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: bug

#4269 Fix netty unsafe usage
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
Labels: backport?

#4259 [issue#2686] Skip adding signature files to the generated uber jar
  core/creator/src/main/java/io/quarkus/creator/phase/runnerjar/RunnerJarPhase.java
  core/creator/src/test/java/io/quarkus/creator/phase/runnerjar/test/UberRunnerJarOutcomeTest.java
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: component:build

#4274 Change ALPN selection algorithm
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
Labels: enhancement

#3555 Start using Gradle Tooling API
  azure-mvn-settings.xml
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ListExtensionsCommand.java
  devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensions.java
  devtools/common/src/main/java/io/quarkus/cli/commands/CreateProject.java
  devtools/common/src/main/java/io/quarkus/cli/commands/ListExtensions.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/BuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/GradleBuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/MavenBuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/writer/FileProjectWriter.java
  devtools/common/src/main/java/io/quarkus/cli/commands/writer/ProjectWriter.java
  devtools/common/src/main/java/io/quarkus/cli/commands/writer/ZipProjectWriter.java
  devtools/common/src/main/java/io/quarkus/generators/BuildTool.java
  devtools/common/src/main/java/io/quarkus/generators/ProjectGenerator.java
  devtools/common/src/main/java/io/quarkus/generators/rest/BasicRestProjectGenerator.java
  devtools/common/src/test/java/io/quarkus/cli/commands/CreateProjectTest.java
  devtools/common/src/test/java/io/quarkus/cli/commands/ListExtensionsTest.java
  devtools/common/src/test/java/io/quarkus/generators/rest/BasicRestProjectGeneratorTest.java
  devtools/common/src/test/resources/gradle-project/gradle.properties
  devtools/gradle/build.gradle
  devtools/gradle/pom.xml
  devtools/gradle/src/main/java/io/quarkus/gradle/GradleBuildFileFromConnector.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusAddExtension.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusListExtensions.java
  devtools/gradle/src/test/java/io/quarkus/gradle/GradleBuildFileTest.java
  devtools/gradle/src/test/resources/gradle-project/build.gradle
  devtools/gradle/src/test/resources/gradle-project/gradle.properties
  devtools/gradle/src/test/resources/gradle-project/settings.gradle
  devtools/maven/src/main/java/io/quarkus/maven/ListExtensionsMojo.java
Labels: coding-in-progress
