Repository quarkusio/quarkus, pull requests merged in 2019-08, with the labels that each got.

#3390 Fix #3386 Document create-extension Maven mojo
  devtools/maven/src/main/java/io/quarkus/maven/CreateExtensionMojo.java
  devtools/maven/src/main/resources/create-extension-templates/deployment-pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-minimal/minimal-extension/deployment/pom.xml
  devtools/maven/src/test/resources/expected/create-extension-pom-with-grand-parent/with-grand-parent/deployment/pom.xml
  docs/src/main/asciidoc/extension-authors-guide.adoc
  extensions/pom.xml
Labels: waiting-for-ci

#3406 Arc - add built in beans for BM, Event, Instance. Add automated tests.
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/BeanManagerBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/BuiltInBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/EventBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InstanceBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/Reflections.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/builtin/beans/BuiltInBeansAreResolvableTest.java
Labels: waiting-for-ci

#3447 Fixes #3442 Undertow 2.0.23.Final
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3464 Fix Gradle plugin --docker-build flag
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
Labels: waiting-for-ci

#3415 Add create gradle project
  devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensions.java
  devtools/common/src/main/java/io/quarkus/cli/commands/CreateProject.java
  devtools/common/src/main/java/io/quarkus/cli/commands/Printer.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/BuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/GradleBuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/MavenBuildFile.java
  devtools/common/src/main/java/io/quarkus/generators/BuildTool.java
  devtools/common/src/main/java/io/quarkus/generators/ProjectGenerator.java
  devtools/common/src/main/java/io/quarkus/generators/SourceType.java
  devtools/common/src/main/java/io/quarkus/generators/rest/BasicRestProjectGenerator.java
  devtools/common/src/main/java/io/quarkus/maven/utilities/MojoUtils.java
  devtools/common/src/main/resources/templates/basic-rest/java/build.gradle-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/java/gradle.properties-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/java/pom.xml-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/java/settings.gradle-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/kotlin/build.gradle-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/kotlin/gradle.properties-template.ftl
  devtools/common/src/main/resources/templates/basic-rest/kotlin/settings.gradle-template.ftl
  devtools/common/src/test/java/io/quarkus/cli/commands/CreateProjectTest.java
  devtools/common/src/test/java/io/quarkus/generators/rest/BasicRestProjectGeneratorTest.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
Labels: waiting-for-ci

#3332 Support running Quarkus tests from Gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusTestConfig.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapClassLoaderFactory.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: component:gradle

#3480 Fix NPE in BasicRestProjectGenerator when a resource is missing
  devtools/common/src/main/java/io/quarkus/generators/rest/BasicRestProjectGenerator.java
Labels: waiting-for-ci

#3488 Update Gizmo to 1.0.0.Alpha7
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3412 add gzip docs support
  core/runtime/src/main/java/io/quarkus/runtime/configuration/MemorySizeConverter.java
  docs/src/main/asciidoc/rest-json-guide.adoc
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
Labels: waiting-for-ci

#3491 Gradle build fail without resource directory
  core/creator/src/main/java/io/quarkus/creator/phase/augment/AugmentPhase.java
Labels: component:gradle

#3487 Use a dynamic sources encoding during a hot reload compilation
  core/devmode/src/main/java/io/quarkus/dev/ClassLoaderCompiler.java
  core/devmode/src/main/java/io/quarkus/dev/CompilationProvider.java
  core/devmode/src/main/java/io/quarkus/dev/DevModeContext.java
  core/devmode/src/main/java/io/quarkus/dev/JavaCompilationProvider.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: waiting-for-ci

#3475 Align command and gradle to use ListExtensions as Maven
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ListExtensionsCommand.java
  devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensions.java
  devtools/common/src/main/java/io/quarkus/cli/commands/ListExtensions.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/BuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/GradleBuildFile.java
  devtools/common/src/main/java/io/quarkus/cli/commands/file/MavenBuildFile.java
  devtools/common/src/main/java/io/quarkus/generators/BuildTool.java
  devtools/common/src/test/java/io/quarkus/cli/commands/ListExtensionsTest.java
  devtools/common/src/test/java/io/quarkus/cli/commands/file/GradleBuildFileTest.java
  devtools/common/src/test/resources/gradle-project/build.gradle
  devtools/common/src/test/resources/gradle-project/gradle.properties
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusListExtensions.java
  devtools/maven/src/main/java/io/quarkus/maven/ListExtensionsMojo.java
Labels: component:gradle, waiting-for-ci

#3490 Fix NPE on build project without src
  core/creator/src/main/java/io/quarkus/creator/phase/augment/AugmentPhase.java
Labels: waiting-for-ci

#3494 Extension guide - mention -DnoDeps property
  docs/src/main/asciidoc/extension-authors-guide.adoc
Labels: component:documentation

#3495 Arc - ignore synthetic methods when discovering observers and producers
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodUtils.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/MethodUtilsTest.java
Labels: waiting-for-ci

#3503 Quarkus Test Resources with same order are considered equal
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
Labels: component:testing

#3508 Use QuarkusClassWriter in HibernateEntityEnhancer
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusClassWriter.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateEntityEnhancer.java
Labels: waiting-for-ci

#3459 Tika extension configuration support
  extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaProcessor.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/TikaContent.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/TikaParseException.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/TikaParser.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaConfiguration.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaParserProducer.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaRecorder.java
  integration-tests/tika/src/main/java/io/quarkus/it/tika/TikaEmdeddedContentResource.java
  integration-tests/tika/src/main/java/io/quarkus/it/tika/TikaParserResource.java
  integration-tests/tika/src/main/java/io/quarkus/it/tika/TikaPdfInvoiceResource.java
  integration-tests/tika/src/main/resources/invoice.pdf
  integration-tests/tika/src/main/resources/testEXCEL_embeded.xls
  integration-tests/tika/src/main/resources/tika-config.xml
  integration-tests/tika/src/test/java/io/quarkus/it/tika/NativeTikaEmbeddedContentIT.java
  integration-tests/tika/src/test/java/io/quarkus/it/tika/NativeTikaPdfInvoiceIT.java
  integration-tests/tika/src/test/java/io/quarkus/it/tika/TikaEmbeddedContentTest.java
  integration-tests/tika/src/test/java/io/quarkus/it/tika/TikaPdfInvoiceTest.java
Labels: waiting-for-ci

#3504 Register JsonSerializer classes in KubernetesClientProcessor
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: waiting-for-ci

#2953 Usability improvements for Kafka Streams
  docs/src/main/asciidoc/kafka-streams-guide.adoc
  extensions/kafka-streams/deployment/pom.xml
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
  extensions/kafka-streams/runtime/pom.xml
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRecorder.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java
  integration-tests/kafka/pom.xml
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/streams/KafkaStreamsEndpoint.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/streams/KafkaStreamsPipeline.java
  integration-tests/kafka/src/main/resources/application.properties
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsTest.java
  integration-tests/main/src/main/resources/application.properties
Labels: waiting-for-ci

#3525 Improve mongodb-guide
  docs/src/main/asciidoc/mongo-guide.adoc
Labels: component:documentation

#3531 fix missing @ConfigItem on Flyway and HibernateSearch Config items
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRuntimeConfig.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfig.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfig.java
Labels: waiting-for-ci

#3540 Reinitialize ThreadLocalRandom class to ensure seed is reset at runtime
  core/deployment/src/main/java/io/quarkus/deployment/ThreadLocalRandomProcessor.java
Labels: bug

#3549 Infinispan client updates
  bom/runtime/pom.xml
  docs/src/main/asciidoc/infinispan-client-guide.adoc
  docs/src/main/asciidoc/native-and-ssl-guide.adoc
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/infinispan-client/runtime/pom.xml
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/graal/DeleteJBossBasedClasses.java
  integration-tests/infinispan-client/pom.xml
Labels: component:infinispan

#3567 SmallRye Context Propagation version update
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3570 Add META-INF/io.netty.versions.properties to the uberJar ignore list
  core/creator/src/main/java/io/quarkus/creator/phase/runnerjar/RunnerJarPhase.java
Labels: waiting-for-ci

#3584 Remove unnecessary dependencies versions from using-vertx guide
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/using-vertx.adoc
Labels: component:documentation

#3580 Make java.time.Duration serializable to bytecode
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
Labels: waiting-for-ci

#3564 Fix possible timeouts on devtools project generation tests
  devtools/common/src/test/java/io/quarkus/cli/commands/CreateProjectTest.java
  devtools/common/src/test/java/io/quarkus/generators/rest/BasicRestProjectGeneratorTest.java
Labels: waiting-for-ci

#3572 PostgreSQL JDBC, MariaDB JDBC upgrade
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3573 Fix list extension regression when called without project
  devtools/common/src/test/java/io/quarkus/cli/commands/ListExtensionsTest.java
  devtools/maven/src/main/java/io/quarkus/maven/ListExtensionsMojo.java
Labels: bug, waiting-for-ci

#3515 Introduce a JGit extension
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  docs/src/main/asciidoc/jgit.adoc
  docs/src/main/asciidoc/native-and-ssl-guide.adoc
  extensions/jgit/deployment/pom.xml
  extensions/jgit/deployment/src/main/java/io/quarkus/jgit/runtime/deployment/JGitProcessor.java
  extensions/jgit/pom.xml
  extensions/jgit/runtime/pom.xml
  extensions/jgit/runtime/src/main/java/io/quarkus/jgit/runtime/WorkQueueSubstitution.java
  extensions/pom.xml
  integration-tests/jgit/pom.xml
  integration-tests/jgit/src/main/java/io/quarkus/it/jgit/JGitResource.java
  integration-tests/jgit/src/test/java/io/quarkus/it/jgit/JGitTest.java
  integration-tests/jgit/src/test/java/io/quarkus/it/jgit/NativeJGitIT.java
  integration-tests/jgit/src/test/resources/repos/booster-catalog.bundle
  integration-tests/pom.xml
Labels: noteworthy-feature, waiting-for-ci

#3589 Kotlin upgrade from 1.3.31 to 1.3.41
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3579 remove duplicate quarkus-http-core dependency
  bom/runtime/pom.xml
Labels: bug, waiting-for-ci

#3590 Also kill the remote-dev processes when finishing a test
  devtools/maven/src/test/java/io/quarkus/maven/it/verifier/RunningInvoker.java
Labels: bug

#3513 Vertx 3.8 and new sql client
  bom/runtime/pom.xml
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/PgPoolBuildItem.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
  extensions/reactive-pg-client/deployment/src/test/java/io/quarkus/reactive/pg/client/PgPoolProducerTest.java
  extensions/reactive-pg-client/runtime/pom.xml
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolProducer.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/SimpleRouteTest.java
  integration-tests/reactive-pg-client/src/main/java/io/quarkus/it/reactive/pg/client/FruitResource.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: waiting-for-ci

#3597 Remove containerRuntime default value from Gradle plugin
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
Labels: waiting-for-ci

#3587 Virtual HTTP and Azure Function Support
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  docs/src/main/asciidoc/azure-functions-http-guide.adoc
  extensions/azure-functions-http/deployment/pom.xml
  extensions/azure-functions-http/deployment/src/main/java/io/quarkus/azure/functions/resteasy/deployment/AzureFunctionsHttpProcessor.java
  extensions/azure-functions-http/maven-archetype/pom.xml
  extensions/azure-functions-http/maven-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/azure-config/function.json
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/azure-config/host.json
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/azure-config/local.settings.json
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/src/main/java/GreetingResource.java
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/src/main/java/GreetingServlet.java
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/src/main/java/GreetingVertx.java
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/src/test/java/GreetingTest.java
  extensions/azure-functions-http/pom.xml
  extensions/azure-functions-http/runtime/pom.xml
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFunction.java
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/Function.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/virtual/VirtualAddress.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/virtual/VirtualChannel.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/virtual/VirtualChannelRegistry.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/virtual/VirtualClientConnection.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/virtual/VirtualServerChannel.java
  extensions/pom.xml
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/RequireVirtualHttpBuildItem.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/HttpConfiguration.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  integration-tests/pom.xml
  integration-tests/virtual-http/pom.xml
  integration-tests/virtual-http/src/main/java/io/quarkus/it/virtual/GreetingResource.java
  integration-tests/virtual-http/src/main/java/io/quarkus/it/virtual/GreetingServlet.java
  integration-tests/virtual-http/src/main/java/io/quarkus/it/virtual/GreetingVertx.java
  integration-tests/virtual-http/src/main/resources/META-INF/beans.xml
  integration-tests/virtual-http/src/main/resources/application.properties
  integration-tests/virtual-http/src/test/java/io/quarkus/it/virtual/FunctionTest.java
  integration-tests/virtual-http/src/test/java/io/quarkus/it/virtual/HttpRequestMessageMock.java
  integration-tests/virtual-http/src/test/java/io/quarkus/it/virtual/HttpResponseMessageMock.java
Labels: component:new-http, enhancement, waiting-for-ci

#3602 Fix master: vertx-web compilation error
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFunction.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
Labels: regression, urgent, waiting-for-ci

#3603 Support IndexDependencyBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/IndexDependencyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
Labels: component:build, waiting-for-ci

#3614 Private methods should not have metrics applied to them.
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
Labels: waiting-for-ci

#3618 VirtualAddress fix to remove io.netty.channel.local.LocalAddress
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/virtual/VirtualAddress.java
Labels: waiting-for-ci

#3622 Add some additional ignores to uberjar construction
  core/creator/src/main/java/io/quarkus/creator/phase/runnerjar/RunnerJarPhase.java
Labels: waiting-for-ci

#3547 Kafka Streams - pick up default Serdes and ExceptionHandler from props
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
Labels: enhancement

#2930 Add an ActiveMQ Artemis extension
  azure-pipelines.yml
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  devtools/common/src/main/filtered/extensions.json
  extensions/artemis-core/deployment/pom.xml
  extensions/artemis-core/deployment/src/main/java/io/quarkus/artemis/core/deployment/ArtemisCoreProcessor.java
  extensions/artemis-core/deployment/src/main/java/io/quarkus/artemis/core/deployment/ArtemisJmsBuildItem.java
  extensions/artemis-core/pom.xml
  extensions/artemis-core/runtime/pom.xml
  extensions/artemis-core/runtime/src/main/java/io/quarkus/artemis/core/runtime/ArtemisCoreProducer.java
  extensions/artemis-core/runtime/src/main/java/io/quarkus/artemis/core/runtime/ArtemisCoreRecorder.java
  extensions/artemis-core/runtime/src/main/java/io/quarkus/artemis/core/runtime/ArtemisRuntimeConfig.java
  extensions/artemis-core/runtime/src/main/java/io/quarkus/artemis/core/runtime/graal/CheckDependenciesSubstitutions.java
  extensions/artemis-jms/deployment/pom.xml
  extensions/artemis-jms/deployment/src/main/java/io/quarkus/artemis/jms/deployment/ArtemisJmsProcessor.java
  extensions/artemis-jms/pom.xml
  extensions/artemis-jms/runtime/pom.xml
  extensions/artemis-jms/runtime/src/main/java/io/quarkus/artemis/jms/runtime/ArtemisJmsProducer.java
  extensions/artemis-jms/runtime/src/main/java/io/quarkus/artemis/jms/runtime/ArtemisJmsRecorder.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/pom.xml
  integration-tests/artemis-core/pom.xml
  integration-tests/artemis-core/src/main/java/io/quarkus/it/artemis/ArtemisConsumerManager.java
  integration-tests/artemis-core/src/main/java/io/quarkus/it/artemis/ArtemisEndpoint.java
  integration-tests/artemis-core/src/main/java/io/quarkus/it/artemis/ArtemisProducerManager.java
  integration-tests/artemis-core/src/main/resources/application.properties
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisConsumerITCase.java
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisConsumerTest.java
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisHelper.java
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisProducerITCase.java
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisProducerTest.java
  integration-tests/artemis-core/src/test/java/io/quarkus/it/artemis/ArtemisTestResource.java
  integration-tests/artemis-core/src/test/resources/broker.xml
  integration-tests/artemis-jms/pom.xml
  integration-tests/artemis-jms/src/main/java/io/quarkus/it/artemis/ArtemisConsumerManager.java
  integration-tests/artemis-jms/src/main/java/io/quarkus/it/artemis/ArtemisEndpoint.java
  integration-tests/artemis-jms/src/main/java/io/quarkus/it/artemis/ArtemisProducerManager.java
  integration-tests/artemis-jms/src/main/resources/application.properties
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisConsumerITCase.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisConsumerTest.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisHelper.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisProducerITCase.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisProducerTest.java
  integration-tests/artemis-jms/src/test/java/io/quarkus/it/artemis/ArtemisTestResource.java
  integration-tests/artemis-jms/src/test/resources/broker.xml
  integration-tests/pom.xml
Labels: component:reactive-messaging

#3639 Fix @Intercepted metadata injection
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InterceptedBeanMetadataProvider.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/intercepted/InterceptedBeanInjectionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/intercepted/SimpleInterceptor.java
Labels: bug

#3625 Podman requires --userns=keep-id to avoid AccessDeniedExceptions while building the native image
  core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java
Labels: bug

#3616 Test framework: only add the test jar as additional archive if it's different from the app jar
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: enhancement

#3659 Fix double if in InterceptedBeanMetadataProvider.
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InterceptedBeanMetadataProvider.java
Labels: waiting-for-ci

#3660 Update commons-beanutils
  bom/runtime/pom.xml
Labels: enhancement

#3656 Test guide and remove warn in ListExtensionsTest
  devtools/common/src/test/java/io/quarkus/cli/commands/ListExtensionsTest.java
Labels: enhancement

#3662 Fix registration of metrics from extended classes.
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/jandex/JandexBeanInfoAdapter.java
  integration-tests/main/src/main/java/io/quarkus/it/metrics/inheritance/InheritanceMetricsBase.java
  integration-tests/main/src/main/java/io/quarkus/it/metrics/inheritance/InheritanceMetricsExtended.java
  integration-tests/main/src/main/java/io/quarkus/it/metrics/inheritance/MetricsInheritanceResource.java
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsInheritanceITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsInheritanceTestCase.java
Labels: bug, component:smallrye

#3610 Upgrade to GraalVM 19.2.0
  bom/runtime/pom.xml
  build-parent/pom.xml
  core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java
Labels: noteworthy-feature

#3665 Add documentation on how to properly write a Kubernetes Watcher that works in native mode
  docs/src/main/asciidoc/kubernetes-client.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: waiting-for-ci

#3668 Remove an unused logger from the OAuth2DeploymentProcessor
  extensions/elytron-security-oauth2/deployment/src/main/java/io/quarkus/elytron/security/oauth2/deployment/OAuth2DeploymentProcessor.java
Labels: enhancement, waiting-for-ci

#3684 add tip concerning servlet context path during testing
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: component:documentation

#3672 Allow * expression for quarkus:add-extension
  devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensions.java
  devtools/common/src/main/java/io/quarkus/cli/commands/SelectionResult.java
  devtools/common/src/test/java/io/quarkus/cli/commands/AddExtensionsTest.java
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: component:gradle, component:maven, enhancement

#3696 Update kubernetes-client to 4.4.2
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3635 Ensure netty-all is not used as a dependency
  build-parent/pom.xml
Labels: waiting-for-ci

#3697 Update JGit to 5.4.2.201908231537-r
  bom/runtime/pom.xml
Labels: waiting-for-ci

#3682 upgrade of kogito (0.3.0) that supports persistence based on infinispan
  bom/runtime/pom.xml
  docs/src/main/asciidoc/kogito-guide.adoc
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/JandexProtoGenerator.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoAssetsProcessor.java
  extensions/kogito/deployment/src/test/java/io/quarkus/kogito/jbpm/ProcessEndpointTest.java
Labels: enhancement, waiting-for-ci

#3700 Arc - SubclassGenerator needlessly uses field instead of local variable.
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
Labels: bug, component:arc, waiting-for-ci

#3707 ArC - fix generics processing when collecting a bean type closure
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/assignability/generics/AssignabilityWithGenericsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/assignability/generics/RawTypeAssignabilityTest.java
Labels: waiting-for-ci

#3692 Make the dev mode test sleep dependent on file update time
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: component:dev-mode, enhancement, waiting-for-ci

#3642 Improve documentation of list extensions
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ListExtensionsCommand.java
  devtools/common/src/main/java/io/quarkus/cli/commands/ListExtensions.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusListExtensions.java
  devtools/maven/src/main/java/io/quarkus/maven/ListExtensionsMojo.java
Labels: component:maven, enhancement, waiting-for-ci

#3694 Fixes #3624, POST not working in dev mode
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/PostResource.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/RestEasyDevModeTestCase.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/devmode/VertxHotReplacementSetup.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: bug, component:new-http

#3715 Fix issue with runtime config being consumed at build time
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
Labels: bug

#3701 Restore the config provider on restarts
  core/devmode/src/main/java/io/quarkus/dev/DevModeMain.java
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
Labels: bug, waiting-for-ci

#3719 Use job templates to reduce verbosity
  azure-pipelines.yml
  ci-templates/native-build-steps.yaml
Labels: waiting-for-ci

#3734 Make better use of the maven repo cache in CI
  azure-pipelines.yml
  ci-templates/jvm-build-steps.yaml
  ci-templates/native-build-steps.yaml
Labels: waiting-for-ci

#3712 fix: non-heap memory pool metrics
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java
Labels: component:smallrye, enhancement

#3749 EventLoopSupplierBuildItem args in wrong order
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
Labels: waiting-for-ci

#3731 Arc - toString() method invocation should be delegated to contextual …
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/toString/ClientProxyToStringDelegatedTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/toString/Foo.java
Labels: waiting-for-ci

#3750 Improve build failure report by including the stacktrace
  core/builder/src/main/java/io/quarkus/builder/diag/Diagnostic.java
Labels: waiting-for-ci

#3172 Make DynamoDB clients injectable beans
  ci-templates/jvm-build-steps.yaml
  ci-templates/native-build-steps.yaml
  extensions/amazon-dynamodb/deployment/src/main/java/io/quarkus/dynamodb/deployment/DynamodbClientBuildItem.java
  extensions/amazon-dynamodb/deployment/src/main/java/io/quarkus/dynamodb/deployment/DynamodbProcessor.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbAsyncClientFullConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbBrokenEndpointConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbClientDefaultCredentialsProviderConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbClientProfileCredentialsProviderConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbProcessCredentialsBrokenConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbStaticCredentialsBrokenConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbSyncClientBrokenConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbSyncClientBrokenProxyConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbSyncClientFullConfigTest.java
  extensions/amazon-dynamodb/deployment/src/test/resources/async-full-config.properties
  extensions/amazon-dynamodb/deployment/src/test/resources/broken-endpoint-config.properties
  extensions/amazon-dynamodb/deployment/src/test/resources/default-credentials-config.properties
  extensions/amazon-dynamodb/deployment/src/test/resources/process-credentials-broken-config.properties
  extensions/amazon-dynamodb/deployment/src/test/resources/profile-credentials-config.properties
  extensions/amazon-dynamodb/deployment/src/test/resources/static-credentials-broken-config.properties
  extensions/amazon-dynamodb/deployment/src/test/resources/sync-broken-config.properties
  extensions/amazon-dynamodb/deployment/src/test/resources/sync-broken-proxy-config.properties
  extensions/amazon-dynamodb/deployment/src/test/resources/sync-full-config.properties
  extensions/amazon-dynamodb/runtime/pom.xml
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/AwsApacheHttpClientConfig.java
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/AwsCredentialsProviderConfig.java
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/AwsCredentialsProviderType.java
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/AwsNettyNioAsyncHttpClientConfig.java
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/DynamodbClientProducer.java
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/DynamodbConfig.java
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/DynamodbRecorder.java
  extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/RegionConverter.java
  extensions/amazon-dynamodb/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.Converter
  integration-tests/amazon-dynamodb/README.md
  integration-tests/amazon-dynamodb/pom.xml
  integration-tests/amazon-dynamodb/src/main/java/io/quarkus/it/dynamodb/DynamoDBResource.java
  integration-tests/amazon-dynamodb/src/main/resources/application.properties
Labels: noteworthy-feature, waiting-for-ci

#3706 Add an Amazon DynamoDB guide
  docs/src/main/asciidoc/dynamodb-guide.adoc
Labels: noteworthy-feature

#3680 Add SQL load script to the hot deployment watched files list
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportSqlHotReloadScriptTestCase.java
Labels: backport?

#3761 Synchronize log block in MojoLogger
  devtools/maven/src/main/java/io/quarkus/maven/MojoLogger.java
Labels: waiting-for-ci

#3683 Make CORS Allowed-Headers check case insensitive
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/cors/CORSFilter.java
Labels: waiting-for-ci

#3766 No longer disable isolates by default
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
Labels: enhancement

#3770 Ignores whitespaces when converting enum values
  core/runtime/src/main/java/io/quarkus/runtime/configuration/HyphenateEnumConverter.java
  extensions/vertx-web/deployment/src/test/resources/cors-config.properties
Labels: waiting-for-ci

#3771 Implement mechanism to ignore ReflectiveHierarchyStep warnings ...
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ReflectiveHierarchyIgnoreWarningBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
  extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoAssetsProcessor.java
Labels: waiting-for-ci

#3736 Move Jaeger metrics in vendor instead of base
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerMetricsFactory.java
Labels: noteworthy-feature

#3688 Add support for Jackson's JsonPOJOBuilder
  azure-pipelines.yml
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  integration-tests/jackson/Readme.md
  integration-tests/jackson/model/pom.xml
  integration-tests/jackson/model/src/main/java/io/quarkus/reproducer/jacksonbuilder/model/InheritedModelWithBuilder.java
  integration-tests/jackson/model/src/main/java/io/quarkus/reproducer/jacksonbuilder/model/InheritedModelWithBuilderBase.java
  integration-tests/jackson/model/src/main/java/io/quarkus/reproducer/jacksonbuilder/model/ModelWithBuilder.java
  integration-tests/jackson/model/src/main/java/io/quarkus/reproducer/jacksonbuilder/model/RegisteredPojoModel.java
  integration-tests/jackson/model/src/main/resources/META-INF/beans.xml
  integration-tests/jackson/model/src/test/java/io/quarkus/reproducer/jacksonbuilder/model/InheritedModelWithBuilderTest.java
  integration-tests/jackson/model/src/test/java/io/quarkus/reproducer/jacksonbuilder/model/ModelWithBuilderTest.java
  integration-tests/jackson/model/src/test/java/io/quarkus/reproducer/jacksonbuilder/model/RegisteredPojoModelTest.java
  integration-tests/jackson/pom.xml
  integration-tests/jackson/service/pom.xml
  integration-tests/jackson/service/src/main/java/io/quarkus/reproducer/InheritedModelWithBuilderResource.java
  integration-tests/jackson/service/src/main/java/io/quarkus/reproducer/ModelWithBuilderResource.java
  integration-tests/jackson/service/src/main/java/io/quarkus/reproducer/RegisteredPojoModelResource.java
  integration-tests/jackson/service/src/main/resources/application.properties
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/InheritedModelWithBuilderResourceIT.java
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/InheritedModelWithBuilderResourceTest.java
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/ModelWithBuilderResourceIT.java
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/ModelWithBuilderResourceTest.java
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/RegisteredPojoModelResourceIT.java
  integration-tests/jackson/service/src/test/java/io/quarkus/reproducer/RegisteredPojoModelResourceTest.java
  integration-tests/pom.xml
Labels: waiting-for-ci
