Repository quarkusio/quarkus, pull requests merged in 2020-01, with the labels that each got.

#6368 docs(qute): add link to Qute reference guide in the Qute templating engine guide
  docs/src/main/asciidoc/qute.adoc
Labels: area/documentation, area/qute

#6358 Fix elytron properties perf issues
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/JdbcRecorder.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronPropertiesFileRecorder.java
Labels: area/security, triage/backport?

#6384 Properly initialize Maven profile options during bootstrap
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptionsParser.java
Labels: area/bootstrap-maven

#6393 Document how to retrieve the active profile
  docs/src/main/asciidoc/config.adoc
Labels: triage/backport?

#6388 Create BuildTimeRunTimeDefaultValuesConfigSource only once
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
Labels: area/config

#6263 Make application version and name available as (fixed) runtime properties
  ci-templates/stages.yml
  core/deployment/src/main/java/io/quarkus/deployment/steps/ApplicationInfoBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/RuntimeRunner.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationConfig.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/main/src/main/java/io/quarkus/it/config/ApplicationInfoResource.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/ApplicationInfoTestCase.java
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/AddExtensionIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/ApplicationNameAndVersionTestUtil.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectMojoIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DisableForNative.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/EnableForNative.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/GenerateConfigIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/NativeImageIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/RemoteDevMojoIT.java
  integration-tests/maven/src/test/resources/projects/classic/src/main/java/org/acme/HelloResource.java
Labels: triage/backport?

#6357 Provides additional configuration options for logging-gelf
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/AdditionalFieldConfig.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfConfig.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfLogHandlerRecorder.java
  integration-tests/logging-gelf/src/main/resources/application.properties
Labels: area/logging, triage/waiting-for-ci

#6386 enable hot reload on application.yaml
  extensions/config-yaml/deployment/pom.xml
  extensions/config-yaml/deployment/src/main/java/io/quarkus/config/yaml/deployment/ConfigYamlProcessor.java
  extensions/config-yaml/deployment/src/test/java/io/quarkus/config/yaml/deployment/ApplicationYamlHotDeploymentTest.java
  extensions/config-yaml/deployment/src/test/java/io/quarkus/config/yaml/deployment/FooResource.java
  extensions/config-yaml/deployment/src/test/resources/application.yaml
  extensions/config-yaml/runtime/src/main/java/io/quarkus/config/yaml/runtime/ApplicationYamlProvider.java
Labels: area/config, triage/backport?, triage/waiting-for-ci

#6283 Bump RESTEasy to 4.4.2.Final
  bom/runtime/pom.xml
  docs/src/main/asciidoc/rest-json.adoc
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/IncomingHeadersProvider.java
  extensions/rest-client/runtime/src/main/resources/META-INF/services/org.jboss.resteasy.microprofile.client.header.IncomingHeadersProvider
Labels: triage/waiting-for-ci

#6403 Typo fix in Neo4j guide
  docs/src/main/asciidoc/neo4j.adoc
Labels: triage/backport?

#6402 add configuration option to include full MDC in logging-gelf extension
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfConfig.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfLogHandlerRecorder.java
Labels: triage/waiting-for-ci

#6406 Upgrade Jackson to 2.10.2
  bom/runtime/pom.xml
Labels: triage/waiting-for-ci

#6407 Take into account the web.xml MIME mappings in the Undertow extension
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/ServletWebXmlTestCase.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
Labels: triage/backport?

#6398 Improvements to STM text
  docs/src/main/asciidoc/software-transactional-memory.adoc
Labels: area/documentation

#6409 Improve the Neo4j guide
  docs/src/main/asciidoc/neo4j.adoc
Labels: area/documentation, area/neo4j

#6413 Fix Kubernetes manifest port handling
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/verify.groovy
  integration-tests/kubernetes/src/it/kubernetes/verify.groovy
Labels: triage/backport?

#6430 Check that there is a pluginOptions child before iterating on it
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: triage/backport?

#6415 Fix table structure and alignment in Kubernetes documentation
  docs/src/main/asciidoc/kubernetes.adoc
Labels: area/documentation, area/kubernetes

#6446 docs: fix link to native-and-ssl in mailer.adoc
  docs/src/main/asciidoc/mailer.adoc
Labels: area/documentation

#6443 Extending smoke tests for SR context propagation integration.
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/context/test/ContextEndpoint.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/context/test/SimpleContextPropagationTest.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/context/test/customContext/CustomContext.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/context/test/customContext/CustomContextProvider.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/context/test/customContext/CustomContextTest.java
Labels: triage/waiting-for-ci

#6445 Arc should only emit once log msg per missing class in index.
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/IndexClassLookupUtils.java
Labels: triage/waiting-for-ci

#6432 ArC - optimize CreationalContext
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinBean.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableInstance.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BeanManagerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/CreationalContextImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceHandleImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/dependent/DependentCreationalContextTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/instance/InjectableInstanceTest.java
Labels: triage/waiting-for-ci

#6449 Remove unused Vert.x GraalVM substitution
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/graal/JdkSubstitutions.java
Labels: area/housekeeping, triage/waiting-for-ci

#6456 Remove useless version from the reactive * client poms
  extensions/reactive-mysql-client/deployment/pom.xml
  extensions/reactive-pg-client/deployment/pom.xml
Labels: triage/waiting-for-ci

#6397 Hibernate Validator dev mode tests added
  extensions/hibernate-validator/deployment/pom.xml
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/ClassLevelConstraint.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/ClassLevelValidator.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/DependentTestBean.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/DevModeConstraintValidationTest.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/DevModeTestResource.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/NewConstraint.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/NewTestBean.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/NewValidator.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/devmode/TestBean.java
Labels: triage/waiting-for-ci

#6451 Support physicalNamingStrategy config in the hibernate-orm extension
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/naming/PhysicalNamingStrategyTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/naming/PrefixPhysicalNamingStrategy.java
  extensions/hibernate-orm/deployment/src/test/resources/application-physical-naming-strategy.properties
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
Labels: area/hibernate-orm, triage/waiting-for-ci

#6455 Fix for #6442 quarkusDev not working in multi module projects
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/gradle, triage/waiting-for-ci

#6467 Qute parser - improve error messages
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateException.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeCheckInfo.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/NamedBeanNotFoundTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/NamedBeanPropertyNotFoundTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/ParamDeclarationWrongClassTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/PropertyNotFoundTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TypeSafeLoopFailureTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateException.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateLocator.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: triage/waiting-for-ci

#6482 Add ability to disable Swagger UI
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
  extensions/swagger-ui/deployment/src/test/java/io/quarkus/swaggerui/deployment/DisabledTest.java
Labels: triage/waiting-for-ci

#6484 Fix spelling in extension doc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: triage/waiting-for-ci

#6375 Use mongodb-driver-sync instead of mongo-java-driver
  bom/runtime/pom.xml
  docs/src/main/asciidoc/mongodb.adoc
  extensions/mongodb-client/runtime/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientRecorder.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/graal/MongoClientSubstitutions.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/BookCodec.java
Labels: area/mongodb, release/breaking-change, release/noteworthy-feature

#6493 graalvmHome should be optional in gradle buildNative
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
Labels: triage/waiting-for-ci

#6505 Properly show configuration errors in the output
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
Labels: triage/waiting-for-ci

#6489 Update getting-started.adoc for windows
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation

#6511 Updated Mockito version
  .dependabot/config.yml
  bom/runtime/pom.xml
Labels: triage/waiting-for-ci

#6518 Enable SSL native support for quarkus-jsch
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/jsch/deployment/src/main/java/io/quarkus/jsch/deployment/JSchProcessor.java
Labels: triage/waiting-for-ci

#4202 Add query projection for MongoDB with Panache
  docs/src/main/asciidoc/mongodb-panache.adoc
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/PanacheResourceProcessor.java
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/ProjectionForEnhancer.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheQuery.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/ProjectionFor.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/MongoPropertyUtil.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/PanacheQlQueryBinder.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/PanacheQueryImpl.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/book/BookEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/book/BookRepositoryResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/book/BookShortView.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/PersonEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/PersonName.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/PersonRepositoryResource.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheResourceTest.java
Labels: area/mongodb, area/panache

#6523 Set higher timeouts for JVM CI jobs
  ci-templates/stages.yml
Labels: triage/waiting-for-ci

#6524 Update Mockito in tools project
  independent-projects/tools/pom.xml
Labels: triage/waiting-for-ci

#6525 Use same JUnit version used in quarkus BOM
  independent-projects/qute/generator/pom.xml
  independent-projects/qute/pom.xml
Labels: triage/waiting-for-ci

#6532 Update to logstash-gelf 1.14.0 and remove the substitution
  bom/runtime/pom.xml
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/graal/JulLogEventSubstitution.java
Labels: triage/waiting-for-ci

#6543 Swallow exceptions thrown from Bean.destroy()
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/PostResource.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceHandleImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/destroy/BeanPreDestroyErrorTest.java
Labels: triage/waiting-for-ci

#6548 Improving the mailer adoc by adding quarkus.mailer.mock=false in the initial set of properties.
  docs/src/main/asciidoc/mailer.adoc
Labels: area/documentation

#5272 Unified way for extensions to register metrics
  bom/deployment/pom.xml
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/microprofile-metrics.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/agroal/deployment/pom.xml
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/runtime/pom.xml
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/metrics/AgroalCounter.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/metrics/AgroalGauge.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/metrics/DataSourceLiteral.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalBuildTimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceBuildTimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceRuntimeConfig.java
  extensions/smallrye-metrics/deployment/pom.xml
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MetricResource.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MetricsFromExtensionDisabledTestCase.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MetricsFromExtensionTestCase.java
  extensions/smallrye-metrics/pom.xml
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/MetadataHolder.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/TagHolder.java
  extensions/smallrye-metrics/spi/pom.xml
  extensions/smallrye-metrics/spi/src/main/java/io/quarkus/smallrye/metrics/deployment/spi/MetricBuildItem.java
Labels: release/breaking-change, release/noteworthy-feature

#6326 Enlist repository parameterized types for reflection
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/PanacheResourceProcessor.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/bugs/Bug6324AbstractRepository.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/bugs/Bug6324ConcreteRepository.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/bugs/Bug6324Repository.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/bugs/BugResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/bugs/NeedReflection.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheResourceTest.java
Labels: area/mongodb, area/panache

#6560 Some tiny English fixes from reading guides
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/deploying-to-openshift-s2i.adoc
  docs/src/main/asciidoc/getting-started-knative.adoc
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation

#6348 [fixes #4448] - OIDC Multi-tenancy Support
  ci-templates/stages.yml
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerAuthorizer.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/AccessTokenCredential.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/IdTokenCredential.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/AbstractOidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/ContextAwareTokenCredential.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  integration-tests/oidc-tenancy/META-INF/resources/index.html
  integration-tests/oidc-tenancy/README.md
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationInGraalITCase.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/pom.xml
Labels: area/oidc, exploration

#6569 Disable automatic association management in Hibernate ORM entities
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateEntityEnhancer.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
Labels: area/hibernate-orm, kind/enhancement, release/breaking-change, release/noteworthy-feature

#6547 Support ImplicitNamingStrategy
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/naming/CustomImplicitNamingStrategy.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/naming/ImplicitNamingStrategyTest.java
  extensions/hibernate-orm/deployment/src/test/resources/application-implicit-naming-strategy.properties
Labels: area/hibernate-orm, kind/new-feature

#6585 Disable failing OpenTracing TCK module
  tcks/microprofile-opentracing/pom.xml
Labels: triage/waiting-for-ci

#6552 Restore the ability to use a system property for remote-dev
  extensions/undertow-websockets/deployment/src/main/java/io/quarkus/undertow/websockets/deployment/HotReplacementWebsocketEndpoint.java
  extensions/undertow-websockets/deployment/src/main/java/io/quarkus/undertow/websockets/deployment/WebsocketHotReloadSetup.java
Labels: triage/waiting-for-ci

#6589 Relax datePattern to pass on Windows with cmder
  test-framework/maven/src/main/java/io/quarkus/maven/it/MojoTestBase.java
Labels: triage/waiting-for-ci

#6300 SmallRye FT 4.x
  bom/runtime/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/microprofile-fault-tolerance.adoc
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/substitutions/rxjava/UnsafeAccess.java
  extensions/smallrye-fault-tolerance/runtime/pom.xml
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/HystrixInitializerStarter.java
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/SmallryeFaultToleranceRecorder.java
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/graal/FaultToleranceSubstitutions.java
  tcks/microprofile-fault-tolerance/pom.xml
  tcks/microprofile-fault-tolerance/src/test/java/io/quarkus/smallrye/faulttolerance/Dummy.java
  tcks/microprofile-fault-tolerance/src/test/java/io/quarkus/tck/faulttolerance/CustomTimeoutUninterruptableTest.java
  tcks/microprofile-fault-tolerance/src/test/resources/application.properties
  tcks/microprofile-fault-tolerance/src/test/resources/config.properties
Labels: area/smallrye, release/noteworthy-feature, triage/waiting-for-ci

#6599 Make use of QuteConfig.suffixes when validating template injections
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/InjectionTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteConfig.java
Labels: area/qute

#6605 Update config yaml guide
  docs/src/main/asciidoc/config.adoc
Labels: area/config, area/documentation

#6583 Manage Instant as MongoDB ISODate
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/CommonQueryBinder.java
  extensions/panache/mongodb-panache/runtime/src/test/java/io/quarkus/mongodb/panache/runtime/MongoOperationsTest.java
Labels: triage/waiting-for-ci

#6602 Fix simple scheduler cron triggers in JDK9+
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: triage/waiting-for-ci

#6573 Update to smallrye-jwt 2.0.12
  .dependabot/config.yml
  bom/runtime/pom.xml
  docs/src/main/asciidoc/security-jwt.adoc
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/TokenUtils.java
Labels: triage/waiting-for-ci

#6570 Qute "if" section - support multiple conditions
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionInitContextImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IfSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: area/qute, triage/waiting-for-ci

#6614 Trim graalvm additional build arguments
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: triage/waiting-for-ci

#6581 Introduce transactional observer support.
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/narayana-jta/deployment/pom.xml
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/observers/TransactionalObserversErrorHandlingTest.java
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/observers/TransactionalObserversTest.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaProducers.java
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/runtime/pom.xml
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventImpl.java
Labels: release/noteworthy-feature, triage/waiting-for-ci

#6575 Qute value resolver generator - always skip static methods
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateData.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/BaseService.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/PublicMyService.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
Labels: area/qute

#6500 add auto labeling of pull-requests
  .github/labeler.yml
  .github/workflows/pullrequest_labeler.yml
  azure-pipelines.yml
Labels: area/infra

#6632 Fix minor spelling mistakes in comments
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
Labels: triage/waiting-for-ci

#6651 Fix typos in writing-extensions.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#6649 Dependabot descriptor PRs should have the `area/dependencies` label
  .github/boring-cyborg.yml
Labels: area/infra

#6656 Better utilization of Docker layer caching in native-and-ssl.adoc Dockerfile example
  docs/src/main/asciidoc/native-and-ssl.adoc
Labels: area/documentation

#6648 Align jackson versions to 2.10.2
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/pom.xml
Labels: area/platform, triage/waiting-for-ci

#6642 Bump MicroProfile OpenTracing to 1.3.2
  bom/runtime/pom.xml
  build-parent/pom.xml
  tcks/microprofile-opentracing/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#6559 Expose metrics from Hibernate ORM
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateMetricsTestCase.java
  extensions/hibernate-orm/deployment/src/test/resources/application-metrics-enabled.properties
  extensions/hibernate-orm/runtime/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/metrics/HibernateCounter.java
Labels: release/noteworthy-feature

#6657 Don't fire the startup event until the vert.x producer has been initialized
  core/runtime/src/main/java/io/quarkus/runtime/StartupEvent.java
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx-core/deployment/src/test/java/io/quarkus/vertx/core/deployment/VertxInjectionTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/VertxInjectionTest.java
Labels: area/core, area/vertx, triage/waiting-for-ci

#6643 Remove synthetic flag for created acessor methods in Panache
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheEntityEnhancer.java
Labels: area/mongodb, area/panache, triage/backport?, triage/waiting-for-ci

#6662 Add artemis-server to the BOM so that upgrades are consistent
  bom/runtime/pom.xml
  build-parent/pom.xml
  integration-tests/artemis-core/pom.xml
  integration-tests/artemis-jms/pom.xml
  test-framework/artemis/pom.xml
Labels: area/artemis, area/dependencies, area/testing, triage/backport?, triage/waiting-for-ci

#6660 Fix Kafka Codec Registration
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  integration-tests/kafka/pom.xml
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/codecs/CodecEndpoint.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/codecs/Movie.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/codecs/MovieDeserializer.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/codecs/Person.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/codecs/PersonDeserializer.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/codecs/Pet.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/codecs/PetCodec.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaCodecITCase.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaCodecTest.java
Labels: area/kafka, kind/bug, triage/backport?

#6659 Remove elytron-security-ldap
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  ci-templates/stages.yml
  docs/src/main/asciidoc/security-ldap.adoc
  extensions/elytron-security-ldap/deployment/pom.xml
  extensions/elytron-security-ldap/deployment/src/main/java/io/quarkus/elytron/security/ldap/deployment/ElytronSecurityLdapProcessor.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/CustomRoleDecoder.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/CustomRoleDecoderTest.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/LdapSecurityRealmTest.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/MinimalConfigurationTest.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/ParametrizedPathsResource.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/RolesEndpointClassLevel.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/SingleRoleSecuredServlet.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/SubjectExposingResource.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/TestApplication.java
  extensions/elytron-security-ldap/deployment/src/test/resources/custom-role-decoder/application.properties
  extensions/elytron-security-ldap/deployment/src/test/resources/minimal-config/application.properties
  extensions/elytron-security-ldap/pom.xml
  extensions/elytron-security-ldap/runtime/pom.xml
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/DelegatingLdapContext.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/LdapRecorder.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/QuarkusDirContextFactory.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/AttributeMappingConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/DirContextConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/IdentityMappingConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/LdapSecurityRealmConfig.java
  extensions/elytron-security-ldap/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/elytron-security-ldap/pom.xml
  integration-tests/elytron-security-ldap/src/main/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapResource.java
  integration-tests/elytron-security-ldap/src/main/resources/application.properties
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronLdapExtensionTestResources.java
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapIT.java
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapTest.java
  integration-tests/pom.xml
Labels: area/dependencies, area/documentation, triage/backport?

#6666 Don't restart on web resource change
  core/devmode/src/main/java/io/quarkus/dev/RuntimeUpdatesProcessor.java
  extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyBuiltinsProcessor.java
  extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/ExceptionMapperRecorder.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/NotFoundExceptionMapper.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/StaticResourceFilesBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/UndertowStaticResourcesBuildStep.java
Labels: area/core, area/resteasy, area/undertow, triage/backport?

#6671 Fix restricting bean types via @Typed
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/resolution/TypedTest.java
Labels: triage/backport?

#3394 Introduce quarkus-cache extension
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  ci-templates/stages.yml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  docs/src/main/asciidoc/application-data-caching.adoc
  extensions/cache/deployment/pom.xml
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheAnnotationsTransformer.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheConfig.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheDeploymentConstants.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheMethodValidator.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CaffeineCacheInfoBuilder.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/IllegalReturnTypeException.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/MultipleCacheAnnotationsException.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/CacheConfigTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/CacheResultVoidReturnTypeTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/MultipleCacheAnnotationsTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/UnknownCacheTypeTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/devmode/CacheHotReloadResource.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/devmode/CacheHotReloadTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheKeyBuilderTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheResultCompletionStageReturnTypeTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CaffeineCacheLockTimeoutTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/DefaultKeyCacheTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ExplicitCompositeKeyCacheTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ExplicitSimpleKeyCacheTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ImplicitCompositeKeyCacheTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ImplicitSimpleKeyCacheTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/NullKeyOrValueCacheTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/SharedCacheTest.java
  extensions/cache/deployment/src/test/resources/cache-config-test.properties
  extensions/cache/pom.xml
  extensions/cache/runtime/pom.xml
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheInvalidate.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheInvalidateAll.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheKey.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheResult.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheKeyBuilder.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheRepository.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/NullValueConverter.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheAnnotationInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheInvalidate.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheInvalidateAll.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheInvalidateAllInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheResult.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCache.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheBuildRecorder.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheInfo.java
  extensions/cache/runtime/src/main/resources/META-INF/beans.xml
  extensions/cache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/cache/pom.xml
  integration-tests/cache/src/main/java/io/quarkus/it/cache/ExpensiveResource.java
  integration-tests/cache/src/test/java/io/quarkus/it/cache/CacheITCase.java
  integration-tests/cache/src/test/java/io/quarkus/it/cache/CacheTestCase.java
  integration-tests/pom.xml
Labels: area/core, area/dependencies, area/documentation

#6676 Use network bridge for docker to avoid hostname can't be null fail
  integration-tests/jpa-mariadb/pom.xml
  integration-tests/jpa-mssql/pom.xml
  integration-tests/reactive-mysql-client/pom.xml
Labels: area/hibernate-orm, area/persistence, area/reactive, triage/waiting-for-ci

#6252 fix: handling of arrays in kubernetes properties
  bom/runtime/pom.xml
  integration-tests/kubernetes/src/it/knative/verify.groovy
  integration-tests/kubernetes/src/it/kubernetes-with-application-properties/verify.groovy
  integration-tests/kubernetes/src/it/kubernetes-with-client/verify.groovy
  integration-tests/kubernetes/src/it/kubernetes-with-smallrye-health/verify.groovy
  integration-tests/kubernetes/src/it/kubernetes/verify.groovy
  integration-tests/kubernetes/src/it/openshift-with-application-properties/verify.groovy
  integration-tests/kubernetes/src/it/openshift/verify.groovy
Labels: area/dependencies, area/kubernetes, triage/backport?

#6689 doc: improve the Kubernetes extension docs slightly
  docs/src/main/asciidoc/kubernetes.adoc
Labels: area/documentation, triage/backport?

#6684 -H:+AddAllCharsets passed to native-image even though no extension requested it
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/DeprecatedBuildItemProcessor.java
Labels: area/core, triage/backport?

#6672 Add support for .yml in addition to .yaml
  docs/src/main/asciidoc/config.adoc
  extensions/config-yaml/deployment/src/main/java/io/quarkus/config/yaml/deployment/ConfigYamlProcessor.java
  extensions/config-yaml/deployment/src/test/java/io/quarkus/config/yaml/deployment/ApplicationYamlHotDeploymentTest.java
  extensions/config-yaml/deployment/src/test/java/io/quarkus/config/yaml/deployment/FooResource.java
  extensions/config-yaml/deployment/src/test/resources/application.yml
  extensions/config-yaml/runtime/src/main/java/io/quarkus/config/yaml/runtime/ApplicationYamlProvider.java
  extensions/config-yaml/runtime/src/test/java/io/quarkus/config/yaml/runtime/ApplicationYamlTest.java
  extensions/config-yaml/runtime/src/test/resources/application.yml
Labels: area/config, area/documentation, triage/backport?

#6674 Thread safety issues
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/health/DataSourceHealthCheck.java
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2AuthMechanism.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronSecurityDomainManager.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronTokenIdentityProvider.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronTrustedIdentityProvider.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayProducer.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/DefaultEntityManagerFactoryProducer.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/DefaultEntityManagerProducer.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/InfinispanEmbeddedProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerAuthorizer.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientProducer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/ReactiveMailerImpl.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientProducer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcJwtCallerPrincipal.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSupport.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/VariantTemplateProducer.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerSupport.java
  extensions/smallrye-context-propagation/runtime/src/main/java/io/quarkus/smallrye/context/runtime/SmallRyeContextPropagationProvider.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaParserProducer.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultServiceProducer.java
  integration-tests/oidc/src/main/resources/application.properties
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/hibernate-orm, area/infinispan, area/kafka-streams, area/kubernetes, area/mongodb, area/oidc, area/qute, area/scheduler, area/security, area/smallrye, area/tika, area/vault, triage/backport?, triage/waiting-for-ci

#6700 Set a higher timeout for Vert.x tests
  ci-templates/stages.yml
Labels: area/infra

#6681 Ensure that a missing user.country system property doesn't break the application
  core/runtime/src/main/java/io/quarkus/runtime/LocalesBuildTimeConfig.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/UserCountryNotSetValidatorLocaleTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/config, area/core, area/hibernate-validator, area/testing, triage/backport?, triage/waiting-for-ci

#6699 Enable JNI for logging-gelf
  ci-templates/stages.yml
  extensions/logging-gelf/deployment/src/main/java/io/quarkus/logging/gelf/deployment/GelfLogHandlerProcessor.java
Labels: area/logging, triage/backport?

#6692 Update JWT guide with a list of smallrye-jwt properties
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation, triage/backport?

#6694 Add comment about the use of Config.ensureInitialized
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
Labels: area/config, area/core

#6675 Qute - fix default template extensions for java.util.Map
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TemplateExtensionMethodsTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/BuiltinTemplateExtensions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
Labels: area/qute, triage/backport?, triage/waiting-for-ci

#6712 Gizmo 1.0.1.Final
  bom/runtime/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#6708 doc: fix security-jwt.adoc according to quickstart project
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation, triage/backport?

#6711 RESTEasy standalone does not serve files if http-root is set
  extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/files/StaticFileWithResourcesHttpRootTest.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
Labels: area/resteasy, triage/backport?

#6715 Add example of adding multiple classes to --initialize-at-run-time
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation

#6714 Fix bug in KubernetesClientProducer causing wrong config for kubernetes client
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientProducer.java
Labels: area/kubernetes, triage/backport?

#6716 Disable the DNS resolver when creating the options
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/vertx, triage/backport?, triage/waiting-for-ci

#6665 Fix a problem where env vars do not have the right ordinal
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
Labels: area/config, area/core, triage/backport?

#6731 Fix a few links in the documentation
  docs/src/main/asciidoc/lifecycle.adoc
  docs/src/main/asciidoc/spring-security.adoc
Labels: area/documentation, triage/backport?

#6729 Vault Transit Engine guide
  docs/src/main/asciidoc/vault-transit.adoc
  extensions/vault/deployment/src/main/java/io/quarkus/vault/VaultProcessor.java
Labels: area/documentation, area/vault, triage/backport?, triage/waiting-for-ci

#6727 Make optional the oauth2 configuration when the extension is disabled
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/OAuth2Config.java
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/OAuth2Recorder.java
Labels: area/security, triage/backport?, triage/waiting-for-ci

#6530 Optimize @BsonProperty replacement
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/PanacheResourceProcessor.java
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/PropertyMappingClassBuildStep.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoRecorder.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/MongoPropertyUtil.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/PanacheQlQueryBinder.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/PanacheQueryImpl.java
  extensions/panache/mongodb-panache/runtime/src/test/java/io/quarkus/mongodb/panache/runtime/MongoOperationsTest.java
Labels: area/mongodb, area/panache, triage/waiting-for-ci

#6718 Add first take on native image CI in cron
  .github/NativeBuildReport.kts
  .github/workflows/native-cron-build.yml
Labels: triage/waiting-for-ci

#6732 Fix test exception handling
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#6737 Ensure that the cron job's report is always executed
  .github/workflows/native-cron-build.yml
Labels: area/infra

#6743 Add a wildcard org.wildfly.security match
  .dependabot/config.yml
Labels: area/dependencies, triage/waiting-for-ci

#6741 Fix GraalVM json resource handling and add infinispan-embedded to native CI
  ci-templates/stages.yml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, triage/waiting-for-ci

#6703 Hibernate ORM should not resolve placeholders in configuration properties
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
Labels: area/hibernate-orm, kind/enhancement, triage/waiting-for-ci

#6702 Set the Hibernate ORM CONNECTION_HANDLING strategy to DELAYED_ACQUISITION_AND_RELEASE_AFTER_TRANSACTION by default
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
Labels: area/hibernate-orm, kind/enhancement, triage/waiting-for-ci

#6686 Vert.x Verticles support
  extensions/vertx-core/deployment/pom.xml
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx-core/deployment/src/test/java/io/quarkus/vertx/core/deployment/VerticleWithClassNameDeploymentTest.java
  extensions/vertx-core/deployment/src/test/java/io/quarkus/vertx/core/deployment/VerticleWithInstanceDeploymentTest.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx/deployment/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/devmode/MyVerticle.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/devmode/VerticleClassnameHotReloadTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/devmode/VerticleInstanceHotReloadTest.java
  integration-tests/vertx/pom.xml
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/verticles/BareVerticle.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/verticles/RxVerticle.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/verticles/VerticleDeployer.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/verticles/VerticleEndpoint.java
  integration-tests/vertx/src/test/java/io/quarkus/it/vertx/VerticleIT.java
  integration-tests/vertx/src/test/java/io/quarkus/it/vertx/VerticleTest.java
Labels: area/vertx, kind/bug, triage/waiting-for-ci

#6749 Update to Vert.x 3.8.5
  bom/runtime/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#6768 Synchronize docs with changes in quickstarts
  docs/src/main/asciidoc/rest-client-multipart.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
  docs/src/main/asciidoc/spring-data-jpa.adoc
Labels: area/documentation

#6762 Upgrade to Hibernate Search 6.0.0.Beta4
  bom/runtime/pom.xml
  extensions/hibernate-search-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/elasticsearch/HibernateSearchElasticsearchProcessor.java
Labels: area/dependencies, area/hibernate-search, triage/waiting-for-ci

#6775 #issue-6774 fix for qute documentation
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation

#6750 Allows empty Sort.by
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/test/JpaOperationsSortTest.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/JpaOperations.java
Labels: area/panache

#6728 Update wildfly-elytron version to 2.0.0.Alpha6
  bom/runtime/pom.xml
  extensions/elytron-security-common/runtime/src/main/java/io/quarkus/elytron/security/common/runtime/graal/Target_org_wildfly_security_password_interfaces_BCryptPassword.java
  extensions/elytron-security-common/runtime/src/main/java/io/quarkus/elytron/security/common/runtime/graal/Target_org_wildfly_security_password_interfaces_BSDUnixDESCryptPassword.java
  extensions/elytron-security-common/runtime/src/main/java/io/quarkus/elytron/security/common/runtime/graal/Target_org_wildfly_security_password_interfaces_ClearPassword.java
  extensions/elytron-security-common/runtime/src/main/java/io/quarkus/elytron/security/common/runtime/graal/Target_org_wildfly_security_password_interfaces_MaskedPassword.java
  extensions/elytron-security-common/runtime/src/main/java/io/quarkus/elytron/security/common/runtime/graal/Target_org_wildfly_security_password_interfaces_RawClearPassword.java
  extensions/elytron-security-common/runtime/src/main/java/io/quarkus/elytron/security/common/runtime/graal/Target_org_wildfly_security_password_interfaces_RawMaskedPassword.java
  extensions/elytron-security-common/runtime/src/main/java/io/quarkus/elytron/security/common/runtime/graal/Target_org_wildfly_security_x500_util_X500PrincipalUtil.java
Labels: area/dependencies, area/security, triage/waiting-for-ci

#6769 Add missing caffeine-deployment to hibernate-orm-deployment
  extensions/hibernate-orm/deployment/pom.xml
Labels: area/hibernate-orm, triage/backport?, triage/waiting-for-ci

#6784 Send method is deprecated
  docs/src/main/asciidoc/reactive-messaging.adoc
Labels: area/documentation

#6773 Use simplified form of newArray
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/proxy/ProxyFactory.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ClassConfigPropertiesUtil.java
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityCheckInstantiationUtil.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/StockMethodsAdder.java
  extensions/spring-security/deployment/src/main/java/io/quarkus/spring/security/deployment/PreAuthorizeSecurityCheckUtil.java
Labels: area/arc, area/config, area/core, area/hibernate-orm, area/security, area/spring, triage/waiting-for-ci

#6803 Revert "Work around an issue in vertx where getting remote/client SocketAddress of the request leads to a NPE"
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/LazyHostSupplier.java
Labels: area/resteasy, triage/waiting-for-ci

#6791 feat(flyway): add a out-of-order configuration knob
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayCreator.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  extensions/flyway/runtime/src/test/java/io/quarkus/flyway/runtime/FlywayCreatorTest.java
Labels: area/persistence

#6808 Re-enable TracingTest.testContextPropagationInFaultTolerance()
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TracingTest.java
Labels: area/smallrye

#6806 Fix for Qute Quickstart in native image
  ci-templates/stages.yml
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplatePathBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/UserTagTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  integration-tests/pom.xml
  integration-tests/qute/pom.xml
  integration-tests/qute/src/main/java/io/quarkus/it/qute/HelloResource.java
  integration-tests/qute/src/main/resources/templates/hello.html
  integration-tests/qute/src/main/resources/templates/tags/myTag.html
  integration-tests/qute/src/test/java/io/quarkus/it/qute/QuteITCase.java
  integration-tests/qute/src/test/java/io/quarkus/it/qute/QuteTestCase.java
Labels: area/qute

#6788 Upgrade to ASM 7.3.1
  bom/runtime/pom.xml
  independent-projects/bootstrap/pom.xml
Labels: area/dependencies

#6734 Handle multiple output directories in Kotlin projects
  core/devmode/src/main/java/io/quarkus/dev/DevModeContext.java
  core/devmode/src/main/java/io/quarkus/dev/IsolatedDevModeMain.java
  core/devmode/src/main/java/io/quarkus/dev/RuntimeUpdatesProcessor.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
Labels: area/core, area/gradle, area/vertx

#6816 Don't allow QuarkusUnitTest access to classes in the test directory that are not part of the deployment
  extensions/amazon-dynamodb/deployment/src/test/java/io/quarkus/dynamodb/deployment/DynamodbMissingInterceptorConfigTest.java
  extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/BcryptPasswordMapperTest.java
  extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/CustomRoleDecoderTest.java
  extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/MinimalConfigurationTest.java
  extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/MultipleDataSourcesTest.java
  extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/MultipleQueriesConfigurationTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/validation/JPAValidationTestCase.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/ConstraintValidatorLocalesTest.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/JsonFormatterCustomConfigTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerCustomTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerDisabledTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerWrongTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/DefaultGroupsUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/JwtAuthUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/JwtCookieUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/PrimitiveInjectionUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/PrincipalInjectionUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/RequiredClaimsUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/RolesAllowedUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/ScopingUnitTest.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/ServletDestroyTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CoresSecurityTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/DefaultDenyTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthCookiesTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthNoRedirectTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/PermitDenyAllTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/RolesAllowedTestCase.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/CodecTest.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultAppRoleITCase.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/hibernate-orm, area/hibernate-validator, area/logging, area/security, area/smallrye, area/testing, area/undertow, area/vertx, triage/waiting-for-ci

#6844 Limit memory usage in tests
  devtools/maven/src/main/java/io/quarkus/maven/RemoteDevMojo.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/RunAndCheckMojoTestBase.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/verifier/RunningInvoker.java
Labels: area/maven, area/testing

#6721 Reimplement RuntimeBeanProcessor to register synthetic beans
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/RuntimeBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/RuntimeBeanProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeansProcessor.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ArcRecorder.java
  extensions/elytron-security-oauth2/deployment/src/main/java/io/quarkus/elytron/security/oauth2/deployment/OAuth2DeploymentProcessor.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/ServletContextInjectionTestCase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Qualifiers.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/build/extension/beans/BeanRegistrarTest.java
Labels: area/arc, area/security, area/undertow

#6840 Make sure TCCL is correct for outer test class
  integration-tests/jsonb/src/test/java/io/quarkus/it/jsonb/JsonInStaticBlockTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#6838 Add integration test verifying it's possible to override Kubernetes configuration via system properties
  integration-tests/kubernetes/src/it/kubernetes-with-sys-group/invoker.properties
  integration-tests/kubernetes/src/it/kubernetes-with-sys-group/pom.xml
  integration-tests/kubernetes/src/it/kubernetes-with-sys-group/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/src/it/kubernetes-with-sys-group/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/kubernetes-with-sys-group/verify.groovy
Labels: area/kubernetes

#6835 KubernetesProcessor is now using OutputTargetBuildItem to determine jar name
  extensions/kubernetes/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/src/it/openshift-with-overriden-name/pom.xml
  integration-tests/kubernetes/src/it/openshift-with-overriden-name/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/src/it/openshift-with-overriden-name/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/openshift-with-overriden-name/verify.groovy
Labels: area/kubernetes

#6825 Test a JWT noarg sign() method
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/JwtCookieUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/TokenUtils.java
  extensions/smallrye-jwt/deployment/src/test/resources/applicationJwtCookie.properties
Labels: area/smallrye, triage/waiting-for-ci

#6845 Add manifest info to the package
  core/test-extension/deployment/src/test/java/io/quarkus/extest/PackageTestCase.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/core, triage/waiting-for-ci

#6843 Explicitly invoke the Process.destroy method
  test-framework/maven/src/main/java/io/quarkus/maven/it/verifier/RunningInvoker.java
Labels: area/maven, area/testing, triage/waiting-for-ci

#6822 Fix broken copy json resources
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  integration-tests/spring-data-jpa/pom.xml
  integration-tests/spring-data-jpa/src/main/resources/dummy.json
Labels: area/core, triage/waiting-for-ci

#6851 Provide the content of environment file for the Java s2i
  docs/src/main/asciidoc/deploying-to-openshift-s2i.adoc
Labels: area/documentation

#6854 Remove unused DebugAnnProcessor
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/DebugAnnProcessor.java
Labels: area/security, triage/waiting-for-ci

#6818 Properly pass JVM Target options to kotlin dev-mode
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
Labels: area/kotlin, triage/waiting-for-ci

#6815 Extensions/jdbc/mariadb: fix new Options class path registered for reflection
  extensions/jdbc/jdbc-mariadb/deployment/src/main/java/io/quarkus/jdbc/mariadb/deployment/MariaDBJDBCReflections.java
Labels: triage/waiting-for-ci

#6861 JaCoCo update to 0.8.5
  pom.xml
Labels: triage/waiting-for-ci

#6859 exclude resteasy-cdi from quarkus rest client
  extensions/rest-client/runtime/pom.xml
Labels: area/rest-client, triage/waiting-for-ci

#6863 Register remaining XML parsing infrastructure for quarkus-jaxb
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
Labels: area/jaxb, triage/waiting-for-ci

#6856 Rename application-data-caching.adoc to cache.adoc
  docs/src/main/asciidoc/cache.adoc
  extensions/cache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/cache, area/documentation, triage/backport?, triage/waiting-for-ci

#6865 Fix incorrect Maven dependencies in Kafka Reactive Messaging tutorial
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#6874 Fix duplicate dependencies issue in OpenTracing guide
  docs/src/main/asciidoc/opentracing.adoc
Labels: area/documentation

#6850 ArC bean generator - reduce some boilerplate code
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/FieldDescriptors.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Qualifiers.java
Labels: triage/waiting-for-ci

#6829 Make sure all Arc build items have at least some javadoc
  core/deployment/src/main/java/io/quarkus/deployment/builditem/CombinedIndexBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AnnotationsTransformerBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveIndexBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanContainerBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanContainerListenerBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanDeploymentValidatorBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanRegistrarBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ContextRegistrarBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/InjectionPointTransformerBuildItem.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeploymentValidator.java
Labels: area/arc, area/core

#6837 Use quarkus.http.root-path when creating kubernetes health related build items
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  integration-tests/kubernetes/src/it/kubernetes-with-http-root-and-health/pom.xml
  integration-tests/kubernetes/src/it/kubernetes-with-http-root-and-health/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/src/it/kubernetes-with-http-root-and-health/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/kubernetes-with-http-root-and-health/verify.groovy
  integration-tests/kubernetes/src/it/kubernetes-with-smallrye-health/pom.xml
Labels: area/kubernetes, area/smallrye

#6867 Have the JSchTest open ports on localhost rather than try guessing the address
  integration-tests/jsch/src/test/java/io/quarkus/it/jsch/JSchTest.java
Labels: triage/waiting-for-ci

#6688 awaitility and okhttp version update
  .dependabot/config.yml
  bom/runtime/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#6691 spring-data-jpa: support custom return type for @Query annotation
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/AbstractMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/GenerationUtil.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/SpringDataRepositoryCreator.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/Book.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/BookRepositoryBadAlias.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/QueryReturningCustomTypeBadAliasTest.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/BookRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/BookResource.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieResource.java
  integration-tests/spring-data-jpa/src/main/resources/application.properties
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/BookResourceTest.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/MovieResourceTest.java
Labels: area/dependencies, area/documentation, area/hibernate-orm, area/spring, triage/waiting-for-ci
