Repository quarkusio/quarkus, pull requests merged in 2020-09, with the labels that each got.

#8695 Support of multiple persistence units for Hibernate Panache
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaModelPersistenceUnitMappingBuildItem.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/AbstractJpaOperations.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/pom.xml
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/KotlinPanacheResourceProcessor.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/DefaultPanacheEntityToStringTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/NoConfigTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/DefaultPersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/DefaultPersistenceUnitFileTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/ErroneousPersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/MultiplePersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/PanacheTestResource.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/first/FirstEntity.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/second/SecondEntity.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/resources/META-INF/some-persistence.xml
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/resources/application-erroneous-multiple-persistence-units.properties
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/resources/application-multiple-persistence-units.properties
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/resources/application.properties
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/java/io/quarkus/hibernate/orm/panache/kotlin/runtime/JpaOperations.java
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/java/io/quarkus/hibernate/orm/panache/kotlin/runtime/PanacheKotlinHibernateOrmRecorder.java
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheEntityBase.kt
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheRepositoryBase.kt
  extensions/panache/hibernate-orm-panache/deployment/pom.xml
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/DefaultPanacheEntityToStringTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/DuplicateIdEntity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/DuplicateIdEntityTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/DuplicateIdParentEntity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/DuplicateIdWithParentEntity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/DuplicateIdWithParentTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/EntityManagerTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/JpaOperationsSortTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/MyEntity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/MyOtherEntity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/MyOtherTestResource.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/MyTestResource.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/NoConfigTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/PanacheHotReloadTestCase.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/DefaultPersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/DefaultPersistenceUnitFileTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/ErroneousPersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/MultiplePersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/PanacheTestResource.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/first/FirstEntity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/second/SecondEntity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/resources/META-INF/some-persistence.xml
  extensions/panache/hibernate-orm-panache/deployment/src/test/resources/application-erroneous-multiple-persistence-units.properties
  extensions/panache/hibernate-orm-panache/deployment/src/test/resources/application-multiple-persistence-units.properties
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/Panache.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntityBase.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheRepositoryBase.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/JpaOperations.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/PanacheHibernateOrmRecorder.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
Labels: area/core, area/hibernate-orm, area/panache, triage/waiting-for-ci

#11770 mention cassandra-quarkus-client in the section about extensions that support SSL
  docs/src/main/asciidoc/native-and-ssl.adoc
Labels: area/documentation

#11767 Fix wrong extension name in kafka example
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation, triage/backport?

#11763 Revert "Disable failing CodeStarts test"
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/CodestartsTest.java
Labels: area/codestarts, area/devtools, area/platform, triage/waiting-for-ci

#11777 Upgrade to Debezium 1.2.2.Final
  bom/test/pom.xml
Labels: area/dependencies

#11776 Upgrade Liquibase to 3.10.2 - 1.7
  bom/application/pom.xml
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
Labels: area/dependencies, area/kubernetes

#11784 Fix reactive Mongo client CDI handling
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoNamedClientClientBuildItemConsumerTest.java
  extensions/mongodb-client/deployment/src/test/resources/named-mongoclient.properties
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientBeanUtil.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientRecorder.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/runtime/ReactiveMongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/BeanUtils.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/MongoOperations.java
Labels: area/mongodb, area/panache, triage/backport?

#11764 Use neutral container image over docker image
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.fast-jar
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.jvm
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.native
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-fast-jar.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-jvm.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-native.ftl
Labels: area/codestarts, area/devtools

#11788 Bump to Gradle 6.6.1
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ListExtensionsCommandHandler.java
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/dependencies, area/devtools, area/gradle, area/platform, triage/waiting-for-ci

#11716 Correctly handle directories in getResourceAsStream of QuarkusClassLoader
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/classloader/ClassLoadingResourceUrlTestCase.java
Labels: area/devtools

#11748 When using Secrets, config functionality should be auto enabled
  extensions/kubernetes-config/deployment/src/main/java/io/quarkus/kubernetes/config/deployment/KubernetesConfigProcessor.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigRecorder.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceProvider.java
  extensions/kubernetes-config/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceProviderTest.java
  integration-tests/kubernetes-client/src/main/resources/application.properties
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/NamespacedConfigMapPropertiesTest.java
  integration-tests/kubernetes-client/src/test/resources/application-demo.properties
Labels: area/kubernetes

#11771 OIDC ID token auto-refresh support
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TokenAutoRefreshException.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantAutoRefresh.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#11772 Support multitenancy with multiple persistence units
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfigSupport.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordedState.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/DataSourceTenantConnectionResolver.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/HibernateMultiTenantConnectionProvider.java
Labels: area/hibernate-orm

#11800 Upgrade SmallRye GraphQL to 1.0.9
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/AbstractGraphQLTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/MetricsTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#11796 Define a deterministic ordering for ConfigMap and Secret ConfigSources
  docs/src/main/asciidoc/kubernetes-config.adoc
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/AbstractKubernetesConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/ConfigMapConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceConfig.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceProvider.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/OrdinalData.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/SecretConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/ConfigMapConfigSourceUtilTest.java
  extensions/kubernetes-config/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/SecretConfigSourceUtilTest.java
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/SecretProperties.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/CustomKubernetesMockServerTestResource.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/SecretPropertiesTest.java
Labels: area/documentation, area/kubernetes, triage/backport-1.7?, triage/backport?, triage/waiting-for-ci

#11811 Remove DEBUG logging for Micrometer tests
  extensions/micrometer/deployment/src/test/resources/test-logging.properties
  integration-tests/micrometer-jmx/pom.xml
  integration-tests/micrometer-jmx/src/main/resources/application.properties
  integration-tests/micrometer-mp-metrics/pom.xml
  integration-tests/micrometer-mp-metrics/src/main/resources/application.properties
  integration-tests/micrometer-prometheus/pom.xml
  integration-tests/micrometer-prometheus/src/main/resources/application.properties
Labels: triage/backport?

#11808 Handle post-authentication exceptions correctly
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
Labels: area/vertx, triage/backport-1.7?, triage/backport?

#11814 Improve CI consistency
  .github/workflows/ci-actions.yml
  integration-tests/maven/src/test/java/io/quarkus/maven/CreateExtensionMojoTest.java
Labels: area/infra, area/infra-automation, area/maven

#11809 Fix disabled k8s client test
  integration-tests/kubernetes-client/pom.xml
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/AbsentConfigMapPropertiesPMT.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
Labels: area/kubernetes, triage/backport-1.7?, triage/backport?, triage/waiting-for-ci

#11825 Default platform version range should be [major.minor-alpha,major.minor+1]
  devtools/maven/src/main/java/io/quarkus/maven/CreateUtils.java
Labels: area/devtools, area/maven, triage/backport?

#11817 Allow RestEasy JAXB collection serialization in native mode
  extensions/resteasy-jaxb/deployment/src/main/java/io/quarkus/resteasy/jaxb/deployment/ResteasyJaxbProcessor.java
  extensions/resteasy-jaxb/deployment/src/test/java/io/quarkus/resteasy/jaxb/deployment/ProducesXMLTestCase.java
Labels: area/resteasy, triage/backport?, triage/waiting-for-ci

#11827 Fix enforcer rules deployment
  independent-projects/enforcer-rules/pom.xml
  independent-projects/enforcer-rules/src/main/java/io/quarkus/enforcer/RequiresMinimalDeploymentDependency.java
Labels: triage/backport?

#11802 Handle empty non existing resource directory in gradle plugin
  core/deployment/src/main/java/io/quarkus/deployment/dev/IDEDevModeMain.java
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  devtools/gradle/src/test/java/io/quarkus/gradle/builder/QuarkusModelBuilderTest.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/model/impl/SourceSetImpl.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/util/QuarkusModelHelper.java
  integration-tests/gradle/src/test/resources/basic-java-application-project/settings.gradle
Labels: area/core, area/devtools, area/gradle, triage/backport-1.7?, triage/backport?

#11837 Make dependabot run later when we have even less CI jobs running
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#11803 Add some logging to codestarts
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/GradleMessageWriter.java
  devtools/maven/src/main/java/io/quarkus/maven/AddExtensionMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/ListExtensionsMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusProjectMojoBase.java
  devtools/maven/src/main/java/io/quarkus/maven/RemoveExtensionMojo.java
  devtools/maven/src/main/java/io/quarkus/platform/tools/maven/MojoMessageWriter.java
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptor.java
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/maven/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/project/quarkus/base/README.tpl.qute.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/azure-functions-http-example/base/README.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/azure-functions-http-example/base/src/main/resources/application.tpl.qute.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/azure-functions-http-example/codestart.yml
  independent-projects/tools/codestarts/codestarts.adoc
  independent-projects/tools/codestarts/pom.xml
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/Codestart.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartInput.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartInputBuilder.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartProcessor.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartProject.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartSpec.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartType.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/Codestarts.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/CodestartFileStrategy.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/CodestartLoaderTest.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/CodestartProcessorTest.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/CodestartsTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/QuarkusCodestartInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/QuarkusCodestarts.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/AddExtensions.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/ListExtensions.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/RemoveExtensions.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/data/QuarkusCommandInvocation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/AddExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ListExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/QuarkusCommandHandlers.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/RemoveExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/descriptor/loader/json/QuarkusJsonPlatformDescriptorLoaderContext.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/tools/config/QuarkusPlatformConfig.java
  independent-projects/tools/message-writer/pom.xml
  independent-projects/tools/message-writer/src/main/java/io/quarkus/devtools/messagewriter/DefaultMessageWriter.java
  independent-projects/tools/message-writer/src/main/java/io/quarkus/devtools/messagewriter/MessageIcons.java
  independent-projects/tools/message-writer/src/main/java/io/quarkus/devtools/messagewriter/MessageWriter.java
  independent-projects/tools/platform-descriptor-api/pom.xml
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/descriptor/loader/QuarkusPlatformDescriptorLoaderContext.java
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/tools/ConsoleMessageFormats.java
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/tools/DefaultMessageWriter.java
  independent-projects/tools/platform-descriptor-resolver-json/src/main/java/io/quarkus/platform/descriptor/resolver/json/QuarkusJsonPlatformDescriptorResolver.java
  independent-projects/tools/platform-descriptor-resolver-json/src/test/java/io/quarkus/platform/descriptor/resolver/json/test/QuarkusJsonPlatformDescriptorResolverTest.java
  independent-projects/tools/pom.xml
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/QuarkusCodestartRunIT.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/QuarkusCodestartsIT.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/ListExtensionsTest.java
Labels: area/codestarts, area/devtools, area/gradle, area/maven, area/platform

#11835 K8s prs 1.7
  docs/src/main/asciidoc/kubernetes-config.adoc
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/AbstractKubernetesConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/ConfigMapConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceConfig.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceProvider.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/OrdinalData.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/SecretConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/ConfigMapConfigSourceUtilTest.java
  extensions/kubernetes-config/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/SecretConfigSourceUtilTest.java
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/SecretProperties.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/CustomKubernetesMockServerTestResource.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/SecretPropertiesTest.java
Labels: area/documentation, area/kubernetes

#11836 Bump dekorate
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-1.7?, triage/backport?

#11450 quarkus cli 2.0
  bom/application/pom.xml
  devtools/aesh/README.md
  devtools/aesh/pom.xml
  devtools/aesh/reflectconfigs/quarkuscli.json
  devtools/aesh/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/AddExtensionsCommand.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/BuildToolConverter.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/CompileProjectCommand.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/CreateProjectCommand.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/DevModeCommand.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/DevModeDebugCompleter.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/DevModeDebugValidator.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ExecuteUtil.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ExtensionCompleter.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ExtensionFormat.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/FormatCompleter.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/FormatConverter.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ListExtensionsCommand.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ProjectTypeCompleter.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/QuarkusBaseCommand.java
  devtools/aesh/src/main/java/io/quarkus/cli/commands/RemoveExtensionCommand.java
  devtools/cli/pom.xml
  devtools/cli/src/main/java/io/quarkus/cli/Add.java
  devtools/cli/src/main/java/io/quarkus/cli/Build.java
  devtools/cli/src/main/java/io/quarkus/cli/Clean.java
  devtools/cli/src/main/java/io/quarkus/cli/Create.java
  devtools/cli/src/main/java/io/quarkus/cli/Dev.java
  devtools/cli/src/main/java/io/quarkus/cli/List.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/main/java/io/quarkus/cli/Remove.java
  devtools/cli/src/main/java/io/quarkus/cli/core/BaseSubCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/core/BuildsystemCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/core/ExecuteUtil.java
  devtools/cli/src/main/java/io/quarkus/cli/core/QuarkusVersion.java
  devtools/cli/src/main/resources/application.properties
  devtools/cli/src/test/java/io/quarkus/cli/CliTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusListExtensions.java
  devtools/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/ListExtensions.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ListExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/RemoveExtensionsCommandHandler.java
Labels: area/cli, area/dependencies, area/devtools

#11845 SmallRye GraphQL Documentation update
  docs/src/main/asciidoc/microprofile-graphql.adoc
Labels: area/documentation, triage/backport?

#11826 Document the Multiple Persistence Units support
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
Labels: area/documentation, triage/backport?

#11850 Update instructions to set fast-jar flag
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-fast-jar.ftl
Labels: area/codestarts, area/devtools, triage/backport?, triage/waiting-for-ci

#11855 Add com.amazonaws:aws-lambda-java-events to Dependabot
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#11854 Fix list output problem in tests
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptor.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartInputBuilder.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/CodestartProcessorTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/data/QuarkusCommandInvocation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/descriptor/loader/json/QuarkusJsonPlatformDescriptorLoaderContext.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/tools/config/QuarkusPlatformConfig.java
  independent-projects/tools/message-writer/src/main/java/io/quarkus/devtools/messagewriter/MessageWriter.java
  independent-projects/tools/platform-descriptor-resolver-json/src/main/java/io/quarkus/platform/descriptor/resolver/json/QuarkusJsonPlatformDescriptorResolver.java
  independent-projects/tools/platform-descriptor-resolver-json/src/test/java/io/quarkus/platform/descriptor/resolver/json/test/QuarkusJsonPlatformDescriptorResolverTest.java
Labels: area/codestarts, area/devtools, area/platform, triage/waiting-for-ci

#11849 Backport more Mongo fixes to 1.7
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientBuildTimeConfig.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/DefaultAndNamedMongoClientConfigTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoNamedClientClientBuildItemConsumerTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/NamedMongoClientConfigTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/NamedReactiveMongoClientConfigTest.java
  extensions/mongodb-client/deployment/src/test/resources/named-mongoclient.properties
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientBeanUtil.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientRecorder.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/runtime/ReactiveMongoOperations.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/BeanUtils.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/MongoOperations.java
Labels: area/mongodb, area/panache, triage/waiting-for-ci

#11650 Platform JSON: support reading BOM's managed deps from a generated POM
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/GenerateExtensionsJsonMojo.java
Labels: area/devtools, triage/backport?

#11804 Maven bootstrap: resolve workspace for layouts with directory breaks
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-with-dir-breaks/root/module1/break/nested-project/module1/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-with-dir-breaks/root/module1/break/nested-project/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-with-dir-breaks/root/module1/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-with-dir-breaks/root/pom.xml
Labels: area/devtools, triage/backport?

#11852 Fix panache repository operations failure with multiple persistence units
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/KotlinPanacheResourceProcessor.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/repository/Issue11842Entity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/repository/Issue11842Repository.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/repository/Issue11842Resource.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/multiple_pu/repository/MultiplePersistenceUnitConfigForRepositoryTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/resources/application-multiple-persistence-units-for-repository.properties
Labels: area/panache, triage/backport?, triage/waiting-for-ci

#11851 Quiet down Mongo test logs
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoTestBase.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoWithReplicasTestBase.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/reactive/MongoTestBase.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/reactive/MongoWithReplicasTestBase.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/MongoTestResource.java
  integration-tests/mongodb-panache-kotlin/src/main/resources/application.properties
  integration-tests/mongodb-panache-kotlin/src/test/kotlin/io/quarkus/it/mongodb/panache/MongoTestResource.kt
  integration-tests/mongodb-panache/src/main/resources/application.properties
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongoTestResource.java
Labels: area/mongodb, triage/waiting-for-ci

#11862 Gradle IT: if set, pass maven.repo.local to the run task
  integration-tests/gradle/src/test/java/io/quarkus/gradle/MultiModuleUberJarTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/QuarkusDevGradleTestBase.java
  integration-tests/gradle/src/test/resources/basic-java-application-project/build.gradle
Labels: area/gradle, triage/backport?

#11874 Prevent potential NPE during shutdown in GrpcServerReloader
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/GrpcServerReloader.java
Labels: triage/backport-1.7?, triage/backport?

#11876 Remove unused field
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
Labels: area/core, triage/waiting-for-ci

#11877 fixed property names in docs where grpc-server was used instead of grpc.server
  docs/src/main/asciidoc/grpc-service-implementation.adoc
Labels: area/documentation, triage/backport-1.7?, triage/backport?

#11878 Fix NPE when combining security-jpa with form auth
  extensions/security-jpa/deployment/src/main/java/io/quarkus/security/jpa/deployment/QuarkusSecurityJpaProcessor.java
  extensions/security-jpa/deployment/src/test/java/io/quarkus/security/jpa/FormAuthJpaTestCase.java
Labels: triage/backport-1.7?, triage/backport?

#11884 Update Guava to 29.0-jre
  .github/dependabot.yml
  bom/application/pom.xml
Labels: area/dependencies, area/infra-automation, triage/backport?

#11848 CDI programmatic lookup - detect "unused" false positives at runtime
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unused/UnusedExclusionTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ArcRecorder.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/BeanContainerImpl.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/ArcEndpointProcessor.java
  extensions/vertx-http/runtime/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ArcEndpointRecorder.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/Components.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/RemovedBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Qualifiers.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RemovedBeanImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/RemoveUnusedBeansTest.java
  integration-tests/vault-agroal/src/test/java/io/quarkus/vault/AgroalVaultITCase.java
  integration-tests/vault-agroal/src/test/java/io/quarkus/vault/AgroalVaultKv1ITCase.java
  integration-tests/vault-agroal/src/test/java/io/quarkus/vault/VaultKv1ITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultAppRoleITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultAppRoleWrapITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultAuthITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultClientTokenWrapITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultKubernetesITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultMultiPathConfigITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultSysITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultTOTPITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultTransitITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultUserpassKvv1WrapITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultUserpassKvv2WrapITCase.java
Labels: area/arc, area/documentation, area/vault, area/vertx, triage/waiting-for-ci

#11828 Re-enable MutinyTest
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientRecorder.java
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheResourceTest.java
  integration-tests/resteasy-mutiny/src/test/java/io/quarkus/it/resteasy/mutiny/MutinyTest.java
Labels: area/mongodb, area/rest-client, area/resteasy, triage/backport?

#11873 Fix Kotlin integration in the Gradle plugin
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/KotlinGRPCProjectBuildTest.java
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/build.gradle
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/gradle.properties
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/settings.gradle
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/main/kotlin/org/acme/ExampleResource.kt
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/main/resources/META-INF/resources/index.html
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/native-test/kotlin/org/acme/NativeExampleResourceIT.kt
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/test/kotlin/org/acme/ExampleResourceTest.kt
Labels: area/devtools, area/gradle, triage/backport-1.7?, triage/backport?

#11881 Add an SPI BuildItem to publish detected Bean Validation annotations
  bom/application/pom.xml
  extensions/hibernate-validator/deployment/pom.xml
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/pom.xml
  extensions/hibernate-validator/spi/pom.xml
  extensions/hibernate-validator/spi/src/main/java/io/quarkus/hibernate/validator/spi/BeanValidationAnnotationsBuildItem.java
Labels: area/dependencies, area/hibernate-validator

#11885 add jbang labelling
  .github/autoissuelabeler.yml
  .github/boring-cyborg.yml
Labels: area/infra, area/infra-automation

#11904 Re-enable tests that should now work
  integration-tests/mongodb-panache-kotlin/src/test/kotlin/io/quarkus/it/mongodb/panache/reactive/NativeReactiveMongodbPanacheResourceIT.kt
  integration-tests/mongodb-panache-kotlin/src/test/kotlin/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheResourceTest.kt
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/NativeMongodbPanacheResourceIT.java
Labels: area/mongodb

#11797 Make sure the application is shutdown properly in the shutdown hook
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/backport-1.7?, triage/backport?

#11907 Normalize duration default values rendered in documentation
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDoItemFinder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtil.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtilTest.java
Labels: area/core, triage/backport?

#11922 Attempt to get around AccessDeniedException in Windows
  core/deployment/src/main/java/io/quarkus/deployment/mutability/DevModeTask.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/IoUtils.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/PropertyUtils.java
Labels: triage/backport-1.7?, triage/backport?

#11912 Make native tests work with random port
  integration-tests/spring-web/src/main/resources/application.properties
  test-framework/common/src/main/java/io/quarkus/test/common/NativeImageLauncher.java
Labels: area/testing, triage/backport-1.7?, triage/backport?

#11932 Docs - CDI intro - add a note about reading fields on client proxies
  docs/src/main/asciidoc/cdi.adoc
Labels: area/documentation

#11897 Narayana - make LifecycleManager from SM CP unremovable
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
Labels: area/narayana, area/smallrye, triage/backport?

#11901 Support the ability to create the schemas on database schema generation
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/Person.java
  integration-tests/jpa-postgresql/src/main/resources/META-INF/beans.xml
  integration-tests/jpa-postgresql/src/main/resources/META-INF/persistence.xml
  integration-tests/jpa-postgresql/src/main/resources/application.properties
Labels: area/hibernate-orm, area/persistence, triage/backport?

#11882 Fix issues with OpenShift sidecar handling
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithLegacySidecarAndS2iTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithSidecarAndS2iTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-legacy-sidecar-and-s2i.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-sidecar-and-s2i.properties
Labels: area/kubernetes, triage/backport-1.7?, triage/backport?

#11933 Fix incorrect ImagePullPolicy forced setting
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageCapabilitiesUtil.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/util/ImageUtil.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerImageUtil.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
Labels: area/kubernetes, triage/backport-1.7?, triage/backport?, triage/waiting-for-ci

#11940 Disable random port usage in tests
  integration-tests/spring-web/src/main/resources/application.properties
Labels: area/testing

#11629 Use HTTPS for the elytron-undertow tests
  integration-tests/elytron-undertow/pom.xml
  integration-tests/elytron-undertow/src/main/resources/application.properties
  integration-tests/elytron-undertow/src/main/resources/server-cert.pem
  integration-tests/elytron-undertow/src/main/resources/server-key.pem
  integration-tests/elytron-undertow/src/test/java/io/quarkus/it/undertow/elytron/BaseAuthRestTest.java
  integration-tests/elytron-undertow/src/test/java/io/quarkus/it/undertow/elytron/BaseAuthTest.java
  integration-tests/elytron-undertow/src/test/java/io/quarkus/it/undertow/elytron/HttpsSetup.java
  integration-tests/elytron-undertow/src/test/java/io/quarkus/it/undertow/elytron/ServletSecurityAnnotationPermissionsTestCase.java
  integration-tests/elytron-undertow/src/test/java/io/quarkus/it/undertow/elytron/WebXmlPermissionsTestCase.java
  test-framework/common/src/main/java/io/quarkus/test/common/NativeImageLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, area/undertow

#11946 Make name of Revapi artifact consistent
  independent-projects/revapi/pom.xml
Labels: triage/backport?

#11930 If parent first fails see if the resource exists in this CL
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
Labels: triage/backport?

#11943 Use smallrye-common-bom 1.4.0
  .github/dependabot.yml
  bom/application/pom.xml
  independent-projects/bootstrap/pom.xml
Labels: triage/waiting-for-ci

#11798 Add the @TestTransaction annotation
  docs/src/main/asciidoc/getting-started-testing.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/test/HibernateTestTransactionCallback.java
  extensions/hibernate-orm/deployment/src/main/resources/META-INF/services/io.quarkus.narayana.jta.runtime.test.TestTransactionCallback
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TestTransactionInterceptor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/test/TestTransactionCallback.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/inheritance/Interceptor1.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/inheritance/Interceptor2.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/inheritance/InterceptorSuperclassTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/inheritance/One.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/inheritance/OverridenInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/inheritance/Two.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/TestTransactionTest.java
  test-framework/common/src/main/java/io/quarkus/test/TestTransaction.java
Labels: area/documentation, area/hibernate-orm, area/narayana, area/testing, release/noteworthy-feature

#11957 Fix jbang ClassLoader issue
  core/launcher/src/main/java/io/quarkus/launcher/JBangIntegration.java
Labels: triage/backport?

#11956 Update to xstream 1.4.13 to reduce illegal reflective access warnings
  .github/dependabot.yml
  test-framework/junit5/pom.xml
Labels: area/testing, triage/backport?

#11935 Fix formatting in BOM for Micrometer artifacts
  bom/application/pom.xml
Labels: triage/backport?

#11948 Don't skip the doc in the initial JDK 11 build
  .github/workflows/ci-actions.yml
Labels: area/infra

#11959 Cleanup the log records held in-memory, in Quarkus test extensions
  test-framework/junit5-internal/src/main/java/io/quarkus/test/InMemoryLogHandler.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
Labels: area/testing

#11865 Support for custom token headers for OIDC service applications
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc

#11963 Assorted Quartz cleanup
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDoItemFinder.java
  docs/src/main/asciidoc/quartz.adoc
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/InvalidTriggerListenerConfigurationTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/RegisterJobListenerTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzBuildTimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzExtensionPointConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRuntimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
Labels: release/breaking-change, release/noteworthy-feature, triage/backport?

#11964 Fix typo in warn message
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
Labels: triage/backport?, triage/waiting-for-ci

#11899 Make store dir relative to build dir when saving OpenAPI schema
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  integration-tests/resteasy-jackson/pom.xml
  integration-tests/resteasy-jackson/src/main/resources/application.properties
Labels: area/resteasy, area/smallrye, triage/backport?

#11941 Various multiple persistence units adjustments
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsClassLevelAnnotationTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsUnaffectedEntities.java
  extensions/hibernate-orm/deployment/src/test/resources/application-multiple-persistence-units-unaffected-entities.properties
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/PersistenceUnit.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/HibernateCurrentTenantIdentifierResolver.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/FastBootReactiveEntityManagerFactoryBuilder.java
  integration-tests/hibernate-tenancy/src/main/java/io/quarkus/it/hibernate/multitenancy/fruit/CustomTenantResolver.java
  integration-tests/hibernate-tenancy/src/main/java/io/quarkus/it/hibernate/multitenancy/fruit/Fruit.java
  integration-tests/hibernate-tenancy/src/main/java/io/quarkus/it/hibernate/multitenancy/fruit/FruitResource.java
  integration-tests/hibernate-tenancy/src/main/java/io/quarkus/it/hibernate/multitenancy/inventory/InventoryResource.java
  integration-tests/hibernate-tenancy/src/main/java/io/quarkus/it/hibernate/multitenancy/inventory/InventoryTenantResolver.java
  integration-tests/hibernate-tenancy/src/main/java/io/quarkus/it/hibernate/multitenancy/inventory/Plane.java
  integration-tests/hibernate-tenancy/src/main/resources/application.properties
  integration-tests/hibernate-tenancy/src/main/resources/database/default/V1.0.0__init_databases.sql
  integration-tests/hibernate-tenancy/src/main/resources/database/inventory/V1.0.0__create_planes.sql
  integration-tests/hibernate-tenancy/src/main/resources/database/inventorymycompany/V1.0.0__create_planes.sql
  integration-tests/hibernate-tenancy/src/test/java/io/quarkus/it/hibernate/multitenancy/fruit/HibernateTenancyFunctionalityInGraalITCase.java
  integration-tests/hibernate-tenancy/src/test/java/io/quarkus/it/hibernate/multitenancy/fruit/HibernateTenancyFunctionalityTest.java
  integration-tests/hibernate-tenancy/src/test/java/io/quarkus/it/hibernate/multitenancy/inventory/HibernateNamedPersistenceUnitTest.java
  integration-tests/hibernate-tenancy/src/test/java/io/quarkus/it/hibernate/multitenancy/inventory/HibernateNamedPersistenceUnitTestInGraalITCase.java
Labels: triage/backport?, triage/waiting-for-ci

#11972 Upgrade Debezium to 1.2.3.Final
  bom/test/pom.xml
Labels: triage/backport?

#11979 Fix elasticsearch extension file directory
  extensions/elasticsearch-rest-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/elasticsearch-rest-high-level-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: triage/backport?

#11789 Rename ContextAwareTokenCredential to OidcTokenCredential and move it out of the runtime package
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/AccessTokenCredential.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/IdTokenCredential.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTokenCredential.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomSecurityIdentityAugmentor.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
Labels: area/oidc, triage/waiting-for-ci

#11864 Bean Validation support in reactive routes
  docs/src/main/asciidoc/reactive-routes.adoc
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx-web/deployment/pom.xml
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/HandlerDescriptor.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/Methods.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/validation/MultiValidationTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/validation/SyncValidationTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/validation/UniValidationTest.java
  extensions/vertx-web/runtime/pom.xml
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/ValidationSupport.java
Labels: area/documentation, area/vertx, release/noteworthy-feature

#11973 Improve index inclusion and Arc exclusion configuration
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexDependencyConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
Labels: area/documentation, triage/backport?

#11955 Add system property as gradle quarkusBuild task input
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
Labels: triage/backport-1.7?, triage/backport?

#11977 Ensure that user-defined quarkus.kubernetes-config.enabled takes precedence over secret
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigRecorder.java
Labels: triage/backport?

#11983 1.7.3 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/mutability/DevModeTask.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  devtools/gradle/build.gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  docs/src/main/asciidoc/grpc-getting-started.adoc
  docs/src/main/asciidoc/grpc-service-implementation.adoc
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageCapabilitiesUtil.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/util/ImageUtil.java
  extensions/elasticsearch-rest-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/elasticsearch-rest-high-level-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/GrpcServerReloader.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerImageUtil.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/security-jpa/deployment/src/main/java/io/quarkus/security/jpa/deployment/QuarkusSecurityJpaProcessor.java
  extensions/security-jpa/deployment/src/test/java/io/quarkus/security/jpa/FormAuthJpaTestCase.java
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/IoUtils.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/PropertyUtils.java
  independent-projects/tools/pom.xml
  integration-tests/gradle/build.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/KotlinGRPCProjectBuildTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/build.gradle
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/gradle.properties
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/settings.gradle
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/main/kotlin/org/acme/ExampleResource.kt
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/main/resources/META-INF/resources/index.html
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/native-test/kotlin/org/acme/NativeExampleResourceIT.kt
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/src/test/kotlin/org/acme/ExampleResourceTest.kt
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithLegacySidecarAndS2iTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithSidecarAndS2iTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-legacy-sidecar-and-s2i.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-sidecar-and-s2i.properties
Labels: area/infra

#11970 Fix Quarkus ClassLoader's jar ProtectionDomain handling
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/JarClassPathElement.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusClassloaderProtectionDomainTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
  integration-tests/maven/src/test/resources/projects/classic/src/main/java/org/acme/ProtectionDomain.java
Labels: area/core, triage/backport?

#11880 Google Cloud Functions Funqy HTTP
  docs/src/main/asciidoc/funqy-gcp-functions-http.adoc
  docs/src/main/asciidoc/gcp-functions-http.adoc
  integration-tests/google-cloud-functions-http/README.md
  integration-tests/google-cloud-functions-http/pom.xml
  integration-tests/google-cloud-functions-http/src/main/java/io/quarkus/it/gcp/functions/http/GreetingFunqy.java
  integration-tests/google-cloud-functions-http/src/test/java/io/quarkus/it/gcp/functions/http/GreetingTest.java
Labels: area/documentation, area/google-cloud-functions

#11989 1.8.0 backports 3
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexDependencyConfig.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iConfig.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/JarClassPathElement.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithS2iTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusClassloaderProtectionDomainTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
  integration-tests/maven/src/test/resources/projects/classic/src/main/java/org/acme/ProtectionDomain.java
Labels: area/infra

#11936 Beans enabled via build profile/properties should not be alternatives
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BuildTimeEnabledProcessor.java
Labels: triage/backport?, triage/waiting-for-ci

#11980 ArC - distinguish "bean archive" and "additional" index
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoAddScopeBuildItem.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanResolver.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinBean.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Injection.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorResolver.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoInjectionsTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoQualifiersTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoTypesTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/index/AdditionalIndexTest.java
Labels: area/arc

#12009 Rest Client - support injection for @RegisterClientHeaders
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/registerclientheaders/EchoClient.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/registerclientheaders/EchoResource.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/registerclientheaders/MyHeadersFactory.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/registerclientheaders/RegisterClientHeadersTest.java
Labels: area/rest-client, triage/waiting-for-ci

#12007 ArC - normalize @Named qualifier when the name is defaulted
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/name/NameResolutionTest.java
Labels: area/arc, triage/backport?

#12010 Use MetricsCapabilityBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  docs/src/main/asciidoc/micrometer-metrics.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
Labels: triage/backport?

#12011 security jpa documentation update
  docs/src/main/asciidoc/security-jpa.adoc
Labels: area/documentation

#11994 Prevent potential infinite loop
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
Labels: triage/backport?

#12033 Fix typo in the OpenAPI Guide
  docs/src/main/asciidoc/openapi-swaggerui.adoc
Labels: triage/backport?, triage/waiting-for-ci

#12045 Register String constructors for reflection
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
Labels: triage/backport-1.7?, triage/backport?

#12032 More security documentation updates
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security.adoc
  docs/src/main/asciidoc/vertx.adoc
Labels: triage/backport?

#12031 Make sure that Funqy types are registered for reflection
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/FunctionScannerBuildStep.java
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/ReflectionRegistrationUtil.java
  extensions/resteasy-common/spi/src/main/java/io/quarkus/resteasy/common/spi/ResteasyDotNames.java
Labels: triage/backport-1.7?, triage/backport?

#12066 Fix documentation related with forwarding headers
  docs/src/main/asciidoc/vertx.adoc
Labels: triage/backport?

#12072 Fix smallrye-jwt documentation typo
  docs/src/main/asciidoc/security-jwt.adoc
Labels: triage/backport?

#10915 Add COMMITTERS.adoc
  .github/workflows/ci-sanity-check.yml
  COMMITTERS.adoc
Labels: area/infra-automation

#11893 Add a RESTEasy Multipart extension
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  docs/src/main/asciidoc/rest-client-multipart.adoc
  docs/src/main/asciidoc/rest-json.adoc
  extensions/pom.xml
  extensions/resteasy-multipart/deployment/pom.xml
  extensions/resteasy-multipart/deployment/src/main/java/io/quarkus/resteasy/multipart/deployment/ResteasyMultipartProcessor.java
  extensions/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/FeedbackBody.java
  extensions/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/FeedbackResource.java
  extensions/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/InvalidEncodingTest.java
  extensions/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/MultipartEncodingTest.java
  extensions/resteasy-multipart/deployment/src/test/resources/application-charset-us-ascii.properties
  extensions/resteasy-multipart/pom.xml
  extensions/resteasy-multipart/runtime/pom.xml
  extensions/resteasy-multipart/runtime/src/main/java/io/quarkus/resteasy/multipart/runtime/MultipartInputPartConfigContainerRequestFilter.java
  extensions/resteasy-multipart/runtime/src/main/java/io/quarkus/resteasy/multipart/runtime/ResteasyMultipartRuntimeConfig.java
  extensions/resteasy-multipart/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-multipart/runtime/src/main/resources/META-INF/services/javax.ws.rs.ext.Providers
Labels: area/core, area/dependencies, release/noteworthy-feature, triage/backport?

#12080 Remove the cancel-previous-run step from the workflow
  .github/workflows/deploy-snapshots.yml
Labels: area/infra

#12065 Add Tika extension dev mode test
  extensions/tika/deployment/pom.xml
  extensions/tika/deployment/src/test/java/io/quarkus/tika/deployment/TikaParserResource.java
  extensions/tika/deployment/src/test/java/io/quarkus/tika/deployment/TikaProcessorDevModeTest.java
  extensions/tika/deployment/src/test/resources/application-dev-mode.properties
  extensions/tika/deployment/src/test/resources/quarkus.pdf
  extensions/tika/deployment/src/test/resources/tika-config.xml
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaRecorder.java
Labels: triage/backport?

#12076 AdditionalBeanBuildItem - clarify javadoc and improve the transformer
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AdditionalBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveIndexBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/AdditionalBean.java
Labels: area/arc, triage/waiting-for-ci

#12083 Document how to use QuarkusTestProfile#testResources
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: triage/backport?

#12103 Prevent potential infinite loop in AutoAddScopeProcessor
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoAddScopeProcessor.java
Labels: triage/backport?, triage/waiting-for-ci

#12101 Lazily init Jaeger
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerTracer.java
Labels: triage/backport?

#12094 Synchronize joschi/setup-jdk tag
  .github/workflows/ci-actions.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/doc-build.yml
  .github/workflows/native-cron-build.yml.disabled
Labels: area/housekeeping

#11984 manage.sh doesn't work on Ubuntu and Mint
  extensions/amazon-lambda/common-deployment/src/main/resources/lambda/manage.sh
Labels: triage/backport-1.7?, triage/backport?

#12109 Proofread Scripting with jbang guide
  docs/src/main/asciidoc/scripting.adoc
Labels: triage/backport?

#12110 Rename the Micrometer guide for more consistency
  docs/src/main/asciidoc/micrometer.adoc
Labels: triage/backport?

#12112 Implement report for the snapshot deployment build
  .github/NativeBuildReport.java
  .github/workflows/deploy-snapshots.yml
Labels: triage/waiting-for-ci

#12100 JUnit 5 version should match in ArC too
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/pom.xml
  independent-projects/arc/runtime/pom.xml
  independent-projects/arc/tests/pom.xml
Labels: triage/waiting-for-ci

#11787 Don't use JSON formatted logs for main integration tests
  .github/workflows/ci-actions.yml
  integration-tests/logging-json/pom.xml
  integration-tests/logging-json/src/main/java/io/quarkus/it/logging/json/GreetingResource.java
  integration-tests/logging-json/src/test/java/io/quarkus/it/logging/json/GreetingResourceTest.java
  integration-tests/logging-json/src/test/java/io/quarkus/it/logging/json/NativeGreetingResourceIT.java
  integration-tests/main/pom.xml
  integration-tests/pom.xml
Labels: triage/waiting-for-ci

#11517 Improve robustness of our devtools Gradle code
  devtools/gradle/src/main/java/io/quarkus/gradle/ConnectorDependencyResolver.java
  devtools/gradle/src/main/java/io/quarkus/gradle/GroovyBuildFileFromConnector.java
  devtools/gradle/src/main/java/io/quarkus/gradle/KotlinBuildFileFromConnector.java
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  devtools/gradle/src/test/java/io/quarkus/gradle/AbstractBuildFileTest.java
  devtools/gradle/src/test/java/io/quarkus/gradle/GroovyBuildFileTest.java
  devtools/gradle/src/test/java/io/quarkus/gradle/KotlinBuildFileTest.java
  devtools/gradle/src/test/resources/gradle-kts-project/build.gradle.kts
  devtools/gradle/src/test/resources/gradle-kts-project/settings.gradle.kts
  devtools/gradle/src/test/resources/gradle-project/build.gradle
  devtools/gradle/src/test/resources/gradle-project/settings.gradle
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/model/QuarkusModel.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/model/impl/QuarkusModelImpl.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGroovyGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractKotlinGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/BuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenBuildFile.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/AddGradleExtensionsTest.java
Labels: area/devtools, area/gradle, area/platform

#12118 Fixes Quarkus version and images dir in scripting guide
  docs/src/main/asciidoc/scripting.adoc
Labels: triage/backport?

#12123 Remove lambdas from runtime metrics code
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/QuarkusJaxRsMetricsFilter.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsFactory.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsHandler.java
Labels: triage/waiting-for-ci

#12117 1.8.1 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/micrometer.adoc
  docs/src/main/asciidoc/openapi-swaggerui.adoc
  docs/src/main/asciidoc/rest-client-multipart.adoc
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/scripting.adoc
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security.adoc
  docs/src/main/asciidoc/vertx.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/amazon-lambda/common-deployment/src/main/resources/lambda/manage.sh
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoAddScopeProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BuildTimeEnabledProcessor.java
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/FunctionScannerBuildStep.java
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/ReflectionRegistrationUtil.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerTracer.java
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/pom.xml
  extensions/resteasy-common/spi/src/main/java/io/quarkus/resteasy/common/spi/ResteasyDotNames.java
  extensions/resteasy-multipart/deployment/pom.xml
  extensions/resteasy-multipart/deployment/src/main/java/io/quarkus/resteasy/multipart/deployment/ResteasyMultipartProcessor.java
  extensions/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/FeedbackBody.java
  extensions/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/FeedbackResource.java
  extensions/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/InvalidEncodingTest.java
  extensions/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/MultipartEncodingTest.java
  extensions/resteasy-multipart/deployment/src/test/resources/application-charset-us-ascii.properties
  extensions/resteasy-multipart/pom.xml
  extensions/resteasy-multipart/runtime/pom.xml
  extensions/resteasy-multipart/runtime/src/main/java/io/quarkus/resteasy/multipart/runtime/MultipartInputPartConfigContainerRequestFilter.java
  extensions/resteasy-multipart/runtime/src/main/java/io/quarkus/resteasy/multipart/runtime/ResteasyMultipartRuntimeConfig.java
  extensions/resteasy-multipart/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-multipart/runtime/src/main/resources/META-INF/services/javax.ws.rs.ext.Providers
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/ui/CustomConfigTest.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/ui/DisabledTest.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/ui/ErroneousConfigTest.java
  extensions/tika/deployment/pom.xml
  extensions/tika/deployment/src/test/java/io/quarkus/tika/deployment/TikaParserResource.java
  extensions/tika/deployment/src/test/java/io/quarkus/tika/deployment/TikaProcessorDevModeTest.java
  extensions/tika/deployment/src/test/resources/application-dev-mode.properties
  extensions/tika/deployment/src/test/resources/quarkus.pdf
  extensions/tika/deployment/src/test/resources/tika-config.xml
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/TikaRecorder.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/name/NameResolutionTest.java
  integration-tests/spring-web/src/main/resources/application.properties
Labels: area/infra

#12126 Improve MongoDB with Panache documentaiton around ObjectId
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: triage/backport?

#12131 Small adjustments for contributor guide and issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
Labels: area/infra

#12095 Restore port sysprop values in VertxHttpRecorder
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/backport?

#12132 Use DotNames for BeanValidationAnnotationsBuildItem
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/spi/src/main/java/io/quarkus/hibernate/validator/spi/BeanValidationAnnotationsBuildItem.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/DotNames.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/HandlerDescriptor.java
Labels: triage/waiting-for-ci

#12119 Bump maven-model-helper to 16
  independent-projects/tools/codestarts/src/test/resources/codestarts/core/buildtool-maven/base/pom.tpl.qute.xml
  independent-projects/tools/codestarts/src/test/resources/expected-pom-maven-merge.xml
  independent-projects/tools/pom.xml
Labels: triage/waiting-for-ci

#12044 Allow adding /health endpoint to OpenAPI using config
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/smallrye-health/deployment/pom.xml
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthBuildTimeConfig.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthOpenAPIFilter.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/HealthOpenAPITest.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/OpenApiRoute.java
  extensions/smallrye-openapi/deployment/pom.xml
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/pom.xml
  extensions/smallrye-openapi/spi/pom.xml
  extensions/smallrye-openapi/spi/src/main/java/io/quarkus/smallrye/openapi/deployment/spi/AddToOpenAPIDefinitionBuildItem.java
Labels: triage/waiting-for-ci

#12108 Add support for passing custom headers in Spring Cloud Config
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/DefaultSpringCloudConfigClientGateway.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfig.java
  extensions/spring-cloud-config-client/runtime/src/test/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientGatewayTest.java
  integration-tests/spring-cloud-config-client/src/main/resources/application.yaml
  integration-tests/spring-cloud-config-client/src/main/resources/mappings/a-bootiful-client-prod.json
Labels: area/config, area/spring

#12128 Qute: add basic date-time formatting support
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/TimeTemplateExtensionsTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/CollectionTemplateExtensions.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/ConfigTemplateExtensions.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/MapTemplateExtensions.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/NumberTemplateExtensions.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/TimeTemplateExtensions.java
Labels: triage/waiting-for-ci

#12149 Documentation/Scripting: Missing 'init' parameter added
  docs/src/main/asciidoc/scripting.adoc
Labels: area/documentation, area/jbang, triage/backport?

#12140 Check for null context (oidc logout flow)
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpMetrics.java
  integration-tests/oidc-code-flow/pom.xml
Labels: area/metrics, triage/backport?

#12148 Fix the capability to connect to MySQL in XA mode
  extensions/jdbc/jdbc-mysql/deployment/src/main/java/io/quarkus/jdbc/mysql/deployment/MySQLJDBCReflections.java
  integration-tests/jpa-mysql/src/main/java/io/quarkus/it/jpa/mysql/XaConnectionsEndpoint.java
  integration-tests/jpa-mysql/src/main/resources/application.properties
  integration-tests/jpa-mysql/src/test/java/io/quarkus/it/jpa/mysql/XaConnectionInGraalITCase.java
  integration-tests/jpa-mysql/src/test/java/io/quarkus/it/jpa/mysql/XaConnectionTest.java
Labels: area/persistence, triage/backport-1.7?, triage/backport?, triage/waiting-for-ci

#12114 fix: use own AddEnvVarDecorator to prevent it from being skipped
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddEnvVarDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerAdapter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithSidecarAndJibTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-sidecar-and-jib.properties
Labels: area/kubernetes, triage/backport?

#12155 Improve JBang integration
  core/deployment/src/main/java/io/quarkus/deployment/jbang/JBangAugmentorImpl.java
Labels: triage/backport?

#12151 Upgrade to Quarkus HTTP 3.0.15.Final
  bom/application/pom.xml
  independent-projects/tools/pom.xml
Labels: triage/backport-1.7?, triage/backport?

#12143 Set HTTPS scheme in the final OIDC redirect URI
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantHttps.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: triage/backport?

#12146 No more runtime / deployment BOMs
  devtools/maven/src/main/java/io/quarkus/maven/CreateExtensionMojo.java
  devtools/maven/src/main/resources/create-extension-templates/runtime-pom.xml
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/pom.xml
Labels: triage/waiting-for-ci

#12162 Add a warning about usage of the clone() method on entities
  docs/src/main/asciidoc/hibernate-orm.adoc
Labels: area/documentation, area/hibernate-orm

#12159 Simplify build instructions: apply Maven heap settings automatically
  .mvn/jvm.config
  CONTRIBUTING.md
Labels: area/housekeeping, triage/waiting-for-ci

#12127 Allow configuring the RestAssured timeouts and provide sensible defaults.
  docs/src/main/asciidoc/getting-started-testing.adoc
  integration-tests/amazon-services/src/main/resources/application.properties
  test-framework/common/src/main/java/io/quarkus/test/common/RestAssuredURLManager.java
Labels: area/testing

#12163 Kotlin Panache doc: Fix broken link
  docs/src/main/asciidoc/hibernate-orm-panache-kotlin.adoc
Labels: triage/backport?, triage/waiting-for-ci

#12165 hibernate-orm-panache-kotlin: Fix compilation error of example in doc
  docs/src/main/asciidoc/hibernate-orm-panache-kotlin.adoc
Labels: triage/backport?

#12167 Fix a remaining old datasource config reference in the Vault doc
  docs/src/main/asciidoc/vault-auth.adoc
Labels: triage/backport?

#12166 Update instructions to set fast-jar flag in codestarts
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.fast-jar
Labels: triage/backport?

#12164 Upgrade SmallRye OpenAPI to 2.0.9
  bom/application/pom.xml
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/MyOASFilter.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiDefaultPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiRuntimeFilterTestCase.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiConstants.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentProducer.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentService.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiRecorder.java
Labels: triage/backport?, triage/waiting-for-ci

#12171 1.8.1 backports 2
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/jbang/JBangAugmentorImpl.java
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.fast-jar
  docs/src/main/asciidoc/hibernate-orm-panache-kotlin.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/scripting.adoc
  docs/src/main/asciidoc/vault-auth.adoc
  extensions/jdbc/jdbc-mysql/deployment/src/main/java/io/quarkus/jdbc/mysql/deployment/MySQLJDBCReflections.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddEnvVarDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerAdapter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpMetrics.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/registerclientheaders/EchoClient.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/registerclientheaders/EchoResource.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/registerclientheaders/MyHeadersFactory.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/registerclientheaders/RegisterClientHeadersTest.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/MyOASFilter.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiDefaultPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiRuntimeFilterTestCase.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiConstants.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentProducer.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentService.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  independent-projects/tools/pom.xml
  integration-tests/jpa-mysql/src/main/java/io/quarkus/it/jpa/mysql/XaConnectionsEndpoint.java
  integration-tests/jpa-mysql/src/main/resources/application.properties
  integration-tests/jpa-mysql/src/test/java/io/quarkus/it/jpa/mysql/XaConnectionInGraalITCase.java
  integration-tests/jpa-mysql/src/test/java/io/quarkus/it/jpa/mysql/XaConnectionTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithSidecarAndJibTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-sidecar-and-jib.properties
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantHttps.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/infra

#12187 Add gradle alternatives for generating jandex index in CDI docs
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: triage/backport?

#12189 Fix dependency issues causing build problems
  extensions/panache/hibernate-reactive-panache/deployment/pom.xml
  extensions/vertx-web/deployment/pom.xml
Labels: priority/urgent, triage/waiting-for-ci

#12194 Add okhttp3-logging explicitly
  bom/application/pom.xml
Labels: triage/backport-1.7?, triage/backport?, triage/waiting-for-ci

#12186 Qute: add logical AND and OR operators
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeCheckExcludeBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ValidationSuccessTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/BooleansTest.java
Labels: triage/waiting-for-ci

#12177 Trim spaces in CORS config
  core/runtime/src/main/java/io/quarkus/runtime/configuration/TrimmedStringConverter.java
  extensions/vertx-http/deployment/src/test/resources/conf/cors-config-full.properties
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSConfig.java
Labels: triage/backport?, triage/waiting-for-ci

#11950 Adding fetch configuration option to hibernate-orm module
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
Labels: triage/waiting-for-ci

#12180 Micrometer Vert.x HTTP request propagation
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/VertxBinderProcessor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/MetricsContext.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/RequestMetric.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderContainerFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxNetworkMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpMetrics.java
Labels: area/metrics, triage/backport?
