Repository quarkusio/quarkus, pull requests merged in 2020-08, with the labels that each got.

#11137 wrap original exception when handling test resources
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
Labels: area/testing, triage/backport?, triage/waiting-for-ci

#11135 Disable the Cron Job CI that runs Java 8 native image tests
  .github/workflows/native-cron-build.yml.disabled
Labels: area/infra, area/infra-automation

#11118 Add Google Cloud Functions extension in maintainers and autolabeller
  .github/autoissuelabeler.yml
  .github/boring-cyborg.yml
  MAINTAINERS.adoc
Labels: area/infra, area/infra-automation

#11150 Explicitly prevent the use of @TestProfile with @NativeImageTest
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
Labels: area/testing, triage/backport?

#11155 Update autoissuelabeler.yml for ia3andy
  .github/autoissuelabeler.yml
  independent-projects/tools/codestarts/codestarts.adoc
Labels: area/devtools, area/infra, area/infra-automation, area/platform

#11169 Use the deployment dependencies in the gRPC deployment artifact
  extensions/grpc/deployment/pom.xml
Labels: triage/backport?

#11158 Bundle gradle-tooling-api with quarkus-bootstrap-gradle-resolver
  independent-projects/bootstrap/core/pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
  independent-projects/bootstrap/gradle-resolver/pom.xml
Labels: area/devtools, triage/backport?

#11178 Fixes for incorrect .equals checks
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
Labels: area/arc, area/kubernetes, triage/backport?

#11177 Removal of dead local store
  core/builder/src/test/java/io/quarkus/builder/BasicTests.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/MinikubeHandler.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxRequestHandler.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MeasureThis.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/core, area/kubernetes, area/resteasy, area/smallrye, area/vertx

#10144 Add explicit version boring-ssl
  build-parent/pom.xml
Labels: area/dependencies, triage/backport?

#11183 Bump jboss-parent to 37
  .github/dependabot.yml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/tools/pom.xml
  pom.xml
Labels: area/arc, area/dependencies, area/devtools, area/infra-automation, area/platform

#11168 Removed test dependency resolved transitively in Gradle plugin
  devtools/gradle/build.gradle
  test-framework/devmode-test-utils/src/main/java/io/quarkus/test/devmode/util/DevModeTestUtils.java
Labels: area/devtools, area/gradle, area/testing, triage/backport?

#11162 Set the CurrentVertxRequest when processing GraphQL queries
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/InjectRoutingContextTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
Labels: triage/backport?

#11151 Better logging on startup failure
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
Labels: area/core, triage/backport?

#11159 Ensure quarkusBuild Gradle task works properly with fast-jar
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
Labels: area/devtools, area/gradle, triage/backport?

#11147 Liquibase v4
  bom/application/pom.xml
  extensions/liquibase/deployment/pom.xml
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/LiquibaseProcessor.java
  extensions/liquibase/runtime/pom.xml
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/LiquibaseServiceLoader.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/SubstituteKp.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/SubstituteServiceLocator.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/SubstituteStringUtil.java
Labels: area/dependencies, area/liquibase

#11139 Introduce build time flag property to disable the cache extension
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheConfig.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/DisabledCacheTest.java
Labels: area/cache, triage/waiting-for-ci

#11124 add classifier in JarResult
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/JarBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/JarResult.java
Labels: area/core, area/devtools, area/maven

#11165 Don't enable tracing in SmallRye GraphQL when no tracer is present
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTracingDisabledTest.java
Labels: area/core, area/graphql, area/jaeger, triage/backport?, triage/waiting-for-ci

#11187 Fix WebJars Locator test dependencies and avoid hardcoded version
  extensions/webjars-locator/deployment/pom.xml
  extensions/webjars-locator/deployment/src/test/java/io/quarkus/webjar/locator/test/WebJarLocatorTest.java
Labels: triage/backport?

#11167 Disable snapshot resolution for releases repositories and only add the Gradle repository where needed
  independent-projects/bootstrap/gradle-resolver/pom.xml
  independent-projects/bootstrap/pom.xml
  integration-tests/kafka-avro/pom.xml
  pom.xml
Labels: area/devtools, triage/backport?

#11192 Fix CNFE when MessageBundles are used with Dev-mode
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/AppMessageHelloResource.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/AppMessages.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/MessageBundleDevModeTest.java
Labels: area/qute, area/resteasy, triage/backport?

#11191 Ignore Gradle's GrpcDevModeTest as it's too unstable for now
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/GrpcDevModeTest.java
Labels: area/gradle, triage/backport?

#10965 Escape UUID in MongoDB with Panache
  bom/application/pom.xml
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/binder/CommonQueryBinder.java
  extensions/panache/mongodb-panache/runtime/src/test/java/io/quarkus/mongodb/panache/runtime/MongoOperationsTest.java
Labels: area/dependencies, area/mongodb, area/panache, triage/backport?, triage/waiting-for-ci

#11197 Jaeger performance improvement
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/MDCScope.java
Labels: area/jaeger, triage/backport?, triage/waiting-for-ci

#11122 JUnit support - disable observers declared on mocked beans
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/MockableProxy.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Mockable.java
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/AlphaObserver.java
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/BravoObserver.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/MockedObserverTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
Labels: area/arc, area/testing, triage/backport?, triage/waiting-for-ci

#11196 SmallRye CP - make ManagedExecutor bean application scoped
  extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinScope.java
Labels: area/arc, area/smallrye, triage/backport?

#11202 Make sure maven.repo.local is taken into account when building and testing the Gradle plugin
  devtools/gradle/build.gradle
  devtools/gradle/src/test/resources/multi-module-project/build.gradle
  devtools/gradle/src/test/resources/multi-module-project/settings.gradle
  devtools/gradle/src/test/resources/simple-module-project/build.gradle
  devtools/gradle/src/test/resources/simple-module-project/settings.gradle
Labels: area/devtools, area/gradle, triage/backport?, triage/waiting-for-ci

#11204 1.7.0.CR2 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/JarBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/util/JavaVersionUtil.java
  core/deployment/src/test/java/io/quarkus/deployment/util/JavaVersionUtilTest.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  devtools/gradle/build.gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/grpc/deployment/pom.xml
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/MDCScope.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/binder/CommonQueryBinder.java
  extensions/panache/mongodb-panache/runtime/src/test/java/io/quarkus/mongodb/panache/runtime/MongoOperationsTest.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/AppMessageHelloResource.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/AppMessages.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/MessageBundleDevModeTest.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTracingDisabledTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/InjectRoutingContextTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
  extensions/webjars-locator/deployment/pom.xml
  extensions/webjars-locator/deployment/src/test/java/io/quarkus/webjar/locator/test/WebJarLocatorTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/MockableProxy.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Mockable.java
  independent-projects/bootstrap/core/pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/JarResult.java
  independent-projects/bootstrap/gradle-resolver/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/GrpcDevModeTest.java
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/AlphaObserver.java
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/BravoObserver.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/MockedObserverTest.java
  integration-tests/kafka-avro/pom.xml
  pom.xml
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/devmode-test-utils/src/main/java/io/quarkus/test/devmode/util/DevModeTestUtils.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
Labels: area/arc, area/core, area/dependencies, area/devtools, area/gradle, area/infra, area/jaeger, area/kubernetes, area/maven, area/mongodb, area/panache, area/qute, area/resteasy

#11205 Update MAINTAINERS.adoc
  MAINTAINERS.adoc
Labels: area/infra

#11200 A bunch of new stuff for codestarts
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/example/base-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/example/commandmode-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/example/commandmode-example/kotlin/src/main/kotlin/org/acme/commandmode/GreetingMain.tpl.qute.kt
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/example/commandmode-example/kotlin/src/main/kotlin/org/acme/commandmode/GreetingService.tpl.qute.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/kotlin/src/main/kotlin/org/acme/qute/HelloResource.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/kotlin/src/main/kotlin/org/acme/qute/Item.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/kotlin/src/main/kotlin/org/acme/qute/ItemResource.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/kotlin/src/main/resources/templates/hello.qute.html
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/kotlin/src/main/resources/templates/items.qute.html
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/kotlin/src/native-test/kotlin/org/acme/qute/NativeHelloResourceIT.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/kotlin/src/test/kotlin/org/acme/qute/HelloResourceTest.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/kotlin/src/test/kotlin/org/acme/qute/ItemsResourceTest.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/resteasy-example/base/src/main/resources/META-INF/resources/index.tpl.qute.html
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/Codestart.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartData.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartProcessor.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartProject.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/Codestarts.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/NestedMaps.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/NestedMapsTest.java
  independent-projects/tools/codestarts/src/test/resources/nested-map-1.yml
  independent-projects/tools/codestarts/src/test/resources/nested-map-2.yml
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartsTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectCodestartMojoIT.java
Labels: area/codestarts, area/devtools, area/maven, area/platform, triage/backport?

#11210 Share the Admin client in KafkaStreams
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java
Labels: area/kafka-streams, triage/backport?

#11219 Qute: take comments into account when detecting standalone lines
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteConfig.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: area/documentation, area/qute

#11209 Use packages for the common RESTEasy reflection ignores and add the JSON packages to DEFAULT_IGNORED_PACKAGES
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyDotNames.java
Labels: area/core, area/resteasy, triage/backport?

#11115 Export Neo4j driver as dedicated BuildItem.
  extensions/neo4j/deployment/src/main/java/io/quarkus/neo4j/deployment/Neo4jDriverBuildItem.java
  extensions/neo4j/deployment/src/main/java/io/quarkus/neo4j/deployment/Neo4jDriverProcessor.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jDriverRecorder.java
Labels: area/neo4j

#11220 Qute: honor the "has" prefix for boolean properties
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/HelloReflect.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/ReflectionResolverTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TemplateDataTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ReflectionValueResolver.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/MyService.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
Labels: area/qute, triage/backport?

#11223 Type-safe message bundles - watch localized files for changes during the dev mode
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/AppMessageHelloResource.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/MessageBundleDevModeTest.java
Labels: area/qute, area/resteasy, triage/backport?

#11228 Upgrade SmallRye GraphQL to 1.0.7
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#11227 Fix codestart docker tooling error
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/dockerfiles/base/.dockerignore.tpl.qute
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.fast-jar
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.native
Labels: area/codestarts, area/devtools, triage/backport?

#11233 Micro-optimization on String comparison
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesMetadataBuildItem.java
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/FunctionScannerBuildStep.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerAuthorizer.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourcePropertiesAccessor.java
Labels: area/arc, area/core, area/funqy, area/panache, triage/backport?, triage/waiting-for-ci

#11234 Some minor adjustments to the Datasource documentation
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, triage/backport?

#11245 Fix the HAL response links in a REST Data guide #11237
  docs/src/main/asciidoc/rest-data-panache.adoc
Labels: area/documentation

#11217 ArC - cleanup and optimizations
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractSharedContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ComputingCache.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Objects.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/beans/SyntheticBeanCollisionTest.java
Labels: area/arc, triage/waiting-for-ci

#11240 Update getting-started-reactive according to #11239
  docs/src/main/asciidoc/getting-started-reactive.adoc
Labels: area/documentation, triage/backport?

#11244 Qute: improve bracket notation support, add docs
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/AppMessages.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvalContext.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expression.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ExpressionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/MapResolverTest.java
Labels: area/documentation, area/qute, triage/backport?

#11195 This prevents the io.quarkus artifacts being installed.
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#11236 Avoid split packages for Agroal deployment/spi
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/spi/src/main/java/io/quarkus/agroal/spi/JdbcDataSourceBuildItem.java
  extensions/agroal/spi/src/main/java/io/quarkus/agroal/spi/JdbcDataSourceSchemaReadyBuildItem.java
  extensions/agroal/spi/src/main/java/io/quarkus/agroal/spi/JdbcDriverBuildItem.java
  extensions/elytron-security-jdbc/deployment/src/main/java/io/quarkus/elytron/security/jdbc/deployment/ElytronSecurityJdbcProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ImpliedBlockingPersistenceUnitTypeBuildItem.java
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
  extensions/jdbc/jdbc-derby/deployment/src/main/java/io/quarkus/jdbc/derby/deployment/JDBCDerbyProcessor.java
  extensions/jdbc/jdbc-h2/deployment/src/main/java/io/quarkus/jdbc/h2/deployment/JDBCH2Processor.java
  extensions/jdbc/jdbc-mariadb/deployment/src/main/java/io/quarkus/jdbc/mariadb/deployment/JDBCMariaDBProcessor.java
  extensions/jdbc/jdbc-mssql/deployment/src/main/java/io/quarkus/jdbc/mssql/deployment/MsSQLProcessor.java
  extensions/jdbc/jdbc-mysql/deployment/src/main/java/io/quarkus/jdbc/mysql/deployment/JDBCMySQLProcessor.java
  extensions/jdbc/jdbc-postgresql/deployment/src/main/java/io/quarkus/jdbc/postgresql/deployment/JDBCPostgreSQLProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/LiquibaseProcessor.java
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
Labels: area/hibernate-orm, area/scheduler, area/security

#11212 Refactor the cache key building logic
  docs/src/main/asciidoc/cache.adoc
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheInterceptorTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheKeyBuilderTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CompositeCacheKeyTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/NullKeyOrValueCacheTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheInvalidate.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheResult.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheKeyBuilder.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CompositeCacheKey.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/DefaultCacheKey.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCache.java
Labels: area/cache, area/documentation

#11179 handle testFixtures sourceset
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/model/impl/SourceSetImpl.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestFixtureModuleTest.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/build.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-module/gradle.properties
  integration-tests/gradle/src/test/resources/test-fixtures-module/settings.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/main/java/org.my.group/MyFactory.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/main/java/org.my.group/MyResource.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/main/java/org.my.group/MyService.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/test/java/org.my.group/MyResourceTest.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/testFixtures/java/org.my.group/MyTestFactory.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/devtools, area/gradle, area/testing, triage/backport?

#11232 Gradle: avoid resolving deprecated compileOnly configuration
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  devtools/gradle/src/test/java/io/quarkus/gradle/builder/QuarkusModelBuilderTest.java
  integration-tests/gradle/gradle.properties
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/CompileOnlyDependencyDevModeTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/QuarkusDevGradleTestBase.java
  integration-tests/gradle/src/test/resources/compile-only-lombok/build.gradle
  integration-tests/gradle/src/test/resources/compile-only-lombok/gradle.properties
  integration-tests/gradle/src/test/resources/compile-only-lombok/settings.gradle
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/main/java/io/playground/HelloResource.java
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/main/java/io/playground/MyData.java
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/main/java/io/playground/MyDataProducer.java
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/test/java/io/playground/HelloResourceTest.java
  test-framework/devmode-test-utils/src/main/java/io/quarkus/test/devmode/util/DevModeTestUtils.java
Labels: area/devtools, area/gradle, area/testing, triage/backport?, triage/waiting-for-ci

#11250 Debug info improvements for Mandrel
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStepTest.java
Labels: area/core, triage/backport?

#11255 Avoid including platform BOM twice in the Gradle plugin
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFile.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToSingleModuleProjectTest.java
Labels: area/devtools, area/gradle, area/platform, triage/backport?, triage/waiting-for-ci

#11269 1.7.0.Final backports 2
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStepTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  devtools/gradle/src/test/java/io/quarkus/gradle/builder/QuarkusModelBuilderTest.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/model/impl/SourceSetImpl.java
  integration-tests/gradle/gradle.properties
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestFixtureModuleTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/CompileOnlyDependencyDevModeTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/QuarkusDevGradleTestBase.java
  integration-tests/gradle/src/test/resources/compile-only-lombok/build.gradle
  integration-tests/gradle/src/test/resources/compile-only-lombok/gradle.properties
  integration-tests/gradle/src/test/resources/compile-only-lombok/settings.gradle
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/main/java/io/playground/HelloResource.java
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/main/java/io/playground/MyData.java
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/main/java/io/playground/MyDataProducer.java
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/compile-only-lombok/src/test/java/io/playground/HelloResourceTest.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/build.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-module/gradle.properties
  integration-tests/gradle/src/test/resources/test-fixtures-module/settings.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/main/java/org.my.group/MyFactory.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/main/java/org.my.group/MyResource.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/main/java/org.my.group/MyService.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/test/java/org.my.group/MyResourceTest.java
  integration-tests/gradle/src/test/resources/test-fixtures-module/src/testFixtures/java/org.my.group/MyTestFactory.java
  test-framework/devmode-test-utils/src/main/java/io/quarkus/test/devmode/util/DevModeTestUtils.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/core, area/devtools, area/gradle, area/infra, area/testing

#11257 Upgrade Infinispan to 11.0.3.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#11261 Auto-detect codestarts implemented languages
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/maven/java/.gitkeep
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/example/commandmode-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example/codestart.yml
  independent-projects/tools/codestarts/codestarts.adoc
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/Codestart.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartLoader.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartProcessor.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartSpec.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/Codestarts.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/reader/CodestartFileReader.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/reader/IgnoreCodestartFileReader.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/SmartPomMergeCodestartFileStrategyHandler.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartProjectRunTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartsTest.java
Labels: area/codestarts, area/devtools, area/platform, triage/backport?

#11259 Fixing version range to support backward compatibility
  devtools/maven/src/main/java/io/quarkus/maven/CreateUtils.java
Labels: area/devtools, area/maven

#11280 Fix typo in testing guide and Integration tests
  docs/src/main/asciidoc/getting-started-testing.adoc
  integration-tests/main/src/test/java/io/quarkus/it/main/MockTestCase.java
Labels: area/documentation, triage/backport?

#11283 Automatically label Mandrel related issues
  .github/autoissuelabeler.yml
Labels: area/infra-automation

#11274 Upgrade Quarkus HTTP to 3.0.14.Final
  bom/application/pom.xml
  independent-projects/tools/pom.xml
Labels: area/dependencies, area/devtools, area/platform

#11282 Qute: support parameters for include section
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LiteralSupport.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ResolutionContext.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ResolutionContextImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SetSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/WithSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IncludeTest.java
Labels: area/documentation

#11224 Add a counter of log events per log level
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogBuildTimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogMetricsHandler.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogMetricsHandlerRecorder.java
  core/runtime/src/test/java/io/quarkus/runtime/logging/LogMetricsHandlerTest.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MetricsFromExtensionTestCase.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsTestCase.java
Labels: area/core, area/logging, area/smallrye

#11290 Fix wording in amazon-dynamodb.adoc
  docs/src/main/asciidoc/amazon-dynamodb.adoc
Labels: area/documentation

#11284 Qute: template extensions can use regular expressions to match names
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateExtensionMethodBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/NamespaceTemplateExtensionTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/TemplateExtensionMethodsTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/CollectionTemplateExtensions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateExtension.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/Descriptors.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
Labels: area/documentation, area/qute, triage/waiting-for-ci

#11306 Introduce QuarkusPlatformDescriptor.getMetadata
  devtools/platform-descriptor-json/pom.xml
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptor.java
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptorLoaderImpl.java
  devtools/platform-descriptor-json/src/test/java/io/quarkus/platform/descriptor/tests/PlatformDescriptorLoaderTest.java
  devtools/platform-descriptor-json/src/test/resources/fakeextensions.json
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/descriptor/CombinedQuarkusPlatformDescriptor.java
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/descriptor/QuarkusPlatformDescriptor.java
Labels: area/devtools, area/platform, triage/backport?

#11307 Reduce required runtime dependencies for native build with Amazon services extensions
  extensions/amazon-services/common/deployment/src/main/java/io/quarkus/amazon/common/deployment/AbstractAmazonServiceProcessor.java
  extensions/amazon-services/common/runtime/src/main/java/io/quarkus/amazon/common/runtime/AmazonClientTransportRecorder.java
Labels: triage/backport?

#11298 Improve the doc and add quickstart link
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
Labels: area/documentation

#11326 Escape $ in maven log for native-image
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#11328 quarkus:prepare - remove redundant source registration
  devtools/maven/src/main/java/io/quarkus/maven/CodeGenMojo.java
Labels: area/devtools, area/maven, triage/backport?

#11345 Fix typos in security guides
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-jdbc.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
Labels: area/documentation

#11335 Type-safe message bundles - fix validation
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleMethodBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/AlphaMessages.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleTest.java
Labels: area/qute, triage/backport?

#11360 Bump mojo-executor to 2.3.1
  devtools/maven/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/devtools, area/maven

#11352 Avoid NPE when Redis server returns an empty response
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientImpl.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/RedisResource.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisTest.java
Labels: area/redis, triage/backport?

#11343 Document domain socket support for Postgres and MySQL reactive clients
  docs/src/main/asciidoc/reactive-sql-clients.adoc
Labels: area/documentation, triage/backport?

#11271 Move cache lock timeout logic to CacheResultInterceptor
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/LockTimeoutTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCache.java
Labels: area/cache

#11278 Qute: clarify valid identifiers
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ExpressionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: area/documentation

#11302 Vertx - fix default value for VertxConfiguration#maxWorkerExecuteTime
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/config/VertxConfiguration.java
  extensions/vertx-core/runtime/src/test/java/io/quarkus/vertx/core/runtime/VertxCoreProducerTest.java
Labels: area/documentation, area/vertx, triage/backport?

#9353 Add support for Gradle Kotlin DSL
  devtools/gradle/src/main/java/io/quarkus/gradle/ConnectorDependencyResolver.java
  devtools/gradle/src/main/java/io/quarkus/gradle/GroovyBuildFileFromConnector.java
  devtools/gradle/src/main/java/io/quarkus/gradle/KotlinBuildFileFromConnector.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusPlatformTask.java
  devtools/gradle/src/test/java/io/quarkus/gradle/AbstractBuildFileTest.java
  devtools/gradle/src/test/java/io/quarkus/gradle/GroovyBuildFileTest.java
  devtools/gradle/src/test/java/io/quarkus/gradle/KotlinBuildFileTest.java
  devtools/gradle/src/test/resources/gradle-kts-project/build.gradle.kts
  devtools/gradle/src/test/resources/gradle-kts-project/gradle.properties
  devtools/gradle/src/test/resources/gradle-kts-project/settings.gradle.kts
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/..gitignore
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/build-layout.include.qute
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/gradle.tpl.qute.properties
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/gradlew
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/gradlew.bat
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/settings.tpl.qute.gradle.kts
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/wrapper/gradle-wrapper.jar
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/wrapper/gradle-wrapper.tpl.qute.properties
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/java/build.tpl.qute.gradle.kts
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/kotlin/build.tpl.qute.gradle.kts
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/scala/build.tpl.qute.gradle.kts
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ListExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/BuildTool.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/QuarkusProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFilesCreator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGroovyGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractKotlinGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/GenericGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/GroovyGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/GroovyGradleBuildFilesCreator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/KotlinGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/KotlinGradleBuildFilesCreator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/rest/BasicRestProjectGenerator.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartProjectGenerationTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartProjectRunTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartsTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/AddGradleExtensionsTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToModuleInMultiModuleKtsProjectTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToSingleModuleKtsProjectTest.java
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/application/build.gradle.kts
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/application/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/application/src/main/resources/META-INF/resources/index.html
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/application/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/build.gradle.kts
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/common/build.gradle.kts
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/common/src/main/java/org/acme/common/CommonBean.java
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/common/src/main/resources/META-INF/beans.xml
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/gradle.properties
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/settings.gradle.kts
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/build.gradle.kts
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/gradle.properties
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/settings.gradle.kts
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/src/main/java/org/acme/ExampleResource.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/src/test/java/org/acme/ExampleResourceTest.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/src/test/resources/application.properties
Labels: area/codestarts, area/devtools, area/gradle, area/maven, area/platform

#11346 Make quarkus-bootstrap-maven-plugin:build-tree work for not installed local projects
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/AbstractTreeMojo.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/BuildTreeMojo.java
  independent-projects/bootstrap/maven-plugin/src/test/java/io/quarkus/maven/TreeMojoTestBase.java
Labels: area/devtools, area/maven

#11277 Add revapi as option during build
  build-parent/pom.xml
  independent-projects/revapi/pom.xml
  independent-projects/revapi/src/main/resources/META-INF/revapi.ftl
  independent-projects/revapi/src/main/resources/revapi/revapi-configuration.xml
  pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#11372 Update autoissuelabeler.yml
  .github/autoissuelabeler.yml
Labels: area/infra-automation

#11364 Qute: introduce ConfigTemplateExtensions
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/ConfigTemplateExtensionsTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/NumberTemplateExtensionsTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/ConfigTemplateExtensions.java
Labels: area/documentation, area/qute, triage/backport?

#11373 correct documentation for singleResult
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheQuery.kt
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/TestEndpoint.kt
Labels: area/kotlin, area/panache, area/persistence

#11369 Throw ExecutionException cause during cache computation
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ThrowExecutionExceptionCauseTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheException.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
Labels: area/cache

#11344 Properly filter out transitive optional deployment dependencies
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ExecutableOutputOutcomeTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/OptionalDepsTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ProvidedExtensionDepsTest.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/CollectDependenciesBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsArtifact.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/OnlyDirectOptionalDepsAreCollectedTestCase.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BuildDependencyGraphVisitor.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/DeploymentDependencySelector.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/DeploymentInjectingDependencyVisitor.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenArtifactResolver.java
Labels: area/core, area/devtools, area/maven, triage/backport?, triage/waiting-for-ci

#11353 Do not attempt to parse empty SQL scripts
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusImportSqlCommandExtractorInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/StandardHibernateORMInitiatorListProvider.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/ReactiveHibernateInitiatorListProvider.java
Labels: area/hibernate-orm, triage/waiting-for-ci

#11350 Introduce AutoAddScopeBuildItem to remove boilerplate necessary when annotation transformers are used to add a scope annotation to a class
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoAddScopeBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoAddScopeProcessor.java
  extensions/jsonb/deployment/pom.xml
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
  extensions/jsonb/deployment/src/test/java/io/quarkus/jsonb/deployment/Alpha.java
  extensions/jsonb/deployment/src/test/java/io/quarkus/jsonb/deployment/AlphaAdapter.java
  extensions/jsonb/deployment/src/test/java/io/quarkus/jsonb/deployment/Bravo.java
  extensions/jsonb/deployment/src/test/java/io/quarkus/jsonb/deployment/JsonbAdapterTest.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
Labels: area/arc, area/scheduler, area/vertx

#11389 Also sleep in case of exception
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
Labels: area/kafka-streams

#11376 fix source code example to reflect surrounding description, fix typos
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation, triage/backport?

#11402 fix typo in lifecycle.adoc
  docs/src/main/asciidoc/lifecycle.adoc
Labels: area/documentation

#11405 Fix broken link in websockets doc
  docs/src/main/asciidoc/websockets.adoc
Labels: area/documentation

#11399 Throw ExecutionException cause during cache computation - 1.7
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ThrowExecutionExceptionCauseTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheException.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCache.java
Labels: area/cache

#11416 Updated path to external API
  docs/src/main/asciidoc/context-propagation.adoc
Labels: area/documentation, triage/backport?

#11419 Get all auth mechanisms subsections shown inside 'Authentication Mechanisms' section
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, triage/backport?

#11374 Ignore modules with missing main source set
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  devtools/gradle/src/test/resources/multi-module-project/nomain/build.gradle
  devtools/gradle/src/test/resources/multi-module-project/settings.gradle
Labels: area/devtools, area/gradle, triage/backport?

#11393 feat(redis): allow to configure redis connection pool
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisAPIProducer.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisConfig.java
Labels: area/redis, triage/backport?

#11423 Clean up redis extension pom
  extensions/redis-client/deployment/pom.xml
  extensions/redis-client/runtime/pom.xml
Labels: area/redis, triage/waiting-for-ci

#11429 Hibernate Validator: don't skip interface annotation lookup if impl method has annotations
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/MethodValidatedAnnotationsTransformer.java
  integration-tests/hibernate-validator/src/main/java/io/quarkus/it/hibernate/validator/HibernateValidatorTestResource.java
  integration-tests/hibernate-validator/src/main/java/io/quarkus/it/hibernate/validator/HibernateValidatorTestResourceInterface.java
  integration-tests/hibernate-validator/src/test/java/io/quarkus/it/hibernate/validator/HibernateValidatorFunctionalityTest.java
Labels: area/hibernate-validator, triage/backport?

#11414 Keep dependency order in Gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/model/QuarkusModel.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/model/impl/QuarkusModelImpl.java
Labels: area/devtools, area/gradle, triage/backport?

#11437 Support Flyway ignoreMissingMigrations config
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayCreator.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  extensions/flyway/runtime/src/test/java/io/quarkus/flyway/runtime/FlywayCreatorTest.java
Labels: triage/waiting-for-ci

#11413 Upgrade PostgreSQL JDBC driver from 42.2.14 to 42.2.15
  bom/application/pom.xml
Labels: area/dependencies

#11401 Improve tests related to exceptions thrown during cache computations
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ThrowExecutionExceptionCauseTest.java
Labels: area/cache

#11363 fix injection of @ConfigProperty OptionalInt
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigOptionalsTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
Labels: area/arc, triage/backport?

#11451 Bootstrap Maven Resolver: add respecting maven batch-mode and ntp
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptions.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptionsParser.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/resolver/maven/test/BootstrapMavenOptionsTest.java
Labels: area/devtools, triage/backport?

#11457 Make @HandlesTypes handle annotations as well
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/AnnotatedSCIClass.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/SCIAnnotation.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/ServletContainerInitializerTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/TestSCI.java
Labels: area/undertow, triage/backport?

#11446 Add a new builder identity copy method, reverse links to all security docs, client cert example
  docs/src/main/asciidoc/security-authorization.adoc
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-jdbc.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-ldap.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
  docs/src/main/asciidoc/security-properties.adoc
  docs/src/main/asciidoc/security-testing.adoc
  docs/src/main/asciidoc/vault.adoc
  extensions/security/runtime/pom.xml
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusSecurityIdentity.java
  extensions/security/runtime/src/test/java/io/quarkus/security/runtime/QuarkusSecurityIdentityTest.java
Labels: area/documentation, area/security, triage/backport?

#11435 Various CI adjustments
  .github/workflows/ci-actions.yml
  .github/workflows/ci-sanity-check.yml
  .github/workflows/doc-build.yml
Labels: area/infra-automation

#11484 doc: import Secured annotation
  docs/src/main/asciidoc/spring-security.adoc
Labels: area/documentation, triage/backport?

#11473 Use welcome-files from web.xml if defined; else, use today's default
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
Labels: area/undertow, triage/backport?

#11327 Add config-yaml-example codestart in java
  devtools/platform-descriptor-json/src/main/resources/codestarts/config-yaml-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/config-yaml-example/java/src/main/java/org/acme/config/GreetingResource.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/config-yaml-example/java/src/main/resources/application.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/config-yaml-example/java/src/native-test/java/org/acme/config/NativeGreetingResourceIT.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/config-yaml-example/java/src/test/java/org/acme/config/GreetingResourceTest.java
Labels: area/devtools

#11485 Minor doc fix
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#11471 Do not register standalone extension's core versions as a valid option
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/registry/builder/RegistryBuilder.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/registry/DefaultExtensionRegistryTest.java
Labels: area/devtools, area/platform, triage/backport?

#11486 QuarkusSecurityTestExtension fails to read class annotation
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/TestSecurityTest.java
  test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java
Labels: area/spring, area/testing

#11487 Remove the native-image profile from google-cloud-functions integration-tests
  integration-tests/google-cloud-functions/pom.xml
Labels: area/google-cloud-functions

#11488 Remove jdk8u242-b08 CI job for Gradle tests
  .github/workflows/ci-actions.yml
Labels: area/infra, area/infra-automation

#11420 URL patterns for WebFilters are optional
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/MultipartConfigTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/NamedServlet.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/NoUrlPatternWebFilter.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/WebFilterWithNoUrlPatternTestCase.java
Labels: area/undertow, triage/backport?

#11455 Registers RestClientListener for reflection and adds service file as a native resource
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
Labels: area/rest-client, triage/backport?

#11061 Documentation for building native executables with Mandrel
  build-parent/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/dependencies, area/documentation, triage/backport?

#11140 ldap mock: using random port instead of hardcoded one
  test-framework/ldap/src/main/java/io/quarkus/test/ldap/LdapServerTestResource.java
Labels: area/testing

#11466 Disable the code flow access token verification by default (pre-1.7.0.Final status)
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
Labels: area/oidc, triage/backport?, triage/waiting-for-ci

#11494 Register classes necessary for BV - ORM integration for reflection
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/runtime/src/main/resources/META-INF/services/org.hibernate.integrator.spi.Integrator
  integration-tests/hibernate-validator/pom.xml
  integration-tests/hibernate-validator/src/main/java/io/quarkus/it/hibernate/validator/HibernateValidatorTestResource.java
  integration-tests/hibernate-validator/src/main/java/io/quarkus/it/hibernate/validator/orm/TestEntity.java
  integration-tests/hibernate-validator/src/main/resources/application.properties
  integration-tests/hibernate-validator/src/test/java/io/quarkus/it/hibernate/validator/HibernateValidatorFunctionalityTest.java
Labels: area/core, area/hibernate-orm, area/hibernate-validator, triage/backport?, triage/waiting-for-ci

#11459 Fix registration of GraphQL application classes for reflection
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/Farewell.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/Greeting.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/GreetingResource.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/Hello.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/Morning.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/Salutation.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/TimeOfDay.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/Welcome.java
  integration-tests/smallrye-graphql/src/test/java/io/quarkus/it/smallrye/graphql/GreetingResourceTest.java
Labels: triage/backport?

#11498 More reactive SQL client connection options
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  docs/src/main/asciidoc/datasource.adoc
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/DataSourceReactiveRuntimeConfig.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
Labels: area/core, area/documentation, area/reactive, triage/backport?, triage/waiting-for-ci

#11499 Make LocaleConverter more lenient
  core/runtime/src/main/java/io/quarkus/runtime/configuration/LocaleConverter.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/LocaleConverterTest.java
Labels: area/config, area/core, triage/backport?, triage/waiting-for-ci

#11504 Make sure test classes are compiled before running test
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/utils/BuildToolHelper.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/QuarkusGradleModelFactory.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/util/QuarkusModelHelper.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/devtools, area/testing, triage/backport?

#11544 minor typo in blaze-persistence documentation
  docs/src/main/asciidoc/blaze-persistence.adoc
Labels: area/documentation

#11512 Fix Maven bootstrapping when non-ASCII characters are involved
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
  integration-tests/maven/src/test/resources/projects/classic/pom.xml
Labels: area/devtools, area/maven, triage/backport?

#11540 Abort KStreams startup in case of shutdown
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsStartupFailureTest.java
Labels: area/kafka-streams

#11548 Provide OpenShift Serverless documentation section
  docs/src/main/asciidoc/deploying-to-openshift-s2i.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/getting-started-knative.adoc
Labels: area/documentation

#11553 Minor adjustments in the new .env file documentation
  docs/src/main/asciidoc/config.adoc
Labels: area/documentation, triage/backport?

#11439 Add platform metadata support in legacy codegen for 1.7.1
  devtools/platform-descriptor-json/pom.xml
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptor.java
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptorLoaderImpl.java
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/java/settings.gradle-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/settings.gradle-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/scala/settings.gradle-template.ftl
  devtools/platform-descriptor-json/src/test/java/io/quarkus/platform/descriptor/tests/PlatformDescriptorLoaderTest.java
  devtools/platform-descriptor-json/src/test/resources/fakeextensions.json
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/descriptor/CombinedQuarkusPlatformDescriptor.java
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/descriptor/QuarkusPlatformDescriptor.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/CreateProjectPlatformMetadataTest.java
  integration-tests/devtools/src/test/resources/platform-metadata.json
Labels: area/devtools, area/platform

#11554 Ignore javax.persistence interfaces when registering entities for reflection
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
Labels: area/hibernate-orm, triage/backport?

#11562 Support kotlin dsl for gradle in model generation
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/utils/BuildToolHelper.java
Labels: area/devtools

#11556 Quartz - enhance Job injection support in InvokerJobFactory
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/InjectJobTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
Labels: area/scheduler, triage/waiting-for-ci

#11588 Do runtime re-init for Random classes
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#11561 Add double quotes around java executable
  extensions/grpc/codegen/src/main/java/io/quarkus/grpc/deployment/GrpcCodeGen.java
Labels: triage/backport?

#11575 Use an instance of the proper service initiator for SQL import
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusImportSqlCommandExtractorInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/StandardHibernateORMInitiatorListProvider.java
  integration-tests/jpa/src/main/resources/application.properties
  integration-tests/jpa/src/main/resources/import.sql
Labels: area/hibernate-orm, area/persistence

#11569 Update SmallRye Reactive Messaging to version 2.3.0
  bom/application/pom.xml
Labels: area/dependencies, area/reactive-messaging, triage/backport?, triage/waiting-for-ci

#11585 Bump to Gradle 6.6
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.jar
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  devtools/gradle/gradlew
  devtools/gradle/gradlew.bat
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.jar
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
  integration-tests/gradle/gradlew
  integration-tests/gradle/gradlew.bat
Labels: area/dependencies, area/devtools, area/gradle, area/platform

#11546 Work around Caffeine warnings during cache computations
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCache.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineComputationThrowable.java
Labels: area/cache, triage/backport?, triage/waiting-for-ci

#11559 Make sure that non s2i Openshift redeployments only get triggered once
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RemoveDeploymentTriggerDecorator.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/BasicOpenshiftTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithS2iTest.java
Labels: area/kubernetes, triage/backport?

#11520 Improve codestarts
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/base/gradlew.bat
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle-kotlin-dsl/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle/base/gradle/wrapper/gradle-wrapper.jar
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle/base/gradle/wrapper/gradle-wrapper.tpl.qute.properties
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle/base/gradlew
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/gradle/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/buildtool/maven/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/project/quarkus/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/dockerfiles/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/gradle-wrapper/base/gradle/wrapper/gradle-wrapper.jar
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/gradle-wrapper/base/gradle/wrapper/gradle-wrapper.tpl.qute.properties
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/gradle-wrapper/base/gradlew
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/gradle-wrapper/base/gradlew.bat
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/gradle-wrapper/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/maven-wrapper/base/mvnw.tpl.qute
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/maven-wrapper/base/mvnw.tpl.qute.cmd
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/maven-wrapper/codestart.yml
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartProcessor.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/AppendCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/CodestartFileStrategy.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/CodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/ExecutableFileStrategyHandler.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/FailOnDuplicateCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/NativeTestDirResolveCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/ReplaceCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/SmartConfigMergeCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/strategy/SmartPomMergeCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/strategy/CodestartFileStrategyTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/QuarkusCodestarts.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartProjectGenerationIT.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartProjectRunIT.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/CodestartsIT.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectCodestartMojoIT.java
Labels: area/devtools, area/maven, area/platform

#11564 Remove the native profile for Google Cloud Functions extensions
  .github/workflows/ci-actions.yml
  integration-tests/funqy-google-cloud-functions/pom.xml
  integration-tests/google-cloud-functions-http/pom.xml
Labels: area/google-cloud-functions, area/infra-automation

#11458 Improve IDE launch from Gradle project
  core/deployment/src/main/java/io/quarkus/deployment/dev/IDEDevModeMain.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/util/QuarkusModelHelper.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/BasicJavaApplicationModuleDevModeTest.java
  integration-tests/gradle/src/test/resources/basic-java-application-project/build.gradle
  integration-tests/gradle/src/test/resources/basic-java-application-project/gradle.properties
  integration-tests/gradle/src/test/resources/basic-java-application-project/settings.gradle
  integration-tests/gradle/src/test/resources/basic-java-application-project/src/main/java/org/acme/EntryPoint.java
  integration-tests/gradle/src/test/resources/basic-java-application-project/src/main/java/org/acme/ExampleResource.java
Labels: area/core, area/devtools, area/gradle, triage/backport?

#11593 Ensure Json parsers are not removed during build when using kafka client.
  devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/tooling/gradle-wrapper/base/gradlew
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/devtools, area/kafka, triage/backport?

#11604 Only run Gradle tests for Java 11
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#11595 Update to commons-io 2.7
  .github/dependabot.yml
  bom/application/pom.xml
Labels: area/dependencies, area/infra-automation, triage/backport?, triage/waiting-for-ci

#11610 Fix broken CI
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#11611 Fix broken CI again :(
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#11555 Use proper type for Kubernetes probes
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyHttpGetActionPortDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithHealthTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-with-health.properties
Labels: area/kubernetes, triage/backport?

#11620 Also mention Romain automatically for Kafka Streams issues
  .github/autoissuelabeler.yml
Labels: area/infra, area/infra-automation
