Repository quarkusio/quarkus, pull requests merged in 2020-07, with the labels that each got.

#10380 Allow setting remote repository manager on BootstrapMavenContextConfig
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
Labels: area/devtools, triage/backport?

#10387 Escape pipe when transforming JavaDoc to AsciiDoc
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/JavaDocParser.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocConfigDescriptionParserTest.java
Labels: area/core, triage/waiting-for-ci

#10388 Apply small fixes to GraphQL docs
  docs/src/main/asciidoc/microprofile-graphql.adoc
Labels: area/documentation, triage/backport?

#10370 Knative manifest now uses valid port names
  bom/runtime/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithApplicationPropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithApplicationPropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-application.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-application.properties
Labels: area/dependencies, area/kubernetes, triage/backport?

#10382 Hibernate Reactive services initiator fix
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ImpliedBlockingPersistenceUnitTypeBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/metrics/HibernateOrmMetrics.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitsHolder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/LightPersistenceXmlDescriptor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/RecordableBootstrapFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusJtaPlatformInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/graal/JtaIntegrationDCOHelper.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordedState.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/InitialInitiatorListProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/StandardHibernateORMInitiatorListProvider.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/PreconfiguredReactiveServiceRegistryBuilder.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/ReactiveHibernateInitiatorListProvider.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/FriesianCow.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpoint.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTest.java
Labels: area/hibernate-orm, area/hibernate-reactive, triage/backport?

#10324 Updating FarJarTest for Gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/FastJarFormatWorksTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/LaunchUtils.java
Labels: area/gradle

#10392 Qute - fix parser
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: area/qute, triage/backport?

#10391 Avoid version issues by using an extended name option to decode base64
  extensions/amazon-lambda/common-deployment/src/main/resources/lambda/manage.sh
Labels: area/amazon-lambda, triage/backport?

#10093 Add debug symbols support #9792
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/backport?

#10369 ArC - introduce CacheGet annotation
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableInstance.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/WithCaching.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/instance/cacheget/InstanceWithCachingTest.java
Labels: area/arc, triage/waiting-for-ci

#10389 Set owner's permission to execute manage.sh
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/LambdaUtil.java
Labels: area/amazon-lambda, triage/backport?, triage/waiting-for-ci

#10344 [#10295] Allow using the informer interface, and trace down all types
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: area/kubernetes

#10396 Document mocking an authorization server with Mockito
  docs/src/main/asciidoc/security-oauth2.adoc
Labels: area/documentation

#10405 Fix missing Jaeger client version in native mode
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerDeploymentRecorder.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/graal/Target_JaegerTracer.java
  integration-tests/main/src/main/java/io/quarkus/it/opentracing/OpenTracingResource.java
  integration-tests/main/src/test/java/io/quarkus/it/main/OpenTracingTestCase.java
Labels: area/jaeger, triage/backport?

#10349 DB2 JDBC extension
  .github/workflows/ci-actions.yml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/jdbc/jdbc-db2/deployment/pom.xml
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
  extensions/jdbc/jdbc-db2/pom.xml
  extensions/jdbc/jdbc-db2/runtime/pom.xml
  extensions/jdbc/jdbc-db2/runtime/src/main/java/io/quarkus/jdbc/db2/runtime/DB2AgroalConnectionConfigurer.java
  extensions/jdbc/jdbc-db2/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/pom.xml
  integration-tests/jpa-db2/README.md
  integration-tests/jpa-db2/pom.xml
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/Address.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/Animal.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/Customer.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/Human.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/NotAnEntityNotReferenced.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/Person.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/SequencedAddress.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/Status.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/WorkAddress.java
  integration-tests/jpa-db2/src/main/resources/META-INF/persistence.xml
  integration-tests/jpa-db2/src/main/resources/application.properties
  integration-tests/jpa-db2/src/test/java/io/quarkus/it/jpa/db2/JPAFunctionalityInGraalITCase.java
  integration-tests/jpa-db2/src/test/java/io/quarkus/it/jpa/db2/JPAFunctionalityTest.java
  integration-tests/pom.xml
Labels: area/core, area/dependencies, area/documentation, area/hibernate-orm, area/infra-automation, area/persistence, triage/waiting-for-ci

#10401 1.6.0 backports 2
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/JavaDocParser.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocConfigDescriptionParserTest.java
  docs/src/main/asciidoc/microprofile-graphql.adoc
  extensions/amazon-lambda/common-deployment/src/main/resources/lambda/manage.sh
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/src/main/java/StreamLambda.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ImpliedBlockingPersistenceUnitTypeBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/metrics/HibernateOrmMetrics.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitsHolder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/LightPersistenceXmlDescriptor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/RecordableBootstrapFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusJtaPlatformInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/graal/JtaIntegrationDCOHelper.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordedState.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/InitialInitiatorListProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/StandardHibernateORMInitiatorListProvider.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/PreconfiguredReactiveServiceRegistryBuilder.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/ReactiveHibernateInitiatorListProvider.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/FriesianCow.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpoint.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithApplicationPropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithApplicationPropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-application.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-application.properties
Labels: area/infra

#10398 Revert "Simplify runtime class transformation"
  core/deployment/src/main/java/io/quarkus/deployment/builditem/TransformedClassesBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  extensions/vertx-core/deployment/src/test/java/io/quarkus/vertx/core/deployment/VerticleWithClassNameDeploymentTest.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/bootstrap/maven-resolver/pom.xml
  independent-projects/bootstrap/pom.xml
Labels: area/core, area/devtools, area/vertx, triage/backport?

#10413 Fix the security-oauth2.adoc callouts
  docs/src/main/asciidoc/security-oauth2.adoc
Labels: area/documentation

#10395 Dockerfile.native - write access to /work directory
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-native.ftl
  independent-projects/tools/devtools-common/src/test/resources/templates/dockerfile-native.ftl
Labels: area/devtools, area/platform, triage/backport?, triage/waiting-for-ci

#10394 fix missing quarkus gradle dependency
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/ModuleWithParentDependencyDevModeTest.java
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/app/build.gradle
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/app/src/main/java/io/quarkus/reproducer/ExampleResource.java
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/app/src/main/resources/META-INF/resources/index.html
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/app/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/app/src/native-test/java/io/quarkus/reproducer/NativeExampleResourceIT.java
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/app/src/test/java/io/quarkus/reproducer/ExampleResourceTest.java
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/build.gradle
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/gradle.properties
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/settings.gradle
Labels: area/devtools, area/gradle

#10418 Reduce log level of "objcopy" missing message
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#9919 Devmode: support launching devmode with an alternate pom
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/devtools, area/maven, triage/backport?

#10419 Fix fast-jar Dockerfile
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-fast-jar.ftl
  independent-projects/tools/devtools-common/src/test/resources/templates/dockerfile-fast-jar.ftl
Labels: area/devtools, area/platform, triage/backport?

#10424 Remove not supported anymore bootstrap system properties from the docs
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation, triage/backport?

#10426 Fix typo in max header size value
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation, triage/backport?

#10425 Add helpful message for QuarkusDevModeTest logging
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/testing

#10368 Allow the use of QuarkusTestResourceLifecycleManager with @TestProfile
  integration-tests/main/src/test/java/io/quarkus/it/main/GreetingProfileTestCase.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestProfile.java
Labels: area/testing

#10379 Add support for mutiny types in reactive routes
  docs/src/main/asciidoc/reactive-routes.adoc
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/HandlerDescriptor.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/Methods.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/JsonMultiRouteTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/MultiRouteTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/SSEMultiRouteTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/SyncRouteTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/UniRouteTest.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/ReactiveRoutes.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/JsonArrayMulti.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/MultiJsonArraySupport.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/MultiSseSupport.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/MultiSupport.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/SSEMulti.java
Labels: area/documentation, area/reactive, area/vertx

#10444 Fix race condition in scheduler and quartz's ConcurrentExecutionTest
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/ConcurrentExecutionTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/ConcurrentExecutionTest.java
Labels: area/scheduler

#10443 Remote dev mode fixes
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-fast-jar.ftl
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/HttpRemoteDevClient.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/RemoteSyncHandler.java
Labels: area/core, area/devtools, area/vertx, triage/backport?

#10415 GeneratedResourceBuildItem may also be filtered and ignoredEntries from plugins is now used
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/IgnoreEntriesIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/maven/src/test/resources/projects/ignore-entries-uber-jar/pom.xml
  integration-tests/maven/src/test/resources/projects/ignore-entries-uber-jar/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/ignore-entries-uber-jar/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/ignore-entries-uber-jar/src/main/resources/application.properties
  test-framework/maven/src/main/java/io/quarkus/maven/it/MojoTestBase.java
Labels: area/core, area/devtools, area/gradle, area/maven, area/testing

#10449 Add useful constructor for TestResource usage
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestProfile.java
Labels: area/testing

#10451 Scheduler - make tests for concurrent execution more robust
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/ConcurrentExecutionProceedTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/ConcurrentExecutionSkipTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/ConcurrentExecutionTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/ConcurrentExecutionProceedTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/ConcurrentExecutionSkipTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/ConcurrentExecutionTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/SkippedExecution.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SkipConcurrentExecutionInvoker.java
Labels: area/scheduler

#10450 Avoid very unlikely NPE
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/devtools, area/maven

#10442 Deprecate RecorderContext#classProxy method
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/RecorderContext.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
Labels: area/core, area/qute, area/smallrye

#10433 [#10432] Allow injection of a reactive session not wrapped in a Mutiny/CompletionStage
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionProducer.java
  integration-tests/hibernate-reactive-db2/src/main/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2AlternativeTestEndpoint.java
  integration-tests/hibernate-reactive-db2/src/test/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2AlternativeInGraalIT.java
  integration-tests/hibernate-reactive-db2/src/test/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2AlternativeTest.java
  integration-tests/hibernate-reactive-mysql/src/main/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLAlternativeTestEndpoint.java
  integration-tests/hibernate-reactive-mysql/src/test/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLAlternativeInGraalIT.java
  integration-tests/hibernate-reactive-mysql/src/test/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLAlternativeTest.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpointAlternative.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveAlternativeInGraalIT.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveAlternativeTest.java
Labels: area/hibernate-reactive, triage/backport?, triage/waiting-for-ci

#10446 Stop lombok annotations from preventing no-args ctor generation
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/InterfaceResource.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/InterfaceResourceImpl.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/RestEasyDevModeTestCase.java
Labels: area/resteasy, triage/backport?, triage/waiting-for-ci

#10468 disable daemon on wrapper generation
  devtools/platform-descriptor-json/pom.xml
Labels: area/devtools, triage/backport?

#10471 Fix KafkaSASLTestResource to prevent failures in KafkaCodecTest
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaSASLTestResource.java
Labels: area/kafka

#10456 Reactive routes - arguments are optional for non-void route methods
  docs/src/main/asciidoc/reactive-routes.adoc
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/Methods.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/filter/InvalidFilterParametersTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/JsonMultiRouteTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/MultiRouteTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/RawMutinyTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/RawUniTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/SyncRouteTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/mutiny/UniRouteTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/params/InvalidRouteMethodParametersTest.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/params/RouteMethodParametersTest.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/Route.java
Labels: area/documentation, area/reactive, area/vertx, release/noteworthy-feature, triage/waiting-for-ci

#10428 Add a doc workflow
  .github/workflows/doc-build.yml
Labels: area/documentation, area/infra-automation

#10440 Replace all @ConfigItem of type Optional<Integer> to OptionalInt
  extensions/amazon-services/common/runtime/src/main/java/io/quarkus/amazon/common/runtime/AmazonClientTransportRecorder.java
  extensions/amazon-services/common/runtime/src/main/java/io/quarkus/amazon/common/runtime/NettyHttpClientConfig.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcClientConfiguration.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerConfig.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerDeploymentRecorder.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AwsElasticBlockStoreVolumeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PortConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
Labels: area/hibernate-orm, area/jaeger, area/kubernetes, area/oidc, triage/waiting-for-ci

#10470 Amazon Lambda - native mode execution outside of AWS/sam container #9997
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AbstractLambdaPollLoop.java
Labels: area/amazon-lambda

#10463 Upgrade Infinispan extension
  .github/workflows/ci-actions.yml
  bom/runtime/pom.xml
  extensions/infinispan-embedded/deployment/pom.xml
  extensions/infinispan-embedded/deployment/src/main/java/io/quarkus/infinispan/embedded/deployment/InfinispanEmbeddedProcessor.java
  extensions/infinispan-embedded/deployment/src/main/java/io/quarkus/infinispan/embedded/deployment/InfinispanReflectionExcludedBuildItem.java
  extensions/infinispan-embedded/pom.xml
  extensions/infinispan-embedded/runtime/pom.xml
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/InfinispanEmbeddedProducer.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/InfinispanEmbeddedRuntimeConfig.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/FixJMXClasses.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/FixOSGIBasedClasses.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/JChannelSubstitutions.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/SubstituteCallerId.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/SubstituteJGroups.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/SubstituteReflectionBasedClasses.java
  extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/graal/SubstituteTransactionClasses.java
  extensions/infinispan-embedded/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  independent-projects/tools/platform-descriptor-resolver-json/src/test/resources/quarkus-bom/pom.xml
  integration-tests/infinispan-embedded/README
  integration-tests/infinispan-embedded/pom.xml
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/CustomInterceptor.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/CustomMBeanServerLookup.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/EventListener.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/TestAdvancedExternalizer.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/TestCacheLoader.java
  integration-tests/infinispan-embedded/src/main/java/io/quarkus/it/infinispan/embedded/TestServlet.java
  integration-tests/infinispan-embedded/src/main/resources/10.1.xml
  integration-tests/infinispan-embedded/src/main/resources/application.properties
  integration-tests/infinispan-embedded/src/main/resources/dist.xml
  integration-tests/infinispan-embedded/src/main/resources/resources-config.json
  integration-tests/infinispan-embedded/src/main/resources/stacks/broken-tcp.xml
  integration-tests/infinispan-embedded/src/main/resources/stacks/tcp.xml
  integration-tests/infinispan-embedded/src/main/resources/stacks/tcp_mping/tcp1.xml
  integration-tests/infinispan-embedded/src/main/resources/stacks/tcp_mping/tcp2.xml
  integration-tests/infinispan-embedded/src/main/resources/stacks/udp.xml
  integration-tests/infinispan-embedded/src/test/java/io/quarkus/it/infinispan/embedded/InfinispanEmbeddedFunctionalityInGraalITCase.java
  integration-tests/infinispan-embedded/src/test/java/io/quarkus/it/infinispan/embedded/InfinispanEmbeddedFunctionalityTest.java
  integration-tests/infinispan-embedded/src/test/java/io/quarkus/it/infinispan/embedded/InfinispanEmbeddedTestResource.java
  integration-tests/pom.xml
Labels: area/dependencies, area/devtools, area/infinispan, area/infra-automation, area/platform, triage/waiting-for-ci

#10482 Switch liquibase dependency to 3.10.1 version
  bom/runtime/pom.xml
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/LiquibaseProcessor.java
Labels: area/dependencies

#10486 docs: multipart-provider is not a quarkus extension
  docs/src/main/asciidoc/amazon-s3.adoc
Labels: area/documentation, triage/backport?

#9069 Make sure dev mode uses correct TCCL
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/devtools, area/vertx

#9370 feat: add a redis extension
  .github/boring-cyborg.yml
  .github/workflows/ci-actions.yml
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/redis.adoc
  extensions/pom.xml
  extensions/redis-client/deployment/pom.xml
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisBuildTimeConfig.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisClientProcessor.java
  extensions/redis-client/pom.xml
  extensions/redis-client/runtime/pom.xml
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/RedisClient.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/reactive/ReactiveRedisClient.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/ReactiveRedisClientImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisAPIProducer.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisConfig.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/health/RedisHealthCheck.java
  extensions/redis-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/pom.xml
  integration-tests/redis-client/README.md
  integration-tests/redis-client/pom.xml
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/RedisResource.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/HealthCheckIT.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/HealthCheckTest.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisIT.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisTest.java
Labels: area/core, area/dependencies, area/documentation, area/infra-automation

#10488 Ensure that %test.quarkus.http.test-port works properly
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  integration-tests/spring-web/src/main/resources/application.properties
Labels: area/testing, triage/backport?

#10243 Fast Jar Improvements
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AdditionalApplicationArchiveBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/mutability/ReaugmentTask.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PersistentAppModel.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/AddedRestEndpoint.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
Labels: area/core, area/devtools, area/maven, triage/waiting-for-ci

#10294 Add the ability to print the startup time of each build step
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/BootstrapConfigSetupBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RuntimeConfigSetupBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/StartupContext.java
  core/runtime/src/main/java/io/quarkus/runtime/util/StepTiming.java
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/core, area/documentation

#10489 Reactive routes - set content-type from Route#produces()
  docs/src/main/asciidoc/reactive-routes.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/MultiTest.java
  extensions/qute/runtime/pom.xml
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/Methods.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/Route.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/RouteHandlers.java
  independent-projects/qute/core/pom.xml
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/PublisherFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstance.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/CreateMultiTest.java
  independent-projects/qute/mutiny/pom.xml
  independent-projects/qute/mutiny/src/main/java/io/quarkus/qute/mutiny/MutinyPublisherFactory.java
  independent-projects/qute/mutiny/src/main/resources/META-INF/services/io.quarkus.qute.PublisherFactory
  independent-projects/qute/pom.xml
  integration-tests/qute/pom.xml
  integration-tests/qute/src/main/java/io/quarkus/it/qute/HelloRoutes.java
  integration-tests/qute/src/test/java/io/quarkus/it/qute/QuteTestCase.java
Labels: area/documentation, area/qute, area/reactive, area/vertx

#10506 Skip OIDC authentication if the tenant is disabled
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResource.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UnprotectedResource.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
Labels: area/oidc

#10494 Created uber-jar test for multi-module projects
  integration-tests/gradle/src/test/java/io/quarkus/gradle/MultiModuleUberJarTest.java
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/application/build.gradle
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/application/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/application/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/common/build.gradle
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/common/src/main/java/org/acme/common/CommonBean.java
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/common/src/main/resources/META-INF/beans.xml
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/gradle.properties
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/settings.gradle
Labels: area/gradle

#10505 Remove leftovers from infinispan-embedded removal
  .github/boring-cyborg.yml
  docs/src/main/asciidoc/index.adoc
  docs/src/main/asciidoc/infinispan-embedded.adoc
Labels: area/documentation, area/infra-automation

#10492 Make Spring Security play with @TestSecurity
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/security.adoc
  extensions/spring-security/runtime/src/main/java/io/quarkus/spring/security/runtime/interceptor/SpringPreauthorizeInterceptor.java
  extensions/spring-security/runtime/src/main/java/io/quarkus/spring/security/runtime/interceptor/SpringSecuredInterceptor.java
  integration-tests/spring-web/pom.xml
  integration-tests/spring-web/src/main/resources/application.properties
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/SecurityIT.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/SecurityTest.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/SpringControllerTest.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/TestSecurityTest.java
Labels: area/documentation, area/spring, triage/waiting-for-ci

#10503 Update asciidoctor-maven-plugin to latest stable v2.0.0
  docs/pom.xml
Labels: area/documentation, triage/waiting-for-ci

#10508 Make sure --no-daemon does indeed get used when quarkus-platform-descriptor-json module is built
  devtools/platform-descriptor-json/pom.xml
Labels: area/devtools

#10512 add quarkusDev tips on compilerArgs
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation

#9728 feature: reading namespaced ConfigMaps
  docs/src/main/asciidoc/kubernetes-config.adoc
  extensions/kubernetes-config/runtime/pom.xml
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceConfig.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceProvider.java
  extensions/kubernetes-config/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceProviderTest.java
  integration-tests/kubernetes-client/pom.xml
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/ConfigMapProperties.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/AbsentConfigMapPropertiesTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/ConfigMapPropertiesTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/CustomKubernetesMockServerTestResource.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/NamespacedConfigMapPropertiesTest.java
  integration-tests/kubernetes-client/src/test/resources/application-demo.properties
Labels: area/documentation, area/kubernetes, area/testing, triage/waiting-for-ci

#10507 Remove unused AbstractDelegatingConfigSource
  core/runtime/src/main/java/io/quarkus/runtime/configuration/AbstractDelegatingConfigSource.java
Labels: area/config, area/core

#10455 Implements count() for named queries
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
Labels: area/hibernate-orm, area/panache, triage/waiting-for-ci

#10531 Move maintainers list to the main repository
  .github/workflows/ci-actions.yml
  MAINTAINERS.adoc
Labels: area/infra-automation

#10527 Default file.encoding system property to UTF-8 during native image build
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#10530 Auto-Labeller update
  .github/autoissuelabeler.yml
Labels: area/infra, area/infra-automation

#10526 Deprecate hibernate.properties resource
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusEnvironment.java
Labels: area/hibernate-orm

#10533 grpc client interceptors
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientProcessor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcClientInterceptorContainer.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/HeaderClientInterceptor.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/HelloWorldEndpoint.java
  integration-tests/grpc-interceptors/src/test/java/io/quarkus/grpc/example/interceptors/HelloWorldEndpointTest.java
Labels: area/grpc, kind/bug

#10535 Update antlr4 to 4.8 to be consistent with the version used by Kogito
  bom/runtime/pom.xml
Labels: area/dependencies, triage/backport?

#10542 If no challenge is generated return 401
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/TestIdentityController.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/TestIdentityProvider.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/EmptyChallengeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/HeaderAuthenticator.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/TestTrustedIdentityProvider.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
Labels: area/security, area/vertx

#10546 Hot reload logging fixes
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxProducer.java
  extensions/vertx/runtime/src/test/java/io/quarkus/vertx/runtime/VertxProducerTest.java
Labels: area/core, area/vertx

#10550 Add labels and annotation to minikube manifests
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/MinikubeWithApplicationPropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/minikube-with-application.properties
Labels: area/kubernetes, triage/backport?, triage/waiting-for-ci

#10545 Don't send body with 403
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/ForbiddenExceptionMapper.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/RolesAllowedUnitTest.java
Labels: area/resteasy, area/smallrye

#10551 Remote dev mode improvements
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/HttpRemoteDevClient.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/RemoteSyncHandler.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/DevModeMediator.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/QuarkusEntryPoint.java
Labels: area/devtools, area/panache, area/vertx, triage/backport?

#10538 Allow user-providers-directory outside the output dir
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/SerializedApplication.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
Labels: area/devtools, area/maven

#10565 Disable failing Windows test
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/maven

#10562 Wait for graalVM version docker container because of possible race co…
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#10560 Properly integrate log4j2 inside Quarkus
  bom/runtime/pom.xml
  build-parent/pom.xml
Labels: area/dependencies, triage/backport?

#10558 feat(#10557): Add knative cluster-local support
  bom/runtime/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeClusterLocalTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-cluster-local.properties
Labels: area/dependencies, area/kubernetes, triage/waiting-for-ci

#10554 Allow QuarkusDevModeTest to be run from IntelliJ
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/testing, triage/waiting-for-ci

#10534 Add support for nested interfaces in @ConfigProperties
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/InterfaceConfigPropertiesUtil.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/InterfaceWithNestedInterfaceConfigPrefixTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/InterfaceWithOtherConfigPrefixTest.java
Labels: area/arc, triage/waiting-for-ci

#10497 Allow Arc to deal with final methods of beans that need to be proxied
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unproxyable/RequestScopedFinalMethodsTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
Labels: area/arc, area/documentation, triage/waiting-for-ci

#10541 Introduce entityManager() in PanacheEntityBase and PanacheRepositoryBase
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheCompanion.kt
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheEntityBase.kt
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheRepositoryBase.kt
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/test/EntityManagerTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/test/MyEntity.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntityBase.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheRepositoryBase.java
  integration-tests/hibernate-orm-panache-kotlin/src/test/kotlin/io/quarkus/it/panache/KotlinPanacheFunctionalityTest.kt
Labels: area/panache

#10417 OIDC UserInfo support
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/UserInfo.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTokenCredentialProducer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantOpaqueResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
Labels: area/oidc

#10576 Bootstrap workspace discovery: fix infinite loop, pom model cache
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-alternate-pom/root/module1/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-alternate-pom/root/module1/pom2.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-alternate-pom/root/module1/submodule/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-alternate-pom/root/module2/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-alternate-pom/root/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-alternate-pom/root/pom2.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-parent-is-not-root-dir/acme-application/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-parent-is-not-root-dir/acme-backend/acme-backend-rest-api/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-parent-is-not-root-dir/acme-backend/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-parent-is-not-root-dir/acme-dependencies/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-parent-is-not-root-dir/acme-parent/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-parent-is-not-root-dir/pom.xml
Labels: area/devtools

#10176 Make sure request resumes on correct thread
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeMain.java
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/VertxHttpHotReplacementSetup.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/DevModeRoute.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/VertxWebDevModeTestCase.java
Labels: area/core, area/vertx, triage/backport?, triage/waiting-for-ci

#10588 Fix broken Jib with fast-jar
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/container-image, triage/backport?

#10568 Fail deployment if multiple security annotations are present
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/InvalidBean.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/InvalidClassBeanTestCase.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/security, area/testing, triage/backport?

#10591 Move access logs to their own section
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation

#10609 Minor CL change
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/devtools, triage/waiting-for-ci

#10611 Rename entityManager() to getEntityManager()
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheEntityBase.kt
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheRepositoryBase.kt
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/test/EntityManagerTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/test/MyEntity.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntityBase.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheRepositoryBase.java
  integration-tests/hibernate-orm-panache-kotlin/src/test/kotlin/io/quarkus/it/panache/KotlinPanacheFunctionalityTest.kt
Labels: area/panache, triage/waiting-for-ci

#10595 Fix exception in logs on live reload
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/hotreload/VertxEventBusConsumer.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/hotreload/VertxEventBusProducer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/devmode/MyVerticle.java
Labels: area/vertx, triage/backport?, triage/waiting-for-ci

#10605 More fixes around dev mode TCCL
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/VertxHttpHotReplacementSetup.java
Labels: area/vertx, triage/backport?

#10612 Fix openapihandler request options
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiDefaultPathTestCase.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java
Labels: area/smallrye, triage/backport?, triage/waiting-for-ci

#10610 Add configuration for http max initial line length
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/documentation, area/vertx, triage/waiting-for-ci

#10266 Enable forwarded for prefix header configuration
  docs/src/main/asciidoc/vertx.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ConfigureForwardedHeadersTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ForwardedHandlerInitializer.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ForwardedPrefixHeaderTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedServerRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardingProxyOptions.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ProxyConfig.java
Labels: area/documentation, area/vertx

#10621 Add default to http max chunk size
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx

#10624 Add the headers end handler to the routing context
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxHttpResponse.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxRequestHandler.java
Labels: area/resteasy, triage/backport?

#10622 Reactive datasource config: cache-prepared-statements is not specific to DB2
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DataSourceReactiveDB2Config.java
Labels: triage/backport?

#10620 SSL support for reactive DB2 client
  docs/src/main/asciidoc/native-and-ssl.adoc
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/ReactiveDB2ClientProcessor.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DataSourceReactiveDB2Config.java
Labels: area/documentation, area/reactive

#10577 Push the Cassandra documentation to the main repo
  docs/src/main/asciidoc/blaze-persistence.adoc
  docs/src/main/asciidoc/cassandra.adoc
  docs/src/main/asciidoc/platform-include.adoc
Labels: area/documentation, triage/backport?

#10556 Dev mode: fixed discovery of local dependencies inherited from parents
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level0/pom.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level0/src/main/java/org/acme/level0/Level0Service.java
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level0/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level1/pom.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level1/src/main/java/org/acme/level1/Level1Service.java
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level1/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level2/pom.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level2/submodule/pom.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level2/submodule/src/main/java/org/acme/level2/submodule/Level2Service.java
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/level2/submodule/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/pom.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/runner/pom.xml
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/runner/src/main/java/org/acme/rest/HelloResource.java
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/runner/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/multimodule-parent-dep/runner/src/main/resources/application.properties
  integration-tests/maven/src/test/resources/projects/project-with-extension/common-transitive/pom.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/common-transitive/src/main/java/org/acme/CommonTransitiveBean.java
  integration-tests/maven/src/test/resources/projects/project-with-extension/common-transitive/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/common/pom.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/common/src/main/java/org/acme/CommonBean.java
  integration-tests/maven/src/test/resources/projects/project-with-extension/common/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/library/pom.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/library/src/main/java/org/acme/LibraryBean.java
  integration-tests/maven/src/test/resources/projects/project-with-extension/library/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/pom.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/quarkus-ext/deployment/pom.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/quarkus-ext/deployment/src/main/java/org/acme/quarkus/ext/deployment/AcmeQuarkusExtProcessor.java
  integration-tests/maven/src/test/resources/projects/project-with-extension/quarkus-ext/pom.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/quarkus-ext/runtime/pom.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/runner/pom.xml
  integration-tests/maven/src/test/resources/projects/project-with-extension/runner/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/project-with-extension/runner/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources/projects/project-with-extension/runner/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/project-with-extension/runner/src/main/resources/application.properties
Labels: area/devtools, area/maven

#10601 add remove extension test
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFile.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToModuleInMultiModuleProjectTest.java
Labels: area/devtools, area/gradle, area/platform

#10606 Add the missing space in the error message.
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
Labels: area/resteasy

#10552 Add kubernetes/openshift/minikube to auto-labeler
  .github/autoissuelabeler.yml
Labels: area/infra-automation

#10613 Better support for OIDC without the discovery endpoint
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc

#10632 Change inner class modifier in quartz docs
  docs/src/main/asciidoc/quartz.adoc
Labels: area/documentation

#10598 ArC - fix AnnotationStore
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationStore.java
Labels: area/arc, triage/backport?, triage/waiting-for-ci

#10575 Qute - fix incorrect behavior of Evaluator in loop sections
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/LoopSectionTest.java
Labels: area/qute, triage/backport?, triage/waiting-for-ci

#10529 Docs - add "Introduction to CDI"
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/cdi.adoc
Labels: area/documentation

#10642 Fixing the GraalVM with macOS Catalina workaround
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation, triage/backport?

#10629 Support @RepositoryDefinition for Spring Data repositories
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/DotNames.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/SpringDataRepositoryCreator.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PostCommentRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PostResource.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/PostResourceTest.java
Labels: area/hibernate-orm, area/spring, triage/backport?

#10638 Don't generate JdbcDataSourceBuildItem twice
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
Labels: triage/backport?

#10548 Exit in dev mode if port is in use
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/core, area/devtools, area/maven, area/vertx

#10544 Filter out Netty DEBUG level exceptions
  core/deployment/src/main/java/io/quarkus/deployment/logging/LogCleanupFilterBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/CleanupFilterConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogCleanupFilter.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogCleanupFilterElement.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: area/core, area/logging

#10639 Log a warning for constraints on static methods and ignore them
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/MethodValidatedAnnotationsTransformer.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/ConstraintOnStaticMethodTest.java
Labels: area/hibernate-validator, triage/backport?

#10328 Devmode: introduce quarkus.live-reload.watched-resources
  core/deployment/src/main/java/io/quarkus/deployment/steps/DevModeBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/LiveReloadConfig.java
  integration-tests/devmode/src/test/java/io/quarkus/test/reload/AdditionalWatchedResourcesDevModeTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/reload/AdditionalWatchedResourcesResource.java
Labels: area/core

#9541 Remove Reactive Messaging in-memory-connector from bom in 1.3.x
  bom/runtime/pom.xml
Labels: area/dependencies, triage/backport-1.3?

#10537 Update manage.sh for updated aws cli for issue 10480
  extensions/amazon-lambda/common-deployment/src/main/resources/lambda/manage.sh
Labels: area/amazon-lambda, area/core, area/dependencies, area/hibernate-orm, area/infra-automation, triage/backport?

#10645 CDI: Document that @Interceptors is not yet supported
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation

#10659 docs: add resteasy-mutiny extension
  docs/src/main/asciidoc/amazon-s3.adoc
Labels: area/documentation

#10657 Knative autoscaling
  bom/runtime/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AutoScalerClass.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AutoScalerClassConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AutoScalingConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AutoScalingMetric.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AutoScalingMetricConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/GlobalAutoScalingConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeGlobalContainerConcurrency.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeGlobalRequestsPerSecond.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeScaleBoundsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeScaleToZeroTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-global-container-concurrency.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-global-requests-per-second.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-scale-bounds.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-scale-to-zero.properties
Labels: area/dependencies, area/kubernetes

#10573 Fix issue with Opentracing and Servlet in native
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_FilterConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_ServletConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_ServletContextConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/UndertowMissing.java
Labels: area/smallrye, triage/backport?

#10474 Update Docs for native-image Commons Logging
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation, area/resteasy

#10676 update to mutiny 0.6.0
  bom/runtime/pom.xml
  docs/src/main/asciidoc/amazon-dynamodb.adoc
  docs/src/main/asciidoc/amazon-kms.adoc
  docs/src/main/asciidoc/amazon-s3.adoc
  docs/src/main/asciidoc/amazon-sns.adoc
  docs/src/main/asciidoc/amazon-sqs.adoc
  docs/src/main/asciidoc/getting-started-reactive.adoc
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  docs/src/main/asciidoc/grpc-service-implementation.adoc
  docs/src/main/asciidoc/reactive-event-bus.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  docs/src/main/asciidoc/vertx.adoc
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/FunctionInvoker.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/MutinyTestService.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/reflection/ReflectionService.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateInstanceImpl.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MutinyMailerImpl.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/AttachmentTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/reactive/ListDatabaseTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/reactive/ReactiveMongoClientTest.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/runtime/ReactiveMongoOperations.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/MultiTest.java
  extensions/resteasy-mutiny/deployment/src/test/java/io/quarkus/resteasy/mutiny/test/MutinyResource.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusIdentityProviderManagerImpl.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/ProducingBean.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/EventBusCodecTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/MutinyCodecTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/verticles/VerticleDeploymentTest.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/HelloWorldEndpoint.java
  integration-tests/grpc-mutual-auth/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldTlsEndpoint.java
  integration-tests/grpc-plain-text/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldEndpoint.java
  integration-tests/grpc-proto-v2/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldEndpoint.java
  integration-tests/grpc-streaming/src/main/java/io/quarkus/grpc/example/streaming/StreamingEndpoint.java
  integration-tests/grpc-streaming/src/main/java/io/quarkus/grpc/example/streaming/StreamingService.java
  integration-tests/grpc-tls/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldTlsEndpoint.java
  integration-tests/hibernate-reactive-db2/src/main/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2AlternativeTestEndpoint.java
  integration-tests/hibernate-reactive-db2/src/main/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2TestEndpoint.java
  integration-tests/hibernate-reactive-mysql/src/main/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLAlternativeTestEndpoint.java
  integration-tests/hibernate-reactive-mysql/src/main/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLTestEndpoint.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpoint.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpointAlternative.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/ReactiveBookResource.java
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/MutinyResource.java
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/SomeService.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/mutiny/MutinyContextEndpoint.java
Labels: area/dependencies, area/documentation, area/funqy, area/mongodb, area/panache, area/qute, area/reactive-messaging, area/security, area/smallrye, area/vertx

#10668 Add launched profile to output when startup failed
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
Labels: area/core

#10680 Add mockito-junit-jupiter to dependabot
  .dependabot/config.yml
Labels: area/dependencies

#10630 Reactive routes - add @Param, @Header and @Body
  docs/src/main/asciidoc/reactive-routes.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/TransformedAnnotationsBuildItem.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/DotNames.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/HandlerDescriptor.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/Methods.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/params/RouteMethodParametersTest.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/Body.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/Header.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/Param.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Annotations.java
Labels: area/arc, area/documentation, area/vertx, release/noteworthy-feature, triage/waiting-for-ci

#10689 Adjust dependabot's schedule time to 21:00 Paris time
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#9574 VertxRequestHandler cleanup code changes
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/VertxRequestHandler.java
Labels: area/funqy, triage/waiting-for-ci

#10619 Fix Spring Data JPA Query Methods for big hierarchy
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/AbstractEntity.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/Cart.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CartRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CartResource.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CartStatus.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/Customer.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CustomerRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CustomerResource.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/Order.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/OrderRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/OrderResource.java
  integration-tests/spring-data-jpa/src/main/resources/import.sql
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/CartResourceIT.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/CartResourceTest.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/CustomerResourceIT.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/CustomerResourceTest.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/OrderResourceIT.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/OrderResourceTest.java
Labels: area/hibernate-orm, area/spring, triage/waiting-for-ci

#10653 Improve the OIDC/OAuth2 documentation
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation

#10647 Re-enable DevMojoIT.testResourcesFromClasspath()
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/maven

#10700 Revert "Improve the OIDC/OAuth2 documentation"
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation

#10708 docs: add quickstart source code and fix typo
  docs/src/main/asciidoc/amazon-ses.adoc
Labels: area/documentation, triage/backport?

#10703 DevMojoIT: Remove superfluous first mvn install to avoid race condition
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/maven

#10666 Throw an error if uber-jar is set but a different package type is sel…
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/core, area/documentation

#10715 Improve the OIDC/OAuth2 documentation
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation

#10707 Link to the JBoss Logging Level and not the JDK one
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtil.java
Labels: area/core, triage/backport?

#10678 Add and remove extension from single module project
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToSingleModuleProjectTest.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/build.gradle
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/gradle.properties
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/settings.gradle
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/src/main/java/org/acme/ExampleResource.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/src/test/java/org/acme/ExampleResourceTest.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/src/test/resources/application.properties
Labels: area/gradle, triage/waiting-for-ci

#10719 fixes a property name
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation, triage/backport?

#10718 Properly determine classpath locations in Flyway
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  integration-tests/flyway/src/main/resources/application.properties
  integration-tests/flyway/src/main/resources/db/location4/V1.0.2__Quarkus.sql
  integration-tests/flyway/src/test/java/io/quarkus/it/flyway/FlywayFunctionalityTest.java
Labels: area/flyway, triage/backport?, triage/waiting-for-ci

#10656 fix from pattern in CommonPanacheQueryImpl class
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/hibernate-orm-panache-common/runtime/src/test/java/io/quarkus/hibernate/orm/panache/common/runtime/QueryMatcherTest.java
Labels: area/panache

#10728 Adding OpenAPI information in the Spring-Web Guide
  docs/src/main/asciidoc/images/spring-web-guide-screenshot01.png
  docs/src/main/asciidoc/spring-web.adoc
Labels: area/documentation

#10615 Added tests to Config, to ensure backwards compatibility.
  bom/runtime/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/QuarkusProfileConfigSourceInterceptor.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/ConfigProfileTestCase.java
Labels: area/config, area/core, area/dependencies, triage/backport?

#10723 Update Blaze-Persistence guide
  docs/src/main/asciidoc/blaze-persistence.adoc
Labels: area/documentation

#10739 fix: use a less chatty version of dekorate
  bom/runtime/pom.xml
Labels: area/dependencies, area/kubernetes, triage/backport?

#10721 Document SyntheticBeanBuildItem
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#10693 funqy docs disclaimers and usage improvements
  docs/src/main/asciidoc/funqy-amazon-lambda-http.adoc
  docs/src/main/asciidoc/funqy-amazon-lambda.adoc
  docs/src/main/asciidoc/funqy-azure-functions-http.adoc
  docs/src/main/asciidoc/funqy-http.adoc
  docs/src/main/asciidoc/funqy.adoc
Labels: area/core, area/devtools, area/documentation, area/logging, area/maven, area/vertx, triage/backport?

#10655 Use JBoss Commons Logging Implementation - Amazon Alexa
  extensions/amazon-alexa/runtime/pom.xml
Labels: triage/backport?, triage/waiting-for-ci

#10762 Upgrade SmallRye OpenAPI to 2.0.3 version
  bom/runtime/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci
