Repository quarkusio/quarkus, pull requests merged in 2020-04, with the labels that each got.

#8303 Parameterised docker image for DBs
  integration-tests/jpa-mariadb/pom.xml
  integration-tests/jpa-mssql/pom.xml
  integration-tests/jpa-mysql/pom.xml
  integration-tests/jpa-postgresql/pom.xml
Labels: area/hibernate-orm, area/persistence

#8310 Add build items for Labels, Annotations
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesAnnotationBuildItem.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesEnvBuildItem.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesLabelBuildItem.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
Labels: area/kubernetes

#8199 Added ability for custom manifest entries in MANIFEST.MF
  core/deployment/src/main/java/io/quarkus/deployment/pkg/ManifestConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/CustomManifestSectionsThinJarTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/CustomManifestSectionsUberJarTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/NoCustomManifestSectionsThinJarTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/NoCustomManifestSectionsUberJarTest.java
  integration-tests/maven/src/test/resources/projects/custom-manifest-section/custom-manifest-thin.properties
  integration-tests/maven/src/test/resources/projects/custom-manifest-section/custom-manifest-uber.properties
  integration-tests/maven/src/test/resources/projects/custom-manifest-section/no-custom-manifest-thin.properties
  integration-tests/maven/src/test/resources/projects/custom-manifest-section/no-custom-manifest-uber.properties
Labels: area/core, area/devtools, area/maven

#8319 Include the original exception that caused .env file copy to fail
  core/devmode/src/main/java/io/quarkus/dev/DevModeMain.java
Labels: area/core

#8316 Override the host from X-Forwarded-Host
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ForwardedHandlerInitializer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
Labels: area/vertx

#8175 Support for mocking CDI beans
  docs/src/main/asciidoc/getting-started-testing.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/MockableProxy.java
  integration-tests/main/src/main/java/io/quarkus/it/mock/MockableBean1.java
  integration-tests/main/src/main/java/io/quarkus/it/mock/MockableBean2.java
  integration-tests/main/src/test/java/io/quarkus/it/main/MockTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMock.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/arc, area/documentation, area/testing, release/noteworthy-feature

#8322 Fix case where kubernetes extension didn't work with Gradle
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
Labels: area/kubernetes

#8318 Don't remove classes from the resettable elements
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/MemoryClassPathElement.java
Labels: area/devtools

#8296 ArC - select alternatives through the MicroProfile Config
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/lifecycle.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/alternatives/Foo.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/alternatives/Producers.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/alternatives/SelectedAlternativesFqcnTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/alternatives/SelectedAlternativesPackageStartsTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/alternatives/SelectedAlternativesPackageTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/alternatives/SelectedAlternativesSimpleNameTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/alternatives/bar/Bar.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/alternatives/bar/MyStereotype.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AlternativePriorities.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AbstractAlternativeNoPriorityTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AlternativeNoPriorityBeanClassTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AlternativeNoPriorityProducerFieldTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/AlternativeNoPriorityProducerMethodTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/alternatives/priority/ComputedAlternativePriorityTest.java
Labels: area/arc, area/documentation, release/breaking-change, triage/waiting-for-ci

#8315 Add keycloak admin client
  bom/runtime/pom.xml
  docs/src/main/asciidoc/security-openid-connect.adoc
  extensions/keycloak-admin-client/deployment/pom.xml
  extensions/keycloak-admin-client/deployment/src/main/java/io/quarkus/keycloak/adminclient/deployment/KeycloakAdminClientProcessor.java
  extensions/keycloak-admin-client/pom.xml
  extensions/keycloak-admin-client/runtime/pom.xml
  extensions/keycloak-admin-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/keycloak-authorization/pom.xml
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/KeycloakTestResource.java
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/AdminClientResource.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/AdminClientTestCase.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/NativeAdminClientITCase.java
Labels: area/dependencies, area/documentation, area/oidc, triage/waiting-for-ci

#8330 Spring Boot properties extension guide #8186
  docs/src/main/asciidoc/spring-boot-properties.adoc
  docs/src/main/asciidoc/spring-cloud-config-client.adoc
  docs/src/main/asciidoc/spring-data-jpa.adoc
  docs/src/main/asciidoc/spring-di.adoc
  docs/src/main/asciidoc/spring-security.adoc
  docs/src/main/asciidoc/spring-web.adoc
  extensions/spring-boot-properties/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/arc, area/core, area/devtools, area/documentation, area/maven, area/vertx

#8339 Make vert.x a singleton
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
Labels: area/vertx

#8321 Add warning about @Provider constructors
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
Labels: area/resteasy

#8320 Remove Docker bridge mode for jpa-mssql and jpa-mariadb tests
  integration-tests/jpa-mariadb/pom.xml
  integration-tests/jpa-mssql/pom.xml
Labels: area/hibernate-orm, area/persistence, triage/backport-1.3?

#8313 Fix anchor ssl configuration plus small fixes
  docs/src/main/asciidoc/attributes.adoc
  docs/src/main/asciidoc/jgit.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation, triage/backport-1.3?

#8317 New Lambda packaging
  bom/deployment/pom.xml
  docs/src/main/asciidoc/amazon-lambda-http.adoc
  docs/src/main/asciidoc/amazon-lambda.adoc
  extensions/amazon-lambda-http/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/AmazonLambdaHttpProcessor.java
  extensions/amazon-lambda-http/deployment/src/main/resources/http/sam.jvm.yaml
  extensions/amazon-lambda-http/deployment/src/main/resources/http/sam.native.yaml
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/sam.jvm.yaml
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/sam.native.yaml
  extensions/amazon-lambda-xray/deployment/src/main/java/io/quarkus/amazon/lambda/xray/XrayBuildStep.java
  extensions/amazon-lambda/common-deployment/pom.xml
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/FunctionZipProcessor.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/LambdaUtil.java
  extensions/amazon-lambda/common-deployment/src/test/java/io/quarkus/it/UtilTest.java
  extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java
  extensions/amazon-lambda/deployment/src/main/resources/lambda/bootstrap-example.sh
  extensions/amazon-lambda/deployment/src/main/resources/lambda/manage.sh
  extensions/amazon-lambda/deployment/src/main/resources/lambda/sam.jvm.yaml
  extensions/amazon-lambda/deployment/src/main/resources/lambda/sam.native.yaml
  extensions/amazon-lambda/maven-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/manage.sh
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/sam.jvm.yaml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/sam.native.yaml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/src/assembly/zip.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/src/assembly/zip.xml
Labels: area/amazon-lambda, area/dependencies, area/documentation

#8351 Fix newly added typo in cdi-reference.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation

#8349 Remove false warning when quarkus.test.profile is used
  core/deployment/src/main/java/io/quarkus/deployment/TestConfig.java
Labels: area/core

#8354 Awaitility is test scoped
  extensions/smallrye-context-propagation/deployment/pom.xml
Labels: area/smallrye, triage/waiting-for-ci

#8356 getting-started guide - small fix in TestHTTPResource related info
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation

#8340 Gradle: Search for build script dependencies in the parent projects as well
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/devtools, area/gradle

#8361 Don't throw NPE in QuarkusTestExtension on failed boot
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#8372 Add funqy bot and cc
  .github/autoissuelabeler.yml
  .github/boring-cyborg.yml
Labels: area/infra-automation

#8353 There is no need to ignore io.quarkus.arquillian.test.SimpleTest
  test-framework/arquillian/src/test/java/io/quarkus/arquillian/test/SimpleTest.java
Labels: area/testing

#8373 Increase timeout for security2 native image tests group
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#8380 Document how to use a random test port
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation

#8366 Hibernate ORM fix for early metadata validation issue
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/specialmappings/DataIdentity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/specialmappings/EarlyMetadaValidationTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/specialmappings/IdVersionPK.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/specialmappings/NormalPointEntity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/specialmappings/PointEntity.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/BootstrapOnlyProxyFactoryFactoryInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusProxyFactoryFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusRuntimeProxyFactoryFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusRuntimeProxyFactoryFactoryInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/DataIdentity.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/IdVersionPK.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/NormalPointEntity.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/PointEntity.java
Labels: area/hibernate-orm, area/persistence, triage/backport-1.3?, triage/waiting-for-ci

#8377 feat: add spring datasource data property + refactor
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/PropertyWarningsPMT.java
  integration-tests/spring-data-jpa/src/test/resources/property-warnings-test.properties
Labels: area/hibernate-orm, area/spring

#8388 Fix reference to Vert.x API used in examples
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation

#8387 Remove redundant import for generated Spring controller
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/java/spring-controller-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/spring-controller-template.ftl
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/scala/spring-controller-template.ftl
Labels: area/devtools, area/spring

#8307 set groups attribute name as configurable
  extensions/elytron-security/runtime/pom.xml
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/DefaultRoleDecoder.java
  extensions/elytron-security/runtime/src/test/java/io/quarkus/elytron/security/runtime/DefaultRoleDecoderTest.java
Labels: area/security

#8397 Increase timeout for Data3 group of native tests
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#8395 Make QuarkusTestExtension work with @ExtendWith and @RegisterExtension
  core/deployment/src/main/java/io/quarkus/deployment/builditem/TestClassBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/TestsAsBeanDefiningAnnotationsProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/TestsAsBeansProcessor.java
  integration-tests/main/src/test/java/io/quarkus/it/main/BeanOnlyInTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ValidatorTestCase.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestClassIndexer.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DotNames.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/arc, area/core, area/testing

#8383 Add config to override chunk sizes
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/backport-1.3?

#8389 Remove WireMock from BOM
  bom/runtime/pom.xml
  extensions/spring-cloud-config-client/runtime/pom.xml
  integration-tests/elytron-security-oauth2/pom.xml
Labels: area/dependencies, area/security, area/spring

#8341 Log downloads to the console
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenArtifactResolver.java
Labels: area/devtools

#8182 Switch from -Dno-format to -Dformat.skip
  .github/workflows/ci-actions.yml
  .github/workflows/native-cron-build.yml
Labels: area/infra-automation

#8374 VertxHttpRecorder fix - startup gets stuck if insecure-requests=disabled
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ssl/SslServerWithPemTest.java
  extensions/vertx-http/deployment/src/test/resources/conf/ssl-pem.conf
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/backport-1.3?

#8403 Warn if resteasy-mutiny is missing
  core/deployment/src/main/java/io/quarkus/deployment/Capabilities.java
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyDotNames.java
  extensions/resteasy-mutiny/deployment/src/main/java/io/quarkus/resteasy/mutiny/deployment/ResteasyMutinyProcessor.java
Labels: area/core, area/resteasy, triage/backport-1.3?, triage/waiting-for-ci

#8390 do not quote url so that it is rendered nicely
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation

#8328 Upgrade to Hibernate Search 6.0.0.Beta6
  bom/runtime/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/hibernate-search-elasticsearch.adoc
  extensions/hibernate-search-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/IndexedNonEntity.java
  extensions/hibernate-search-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/NoConfigIndexedNonEntityTest.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfig.java
  integration-tests/hibernate-search-elasticsearch/src/main/resources/application.properties
Labels: area/dependencies, area/documentation, area/hibernate-search

#8410 Allow adding custom labels to container images created via Jib
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/spi/src/main/java/io/quarkus/container/spi/ContainerImageLabelBuildItem.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
Labels: area/documentation, area/kubernetes

#8355 Fix a few things in the new Keycloak Admin Client extension
  bom/deployment/pom.xml
  extensions/keycloak-admin-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/dependencies

#8393 Fix Mutiny Vert.x example
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation

#8343 Support having a bean enabled only when a build time profile is enabled or disabled
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BuildProfileProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/profile/IfBuildProfileTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/profile/UnlessBuildProfileTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/profile/IfBuildProfile.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/profile/UnlessBuildProfile.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
Labels: area/arc, area/documentation, release/noteworthy-feature, triage/waiting-for-ci

#8376 Support Kubernetes ConfigMap and Secrets as configuration/value sources
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  extensions/kubernetes-client/runtime/pom.xml
  extensions/kubernetes-config/deployment/pom.xml
  extensions/kubernetes-config/deployment/src/main/java/io/quarkus/kubernetes/config/deployment/KubernetesConfigProcessor.java
  extensions/kubernetes-config/pom.xml
  extensions/kubernetes-config/runtime/pom.xml
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/AbstractKubernetesConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/ConfigMapConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigRecorder.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceConfig.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceProvider.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/SecretConfigSourceUtil.java
  extensions/kubernetes-config/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/kubernetes-config/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/ConfigMapConfigSourceUtilTest.java
  extensions/kubernetes-config/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/SecretConfigSourceUtilTest.java
  extensions/pom.xml
  integration-tests/kubernetes-client/pom.xml
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/ConfigMapProperties.java
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/SecretProperties.java
  integration-tests/kubernetes-client/src/main/resources/application.properties
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/ConfigMapPropertiesIT.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/ConfigMapPropertiesTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/CustomKubernetesMockServerTestResource.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/SecretPropertiesIT.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/SecretPropertiesTest.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesMockServerTestResource.java
Labels: area/dependencies, area/kubernetes, area/testing

#8419 Gradle wrapper version must be 6.3
  build-parent/pom.xml
  independent-projects/tools/pom.xml
Labels: area/dependencies, area/devtools, area/platform, triage/waiting-for-ci

#8408 add list jvm list arguments
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/devtools, area/gradle, release/breaking-change, triage/waiting-for-ci

#8412 Test that CDI beans in SmallRye Health are present
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/ExpectedBeansUnitTest.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/FailingHealthCheck.java
Labels: area/smallrye

#8370 Funqy azure and lambda http support
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AbstractLambdaPollLoop.java
  extensions/funqy/funqy-http/deployment/src/main/java/io/quarkus/funqy/deployment/bindings/http/FunqyHttpBuildStep.java
  extensions/funqy/funqy-http/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/http/FunqyHttpBindingRecorder.java
  extensions/funqy/funqy-http/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/http/VertxRequestHandler.java
  integration-tests/amazon-lambda-http/pom.xml
  integration-tests/amazon-lambda-http/src/main/java/io/quarkus/it/amazon/lambda/FunqyGreeting.java
  integration-tests/amazon-lambda-http/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
  integration-tests/virtual-http/pom.xml
  integration-tests/virtual-http/src/main/java/io/quarkus/it/virtual/FunqyGreeting.java
  integration-tests/virtual-http/src/test/java/io/quarkus/it/virtual/FunctionTest.java
  test-framework/amazon-lambda/src/main/java/io/quarkus/amazon/lambda/test/LambdaResourceManager.java
Labels: area/amazon-lambda, area/funqy, area/testing

#8261 Amazon Alexa extension for Quarkus Native integration with AWS Lambda
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  extensions/amazon-alexa/deployment/pom.xml
  extensions/amazon-alexa/deployment/src/main/java/io/quarkus/amazon/lambda/alexa/AlexaProcessor.java
  extensions/amazon-alexa/pom.xml
  extensions/amazon-alexa/runtime/pom.xml
  extensions/amazon-alexa/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
Labels: area/dependencies

#8418 Fix issue with Quarkus Platform tests
  test-framework/common/src/main/java/io/quarkus/test/common/TestClassIndexer.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
Labels: area/testing, triage/backport-1.3?

#8434 Update to Mutiny 0.4.4
  bom/runtime/pom.xml
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateInstanceImpl.java
  independent-projects/qute/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#8443 Prevent looking up a parent if there is none
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/ObjectBeanTest.java
Labels: area/smallrye, triage/backport-1.3?, triage/waiting-for-ci

#8442 Eliminate jsr305 dependency
  bom/runtime/pom.xml
  build-parent/pom.xml
  devtools/maven/pom.xml
  extensions/mailer/runtime/pom.xml
  extensions/optaplanner/runtime/pom.xml
  extensions/resteasy-jackson/runtime/pom.xml
  extensions/smallrye-reactive-messaging-kafka/runtime/pom.xml
  extensions/spring-cloud-config-client/runtime/pom.xml
  extensions/tika/runtime/pom.xml
  independent-projects/bootstrap/maven-plugin/pom.xml
  independent-projects/tools/common/pom.xml
  integration-tests/elytron-security-oauth2/pom.xml
  tcks/microprofile-opentracing/base/pom.xml
  tcks/microprofile-rest-client/pom.xml
Labels: area/dependencies, area/devtools, area/maven, area/platform, area/reactive-messaging, area/resteasy, area/security, area/smallrye, area/spring, area/tika, triage/backport-1.3?, triage/waiting-for-ci

#8312 Bug/kubernetes extension replicas fix
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesApplyReplicasDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftApplyReplicasDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/BasicOpenshiftTest.java
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/KubernetesWithApplicationPropertiesTest.java
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/KubernetesWithDefaultsTest.java
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithApplicationPropertiesTest.java
  integration-tests/kubernetes/standard/src/test/resources/kubernetes-with-application.properties
  integration-tests/kubernetes/standard/src/test/resources/openshift-with-application.properties
Labels: area/kubernetes, triage/backport-1.3?

#8444 Fix duplicate resources in Gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/devtools, area/gradle

#8448 add explanations to expose the debug remote port into docker image
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-jvm.ftl
Labels: area/devtools

#8432 Upgrade Hibernate ORM to 5.4.14.Final and generate proxies at build time
  bom/runtime/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmReflections.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitsHolder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/proxies/PreGeneratedProxies.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/proxies/ProxyDefinitions.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/proxy/Cat.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/proxy/Dog.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/proxy/DogProxy.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/proxy/Pet.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/proxy/PetOwner.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/proxy/PetProxy.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/proxy/ProxyTestEndpoint.java
  integration-tests/jpa-h2/src/test/java/io/quarkus/it/jpa/h2/JPAFunctionalityTest.java
Labels: area/dependencies, area/hibernate-orm, area/persistence, triage/backport-1.3?

#8423 fix how environment variables are created for OpenShift if well-known S2I image is configured
  extensions/container-image/container-image-s2i/deployment/pom.xml
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/container-image/container-image-s2i/deployment/src/test/java/io/quarkus/container/image/s2i/deployment/S2iProcessorTest.java
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithS2iTest.java
  integration-tests/kubernetes/standard/src/test/resources/openshift-with-s2i.properties
Labels: area/kubernetes, triage/backport-1.3?

#8449 Remove openssl from docker file and enforce image name
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-jvm.ftl
Labels: area/devtools, area/platform, triage/backport-1.3?, triage/waiting-for-ci

#8441 Add a section about reactive in the JSON guide
  docs/src/main/asciidoc/getting-started-reactive.adoc
  docs/src/main/asciidoc/rest-json.adoc
Labels: area/documentation

#8453 javax.imageio is now supported in GraalVM 19.3+
  core/runtime/src/main/java/io/quarkus/runtime/graal/ImageIOSubstitutions.java
  integration-tests/main/pom.xml
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/ImageIOSupport.java
  integration-tests/main/src/main/resources/META-INF/resources/1px.png
  integration-tests/main/src/test/java/io/quarkus/it/main/ImageIOITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ImageIOTestCase.java
Labels: area/core, triage/backport-1.3?

#8455 Add ThrowableDescription to XrayBuildStep reflectiveClass
  extensions/amazon-lambda-xray/deployment/src/main/java/io/quarkus/amazon/lambda/xray/XrayBuildStep.java
Labels: triage/backport-1.3?, triage/waiting-for-ci

#8440 ArC - minor perf improvements in client proxies
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractSharedContext.java
Labels: area/arc

#8431 CreateProjectMojo: set proxy before mvn wrapper download
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
Labels: area/devtools, area/maven

#8458 Add deprecate warning for buildNative task
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation

#8465 Add skip parameter to ValidateExtensionsJsonMojo
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/ValidateExtensionsJsonMojo.java
  integration-tests/maven/pom.xml
Labels: area/devtools, area/maven

#8470 Explain usage of IndexDependencyBuildItem in the extension docs
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#8360 Adding log level
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation

#8467 Project root should not initialized to the current dir if the test class is from a JAR
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/DeploymentInjectingDependencyVisitor.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/devtools, area/testing

#8473 Update SnakeYAML to 1.26 and add it to Dependabot
  .dependabot/config.yml
  bom/runtime/pom.xml
Labels: area/dependencies, triage/backport-1.3?

#8474 Maven resolver remote repo initialization fixes
  devtools/maven/src/main/java/io/quarkus/maven/CreateExtensionMojo.java
  docs/src/main/java/io/quarkus/docs/generation/AllConfigGenerator.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenArtifactResolver.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenRepoInitializer.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptions.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptionsParser.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/ResolverSetupCleanup.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/BasicPomReposEffectivePomTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/BootstrapMavenContextTestBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/CentralRepoOverridesEffectivePomTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/NoProxyNoMirrorSettingsReposTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/PomProfileReposEffectivePomTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/ProxyAndMirrorSettingsReposTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/ProxyNoMirrorSettingsReposTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/SettingsProfileReposAndPomReposEffectivePomTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/maven/test/SubmodulePomReposEffectivePomTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CreatorOutcomeTestBase.java
  independent-projects/bootstrap/core/src/test/resources/custom-settings/no-proxy-no-mirror/settings.xml
  independent-projects/bootstrap/core/src/test/resources/custom-settings/proxy-and-mirror/settings.xml
  independent-projects/bootstrap/core/src/test/resources/custom-settings/proxy-no-mirror/settings.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/basic-pom-repos/pom.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/basic-pom-repos/settings.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/central-repo-overrides/pom.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/central-repo-overrides/settings.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/pom-profile-repos/pom.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/pom-profile-repos/settings.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/settings-profile-and-pom-repos/pom.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/settings-profile-and-pom-repos/settings.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/submodule-repos/module/pom.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/submodule-repos/module/settings.xml
  independent-projects/bootstrap/core/src/test/resources/effective-pom/submodule-repos/pom.xml
Labels: area/devtools, area/documentation, area/maven

#8487 Add debug logging for AppModel
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/model/AppModel.java
Labels: area/devtools

#8459 Scheduler - add configurable delay
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ValidationPhaseBuildItem.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/InvalidDelayedExpressionTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/SimpleDelayedTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/InvalidDelayedExpressionTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/SimpleDelayedTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/Scheduled.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerContext.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerRecorder.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/arc, area/scheduler

#8482 Follow up to #8474. Maven resolver init improvements
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenRepoInitializer.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
Labels: area/devtools

#8488 Don't include optional deps for the deployment CP
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/BuildDependencyGraphVisitor.java
Labels: area/devtools

#8438 Introduce ability to deprioritize artifacts of deployment dependencies
  extensions/kotlin/runtime/pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapConstants.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/model/AppModel.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
Labels: area/devtools, area/kotlin, area/maven

#8071 JPA named query with Hibernate with Panache
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/NamedQueryEntityClassBuildStep.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheResourceProcessor.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheHibernateRecorder.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/package-info.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/JpaOperations.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/NamedQueryUtil.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/PanacheQueryImpl.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/NamedQueryEntity.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/NamedQueryMappedSuperClass.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/NamedQueryRepository.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/NamedQueryWith2QueriesEntity.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/NamedQueryWith2QueriesRepository.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/Person.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
Labels: area/documentation, area/hibernate-orm, area/panache

#8493 chore: upgrade to dekorate 0.11.5
  bom/runtime/pom.xml
Labels: area/dependencies

#8491 Make beans injected with @InjectMock unremoveable.
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/OtherUnusedService.java
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/UnusedService.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/UnusedServiceTest.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/UnremoveableMockTestBuildChainCustomizerProducer.java
  test-framework/junit5-mockito/src/main/resources/META-INF/services/io.quarkus.test.junit.buildchain.TestBuildChainCustomizerProducer
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/buildchain/TestBuildChainCustomizerProducer.java
Labels: area/testing

#8480 Do not trigger CI for assigned and edited PRs
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#8365 added elytron ldap authentication extension
  .github/workflows/ci-actions.yml
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  docs/src/main/asciidoc/security-ldap.adoc
  extensions/elytron-security-ldap/deployment/pom.xml
  extensions/elytron-security-ldap/deployment/src/main/java/io/quarkus/elytron/security/ldap/deployment/ElytronSecurityLdapProcessor.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/CustomRoleDecoder.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/CustomRoleDecoderTest.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/LdapSecurityRealmTest.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/MinimalConfigurationTest.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/ParametrizedPathsResource.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/RolesEndpointClassLevel.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/SingleRoleSecuredServlet.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/SubjectExposingResource.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/rest/TestApplication.java
  extensions/elytron-security-ldap/deployment/src/test/resources/custom-role-decoder/application.properties
  extensions/elytron-security-ldap/deployment/src/test/resources/minimal-config/application.properties
  extensions/elytron-security-ldap/pom.xml
  extensions/elytron-security-ldap/runtime/pom.xml
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/DelegatingLdapContext.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/LdapRecorder.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/QuarkusDirContextFactory.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/AttributeMappingConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/DirContextConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/IdentityMappingConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/LdapSecurityRealmConfig.java
  extensions/elytron-security-ldap/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/elytron-security-ldap/pom.xml
  integration-tests/elytron-security-ldap/src/main/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapResource.java
  integration-tests/elytron-security-ldap/src/main/resources/application.properties
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronLdapExtensionTestResources.java
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapIT.java
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapTest.java
  integration-tests/pom.xml
Labels: area/dependencies, area/documentation, area/infra-automation

#8476 Adjust path of default cacerts depending on flavors of GraalVM
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageConfigBuildStep.java
Labels: area/core

#8500 Add jib to auto-labeler
  .github/autoissuelabeler.yml
Labels: area/infra-automation

#8495 Qute ValueResolverGenerator - simplify generated classes
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Futures.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/Descriptors.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/MyService.java
Labels: area/qute

#8424 Set a path on the invalidated cookie
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource2.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
Labels: area/oidc

#8213 Namespace optaplanner's kogito version to avoid clash
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capabilities.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/optaplanner/runtime/src/main/java/io/quarkus/optaplanner/nativeimage/KogitoSubstitutions.java
Labels: area/core, area/dependencies, triage/waiting-for-ci

#8426 docs(#8425): Adds Documentation for Vault TOTP secret engine
  docs/src/main/asciidoc/vault.adoc
Labels: area/documentation

#8513 Bump Neo4j to 4.0.1
  .dependabot/config.yml
  bom/runtime/pom.xml
Labels: area/dependencies

#8514 Bump SLF4J to 1.7.30
  bom/runtime/pom.xml
Labels: area/dependencies

#8505 doc: how to use kubectl with generated manifests
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation

#8515 MongoDB documentation improvements
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/mongodb.adoc
Labels: area/documentation

#8275 Add AMQP Connector tests
  .github/workflows/ci-actions.yml
  extensions/smallrye-reactive-messaging-amqp/deployment/pom.xml
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/AnonymousAmqpBroker.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/AnonymousAmqpTest.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/ConsumingBean.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/ProducingBean.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/SecuredAmqpBroker.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/SecuredAmqpTest.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/TestResource.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/AmqpDevModeTest.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/ConsumingBean.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/ProducingBean.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/TestResource.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/resources/application-secured.properties
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/resources/application.properties
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/resources/broker.xml
  integration-tests/pom.xml
  integration-tests/reactive-messaging-amqp/pom.xml
  integration-tests/reactive-messaging-amqp/src/main/java/io/quarkus/it/amqp/AmqpEndpoint.java
  integration-tests/reactive-messaging-amqp/src/main/java/io/quarkus/it/amqp/PeopleManager.java
  integration-tests/reactive-messaging-amqp/src/main/java/io/quarkus/it/amqp/PeopleProducer.java
  integration-tests/reactive-messaging-amqp/src/main/java/io/quarkus/it/amqp/Person.java
  integration-tests/reactive-messaging-amqp/src/main/resources/application.properties
  integration-tests/reactive-messaging-amqp/src/main/resources/broker.xml
  integration-tests/reactive-messaging-amqp/src/test/java/io/quarkus/it/amqp/AmqpBroker.java
  integration-tests/reactive-messaging-amqp/src/test/java/io/quarkus/it/amqp/AmqpConnectorIT.java
  integration-tests/reactive-messaging-amqp/src/test/java/io/quarkus/it/amqp/AmqpConnectorTest.java
Labels: area/infra-automation, area/reactive-messaging, area/smallrye, triage/needs-rebase

#8517 Fix log message in DockerProcessor
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
Labels: triage/waiting-for-ci

#8511 Introduce a test for #8323 : Hibernate Validator to be able to use the Hibernate ORM helpers to traverse graphs with uninitialized proxies
  integration-tests/main/src/main/java/io/quarkus/it/validator/Hello.java
  integration-tests/main/src/main/java/io/quarkus/it/validator/Human.java
  integration-tests/main/src/main/java/io/quarkus/it/validator/TestValidatorAndHibernateORMEndpoint.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ValidatorAndOrmTestCase.java
Labels: area/hibernate-orm, area/hibernate-validator, area/testing

#8352 Move the Security API to Mutiny
  bom/runtime/pom.xml
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2Augmentor.java
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2AuthMechanism.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/CustomAuth.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronPasswordIdentityProvider.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronTokenIdentityProvider.java
  extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronTrustedIdentityProvider.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerAuthorizer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/AbstractOidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/UnauthorizedExceptionMapper.java
  extensions/security-jpa/runtime/src/main/java/io/quarkus/security/jpa/runtime/JpaIdentityProvider.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/AnonymousIdentityProvider.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusIdentityProviderManagerImpl.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusSecurityIdentity.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityAssociation.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityProxy.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/check/RolesAllowedCheck.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/IdentityMock.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/TokenRealmUnitTest.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMechanism.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/QuarkusAuthMechanism.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/QuarkusUndertowAccount.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/ServletHttpSecurityPolicy.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/TestIdentityProvider.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/TestTrustedIdentityProvider.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AuthenticatedHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/BasicAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/DenySecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PermitSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/QuarkusHttpUser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/RolesAllowedHttpSecurityPolicy.java
  integration-tests/keycloak-authorization/pom.xml
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
Labels: area/dependencies, area/oidc, area/resteasy, area/security, area/smallrye, area/undertow, area/vertx, triage/waiting-for-ci

#8522 Set higher timeout for Security2 native image job
  .github/workflows/ci-actions.yml
Labels: area/infra-automation, triage/backport-1.3?

#8524 Fix content-type resolution in keycloak-authorization
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/VertxHttpFacade.java
Labels: area/keycloak-authorization

#8527 Improve error messages for Docker container-image builds
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerWorking.java
Labels: release/breaking-change

#8486 Deprecate loadsApplicationClasses
  core/builder/src/main/java/io/quarkus/builder/BuildChain.java
  core/builder/src/main/java/io/quarkus/builder/BuildChainBuilder.java
  core/builder/src/main/java/io/quarkus/builder/BuildContext.java
  core/builder/src/main/java/io/quarkus/builder/Execution.java
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/deployment/src/main/java/io/quarkus/deployment/annotations/BuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DeploymentClassLoaderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/BannerProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigBuildSteps.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  docs/src/main/asciidoc/class-loading-reference.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/amazon-dynamodb/deployment/src/main/java/io/quarkus/dynamodb/deployment/DynamodbProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesBuildStep.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/LiquibaseProcessor.java
  extensions/optaplanner/deployment/src/main/java/io/quarkus/optaplanner/deployment/OptaPlannerProcessor.java
  extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/SpringWebProcessor.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/UndertowStaticResourcesBuildStep.java
Labels: area/arc, area/core, area/documentation, area/hibernate-orm, area/infinispan, area/reactive-messaging, area/smallrye, area/spring, area/undertow

#8535 docs: fix possible missing anchor tag warning when building the docs and some typo
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation

#8526 Make the AMQP tests a bit more reliable
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/ProducingBean.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/ProducingBean.java
Labels: area/reactive-messaging, area/smallrye

#8537 Upgrade Hibernate Validator to 6.1.3.Final
  bom/runtime/pom.xml
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ArcProxyBeanMetaDataClassNormalizer.java
Labels: area/dependencies, area/hibernate-validator

#8325 deprecate buildNative gradle task
  devtools/gradle/src/functionalTest/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
  devtools/platform-descriptor-json/src/main/resources/templates/README.gradle.ftl
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/devtools, area/documentation, area/gradle

#8551 Remove unused QuarkusExtension class
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/descriptor/QuarkusExtension.java
Labels: area/devtools, area/platform

#8409 Remove RESTEasy exclusion
  bom/runtime/pom.xml
  build-parent/pom.xml
  extensions/mutiny/runtime/pom.xml
  extensions/resteasy-common/runtime/pom.xml
  extensions/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/ResteasyContextProvider.java
  extensions/resteasy-common/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.context.spi.ThreadContextProvider
  extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java
  extensions/smallrye-context-propagation/runtime/pom.xml
Labels: area/dependencies, area/resteasy, area/smallrye

#8278 Support OIDC client_secret_jwt
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
Labels: area/oidc, area/smallrye

#8552 update proton-j to 0.33.4
  bom/runtime/pom.xml
Labels: area/dependencies

#8557 Add an admonition about UBI
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#8520 fix compiler errors in kafka-streams guide
  docs/src/main/asciidoc/kafka-streams.adoc
Labels: area/documentation

#8536 Reactive routes - improve @Route method invocation performance
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/DependentRouteTest.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/RouteHandler.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
Labels: area/vertx, triage/waiting-for-ci

#8433 Pass args for command-mode application to dev-mode.
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeContext.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/runtime/src/main/java/io/quarkus/runtime/CommandLineRuntimeConfig.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/command-mode-reference.adoc
Labels: area/core, area/devtools, area/documentation, area/gradle, area/maven

#8420 Revert how readers and writers are registered for REST clients
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/RestClientBuildItem.java
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
Labels: area/rest-client, area/resteasy

#7987 fix OpenTracing trace context propagation with Fault Tolerance @Asynchronous methods
  bom/runtime/pom.xml
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/jaeger/runtime/pom.xml
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerDeploymentRecorder.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerTracer.java
  extensions/smallrye-opentracing/deployment/pom.xml
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/RestService.java
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/Service.java
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TestResource.java
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TracingTest.java
  extensions/smallrye-opentracing/runtime/pom.xml
Labels: area/dependencies, area/jaeger, area/smallrye

#8572 Replace kscript for the native cron report with jbang
  .github/NativeBuildReport.java
  .github/NativeBuildReport.kts
  .github/workflows/ci-actions.yml
  .github/workflows/native-cron-build.yml
Labels: area/infra-automation

#8565 SmallRye Reactive Messaging 2.0
  bom/runtime/pom.xml
  extensions/smallrye-reactive-messaging/deployment/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/BlockingPublisherTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/BlockingSubscriberTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/BlockingValidationErrorTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/beans/BeanReturningMessages.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/beans/BeanReturningPayloads.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/beans/IncomingCustomTwoBlockingBean.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/beans/IncomingCustomUnorderedBlockingBean.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/mutiny/MultiIntBean.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/mutiny/MultiStringBean.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/mutiny/MultiTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/mutiny/StringProducer.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/mutiny/UniBean.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/mutiny/UniTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/resources/config/worker-config.properties
  extensions/smallrye-reactive-messaging/runtime/pom.xml
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusMediatorConfiguration.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusWorkerPoolRegistry.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ReactiveMessagingConfiguration.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingRecorder.java
Labels: area/dependencies, area/reactive-messaging, area/smallrye

#8544 Fix issue with native cron build
  .github/workflows/native-cron-build.yml
Labels: area/infra-automation

#7898 Support for access log in Vert.x HTTP
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/accesslog/AccessLogFileTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AccessLogConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/BytesSentAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/CompositeExchangeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ConstantExchangeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/CookieAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/DateTimeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ExchangeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ExchangeAttributeBuilder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ExchangeAttributeParser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ExchangeAttributeWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/IdentUsernameAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/LocalIPAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/LocalPortAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/LocalServerNameAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/NullAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/QueryParameterAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/QueryStringAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/QuotingExchangeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ReadOnlyAttributeException.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RemoteHostAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RemoteIPAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RemoteUserAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestHeaderAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestLineAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestMethodAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestPathAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestProtocolAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestSchemeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestURLAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ResponseCodeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ResponseHeaderAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ResponseTimeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/SecureExchangeAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/SslCipherAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/SslClientCertAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/SslSessionIdAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/SubstituteEmptyWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ThreadNameAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/TransportProtocolAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/GracefulShutdownFilter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/QuarkusRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/ShutdownRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/accesslog/AccessLogHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/accesslog/AccessLogReceiver.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/accesslog/DefaultAccessLogReceiver.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/accesslog/JBossLoggingAccessLogReceiver.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/accesslog/LogFileHeaderGenerator.java
  extensions/vertx-http/runtime/src/main/resources/META-INF/services/io.quarkus.vertx.http.runtime.attribute.ExchangeAttributeBuilder
Labels: area/documentation, area/vertx

#8116 Liquibase - Record service classes implementation instead of generating a native resource file for each service interface
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/LiquibaseProcessor.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/LiquibaseServiceLoader.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/SubstituteServiceLocator.java
Labels: kind/enhancement, triage/waiting-for-ci

#8583 Update default imagePullPolicy value in docs
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation

#8581 fix Jaeger metrics initialization
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerDeploymentRecorder.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerTracer.java
Labels: area/jaeger, triage/backport?, triage/waiting-for-ci

#8599 Minor enhancements to platform descriptor classes
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptor.java
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptorLoaderImpl.java
  independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/platform/descriptor/QuarkusPlatformDescriptor.java
Labels: area/devtools, area/platform, triage/backport?

#8597 Allow the use of @QuarkusTestResource with QuarkusProdModeTest
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
Labels: area/testing

#8608 Don't require trailing / for servlet context
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/ContextPathTestCase.java
Labels: area/undertow, triage/backport?

#8607 Fix failing test
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/PostEndpoint.java
Labels: area/resteasy, triage/backport?

#8613 Fix AsciiDoc list formatting in Hibernate Search documentation
  docs/src/main/asciidoc/hibernate-search-elasticsearch.adoc
Labels: area/documentation

#8604 Adjust amazon-lambda-xray pom description for consistency
  extensions/amazon-lambda-xray/runtime/pom.xml
Labels: triage/backport?

#8614 Remove now obsolete ContainerImageResultBuildItem
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageCapabilitiesUtil.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerProcessor.java
  extensions/container-image/spi/src/main/java/io/quarkus/container/spi/ContainerImageResultBuildItem.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
Labels: area/kubernetes

#8618 quarkus-http 3.0.5.Final
  bom/runtime/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#8623 Example how to use @InjectMock together with @RestClient
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation

#8602 Qute if section - consider truthy/falsy values during evaluation
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Booleans.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/BooleansTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IfSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SimpleTest.java
Labels: area/documentation, area/qute, triage/backport?

#8619 Revert maven-toolchain.version to 3.0-alpha-2
  bom/runtime/pom.xml
Labels: area/dependencies, triage/backport-1.3?, triage/backport?

#8579 Reactive routes - fix race condition in generated handlers
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/RouteHandler.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
Labels: area/vertx, triage/backport?

#8628 Bump optaplanner version to 7.36.0.Final
  bom/runtime/pom.xml
  extensions/optaplanner-jsonb/runtime/src/main/java/io/quarkus/optaplanner/jsonb/OptaPlannerJsonbConfigCustomizer.java
Labels: area/dependencies

#8633 Fix potential reactor build order problem
  extensions/security/test-utils/pom.xml
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/CombinedFormBasicAuthTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthCookiesTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthNoRedirectTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/TestTrustedIdentityProvider.java
Labels: area/security, area/vertx

#8636 Fix read timeout test
  extensions/resteasy/deployment/pom.xml
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/ReadTimeoutTestCase.java
Labels: area/resteasy

#8620 fix: add test to check the Unpaged class presence in the quarkus spri…
  bom/runtime/pom.xml
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/Song.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/SongRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/SongResource.java
  integration-tests/spring-data-jpa/src/main/resources/import.sql
Labels: area/dependencies, area/hibernate-orm, area/spring, triage/backport?

#8630 Ensure logs are displayed when application fails due to bootstrap config error
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
Labels: area/core, area/logging, triage/backport-1.3?, triage/backport?

#8616 Introduce docker pruning to all extensions / tests that use docker
  .github/docker-prune.sh
  extensions/oidc/deployment/pom.xml
  extensions/reactive-pg-client/deployment/pom.xml
  integration-tests/amazon-dynamodb/pom.xml
  integration-tests/jpa-mariadb/pom.xml
  integration-tests/jpa-mssql/pom.xml
  integration-tests/jpa-mysql/pom.xml
  integration-tests/jpa-postgresql/pom.xml
  integration-tests/keycloak-authorization/pom.xml
  integration-tests/main/pom.xml
  integration-tests/neo4j/pom.xml
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc/pom.xml
  integration-tests/reactive-mysql-client/pom.xml
  integration-tests/reactive-pg-client/pom.xml
Labels: area/hibernate-orm, area/infra-automation, area/neo4j, area/oidc, area/persistence, area/reactive

#8615 Add Quarkus Vault Authentication Guide
  docs/src/main/asciidoc/vault-auth.adoc
  docs/src/main/asciidoc/vault.adoc
Labels: area/documentation, area/vault, triage/backport?

#8596 Move OidcTenantConfig out of the runtime package
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerAuthorizer.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigBean.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcRecorderTest.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
Labels: area/oidc, triage/backport?

#8642 Fix: added 2 semicolons in sql
  docs/src/main/asciidoc/hibernate-search-elasticsearch.adoc
Labels: area/documentation

#8640 Improve logging in kubernetes-config extension
  extensions/kubernetes-config/deployment/src/main/java/io/quarkus/kubernetes/config/deployment/KubernetesConfigProcessor.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceProvider.java
Labels: area/kubernetes, triage/backport?, triage/waiting-for-ci

#8638 Reactive PG Client quick fix
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
Labels: area/reactive, triage/backport-1.3?, triage/backport?, triage/waiting-for-ci

#8609 Make Jaeger metrics more consistent with other extensions
  extensions/jaeger/deployment/pom.xml
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/jaeger/deployment/src/test/java/io/quarkus/jaeger/test/JaegerMetricsTestCase.java
  extensions/jaeger/deployment/src/test/resources/application-metrics-enabled.properties
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerBuildTimeConfig.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerMetricsFactory.java
Labels: area/jaeger, release/breaking-change

#8580 Use durable messages to improve robustness of the tests
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/AnonymousAmqpTest.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/ProducingBean.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/SecuredAmqpTest.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/AmqpDevModeTest.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/resources/application.properties
  integration-tests/reactive-messaging-amqp/src/main/java/io/quarkus/it/amqp/PeopleProducer.java
  integration-tests/reactive-messaging-amqp/src/main/resources/application.properties
  integration-tests/reactive-messaging-amqp/src/test/java/io/quarkus/it/amqp/AmqpConnectorTest.java
Labels: area/reactive-messaging, area/smallrye, triage/backport?

#8645 ArC - take away deprecated stuff marked for removal after v1.4
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeploymentValidator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
Labels: area/arc, triage/waiting-for-ci

#8639 Add 'go give a star on github' on start page
  devtools/gradle/src/functionalTest/resources/add-extension-multi-module/application/src/main/resources/META-INF/resources/index.html
  devtools/gradle/src/functionalTest/resources/basic-java-library-module/application/src/main/resources/META-INF/resources/index.html
  devtools/gradle/src/functionalTest/resources/basic-multi-module-project/application/src/main/resources/META-INF/resources/index.html
  devtools/platform-descriptor-json/src/main/resources/templates/index.ftl
  independent-projects/tools/common/src/test/resources/templates/index.ftl
  integration-tests/kotlin/src/test/resources/projects/classic-kotlin/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/classic-no-undertow/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/classic-noconfig/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/classic/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/multimodule/html/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/property-overrides/runner/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/uberjar-check/src/main/resources/META-INF/resources/index.html
  integration-tests/scala/src/test/resources/projects/classic-scala/src/main/resources/META-INF/resources/index.html
Labels: area/devtools, area/gradle, area/kotlin, area/maven, area/platform, area/scala

#8647 Use Maven 3.6.3 too in independent projects
  independent-projects/arc/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/devtools, area/platform, triage/backport?, triage/waiting-for-ci
