Repository quarkusio/quarkus, pull requests merged in 2020-02, with the labels that each got.

#6932 Extract common test code into utility method
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ExportUtil.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/housekeeping, area/testing

#6916 Bump formatter-maven-plugin and impsort-maven-plugin
  .dependabot/config.yml
  build-parent/pom.xml
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/AuthenticationPluginLoader_Substitutions.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
Labels: area/dependencies, area/hibernate-orm, area/spring, triage/waiting-for-ci

#6936 CreateProjectMojo - validate className
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectMojoIT.java
Labels: area/maven

#6941 Adjust the count down latch in the verticle IT
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/verticles/VerticleDeployer.java
Labels: area/vertx

#6946 Fix Scheduling Quartz Tasks with MSSQL JDBC Store
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
Labels: area/scheduler, triage/waiting-for-ci

#6937 Vault tests have without any link to the issue Fixes #6905
  integration-tests/vault-agroal/src/test/java/io/quarkus/vault/AgroalVaultITCase.java
  integration-tests/vault-agroal/src/test/java/io/quarkus/vault/AgroalVaultKv2ITCase.java
  integration-tests/vault-app/src/test/java/io/quarkus/it/vault/VaultInGraalITCase.java
  integration-tests/vault-app/src/test/java/io/quarkus/it/vault/VaultTest.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultAppRoleITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultMultiPathConfigITCase.java
Labels: area/vault

#6888 ArC - support synthetic observer methods added at build time
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ObserverRegistrarBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ObserverRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ObserverValidationProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeansProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/observer/SyntheticObserverTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AbstractGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationsTransformationContext.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanRegistrar.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverRegistrar.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverTransformer.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/QualifierConfigurator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/annotations/AddObservesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/annotations/AnnotationsTransformerInterceptorBindingTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/annotations/AnnotationsTransformerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/annotations/Simple.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/annotations/SimpleInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/beans/BeanRegistrarTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/injectionPoints/InjectionPointTransformerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/interceptor/bindings/AdditionalInterceptorBindingsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/observers/SyntheticObserverTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/validator/BeanDeploymentValidatorTest.java
Labels: area/arc

#6812 Do not duplicate methods in Panache Repositories and Entities
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheJpaEntityEnhancer.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheJpaRepositoryEnhancer.java
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/PanacheMongoEntityEnhancer.java
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/PanacheMongoRepositoryEnhancer.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/JandexUtil.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheEntityEnhancer.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheRepositoryEnhancer.java
  integration-tests/hibernate-orm-panache/pom.xml
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/DuplicateEntity.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/DuplicateRepository.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/DuplicateMethodTest.java
Labels: area/hibernate-orm, area/mongodb, area/panache

#6929 Remove stacktrace logging when Maven's settings-security.xml could not be located
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenRepoInitializer.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/SecDispatcherImpl.java
Labels: area/bootstrap-maven, triage/waiting-for-ci

#6958 change resource name to PersonResource to align docs with Mongo Panache quickstarts
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation

#6953 Ensure that quarkus:dev works with yet to be compiled Kotlin project
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/kogito-maven/src/test/java/io/quarkus/kogito/maven/it/KogitoDevModeIT.java
  integration-tests/kotlin/src/test/java/io/quarkus/kotlin/maven/it/KotlinDevModeIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/RunAndCheckMojoTestBase.java
Labels: area/kogito, area/kotlin, area/maven, area/testing, triage/waiting-for-ci

#6930 Replace hardcoded ASM version with Gizmo.ASM_API_VERSION
  core/devmode/src/main/java/io/quarkus/dev/JavaCompilationProvider.java
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/NoArgsConstructorProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertyBuildItemCandidateUtil.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateEntityEnhancer.java
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/ProjectionForEnhancer.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheEntityEnhancer.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheFieldAccessEnhancer.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheFieldAccessMethodVisitor.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheMovingAnnotationVisitor.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheRepositoryEnhancer.java
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  integration-tests/class-transformer/deployment/src/main/java/io/quarkus/it/classtransformer/ClassTransformerProcessor.java
Labels: area/arc, area/core, area/documentation, area/hibernate-orm, area/housekeeping, area/mongodb, area/panache, area/resteasy

#6882 Add support for SockJS
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
Labels: area/vertx, kind/bug

#6880 Enable elementary quarkus-jaxb functionality even when no annotations and jaxb.index files are provided
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
Labels: area/jaxb

#6915 BOMs from the same workspace are not interpolated in dev mode
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapModelBuilderFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenArtifactResolver.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/property-overrides/bom/pom.xml
  integration-tests/maven/src/test/resources/projects/property-overrides/local-dep/pom.xml
  integration-tests/maven/src/test/resources/projects/property-overrides/local-dep/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/property-overrides/local-dep/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources/projects/property-overrides/local-dep/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources/projects/property-overrides/pom.xml
  integration-tests/maven/src/test/resources/projects/property-overrides/runner/pom.xml
  integration-tests/maven/src/test/resources/projects/property-overrides/runner/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/property-overrides/runner/src/main/resources/application.properties
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/maven, area/testing

#6977 fix (#6726): Bump dekorate to 0.10.8 and add integration test that
  bom/runtime/pom.xml
  extensions/kubernetes/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/src/it/kubernetes-with-quarkus-app-name/pom.xml
  integration-tests/kubernetes/src/it/kubernetes-with-quarkus-app-name/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/src/it/kubernetes-with-quarkus-app-name/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/kubernetes-with-quarkus-app-name/verify.groovy
Labels: area/dependencies, area/kubernetes, triage/waiting-for-ci

#6961 Component upgrades for JBoss Threads
  bom/runtime/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#6971 Qute: Support iterating by number
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/LoopSectionTest.java
Labels: area/documentation, triage/waiting-for-ci

#6956 Upgrade netty to 4.1.44.Final to fix known vulnerabilities
  bom/runtime/pom.xml
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: area/dependencies, triage/waiting-for-ci

#6347 Upgrade mongodb clients to the latest versions
  bom/runtime/pom.xml
  docs/src/main/asciidoc/mongodb.adoc
  extensions/mongodb-client/runtime/pom.xml
Labels: area/dependencies, area/documentation, area/mongodb

#6969 Introduce Startup annotation
  core/runtime/src/main/java/io/quarkus/runtime/Startup.java
  docs/src/main/asciidoc/lifecycle.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/StartupBuildSteps.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/startup/StartupAnnotationTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanStream.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverConfigurator.java
Labels: area/arc, area/core, area/documentation, release/noteworthy-feature

#6987 QuteProcessor - fix problem in param declaration validation
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Types.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/Movie.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/MyFooList.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/ParamDeclarationTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TypeSafeLoopTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/BuiltinTemplateExtensions.java
Labels: area/qute

#6991 Process @Consumes for ContextResolvers in RESTEasy
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-jaxb/deployment/pom.xml
  extensions/resteasy-jaxb/deployment/src/test/java/io/quarkus/resteasy/jaxb/deployment/Bar.java
  extensions/resteasy-jaxb/deployment/src/test/java/io/quarkus/resteasy/jaxb/deployment/ConsumesXMLTestCase.java
  extensions/resteasy-jaxb/deployment/src/test/java/io/quarkus/resteasy/jaxb/deployment/ProducesXMLTestCase.java
Labels: area/resteasy, triage/waiting-for-ci

#6981 Add warning for @SseElementType(MediaType.APPLICATION_JSON)
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyDotNames.java
Labels: area/resteasy, triage/waiting-for-ci

#6996 fix (#6826): Upgrade to dekorate 0.10.9 which further improves handling
  bom/runtime/pom.xml
Labels: area/dependencies

#6999 (#6998) Query sdk man to get latest java8 release for reporting in na…
  .github/workflows/native-cron-build.yml
Labels: area/housekeeping

#6994 Remove Elasticsearch port bindings in the logging-gelf docker-compose
  integration-tests/logging-gelf/src/test/resources/docker-compose-efk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-elk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-graylog.yml
Labels: area/logging

#6955 Make @MultipartConfig work in quarkus-undertow extension
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/MultipartConfigTestCase.java
Labels: area/undertow

#6962 Exclude osgi.annotation.versioning dependency
  build-parent/pom.xml
  extensions/smallrye-fault-tolerance/runtime/pom.xml
  extensions/smallrye-metrics/spi/pom.xml
  independent-projects/arc/tests/pom.xml
  independent-projects/qute/rxjava/pom.xml
  tcks/microprofile-jwt/pom.xml
Labels: area/dependencies, area/smallrye

#6952 Add librocksdbjni-linux64.so to the build when only containerRuntime is set
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
Labels: area/kafka-streams

#6782 Allow multiple caching annotations on a single method
  docs/src/main/asciidoc/cache.adoc
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheAnnotationsTransformer.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheDeploymentConstants.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheMethodValidator.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/MultipleCacheAnnotationsException.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/MultipleCacheAnnotationsTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/MultipleCacheAnnotationsTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheInvalidate.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheInvalidateAll.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheKey.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheResult.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateAllInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateAllInterceptorBinding.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptorBinding.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptorBinding.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheAnnotationInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheInvalidate.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheInvalidateAllInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheResult.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/augmented/AugmentedCacheResultInterceptor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralGenerator.java
Labels: area/arc, area/cache, area/documentation

#6887 MP Config support for injection of all primitive types
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/QualifierConfigurator.java
Labels: area/arc

#5038 Test scenario for expired bearer tokens
  integration-tests/oidc/pom.xml
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
Labels: area/oidc

#7001 Add StreamingOutput to the reflection ignore list for RESTEasy
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyDotNames.java
Labels: area/resteasy

#7002 Gradle test app model
  devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPluginExtension.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateConfig.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusPlatformTask.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusTestConfig.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapConstants.java
Labels: area/gradle

#7006 Fixes callout and property value cache from doc
  docs/src/main/asciidoc/cache.adoc
Labels: area/documentation

#7004 Maven create extension test fixes
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/CreateExtensionMojoTest.java
  integration-tests/maven/src/test/resources/expected/new-extension-project/my-ext/deployment/pom.xml
  integration-tests/maven/src/test/resources/expected/new-extension-project/my-ext/pom.xml
  integration-tests/maven/src/test/resources/expected/new-extension-project/my-ext/runtime/pom.xml
Labels: area/maven

#7005 Update to smallrye-jwt 2.0.13
  bom/runtime/pom.xml
  docs/src/main/asciidoc/security-jwt.adoc
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
Labels: area/dependencies, area/documentation, area/smallrye, triage/waiting-for-ci

#7009 Fix the native image path passed to NativeImageBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci

#7011 Allow specifying quarkus.native.builder-image via gradle plugin parameter native-builder-image.
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
Labels: area/gradle

#7010 Adjust the artifact name of the PDF documentation to avoid conflicts
  docs/assembly-pdf.xml
  docs/pom.xml
Labels: area/documentation

#6928 Introduce support for .env
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/DotEnvTestCase.java
  docs/src/main/asciidoc/config.adoc
Labels: area/config, area/core, area/documentation

#7003 ArC- reduce overhead of metadata initialization in subclass constructors
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/FieldDescriptors.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractInvocationContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AnnotationLiterals.java
Labels: area/arc, triage/waiting-for-ci

#6862 Introduce QuteContext synthetic bean
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ContextRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ValidationPhaseBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteRecorder.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/VariantTemplateProducer.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanStream.java
Labels: area/arc, area/qute

#4529 3343: add multi mongo db support
  docs/src/main/asciidoc/mongodb.adoc
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/UnremovableBeanBuildItem.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/mongodb-client/deployment/pom.xml
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientBuildItem.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/BasicInteractionTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/CollectionManagementTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/ConnectionToReplicaSetTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/DatabaseListTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/DatabaseRunCommandTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/ListDatabaseTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoTestBase.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoWithReplicasTestBase.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/NamedMongoClientConfigTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/NamedReactiveMongoClientConfigTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/ReactiveMongoClientTest.java
  extensions/mongodb-client/deployment/src/test/resources/application-named-mongoclient.properties
  extensions/mongodb-client/runtime/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/health/MongoHealthCheck.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/AbstractMongoClientProducer.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientName.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientProducer.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientRecorder.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongodbConfig.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheResourceProcessor.java
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/PanacheResourceProcessor.java
Labels: area/arc, area/documentation, area/infinispan, area/mongodb, area/panache

#6970 [fixes #6950] - Run blocking when tenant config resolver exists
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
Labels: area/oidc

#7012 Check to see if injection point is same as current thread local value
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InjectionPointProvider.java
Labels: area/arc

#7021 Update URL for Graal VM CE downloads
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#7016 Register methods annotated with @Gauge for reflection
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  integration-tests/main/src/main/java/io/quarkus/it/metrics/DummyGaugeNoReflectionAnnotation.java
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsTestCase.java
Labels: area/smallrye, triage/waiting-for-ci

#6924 Add OIDC token grace period, better support for namespace-qualified claim paths and redirects
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  extensions/oidc/runtime/src/test/resources/tokenCustomPath.json
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc, triage/waiting-for-ci

#7029 Add back EnvConfigSource that was removed by accident
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
Labels: area/config, area/core, triage/waiting-for-ci

#7032 Revert "Make the Kafka health check configuration more future proof"
  docs/src/main/asciidoc/kafka.adoc
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/health/KafkaHealthCheck.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRuntimeConfig.java
  integration-tests/kafka/src/main/resources/application.properties
Labels: area/documentation, area/kafka, triage/waiting-for-ci

#7041 Revert removal of a Netty GraalVM tweak
  .github/workflows/native-cron-build.yml
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: triage/waiting-for-ci

#7045 Disable the multitenancy related test
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#7052 Make sure that src/test/resources takes precidence for @QuarkusTest
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/AdditionalDependency.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  integration-tests/resteasy-jackson/src/main/java/io/quarkus/it/resteasy/jackson/MessageResource.java
  integration-tests/resteasy-jackson/src/main/resources/application.properties
  integration-tests/resteasy-jackson/src/test/java/io/quarkus/it/resteasy/jackson/ApplicationPropertiesOverrideIT.java
  integration-tests/resteasy-jackson/src/test/java/io/quarkus/it/resteasy/jackson/ApplicationPropertiesOverrideTest.java
  integration-tests/resteasy-jackson/src/test/resources/application.properties
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/resteasy, area/testing

#6824 Make Jaeger tracer reconfigurable
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerDeploymentRecorder.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerMetricsFactory.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerTracer.java
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TracerRegistrar.java
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TracingTest.java
Labels: area/jaeger, area/smallrye

#7053 @BeforeAll invoked too many times
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#7063 Make MongoClientBuildItem a MultiBuildItem
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientBuildItem.java
Labels: area/mongodb, triage/waiting-for-ci

#7068 Eliminate wildcard imports in QS guides
  docs/src/main/asciidoc/mongodb.adoc
  docs/src/main/asciidoc/openapi-swaggerui.adoc
  docs/src/main/asciidoc/validation.adoc
Labels: area/documentation

#7058 Turn a class annotated with @Startup but no scope into a bean
  docs/src/main/asciidoc/lifecycle.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/StartupBuildSteps.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/startup/StartupAnnotationTest.java
Labels: area/arc, area/documentation

#7082 Image tag is missing the -java8 suffix
  docs/src/main/asciidoc/native-and-ssl.adoc
Labels: area/documentation

#7072 Re-enable the code flow test
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#7078 Set the AppArtifact in the Gradle plugin
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusNative.java
Labels: area/gradle, triage/waiting-for-ci

#7071 QuarkusDev should be serializing the AppModel in the same manner as QuarkusTestConfig
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusGradleUtils.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusTestConfig.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
Labels: area/gradle, triage/waiting-for-ci

#7092 Prevent generation of init group methods for build time config
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
Labels: area/config, area/core, triage/waiting-for-ci

#7103 doc: remove unused import of PathVariable
  docs/src/main/asciidoc/spring-web.adoc
Labels: area/documentation

#7051 Add tooling guides tip about JDK 11 native image generation from Docker
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation

#7089 Force loading of JDBC drivers in runtime classloader
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java
  extensions/smallrye-opentracing/deployment/pom.xml
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/Fruit.java
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TracingTest.java
  extensions/smallrye-opentracing/deployment/src/test/resources/application.properties
  extensions/smallrye-opentracing/deployment/src/test/resources/import.sql
Labels: area/smallrye

#7106 Reset the TCCL for each test
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#7083 Upgrade of Hibernate ORM to 5.4.11.Final
  bom/runtime/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/DisabledBytecodeProviderInitiator.java
Labels: area/dependencies, area/hibernate-orm, kind/enhancement

#7070 Move generation of GeneratedFileSystemResourceBuildItem out of jar
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/FileSystemResourcesBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core

#7112 Resolve swallowed exceptions on Hibernate ORM loading of Integrator services
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
Labels: area/hibernate-orm, triage/waiting-for-ci

#7110 Exclude jackson-module-scala
  bom/runtime/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#7111 Avoid logging a scary INFO about not having found the META-INF/persistence.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/QuarkusPersistenceXmlParser.java
Labels: area/hibernate-orm, triage/waiting-for-ci

#7114 Update base image in multistage native doc
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#7113 Remove Caffeine ForkJoinPool#commonPool fix
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCache.java
Labels: area/cache, triage/waiting-for-ci

#7067 Chunk of code polish commits
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/devmode/src/main/java/io/quarkus/dev/JavaCompilationProvider.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/DotEnvTestCase.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/RepeatedConstraintsTest.java
  extensions/panache/mongodb-panache/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/PanacheResourceProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationStore.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointModifier.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/SecDispatcherImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/tools/common/src/main/java/io/quarkus/cli/commands/file/GradleBuildFile.java
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/UsersResource.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/ApplicationNameAndVersionTestUtil.java
  integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/UsersResource.java
  integration-tests/vault-app/src/main/java/io/quarkus/it/vault/VaultTestService.java
  pom.xml
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/InjectionEnricher.java
Labels: area/core, area/hibernate-validator, area/maven, area/mongodb, area/oidc, area/panache, area/platform, area/testing, area/vault

#7118 Change DevModeMetricsTest so that it doesn't spew out a NPE into the log
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/deployment/DevModeMetricsTest.java
Labels: area/smallrye

#7060 Move the WildFly Elytron version to 1.11.2.Final
  bom/runtime/pom.xml
Labels: area/dependencies, area/security

#7069 Updated MP Config to 1.4 and SmallRye Config to 1.6.1
  bom/runtime/pom.xml
  build-parent/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
Labels: area/config, area/core, area/dependencies, triage/waiting-for-ci

#7117 JWTAuthContextInfo - setSignerKey was deprecated
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/TokenRealmUnitTest.java
Labels: area/smallrye

#7073 Handle MongoDB BsonDiscriminator
  docs/src/main/asciidoc/mongodb.adoc
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/BsonDiscriminatorBuildItem.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/AbstractMongoClientProducer.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientRecorder.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/Car.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/Moto.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/Vehicle.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/VehicleResource.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/jsonb/VehicleCustomizer.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/jsonb/VehicleDeserializer.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/BookResourceTest.java
Labels: area/documentation, area/mongodb, triage/waiting-for-ci

#6913 Add first version of bootstrap config support
  ci-templates/stages.yml
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BootstrapConfigSetupCompleteBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/MainBytecodeRecorderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/RunTimeConfigurationSourceValueBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/RuntimeConfigSetupCompleteBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/definition/RootDefinition.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/BootstrapConfigSetupBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigDescriptionBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RuntimeConfigSetupBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigPhase.java
  core/runtime/src/main/java/io/quarkus/runtime/StartupContext.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigPhase.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  integration-tests/bootstrap-config/application/pom.xml
  integration-tests/bootstrap-config/application/src/main/java/io/quarkus/it/bootstrap/config/GreetingResource.java
  integration-tests/bootstrap-config/application/src/main/resources/application.properties
  integration-tests/bootstrap-config/application/src/test/java/io/quarkus/it/bootstrap/config/GreetingResourceTest.java
  integration-tests/bootstrap-config/application/src/test/java/io/quarkus/it/bootstrap/config/GreetingResourceTestIT.java
  integration-tests/bootstrap-config/extension/deployment/pom.xml
  integration-tests/bootstrap-config/extension/deployment/src/main/java/io/quarkus/it/bootstrap/config/extension/deployment/DummyBootstrapConfigBuildStep.java
  integration-tests/bootstrap-config/extension/pom.xml
  integration-tests/bootstrap-config/extension/runtime/pom.xml
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyBootstrapRecorder.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyBootstrapRecorder2.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyConfig.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyConfigSourceProvider.java
  integration-tests/bootstrap-config/pom.xml
  integration-tests/pom.xml
Labels: area/config, area/core, triage/waiting-for-ci

#7126 Fix class loading performance problem
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/AbstractClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/DirectoryClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/JarClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/MemoryClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/core

#7128 Shutdown all resources on close
  core/devmode/src/main/java/io/quarkus/dev/IsolatedDevModeMain.java
Labels: area/core

#7107 Stop dealing with the SunEC library during the native image generation
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageConfigBuildStep.java
  docs/src/main/asciidoc/native-and-ssl.adoc
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/VertxProducerResourceIT.java
Labels: area/core, area/documentation, area/vertx

#7131 Add XMLOutputFactoryImpl for reflection in JAXB extension
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
Labels: area/jaxb

#7142 Ensure that user provided ObjectMapperCustomizer objects always have higher priority
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/ObjectMapperCustomizer.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/ObjectMapperProducer.java
  extensions/resteasy-jackson/deployment/pom.xml
  extensions/resteasy-jackson/deployment/src/test/java/io/quarkus/resteasy/jackson/DateDto.java
  extensions/resteasy-jackson/deployment/src/test/java/io/quarkus/resteasy/jackson/HelloResource.java
  extensions/resteasy-jackson/deployment/src/test/java/io/quarkus/resteasy/jackson/MultipleTimeModuleTest.java
  extensions/resteasy-jackson/deployment/src/test/java/io/quarkus/resteasy/jackson/TimeCustomizer.java
Labels: area/resteasy, triage/waiting-for-ci

#7093 Add banner extension module - default banner & option for custom banner for user
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ConsoleFormatterBannerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/BannerFormatter.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  extensions/banner/deployment/pom.xml
  extensions/banner/deployment/src/main/java/io/quarkus/banner/deployment/BannerConfig.java
  extensions/banner/deployment/src/main/java/io/quarkus/banner/deployment/BannerProcessor.java
  extensions/banner/deployment/src/main/resources/default_banner.txt
  extensions/banner/pom.xml
  extensions/banner/runtime/pom.xml
  extensions/banner/runtime/src/main/java/io/quarkus/banner/runtime/BannerRecorder.java
  extensions/banner/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
Labels: area/core, area/dependencies

#7154 Bootstrap maven resolver profile interpolation
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/DependencyAddedInProfileTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/DependencyVersionOverridesManagedVersionTest.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapModelBuilderFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenRepoInitializer.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptions.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/ResolverSetupCleanup.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsArtifact.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/SystemPropertyOverridesPomPropertyDependencyTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CreatorOutcomeTestBase.java
Labels: area/bootstrap, area/core, area/maven

#7157 Always register the class of Jackson's JsonDeserialize#using
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/ModelWithJsonDeserializeUsingResource.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/ModelWithJsonDeserializeUsing.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/ModelWithJsonDeserializeUsingResourceIT.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/ModelWithJsonDeserializeUsingResourceTest.java
Labels: triage/waiting-for-ci

#6938 Configure all Test tasks properly (#3552)
  devtools/gradle/src/functionalTest/java/io/quarkus/gradle/TaskDependenciesFunctionalTest.java
  devtools/gradle/src/functionalTest/resources/TaskDependenciesFunctionalTest.gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle

#7143 Undertow: unused servlet initParams code, adds tests
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/AnnotatedFilterInitParam.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/AnnotatedServletInitParam.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/AnnotatedServletInitParamsTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/ServletWebXmlInitParamsTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/WebXmlInitParamsFilter.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/WebXmlInitParamsServlet.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
Labels: area/undertow

#7136 guides: fix native builder when deploying to OCP
  docs/src/main/asciidoc/deploying-to-openshift-s2i.adoc
Labels: area/documentation

#7146 Add the no-arg compiler plugin to the documentation
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation

#7164 Update to latest SmallRye OpenAPI
  bom/runtime/pom.xml
Labels: area/dependencies, area/openapi, area/smallrye, triage/waiting-for-ci

#7108 Stop trying to index primitive types annotated with @Context
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
Labels: area/resteasy

#7168 chore: align module naming.
  integration-tests/bootstrap-config/application/pom.xml
  integration-tests/bootstrap-config/extension/deployment/pom.xml
  integration-tests/bootstrap-config/extension/pom.xml
  integration-tests/bootstrap-config/extension/runtime/pom.xml
Labels: triage/waiting-for-ci

#7176 fix: potential NPE in SchedulerProcessor#collectScheduledMethods
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
Labels: area/scheduler, triage/waiting-for-ci

#7170 Fix blocker issues detected with SonarCloud
  devtools/aesh/src/main/java/io/quarkus/cli/commands/ListExtensionsCommand.java
  extensions/elytron-security-properties-file/deployment/src/test/java/io/quarkus/security/test/TestCharClone.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/scala/deployment/src/main/java/io/quarkus/scala/deployment/ScalaCompilationProvider.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/WebXmlParsingBuildStep.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesMockServerTestResource.java
Labels: area/maven, area/scala, area/scheduler, area/security, area/testing, area/undertow, triage/waiting-for-ci

#6830 Throw a DefinitionException when non-producer method is annotated with a stereotype
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/StereotypeInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/stereotypes/StereotypeOnProducerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/StereotypeOnFieldTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/StereotypeOnMethodTest.java
Labels: triage/waiting-for-ci

#7022 Removed unused properties according to issue 4630
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth.properties
  extensions/smallrye-jwt/deployment/src/test/resources/application.properties
  extensions/smallrye-jwt/deployment/src/test/resources/applicationDefaultGroups.properties
  extensions/smallrye-jwt/deployment/src/test/resources/applicationJwtCookie.properties
  extensions/smallrye-jwt/deployment/src/test/resources/smallryeJwtDisabled.properties
  extensions/spring-security/deployment/src/test/resources/application.properties
  integration-tests/spring-web/src/main/resources/application.properties
Labels: area/security, area/smallrye, area/spring, triage/waiting-for-ci

#7190 Add yaml config examples
  docs/src/main/asciidoc/config.adoc
Labels: area/documentation

#7115 Support Hibernate ORM's generation of Enhanced Proxies
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateMetricsTestCase.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusProxyFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusProxyFactoryFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusRuntimeProxyFactoryFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/proxies/ProxyDefinitions.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordedState.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/Dog.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/CompanyCustomer.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/Customer.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/IndividualCustomer.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/Project.java
Labels: area/hibernate-orm, area/persistence

#7159 Fix MongoDB date format issue
  docs/src/main/asciidoc/mongodb-panache.adoc
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/CommonQueryBinder.java
  extensions/panache/mongodb-panache/runtime/src/test/java/io/quarkus/mongodb/panache/runtime/MongoOperationsTest.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/bugs/BugResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/bugs/DateEntity.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheResourceTest.java
Labels: area/documentation, area/mongodb, area/panache

#7162 Cleanup in the bootstrap code around maven resolver and workspace discovery
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/bootstrap, area/maven, area/testing

#7184 Bump JGit to 5.6.0.201912101111-r
  bom/runtime/pom.xml
  extensions/jgit/deployment/src/main/java/io/quarkus/jgit/deployment/JGitProcessor.java
Labels: area/dependencies, triage/waiting-for-ci

#5596 Removes deprecated code
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ArchiveRootBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/NativeEnableAllCharsetsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/DeprecatedBuildItemProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ReflectiveFieldBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ReflectiveHierarchyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ReflectiveHierarchyIgnoreWarningBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ReflectiveMethodBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/RuntimeInitializedClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/RuntimeReinitializedClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ServiceProviderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/SubstrateConfigBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/SubstrateProxyDefinitionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/SubstrateResourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/SubstrateResourceBundleBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/SubstrateSystemPropertyBuildItem.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/Remote.java
  extensions/panache/panache-common/runtime/src/main/java/io/quarkus/panache/common/Sort.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/TestServlet.java
  integration-tests/test-extension/src/test/java/io/quarkus/it/extension/FinalFieldReflectionInGraalITCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisabledOnSubstrate.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisabledOnSubstrateCondition.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/SubstrateTest.java
Labels: area/core, area/hibernate-orm, area/infinispan, area/panache, area/testing, release/breaking-change, triage/waiting-for-ci

#7178 Fix critical issues detected with SonarCloud
  devtools/aesh/src/main/java/io/quarkus/cli/commands/QuarkusCommand.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildFileMojoBase.java
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigRecorder.java
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFunction.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/graal/context/Substitute_ThreadLocalSessionContext.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/CDIAccessDefaultTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/CDIAccessDenyUnannotatedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/SecurityAnnotationOnFinalMethodTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/SecurityAnnotationOnFinalMethodWithDisableFinalRemovalTest.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/SecurityTestUtils.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeLivenessHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeReadinessHandler.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/BeanMethodCheckTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/MetaAnnotationsTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/SpringPreAuthorizeClassAnnotatedTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/SpringPreAuthorizeTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/SpringPreAuthorizeWithExpressionsTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/SpringSecuredAnnotatedTest.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/TikaParser.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/JarClassPathElement.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
Labels: area/amazon-lambda, area/arc, area/hibernate-orm, area/maven, area/security, area/smallrye, area/spring, area/tika, area/undertow, triage/waiting-for-ci

#7187 exclude hikari from the quartz extension
  extensions/quartz/runtime/pom.xml
Labels: area/scheduler, triage/waiting-for-ci

#7186 MicroProfile Metrics 2.3
  bom/runtime/pom.xml
  build-parent/pom.xml
  extensions/infinispan-embedded/runtime/pom.xml
  extensions/jaeger/runtime/pom.xml
  extensions/resteasy-server-common/deployment/pom.xml
  extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/NoopMetricRegistry.java
  extensions/smallrye-metrics/deployment/pom.xml
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsDotNames.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/deployment/DevModeMetricsTest.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/jaxrs/JaxRsMetricsTestCase.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/jaxrs/MetricsResource.java
  extensions/smallrye-metrics/runtime/pom.xml
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/QuarkusJaxRsMetricsFilter.java
  integration-tests/main/src/main/java/io/quarkus/it/metrics/MetricsResource.java
  integration-tests/main/src/test/java/io/quarkus/it/main/MetricsTestCase.java
  tcks/microprofile-metrics/optional/pom.xml
  tcks/microprofile-metrics/pom.xml
Labels: area/dependencies, area/infinispan, area/jaeger, area/resteasy, area/smallrye

#7196 Upgrade to Hibernate ORM 5.4.12.Final
  bom/runtime/pom.xml
Labels: area/dependencies, area/hibernate-orm, release/noteworthy-feature

#6673 add arc, devtools and infra labeling
  .github/boring-cyborg.yml
Labels: area/infra

#7200 Don't presize an empty array passed to Collection#toArray
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
Labels: area/cache

#7202 Remove test-related entries in maven-compiler-plugin
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven

#7130 Add first version of Spring Cloud Config Client extension
  .github/boring-cyborg.yml
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  build-parent/pom.xml
  ci-templates/stages.yml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/pom.xml
  extensions/spring-cloud-config-client/deployment/pom.xml
  extensions/spring-cloud-config-client/deployment/src/main/java/io/quarkus/spring/cloud/config/client/SpringCloudConfigProcessor.java
  extensions/spring-cloud-config-client/pom.xml
  extensions/spring-cloud-config-client/runtime/pom.xml
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/DefaultSpringCloudConfigClientGateway.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/Response.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfig.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientGateway.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientRecorder.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigServerClientConfigSourceProvider.java
  extensions/spring-cloud-config-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/spring-cloud-config-client/runtime/src/test/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientGatewayTest.java
  extensions/spring-cloud-config-client/runtime/src/test/resources/foo-dev.json
  integration-tests/pom.xml
  integration-tests/spring-cloud-config-client/pom.xml
  integration-tests/spring-cloud-config-client/src/main/java/io/quarkus/it/spring/config/server/client/GreetingResource.java
  integration-tests/spring-cloud-config-client/src/main/resources/__files/a-bootiful-client-prod.json
  integration-tests/spring-cloud-config-client/src/main/resources/application.properties
  integration-tests/spring-cloud-config-client/src/main/resources/mappings/a-bootiful-client-prod.json
  integration-tests/spring-cloud-config-client/src/test/java/io/quarkus/spring/cloud/config/client/runtime/GreetingResourceIT.java
  integration-tests/spring-cloud-config-client/src/test/java/io/quarkus/spring/cloud/config/client/runtime/GreetingResourceTest.java
Labels: area/core, area/dependencies, area/spring, release/noteworthy-feature

#7197 chore: update kotlin version to 1.3.61
  bom/runtime/pom.xml
  build-parent/pom.xml
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
  independent-projects/tools/pom.xml
  integration-tests/kotlin/src/test/resources/projects/classic-kotlin/pom.xml
Labels: area/dependencies, area/kotlin, area/platform, triage/waiting-for-ci

#7207 Updated MP OpenTracing to 1.3.3 and SmallRye OpenTracing to 1.3.4.
  bom/runtime/pom.xml
  build-parent/pom.xml
Labels: area/smallrye, triage/waiting-for-ci

#7165 Support for AWS XRay Issue #6785
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  docs/src/main/asciidoc/amazon-lambda-http.adoc
  docs/src/main/asciidoc/amazon-lambda.adoc
  extensions/amazon-lambda-xray/deployment/pom.xml
  extensions/amazon-lambda-xray/deployment/src/main/java/io/quarkus/amazon/lambda/xray/XrayBuildStep.java
  extensions/amazon-lambda-xray/pom.xml
  extensions/amazon-lambda-xray/runtime/pom.xml
  extensions/amazon-lambda-xray/runtime/src/main/java/io/quarkus/amazon/lambda/xray/graal/LambdaSegmentContextSubstitution.java
  extensions/amazon-lambda-xray/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaApi.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/TraceId.java
  extensions/pom.xml
Labels: area/amazon-lambda, area/core, area/dependencies, area/documentation, area/gradle, area/security, area/undertow

#7208 Fixed support for Integrators and ServiceContributors in Hibernate ORM
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/integrator/IntegratorResource.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/integrator/TestIntegrator.java
  integration-tests/jpa/src/main/resources/META-INF/services/org.hibernate.integrator.spi.Integrator
  integration-tests/jpa/src/test/java/io/quarkus/it/jpa/integrator/JPAIntegratorTest.java
Labels: area/hibernate-orm

#7204 update to MicroProfile Fault Tolerance 2.1 and SmallRye Fault Tolerance 4.1.0
  bom/runtime/pom.xml
  build-parent/pom.xml
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  tcks/microprofile-fault-tolerance/pom.xml
Labels: area/smallrye, triage/needs-rebase

#6291 feat: log warning in case of finding spring.jpa properties configuration
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  integration-tests/spring-data-jpa/pom.xml
  integration-tests/spring-data-jpa/src/it/spring-configuration/pom.xml
  integration-tests/spring-data-jpa/src/it/spring-configuration/src/main/java/org/acme/spring/data/jpa/FruitResource.java
  integration-tests/spring-data-jpa/src/it/spring-configuration/src/main/resources/application.properties
  integration-tests/spring-data-jpa/src/it/spring-configuration/verify.groovy
Labels: area/hibernate-orm, area/spring

#7101 Integration of Qute and Mutiny
  bom/runtime/pom.xml
  docs/src/main/asciidoc/qute.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/AsyncTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/PublisherTest.java
  extensions/qute/runtime/pom.xml
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/mutiny/pom.xml
  independent-projects/qute/mutiny/src/main/java/io/quarkus/qute/mutiny/MutinyPublisherFactory.java
  independent-projects/qute/mutiny/src/main/resources/META-INF/services/io.quarkus.qute.PublisherFactory
  independent-projects/qute/mutiny/src/test/java/com/github/mkouba/qute/mutiny/SimplePublisherTest.java
  independent-projects/qute/pom.xml
  independent-projects/qute/rxjava/pom.xml
  independent-projects/qute/rxjava/src/main/java/io/quarkus/qute/rxjava/RxjavaPublisherFactory.java
  independent-projects/qute/rxjava/src/main/resources/META-INF/services/io.quarkus.qute.PublisherFactory
Labels: area/dependencies, area/documentation, area/qute

#7119 Fix "QuarkusUnitTest: assertException shadows out setExpectedException"
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/testing, triage/waiting-for-ci

#7223 Add release-related metadata to ide-config pom.xml
  independent-projects/ide-config/pom.xml
Labels: area/devtools, triage/waiting-for-ci

#7211 Implement Mutiny support for the mailer service
  docs/src/main/asciidoc/mailer.adoc
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/InjectionTest.java
  extensions/mailer/runtime/pom.xml
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/ReactiveMailer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/reactive/ReactiveMailer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailClientProducer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailConfigRecorder.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateInstanceImpl.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateProducer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MockMailboxImpl.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MutinyMailerImpl.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/ReactiveMailerImpl.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/AttachmentTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerImplTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MockMailerImplTest.java
Labels: triage/waiting-for-ci

#7227 Avoid overriding the default CONNECTION_HANDLING strategy in Hibernate ORM
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
Labels: area/hibernate-orm, kind/bug, triage/waiting-for-ci

#7225 Artifacts may not contain the version
  devtools/gradle/build.gradle
  devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java
  devtools/gradle/src/test/java/io/quarkus/gradle/AppModelGradleResolverTest.java
Labels: area/devtools, area/gradle, triage/waiting-for-ci

#7230 Bump kafka to 2.4.0
  bom/runtime/pom.xml
Labels: triage/waiting-for-ci

#7086 Add a composite OidcAuthenticationMechanism
  bom/runtime/pom.xml
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakPolicyEnforcerBuildStep.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerRecorder.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/AbstractOidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcBuildTimeConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcJsonWebTokenProducer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
Labels: area/dependencies, area/oidc

#7059 Update to SmallRye Reactive Messaging 1.1.0
  bom/runtime/pom.xml
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/smallrye-reactive-messaging/deployment/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/DotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/ChannelConsumer.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/ChannelEmitterWithOverflow.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/DeprecatedChannelConsumer.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/DeprecatedEmitterExample.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/DeprecatedInjectionTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/EmitterExample.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/EmitterWithOverflowTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/ReactiveMessagingTest.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusMediatorConfiguration.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ReactiveMessagingConfiguration.java
  tcks/microprofile-reactive-messaging/pom.xml
Labels: area/dependencies, area/documentation, area/reactive-messaging, area/smallrye

#7177 Implement Resteasy Mutiny support
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  ci-templates/stages.yml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/reactive-messaging.adoc
  docs/src/main/asciidoc/rest-client.adoc
  docs/src/main/asciidoc/vertx.adoc
  extensions/pom.xml
  extensions/resteasy-mutiny/deployment/pom.xml
  extensions/resteasy-mutiny/deployment/src/main/java/io/quarkus/resteasy/mutiny/deployment/ResteasyMutinyProcessor.java
  extensions/resteasy-mutiny/deployment/src/test/java/io/quarkus/resteasy/mutiny/test/MutinyInjector.java
  extensions/resteasy-mutiny/deployment/src/test/java/io/quarkus/resteasy/mutiny/test/MutinyResource.java
  extensions/resteasy-mutiny/deployment/src/test/java/io/quarkus/resteasy/mutiny/test/RestEasyMutinyTest.java
  extensions/resteasy-mutiny/deployment/src/test/java/io/quarkus/resteasy/mutiny/test/annotations/Async.java
  extensions/resteasy-mutiny/pom.xml
  extensions/resteasy-mutiny/runtime/pom.xml
  extensions/resteasy-mutiny/runtime/src/main/java/io/quarkus/resteasy/mutiny/runtime/MultiInvokerProvider.java
  extensions/resteasy-mutiny/runtime/src/main/java/io/quarkus/resteasy/mutiny/runtime/MultiProvider.java
  extensions/resteasy-mutiny/runtime/src/main/java/io/quarkus/resteasy/mutiny/runtime/MultiRxInvoker.java
  extensions/resteasy-mutiny/runtime/src/main/java/io/quarkus/resteasy/mutiny/runtime/MultiRxInvokerImpl.java
  extensions/resteasy-mutiny/runtime/src/main/java/io/quarkus/resteasy/mutiny/runtime/UniInvokerProvider.java
  extensions/resteasy-mutiny/runtime/src/main/java/io/quarkus/resteasy/mutiny/runtime/UniProvider.java
  extensions/resteasy-mutiny/runtime/src/main/java/io/quarkus/resteasy/mutiny/runtime/UniRxInvoker.java
  extensions/resteasy-mutiny/runtime/src/main/java/io/quarkus/resteasy/mutiny/runtime/UniRxInvokerImpl.java
  extensions/resteasy-mutiny/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-mutiny/runtime/src/test/java/io/quarkus/resteasy/mutiny/test/MultiProviderTest.java
  extensions/resteasy-mutiny/runtime/src/test/java/io/quarkus/resteasy/mutiny/test/UniProviderTest.java
  integration-tests/pom.xml
  integration-tests/resteasy-mutiny/pom.xml
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/MutinyResource.java
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/MyRestService.java
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/Pet.java
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/SomeService.java
  integration-tests/resteasy-mutiny/src/main/resources/application.properties
  integration-tests/resteasy-mutiny/src/test/java/io/quarkus/it/resteasy/mutiny/MutinyTest.java
Labels: area/core, area/dependencies, area/documentation, triage/waiting-for-ci

#7258 Be nice to people mentioning lower case log levels
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: kind/enhancement, triage/waiting-for-ci

#7261 RootDefinition - trim RuntimeConfig and RuntimeConfiguration suffixes
  core/deployment/src/main/java/io/quarkus/deployment/configuration/definition/RootDefinition.java
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  core/test-extension/deployment/src/main/resources/application.properties
  core/test-extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBean.java
  core/test-extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/IConfigConsumer.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/TestRecorder.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/FooRuntimeConfig.java
  docs/src/main/asciidoc/writing-extensions.adoc
  integration-tests/test-extension/src/main/java/io/quarkus/it/extension/NativeBean.java
Labels: release/breaking-change

#7049 OptaPlanner extension
  bom/deployment/pom.xml
  bom/runtime/pom.xml
  ci-templates/stages.yml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  extensions/optaplanner-jackson/deployment/pom.xml
  extensions/optaplanner-jackson/deployment/src/main/java/io/quarkus/optaplanner/jackson/deployment/OptaPlannerJacksonProcessor.java
  extensions/optaplanner-jackson/pom.xml
  extensions/optaplanner-jackson/runtime/pom.xml
  extensions/optaplanner-jackson/runtime/src/main/java/io/quarkus/optaplanner/jackson/OptaPlannerObjectMapperCustomizer.java
  extensions/optaplanner-jackson/runtime/src/main/resources/quarkus-extension.yaml
  extensions/optaplanner/deployment/pom.xml
  extensions/optaplanner/deployment/src/main/java/io/quarkus/optaplanner/deployment/DotNames.java
  extensions/optaplanner/deployment/src/main/java/io/quarkus/optaplanner/deployment/OptaPlannerBuildTimeConfig.java
  extensions/optaplanner/deployment/src/main/java/io/quarkus/optaplanner/deployment/OptaPlannerProcessor.java
  extensions/optaplanner/deployment/src/main/java/io/quarkus/optaplanner/deployment/SolverBuildTimeConfig.java
  extensions/optaplanner/deployment/src/main/java/io/quarkus/optaplanner/deployment/SolverManagerBuildTimeConfig.java
  extensions/optaplanner/deployment/src/main/java/io/quarkus/optaplanner/deployment/TerminationBuildTimeConfig.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/OptaPlannerProcessorIllegalXMLTest.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/OptaPlannerProcessorSolveTest.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/OptaPlannerProcessorSolverPropertiesTest.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/OptaPlannerProcessorXMLDefaultTest.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/OptaPlannerProcessorXMLNoneTest.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/OptaPlannerProcessorXMLPropertyTest.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/constraints/TestdataPlanningConstraintProvider.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/domain/TestdataPlanningEntity.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/domain/TestdataPlanningSolution.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/rest/OptaPlannerProcessorHotReloadTest.java
  extensions/optaplanner/deployment/src/test/java/io/quarkus/optaplanner/rest/SolverConfigTestResource.java
  extensions/optaplanner/deployment/src/test/resources/io/quarkus/optaplanner/customSolverConfig.xml
  extensions/optaplanner/deployment/src/test/resources/io/quarkus/optaplanner/illegalScanAnnotatedSolverConfig.xml
  extensions/optaplanner/deployment/src/test/resources/solverConfig.xml
  extensions/optaplanner/pom.xml
  extensions/optaplanner/runtime/pom.xml
  extensions/optaplanner/runtime/src/main/java/io/quarkus/optaplanner/OptaPlannerBeanProvider.java
  extensions/optaplanner/runtime/src/main/java/io/quarkus/optaplanner/OptaPlannerRecorder.java
  extensions/optaplanner/runtime/src/main/java/io/quarkus/optaplanner/nativeimage/Substitute_MemberAccessorFactory.java
  extensions/optaplanner/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/optaplanner-jackson/pom.xml
  integration-tests/optaplanner-jackson/src/main/java/io/quarkus/it/optaplanner/OptaPlannerTestResource.java
  integration-tests/optaplanner-jackson/src/main/java/io/quarkus/it/optaplanner/domain/ITestdataPlanningEntity.java
  integration-tests/optaplanner-jackson/src/main/java/io/quarkus/it/optaplanner/domain/ITestdataPlanningSolution.java
  integration-tests/optaplanner-jackson/src/main/java/io/quarkus/it/optaplanner/solver/ITestdataPlanningConstraintProvider.java
  integration-tests/optaplanner-jackson/src/main/resources/application.properties
  integration-tests/optaplanner-jackson/src/test/java/io/quarkus/it/optaplanner/OptaPlannerTestResourceIT.java
  integration-tests/optaplanner-jackson/src/test/java/io/quarkus/it/optaplanner/OptaPlannerTestResourceTest.java
  integration-tests/pom.xml
Labels: area/core, area/dependencies, triage/needs-rebase

#7281 Bump JGit to 5.6.1.202002131546-r
  .dependabot/config.yml
  bom/runtime/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#7271 Fix flaky Kubernetes tests
  integration-tests/kubernetes/standard/pom.xml
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/BasicKubernetesTest.java
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/KubernetesWithHealthTest.java
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/TestUtil.java
  integration-tests/kubernetes/standard/src/test/java/io/quarkus/it/kubernetes/WithKubernetesClientTest.java
Labels: area/kubernetes, triage/waiting-for-ci

#7253 Use Maven 3.6.3 in new projects
  build-parent/pom.xml
  independent-projects/tools/pom.xml
Labels: area/devtools, area/maven, triage/waiting-for-ci

#7274 Qute - ignore expressions/tags starting with invalid identifiers
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: area/qute

#7201 Benefit from the static metadata for GraalVM to have been moved into …
  bom/runtime/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmReflections.java
  extensions/hibernate-orm/runtime/pom.xml
Labels: area/dependencies, area/hibernate-orm, triage/waiting-for-ci

#7279 Qute - fix built-in template extension method for Map
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TreeMapDataTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/BuiltinTemplateExtensions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
Labels: area/qute, triage/waiting-for-ci

#7278 Add hack to work around fork join pool problems
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/ForkJoinClassLoading.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
Labels: triage/waiting-for-ci

#7273 Add guide for Spring Cloud Config Client extension
  docs/src/main/asciidoc/spring-cloud-config-client.adoc
  docs/src/main/asciidoc/spring-data-jpa.adoc
  docs/src/main/asciidoc/spring-di.adoc
  docs/src/main/asciidoc/spring-security.adoc
  docs/src/main/asciidoc/spring-web.adoc
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/DefaultSpringCloudConfigClientGateway.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfig.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigServerClientConfigSourceProvider.java
  extensions/spring-cloud-config-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/spring-cloud-config-client/runtime/src/test/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientGatewayTest.java
  integration-tests/spring-cloud-config-client/src/main/resources/application.properties
Labels: triage/waiting-for-ci

#7057 Introduce basic-test-suite profile
  devtools/gradle/pom.xml
  integration-tests/kotlin/pom.xml
  integration-tests/kubernetes/invoker/pom.xml
  integration-tests/kubernetes/pom.xml
  integration-tests/kubernetes/standard/pom.xml
  integration-tests/maven/pom.xml
  integration-tests/scala/pom.xml
Labels: area/gradle, area/kotlin, area/kubernetes, area/maven, area/scala

#7282 Introduced quarkus-internal.maven-cmd-line-args system property
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenRepoInitializer.java
Labels: area/devtools, triage/waiting-for-ci

#7287 Bootstrap/workspace discovery: check parent dir for pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
Labels: area/bootstrap, area/maven

#7254 Quartz - make it possible to access the underlying scheduler instance
  docs/src/main/asciidoc/quartz.adoc
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/InjectQuartzSchedulerTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRuntimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler, triage/waiting-for-ci

#7245 Recreate all metric registries during reload
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerMetricsFactory.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/deployment/DevModeMetricRegistryTest.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java
Labels: area/smallrye, triage/waiting-for-ci

#7312 Various GitHub actions adjustments
  .github/workflows/ci-actions.yml
Labels: area/infra

#7277 Qute - ExtensionMethodGenerator now handles ClassCastException correctly
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/LoopSectionTest.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/MyService.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
Labels: area/qute
