Repository quarkusio/quarkus, pull requests merged in 2020-12, with the labels that each got.

#13572 Uppercase long suffix for mongodb-panache and hibernate-orm-panache
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation

#13515 Remove the ProtectionDomain Map in RunnerClassLoader
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/ClassLoadingResource.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/SerializedApplication.java
Labels: area/core

#13578 Fix failing github action (codestart)
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/github-action/base/.github/workflows/ci.tpl.qute.yml
Labels: area/codestarts, area/devtools, triage/backport?

#13583 Fix doc style on the deploying to google cloud guide
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
Labels: area/documentation, triage/backport?

#13560 Support injectable loggers
  docs/src/main/asciidoc/logging.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/log/InjectedLoggerTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/log/LoggerName.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/LoggerProducer.java
Labels: area/arc, area/documentation, triage/waiting-for-ci

#13580 Introduce async exception mapping to RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AuthenticationFailedExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/ExceptionMapperUtil.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/UnauthorizedExceptionMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/AsyncExceptionMapperContextImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ExceptionMapping.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/AsyncExceptionMapperContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ResteasyReactiveAsyncExceptionMapper.java
Labels: area/resteasy

#13587 Qute: fix expression validation algorithm
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplatesAnalysisBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeInfos.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/TypeSafeLoopFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/TypeSafeLoopTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ValidationFailuresTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expression.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Scope.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SetSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/WhenSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: area/qute

#13308 Support specifying TLS keys from classpath for gRPC clients
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  docs/src/main/asciidoc/grpc-service-implementation.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/ResourceRegistrationUtils.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/HelloWorldTlsEndpointTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/tls/HelloWorldTlsEndpoint.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/tls/HelloWorldTlsService.java
  extensions/grpc/deployment/src/test/resources/grpc-client-tls-configuration.properties
  extensions/grpc/deployment/src/test/resources/tls-from-file/README.md
  extensions/grpc/deployment/src/test/resources/tls-from-file/ca-openssl.cnf
  extensions/grpc/deployment/src/test/resources/tls-from-file/ca.pem
  extensions/grpc/deployment/src/test/resources/tls-from-file/server-openssl.cnf
  extensions/grpc/deployment/src/test/resources/tls-from-file/server.key
  extensions/grpc/deployment/src/test/resources/tls-from-file/server.pem
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/SslClientConfig.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/SslServerConfig.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  integration-tests/grpc-tls/src/main/resources/application.properties
Labels: area/documentation, area/grpc

#13597 Adjust triage rules to be a lot less aggressive
  .github/quarkus-bot-java.yml
  .github/quarkus-bot.yml
Labels: area/infra-automation

#13473 Workaround graal#3003 by passing IncludeResources via AutomaticFeature
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageResourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageResourceDirectoryBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageResourcePatternsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageResourcesStep.java
Labels: area/core

#13603 Remove -H:+TraceClassInitialization from redis-client IT
  integration-tests/redis-client/src/main/resources/application.properties
Labels: area/redis

#13586 Create src/main/java when using -DnoExamples
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/project/quarkus/java/src/main/java/.gitkeep
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/project/quarkus/kotlin/src/main/kotlin/.gitkeep
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/project/quarkus/scala/src/main/scala/.gitkeep
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/CodestartProcessor.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
Labels: area/codestarts, area/devtools, area/platform

#13582 Improve logging and documentation about objcopy dependency
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/core, area/documentation, triage/backport-1.7?, triage/backport?

#13590 Replace remaining quarkus-rest name in error message
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
Labels: area/resteasy, triage/waiting-for-ci

#13577 DevMojo: pick up invoked plugin goal configs from executions
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/devtools, area/maven, triage/backport?

#13619 Detect wrong usage of singleton annotations
  extensions/arc/deployment/pom.xml
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/WrongAnnotationsProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/wrongsingleton/WrongSingletonTest.java
Labels: area/arc

#13618 Implement missing JpaRepository method deleteAllInBatch()
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/StockMethodsAdder.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CountryResource.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/CountryResourceTest.java
Labels: area/spring, triage/waiting-for-ci

#13630 Update OptaPlanner guide to 8.0 improvements
  docs/src/main/asciidoc/optaplanner.adoc
Labels: area/documentation, triage/backport?

#13628 Make various improvements to RESTEasy Reactive ExceptionMapper handling
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi/src/main/java/io/quarkus/resteasy/reactive/spi/CustomContainerRequestFilterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi/src/main/java/io/quarkus/resteasy/reactive/spi/CustomContainerResponseFilterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi/src/main/java/io/quarkus/resteasy/reactive/spi/CustomExceptionMapperBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi/src/main/java/io/quarkus/resteasy/reactive/spi/ExceptionMapperBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ClassLevelExceptionMapperGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ServerExceptionMapperGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/CustomExceptionMappersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/ExtendsUniException.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/FirstResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/MyException.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/MyOtherException.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/MyOtherExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/SecondResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/SomeBean.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/UniException.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/UniExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/perclassexception/MyException.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/perclassexception/SecondResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AsyncExceptionMappingUtil.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AuthenticationFailedExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/ExceptionMapperUtil.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/SecurityExceptionMapperUtil.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/UnauthorizedExceptionMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerExceptionMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ResteasyReactiveAsyncExceptionMapper.java
Labels: area/resteasy, triage/waiting-for-ci

#13589 Adds assertions to the Amazon IAM test
  extensions/amazon-services/iam/deployment/src/test/java/io/quarkus/amazon/iam/deployment/IamSyncClientFullConfigTest.java
Labels: triage/waiting-for-ci

#13637 Allow codestarts override and avoid duplicates
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalog.java
Labels: area/devtools, area/platform, triage/backport?

#13573 Fix potential hang if exception is thrown from authenticator
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusIdentityProviderManagerImpl.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FailedIdentityProviderTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FailingIdentityProvider.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
Labels: area/security, area/vertx, triage/backport?

#13607 Upgrade to Hibernate ORM 5.4.25.Final
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: area/core, area/dependencies, area/hibernate-orm, area/hibernate-reactive, area/persistence, kind/enhancement

#13654 Regression: Maven uberJar plugin parameter configuration
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/maven/src/test/resources/projects/uberjar-maven-plugin-config/pom.xml
  integration-tests/maven/src/test/resources/projects/uberjar-maven-plugin-config/src/main/java/org/acme/HelloResource.java
Labels: area/devtools, area/maven, triage/backport?

#13538 Create Maven plugin command to generate JBang project
  devtools/maven/src/main/java/io/quarkus/maven/CreateJBangMojo.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/code/jbang-resteasy-code/java/src/{resource.class-name}.tpl.qute.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/tooling/jbang-wrapper/base/jbang
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/tooling/jbang-wrapper/base/jbang.cmd
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateJBangProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateJBangProjectCommandHandler.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/CreateJBangProjectTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateJBangProjectMojoIT.java
Labels: area/codestarts, area/devtools, area/jbang, area/maven, area/platform

#13608 Support S3Event aws lambda
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AbstractLambdaPollLoop.java
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/JacksonInputReader.java
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/JacksonOutputWriter.java
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/LambdaInputReader.java
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/LambdaOutputWriter.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/handlers/JacksonUtil.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/handlers/S3EventInputReader.java
  extensions/amazon-lambda/runtime/src/test/java/io/quarkus/amazon/lambda/runtime/S3EventTest.java
  extensions/funqy/funqy-amazon-lambda/runtime/src/main/java/io/quarkus/funqy/lambda/FunqyLambdaBindingRecorder.java
  integration-tests/amazon-lambda-s3event/pom.xml
  integration-tests/amazon-lambda-s3event/src/main/java/io/quarkus/it/amazon/lambda/MyS3.java
  integration-tests/amazon-lambda-s3event/src/main/resources/application.properties
  integration-tests/amazon-lambda-s3event/src/test/java/io/quarkus/it/amazon/lambda/S3EventIT.java
  integration-tests/amazon-lambda-s3event/src/test/java/io/quarkus/it/amazon/lambda/S3EventTestCase.java
  integration-tests/pom.xml
  test-framework/amazon-lambda/src/main/java/io/quarkus/amazon/lambda/test/LambdaClient.java
Labels: area/amazon-lambda, area/funqy, area/testing

#13674 Missing reflection registration for Hibernate Reactive: OneToMany persisters
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  integration-tests/hibernate-reactive-panache/src/main/resources/application.properties
Labels: area/hibernate-reactive, area/persistence

#13651 Remove spaces from quarkus.container-image.group when it's set to the username
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageConfig.java
Labels: triage/backport-1.7?, triage/backport?

#13659 Update Keycloak Authorization docs and UserInfo
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/UserInfo.java
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
Labels: area/documentation, area/oidc

#13640 Use System.err for configuration startup errors
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
Labels: area/config, area/core

#13639 Align artifactId of extensions/resteasy-reactive
  extensions/resteasy-reactive/pom.xml
Labels: area/resteasy, triage/waiting-for-ci

#13634 Add default value for elasticsearch hosts/protocol in tests
  integration-tests/elasticsearch-rest-client/src/main/resources/application.properties
  integration-tests/elasticsearch-rest-high-level-client/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch/src/main/resources/application.properties
Labels: area/elasticsearch, area/hibernate-search, triage/waiting-for-ci

#13677 Upgrade to Hibernate Reactive 1.0.0.Beta1
  bom/application/pom.xml
Labels: area/dependencies, area/hibernate-reactive, kind/enhancement, release/noteworthy-feature, triage/waiting-for-ci

#13673 Reset TCCL in QuarkusLauncher when the app terminates
  core/launcher/src/main/java/io/quarkus/launcher/QuarkusLauncher.java
Labels: area/core

#13680 Fix Panache / Reactive integration tests in native mode
  .github/native-tests.json
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/PanacheFunctionalityTest.java
Labels: area/infra-automation

#13669 Auto-detect container runtime
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#13645 Adjust triage rules for RESTEasy and add one for RESTEasy Reactive
  .github/quarkus-bot-java.yml
  .github/quarkus-bot.yml
Labels: area/infra, area/infra-automation

#13507 Runtime ClassLoader's buffer evictions
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
Labels: area/core, area/devtools

#13699 Improve documentation about quarkus.native.container-runtime property
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/core, area/documentation

#13697 Dev classloader concurrency fixes
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/JarClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/devmode, area/devtools

#13682 Make sure the StartupEvent is fired after the runtime config is set
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/LifecycleEventsBuildStep.java
Labels: area/arc

#13657 Interceptors - always skip bridge methods
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/Counter.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bridge/BridgeMethodInterceptionTest.java
  integration-tests/amazon-lambda/src/main/java/io/quarkus/it/amazon/lambda/Count.java
  integration-tests/amazon-lambda/src/main/java/io/quarkus/it/amazon/lambda/CounterInterceptor.java
  integration-tests/amazon-lambda/src/main/java/io/quarkus/it/amazon/lambda/TestLambda.java
  integration-tests/amazon-lambda/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
Labels: area/amazon-lambda, area/arc, triage/backport?, triage/waiting-for-ci

#13709 Add guide link for RESTEasy Multipart
  extensions/resteasy-multipart/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/resteasy, triage/backport?

#13710 Add guide link for RESTEasy Mutiny
  extensions/resteasy-mutiny/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/mutiny, area/smallrye, triage/backport?

#13706 Close the app in the finally of IDELauncherImpl
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
Labels: area/devtools, triage/backport?

#13701 DevMojo invoking other goals should filter out goal params that aren't supported
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/command-mode-app-args-plugin-config/pom.xml
  integration-tests/maven/src/test/resources/projects/command-mode-app-args-plugin-config/src/main/java/org/acme/Main.java
Labels: area/devtools, area/maven, triage/backport?

#13708 Make sure that remote-dev mode listens on all interfaces instead of localhost
  core/runtime/src/main/java/io/quarkus/runtime/LaunchMode.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpHostConfigSource.java
Labels: area/core, area/vertx, triage/backport-1.7?, triage/backport?

#13698 Updating database container images used for testing
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/quartz.adoc
  integration-tests/hibernate-reactive-db2/pom.xml
  integration-tests/jpa-db2/README.md
  integration-tests/jpa-db2/pom.xml
  integration-tests/jpa-mssql/README.md
  integration-tests/jpa-mssql/pom.xml
  integration-tests/jpa-mssql/src/test/java/io/quarkus/it/jpa/mssql/JPAFunctionalityTest.java
  integration-tests/jpa-mysql/README.md
  integration-tests/jpa-mysql/pom.xml
  integration-tests/reactive-db2-client/pom.xml
Labels: area/documentation, area/hibernate-orm, area/infra, area/persistence

#13625 Add ability to set user in JIB container
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/container-image, triage/waiting-for-ci

#13691 Spring Data JPA @Modifying(clearAutomatically and flushAutomatically)
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/AbstractMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/LoginEvent.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/ModifyingQueryWithFlushAndClearTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/QueryReturningCustomTypeBadAliasTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/User.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/UserRepository.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/devmode/RepositoryReloadTest.java
  extensions/spring-data-jpa/deployment/src/test/resources/import_books.sql
  extensions/spring-data-jpa/deployment/src/test/resources/import_users.sql
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/spring/data/runtime/RepositorySupport.java
Labels: area/panache, area/spring, triage/waiting-for-ci

#13707 Correctly mark return type as nullable.
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheQuery.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheMongoEntityBase.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheMongoRepository.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheMongoRepositoryBase.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheQuery.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/book/ReactiveBookRepositoryResource.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/person/ReactivePersonRepositoryResource.kt
Labels: area/panache

#13717 DevMojo invokes other goals only if those are actually configured
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/classic-no-generate/pom.xml
  integration-tests/maven/src/test/resources/projects/classic-no-generate/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/classic-no-generate/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources/projects/classic-no-generate/src/main/resources/META-INF/resources/index.html
Labels: area/devtools, area/maven, triage/backport?

#13713 Properly parse the jvmArgs passed to make it a list
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/devtools, area/maven, triage/backport?

#13712 Fix test for verifying 2LC can be disabled
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HqlNodeScannerTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/JPACacheDisabledTest.java
  integration-tests/jpa/src/test/java/io/quarkus/it/jpa/configurationless/JPACacheDisabled.java
Labels: area/hibernate-orm, area/persistence, area/testing

#13642 Consolidate surefire systemPropertyVariables in ITs
  build-parent/pom.xml
  integration-tests/kotlin/pom.xml
  integration-tests/maven/pom.xml
  integration-tests/micrometer-jmx/pom.xml
  integration-tests/micrometer-mp-metrics/pom.xml
  integration-tests/micrometer-native/pom.xml
  integration-tests/micrometer-prometheus/pom.xml
  integration-tests/packaging/pom.xml
  integration-tests/scala/pom.xml
Labels: area/dependencies, area/kotlin, area/maven, area/scala, triage/waiting-for-ci

#13715 Upgrade SmallRye OpenAPI to 2.0.16
  bom/application/pom.xml
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/DefaultContentTypeResource.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/DefaultContentTypeTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/Greeting.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentService.java
  integration-tests/main/src/test/java/io/quarkus/it/main/OpenApiTestCase.java
Labels: area/dependencies, area/openapi, area/smallrye, triage/backport?

#13726 Fix typos in getting-started.adoc
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation, triage/backport?

#13689 Funqy generics improvement
  extensions/funqy/funqy-amazon-lambda/runtime/src/main/java/io/quarkus/funqy/lambda/FunqyLambdaBindingRecorder.java
  extensions/funqy/funqy-google-cloud-functions/runtime/src/main/java/io/quarkus/funqy/gcp/functions/FunqyCloudFunctionsBindingRecorder.java
  extensions/funqy/funqy-http/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/http/FunqyHttpBindingRecorder.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/WithGenerics.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/WithGenericsTest.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/KnativeEventsBindingRecorder.java
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/FunctionInvoker.java
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/query/QueryObjectMapper.java
Labels: area/funqy, triage/waiting-for-ci

#13633 Update the Quarkus Codestart doc
  independent-projects/tools/codestarts/README.adoc
  independent-projects/tools/codestarts/examples/quarkus/my-example/base/README.tpl.qute.md
  independent-projects/tools/codestarts/examples/quarkus/my-example/base/src/main/resources/META-INF/resources/index.tpl.qute.html
  independent-projects/tools/codestarts/examples/quarkus/my-example/codestart.yml
  independent-projects/tools/codestarts/examples/quarkus/my-example/java/src/main/java/org/acme/example/MyHelloExample.java
  independent-projects/tools/codestarts/examples/quarkus/my-example/kotlin/src/main/kotlin/org/acme/example/MyHelloExample.kt
Labels: area/codestarts, area/devtools, area/platform

#13613 Updated gRPC and protobuf-java versions
  bom/application/pom.xml
Labels: area/dependencies

#13675 Allow methods annotated with @ServerRequestFilter and @ServerResponseFilter to return various types
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/runtime/src/main/java/io/quarkus/resteasy/reactive/qute/runtime/TemplateResponseFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CustomFilterGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CustomProviderGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ServerExceptionMapperGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/AbortingFiltersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/AssertContainerFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomContainerResponseFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomFiltersResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomFiltersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/IllegalStateExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/OptionalRequestFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/ResponseFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/UniException.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/UniExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/UniFiltersResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/UniFiltersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/UniResponseFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/UniResponseRequestFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/UniVoidRequestFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/filters/FilterUtil.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/filters/PreventAbortResteasyReactiveContainerRequestContext.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerRequestFilter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerResponseFilter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ResteasyReactiveContainerRequestFilter.java
Labels: area/resteasy

#13695 Make value field of @ServerExceptionMapper optional
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ServerExceptionMapperGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/FirstResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/MyOtherExceptionMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerExceptionMapper.java
Labels: area/resteasy, area/resteasy-reactive

#13720 Fix parent of some extensions
  extensions/funqy/funqy-amazon-lambda/pom.xml
  extensions/funqy/funqy-google-cloud-functions/pom.xml
  extensions/funqy/funqy-http/pom.xml
  extensions/funqy/funqy-knative-events/pom.xml
  extensions/funqy/funqy-server-common/pom.xml
  extensions/openshift-client/pom.xml
  extensions/panache/hibernate-orm-panache-common/pom.xml
  extensions/panache/hibernate-orm-panache-kotlin/pom.xml
  extensions/panache/hibernate-orm-panache/pom.xml
  extensions/panache/hibernate-orm-rest-data-panache/pom.xml
  extensions/panache/hibernate-reactive-panache-common/pom.xml
  extensions/panache/hibernate-reactive-panache/pom.xml
  extensions/panache/mongodb-panache-common/pom.xml
  extensions/panache/mongodb-panache-kotlin/pom.xml
  extensions/panache/mongodb-panache/pom.xml
  extensions/panache/mongodb-rest-data-panache/pom.xml
  extensions/panache/panache-common/deployment/pom.xml
  extensions/panache/panache-common/pom.xml
  extensions/panache/panache-hibernate-common/deployment/pom.xml
  extensions/panache/panache-hibernate-common/pom.xml
  extensions/panache/panache-mock/pom.xml
  extensions/panache/panacheql/pom.xml
  extensions/panache/rest-data-panache/pom.xml
  extensions/reactive-streams-operators/mutiny-reactive-streams-operators/pom.xml
  extensions/reactive-streams-operators/smallrye-reactive-streams-operators/pom.xml
  extensions/reactive-streams-operators/smallrye-reactive-type-converters/pom.xml
  extensions/resteasy-reactive/pom.xml
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-jaxrs-client/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/pom.xml
Labels: area/funqy, area/mongodb, area/panache, area/reactive, area/resteasy-reactive

#13725 Also ignore the ReactiveX version of Buffer
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
Labels: area/vertx

#13727 Fix dev mode when the same file is marked multiple times for hot deploy
  core/deployment/src/main/java/io/quarkus/deployment/dev/HotDeploymentConfigFileBuildStep.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsImportSqlHotReloadScriptTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsSqlLoadScriptTestResource.java
  extensions/hibernate-orm/deployment/src/test/resources/import-sharedentity.sql
Labels: area/core, area/hibernate-orm, area/persistence, triage/backport?

#13688 Add AwsProxyRequestContext to quarkus context
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/model/ApiGatewayAuthorizerContext.java
  integration-tests/amazon-lambda-http-resteasy/src/main/java/io/quarkus/it/amazon/lambda/GreetingResource.java
  integration-tests/amazon-lambda-http-resteasy/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
  integration-tests/amazon-lambda-http/src/main/java/io/quarkus/it/amazon/lambda/GreetingResource.java
  integration-tests/amazon-lambda-http/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
Labels: area/amazon-lambda

#13734 Update jbang-maven-plugin to allow use of Maven 3.6.2, jbang version bump
  docs/pom.xml
Labels: area/documentation, triage/waiting-for-ci

#13721 Remove lambdas from RESTEasy Reactive Uni/Multi handling
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/MultiResponseHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/UniResponseHandler.java
Labels: area/resteasy-reactive, triage/waiting-for-ci

#13696 Allow injection of SearchSession/SearchMapping
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/ForwardingSession.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/TransactionScopedSession.java
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/HibernateSearchElasticsearchCdiProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/configuration/IndexedEntity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/configuration/NoConfigIndexedEntityTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/configuration/NoConfigNoIndexedEntityTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/multiplepersistenceunits/MultiplePersistenceUnitsCdiTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/multiplepersistenceunits/defaultpu/DefaultPUEntity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/multiplepersistenceunits/defaultpu/package-info.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/multiplepersistenceunits/pu1/PU1Entity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/multiplepersistenceunits/pu1/package-info.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/multiplepersistenceunits/pu2/PU2Entity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/multiplepersistenceunits/pu2/package-info.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/singlepersistenceunit/DefaultPUEntity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/elasticsearch/test/singlepersistenceunit/SinglePersistenceUnitsCdiTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-multiple-persistence-units.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application.properties
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
Labels: area/documentation, area/hibernate-orm, area/hibernate-search, area/persistence, triage/waiting-for-ci

#13741 1.10.3 backports 2
  core/deployment/src/main/java/io/quarkus/deployment/dev/HotDeploymentConfigFileBuildStep.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsImportSqlHotReloadScriptTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsSqlLoadScriptTestResource.java
  extensions/hibernate-orm/deployment/src/test/resources/import-sharedentity.sql
  test-framework/junit5/pom.xml
Labels: area/core, area/hibernate-orm, area/infra, area/persistence, area/testing

#13739 Updates XStream due to published CVE
  test-framework/junit5/pom.xml
Labels: area/testing

#13647 Adding picocli codestart
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/base/README.tpl.qute.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/java/src/main/java/org/acme/picocli/EntryCommand.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/java/src/main/java/org/acme/picocli/GoodbyeCommand.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/java/src/main/java/org/acme/picocli/GreetingService.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/java/src/main/java/org/acme/picocli/HelloCommand.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/kotlin/src/main/kotlin/org/acme/picocli/EntryCommand.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/kotlin/src/main/kotlin/org/acme/picocli/GoodbyeCommand.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/kotlin/src/main/kotlin/org/acme/picocli/GreetingService.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/examples/picocli-example/kotlin/src/main/kotlin/org/acme/picocli/HelloCommand.kt
  extensions/picocli/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
Labels: area/codestarts, area/devtools

#13700 Add exposed option to ResourceProperties
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/RestDataProcessor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/AddMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/DeleteMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/GetMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UpdateMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/AddHalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/GetHalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/ListHalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/UpdateHalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourceProperties.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourcePropertiesProvider.java
  extensions/panache/rest-data-panache/runtime/src/main/java/io/quarkus/rest/data/panache/ResourceProperties.java
  integration-tests/hibernate-orm-rest-data-panache/src/main/java/io/quarkus/it/hibernate/orm/rest/data/panache/AuthorsResource.java
Labels: area/documentation, area/panache

#12995 Add RuntimeInitializedPackageBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/RuntimeInitializedClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/RuntimeInitializedPackageBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/runtimeinitializedpackage/RuntimeInitializedClass.java
Labels: area/core, triage/waiting-for-ci

#13732 Use setters for Person in the example usage
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
Labels: area/documentation

#13736 SmallRye GraphQL 1.0.19 + tests for context propagation
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLCDIContextPropagationTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/SecurityTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLContextTestCase.java
  extensions/smallrye-graphql/runtime/pom.xml
Labels: area/dependencies, area/graphql, area/smallrye

#13746 Introduce new quarkus cli command create-jbang
  devtools/cli/src/main/java/io/quarkus/cli/CreateJBang.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/test/java/io/quarkus/cli/CliTest.java
Labels: area/cli, area/devtools, area/jbang

#13748 Convert test logging level to debug
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/DefaultMediaTypeTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ReponseInfoTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/GenericEntityDoubleWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/GenericEntitytFloatWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ParameterSubResSubImpl.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorBaseResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorSubresource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorSubresource2.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResponseInfoResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/SpecialResourceApiResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/UriInfoSimpleResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/UriInfoSimpleSingletonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resteasy/async/filters/AsyncRequestFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resteasy/async/filters/AsyncResponseFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/TestUtil.java
Labels: area/resteasy-reactive, triage/waiting-for-ci

#13761 Scan for packages in the Hibernate ORM extension
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmAnnotations.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaEntitiesBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ProxyBuildingHelper.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateOrmAnnotationsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/packages/ChildEntity1.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/packages/ChildEntity2.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/packages/PackageLevelAnnotationTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/packages/ParentEntity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/packages/package-info.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/scan/QuarkusScanner.java
Labels: area/core, area/hibernate-orm, area/persistence

#13760 Fix NPE in BytecodeRecorderImpl
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
Labels: area/core

#13758 Handle null gradle resource directory in dev mode
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
Labels: area/core, area/devtools

#13772 Simplify the form of CDI doc
  docs/src/main/asciidoc/cdi.adoc
Labels: area/documentation

#13757 Update DefaultTokenStateManager to remove all session cookies when tokens are split
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc, triage/backport?

#13764 Move optional micrometer registries to quarkiverse
  .github/dependabot.yml
  .github/native-tests.json
  bom/application/pom.xml
  extensions/micrometer/deployment/pom.xml
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/AzureMonitorRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/DatadogRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/JmxRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/PrometheusRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/SignalFxRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/StackdriverRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/StatsdRegistryProcessor.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/AllRegistriesDisabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/AzureMonitorEnabledInvalidTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/AzureMonitorEnabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/DatadogEnabledInvalidTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/DatadogEnabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/JmxEnabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/SignalFxEnabledInvalidTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/SignalFxEnabledInvalidUriTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/SignalFxEnabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/StackdriverEnabledInvalidTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/StackdriverEnabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/StatsdEnabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/Util.java
  extensions/micrometer/runtime/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/AzureMonitorConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/DatadogConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/JmxConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/MicrometerConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/SignalFxConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/StackdriverConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/StatsdConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/runtime/ExportConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/AzureMonitorMeterRegistryProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/DatadogMeterRegistryProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/JmxMeterRegistryProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/SignalFxMeterRegistryProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/StackdriverMeterRegistryProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/StatsdMeterRegistryProvider.java
  integration-tests/micrometer-jmx/pom.xml
  integration-tests/micrometer-jmx/src/main/java/io/quarkus/it/micrometer/jmx/CustomConfiguration.java
  integration-tests/micrometer-jmx/src/main/java/io/quarkus/it/micrometer/jmx/MessageResource.java
  integration-tests/micrometer-jmx/src/main/resources/application.properties
  integration-tests/micrometer-jmx/src/test/java/io/quarkus/it/micrometer/jmx/JmxMetricsRegistryTest.java
  integration-tests/micrometer-native/pom.xml
  integration-tests/micrometer-native/src/main/java/io/quarkus/it/micrometer/native_mode/MessageResource.java
  integration-tests/micrometer-native/src/main/resources/application.properties
  integration-tests/micrometer-native/src/test/java/io/quarkus/it/micrometer/native_mode/NativeMeterRegistriesIT.java
  integration-tests/micrometer-native/src/test/java/io/quarkus/it/micrometer/native_mode/NativeMeterRegistriesTest.java
  integration-tests/pom.xml
Labels: area/dependencies, area/infra-automation, area/metrics

#13745 Support SmallRye Config 1.10.0
  bom/application/pom.xml
  integration-tests/smallrye-config/pom.xml
  integration-tests/smallrye-config/src/main/resources/application.properties
  integration-tests/smallrye-config/src/main/resources/config-common.properties
  integration-tests/smallrye-config/src/main/resources/config.properties
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ConfigLocationsIT.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ConfigLocationsTest.java
Labels: area/dependencies

#13771 Provide M2Eclipse metadata to silence errors in Eclipse
  devtools/maven/src/main/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
Labels: area/devtools, area/maven

#13769 Added link of cache quickstart in cache.adoc
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/jms.adoc
Labels: area/documentation

#13740 Properly close the app launched in devmode from the IDE
  core/deployment/src/main/java/io/quarkus/deployment/dev/IDEDevModeMain.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/RunningQuarkusApplicationImpl.java
  core/launcher/src/main/java/io/quarkus/launcher/QuarkusLauncher.java
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
Labels: area/core, area/devtools

#13749 Quarkus ArC integration refactoring
  docs/src/main/asciidoc/cdi-integration.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/cdi.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveIndexBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanDeploymentValidatorBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanDiscoveryFinishedBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanRegistrarBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ContextRegistrarBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ContextRegistrationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/CustomScopeAnnotationsBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/CustomScopeBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ObserverRegistrarBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/RegisteredComponentsBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SynthesisFinishedBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeansProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/TransformedAnnotationsBuildItem.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/mpmetrics/MicroprofileMetricsProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeploymentValidator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanRegistrar.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanResolver.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanResolverImpl.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanStream.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuildExtension.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorResolver.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/beans/BeanRegistrarTest.java
Labels: area/arc, area/documentation, area/metrics, area/qute, area/scheduler, area/undertow, triage/waiting-for-ci

#13785 Bump jib-core to 0.16.0
  bom/application/pom.xml
Labels: area/dependencies

#13792 Remove unused test injection code
  core/deployment/src/main/java/io/quarkus/deployment/test/TestResourceProvider.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestInjectionManager.java
Labels: area/core, area/testing

#13788 Add .env to .gitignore in generated projects
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/project/quarkus-jbang/base/..gitignore
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/project/quarkus/base/..gitignore
  devtools/platform-descriptor-json/src/main/resources/templates/gitignore.ftl
Labels: area/codestarts, area/devtools, triage/backport?

#13620 MP Config 2.0 Support
  .mvn/extensions.xml
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/DefaultValuesConfigurationSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/AbstractRawDefaultConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ApplicationPropertiesConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigInstantiator.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/QuarkusPropertiesConfigSourceProvider.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/Substitutions.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigPropertyBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ClassConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/DotNames.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/InterfaceConfigPropertiesUtil.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigPropertiesTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/NullConverterTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigBeanCreator.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigMappingCreator.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigRecorder.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSource.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpHostConfigSource.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/CustomConfigSource.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ConfigurableSource.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ServerProperties.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ServerResource.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ServerResourceTest.java
  srcdeps.yaml
  tcks/microprofile-config/pom.xml
  tcks/microprofile-config/src/test/java/io/quarkus/tck/config/ConfigApplicationArchiveProcessor.java
  tcks/microprofile-config/src/test/resources/tck-suite.xml
  tcks/pom.xml
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPConfigSourceProvider.java
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/RunningAppConfigResolver.java
Labels: area/arc, area/config, area/core, area/dependencies, area/testing, area/vault, area/vertx

#13796 Qute type-safe templates: fix parameter assignability check
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeInfos.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ValidationSuccessTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/devmode/QuteErrorPageSetup.java
Labels: area/qute, kind/bug, triage/backport?

#13545 Prepare removal of transformed caching interceptor bindings
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheAnnotationsTransformer.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheDeploymentConstants.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptorBinding.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheKeyParameterPositions.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptorBinding.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCache.java
Labels: area/cache

#13743 MongoDB Panache: Update field access with appropriate get/set methods
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheEntityEnhancer.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/resources/BookResource.java
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/person/resources/PersonEntityResource.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/person/resources/PersonRepositoryResource.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/person/resources/ReactivePersonEntityResource.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/person/resources/ReactivePersonRepositoryResource.kt
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/AccessorEntity.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/GenericEntity.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/TestEndpoint.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/resources/PersonEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/resources/PersonRepositoryResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/person/resources/ReactivePersonEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/person/resources/ReactivePersonRepositoryResource.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheResourceTest.java
Labels: area/mongodb, area/panache

#13813 Remove the now useless em field from Hibernate Search ORM guide
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
Labels: area/documentation

#13799 Ensure than an exception during serialization of json is properly handled
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Cheese.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/CheeseEndpoint.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/ExceptionInWriterTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/JacksonMessageBodyWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/Cheese.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/CheeseEndpoint.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/ExceptionInWriterTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/runtime/src/main/java/io/quarkus/resteasy/reactive/jsonb/runtime/serialisers/JsonbMessageBodyWriter.java
Labels: area/resteasy-reactive

#13553 Allow repeatable interceptor bindings
  docs/src/main/asciidoc/cdi-reference.adoc
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Interceptors.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/repeatable/InheritedRepeatableInterceptorBindingTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/repeatable/RepeatableInterceptorBindingTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/repeatable/RepeatableInterceptorBindingWithNonbindingAttributeTest.java
Labels: area/arc, area/documentation

#13822 Upgrade to Hibernate Search 6.0.0.Final
  bom/application/pom.xml
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/HibernateSearchClasses.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/graal/Substitute_HibernateOrmIntegrationBooterBehavior.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/graal/Substitute_HibernateOrmIntegrationBooterImpl.java
Labels: area/dependencies, area/documentation, area/hibernate-search, triage/waiting-for-ci

#13825 Add missing ConfigItem in the service binding configuration
  extensions/kubernetes-service-binding/runtime/src/main/java/io/quarkus/kubernetes/service/binding/runtime/KubernetesServiceBindingConfig.java
Labels: triage/waiting-for-ci

#13829 Validate that Kotlin entities do not extend PanacheEntity and also declare its own ID
  extensions/panache/hibernate-orm-panache-kotlin/deployment/pom.xml
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/KotlinPanacheResourceProcessor.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/DefaultPanacheEntityToStringTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/NoConfigTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/DefaultPersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/DefaultPersistenceUnitFileTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/ErroneousPersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/MultiplePersistenceUnitConfigTest.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/PanacheTestResource.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/first/FirstEntity.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/second/SecondEntity.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/DefaultPanacheEntityToStringTest.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/DuplicateIdEntity.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/DuplicateIdEntityTest.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/NoConfigTest.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/DefaultPersistenceUnitConfigTest.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/DefaultPersistenceUnitFileTest.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/ErroneousPersistenceUnitConfigTest.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/MultiplePersistenceUnitConfigTest.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/PanacheTestResource.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/first/FirstEntity.kt
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/multiple_pu/second/SecondEntity.kt
Labels: area/panache

#13808 Amazon Services - Make native work even if nothing configured
  extensions/amazon-services/common/deployment/src/main/java/io/quarkus/amazon/common/deployment/AmazonServicesClientsProcessor.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
Labels: area/devtools, area/maven

#13820 Update SmallRye GraphQL, adding more test cases for reactive
  bom/application/pom.xml
  docs/src/main/asciidoc/microprofile-graphql.adoc
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/Book.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/BookGraphQLApi.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/CompletionStageTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLGroupedTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/UniTest.java
Labels: area/dependencies, area/documentation, area/graphql, area/smallrye, triage/backport?

#13830 MP JWT 1.2 Support
  bom/application/pom.xml
  build-parent/pom.xml
  pom.xml
  tcks/microprofile-jwt/pom.xml
Labels: area/dependencies

#13833 Fix param converter handling in RESTEasyReactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusServerEndpointIndexer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveDevModeProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/NotFoundExceptionMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerExceptionMapper.java
Labels: area/resteasy-reactive

#13819 Set targetDirectory when launching from IDE
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
Labels: area/devtools, triage/backport?

#13789 Make it possible for integration tests to observe Classloading events
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/GenerateConfigTask.java
  extensions/hibernate-envers/deployment/src/test/java/io/quarkus/hibernate/orm/envers/EnversFastBootingTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/JPAFastBootingTest.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassLoaderEventListener.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassLoaderLimiter.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/core, area/devtools, area/hibernate-orm, area/persistence, area/testing, kind/enhancement

#13800 Delegate final handling of un-mapped exceptions to Vert.x
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/ExceptionInReaderTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FroMage.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FroMageEndpoint.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AsyncExceptionMappingUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ExceptionMapping.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RequestDeserializeHandler.java
Labels: area/resteasy-reactive

#13759 Dev mode: init timestamps for the added classes when they are detected
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
Labels: area/core, triage/backport?

#13846 Bump to jGit 5.9.0.202009080501-r
  .github/dependabot.yml
  bom/application/pom.xml
Labels: area/dependencies, area/infra-automation, triage/waiting-for-ci

#13843 Register Liquibase Precondition services
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  integration-tests/liquibase/src/main/resources/db/xml/create-tables.xml
Labels: area/liquibase

#13861 CI: drop superfluous build step in TCKS job
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#13793 Add RESTEasy Reactive example codestart
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/base/README.tpl.qute.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/base/src/main/resources/META-INF/resources/index.tpl.qute.html
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/java/src/main/java/org/acme/{resource.class-name}.tpl.qute.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/java/src/native-test/java/org/acme/Native{resource.class-name}IT.tpl.qute.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/java/src/test/java/org/acme/{resource.class-name}Test.tpl.qute.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/kotlin/src/main/kotlin/org/acme/{resource.class-name}.tpl.qute.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/kotlin/src/native-test/kotlin/org/acme/Native{resource.class-name}IT.tpl.qute.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/kotlin/src/test/kotlin/org/acme/{resource.class-name}Test.tpl.qute.kt
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/scala/src/main/scala/org/acme/{resource.class-name}.tpl.qute.scala
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/scala/src/native-test/scala/org/acme/Native{resource.class-name}IT.tpl.qute.scala
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-reactive-example/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartRunIT.java
Labels: area/codestarts, area/devtools, area/resteasy-reactive, triage/waiting-for-ci

#13840 1.7.6 backports 2
  .github/workflows/ci-actions.yml
  .github/workflows/doc-build.yml
  .github/workflows/native-cron-build.yml
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  docs/src/main/asciidoc/building-native-image.adoc
  extensions/amazon-services/common/deployment/src/main/java/io/quarkus/amazon/common/deployment/AmazonServicesClientsProcessor.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageConfig.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxRequestHandler.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/PausedSchedulerTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/BadRequestTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
Labels: area/core, area/dependencies, area/devtools, area/documentation, area/infra, area/infra-automation, area/maven, area/resteasy, area/scheduler, area/vertx

#13816 CDI docs - fix invalid references
  docs/src/main/asciidoc/cdi-integration.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation

#13864 Fast-jar does not deploy correctly to OpenShift
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
Labels: triage/backport?, triage/waiting-for-ci

#13855 Ensure that suspended transaction is always resumed
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorBase.java
Labels: area/narayana, triage/backport?

#13857 Reactive RestEasy JAX-RS client - passing entities
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/src/main/java/io/quarkus/resteasy/reactive/client/deployment/JaxrsClientProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/client/test/ContentTypeHeaderTest.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/resteasy-reactive

#13869 Upgrade to Vert.x 3.9.5
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, triage/backport-1.7?, triage/backport?

#13860 CI: replace netstat with ss for upcoming Ubuntu 20
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#13812 Add documentation on how to constrain providers to specific env
  docs/src/main/asciidoc/rest-client.adoc
  docs/src/main/asciidoc/rest-json.adoc
Labels: area/documentation, triage/backport?

#13872 1.7.6 backports 3
  bom/application/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
Labels: area/dependencies, area/infra, area/vertx

#13873 Fix link in security testing guide
  docs/src/main/asciidoc/security-testing.adoc
Labels: area/documentation, triage/backport?

#13867 MP 4.0: Metrics, Fault Tolerance and GraphQL
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerMpMetricsFactory.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/AnnotatedGaugeAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/ConcurrentGaugeImpl.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/CounterAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/GaugeAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/HistogramAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/MeterAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/MetricRegistryAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/MpMetadata.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/TimerAdapter.java
  extensions/smallrye-fault-tolerance/deployment/pom.xml
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/FaultToleranceTest.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/additional/BlockingAsyncTest.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/additional/BlockingHelloService.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/additional/NonblockingAsyncTest.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/additional/NonblockingHelloService.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/types/mutiny/MutinyFaultToleranceTest.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/types/mutiny/MutinyHelloService.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/circuitbreaker/CircuitBreakerBean.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/circuitbreaker/maintenance/duplicate/CircuitBreakerNameInheritanceTest.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/circuitbreaker/maintenance/duplicate/SubCircuitBreakerService.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/circuitbreaker/maintenance/duplicate/SuperCircuitBreakerService.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/circuitbreaker/maintenance/inheritance/CircuitBreakerService1.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/circuitbreaker/maintenance/inheritance/CircuitBreakerService2.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/circuitbreaker/maintenance/inheritance/DuplicateCircuitBreakerNameTest.java
  extensions/smallrye-fault-tolerance/runtime/pom.xml
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/NoopMetricRegistry.java
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/QuarkusAsyncExecutorProvider.java
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/QuarkusExistingCircuitBreakerNames.java
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/SmallRyeFaultToleranceRecorder.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/jandex/JandexAnnotationInfoAdapter.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/jandex/JandexMemberInfoAdapter.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/jaxrs/JaxRsMetricsTestCase.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/registration/DefaultMethodTest.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/FilterUtil.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/MetadataHolder.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/QuarkusRestEasyMetricsFilter.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/QuarkusRestMetricsFilter.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java
  tcks/microprofile-fault-tolerance/pom.xml
Labels: area/dependencies, area/fault-tolerance, area/jaeger, area/metrics, area/smallrye

#13886 Fixes around default JSON handling
  extensions/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/jackson/QuarkusJacksonSerializer.java
  extensions/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/jsonb/QuarkusJsonbSerializer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/JacksonMessageBodyWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/runtime/src/main/java/io/quarkus/resteasy/reactive/jsonb/runtime/serialisers/JsonbMessageBodyWriter.java
Labels: area/resteasy, area/resteasy-reactive, triage/backport?

#13881 Register SignatureAlgorithm and KeyEncryptionAlgorithm for reflection in smallrye-jwt
  extensions/smallrye-jwt-build/deployment/src/main/java/io/quarkus/smallrye/jwt/builder/deployment/SmallRyeJwtBuildProcessor.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
Labels: area/smallrye

#13880 1.10.4 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/project/quarkus-jbang/base/..gitignore
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/project/quarkus/base/..gitignore
  devtools/platform-descriptor-json/src/main/resources/templates/gitignore.ftl
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/jms.adoc
  docs/src/main/asciidoc/microprofile-graphql.adoc
  extensions/amazon-services/common/deployment/src/main/java/io/quarkus/amazon/common/deployment/AmazonServicesClientsProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorBase.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/Book.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/BookGraphQLApi.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/CompletionStageTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLCDIContextPropagationTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLGroupedTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/SecurityTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLContextTestCase.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/UniTest.java
  extensions/smallrye-graphql/runtime/pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  integration-tests/liquibase/src/main/resources/db/xml/create-tables.xml
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/codestarts, area/core, area/dependencies, area/devtools, area/documentation, area/graphql, area/infra, area/liquibase, area/maven, area/narayana, area/oidc, area/smallrye

#13879 Upgrade to Hibernate ORM 5.4.26.Final
  bom/application/pom.xml
Labels: area/dependencies, area/hibernate-orm, triage/backport?

#13875 Qute - support Mutiny Uni directly in the templates
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Names.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/TypeSafeLoopTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/MutinyTest.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: area/documentation, area/qute, triage/waiting-for-ci

#13893 1.10.4 backports 2
  bom/application/pom.xml
  docs/src/main/asciidoc/rest-client.adoc
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/security-testing.adoc
  extensions/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/jackson/QuarkusJacksonSerializer.java
  extensions/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/jsonb/QuarkusJsonbSerializer.java
Labels: area/dependencies, area/documentation, area/infra, area/resteasy

#13890 Qute type-safe templates: fix parameter assignability check
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeInfos.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ValidationSuccessTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/devmode/QuteErrorPageSetup.java
Labels: area/qute

#13894 Throw an exception when model classes and no datasource
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/EntitiesWithoutDataSourceTest.java
Labels: area/hibernate-orm, area/persistence, triage/backport?

#13876 Amazon Lambda HTTP native image failure archetype fix
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
Labels: area/amazon-lambda, triage/backport?

#13853 Implement Various Reactive fixes
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/src/main/java/io/quarkus/resteasy/reactive/client/deployment/ClientEndpointIndexer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/SerializersUtil.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi/src/main/java/io/quarkus/resteasy/reactive/spi/MessageBodyReaderBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SuperClass.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/JacksonMessageBodyReader.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/JacksonMessageBodyWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/SuperClass.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/runtime/src/main/java/io/quarkus/resteasy/reactive/jsonb/runtime/serialisers/JsonbMessageBodyReader.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusServerEndpointIndexer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/MultipleHttpAnnotationsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/SubResourceRequestFilterTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/Serialisers.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/MethodParameter.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/LocatableResourcePathParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RequestDeserializeHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResourceLocatorHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerMethodParameter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/providers/serialisers/json/AbstractJsonMessageBodyReader.java
Labels: area/resteasy-reactive

#13865 Add test for MTLS+Basic Auth
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/MtlsRequestBasicAuthTest.java
  extensions/vertx-http/deployment/src/test/resources/conf/mtls/mtls-basic-jks.conf
Labels: area/vertx

#13897 1.10.4 backports 3
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/EntitiesWithoutDataSourceTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: area/amazon-lambda, area/core, area/dependencies, area/hibernate-orm, area/hibernate-reactive, area/infra, area/persistence

#13902 1.7.6 backports 4
  bom/application/pom.xml
Labels: area/dependencies, area/infra

#13735 Disambiguate Codestart and Extension codestarts in the doc
  independent-projects/tools/codestarts/README.adoc
Labels: area/codestarts, area/devtools, area/platform, triage/waiting-for-ci

#13906 Update to smallrye-jwt 2.4.1
  bom/application/pom.xml
Labels: area/dependencies

#13913 Trim security config usernames and roles
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/MPRealmRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/PolicyConfig.java
  integration-tests/elytron-undertow/src/main/resources/application.properties
Labels: area/security, area/undertow, area/vertx

#13912 Wire up web.xml session config
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
Labels: area/undertow

#13903 Fix overflow handling in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/AbortFilterWithLargePayloadTest.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
Labels: area/resteasy-reactive, triage/waiting-for-ci

#13815 IDE dev mode: add only reloadable local dependencies to the devmode context
  core/deployment/src/main/java/io/quarkus/deployment/dev/IDEDevModeMain.java
  core/runtime/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/devmode/DependenciesFilter.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenArtifactResolver.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/core, area/devtools, area/maven

#13866 Issue with the SecurityIdentity on the IO Thread
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  extensions/funqy/funqy-http/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/http/VertxRequestHandler.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/VertxRequestHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxRequestHandler.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityAssociation.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/SimpleRouteTest.java
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/RouteHandler.java
Labels: area/documentation, area/funqy, area/graphql, area/resteasy, area/resteasy-reactive, area/security, area/smallrye, area/undertow, area/vertx

#13916 Fix scope for junit-jupiter-api in Panache artifacts - 1.10
  extensions/panache/panache-common/runtime/pom.xml
  extensions/panache/panache-hibernate-common/runtime/pom.xml
Labels: area/panache

#13907 Fix broken redirect for /metrics sub paths
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  integration-tests/smallrye-metrics/src/test/java/io/quarkus/it/metrics/MetricsTestCase.java
Labels: area/vertx

#13928 Updated RESTEasy Reactive README
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/README.md
Labels: area/resteasy-reactive

#13802 Resteasy reactive docs
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation

#13908 Ensure lib directory exists when building debug-enabled native-images
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/backport?, triage/waiting-for-ci
