Repository quarkusio/quarkus, pull requests merged in 2021-06, with the labels that each got.

#17554 Updated SmallRye GraphQL to 1.2.3
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  tcks/pom.xml
Labels: area/dependencies, area/graphql, area/smallrye, triage/backport?

#17546 Ensure that VertxInputStream doesn't result in infinite attempts to read data
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxInputStream.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxInputStream.java
Labels: area/vertx, triage/backport?

#17572 Propagate environment for CLI tests
  devtools/cli/pom.xml
Labels: area/cli, area/devtools

#17547 Add some doc regarding the new features in the maven plugin
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/backport?

#17544 ArC - do not activate request context for Inialized/Destroyed events
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
  independent-projects/arc/runtime/src/test/java/io/quarkus/arc/impl/QualifiersTest.java
  independent-projects/arc/runtime/src/test/resources/META-INF/services/org.jboss.weld.arc.BeanProvider
Labels: area/arc, kind/bug, triage/backport?, triage/waiting-for-ci

#17573 Continuous tests may not run for unit tests
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/BasicConsole.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/QuarkusTestTypeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/TestRunnerSmokeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/UnitET.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/UnitService.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/UnitTestTypeTestCase.java
Labels: area/core, area/vertx, triage/backport?

#17577 gRPC: fail code generation gracefully on default java package
  extensions/grpc/protoc/src/main/java/io/quarkus/grpc/protoc/plugin/MutinyGrpcGenerator.java
Labels: area/grpc, triage/backport?

#17574 Create generic build item for DevServices native
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesNativeConfigResultBuildItem.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/mongodb-client/deployment-spi/pom.xml
  extensions/mongodb-client/deployment-spi/src/main/java/io/quarkus/mongodb/deployment/devservices/DevServicesMongoResultBuildItem.java
  extensions/mongodb-client/deployment/pom.xml
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/mongodb-client/pom.xml
  extensions/redis-client/deployment-spi/pom.xml
  extensions/redis-client/deployment-spi/src/main/java/io/quarkus/redis/client/deployment/devservices/DevServicesRedisResultBuildItem.java
  extensions/redis-client/deployment/pom.xml
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesProcessor.java
  extensions/redis-client/pom.xml
  extensions/vault/deployment-spi/pom.xml
  extensions/vault/deployment-spi/src/main/java/io/quarkus/vault/deployment/devservices/DevServicesVaultResultBuildItem.java
  extensions/vault/deployment/pom.xml
  extensions/vault/deployment/src/main/java/io/quarkus/vault/deployment/DevServicesVaultProcessor.java
  extensions/vault/pom.xml
  test-framework/junit5/pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeDevServicesHandler.java
Labels: area/core, area/dependencies, area/mongodb, area/redis, area/testing, area/vault, triage/backport?

#17576 Upgrade SmallRye OpenAPI to 2.1.5
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#17585 Use project's Quarkus version when resolving extension catalogs using a registry client
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenProjectBuildFile.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
Labels: area/devtools, area/platform, triage/backport?

#17584 Update to SmallRye JWT 3.2.0
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#17599 Bump gradle jandex plugin version in test and doc
  docs/src/main/asciidoc/cdi-reference.adoc
  integration-tests/gradle/src/test/resources/jandex-basic-multi-module-project/common/build.gradle
Labels: area/documentation, area/gradle, triage/backport?

#17598 Bump kubernetes-client-bom from 5.4.0 to 5.4.1
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#17609 Upgrade to Hibernate ORM 5.5.0.Final
  bom/application/pom.xml
Labels: area/dependencies, release/noteworthy-feature, triage/backport?

#17580 Create log file parent directories for @QuarkusIntegrationTest
  test-framework/common/src/main/java/io/quarkus/test/common/DockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/JarLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/NativeImageLauncher.java
Labels: area/testing, triage/backport?

#17605 Pass max frame size to VertxServerWebSocketContainer
  extensions/websockets/runtime/src/main/java/io/quarkus/undertow/websockets/runtime/WebsocketRecorder.java
Labels: triage/backport?

#17601 Preserve TCCL when using coroutines in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/kotlin/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/CoroutineInvocationHandler.kt
Labels: area/resteasy-reactive, triage/backport?

#17575 gRPC: support @Blocking on class
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcDotNames.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/blocking/BlockingOnClassTest.java
  extensions/grpc/deployment/src/test/proto/blocking.proto
Labels: area/grpc, triage/backport?, triage/waiting-for-ci

#17617 Don't run maven IT names by default
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
Labels: triage/backport?

#17604 Do not delete BrotliDecoder and let GraalVM DCE do it for us
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
Labels: triage/backport?

#17596 Apply tiny polish to DevMojo
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/devtools, area/maven

#17538 Remove support for hibernate.properties (long deprecated)
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/NoHibernatePropertiesTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusEnvironment.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordableBootstrap.java
Labels: area/hibernate-orm, area/persistence, triage/backport?

#17620 Update Vert.x to version 4.1.0 and related dependencies
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#17624 Add rule for @QuarkusIntegrationTest to the bot
  .github/quarkus-bot.yml
Labels: area/infra-automation

#17613 Upgrade to Hibernate Reactive 1.0.0.CR6
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#17623 Ensure @QuarkusIntegrationTest works properly with any Filesystem path
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/testing, triage/backport?, triage/waiting-for-ci

#17590 Update to GraphQL client user guide
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
Labels: area/documentation, triage/backport?

#17634 Remove default Jaeger endpoint
  extensions/opentelemetry/opentelemetry-exporter-jaeger/deployment/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/deployment/JaegerExporterProcessor.java
  extensions/opentelemetry/opentelemetry-exporter-jaeger/runtime/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/runtime/JaegerExporterConfig.java
  extensions/opentelemetry/opentelemetry-exporter-jaeger/runtime/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/runtime/JaegerRecorder.java
  extensions/opentelemetry/opentelemetry-exporter-jaeger/runtime/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/runtime/LateBoundBatchSpanProcessor.java
Labels: area/tracing, triage/backport?

#17636 gRPC: IOThreadInterceptor must check if context is not null before calling runOnContext
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/IOThreadClientInterceptor.java
Labels: area/grpc, triage/backport?

#17621 CLI: Change default short option to display version from "-V" to "-v"
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/test/java/io/quarkus/cli/CliVersionTest.java
Labels: area/cli, area/devtools

#17632 Correctly propagate dispatchToWorker to websockets
  extensions/websockets/runtime/src/main/java/io/quarkus/undertow/websockets/runtime/WebsocketRecorder.java
Labels: area/websockets, triage/backport-1.13?, triage/backport?

#17644 Add support for @Cache and @NoCache in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/cache/CacheOnClassAndMethodsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/cache/CacheOnMethodsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/cache/NoCacheOnClassAndMethodsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/cache/NoCacheOnMethodsTest.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/Cache.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/NoCache.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/CacheControlScanner.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/CacheControlHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/HandlerChainCustomizer.java
Labels: area/resteasy-reactive, triage/backport?

#17645 CI: cancel also non-PR runs in forks
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/ci-actions.yml.disabled
  .github/workflows/doc-build.yml
Labels: area/infra-automation

#17654 Rename quarkus.neo4j.pool.metrics-enabled for unification
  docs/src/main/asciidoc/neo4j.adoc
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jConfiguration.java
  integration-tests/neo4j/src/main/resources/application.properties
Labels: area/documentation, area/neo4j, release/breaking-change, triage/backport?, triage/waiting-for-ci

#17651 Change the way Resteasy injection is initialized
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/QuarkusConstructorInjector.java
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/QuarkusInjectorFactory.java
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/ResteasyInjectorFactoryRecorder.java
Labels: triage/backport?

#17656 Prevent double registration of MpPublisherMessageBodyReader in rest client
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/IgnoreClientProviderBuildItem.java
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
Labels: triage/backport?

#17639 Add Guide for OpenTelemetry
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, triage/backport?

#17468 Implement Dev Services for Kafka
  docs/src/main/asciidoc/kafka-dev-services.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/kafka-client/deployment/pom.xml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaBrokerBuildItem.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaBuildTimeConfig.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
Labels: area/documentation, area/kafka, triage/backport?

#17652 Disable GraphQL metrics by default
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/MetricsDisabledTest.java
Labels: area/graphql, area/smallrye, triage/backport?, triage/waiting-for-ci

#17663 Initialize io.grpc.internal.RetriableStream at runtime
  extensions/grpc-common/deployment/src/main/java/io/quarkus/grpc/common/deployment/GrpcCommonProcessor.java
Labels: area/grpc, triage/backport?

#17661 Add documentation for @Cache and @NoCache
  docs/src/main/asciidoc/resteasy-reactive.adoc
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/Cache.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/NoCache.java
Labels: area/documentation, triage/backport?

#17643 Export maven.repo.local for gradle tests
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
Labels: area/cli, area/devtools

#17660 Initialize io.vertx.ext.auth.impl.jose.JWT at runtime
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
Labels: area/vertx, triage/backport?

#17669 Make sure the gRPC server is started after synthetic beans init
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
Labels: area/grpc, kind/bug, triage/backport?

#17606 Upgrade to Jandex 2.3.0
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  independent-projects/arc/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/artifact-api/pom.xml
  independent-projects/tools/registry-client/pom.xml
  integration-tests/gradle/src/test/resources/jandex-basic-multi-module-project/common/build.gradle
  tcks/microprofile-rest-client-reactive/pom.xml
Labels: area/arc, area/dependencies, area/devtools, area/documentation, area/gradle, area/hibernate-validator, area/platform, triage/backport?, triage/waiting-for-ci

#17610 Use main.java for JBang projects
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectJBangTest.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-jbang/code/jbang-picocli-code/codestart.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-jbang/code/jbang-resteasy-code/codestart.yml
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartGenerationTest.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusJBangCodestartGenerationTest/generateDefaultProject/dir-tree.snapshot
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusJBangCodestartGenerationTest/generateDefaultProject/src_main.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusJBangCodestartGenerationTest/generatePicocliProject/dir-tree.snapshot
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusJBangCodestartGenerationTest/generatePicocliProject/src_main.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/CreateJBangProjectTest.java
Labels: area/cli, area/devtools, area/jbang, area/platform

#17675 Start rewriting the reactive documentation
  docs/src/main/asciidoc/cassandra.adoc
  docs/src/main/asciidoc/context-propagation.adoc
  docs/src/main/asciidoc/getting-started-reactive.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/grpc-getting-started.adoc
  docs/src/main/asciidoc/images/blocking-threads.png
  docs/src/main/asciidoc/images/proactor-pattern.png
  docs/src/main/asciidoc/images/quarkus-reactive-core.png
  docs/src/main/asciidoc/images/reactive-guide-code.png
  docs/src/main/asciidoc/images/reactive-systems.png
  docs/src/main/asciidoc/images/reactive-thread.png
  docs/src/main/asciidoc/mailer.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/mongodb.adoc
  docs/src/main/asciidoc/mutiny-primer.adoc
  docs/src/main/asciidoc/neo4j.adoc
  docs/src/main/asciidoc/quarkus-reactive-architecture.adoc
  docs/src/main/asciidoc/reactive-event-bus.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/rest-client.adoc
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation, area/reactive

#17690 Use @Identifier instead of @Named in kafka client
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/health/KafkaHealthCheck.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRuntimeConfigProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
Labels: area/kafka, area/kafka-streams, triage/backport?

#17689 Capabilities are not persisted
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PersistentAppModel.java
Labels: area/devtools, triage/backport?

#17692 Upgrade Quarkus HTTP to 4.1.1
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#17659 Allow specifying per-port nodePort
  extensions/kubernetes/minikube/deployment/src/main/java/io/quarkus/minikube/deployment/MinikubeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddNodePortDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PortConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMultiplePortsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-multiple-ports.properties
Labels: area/kubernetes, triage/backport?, triage/waiting-for-ci

#17705 Remove unused build mongo dev-service build items
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoClientResultBuildItem.java
Labels: area/mongodb

#17715 Remove initialisation of a config item as the Quarkus config will handle it
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisConfig.java
Labels: area/redis

#17714 17673 - Propagate Quarkus Redis Config to Vertx Redis Client
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientUtil.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisConfig.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/SslConfig.java
Labels: area/redis, triage/waiting-for-ci

#17716 Fix generatedCode output dir
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
Labels: area/devtools, area/gradle, triage/backport?

#17719 quarkus:test output does not always start
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestHandler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
Labels: area/core, triage/backport?

#17696 Update repository declaration order
  integration-tests/gradle/src/test/resources/bean-in-testsources-project/build.gradle
  integration-tests/gradle/src/test/resources/bean-in-testsources-project/settings.gradle
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/build.gradle
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/settings.gradle
  integration-tests/gradle/src/test/resources/multi-module-kotlin-project/build.gradle
  integration-tests/gradle/src/test/resources/multi-module-kotlin-project/settings.gradle
  integration-tests/gradle/src/test/resources/multi-source-project/build.gradle
  integration-tests/gradle/src/test/resources/multi-source-project/settings.gradle
Labels: area/gradle

#17723 gRPC Dev UI: slight improvements
  extensions/grpc/deployment/src/main/resources/dev-templates/service.html
Labels: area/grpc, triage/backport?, triage/waiting-for-ci

#17711 Disable single parsing of compiler graphs in native-image
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#17721 Add artemis-mqtt-protocol dependency
  bom/application/pom.xml
Labels: area/dependencies

#17688 Use version 3.8.1 in the generated projects
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
Labels: area/devtools, area/platform, triage/backport?

#17686 Always setup build time logging
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
Labels: area/core, triage/backport?

#17732 Update reactive picture to match with the web site background
  docs/src/main/asciidoc/getting-started-reactive.adoc
  docs/src/main/asciidoc/images/blocking-threads.png
  docs/src/main/asciidoc/images/proactor-pattern.png
  docs/src/main/asciidoc/images/quarkus-reactive-core.png
  docs/src/main/asciidoc/images/reactive-systems.png
  docs/src/main/asciidoc/images/reactive-thread.png
  docs/src/main/asciidoc/mutiny-primer.adoc
  docs/src/main/asciidoc/quarkus-reactive-architecture.adoc
Labels: area/documentation

#17738 Propagate Quarkus Redis Config to Vertx Redis Client
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientUtil.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisConfig.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/SslConfig.java
Labels: area/redis

#17731 1.13.7 backports 1
  core/deployment/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/util/JandexUtil.java
  core/deployment/src/test/java/io/quarkus/deployment/util/JandexUtilTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/maven-wrapper/codestart.yml
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxInputStream.java
  extensions/websockets/runtime/src/main/java/io/quarkus/undertow/websockets/runtime/WebsocketRecorder.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxInputStream.java
  integration-tests/gradle/src/test/resources/jandex-basic-multi-module-project/common/build.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-multi-module/application/build.gradle
  test-framework/common/src/main/java/io/quarkus/test/common/DockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/JarLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/NativeImageLauncher.java
Labels: area/codestarts, area/core, area/devtools, area/documentation, area/gradle, area/infra, area/kubernetes, area/testing, area/vertx, area/websockets

#17619 Fix Windows input issue
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/devtools, area/maven, triage/backport?

#17687 Do multipart parsing inside RESTEasyReactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/ServletRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/MultipartPopulatorGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/MultipartFormHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRuntimeRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/multipart/MultipartSupport.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/multipart/QuarkusFileUpload.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/HeaderUtil.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/URLUtils.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/DefaultFileUpload.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/FormData.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/FormDataParser.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/FormEncodedDataDefinition.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/FormParserFactory.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultiPartParserDefinition.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartParser.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/CustomServerRestHandlers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/RuntimeConfiguration.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerHttpRequest.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxRequestContextFactory.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/resteasy-reactive

#17752 Center and resize pictures in the various guides
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/config-extending-support.adoc
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/dev-ui.adoc
  docs/src/main/asciidoc/getting-started-reactive.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/kafka-streams.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/mutiny-primer.adoc
  docs/src/main/asciidoc/quarkus-reactive-architecture.adoc
  docs/src/main/asciidoc/scripting.adoc
Labels: area/documentation

#17741 Export maven.repo.local property for Jbang cli tests
  devtools/cli/src/main/java/io/quarkus/cli/build/JBangRunner.java
Labels: area/cli, area/devtools, area/jbang

#17758 Also register CustomResource implementors fully for reflection.
  docs/src/main/asciidoc/kubernetes-client.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: area/documentation, area/kubernetes, triage/backport-1.13?, triage/backport?

#17761 Hibernate ORM no longer needs Jandex at runtime
  extensions/hibernate-orm/runtime/pom.xml
Labels: area/hibernate-orm, area/persistence, kind/enhancement

#17753 Pull docker image when necessary for @QuarkusIntegrationTest
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  test-framework/common/src/main/java/io/quarkus/test/common/DockerContainerLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
Labels: area/testing, triage/backport?

#17757 Give processes launched by @QuarkusIntegrationTest a chance to terminate normally
  test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java
Labels: area/testing, triage/backport?

#17685 SecurityContext override with no quarkus-security
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/SecurityContextOverrideHandler.java
Labels: area/resteasy-reactive, triage/backport?

#17192 AWS Lambda HTTP Security Integration
  docs/src/main/asciidoc/amazon-lambda-http.adoc
  extensions/amazon-lambda-http/deployment/pom.xml
  extensions/amazon-lambda-http/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/AmazonLambdaHttpProcessor.java
  extensions/amazon-lambda-http/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/LambdaHttpBuildTimeConfig.java
  extensions/amazon-lambda-http/runtime/pom.xml
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/CognitoPrincipal.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/CustomPrincipal.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/DefaultLambdaAuthenticationRequest.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/DefaultLambdaIdentityProvider.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/IAMPrincipal.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaAuthenticationRequest.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpAuthenticationMechanism.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaIdentityProvider.java
  extensions/amazon-lambda-rest/deployment/pom.xml
  extensions/amazon-lambda-rest/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/AmazonLambdaHttpProcessor.java
  extensions/amazon-lambda-rest/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/LambdaHttpBuildTimeConfig.java
  extensions/amazon-lambda-rest/runtime/pom.xml
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/CognitoPrincipal.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/CustomPrincipal.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/DefaultLambdaAuthenticationRequest.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/DefaultLambdaIdentityProvider.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/IAMPrincipal.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaAuthenticationRequest.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpAuthenticationMechanism.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaIdentityProvider.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  integration-tests/amazon-lambda-http-resteasy/src/main/java/io/quarkus/it/amazon/lambda/CustomSecurityProvider.java
  integration-tests/amazon-lambda-http-resteasy/src/main/java/io/quarkus/it/amazon/lambda/SecurityCheckResource.java
  integration-tests/amazon-lambda-http-resteasy/src/main/resources/application.properties
  integration-tests/amazon-lambda-http-resteasy/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
  integration-tests/amazon-lambda-http/src/main/java/io/quarkus/it/amazon/lambda/SecurityCheckResource.java
  integration-tests/amazon-lambda-http/src/main/java/io/quarkus/it/amazon/lambda/SecurityCheckVertx.java
  integration-tests/amazon-lambda-http/src/main/java/io/quarkus/it/amazon/lambda/SecurityServlet.java
  integration-tests/amazon-lambda-http/src/main/resources/application.properties
  integration-tests/amazon-lambda-http/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
  integration-tests/amazon-lambda-rest/src/main/java/io/quarkus/it/amazon/lambda/v1/SecurityCheckResource.java
  integration-tests/amazon-lambda-rest/src/main/java/io/quarkus/it/amazon/lambda/v1/SecurityCheckVertx.java
  integration-tests/amazon-lambda-rest/src/main/java/io/quarkus/it/amazon/lambda/v1/SecurityServlet.java
  integration-tests/amazon-lambda-rest/src/main/resources/application.properties
  integration-tests/amazon-lambda-rest/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaV1SimpleTestCase.java
Labels: area/amazon-lambda, area/documentation, area/security, area/undertow, area/vertx

#17701 Support setting maxPoolSize for OIDC WebClients
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
Labels: triage/waiting-for-ci

#17763 SimpleScheduler - fix CronTrigger#evaluate()
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler, triage/backport-1.13?, triage/backport?

#17748 Avoid the Caffeine overhead when it's not used
  extensions/caffeine/deployment/src/main/java/io/quarkus/caffeine/deployment/CaffeineProcessor.java
  extensions/caffeine/runtime/src/main/java/io/quarkus/caffeine/runtime/graal/CacheConstructorsAutofeature.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateCacheProcessor.java
Labels: area/cache, area/hibernate-orm, area/persistence, kind/enhancement

#17734 2.0.0.Final backports 2
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestHandler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/grpc/deployment/src/main/resources/dev-templates/service.html
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/health/KafkaHealthCheck.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRuntimeConfigProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
  extensions/kubernetes/minikube/deployment/src/main/java/io/quarkus/minikube/deployment/MinikubeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddNodePortDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PortConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PersistentAppModel.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMultiplePortsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-multiple-ports.properties
Labels: area/core, area/dependencies, area/devtools, area/documentation, area/gradle, area/grpc, area/infra, area/kafka, area/kafka-streams, area/kubernetes, area/platform

#17736 Register all ConfigMapping group super types for reflection
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Alias.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Named.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Server.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Ssl.java
  integration-tests/smallrye-config/src/main/resources/application.yaml
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ServerResourceTest.java
Labels: area/arc, area/config, triage/backport?

#17727 Add resteasy extension to generated app in the AMQP guide
  docs/src/main/asciidoc/amqp.adoc
Labels: area/documentation, triage/backport-1.13?, triage/backport?

#17764 Bump to ubi-minimal:8.4
  docs/src/main/asciidoc/building-native-image.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/src/main/docker/Dockerfile.jvm
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/src/main/docker/Dockerfile.jvm
  integration-tests/gradle/src/test/resources/basic-java-platform-module/application/src/main/docker/Dockerfile.jvm
  integration-tests/gradle/src/test/resources/basic-java-platform-module/application/src/main/docker/Dockerfile.native
Labels: area/devtools, area/documentation, area/gradle, area/platform, triage/backport?

#17704 Double check misleading unknown config warnings
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  core/test-extension/deployment/src/main/resources/application.properties
  core/test-extension/deployment/src/test/java/io/quarkus/extest/UnknownConfigTest.java
Labels: area/config, area/core

#17768 Fix typo in name of `AdditionalSecuredClassesBuildIem` class
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyBuiltinsProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/AdditionalSecuredClassesBuildItem.java
Labels: area/resteasy-reactive, area/security, triage/backport?

#17677 Adds argLine to instrument Integration Tests
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  docs/src/main/asciidoc/tests-with-coverage.adoc
  test-framework/common/src/main/java/io/quarkus/test/common/JarLauncher.java
Labels: area/core, area/documentation, area/testing, triage/backport?, triage/waiting-for-ci

#17781 Rename BuildItem and remove unused method
  extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/SpringWebProcessor.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/BlacklistedServletContainerInitializerBuildItem.java
  extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/IgnoredServletContainerInitializerBuildItem.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/MediaTypeHelper.java
Labels: area/spring, area/undertow, triage/backport?

#17776 1.13.7 backports 2
  bom/application/pom.xml
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/kubernetes-client.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/dependencies, area/documentation, area/infra, area/kubernetes, area/scheduler

#17783 Minor QOL fix for Quarkus devs
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/JarClassPathElement.java
Labels: area/devtools

#17739 Introduce factory methods to create Redis clients dynamically
  docs/src/main/asciidoc/redis.adoc
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisClientProcessor.java
  extensions/redis-client/runtime/pom.xml
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/RedisClient.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/reactive/ReactiveRedisClient.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientUtil.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientsProducer.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/client/runtime/RedisClientUtilTest.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/RedisWithDynamicClientCreationResource.java
  integration-tests/redis-client/src/main/resources/application.properties
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisTest.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisWithNamedClientIT.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisWithNamedClientTest.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisWithParameterInjectionIT.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisWithParameterInjectionTest.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisWithProvidedHostsIT.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisWithProvidedHostsTest.java
Labels: area/documentation, area/redis

#17769 Fix a few things in the Hibernate Search Dev UI
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/devconsole/HibernateSearchElasticsearchDevConsoleProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/resources/dev-templates/embedded.html
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/resources/dev-templates/entity-types.html
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchDevConsoleRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchSupplier.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
Labels: area/hibernate-search, area/vertx, triage/backport?, triage/waiting-for-ci

#17784 Improve test/dev mode output
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
Labels: area/core, triage/backport?

#17782 Attempt to fix CT intermittent failures
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
Labels: area/core

#17787 Support constructor injection into providers
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/CustomExceptionMapperTestCase.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/ProviderConfigInjectionTest.java
Labels: triage/backport?

#17789 Added a note on events in SmallRye GraphQL Document
  docs/src/main/asciidoc/smallrye-graphql.adoc
Labels: area/documentation, triage/backport?

#17780 Enable continuous testing from the IDE
  core/deployment/src/main/java/io/quarkus/deployment/dev/IDEDevModeMain.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/core, area/devtools, triage/backport?

#17795 gRPC: more logging on failures
  extensions/grpc/stubs/src/main/java/io/quarkus/grpc/runtime/ServerCalls.java
Labels: area/grpc, triage/backport?, triage/waiting-for-ci

#17802 Add note on how to enable JVM debugging in jib built container image
  docs/src/main/asciidoc/container-image.adoc
Labels: area/container-image, area/documentation, triage/backport?

#17788 A note on <extensions>true</extensions> in the Maven docs
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/backport?

#17798 Ignore warnings on specific missing sources
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
Labels: area/core, triage/backport?

#17819 Add ability to log to stderr
  core/runtime/src/main/java/io/quarkus/runtime/logging/ConsoleConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging

#17803 Remove FIXMEs that have been there for ages
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntity.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntity.java
Labels: area/panache, triage/backport?

#17811 Update the security NVD section
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, triage/backport?

#17820 Properly convert property to env var in @QuarkusIntegrationTest
  test-framework/common/src/main/java/io/quarkus/test/common/DockerContainerLauncher.java
Labels: triage/backport?, triage/waiting-for-ci

#17821 Add note in guide about @QuarkusIntegrationTest and the test phase
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation, triage/backport?

#17600 Add 'hibernate.discriminator.ignore_explicit_for_joined' property
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedDefaultValueTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedDefaultValueWithMultiplePUsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedDefaultValueWithPersistenceXmlTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedFalseValueWithPersistenceXmlTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedTrueValueTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedTrueValueWithMultiplePUsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedTrueValueWithPersistenceXmlTest.java
  extensions/hibernate-orm/deployment/src/test/resources/META-INF/persistence-discriminator-ignore-explicit-for-joined-default-value.xml
  extensions/hibernate-orm/deployment/src/test/resources/META-INF/persistence-discriminator-ignore-explicit-for-joined-false-value.xml
  extensions/hibernate-orm/deployment/src/test/resources/META-INF/persistence-discriminator-ignore-explicit-for-joined-true-value.xml
  extensions/hibernate-orm/deployment/src/test/resources/application-discriminator-ignore-explicit-for-joined-default-value.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-discriminator-ignore-explicit-for-joined-true-value.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-multiple-pu-discriminator-ignore-explicit-for-joined-default-value.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-multiple-pu-discriminator-ignore-explicit-for-joined-true-value.properties
Labels: area/hibernate-orm, area/persistence, triage/backport-1.13?, triage/backport?

#17823 Accept GraphQL queries with line breaks and tabs
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
Labels: area/graphql, area/smallrye, triage/backport?

#17826 Only close the span after all writing has finished
  extensions/smallrye-opentracing/deployment/src/main/java/io/quarkus/smallrye/opentracing/deployment/SmallRyeOpenTracingProcessor.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/QuarkusSmallRyeTracingStandaloneContainerResponseFilter.java
Labels: area/smallrye, area/tracing, triage/backport?

#17834 gRPC - clarify naming for clients
  docs/src/main/asciidoc/grpc-getting-started.adoc
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientBuildItem.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientProcessor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcConfiguration.java
  extensions/grpc/stubs/src/main/java/io/quarkus/grpc/GrpcClient.java
Labels: area/housekeeping, triage/backport?

#17840 Remove PlatformStack
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/PlatformStack.java
Labels: area/devtools, area/platform, triage/backport?, triage/waiting-for-ci

#17836 Refactor Amazon Services initialization a bit
  extensions/amazon-services/common/deployment/src/main/java/io/quarkus/amazon/common/deployment/AbstractAmazonServiceProcessor.java
  extensions/amazon-services/common/deployment/src/main/java/io/quarkus/amazon/common/deployment/AmazonClientBuilderBuildItem.java
  extensions/amazon-services/common/deployment/src/main/java/io/quarkus/amazon/common/deployment/AmazonClientBuilderConfiguredBuildItem.java
  extensions/amazon-services/dynamodb/deployment/src/main/java/io/quarkus/amazon/dynamodb/deployment/DynamodbProcessor.java
  extensions/amazon-services/dynamodb/runtime/src/main/java/io/quarkus/amazon/dynamodb/runtime/DynamodbClientProducer.java
  extensions/amazon-services/dynamodb/runtime/src/main/java/io/quarkus/amazon/dynamodb/runtime/DynamodbRecorder.java
  extensions/amazon-services/iam/deployment/src/main/java/io/quarkus/amazon/iam/deployment/IamProcessor.java
  extensions/amazon-services/iam/runtime/src/main/java/io/quarkus/amazon/iam/runtime/IamClientProducer.java
  extensions/amazon-services/iam/runtime/src/main/java/io/quarkus/amazon/iam/runtime/IamRecorder.java
  extensions/amazon-services/kms/deployment/src/main/java/io/quarkus/amazon/kms/deployment/KmsProcessor.java
  extensions/amazon-services/kms/runtime/src/main/java/io/quarkus/amazon/kms/runtime/KmsClientProducer.java
  extensions/amazon-services/kms/runtime/src/main/java/io/quarkus/amazon/kms/runtime/KmsRecorder.java
  extensions/amazon-services/s3/deployment/src/main/java/io/quarkus/amazon/s3/deployment/S3Processor.java
  extensions/amazon-services/s3/deployment/src/test/java/io/quarkus/amazon/s3/deployment/S3SyncClientFullConfigTest.java
  extensions/amazon-services/s3/runtime/src/main/java/io/quarkus/amazon/s3/runtime/S3ClientProducer.java
  extensions/amazon-services/s3/runtime/src/main/java/io/quarkus/amazon/s3/runtime/S3Recorder.java
  extensions/amazon-services/ses/deployment/src/main/java/io/quarkus/amazon/ses/deployment/SesProcessor.java
  extensions/amazon-services/ses/runtime/src/main/java/io/quarkus/amazon/ses/runtime/SesClientProducer.java
  extensions/amazon-services/ses/runtime/src/main/java/io/quarkus/amazon/ses/runtime/SesRecorder.java
  extensions/amazon-services/sns/deployment/src/main/java/io/quarkus/amazon/sns/deployment/SnsProcessor.java
  extensions/amazon-services/sns/runtime/src/main/java/io/quarkus/amazon/sns/runtime/SnsClientProducer.java
  extensions/amazon-services/sns/runtime/src/main/java/io/quarkus/amazon/sns/runtime/SnsRecorder.java
  extensions/amazon-services/sqs/deployment/src/main/java/io/quarkus/amazon/sqs/deployment/SqsProcessor.java
  extensions/amazon-services/sqs/runtime/src/main/java/io/quarkus/amazon/sqs/runtime/SqsClientProducer.java
  extensions/amazon-services/sqs/runtime/src/main/java/io/quarkus/amazon/sqs/runtime/SqsRecorder.java
  extensions/amazon-services/ssm/deployment/src/main/java/io/quarkus/amazon/ssm/deployment/SsmProcessor.java
  extensions/amazon-services/ssm/runtime/src/main/java/io/quarkus/amazon/ssm/runtime/SsmClientProducer.java
  extensions/amazon-services/ssm/runtime/src/main/java/io/quarkus/amazon/ssm/runtime/SsmRecorder.java
Labels: triage/backport?

#17822 Improve compile error message
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestListener.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestRunner.java
Labels: area/core, triage/backport?

#17852 Change ring buffer default length to 3
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/JsonConfigGroup.java
Labels: area/metrics

#17833 Improve mvn quarkus:test output
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedTestModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestHandler.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/backport?

#17845 Upgrade to SmallRye GraphQL 1.2.5 and MicroProfile GraphQL 1.1.0
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientInjectionTest.java
  tcks/microprofile-graphql/src/main/resources/overrides/schemaTests.csv
Labels: area/dependencies, area/documentation, area/graphql, area/smallrye, triage/backport?, triage/waiting-for-ci

#17847 Update the SmallRye GraphQL Extension documentation
  docs/src/main/asciidoc/smallrye-graphql.adoc
Labels: area/documentation, triage/backport?

#17851 Polish console input
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedTestModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  core/devmode-spi/src/main/java/io/quarkus/dev/spi/DevModeType.java
  devtools/maven/src/main/java/io/quarkus/maven/TestMojo.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/tests/TestsProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/BootstrapProfile.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/core, area/devtools, area/maven, area/vertx, triage/backport?

#17858 Add org.apache.maven.resolver:maven-resolver-impl as parentFirstArtifact
  core/runtime/pom.xml
Labels: area/core, triage/backport?

#17860 Fix potential NPE in RESTEasy Classic build time processing
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyBuiltinsProcessor.java
Labels: triage/backport?, triage/waiting-for-ci

#17870 Remove unnecessary dependencies in Gradle projects
  devtools/gradle/build.gradle
  devtools/gradle/pom.xml
  integration-tests/gradle/build.gradle
Labels: area/devtools, area/gradle

#17856 Test for subscriptions with dynamic GraphQL clients
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/LuckyNumbersResource.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/DynamicClientTest.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/TypesafeClientTest.java
Labels: area/graphql, area/smallrye, triage/backport?

#17838 Change the behavior of InjectionPointInfo.getRequiredType()
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientProcessor.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanRegistrar.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinBean.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/validator/BeanDeploymentValidatorTest.java
Labels: area/arc, area/grpc, area/smallrye

#17865 Make the platform model easier to navigate
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/Platform.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/PlatformCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/PlatformStream.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatform.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformStream.java
Labels: area/devtools, area/platform

#17888 Small enhancements of the Kafka guide
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#17844 Implement Dev Services for AMQP
  docs/src/main/asciidoc/amqp-dev-services.adoc
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/kafka-dev-services.adoc
  extensions/smallrye-reactive-messaging-amqp/deployment/pom.xml
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/DevServicesAmqpBrokerBuildItem.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/DevServicesAmqpProcessor.java
Labels: area/documentation, area/reactive-messaging, area/smallrye

#17890 Fix 'Failed to index' warnings for arrays from entities
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
Labels: area/hibernate-orm, area/persistence, triage/backport?, triage/waiting-for-ci

#17875 Update description to add extension
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsAdd.java
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/cli, area/devtools, area/documentation

#17855 Type-safe messages - inspect virtual method params during validation
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/AppMessages.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleTest.java
Labels: area/qute

#17894 Upgrade to Hibernate ORM 5.5.2.Final
  bom/application/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
Labels: area/dependencies, area/hibernate-orm, area/persistence, triage/backport?

#17853 Prevent unlikely NoSuchElementException in continuous testing
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
Labels: area/continuous-testing, area/core

#17898 Small changes to Extension Catalog
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/catalog/processor/ExtensionProcessor.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
Labels: area/devtools, area/platform, triage/backport?, triage/waiting-for-ci

#17906 Parameterized tests not running
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestState.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/params/HelloResource.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/params/OddResource.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/params/ParamET.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/params/Setup.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/params/TestParameterizedTestCase.java
Labels: area/core, area/vertx, triage/backport?

#17725 Add extension for Apicurio Registry Avro
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/apicurio-registry-dev-services.adoc
  docs/src/main/asciidoc/kafka-dev-services.adoc
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/apicurio-registry-avro/deployment/pom.xml
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/ApicurioRegistryAvroProcessor.java
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/ApicurioRegistryDevServicesBuildTimeConfig.java
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/DevServicesApicurioRegistryProcessor.java
  extensions/apicurio-registry-avro/pom.xml
  extensions/apicurio-registry-avro/runtime/pom.xml
  extensions/apicurio-registry-avro/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/pom.xml
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  integration-tests/kafka-avro-apicurio2/pom.xml
  integration-tests/kafka-avro-apicurio2/src/main/resources/application.properties
  integration-tests/kafka-avro/src/main/resources/application.properties
  integration-tests/kafka-sasl/src/main/resources/application.properties
  integration-tests/kafka-snappy/src/main/resources/application.properties
  integration-tests/kafka-ssl/src/main/resources/application.properties
  integration-tests/kafka-streams/src/main/resources/application.properties
  integration-tests/kafka/src/main/resources/application.properties
Labels: area/core, area/dependencies, area/devtools, area/documentation, area/kafka, area/kafka-streams, area/reactive-messaging, area/smallrye, triage/backport?

#17918 Apply some micro-optimizations to logging setup code
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/waiting-for-ci

#17914 Take 'enable' field into account for named logging handlers
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/backport-1.11?, triage/backport-1.13?, triage/backport?

#17564 Support for resolving extension catalog given platform stream, align member BOM imports using quarkus.platform.group-id and quarkus.platform.version
  devtools/cli/src/main/java/io/quarkus/cli/common/RegistryClientMixin.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetBuildToolGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetQuarkusVersionGroup.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle-kotlin-dsl/base/build-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/base/build-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/QuarkusCommandHandlers.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/extensions/Extensions.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTest.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTesting.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/pom.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateMavenWithCustomDep/pom.xml
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/PlatformStackIndex.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/Platform.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/PlatformCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/PlatformStream.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatform.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformStream.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartBuildIT.java
Labels: area/cli, area/devtools, area/kotlin, area/maven, area/platform, area/scala

#17929 Enable SSL and all security services for smallrye-jwt
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
Labels: area/smallrye, triage/backport?

#17923 Type-safe messages - generate a base example properties file
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleMethodBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
Labels: area/documentation, area/qute

#17928 Upgrade to Hibernate Search 6.0.4
  bom/application/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
Labels: area/dependencies, area/hibernate-search, triage/backport?, triage/waiting-for-ci

#17919 Qute namespace resolvers - namespace should be validated
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateExtensionMethodBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/InvalidExtensionMethodNamespaceTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleInvalidNamespaceTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expression.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/NamespaceResolver.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Namespaces.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateExtension.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/NamespaceResolversTest.java
Labels: area/documentation, area/qute, triage/waiting-for-ci

#17911 Apply minor polish to code associated with AdditionalIndexedClassesBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AdditionalIndexedClassesBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
  core/deployment/src/main/java/io/quarkus/deployment/util/IoUtil.java
Labels: area/core

#17895 Add mongodb-client BuildStep that includes org.bson.types.* classes to Jandex index
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
Labels: area/mongodb, triage/waiting-for-ci

#17909 Add http connection limits config
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ConnectionLimitsTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/backport?

#17921 Update OIDC 'Running behind a reverse proxy' docs
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation, area/oidc, triage/backport?

#17940 Fix formatting of links for documentation of quarkus.hibernate-orm.metadata-builder-contributor
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
Labels: area/hibernate-orm, area/persistence, triage/backport?, triage/waiting-for-ci

#17884 TLS: Introduce *-alias to select specific key to use (or cert to trust)
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  integration-tests/vertx-http/src/main/resources/application.properties
  integration-tests/vertx-http/src/main/resources/server-keystore.jks
  integration-tests/vertx-http/src/main/resources/server-truststore.jks
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/Http2TestCase.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/VertxProducerResourceTest.java
  integration-tests/vertx-http/src/test/resources/client-keystore-1.jks
  integration-tests/vertx-http/src/test/resources/client-keystore-2.jks
Labels: area/vertx, triage/backport?

#17932 Update OidcClientImpl to throw ISE if the client is closed
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
Labels: triage/backport?

#17896 Support the injection of OIDC introspection response
  docs/src/main/asciidoc/security-openid-connect.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TokenIntrospection.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/UserInfo.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/AbstractJsonObjectResponse.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTokenCredentialProducer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TokenVerificationResult.java
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantOpaqueResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
  test-framework/security-oidc/src/main/java/io/quarkus/test/security/oidc/OidcSecurity.java
  test-framework/security-oidc/src/main/java/io/quarkus/test/security/oidc/OidcTestSecurityIdentityAugmentorProducer.java
  test-framework/security-oidc/src/main/java/io/quarkus/test/security/oidc/TokenIntrospection.java
Labels: area/documentation, area/oidc, area/testing

#17917 Panache: Support collections in Hibernate Filters
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/Person.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java
Labels: area/panache

#17948 Make Jib env var handling consistent with Kubernetes env vars handling
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: triage/backport-1.11?, triage/backport-1.13?, triage/backport?

#17943 Bump to Liquibase 4.4.0
  bom/application/pom.xml
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
Labels: area/dependencies, area/liquibase
