Repository quarkusio/quarkus, pull requests merged in 2021-01, with the labels that each got.

#14054 Test cache synchronous value loader execution
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ConcurrencyTest.java
Labels: area/cache

#12732 Add OAuth support for Kafka client in native mode
  extensions/kafka-client/deployment/pom.xml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/runtime/pom.xml
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/graal/SubjectSubstitution.java
Labels: area/kafka

#14095 Allow Kafka Streams to be configured using "kafka.bootstrap.servers"
  docs/src/main/asciidoc/kafka-streams.adoc
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java
Labels: area/documentation, area/kafka-streams

#14096 Use a named bean for the Hibernate Search analysis configurer example
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
Labels: area/documentation

#14094 Fix cache ConcurrencyTest instability
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ConcurrencyTest.java
Labels: area/cache, triage/waiting-for-ci

#13991 Fix cache compatibility with rest-client
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheAnnotationsTransformer.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheDeploymentConstants.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheMethodValidator.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheNamesBuildItem.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/ClassTargetException.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/IllegalModifierException.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/IllegalReturnTypeException.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/PrivateMethodTargetException.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/UnknownCacheNameException.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/UnsupportedRepeatedAnnotationException.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/VoidReturnTypeTargetException.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/CacheResultVoidReturnTypeTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/DeploymentExceptionsTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/MethodCacheNameTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/PrivateMethodTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/UnknownConstructorParameterCacheNameTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/UnknownFieldCacheNameTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/UnknownMethodParameterCacheNameTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheInvalidate.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheInvalidateAll.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheResult.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptionContext.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateAllInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateAllInterceptorBinding.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptorBinding.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheProducer.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptorBinding.java
  extensions/spring-cache/deployment/src/main/java/io/quarkus/spring/cache/SpringCacheAnnotationsTransformer.java
  integration-tests/cache/pom.xml
  integration-tests/cache/src/main/java/io/quarkus/it/cache/RestClientResource.java
  integration-tests/cache/src/main/java/io/quarkus/it/cache/SunriseRestClient.java
  integration-tests/cache/src/main/java/io/quarkus/it/cache/SunriseRestServerResource.java
  integration-tests/cache/src/main/resources/application.properties
  integration-tests/cache/src/test/java/io/quarkus/it/cache/RestClientITCase.java
  integration-tests/cache/src/test/java/io/quarkus/it/cache/RestClientTestCase.java
Labels: area/cache, area/spring

#13644 Upgrade to GraalVM 20.3
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaProcessor.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/graal/CleanerNotSupportedSubstitution.java
  extensions/tika/runtime/src/main/java/io/quarkus/tika/runtime/graal/PDFBoxSubstitutions.java
  independent-projects/bootstrap/pom.xml
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/ImageIOSupport.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ImageIOTestCase.java
Labels: area/core, area/dependencies, area/devtools, area/tika

#13919 Enforce test dependencies scope
  build-parent/pom.xml
  core/test-extension/pom.xml
  extensions/panache/panache-mock/pom.xml
  extensions/security/test-utils/pom.xml
  integration-tests/pom.xml
  tcks/pom.xml
  test-framework/pom.xml
Labels: area/core, area/dependencies, area/panache, area/security, area/testing

#13467 Add Mongo to the REST Data Panache guide
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/rest-data-panache/runtime/src/main/java/io/quarkus/rest/data/panache/ResourceProperties.java
Labels: area/documentation, area/panache, triage/needs-rebase

#13373 Spring Data REST
  .github/native-tests.json
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  docs/src/main/asciidoc/spring-boot-properties.adoc
  docs/src/main/asciidoc/spring-cache.adoc
  docs/src/main/asciidoc/spring-cloud-config-client.adoc
  docs/src/main/asciidoc/spring-data-jpa.adoc
  docs/src/main/asciidoc/spring-data-rest.adoc
  docs/src/main/asciidoc/spring-di.adoc
  docs/src/main/asciidoc/spring-scheduled.adoc
  docs/src/main/asciidoc/spring-security.adoc
  docs/src/main/asciidoc/spring-web.adoc
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourcePropertiesBuildItem.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/ResourceName.java
  extensions/pom.xml
  extensions/spring-data-rest/deployment/pom.xml
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourceImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourceMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourcePropertiesProvider.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/crud/CrudMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/crud/CrudPropertiesProvider.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/crud/EntityClassHelper.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/paging/PagingAndSortingMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/paging/PagingAndSortingPropertiesProvider.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/AbstractEntity.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/DefaultCrudResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/DefaultRecordsRepository.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/ModifiedCrudResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/ModifiedRecordsRepository.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/Record.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/AbstractEntity.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/DefaultPagedResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/DefaultRecordsRepository.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/ModifiedPagedResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/ModifiedRecordsRepository.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/Record.java
  extensions/spring-data-rest/deployment/src/test/resources/application.properties
  extensions/spring-data-rest/deployment/src/test/resources/import.sql
  extensions/spring-data-rest/pom.xml
  extensions/spring-data-rest/runtime/pom.xml
  extensions/spring-data-rest/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/pom.xml
  integration-tests/spring-data-rest/pom.xml
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/Author.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/AuthorsRepository.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/Book.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/BooksRepository.java
  integration-tests/spring-data-rest/src/main/resources/application.properties
  integration-tests/spring-data-rest/src/main/resources/import.sql
  integration-tests/spring-data-rest/src/test/java/io/quarkus/it/spring/data/rest/SpringDataRestIT.java
  integration-tests/spring-data-rest/src/test/java/io/quarkus/it/spring/data/rest/SpringDataRestTest.java
  integration-tests/spring-data-rest/src/test/java/io/quarkus/it/spring/data/rest/TestResources.java
Labels: area/core, area/dependencies, area/documentation, area/infra-automation, area/panache, area/spring, release/noteworthy-feature, triage/waiting-for-ci

#13828 Create Picoli example codestart for Quarkus JBang project type
  devtools/cli/src/test/java/io/quarkus/cli/CliTest.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/code/jbang-picocli-code/base/README.tpl.qute.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/code/jbang-picocli-code/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/code/jbang-picocli-code/java/src/{command.class-name}.tpl.qute.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/code/jbang-resteasy-code/base/README.tpl.qute.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/project/quarkus-jbang/base/README.tpl.qute.md
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartGenerationTest.java
Labels: area/cli, area/codestarts, area/devtools, area/jbang

#14107 Replace deprecated systemProperties pom.xml files
  extensions/reactive-messaging-http/deployment/pom.xml
  integration-tests/hibernate-reactive-db2/pom.xml
  integration-tests/hibernate-reactive-mysql/pom.xml
  integration-tests/hibernate-reactive-postgresql/pom.xml
Labels: area/hibernate-reactive, area/infra, triage/waiting-for-ci

#14088 Fix RESTEasy Reactive / OpenTracing memory leak
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/VertxBinderProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/BlockingWithFilterTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/BlockingInputHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/JaxRsMetricsProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-opentracing/deployment/src/main/java/io/quarkus/smallrye/opentracing/deployment/SmallRyeOpenTracingProcessor.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/QuarkusSmallRyeTracingDynamicFeature.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/InputHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
Labels: area/resteasy-reactive, area/tracing, triage/waiting-for-ci

#14090 Document gRPC interceptor mechanism and ordering
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  docs/src/main/asciidoc/grpc-service-implementation.adoc
Labels: area/documentation, area/grpc

#13476 Add quarkus.native.resources.excludes
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageResourcePatternsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageResourcesStep.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/main/resources/test-resources/excluded/unwanted.txt
  integration-tests/main/src/test/java/io/quarkus/it/main/ResourcesITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ResourcesTestCase.java
Labels: area/core

#14116 Remove superfluous surefire configs
  devtools/cli/pom.xml
  extensions/grpc-common/deployment/pom.xml
  extensions/grpc/codegen/pom.xml
  extensions/grpc/deployment/pom.xml
  extensions/grpc/stubs/pom.xml
  extensions/micrometer/deployment/pom.xml
  extensions/reactive-messaging-http/deployment/pom.xml
Labels: area/cli, area/devtools, area/grpc, area/metrics

#14111 Make CacheInterceptionContext immutable
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheInterceptionContextTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheInterceptorTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptionContext.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
Labels: area/cache

#14123 Improve usability of @ConfigProperties with YAML and nested structures
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ClassConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/InterfaceConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/YamlListObjectHandler.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/InterfaceWithNestedInterfaceConfigPrefixTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/configproperties/MultipleInterfaceConfigPrefixTest.java
  extensions/config-yaml/deployment/src/main/java/io/quarkus/config/yaml/deployment/ConfigYamlProcessor.java
  extensions/config-yaml/deployment/src/test/java/io/quarkus/config/yaml/deployment/ClassConfigPropertiesTest.java
  extensions/config-yaml/deployment/src/test/java/io/quarkus/config/yaml/deployment/InterfaceConfigPropertiesTest.java
  extensions/config-yaml/deployment/src/test/resources/configprops.yaml
  extensions/config-yaml/runtime/src/main/java/io/quarkus/config/yaml/runtime/AbstractYamlObjectConverter.java
Labels: area/arc, area/config, area/core, triage/waiting-for-ci

#14118 Handle projection in spring data repositories
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/AbstractMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/SpringDataRepositoryCreator.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieResource.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/MovieResourceTest.java
Labels: area/spring

#13411 Enable the RequestScope on gRPC service invocations
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/MutinyGrpcServiceWithPlainTextTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/MutinyGrpcServiceWithSSLTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/RegularGrpcServiceWithPlainTextTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/RegularGrpcServiceWithSSLFromClasspathTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/RegularGrpcServiceWithSSLTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/blocking/BlockingAndNonBlockingTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/blocking/BlockingMethodsTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/blocking/BlockingMethodsWithMutinyImplTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/AssertHelper.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/BlockingMutinyTestService.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/BlockingTestService.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/MutinyTestService.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/TestService.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/RequestScopeHandlerInterceptor.java
Labels: area/grpc

#14129 Use config root class instead of Object in FieldDescriptor
  core/deployment/src/main/java/io/quarkus/deployment/configuration/definition/RootDefinition.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/named/TestBuildAndRunTimeConfig.java
Labels: area/config, area/core

#14127 Upgrade Quarkus HTTP to 3.0.17.Final
  bom/application/pom.xml
  independent-projects/tools/pom.xml
Labels: area/dependencies, area/devtools, area/platform

#14120 Extend Kafka documentation
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation, area/kafka

#14084 Add support for injection of HttpSession
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/builtinbeans/Counter.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/builtinbeans/ServletBuiltinBeanInjectingBean.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/builtinbeans/ServletBuiltinBeanTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/builtinbeans/TestServlet.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/ServletProducer.java
Labels: area/undertow

#14142 Add documentation note about bootstrap config
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#14136 Test exceptions thrown during NoOpCache computations
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/NoOpCacheTest.java
Labels: area/cache

#14053 @TransactionScoped Context does not call @Predestroy on TransactionScoped Beans
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/context/TransactionContext.java
  integration-tests/narayana-jta/src/main/java/io/quarkus/narayana/jta/TransactionScopedBean.java
  integration-tests/narayana-jta/src/test/java/io/quarkus/narayana/jta/TransactionScopedTest.java
Labels: area/narayana

#14143 Vertx - activate the request context for blocking ConsumeEvent methods
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusConsumer.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/deployment/MessageConsumerMethodTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/EventConsumerInvoker.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
Labels: area/vertx, kind/bug, triage/waiting-for-ci

#14147 Prevent usage of @Inject with QuarkusProdModeTest
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
Labels: area/testing, triage/backport?, triage/waiting-for-ci

#14149 Fix warning when using Panache CRUD services
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
Labels: area/panache, triage/backport?, triage/waiting-for-ci

#14148 Upgrade Infinispan to 11.0.8.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#14150 Upgrade PostgreSQL used for testing to postgres:13.1
  extensions/panache/hibernate-reactive-panache/deployment/pom.xml
  extensions/reactive-pg-client/deployment/pom.xml
  integration-tests/hibernate-reactive-panache/pom.xml
  integration-tests/hibernate-reactive-postgresql/pom.xml
  integration-tests/jpa-postgresql/pom.xml
  integration-tests/main/pom.xml
  integration-tests/reactive-pg-client/pom.xml
Labels: area/hibernate-orm, area/panache, area/persistence, area/reactive, area/testing

#14124 CI: Introduce job to populate Maven cache in forks & quickly-ci profile
  .github/workflows/ci-actions.yml
  .github/workflows/ci-fork-mvn-cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/doc-build.yml
  .github/workflows/sonarcloud.yml.disabled
  CONTRIBUTING.md
  devtools/gradle/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/revapi/pom.xml
  independent-projects/tools/pom.xml
  pom.xml
Labels: area/arc, area/devtools, area/gradle, area/infra-automation, area/platform

#14146 Improve test coverage for container-image group handling
  extensions/container-image/deployment/src/test/java/io/quarkus/container/image/deployment/ContainerImageConfigEffectiveGroupTest.java
  extensions/container-image/deployment/src/test/java/io/quarkus/container/image/deployment/ContainerImageInfoTest.java
Labels: triage/backport?

#14144 Adding new Quarkus config property for setting Narayana objectStoreDirPath
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerConfiguration.java
  integration-tests/narayana-jta/src/main/resources/application.properties
  integration-tests/narayana-jta/src/test/java/io/quarkus/narayana/jta/TransactionConfPropTest.java
Labels: area/narayana, triage/backport?

#14155 Adding BC Fips and OidcClient tests to the native build, with a minor fix
  .github/native-tests.json
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
Labels: area/infra-automation, triage/backport?, triage/waiting-for-ci

#14153 Update Sentry to 3.2.0 and adjust logic
  .github/dependabot.yml
  bom/application/pom.xml
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerCustomTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerDisabledTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerEnvironmentOptionTests.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerReleaseOptionTests.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerWrongTest.java
  extensions/logging-sentry/deployment/src/test/java/io/sentry/jvmti/ResetFrameCache.java
  extensions/logging-sentry/deployment/src/test/resources/application-sentry-logger-default.properties
  extensions/logging-sentry/runtime/pom.xml
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryConfigProvider.java
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryHandler.java
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryHandlerValueFactory.java
Labels: area/dependencies, area/infra-automation, area/logging, triage/backport?

#13992 Detect superfluous minimal deployment dependencies
  CONTRIBUTING.md
  independent-projects/enforcer-rules/src/it/smoketest/integration-tests/ext1/pom.xml
  independent-projects/enforcer-rules/src/it/smoketest/invoker.properties
  independent-projects/enforcer-rules/src/it/smoketest/verify.groovy
  independent-projects/enforcer-rules/src/main/java/io/quarkus/enforcer/RequiresMinimalDeploymentDependency.java
  integration-tests/main/pom.xml
Labels: triage/waiting-for-ci

#14049 Assorted WebJarUtil fixes
  core/deployment/src/main/java/io/quarkus/deployment/util/WebJarUtil.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
Labels: area/core, area/graphql, area/health, area/smallrye, area/swagger-ui, triage/backport?

#14133 Fix bug with non application endpoint redirect for root-path
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/NonApplicationAndRootPathTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/backport?

#14163 Re-enable checking the log in bouncycastle-fips-jsse
  integration-tests/bouncycastle-fips-jsse/src/main/resources/application.properties
  integration-tests/bouncycastle-fips-jsse/src/test/java/io/quarkus/it/bouncycastle/BouncyCastleFipsJsseTestCase.java
Labels: triage/backport?

#14165 Update the SmallRye Reactive Messaging version to 2.7.1
  bom/application/pom.xml
  docs/src/main/asciidoc/kafka.adoc
Labels: area/dependencies, area/documentation, triage/backport?

#14167 Introduce JSON by default support RESTEasy Reactive
  core/runtime/src/main/java/io/quarkus/runtime/annotations/RecordableConstructor.java
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/src/main/java/io/quarkus/resteasy/reactive/client/deployment/JaxrsClientProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/JsonDefaultProducersHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ServerDefaultProducesHandlerBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/main/java/io/quarkus/resteasy/reactive/jsonb/deployment/processor/ResteasyReactiveJsonbProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusServerEndpointIndexer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/DefaultProducesHandler.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/ResteasyReactiveConfig.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
Labels: area/core, area/resteasy-reactive, triage/backport?

#14171 Fix the case where scanning is disabled and there is multiple filters
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/openapi, area/smallrye, triage/backport?

#14005 Google Cloud Functions Codestart
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-example/base/README.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-example/java/src/main/java/org/acme/googlecloudfunctions/HelloWorldBackgroundFunction.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-example/java/src/main/java/org/acme/googlecloudfunctions/HelloWorldHttpFunction.java
  extensions/google-cloud-functions/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/codestarts, area/devtools, area/google-cloud-functions, triage/waiting-for-ci

#14119 RESTEasy Reactive: implement cancel for Multi on both client and server
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/ServletRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseEventSourceImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/MultiResponseHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/SseEventSinkImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerHttpResponse.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#14185 Re-add xstream to Dependabot
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#14188 Review notification assignments after Andy left the team
  .github/quarkus-bot-java.yml
  .github/quarkus-bot.yml
Labels: area/infra-automation

#14179 Some Non-Application path updates
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/HealthOpenAPITest.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
Labels: area/graphql, area/health, area/openapi, area/smallrye, area/swagger-ui, triage/backport?

#14184 Upgrade RESTEasy to 4.5.8.SP1
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#14180 Add public modifier to generated DevModeTest
  devtools/maven/src/main/resources/create-extension-templates/DevModeTest.java
  integration-tests/maven/src/test/resources/expected/create-extension-pom-add-to-bom/add-to-bom/deployment/src/test/java/org/acme/my/project/add/to/bom/test/AddToBomDevModeTest.java
  integration-tests/maven/src/test/resources/expected/create-extension-pom-itest/itest/deployment/src/test/java/org/acme/my/project/itest/test/ItestDevModeTest.java
  integration-tests/maven/src/test/resources/expected/create-extension-pom-minimal/minimal-extension/deployment/src/test/java/org/acme/my/project/minimal/extension/test/MinimalExtensionDevModeTest.java
  integration-tests/maven/src/test/resources/expected/create-extension-pom-with-grand-parent/with-grand-parent/deployment/src/test/java/org/acme/myproject/with/grand/parent/test/WithGrandParentDevModeTest.java
  integration-tests/maven/src/test/resources/expected/new-extension-current-directory-project/deployment/src/test/java/org/acme/my/ext/test/MyExtDevModeTest.java
  integration-tests/maven/src/test/resources/expected/new-extension-project-with-jboss-parent/my-ext/deployment/src/test/java/org/acme/my/ext/test/MyExtDevModeTest.java
  integration-tests/maven/src/test/resources/expected/new-extension-project/my-ext/deployment/src/test/java/org/acme/my/ext/test/MyExtDevModeTest.java
Labels: area/devtools, area/maven, triage/backport?

#14158 Add documentation about using list of objects in @ConfigProperties
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation, triage/backport?

#14192 Ensure that class level exception mappers are invoked on request deserializarion exceptions
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RequestDeserializeHandler.java
Labels: area/resteasy-reactive

#13537 Refactoring Vault components to be CDI beans
  extensions/vault/deployment/src/main/java/io/quarkus/vault/VaultProcessor.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/VaultKVSecretEngine.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/VaultSystemBackendEngine.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultAuthManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultConfigHolder.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultCredentialsProvider.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultDbManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultKubernetesAuthManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultKvManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultRecorder.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultServiceProducer.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultSystemBackendManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultTOTPManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultTransitManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/client/OkHttpClientFactory.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/client/OkHttpVaultClient.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultBootstrapConfig.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSource.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSourceProvider.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultKubernetesAuthenticationConfig.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultTlsConfig.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/health/VaultHealthCheck.java
  extensions/vault/runtime/src/test/java/io/quarkus/vault/runtime/VaultAuthManagerTest.java
  extensions/vault/runtime/src/test/java/io/quarkus/vault/runtime/VaultDbManagerTest.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultITCase.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultTransitITCase.java
  test-framework/vault/src/main/java/io/quarkus/vault/test/VaultTestExtension.java
  test-framework/vault/src/main/java/io/quarkus/vault/test/client/TestVaultClient.java
Labels: area/testing, area/vault

#14203 Ensure logging-json works properly with fast-jar
  extensions/logging-json/runtime/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/.env
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/pom.xml
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/src/main/java/org/acme/ClasspathResources.java
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/src/main/java/org/acme/ProtectionDomain.java
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/src/main/resources/application.properties
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/src/main/resources/db/location/test.sql
  integration-tests/maven/src/test/resources/projects/rr-with-json-logging/src/test/java/org/acme/HelloResourceTest.java
Labels: area/core, triage/backport?

#14200 Make SwaggerUiBuildITem public
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiBuildItem.java
Labels: area/swagger-ui

#14208 Remove deprecated cache doc information
  docs/src/main/asciidoc/cache.adoc
Labels: area/documentation, triage/backport?

#14210 Run callbacks with correct TCCL
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#14197 Add a Google Cloud Functions HTTP codestart
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-http-example/base/README.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-http-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-http-example/java/src/main/java/org/acme/googlecloudfunctions/GreetingFunqy.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-http-example/java/src/main/java/org/acme/googlecloudfunctions/GreetingResource.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-http-example/java/src/main/java/org/acme/googlecloudfunctions/GreetingRoutes.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/google-cloud-functions-http-example/java/src/main/java/org/acme/googlecloudfunctions/GreetingServlet.java
  extensions/google-cloud-functions-http/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/codestarts, area/devtools, area/google-cloud-functions

#14205 Improve Panache's deleteAll Javadoc
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheCompanion.kt
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheRepositoryBase.kt
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntityBase.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheRepositoryBase.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntityBase.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheRepositoryBase.java
Labels: area/panache

#13970 Fix context root handling based on the builder used.
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftBaseJavaImage.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftBaseNativeImage.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftUtils.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithDockerBuildStrategyTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithS2iTest.java
Labels: area/dependencies, area/kubernetes, triage/needs-rebase

#14213 Reactive routes - fix path handling for failure handlers
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/failure/FailureHandlerPathTest.java
Labels: area/vertx, triage/backport?

#14214 Support JSON streaming with Multi
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/SimpleJsonTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/StreamingUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/MultiResponseHandler.java
Labels: area/resteasy-reactive, triage/backport?

#14212 Added links in the GraphQL dev console
  extensions/smallrye-graphql/deployment/src/main/resources/dev-templates/embedded.html
Labels: area/graphql, area/smallrye, triage/backport?

#14231 Remove quarkus-resteasy-reactive-spi from the runtime dependencies of the HV extension
  extensions/hibernate-validator/runtime/pom.xml
Labels: area/hibernate-validator, triage/backport?, triage/waiting-for-ci

#14177 Add support for JUnit's @Nested
  integration-tests/main/src/test/java/io/quarkus/it/main/JaxbTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport?, triage/waiting-for-ci

#14241 Rename RESTEasy Reactive SPI module to spi-deployment
  bom/application/pom.xml
  extensions/hibernate-validator/deployment/pom.xml
  extensions/micrometer/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/AbstractInterceptorBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/CheckBean.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ContainerRequestFilterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ContainerResponseFilterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ContextResolverBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/CustomContainerRequestFilterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/CustomContainerResponseFilterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/CustomExceptionMapperBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/DynamicFeatureBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ExceptionMapperBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/JaxrsFeatureBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/MessageBodyReaderBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/MessageBodyWriterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ParamConverterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ReaderInterceptorBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/RuntimeTypeItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/WriterInterceptorBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/pom.xml
  extensions/smallrye-metrics/deployment/pom.xml
  extensions/smallrye-opentracing/deployment/pom.xml
Labels: area/dependencies, area/hibernate-validator, area/metrics, area/resteasy-reactive, area/smallrye, area/tracing, triage/backport?

#14227 Support OIDC cookie-path-header and storing id and refresh tokens
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/documentation, area/oidc

#14245 Fix concurrency modification exception in Reactive Messaging tests
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/beans/InfiniteSubscriber.java
Labels: area/reactive-messaging, area/smallrye, kind/bug, triage/waiting-for-ci

#14223 Introduce declarative support for Custom Jackson Serialization
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/CustomSerialization.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/JacksonMessageBodyWriter.java
Labels: area/resteasy-reactive, triage/waiting-for-ci

#14247 Fix warning in native mode when using bootstrap config
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
Labels: area/config, area/core, triage/backport?, triage/waiting-for-ci

#14226 Qute extension methods: fix varargs handling
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/NamespaceTemplateExtensionTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatedParams.java
Labels: area/qute, triage/backport?, triage/waiting-for-ci

#14243 Apply minor polish to RESTEasy Reactive code
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/RestCookie.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/RestForm.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/RestHeader.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/RestMatrix.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/RestQuery.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/RestSseElementType.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/injection/ResteasyReactiveInjectionContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerMessageBodyWriter.java
Labels: triage/backport?

#14055 azure-functions fix ClassCastException at post-requests
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFunction.java
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/Function.java
  integration-tests/virtual-http-resteasy/src/test/java/io/quarkus/it/virtual/FunctionTest.java
  integration-tests/virtual-http-resteasy/src/test/java/io/quarkus/it/virtual/HttpRequestMessageMock.java
  integration-tests/virtual-http/src/test/java/io/quarkus/it/virtual/FunctionTest.java
  integration-tests/virtual-http/src/test/java/io/quarkus/it/virtual/HttpRequestMessageMock.java
Labels: area/resteasy

#14215 Dev console - various fixes and improvements
  core/deployment/src/main/java/io/quarkus/deployment/util/ArtifactInfoUtil.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/DevConsoleManager.java
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevBeanInfos.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevConsoleProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevObserverInfo.java
  extensions/arc/deployment/src/main/resources/dev-templates/beans.html
  extensions/arc/deployment/src/main/resources/dev-templates/embedded.html
  extensions/arc/deployment/src/main/resources/dev-templates/observers.html
  extensions/arc/deployment/src/main/resources/dev-templates/removed-beans.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/bean-declaration.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/display-bean.html
  extensions/qute/deployment/pom.xml
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/CheckedTemplateBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devconsole/DevConsoleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devconsole/DevQuteInfos.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devconsole/DevQuteTemplateInfo.java
  extensions/qute/deployment/src/main/resources/dev-templates/embedded.html
  extensions/qute/deployment/src/main/resources/dev-templates/preview.html
  extensions/qute/deployment/src/main/resources/dev-templates/templates.html
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/devconsole/DevConsolePreviewTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/ExtensionMethodCompletionStageTest.java
  extensions/qute/runtime/pom.xml
  extensions/qute/runtime/src/main/java/io/quarkus/qute/i18n/MessageBundles.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/devmode/QuteDevConsoleRecorder.java
  extensions/scheduler/deployment/src/main/resources/dev-templates/embedded.html
  extensions/scheduler/deployment/src/main/resources/dev-templates/schedules.html
  extensions/scheduler/deployment/src/main/resources/dev-templates/tags/scheduleInfo.html
  extensions/scheduler/runtime/pom.xml
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/JsonObjectValueResolver.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleRouteBuildItem.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleTemplateInfoBuildItem.java
  extensions/vertx-http/runtime/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/HtmlEscaper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/WhenSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/HtmlEscaperTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/State.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/WhenSectionTest.java
Labels: area/arc, area/core, area/documentation, area/qute, area/scheduler, area/vertx, triage/backport?, triage/waiting-for-ci

#14248 Support JBang dev mode
  core/deployment/src/main/java/io/quarkus/deployment/jbang/JBangAugmentorImpl.java
  core/launcher/src/main/java/io/quarkus/launcher/JBangDevModeLauncher.java
  core/launcher/src/main/java/io/quarkus/launcher/JBangIntegration.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/jbang/JBangBuilderImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/jbang/JBangDevModeLauncherImpl.java
Labels: area/core, area/devtools, area/jbang, triage/backport?

#14250 Handle non-default general log min-level
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
Labels: area/core, triage/backport?

#14198 Document how to embeds config inside a dependency
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation

#14255 Prevent Jackson serialization from resulting in an erroneous chunked transfer-encoding
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/JacksonMessageBodyWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/SimpleJsonTest.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#14252 Apply tiny polish to Hibernate Reactive CDI producer
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionProducer.java
Labels: area/hibernate-reactive, area/persistence, triage/backport?, triage/waiting-for-ci

#14258 Bump Jackson and Jib versions
  bom/application/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/pom.xml
Labels: area/dependencies, area/devtools, area/platform, triage/waiting-for-ci

#14267 Stop systematically creating a cache with an empty name
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheNamesTest.java
Labels: area/cache

#14176 Make the remote dev mode type more accessible
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/IsNormalNotRemoteDev.java
  core/deployment/src/main/java/io/quarkus/deployment/IsRemoteDevClient.java
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LaunchModeBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  core/deployment/src/main/java/io/quarkus/deployment/mutability/DevModeTask.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/runtime/src/main/java/io/quarkus/runtime/LaunchMode.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployerPrerequisite.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpHostConfigSource.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/core, area/devtools, area/kubernetes, area/vertx, triage/backport?

#14260 Better error messages if remote dev fails to connect
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/HttpRemoteDevClient.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/RemoteSyncHandler.java
Labels: area/vertx, triage/backport?

#14230 Update to MicroProfile Fault Tolerance 3.0 and SmallRye Fault Tolerance 5.0.0-RC2
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/additional/BlockingAsyncTest.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/additional/BlockingHelloService.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/additional/NonblockingAsyncTest.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/additional/NonblockingHelloService.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/asynchronous/context/propagation/FaultToleranceContextPropagationTest.java
  tcks/microprofile-fault-tolerance/pom.xml
  tcks/microprofile-fault-tolerance/src/test/resources/application.properties
Labels: area/dependencies, area/fault-tolerance, area/smallrye

#14276 Optimise bean destruction iterator
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/arc, triage/backport?, triage/waiting-for-ci

#14274 Fix case where quarkus.kubernetes-config.enabled=false in properties file overrides env var
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigRecorder.java
Labels: area/config, area/kubernetes, triage/backport?

#14278 Create better response when no GraphQL endpoint has been generated
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLInitializedBuildItem.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLNoEndpointHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
Labels: area/graphql, area/smallrye, triage/backport?

#14285 Update gradle version to 6.8
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/dependencies, area/devtools, area/gradle, area/platform

#14282 Fix NPE in CacheManagerImpl
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheManagerImpl.java
Labels: area/cache, triage/backport?

#14286 Update to Smallrye JWT 2.4.2
  bom/application/pom.xml
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/dependencies, area/documentation, triage/waiting-for-ci

#14272 ArC json endpoints should use HttpBuildTimeConfig.nonApplicationRootPath
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/RouteBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/ArcEndpointProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devmode/ArcEndpointTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpBuildTimeConfig.java
Labels: area/documentation, area/vertx

#14292 Replace '.' with '_' when generating env var in Kubernetes extension
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvConverter.java
  integration-tests/kubernetes/quarkus-standard-way/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithNewStyleEnvTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-new-style-env.properties
Labels: area/kubernetes, triage/backport?, triage/waiting-for-ci

#14294 Allow adding inline attachement using MailTemplate
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/MailTemplate.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateInstanceImpl.java
Labels: triage/backport?, triage/waiting-for-ci

#14290 OpenAPI upgrade to 2.1.1 (MP4)
  bom/application/pom.xml
  build-parent/pom.xml
Labels: area/dependencies

#14301 Upgrade to Mutiny 0.13.0
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/mutiny, triage/waiting-for-ci

#14311 Make Jacoco parent first
  core/runtime/pom.xml
Labels: area/core, triage/backport?

#14322 Update the Mutiny API for Vert.x to the version 1.4.0
  bom/application/pom.xml
Labels: area/dependencies, area/reactive, area/vertx, triage/waiting-for-ci

#14317 Bump adal4j version from 1.6.3 to 1.6.6
  extensions/jdbc/jdbc-mssql/runtime/pom.xml
Labels: area/persistence

#14314 Dev Console- Adding Endpoints
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-templates/embedded.html
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-templates/endpoints.html
Labels: area/resteasy-reactive

#14300 Update all known UIs to look more like the Dev Console
  core/deployment/src/main/java/io/quarkus/deployment/util/WebJarUtil.java
  core/deployment/src/main/resources/META-INF/branding/logo.png
  core/deployment/src/main/resources/META-INF/branding/smallrye-graphql-ui-graphiql.css
  core/deployment/src/main/resources/META-INF/branding/smallrye-health-ui.css
  core/deployment/src/main/resources/META-INF/branding/smallrye-open-api-ui.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/images/quarkus_icon_rgb_default.svg
Labels: area/core, area/vertx, triage/backport?, triage/waiting-for-ci

#14013 Fix infinite recursion
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/query/QueryObjectReader.java
  extensions/funqy/funqy-server-common/runtime/src/test/java/io/quarkus/funqy/test/QueryReaderTest.java
  extensions/funqy/funqy-server-common/runtime/src/test/java/io/quarkus/funqy/test/RecursiveType.java
Labels: area/funqy, triage/backport?

#14324 Fix dockerfile path for gradle multi module project
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
Labels: triage/backport?

#14338 Get rid of minor warning about deprecated config item
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestConfigRoot.java
Labels: area/core, triage/waiting-for-ci

#14332 Add mutiny-kotlin to BOM and Kotlin guide
  bom/application/pom.xml
  docs/src/main/asciidoc/kotlin.adoc
Labels: area/dependencies, area/documentation

#14344 Render template based email as Uni
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/InjectionTest.java
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/MailTemplateValidationTest.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/MailTemplate.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateInstanceImpl.java
Labels: release/breaking-change

#14354 Fix flakey RESTEasy reactive test
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
Labels: area/resteasy-reactive, triage/waiting-for-ci

#14352 Ensure that QuarkusTestBeforeClassCallback is run on the Quarkus Classloader
  integration-tests/main/src/test/java/io/quarkus/it/main/SimpleAnnotationCheckerBeforeClassCallback.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport?, triage/waiting-for-ci

#14326 Handle 'inherit' logging min-level settings
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  integration-tests/logging-min-level-set/src/main/java/io/quarkus/it/logging/minlevel/set/below/child/LoggingMinLevelBelowChild.java
  integration-tests/logging-min-level-set/src/main/resources/application.properties
  integration-tests/logging-min-level-set/src/test/java/io/quarkus/it/logging/minlevel/set/LoggingMinLevelBelowChildTest.java
  integration-tests/logging-min-level-set/src/test/java/io/quarkus/it/logging/minlevel/set/NativeLoggingMinLevelBelowChildIT.java
  integration-tests/logging-min-level-set/src/test/java/io/quarkus/it/logging/minlevel/set/SetRuntimeLogLevels.java
Labels: area/core, area/logging, triage/backport?

#14356 Use Dotname instead of Type to determine @BeanParam class target
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/FieldInjectedSubClassResource.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#14323 fix: add JAXRS API as SR opentracing depends on it but didn't declare it
  extensions/smallrye-opentracing/runtime/pom.xml
Labels: area/smallrye, area/tracing

#14361 Fix config-maps property name in documentation
  docs/src/main/asciidoc/kubernetes-config.adoc
Labels: area/documentation, triage/backport?

#14351 Produce Artemis JMS connection factory as a synthetic bean
  extensions/artemis-jms/deployment/src/main/java/io/quarkus/artemis/jms/deployment/ArtemisJmsProcessor.java
  extensions/artemis-jms/runtime/src/main/java/io/quarkus/artemis/jms/runtime/ArtemisJmsProducer.java
  extensions/artemis-jms/runtime/src/main/java/io/quarkus/artemis/jms/runtime/ArtemisJmsRecorder.java
Labels: area/artemis, triage/backport?

#14357 Allows other than Quarkus default branding (eg. Quarkiverse)
  core/deployment/src/main/java/io/quarkus/deployment/util/WebJarUtil.java
Labels: area/core

#14370 Filter out recently added Hibernate ORM log
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateLogFilterBuildStep.java
Labels: area/hibernate-orm, area/persistence, triage/backport?

#14364 Simplify Liquibase setup to avoid accumulating containers in dev mode
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/devconsole/DevConsoleProcessor.java
  extensions/liquibase/deployment/src/main/resources/dev-templates/datasources.html
  extensions/liquibase/deployment/src/main/resources/dev-templates/embedded.html
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/LiquibaseFactory.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseContainer.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseContainerSupplier.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseCreator.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseFactoryProducer.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/devconsole/LiquibaseDevConsoleRecorder.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/devconsole/LiquibaseFactoriesSupplier.java
  extensions/liquibase/runtime/src/test/java/io/quarkus/liquibase/runtime/LiquibaseCreatorTest.java
Labels: area/liquibase, triage/backport?

#14372 Adjust Flyway setup to avoid accumulating containers in dev mode
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/devconsole/DevConsoleProcessor.java
  extensions/flyway/deployment/src/main/resources/dev-templates/datasources.html
  extensions/flyway/deployment/src/main/resources/dev-templates/embedded.html
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayContainer.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayContainerSupplier.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayContainersSupplier.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRecorder.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/devconsole/FlywayDevConsoleRecorder.java
Labels: area/flyway, triage/backport?

#14375 Use Google Mirror also for Initial JDK 11 Build
  .github/mvn-settings.xml
  .github/workflows/ci-actions.yml
Labels: area/core, area/hibernate-orm, area/infra-automation, area/persistence, triage/backport?

#14363 Dev mode - fix instrumentation based reload
  core/deployment/src/main/java/io/quarkus/deployment/dev/ClassComparisonUtil.java
Labels: area/core, triage/backport?

#14342 Support custom named Entities in Spring Data JPA repositories
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/DotNames.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/Car.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CarRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CarResource.java
  integration-tests/spring-data-jpa/src/main/resources/import.sql
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/CarResourceTest.java
Labels: area/spring

#12179 Ability to start test resources in parallel (concurrently)
  docs/src/main/asciidoc/getting-started-testing.adoc
  test-framework/common/src/main/java/io/quarkus/test/common/QuarkusTestResource.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/common/src/test/java/io/quarkus/test/common/TestResourceManagerTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestProfile.java
Labels: area/documentation, area/testing

#14379 Introduce getSession() to PanacheEntity and PanacheRepository
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntityBase.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheRepositoryBase.java
Labels: area/panache

#14388 Revert "Introduce getSession() to PanacheEntity and PanacheRepository"
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntityBase.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheRepositoryBase.java
Labels: area/panache

#14353 Allow for re-authentication with FORM auth
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
Labels: area/security, area/vertx, triage/waiting-for-ci

#14380 CI: Add mongodb-rest-data-panache and mongodb-panache-kotlin to native tests
  .github/native-tests.json
Labels: area/infra-automation, triage/backport?

#14225 Funqy expose CloudEvents
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/funqy-knative-events-example/java/src/test/java/org/acme/funqy/cloudevent/FunqyTest.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/BinaryPayload.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/BinaryPayloadTest.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/ExposedCloudEventTest.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/ExposedCloudEvents.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/MappingTest.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/knative/events/AbstractCloudEvent.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/knative/events/CloudEvent.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/knative/events/CloudEventBuilder.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/HeaderCloudEventImpl.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/JsonCloudEventImpl.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/KnativeEventsBindingRecorder.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/VertxRequestHandler.java
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/FunctionInvoker.java
Labels: area/codestarts, area/devtools, area/funqy

#14400 Properly handle @Blocking on an JAX-RS Application class
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/ApplicationWithBlockingTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
Labels: area/resteasy-reactive, triage/backport?

#14390 Update to SmallRye Fault Tolerance 5.0.0
  bom/application/pom.xml
  docs/src/main/asciidoc/microprofile-fault-tolerance.adoc
Labels: area/dependencies, area/documentation

#14383 CI: add tcks to initial build for maven artifact caching
  .github/workflows/ci-actions.yml
  pom.xml
Labels: area/infra-automation

#14302 Qute type-safe templates - fix validation of expressions in set sections
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplatesAnalysisBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/TypeSafeLetTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expression.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SetSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: area/qute, kind/bug, triage/backport?, triage/waiting-for-ci

#14371 Fix and get OIDC client tests running in CI native builds
  .github/native-tests.json
  extensions/oidc-client-filter/deployment/pom.xml
  extensions/oidc-client/deployment/pom.xml
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/TokensHelper.java
  integration-tests/oidc-client/pom.xml
  integration-tests/oidc-client/src/main/resources/application.properties
  integration-tests/oidc-client/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
  integration-tests/oidc-token-propagation/pom.xml
Labels: area/infra-automation, triage/backport?

#14251 MP OpenTracing 2.0 Support
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/jaeger/deployment/src/test/java/io/quarkus/jaeger/test/NestedMdcScopesTest.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/MDCScope.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/MDCScopeManager.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerTracer.java
  extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TracingTest.java
  tcks/microprofile-opentracing/base/pom.xml
  tcks/pom.xml
Labels: area/dependencies, area/jaeger, area/smallrye, area/tracing

#14417 Removed unnecessary ')' in the guide "BUILDING QUARKUS APPS WITH GRADLE"
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation

#14409 Fix jboss-jaxrs-api_2.1_spec build warning
  extensions/smallrye-opentracing/runtime/pom.xml
Labels: area/smallrye, area/tracing, triage/backport?, triage/waiting-for-ci

#14412 CI: Fix skipping of wiremock in TCKs for initial build
  pom.xml
  tcks/microprofile-rest-client/pom.xml
Labels: triage/invalid

#14422 Upgrade to SmallRye OpenAPI 2.0.19
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#14415 Update doc around Resteasy GZIP support
  docs/src/main/asciidoc/rest-json.adoc
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/gzip/GZipResource.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/gzip/GZipResourceTest.java
Labels: area/documentation, area/resteasy, triage/backport?, triage/waiting-for-ci

#14420 Avoid potential NPE when collecting RESTEasy Providers on Resource methods
  extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
Labels: area/resteasy, triage/backport?

#14421 Add note about enabling all debug hosts for dev mode
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/backport?

#14428 Fix some minor infelicities in documentation
  docs/src/main/asciidoc/reactive-messaging-http.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation

#14385 Adding Additional endpoint
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/devconsole/DevConsoleProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-templates/endpoints.html
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
Labels: area/resteasy-reactive, area/vertx

#14419 Apply tiny polish to MicrometerProcessor
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
Labels: area/metrics, triage/backport?

#14335 FormAuthenticationMechanism customisation
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthParametersTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/security, area/vertx, triage/waiting-for-ci

#14432 Ensure that dev mode debug host can be configured with -DdebugHost
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/core, area/devtools, area/maven, triage/backport?, triage/waiting-for-ci

#14446 Don't produce build items from field in ReactiveHttpProcessor
  extensions/reactive-messaging-http/deployment/src/main/java/io/quarkus/reactivemessaging/http/deployment/ReactiveHttpProcessor.java
Labels: triage/backport?

#14434 Remove deprecated Capabilities constants
  core/deployment/src/main/java/io/quarkus/deployment/Capabilities.java
Labels: area/core, triage/waiting-for-ci

#14387 Preserve expected semantics of Maven execution with native profile enabled
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/NativeImageIT.java
  integration-tests/spring-data-jpa/src/main/resources/application.properties
Labels: area/devtools, area/maven, area/spring, triage/backport?, triage/waiting-for-ci

#14425 Qute: add possibility to ignore parts of expressions during validation
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/TypeCheckExcludesTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteConfig.java
Labels: area/qute

#14441 Fix regressions in Kubernetes health handling
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpBuildTimeConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithRootAndHealthTest.java
Labels: area/health, area/kubernetes, area/smallrye, area/vertx, triage/backport?

#14369 Update Keycloak version to 12.0.2
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakReflectionBuildStep.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcClientCredentialsJwtSecretTestCase.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcClientCredentialsTestCase.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcClientsResource.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/dependencies, area/oidc
