Repository quarkusio/quarkus, pull requests merged in 2021-10, with the labels that each got.

#20489 Fix typo in codestart doc
  docs/src/main/asciidoc/extension-codestart.adoc
Labels: area/documentation

#20479 Create potentially non-existent directory during file upload
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultiPartParserDefinition.java
Labels: triage/backport?

#20487 CLI: nix CreateProjectMixin; fix base commands
  devtools/cli/src/main/java/io/quarkus/cli/Create.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateApp.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateCli.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateExtension.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensions.java
  devtools/cli/src/main/java/io/quarkus/cli/Registry.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryAddCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryListCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryRemoveCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/create/CreateProjectMixin.java
  devtools/cli/src/main/java/io/quarkus/cli/registry/BaseRegistryCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/registry/RegistryClientMixin.java
  devtools/cli/src/test/java/io/quarkus/cli/CliHelpTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/CreateProjectHelper.java
Labels: area/platform, area/devtools, area/cli

#20493 Fix Cookie handling in reactive rest client
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/CookieTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/HeaderTest.java
Labels: area/resteasy-reactive, triage/backport?

#20499 Fix an incorrect hint in the CLI
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsCategories.java
Labels: area/devtools, area/cli

#20510 Preserve cause of Jackson encoding exception when using Vert.x
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/QuarkusJacksonJsonCodec.java
Labels: area/vertx

#19553 Allow use of PEM certificates in Kafka Streams extension
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KeyConfig.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KeyStoreConfig.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/SslConfig.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/TrustStoreConfig.java
Labels: area/kafka-streams

#20501 A build step must be a non-static method
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigMappingUtils.java
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, area/core, area/config, triage/waiting-for-ci

#20470 ArC - build time resolution improvement
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanResolverImpl.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
Labels: area/arc, triage/waiting-for-ci

#20488 Add support for multiple sql load scripts
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportMultipleSqlLoadScriptsFileAbsentTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportMultipleSqlLoadScriptsTestCase.java
  extensions/hibernate-orm/deployment/src/test/resources/application-import-multiple-load-scripts-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/import-multiple-load-scripts-1.sql
  extensions/hibernate-orm/deployment/src/test/resources/import-multiple-load-scripts-2.sql
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-reactive

#20514 Fix erroneous class in Javadoc of CoroutineEndpointInvoker
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/CoroutineEndpointInvoker.kt
Labels: triage/waiting-for-ci, area/resteasy-reactive

#20515 Qute type-safe validation fix
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/InterfaceValidationSuccessTest.java
Labels: area/qute, triage/backport-2.2?, triage/backport?

#20525 CLI: fix help commands + test
  devtools/cli/src/main/java/io/quarkus/cli/Create.java
  devtools/cli/src/main/java/io/quarkus/cli/Registry.java
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/registry/BaseRegistryCommand.java
  devtools/cli/src/test/java/io/quarkus/cli/CliHelpTest.java
Labels: area/devtools, area/cli, triage/backport?

#20516 Minor refactoring in maven bootstrap plugin
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
Labels: area/maven, triage/waiting-for-ci, area/devtools

#20530 Set mininal gradle version to 6.1
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools

#19998 Rest Client Reactive: SmallRye Stork integration
  bom/application/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/deployment/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/HelloClient.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/HelloResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/PassThroughResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkDevModeTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkIntegrationTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkResponseTimeLoadBalancerTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/stork-application.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/stork-dev-application.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/stork-stat-lb.properties
  extensions/resteasy-reactive/rest-client-reactive/runtime/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/SmallRyeStorkRecorder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/AsyncResultUni.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/pom.xml
  integration-tests/rest-client-reactive-stork/pom.xml
  integration-tests/rest-client-reactive-stork/src/main/java/io/quarkus/it/rest/client/reactive/stork/Client.java
  integration-tests/rest-client-reactive-stork/src/main/java/io/quarkus/it/rest/client/reactive/stork/ClientCallingResource.java
  integration-tests/rest-client-reactive-stork/src/main/resources/application.properties
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/FastWiremockServer.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/RestClientReactiveStorkIT.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/RestClientReactiveStorkTest.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/SlowWiremockServer.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/WiremockBase.java
Labels: area/dependencies, area/resteasy-reactive

#20529 Allow suspend functions as to be uses as custom filters
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/KotlinUtils.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/QuarkusResteasyReactiveDotNames.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/AbstractSuspendedRequestFilter.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/AbstractSuspendedResponseFilter.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/FilterUtils.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CustomFilterGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/filters/FilterUtil.java
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/Filters.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/resources/application.properties
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResourceTest.kt
Labels: triage/waiting-for-ci, area/resteasy-reactive

#20535 Fix configuration reference guide typo
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation, triage/waiting-for-ci

#20534 Fix race condition in OpenAPI bean handling
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentService.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiRecorder.java
Labels: area/smallrye, area/openapi, triage/waiting-for-ci, triage/backport?

#20509 Make it easier for RESTEasy Reactive users to handle Hibernate related exceptions
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ResteasyReactiveServerIntegrationProcessor.java
  extensions/hibernate-reactive/deployment/pom.xml
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/ResteasyReactiveServerIntegrationProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/server/spi/UnwrappedExceptionBuildItem.java
Labels: area/persistence, area/hibernate-orm, area/hibernate-reactive, area/resteasy-reactive

#20503 CLI: look for maven/gradle wrapper in parent dirs
  devtools/cli/src/main/java/io/quarkus/cli/build/BuildSystemRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/ExecuteUtil.java
  devtools/cli/src/test/java/io/quarkus/cli/build/ExecuteUtilTest.java
Labels: area/devtools, area/cli

#20539 Corrected broken link in kogito-dmn.adoc
  docs/src/main/asciidoc/kogito-dmn.adoc
Labels: area/documentation

#20542 Add guide to RESTEasy Reactive extension metadata
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/resteasy-reactive, triage/backport?

#20517 Honor explicit container-build=false when container-runtime is set
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
Labels: area/core, area/kafka-streams, area/kafka, area/native-image

#20422 Bytecode recording improvements
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/annotations/Record.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/RecordableConstructorBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/TestJavaBean.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/TestRecorder.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unused/UnusedExclusionTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/MethodParameter.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceMethod.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/DeploymentInfo.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/GeneratedParameterConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ExceptionHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResponseHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/SseResponseWriterHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerMethodParameter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerResourceMethod.java
Labels: area/core, area/arc, area/resteasy-reactive

#20484 Bump Smallrye Reactive Messaging to 3.10.1
  bom/application/pom.xml
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/smallrye-kafka-incoming.adoc
  docs/src/main/asciidoc/smallrye-kafka-outgoing.adoc
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/ReflectiveClassForValueSerializerPayloadTest.java
Labels: area/documentation, area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/dependencies

#20513 gradlew.bat/mvnw.bat should NOT be executable
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/codestart.yml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/compress/QuarkusProjectCompress.java
Labels: area/platform, area/devtools, triage/backport-2.2?, triage/backport?

#20463 Remove some references to JDK8
  TROUBLESHOOTING.md
  docs/src/main/asciidoc/building-my-first-extension.adoc
  extensions/hibernate-orm/pom.xml
  integration-tests/gradle/src/main/resources/basic-java-platform-module/application/src/main/docker/Dockerfile.jvm
  integration-tests/gradle/src/main/resources/basic-java-platform-module/application/src/main/docker/Dockerfile.native
Labels: area/documentation, area/persistence, area/gradle, area/hibernate-orm, area/platform, area/scala, area/devtools

#20548 Dev UI - qute - improve the "render preview" page
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplatesAnalysisBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devconsole/DevQuteTemplateInfo.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devconsole/QuteDevConsoleProcessor.java
  extensions/qute/deployment/src/main/resources/dev-templates/preview.html
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/devconsole/DevConsolePreviewTest.java
  extensions/vertx-http/deployment/pom.xml
Labels: area/vertx, triage/waiting-for-ci, area/qute

#20481 Quarkus gRPC security interceptor + non-blocking security check
  extensions/grpc/deployment/pom.xml
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/GrpcAuthTest.java
  extensions/grpc/deployment/src/test/proto/security.proto
  extensions/grpc/runtime/pom.xml
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/AuthExceptionHandler.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/AuthExceptionHandlerProvider.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/DefaultAuthExceptionHandlerProvider.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/GrpcSecurityInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/GrpcSecurityMechanism.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/SecurityConstrainer.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/SecurityHandler.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/IdentityMock.java
Labels: area/security, area/grpc

#21074 Minor OIDC doc fixes
  docs/src/main/asciidoc/images/keycloak-authorization-permissions.png
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation

#21098 Fix test wait time type
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ConfigUtil.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#21093 Update Hibernate Reactive to 1.0.1.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/hibernate-reactive, triage/backport?

#21080 Disallow public final methods on recorders
  core/deployment/src/main/java/io/quarkus/deployment/proxy/ProxyFactory.java
Labels: area/core, triage/waiting-for-ci

#21113 Using generated CORS config
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation

#21112 Make sure the docker check is last
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/vault/deployment/src/main/java/io/quarkus/vault/deployment/DevServicesVaultProcessor.java
Labels: area/mongodb, area/vault, triage/backport?
