Repository quarkusio/quarkus, pull requests merged in 2021-08, with the labels that each got.

#19069 Micrometer - rework interceptors
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/mpmetrics/AnnotationHandler.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/runtime/MicrometerTimedInterceptorTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/TimedResource.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerCounted.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerCountedInterceptor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerTimed.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerTimedInterceptor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/ConcurrentGaugeInterceptor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/CountedInterceptor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/MpMetricsRegistryProducer.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/TimedInterceptor.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcInvocationContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractInvocationContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/arcInvContext/ArcContextInterceptor.java
Labels: area/arc, area/metrics

#19153 Fix broken images in Keycloak Dev UI Guide
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation

#19134 Support `config:boolean` and `config:integer`in Qute
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/ConfigTemplateExtensionsTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/ConfigTemplateExtensions.java
Labels: area/documentation, area/qute

#19135 Avoid SmallRyeContextPropagationRecorder to leak the classloader
  extensions/smallrye-context-propagation/runtime/src/main/java/io/quarkus/smallrye/context/runtime/SmallRyeContextPropagationRecorder.java
Labels: area/smallrye, kind/bug, priority/urgent, triage/waiting-for-ci

#19104 CLI: alias for docs; separate Main
  devtools/cli/src/main/java/io/quarkus/cli/Main.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/cli, area/devtools, area/documentation

#19164 Document the use of `jboss.builder.graph-output`
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#19146 Add capability for mongodb-client
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/mongodb-client/runtime/pom.xml
Labels: area/core, area/mongodb, triage/backport?, triage/waiting-for-ci

#19147 Add capability for elasticsearch-rest-high-level-client
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/elasticsearch-rest-high-level-client/runtime/pom.xml
Labels: area/core, area/elasticsearch, triage/backport?

#19058 Fix ConfigMapping mock documentation
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation

#19160 Resteasy reactive: Fix NullPointerException when using multipart with optional value
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOptionalInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/multipart/MultipartSupport.java
Labels: area/resteasy-reactive, triage/backport?

#19169 GraphQL: New config option to make the schema unavailable
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLSchemaUnavailableTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
Labels: area/graphql, area/smallrye, triage/waiting-for-ci

#19148 Small OpenAPI and Swagger UI enhancements
  bom/application/pom.xml
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/security/SecurityConfigFilter.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRequirementTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceSecuredAtClassLevel.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceSecuredAtMethodLevel.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceSecuredAtMethodLevel2.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiStaticModelsTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/ResourceBean.java
  extensions/smallrye-openapi/deployment/src/test/resources/test-openapi2.yaml
  extensions/smallrye-openapi/deployment/src/test/resources/test-openapi3.yaml
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
  extensions/swagger-ui/deployment/src/test/java/io/quarkus/swaggerui/deployment/SwaggerOptionsTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/OpenApiTestCase.java
Labels: area/dependencies, area/openapi, area/smallrye, area/swagger-ui, triage/waiting-for-ci

#19166 ArC - introduce the convenient AnnotationsTransformer.Builder
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationsTransformer.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/annotations/AnnotationsTransformerBuilderTest.java
Labels: area/arc, triage/waiting-for-ci

#19184 Cut down supressed exception traces
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
Labels: area/core

#19189 Add multipart fallback for BodyHandler
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputBodyHandlerTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerHttpRequest.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/resteasy-reactive

#19188 Auto trim flyway locations
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceBuildTimeConfig.java
  integration-tests/flyway/src/main/resources/application.properties
Labels: area/flyway

#19191 Sync up OptaPlanner guide
  docs/src/main/asciidoc/optaplanner.adoc
Labels: area/documentation

#19185 Don't use show SQL in the tests
  extensions/hibernate-envers/deployment/src/test/resources/application.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-default-pu-explicit-unconfigured-datasource.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-fetch-max-depth-zero.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-generate-script.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-implicit-naming-strategy.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-import-load-script-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-invalid-multiline-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-log-sql-format-sql-false.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-mapping-files-my-hbm-xml.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-mapping-files-my-orm-xml.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-mapping-files-no-file.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-metadata-builder-contributor.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-metrics-enabled.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-named-datasource.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-no-file-option-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-ormxml-annotationoverride-disabled.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-ormxml-annotationoverride-enabled.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-other-load-script-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-physical-naming-strategy.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-quoted-identifiers.properties
  extensions/hibernate-orm/deployment/src/test/resources/application.properties
  extensions/hibernate-reactive/deployment/src/test/resources/application.properties
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/resources/application-test.properties
  extensions/panache/hibernate-orm-panache/deployment/src/test/resources/application-test.properties
  extensions/smallrye-opentracing/deployment/src/test/resources/application.properties
  extensions/spring-data-jpa/deployment/src/test/resources/application.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-db2/src/main/resources/application.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-mariadb/src/main/resources/application.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-mongo/src/main/resources/application.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-mssql/src/main/resources/application.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-mysql/src/main/resources/application.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-postgresql/src/main/resources/application.properties
  integration-tests/hibernate-orm-rest-data-panache/src/main/resources/application.properties
  integration-tests/hibernate-reactive-db2/src/main/resources/application.properties
  integration-tests/hibernate-reactive-mysql/src/main/resources/application.properties
  integration-tests/hibernate-reactive-postgresql/src/main/resources/application.properties
  integration-tests/kubernetes-service-binding-jdbc/src/main/resources/application.properties
  integration-tests/spring-data-rest/src/main/resources/application.properties
Labels: area/hibernate-orm, area/hibernate-reactive, area/panache, area/persistence, area/smallrye, area/spring, area/tracing, area/vertx, triage/waiting-for-ci

#19187 Don't run Jacoco with continuous testing
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
Labels: area/testing, triage/backport?

#19196 Introduce LocaleResolver for RESTEasy Reactive
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/AbstractLocaleResolver.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/ResteasyContextLocaleResolver.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/ResteasyReactiveContextLocaleResolver.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/ResteasyReactiveEndPointValidationInterceptor.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/ResteasyReactiveViolationExceptionMapper.java
  tcks/resteasy-reactive/pom.xml
Labels: area/hibernate-validator, area/resteasy-reactive, triage/waiting-for-ci

#19186 Set the hang detection timeout to 1m for CI
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#19200 Reduce log clutter in RESTEasy Reactive tests
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestResource.java
Labels: area/resteasy-reactive

#19203 Fix typo in error message on invalid sql_load_script
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/NoHibernatePropertiesTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/namedpu/EntitiesInNamedPUWithoutDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/FileNotFoundSqlLoadScriptTestCase.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/sql_load_script/FileNotFoundSqlLoadScriptTestCase.java
Labels: area/hibernate-orm, area/hibernate-reactive, area/persistence, triage/backport?, triage/waiting-for-ci

#18904 KOGITO-5560 remove 'preview'label from community website
  docs/src/main/asciidoc/kogito.adoc
Labels: area/documentation, triage/backport-1.11?, triage/backport-2.0?, triage/backport?

#19159 Allow the use of UniAsserter in @BeforeEach and @AfterEach test methods
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/ReactiveTransactionalInterceptorBase.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/TestReactiveTransactionTest.java
Labels: area/hibernate-orm, area/panache, area/persistence, triage/backport?

#19027 KOGITO-5288 Quarkus guide Kogito DMN extension
  docs/src/main/asciidoc/images/kogito-DMN-guide-screenshot-DRG.png
  docs/src/main/asciidoc/images/kogito-DMN-guide-screenshot-DT.png
  docs/src/main/asciidoc/images/kogito-DMN-guide-screenshot-scesim.png
  docs/src/main/asciidoc/kogito-dmn.adoc
  docs/src/main/asciidoc/kogito.adoc
Labels: area/documentation, triage/backport?, triage/waiting-for-ci

#19199 Dev UI - ArC interceptors fails if AroundConstruct interceptor exists
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevInterceptorInfo.java
Labels: area/arc, triage/waiting-for-ci

#19025 KOGITO-5289 Kogito DRL guide
  docs/src/main/asciidoc/kogito-drl.adoc
Labels: area/documentation, triage/backport?, triage/waiting-for-ci

#18896 Create kogito-pmml quickstart guide
  docs/src/main/asciidoc/kogito-pmml.adoc
Labels: area/documentation, triage/backport?, triage/waiting-for-ci

#19099 Infinispan Dev UI without Infinispan configuration
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devconsole/InfinispanDevConsoleProcessor.java
  extensions/infinispan-client/deployment/src/main/resources/dev-templates/embedded.html
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientSupplier.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanServerUrlSupplier.java
Labels: area/infinispan, triage/backport?, triage/waiting-for-ci

#19201 Ensure various non-bean JAX-RS components work in native
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveCDIProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
Labels: area/resteasy-reactive, triage/backport?

#19193 Allow empty body for json input
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/EmptyInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/ServerJacksonMessageBodyReader.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/EmptyInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/runtime/src/main/java/io/quarkus/resteasy/reactive/jsonb/runtime/serialisers/JsonbMessageBodyReader.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/StreamUtil.java
Labels: area/resteasy-reactive

#19066 Introduce support for MongoDB service binding
  extensions/mongodb-client/deployment/pom.xml
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/runtime/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoServiceBindingConverter.java
  extensions/mongodb-client/runtime/src/main/resources/META-INF/services/io.quarkus.kubernetes.service.binding.runtime.ServiceBindingConverter
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/runtime/MongoServiceBindingConverterTest.java
  extensions/mongodb-client/runtime/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  extensions/mongodb-client/runtime/src/test/resources/service-binding/all-props/database
  extensions/mongodb-client/runtime/src/test/resources/service-binding/all-props/host
  extensions/mongodb-client/runtime/src/test/resources/service-binding/all-props/password
  extensions/mongodb-client/runtime/src/test/resources/service-binding/all-props/port
  extensions/mongodb-client/runtime/src/test/resources/service-binding/all-props/provider
  extensions/mongodb-client/runtime/src/test/resources/service-binding/all-props/type
  extensions/mongodb-client/runtime/src/test/resources/service-binding/all-props/username
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-port/database
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-port/host
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-port/password
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-port/provider
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-port/type
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-port/username
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-user/database
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-user/host
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-user/port
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-user/provider
  extensions/mongodb-client/runtime/src/test/resources/service-binding/no-user/type
  integration-tests/mongodb-rest-data-panache/pom.xml
  integration-tests/mongodb-rest-data-panache/src/test/java/io/quarkus/it/mongodb/rest/data/panache/MongoDbRestDataPanacheTest.java
  integration-tests/mongodb-rest-data-panache/src/test/java/io/quarkus/it/mongodb/rest/data/panache/MongoTestResource.java
  integration-tests/mongodb-rest-data-panache/src/test/resources/k8s-sb/mongo/database
  integration-tests/mongodb-rest-data-panache/src/test/resources/k8s-sb/mongo/host
  integration-tests/mongodb-rest-data-panache/src/test/resources/k8s-sb/mongo/port
  integration-tests/mongodb-rest-data-panache/src/test/resources/k8s-sb/mongo/provider
  integration-tests/mongodb-rest-data-panache/src/test/resources/k8s-sb/mongo/type
Labels: area/mongodb, release/noteworthy-feature

#19215 Fix typos in javadocs of RoutingExchange
  extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/RoutingExchange.java
Labels: area/vertx, triage/backport?, triage/waiting-for-ci

#19216 Allow jaeger dependencies updates
  .github/dependabot.yml
Labels: area/dependencies, area/infra, area/infra-automation

#19213 Reaugment removes build-system.properties
  core/deployment/src/main/java/io/quarkus/deployment/mutability/ReaugmentTask.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
Labels: area/core, area/maven, triage/backport?

#19210 Enables dev services for reactive datasources
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  extensions/reactive-db2-client/deployment/pom.xml
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/ReactiveDB2ClientProcessor.java
  extensions/reactive-mssql-client/deployment/pom.xml
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/ReactiveMSSQLClientProcessor.java
  extensions/reactive-mssql-client/deployment/src/test/resources/application-default-datasource.properties
  extensions/reactive-mssql-client/deployment/src/test/resources/container-license-acceptance.txt
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-mysql-client/deployment/src/test/java/io/quarkus/reactive/mysql/client/MySQLPoolProducerTest.java
  extensions/reactive-mysql-client/deployment/src/test/resources/application-default-datasource.properties
Labels: area/documentation, area/persistence, area/reactive-sql-clients

#19205 Add Configuration option to enable Hibernate's LOG_SLOW_QUERY feature
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
Labels: area/hibernate-orm, area/persistence, triage/waiting-for-ci

#19237 Better RR error message
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
Labels: triage/backport?

#19236 Allow for {} characters in the regex
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/URITemplate.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/RegexMatchTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/RegexResource.java
Labels: triage/backport?

#19192 Scheduler - make it possible to record metrics automatically
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/quartz/deployment/pom.xml
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/metrics/Jobs.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/metrics/MpTimedTest.java
  extensions/scheduler/deployment/pom.xml
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/metrics/MicrometerTimedTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerConfig.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/jandex/JandexBeanInfoAdapter.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/jandex/JandexMemberInfoAdapter.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanStream.java
Labels: area/arc, area/documentation, area/metrics, area/scheduler, area/smallrye

#19243 Reactive Kafka: replace @ConfigProperty by @ConfigItem
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/ReactiveMessagingKafkaConfig.java
Labels: area/reactive-messaging, area/smallrye, triage/waiting-for-ci

#19231 Add causing exception to WebApplicationException when jackson parsing fails in resteasy reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson-common/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/JacksonBasicMessageBodyReader.java
Labels: area/resteasy-reactive

#19246 Add causing exception to WebApplicationException when jackson parsing fails in resteasy reactive server jackson reader
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/ServerJacksonMessageBodyReader.java
Labels: area/resteasy-reactive, triage/backport?

#19235 Update SmallRye GraphQL to 1.3.1
  bom/application/pom.xml
Labels: area/dependencies

#19252 Fix documentation of property for JAX-RS Application class
  docs/src/main/asciidoc/rest-json.adoc
Labels: area/documentation, triage/backport?

#18961 Documentation: Changing parameter to ordinal
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
Labels: area/documentation

#19228 Upgrade to Hibernate ORM 5.5.6.Final
  bom/application/pom.xml
Labels: area/dependencies, area/hibernate-orm

#19227 Use RESTEasy Reactive in oidc integration test
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/InstanceHandler.java
  integration-tests/oidc/pom.xml
Labels: area/oidc

#19259 Add default values to config in Dev UI
  extensions/oidc/deployment/src/main/resources/dev-templates/provider.html
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
Labels: area/vertx, triage/waiting-for-ci, area/oidc

#19258 Improve triage rules for CLI
  .github/quarkus-bot.yml
Labels: area/infra, area/infra-automation

#19260 Do not filter binary resources and SVG
  build-parent/pom.xml
Labels: area/dependencies, triage/backport?

#19273 Scheduler - fix flaky MicrometerTimedTest
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/metrics/MicrometerTimedTest.java
Labels: area/scheduler

#19285 Fixes Flyway upgrade to 7.12.1
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/graal/FeatureDetectorSubstitutions.java
Labels: area/flyway

#19151 Make Quarkus Gradle plugin work with spring dependency management
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/DependencyUtils.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/QuarkusGradleModelFactory.java
  integration-tests/gradle/src/main/resources/spring-dependency-plugin-project/build.gradle
  integration-tests/gradle/src/main/resources/spring-dependency-plugin-project/gradle.properties
  integration-tests/gradle/src/main/resources/spring-dependency-plugin-project/settings.gradle
  integration-tests/gradle/src/main/resources/spring-dependency-plugin-project/src/main/java/org/acme/ExampleResource.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/ConditionalDependenciesTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/SpringDependencyManagementTest.java
Labels: area/gradle, area/devtools

#19267 Release buffer on ResteasyReactiveOutputStream when it is written to overflow
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
Labels: triage/backport?

#19274 Remove substitution for javax.xml.transform.TransformerException
  core/runtime/src/main/java/io/quarkus/runtime/graal/Target_javax_xml_TransformerException.java
Labels: area/core

#19279 Update SmallRye Config to 2.4.3
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#19293 Set correct TCCL for dynamic tests
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#19297 KOGITO-5643 Kogito quickstarts on Quarkus is failing
  docs/src/main/asciidoc/kogito-drl.adoc
  docs/src/main/asciidoc/kogito.adoc
Labels: area/documentation

#19292 Fall back to ThreadLocal if Netty is not present
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ClassLoadingConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/NoNettyDataSourceConfigTest.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/QuarkusNettyConnectionCache.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/QuarkusSimpleConnectionCache.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/ConfiguredClassLoading.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/core, area/config, area/devtools, area/agroal, triage/backport?

#19304 Command mode apps - fix the restart key in the docs
  docs/src/main/asciidoc/command-mode-reference.adoc
  docs/src/main/asciidoc/picocli.adoc
Labels: area/documentation, triage/backport?

#19301 Fix JsonPlatformStream.setReleases and add missing equals/hashCodes
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonExtensionOrigin.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatform.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformRelease.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformReleaseVersion.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformStream.java
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#19119 Fix issue with Lambda and Jackson Afterburner in native mode
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/graal/LambdaContainerHandlerSubstitution.java
Labels: area/amazon-lambda

#19307 Gradle: make sure platforms and enforced platforms are applied to the deployment classpath
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
Labels: area/gradle, area/devtools, triage/backport-2.0?, triage/backport?

#16764 DevUI pages for Hibernate ORM
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/devconsole/DevConsoleProcessor.java
  extensions/hibernate-orm/deployment/src/main/resources/dev-templates/embedded.html
  extensions/hibernate-orm/deployment/src/main/resources/dev-templates/managed-entities.html
  extensions/hibernate-orm/deployment/src/main/resources/dev-templates/named-queries.html
  extensions/hibernate-orm/deployment/src/main/resources/dev-templates/persistence-units.html
  extensions/hibernate-orm/runtime/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/devconsole/HibernateOrmDevConsoleInfoSupplier.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/devconsole/HibernateOrmDevConsoleIntegrator.java
  integration-tests/devmode/pom.xml
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleHibernateOrmSmokeTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/MyEntity.java
Labels: area/persistence, area/amazon-lambda, triage/waiting-for-ci, area/hibernate-orm

#19300 Register classes referenced in Picocli annotations for reflection
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliNativeImageProcessor.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/CustomDefaultValueProvider.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/DefaultValueProviderCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TestResource.java
Labels: area/picocli

#19305 Add build reporting extension and include report into uploaded archives
  .github/workflows/ci-actions-incremental.yml
  pom.xml
  update-extension-dependencies.sh
Labels: area/infra-automation

#19315 Enable a LogCategoryBuildItem to avoid causing contention on Vert.x warnings
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
Labels: area/vertx, triage/backport?

#19319 Upgrade to JBoss Threads 3.4.2.Final
  bom/application/pom.xml
Labels: area/core, triage/backport?

#19324 Efficient scan of jandex index for Spring JPA Annotations
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
Labels: area/spring

#19326 2.1.2 backports 2
  bom/application/pom.xml
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliNativeImageProcessor.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonExtensionOrigin.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatform.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformRelease.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformReleaseVersion.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformStream.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/CustomDefaultValueProvider.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/DefaultValueProviderCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TestResource.java
Labels: area/gradle, area/vertx, area/spring, area/platform, area/dependencies, area/devtools, area/picocli

#18822 Add Maps example with Base interface
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigMappingTest.java
Labels: area/config, area/arc

#19348 Remove workaround after updating to Jandex 2.3.1.Final
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerTimedInterceptor.java
Labels: area/metrics

#19344 Schedule reflective type hierarchy visits instead of processing it recursively
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
Labels: area/core, triage/backport?

#19347 Ignore unknown indexed property names in @ConfigRoot
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  core/test-extension/deployment/src/main/resources/application.properties
Labels: area/core, area/config, triage/backport?

#19343 Add Surefire test results for Gradle integration tests
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra, triage/backport?

#19336 Add com.sun.security.sasl.Provider automatically for Infinispan
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
Labels: area/infinispan

#19354 Add tests for CT + Kafka + DevServices
  extensions/smallrye-reactive-messaging-kafka/deployment/pom.xml
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/KafkaDevServicesContinuousTestingTestCase.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/KafkaDevServicesContinuousTestingWorkingAppPropsTestCase.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/PriceConverter.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/PriceGenerator.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/PriceResource.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/PriceResourceET.java
Labels: area/smallrye, area/reactive-messaging

#19331 Add Dev Services page
  docs/src/main/asciidoc/dev-services.adoc
  docs/src/main/asciidoc/mongodb.adoc
Labels: area/documentation

#19329 Throw exception when mixing tests
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ExclusivityChecker.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#19176 Add integration tests for schema-based multitenancy
  .github/native-tests.json
  integration-tests/hibernate-orm-tenancy/pom.xml
  integration-tests/hibernate-orm-tenancy/schema/pom.xml
  integration-tests/hibernate-orm-tenancy/schema/src/main/java/io/quarkus/it/hibernate/multitenancy/fruit/CustomTenantResolver.java
  integration-tests/hibernate-orm-tenancy/schema/src/main/java/io/quarkus/it/hibernate/multitenancy/fruit/Fruit.java
  integration-tests/hibernate-orm-tenancy/schema/src/main/java/io/quarkus/it/hibernate/multitenancy/fruit/FruitResource.java
  integration-tests/hibernate-orm-tenancy/schema/src/main/java/io/quarkus/it/hibernate/multitenancy/inventory/InventoryResource.java
  integration-tests/hibernate-orm-tenancy/schema/src/main/java/io/quarkus/it/hibernate/multitenancy/inventory/InventoryTenantResolver.java
  integration-tests/hibernate-orm-tenancy/schema/src/main/java/io/quarkus/it/hibernate/multitenancy/inventory/Plane.java
  integration-tests/hibernate-orm-tenancy/schema/src/main/resources/application.properties
  integration-tests/hibernate-orm-tenancy/schema/src/main/resources/db/migration/V1.0.0__init.sql
  integration-tests/hibernate-orm-tenancy/schema/src/test/java/io/quarkus/it/hibernate/multitenancy/fruit/HibernateTenancyFunctionalityInGraalITCase.java
  integration-tests/hibernate-orm-tenancy/schema/src/test/java/io/quarkus/it/hibernate/multitenancy/fruit/HibernateTenancyFunctionalityTest.java
  integration-tests/hibernate-orm-tenancy/schema/src/test/java/io/quarkus/it/hibernate/multitenancy/inventory/HibernateNamedPersistenceUnitTest.java
  integration-tests/hibernate-orm-tenancy/schema/src/test/java/io/quarkus/it/hibernate/multitenancy/inventory/HibernateNamedPersistenceUnitTestInGraalITCase.java
Labels: area/infra-automation

#18679 Class#newInstance() is deprecated
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/BeanContainerImpl.java
  extensions/jsonb/runtime/src/main/java/io/quarkus/jsonb/QuarkusJsonbComponentInstanceCreator.java
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/interceptor/TransactionalTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/MediaTypeFromMessageBodyWriterResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityProviderUtils.java
  extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
  extensions/websockets/client/runtime/src/main/java/io/quarkus/undertow/websockets/client/runtime/WebsocketCoreRecorder.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/classloader/ClassLoadingInterruptTestCase.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapWagonProvider.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/Serialisers.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/ReflectionBeanFactory.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/GeneratedParameterConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResourceLocatorHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/AsyncResponseImpl.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/InjectionEnricher.java
  test-framework/common/src/main/java/io/quarkus/test/common/RestAssuredURLManager.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5-mockito/src/main/java/org/mockito/configuration/MockitoConfiguration.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesServerTestResource.java
Labels: area/core, area/arc, area/security, area/smallrye, area/infra, area/vertx, area/testing, area/narayana, area/devtools, area/resteasy-reactive, area/websockets

#19358 Fix Dev Console open browser error on windows
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
Labels: area/vertx, triage/backport?

#18497 Register @ConfigMappings directly into the Config builder
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ConfigClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigMappingUtils.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ConfigurableExceptionMapper.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ExceptionConfig.java
Labels: area/core, area/config, area/arc, area/hibernate-validator, triage/waiting-for-ci, area/dependencies

#19369 Scheduler docs - clarify the "concurrent execution strategy"
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/Scheduled.java
Labels: area/documentation, area/scheduler

#19346 CI Windows job - enable gc logs to debug OOM: Metaspace
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#19345 Minor naming changes for the doc
  docs/src/main/asciidoc/grpc.adoc
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#19320 Improve the Kafka + schema registry documentation for Confluent Schema Registry
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
Labels: area/documentation

#19372 Bump kubernetes-client-bom from 5.6.0 to 5.7.0
  bom/application/pom.xml
Labels: area/dependencies

#19377 JPA Converter with auto-apply
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaModelBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/attributeconverter/AttributeConverterAutoApplyTest.java
Labels: area/persistence, area/hibernate-orm, triage/backport?

#19400 Queue the log messages if the queue compaction leads to new space
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/logging/QuarkusDelayedHandler.java
Labels: area/devtools

#19333 Inject modified headers
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestResource.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
Labels: area/resteasy-reactive

#19409 Fix flakey test
  extensions/scheduler/deployment/pom.xml
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/metrics/MicrometerTimedTest.java
Labels: area/scheduler

#19410 Fix flakey test
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/PriceResourceET.java
Labels: area/smallrye, area/reactive-messaging

#19403 Prevent an infinite loop in AeshConsole write
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
Labels: area/core, triage/backport?

#19407 Rename `max.in.flights.requests.per.session` to `max.in.flight.requests.per.connection`
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#19357 Fix abstract method error in REST client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceTest.java
Labels: area/resteasy-reactive

#19206 Fix grpc-getting-started.adoc guide
  docs/src/main/asciidoc/grpc-getting-started.adoc
Labels: area/documentation

#19411 Fixed errors in pom
  docs/src/main/asciidoc/building-my-first-extension.adoc
Labels: area/documentation, triage/backport?

#19414 Switch to Eclipse Temurin JDK via actions/setup-java
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/ci-actions.yml.disabled
  .github/workflows/ci-fork-mvn-cache.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/doc-build.yml
  .github/workflows/jdk-early-access-build.yml
  .github/workflows/native-cron-build.yml.disabled
  .github/workflows/release-build.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/sonarcloud.yml.disabled
Labels: area/infra-automation

#19349 Ability configure extension registries from the environment variables
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigLocator.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/config/RegistriesConfigLocatorTest.java
Labels: area/platform, area/devtools, triage/backport?

#19332 Add global flag to disable dev services
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/GlobalDevServicesConfig.java
  docs/src/main/asciidoc/dev-services.adoc
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/DevServicesApicurioRegistryProcessor.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesRedisProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/DevServicesAmqpProcessor.java
  extensions/vault/deployment/src/main/java/io/quarkus/vault/deployment/DevServicesVaultProcessor.java
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  integration-tests/devmode/pom.xml
Labels: area/documentation, area/core, area/smallrye, area/vertx, area/reactive-messaging, area/mongodb, area/oidc, area/vault, area/kafka, area/redis

#19408 Fix handling multipart requests manually
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceReader.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/multipart/EchoResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/multipart/RawMultipartTestCase.java
Labels: triage/backport?

#19418 Make gradle-tooling-api optional to remove a myriad of warnings in CI
  independent-projects/bootstrap/gradle-resolver/pom.xml
Labels: area/devtools

#17903 Extension for running Narayana LRA participants
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/lra.adoc
  extensions/narayana-lra/deployment/pom.xml
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/NarayanaLRAProcessor.java
  extensions/narayana-lra/pom.xml
  extensions/narayana-lra/runtime/pom.xml
  extensions/narayana-lra/runtime/src/main/java/io/narayana/lra/client/internal/proxy/nonjaxrs/LRAParticipant.java
  extensions/narayana-lra/runtime/src/main/java/io/narayana/lra/client/internal/proxy/nonjaxrs/LRAParticipantRegistry.java
  extensions/narayana-lra/runtime/src/main/java/io/quarkus/narayana/lra/runtime/LRAConfiguration.java
  extensions/narayana-lra/runtime/src/main/java/io/quarkus/narayana/lra/runtime/NarayanaLRAProducers.java
  extensions/narayana-lra/runtime/src/main/java/io/quarkus/narayana/lra/runtime/NarayanaLRARecorder.java
  extensions/narayana-lra/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/main/pom.xml
  integration-tests/narayana-lra/pom.xml
  integration-tests/narayana-lra/src/main/java/org/acme/quickstart/lra/coordinator/TransactionalResource.java
  integration-tests/narayana-lra/src/main/resources/application.properties
  integration-tests/narayana-lra/src/test/java/org/acme/quickstart/lra/LRAParticipantTest.java
  integration-tests/narayana-lra/src/test/java/org/acme/quickstart/lra/LRAParticipantTestNativeIT.java
  integration-tests/narayana-lra/src/test/java/org/acme/quickstart/lra/LRAParticipantTestResourceLifecycle.java
  integration-tests/pom.xml
Labels: area/documentation, area/core, triage/waiting-for-ci, area/dependencies, area/devtools

#19419 Add last-updated metadata attribute to the PlatformCatalog as reported by Maven metadata
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/Constants.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonEntityWithAnySupport.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenPlatformsResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryArtifactResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryArtifactResolverWithCleanup.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryCache.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/catalog/platform/PlatformCatalogLastUpdatedTest.java
Labels: area/platform, area/devtools, triage/backport?

#19427 Redis Dev Services - Print connection url
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesRedisProcessor.java
Labels: area/redis

#19429 Improve additional build args documentation
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
Labels: area/core

#19424 Update event bus documentation to explain how to access an executor managed by Quarkus
  docs/src/main/asciidoc/reactive-event-bus.adoc
Labels: area/documentation

#19425 Fix code location in the multi-stage build examples
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#19431 Support area/jackson label
  .github/quarkus-bot.yml
Labels: area/infra, area/infra-automation

#19437 Make sure logging is up when flyway starts
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
Labels: area/flyway

#19430 Make sure projects based on non-recommended platform versions can still list relevant extensions
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/ExtensionCatalogFromProvidedPlatformsTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
Labels: area/platform, area/devtools, triage/backport?

#19423 Implement Apicurio Registry Dev Service sharing
  docs/src/main/asciidoc/apicurio-registry-dev-services.adoc
  extensions/apicurio-registry-avro/deployment/pom.xml
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/ApicurioRegistryDevServicesBuildTimeConfig.java
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/DevServicesApicurioRegistryProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/pom.xml
Labels: area/documentation, area/smallrye, area/reactive-messaging

#19422 Exclude jakarta.activation-api from our artifacts
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/hibernate-validator/runtime/pom.xml
  extensions/jaeger/runtime/pom.xml
  extensions/keycloak-admin-client/deployment/pom.xml
  extensions/keycloak-admin-client/runtime/pom.xml
  extensions/mongodb-client/runtime/pom.xml
  extensions/panache/rest-data-panache/runtime/pom.xml
  extensions/resteasy-classic/rest-client-jackson/runtime/pom.xml
  extensions/resteasy-classic/resteasy-common/runtime/pom.xml
  extensions/resteasy-classic/resteasy-jackson/runtime/pom.xml
  extensions/resteasy-classic/resteasy-multipart/runtime/pom.xml
  extensions/resteasy-classic/resteasy-mutiny-common/runtime/pom.xml
  extensions/resteasy-classic/resteasy-mutiny/runtime/pom.xml
  extensions/resteasy-classic/resteasy/deployment/pom.xml
  extensions/spring-web/runtime/pom.xml
  extensions/tika/runtime/pom.xml
  integration-tests/hibernate-orm-panache/pom.xml
  integration-tests/kafka-avro/pom.xml
  integration-tests/main/pom.xml
  integration-tests/rest-client/pom.xml
  integration-tests/resteasy-mutiny/pom.xml
  integration-tests/smallrye-context-propagation/pom.xml
Labels: area/panache, area/jaeger, area/hibernate-validator, area/mongodb, area/tika, area/spring, area/dependencies

#19398 Added test for @ConfigMapping constructor injection
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigMappingTest.java
Labels: area/arc

#19440 Filter out duplicate JMX registration message
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
Labels: area/smallrye, area/reactive-messaging

#18946 Expose Agroal feature: transaction requirement
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
Labels: area/agroal

#19363 Hibernate ORM DevUI - show DDL scripts collapsed by default
  extensions/hibernate-orm/deployment/src/main/resources/dev-templates/persistence-units.html
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/runtime/devconsole/HibernateOrmDevConsoleInfoSupplierTestCase.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/devconsole/HibernateOrmDevConsoleInfoSupplier.java
Labels: area/persistence, area/hibernate-orm

#19459 Make roles unique when creating users in Keycloak dev services
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, triage/backport?

#19453 2.1.3 backports 1
  .github/workflows/ci-actions-incremental.yml
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  core/test-extension/deployment/src/main/resources/application.properties
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/grpc.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/reactive-event-bus.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroSchemaCodeGenProvider.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaModelBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/attributeconverter/AttributeConverterAutoApplyTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceTest.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/logging/QuarkusDelayedHandler.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceReader.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/PathMatcher.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/URITemplate.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/GeneralResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/SpecificResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/StemMatchTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/multipart/EchoResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/multipart/RawMultipartTestCase.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/ExtensionCatalogFromProvidedPlatformsTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/Constants.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonEntityWithAnySupport.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenPlatformsResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryArtifactResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryArtifactResolverWithCleanup.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryCache.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigLocator.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/catalog/platform/PlatformCatalogLastUpdatedTest.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/config/RegistriesConfigLocatorTest.java
  pom.xml
  update-extension-dependencies.sh
Labels: area/documentation, area/persistence, area/core, area/config, area/smallrye, area/infra, area/vertx, area/reactive-messaging, area/hibernate-orm, area/platform, area/devtools, area/infra-automation, area/flyway, area/resteasy-reactive

#19449 Use Eclipse Temurin in Quarkiverse workflow templates
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.yml
Labels: triage/waiting-for-ci, area/platform, area/devtools

#19458 Fix minor DevServices for Keycloak typos
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport?

#19462 Make sure super-configuration are used for dependency resolution
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/DependencyUtils.java
  integration-tests/gradle/src/main/resources/configuration-inheritance-project/build.gradle
  integration-tests/gradle/src/main/resources/configuration-inheritance-project/gradle.properties
  integration-tests/gradle/src/main/resources/configuration-inheritance-project/settings.gradle
  integration-tests/gradle/src/main/resources/configuration-inheritance-project/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/DependencyResolutionTest.java
Labels: area/gradle, area/devtools, triage/backport?

#19466 Close OIDC web clients
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigBean.java
Labels: area/oidc

#19463 Update to the latest OpenTelemetry release
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#19461 Bump SmallRye Reactive Messaging version to 3.9.0
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#19312 Add ability to clean the DB in DevUI
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalRecorder.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevUIDatasourceProcessor.java
  extensions/datasource/deployment/src/main/resources/dev-templates/embedded.html
  extensions/datasource/deployment/src/main/resources/dev-templates/reset.html
  extensions/datasource/runtime/pom.xml
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DatabaseRecorder.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DatabaseSchemaProvider.java
  extensions/datasource/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywaySchemaProvider.java
  extensions/flyway/runtime/src/main/resources/META-INF/services/io.quarkus.datasource.runtime.DatabaseSchemaProvider
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateSchemaRecreateDevConsoleTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/MyEntityTestResource.java
  extensions/hibernate-orm/deployment/src/test/resources/import.sql
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/schema/SchemaManagementIntegrator.java
  extensions/hibernate-orm/runtime/src/main/resources/META-INF/services/io.quarkus.datasource.runtime.DatabaseSchemaProvider
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseSchemaProvider.java
  extensions/liquibase/runtime/src/main/resources/META-INF/services/io.quarkus.datasource.runtime.DatabaseSchemaProvider
Labels: area/documentation, area/persistence, area/hibernate-orm, area/flyway, area/liquibase, area/agroal

#19217 Add a test for gRPC header passing, remove unused filter from rest client
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveRequestFilter.java
  integration-tests/grpc-plain-text-mutiny/pom.xml
  integration-tests/grpc-plain-text-mutiny/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldEndpoint.java
  integration-tests/grpc-plain-text-mutiny/src/main/java/io/quarkus/grpc/examples/hello/IncomingInterceptor.java
  integration-tests/grpc-plain-text-mutiny/src/test/java/io/quarkus/grpc/examples/hello/HelloWorldEndpointTest.java
  integration-tests/grpc-plain-text-mutiny/src/test/java/io/quarkus/grpc/examples/hello/HelloWorldServiceTest.java
Labels: area/resteasy-reactive

#19481 Fix typo in config reference docs
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation

#19244 Add test for rest-client reactive timeout
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/timeout/BuilderReadTimeoutTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/timeout/Client.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/timeout/RegisterReadTimeoutTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/timeout/Resource.java
Labels: area/resteasy-reactive

#19454 Rest Client Reactive: unwrap exceptions set by mappers in async
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/MicroProfileRestClientResponseFilter.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/UnwrappableException.java
Labels: area/resteasy-reactive, triage/backport?

#19486 Ability to configure the registry URL from an env var
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigLocator.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/config/RegistriesConfigLocatorTest.java
Labels: triage/backport?, triage/backport-2.1?

#19490 Fix RESTEasy Reactive race
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
Labels: triage/backport?

#19475 OpenAPI: Added support for `quarkus.resteasy-reactive.path`
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/smallrye, area/openapi, triage/waiting-for-ci

#19483 2.1.3 backports 2
  docs/src/main/asciidoc/config-reference.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigLocator.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/config/RegistriesConfigLocatorTest.java
Labels: area/documentation, area/infra, area/oidc, area/platform, area/devtools

#19493 Fix issue with provider registration
  extensions/elytron-security-common/deployment/src/main/java/io/quarkus/elytron/security/common/deployment/QuarkusSecurityCommonProcessor.java
Labels: area/security

#19261 Simplify proxy selection for the REST Client
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/QuarkusRestClientBuilder.java
Labels: triage/backport?, triage/backport-2.1?

#19502 Add a triage rule for Keycloak
  .github/quarkus-bot.yml
Labels: area/infra, area/infra-automation

#19496 Properly deprecate quarkus.resteasy.metrics.enabled
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/JaxRsMetricsProcessor.java
Labels: area/smallrye, area/metrics, triage/backport?, triage/backport-2.1?

#19507 gRPC Dev UI: better size for response text, include streaming services and health endpoint
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devmode/GrpcDevConsoleProcessor.java
  extensions/grpc/deployment/src/main/resources/dev-templates/service.html
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/GrpcServices.java
Labels: area/grpc

#19506 Remove unused jboss-servlet-api_4.0_spec.version property
  bom/application/pom.xml
Labels: area/dependencies

#19503 Extension registry user documentation
  docs/src/main/asciidoc/extension-registry-user.adoc
Labels: area/documentation, triage/backport?

#19518 Add JUnit TestInfo support
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestCallbacksTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/TestInfoImpl.java
Labels: area/testing, triage/backport?

#19521 Hot replacement breaks vert.x context propagation
  extensions/opentelemetry/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/HelloResource.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryDevModeTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/VertxHttpHotReplacementSetup.java
Labels: area/vertx, triage/waiting-for-ci, area/tracing, triage/backport?, triage/backport-2.1?

#19522 Remove DevServices shutdown hooks
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/DevServicesApicurioRegistryProcessor.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesRedisProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/DevServicesAmqpProcessor.java
  extensions/vault/deployment/src/main/java/io/quarkus/vault/deployment/DevServicesVaultProcessor.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/smallrye, area/testing, area/reactive-messaging, area/mongodb, area/oidc, area/vault, area/kafka, area/redis, triage/backport?, triage/backport-2.1?

#18970 ArC - remove unused interceptors
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/staticmethods/InterceptedStaticMethodsProcessor.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/MailTemplateValidationTest.java
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-opentracing/deployment/src/main/java/io/quarkus/smallrye/opentracing/deployment/SmallRyeOpenTracingProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/UnusedBeans.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BeanManagerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RemovedBeanImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/Alpha.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/AlphaInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/Bravo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/BravoInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/Counter.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/RemoveUnusedBeansTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/RemoveUnusedComponentsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/RemoveUnusedDecoratorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/unused/RemoveUnusedInterceptorTest.java
Labels: area/documentation, area/arc, area/smallrye, area/narayana, area/cache, area/graphql, area/tracing, area/metrics, area/fault-tolerance, area/mailer, triage/waiting-for-2.3

#19529 Added mounting PVCs section to openshift doc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
Labels: area/documentation

#19487 Vert.x TCCL fixes
  extensions/vertx-core/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/core, area/config, area/vertx, triage/backport?
