Repository quarkusio/quarkus, pull requests merged in 2021-04, with the labels that each got.

#16164 Micrometer: Simplify Vertx HTTP binder init; http settings in dev mode
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/VertxBinderProcessor.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/HttpDevModeConfigTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxWithHttpDisabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxWithHttpEnabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/HelloResource.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerRecorder.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpBinderConfiguration.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRecorder.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRestEasyContainerFilter.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/HttpBinderConfigurationTest.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetricsTest.java
Labels: area/metrics

#16156 Fix CompletionStage response type handling in quarkus-rest-client-reactive
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/src/main/java/io/quarkus/resteasy/reactive/client/deployment/JaxrsClientProcessor.java
  integration-tests/resteasy-reactive-rest-client/src/main/java/io/quarkus/it/rest/client/ClientCallingResource.java
  integration-tests/resteasy-reactive-rest-client/src/main/java/io/quarkus/it/rest/client/SimpleClient.java
  integration-tests/resteasy-reactive-rest-client/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: area/resteasy-reactive, triage/backport?

#16167 Fix Uni response type handling in quarkus-rest-client-reactive
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/src/main/java/io/quarkus/resteasy/reactive/client/deployment/JaxrsClientProcessor.java
  integration-tests/resteasy-reactive-rest-client/pom.xml
  integration-tests/resteasy-reactive-rest-client/src/main/java/io/quarkus/it/rest/client/ClientCallingResource.java
  integration-tests/resteasy-reactive-rest-client/src/main/java/io/quarkus/it/rest/client/SimpleClient.java
  integration-tests/resteasy-reactive-rest-client/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: area/resteasy-reactive, triage/backport?

#16133 JDK Early Access: disable surefire report, fix jbang java problem
  .github/workflows/jdk-early-access-build.yml
Labels: area/infra-automation

#16145 Minor correction in centralized-log-management doc
  docs/src/main/asciidoc/centralized-log-management.adoc
Labels: area/documentation, triage/backport?

#16178 Enable SonarCloud scan
  .github/workflows/sonarcloud.yml
  pom.xml
Labels: area/infra-automation

#16169 Avro code generation with live reload
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  extensions/avro/deployment/pom.xml
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroCodeGenProviderBase.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroProtocolCodeGenProvider.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroSchemaCodeGenProvider.java
  extensions/avro/deployment/src/main/resources/META-INF/services/io.quarkus.deployment.CodeGenProvider
  integration-tests/avro-reload/pom.xml
  integration-tests/avro-reload/src/test/avro/User.avpr
  integration-tests/avro-reload/src/test/avro/User.avsc
  integration-tests/avro-reload/src/test/avro/directImport/PrivacyDirectImport.avsc
  integration-tests/avro-reload/src/test/avro/imports/PrivacyImport.avsc
  integration-tests/avro-reload/src/test/java/io/quarkus/avro/deployment/AvroCodeReloadTest.java
  integration-tests/avro-reload/src/test/java/io/quarkus/avro/deployment/AvroReloadResource.java
  integration-tests/kafka-avro/pom.xml
  integration-tests/pom.xml
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/core, area/dependencies, area/testing

#16171 Disable SSL verification when trust-all property is enabled
  docs/src/main/asciidoc/rest-client.adoc
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
Labels: area/documentation, area/rest-client, triage/backport?

#16138 Make sure all the project modules are loaded into workspace in case the root pom does not declare any
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/UnresolvedVersionException.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-root-no-module/root/module1/module2/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-root-no-module/root/module1/module3/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-root-no-module/root/module1/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-root-no-module/root/pom.xml
Labels: area/devtools, triage/backport-1.11?, triage/backport?, triage/waiting-for-ci

#14349 Add Passing Client Headers section to rest-client.adoc
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation, triage/backport?

#13375 Ability to exclude particular data sources from the health check
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/agroal/deployment/pom.xml
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/DataSourceHealthCheckExclusionTest.java
  extensions/agroal/deployment/src/test/resources/application-datasources-with-health.properties
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalRecorder.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/health/DataSourceHealthCheck.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourceBuildTimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourcesExcludedFromHealthChecks.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
Labels: area/core, area/health, area/smallrye, triage/waiting-for-ci

#16183 Fix issue with fast-jar not working using OpenShift and Docker strategy
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
Labels: triage/backport?, triage/waiting-for-ci

#16187 Fix flaky rest-client test
  integration-tests/resteasy-reactive-rest-client/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: triage/waiting-for-ci

#15047 Clean up template URI matching; add support for servlets
  extensions/micrometer/deployment/pom.xml
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/HttpBinderProcessor.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/PingPongResource.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/ServletEndpoint.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/Util.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/VertxWebEndpoint.java
  extensions/micrometer/runtime/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpCommonTags.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RequestMetricInfo.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetricsListener.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/HttpRequestMetric.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderContainerFilterUtil.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRestEasyContainerFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRestEasyReactiveContainerFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderUndertowServletFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterFilter.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/RequestMetricInfoTest.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetricsTest.java
Labels: area/metrics, area/undertow, area/vertx

#16197 Add check for GraalVM version when enabling InlineBeforeAnalysis
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#16110 Add guidance on how to measure memory correctly on docker
  docs/src/main/asciidoc/performance-measure.adoc
Labels: area/documentation, triage/waiting-for-ci

#15920 Mutiny 0.15.0 support
  bom/application/pom.xml
  extensions/mutiny/deployment/src/main/java/io/quarkus/mutiny/deployment/MutinyProcessor.java
  extensions/mutiny/deployment/src/test/java/io/quarkus/mutiny/deployment/test/MutinyTest.java
  extensions/mutiny/runtime/src/main/java/io/quarkus/mutiny/runtime/MutinyInfrastructure.java
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/documentation, area/mutiny, area/smallrye, triage/waiting-for-ci

#13863 Add OpenTracing Command Listener to MongoDB client
  bom/application/pom.xml
  docs/src/main/asciidoc/mongodb.adoc
  docs/src/main/asciidoc/opentracing.adoc
  extensions/mongodb-client/deployment/pom.xml
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientBuildTimeConfig.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoTracingCommandListenerTest.java
  extensions/mongodb-client/deployment/src/test/resources/application-tracing-mongo.properties
  extensions/mongodb-client/runtime/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/tracing/MongoTracingCommandListener.java
Labels: area/dependencies, area/documentation, area/mongodb, triage/backport?, triage/waiting-for-ci

#16205 Use specific branch of RESTEasy Reactive Testsuite for 1.11
  .github/workflows/ci-actions.yml
Labels: area/infra-automation

#16206 Use specific branch of RESTEasy Reactive Testsuite for 1.13
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#16181 Rest Client Reactive: detect blocking the event loop
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/RestClientTestUtil.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/lock/prevention/CallMakingResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/lock/prevention/RestClientReactiveBlockingTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/lock/prevention/TestClient.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/lock/prevention/TestResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/registerclientheaders/RegisterClientHeadersTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/InvocationBuilderImpl.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#16194 Deprecate enable-server and cleanup-server config items
  CONTRIBUTING.md
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci

#16214 Handle user declared annotation processor
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/devtools, area/gradle, triage/backport?

#16185 Add quarkusCoreVersion parameter to generate-platform-descriptor-json goal
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/GeneratePlatformDescriptorJsonMojo.java
Labels: triage/backport?

#16177 Fixed the codestarts artifactId
  extensions/amazon-lambda/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/azure-functions-http/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/config-yaml/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/funqy/funqy-amazon-lambda/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/funqy/funqy-google-cloud-functions/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/funqy/funqy-http/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/funqy/funqy-knative-events/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/google-cloud-functions-http/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/google-cloud-functions/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/kotlin/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/logging-json/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/picocli/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-jackson/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-qute/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/scala/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/spring-web/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/websockets/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/tools/codestarts/README.adoc
  integration-tests/devtools/src/test/java/io/quarkus/platform/catalog/ExtensionProcessorTest.java
Labels: area/amazon-lambda, area/codestarts, area/config, area/devtools, area/funqy, area/google-cloud-functions, area/kotlin, area/logging, area/maven, area/platform, area/qute, area/resteasy, area/resteasy-reactive, area/scala, area/spring, area/websockets

#16212 Workaround for KT-45007, sporadic NPE in kotlin plugin
  .mvn/jvm.config
Labels: triage/waiting-for-ci

#16232 Fix typo in getting started
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation

#16229 Upload the Surefire reports as artifacts
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra, area/infra-automation

#15823 Make update-*dependencies.sh runnable on Mac
  integration-tests/gradle/update-dependencies.sh
  update-extension-dependencies.sh
Labels: area/gradle, triage/waiting-for-ci

#15986 Support live reload for SmallRye Reactive Messaging
  extensions/smallrye-reactive-messaging-amqp/deployment/pom.xml
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/nohttp/AmqpDevModeNoHttpTest.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/nohttp/Consumer.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/amqp/devmode/nohttp/Producer.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devmode/DevModeSupportConnectorFactory.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devmode/DevModeSupportConnectorFactoryInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devmode/ReactiveMessagingHotReplacementSetup.java
  extensions/smallrye-reactive-messaging/runtime/src/main/resources/META-INF/services/io.quarkus.dev.spi.HotReplacementSetup
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/reactive-messaging, area/smallrye, area/testing

#16236 Disable kafka-snappy tests for versions of GraalVM older than 21.0
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/NativeImageBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStepTest.java
  integration-tests/kafka-snappy/src/test/java/io/quarkus/it/kafka/KafkaSnappyCodecITCase.java
  integration-tests/kafka-snappy/src/test/java/io/quarkus/it/kafka/KafkaSnappyConsumerITCase.java
  integration-tests/kafka-snappy/src/test/java/io/quarkus/it/kafka/KafkaSnappyProducerITCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisableIfBuiltWithGraalVMOlderThan.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisableIfBuiltWithGraalVMOlderThanCondition.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
Labels: area/testing, triage/waiting-for-ci

#14809 Add required properties for expansion in the build ConfigSource
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/property-expansion/pom.xml
  integration-tests/maven/src/test/resources/projects/property-expansion/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/property-expansion/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources/projects/property-expansion/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/property-expansion/src/test/java/org/acme/HelloResourceTest.java
Labels: area/config, area/devtools, area/maven

#16244 Update micrometer guide URL
  extensions/micrometer/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/metrics, triage/backport?, triage/waiting-for-ci

#16252 Jacoco multi module fixes
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/ReportCreator.java
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/ReportInfo.java
Labels: area/testing, triage/backport?

#16215 Add token audience param to oidc-client
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
Labels: area/documentation, area/oidc, triage/backport?

#16237 Fix JAX-RS Application class hierarchy handling
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/root/ApplicationPathHttpRootTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/path/RestApplicationPathTestCase.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
Labels: area/resteasy-reactive, triage/backport?

#16247 Upgrade to Quarkus HTTP 3.1.0.Final and related cleanup
  bom/application/pom.xml
  independent-projects/tools/devtools-common/pom.xml
  independent-projects/tools/pom.xml
Labels: area/dependencies, area/devtools, area/platform, triage/backport?

#16262 Re-add Kafka group.id documentation, deleted in commit 8a56a30b51
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation, triage/backport?

#16267 Realign dependency structure of the Oracle JDBC extension
  extensions/jdbc/jdbc-oracle/deployment/pom.xml
  extensions/jdbc/jdbc-oracle/runtime/pom.xml
Labels: area/persistence, priority/urgent

#16189 API to check if property exists
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceConfigurationHandlerBuildItem.java
  integration-tests/jpa-postgresql/src/test/java/io/quarkus/it/jpa/postgresql/OverrideJdbcUrlBuildTimeConfigSource.java
  integration-tests/jpa-postgresql/src/test/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
Labels: area/config, area/core, area/hibernate-orm, area/persistence, triage/backport?

#16263 Add missing "volatile" to some dev mode handlers
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/GrpcHotReplacementInterceptor.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/HotReplacementInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devmode/DevModeSupportConnectorFactoryInterceptor.java
Labels: area/grpc, area/kafka-streams, area/reactive-messaging, area/smallrye

#16273 Fix OidcClient test failure
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
Labels: triage/backport?

#16280 Fix wrong name in comment
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/JsonbProducer.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/ObjectMapperProducer.java
Labels: area/kafka

#16272 Avoid nasty NPE when trying to open Eclipse IDE
  core/deployment/src/main/java/io/quarkus/deployment/ide/Ide.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/OpenIdeHandler.java
Labels: area/core, area/dev-ui, area/vertx, triage/backport?, triage/waiting-for-ci

#16269 Print error message is printed with certificate is self-signed when deploying to OpenShift
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/kubernetes-client/deployment-internal/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientErrorHandler.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
Labels: area/kubernetes, triage/backport?

#16287 Update OIDC to accept all RS and ES algorithms
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
Labels: area/oidc, triage/backport?

#16295 Fix wrong location of Micrometer Prometheus extension descriptor
  extensions/micrometer-registry-prometheus/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/metrics, triage/backport-1.11?, triage/backport?

#16213 Update Keycloak Test Module to support code flow tests
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
  extensions/oidc-client-filter/deployment/pom.xml
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/KeycloakRealmResourceManager.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/OidcClientFilterDevModeTest.java
  extensions/oidc-client-filter/deployment/src/test/resources/application-oidc-client-filter.properties
  extensions/oidc/deployment/pom.xml
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeDefaultTenantTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CustomTenantConfigResolver.java
  extensions/oidc/deployment/src/test/resources/application-dev-mode-default-tenant.properties
  extensions/oidc/deployment/src/test/resources/application-dev-mode.properties
  integration-tests/oidc-wiremock/pom.xml
  integration-tests/oidc/pom.xml
  integration-tests/oidc/src/main/resources/application.properties
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  test-framework/keycloak-server/src/main/java/io/quarkus/test/keycloak/server/KeycloakTestResourceLifecycleManager.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/documentation, area/oidc, area/testing

#16298 Use the job name in Surefire Reports artifact names
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra, area/infra-automation

#16293 Extend Liquibase IT with includeAll
  integration-tests/liquibase/src/main/resources/db/xml/changeLog.xml
  integration-tests/liquibase/src/main/resources/db/xml/includeAll/test1.xml
  integration-tests/liquibase/src/main/resources/db/xml/includeAll/test2.xml
  integration-tests/liquibase/src/test/java/io/quarkus/it/liquibase/LiquibaseFunctionalityNativeIT.java
  integration-tests/liquibase/src/test/java/io/quarkus/it/liquibase/LiquibaseFunctionalityTest.java
Labels: area/liquibase, triage/backport?

#16265 Until the delayed handler is activated, drop anything below INFO level
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/logging/QuarkusDelayedHandler.java
Labels: area/devtools, triage/backport?

#16201 Handle avro generator in gradle
  .github/workflows/ci-actions-incremental.yml
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/AvroDevModeTest.java
  integration-tests/gradle/src/test/resources/avro-simple-project/build.gradle
  integration-tests/gradle/src/test/resources/avro-simple-project/gradle.properties
  integration-tests/gradle/src/test/resources/avro-simple-project/settings.gradle
  integration-tests/gradle/src/test/resources/avro-simple-project/src/main/avro/hello.avpr
  integration-tests/gradle/src/test/resources/avro-simple-project/src/main/java/org/acme/quarkus/sample/HelloResource.java
Labels: area/devtools, area/gradle, area/infra-automation

#16073 @Scheduled - add Support for Default Value and for Switching Timer Off
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/DisabledScheduledMethodTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/PropertyDefaultValueSchedulerTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/DisabledScheduledMethodTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/PropertyDefaultValueSchedulerTest.java
  extensions/scheduler/runtime/pom.xml
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/util/SchedulerUtils.java
  extensions/scheduler/runtime/src/test/java/io/quarkus/scheduler/runtime/util/SchedulerUtilsTest.java
Labels: area/documentation, area/scheduler, release/noteworthy-feature

#16305 Explicitly wait for the broker to be running before executing the test
  integration-tests/kafka/pom.xml
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/ssl/SslKafkaEndpoint.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaSASLTestResource.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaSSLTestResource.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/SslKafkaConsumerTest.java
Labels: area/kafka

#16304 Use fixed port for mailer test
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/FakeMailerTestResource.java
Labels: triage/backport?

#16301 More consistency for the step names, job name is already descriptive
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#16297 Disable live reload instrumentation by default
  core/runtime/src/main/java/io/quarkus/runtime/LiveReloadConfig.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/core, area/maven, triage/backport-1.11?, triage/backport?

#16282 Only resolve db kind implicitly if we have no named datasources around
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/deployment/src/test/resources/application-multiple-devservices-datasources.properties
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DefaultDataSourceDbKindBuildItem.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/EntitiesInDefaultPUWithImplicitUnconfiguredDatasourceTest.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/ErroneousConfigHotReloadTestCase.java
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/ReactiveDB2ClientProcessor.java
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
Labels: area/hibernate-orm, area/hibernate-reactive, area/panache, area/persistence, area/reactive, triage/backport?

#16290 Check whether the project already imports the platform for the added extension before importing it
  devtools/gradle/src/main/java/io/quarkus/devtools/project/buildfile/GradleProjectBuildFile.java
  devtools/maven/src/main/java/io/quarkus/maven/MavenProjectBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/AddExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/GenericGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/extensions/ExtensionManager.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/util/PlatformArtifacts.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/devtools/registry/util/PlatformArtifactsTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/AddGradleExtensionsTest.java
Labels: area/devtools, area/gradle, area/maven, area/platform, triage/backport?

#16303 Be smarter about discarding log messages
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/logging/QuarkusDelayedHandler.java
Labels: area/devtools

#16281 Allow subclasses to be passed as parameter to intercepted method
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractInvocationContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/parameters/ParamInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/parameters/ParamInterceptorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/parameters/Simple.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/parameters/SimpleBean.java
Labels: area/arc, triage/backport?

#16285 Allow the use of @DisableIfBuiltWithGraalVMOlderThan on test methods
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisableIfBuiltWithGraalVMOlderThan.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisableIfBuiltWithGraalVMOlderThanCondition.java
Labels: area/testing, triage/waiting-for-ci

#16054 Add multi-build support in a single module
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources/projects/multi-build-mode/pom.xml
  integration-tests/maven/src/test/resources/projects/multi-build-mode/src/main/java/org/acme/HelloResourceBar.java
  integration-tests/maven/src/test/resources/projects/multi-build-mode/src/main/java/org/acme/HelloResourceFoo.java
  integration-tests/maven/src/test/resources/projects/multi-build-mode/src/main/java/org/acme/HelloService.java
  integration-tests/maven/src/test/resources/projects/multi-build-mode/src/test/java/org/acme/HelloResourceBarTest.java
  integration-tests/maven/src/test/resources/projects/multi-build-mode/src/test/java/org/acme/HelloResourceFooTest.java
Labels: area/devtools, area/maven

#16327 Registry client: option to cleanup old timestamped catalog artifacts
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenArtifactResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenNonPlatformExtensionsResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenPlatformExtensionsResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenPlatformsResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryArtifactResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryArtifactResolverWithCleanup.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java
Labels: area/devtools, area/platform

#16339 Fix gradle Jacoco issues
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
Labels: area/testing, triage/backport?

#16325 Move Google Cloud Functions to preview and update the docs
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
  docs/src/main/asciidoc/gcp-functions-http.adoc
  docs/src/main/asciidoc/gcp-functions.adoc
  extensions/google-cloud-functions-http/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/google-cloud-functions/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/google-cloud-functions

#16306 Add avro IDL code generator
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroIDLCodeGenProvider.java
  extensions/avro/deployment/src/main/resources/META-INF/services/io.quarkus.deployment.CodeGenProvider
  integration-tests/avro-reload/src/test/avro/Hello.avdl
  integration-tests/avro-reload/src/test/java/io/quarkus/avro/deployment/AvroCodeReloadTest.java
  integration-tests/avro-reload/src/test/java/io/quarkus/avro/deployment/AvroReloadResource.java
Labels: triage/backport?, triage/waiting-for-ci

#16341 Change assignability check for interfaces
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMock.java
Labels: area/testing

#16310 Move all RESTEasy Reactive configuration under 'quarkus.resteasy-reactive'
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/JaxRsSecurityConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveServerConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/path/RelativeRestPathTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/path/RestApplicationPathTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/path/RestPathTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/DenyAllJaxRsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveTestHttpProvider.java
Labels: area/resteasy-reactive, release/breaking-change, triage/waiting-for-ci

#16311 Use the thread-safe version of flatten-platform-bom
  bom/application/pom.xml
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/GeneratePlatformDescriptorJsonMojo.java
Labels: area/dependencies, area/devtools

#16330 Register hierarchy of io.quarkus.maven.ArtifactKey
  independent-projects/tools/artifact-api/pom.xml
Labels: area/devtools, area/platform

#16314 Use ArtifactCoords API in the devtools instead of AppArtifactCoords
  devtools/gradle/src/main/java/io/quarkus/devtools/project/buildfile/GradleGroovyProjectBuildFile.java
  devtools/gradle/src/main/java/io/quarkus/devtools/project/buildfile/GradleKotlinProjectBuildFile.java
  devtools/gradle/src/main/java/io/quarkus/devtools/project/buildfile/GradleProjectBuildFile.java
  devtools/maven/src/main/java/io/quarkus/maven/MavenProjectBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartProjectInput.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInput.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/AddExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateJBangProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ListExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/QuarkusCommandHandlers.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/RemoveExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFilesCreator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGroovyGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/BuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/GenericGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/GroovyGradleBuildFilesCreator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/KotlinGradleBuildFilesCreator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/extensions/ExtensionInstallPlan.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/extensions/ExtensionManager.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/extensions/Extensions.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/descriptor/ProjectPlatformDescriptorJsonUtil.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/buildfile/MavenBuildFileTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalogTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/AddGradleExtensionsTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/ListExtensionsTest.java
Labels: area/devtools, area/gradle, area/jbang, area/maven, area/platform, triage/waiting-for-ci

#16317 Allow modifying primitive parameters in an interceptor
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractInvocationContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/parameters/ParamInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/parameters/ParamInterceptorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/parameters/SimpleBean.java
Labels: area/arc, triage/backport?

#16258 Apply tiny polish to StartupActionImpl
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
Labels: area/core

#16159 Preliminary work for native CLI
  devtools/cli/pom.xml
  devtools/cli/src/main/java/io/quarkus/cli/core/QuarkusCliVersion.java
  devtools/cli/src/main/java/io/quarkus/cli/core/Reflections.java
  devtools/cli/src/main/resources/application.properties
  extensions/apache-httpclient/deployment/src/main/java/io/quarkus/apache/http/client/deployment/ApacheHttpClientProcessor.java
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliNativeImageProcessor.java
Labels: area/cli, area/devtools

#16345 Update code of the reactive routes guide
  docs/src/main/asciidoc/reactive-routes.adoc
Labels: area/documentation

#16216 Substitute DefaultMethodFallbackProvider in GraalVM < 21.0
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/graal/FaultToleranceSubstitutions.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RestClientTestCase.java
Labels: area/fault-tolerance, area/native-image, area/smallrye, area/testing

#15990 Improved execution of grouped assertions
  core/deployment/src/test/java/io/quarkus/deployment/CapabilityNameTest.java
Labels: area/core

#16253 Don't let potential failures in message consumers cause dev mode shutdown to be blocked permanently
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
Labels: area/vertx, triage/waiting-for-ci

#16344 Re-enable the Maven enforcer in the Reactive Messaging Kafka tests
  integration-tests/reactive-messaging-kafka/pom.xml
Labels: triage/waiting-for-ci

#16278 Reactive datasource idle-timeout for pooled connections
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/DataSourceReactiveRuntimeConfig.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
Labels: area/documentation, area/persistence, area/reactive

#16348 Qute type-safe checks - take interface default methods into account
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/OrEmptyTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/InjectionTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/CheckedTemplateConflictTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/DefaultMethodValidationSuccessTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/Monks.java
Labels: area/qute, triage/backport?

#16271 Qute type-safe - basic support of extension methods with type params
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/CollectionTemplateExtensionsTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/TemplateExtensionMethodsTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/CollectionTemplateExtensions.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/MapTemplateExtensions.java
Labels: area/documentation, area/qute

#16340 Log message on slow restarts
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/RemoteSyncHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/VertxHttpHotReplacementSetup.java
Labels: area/core, area/vertx, triage/waiting-for-ci

#16309 Make it easier to import the project in IDEA
  .mvn/jvm.config
  CONTRIBUTING.md
Labels: area/housekeeping, area/user experience

#16320 CLI - reduce the startup time
  devtools/cli/src/main/java/io/quarkus/cli/Add.java
  devtools/cli/src/main/java/io/quarkus/cli/Build.java
  devtools/cli/src/main/java/io/quarkus/cli/Clean.java
  devtools/cli/src/main/java/io/quarkus/cli/Create.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateExtension.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateJBang.java
  devtools/cli/src/main/java/io/quarkus/cli/Dev.java
  devtools/cli/src/main/java/io/quarkus/cli/List.java
  devtools/cli/src/main/java/io/quarkus/cli/Platforms.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/main/java/io/quarkus/cli/Remove.java
  devtools/cli/src/main/resources/application.properties
Labels: area/cli, area/devtools, area/jbang, triage/waiting-for-ci

#16360 Ignore abstract classes in Filter hierarchy
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveInterceptorScanner.java
Labels: area/resteasy-reactive, triage/backport?

#15822 Avoid class initializations more aggressively in the Hibernate ORM extension
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AdditionalIndexedClassesBuildItem.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversProcessor.java
  extensions/hibernate-orm/banned-signatures.txt
  extensions/hibernate-orm/deployment/banned-signatures.txt
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/AdditionalJpaModelBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/Dialects.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmAnnotations.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateUserTypeProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ProxyBuildingHelper.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/deployment/ConstantsTest.java
  extensions/hibernate-orm/pom.xml
  extensions/hibernate-orm/runtime/banned-signatures.txt
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/KotlinPanacheResourceProcessor.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/hibernate-reactive-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/deployment/PanacheHibernateResourceProcessor.java
Labels: area/core, area/hibernate-orm, area/hibernate-reactive, area/panache, area/persistence, triage/waiting-for-ci

#16365 JDK early access job: downgrade jbang
  .github/workflows/jdk-early-access-build.yml
Labels: area/infra-automation

#16105 Substitute BouncyCastle self-tests which rely on SecureRandom
  docs/src/main/asciidoc/security-customization.adoc
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/graal/BouncyCastleSubstitutions.java
  integration-tests/bouncycastle-fips-jsse/src/main/resources/application.properties
Labels: area/documentation, area/security

#16277 Update aws-sdk to 2.16.36
  bom/application/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#16357 Improve the error message of remote-dev on the client side
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/HttpRemoteDevClient.java
Labels: area/vertx

#16361 Update to fabric8 kubernetes-client 5.3.0
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#16385 Make Service account also applied to RevisionSpec
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyServiceAccountToRevisionSpecDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithSecretConfigTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-with-secret-config.properties
Labels: area/kubernetes, triage/backport?

#16351 Handle gradle buildchain in quarkusDev task
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/GradleDevModeLauncher.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/devtools, area/gradle

#16400 Make sure LocalProject.getAppArtifact() has a proper version
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
Labels: area/devtools, triage/backport?, triage/waiting-for-ci

#16405 Support Flyway's initSql property to specify SQL to run
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionInitSqlTest.java
  extensions/flyway/deployment/src/test/resources/init-sql-config.properties
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayCreator.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  integration-tests/flyway/src/main/java/io/quarkus/it/flyway/FlywayFunctionalityResource.java
  integration-tests/flyway/src/main/resources/application.properties
  integration-tests/flyway/src/test/java/io/quarkus/it/flyway/FlywayFunctionalityTest.java
Labels: area/flyway, triage/backport?

#16391 Codestarts do not need qute-generator but qute-core
  independent-projects/tools/codestarts/pom.xml
  independent-projects/tools/devtools-common/pom.xml
  independent-projects/tools/pom.xml
Labels: area/codestarts, area/devtools, area/platform, triage/waiting-for-ci

#16363 Try to make the docker related note more prominent
  docs/src/main/asciidoc/container-image.adoc
Labels: area/documentation, triage/backport?

#16413 Leverage gradle toolchain only for gradle 6.7+
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/devtools, area/gradle, triage/waiting-for-ci

#16380 Remove native image substitution for MappedByteBuffer
  core/runtime/src/main/java/io/quarkus/runtime/graal/MappedByteBufferReplacement.java
Labels: area/core

#15999 Register all profile properties in the default config source
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/MapBuildTimeConfigBuildStep.java
  core/test-extension/deployment/src/main/resources/application.properties
  core/test-extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigDefaultValues.java
Labels: area/arc, area/config, area/core, triage/backport?

#16046 Update cli tooling docs to latest rev and enable it on the site
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/tooling.adoc
Labels: area/cli, area/documentation, triage/waiting-for-ci

#15783 Document how to connect to Cloud SQL
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
Labels: area/documentation, triage/waiting-for-ci

#16421 CI, JVM tests: abort surefire execution after 10 mins
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#16417 Fix OIDC web auth docs
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation, triage/backport?

#16423 Try to stabilize native build on Windows
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#16424 CI: Introduce COMMON_MAVEN_ARGS with --fail-at-end
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/waiting-for-ci

#16428 Fix websockets class loading issue
  extensions/websockets/runtime/src/main/java/io/quarkus/undertow/websockets/runtime/WebsocketRecorder.java
Labels: area/websockets, triage/backport?

#16431 Service account is also applied to RevisionSpec
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyServiceAccountToRevisionSpecDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithSecretConfigTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-with-secret-config.properties
Labels: area/kubernetes, triage/waiting-for-ci

#16426 Make sure class is only processed once
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
Labels: area/testing, triage/backport?

#16436 JS for all-config guide page
  docs/src/main/asciidoc/javascript/config.js
Labels: area/documentation, triage/backport?

#16434 Handle RejectedOperationException in Mutiny infrastructure on shutdown
  extensions/mutiny/runtime/src/main/java/io/quarkus/mutiny/runtime/MutinyInfrastructure.java
Labels: area/mutiny, area/smallrye, triage/backport?, triage/waiting-for-ci

#16324 Allow skipping OIDC issuer verification
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
Labels: area/documentation, area/oidc, triage/backport?

#16377 Micrometer cors
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/HttpDevModeConfigTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/HttpWithLimitedUriTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagCorsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagWithHttpApplicationRootTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagWithHttpRootTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriWithMaxTagMeterFilterTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/HelloResource.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/Util.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/VertxWebEndpoint.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RequestMetricInfo.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/HttpRequestMetric.java
Labels: area/metrics, triage/backport?

#16443 Detect native image build with com.oracle.graalvm.isaot
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
Labels: area/hibernate-search

#16261 Add workaround to generated projects for maven.compiler.parameters problem in IntelliJ IDEA
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
  integration-tests/devtools/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/pom.xml
  integration-tests/devtools/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateMavenWithCustomDep/pom.xml
Labels: area/devtools, area/platform, triage/backport?

#16440 Avoid unnecessary exception wrapping in NativeTestExtension.throwBootFailureException
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
Labels: triage/backport?, triage/waiting-for-ci

#16447 Bump gizmo in resteasy-reactive to 1.0.7.Final
  independent-projects/resteasy-reactive/pom.xml
Labels: triage/backport?, triage/waiting-for-ci

#16452 Disable Hibernate Reactive until properly released
  .github/native-tests.json
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  extensions/panache/pom.xml
  extensions/pom.xml
  integration-tests/pom.xml
  pom.xml
Labels: area/devtools, area/documentation, area/infra-automation, area/panache, triage/waiting-for-ci

#16165 Fix issue with hang detection
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport?, triage/waiting-for-ci

#16460 HTTP/2 + BodyHandler fix
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/backport?

#16438 Fix race condition on reactive client with streaming and SSE responses
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseEventSourceImpl.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#16302 Junit5 parameter: Introduce serialization alternative to XStream
  integration-tests/main/src/test/java/io/quarkus/it/main/ParameterResolverTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/SerializationDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/SerializationWithXStreamFallbackDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
Labels: area/testing

#16432 Add the ability to configure the maximum form attribute size
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/AbstractMultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/LargerThanDefaultFormAttributeMultipartFormInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/TooLargeFormAttributeMultipartFormInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/resources/larger-than-default-form-attribute.txt
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/MultipartFormHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/resteasy-reactive, area/vertx, triage/backport?, triage/waiting-for-ci

#16313 Support mocking PanacheEntityBase.persist static methods
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntityBase.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/ReactivePanacheMongoEntityBase.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/PanacheEntityClassOperationGenerationVisitor.java
  extensions/panache/panache-common/runtime/src/main/java/io/quarkus/panache/common/impl/GenerateBridge.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheMockingTest.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/PanacheMockingTest.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/person/MockableReactivePersonRepository.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/person/ReactivePersonEntity.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheMockingTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheMockingTest.java
Labels: area/mongodb, area/panache, triage/backport?

#16468 Qute - remove deprecated annotations from the io.quarkus.qute.api pkg
  docs/src/main/asciidoc/qute.adoc
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/InjectionTest.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateProducer.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Names.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/api/CheckedTemplate.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/api/ResourcePath.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  extensions/resteasy-classic/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/HelloResource.java
  extensions/resteasy-classic/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/ItemResource.java
  extensions/resteasy-classic/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/MissingTemplateResource.java
  extensions/resteasy-classic/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/Templates.java
  extensions/resteasy-classic/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/TypeErrorResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/src/test/java/io/quarkus/resteasy/reactive/qute/deployment/HelloResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/src/test/java/io/quarkus/resteasy/reactive/qute/deployment/MissingTemplateResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/src/test/java/io/quarkus/resteasy/reactive/qute/deployment/Templates.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/src/test/java/io/quarkus/resteasy/reactive/qute/deployment/TypeErrorResource.java
  integration-tests/qute/src/main/java/io/quarkus/it/qute/NotFoundExceptionMapper.java
Labels: area/documentation, area/housekeeping, area/qute, area/resteasy-reactive

#16462 Remove FunctionGaugeSupport
  extensions/micrometer/runtime/src/main/java/io/smallrye/metrics/api/FunctionGaugeSupport.java
Labels: area/metrics

#16388 Oidc-Client: Allow named injections of OidcClients and Tokens
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/OidcClientRequestFilter.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientNamesBuildItem.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/KeycloakRealmUserPasswordManager.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/NamedOidcClientInjectionTestCase.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/NamedOidcClientResource.java
  extensions/oidc-client/deployment/src/test/resources/application-named-oidc-client-credentials.properties
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/NamedOidcClient.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/AbstractTokensProducer.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientBuildTimeConfig.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/TokensProducer.java
Labels: area/documentation, area/oidc, triage/waiting-for-ci

#16474 Update bot for SmallRye Metrics, Micrometer, Tracing
  .github/quarkus-bot.yml
Labels: area/documentation, area/infra-automation, area/qute, area/resteasy-reactive

#16446 Do the correct challenge when more than one auth mechanism is used
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/JwtAuthUnitTest.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMechanism.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/CombinedFormBasicAuthTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/BasicAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpCredentialTransport.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc, area/smallrye, area/vertx

#16486 Backport 16377
  extensions/micrometer/deployment/pom.xml
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/HttpBinderProcessor.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/HttpDevModeConfigTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagCorsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriWithMaxTagMeterFilterTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/HelloResource.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/PingPongResource.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/ServletEndpoint.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/Util.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/VertxWebEndpoint.java
  extensions/micrometer/runtime/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpCommonTags.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RequestMetricInfo.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetricsListener.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/HttpRequestMetric.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderContainerFilterUtil.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRestEasyContainerFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRestEasyReactiveContainerFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderUndertowServletFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterFilter.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/RequestMetricInfoTest.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetricsTest.java
Labels: area/metrics

#16481 Fix case of Kafka ServiceBinging properties
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaBindingConverter.java
  integration-tests/kafka-snappy/src/test/resources/k8s-sb/some-kafka/bootstrapServers
Labels: area/kafka, triage/backport?, triage/waiting-for-ci

#16435 Attempt to fix the Kafka flaky tests
  .github/dependabot.yml
  .github/native-tests.json
  bom/test/pom.xml
  integration-tests/kafka-avro/pom.xml
  integration-tests/kafka-avro/src/main/java/io/quarkus/it/kafka/avro/AvroEndpoint.java
  integration-tests/kafka-avro/src/main/java/io/quarkus/it/kafka/avro/AvroKafkaCreator.java
  integration-tests/kafka-avro/src/main/resources/application.properties
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaAndSchemaRegistryTestResource.java
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaAvroIT.java
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaAvroTest.java
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/SchemaRegistryTestResource.java
  integration-tests/kafka-sasl/pom.xml
  integration-tests/kafka-sasl/src/main/java/io/quarkus/it/kafka/sasl/SaslKafkaEndpoint.java
  integration-tests/kafka-sasl/src/main/resources/application.properties
  integration-tests/kafka-sasl/src/test/java/io/quarkus/it/kafka/KafkaSASLTestResource.java
  integration-tests/kafka-sasl/src/test/java/io/quarkus/it/kafka/SaslKafkaConsumerIT.java
  integration-tests/kafka-sasl/src/test/java/io/quarkus/it/kafka/SaslKafkaConsumerTest.java
  integration-tests/kafka-sasl/src/test/resources/server.properties
  integration-tests/kafka-snappy/pom.xml
  integration-tests/kafka-snappy/src/main/java/io/quarkus/it/kafka/KafkaConsumerManager.java
  integration-tests/kafka-snappy/src/main/java/io/quarkus/it/kafka/KafkaProducerManager.java
  integration-tests/kafka-snappy/src/main/java/io/quarkus/it/kafka/codecs/CodecEndpoint.java
  integration-tests/kafka-snappy/src/test/java/io/quarkus/it/kafka/KafkaSnappyConsumerTest.java
  integration-tests/kafka-snappy/src/test/java/io/quarkus/it/kafka/KafkaSnappyProducerTest.java
  integration-tests/kafka-snappy/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
  integration-tests/kafka-ssl/pom.xml
  integration-tests/kafka-ssl/src/main/java/io/quarkus/it/kafka/ssl/SslKafkaEndpoint.java
  integration-tests/kafka-ssl/src/main/resources/application.properties
  integration-tests/kafka-ssl/src/test/java/io/quarkus/it/kafka/KafkaSSLTestResource.java
  integration-tests/kafka-ssl/src/test/java/io/quarkus/it/kafka/SslKafkaConsumerITCase.java
  integration-tests/kafka-ssl/src/test/java/io/quarkus/it/kafka/SslKafkaConsumerTest.java
  integration-tests/kafka-ssl/src/test/resources/README.md
  integration-tests/kafka-ssl/src/test/resources/kafka-keystore.p12
  integration-tests/kafka-ssl/src/test/resources/kafka-truststore.p12
  integration-tests/kafka-ssl/src/test/resources/server.properties
  integration-tests/kafka-streams/pom.xml
  integration-tests/kafka-streams/src/main/resources/application.properties
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaSSLTestResource.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsCdiEventTest.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsPropertiesTest.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsStartupFailureTest.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsTest.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaTestResource.java
  integration-tests/kafka-streams/src/test/resources/server.properties
  integration-tests/kafka/pom.xml
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/KafkaConsumerManager.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/KafkaProducerManager.java
  integration-tests/kafka/src/main/java/io/quarkus/it/kafka/codecs/CodecEndpoint.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaConsumerTest.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaProducerTest.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaSASLTestResource.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaSSLTestResource.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/SslKafkaConsumerTest.java
  integration-tests/pom.xml
  integration-tests/reactive-messaging-kafka/pom.xml
  integration-tests/reactive-messaging-kafka/src/main/resources/application.properties
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
Labels: area/dependencies, area/infra-automation, area/kafka, area/kafka-streams

#16398 Use the platform descriptor generating plugin from quarkus-platform-bom-maven-plugin
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/bom-descriptor-json/pom.xml
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/GenerateExtensionsJsonMojo.java
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/GeneratePlatformDescriptorJsonMojo.java
  pom.xml
Labels: area/dependencies, area/devtools

#16445 Update GraalVM parsing to support upcoming 21.1
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStepTest.java
Labels: area/core

#16418 Remove JDK 8
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/release-build.yml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  devtools/gradle/build.gradle
  devtools/maven/pom.xml
  extensions/grpc/deployment/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/revapi/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/gradle/build.gradle
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/build.gradle.kts
  integration-tests/gradle/src/test/resources/add-extension-multi-module/build.gradle
  integration-tests/gradle/src/test/resources/multi-module-with-empty-module/build.gradle.kts
  integration-tests/grpc-mutual-auth/pom.xml
  integration-tests/grpc-tls/pom.xml
  pom.xml
Labels: area/arc, area/core, area/dependencies, area/devtools, area/gradle, area/grpc, area/infra-automation, area/maven, area/platform

#16296 Provide Redis hosts programmatically
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisClientProcessor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/RedisHostsProvider.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientUtil.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisConfig.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/RedisLocalHostProvider.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/RedisWithProvidedHostsResource.java
  integration-tests/redis-client/src/main/resources/application.properties
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisWithProvidedHostsIT.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisWithProvidedHostsTest.java
Labels: area/redis

#16467 Upgrade to Hibernate Search 6.0.3.Final
  bom/application/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/search/HibernateSearchTestResource.java
Labels: area/dependencies, area/hibernate-search, triage/backport?

#16502 Update quarkus-oidc and quarkus-oidc-client to enable SSL in Native
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  integration-tests/oidc/pom.xml
Labels: area/oidc, triage/backport?, triage/waiting-for-ci

#16509 Enhanced codestart description for logging-json
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/logging-json/codestart.yml
Labels: area/devtools

#16459 java.lang.Error should rollback the JTA transaction
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/interceptor/TestException.java
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/interceptor/TestXAResource.java
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/interceptor/TransactionalTest.java
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/interceptor/TxAssertionData.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorBase.java
Labels: area/narayana, triage/backport?, triage/waiting-for-ci

#16515 Raise log level to warn there's no topology found
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
Labels: area/kafka-streams

#16506 Hibernate Reactive, re-enabled as version 1.0.0.CR2
  .github/native-tests.json
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  extensions/hibernate-reactive/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/DuplicateIdEntityTest.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/NoConfigTest.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/resources/application.properties
  extensions/panache/pom.xml
  extensions/pom.xml
  integration-tests/pom.xml
Labels: area/dependencies, area/devtools, area/documentation, area/hibernate-reactive, area/infra-automation, area/panache, area/persistence

#16513 Update JWT docs to reference Mp JWT 1.2 properties
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation

#16516 Remove NULL_FILE usage now that we moved to Java 11
  core/deployment/src/main/java/io/quarkus/deployment/ide/Ide.java
  core/deployment/src/main/java/io/quarkus/deployment/ide/IdeUtil.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, triage/waiting-for-ci

#16518 Remove unnecessary ProcessHandle related reflection now that we moved to Java 11
  core/deployment/src/main/java/io/quarkus/deployment/ide/IdeProcessor.java
Labels: area/core, triage/waiting-for-ci

#16494 Fix JAX-RS @Singleton resource with constructor injection
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/ConstructorInjectionResourceTestCase.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/SingletonConstructorInjectionResource.java
Labels: triage/backport?

#16510 ArC - improve the performance of intercepted subclasses
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractInvocationContext.java
Labels: area/arc

#16519 Remove AppCDS warning now that we have moved to Java 11
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
Labels: area/core, triage/waiting-for-ci
