Repository quarkusio/quarkus, pull requests merged in 2021-02, with the labels that each got.

#14723 Fix incorrect JUnit dependency
  extensions/keycloak-admin-client/runtime/pom.xml
  extensions/keycloak-authorization/runtime/pom.xml
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectCodestartMojoIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/packaging/pom.xml
  integration-tests/packaging/src/test/java/io/quarkus/maven/CustomManifestSectionsThinJarTest.java
  integration-tests/packaging/src/test/java/io/quarkus/maven/CustomManifestSectionsUberJarTest.java
Labels: area/maven

#14700 Fix RESTEasy ImageIO leak
  extensions/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/graal/DeleteIIOImageProvider.java
  extensions/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/graal/DeleteIIOImageProviderHelper.java
Labels: area/resteasy, triage/backport?

#14735 CI: Fix cancel-previous-runs in ci-fork-mvn-cache
  .github/workflows/ci-fork-mvn-cache.yml
Labels: area/infra-automation

#14741 Liquibase - Fix NPE with createView
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionConfigDefaultDataSourceTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionConfigMultiDataSourcesTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionConfigNamedDataSourceWithoutDefaultTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionLoadChangeLogTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionMigrateAtStartXmlChangeLogTest.java
  extensions/liquibase/deployment/src/test/resources/db/xml/changeLog.xml
  extensions/liquibase/deployment/src/test/resources/db/xml/create-views.xml
Labels: area/liquibase, triage/backport?

#14680 Update gradle to 6.8.1
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/dependencies, area/devtools, area/gradle, area/platform, triage/waiting-for-ci

#14704 Propagate the `IllegalArgumentException` that can be produced by `org.jboss.jandex.Indexer#index` when the given input-stream is `null`
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
Labels: area/core, triage/backport?

#14742 Make classes that are used as @BeanParam targets unremoveable
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#14358 Update SR Health to 3.0.0
  bom/application/pom.xml
Labels: area/dependencies

#14622 Enhance dev console for hibernate-search extension
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/devconsole/DevConsoleProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/resources/dev-templates/embedded.html
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/resources/dev-templates/entities.html
  extensions/hibernate-search-orm-elasticsearch/runtime/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchDevConsoleRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchSupplier.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
Labels: area/hibernate-search, area/vertx

#14748 Ensure that ServerStringMessageBodyHandler doesn't affect build time resolution of builders
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/JacksonMessageBodyWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/runtime/src/main/java/io/quarkus/resteasy/reactive/jsonb/runtime/serialisers/JsonbMessageBodyWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerMessageBodyWriter.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#14346 Remove ApplyLabelSelectorDecorator from MinikubeHandler
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/MinikubeHandler.java
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/kubernetes/minikube.json
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/resources/application.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/verify.groovy
Labels: area/kubernetes, triage/backport?

#14764 Reverse the platform properties overriding policy
  docs/src/main/asciidoc/platform.adoc
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
Labels: area/devtools, area/documentation, triage/backport?

#14766 Misc cleanup - unused variables, close KubernetesClient, make inner class static
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/JsonCloudEventImpl.java
  extensions/kubernetes-client/runtime/src/test/java/io/quarkus/kubernetes/client/runtime/KubernetesClientUtilsTest.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/jbang/JBangDevModeLauncherImpl.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateExtensionMojoIT.java
Labels: area/devtools, area/funqy, area/jbang, area/kubernetes, area/maven

#14763 Connectors - removal of unused code
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devconsole/Connectors.java
Labels: area/reactive-messaging, area/smallrye, triage/waiting-for-ci

#14655 Add support for AppCDS generation in Jib built container images
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/AppCDSContainerImageBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/LinuxIDUtil.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/invoker.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/src/main/java/org/acme/Hello.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/src/main/resources/application.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/verify.groovy
Labels: area/container-image, area/core

#14782 Add ability to configure response buffer size for RESTEasy
  extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/ContentLengthResource.java
  extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/ContentLengthTestCase.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/ResteasyVertxConfig.java
  extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
Labels: area/resteasy

#14724 Fix instrumentation bug
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedRemoteDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/classic-inst/pom.xml
  integration-tests/maven/src/test/resources/projects/classic-inst/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/classic-inst/src/main/java/org/acme/HelloService.java
  integration-tests/maven/src/test/resources/projects/classic-inst/src/main/resources/META-INF/resources/index.html
Labels: area/core, area/maven, area/resteasy-reactive

#14699 ServiceProviderBuildItem improvements
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ServiceProviderBuildItem.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
Labels: area/core, area/graphql, area/smallrye

#14523 Adds environmentVariables and systemProperties options to the DevMojo
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/dev-mode-env-vars-config/pom.xml
  integration-tests/maven/src/test/resources/projects/dev-mode-env-vars-config/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/dev-mode-sys-props-config/pom.xml
  integration-tests/maven/src/test/resources/projects/dev-mode-sys-props-config/src/main/java/org/acme/HelloResource.java
Labels: area/devtools, area/maven

#14773 Add mutiny-test-utils to Quarkus bom
  bom/application/pom.xml
Labels: area/dependencies

#14708 Support executing specific Quarkus test profiles via the quarkus.test.profile.tags sys-prop
  core/deployment/src/main/java/io/quarkus/deployment/TestConfig.java
  docs/src/main/asciidoc/getting-started-testing.adoc
  integration-tests/spring-web/pom.xml
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/testprofile/NoQuarkusProfileTest.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/testprofile/Profiles.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/testprofile/ShouldAlsoNeverBeExecutedQuarkusTestProfileTest.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/testprofile/ShouldBeExecutedTest.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/testprofile/ShouldNeverBeExecutedQuarkusTestProfileTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestProfile.java
Labels: area/core, area/documentation, area/spring, area/testing

#14772 Update to SmallRye Reactive Messaging 2.8.0
  bom/application/pom.xml
  extensions/reactive-messaging-http/deployment/src/test/java/io/quarkus/reactivemessaging/websocket/sink/app/WebSocketEmitter.java
Labels: area/dependencies

#14768 Replacing deprecated constants from jackson-databind
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/GenerateExtensionsJsonMojo.java
  devtools/platform-descriptor-json/src/main/java/io/quarkus/platform/descriptor/loader/json/impl/QuarkusJsonPlatformDescriptorLoaderImpl.java
  docs/src/main/java/io/quarkus/docs/generation/AllConfigGenerator.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/registry/builder/URLRegistryBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/registry/catalog/model/Repository.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/registry/DefaultExtensionRegistryTest.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/registry/builder/RegistryBuilderTest.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/SampleResponse.java
Labels: area/devtools, area/documentation, area/maven, area/platform

#14527 Fix configuration of listeners and plugins properties
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzExtensionPointConfig.java
  integration-tests/quartz/src/main/resources/application.properties
Labels: area/scheduler

#14778 Set keycloak-authorization proxy url
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerAuthorizer.java
Labels: triage/backport?

#14767 ArC intercepted subclasses - fix bridge methods processing
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bridge/AbstractResource.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bridge/BridgeMethodInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bridge/ExampleApi.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bridge/ExampleResource.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bridge/Simple.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bridge/SimpleInterceptor.java
Labels: area/arc

#14792 Add Optional parameter support in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/src/main/java/io/quarkus/resteasy/reactive/client/deployment/ClientEndpointIndexer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/NewParamsRestResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/IndexedParameter.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/MethodParameter.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/OptionalConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ParameterHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerMethodParameter.java
Labels: area/resteasy-reactive

#14783 Minor Resteasy Reactive Servlet fixes
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ArcThreadSetupAction.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/ServletRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/ServletRequestContextFactory.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/BlockingInputHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/spi/ThreadSetupAction.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/RequestContextFactory.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/InputHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ReadBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerHttpRequest.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/resteasy-reactive

#14805 Fix test in sample gradle projects
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToSingleModuleKtsProjectTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToSingleModuleProjectTest.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/src/main/java/org/acme/ExampleResource.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/src/test/java/org/acme/ExampleResourceTest.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module-kts/src/test/resources/application.properties
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/src/main/java/org/acme/ExampleResource.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/src/main/resources/application.properties
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/src/test/java/org/acme/ExampleResourceTest.java
  integration-tests/gradle/src/test/resources/add-remove-extension-single-module/src/test/resources/application.properties
Labels: area/gradle, triage/waiting-for-ci

#14777 Change ordinal from 150 to 270 in Vault config source
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSourceProvider.java
Labels: area/vault, triage/backport?, triage/waiting-for-ci

#13170 Do not throw an exception when enabling debug for native image if src/main/java does not exist
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/backport?, triage/waiting-for-ci

#14804 Bring smallrye-jwt-build back to quarkus-smallrye-jwt
  docs/src/main/asciidoc/security-jwt.adoc
  extensions/smallrye-jwt/deployment/pom.xml
  extensions/smallrye-jwt/runtime/pom.xml
Labels: area/documentation, area/smallrye, triage/backport?, triage/waiting-for-ci

#14790 Add log stream in Dev UI
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-static/css/bootstrap.min.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/css/logstream.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/bootstrap.bundle.min.js
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/logstream.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanager.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/HistoryHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/JsonFormatter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogStreamFilter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/WebSocketHandler.java
Labels: area/vertx, triage/waiting-for-ci

#14818 Update SR JWT to 3.0.0-RC4 (MP4)
  bom/application/pom.xml
Labels: area/dependencies

#14780 Improve cache performance with MP REST Client
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/RestClientMethodEnhancer.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateAllInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
Labels: area/cache

#14770 Fix duplicate '/' in health subcontext paths
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
Labels: area/health, area/smallrye, triage/backport?

#13804 Add a note on MongoDB Panache doc about query on same field
  docs/src/main/asciidoc/mongodb-panache.adoc
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/package-info.java
Labels: area/documentation, area/mongodb, area/panache

#14315 Add Dockerfile template for distroless in native mode
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.native-distroless
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/dockerfiles/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-native-distroless.ftl
Labels: area/codestarts, area/devtools

#14667 QuarkusUnitTest prints a warning when quarkus-arc-deployment is missing
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/testing

#14817 Disable JTA in Hibernate Reactive
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsUnaffectedEntitiesTest.java
  extensions/hibernate-reactive/deployment/pom.xml
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/NoEntitiesTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/NoJtaTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/singlepersistenceunit/DefaultEntity.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/singlepersistenceunit/SinglePersistenceUnitCdiMutinySessionTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/singlepersistenceunit/SinglePersistenceUnitCdiStageSessionTest.java
  extensions/hibernate-reactive/deployment/src/test/resources/application.properties
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/PreconfiguredReactiveServiceRegistryBuilder.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/ReactiveHibernateInitiatorListProvider.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/customized/QuarkusNoJdbcConnectionProviderInitiator.java
Labels: area/hibernate-orm, area/hibernate-reactive, area/persistence, triage/backport?

#14815 Update to smallrye-jwt-2.4.3
  bom/application/pom.xml
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/dependencies, area/documentation, triage/waiting-for-ci

#14775 When a change to startup related code is made disable dev mode instrumentation
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/classic-inst/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/classic-inst/src/main/java/org/acme/HelloService.java
Labels: area/arc, area/core, area/devtools, area/maven

#14801 Qute message bundles - use locale from the selected variant if needed
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/runtime/src/main/java/io/quarkus/qute/i18n/MessageBundles.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/MessageBundleLocaleFromVariantTest.java
  extensions/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/VariantTemplateTest.java
  extensions/resteasy-qute/runtime/src/main/java/io/quarkus/resteasy/qute/runtime/TemplateResponseFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/src/test/java/io/quarkus/resteasy/reactive/qute/deployment/VariantTemplateTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/runtime/src/main/java/io/quarkus/resteasy/reactive/qute/runtime/TemplateResponseFilter.java
Labels: area/documentation, area/qute, area/resteasy-reactive

#14839 Add utility method for dealing with default packages
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/staticmethods/InterceptedStaticMethodsProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/SimpleJobsDefaultPackage.java
  extensions/scheduler/deployment/src/test/java/SimpleScheduledMethodDefaultPackageTest.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusConsumer.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
Labels: area/arc, area/qute, area/reactive-messaging, area/scheduler, area/smallrye, area/vertx

#14832 Document @RegisterForReflection(targets=)
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation

#14833 LegacyJarRequiredBuildItem for Lambda: get ready for fast-jar as default
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/LegacyJarRequiredBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/FunctionZipProcessor.java
Labels: area/amazon-lambda, area/core

#14816 Allow to configure file.encoding and user.language for native image building
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/backport?

#14784 Make ordinal configurable in Vault config source
  docs/src/main/asciidoc/vault.adoc
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultBootstrapConfig.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSource.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSourceProvider.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultITCase.java
  integration-tests/vault/src/test/resources/application-vault.properties
Labels: area/documentation, area/vault, triage/waiting-for-ci

#14841 Transactional observers - fix log message if JTA not available
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
Labels: area/arc, triage/backport?, triage/waiting-for-ci

#14825 Unpacking the static resources from webjars
  build-parent/pom.xml
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/resources/dev-static/css/bootstrap.min.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/LICENSE.txt
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/attribution.js
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/css/all.min.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-brands-400.eot
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-brands-400.svg
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-brands-400.ttf
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-brands-400.woff
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-brands-400.woff2
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-regular-400.eot
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-regular-400.svg
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-regular-400.ttf
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-regular-400.woff
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-regular-400.woff2
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-solid-900.eot
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-solid-900.svg
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-solid-900.ttf
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-solid-900.woff
  extensions/vertx-http/deployment/src/main/resources/dev-static/fontawesome/webfonts/fa-solid-900.woff2
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/bootstrap.bundle.min.js
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/jquery-3.5.1.min.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
  integration-tests/main/pom.xml
  integration-tests/webjars-locator/pom.xml
Labels: area/dependencies, area/vertx, triage/waiting-for-ci

#14807 Always set quarkus.http.port with port=0
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/RandomPortTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/documentation, area/vertx, triage/waiting-for-ci

#14849 Update SmallRye Config to 1.10.2
  bom/application/pom.xml
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Server.java
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#14858 Enable full SSL support for Keycloak Authorization extension
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakPolicyEnforcerBuildStep.java
Labels: triage/backport?

#14854 Reactive Messaging HTTP: auto register payload classes for reflection
  extensions/reactive-messaging-http/deployment/src/main/java/io/quarkus/reactivemessaging/http/deployment/ReactiveHttpProcessor.java
  extensions/reactive-messaging-http/deployment/src/test/java/io/quarkus/reactivemessaging/http/RegistrationForReflectionTest.java
Labels: area/reactive-messaging

#14864 Add support for Jib's alwaysCacheBaseImage
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/container-image, triage/waiting-for-ci

#14880 Ensure that resume from a worker pool thread doesn't resume on event loop
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/NewParamsRestResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
Labels: area/resteasy-reactive, triage/backport?

#14734 Quartz extension - fix scheduling in the cluster
  docs/src/main/asciidoc/quartz.adoc
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzBuildTimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
Labels: area/documentation, area/scheduler

#14886 Deprecate uberJar mojo parameter and log a warning when used
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/buildtool/maven/base/pom.tpl.qute.xml
  docs/src/main/asciidoc/maven-tooling.adoc
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  integration-tests/maven/src/test/resources/projects/command-mode-app-args-plugin-config/pom.xml
  integration-tests/maven/src/test/resources/projects/ignore-entries-uber-jar/pom.xml
  integration-tests/maven/src/test/resources/projects/uberjar-maven-plugin-config/pom.xml
Labels: area/codestarts, area/devtools, area/documentation, area/maven, triage/backport?

#14882 Fix native-image compilation issue with OpenTracing and RESTEasy Reactive
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_FilterConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_ServletConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_ServletContextConfigSource.java
Labels: area/smallrye, area/tracing, triage/backport?

#14831 Document Reactive DataSource idle-timeout limitation
  docs/src/main/asciidoc/reactive-sql-clients.adoc
Labels: area/documentation

#14843 Ensure MetadataImplementor#validate is not run twice
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/PrevalidatedQuarkusMetadata.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/FastBootReactiveEntityManagerFactoryBuilder.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/PreconfiguredReactiveServiceRegistryBuilder.java
Labels: area/hibernate-orm, area/hibernate-reactive, area/native-image, area/persistence

#14866 Small enhancements in Dev UI Logger
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-static/css/logstream.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/logstream.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanager.html
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/HistoryHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/JsonFormatter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogStreamWebSocket.java
Labels: area/vertx

#14855 OIDC: Create Cookies Secure if cookieForceSecure is enabled
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
Labels: area/oidc, triage/backport?, triage/waiting-for-ci

#14826 ArC - make it possible to turn any annotation into a qualifier
  docs/src/main/asciidoc/cdi-integration.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoInjectFieldProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/QualifierRegistrarBuildItem.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/qualifiers/QualifierRegistrarTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorResolver.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/QualifierRegistrar.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/Components.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ComponentsProvider.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Qualifiers.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/qualifiers/AdditionalQualifiersTest.java
Labels: area/arc, area/documentation

#14697 Forward gRPC context when using @blocking
  extensions/grpc/runtime/pom.xml
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/BlockingServerInterceptor.java
  extensions/grpc/runtime/src/test/java/io/quarkus/grpc/runtime/supports/BlockingServerInterceptorTest.java
  extensions/grpc/runtime/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: area/grpc, triage/backport?

#14890 Fix for scala codestart unit test
  devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/scala/test-resource-template.ftl
Labels: area/codestarts, area/devtools, triage/waiting-for-ci

#14750 Micrometer: rename vertx options to http-server
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/RestClientProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/VertxBinderProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/PrometheusRegistryProcessor.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxWithHttpDisabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxWithHttpEnabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/export/AllRegistriesDisabledTest.java
  extensions/micrometer/runtime/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerRecorder.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpBinderConfiguration.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpMetricsCommon.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRecorder.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/HttpClientConfigGroup.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/HttpServerConfigGroup.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/JsonConfigGroup.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/KafkaConfigGroup.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/MPMetricsConfigGroup.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/MicrometerConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/PrometheusConfigGroup.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/VertxConfigGroup.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/runtime/HttpServerConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/runtime/PrometheusConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/runtime/VertxConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/registry/json/JsonExporter.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetricsTest.java
  integration-tests/micrometer-mp-metrics/src/main/java/io/quarkus/it/micrometer/mpmetrics/MessageResource.java
  integration-tests/micrometer-mp-metrics/src/main/resources/application.properties
  integration-tests/micrometer-mp-metrics/src/test/java/io/quarkus/it/micrometer/mpmetrics/MPMetricsTest.java
  integration-tests/micrometer-prometheus/src/main/resources/application.properties
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
Labels: area/metrics, triage/backport?

#14877 Liquibase: fix missing relative csv, sql, procedure & view files in native
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  integration-tests/liquibase/src/main/resources/db/xml/changeLog.xml
  integration-tests/liquibase/src/main/resources/db/xml/create-views.xml
  integration-tests/liquibase/src/main/resources/db/xml/views/view-abs.sql
  integration-tests/liquibase/src/main/resources/db/xml/views/view-rel.sql
  integration-tests/liquibase/src/test/java/io/quarkus/it/liquibase/LiquibaseFunctionalityTest.java
Labels: area/liquibase, triage/waiting-for-ci

#14894 Avoid retrieving the rendered content using `await` when building a Mail from a Qute template
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateInstanceImpl.java
Labels: area/mutiny, area/qute, kind/bug, triage/backport?

#14896 Support k8s secret/configmaps as smallrye config locations
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithAppConfigMapTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithAppSecretTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-app-config-map.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-app-secret.properties
Labels: area/kubernetes, triage/backport?

#14900 Bump kubernetes-client-bom from 5.0.1 to 5.0.2
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#14901 Bump gradle to 6.8.2
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/dependencies, area/devtools, area/gradle, area/platform, triage/waiting-for-ci

#14907 Upgrade to Hibernate ORM 5.4.27.SP1
  bom/application/pom.xml
Labels: area/dependencies, area/hibernate-orm, priority/urgent, triage/backport?, triage/waiting-for-ci

#14915 Follow the convention for the security-openid-connect-multi-tenancy-quickstart
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation

#14859 Verify behavior of micrometer matchPattern
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpBinderConfiguration.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpRequestMetric.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/runtime/HttpClientConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/runtime/HttpServerConfig.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/HttpRequestMetricTest.java
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/it/micrometer/prometheus/MessageResource.java
  integration-tests/micrometer-prometheus/src/main/resources/application.properties
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
Labels: area/metrics, triage/backport?

#14917 Set the default min-level for logs to DEBUG
  core/runtime/src/main/java/io/quarkus/runtime/logging/CategoryBuildTimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogBuildTimeConfig.java
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/optaplanner.adoc
  docs/src/main/asciidoc/vault-auth.adoc
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth-embedded-encrypted.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth-embedded.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth.properties
  extensions/flyway/deployment/src/test/resources/migrate-at-start-config-named-datasource.properties
  extensions/micrometer/deployment/src/test/resources/test-logging.properties
  extensions/reactive-messaging-http/deployment/src/test/resources/websocket-sink-test-application.properties
  integration-tests/flyway/src/main/resources/application.properties
  integration-tests/hibernate-orm-panache/src/main/resources/nopaging.properties
  integration-tests/hibernate-reactive-panache/src/main/resources/nopaging.properties
  integration-tests/liquibase/src/main/resources/application.properties
  integration-tests/logging-min-level-unset/src/test/java/io/quarkus/it/logging/minlevel/unset/LoggingMinLevelPromoteTest.java
  integration-tests/micrometer-mp-metrics/src/main/resources/application.properties
  integration-tests/mongodb-panache-kotlin/src/main/resources/application.properties
  integration-tests/mongodb-panache/src/main/resources/application.properties
  integration-tests/reactive-pg-client/src/test/resources/application-tl.properties
  integration-tests/vault-agroal/src/test/resources/application-vault-datasource.properties
  integration-tests/vault-app/src/main/resources/application.properties
  integration-tests/vault/src/test/resources/application-vault-approle-wrap.properties
  integration-tests/vault/src/test/resources/application-vault-approle.properties
  integration-tests/vault/src/test/resources/application-vault-client-token-wrap.properties
  integration-tests/vault/src/test/resources/application-vault-kubernetes.properties
  integration-tests/vault/src/test/resources/application-vault-userpass-kvv1-wrap.properties
  integration-tests/vault/src/test/resources/application-vault-userpass-kvv2-wrap.properties
  integration-tests/vault/src/test/resources/application-vault.properties
Labels: area/core, area/documentation, area/flyway, area/liquibase, area/logging, area/metrics, area/mongodb, area/panache, area/reactive, area/security, area/vault, triage/backport?

#14920 1.11.2 backports 3
  bom/application/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/logging/CategoryBuildTimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogBuildTimeConfig.java
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/optaplanner.adoc
  docs/src/main/asciidoc/vault-auth.adoc
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth-embedded-encrypted.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth-embedded.properties
  extensions/elytron-security-properties-file/deployment/src/test/resources/application-custom-auth.properties
  extensions/flyway/deployment/src/test/resources/migrate-at-start-config-named-datasource.properties
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailTemplateInstanceImpl.java
  extensions/micrometer/deployment/src/test/resources/test-logging.properties
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpBinderConfiguration.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpRequestMetric.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/runtime/HttpClientConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/runtime/HttpServerConfig.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/HttpRequestMetricTest.java
  extensions/reactive-messaging-http/deployment/src/test/resources/websocket-sink-test-application.properties
  integration-tests/flyway/src/main/resources/application.properties
  integration-tests/hibernate-orm-panache/src/main/resources/nopaging.properties
  integration-tests/hibernate-reactive-panache/src/main/resources/nopaging.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithAppConfigMapTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithAppSecretTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-app-config-map.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-app-secret.properties
  integration-tests/liquibase/src/main/resources/application.properties
  integration-tests/logging-min-level-unset/src/test/java/io/quarkus/it/logging/minlevel/unset/LoggingMinLevelPromoteTest.java
  integration-tests/micrometer-mp-metrics/src/main/resources/application.properties
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/it/micrometer/prometheus/MessageResource.java
  integration-tests/micrometer-prometheus/src/main/resources/application.properties
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
  integration-tests/mongodb-panache-kotlin/src/main/resources/application.properties
  integration-tests/mongodb-panache/src/main/resources/application.properties
  integration-tests/reactive-pg-client/src/test/resources/application-tl.properties
  integration-tests/vault-agroal/src/test/resources/application-vault-datasource.properties
  integration-tests/vault-app/src/main/resources/application.properties
  integration-tests/vault/src/test/resources/application-vault-approle-wrap.properties
  integration-tests/vault/src/test/resources/application-vault-approle.properties
  integration-tests/vault/src/test/resources/application-vault-client-token-wrap.properties
  integration-tests/vault/src/test/resources/application-vault-kubernetes.properties
  integration-tests/vault/src/test/resources/application-vault-userpass-kvv1-wrap.properties
  integration-tests/vault/src/test/resources/application-vault-userpass-kvv2-wrap.properties
  integration-tests/vault/src/test/resources/application-vault.properties
Labels: area/core, area/dependencies, area/documentation, area/flyway, area/infra, area/kafka, area/kubernetes, area/liquibase, area/logging, area/metrics, area/mongodb, area/panache, area/reactive, area/security, area/vault

#14899 Deprecate --uber-jar option in quarkusBuild task
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/devtools, area/documentation, area/gradle

#14923 Fix Undertow HTTP/2 issue
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
Labels: area/undertow, triage/backport?

#14922 Exclude jboss-logging-jdk
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/logging.adoc
Labels: area/dependencies, area/documentation

#14921 Make sure getDefferredIdentity does not return null
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityAssociation.java
Labels: area/security, triage/backport?

#14857 Upgrade Sentry to 4.1.0
  bom/application/pom.xml
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerCustomTest.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerEnvironmentOptionTests.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerReleaseOptionTests.java
  extensions/logging-sentry/deployment/src/test/java/io/quarkus/logging/sentry/SentryLoggerTest.java
  extensions/logging-sentry/deployment/src/test/resources/application-sentry-logger-custom.properties
  extensions/logging-sentry/runtime/pom.xml
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryConfig.java
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryHandler.java
  extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryHandlerValueFactory.java
Labels: area/dependencies, area/logging

#14681 Add new "examples" parameter to Create & CreateProjectMojo
  devtools/cli/src/main/java/io/quarkus/cli/Create.java
  devtools/cli/src/test/java/io/quarkus/cli/CliTest.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalog.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInput.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
Labels: area/cli, area/devtools, area/maven, area/platform

#14891 Disable flaky test on Windows
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
Labels: area/resteasy-reactive

#14941 Update members of bot label groups
  .github/quarkus-bot-java.yml
  .github/quarkus-bot.yml
Labels: area/infra-automation

#14793 Qute - improve Java array support
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateExtensionMethodBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeInfos.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Types.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/TemplateExtensionMethodsTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/CheckedTemplateArrayParamTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ArrayResolverTest.java
Labels: area/documentation, area/qute

#14903 Update to RestEasy 4.5.9.Final
  bom/application/pom.xml
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/exception/DownstreamServiceClient.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/exception/DownstreamServiceRedirectEndpoint.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/exception/DownstreamServiceUnavailableEndpoint.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/exception/FrontendService.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/exception/RestClientExceptionOriginalBehaviorTest.java
  extensions/rest-client/deployment/src/test/java/io/quarkus/restclient/exception/RestClientExceptionTest.java
Labels: area/dependencies, area/rest-client

#14939 Fix the native httpRoot & nonAppRoot issue
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
Labels: area/graphql, area/health, area/smallrye, area/swagger-ui, triage/backport?, triage/waiting-for-ci

#14938 Turn off CORS headers appended by the Metrics handler
  bom/application/pom.xml
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java
Labels: area/dependencies, area/metrics, area/smallrye

#14947 Fix potential IllegalArgumentException
  extensions/consul-config/runtime/src/main/java/io/quarkus/consul/config/runtime/ConsulConfigSourceProvider.java
Labels: triage/waiting-for-ci

#14929 Mark Resteasy Qute with code starter
  extensions/resteasy-qute/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/qute, triage/backport?, triage/waiting-for-ci

#14893 Update to Smallrye JWT 3.0.0-RC5
  bom/application/pom.xml
  docs/src/main/asciidoc/security-jwt.adoc
  extensions/smallrye-jwt-build/deployment/src/test/resources/application.properties
  extensions/smallrye-jwt/deployment/src/test/resources/applicationDefaultGroupsSignEncrypt.properties
  extensions/smallrye-jwt/deployment/src/test/resources/applicationJwtCookie.properties
  extensions/smallrye-jwt/deployment/src/test/resources/applicationJwtCookieDev.properties
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/main/resources/application.properties
Labels: area/dependencies, area/documentation, area/smallrye

#14925 Fix quarkus websocket guide, failing test
  docs/src/main/asciidoc/websockets.adoc
Labels: area/documentation

#14942 Funqy Google Cloud Functions codestart
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/funqy-google-cloud-functions-example/base/README.tpl.qute.md
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/funqy-google-cloud-functions-example/codestart.yml
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/funqy-google-cloud-functions-example/java/src/main/java/org/acme/funqygooglecloudfunctions/GreetingFunctions.java
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/funqy-google-cloud-functions-example/java/src/main/java/org/acme/funqygooglecloudfunctions/GreetingService.java
  extensions/funqy/funqy-google-cloud-functions/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/funqy-google-cloud-functions/src/main/java/io/quarkus/funqy/gcp/functions/test/Greeting.java
  integration-tests/funqy-google-cloud-functions/src/main/java/io/quarkus/funqy/gcp/functions/test/Identity.java
Labels: area/codestarts, area/devtools, area/funqy, area/maven

#14895 ConsumeEvent - defer request context destruction for async return types
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusConsumer.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/deployment/RequestContextTerminationTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/EventConsumerInvoker.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
Labels: area/vertx, triage/waiting-for-ci

#14916 Update smallrye openapi to 2.0.20
  bom/application/pom.xml
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiConfig.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
  integration-tests/amazon-lambda-http-v1/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaV1SimpleTestCase.java
  integration-tests/amazon-lambda-http/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
  integration-tests/virtual-http-resteasy/src/test/java/io/quarkus/it/virtual/FunctionTest.java
Labels: area/amazon-lambda, area/dependencies, area/resteasy, area/swagger-ui, triage/waiting-for-ci

#14913 More diagnostic output when checking for proper docker setup
  core/deployment/src/main/java/io/quarkus/deployment/util/ExecUtil.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerWorking.java
Labels: area/container-image, area/core

#14958 Remove field that can cause GraalVM to fail
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_FilterConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_ServletConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_ServletContextConfigSource.java
Labels: area/smallrye, area/tracing, triage/backport?

#14956 Load JDBC drivers parent first
  extensions/jdbc/jdbc-db2/runtime/pom.xml
  extensions/jdbc/jdbc-derby/runtime/pom.xml
  extensions/jdbc/jdbc-h2/runtime/pom.xml
  extensions/jdbc/jdbc-mariadb/runtime/pom.xml
  extensions/jdbc/jdbc-mssql/runtime/pom.xml
  extensions/jdbc/jdbc-mysql/runtime/pom.xml
  extensions/jdbc/jdbc-postgresql/runtime/pom.xml
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusClassloaderProtectionDomainTest.java
Labels: area/persistence

#14964 Minimal change in JavaDoc
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestProfile.java
Labels: area/testing

#14937 Qute - force getters access for panache entities
  extensions/qute/deployment/pom.xml
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: area/qute

#14946 Do not produce KubernetesClient if we have OpenShiftClient available
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientProducer.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigProducer.java
  extensions/openshift-client/deployment/src/main/java/io/quarkus/openshift/client/deployment/OpenShiftClientProcessor.java
  integration-tests/openshift-client/src/main/java/io/quarkus/it/openshift/client/Routes.java
Labels: area/core, area/documentation, area/kubernetes, triage/backport?, triage/waiting-for-ci

#14963 Upgrade to Hibernate ORM 5.4.28.Final
  bom/application/pom.xml
Labels: area/dependencies, area/hibernate-orm, triage/waiting-for-ci

#14908 Fix Flyway extension in relation with GraalVM master
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/graal/FeatureDetectorSubstitutions.java
Labels: area/flyway

#14873 Allow further configuration of Elasticsearch RestClient through HttpClientConfigCallback
  docs/src/main/asciidoc/elasticsearch.adoc
  extensions/elasticsearch-rest-client/deployment/pom.xml
  extensions/elasticsearch-rest-client/deployment/src/test/java/io/quarkus/elasticsearch/restclient/lowlevel/runtime/ElasticsearchClientConfigTest.java
  extensions/elasticsearch-rest-client/runtime/src/main/java/io/quarkus/elasticsearch/restclient/lowlevel/ElasticsearchClientConfig.java
  extensions/elasticsearch-rest-client/runtime/src/main/java/io/quarkus/elasticsearch/restclient/lowlevel/runtime/RestClientBuilderHelper.java
Labels: area/documentation, area/elasticsearch, area/hibernate-search

#14852 Add support for Multipart requests in RESTEasy Reactive
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FormData.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/resources/test.html
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/DotNames.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/MultipartPopulatorGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/MultipartTransformer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusServerEndpointIndexer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/FormData.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/FormDataBase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/OtherFormData.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/OtherFormDataBase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/OtherMultipartResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/Status.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/other/OtherPackageFormDataBase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/resources/test.html
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/resources/test.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/BlockingInputHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/MultipartFormHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRuntimeRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/multipart/MultipartSupport.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/multipart/QuarkusFileUpload.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/BodyConfig.java
  extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/UploadsDirectoryTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/TypeArgMapper.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/MultipartForm.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/PartType.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ParameterType.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceMethod.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/multipart/FileUpload.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/Deployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/InjectParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/CustomServerRestHandlers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/injection/ResteasyReactiveInjectionContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/injection/ResteasyReactiveInjectionTarget.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/RuntimeConfigurableServerRestHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/RuntimeConfiguration.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/documentation, area/resteasy-reactive, area/vertx, release/breaking-change, triage/backport?

#14975 1.11.3 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientProducer.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigProducer.java
  extensions/openshift-client/deployment/src/main/java/io/quarkus/openshift/client/deployment/OpenShiftClientProcessor.java
  extensions/resteasy-qute/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityAssociation.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_FilterConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_ServletConfigSource.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/graal/Target_org_jboss_resteasy_microprofile_config_ServletContextConfigSource.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  integration-tests/openshift-client/src/main/java/io/quarkus/it/openshift/client/Routes.java
Labels: area/core, area/dependencies, area/documentation, area/graphql, area/health, area/infra, area/kubernetes, area/qute, area/security, area/smallrye, area/swagger-ui, area/tracing, area/undertow

#14309 Improve Config Console
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ConfigEditorProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/config.html
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleConfigEditorTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescription.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsSupplier.java
Labels: area/vertx

#14979 Fix gradle plugin compilation warnings
  devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
Labels: area/devtools, area/gradle, triage/waiting-for-ci

#14978 Upgrade to Hibernate Reactive 1.0.0.Beta4
  bom/application/pom.xml
Labels: area/dependencies, area/hibernate-reactive, triage/backport?, triage/waiting-for-ci

#14746 Move the Spring Cloud Config server to vert.x instead of Apache HTTP client
  extensions/spring-cloud-config-client/runtime/pom.xml
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/DefaultSpringCloudConfigClientGateway.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientGateway.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigServerClientConfigSourceProvider.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/VertxSpringCloudConfigGateway.java
  extensions/spring-cloud-config-client/runtime/src/test/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientGatewayTest.java
Labels: area/spring, triage/waiting-for-ci

#14945 Adding some color to the Dev UI cards
  extensions/vertx-http/deployment/src/main/resources/dev-templates/index.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/tags/actionableExtension.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/tags/nonActionableExtension.html
Labels: area/vertx, triage/backport?, triage/waiting-for-ci

#14969 Remove jcenter repository references in gradle projects
  CONTRIBUTING.md
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/build.gradle.kts
  integration-tests/gradle/src/test/resources/add-extension-multi-module/build.gradle
  integration-tests/gradle/src/test/resources/add-extension-multi-module/settings.gradle
  integration-tests/gradle/src/test/resources/basic-multi-module-project-test-setup/build.gradle
  integration-tests/gradle/src/test/resources/basic-multi-module-project-test-setup/settings.gradle
  integration-tests/gradle/src/test/resources/basic-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/basic-multi-module-project/settings.gradle
  integration-tests/gradle/src/test/resources/custom-filesystem-provider/build.gradle
  integration-tests/gradle/src/test/resources/custom-filesystem-provider/settings.gradle
  integration-tests/gradle/src/test/resources/grpc-include-project/build.gradle
  integration-tests/gradle/src/test/resources/grpc-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/grpc-multi-module-project/settings.gradle
  integration-tests/gradle/src/test/resources/implementation-files/build.gradle
  integration-tests/gradle/src/test/resources/implementation-files/settings.gradle
  integration-tests/gradle/src/test/resources/jandex-basic-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/jandex-basic-multi-module-project/settings.gradle
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/settings.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-module/settings.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-multi-module/settings.gradle
  integration-tests/gradle/src/test/resources/test-resources-in-build-steps/build.gradle
  integration-tests/gradle/src/test/resources/test-resources-in-build-steps/settings.gradle
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/settings.gradle
Labels: area/gradle, triage/backport-1.11?, triage/backport?

#14970 Add quarkus-smallrye-opentracing to an integration test without Undertow
  integration-tests/smallrye-config/pom.xml
Labels: triage/backport-1.11?, triage/backport?

#14974 Qute parser fix - tag delimiter is used in a string literal in a tag
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: triage/backport?

#14988 Upgrade to Hibernate Search 6.0.1.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#14976 Fixed non-working delay for oidc-client
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
Labels: triage/backport?, triage/waiting-for-ci

#14995 1.11.3 backports 2
  CONTRIBUTING.md
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ConfigEditorProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/config.html
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleConfigEditorTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescription.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsSupplier.java
  integration-tests/gradle/src/test/resources/add-extension-multi-module-kts/build.gradle.kts
  integration-tests/gradle/src/test/resources/add-extension-multi-module/build.gradle
  integration-tests/gradle/src/test/resources/add-extension-multi-module/settings.gradle
  integration-tests/gradle/src/test/resources/basic-multi-module-project-test-setup/build.gradle
  integration-tests/gradle/src/test/resources/basic-multi-module-project-test-setup/settings.gradle
  integration-tests/gradle/src/test/resources/basic-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/basic-multi-module-project/settings.gradle
  integration-tests/gradle/src/test/resources/custom-filesystem-provider/build.gradle
  integration-tests/gradle/src/test/resources/custom-filesystem-provider/settings.gradle
  integration-tests/gradle/src/test/resources/grpc-include-project/build.gradle
  integration-tests/gradle/src/test/resources/grpc-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/grpc-multi-module-project/settings.gradle
  integration-tests/gradle/src/test/resources/implementation-files/build.gradle
  integration-tests/gradle/src/test/resources/implementation-files/settings.gradle
  integration-tests/gradle/src/test/resources/jandex-basic-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/jandex-basic-multi-module-project/settings.gradle
  integration-tests/gradle/src/test/resources/multi-module-parent-dependency/settings.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-module/settings.gradle
  integration-tests/gradle/src/test/resources/test-fixtures-multi-module/settings.gradle
  integration-tests/gradle/src/test/resources/test-resources-in-build-steps/build.gradle
  integration-tests/gradle/src/test/resources/test-resources-in-build-steps/settings.gradle
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/build.gradle
  integration-tests/gradle/src/test/resources/uber-jar-for-multi-module-project/settings.gradle
  integration-tests/smallrye-config/pom.xml
Labels: area/gradle, area/infra, area/resteasy-reactive, area/vertx

#14711 Support more than one custom annotation which registers MP REST Client provider
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientAnnotationProviderBuildItem.java
  extensions/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/pom.xml
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/rest-client-custom-headers/deployment/pom.xml
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/rest-client-custom-headers/deployment/src/main/java/org/acme/deployment/ExtensionBuildStep.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/rest-client-custom-headers/pom.xml
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/rest-client-custom-headers/runtime/pom.xml
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/rest-client-custom-headers/runtime/src/main/java/org/acme/CustomHeader1.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/rest-client-custom-headers/runtime/src/main/java/org/acme/CustomHeader1Filter.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/rest-client-custom-headers/runtime/src/main/java/org/acme/CustomHeader2.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/rest-client-custom-headers/runtime/src/main/java/org/acme/CustomHeader2Filter.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/runner/pom.xml
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/runner/src/main/java/org/acme/DownstreamService.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/runner/src/main/java/org/acme/DownstreamServiceClient.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/runner/src/main/java/org/acme/FrontendService.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/runner/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/runner/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/runner/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources/projects/rest-client-custom-headers-extension/runner/src/main/resources/application.properties
  integration-tests/oidc-token-propagation/pom.xml
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/ServiceAccountService.java
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/TokenPropagationService.java
  integration-tests/oidc-token-propagation/src/main/resources/application.properties
  integration-tests/oidc-token-propagation/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-token-propagation/src/test/java/io/quarkus/it/keycloak/OidcTokenPropagationTest.java
Labels: area/maven, area/rest-client, triage/backport?

#13218 Speed up CI "Initial JDK 11 Build" & fix some dependency gaps
  .github/workflows/ci-actions.yml
  CONTRIBUTING.md
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  update-extension-dependencies.sh
Labels: area/cli, area/devtools, area/documentation, area/infra-automation

#14987 Remove uberJar Maven/Gradle param & quarkus.package.uber-jar property
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  extensions/funqy/funqy-google-cloud-functions/deployment/src/main/java/io/quarkus/funqy/gcp/functions/deployment/bindings/CloudFunctionsDeploymentBuildStep.java
  extensions/google-cloud-functions-http/deployment/src/main/java/io/quarkus/gcp/functions/http/deployment/CloudFunctionsDeploymentBuildStep.java
  extensions/google-cloud-functions/deployment/src/main/java/io/quarkus/gcp/functions/deployment/CloudFunctionDeploymentBuildStep.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/packaging/src/test/java/io/quarkus/maven/CustomManifestSectionsUberJarTest.java
  integration-tests/packaging/src/test/resources/projects/custom-manifest-section/custom-manifest-thin.properties
  integration-tests/packaging/src/test/resources/projects/custom-manifest-section/custom-manifest-uber.properties
  integration-tests/packaging/src/test/resources/projects/custom-manifest-section/no-custom-manifest-thin.properties
  integration-tests/packaging/src/test/resources/projects/custom-manifest-section/no-custom-manifest-uber.properties
Labels: area/core, area/devtools, area/funqy, area/google-cloud-functions, area/gradle, area/maven, release/breaking-change

#14982 Remove NativeImageMojo
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageMojo.java
  extensions/amazon-lambda-http-v1/maven-archetype/src/main/resources/archetype-resources/pom.xml
  independent-projects/tools/devtools-common/src/main/resources/codestarts/quarkus-extension/code/integration-test/java/integration-test/pom.tpl.qute.xml
  integration-tests/amazon-lambda-http-v1/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/pom.xml
Labels: area/amazon-lambda, area/devtools, area/kubernetes, area/maven, area/platform, release/breaking-change

#15003 Clean up maven compiler parameters flag usage
  build-parent/pom.xml
  core/pom.xml
  core/test-extension/pom.xml
  extensions/mailer/deployment/pom.xml
  extensions/panache/hibernate-orm-panache-common/deployment/pom.xml
  extensions/panache/hibernate-orm-panache/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache-common/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache/deployment/pom.xml
  extensions/qute/deployment/pom.xml
  extensions/resteasy-qute/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/pom.xml
  integration-tests/artemis-core/pom.xml
  integration-tests/artemis-jms/pom.xml
  integration-tests/bouncycastle-fips-jsse/pom.xml
  integration-tests/bouncycastle-fips/pom.xml
  integration-tests/bouncycastle-jsse/pom.xml
  integration-tests/bouncycastle/pom.xml
  integration-tests/elytron-security-oauth2/pom.xml
  integration-tests/elytron-security/pom.xml
  integration-tests/hibernate-orm-panache/pom.xml
  integration-tests/hibernate-orm-rest-data-panache/pom.xml
  integration-tests/hibernate-reactive-panache/pom.xml
  integration-tests/hibernate-validator/pom.xml
  integration-tests/jgit/pom.xml
  integration-tests/jsch/pom.xml
  integration-tests/jsonb/pom.xml
  integration-tests/kafka-avro/pom.xml
  integration-tests/kafka-streams/pom.xml
  integration-tests/kafka/pom.xml
  integration-tests/mailer/pom.xml
  integration-tests/main/pom.xml
  integration-tests/mongodb-rest-data-panache/pom.xml
  integration-tests/picocli/pom.xml
  integration-tests/reactive-messaging-amqp/pom.xml
  integration-tests/reactive-messaging-kafka/pom.xml
  integration-tests/rest-client/pom.xml
  integration-tests/smallrye-metrics/pom.xml
  integration-tests/spring-boot-properties/pom.xml
  integration-tests/spring-data-rest/pom.xml
  integration-tests/spring-web/pom.xml
  integration-tests/tika/pom.xml
Labels: area/artemis, area/core, area/dependencies, area/hibernate-validator, area/housekeeping, area/kafka, area/kafka-streams, area/panache, area/qute, area/resteasy-reactive, area/security, area/spring, area/tika, triage/waiting-for-ci

#14949 Azure Functions upgrade and java 11
  bom/application/pom.xml
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/azure-functions-http-example/base/azure-config/function.tpl.qute.json
  devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/azure-functions-http-example/base/pom.tpl.qute.xml
  docs/src/main/asciidoc/azure-functions-http.adoc
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/azure-config/function.json
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFunction.java
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/Function.java
Labels: area/codestarts, area/dependencies, area/devtools, area/documentation

#15005 SecurityIdentityAssociation's identity not set by event fired from Undertow
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
Labels: area/undertow

#15023 Make TestHttpEndpoint work for ResteasyReactive
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveServerConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/path/HelloResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/path/RestPathTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveTestHttpProvider.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/resources/META-INF/services/io.quarkus.runtime.test.TestHttpEndpointProvider
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveAlternativeTest.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTest.java
Labels: area/documentation, area/resteasy-reactive, area/testing, triage/backport-1.11?, triage/backport?

#15022 Add compiler release 8 to independent-projects
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/revapi/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/dependencies, area/devtools, area/housekeeping, area/platform

#15002 Vertx ConsumeEvent - fix race condition in request context termination
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusConsumer.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/EventConsumerInvoker.java
Labels: area/vertx, triage/backport?

#15015 Update SmallRye OpenTracing to 1.3.5
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-1.11?, triage/backport?

#14957 Add grpc netty keep-alive-time configuration option
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcServerConfiguration.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcServerNettyConfig.java
Labels: area/grpc

#15027 Ensure that Jackson customizers can override settings added by Quarkus added modules
  extensions/jackson/deployment/pom.xml
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/jackson/deployment/src/test/java/io/quarkus/jackson/deployment/OverrideZonedDateTimeSerializerTest.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/ObjectMapperCustomizer.java
Labels: triage/backport-1.11?, triage/backport?, triage/waiting-for-ci

#15029 Fix typo in kubernete docs and knative test
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithVolumesTest.java
Labels: area/documentation, area/kubernetes, triage/backport-1.11?, triage/backport?

#15036 Update doc pointer at the top of .github/quarkus-bot-java.yml
  .github/quarkus-bot-java.yml
Labels: area/infra-automation

#15024 Small Dev-UI logstream changes to allow for better reuse
  extensions/vertx-http/deployment/src/main/resources/dev-static/css/logstream.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/logstream.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanagerLog.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanagerModals.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanagerNav.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogController.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogStreamWebSocket.java
Labels: area/vertx, triage/backport?, triage/waiting-for-ci

#15034 Improve update-extension-dependencies.sh
  .github/workflows/ci-actions.yml
  update-extension-dependencies.sh
Labels: area/housekeeping, area/infra-automation

#15017 Update kotlin generated bytecode to include proper nullability checks and annotations
  extensions/panache/mongodb-panache-kotlin/deployment/pom.xml
  extensions/panache/mongodb-panache-kotlin/deployment/src/test/kotlin/io/quarkus/mongodb/panache/kotlin/deployment/Book.kt
  extensions/panache/mongodb-panache-kotlin/deployment/src/test/kotlin/io/quarkus/mongodb/panache/kotlin/deployment/StudentRepository.kt
  extensions/panache/mongodb-panache-kotlin/deployment/src/test/kotlin/io/quarkus/mongodb/panache/kotlin/deployment/TestEnhancers.java
  extensions/panache/mongodb-panache-kotlin/runtime/pom.xml
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoRepositoryBase.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/test/kotlin/io/quarkus/mongodb/panache/kotlin/TestAnalogs.kt
  extensions/panache/mongodb-panache/runtime/src/test/java/io/quarkus/mongodb/panache/runtime/MongoOperationsTest.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/KotlinPanacheClassVisitor.java
Labels: area/mongodb, area/panache

#15035 Ensure that @Path on an interface with a single impl works as in RESTEasy Classic
  extensions/resteasy-reactive/quarkus-jaxrs-client/deployment/src/main/java/io/quarkus/resteasy/reactive/client/deployment/JaxrsClientProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveCDIProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/InterfaceResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/InterfaceResourceImpl.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResourceScanningResult.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
Labels: area/resteasy-reactive, triage/backport?

#15053 Register implicit Converters for ConfigProperties
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ClassConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/InterfaceConfigPropertiesUtil.java
  integration-tests/main/src/main/java/io/quarkus/it/config/ConfigPropertiesResource.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/ConfigPropertiesTestCase.java
Labels: area/arc, triage/backport-1.11?, triage/backport?

#15045 Do not expand configurations in the ConfigConsole
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsSupplier.java
Labels: area/vertx, triage/backport-1.11?, triage/backport?

#15060 Improve ldap security documentation
  docs/src/main/asciidoc/security-ldap.adoc
Labels: area/documentation

#15043 Removing JavaIOSubstitutions #15039
  core/runtime/src/main/java/io/quarkus/runtime/graal/JavaIOSubstitutions.java
Labels: area/core

#15063 Switch to java.specification.version in JavaVersionUtil, covers XY-ea version of Early Access builds
  core/runtime/src/main/java/io/quarkus/runtime/util/JavaVersionUtil.java
  core/runtime/src/test/java/io/quarkus/runtime/util/JavaVersionUtilTest.java
Labels: area/core

#15054 Fix Jackson Not available at runtime for Dev UI Logstream
  core/deployment/src/main/java/io/quarkus/deployment/util/WebJarUtil.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/Json.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/JsonFormatter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogController.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogStreamWebSocket.java
Labels: area/core, area/vertx, triage/backport?

#15041 Native image - make it possible to generate the dashboard dump file
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/backport?, triage/waiting-for-ci

#15055 Update Smallrye OpenApi to 2.0.21
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-1.11?, triage/backport?

#14785 jpa-security custom password type
  docs/src/main/asciidoc/security-jpa.adoc
  extensions/security-jpa/deployment/src/main/java/io/quarkus/security/jpa/deployment/QuarkusSecurityJpaProcessor.java
  extensions/security-jpa/deployment/src/test/java/io/quarkus/security/jpa/CustomPasswordMapperTest.java
  extensions/security-jpa/deployment/src/test/java/io/quarkus/security/jpa/CustomPasswordProvider.java
  extensions/security-jpa/deployment/src/test/java/io/quarkus/security/jpa/CustomPasswordUserEntity.java
  extensions/security-jpa/deployment/src/test/resources/custom-password-mapper/application.properties
  extensions/security-jpa/deployment/src/test/resources/custom-password-mapper/import.sql
  extensions/security-jpa/runtime/src/main/java/io/quarkus/security/jpa/Password.java
  extensions/security-jpa/runtime/src/main/java/io/quarkus/security/jpa/PasswordProvider.java
  extensions/security-jpa/runtime/src/main/java/io/quarkus/security/jpa/PasswordType.java
  extensions/security-jpa/runtime/src/main/java/io/quarkus/security/jpa/runtime/AbstractJpaIdentityProvider.java
Labels: area/documentation

#14993 Quartz + Scheduler: Allow to use config in Identity field
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/DuplicateIdentityExpressionTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/MissingConfigIdentityExpressionTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/SimpleIdentityTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/DuplicateIdentityExpressionTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/MissingConfigIdentityExpressionTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/SimpleIdentityTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/Scheduled.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerContext.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/util/SchedulerUtils.java
  extensions/spring-scheduled/deployment/src/main/java/io/quarkus/spring/scheduled/deployment/SpringScheduledProcessor.java
Labels: area/documentation, area/scheduler, area/spring

#15071 Upgrade to SR Metrics 3.0.1
  bom/application/pom.xml
Labels: area/dependencies

#15038 Update to SmallRye JWT 3.0.0
  bom/application/pom.xml
Labels: area/dependencies

#14989 MongoDB Update : Allow all update operators
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/runtime/ReactiveMongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/MongoOperations.java
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoCompanion.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoRepositoryBase.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheMongoCompanion.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheMongoRepositoryBase.kt
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoRepositoryBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/ReactivePanacheMongoEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/ReactivePanacheMongoRepositoryBase.java
  extensions/panache/mongodb-panache/runtime/src/test/java/io/quarkus/mongodb/panache/runtime/MongoOperationsTest.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/test/TestImperativeEntity.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/test/TestReactiveEntity.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/test/TestResource.java
Labels: area/mongodb, area/panache
