Repository quarkusio/quarkus, pull requests merged in 2021-12, with the labels that each got.

#21817 Provide contextual error message for incorrect use of @BeanParam
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/beanparam/FailWithAnnotationsInAMethodOfBeanParamTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/beanparam/FailWithNoAnnotationsInBeanParamTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/BeanParamInfo.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/InjectableBean.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#21794 Avoid duplicate calls to getParameterTypes and getGenericParameterTypes
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveMethodBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/proxy/ProxyFactory.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/FunctionInvoker.java
  extensions/google-cloud-functions/runtime/src/main/java/io/quarkus/gcp/functions/QuarkusBackgroundFunction.java
  extensions/narayana-lra/runtime/src/main/java/io/narayana/lra/client/internal/proxy/nonjaxrs/LRAParticipant.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/MethodsCandidate.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/InjectionEnricher.java
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/MethodParameterInjectionPoint.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/persistence, area/core, area/arc, area/infinispan, area/smallrye, area/vertx, area/scheduler, area/amazon-lambda, triage/waiting-for-ci, area/testing, area/reactive-messaging, area/hibernate-orm, area/kafka-streams, area/oidc, area/narayana, area/hibernate-search, area/cache, area/flyway, area/liquibase, area/funqy, area/grpc, area/google-cloud-functions, area/resteasy-reactive

#21824 Add support for custom qualifiers to runtime qualifier validation
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BeanManagerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Qualifiers.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/beanmanager/BeanManagerTest.java
Labels: area/arc

#21829 2.5.1 backports 3
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/GraalVMTest.java
  extensions/amazon-lambda-http/http-event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockHttpEventServer.java
  extensions/amazon-lambda-rest/rest-event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockRestEventServer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateExtensionMethodBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/TemplateExtensionAttributeTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanparam/BeanPathParamTest.java
  independent-projects/arc/pom.xml
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateExtension.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/BeanParamParser.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/UsersResourceOidcRecoveredNoDiscovery.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenOidcRecoveredTest.java
  integration-tests/rest-client-reactive/pom.xml
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/FaultToleranceClient.java
  integration-tests/rest-client-reactive/src/main/resources/application.properties
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: area/core, area/arc, area/infra, area/amazon-lambda, area/oidc, area/dependencies, area/qute, area/resteasy-reactive

#21836 Ensure reading Flyway version works in native mode
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
Labels: area/flyway

#21837 Enable logging of discussion categories
  .github/quarkus-bot.yml
Labels: area/infra-automation

#21839 OpenShift deployment guide - minor changes
  docs/src/main/asciidoc/deploying-to-openshift.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#21776 FAI-681: Integrate TrustyService with Quarkus DevServices services
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceProvider.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/derby/src/main/java/io/quarkus/devservices/derby/deployment/DerbyDevServicesProcessor.java
  extensions/devservices/h2/src/main/java/io/quarkus/devservices/h2/deployment/H2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
Labels: triage/waiting-for-ci, area/kafka

#21832 Log Agroal 'Connection acquired without transaction.' warning with stack trace right away
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalEventLoggingListener.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
Labels: area/agroal

#21805 Support OIDC cookie name suffixes
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#21647 Link to discussions on new issue. Related to #21646
  .github/ISSUE_TEMPLATE/config.yml
Labels: area/infra-automation

#21840 Use Hibernate Reactive's persistAll in Panache
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/AbstractJpaOperations.java
Labels: area/panache, triage/waiting-for-ci

#21838 Fix OOME message related to docker memory limits
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#21820 Move quarkus-devtools-testing to the quarkus-bom as it's used for extension dev
  bom/application/pom.xml
  build-parent/pom.xml
  integration-tests/gradle/pom.xml
  test-framework/maven/pom.xml
Labels: area/gradle, area/maven, area/testing, area/dependencies, triage/backport?

#21846 Fix named datasource handling for dev-services
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceConfigurationHandlerBuildItem.java
  extensions/hibernate-orm/deployment/src/test/resources/application-multiple-persistence-units-annotations.properties
Labels: area/persistence, area/hibernate-orm, area/devservices, triage/backport?

#21723 Optimize ArtifactInfoUtil to more often use the CurateOutcomeBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/util/ArtifactInfoUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/ArcDevConsoleProcessor.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/devconsole/CacheDevConsoleProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayDevConsoleProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devmode/GrpcDevConsoleProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/devconsole/HibernateDevConsoleProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/devconsole/HibernateSearchElasticsearchDevConsoleProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devconsole/InfinispanDevConsoleProcessor.java
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/devconsole/DevConsoleProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/devconsole/LiquibaseDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevConsoleProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/devconsole/ResteasyReactiveDevConsoleProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/devconsole/RestClientReactiveDevConsoleProcessor.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/devconsole/ReactiveMessagingDevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ConfigEditorProcessor.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleRuntimeTemplateInfoBuildItem.java
Labels: area/documentation, area/panache, area/persistence, area/gradle, area/core, area/arc, area/infinispan, area/maven, area/security, area/smallrye, area/vertx, area/scheduler, area/amazon-lambda, area/undertow, area/reactive-messaging, area/hibernate-orm, area/kafka-streams, area/oidc, area/spring, area/platform, area/narayana, area/vault, area/kubernetes, area/hibernate-search, area/dependencies, area/scala, area/devtools, area/cache, area/flyway, area/liquibase, area/funqy, area/grpc, area/elasticsearch, area/tracing, area/metrics, area/codestarts, area/resteasy-reactive

#21842 End Vert.x response before propagating mapped exception in VertxBlockingoutput
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java
Labels: triage/backport?

#21868 Set OIDC introspection result for JWT tokens
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc

#21775 Apply small optimization to Resource Method handler population at startup
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeInterceptorDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
Labels: triage/waiting-for-ci

#21877 Make sure quarkusDev configuration is resolved before quarkusDev task runs
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/gradle, area/devtools

#21785 Export sun.security.internal.spec module for bouncycastle in Java 17
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/JPMSExportBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
Labels: area/core, area/security, area/native-image, env/graalvm-java17

#21886 Export module sun.security.action for DB2 jdbc driver
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
Labels: area/persistence, area/native-image, env/graalvm-java17

#21893 Fix GitHub case in documentation
  docs/src/main/asciidoc/ide-tooling.adoc
  docs/src/main/asciidoc/reactive-routes.adoc
Labels: area/documentation, triage/backport?

#21895 Refactor: addBouncyCastleExportsToNativeImage -> addExportsToNativeImage
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
Labels: area/persistence

#21894 Fix OIDC web-app guide link to the token introspection and user info cache section
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation, triage/backport?

#21887 Do not discover config sources for code generator
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#21885 Add rest client reactive native tests to native-tests.json
  .github/native-tests.json
Labels: triage/waiting-for-ci, area/infra-automation

#21874 Fix the config editor to handle wildcards
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ConfigEditorProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsole.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/config.html
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescription.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsManager.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsSupplier.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsManagerUnitTest.java
Labels: area/vertx

#21900 Arc - when evaluating parameter type information, handle primitive arrays properly
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/nonpublicparams/NonPublicParametersTest.java
Labels: area/arc

#21902 Ensure that configured http port is reflected in open browser options
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
Labels: area/vertx

#21882 Bump gradle version to 7.3.1
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#21863 QUARKUS-1490: Use BuildItem to enable use of TestContainers shared network
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesSharedNetworkBuildItem.java
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/DevServicesApicurioRegistryProcessor.java
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceProvider.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/derby/src/main/java/io/quarkus/devservices/derby/deployment/DerbyDevServicesProcessor.java
  extensions/devservices/h2/src/main/java/io/quarkus/devservices/h2/deployment/H2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesRedisProcessor.java
Labels: area/core, area/infinispan, triage/waiting-for-ci, area/mongodb, area/oidc, area/kafka, area/redis

#21889 Consider blocking reactive messaging methods using @Transactional
  docs/src/main/asciidoc/amqp-reference.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/TransactionalSubscriberTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/blocking/beans/IncomingUsingTransactional.java
Labels: area/documentation, area/smallrye, area/reactive-messaging

#21875 Update the AMQP and Kafka guides with the reduced configuration
  docs/src/main/asciidoc/amqp-reference.adoc
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/kafka-reactive-getting-started.adoc
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#21890 Fix bug with mavenSettings in WrapperRunner while running tests locally
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/WrapperRunner.java
Labels: area/platform, area/devtools

#21903 Run devtools ITs also with Java 17
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#21014 Add Amazon Secrets Manager extension based on pattern of SSM extension
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/amazon-secrets-manager.adoc
  extensions/amazon-services/pom.xml
  extensions/amazon-services/secretsmanager/deployment/pom.xml
  extensions/amazon-services/secretsmanager/deployment/src/main/java/io/quarkus/amazon/secretsmanager/deployment/SecretsManagerProcessor.java
  extensions/amazon-services/secretsmanager/deployment/src/test/java/io/quarkus/amazon/secretsmanager/deployment/SecretsManagerSyncClientFullConfigTest.java
  extensions/amazon-services/secretsmanager/deployment/src/test/resources/sync-urlconn-full-config.properties
  extensions/amazon-services/secretsmanager/pom.xml
  extensions/amazon-services/secretsmanager/runtime/pom.xml
  extensions/amazon-services/secretsmanager/runtime/src/main/java/io/quarkus/amazon/secretsmanager/runtime/SecretsManagerBuildTimeConfig.java
  extensions/amazon-services/secretsmanager/runtime/src/main/java/io/quarkus/amazon/secretsmanager/runtime/SecretsManagerClientProducer.java
  extensions/amazon-services/secretsmanager/runtime/src/main/java/io/quarkus/amazon/secretsmanager/runtime/SecretsManagerConfig.java
  extensions/amazon-services/secretsmanager/runtime/src/main/java/io/quarkus/amazon/secretsmanager/runtime/SecretsManagerRecorder.java
  extensions/amazon-services/secretsmanager/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/amazon-services/pom.xml
  integration-tests/amazon-services/src/main/java/io/quarkus/it/amazon/secretsmanager/SecretsManagerResource.java
  integration-tests/amazon-services/src/main/resources/application.properties
  integration-tests/amazon-services/src/test/java/io/quarkus/it/amazon/AmazonSecretsManagerITCase.java
  integration-tests/amazon-services/src/test/java/io/quarkus/it/amazon/AmazonSecretsManagerTest.java
Labels: area/documentation, area/core, area/dependencies, area/devtools

#21910 Make sure quarkusGenerateCode is run before tests
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
Labels: area/gradle, area/devtools, triage/backport?

#21913 Add Yasson to Dependabot config
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#21915 Upgrade the Oracle XE container image to 21.3.0-slim
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  integration-tests/jpa-oracle/README.md
  integration-tests/jpa-oracle/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/devservices

#21906 Reactive Messaging codestart
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/reactive-messaging-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/reactive-messaging-codestart/base/src/main/resources/application.tpl.qute.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/reactive-messaging-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/reactive-messaging-codestart/java/src/main/java/org/acme/MyReactiveMessagingApplication.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/reactive-messaging-codestart/java/src/test/java/org/acme/MyReactiveMessagingApplicationTest.java
  extensions/reactive-messaging-http/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/smallrye-reactive-messaging-amqp/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/smallrye-reactive-messaging-mqtt/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartBuildIT.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/ReactiveMessagingCodestartIT.java
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testAMQPContent/src_main_java_ilove_quark_us_MyReactiveMessagingApplication.java
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testAMQPContent/src_main_resources_application.properties
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testAMQPContent/src_test_java_ilove_quark_us_MyReactiveMessagingApplicationTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testKafkaContent/src_main_java_ilove_quark_us_MyReactiveMessagingApplication.java
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testKafkaContent/src_main_resources_application.properties
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testKafkaContent/src_test_java_ilove_quark_us_MyReactiveMessagingApplicationTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testMQTTContent/src_main_java_ilove_quark_us_MyReactiveMessagingApplication.java
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testMQTTContent/src_main_resources_application.properties
  integration-tests/devtools/src/test/resources/__snapshots__/ReactiveMessagingCodestartIT/testMQTTContent/src_test_java_ilove_quark_us_MyReactiveMessagingApplicationTest.java
Labels: area/smallrye, area/reactive-messaging, area/platform, area/devtools

#21908 Bump Yasson from 1.0.9 to 1.0.10
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#21909 Qute - cache SectionHelperFactory config by default
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ImmutableList.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SimpleTest.java
Labels: triage/waiting-for-ci, area/qute

#21914 Update SmallRye Config to 2.7.0
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#21924 Repeat the grant request if OidcClient refresh token has expired
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClientConfig.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/Tokens.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/TokensHelper.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcConstants.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: triage/backport?

#21929 Oracle JDBC driver presence to not break JVM's Serialization support in native image
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java
  integration-tests/jpa-oracle/src/main/java/io/quarkus/example/jpaoracle/SerializationTestEndpoint.java
  integration-tests/jpa-oracle/src/test/java/io/quarkus/it/jpa/oracle/JPAFunctionalityTest.java
Labels: area/persistence, area/native-image

#21932 Fix creation time of docker network in integration tests
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#21933 Add org.liquibase.ext:liquibase-mongodb to Dependabot
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#21847 Smallrye RM 3.13.0 with Kafka client version 3.0.0
  bom/application/pom.xml
  docs/src/main/asciidoc/kafka.adoc
  extensions/kafka-client/deployment/pom.xml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/runtime/pom.xml
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRecorder.java
  integration-tests/kafka-streams/src/main/java/io/quarkus/it/kafka/streams/KafkaStreamsEndpoint.java
Labels: release/noteworthy-feature, area/documentation, area/kafka-streams, area/kafka, area/dependencies

#21937 Check is java convention exists before using it
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/DependencyUtils.java
Labels: area/gradle, area/devtools

#21938 Update links to expired json-b.net domain
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation, triage/backport?

#21926 Only print stacktrace of conflicting buildsteps if activated
  core/builder/src/main/java/io/quarkus/builder/BuildChainBuilder.java
  core/builder/src/main/java/io/quarkus/builder/BuildStepBuilder.java
Labels: area/core

#21936 Fix DefaultTokenIntrospectionUserInfoCache injection
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfig.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowUserInfoResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/oidc

#21939 Update documentation to include flyway breaking change
  docs/src/main/asciidoc/flyway.adoc
Labels: area/documentation

#21279 Support any dynamic credentials in VaultCredentialsProvider
  docs/src/main/asciidoc/vault-datasource.adoc
  extensions/credentials/runtime/src/main/java/io/quarkus/credentials/CredentialsProvider.java
  extensions/vault/deployment/src/main/java/io/quarkus/vault/VaultProcessor.java
  extensions/vault/model/src/main/java/io/quarkus/vault/runtime/client/dto/database/VaultDatabaseCredentials.java
  extensions/vault/model/src/main/java/io/quarkus/vault/runtime/client/dto/database/VaultDatabaseCredentialsData.java
  extensions/vault/model/src/main/java/io/quarkus/vault/runtime/client/dto/dynamic/VaultDynamicCredentials.java
  extensions/vault/model/src/main/java/io/quarkus/vault/runtime/client/dto/dynamic/VaultDynamicCredentialsData.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultCredentialsProvider.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultDbManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultDynamicCredentials.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultDynamicCredentialsManager.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/client/secretengine/VaultInternalDatabaseSecretEngine.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/client/secretengine/VaultInternalDynamicCredentialsSecretEngine.java
  extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/CredentialsProviderConfig.java
  extensions/vault/runtime/src/test/java/io/quarkus/vault/runtime/VaultDynamicCredentialsManagerTest.java
  integration-tests/vault/src/test/java/io/quarkus/vault/VaultITCase.java
Labels: area/documentation, area/vault

#21569 Sending Multi<Byte> as files in multipart in REST Client Reactive
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultiByteFileTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultiByteWithRemoteErrorTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultipartFilenameTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/devconsole/RestClientsContainer.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/MultiByteHttpData.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/PausableHttpPostRequestEncoder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusHttpPostBodyUtil.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusInternalAttribute.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartForm.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormDataPart.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormUpload.java
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartClient.java
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartResource.java
  integration-tests/rest-client-reactive-multipart/src/test/java/io/quarkus/it/rest/client/multipart/MultipartResourceTest.java
Labels: area/resteasy-reactive

#21761 Prevent calculation of the zip internal file owner
  .github/dependabot.yml
  .github/workflows/ci-actions-incremental.yml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ArchiveRootBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/util/ArtifactInfoUtil.java
  core/runtime/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/util/ClassPathUtils.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTask.java
  devtools/gradle/gradle-extension-plugin/src/test/java/io/quarkus/extension/gradle/QuarkusExtensionPluginTest.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/DependencyUtils.java
  devtools/maven/src/main/java/io/quarkus/maven/CheckForUpdatesMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateUtils.java
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/ValidateExtensionsJsonMojo.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/core/pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsJar.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CreatorOutcomeTestBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/util/ZipUtilsTest.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/bootstrap/maven-resolver/pom.xml
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/DeploymentInjectingDependencyVisitor.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/util/ZipUtils.java
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/descriptor/loader/json/ResourceLoaders.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/descriptor/loader/json/ZipResourceLoader.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestClassIndexer.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/gradle, area/core, area/maven, area/vertx, area/testing, area/platform, area/dependencies, area/devtools, area/infra-automation, area/flyway

#21960 Add line break to correct an include error in redis-dev-services.adoc
  docs/src/main/asciidoc/redis-dev-services.adoc
Labels: area/documentation, triage/backport?

#21947 Qute - improve validation of param declarations
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#21950 SmallRye GraphQL 1.4.0
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientMapTest.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/QuarkifiedErrorMessageProvider.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/SmallRyeGraphQLClientRecorder.java
  extensions/smallrye-graphql-client/runtime/src/main/resources/META-INF/services/io.smallrye.graphql.client.impl.ErrorMessageProvider
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/graphql

#21954 Improved No container runtime error message
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#21968 Bump smallrye-jwt version to 3.3.2
  bom/application/pom.xml
  docs/src/main/asciidoc/security-jwt-build.adoc
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/DefaultGroupsSignEncryptConfigSourceUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/TestConfigSource.java
  extensions/smallrye-jwt/deployment/src/test/resources/applicationSignEncryptConfigSource.properties
Labels: area/documentation, area/smallrye, area/dependencies

#21254 Update and relocate TCK versions, add to dependabot
  .github/dependabot.yml
  build-parent/pom.xml
  extensions/smallrye-metrics/spi/pom.xml
  tcks/microprofile-config/pom.xml
  tcks/microprofile-context-propagation/pom.xml
  tcks/microprofile-context-propagation/tck-tests.xml
  tcks/microprofile-fault-tolerance/pom.xml
  tcks/microprofile-graphql/pom.xml
  tcks/microprofile-health/pom.xml
  tcks/microprofile-jwt/pom.xml
  tcks/microprofile-metrics/api/pom.xml
  tcks/microprofile-metrics/optional/pom.xml
  tcks/microprofile-metrics/pom.xml
  tcks/microprofile-metrics/rest/pom.xml
  tcks/microprofile-openapi/pom.xml
  tcks/microprofile-opentracing/base/pom.xml
  tcks/microprofile-opentracing/pom.xml
  tcks/microprofile-opentracing/rest-client/pom.xml
  tcks/microprofile-reactive-messaging/pom.xml
  tcks/microprofile-rest-client-reactive/pom.xml
  tcks/microprofile-rest-client/pom.xml
Labels: area/smallrye, area/dependencies, area/infra-automation, area/metrics

#21958 Allow the use of UriInfo in @ServerResponseFilter
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomContainerResponseFilter.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/filters/CustomFilterGenerator.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerResponseFilter.java
Labels: area/resteasy-reactive, triage/backport?

#21942 Don't throw an exception when finishing a closed RESTEasy response
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxHttpResponse.java
Labels: triage/backport?

#21969 Improve funqy doc
  docs/src/main/asciidoc/funqy-knative-events.adoc
  docs/src/main/asciidoc/funqy.adoc
Labels: area/documentation

#21978 Fix QuteErrorPageSetup
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/devmode/QuteErrorPageSetup.java
  integration-tests/devmode/pom.xml
  integration-tests/devmode/src/test/java/io/quarkus/test/qute/QuteErrorPageTest.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#21971 Ignore Jandex WARNING for all BSON types
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
Labels: area/panache, triage/backport?

#21986 OidcProviderClient has to be closed only when getting the JWK set failed
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
Labels: area/oidc, triage/backport-2.4?, triage/backport?

#21992 Generate serializer and deserializer for Kafka when none are found
  docs/src/main/asciidoc/kafka-reactive-getting-started.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/JacksonSerdeGenerator.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/ReactiveMessagingKafkaBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/Fruit.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/FruitProducer.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/KafkaEndpoint.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/KafkaReceivers.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/PeopleManager.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/Pet.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/PetProducer.java
  integration-tests/reactive-messaging-kafka/src/main/resources/application.properties
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
Labels: area/documentation, area/smallrye, area/reactive-messaging

#21970 Rename Problem's attribute details in reactive-routes
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/validation/MultiValidationTest.java
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/validation/SyncValidationTest.java
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/validation/UniValidationTest.java
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/ValidationSupport.java
Labels: triage/waiting-for-ci, release/breaking-change

#21981 QUARKUS-1501: DevServicesKafkaProcessor: Always expose to Docker host network
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesSharedNetworkBuildItem.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
Labels: area/core, area/kafka

#21583 Move OpenTelemetry integration to use Instrumenter
  bom/application/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/opentelemetry/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/NonAppEndpointsDisabledTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/NonAppEndpointsEnabledTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDITest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/RestClientOpenTelemetryTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/TestSpanExporter.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/TestUtil.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/VertxClientOpenTelemetryTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/VertxOpenTelemetryForwardedTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/VertxOpenTelemetryTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/VertxOpenTelemetryXForwardedTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/WithSpanInterceptorTest.java
  extensions/opentelemetry/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/WithSpanInterceptor.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/restclient/ClientTracingFilter.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/restclient/OpenTelemetryClientFilter.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/restclient/QuarkusRestClientListener.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/OpenTelemetryVertxMetricsFactory.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/OpenTelemetryVertxTracer.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/OpenTelemetryVertxTracingFactory.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/VertxTracingAdapter.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.rest.client.spi.RestClientListener
  extensions/opentelemetry/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/restclient/HttpUrlFilterTest.java
  integration-tests/opentelemetry-vertx/pom.xml
  integration-tests/opentelemetry-vertx/src/main/java/io/quarkus/it/opentelemetry/vertx/ExporterRouter.java
  integration-tests/opentelemetry-vertx/src/main/java/io/quarkus/it/opentelemetry/vertx/HelloRouter.java
  integration-tests/opentelemetry-vertx/src/main/java/io/quarkus/it/opentelemetry/vertx/SpanData.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/HelloRouterIT.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/HelloRouterTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
  integration-tests/pom.xml
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: area/dependencies, area/tracing, area/metrics

#21994 Update to Vert.x 4.1.6
  bom/application/pom.xml
Labels: area/dependencies

#21922 Update narayana to 5.12.4 and exclude some resteasy bits
  bom/application/pom.xml
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorNever.java
Labels: area/narayana, area/dependencies

#21964 Qute - minor doc updates
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParserHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParserHook.java
Labels: area/documentation, area/qute

#21403 KOGITO-5508 Data Index Dev Service
  docs/src/main/asciidoc/dev-services.adoc
  docs/src/main/asciidoc/images/dev-ui-kogito-data-index-card.png
  docs/src/main/asciidoc/images/dev-ui-kogito-data-index.png
  docs/src/main/asciidoc/kogito-dev-services-build-time-config.adoc
  docs/src/main/asciidoc/kogito-dev-services.adoc
  docs/src/main/asciidoc/kogito.adoc
Labels: area/documentation

#22007 Allow to combine the discovered and locally configured OIDC metadata
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfigurationMetadata.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/testing, area/oidc

#21896 Update tests with coverage docs with Gradle examples
  docs/src/main/asciidoc/tests-with-coverage.adoc
Labels: area/documentation

#21999 Make Keycloak DevService work with @QuarkusIntegrationTest and container launches
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ConfigureUtil.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-with-keycloak/config/quarkus-realm.json
  integration-tests/container-image/maven-invoker-way/src/it/container-build-with-keycloak/invoker.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-with-keycloak/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-with-keycloak/src/main/java/org/acme/security/openid/connect/AdminResource.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-with-keycloak/src/main/java/org/acme/security/openid/connect/UsersResource.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-with-keycloak/src/main/resources/application.properties
  integration-tests/container-image/maven-invoker-way/src/it/container-build-with-keycloak/src/test/java/org/acme/security/openid/connect/BearerTokenAuthenticationTest.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-with-keycloak/src/test/java/org/acme/security/openid/connect/NativeBearerTokenAuthenticationIT.java
  test-framework/keycloak-server/src/main/java/io/quarkus/test/keycloak/client/KeycloakTestClient.java
Labels: area/testing, area/oidc

#22016 Silence yamllint for quarkus-bot.yml
  .github/quarkus-bot.yml
Labels: area/infra-automation, triage/backport?

#22012 Remove redundant `software.amazon.awssdk:apache-client` dependency from `quarkus-bom`
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#22041 Adjust relocation messages from Amazon Services extensions
  relocations/quarkus-amazon-dynamodb-deployment/pom.xml
  relocations/quarkus-amazon-dynamodb/pom.xml
  relocations/quarkus-amazon-iam-deployment/pom.xml
  relocations/quarkus-amazon-iam/pom.xml
  relocations/quarkus-amazon-kms-deployment/pom.xml
  relocations/quarkus-amazon-kms/pom.xml
  relocations/quarkus-amazon-s3-deployment/pom.xml
  relocations/quarkus-amazon-s3/pom.xml
  relocations/quarkus-amazon-secretsmanager-deployment/pom.xml
  relocations/quarkus-amazon-secretsmanager/pom.xml
  relocations/quarkus-amazon-ses-deployment/pom.xml
  relocations/quarkus-amazon-ses/pom.xml
  relocations/quarkus-amazon-sns-deployment/pom.xml
  relocations/quarkus-amazon-sns/pom.xml
  relocations/quarkus-amazon-sqs-deployment/pom.xml
  relocations/quarkus-amazon-sqs/pom.xml
  relocations/quarkus-amazon-ssm-deployment/pom.xml
  relocations/quarkus-amazon-ssm/pom.xml
Labels: triage/backport?

#22015 Support constructor injection in Kotlin Panache repositories
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/KotlinPanacheClassOperationGenerationVisitor.java
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/AddressDao.kt
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/DummyService.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/book/BookRepository.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/book/DummyService.kt
Labels: area/panache, triage/waiting-for-ci, triage/backport-2.5?, triage/backport?

#22005 Fix Optaplanner native build failure with JDK17
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci, triage/backport-2.5?, triage/backport?

#21806 Press X to open at exception in IDE
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/ExceptionNotificationBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/ide/Ide.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/testing/ExceptionReporting.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  extensions/arc/deployment/src/main/resources/dev-templates/beans.html
  extensions/arc/deployment/src/main/resources/dev-templates/interceptors.html
  extensions/arc/deployment/src/main/resources/dev-templates/observers.html
  extensions/grpc/deployment/src/main/resources/dev-templates/service.html
  extensions/grpc/deployment/src/main/resources/dev-templates/services.html
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/resources/dev-templates/rest-clients.html
  extensions/scheduler/deployment/src/main/resources/dev-templates/schedules.html
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/OpenIdeHandler.java
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/logstream.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/core, area/arc, area/logging, area/vertx, area/scheduler, area/testing, area/grpc, area/resteasy-reactive, triage/backport?

#22021 Support media type suffixes in reactive rest client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/MediaTypeSuffixTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/media-type-suffix-application.properties
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientReaderInterceptorContextImpl.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/MediaTypeHelper.java
Labels: area/resteasy-reactive, triage/backport-2.5?, triage/backport?

#22044 Bump quarkus-jgit relocation
  relocations/quarkus-jgit-deployment/pom.xml
  relocations/quarkus-jgit/pom.xml
Labels: triage/backport?

#22043 Update Amazon Services relocations to 1.0.1
  relocations/quarkus-amazon-dynamodb-deployment/pom.xml
  relocations/quarkus-amazon-dynamodb/pom.xml
  relocations/quarkus-amazon-iam-deployment/pom.xml
  relocations/quarkus-amazon-iam/pom.xml
  relocations/quarkus-amazon-kms-deployment/pom.xml
  relocations/quarkus-amazon-kms/pom.xml
  relocations/quarkus-amazon-s3-deployment/pom.xml
  relocations/quarkus-amazon-s3/pom.xml
  relocations/quarkus-amazon-secretsmanager-deployment/pom.xml
  relocations/quarkus-amazon-secretsmanager/pom.xml
  relocations/quarkus-amazon-ses-deployment/pom.xml
  relocations/quarkus-amazon-ses/pom.xml
  relocations/quarkus-amazon-sns-deployment/pom.xml
  relocations/quarkus-amazon-sns/pom.xml
  relocations/quarkus-amazon-sqs-deployment/pom.xml
  relocations/quarkus-amazon-sqs/pom.xml
  relocations/quarkus-amazon-ssm-deployment/pom.xml
  relocations/quarkus-amazon-ssm/pom.xml
Labels: triage/backport?

#22036 Qute - fix section parameters parser
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ExpressionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
Labels: triage/backport?

#22051 Fix RESTEasy Reactive endpoint scores template
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-templates/scores.html
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#22046 Optimize the ByteCodeRecorder to not check IgnoredProperty on java. classes
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/PropertyUtils.java
Labels: area/core

#22038 Instruct how to publish extensions to the registry
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, triage/backport-2.5?, triage/backport?

#21856 Initialize dependency validation for gradle extensions
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionConfiguration.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionPlugin.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ValidateExtensionTask.java
  devtools/gradle/gradle-extension-plugin/src/test/java/io/quarkus/extension/gradle/QuarkusExtensionPluginTest.java
  devtools/gradle/gradle-extension-plugin/src/test/java/io/quarkus/extension/gradle/TestUtils.java
  devtools/gradle/gradle-extension-plugin/src/test/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTaskTest.java
  devtools/gradle/gradle-extension-plugin/src/test/java/io/quarkus/extension/gradle/tasks/ValidateExtensionTaskTest.java
  integration-tests/gradle/src/main/resources/conditional-dependencies/ext-a/deployment/build.gradle
Labels: area/gradle, area/devtools

#21976 Fix DevServices for Keycloak loading the realm file from the file system
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  integration-tests/oidc-client-reactive/src/main/resources/application.properties
  integration-tests/oidc-client-reactive/src/main/resources/quarkus-realm.json
  integration-tests/oidc-client-reactive/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-reactive/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: area/oidc, triage/backport-2.5?, triage/backport?

#22024 Qute - introduce the TemplateEnum annotation
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/pom.xml
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Names.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateDataBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateDataBuilder.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumIgnoredTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumInvalidTargetTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumNamespaceValidationTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumValidationSuccessTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateEnum.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#21809 Fix native-image arguments generation for native-sources package type
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: kind/bug, area/core, area/native-image, triage/backport-2.2?, triage/backport-2.5?

#21979 Apply tiny polish to DevServicesSharedNetworkBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesSharedNetworkBuildItem.java
Labels: area/core

#21897 RabbitMQ dynamic credentials via credentials provider
  .github/native-tests.json
  docs/src/main/asciidoc/credentials-provider.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/SmallRyeReactiveMessagingRabbitMQProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/runtime/pom.xml
  extensions/smallrye-reactive-messaging-rabbitmq/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/runtime/CredentialsProviderLink.java
  extensions/smallrye-reactive-messaging-rabbitmq/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/runtime/RabbitMQRecorder.java
  integration-tests/pom.xml
  integration-tests/reactive-messaging-rabbitmq-dyn/pom.xml
  integration-tests/reactive-messaging-rabbitmq-dyn/src/main/java/io/quarkus/it/rabbitmq/PeopleManager.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/main/java/io/quarkus/it/rabbitmq/PeopleProducer.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/main/java/io/quarkus/it/rabbitmq/Person.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/main/java/io/quarkus/it/rabbitmq/RabbitMQEndpoint.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/main/java/io/quarkus/it/rabbitmq/TestCredentialsProvider.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/main/resources/application.properties
  integration-tests/reactive-messaging-rabbitmq-dyn/src/test/java/io/quarkus/it/rabbitmq/RabbitMQConnectorDynCredsIT.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/test/java/io/quarkus/it/rabbitmq/RabbitMQConnectorDynCredsTest.java
  integration-tests/reactive-messaging-rabbitmq/src/main/resources/application.properties
Labels: area/documentation, area/smallrye, area/testing, area/reactive-messaging, area/vault, area/infra-automation, triage/backport?

#22037 Qute - fix templates and tags scanning from extension runtime artifacts
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplatePathBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devconsole/QuteDevConsoleProcessor.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#22060 2.5.2 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/dependency/DependencyUtils.java
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/flyway.adoc
  docs/src/main/asciidoc/ide-tooling.adoc
  docs/src/main/asciidoc/reactive-routes.adoc
  docs/src/main/asciidoc/redis-dev-services.adoc
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceConfigurationHandlerBuildItem.java
  extensions/hibernate-orm/deployment/src/test/resources/application-multiple-persistence-units-annotations.properties
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClientConfig.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/Tokens.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/TokensHelper.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcConstants.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/KotlinPanacheClassOperationGenerationVisitor.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/devmode/QuteErrorPageSetup.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxHttpResponse.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CustomFilterGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-templates/scores.html
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomContainerResponseFilter.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/MediaTypeSuffixTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/media-type-suffix-application.properties
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientReaderInterceptorContextImpl.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/MediaTypeHelper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerResponseFilter.java
  integration-tests/devmode/pom.xml
  integration-tests/devmode/src/test/java/io/quarkus/test/qute/QuteErrorPageTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/AddressDao.kt
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/DummyService.kt
  integration-tests/jpa-oracle/src/main/java/io/quarkus/example/jpaoracle/SerializationTestEndpoint.java
  integration-tests/jpa-oracle/src/test/java/io/quarkus/it/jpa/oracle/JPAFunctionalityTest.java
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/book/BookRepository.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/book/DummyService.kt
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowUserInfoResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/documentation, area/panache, area/persistence, area/gradle, area/core, area/infra, area/testing, area/hibernate-orm, area/oidc, area/dependencies, area/qute, area/devtools, area/resteasy-reactive

#22059 Register derby resource bundler in native mode
  extensions/jdbc/jdbc-derby/deployment/src/main/java/io/quarkus/jdbc/derby/deployment/JDBCDerbyProcessor.java
Labels: triage/backport-2.5?, triage/backport?

#22085 Skip gpg signing for release testing as we don't have a gpg key around
  .github/workflows/release-build.yml
Labels: area/infra-automation

#22068 Make order of QuarkusTestResourceLifecycleManager predictable
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
Labels: area/testing, triage/backport?

#22069 Fix native-image arguments generation for native-sources package type
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, area/native-image

#22040 Allow Jib to set the base JVM image based on the target Java version
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/CompiledJavaVersionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/CompiledJavaVersionBuildStep.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: release/noteworthy-feature, area/core, release/breaking-change

#22086 Use Temurin 18-ea in 'Early Access JDK Build'
  .github/workflows/jdk-early-access-build.yml
Labels: area/infra-automation

#22083 Reuse ClassPathUtils for finding flyway migrations
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
Labels: area/flyway, triage/backport?

#22065 Qute - introduce "cdi" namespace to inject CDI beans in templates
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/InjectNamespaceResolverTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
Labels: area/documentation, area/qute

#22075 Fix potential NullPointerException
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devconsole/QuteDevConsoleProcessor.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#22087 2.5.2 backports 2
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/jdbc/jdbc-derby/deployment/src/main/java/io/quarkus/jdbc/derby/deployment/JDBCDerbyProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  integration-tests/oidc-client-reactive/src/main/resources/application.properties
  integration-tests/oidc-client-reactive/src/main/resources/quarkus-realm.json
  integration-tests/oidc-client-reactive/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-reactive/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: area/core, area/infra, area/oidc

#22095 ArcContextProvider optimizations
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/context/ArcContextProvider.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractSharedContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/arc

#22091 Exit readline mode on windows
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleStateManager.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/BasicConsole.java
Labels: area/core, triage/backport?

#22100 Dev UI - fix ArC invocation tree
  extensions/arc/deployment/src/main/resources/dev-templates/tags/tree.html
Labels: area/arc, triage/backport?

#22112 Take compression setting into account when building a container image
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/UpxCompressedBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/UpxCompressionBuildStep.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#22121 Add some information about a common error with Caffeine and native
  docs/src/main/asciidoc/cache.adoc
Labels: area/documentation, triage/backport?

#22114 Upgrade Hibernate Reactive and Hibernate ORM
  bom/application/pom.xml
Labels: area/dependencies

#22102 ArC cleanup - remove some deprecated stuff
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/runtime/src/main/resources/META-INF/services/io.quarkus.runtime.InterceptorBindingService$Provider
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorBindingRegistrar.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Objects.java
Labels: area/arc

#22113 Remove the ArcContainerImpl.requireRunning() check
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/Arc.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcContainer.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
Labels: area/arc

#22126 Fix broken image in keycloak integration guide
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.5?, triage/backport?

#22103 Provide context for Reactive Rest Client exceptions
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  tcks/microprofile-rest-client-reactive/pom.xml
Labels: triage/waiting-for-ci, triage/backport-2.5?, triage/backport?

#22118 Move remaining Artemis dependencies out of the BOM
  bom/application/pom.xml
  build-parent/pom.xml
Labels: area/dependencies, triage/backport?

#22123 Update Log4j 2 API to 2.15.0
  .github/dependabot.yml
  bom/application/pom.xml
Labels: area/dependencies, area/infra-automation, triage/backport-2.2?, triage/backport-2.5?, triage/backport?

#22127 Update Log4j 2 API to 2.15.0 - 2.2
  .github/dependabot.yml
  bom/application/pom.xml
Labels: area/dependencies, area/infra-automation

#22128 Retrieve the application archives from TCCL
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/util/ClassPathUtils.java
Labels: area/core

#22132 Update Redpanda to v21.11.2
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
Labels: triage/waiting-for-ci, area/kafka

#22131 Reject illegal placeholder in Maven CI friendly version property
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtilsTest.java
Labels: area/devtools, triage/backport?

#21998 Enforce order of arguments passed to native-image in container builds
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalContainerRunner.java
Labels: area/core, area/native-image

#21977 Add interactive terminal
  bom/application/pom.xml
  core/deployment/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ConsoleCommandBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleCliManager.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleStateManager.java
  core/deployment/src/main/java/io/quarkus/deployment/console/DelegateConnection.java
  core/deployment/src/main/java/io/quarkus/deployment/console/SetCompleter.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresCommand.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PsqlCommand.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveDevModeProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/devmode/ConsolePathCompleterTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/NotFoundExceptionMapper.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ConfigEditorProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/URITemplate.java
Labels: release/noteworthy-feature, area/core, area/vertx, area/dependencies, area/resteasy-reactive

#22134 Update security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.5?, triage/backport?

#22140 Remove -Dmaven.test.skip=true as we need the test jars to be generated
  .github/workflows/release-build.yml
Labels: area/infra

#22136 Adjust @RegisterForReflection recommendation in cache.adoc
  docs/src/main/asciidoc/cache.adoc
Labels: area/documentation, triage/backport?

#22145 Spring Boot Data JPA: Support NamedQuery
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/DotNames.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/GenerationUtil.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/ModifyingQueryWithFlushAndClearTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/User.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/UserRepository.java
Labels: area/spring, triage/backport-2.5?, triage/backport?

#22146 Disable ImageDecodersTest#testComplexImages() for Java 18
  integration-tests/awt/src/test/java/io/quarkus/awt/it/ImageDecodersTest.java
Labels: area/graphics

#22139 Allows enabling transactions in the (Red Panda-based) Kafka Dev Service
  docs/src/main/asciidoc/kafka-dev-services.adoc
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/RedPandaBuildTimeConfig.java
Labels: area/documentation, area/kafka

#22151 Provide meaningful error message when updating Quarkus in dev-mode
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
Labels: area/core, triage/waiting-for-ci, triage/backport-2.5?, triage/backport?

#22161 Fix incorrect Mutiny subscription APIs
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/devmode/GrpcDevModeTest.java
Labels: triage/waiting-for-ci, area/grpc, area/mutiny

#22160 Replace UTF-8 String with StandardCharsets.UTF_8
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation

#22159 Upgrade recommended postgres image to version 14.1
  docs/src/main/asciidoc/getting-started-reactive.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/quartz.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  docs/src/main/asciidoc/spring-data-jpa.adoc
  docs/src/main/asciidoc/spring-data-rest.adoc
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
  extensions/hibernate-reactive/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache/deployment/pom.xml
  extensions/reactive-pg-client/deployment/pom.xml
  integration-tests/hibernate-reactive-panache-blocking/pom.xml
  integration-tests/hibernate-reactive-panache/pom.xml
  integration-tests/hibernate-reactive-postgresql/pom.xml
  integration-tests/jpa-postgresql-withxml/pom.xml
  integration-tests/jpa-postgresql/pom.xml
  integration-tests/kubernetes-service-binding-jdbc/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/kubernetes/minikube.json
  integration-tests/main/pom.xml
  integration-tests/reactive-pg-client/pom.xml
Labels: area/documentation, area/panache, area/persistence, area/hibernate-orm, area/kubernetes, area/hibernate-reactive, area/reactive-sql-clients

#22165 Fix test failure
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/kubernetes/minikube.json
Labels: triage/waiting-for-ci, area/kubernetes

#22135 Prevent isDirectory checks in QuarkusCompiler
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusCompiler.java
Labels: area/core

#22174 Fix flakey test
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/TestSpanExporter.java
Labels: area/tracing

#22173 Extend ModelUtilsTest with Maven CI friendly version case from #22171
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtilsTest.java
Labels: area/devtools

#22172 Introduce quarkus-junit5-properties to make junit-platform.properties "user-excludable"
  bom/application/pom.xml
  docs/src/main/asciidoc/getting-started-testing.adoc
  test-framework/junit5-properties/pom.xml
  test-framework/junit5-properties/src/main/resources/junit-platform.properties
  test-framework/junit5/pom.xml
  test-framework/pom.xml
Labels: area/documentation, area/testing, triage/backport?

#22162 Update Netty to 4.1.72
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-2.5?, triage/backport?

#22179 Don't attempt to index empty transformed classes
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
Labels: area/smallrye, area/graphql, triage/backport?

#22168 Don't require Docker when devservices are locally or globally disable via the Neo4j extension
  extensions/neo4j/deployment/src/main/java/io/quarkus/neo4j/deployment/Neo4jDevServicesProcessor.java
  extensions/neo4j/deployment/src/test/java/io/quarkus/neo4j/deployment/Neo4jDevModeTests.java
Labels: area/neo4j

#22155 Leverage lazy configuration when building gradle model
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
Labels: area/gradle, area/devtools, triage/backport-2.5?, triage/backport?

#22153 Decorators - fix injection of a decorated subtype in a delegate IP
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/delegate/DelegateSubtypeTest.java
Labels: area/arc

#22190 Update to Vert.x 4.2.2
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport-2.5?, triage/backport?
