Repository quarkusio/quarkus, pull requests merged in 2021-09, with the labels that each got.

#19791 Update Dev UI with the correct state when resuming
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ContinuousTestingWebSocketTestListener.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/tests/TestsProcessor.java
Labels: area/vertx, triage/backport?

#19680 OpenAPI Auto security based on extensions
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentService.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiRecorder.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/AutoBasicSecurityFilter.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/AutoJWTSecurityFilter.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/AutoSecurityFilter.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/AutoUrl.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/OpenIDConnectSecurityFilter.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/SecurityInformationBuildItem.java
Labels: area/security, area/smallrye, area/vertx, area/openapi, triage/waiting-for-ci, area/oidc

#19808 Update to Vertx 4.1.3, Mutiny Bindings 2.13.0 and Netty 4.1.67
  bom/application/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/LargerThanDefaultFormAttributeMultipartFormInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/TooLargeFormAttributeMultipartFormInputTest.java
  extensions/vertx-http/runtime/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/graal/HttpContentCompressorSubstitutions.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/vertx, area/dependencies, area/resteasy-reactive, triage/backport?

#19809 Fix NoSuchElementException on `@Before/AfterAll` with TestInfo
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestCallbacksTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport?

#19810 CLI: docs and help for -P
  devtools/cli/src/main/java/io/quarkus/cli/common/TargetQuarkusVersionGroup.java
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/documentation, area/devtools, area/cli, triage/backport?, triage/backport-2.1?

#19795 K8s Service redeployment
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
Labels: area/kubernetes, triage/backport?

#19803 Update to proton-j 0.33.9
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#19807 Update OIDC TokenStateManager to return Uni
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CustomTokenStateManager.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResource.java
  extensions/oidc/deployment/src/test/resources/application-dev-mode.properties
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
Labels: area/documentation, area/oidc, triage/backport?

#19820 Make sure KC Dev UI page persists after reload
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, triage/backport?

#19812 Do not propagate java compiler argument in kotlin compilation provider
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/build.gradle
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/gradle.properties
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/settings.gradle
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/src/main/kotlin/org/acme/GreetingResource.kt
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/BasicKotlinApplicationModuleDevModeTest.java
Labels: area/gradle, area/devtools, triage/backport?

#19794 Set default jvm-target in kotlin sample project
  integration-tests/gradle/src/main/resources/multi-module-kotlin-project/web/build.gradle.kts
Labels: area/gradle, triage/backport?

#19823 Fix @NoCache without fields handling in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/cache/NoCacheOnMethodsTest.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/CacheControlScanner.java
Labels: area/resteasy-reactive, triage/backport?

#19816 Don't rely on vert.x for CT tests
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/ContinuousTestingSharedStateListener.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/testing/ContinuousTestingSharedStateManager.java
  core/devmode-spi/src/main/java/io/quarkus/dev/testing/ContinuousTestingWebsocketListener.java
  extensions/elytron-security-jdbc/deployment/pom.xml
  extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/CustomRoleDecoderDevModeTest.java
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateHotReloadTestCase.java
  extensions/opentelemetry/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryContinuousTestingTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryDevModeTest.java
  extensions/smallrye-reactive-messaging-kafka/deployment/pom.xml
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/KafkaDevServicesContinuousTestingTestCase.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/KafkaDevServicesContinuousTestingWorkingAppPropsTestCase.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ContinuousTestingWebSocketTestListener.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/tests/TestsProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/ContinuousTestingTestUtils.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/QuarkusTestTypeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/TestChangeTrackingWhenStartFailsTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/TestFailingBeforeAllTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/TestRunnerSmokeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/UnitTestTypeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/brokenonly/TestBrokenOnlyTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/includes/ExcludePatternTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/includes/IncludePatternTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/params/TestParameterizedTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/tags/ExcludeTagsTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/tags/IncludeTagsTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ContinuousTestWebSocketHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/DevConsoleRecorder.java
  test-framework/junit5-internal/pom.xml
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ContinuousTestingTestUtils.java
Labels: area/persistence, area/core, area/security, area/smallrye, area/vertx, area/testing, area/reactive-messaging, area/hibernate-orm, area/dependencies, area/tracing

#19824 Mark quarkus-container-image-openshift as stable
  extensions/container-image/container-image-openshift/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: triage/backport?

#19833 Remove hard coded kotlin version in Gradle tests
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/gradle.properties
  integration-tests/gradle/src/main/resources/bean-in-testsources-project/build.gradle
  integration-tests/gradle/src/main/resources/bean-in-testsources-project/gradle.properties
  integration-tests/gradle/src/main/resources/bean-in-testsources-project/settings.gradle
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/build.gradle
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/gradle.properties
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/settings.gradle
  integration-tests/gradle/src/main/resources/multi-module-kotlin-project/gradle.properties
  integration-tests/gradle/src/main/resources/multi-source-project/build.gradle
  integration-tests/gradle/src/main/resources/multi-source-project/gradle.properties
  integration-tests/gradle/src/main/resources/multi-source-project/settings.gradle
Labels: area/gradle, triage/backport?

#19837 Marking Amazon extensions as stable
  extensions/amazon-alexa/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-lambda-http/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-lambda-rest/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-lambda-xray/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-lambda/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/common/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/dynamodb/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/iam/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/kms/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/s3/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/ses/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/sns/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/sqs/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/amazon-services/ssm/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: triage/backport?

#19846 Dev UI Test result screen make sure dark background use light text
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/tests.html
Labels: area/vertx

#14586 Simplify logging using static invocations and bytecode transformation
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeTransformerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexWrapper.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingWithPanacheProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/runtime/src/main/java/io/quarkus/logging/Log.java
  core/runtime/src/test/java/io/quarkus/logging/GenerateLog.java
  core/runtime/src/test/java/io/quarkus/logging/LoggingApiCompletenessTest.java
  docs/src/main/asciidoc/logging.adoc
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/logging-panache/pom.xml
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/GenerateAllLogUsages.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/GeneratedBean.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingBean.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingEndpoint.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingWithPanacheDevModeTest.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingWithPanacheGeneratedTest.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingWithPanacheTest.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/NoStackTraceTestException.java
  integration-tests/pom.xml
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: release/noteworthy-feature, area/documentation, area/core, area/arc, area/logging, triage/waiting-for-ci, area/testing, area/platform, area/dependencies, area/devtools

#19830 Support config properties in @ClientHeaderParam
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/MicroProfileRestClientEnricher.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/ClientHeaderParamFromPropertyTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/ConfigUtils.java
Labels: area/documentation, area/resteasy-reactive

#19847 Removed duplicate dependency on asm-commons, triggering a warning
  bom/application/pom.xml
Labels: area/dependencies

#19832 Dev UI config screen updates
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ConfigDescriptionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigDescriptionBuildStep.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ConfigEditorProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/config.html
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescription.java
Labels: area/core, area/vertx, triage/waiting-for-ci

#19829 Provide actionable error message when Provider in RESTEasy Reactive isn't a bean
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ArcBeanFactory.java
Labels: area/resteasy-reactive, triage/backport?

#19827 Set actual file name in Rest Client Reactive multipart support
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/MultipartPopulatorGenerator.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/MultipartFilenameTest.java
Labels: area/resteasy-reactive, triage/backport?

#19801 Port rest-data-panache to RESTEasy Reactive
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/pom.xml
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/HibernateOrmPanacheRestProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/runtime/pom.xml
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/MongoPanacheRestProcessor.java
  extensions/panache/rest-data-panache/deployment/pom.xml
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/RestDataProcessor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/StandardMethodImplementor.java
  extensions/panache/rest-data-panache/runtime/pom.xml
  extensions/panache/rest-data-panache/runtime/src/main/java/io/quarkus/rest/data/panache/runtime/hal/HalEntityWrapperJacksonSerializer.java
  extensions/panache/rest-data-panache/runtime/src/main/java/io/quarkus/rest/data/panache/runtime/resource/ResourceLinksProvider.java
  extensions/panache/rest-data-panache/runtime/src/test/java/io/quarkus/rest/data/panache/runtime/hal/AbstractSerializersTest.java
  extensions/panache/rest-data-panache/runtime/src/test/java/io/quarkus/rest/data/panache/runtime/hal/JacksonSerializersTest.java
  extensions/panache/rest-data-panache/runtime/src/test/java/io/quarkus/rest/data/panache/runtime/hal/JsonbSerializersTest.java
  extensions/panache/rest-data-panache/runtime/src/test/java/io/quarkus/rest/data/panache/runtime/hal/PublishedBook.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/JaxRsResourceIndexBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/GeneratedJaxRsResourceBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksContainerFactory.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/runtime/RestLinksProviderImpl.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CustomFilterGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/GeneratedJaxRsResourceGizmoAdaptor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/NoTargetTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/generatedresource/GeneratedJaxRsResourceTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/UriInfoTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/GetAbsolutePathResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/RawListQueryParamTest.java
  extensions/spring-data-rest/deployment/pom.xml
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
  extensions/spring-data-rest/runtime/pom.xml
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
  integration-tests/hibernate-orm-rest-data-panache/pom.xml
  integration-tests/hibernate-orm-rest-data-panache/src/test/java/io/quarkus/it/hibernate/orm/rest/data/panache/HibernateOrmRestDataPanacheTest.java
  integration-tests/mongodb-rest-data-panache/pom.xml
  integration-tests/spring-data-rest/pom.xml
  integration-tests/spring-data-rest/src/test/java/io/quarkus/it/spring/data/rest/SpringDataRestTest.java
Labels: area/panache, area/core, area/hibernate-validator, area/spring, area/resteasy-reactive

#19851 Rest Client Reactive: improve error on invalid subresource return type
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
Labels: area/resteasy-reactive

#19818 Update status of the Mutiny, AMQP connector and gRPC extensions
  extensions/grpc/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/mutiny/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/smallrye-reactive-messaging-amqp/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: triage/backport?

#19857 Clean up hang detection on failed start
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#19842 Take `@TestSecurity(authorizationEnabled = false)` into account for RESTEasy Reactive
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/check/AuthenticatedCheck.java
Labels: area/security, triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#19848 Dev UI Keykloak - Make the logout button visible
  extensions/oidc/deployment/src/main/resources/dev-templates/provider.html
Labels: area/oidc, area/dev-ui, triage/backport?

#19863 Remove useless code from KuberentesProcessor
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
Labels: area/kubernetes

#19844 Don't fail Hibernate Validator when no RESTEasy Reactive request is in progress
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/ResteasyReactiveContextLocaleResolver.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/injection/ContextProducers.java
  integration-tests/hibernate-validator-resteasy-reactive/pom.xml
  integration-tests/hibernate-validator-resteasy-reactive/src/main/java/io/quarkus/it/hibernate/validator/HibernateValidatorTestResource.java
  integration-tests/hibernate-validator-resteasy-reactive/src/main/java/io/quarkus/it/hibernate/validator/HibernateValidatorTestResourceGenericInterface.java
  integration-tests/hibernate-validator-resteasy-reactive/src/main/java/io/quarkus/it/hibernate/validator/HibernateValidatorTestResourceInterface.java
  integration-tests/hibernate-validator-resteasy-reactive/src/main/java/io/quarkus/it/hibernate/validator/custom/MyCustomConstraint.java
  integration-tests/hibernate-validator-resteasy-reactive/src/main/java/io/quarkus/it/hibernate/validator/custom/MyOtherBean.java
  integration-tests/hibernate-validator-resteasy-reactive/src/test/java/io/quarkus/it/hibernate/validator/HibernateValidatorFunctionalityTest.java
  integration-tests/pom.xml
Labels: area/hibernate-validator, area/resteasy-reactive, triage/backport?

#19872 Improve documentation for token propagation
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessToken.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessTokenRequestFilter.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/JsonWebToken.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/JsonWebTokenRequestFilter.java
Labels: area/documentation

#19876 More descriptive error messages for unsupported Jandex storage format versions
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestClassIndexer.java
Labels: area/core, triage/waiting-for-ci, area/testing

#19874 Bump kubernetes-client-bom from 5.7.0 to 5.7.2
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#19839 Replace runtime reflection usage in rest-links with build time metadata capturing
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/DotNames.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksContainerFactory.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksMethodScanner.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLinksHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLinksResponseFilter.java
Labels: area/resteasy-reactive

#19890 Test execution message is now copy/paste friendly
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultJarLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultNativeImageLauncher.java
Labels: area/testing

#19759 Implement inheritence for Stereotype and qualifier in arc
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/StereotypeInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/inheritance/MemberLevelInheritanceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/inheritance/TypeLevelInheritanceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/stereotypes/StereotypeInheritanceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/stereotypes/TransitiveStereotypeTest.java
Labels: area/arc, triage/waiting-for-ci

#19869 Make sure we respect and document the MP config settings for overriding Context Propagation
  docs/src/main/asciidoc/context-propagation.adoc
  extensions/smallrye-context-propagation/deployment/pom.xml
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/smallrye/context/deployment/test/AllClearedConfigTest.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/smallrye/context/deployment/test/AllUnchangedConfigTest.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/smallrye/context/deployment/test/NoConfigTest.java
  extensions/smallrye-context-propagation/runtime/src/main/java/io/quarkus/smallrye/context/runtime/SmallRyeContextPropagationProvider.java
Labels: area/documentation, area/reactive, area/smallrye

#19871 Make KubernetesClientErrorHandler always throw a RuntimeException
  extensions/kubernetes-client/deployment-internal/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientErrorHandler.java
Labels: area/kubernetes

#19887 LambdaContainerHandlerSubstitution class must be marked final
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/graal/LambdaContainerHandlerSubstitution.java
Labels: area/amazon-lambda, triage/backport?, triage/backport-2.1?

#19897 Fix use of OpenTelemetry OTLP exporter in native mode
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/restclient/ClientTracingFilter.java
  integration-tests/resteasy-reactive-rest-client/pom.xml
Labels: area/tracing, triage/backport?

#19901 Expose Agroal feature: idle validation
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
Labels: area/agroal, triage/backport?

#19904 Fix issue with skip predicates in scheduled methods
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/ConditionalExecutionTest.java
Labels: area/scheduler, triage/waiting-for-ci, triage/backport?

#19905 Qute docs - introduce the "Qute Used as a Standalone Library" section
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation

#19906 Fix gradle deployment classpath leak
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/DependencyUtils.java
  integration-tests/gradle/src/main/resources/conditional-dependencies/ext-a/runtime/build.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/ConditionalDependenciesTest.java
Labels: area/gradle, area/devtools, triage/backport?

#19908 Include relevant upstream catalogs even if their versions aren't recommended for new projects
  devtools/cli/src/main/java/io/quarkus/cli/common/TargetQuarkusVersionGroup.java
  devtools/cli/src/test/java/io/quarkus/cli/common/TargetQuarkusVersionGroupTest.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClient.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/MultiplePlatformBomsTestBase.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/QuarkusPlatformReferencingArchivedUpstreamVersionTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/RegistryExtensionResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/PlatformStreamCoords.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonCatalogMerger.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/catalog/json/JsonCatalogMergerTest.java
Labels: triage/waiting-for-ci, area/platform, area/devtools, area/cli, triage/backport?

#19909 Fixed a broken link in a guide
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
Labels: area/documentation

#19920 Fix broken link for config-reference
  docs/src/main/asciidoc/mailer.adoc
Labels: area/documentation, triage/backport?

#19922 Set default jvm-target in basic kotlin sample project
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/build.gradle
Labels: area/gradle, triage/backport?

#19880 Update JNA to work with Apple M1
  bom/application/pom.xml
Labels: area/dependencies

#19895 Ensure that eager security handling works in native mode
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/HelloResource.java
  integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/HelloResourceBase.java
  integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/IHelloResource.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/HelloResourceIT.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/HelloResourceTest.java
Labels: area/resteasy-reactive, triage/backport?

#19902 gRPC - archive with a MutinyBean implementor is a bean archive
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchivePredicateBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
Labels: area/arc, triage/waiting-for-ci, area/grpc, triage/backport?

#19925 Add instructions to access App passwords page
  docs/src/main/asciidoc/mailer-reference.adoc
Labels: area/documentation

#19873 Arc - transactional observers should register standard synchronization instead of interposed
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/CDIDelegatingTransactionManager.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaProducers.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventImpl.java
Labels: area/arc, area/narayana

#19910 Dev Services for Keycloak: read the realm name from file, fix the container lookup, create default realm optionally
  docs/src/main/asciidoc/images/dev-ui-keycloak-decoded-tokens.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-logout.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-test-service-from-spa.png
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  integration-tests/oidc-token-propagation/src/main/resources/application.properties
  integration-tests/oidc-token-propagation/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  test-framework/keycloak-server/src/main/java/io/quarkus/test/keycloak/client/KeycloakTestClient.java
Labels: area/documentation, area/testing, area/oidc, triage/backport?

#19921 Fix combination of multiple `@Nested` tests with root lifecycle methods
  integration-tests/main/src/test/java/io/quarkus/it/main/JaxbTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport?

#19927 SmallRye GraphQL 1.3.2
  bom/application/pom.xml
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/SmallRyeGraphQLClientRecorder.java
Labels: area/smallrye, area/dependencies, area/graphql, triage/backport?

#19934 Make TransactionSynchronizationRegistry producer @Unremovable once again
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaProducers.java
Labels: triage/waiting-for-ci, area/narayana

#19928 Upgrade to Oracle JDBC driver v 21.3.0.0 and import its BOM
  bom/application/pom.xml
Labels: release/noteworthy-feature, area/persistence, area/dependencies, triage/backport?

#19932 Mark oidc-client and oidc-client-filter as stable and update descriptions for all OIDC extensions
  docs/src/main/asciidoc/images/dev-ui-oidc-card.png
  docs/src/main/asciidoc/images/dev-ui-oidc-keycloak-card.png
  extensions/oidc-client-filter/runtime/pom.xml
  extensions/oidc-client-filter/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/oidc-client-reactive-filter/runtime/pom.xml
  extensions/oidc-client/runtime/pom.xml
  extensions/oidc-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/oidc-token-propagation/runtime/pom.xml
  extensions/oidc/runtime/pom.xml
Labels: area/documentation, area/oidc, triage/backport?

#19926 Experimental Maven goal to check for Quarkus platform and extension updates
  devtools/maven/src/main/java/io/quarkus/maven/CheckForUpdatesMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
Labels: area/maven, area/platform, area/devtools, triage/backport?

#19938 Oracle JDBC metadata overrides
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageAllowIncompleteClasspathAggregateBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageAllowIncompleteClasspathBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAllowIncompleteClasspathAggregateStep.java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleReflections.java
  extensions/jdbc/jdbc-oracle/deployment/src/test/java/io/quarkus/jdbc/oracle/deployment/RegexMatchTest.java
  integration-tests/jpa-oracle/src/main/resources/application.properties
Labels: priority/urgent, area/persistence, area/core, triage/backport?

#19939 Add mailer-deployment to bom
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#19936 Fix a few issues with the CI build report
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra, area/infra-automation, triage/backport?

#19949 Fix continuous testing race
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestRunner.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#19948 SCI's can't add websocket endpoints
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/websockets/client/deployment/pom.xml
  extensions/websockets/client/deployment/src/main/java/io/quarkus/undertow/websockets/client/deployment/WebsocketClientProcessor.java
  extensions/websockets/client/runtime/src/main/java/io/quarkus/undertow/websockets/client/runtime/WebsocketCoreRecorder.java
  integration-tests/main/src/main/java/io/quarkus/it/websocket/AddWebSocketHandler.java
  integration-tests/main/src/test/java/io/quarkus/it/main/WebsocketTestCase.java
Labels: area/undertow, area/websockets

#19947 Fix log assertions
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/testing, triage/backport?

#19937 Revert "Register @ConfigMappings directly into the Config builder"
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigMappingUtils.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigClassBuildItem.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ConfigurableExceptionMapper.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ExceptionConfig.java
Labels: area/core, area/config, area/arc, area/hibernate-validator

#19889 Use the same parent CL for both test and dev
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
Labels: area/core

#19859 Change dev mode working directory
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/maven, release/breaking-change, area/devtools

#19858 Fix race in continuous testing tests
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/ContinuousTestingSharedStateListener.java
  core/devmode-spi/src/main/java/io/quarkus/dev/testing/ContinuousTestingSharedStateManager.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ContinuousTestingTestUtils.java
Labels: area/core, area/testing

#19891 Add QuarkusMainTest and QuarkusMainIntegrationTest
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleHelper.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/LogCapturingOutputFilter.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/BasicConsole.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/RedirectPrintStream.java
  docs/src/main/asciidoc/command-mode-reference.adoc
  extensions/picocli/runtime/src/main/java/io/quarkus/picocli/runtime/PicocliRunner.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/StartupAction.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientFactory.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java
  integration-tests/picocli-native/pom.xml
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/ChildOfParentCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/CommandUsedAsParent.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/CompletionReflectionCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/CustomDefaultValueProvider.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/DefaultValueProviderCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/DynamicProxyInvokerCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/DynamicVersionProviderCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/LocalizedCommandOne.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/LocalizedCommandTwo.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/Main.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/MutuallyExclusiveOptionsCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TestCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TestResource.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TopTestCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/UnmatchedCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/WithMethodSubCommand.java
  integration-tests/picocli-native/src/main/resources/application.properties
  integration-tests/picocli-native/src/test/java/io/quarkus/it/picocli/PicocliIT.java
  integration-tests/picocli-native/src/test/java/io/quarkus/it/picocli/PicocliTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/ArtifactLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultJarLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultNativeImageLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/ProcessReader.java
  test-framework/common/src/main/java/io/quarkus/test/common/RestorableSystemProperties.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisabledOnIntegrationTestCondition.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/Launch.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/LaunchResult.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/QuarkusMainIntegrationTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/QuarkusMainLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/QuarkusMainTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/util/CloseAdaptor.java
Labels: area/documentation, area/core, area/testing, area/platform, area/devtools, area/picocli

#19961 Document Spring Boot `@ConfigProperties` limitations and recommendations
  docs/src/main/asciidoc/spring-boot-properties.adoc
Labels: area/documentation

#19958 Trim container-image configuration values
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageConfig.java
Labels: triage/waiting-for-ci, triage/backport?

#19960 Improved test for @ConfigMapping constructor injection with override
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigMappingTest.java
Labels: area/arc

#19883 GraphQL - make sure the panache entities are updated in the index
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/OverridableIndex.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLIndexBuildItem.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/HotReloadTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/TestPojo.java
  integration-tests/hibernate-orm-graphql-panache/pom.xml
  integration-tests/hibernate-orm-graphql-panache/src/main/java/io/quarkus/it/hibertnate/orm/graphql/panache/Author.java
  integration-tests/hibernate-orm-graphql-panache/src/main/java/io/quarkus/it/hibertnate/orm/graphql/panache/Book.java
  integration-tests/hibernate-orm-graphql-panache/src/main/java/io/quarkus/it/hibertnate/orm/graphql/panache/BookRepository.java
  integration-tests/hibernate-orm-graphql-panache/src/main/java/io/quarkus/it/hibertnate/orm/graphql/panache/GraphQLResource.java
  integration-tests/hibernate-orm-graphql-panache/src/main/resources/application.properties
  integration-tests/hibernate-orm-graphql-panache/src/main/resources/import.sql
  integration-tests/hibernate-orm-graphql-panache/src/test/java/io/quarkus/it/hibertnate/orm/graphql/panache/HibernateOrmGraphQLPanacheIT.java
  integration-tests/hibernate-orm-graphql-panache/src/test/java/io/quarkus/it/hibertnate/orm/graphql/panache/HibernateOrmGraphQLPanacheTest.java
  integration-tests/hibernate-orm-graphql-panache/src/test/java/io/quarkus/it/hibertnate/orm/graphql/panache/PayloadCreator.java
  integration-tests/hibernate-orm-graphql-panache/src/test/java/io/quarkus/it/hibertnate/orm/graphql/panache/TestResources.java
  integration-tests/pom.xml
Labels: area/smallrye, triage/waiting-for-ci, area/graphql

#19964 Fixes related to Kotlin JVM target
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/kotlin/build.tpl.qute.gradle
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/kotlin/pom.tpl.qute.xml
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#19893 Fix Dev UI Logging
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleHelper.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleInstalledBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/console/StartupLogCompressor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/DevServicesApicurioRegistryProcessor.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesRedisProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
  extensions/vault/deployment/src/main/java/io/quarkus/vault/deployment/DevServicesVaultProcessor.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
Labels: area/documentation, area/core, area/smallrye, area/testing, area/reactive-messaging, area/mongodb, area/oidc, area/platform, area/vault, area/kafka, area/devtools, area/redis, area/picocli

#19955 Make @TestSecurity work correctly with unannotated JAX-RS endpoints security feature
  docs/src/main/asciidoc/security-authorization.adoc
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/DenyAllInterceptor.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/AdditionalSecuredClassesBuildItem.java
Labels: area/security, area/testing, triage/backport?

#19977 Add memory settings according to redpanda docker quickstart
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
Labels: area/kafka

#19969 Support for provider-neutral OIDC Dev UI
  docs/src/main/asciidoc/images/dev-ui-oidc-devconsole-card.png
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcAuthorizationCodePostHandler.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevServicesBuildItem.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevServicesUtils.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcTestServiceHandler.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevConsolePostHandler.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/oidc/deployment/src/main/resources/dev-templates/embedded.html
  extensions/oidc/deployment/src/main/resources/dev-templates/provider.html
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleOidcSmokeTest.java
Labels: area/documentation, area/oidc

#19951 Default to drop-and-create for DevServices
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/PanacheJAXBTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/resources/application-erroneous-multiple-persistence-units.properties
  extensions/panache/hibernate-orm-panache/deployment/src/test/resources/application-multiple-persistence-units-for-repository.properties
  extensions/panache/hibernate-orm-panache/deployment/src/test/resources/application-multiple-persistence-units.properties
Labels: area/panache, area/persistence, area/hibernate-orm

#19984 Release the context manager last
  extensions/smallrye-context-propagation/runtime/src/main/java/io/quarkus/smallrye/context/runtime/SmallRyeContextPropagationRecorder.java
Labels: area/smallrye

#19995 Update rest-data-panache and spring-data-rest guides to use reactive dep
  docs/src/main/asciidoc/rest-data-panache.adoc
  docs/src/main/asciidoc/spring-data-rest.adoc
Labels: area/documentation

#19997 Fix Multiple Hibernate ORM DevUI entries
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/devconsole/HibernateOrmDevConsoleInfoSupplier.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/devconsole/HibernateOrmDevConsoleIntegrator.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dev-ui, triage/backport?

#19988 Fix permission issue in multi-stage docker build
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#20004 Capture histogram data if configured for long task timers
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerTimedInterceptor.java
Labels: triage/backport?

#19421 Doc edit: config-mapping mocking docs need @InjectMock
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation

#20005 Added link to Swagger UI from OIDC Dev UI Screen
  bom/application/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/resources/dev-templates/provider.html
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
Labels: triage/waiting-for-ci, area/oidc, area/swagger-ui, area/dependencies

#19993 Fix NPE in QuarkusTestExtension.runAfterAllCallbacks() on failed boot (2.2)
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#13408 Add characterEscapeHandler TypedXmlWriter xmlseeAlso support and fix separator jaxbindex
  .github/native-tests.json
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  integration-tests/jaxb/pom.xml
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/Book.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/JaxbResource.java
  integration-tests/jaxb/src/main/resources/io/quarkus/it/jaxb/jaxb.index
  integration-tests/jaxb/src/test/java/io/quarkus/it/jaxb/JaxbIT.java
  integration-tests/jaxb/src/test/java/io/quarkus/it/jaxb/JaxbTest.java
  integration-tests/pom.xml
Labels: triage/waiting-for-ci, area/jaxb, area/dependencies, area/infra-automation, triage/backport?

#20010 Fix declaredType handling in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/SecurityWithMethodGenericsTest.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/scanning/ClientEndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/MethodParameter.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerMethodParameter.java
Labels: area/resteasy-reactive, triage/backport?

#19992 Clarify the getting started documentation when building an uber-jar
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/README.tpl.qute.md
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/README.md
Labels: area/documentation, triage/waiting-for-ci, area/platform, area/devtools

#20007 GradleProjectBuildFile.getDependencies() should be returning direct dependencies instead of all of them
  devtools/gradle/src/main/java/io/quarkus/devtools/project/buildfile/GradleProjectBuildFile.java
Labels: area/gradle, area/devtools

#20011 CLI: change rendering of nested subcommands in help
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensions.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/main/java/io/quarkus/cli/Registry.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryAddCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryListCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryRemoveCommand.java
Labels: area/devtools, area/cli, triage/backport?

#19972 Bump Keycloak version to 15.0.2
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakReflectionBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/oidc, area/dependencies, area/keycloak

#20015 Improve the kubernetes-config doc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/kubernetes-config.adoc
Labels: area/documentation, triage/backport?

#20023 Rest Client Reactive: Support Multi for SSE
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive-jackson/deployment/src/test/java/io/quarkus/rest/client/reactive/jackson/test/MultiSseTest.java
Labels: area/resteasy-reactive

#20019 Apply tiny polish to DependencyTreeMojo
  devtools/maven/src/main/java/io/quarkus/maven/DependencyTreeMojo.java
Labels: area/maven, area/devtools

#20029 Use quarkus-gradle-plugin.version property in the JSON metadata template to represent the version of the Gradle plugin
  build-parent/pom.xml
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
Labels: area/dependencies, area/devtools, triage/backport?

#19225 Run reactive rest client on Vertx same context
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/BasicRestClientTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/HelloClient2.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/HelloResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/TestBean.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/provider/ProviderDisabledAutodiscoveryTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/provider/ProviderPriorityTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/provider/ProviderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: area/resteasy-reactive

#19983 Take tags on meta annotation into account
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/metaannotations/MetaAnnotationsTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/metaannotations/MetaET.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/metaannotations/UnitTest.java
Labels: area/core, area/vertx

#19987 Better status display for datasources
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/DevServicesApicurioRegistryProcessor.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc

#20041 Micrometer: fix quarkiverse groupId in docs
  docs/src/main/asciidoc/micrometer.adoc
Labels: area/documentation, triage/backport?

#20044 Restore ArC to Dev UI
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/devconsole/HibernateDevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsole.java
Labels: area/persistence, area/vertx, area/hibernate-orm

#20033 Fix outdated reactive transaction management doc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
Labels: area/documentation

#20056 Rest Client Reactive: Support PathParam from BeanParam
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanparam/BeanPathParamTest.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/BeanParamParser.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/ItemType.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/PathParamItem.java
Labels: area/resteasy-reactive, triage/backport?

#20050 Be more intelligent about locating java for @QuarkusIntegrationTest
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultJarLauncher.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#20016 Bump kubernetes-client-bom from 5.7.2 to 5.7.3
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#20062 Add missing labels assertions on Service
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithApplicationPropertiesTest.java
Labels: area/kubernetes

#20048 Make MpMetadata public
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/MpMetadata.java
Labels: area/metrics, triage/backport?

#20032 CLI: make display of subcommands consistent
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensions.java
  devtools/cli/src/main/java/io/quarkus/cli/Registry.java
Labels: area/devtools, area/cli, triage/backport?

#20060 2.2.3 backports1
  bom/application/pom.xml
  docs/src/main/asciidoc/micrometer.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/SecurityWithMethodGenericsTest.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/scanning/ClientEndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/MethodParameter.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerMethodParameter.java
Labels: triage/waiting-for-ci

#20052 Make failure count red
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#20061 Added search in log level in Dev UI
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/logstream.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanagerModals.html
Labels: area/vertx, triage/waiting-for-ci

#20055 Easily go back to Dev UI from Swagger and GraphQL UI
  bom/application/pom.xml
  core/deployment/src/main/resources/META-INF/branding/smallrye-graphql-ui-graphiql.css
  core/deployment/src/main/resources/META-INF/branding/smallrye-open-api-ui.css
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
Labels: area/core, area/smallrye, triage/waiting-for-ci, area/swagger-ui, area/dependencies, area/graphql

#20078 Fixed NPE and proper filtering of 1.x platform descriptors
  devtools/maven/src/main/java/io/quarkus/maven/CheckForUpdatesMojo.java
Labels: triage/backport?

#20086 Fix OIDC Dev UI in case Swagger is not added
  extensions/oidc/deployment/src/main/resources/dev-templates/provider.html
Labels: triage/waiting-for-ci, area/oidc, triage/backport?

#20090 Change the default for `printDatafetcherException` to true in Dev Mode
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
Labels: area/smallrye, area/graphql

#20091 Fix for typo in kafka docs
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation, triage/waiting-for-ci

#20095 Fix test references to the gone vertx-web extension
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectJBangTest.java
Labels: triage/waiting-for-ci, area/devtools, area/cli, area/jbang

#20082 Don't try to remove node8-typescript image
  .github/ci-prerequisites.sh
Labels: area/infra-automation

#20035 Support injecting OIDC WireMockServer into tests
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWireMock.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
  test-framework/oidc-server/src/test/java/io/quarkus/test/oidc/server/OidcWiremockTestResourceInjectionTest.java
Labels: area/testing, area/oidc

#20101 Use proper wait-time for jar and docker launch modes
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/JarLauncherProvider.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#20098 RoleBinding is now properly labelled / annotated
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithRbacAndNamespaceTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-rbac-and-namespace.properties
Labels: area/kubernetes, triage/backport?

#20116 Fix flaky GetTransactionLifecycleTest caused by slow CI
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/transaction/AbstractTransactionLifecycleTest.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm

#17228 Support prefix in @ConfigRoot
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/DefaultValuesConfigurationSource.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/PropertiesUtil.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/definition/RootDefinition.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/matching/PatternMapBuilder.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigDescriptionBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemScanner.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtil.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtilTest.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigRoot.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/PrefixConfigTestProcessor.java
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  core/test-extension/deployment/src/main/resources/application.properties
  core/test-extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBean.java
  core/test-extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/IConfigConsumer.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/TestRecorder.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/AnotherPrefixConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/PrefixBuildTimeConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/PrefixConfig.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/named/PrefixNamedConfig.java
  integration-tests/test-extension/src/main/java/io/quarkus/it/extension/NativeBean.java
Labels: triage/needs-rebase, area/core, area/config, triage/waiting-for-ci

#20113 Introduce build item that gives access to generated k8s resources
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/GeneratedKubernetesResourceBuildItem.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/GeneratedKubernetesResourcesBuildItemTest.java
Labels: area/kubernetes, triage/backport?

#20123 Improved assertions in BasicJavaNativeBuildIT
  integration-tests/gradle/src/test/java/io/quarkus/gradle/nativeimage/BasicJavaNativeBuildIT.java
Labels: area/gradle, triage/waiting-for-ci

#20118 Add docs about injecting OIDC WireMockServer into tests
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation

#20107 Bump smallrye-jwt version to 3.3.0
  bom/application/pom.xml
  tcks/microprofile-jwt/pom.xml
  tcks/microprofile-jwt/src/test/xml/exclusions-jdk17.xsl
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#20070 Added flags to the AppDependency and simplified the AppModel
  core/deployment/src/test/java/io/quarkus/deployment/conditionaldeps/CascadingConditionalDependenciesTest.java
  core/deployment/src/test/java/io/quarkus/deployment/conditionaldeps/ConditionalDependencyWithSingleConditionTest.java
  core/deployment/src/test/java/io/quarkus/deployment/conditionaldeps/ConditionalDependencyWithTwoConditionsTest.java
  core/deployment/src/test/java/io/quarkus/deployment/conditionaldeps/UnsatisfiedConditionalDependencyWithTwoConditionsTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/BasicExecutableOutputOutcomeTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ExcludeExtensionDepsTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ExcludeLibDepsTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ExecutableOutputOutcomeTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/OptionalDepsTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ProvidedExtensionDepsTest.java
  devtools/gradle/src/main/java/io/quarkus/gradle/builder/QuarkusModelBuilder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppDependency.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PersistentAppModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/gradle/Dependency.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/gradle/QuarkusModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/gradle/impl/DependencyImpl.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/gradle/impl/QuarkusModelImpl.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/CollectDependenciesBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/replace/test/ManagedReplacedDependencyTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/replace/test/SimpleReplacedDependencyTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/SystemPropertyOverridesPomPropertyDependencyTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/VersionPropertyDependencyTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CheckForLatestMajorUpdatesTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CheckForLatestMicroUpdatesTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CheckForLatestMinorUpdatesTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CheckForNextMajorUpdatesTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CheckForNextMicroUpdatesTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CheckForNextMinorUpdatesTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/CheckUpdatesDisableTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/update/UpdateToNextMicroAndPersistStateTest.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/util/QuarkusModelHelper.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/DeploymentInjectingDependencyVisitor.java
  integration-tests/gradle/src/main/resources/.quarkus/config.yaml
Labels: area/gradle, area/core, area/devtools

#20133 Rename vertx-web to reactive-routes
  docs/src/main/asciidoc/amazon-lambda-http.adoc
  docs/src/main/asciidoc/azure-functions-http.adoc
  docs/src/main/asciidoc/gcp-functions-http.adoc
Labels: area/documentation

#20134 Handle openshift log stream errors in a more resilient fashion
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
Labels: triage/backport?

#20130 Trim the Avro codegen import paths to allow multi-line configuration
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroCodeGenProviderBase.java
Labels: triage/waiting-for-ci

#20104 Enable the Panache annotation processor in Gradle if it's found on the classpath
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools, triage/backport?

#20137 Clarify Kafka reference guide testing via in-memory channels
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#20127 REST Client Reactive: support POJO as non-file fields in multipart messages
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/java/io/quarkus/jaxrs/client/reactive/runtime/MultipartFormUtils.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartForm.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormDataPart.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormUpload.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  integration-tests/rest-client-reactive-multipart/pom.xml
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartClient.java
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartResource.java
  integration-tests/rest-client-reactive-multipart/src/test/java/io/quarkus/it/rest/client/multipart/MultipartResourceTest.java
Labels: area/resteasy-reactive

#20129 Take configured wait time into account in @QuarkusIntegrationTest for log file check
  test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java
Labels: area/testing, triage/backport?

#20126 Remove tomcat-annotations-api from Jaeger
  extensions/jaeger/runtime/pom.xml
Labels: area/jaeger

#20135 Fail in case one of the requested catalogs couldn't be resolved instead of warning about it
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
Labels: area/platform, area/devtools, triage/backport?

#20146 Reintroduce lost tests in mongodb-client
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/NativePojoResourceIT.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/NativeVehicleResourceIT.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/PojoResourceTest.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/VehicleResourceTest.java
Labels: triage/waiting-for-ci, area/mongodb

#20120 Compress docker output on startup
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core

#20105 Add quarkus.http.enable-decompression option
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/DecompressionTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx

#20136 Bump netty-bom from 4.1.67 to 4.1.68
  bom/application/pom.xml
Labels: area/dependencies

#20149 Fix issue where RESTEasy Reactive kept incorrect media type state
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/mediatype/ContentTypeCaseTest.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/MediaTypeHeaderDelegate.java
Labels: area/resteasy-reactive, triage/backport?

#20151 Update OidcTestSecurityIdentityAugmentorProducer to generate a single RSA key
  test-framework/security-oidc/src/main/java/io/quarkus/test/security/oidc/OidcTestSecurityIdentityAugmentorProducer.java
Labels: area/testing, triage/backport?

#20119 Fix quarkus.http.host-enabled=false without domain socket
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx

#20154 Fix LambdaDevServicesContinuousTestingTestCase flaky test
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/util/QuarkusModelHelper.java
Labels: area/devtools

#20150 Support BouncyCastle KeyFactorySpi in native mode
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  integration-tests/bouncycastle/src/main/java/io/quarkus/it/bouncycastle/BouncyCastleEndpoint.java
  integration-tests/bouncycastle/src/main/resources/application.properties
  integration-tests/bouncycastle/src/main/resources/ecPrivateKey.pem
  integration-tests/bouncycastle/src/main/resources/rsaPrivateKey.pem
  integration-tests/bouncycastle/src/test/java/io/quarkus/it/bouncycastle/BouncyCastleTestCase.java
Labels: area/security, triage/backport?
