Repository quarkusio/quarkus, pull requests merged in 2021-07, with the labels that each got.

#18280 Add documentation for the recently merged NDJSON support in vertx-web
  docs/src/main/asciidoc/reactive-routes.adoc
Labels: area/documentation

#18258 Save and restore windows terminal state
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
Labels: area/core, area/devtools, area/gradle, area/maven, triage/backport?

#18259 Don't use a generated feature for resources
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/ResourcesFeature.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ResourcesITCase.java
Labels: area/core, triage/backport?

#18244 Upgrade Kotlin dependency to 1.5.20
  .github/workflows/jdk-early-access-build.yml
  .mvn/jvm.config
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/ByteCodeType.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/KotlinPanacheClassOperationGenerationVisitor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/kotlin/pom.xml
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartBuildIT.java
  integration-tests/gradle/src/test/resources/bean-in-testsources-project/build.gradle
  integration-tests/gradle/src/test/resources/kotlin-grpc-project/build.gradle
  integration-tests/gradle/src/test/resources/multi-module-kotlin-project/gradle.properties
  integration-tests/gradle/src/test/resources/multi-source-project/build.gradle
  integration-tests/kotlin/src/test/java/io/quarkus/kotlin/maven/it/KotlinDevModeIT.java
  integration-tests/kotlin/src/test/java/io/quarkus/kotlin/maven/it/KotlinRemoteDevModeIT.java
  integration-tests/kotlin/src/test/resources/projects/classic-kotlin/pom.xml
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/pom.xml
Labels: area/dependencies, area/gradle, area/infra-automation, area/kotlin, area/panache, area/reactive-messaging, area/smallrye

#18255 Mock @ConfigMapping documentation
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation

#18291 Fix off by 1 error
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
Labels: area/core, triage/backport?

#18298 Qute - CompletedStage and other perf improvements
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/CompletedStage.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatedParams.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expression.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/FieldAccessor.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Futures.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/GetterAccessor.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Mapper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/MultiResultNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/NamespaceResolver.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ReflectionValueResolver.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Resolver.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ResultNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Results.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TextNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolverBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/WhenSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/AsyncDataTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/EvaluatedParamsTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ExpressionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/LoopSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SimpleTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ValueResolverBuilderTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/VirtualMethodParametersTest.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/Descriptors.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: area/qute

#18274 CLI: set JBANG_REPO during surefire tests
  devtools/cli/pom.xml
Labels: area/cli, area/devtools, triage/backport?

#18283 Recalculate compressed size in filterZipFile()
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, triage/backport?, triage/waiting-for-ci

#18309 Fix a small formatting issue in Reaugmentation guide
  docs/src/main/asciidoc/reaugmentation.adoc
Labels: area/documentation, triage/backport?

#18220 Error message and documentation for mixed CLI version
  devtools/cli/src/main/java/io/quarkus/cli/CreateCli.java
  devtools/cli/src/main/java/io/quarkus/cli/common/RegistryClientMixin.java
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/cli, area/devtools, area/documentation, area/resteasy-reactive

#18304 Escape | and ` for default values in config doc generation
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
Labels: area/core, triage/backport?

#18307 Fix generated bytecode of Panache repository's getEntityManager(class) method
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheRepositoryBase.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/PanacheRepositoryClassOperationGenerationVisitor.java
  extensions/panache/panache-common/runtime/src/main/java/io/quarkus/panache/common/impl/GenerateBridge.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/User.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/UserRepository.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/resources/UserResource.java
  integration-tests/hibernate-orm-panache/src/main/resources/application.properties
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheRepositoryBaseTest.java
Labels: area/panache, triage/backport?

#18310 Clarify profile aware files vs profile properties
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation

#18312 Some very minor polishing of our Classloaders & related
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  core/deployment/src/main/java/io/quarkus/deployment/GeneratedClassGizmoAdaptor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedRemoteDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigDescriptionBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  devtools/reflection-agent/src/main/java/io/quarkus/agent/ReflectionAgent.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PersistentAppModel.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/DirectoryClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/DataKey.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/CodestartPathProcessor.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/SmartPackageFileStrategyHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/BuildTool.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/catalog/processor/MetadataValue.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/SnapshotTesting.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTest.java
Labels: area/arc, area/codestarts, area/core, area/devtools, area/platform

#18286 Add ability to change args between restarts
  core/deployment/src/main/java/io/quarkus/deployment/ConsoleConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/BrowserOpenerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/console/ConsoleHelper.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/MessageFormat.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/BasicConsole.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/InputHandler.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
  docs/src/main/asciidoc/continuous-testing.adoc
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
Labels: area/core, area/documentation, area/vertx

#18321 Remove obsolete warning about @Provider and constructor injection
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
Labels: triage/backport?

#18320 DevMojo: use proper keys discovering plugins and log goal invocations
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: triage/backport?

#18317 Upgrade to Mutiny 0.18.1
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/waiting-for-ci

#18262 Remove support for the CompletionStage API of Hibernate Reactive
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/singlepersistenceunit/SinglePersistenceUnitCdiStageSessionTest.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionFactoryProducer.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionProducer.java
  integration-tests/hibernate-reactive-db2/src/main/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2AlternativeTestEndpoint.java
  integration-tests/hibernate-reactive-db2/src/main/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2TestEndpoint.java
  integration-tests/hibernate-reactive-db2/src/test/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2AlternativeTest.java
  integration-tests/hibernate-reactive-db2/src/test/java/io/quarkus/it/hibernate/reactive/db2/HibernateReactiveDB2Test.java
  integration-tests/hibernate-reactive-mysql/src/main/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLAlternativeTestEndpoint.java
  integration-tests/hibernate-reactive-mysql/src/main/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLTestEndpoint.java
  integration-tests/hibernate-reactive-mysql/src/test/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLAlternativeTest.java
  integration-tests/hibernate-reactive-mysql/src/test/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLTest.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpoint.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpointAlternative.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpointFetchLazy.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveAlternativeTest.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveFetchLazyTest.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTest.java
Labels: area/hibernate-reactive, area/persistence

#18332 Update log levels when running mvn quarkus:test
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LaunchModeBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedTestModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/deployment/src/main/java/io/quarkus/deployment/jbang/JBangAugmentorImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/core, area/devtools, area/jbang, triage/backport?

#18336 Use StackWalker API to get calling class
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DefaultDataSourceDbKindBuildItem.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleRouteBuildItem.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleRuntimeTemplateInfoBuildItem.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleTemplateInfoBuildItem.java
Labels: triage/waiting-for-ci

#18342 Make sure the error message for not-working Docker is visible in test mode
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
Labels: triage/backport?

#18334 Update to Vert.x 4.1.1
  bom/application/pom.xml
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/reactive-datasource/deployment/src/test/java/io/quarkus/reactive/datasource/runtime/TestPool.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AbstractRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedServerRequestWrapper.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/reactive-messaging-kafka/pom.xml
Labels: area/dependencies, area/mailer, area/vertx

#18348 General improvements to OpenTelemetry integration
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryResourceTest.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/VertxTracingAdapter.java
Labels: area/tracing, triage/backport?

#18353 Fix RR kotline deployment dependencies
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/deployment/pom.xml
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
Labels: area/devtools, area/maven, area/resteasy-reactive

#18366 Fix OpenTelemetry HTTP span naming
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/VertxTracingAdapter.java
  extensions/opentelemetry/rest-client/runtime/src/main/java/io/quarkus/opentelemetry/restclient/ClientTracingFilter.java
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/SimpleResource.java
  integration-tests/opentelemetry/src/main/resources/application.properties
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
Labels: area/tracing, triage/backport?

#18319 CLI: test validation; local repo settings
  devtools/cli/src/main/java/io/quarkus/cli/Build.java
  devtools/cli/src/main/java/io/quarkus/cli/Completion.java
  devtools/cli/src/main/java/io/quarkus/cli/Create.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateApp.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateCli.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateExtension.java
  devtools/cli/src/main/java/io/quarkus/cli/Dev.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensions.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsAdd.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsCategories.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsList.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsRemove.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/main/java/io/quarkus/cli/Version.java
  devtools/cli/src/main/java/io/quarkus/cli/build/BaseBuildCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/build/BuildSystemRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/ExecuteUtil.java
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/JBangRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/common/RegistryClientMixin.java
  devtools/cli/src/main/java/io/quarkus/cli/common/TargetQuarkusVersionGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/create/CreateProjectMixin.java
  devtools/cli/src/test/java/io/quarkus/cli/CliDriver.java
  devtools/cli/src/test/java/io/quarkus/cli/CliHelpTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectJBangTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
Labels: area/cli, area/devtools, area/jbang, triage/backport?

#18341 Registry client config (de)serialization tests and fixes
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistriesConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryArtifactConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryConfigSerializer.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryDescriptorConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryMavenConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryMavenRepoConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryNonPlatformExtensionsConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryPlatformsConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/JsonRegistryQuarkusVersionsConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/json/RegistriesConfigMapperHelper.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/config/json/DevToolsConfigSerializationTest.java
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-any-custom-object.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-any-simple-property.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-descriptor.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-disabled.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-id-only-debug.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-id-only.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-maven-repo-url-id.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-maven-repo-url.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-non-platform-extensions-artifact.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-non-platform-extensions-disabled.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-platforms-artifact.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-platforms-disabled.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-platforms-extension-catalog-included.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-quarkus-versions-exclusive-provider.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-recognized-quarkus-versions.yaml
  independent-projects/tools/registry-client/src/test/resources/devtools-config/registry-update-policy.yaml
Labels: area/devtools, area/platform, triage/backport?, triage/waiting-for-ci

#18358 Fixed StackOverflowError building reflective hierarchy
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
Labels: area/core, triage/backport?

#18364 Fix native error with OTLP exporter for OpenTelemetry
  extensions/opentelemetry/opentelemetry-exporter-otlp/runtime/pom.xml
  extensions/opentelemetry/opentelemetry-exporter-otlp/runtime/src/main/java/io/quarkus/opentelemetry/exporter/otlp/runtime/graal/OtlpExporterSubstitutions.java
Labels: area/tracing, triage/backport?

#18181 Implement label-based container discovery for Redis Dev Service
  bom/application/pom.xml
  docs/src/main/asciidoc/redis-dev-services.adoc
  docs/src/main/asciidoc/redis.adoc
  extensions/devservices/common/pom.xml
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ContainerAddress.java
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ContainerLocator.java
  extensions/devservices/pom.xml
  extensions/kafka-client/deployment/pom.xml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/redis-client/deployment/pom.xml
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesConfig.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/pom.xml
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/DevServicesAmqpProcessor.java
Labels: area/dependencies, area/documentation, area/kafka, area/reactive-messaging, area/redis, area/smallrye

#18227 Qute - introduce strict rendering
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/PropertyNotFoundDevModeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/ReflectionResolverTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/CollectionTemplateExtensionsTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/ConfigTemplateExtensionsTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/TemplateExtensionMethodsTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/propertynotfound/PropertyNotFoundNoopTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/propertynotfound/PropertyNotFoundOutputOriginalTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/propertynotfound/PropertyNotFoundThrowExceptionTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/TypeCheckExcludesTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteRuntimeConfig.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/CompletedStage.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Futures.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/MethodsCandidate.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ResultMapper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Results.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SingleResultNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ArrayResolverTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/EngineTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ExpressionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IfSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/LoopSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/NamespaceResolversTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ReflectionResolverTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SetSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SimpleTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/StrictRenderingTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/UserTagTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/WhenSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/WithSectionTest.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/reader/QuteCodestartFileReader.java
Labels: area/codestarts, area/devtools, area/platform, area/qute, release/breaking-change

#18297 SmallRye GraphQL 1.2.7
  bom/application/pom.xml
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientInjectionTest.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientInjectionWithQuarkusConfigTest.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientSupport.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/SmallRyeGraphQLClientRecorder.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/LuckyNumbersClientApi.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/LuckyNumbersResource.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/TypesafeClientTest.java
Labels: triage/backport?

#18222 Introduce support for Kotlin Flow as return type in RESTEasy Reactive
  bom/application/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/deployment/src/main/java/io/quarkus/resteasy/reactive/kotlin/deployment/KotlinCoroutineIntegrationProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/FlowToPublisherHandler.kt
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/FixedHandlersChainCustomizer.java
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/FlowResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/resources/application.properties
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/FlowResourceTest.kt
Labels: area/dependencies, area/kotlin, area/resteasy-reactive

#18384 Only retain system properties from MAVEN_OPTS
  docs/pom.xml
  independent-projects/bootstrap/maven-resolver/pom.xml
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptions.java
Labels: area/devtools, area/documentation, triage/backport?

#18377 Remove misleading -Dno-descriptor-tests from JDK16 CI job
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#18394 Fixed UI path in GraphQL Guide
  docs/src/main/asciidoc/smallrye-graphql.adoc
Labels: area/documentation, triage/backport?, triage/waiting-for-ci

#18393 Fix typo
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/devtools, area/gradle

#18390 Fix flakey tests
  extensions/elytron-security-common/deployment/src/main/java/io/quarkus/elytron/security/common/deployment/QuarkusSecurityCommonProcessor.java
  extensions/elytron-security-common/runtime/src/main/java/io/quarkus/elytron/security/common/runtime/ElytronCommonRecorder.java
Labels: area/security

#18347 GraphQL: Fix config mapping between smallrye and quarkus keys
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/BusinessException.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLConfigMappingTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLNamingTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTracingDisabledTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTracingTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/HotReloadTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/MetricsDisabledTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/MetricsTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/TestResource.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfigMapping.java
  extensions/smallrye-graphql/runtime/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptor
Labels: area/graphql, area/smallrye, triage/backport?

#18340 OpenAPI: Allow static OpenAPI model from anywhere in the classpath
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/openapi, area/smallrye, triage/backport?

#18368 Change syntax of create
  devtools/cli/src/main/java/io/quarkus/cli/CreateApp.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateCli.java
  devtools/cli/src/main/java/io/quarkus/cli/common/PropertiesOptions.java
  devtools/cli/src/main/java/io/quarkus/cli/common/TargetQuarkusVersionGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetGAVGroup.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectJBangTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
  devtools/cli/src/test/java/io/quarkus/cli/create/TargetGAVGroupTest.java
Labels: area/cli, area/devtools, area/jbang

#18415 Update OidcClient to accept String expires_in values
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
Labels: triage/backport?

#18412 Fixed guide URL for OpenShift extension
  extensions/kubernetes/openshift/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/kubernetes, triage/backport-1.11?, triage/backport?

#18405 Upgrade to Hibernate Search 6.0.5.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/waiting-for-ci

#18403 REST Client reactive: make sure ClientBuilder is registered in native
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#18410 Remove usage of deprecated gradle API
  devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
Labels: area/devtools, area/gradle, triage/waiting-for-ci

#18354 UUID Config Source
  core/runtime/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/ConfigConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/UUIDPropertyTest.java
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/config, area/core, area/documentation

#18362 Introduce the ability to handle custom sources in QuarkusProdModeTest
  extensions/kubernetes/minikube/deployment/src/main/java/io/quarkus/minikube/deployment/MinikubeProcessor.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/CustomProjectRootBuildItem.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-manifest/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-manifest/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-manifest/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-manifest/src/main/resources/application.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-manifest/verify.groovy
  integration-tests/kubernetes/quarkus-standard-way/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithCustomResourcesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/manifests/custom-deployment/kubernetes.yml
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ProdModeTestBuildChainBuilderConsumer.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ProdModeTestBuildChainCustomizerProducer.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ProdModeTestBuildStep.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
Labels: area/kubernetes, area/testing

#18387 TLS: Introduce key-store-key-password
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  integration-tests/vertx-http/src/main/resources/application.properties
  integration-tests/vertx-http/src/main/resources/server-keystore.jks
Labels: area/vertx

#18426 Add missing build-time-principle.png image
  docs/src/main/asciidoc/images/build-time-principle.png
Labels: area/documentation, triage/backport?

#18420 Basic registry client config builder for testing purposes
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/RegistryClientTestHelper.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClient.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientFactory.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientFactoryProvider.java
  independent-projects/tools/devtools-testing/src/main/resources/META-INF/services/io.quarkus.registry.client.spi.RegistryClientFactoryProvider
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigLocator.java
Labels: area/devtools, area/platform, triage/backport?

#18331 Add the ability to enable DEBUG/TRACE logging
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/MessageFormat.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
Labels: area/core

#18428 Propagate quarkus.tls.trust-all in quarkus-spring-cloud-config-client extension
  extensions/spring-cloud-config-client/deployment/src/main/java/io/quarkus/spring/cloud/config/client/SpringCloudConfigProcessor.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientRecorder.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigServerClientConfigSourceProvider.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/VertxSpringCloudConfigGateway.java
  extensions/spring-cloud-config-client/runtime/src/test/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientGatewayTest.java
Labels: area/spring

#18432 Fix test race condition
  test-framework/junit5-internal/src/main/java/io/quarkus/test/InMemoryLogHandler.java
Labels: area/testing

#18407 Bump Sentry to 5.0.1
  bom/application/pom.xml
  extensions/logging-sentry/deployment/src/main/java/io/quarkus/logging/sentry/deployment/SentryProcessor.java
Labels: area/dependencies, area/logging

#18379 Look fo existing UncaughtExceptionHandler when producing KafkaStreams Instance
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
Labels: area/kafka-streams

#18367 Infinispan extension adds some useful links to the dev ui
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devconsole/InfinispanDevConsoleProcessor.java
  extensions/infinispan-client/deployment/src/main/resources/dev-templates/embedded.html
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientSupplier.java
Labels: area/infinispan

#18414 Removed references to deprecated smallrye jwt property
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation

#18442 RESTEasy Reactive: Added a note about multi and response filters
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation, area/resteasy-reactive, triage/waiting-for-ci

#18437 Use matchers to in flaky DevMojoIT in order to get proper logs when the test fails
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/maven

#18441 Add missing nexus-staging-maven-plugin.version to bootstrap parent pom
  independent-projects/bootstrap/pom.xml
Labels: area/devtools

#18436 Fix context affinity for the @ConsumeEvent annotation
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/deployment/MessageConsumerContextTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
Labels: area/vertx, kind/bug, triage/backport?

#18397 Remove unnecessary classloader locking
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
Labels: area/core, triage/waiting-for-ci

#18455 Fix package of OidcTenantConfig in the documentation
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation, triage/backport?

#18454 Ensure exception mappers work with CDI request scope
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/RequestScopeExceptionMapperTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ExceptionMapping.java
Labels: area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#18458 When disposing of a Mutiny.Session on a vert.x thread don't block it
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionProducer.java
Labels: area/hibernate-reactive, area/persistence

#18311 Add reactive MS SQL client extension
  .github/quarkus-bot.yml
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/credentials-provider.adoc
  docs/src/main/asciidoc/datasource.adoc
  extensions/pom.xml
  extensions/reactive-mssql-client/deployment/pom.xml
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/MSSQLPoolBuildItem.java
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/ReactiveMSSQLClientProcessor.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/CredentialsTest.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/CredentialsTestResource.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/CustomCredentialsProvider.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/DevModeResource.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/MSSQLPoolProducerTest.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/MultipleDataSourcesTest.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/ReactiveMSSQLReloadTest.java
  extensions/reactive-mssql-client/deployment/src/test/resources/application-credentials.properties
  extensions/reactive-mssql-client/deployment/src/test/resources/application-default-datasource.properties
  extensions/reactive-mssql-client/deployment/src/test/resources/application-multiple-datasources.properties
  extensions/reactive-mssql-client/pom.xml
  extensions/reactive-mssql-client/runtime/pom.xml
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/DataSourceReactiveMSSQLConfig.java
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/DataSourcesReactiveMSSQLConfig.java
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/MSSQLPoolRecorder.java
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/health/ReactiveMSSQLDataSourcesHealthCheck.java
  extensions/reactive-mssql-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/pom.xml
  integration-tests/reactive-mssql-client/README.md
  integration-tests/reactive-mssql-client/pom.xml
  integration-tests/reactive-mssql-client/src/main/java/io/quarkus/it/reactive/mssql/client/FruitResource.java
  integration-tests/reactive-mssql-client/src/main/resources/application.properties
  integration-tests/reactive-mssql-client/src/test/java/io/quarkus/it/reactive/mssql/client/FruitsEndpointTest.java
  integration-tests/reactive-mssql-client/src/test/java/io/quarkus/it/reactive/mssql/client/HealthCheckIT.java
  integration-tests/reactive-mssql-client/src/test/java/io/quarkus/it/reactive/mssql/client/HealthCheckTest.java
  integration-tests/reactive-mssql-client/src/test/java/io/quarkus/it/reactive/mssql/client/HotReloadFruitResource.java
  integration-tests/reactive-mssql-client/src/test/java/io/quarkus/it/reactive/mssql/client/NativeFruitsEndpointIT.java
  integration-tests/reactive-mssql-client/src/test/resources/application-tl.properties
Labels: area/core, area/dependencies, area/devtools, area/documentation, area/infra-automation, release/noteworthy-feature

#18459 Basic maven project create test for multiple BOM imports
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/QuarkusProjectHelper.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClient.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/CreateMavenProjectImportingMultipleBomsFromSinglePlatformTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/union/ElementCatalogBuilder.java
Labels: area/devtools, area/platform

#18434 Improve warning about blocking on IO thread
  core/runtime/src/main/java/io/quarkus/runtime/BlockingOperationControl.java
  core/runtime/src/main/java/io/quarkus/runtime/BlockingOperationNotAllowedException.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/TransactionScopedSession.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorRequired.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorRequiresNew.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxHttpRequest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityAssociation.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxInputStream.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/InvocationBuilderImpl.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/BlockingNotAllowedException.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ExceptionMapping.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxInputStream.java
Labels: area/core, area/hibernate-orm, area/narayana, area/persistence, area/resteasy-reactive, area/security, area/vertx

#15380 Serialization feature support
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterForReflection.java
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/SerializationTestEndpoint.java
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/serialization/AbstractParent.java
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/serialization/ExternalizablePerson.java
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/serialization/Person.java
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/serialization/SomeSerializationObject.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/main/resources/serialization-config.json
  integration-tests/main/src/test/java/io/quarkus/it/main/CoreSerializationInGraalITCase.java
Labels: area/core

#18423 Refactor support for launching artifacts for @QuarkusIntegrationTest
  test-framework/common/src/main/java/io/quarkus/test/common/ArtifactLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultJarLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultNativeImageLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DockerContainerArtifactLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/JarArtifactLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java
  test-framework/common/src/main/java/io/quarkus/test/common/NativeImageLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ArtifactLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DefaultInitContextBase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/JarLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/NativeImageLauncherProvider.java
  test-framework/junit5/src/main/resources/META-INF/services/io.quarkus.test.junit.launcher.ArtifactLauncherProvider
Labels: area/testing

#18464 Stricter tests for Panache Reactive
  extensions/panache/hibernate-orm-panache/deployment/pom.xml
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/JAXBEntity.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/JAXBTestResource.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/PanacheJAXBTest.java
  extensions/panache/hibernate-reactive-panache-common/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/DuplicateIdWithParentTest.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/MyOtherTestResource.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/MyTestResource.java
Labels: area/panache

#18416 Dev UI: Add strictRendering=false to Qute engine
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleSmokeIT.java
Labels: area/vertx

#17274 Optional sort in REST Data Panache
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/ResourceImplementor.java
  integration-tests/hibernate-orm-rest-data-panache/src/main/resources/import.sql
  integration-tests/hibernate-orm-rest-data-panache/src/test/java/io/quarkus/it/hibernate/orm/rest/data/panache/HibernateOrmRestDataPanacheTest.java
Labels: area/documentation, area/panache

#18483 Fix config value in k8s doc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation, triage/backport?, triage/waiting-for-ci

#18482 DevTools: project creation tests involving non-platform extensions and choosing compatible Quarkus platform version
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/RegistryClientTestHelper.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClient.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/CreateMavenProjectImportingMultipleBomsFromSinglePlatformTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
Labels: area/devtools, area/platform

#18489 Use the new ConfigValue API instead of the equivalent hack
  core/runtime/src/main/java/io/quarkus/runtime/configuration/AbstractRawDefaultConfigSource.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigRecorder.java
Labels: area/config, area/core, triage/waiting-for-ci

#18491 Fix injection of indexed based configuration
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/IndexedPropertiesInjectionTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigRecorder.java
Labels: area/arc, triage/backport?

#18472 Move build-system.properties and remove comments
  core/deployment/src/main/java/io/quarkus/deployment/mutability/DevModeTask.java
  core/deployment/src/main/java/io/quarkus/deployment/mutability/ReaugmentTask.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core

#17595 Enable assertions for tests
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/MapBuildTimeConfigBuildStep.java
  core/test-extension/deployment/src/test/java/io/quarkus/config/BuildTimeConfigTest.java
  core/test-extension/deployment/src/test/resources/build-time-config-test.properties
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/NoJtaTest.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  integration-tests/main/src/test/java/io/quarkus/it/main/AssertionsTest.java
Labels: area/core, area/devtools, area/hibernate-reactive, area/persistence

#18453 New vert.x getting started and reference guide
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/images/quarkus-vertx-guide-architecture.png
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security.adoc
  docs/src/main/asciidoc/vertx-reference.adoc
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation

#18496 Do not stop the reflective hierarchy walk too soon
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
Labels: area/core, triage/backport?

#18363 Infinispan extension upgrades
  bom/application/pom.xml
  docs/src/main/asciidoc/infinispan-client.adoc
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/infinispan-client/runtime/pom.xml
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientRuntimeConfig.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/BookStoreSchema.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/TestServlet.java
  integration-tests/infinispan-client/src/main/resources/application.properties
Labels: area/dependencies, area/documentation, area/infinispan

#18488 ArC - ignore static and final injection fields
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Injection.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/finalfield/FinalFieldInjectionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/staticfield/StaticFieldInjectionTest.java
Labels: area/arc, triage/backport?

#18518 Upgrade to Mutiny 0.19.2 and the Vert.x bindings 2.9.0
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/reactive

#18478 SmallRye GraphQL 1.2.8 and client configuration fixes
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientInjectionTest.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfig.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/SmallRyeGraphQLClientRecorder.java
  integration-tests/smallrye-graphql-client/pom.xml
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/GraphQLClientTester.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/LuckyNumbersClientApiWithConfigKey.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/LuckyNumbersResource.java
  integration-tests/smallrye-graphql-client/src/main/resources/application.properties
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/DynamicClientTest.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/TypesafeClientTest.java
Labels: area/dependencies, area/graphql, area/smallrye, triage/backport?

#18461 Adjusted ArcProxyBeanMetaDataClassNormalizer.normalize() work with to deeper hierarchies
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ArcProxyBeanMetaDataClassNormalizer.java
  integration-tests/hibernate-validator/src/test/java/io/quarkus/hibernate/validator/runtime/ArcProxyBeanMetaDataClassNormalizerTest.java
Labels: area/hibernate-validator, triage/backport?

#18505 Also look for DOCKER_HOST in IsDockerWorking
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core

#18456 Hibernate/Panache doc fixes
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
Labels: area/documentation, area/panache, triage/backport?

#18471 Update the continuous testing tests to avoid races
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestRunner.java
  extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/CustomRoleDecoderDevModeTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateHotReloadTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/ContinuousTestingTestUtils.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/QuarkusTestTypeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/TestChangeTrackingWhenStartFailsTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/TestRunnerSmokeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/UnitTestTypeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/brokenonly/TestBrokenOnlyTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/includes/ExcludePatternTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/includes/IncludePatternTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/params/TestParameterizedTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/tags/ExcludeTagsTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/tags/IncludeTagsTestCase.java
Labels: area/core, area/hibernate-orm, area/persistence, area/security, area/vertx

#18530 Neo4j - replace driver producer with a synthetic bean
  extensions/neo4j/deployment/src/main/java/io/quarkus/neo4j/deployment/Neo4jDriverProcessor.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jDriverProducer.java
  extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jDriverRecorder.java
Labels: area/neo4j

#18523 Kafka serde autodetection duplicate
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeDiscoveryState.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
Labels: area/reactive-messaging, area/smallrye, triage/backport?

#18515 Restore compatibility with Mandrel 20.3
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/SerializationTestEndpoint.java
  integration-tests/main/src/main/java/io/quarkus/it/corestuff/serialization/SerializationConfig.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/main/resources/serialization-config.json
Labels: area/core

#18508 Minor cleanup of CuratedApplication
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/devtools

#18533 Allow injection of entire interface hierarchy when using @ConfigMapping
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigMappingTest.java
Labels: area/config, triage/backport?

#18519 Adds [App]ArtifactKey.toGacString() method to strip the type from the string
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/DependencyUtils.java
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/ExtensionDependency.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppArtifactKey.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/tools/artifact-api/src/main/java/io/quarkus/maven/ArtifactKey.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonCategory.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonExtension.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonExtensionCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatform.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformRelease.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonPlatformStream.java
  pom.xml
Labels: area/devtools, area/gradle, area/maven, area/platform

#18507 mvn quarkus:test starts DevServices twice
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/deployment/src/main/java/io/quarkus/deployment/jbang/JBangAugmentorImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
Labels: area/core, area/jbang, triage/backport?

#18547 Fix issue with QuarkusIntegrationTest
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport?, triage/waiting-for-ci

#18532 Fix lambda http base64 encoding and binary types
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
Labels: area/amazon-lambda, kind/bug

#18544 gRPC guide: added info on config-less client
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  docs/src/main/asciidoc/grpc-service-implementation.adoc
Labels: area/documentation

#18557 Improve the getting started with reactive guide
  docs/src/main/asciidoc/getting-started-reactive.adoc
Labels: area/documentation

#17830 Getting started guide for smallrye-reactive-messaging-kafka
  docs/src/main/asciidoc/images/kafka-qs-app-screenshot.png
  docs/src/main/asciidoc/images/kafka-qs-architecture.png
  docs/src/main/asciidoc/kafka-reactive-getting-started.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/reactive-messaging, area/smallrye

#18514 Make sure gradle process is terminated in tests
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusGradleWrapperTestBase.java
Labels: area/gradle

#18528 Apply various improvements to `@QuarkusIntegrationTest`
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  docs/src/main/asciidoc/building-native-image.adoc
  test-framework/common/src/main/java/io/quarkus/test/common/ArtifactLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultJarLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultNativeImageLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/IntegrationTestStartedNotifier.java
  test-framework/common/src/main/java/io/quarkus/test/common/JarArtifactLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java
  test-framework/common/src/main/java/io/quarkus/test/common/NativeImageStartedNotifier.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ConfigUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DefaultInitContextBase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/JarLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/NativeImageLauncherProvider.java
Labels: area/testing, triage/waiting-for-ci

#18554 Replace key-location by key.location in SmallRye JWT doc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation, triage/backport?

#18535 Dev tools: tests for adding extensions from different platform members
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ListExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/BuildTool.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/QuarkusProjectHelper.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/BuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenProjectBuildFile.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/buildfile/MavenBuildFileTest.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/RegistryClientTestHelper.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/MavenProjectImportingMultipleBomsFromSinglePlatformTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/union/ElementCatalogBuilder.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/ListExtensionsTest.java
Labels: area/devtools, area/gradle, area/maven, area/platform

#18552 Remove unused method in Gradle plugin
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/ExtensionDependency.java
Labels: area/devtools, area/gradle, triage/waiting-for-ci

#18549 Fix classpath in tests containing duplicate entries
  core/test-extension/deployment/src/main/java/io/quarkus/extest/deployment/ClasspathEntryRecordingBuildStep.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/classpath/ClasspathEntriesRecorder.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/classpath/RecordedClasspathEntries.java
  core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestBuildTimeConfig.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  integration-tests/test-extension/pom.xml
  integration-tests/test-extension/src/main/java/io/quarkus/it/extension/ClasspathTestEndpoint.java
  integration-tests/test-extension/src/main/resources/application.properties
  integration-tests/test-extension/src/main/resources/some-resource-for-classpath-test.txt
  integration-tests/test-extension/src/test/java/io/quarkus/it/extension/ClasspathInGraalITCase.java
  integration-tests/test-extension/src/test/java/io/quarkus/it/extension/ClasspathTestCase.java
Labels: area/core, area/devtools, triage/waiting-for-ci

#18531 Allow delete clause in delete queries in Panache
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/package-info.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/package-info.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/TestEndpoint.java
Labels: area/documentation, area/panache

#18085 Kafka reference guide
  docs/src/main/asciidoc/images/kafka-one-app-one-consumer.png
  docs/src/main/asciidoc/images/kafka-one-app-two-consumers.png
  docs/src/main/asciidoc/images/kafka-two-app-one-consumer-group.png
  docs/src/main/asciidoc/images/kafka-two-app-two-consumer-groups.png
  docs/src/main/asciidoc/kafka-reactive-getting-started.adoc
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#18578 Avoid crashing when DOCKER_HOST is configured using a unix socket
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core, priority/urgent

#18581 Gradle: look for extension properties only in JARs
  devtools/gradle/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
Labels: area/devtools, area/gradle, triage/backport?

#18506 Unify console color handling
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/console/ConsoleHelper.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/BasicConsole.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
  core/runtime/src/main/java/io/quarkus/runtime/console/ConsoleRuntimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/ConsoleConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/util/ColorSupport.java
Labels: area/core, area/logging, triage/waiting-for-ci

#18582 Fix docker check ordering
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
Labels: triage/backport?

#18562 Improve @ConfigMapping mock documentation
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation

#18563 Optimized stripping of tabs and newlines in GraphQL (micro-optimization)
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
Labels: area/graphql, area/smallrye

#18580 Added Enter to clear log file
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
Labels: area/core, triage/waiting-for-ci

#18551 Fix Encoding and implement Accept header requirement from spec
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/AbstractGraphQLTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLCDIContextPropagationTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLContextTestCase.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/TestResource.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
Labels: area/graphql, area/smallrye, triage/waiting-for-ci

#18487 Added documentation about setting code coverage thresholds
  docs/src/main/asciidoc/tests-with-coverage.adoc
Labels: area/documentation

#18540 Rewrote mailer getting start guide and reference documentation
  docs/src/main/asciidoc/dev-mode-differences.adoc
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/mailer.adoc
Labels: area/documentation

#18470 Don't close the connection when returning Multi
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java
Labels: area/resteasy-reactive

#18421 Migrate to GitHub Issue Forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/extension_proposal.md
  .github/ISSUE_TEMPLATE/extension_proposal.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/housekeeping.md
  .github/ISSUE_TEMPLATE/housekeeping.yml
Labels: area/devtools, area/infra-automation

#18406 Update Jaeger reporter to use logger
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/graal/Target_LoggingReporter.java
Labels: area/jaeger, triage/backport?

#18480 Prevent non-public classes of method params from breaking interceptor handling
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/SubclassSkipPredicateTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/methodargs/CustomExecutor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/methodargs/ExampleResource.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/methodargs/MethodArgsInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/methodargs/Simple.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/methodargs/SimpleInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/methodargs/base/BaseExecutor.java
Labels: area/arc, triage/backport?

#18600 Don't require a global body handler for vertx-graphql
  extensions/vertx-graphql/deployment/src/main/java/io/quarkus/vertx/graphql/deployment/VertxGraphqlProcessor.java
  extensions/vertx-graphql/runtime/src/main/java/io/quarkus/vertx/graphql/runtime/VertxGraphqlRecorder.java
Labels: area/graphql, area/smallrye, area/vertx

#18596 FSWatchUtil should assign a good name to the threads it starts
  core/deployment/src/main/java/io/quarkus/deployment/util/FSWatchUtil.java
Labels: area/core, triage/waiting-for-ci

#18608 Add a category to SmallRye GraphQL Client
  extensions/smallrye-graphql-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/graphql, area/smallrye, triage/backport?

#18599 Make @MultipartForm annotation optional in RESTEasy Reactive
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartResource.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
Labels: area/documentation, area/resteasy-reactive

#18610 Put the JDBC Oracle extension with other JDBC drivers in code.quarkus.io
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
Labels: area/devtools

#18589 Added documentation for quarkus.package.type=native-sources
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation, triage/waiting-for-ci

#18433 Treat @Transactional like @Blocking
  docs/src/main/asciidoc/resteasy-reactive.adoc
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  integration-tests/hibernate-orm-envers/src/main/java/io/quarkus/it/envers/ProjectResource.java
Labels: area/documentation

#18591 Fix generated openapi if not in target folder (TRUNCATE_EXISTING)
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/openapi, area/smallrye, triage/backport?

#18611 Qute docs - update the type-safe template section
  docs/src/main/asciidoc/qute.adoc
Labels: area/documentation

#18612 Oracle XE container images 18.4.0-slim now available
  integration-tests/jpa-oracle/README.md
  integration-tests/jpa-oracle/pom.xml
Labels: area/infra, area/persistence

#18625 CLI: correct behavior of --tests and --no-tests
  devtools/cli/src/main/java/io/quarkus/cli/Build.java
  devtools/cli/src/main/java/io/quarkus/cli/build/JBangRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/common/BuildOptions.java
  devtools/cli/src/test/java/io/quarkus/cli/CliDriver.java
  devtools/cli/src/test/java/io/quarkus/cli/CliNonProjectTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectJBangTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
Labels: area/cli, area/devtools, area/jbang, triage/backport?

#18613 Fix Throwable handling in @ServerExceptionMapper
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ServerExceptionMapperGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/GlobalThrowableExceptionMapperTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/PerClassThrowableExceptionMapperTest.java
Labels: area/documentation, area/resteasy-reactive, triage/backport?, triage/waiting-for-ci

#18626 Register @Parameters(completionCandidates = ...) for reflection in Picocli extension
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliNativeImageProcessor.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/CompletionReflectionCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TestResource.java
Labels: triage/backport?

#18624 DevTools: multi-platform, multi-registry, upstream and downstream Quarkus version related tests
  devtools/gradle/src/main/java/io/quarkus/devtools/project/buildfile/GradleGroovyProjectBuildFile.java
  devtools/gradle/src/main/java/io/quarkus/devtools/project/buildfile/GradleKotlinProjectBuildFile.java
  devtools/gradle/src/main/java/io/quarkus/devtools/project/buildfile/GradleProjectBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/AddExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ListExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenProjectBuildFile.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/MavenProjectImportingMultipleBomsFromMultiplePlatformsTest.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/MavenProjectImportingMultipleBomsFromSinglePlatformTest.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/MultiplePlatformBomsTestBase.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/QuarkusPlatformReferencingUpstreamVersionTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonCatalogMerger.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/json/JsonExtension.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/union/ElementCatalog.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/union/ElementCatalogBuilder.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/union/Member.java
Labels: area/devtools, area/gradle, area/platform

#18628 Provide actionable error message when Jackson can't serialize in native-mode
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/mappers/NativeInvalidDefinitionExceptionMapper.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/PreserveTargetException.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
Labels: area/resteasy-reactive

#18631 Add Registry client integration tests
  .github/native-tests.json
  integration-tests/devtools-registry-client/pom.xml
  integration-tests/devtools-registry-client/src/main/java/io/quarkus/registry/Reflections.java
  integration-tests/devtools-registry-client/src/main/java/io/quarkus/registry/RegistryConfigResource.java
  integration-tests/devtools-registry-client/src/test/java/io/quarkus/registry/RegistryConfigIT.java
  integration-tests/devtools-registry-client/src/test/java/io/quarkus/registry/RegistryConfigTest.java
  integration-tests/pom.xml
Labels: area/infra-automation, triage/waiting-for-ci

#18616 Allows configuring the mailer trust store
  docs/src/main/asciidoc/mailer-reference.adoc
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailClientProducer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MutinyMailerImpl.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/NtlmConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/TrustStoreConfig.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/FakeSmtpServer.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/FakeSmtpTestBase.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerTruststoreTest.java
  extensions/mailer/runtime/src/test/resources/certs/client.jks
  extensions/mailer/runtime/src/test/resources/certs/generate-certs.sh
  extensions/mailer/runtime/src/test/resources/certs/server2.jks
Labels: area/documentation, area/mailer

#18620 Use existing method for determining package in Arc instead of custom implementation
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
Labels: area/arc

#18635 Make sure the TX is still rolled back on shutdown
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/CDIDelegatingTransactionManager.java
Labels: area/narayana, triage/backport?

#18385 Remove instantiation of com.sun.jndi.ldap.LdapCtxFactory for JDK16+ compatibility
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/LdapSecurityRealmTest.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/SearchRecursiveTest.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/QuarkusDirContextFactory.java
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapTest.java
Labels: area/security, triage/backport?

#18568 Use code instead of provides-code as extension tag
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/catalog/processor/ExtensionProcessor.java
  integration-tests/devtools/src/test/java/io/quarkus/platform/catalog/ExtensionProcessorTest.java
Labels: area/devtools, area/platform, triage/backport?

#18630 OpenAPI change to use MultiMap rather than Map
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java
Labels: area/openapi, area/smallrye, triage/backport?, triage/waiting-for-ci

#18637 ArC decorators - fix NPE when non-default delegate qualifiers are used
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DecoratorGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/qualifiers/DelegateQualifiersTest.java
Labels: area/arc, triage/backport?

#18638 2.0.2 backports 2
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/LdapSecurityRealmTest.java
  extensions/elytron-security-ldap/deployment/src/test/java/io/quarkus/elytron/security/ldap/SearchRecursiveTest.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/QuarkusDirContextFactory.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/CDIDelegatingTransactionManager.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DecoratorGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/qualifiers/DelegateQualifiersTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/catalog/processor/ExtensionProcessor.java
  integration-tests/devtools/src/test/java/io/quarkus/platform/catalog/ExtensionProcessorTest.java
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapTest.java
Labels: area/arc, area/devtools, area/infra, area/narayana, area/openapi, area/platform, area/security, area/smallrye
