Repository quarkusio/quarkus, pull requests merged in 2022-08, with the labels that each got.

#27008 Docs: Clarify language in docs contribution howto
  docs/src/main/asciidoc/doc-contribute-quarkus-docs-howto.adoc
Labels: area/documentation

#27040 Fix for deactivating managed context
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/ConcurrentAuthTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/BlockingHelper.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
Labels: area/smallrye, triage/waiting-for-ci, area/graphql, triage/backport-2.10?, triage/backport?

#26979 Autowiring of GraphQL clients in TEST mode
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientMissingUrlTest.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientMissingUrlTest.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientSupport.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/SmallRyeGraphQLClientRecorder.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/GraphQLClientTester.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/DynamicClientTest.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/TypesafeClientTest.java
Labels: area/documentation, area/smallrye, area/graphql

#27029 Fix case of OpenSearch in elasticsearch-dev-services.adoc
  docs/src/main/asciidoc/elasticsearch-dev-services.adoc
Labels: area/documentation, triage/backport?

#27042 Disable flaky test
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/TooLargeFormAttributeMultipartFormInputTest.java
Labels: area/resteasy-reactive

#26960 Take into account that configuration properties can contain a dot in RunTimeConfigurationGenerator
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
Labels: area/core, area/config

#27049 Enable SSL by default for SmallRye GraphQL Client
  docs/src/main/asciidoc/native-and-ssl.adoc
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
Labels: area/documentation, area/smallrye, area/graphql

#27048 Apply minor polish to VertxBufferOutputStream
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/VertxBufferOutputStream.java
Labels: triage/waiting-for-ci

#26983 Smallrye GraphQL - refactor context termination handler
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
Labels: area/smallrye, area/graphql

#27052 Skip tests for snapshots deployment
  .github/workflows/deploy-snapshots.yml
Labels: area/infra-automation

#27046 Remove support for field-based and constructor-based BuildProducers and forbid build steps that produce nothing
  core/builder/pom.xml
  core/builder/src/main/java/io/quarkus/builder/BuildStepBuilder.java
  core/builder/src/test/java/io/quarkus/builder/BasicTests.java
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/annotations/Overridable.java
  core/deployment/src/main/java/io/quarkus/deployment/annotations/Weak.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksProcessor.java
Labels: area/persistence, area/core, triage/waiting-for-ci, area/hibernate-orm, area/resteasy-reactive

#27054 Replace InputStream bytes with InputStream.readAllBytes in RESTEasy Reactive
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/providers/serialisers/MessageReaderUtil.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#27056 Optimize the use of buffers in health reporting
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandlerBase.java
Labels: area/smallrye, area/health

#27059 Replace InputStream bytes with InputStream.readAllBytes in Spring Cloud Config client
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/VertxSpringCloudConfigGateway.java
Labels: triage/waiting-for-ci, area/spring

#27055 Various fixes for the Jakarta build
  independent-projects/extension-maven-plugin/pom.xml
  jakarta/transform.sh
Labels: area/jakarta

#27053 Replace InputStream bytes with InputStream.readAllBytes in Vert.x
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/waiting-for-ci

#27062 Support count with collation in MongoDB with Panache
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/runtime/CommonReactivePanacheQueryImpl.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/CommonPanacheQueryImpl.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/test/TestResource.java
Labels: area/panache, area/mongodb

#27077 Restore the original sync-web-site.sh
  docs/sync-web-site.sh
Labels: area/documentation

#27078 Better scope and error messages for Hibernate Search beans
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchCdiProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/configuration/ConfigActiveFalseAndIndexedEntityTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/configuration/ConfigEnabledFalseAndActiveTrueTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/configuration/ConfigEnabledFalseAndIndexedEntityTest.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
Labels: triage/waiting-for-ci, area/hibernate-search

#26964 Fix @NoClassInterceptor and RestClient Reactive mocking
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveCDIWrapperBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/InterceptedBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/NoClassInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/SuperSuperinterface.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/Superinterface.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/InjectMockWithInterceptorTest.java
Labels: area/arc, area/resteasy-reactive, triage/backport-2.10?, triage/backport?

#26887 Make sure referenced upstream platform is also pulled in when resolving extension catalog directly
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  devtools/cli/src/test/java/io/quarkus/cli/MavenProjectCreateForPlatformTest.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ArtifactDependencyBuilder.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/tools/ToolsUtils.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
Labels: area/core, area/maven, area/platform, area/devtools, area/cli, triage/backport?

#27082 Ensure that dev services properties are cleared in QuarkusIntegrationTestExtension
  integration-tests/mongodb-devservices/src/test/java/io/quarkus/it/mongodb/BookResourceTest.java
  integration-tests/mongodb-devservices/src/test/java/io/quarkus/it/mongodb/BookResourceWithParameterInjectionTest.java
  integration-tests/mongodb-devservices/src/test/java/io/quarkus/it/mongodb/DummyTestProfile.java
  integration-tests/mongodb-devservices/src/test/java/io/quarkus/it/mongodb/OtherProfileBookResourceIT.java
  integration-tests/mongodb-devservices/src/test/java/io/quarkus/it/mongodb/OtherProfileBookResourceTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
Labels: area/testing, triage/backport?

#27019 Introduce a new set of test callbacks used right before and after test execution
  docs/src/main/asciidoc/getting-started-testing.adoc
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusBeforeAndAfterTestCallbacksTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/SystemPropertySetterAfterTestExecutionCallback.java
  integration-tests/main/src/test/java/io/quarkus/it/main/SystemPropertySetterBeforeTestExecutionCallback.java
  integration-tests/main/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestAfterTestExecutionCallback
  integration-tests/main/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestBeforeTestExecutionCallback
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/callback/QuarkusTestAfterTestExecutionCallback.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/callback/QuarkusTestBeforeTestExecutionCallback.java
Labels: area/documentation, area/testing, triage/backport?

#26670 Docs: Move docs/README.adoc to docs reference
  docs/src/main/asciidoc/README.adoc
  docs/src/main/asciidoc/doc-contribute-docs-howto.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  docs/src/main/java/io/quarkus/docs/generation/YamlMetadataGenerator.java
Labels: area/documentation

#27072 2.11: switch codestart testing API from io.quarkus.maven.Artifact* to io.quarkus.maven.dependency.Artifact*
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalog.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInput.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProjectHelper.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/extensions/Extensions.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTest.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTestBuilder.java
Labels: area/platform, area/devtools

#27091 Aggregate repos from user Maven settings
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/BootstrapFromOriginalJarTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/SimpleExtAndAppCompileDepsTest.java
  devtools/cli/src/test/java/io/quarkus/cli/RegistryClientBuilderTestBase.java
  devtools/maven/src/test/java/io/quarkus/maven/DependencyTreeMojoTestBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/CollectDependenciesBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/ResolverSetupCleanup.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsRepoBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
Labels: area/core, area/maven, area/devtools, area/cli, triage/backport?

#27084 Register jdk.internal.misc.Unsafe#putReference for reflection
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveMethodBuildItem.java
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
Labels: area/core

#27098 Jakarta - More progress with ITs and TCKs
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/reactive-routes/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/maven, area/jakarta

#27067 Update SmallRye Config to 2.11.1
  bom/application/pom.xml
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Cloud.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Prod.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ServerResourceTest.java
  jakarta/rewrite.yml
Labels: area/smallrye, area/dependencies, area/jakarta

#27074 Reduce cost of logging in REST Client
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/logging/DefaultClientLogger.java
Labels: area/rest-client

#26968 Context propagation - cleared Arc snapshot should destroy its state once the invocation ends
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/context/ArcContextProvider.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/RequestBean.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/SimpleContextPropagationTest.java
Labels: area/arc, area/context-propagation

#26958 Update jandex gradle plugin version in docs
  build-parent/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation, area/dependencies

#27090 Make org.graalvm.regex:regex parent first
  core/runtime/pom.xml
Labels: area/core, triage/backport?

#26961 Fix detection of active persistence units in Hibernate Search dev UI
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchDevConsoleRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchSupplier.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleHibernateSearchActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/namedpu/MyNamedPuIndexedEntity.java
Labels: area/hibernate-search

#26805 Run Quarkus Quickstarts with Quarkus PRs
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#27104 Jakarta - Add some documentation about testing
  jakarta/README.md
Labels: area/jakarta

#27114 2.10.5 backports 1
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveCDIWrapperBase.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/ConcurrentAuthTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/BlockingHelper.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/InterceptedBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/NoClassInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/SuperSuperinterface.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/Superinterface.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/InjectMockWithInterceptorTest.java
Labels: area/arc, area/smallrye, area/infra, area/graphql, area/resteasy-reactive

#27109 Update RESTEasy to 4.7.7.Final
  bom/application/pom.xml
Labels: area/dependencies

#27108 Fix termination of request context for non-blocking scheduled methods
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/DefaultInvoker.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/nonblocking/NonBlockingScheduledMethodTest.java
Labels: area/reactive, area/scheduler, triage/waiting-for-ci, kind/bugfix, triage/backport?

#26943 Bump to GraalVM 22.2.0
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  independent-projects/bootstrap/pom.xml
Labels: area/core, env/graalvm-java11, area/dependencies, area/devtools, area/native-image, env/graalvm-java17

#26031 Docs: Rework the concept section of the Diataxis doctype overview document
  docs/src/main/asciidoc/doc-concepts.adoc
Labels: area/documentation

#27106 Add information about how to deal with Random in native
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation, triage/backport?

#27131 Upgrade to Hibernate Search 6.1.6.Final
  bom/application/pom.xml
Labels: area/hibernate-search, area/dependencies, triage/backport?

#27132 Bump to Mutiny 1.7.0 and Mutiny Vert.x bindings 2.25.0
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/smallrye, area/dependencies, area/mutiny

#27147 GraphQL Reactive: RequestContext cleanup
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/BlockingHelper.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/RequestContextHelper.java
Labels: area/smallrye, triage/waiting-for-ci, area/graphql, triage/backport?

#26988 Introduce support for ContextResolver<ObjectMapper> in server part of RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/ContextResolverTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyWriter.java
Labels: area/resteasy-reactive, triage/backport?

#27133 Remove javassist exclusion
  bom/application/pom.xml
Labels: area/dependencies

#27158 Workaround a GraalVM + Jakarta Yasson limitation by adding setters
  integration-tests/main/src/main/java/io/quarkus/it/rest/ClientResource.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/Commune.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/Car.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/Moto.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/Vehicle.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/VehicleResource.java
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/discriminator/jsonb/VehicleDeserializer.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/VehicleResourceTest.java
Labels: area/mongodb

#27136 Upgrade to Hibernate Validator 6.2.4.Final
  bom/application/pom.xml
Labels: area/hibernate-validator, area/dependencies, triage/backport?

#27172 Move quarkus.smallrye-openapi.servers to a runtime config
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiWithConfigTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/vertx/OpenApiWithConfigTestCase.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentService.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiRuntimeConfig.java
Labels: area/smallrye, area/openapi

#27173 More GraphQL Context cleanup
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
Labels: area/smallrye, triage/waiting-for-ci, area/graphql

#27137 Add Description for Feature classes
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ResourceHelper.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/DisableLoggingFeature.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/ResourcesFeature.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/DisableLoggingFeature.java
  extensions/websockets/client/runtime/src/main/java/io/quarkus/websockets/client/runtime/DisableLoggingFeature.java
Labels: area/persistence, area/core, area/hibernate-validator, area/hibernate-orm, area/hibernate-search, area/websockets

#27161 More progress with Jakarta TCK and Narayana LRA
  bom/application/pom.xml
  extensions/narayana-lra/runtime/pom.xml
  jakarta/README.md
  jakarta/prepare.sh
  jakarta/rewrite.yml
  jakarta/transform.sh
  tcks/microprofile-rest-client-reactive/pom.xml
  tcks/microprofile-rest-client/pom.xml
Labels: area/dependencies, area/jakarta, area/lra

#27157 Update SmallRye OpenTracing to 2.1.1
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/tracing

#27174 Fix Javadoc of quarkus.jib.platforms
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
Labels: area/arc, triage/waiting-for-ci, area/container-image, triage/backport?

#27159 Reuse the build executor thread pool for parallel execution
  core/builder/src/main/java/io/quarkus/builder/BuildContext.java
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
Labels: area/core, area/arc, triage/waiting-for-ci

#27175 Upload reports of the quickstarts compilation job
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#27141 Update docs website sync script
  .gitignore
  docs/sync-web-site.sh
Labels: area/documentation, triage/backport?

#27182 Ensure that custom MessageBodyReader classes work properly in native mode
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
Labels: triage/waiting-for-ci, triage/backport?

#27179 Ensure that Quarkus can mock final methods of beans created by producers
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unproxyable/RequestScopedFinalMethodsTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#27187 Add geoand to bot configuration for DevServices
  .github/quarkus-github-bot.yml
Labels: area/infra, area/infra-automation

#27192 Add some native --add-opens required by some extensions
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#27200 Link liquibase-mongodb inside the MongoDB guide
  docs/src/main/asciidoc/mongodb.adoc
Labels: area/documentation

#27195 Remove spaces between key and value for DevServices properties in DevUI
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/dev-services.html
Labels: area/vertx, triage/waiting-for-ci, triage/backport?

#27193 Panache Rest Data: Generate "/count" endpoint
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/AbstractCountMethodTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourceCountMethodTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/PanacheRepositoryResourceCountMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractCountMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourceCountMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/PanacheRepositoryResourceCountMethodTest.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/CountMethodImplementor.java
  extensions/panache/rest-data-panache/runtime/src/main/java/io/quarkus/rest/data/panache/ReactiveRestDataResource.java
  extensions/panache/rest-data-panache/runtime/src/main/java/io/quarkus/rest/data/panache/RestDataResource.java
Labels: area/documentation, area/panache

#27196 Fix processing of AutoAddScopeBuildItem.isUnremovable()
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoAddScopeProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/autoscope/AutoScopeBuildItemTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#27197 Upgrade mongo client to 4.7.1 and mongo-crypt to 1.5.2
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/mongodb, area/dependencies

#27207 Qualified injected fields must not be final
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoInjectFieldProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/autoinject/AutoFieldInjectionTest.java
Labels: area/arc

#27006 Provide the ability to log MDC data in access_log
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/VertxMDCDataAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/accesslog/AccessLogHandler.java
  extensions/vertx-http/runtime/src/main/resources/META-INF/services/io.quarkus.vertx.http.runtime.attribute.ExchangeAttributeBuilder
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/attribute/VertxMDCDataAttributeTest.java
Labels: area/documentation, area/vertx

#26612 Add config option for native to produce JSON output
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#26676 Add more tips on writing native applications
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation, area/native-image

#26802 Rewrite BuildTimeRunTime and RunTime Defaults ConfigSource
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/QuarkusConfigValue.java
  extensions/picocli/deployment/src/test/java/io/quarkus/picocli/deployment/AvailableConfigSourcesTest.java
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientOverrideRuntimeConfigTest.java
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientRunTimeConfigSource.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/BuildTimeRunTimeConfigTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/RenameConfigTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/OverrideBuildTimeConfigTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/RuntimeDefaultsTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/UnknownConfigTest.java
Labels: area/core, area/config, area/picocli

#26913 Add MicroProfile LRA TCK
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/NarayanaLRAProcessor.java
  tcks/microprofile-lra/pom.xml
  tcks/microprofile-lra/src/main/java/io/quarkus/tck/lra/ArquillianExtension.java
  tcks/microprofile-lra/src/main/java/io/quarkus/tck/lra/BaseURLProvider.java
  tcks/microprofile-lra/src/main/java/io/quarkus/tck/lra/DeploymentProcessor.java
  tcks/microprofile-lra/src/main/java/io/quarkus/tck/lra/LRACoordinatorManager.java
  tcks/microprofile-lra/src/main/java/io/quarkus/tck/lra/NarayanaLRARecovery.java
  tcks/microprofile-lra/src/test/java/io/quarkus/tck/lra/Dummy.java
  tcks/microprofile-lra/src/test/resources/META-INF/services/org.eclipse.microprofile.lra.tck.service.spi.LRARecoveryService
  tcks/microprofile-lra/src/test/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension
  tcks/pom.xml
  test-framework/arquillian/src/main/java/io/quarkus/arquillian/QuarkusBeforeAfterLifecycle.java
Labels: area/testing, area/dependencies, area/lra

#26772 Actually make Kotlin 1.7 work, for really-reals
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-model/build.gradle
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/gradle/gradle.properties
  independent-projects/arc/tests/pom.xml
Labels: area/documentation, area/gradle, area/arc, area/dependencies, area/devtools

#26367 Support exclusion of non-application URIs if custom Sampler is used
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryCustomSamplerBeanTest.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRuntimeConfig.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtil.java
Labels: area/tracing

#26443 Kubernetes: Allow generating secured Ingress resources
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyKubernetesExpositionConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyKubernetesIngressConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyOpenshiftRouteConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyRouteExpositionConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/Constants.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/IngressConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/IngressTlsConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RouteConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithSecureIngressTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-secure-ingress.properties
Labels: area/documentation, area/kubernetes

#26509 SmallRye Config SecretKeys support
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/SecretKeysConfigInterceptorFactory.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/SecretKeysConfigTest.java
Labels: release/noteworthy-feature, area/core, area/config

#27210 Re-introduce deprecated io.quarkus.maven.Artifact* API
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/ArtifactCoords.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/ArtifactKey.java
Labels: area/devtools, triage/backport?

#27112 Fix Opentelemetry docs
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, triage/waiting-for-ci

#27204 Remove unnecessary cast in instruction in Arc proxy generation
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
Labels: area/arc

#27183 gRPC - align service names generated by quarkus with grpc-java
  extensions/grpc/deployment/src/test/proto/goodbyeworld.proto
  extensions/grpc/protoc/pom.xml
  extensions/grpc/protoc/src/main/java/io/quarkus/grpc/protoc/plugin/MutinyGrpcGenerator.java
  extensions/grpc/protoc/src/test/java/io/quarkus/grpc/protoc/plugin/MutinyGrpcGeneratorTest.java
Labels: area/grpc

#27217 Rewrite code blocks from markdown style to asciidoc style
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/security-jwt-build.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#26966 Completely disable all relevant build steps of extensions (except FeatureBuildItem production) when their "enabled" configuration switch is set to false
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchAlwaysEnabledProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerAlwaysEnabledProcessor.java
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakPolicyEnforcerBuildStep.java
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakPolicyEnforcerFeatureAlwaysEnabledProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerConfigAlwaysEnabledProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/oidc-client-filter/deployment/src/main/java/io/quarkus/oidc/client/filter/deployment/OidcClientFilterAlwaysEnabledProcessor.java
  extensions/oidc-client-filter/deployment/src/main/java/io/quarkus/oidc/client/filter/deployment/OidcClientFilterBuildStep.java
  extensions/oidc-client-reactive-filter/deployment/src/main/java/io/quarkus/oidc/client/reactive/filter/deployment/OidcClientReactiveFilterAlwaysEnabledProcessor.java
  extensions/oidc-client-reactive-filter/deployment/src/main/java/io/quarkus/oidc/client/reactive/filter/deployment/OidcClientReactiveFilterBuildStep.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientAlwaysEnabledProcessor.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
  extensions/oidc-token-propagation-reactive/deployment/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveAlwaysEnabledProcessor.java
  extensions/oidc-token-propagation-reactive/deployment/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveBuildStep.java
  extensions/oidc-token-propagation/deployment/src/main/java/io/quarkus/oidc/token/propagation/deployment/OidcTokenPropagationAlwaysEnabledProcessor.java
  extensions/oidc-token-propagation/deployment/src/main/java/io/quarkus/oidc/token/propagation/deployment/OidcTokenPropagationBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcAlwaysEnabledProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/opentelemetry/opentelemetry-exporter-jaeger/deployment/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/deployment/JaegerExporterAlwaysEnabledProcessor.java
  extensions/opentelemetry/opentelemetry-exporter-jaeger/deployment/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/deployment/JaegerExporterProcessor.java
  extensions/opentelemetry/opentelemetry-exporter-otlp/deployment/src/main/java/io/quarkus/opentelemetry/exporter/otlp/deployment/OtlpExporterAlwaysEnabledProcessor.java
  extensions/opentelemetry/opentelemetry-exporter-otlp/deployment/src/main/java/io/quarkus/opentelemetry/exporter/otlp/deployment/OtlpExporterProcessor.java
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryAlwaysEnabledProcessor.java
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/security-webauthn/deployment/src/main/java/io/quarkus/security/webauthn/deployment/QuarkusSecurityWebAuthnFeatureAlwaysEnabledProcessor.java
  extensions/security-webauthn/deployment/src/main/java/io/quarkus/security/webauthn/deployment/QuarkusSecurityWebAuthnProcessor.java
Labels: area/core, area/jaeger, area/infinispan, area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/mongodb, area/oidc, area/kafka, area/hibernate-search, area/redis, area/elasticsearch, area/tracing, area/metrics, area/keycloak

#27223 Add Sgitario to the bot configuration
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#27219 Fix minor Opentelemetry docs issue
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation

#27220 Ensure that compressed binary used in Amazon Lambda function if present
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/FunctionZipProcessor.java
Labels: area/amazon-lambda, triage/backport?

#27224 Apply minor fix to javadoc of MultipartForm
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/MultipartForm.java
Labels: triage/waiting-for-ci, triage/backport?

#27228 Small typo in Kafka guide
  docs/src/main/asciidoc/smallrye-kafka-incoming.adoc
Labels: area/documentation

#26510 Improve Panache projection with Hibernate ORM and Reactive
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/CommonPanacheQueryImpl.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/Cat.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/CatProjectionBean.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/Cat.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/CatProjectionBean.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/TestEndpoint.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpoint.java
Labels: area/documentation, area/panache, triage/waiting-for-ci

#27227 Add 'schema.registry.url' property to the Kafka Companion
  test-framework/kafka-companion/src/main/java/io/quarkus/test/kafka/KafkaCompanionResource.java
Labels: area/testing

#27134 Add .enabled/.active configuration properties to Hibernate ORM, Reactive and Envers extensions
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversAlwaysEnabledProcessor.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversDisabledProcessor.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversEnabled.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversProcessor.java
  extensions/hibernate-envers/deployment/src/test/java/io/quarkus/hibernate/orm/envers/config/ConfigActiveFalseAndAuditedEntityTest.java
  extensions/hibernate-envers/deployment/src/test/java/io/quarkus/hibernate/orm/envers/config/ConfigEnabledFalseAndActiveTrueTest.java
  extensions/hibernate-envers/deployment/src/test/java/io/quarkus/hibernate/orm/envers/config/ConfigEnabledFalseAndAuditedEntityTest.java
  extensions/hibernate-envers/runtime/src/main/java/io/quarkus/hibernate/envers/HibernateEnversBuildTimeConfig.java
  extensions/hibernate-envers/runtime/src/main/java/io/quarkus/hibernate/envers/HibernateEnversBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-envers/runtime/src/main/java/io/quarkus/hibernate/envers/HibernateEnversRecorder.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateLogFilterBuildStep.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmAlwaysEnabledProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmDisabledProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmEnabled.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateUserTypeProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ResteasyReactiveServerIntegrationProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/devconsole/HibernateDevConsoleProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/metrics/HibernateOrmMetricsProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/ConfigActiveFalseAndEntityTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/ConfigEnabledFalseAndActiveTrueTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/ConfigEnabledFalseAndEntityTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmDisabledRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfigSupport.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitsHolder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/RuntimePersistenceUnitDescriptor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveAlwaysEnabledProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveEnabled.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveLogFilter.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/ResteasyReactiveServerIntegrationProcessor.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/ConfigActiveFalseAndEntityTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/ConfigEnabledFalseAndActiveTrueTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/ConfigEnabledFalseAndEntityTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/MyEntity.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/HibernateReactive.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionFactoryProducer.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionProducer.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/configuration/ConfigEnabledFalseAndActiveTrueTest.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
  extensions/panache/panache-hibernate-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheHibernateCommonResourceProcessor.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleHibernateOrmActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleHibernateOrmActiveFalseTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/namedpu/MyNamedPuEntity.java
Labels: area/panache, area/persistence, area/hibernate-orm, area/hibernate-search, area/hibernate-reactive

#27218 JAXB: Not bound classes annotated with XmlSchema to the JaxbContext
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/info/package-info.java
Labels: area/jaxb, triage/backport?

#27238 More Jakarta progress
  .github/dependabot.yml
  extensions/amazon-lambda-http/http-event-server/pom.xml
  extensions/amazon-lambda-rest/rest-event-server/pom.xml
  extensions/amazon-lambda/event-server/pom.xml
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalEntityWrapperJsonbSerializer.java
  extensions/hibernate-validator/runtime/pom.xml
  extensions/jaeger/runtime/pom.xml
  extensions/keycloak-admin-client-reactive/runtime/pom.xml
  extensions/keycloak-admin-client/deployment/pom.xml
  extensions/keycloak-admin-client/runtime/pom.xml
  extensions/keycloak-authorization/runtime/pom.xml
  extensions/mailer/runtime/pom.xml
  extensions/mongodb-client/runtime/pom.xml
  extensions/narayana-lra/runtime/pom.xml
  extensions/oidc-client/deployment/pom.xml
  extensions/oidc/deployment/pom.xml
  extensions/panache/hibernate-orm-panache/runtime/pom.xml
  extensions/panache/hibernate-reactive-panache/runtime/pom.xml
  extensions/resteasy-classic/rest-client-jaxb/runtime/pom.xml
  extensions/resteasy-classic/rest-client/runtime/pom.xml
  extensions/resteasy-classic/resteasy-common/runtime/pom.xml
  extensions/resteasy-classic/resteasy-jaxb/runtime/pom.xml
  extensions/resteasy-classic/resteasy-links/deployment/pom.xml
  extensions/resteasy-classic/resteasy-links/runtime/pom.xml
  extensions/resteasy-classic/resteasy-multipart/runtime/pom.xml
  extensions/resteasy-classic/resteasy-mutiny-common/runtime/pom.xml
  extensions/resteasy-classic/resteasy/deployment/pom.xml
  extensions/scheduler/runtime/pom.xml
  extensions/spring-web/resteasy-classic/runtime/pom.xml
  integration-tests/keycloak-authorization/pom.xml
  integration-tests/main/pom.xml
  integration-tests/oidc-client-reactive/pom.xml
  integration-tests/oidc-client/pom.xml
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-token-propagation/pom.xml
  integration-tests/oidc/pom.xml
  integration-tests/rest-client/pom.xml
  integration-tests/smallrye-context-propagation/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/pom.xml
  integration-tests/smallrye-jwt-token-propagation/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
  test-framework/keycloak-server/pom.xml
Labels: area/panache, area/jaeger, area/hibernate-validator, area/scheduler, area/amazon-lambda, area/testing, area/mongodb, area/oidc, area/spring, area/dependencies, area/infra-automation, area/mailer, area/keycloak, area/jakarta, area/lra

#27214 Upgrade to SmallRye GraphQL 1.7.0 (graphql-java 19.0)
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/HotReloadTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/InstrumentationTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfigMapping.java
  jakarta/rewrite.yml
  tcks/microprofile-graphql/src/main/resources/overrides/createNewNullNamedHero/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/createNewUnnamedHero/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidDataTypeValue/output3.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidEnumValue/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidLocalDateFormattedValue/output3.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidLocalDateTimeFormattedValue/output3.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidLocalDateTimeValue/output3.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidLocalDateValue/output3.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidLocalTimeFormattedValue/output3.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidLocalTimeValue/output3.json
  tcks/microprofile-graphql/src/main/resources/overrides/unknownField/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/unknownMutation/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/unknownQuery/output2.json
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/graphql, area/jakarta

#27100 Propagate OpenTelemetry context to Blocking gRPC services
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/GrpcOpenTelemetryTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/proto/streaming.proto
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/grpc/GrpcTracingServerInterceptor.java
Labels: area/tracing

#27261 Fix `Category#mutable` default method to return copy
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/Category.java
Labels: area/platform, area/devtools, triage/backport?

#27181 Add support for ignoreMigrationPatterns config in Flyway
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayCreator.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  extensions/flyway/runtime/src/test/java/io/quarkus/flyway/runtime/FlywayCreatorTest.java
Labels: area/flyway

#27284 Attempt to fix intermittent failure in SimpleContextPropagationTest caused by possible race condition
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/RequestBean.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/SimpleContextPropagationTest.java
Labels: triage/waiting-for-ci

#24010 Update MS SQL JDBC driver to 11.2.0.jre11
  bom/application/pom.xml
  extensions/jdbc/jdbc-mssql/runtime/pom.xml
  extensions/jdbc/jdbc-mssql/runtime/src/main/java/io/quarkus/jdbc/mssql/runtime/graal/com/microsoft/sqlserver/jdbc/SQLServerJDBCSubstitutions.java
  integration-tests/jpa-mssql/src/main/resources/application.properties
Labels: kind/enhancement, release/noteworthy-feature, area/persistence, triage/waiting-for-ci, area/dependencies

#27283 Update security-jpa status to stable
  extensions/security-jpa/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/security, triage/backport?

#27290 Add guidance for creating titles in Quarkus docs
  docs/src/main/asciidoc/doc-reference.adoc
Labels: area/documentation

#27233 Update docs metadata generation
  docs/src/main/java/io/quarkus/docs/generation/YamlMetadataGenerator.java
Labels: area/documentation

#27286 Add guidance for creating a Quarkus doc abstract
  docs/src/main/asciidoc/doc-create-tutorial.adoc
  docs/src/main/asciidoc/doc-reference.adoc
Labels: area/documentation

#27282 Make typesafe GraphQL clients ApplicationScoped
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
Labels: area/smallrye, area/graphql

#27302 Docs: Additional guidance for creating an abstract
  docs/src/main/asciidoc/doc-reference.adoc
Labels: kind/enhancement, area/documentation

#27267 Drop -H:+JNI option from nativeImageArgs
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#27249 ArC - add debug logging for the request context manipulation
  docs/src/main/asciidoc/cdi-reference.adoc
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/documentation, area/arc, triage/waiting-for-ci

#26863 Exposing getIfPresent in the CaffeineCache
  docs/src/main/asciidoc/cache.adoc
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ProgrammaticApiTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CaffeineCache.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheImpl.java
Labels: area/documentation, area/cache

#27292 Custom OIDC claim verification
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc

#27310 Use io.quarkus:quarkus-bom in extension projects and import quarkiverse-parent:10
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/pom.tpl.qute.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtension/extensions_my-ext_runtime_src_main_resources_META-INF_quarkus-extension.yaml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtensionFromExtensionsDir/extensions_my-ext_runtime_src_main_resources_META-INF_quarkus-extension.yaml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
Labels: area/maven, area/platform, area/devtools

#27312 Don't create an ArchivePathTree for non-JAR dependencies
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ResolvedDependency.java
Labels: area/devtools

#27304 Fix incorrect link in the YAML guide
  docs/src/main/asciidoc/config-yaml.adoc
Labels: area/documentation

#27288 Load CodeGenProvider services once instead of once per module
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/CodeGenWatcher.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/GenerateCodeMojo.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/IoUtils.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
Labels: area/core, area/maven, area/devtools

#27320 Regenerate the keystores for the rest client tests
  integration-tests/rest-client/self-signed
  integration-tests/rest-client/wrong-host
Labels: priority/urgent, area/rest-client, triage/waiting-for-ci

#27280 Add native --add-opens for camel-quarkus-xstream
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#27258 Remove Oracle's BlockReleaser from runtime initialization
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleNativeImage.java
Labels: area/mandrel

#27199 Reduce numbers of allocations in CORS filter
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java
Labels: area/vertx

#27255 Mention quarkus-build-steps.list in the extension-metadata doc
  docs/src/main/asciidoc/extension-metadata.adoc
Labels: area/documentation

#27256 Bump kafka3.version to 3.2.1
  bom/application/pom.xml
  docs/src/main/asciidoc/kafka-dev-services.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/RedPandaBuildTimeConfig.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsPropertiesTest.java
Labels: area/documentation, area/kafka-streams, area/kafka, area/dependencies

#26996 Warning messages for config injections in static init classes
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigInjectionStaticInitBuildItem.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigRecorder.java
  extensions/config-yaml/deployment/src/main/java/io/quarkus/config/yaml/deployment/ConfigYamlProcessor.java
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-classic/resteasy-common/spi/src/main/java/io/quarkus/resteasy/common/spi/ResteasyDotNames.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/config/ProviderConfigInjectionWarningsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/ProviderConfigInjectionTest.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/config/WebFilterConfigInjectionWarningsTest.java
Labels: area/core, area/config, area/arc, area/undertow, area/resteasy-reactive

#27263 Drop getRequiredFeatures method from io.quarkus.runner.Feature
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core

#27275 Take RunOnVertxContext into account when annotated on class
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/RunOnVertxContextTestMethodInvoker.java
Labels: area/testing

#27129 Remove wrong LANG from dockerfile use parent default
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
Labels: area/platform, area/devtools, triage/backport-2.7?, triage/backport-2.10?, triage/backport-2.11?

#27317 Dev UI - bean dependency graph improvements
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/ArcDevConsoleProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DependencyGraph.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevBeanInfo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevBeanInfos.java
  extensions/arc/deployment/src/main/resources/dev-templates/beanDependencyGraph.html
Labels: area/arc, triage/waiting-for-ci

#27343 Avoid SQL Server JDBC driver to load ANTLR parsers
  extensions/jdbc/jdbc-mssql/runtime/src/main/java/io/quarkus/jdbc/mssql/runtime/graal/com/microsoft/sqlserver/jdbc/SQLServerJDBCSubstitutions.java
Labels: area/persistence, area/native-image, triage/backport?

#27340 Update to Vert.x 4.3.3 and Mutiny Bindings 2.26.0
  bom/application/pom.xml
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnSecurity.java
  extensions/vertx-graphql/deployment/src/main/java/io/quarkus/vertx/graphql/deployment/VertxGraphqlProcessor.java
Labels: area/smallrye, area/vertx, area/dependencies, area/graphql, area/mutiny

#26551 Support @ActivateRequestContext on reactive methods
  independent-projects/arc/pom.xml
  independent-projects/arc/runtime/pom.xml
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ActivateRequestContextInterceptor.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ReactiveType.java
  independent-projects/arc/runtime/src/test/java/io/quarkus/arc/impl/ReactiveTypeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/propagation/ActivateRequestContextInterceptorTest.java
Labels: area/arc, triage/backport-2.7?, triage/backport-2.10?

#27356 Fix scheduler exclusion
  extensions/scheduler/common/pom.xml
Labels: area/scheduler

#27206 Bump smallrye-open-api from 2.1.23 to 2.2.0
  bom/application/pom.xml
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoTagFetchableResource.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoTagResource.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoTagTestCase.java
  jakarta/rewrite.yml
Labels: area/smallrye, area/openapi, area/dependencies, area/jakarta

#27351 Make it more obvious how to do propagation
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation

#27364 Fix Redis doc typos
  docs/src/main/asciidoc/redis-reference.adoc
Labels: kind/bug, area/documentation

#27342 Do not set 'realm=Quarkus' in Basic auth challenge
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/CombinedFormBasicAuthTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/BasicAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/vertx, area/oidc, triage/backport?

#27359 Exclude com.microsoft.azure:msal4j from the application BOM
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#27360 Fix how certificates are obtained in the RestClient integration tests
  build-parent/pom.xml
  integration-tests/rest-client/generate-trust-store-for-bad-ssl.sh
  integration-tests/rest-client/pom.xml
  integration-tests/rest-client/self-signed
  integration-tests/rest-client/wrong-host
Labels: area/dependencies, triage/backport-2.7?, triage/backport-2.10?, triage/backport-2.11?, triage/backport?

#27367 Jakarta - Make Infinispan work by using artifacts with the jakarta classifier
  bom/application/pom.xml
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/infinispan-client/runtime/pom.xml
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/graal/DisableLoggingFeature.java
  integration-tests/infinispan-client/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
  test-framework/infinispan-client/pom.xml
Labels: area/infinispan, area/testing, area/dependencies, area/jakarta

#27332 Remove useless @JsonProperty in MongoDB with Panache guide
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation, triage/backport?

#27025 Reduce the number of vert.x eventloops started by default
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/deployment/MessageConsumerContextTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/config/VertxConfiguration.java
Labels: release/noteworthy-feature, area/vertx

#27378 Dev UI - qute - fix table of discovered templates
  extensions/qute/deployment/src/main/resources/dev-templates/templates.html
Labels: area/qute, area/dev-ui

#27009 Enhancements to Security Getting Started docs
  docs/src/main/asciidoc/security-getting-started.adoc
Labels: area/documentation, area/smallrye, area/dependencies, area/graphql, area/jakarta

#27105 Docs: Adapt the Diataxis template and restructure the content for Basic Authentication
  docs/src/main/asciidoc/doc-reference.adoc
  docs/src/main/asciidoc/security-basic-auth-concept.adoc
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  docs/src/main/asciidoc/security-enabling-basic-auth-howto.adoc
  docs/src/main/asciidoc/security-enabling-basic-auth-tutorial.adoc
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation

#27394 Fix rest-json.adoc
  docs/src/main/asciidoc/rest-json.adoc
Labels: area/documentation

#27395 Introduce action-build-reporter for forks
  .github/workflows/ci-actions-incremental.yml
  pom.xml
Labels: area/infra-automation

#27398 Modify extension on reactive-sql-clients.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
Labels: area/documentation

#27357 Jackson: also detect class referenced by `@JsonTypeIdResolver`
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/ModelWithJsonTypeIdResolverResource.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/CustomTypeResolver.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/ModelWithJsonTypeIdResolver.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/ModelWithJsonTypeIdResolverIT.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/ModelWithJsonTypeIdResolverTest.java
Labels: area/jackson, triage/backport?

#27406 Prevent duplicate HTTP headers when WriterInterceptor is used
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/WriterInterceptorContextImpl.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/response/CustomHeadersAndWriterInterceptorTest.java
Labels: triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#27409 Complete implementation of UriInfoImpl
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/UriInfoTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/resource/UriInfoResolveResource.java
Labels: triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#27405 Promote kubernetes config extension to stable
  extensions/kubernetes-config/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/kubernetes

#27413 Fix misleading DevUI score for void return types
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
Labels: triage/waiting-for-ci, triage/backport?

#27408 action-build-reporter - Disable main repo at the job level
  .github/workflows/ci-actions-incremental.yml
Labels: triage/waiting-for-ci, area/infra-automation

#27379 Resume REST Client Reactive request handling on error if suspended
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
Labels: area/rest-client, triage/waiting-for-ci, triage/backport?
