Repository quarkusio/quarkus, pull requests merged in 2022-10, with the labels that each got.

#28333 Fix sample code in csrf project
  docs/src/main/asciidoc/security-csrf-prevention.adoc
Labels: area/documentation

#28336 Fix two typos in hiberate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
Labels: area/documentation, triage/backport?

#28339 Remove a call to the Uni.log() operator in the Stork HTTP client filter
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/StorkClientRequestFilter.java
Labels: kind/bug, area/stork, triage/backport?

#28323 Update to Vert.x 4.3.4
  bom/application/pom.xml
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/graal/VertxSubstitutions.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/vertx, area/dependencies, triage/backport?

#28318 Avoid Maven imports in core/deployment
  build-parent/pom.xml
  core/deployment/banned-signatures.txt
  core/deployment/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  core/deployment/src/main/java/io/quarkus/deployment/util/CommandLineUtil.java
  extensions/hibernate-orm/pom.xml
Labels: area/persistence, area/core, area/hibernate-orm, area/dependencies, triage/backport?

#28294 Retry the admin token acquisition in DevServices for Keycloak
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevServicesUtils.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  integration-tests/oidc-token-propagation-reactive/src/test/java/io/quarkus/it/keycloak/OidcTokenReactivePropagationTest.java
Labels: area/oidc

#28340 Revert "Prevent possible memory leak from Reactive REST Client multipart upload usage"
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormUpload.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/RequestTrackingPipe.java
Labels: area/rest-client, triage/backport?

#28253 Create Kafka admin client for health check only with necessary config
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaAdminClient.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaTopicClient.java
Labels: area/kafka, triage/backport?

#28216 Qute - introduce template fragments
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/CheckedTemplateFragmentTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/FragmentSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LazyValue.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parameter.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionInitContextImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstance.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/FragmentTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IncludeTest.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#28229 Support record inside JandexUtil
  core/deployment/src/main/java/io/quarkus/deployment/util/JandexUtil.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/JandexUtil.java
Labels: area/core, triage/flaky-test, triage/backport?

#28321 Bump kubernetes-client-bom from 5.12.3 to 5.12.4
  bom/application/pom.xml
Labels: area/kubernetes, area/dependencies

#28351 Docs & Tests - migrate SSL certificate files property from deprecated
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/deployment/src/test/resources/conf/disable-http.conf
  integration-tests/elytron-undertow/src/main/resources/application.properties
Labels: area/documentation, area/security, area/vertx, area/undertow, triage/backport?

#28347 Update to the Vert.x Mutiny bindings 2.27.0
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/mutiny, triage/backport?

#28358 Add gsmet to Quarkus GitHub Lottery configuration
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#28330 ArC RequestContext - get rid of LazyValue for container lifecycle events
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/arc, triage/waiting-for-ci

#28369 Contributing guide update
  CONTRIBUTING.md
Labels: triage/waiting-for-ci

#28122 Kubernetes: Correct artifact path location
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithKubernetesConfigTest.java
Labels: area/kubernetes, triage/backport?

#28310 Not to ignore the property `quarkus.kubernetes.ports.<name>.protocol`
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PortConverter.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesServiceMappingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-service-mapping.properties
Labels: area/kubernetes, triage/backport?

#28325 Allow passing name and description for CLI and Maven project
  devtools/cli/src/main/java/io/quarkus/cli/CreateApp.java
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartData.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCodestartDataConverter.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectMojoIT.java
Labels: area/maven, area/platform, area/devtools, area/cli

#28355 Honour DOCKER_CONFIG env var in jib the same way as in jib-core
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/container-image, hacktoberfest-accepted, triage/backport?

#28371 Ignore transient fields when performing bytecode recording
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/IgnoredProperties.java
Labels: area/core, triage/waiting-for-ci, release/breaking-change, triage/flaky-test

#28338 Update kotlin.version 1.7.20
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle.properties
  independent-projects/arc/tests/pom.xml
  jakarta/transform.sh
Labels: area/gradle, area/arc, area/dependencies, area/devtools, area/jakarta, triage/backport?

#28367 Chance SR CP tests to use RestEasy Reactive instead of classic and remove tests using rx java
  integration-tests/smallrye-context-propagation/pom.xml
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/ContextEndpoint.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/SimpleContextPropagationTest.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/TransactionalBean.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/mutiny/MutinyContextEndpoint.java
Labels: area/resteasy-reactive, area/context-propagation

#28284 Container image registry is ignored when using quarkus-openshift
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ChangeDeploymentTriggerDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithDockerAndImageTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-docker-and-image.properties
Labels: area/kubernetes

#28382 Incorporate quickstart changes in security-openid-connect-client guide
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, triage/backport?

#28381 Fix ConfigDescriptionsManager misinterpreting a double-quote alone (`"`) as a quoted part
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleConfigMisinterpretedDoubleUnderscoreTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsManager.java
Labels: area/config, area/vertx, area/dev-ui, triage/backport?

#28380 2.13.1 backports 2
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle.properties
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PortConverter.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/KafkaDevServicesContinuousTestingTestCase.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/testing/KafkaDevServicesContinuousTestingWorkingAppPropsTestCase.java
  independent-projects/arc/tests/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesServiceMappingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithKubernetesConfigTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-service-mapping.properties
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantHttps.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-token-propagation-reactive/src/test/java/io/quarkus/it/keycloak/OidcTokenReactivePropagationTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveClientTest.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/SimpleContextPropagationTest.java
  jakarta/transform.sh
Labels: area/gradle, area/arc, area/smallrye, area/infra, area/reactive-messaging, area/oidc, area/kubernetes, area/dependencies, area/devtools, area/jakarta

#28315 Kubernetes: Allow disabling the annotation "app.kubernetes.io/name"
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithDeploymentWithoutSelectorsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-deployment-without-selectors.properties
Labels: area/kubernetes, triage/backport?

#28370 Remove duplicate parameter in ResteasyReactiveProcessor
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
Labels: area/resteasy-reactive

#27594 Avoid leaking memory in SseParser
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
Labels: triage/backport-2.12?, triage/backport?

#28392 2.13.1 backports 3
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleConfigMisinterpretedDoubleUnderscoreTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsManager.java
Labels: area/documentation, area/infra, area/vertx

#28395 Add a mojo parameter to allow quarkus:dev to specify the add-modules clause
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, area/devtools

#28400 Add link to datasource guide for JDBC and datasource extensions
  extensions/datasource/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-db2/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-derby/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-h2/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-mariadb/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-mssql/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-mysql/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-oracle/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-postgresql/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/persistence

#28401 Bump testcontainers to 1.17.5 and fix Elasticsearch devservices min heap
  bom/application/pom.xml
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/ElasticsearchDevServicesBuildTimeConfig.java
Labels: triage/waiting-for-ci, area/dependencies, area/elasticsearch, triage/flaky-test

#28404 Upgrade protobuf to 3.19.6
  pom.xml
Labels: triage/backport?

#28410 Add properties to quarkusDev task to set add-module clause and open Java lang module
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/gradle, area/devtools

#28348 Run the method scheduled with the Quartz scheduler on a duplicated context
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/DuplicatedContextTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/DuplicatedContextWithRunOnQuartzThreadTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRuntimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/scheduler, triage/waiting-for-ci, release/breaking-change

#28417 Add ':Z' opt to volume mount in OpenTelemetry guide
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation

#28362 [2.13] Update to ubi 8.6 and the latest openjdk images
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/UbiMinimalBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-11-runtime
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-17-runtime
  extensions/container-image/container-image-docker/deployment/src/test/resources/ubi-java11
  extensions/container-image/container-image-docker/deployment/src/test/resources/ubi-java17
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iConfig.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/src/main/docker/Dockerfile.jvm
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/src/main/docker/Dockerfile.jvm
Labels: area/documentation, area/platform, area/kubernetes, area/devtools

#28399 Enhancements of mailer test coverage
  integration-tests/mailer/src/main/java/io/quarkus/it/mailer/MailResource.java
  integration-tests/mailer/src/main/resources/META-INF/resources/logo.png
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailerTest.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/TextEmail.java
Labels: area/mailer

#28378 Register Resource methods for reflection if ResourceInfo#getMethod is used in filters
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ContainerRequestFilterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ContainerResponseFilterBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/FilterClassIntrospector.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveInterceptorScanner.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceInterceptor.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceInterceptors.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/filters/FilterGeneration.java
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/Filters.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResourceTest.kt
Labels: triage/waiting-for-ci, area/resteasy-reactive

#28419 Make sure the app model is initialized from the POMs provided by the Maven plugin
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
Labels: area/core, area/maven, area/devtools, triage/backport?

#28134 Use proper type for serializing Kotlin response
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/kotlin/serialization/KotlinSerializationMessageBodyWriter.kt
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/types/Types.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/flaky-test, triage/backport?

#28384 Improve OpenApi CORS message
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiRecorder.java
Labels: area/smallrye, area/openapi, triage/backport?

#28434 Fixed maven and gradle snippet in documentation for artemis-jms
  docs/src/main/asciidoc/jms.adoc
Labels: area/documentation

#28409 H2: support embedding the DB engine in native images
  .github/native-tests.json
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageEnableModule.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  docs/src/main/asciidoc/datasource.adoc
  extensions/jdbc/jdbc-h2/deployment/src/main/java/io/quarkus/jdbc/h2/deployment/JDBCH2Processor.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/Engine.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/H2ServerDisable.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/RemoteOnly.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/SessionLocalDisable.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/SessionRemote.java
  integration-tests/jpa-h2-embedded/pom.xml
  integration-tests/jpa-h2-embedded/src/main/java/io/quarkus/it/jpa/h2/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-h2-embedded/src/main/java/io/quarkus/it/jpa/h2/Person.java
  integration-tests/jpa-h2-embedded/src/main/java/io/quarkus/it/jpa/h2/SequencedAddress.java
  integration-tests/jpa-h2-embedded/src/main/resources/application.properties
  integration-tests/jpa-h2-embedded/src/test/java/io/quarkus/it/jpa/h2/JPAFunctionalityInGraalITCase.java
  integration-tests/jpa-h2-embedded/src/test/java/io/quarkus/it/jpa/h2/JPAFunctionalityTest.java
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/persistence, area/core, area/hibernate-orm, area/infra-automation, area/native-image

#28432 Bump Stork to 1.3.0
  bom/application/pom.xml
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/StorkConfigUtil.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/smallrye, area/dependencies, area/stork

#28436 Eventbus documentation uses non existing method
  docs/src/main/asciidoc/reactive-event-bus.adoc
Labels: area/documentation

#28444 Remove lambdas for OpenTelemetry runtime code
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryUtil.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtil.java
Labels: area/tracing

#28462 Prevent possible NPE when building violations report
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/ResteasyReactiveViolationExceptionMapper.java
  integration-tests/hibernate-validator-resteasy-reactive/src/main/java/io/quarkus/it/hibernate/validator/HibernateValidatorTestResource.java
  integration-tests/hibernate-validator-resteasy-reactive/src/test/java/io/quarkus/it/hibernate/validator/HibernateValidatorFunctionalityTest.java
Labels: kind/bug, area/hibernate-validator, triage/backport?

#28464 Ensure that JAX-RS Cookie parameter type is usable in Resource methods
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/CookieParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/NewParamsRestResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/SimpleQuarkusRestTestCase.java
Labels: triage/backport?

#28457 Use io.smallrye:jandex-maven-plugin in hibernate-reactive-panache-kotlin
  extensions/panache/hibernate-reactive-panache-kotlin/runtime/pom.xml
Labels: area/panache

#28412 Allows Linux-only extensions on Windows with Linux builder image
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/UnsupportedOSBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/backport?

#28451 Introduce a version of @OidcClientFilter for the reactive client
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client-reactive-filter/deployment/src/main/java/io/quarkus/oidc/client/reactive/filter/deployment/OidcClientReactiveFilterBuildStep.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientFilter.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientRequestReactiveFilter.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RegisterProviderAnnotationInstanceBuildItem.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  integration-tests/oidc-client-reactive/src/main/java/io/quarkus/it/keycloak/ProtectedResourceServiceReactiveFilter.java
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResource.kt
Labels: area/documentation, area/resteasy-reactive, triage/backport?

#28472 Move OidcClientFilter annotation to quarkus-oidc-client
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client-reactive-filter/deployment/src/main/java/io/quarkus/oidc/client/reactive/filter/deployment/OidcClientReactiveFilterBuildStep.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientFilter.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/filter/OidcClientFilter.java
  integration-tests/oidc-client-reactive/src/main/java/io/quarkus/it/keycloak/ProtectedResourceServiceReactiveFilter.java
Labels: area/documentation, triage/backport?

#28478 Make sure all CLI commands work with Powershell
  docs/src/main/asciidoc/includes/devtools/create-app.adoc
  docs/src/main/asciidoc/includes/devtools/create-cli.adoc
  docs/src/main/asciidoc/includes/devtools/extension-add.adoc
Labels: area/documentation, triage/backport?

#28442 Fix RESTEasy Reactive match bug
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/CloseDelegateInputStream.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/RegexMatchTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/RegexResource.java
Labels: area/resteasy-reactive, triage/backport?

#28467 Avoid needless instantiations of memberless annotation literals
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralProcessor.java
Labels: area/arc, triage/waiting-for-ci

#28498 Fix RESTEasy Reactive testsuite
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CustomResourceProducersGenerator.java
Labels: area/resteasy-reactive

#28491 Update YAML metadata generation for asciidoc files
  docs/src/main/asciidoc/attributes.adoc
  docs/src/main/asciidoc/doc-concepts.adoc
  docs/src/main/asciidoc/doc-contribute-docs-howto.adoc
  docs/src/main/asciidoc/doc-create-tutorial.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/java/io/quarkus/docs/generation/YamlMetadataGenerator.java
Labels: area/documentation

#28500 Add Rest Client Guide to Dev UI
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/resteasy-reactive, triage/backport?

#28477 Fix RESTEasy Reactive Kotlin serialization extensions
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/common/deployment/KotlinSerializationCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/common/runtime/JsonConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/common/runtime/KotlinSerializationConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/common/runtime/KotlinSerializerRecorder.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/test/java/io/quarkus/kotlin/serialization/JsonConfigTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/deployment/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/deployment/KotlinSerializationProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/runtime/KotlinSerializationMessageBodyReader.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/runtime/KotlinSerializationMessageBodyWriter.kt
Labels: area/documentation, triage/waiting-for-ci, area/devtools, area/resteasy-reactive, triage/backport?

#28471 Rewrite OpenTelemetry integration tests to make them more stable
  integration-tests/opentelemetry-grpc/src/main/java/io/quarkus/it/opentelemetry/grpc/ExporterResource.java
  integration-tests/opentelemetry-grpc/src/test/java/io/quarkus/it/opentelemetry/grpc/OpenTelemetryGrpcTest.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ExporterResource.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/SpanData.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveClientTest.java
  integration-tests/opentelemetry-vertx/src/main/java/io/quarkus/it/opentelemetry/vertx/ExporterRouter.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/HelloRouterTest.java
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/ExporterResource.java
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/SpanExporterProvider.java
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/output/SpanDataSerializer.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryIT.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/StaticResourceTest.java
Labels: area/tracing

#28479 Docs - Sync Security LDAP guide with QuickStart & improve
  docs/src/main/asciidoc/security-ldap.adoc
Labels: area/documentation

#28445 Execute QuarkusTest**Callback when running QuarkusIntegrationTest
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  docs/src/main/asciidoc/getting-started-testing.adoc
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestCallbacksITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestCallbacksTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/SimpleAnnotationCheckerBeforeClassCallback.java
  integration-tests/main/src/test/java/io/quarkus/it/main/TestContextCheckerBeforeEachCallback.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractQuarkusTestWithContextExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractTestWithCallbacksExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/documentation, area/core, area/testing

#28492 H2 reflection extensions via GraalVM Feature
  extensions/jdbc/jdbc-h2/deployment/src/main/java/io/quarkus/jdbc/h2/deployment/H2JDBCReflections.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/H2Reflections.java
  integration-tests/jpa-h2-embedded/src/main/resources/application.properties
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/native-image

#28499 Properly allow mixing @QuarkusTest and @QuarkusMainTest
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#28463 go-offline: initialize Maven artifact resolver with the current project dir
  devtools/maven/src/main/java/io/quarkus/maven/GoOfflineMojo.java
Labels: area/documentation, area/panache, area/core, area/arc, area/maven, area/oidc, area/devtools, area/infra-automation, area/resteasy-reactive, triage/backport?

#28476 Qute - improve support for type-safe fragments
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/CheckedFragmentValidationBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/CheckedTemplateBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Names.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/NativeCheckedTemplateEnhancer.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devconsole/QuteDevConsoleProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/CheckedTemplateFragmentTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/ComplexCheckedTemplateFragmentTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/InvalidMethodNameCheckedTemplateFragmentTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/InvalidParamTypeCheckedTemplateFragmentTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/Item.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/MissingCheckedTemplateFragmentTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/MissingParamCheckedTemplateFragmentTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/CheckedFragment.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#28525 Upgrade Gizmo to 1.1.1.Final - 2.13
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, area/dependencies

#28391 RESTEasy Reactive - fix exception mapping for security exceptions when proactive security is disabled
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/smallrye-jwt/deployment/pom.xml
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/DisabledProactiveAuthFailedExceptionMappingTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveVertxHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
Labels: area/smallrye, area/vertx, area/resteasy-reactive

#28540 get method doesn't return the value in hash group code snippet in redis reference
  docs/src/main/asciidoc/redis-reference.adoc
Labels: area/documentation, triage/backport?

#28542 Make sure MavenProject Models have pom files set
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
Labels: area/maven, area/devtools, triage/backport?

#28538 Enable more config providers for code generators except those found in the root app module
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/CodeGenWatcher.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  devtools/maven/src/main/java/io/quarkus/maven/GenerateCodeMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/gradle, area/core, area/maven, area/devtools, triage/backport?

#28564 Update versions ins SECURITY.md
  SECURITY.md
Labels: area/security

#28570 Resteasy Reactive JAXB using multipart only bound XML media types
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/main/java/io/quarkus/resteasy/reactive/jaxb/deployment/ResteasyReactiveJaxbProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/test/java/io/quarkus/resteasy/reactive/jaxb/deployment/test/MultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/test/resources/test.html
Labels: area/resteasy-reactive, triage/backport?

#28568 Native TS, Enables WebJarResourceIT.java
  integration-tests/webjars-locator/src/test/java/io/quarkus/it/webjar/locator/WebJarResourceIT.java
Labels: area/testing, area/mandrel

#28556 Adds `DelayedAttributes#toString()` for debugging
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/DelayedAttributes.java
Labels: area/tracing

#28469 Bump Reactive Messaging version to 3.21.0
  bom/application/pom.xml
  jakarta/rewrite.yml
Labels: area/dependencies, area/jakarta

#28263 Tolerate failed cleanup causing build failures on M1
  .github/workflows/ci-actions-incremental.yml
  ACTIONS.md
Labels: triage/waiting-for-ci, area/infra-automation

#28536 Fix JandexUtil#getBoxedTypeName() and move it to Qute extension
  core/deployment/src/main/java/io/quarkus/deployment/util/JandexUtil.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
Labels: area/core, area/qute, triage/backport?

#28539 Let RESTEasy Reactive exception mappers handle authentication failure with disabled proactive security
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/FormAuthRedirectTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/RouteBuildItem.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RestInitialHandler.java
  integration-tests/elytron-resteasy-reactive/src/main/java/io/quarkus/it/resteasy/reactive/elytron/AuthenticationFailedExceptionMapper.java
  integration-tests/elytron-resteasy-reactive/src/test/java/io/quarkus/it/resteasy/reactive/elytron/ExceptionMapperTest.java
Labels: area/security, area/vertx, area/resteasy-reactive

#28592 Clarify that both RESTEasy Classic and Reactive support locale resolution
  docs/src/main/asciidoc/validation.adoc
Labels: area/documentation, area/hibernate-validator

#28383 Update CSRF filter to support multipart/form-data payloads
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfig.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  integration-tests/csrf-reactive/src/main/java/io/quarkus/it/csrf/TestResource.java
  integration-tests/csrf-reactive/src/main/resources/application.properties
  integration-tests/csrf-reactive/src/main/resources/templates/csrfTokenForm.html
  integration-tests/csrf-reactive/src/main/resources/templates/csrfTokenMultipart.html
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
Labels: area/documentation, triage/backport?

#28581 Generate the attributes.adoc file during the build
  docs/pom.xml
  docs/src/main/asciidoc/attributes-local.adoc
  docs/src/main/asciidoc/attributes.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  docs/sync-web-site.sh
Labels: area/documentation, triage/backport?

#28597 Do not set the Hibernate ORM dialect unnecessarily in docs/tests
  docs/src/main/asciidoc/opentelemetry.adoc
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/src/main/resources/application.properties
  integration-tests/hibernate-orm-tenancy/connection-resolver/src/main/resources/application.properties
  integration-tests/jpa-mssql/src/main/resources/application.properties
Labels: area/documentation, area/persistence, area/hibernate-orm

#28574 Bump minimum GraalVM version to 22.2.0
  .github/workflows/ci-actions-incremental.yml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/JPMSExportBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RegisterForReflectionITCase.java
Labels: release/noteworthy-feature, area/core, triage/waiting-for-ci, area/infra-automation, area/native-image, triage/backport?

#28545 Map cognito:groups to Quarkus roles
  docs/src/main/asciidoc/amazon-lambda-http.adoc
  extensions/amazon-lambda-http/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/AmazonLambdaHttpProcessor.java
  extensions/amazon-lambda-http/runtime/pom.xml
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/CognitoPrincipal.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/DefaultLambdaIdentityProvider.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpConfig.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpRecorder.java
  extensions/amazon-lambda-rest/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/AmazonLambdaHttpProcessor.java
  extensions/amazon-lambda-rest/runtime/pom.xml
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/CognitoPrincipal.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/DefaultLambdaIdentityProvider.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpConfig.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpRecorder.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/model/CognitoAuthorizerClaims.java
  integration-tests/amazon-lambda-http/src/main/java/io/quarkus/it/amazon/lambda/SecurityCheckResource.java
  integration-tests/amazon-lambda-http/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
  integration-tests/amazon-lambda-rest/src/main/java/io/quarkus/it/amazon/lambda/v1/SecurityCheckResource.java
  integration-tests/amazon-lambda-rest/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaV1SimpleTestCase.java
Labels: area/documentation, area/amazon-lambda

#28611 Bump smallrye-open-api from 2.3.0 to 2.3.1
  bom/application/pom.xml
  jakarta/rewrite.yml
Labels: area/dependencies, area/jakarta, triage/backport?

#28595 Allow overriding query parameters from a ContainerRequestFilter
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/ServletRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/RequestFilterQueryParamsTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#28601 Apply tiny polish to QuarkusDevModeLauncher
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
Labels: area/core, triage/waiting-for-ci

#28565 Validate media types for sub resources in Resteasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SubResource.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RequestDeserializeHandler.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#28571 Set logging manager for Gradle test task in codestart
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle-kotlin-dsl/base/build-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/base/build-layout.include.qute
  integration-tests/gradle/src/main/resources/add-extension-multi-module-kts/build.gradle.kts
  integration-tests/gradle/src/main/resources/add-extension-multi-module/build.gradle
  integration-tests/gradle/src/main/resources/add-remove-extension-single-module-kts/build.gradle.kts
  integration-tests/gradle/src/main/resources/add-remove-extension-single-module/build.gradle
  integration-tests/gradle/src/main/resources/additional-source-sets/build.gradle
  integration-tests/gradle/src/main/resources/annotation-processor-multi-module/build.gradle
  integration-tests/gradle/src/main/resources/annotation-processor-simple-module/build.gradle
  integration-tests/gradle/src/main/resources/basic-java-application-project/build.gradle
  integration-tests/gradle/src/main/resources/basic-java-library-module/application/build.gradle
  integration-tests/gradle/src/main/resources/basic-java-native-module/build.gradle
  integration-tests/gradle/src/main/resources/basic-java-platform-module/application/build.gradle
  integration-tests/gradle/src/main/resources/basic-java-platform-module/build.gradle
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/build.gradle
  integration-tests/gradle/src/main/resources/basic-multi-module-project-test-setup/build.gradle
  integration-tests/gradle/src/main/resources/basic-multi-module-project/build.gradle
  integration-tests/gradle/src/main/resources/bean-in-testsources-project/build.gradle
  integration-tests/gradle/src/main/resources/builder/multi-module-project/build.gradle
  integration-tests/gradle/src/main/resources/builder/simple-module-project/build.gradle
  integration-tests/gradle/src/main/resources/composite-project-with-dependencies/gradle-dao/build.gradle
  integration-tests/gradle/src/main/resources/composite-project-with-dependencies/gradle-rest/build.gradle
  integration-tests/gradle/src/main/resources/conditional-test-project/build.gradle
  integration-tests/gradle/src/main/resources/configuration-inheritance-project/build.gradle
  integration-tests/gradle/src/main/resources/custom-config-java-module/build.gradle
  integration-tests/gradle/src/main/resources/custom-filesystem-provider/build.gradle
  integration-tests/gradle/src/main/resources/custom-java-native-sourceset-module/build.gradle
  integration-tests/gradle/src/main/resources/custom-working-dir-app/build.gradle
  integration-tests/gradle/src/main/resources/dependency-constraints-project/build.gradle
  integration-tests/gradle/src/main/resources/dotenv-config-java-module/build.gradle
  integration-tests/gradle/src/main/resources/extensions/simple-extension/build.gradle
  integration-tests/gradle/src/main/resources/grpc-multi-module-project/build.gradle
  integration-tests/gradle/src/main/resources/implementation-files/build.gradle
  integration-tests/gradle/src/main/resources/inject-bean-from-test-config/application/build.gradle
  integration-tests/gradle/src/main/resources/inject-quarkus-app-properties/build.gradle
  integration-tests/gradle/src/main/resources/it-test-basic-project/build.gradle
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project/build.gradle
  integration-tests/gradle/src/main/resources/list-extension-single-module/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-included-build/app/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-included-build/external-library/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-named-injection/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-named-injection/quarkus/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-parent-dependency/app/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-parent-dependency/build.gradle
  integration-tests/gradle/src/main/resources/mutable-jar/build.gradle
  integration-tests/gradle/src/main/resources/quarkus-dev-dependency/build.gradle
  integration-tests/gradle/src/main/resources/spring-dependency-plugin-project/build.gradle
  integration-tests/gradle/src/main/resources/test-resources-in-build-steps/build.gradle
  integration-tests/gradle/src/main/resources/test-resources-vs-main-resources/build.gradle
  integration-tests/gradle/src/main/resources/test-that-fast-jar-format-works/build.gradle
  integration-tests/gradle/src/main/resources/test-that-legacy-jar-format-works/build.gradle
  integration-tests/gradle/src/main/resources/test-uber-jar-format-works/build.gradle
  integration-tests/gradle/src/main/resources/uber-jar-for-multi-module-project/build.gradle
Labels: area/gradle, area/platform, area/devtools, triage/backport?

#28594 Support setting the RolesAllowed in the Panache REST Data extension
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/OpenApiIntegrationTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/CollectionsResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/openapi/OpenApiIntegrationTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/CollectionsResource.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/RestDataProcessor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/AddMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/CountMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/DeleteMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/GetMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/StandardMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UpdateMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/HalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/ListHalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/MethodProperties.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourceProperties.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourcePropertiesProvider.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/ResponseImplementor.java
  extensions/panache/rest-data-panache/runtime/src/main/java/io/quarkus/rest/data/panache/MethodProperties.java
  extensions/panache/rest-data-panache/runtime/src/main/java/io/quarkus/rest/data/panache/ResourceProperties.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourcePropertiesProvider.java
Labels: area/documentation, area/panache, area/spring

#28569 Promote quarkus-hibernate-orm-rest-data-panache to stable
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/hibernate-orm-rest-data-panache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/panache, triage/backport?

#28620 Do not check if debug port can be used in DEV mode on restart
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/core, area/maven, area/devtools

#28617 Allow disabling Jackson ObjectMapper WRITE_DURATIONS_AS_TIMESTAMPS
  extensions/jackson/deployment/src/test/java/io/quarkus/jackson/deployment/JacksonWriteDurationsAsTimestampsDisabledTest.java
  extensions/jackson/deployment/src/test/java/io/quarkus/jackson/deployment/JacksonWriteDurationsAsTimestampsEnabledTest.java
  extensions/jackson/deployment/src/test/resources/application-write-durations-as-timestamps-disabled.properties
  extensions/jackson/deployment/src/test/resources/application-write-durations-as-timestamps-enabled.properties
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/JacksonBuildTimeConfig.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/ObjectMapperProducer.java
Labels: triage/waiting-for-ci, area/jackson, triage/backport?

#28624 Resolve gradle user home misconfiguration
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/QuarkusGradleModelFactory.java
Labels: area/devtools, triage/backport?

#28635 Tests - migrate 2 deprecated Smallrye JWT properties
  extensions/smallrye-jwt/deployment/src/test/resources/applicationJwtCookie.properties
  extensions/smallrye-jwt/deployment/src/test/resources/applicationJwtCookieDev.properties
Labels: area/smallrye, triage/backport?

#28626 Apply minor polish to ResteasyReactiveProcessor
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
Labels: area/resteasy-reactive

#28327 Keycloak devservices multiple realms
  docs/src/main/asciidoc/images/dev-ui-keycloak-client-credentials-grant.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-password-grant.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-sign-in-to-spa.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-test-access-token.png
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/oidc/deployment/src/main/resources/dev-templates/provider.html
  test-framework/keycloak-server/src/main/java/io/quarkus/test/keycloak/client/KeycloakTestClient.java
Labels: area/documentation, area/testing, area/oidc

#28623 Implement the Redis Graph commands
  docs/src/main/asciidoc/redis-reference.adoc
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/ReactiveRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/RedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/graph/GraphCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/graph/GraphQueryResponseItem.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/graph/ReactiveGraphCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/graph/ReactiveTransactionalGraphCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/graph/TransactionalGraphCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/transactions/ReactiveTransactionalRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/transactions/TransactionalRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractGraphCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingGraphCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingTransactionalGraphCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingTransactionalRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveGraphCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalGraphCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/GraphCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/TransactionalGraphCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/generator/RedisApiGenerator.java
Labels: area/documentation, triage/waiting-for-ci, area/redis

#28642 Use a different DB in test
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionRepairAtStartTest.java
  extensions/flyway/deployment/src/test/resources/init-sql-config.properties
  extensions/flyway/deployment/src/test/resources/repair-at-start-config.properties
Labels: area/flyway

#28640 Upgrade Hibernate Reactive to 1.1.9.Final
  bom/application/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/dependencies, area/hibernate-reactive

#28645 Manage version for Apache Commons Text
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#28608 Avoid NPE in Mongo code when connecting on windows
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/dns/MongoDnsClient.java
Labels: triage/waiting-for-ci, area/mongodb, triage/backport?

#28009 Add "scm" property with github coordinates to extension metadata
  devtools/gradle/gradle-extension-plugin/build.gradle
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTask.java
  devtools/gradle/gradle-extension-plugin/src/test/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTaskTest.java
  independent-projects/bootstrap/maven-plugin/pom.xml
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/bootstrap/maven-plugin/src/test/java/io/quarkus/maven/ExtensionDescriptorMojoTest.java
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/extension-maven-plugin/src/test/java/io/quarkus/maven/ExtensionDescriptorMojoTest.java
Labels: area/gradle, area/maven, area/devtools, area/marketplace

#28652 Avoid unnecessary index in thread name when Hibernate PUs start
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm

#28643 Update Configuration Reference Documentation to use @ConfigMapping
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#28638 Improve the number of classes that are loaded by our AppCDS support
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/AppCDSControlPointBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/PreventFurtherStepsException.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/PreBeanContainerBuildItem.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/appcds/AppCDSRecorder.java
Labels: area/core, area/arc, triage/waiting-for-ci, triage/flaky-test

#28659 Unify naming of GraphQL UI in the docs
  docs/src/main/asciidoc/dev-mode-differences.adoc
  docs/src/main/asciidoc/kogito-dev-services.adoc
  docs/src/main/asciidoc/smallrye-graphql.adoc
Labels: area/documentation

#28537 Provide a hint for when @QuarkusTest and @QuarkusIntegrationTest are mixed
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/testing, triage/backport?

#28664 Fix the path of documentation examples
  docs/pom.xml
  docs/src/main/asciidoc/_attributes-local.adoc
  docs/src/main/asciidoc/_examples/_attributes.adoc
  docs/src/main/asciidoc/_templates/_attributes.adoc
  docs/sync-web-site.sh
Labels: area/documentation

#28666 2.13.3 backports 2
  docs/pom.xml
  docs/src/main/asciidoc/_attributes-local.adoc
  docs/src/main/asciidoc/_examples/_attributes.adoc
  docs/src/main/asciidoc/_templates/_attributes.adoc
  docs/sync-web-site.sh
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/documentation, area/infra, area/testing

#28657 Provide a warning when a raw RestResponse return type is used
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: triage/backport?

#28674 Apply polish to Mongo tracing code
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/tracing/MongoTracingCommandListener.java
Labels: area/mongodb

#28676 Fix Liquibase + Mongodb connection string issue
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
Labels: area/mongodb, area/liquibase, triage/backport?

#28683 Add some documentation about LocaleResolver's for Hibernate Validator
  docs/src/main/asciidoc/validation.adoc
Labels: area/documentation

#28681 ArC - fix ListAllTest
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/all/ListAllTest.java
Labels: area/arc, triage/waiting-for-ci

#28655 Qute - micro-optimizations
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstanceBase.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/NamespaceResolversTest.java
Labels: area/qute

#28687 Add missing code for improved AppCDS feature
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
Labels: area/core, triage/waiting-for-ci

#28685 Revert Gradle patch that was too intrusive and introduced a regression and implement a simpler fix
  devtools/gradle/gradle-application-plugin/build.gradle
  devtools/gradle/gradle-application-plugin/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/dependency/DeploymentClasspathBuilder.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ValidateExtensionTask.java
  devtools/gradle/gradle-model/build.gradle
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/DependencyUtils.java
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/gradle.properties
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/settings.gradle.kts
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/src/main/kotlin/org/acme/AdminResource.kt
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/src/main/kotlin/org/acme/api/API.kt
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/src/test/kotlin/org/acme/AdminResourceTest.kt
  integration-tests/gradle/src/test/java/io/quarkus/gradle/ConditionalDependenciesKotlinTest.java
Labels: area/gradle, area/devtools, triage/backport?

#28665 Better annotation literals
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/AnnotationLiteralProcessorTest.java
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/dependencies

#28438 Bump dekorate from 3.0.0 to 3.0.2
  bom/application/pom.xml
  extensions/kubernetes/kind/deployment/pom.xml
  extensions/kubernetes/kind/deployment/src/main/java/io/quarkus/kind/deployment/KindProcessor.java
  extensions/kubernetes/kind/deployment/src/main/resources/META-INF/services/io.dekorate.ManifestGeneratorFactory
  extensions/kubernetes/minikube/deployment/src/main/java/io/quarkus/minikube/deployment/MinikubeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyOpenshiftRouteConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KindWithDefaultsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesServiceMappingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithApplicationPropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithDeploymentWithoutSelectorsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithRoutePropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kind-with-defaults.properties
Labels: area/kubernetes, area/dependencies

#28691 Docs update: document new generated extension metadata
  docs/src/main/asciidoc/extension-metadata.adoc
Labels: area/documentation

#28713 Jakarta - Push to the 3.0 branch
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/doc-build.yml
  .github/workflows/jakarta-rewrite.yml
  jakarta/README.md
Labels: area/infra-automation, area/jakarta

#28708 Register DefaultKubernetesClient for reflection
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: area/kubernetes

#28711 Fix various issues in hibernate-reactive-panache-kotlin
  extensions/panache/hibernate-reactive-panache-kotlin/runtime/pom.xml
  jakarta/transform.sh
Labels: area/panache, area/jakarta

#28702 Ensure that Ryuk does not get started when simply checking for Docker
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core, triage/backport?

#28682 Fix gradle integrationTest task documentation
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation, triage/backport?

#28578 Fix access log handling for root and non-root paths
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx

#27551 RegisterForReflection#classNames does not register full hierarchy of the class
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterForReflection.java
  integration-tests/opentelemetry-vertx/src/main/java/io/quarkus/it/opentelemetry/vertx/SpanData.java
Labels: area/persistence, area/gradle, area/core, area/maven, area/kotlin, area/hibernate-validator, area/amazon-lambda, area/hibernate-orm, area/hibernate-search, area/funqy, area/elasticsearch, area/codestarts, area/jbang, area/jackson, triage/flaky-test

#28736 Make SecurityCheckStorage bean unremoveable
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
Labels: area/security, triage/backport?

#28689 Hibernate panache housekeeping
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/AbstractJpaOperations.java
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheRepositoryBase.kt
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheRepositoryBase.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/PanacheQueryImpl.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
Labels: area/panache

#28724 Bump Keycloak version to 19.0.3
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/oidc, area/dependencies, triage/flaky-test

#28749 Render Java example properly in Security Getting Started docs
  docs/src/main/asciidoc/security-getting-started.adoc
Labels: area/documentation, triage/backport?

#28714 Merge jacoco-maven-plugin's executions to avoid build warning
  coverage-report/pom.xml
Labels: area/maven

#28359 Record inside panache
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  extensions/panache/hibernate-orm-panache-common/deployment/src/main/java/io/quarkus/hibernate/orm/panache/common/deployment/PanacheJpaCommonResourceProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/HibernateOrmPanacheRestProcessor.java
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/deployment/PanacheJpaCommonResourceProcessor.java
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/MongoPanacheRestProcessor.java
  integration-tests/java-17/pom.xml
  integration-tests/java-17/src/main/java/io/quarkus/it/hibernate/panache/person/Person.java
  integration-tests/java-17/src/main/java/io/quarkus/it/hibernate/panache/person/PersonName.java
  integration-tests/java-17/src/main/java/io/quarkus/it/hibernate/panache/person/PersonResource.java
  integration-tests/java-17/src/main/java/io/quarkus/it/hibernate/panache/person/Status.java
  integration-tests/java-17/src/main/java/io/quarkus/it/mongodb/panache/person/Person.java
  integration-tests/java-17/src/main/java/io/quarkus/it/mongodb/panache/person/PersonName.java
  integration-tests/java-17/src/main/java/io/quarkus/it/mongodb/panache/person/PersonResource.java
  integration-tests/java-17/src/main/java/io/quarkus/it/mongodb/panache/person/Status.java
  integration-tests/java-17/src/main/resources/application.properties
  integration-tests/java-17/src/test/java/io/quarkus/it/hibernate/panache/person/PersonResourceTest.java
  integration-tests/java-17/src/test/java/io/quarkus/it/mongodb/panache/person/PersonResourceTest.java
  integration-tests/pom.xml
Labels: area/documentation, area/panache

#28756 Reactive Routes- Proceed to the next handler when authenticated HTTP policy is set in application.properties
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/LazyAuthRouteTest.java
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
Labels: triage/backport?

#28751 Fix duplicated TOC in writing-extensions.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, triage/backport?

#28766 Ensure test states are only reused for the same test types
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractQuarkusTestWithContextExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#28759 Make sure the ordering of Maven repos in tests matches the ordering of the repos in Mojos
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/resolver/maven/test/SettingsProfileReposAndPomReposEffectivePomTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/effective-pom/settings-profile-and-pom-repos/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/effective-pom/settings-profile-and-pom-repos/settings.xml
Labels: area/devtools

#28777 Follow the new syntax for the configuration of the Quarkus GitHub Lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#28776 Qute docs - fix typo in User-defined Tags
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation

#28745 Mention Jaeger supporting OTLP out of the box
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, triage/waiting-for-ci

#28788 Add @Sgitario to bot config for REST Data Panache issues
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#28757 Updating smallrye-graphql-client to 1.8.2 adding configuration parameter `init-payload`
  bom/application/pom.xml
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfig.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
  jakarta/rewrite.yml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/graphql, area/jakarta, triage/flaky-test

#28695 Introduce APIs to register endHandler and exceptionHandler in Redis client (Pub/Sub)
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/pubsub/PubSubCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/pubsub/ReactivePubSubCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingPubSubCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactivePubSubCommandsImpl.java
Labels: area/panache, area/gradle, area/core, area/arc, area/kubernetes, area/hibernate-search, area/redis

#26826 Qute - Type-safe validation for OR operator
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeCheckExcludeBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/Item.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ItemWithName.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/OrOperatorTemplateExtensionFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/OrOperatorTemplateExtensionTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/OtherItem.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/OrOperatorTemplateExtensions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolvers.java
Labels: triage/waiting-for-ci, area/qute

#28684 Kubernetes: support for common resources
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithCommonResourcesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/manifests/openshift-with-common-resources/common.yml
Labels: area/documentation, area/kubernetes
