Repository quarkusio/quarkus, pull requests merged in 2022-06, with the labels that each got.

#25042 Added more detail to some error cases in the VertxHttpRecorder
  core/runtime/src/main/java/io/quarkus/runtime/QuarkusBindException.java
  core/runtime/src/main/java/io/quarkus/runtime/shutdown/ShutdownRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/core, area/vertx, triage/waiting-for-ci

#25903 List Reactive Oracle Client in Hibernate Reactive guide
  docs/src/main/asciidoc/hibernate-reactive.adoc
Labels: area/documentation, triage/backport-2.7?, triage/backport?

#25896 MongoDB using same client session for same transaction
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/MongoOperations.java
Labels: area/panache, triage/waiting-for-ci, triage/backport?

#25888 Registers media type `text/xml` for RESTEasy Reactive with JAXB
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/ValidatorMediaTypeUtil.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/deployment/src/main/java/io/quarkus/resteasy/reactive/jaxb/common/deployment/ResteasyReactiveJaxbCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/runtime/src/main/java/io/quarkus/resteasy/reactive/jaxb/common/runtime/serialisers/JaxbMessageBodyReader.java
  extensions/resteasy-reactive/rest-client-reactive-jaxb/deployment/src/test/java/io/quarkus/rest/client/reactive/jaxb/test/SimpleJaxbTest.java
Labels: area/hibernate-validator, triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#25908 Remove Github action unreconized property
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.yml
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#25907 SmallRye GraphQL 1.6
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/GraphQLClientTester.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/LuckyNumbersClientApi.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/DynamicClientTest.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/TypesafeClientTest.java
  jakarta/rewrite.yml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/graphql, area/jakarta

#25916 Allow setting excluded resources from Gradle extension plugin
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionConfiguration.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/dsl/RemovedResource.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/dsl/RemovedResources.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTask.java
  devtools/gradle/gradle-extension-plugin/src/test/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTaskTest.java
Labels: area/gradle, area/devtools

#25881 Log finish of code generation for proto
  extensions/grpc/codegen/src/main/java/io/quarkus/grpc/deployment/GrpcCodeGen.java
Labels: area/grpc

#25910 Fix the error for non-blocking multipart endpoints
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#25913 Qute: fix for processor when running in Eclipse IDE
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
Labels: area/qute

#25936 Disable Websockets logging during native image build
  extensions/websockets/client/runtime/src/main/java/io/quarkus/websockets/client/runtime/DisableLoggingAutoFeature.java
Labels: area/websockets

#25933 Option to enable workspace discovery in NORMAL mode
  core/deployment/src/main/java/io/quarkus/deployment/BootstrapConfig.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/BootstrapConstants.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/quarkus-ext/deployment/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/quarkus-ext/deployment/src/main/java/org/acme/quarkus/ext/deployment/AcmeQuarkusExtProcessor.java
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/quarkus-ext/runtime/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/quarkus-ext/runtime/src/main/java/org/acme/AcmeQuarkusExtRecorder.java
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/quarkus-ext/runtime/src/main/java/org/acme/ModuleList.java
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/runner/src/main/java/org/acme/HelloResource.java
Labels: area/gradle, area/core, area/maven, area/devtools

#25930 Provide actionable error message when unable to bind to Unix domain socket
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#25925 Make REST Data Panache work properly with id fields not named 'id'
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/EntityClassHelper.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/EmptyListItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksProcessor.java
Labels: area/panache, area/resteasy-reactive, triage/backport?

#25941 Add local project dependencies to a different layer for jib
  docs/src/main/asciidoc/container-image.adoc
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/documentation

#25960 Substitute EnvironmentValueProvider
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/SubstituteEnvironmentValueProvider.java
Labels: area/liquibase

#25918 Rename `DatasourceDbKindHibernateOrmMetadataBuildItem` to `DatabaseKindDialectBuildItem`
  extensions/hibernate-orm/deployment-spi/pom.xml
  extensions/hibernate-orm/deployment-spi/src/main/java/io.quarkus.hibernate.orm.deployment.spi/DatabaseKindDialectBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/Dialects.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: area/persistence, area/hibernate-orm, area/hibernate-reactive

#25971 Use RecomputeFieldValue kind NewInstance for JAXB RuntimeInlineAnnotationReader packageCache field
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/graal/JAXBSubstitutions.java
Labels: area/jaxb

#25931 Allow passing of parameters to reactive sql client connect options
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/DataSourceReactiveRuntimeConfig.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/MSSQLPoolRecorder.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-oracle-client/runtime/src/main/java/io/quarkus/reactive/oracle/client/runtime/OraclePoolRecorder.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
Labels: area/persistence, triage/waiting-for-ci, area/reactive-sql-clients

#25756 Kubernetes Client: Allow to disable the RBAC resources generation
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientBuildConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/WithKubernetesClientAndRbacDisabledTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-client-and-rbac-disabled.properties
Labels: area/documentation, area/kubernetes

#25890 Document how to build fully static native executables
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#25982 Add support for appCds type in QuarkusIntegrationTest
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  integration-tests/main/pom.xml
  integration-tests/main/src/it/integration-test-for-appcds/invoker.properties
  integration-tests/main/src/it/integration-test-for-appcds/pom.xml
  integration-tests/main/src/it/integration-test-for-appcds/src/main/java/org/acme/Hello.java
  integration-tests/main/src/it/integration-test-for-appcds/src/main/resources/application.properties
  integration-tests/main/src/it/integration-test-for-appcds/src/test/java/org/acme/HelloEndpointIT.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/ArtifactTypeUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/AppCdsLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/JarLauncherProvider.java
  test-framework/junit5/src/main/resources/META-INF/services/io.quarkus.test.junit.launcher.ArtifactLauncherProvider
Labels: area/core, triage/waiting-for-ci, area/testing

#25970 Remove ClientBuilder service files from narayana-lra extension dependencies
  extensions/narayana-lra/runtime/pom.xml
Labels: area/lra

#25624 Make reactive-oracle-client depend on jdbc-oracle
  .github/native-tests.json
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DefaultDataSourceDbKindBuildItem.java
  extensions/reactive-oracle-client/deployment/pom.xml
  extensions/reactive-oracle-client/runtime/pom.xml
Labels: area/infra-automation

#25988 Drop 21.2 support
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
Labels: area/core

#25867 Podman on Windows needs one /, not two // prefix
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/UpxCompressionBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/util/FileUtil.java
  core/deployment/src/test/java/io/quarkus/deployment/util/FileUtilTest.java
Labels: area/core, env/windows, area/container-image, triage/backport-2.7?, triage/backport?

#25949 Ensure that @WithConverter values work in native mode
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Server.java
  integration-tests/smallrye-config/src/main/resources/application.yaml
Labels: area/arc, triage/backport-2.7?, triage/backport?

#25945 Set content-type for Qute templates in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/runtime/src/main/java/io/quarkus/resteasy/reactive/qute/runtime/TemplateResponseUniHandler.java
Labels: area/resteasy-reactive

#25830 Use Azure Edge Server rather than MS SQL on Mac M1
  build-parent/pom.xml
Labels: area/dependencies

#25861 Introduce LambdaCapturingTypeBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/LambdaCapturingTypeBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterForReflection.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/ReflectionResource.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/ResourceLambda.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/SerializableDoubleFunction.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RegisterForReflectionITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RegisterForReflectionTestCase.java
Labels: area/core

#25796 Hibernate ORM 6 preparations, batch 2
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ExcludePersistenceXmlConfigTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedDefaultValueWithPersistenceXmlTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedFalseValueWithPersistenceXmlTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/ignore_explicit_for_joined/IgnoreExplicitForJoinedTrueValueWithPersistenceXmlTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/persistence/ExcludePersistenceXmlConfigTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/persistence/PersistenceXmlTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusConnectionProviderInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/devconsole/HibernateOrmDevConsoleIntegrator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/migration/MultiTenancyStrategy.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/schema/SchemaManagementIntegrator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/DataSourceTenantConnectionResolver.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchSupplier.java
Labels: area/persistence, area/hibernate-orm, area/hibernate-search

#25597 Introduce declarative support for Jackson's mixin feature
  docs/src/main/asciidoc/rest-json.adoc
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/jackson/deployment/src/test/java/io/quarkus/jackson/deployment/JacksonMixinsWithCustomizerTest.java
  extensions/jackson/deployment/src/test/java/io/quarkus/jackson/deployment/JacksonMixinsWithoutCustomizerTest.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/JacksonMixin.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/MixinsRecorder.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/ModelWithJsonNamingStrategyResource.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/SampleResponse.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/SampleResponseMixin.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/ModelWithJsonNamingStrategyResourceTest.java
Labels: area/documentation, area/jackson

#26025 Revert "Remove ClientBuilder service files from narayana-lra extension dependencies"
  extensions/narayana-lra/runtime/pom.xml
Labels: area/lra

#26021 Ensure that File is properly handled in native mode in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartClient.java
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartResource.java
  integration-tests/rest-client-reactive-multipart/src/test/java/io/quarkus/it/rest/client/multipart/MultipartResourceTest.java
Labels: area/resteasy-reactive, triage/backport-2.7?, triage/backport-2.9?, triage/backport?

#26001 Update postgres, mssql and mongo images for tests and devservices
  build-parent/pom.xml
Labels: area/dependencies

#25798 Add RestEasy Reactive and OidcSecurity test
  integration-tests/oidc-token-propagation-reactive/pom.xml
  integration-tests/oidc-token-propagation-reactive/src/main/java/io/quarkus/it/keycloak/ProtectedJwtResource.java
  integration-tests/oidc-token-propagation-reactive/src/main/java/io/quarkus/it/keycloak/User.java
  integration-tests/oidc-token-propagation-reactive/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
Labels: triage/backport?

#26032 Jakarta - Upgrade SmallRye JWT to 4.0.0-RC2
  jakarta/rewrite.yml
Labels: area/jakarta

#25810 QuteProcessor - more concise format to report incorrect expressions
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TemplateDataValidationTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/NamespaceTemplateExtensionValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/globals/TemplateGlobalValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleExpressionValidationTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleTemplateExpressionValidationTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/NamedBeanValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/CheckedTemplateRequireTypeSafeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/InterfaceValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/TypeSafeLoopFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ValidationFailuresTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/WhenValidationFailureTest.java
  extensions/resteasy-classic/resteasy-qute/deployment/src/test/java/io/quarkus/qute/resteasy/deployment/TypeErrorTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/src/test/java/io/quarkus/resteasy/reactive/qute/deployment/TypeErrorTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/qute/QuteErrorPageTest.java
Labels: triage/waiting-for-ci, area/qute, area/resteasy-reactive, triage/backport?

#26027 Fix package of hibernate-orm/deployment-spi
  extensions/hibernate-orm/deployment-spi/src/main/java/io/quarkus/hibernate/orm/deployment/spi/DatabaseKindDialectBuildItem.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm

#26038 Revert "Add support for appCds type in QuarkusIntegrationTest"
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  integration-tests/main/pom.xml
  integration-tests/main/src/it/integration-test-for-appcds/invoker.properties
  integration-tests/main/src/it/integration-test-for-appcds/pom.xml
  integration-tests/main/src/it/integration-test-for-appcds/src/main/java/org/acme/Hello.java
  integration-tests/main/src/it/integration-test-for-appcds/src/main/resources/application.properties
  integration-tests/main/src/it/integration-test-for-appcds/src/test/java/org/acme/HelloEndpointIT.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/ArtifactTypeUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/AppCdsLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/JarLauncherProvider.java
  test-framework/junit5/src/main/resources/META-INF/services/io.quarkus.test.junit.launcher.ArtifactLauncherProvider
Labels: area/core, triage/waiting-for-ci, area/testing, triage/backport?

#26030 Convert AppCDS output messages to warnings when the creation process fails
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
Labels: area/core, triage/backport?

#26043 Get back on track with the Jakarta migration
  jakarta/overrides/jaxb/JAXBSubstitutions.java
  jakarta/transform.sh
Labels: area/jakarta

#26045 Fix some typos in Maven tooling doc
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/backport?

#26047 Bump grpc.version from 1.46.0 to 1.47.0 and adapt substitutions
  extensions/grpc-common/runtime/src/main/java/io/quarkus/grpc/common/runtime/graal/GrpcNettySubstitutions.java
  pom.xml
Labels: area/grpc

#26053 Add test for incorrect content type for Qute templates
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/src/test/java/io/quarkus/resteasy/reactive/qute/deployment/ItemResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/deployment/src/test/java/io/quarkus/resteasy/reactive/qute/deployment/VariantTemplateTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#25842 Expose management UI in RabbitMQ Dev Service
  docs/src/main/asciidoc/rabbitmq-dev-services.adoc
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ContainerLocator.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/devconsole/RabbitDevConsoleProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/resources/dev-templates/embedded.html
  extensions/smallrye-reactive-messaging-rabbitmq/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/runtime/devconsole/DevRabbitMqHttpPort.java
  extensions/smallrye-reactive-messaging-rabbitmq/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/runtime/devconsole/DevRabbitMqHttpPortSupplier.java
  extensions/smallrye-reactive-messaging-rabbitmq/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/runtime/devconsole/RabbitHttpPortFinder.java
Labels: area/documentation, area/smallrye, area/reactive-messaging

#26034 Deprecate for removal duplicated GlobUtil
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/RegistryExtensionResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/util/GlobUtil.java
Labels: area/platform, area/devtools

#26066 Bump smallrye-jwt version to 3.5.1
  bom/application/pom.xml
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation, area/dependencies, triage/backport?

#26041 Introduce gRPC post-processing
  bom/application/pom.xml
  extensions/grpc-common/runtime/src/main/java/io/quarkus/grpc/common/Generated.java
  extensions/grpc/codegen/pom.xml
  extensions/grpc/codegen/src/main/java/io/quarkus/grpc/deployment/GrpcCodeGen.java
  extensions/grpc/codegen/src/main/java/io/quarkus/grpc/deployment/GrpcPostProcessing.java
Labels: area/dependencies, area/grpc

#25953 Bump infinispan from 13.0.8.Final to 13.0.10.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/backport?

#25816 [Guide] fix reactive-sql-clients startup method
  docs/src/main/asciidoc/reactive-sql-clients.adoc
Labels: area/documentation

#25289 Enable custom postgres config in devservice
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceContainerConfig.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
Labels: area/documentation

#26078 Fix output in getting-started.adoc
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation, triage/backport-2.9?, triage/backport?

#26077 Add com.github.javaparser:javaparser-core to Dependabot
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#26100 Minor CLI cleanup
  devtools/cli/src/main/java/io/quarkus/cli/common/DebugOptions.java
  devtools/cli/src/main/java/io/quarkus/cli/common/TargetQuarkusVersionGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/create/ExtensionGAVMixin.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetGAVGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/registry/RegistryClientMixin.java
Labels: area/devtools, area/cli

#26095 Upgrade Protostream to 4.4.3.Final following the Infinispan upgrade - 2.7
  bom/application/pom.xml
Labels: area/dependencies

#26105 Change GraphQL endpoints to be Singleton by default
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/ErrorTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLCDIContextPropagationTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/SecurityTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLContextTestCase.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/LuckyNumbersResource.java
Labels: release/noteworthy-feature, area/smallrye, release/breaking-change, area/graphql

#26110 Ensure that @ServerResponseFilter honors @NameBinding
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomFiltersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/MetalFilter.java
Labels: area/resteasy-reactive, triage/backport?

#26101 Make RESTEasy Reactive path matching more spec compliant
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkResponseTimeLoadBalancerTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/EndingSlashTest.java
Labels: release/breaking-change, area/resteasy-reactive

#26122 Fix typos in extensions/qute
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/globals/TemplateGlobalOverrideTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteConfig.java
Labels: triage/waiting-for-ci, area/qute

#26118 Adjusted config for removed resources in the ExtensionDescriptorMojo to have valid XML
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/extension/runtime/pom.xml
Labels: area/maven, area/devtools, triage/backport?

#26131 Update SmallRye Config to 2.10.1
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport-2.9?, triage/backport?

#26123 Add link to SmallRye Config environment variables documentation
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/config.adoc
Labels: area/documentation

#26132 Fix missing UdsNettyChannelProvider<init> in native mode
  extensions/grpc-common/runtime/src/main/java/io/quarkus/grpc/common/runtime/graal/GrpcSubstitutions.java
Labels: area/grpc

#26120 Fix typos in extensions/vertx-http
  extensions/vertx-http/dev-console-runtime-spi/src/main/java/io/quarkus/devconsole/runtime/spi/FlashScopeUtil.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsManager.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/SubstringMap.java
Labels: area/vertx, triage/waiting-for-ci

#26135 Changes to the Quarkiverse Extension codestart
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/release/maven-settings.xml.gpg
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.yml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtension/dir-tree.snapshot
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtensionFromExtensionsDir/dir-tree.snapshot
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/dir-tree.snapshot
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/dir-tree.snapshot
Labels: area/maven, area/platform, area/devtools, triage/backport?

#26142 2.10.0 backports 2
  bom/application/pom.xml
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/config.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomFiltersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/MetalFilter.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/extension/runtime/pom.xml
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/documentation, area/arc, area/maven, area/infra, area/testing, area/oidc, area/platform, area/dependencies, area/devtools, area/resteasy-reactive

#25783 Introduce Vert.x route order marks
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/waiting-for-ci, area/resteasy-reactive

#26157 Qute - avoid BytecodeCreator.loadClassFromTCCL() in generated classes
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: area/qute, triage/backport-2.9?, triage/backport?

#26099 Automatically set the default min log level for the relevant category when setting quarkus.hibernate-orm.log.bind-parameters to true
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LogCategoryBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LogCategoryMinLevelDefaultsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/InheritableLevel.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/log/LogBindParametersDefaultValueTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/log/LogBindParametersTrueTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/log/LogSqlFormatSqlDefaultValueTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/log/LogSqlFormatSqlFalseTest.java
Labels: area/persistence, area/core, area/logging, triage/waiting-for-ci, area/hibernate-orm

#25801 Allow to provide custom configuration for JAXB context
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/jaxb/deployment/pom.xml
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbClassesToBeBoundBuildItem.java
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/CustomJaxbContextCustomizer.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/InjectJaxbContextTest.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/Person.java
  extensions/jaxb/runtime/pom.xml
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/JaxbContextConfigRecorder.java
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/JaxbContextCustomizer.java
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/JaxbContextProducer.java
  extensions/resteasy-classic/resteasy-jaxb/deployment/src/main/java/io/quarkus/resteasy/jaxb/deployment/ResteasyJaxbProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/runtime/src/main/java/io/quarkus/resteasy/reactive/jaxb/common/runtime/serialisers/JaxbMessageBodyReader.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/runtime/src/main/java/io/quarkus/resteasy/reactive/jaxb/common/runtime/serialisers/JaxbMessageBodyWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/main/java/io/quarkus/resteasy/reactive/jaxb/deployment/ResteasyReactiveJaxbProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/test/java/io/quarkus/resteasy/reactive/jaxb/deployment/test/MultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/test/java/io/quarkus/resteasy/reactive/jaxb/deployment/test/SimpleXmlTest.java
Labels: release/noteworthy-feature, area/documentation, area/jaxb, area/resteasy-reactive

#26155 Remove ClientBuilder service files from narayana-lra extension dependencies
  extensions/narayana-lra/runtime/pom.xml
Labels: triage/waiting-for-ci, area/lra

#26159 Change REST Route priority order
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#25986 Introduce new JPMS exports to allow running native-image on module-path
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/JPMSExportBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeOrNativeSourcesBuild.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeOrNativeSourcesBuildGraal22_2OrLater.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java
  extensions/awt/deployment/src/main/java/io/quarkus/awt/deployment/AwtProcessor.java
Labels: area/core, area/graphics

#25889 Improve parameters support for synthetic components
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeanBuildItem.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SyntheticComponentsUtil.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/beans/SyntheticBeanParamsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/observers/SyntheticObserverParamsTest.java
Labels: area/arc, triage/waiting-for-ci

#26173 Disable flaky test in Resteasy Reactive JAXB
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/test/java/io/quarkus/resteasy/reactive/jaxb/deployment/test/SimpleXmlTest.java
Labels: area/resteasy-reactive

#26163 Improve Web Links doc
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/resteasy-classic/resteasy-links/runtime/pom.xml
  extensions/resteasy-classic/resteasy-links/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/resteasy-reactive

#26133 Native reference updates
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, area/native-image, triage/backport-2.7?

#26179 Minor cleanup of the Hibernate ORM extension
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/Dialects.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfig.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: area/persistence, area/hibernate-orm, area/hibernate-reactive

#26181 Add instructions to add GraphiQL in production
  docs/src/main/asciidoc/smallrye-graphql.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#26126 Add @ConfigItem#generateDocumentation to enable/disable generation of documentation
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDoItemFinder.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigItem.java
Labels: area/core, triage/waiting-for-ci

#26191 Document Reactive Rest Client support of dynamic query parameters
  docs/src/main/asciidoc/rest-client-reactive.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#26188 Properly register classes linked to `CustomResource` extensions
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: area/kubernetes, triage/backport?

#26153 ArC Dev UI - add bean dependency graph
  build-parent/pom.xml
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/UnremovableBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ValidationPhaseBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/ArcDevConsoleProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DependecyGraph.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevBeanInfo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevBeanInfos.java
  extensions/arc/deployment/src/main/resources/dev-templates/beanDependencyGraph.html
  extensions/arc/deployment/src/main/resources/dev-templates/beans.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/display-bean.html
  extensions/vertx-http/deployment/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/UnusedBeans.java
Labels: release/noteworthy-feature, area/arc, area/vertx, triage/waiting-for-ci, area/dependencies

#26170 Improve server side multipart exception handling
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MalformedMultipartInputTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartSupport.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/multipart/MultipartPartReadingException.java
Labels: area/documentation, triage/waiting-for-ci, release/breaking-change, area/resteasy-reactive

#26183 Qute - if section - reduce CompletableFuture allocations
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ImmutableList.java
Labels: area/qute

#26197 Cosmetic changes to Dev UI Bean Dependency Graph
  extensions/arc/deployment/src/main/resources/dev-templates/beanDependencyGraph.html
Labels: area/arc, triage/waiting-for-ci

#26201 Refactored resteasy-mutiny IT to be a RESTEasy Reactive + Mutiny IT test
  integration-tests/resteasy-mutiny/pom.xml
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/MutinyResource.java
  integration-tests/resteasy-mutiny/src/test/java/io/quarkus/it/resteasy/mutiny/MutinyTest.java
Labels: area/reactive, area/testing, area/mutiny, area/resteasy-reactive

#26169 Limit scope of jsoup to only quarkus-extension-processor
  core/processor/pom.xml
  docs/pom.xml
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/pom.xml
Labels: area/documentation, area/core, area/devtools

#26203 Fix small typos in code
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayH2TestCustomizer.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  extensions/kubernetes-service-binding/deployment/src/main/java/io/quarkus/kubernetes/service/binding/buildtime/ServiceBindingProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/QuarkusTransactionImpl.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/runtime/src/main/java/io/quarkus/resteasy/reactive/qute/runtime/Util.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/MediaTypeNegotiationServerQualityTest.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/StatusEmitterInvoker.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLGroupedTest.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  integration-tests/amazon-lambda/src/main/java/io/quarkus/it/amazon/lambda/ProcessingService.java
  integration-tests/amazon-lambda/src/main/java/io/quarkus/it/amazon/lambda/TestLambda.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
  integration-tests/narayana-jta/src/main/java/io/quarkus/narayana/jta/TransactionBeanWithEvents.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
Labels: area/persistence, area/smallrye, area/scheduler, area/amazon-lambda, area/openapi, area/narayana, area/flyway, area/hibernate-reactive, area/graphql, area/resteasy-reactive

#26114 Add kotlin-bom to quarkus-bom and document Kotlin version
  bom/application/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/kotlin.adoc
Labels: area/documentation, triage/waiting-for-ci, area/dependencies

#25976 Switch from AutomaticFeature to Feature and pass in via --feature
  core/deployment/src/main/java/io/quarkus/deployment/builditem/NativeImageFeatureBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/DisableLoggingFeature.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/ResourcesFeature.java
  extensions/awt/deployment/src/main/java/io/quarkus/awt/deployment/AwtProcessor.java
  extensions/awt/runtime/src/main/java/io/quarkus/awt/runtime/graal/AwtFeature.java
  extensions/awt/runtime/src/main/java/io/quarkus/awt/runtime/graal/DarwinAwtFeature.java
  extensions/caffeine/deployment/src/main/java/io/quarkus/caffeine/deployment/CaffeineProcessor.java
  extensions/caffeine/runtime/src/main/java/io/quarkus/caffeine/runtime/graal/CacheConstructorsFeature.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/DisableLoggingFeature.java
  extensions/jdbc/jdbc-postgresql/deployment/src/main/java/io/quarkus/jdbc/postgresql/deployment/JDBCPostgreSQLProcessor.java
  extensions/jdbc/jdbc-postgresql/runtime/src/main/java/io/quarkus/jdbc/postgresql/runtime/graal/SQLXMLFeature.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/websockets/client/deployment/src/main/java/io/quarkus/websockets/client/deployment/WebsocketClientProcessor.java
  extensions/websockets/client/runtime/src/main/java/io/quarkus/websockets/client/runtime/DisableLoggingFeature.java
Labels: area/persistence, area/core, area/security, area/hibernate-validator, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-search, area/websockets, area/graphics

#26207 Minor updates to OIDC dev template to support Okta
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/resources/dev-templates/provider.html
Labels: area/documentation, area/oidc, triage/backport?

#26194 Cache Gradle dependency cache to speed up CI
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#26220 Fixed GraphQL Adapters being removed
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLFinalIndexBuildItem.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLModifiedClasesBuildItem.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/AdapterTest.java
Labels: area/smallrye, area/graphql, triage/backport?

#26225 GraphQL UI allow going back to Dev UI
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
Labels: area/smallrye, area/graphql

#26227 Promote additional JDBC drivers that are in the Quarkiverse
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation

#26224 Construct URITemplate with prefixMatch when used for sub-resource locators
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/SubresourceCustomRegexTest.java
Labels: triage/waiting-for-ci, triage/backport?

#26232 Add a test confirming a role claim path with the namespace works
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: triage/backport?

#26235 Use `Secret Value` instead of `Secret ID` in Microsoft OIDC config guide
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
Labels: area/documentation, triage/backport?

#26174 Quarkiverse extension template improvements
  devtools/cli/src/main/java/io/quarkus/cli/CreateExtension.java
  devtools/cli/src/main/java/io/quarkus/cli/create/ExtensionGAVMixin.java
  devtools/cli/src/main/java/io/quarkus/cli/create/ExtensionNameGenerationGroup.java
  devtools/cli/src/test/java/io/quarkus/cli/CliCreateExtensionTest.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateExtensionMojo.java
  docs/src/main/asciidoc/writing-extensions.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/deployment/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/runtime/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/runtime/src/main/java/{package-name.dir}/runtime/.gitkeep
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/runtime/src/main/resources/META-INF/quarkus-extension.tpl.qute.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/integration-tests/java/integration-tests/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/project.tpl.qute.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/antora.tpl.qute.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/modules/ROOT/assets/images/.keepme
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/modules/ROOT/examples/.keepme
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/modules/ROOT/nav.tpl.qute.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/modules/ROOT/pages/config.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/modules/ROOT/pages/index.tpl.qute.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/templates/includes/attributes.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/tooling/git/base/README.tpl.qute.md
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/extension/QuarkusExtensionCodestartCatalog.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusExtensionCodestartGenerationTest/generateDefaultProject/dir-tree.snapshot
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusExtensionCodestartGenerationTest/generateProjectWithoutTests/dir-tree.snapshot
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateExtensionMojoIT.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtension/dir-tree.snapshot
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtension/extensions_my-ext_runtime_src_main_resources_META-INF_quarkus-extension.yaml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtensionFromExtensionsDir/dir-tree.snapshot
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtensionFromExtensionsDir/extensions_my-ext_runtime_src_main_resources_META-INF_quarkus-extension.yaml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/dir-tree.snapshot
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_runtime_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/dir-tree.snapshot
Labels: area/documentation, area/maven, triage/waiting-for-ci, area/platform, area/devtools, area/cli

#26209 Qute - add TemplateExtension#matchNames()
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateExtensionMethodBuildItem.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/StringTemplateExtensions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateExtension.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#26171 Add some more GraalVM jars as parent first
  core/runtime/pom.xml
Labels: area/core

#26231 Make JAX-B Marshaller / Unmarshaller classes request scoped
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/JaxbContextProducer.java
  extensions/resteasy-reactive/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/deployment/src/main/java/io/quarkus/resteasy/reactive/jaxb/common/deployment/ResteasyReactiveJaxbCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb-common/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/main/java/io/quarkus/resteasy/reactive/jaxb/deployment/ResteasyReactiveJaxbProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/test/java/io/quarkus/resteasy/reactive/jaxb/deployment/test/SimpleXmlTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/test/java/io/quarkus/resteasy/reactive/jaxb/deployment/test/SseResourceTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/runtime/src/main/java/io/quarkus/resteasy/reactive/jaxb/runtime/serialisers/ServerJaxbMessageBodyReader.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/runtime/src/main/java/io/quarkus/resteasy/reactive/jaxb/runtime/serialisers/ServerJaxbMessageBodyWriter.java
  extensions/resteasy-reactive/rest-client-reactive-jaxb/deployment/pom.xml
  extensions/resteasy-reactive/rest-client-reactive-jaxb/deployment/src/main/java/io/quarkus/rest/client/reactive/jaxb/deployment/RestClientReactiveJaxbProcessor.java
  extensions/resteasy-reactive/rest-client-reactive-jaxb/deployment/src/test/java/io/quarkus/rest/client/reactive/jaxb/test/SimpleJaxbTest.java
  extensions/resteasy-reactive/rest-client-reactive-jaxb/runtime/pom.xml
  extensions/resteasy-reactive/rest-client-reactive-jaxb/runtime/src/main/java/io/quarkus/rest/client/reactive/jaxb/runtime/ClientJaxbMessageBodyReader.java
  extensions/resteasy-reactive/rest-client-reactive-jaxb/runtime/src/main/java/io/quarkus/rest/client/reactive/jaxb/runtime/ClientMessageBodyWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RequestDeserializeHandler.java
Labels: area/documentation, release/breaking-change, area/jaxb, area/dependencies, area/devtools, area/resteasy-reactive, triage/backport?

#26184 Automatic drop-and-create of schema when using dev services in (native) integration tests
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesAdditionalConfigBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/DevServicesConfigBuildStep.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/dev-services.html
Labels: area/persistence, area/core, area/vertx, area/hibernate-orm, area/hibernate-reactive

#26128 Allow passing unsupported properties to Hibernate ORM
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/unsupportedproperties/SettingsSpyingIdentifierGenerator.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/unsupportedproperties/UnsupportedPropertiesTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/persistence, area/core, area/testing, area/hibernate-orm, area/hibernate-reactive

#26094 Native reference guide updates
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation

#26200 Clean up AsciiDoc documentation in Config Dev UI to make it (barely) readable
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ConfigEditorProcessor.java
Labels: area/vertx, area/dev-ui

#25786 Quarkus Builder - introduce build metrics
  core/builder/src/main/java/io/quarkus/builder/BuildChainBuilder.java
  core/builder/src/main/java/io/quarkus/builder/BuildContext.java
  core/builder/src/main/java/io/quarkus/builder/BuildResult.java
  core/builder/src/main/java/io/quarkus/builder/BuildStep.java
  core/builder/src/main/java/io/quarkus/builder/Execution.java
  core/builder/src/main/java/io/quarkus/builder/metrics/BuildMetrics.java
  core/builder/src/main/java/io/quarkus/builder/metrics/Json.java
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/BuildMetricsDevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/index.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/build-steps.html
Labels: area/core, area/vertx, triage/waiting-for-ci

#26256 Trim OIDC claim role path
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
Labels: area/oidc, triage/backport?

#26262 Fix formatting issue in native-reference.adoc
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation

#26265 Add some missing extension descriptions
  extensions/amazon-lambda-rest/runtime/pom.xml
  extensions/narayana-lra/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/pom.xml
  extensions/schema-registry/apicurio/avro/runtime/pom.xml
  extensions/schema-registry/confluent/avro/runtime/pom.xml
  integration-tests/oidc-client-reactive/pom.xml
Labels: triage/backport?

#25566 Add doc: how to use custom Kotlin version (Gradle)
  docs/src/main/asciidoc/kotlin.adoc
Labels: area/documentation

#25845 Improve continuous testing output
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConsoleHandler.java
  extensions/websockets/server/deployment/src/test/java/io/quarkus/websockets/test/WebsocketDevModeTestCase.java
Labels: area/core, triage/waiting-for-ci, area/websockets, triage/backport-2.9?, triage/backport?

#26267 Upgrade Mutiny-dependent modules to 1.6.0
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/mutiny, triage/backport?

#26254 Qute - fix Template#getParameterDeclarations()
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ParamDeclarationDefaultValueValidationFailureTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParameterDeclaration.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParserHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParamDeclarationDefaultValueTest.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#26255 Add the ability to display the k8s manifest in the DevUI
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/devconsole/KubernetesDevConsoleProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/resources/dev-templates/embedded.html
  extensions/kubernetes/vanilla/deployment/src/main/resources/dev-templates/manifests.html
Labels: area/kubernetes

#26287 Allows Avro Specific Record classes (generated from Avro schema) to be serialized using Jackson
  extensions/avro/deployment/pom.xml
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroProcessor.java
  extensions/avro/runtime/pom.xml
  extensions/avro/runtime/src/main/java/io/quarkus/avro/runtime/jackson/SpecificDataSerializer.java
  extensions/avro/runtime/src/main/java/io/quarkus/avro/runtime/jackson/SpecificRecordBaseSerializer.java
  integration-tests/kafka-avro/pom.xml
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/AvroSpecificRecordJacksonSerializationTest.java
Labels: kind/enhancement

#22052 Added Dynamic and Static Config keys in extension-codestart.adoc
  docs/src/main/asciidoc/extension-codestart.adoc
Labels: area/documentation, triage/waiting-for-ci

#26291 Fix Asciidoc bug in the Mutiny primer
  docs/src/main/asciidoc/mutiny-primer.adoc
Labels: area/documentation

#26288 Docs: Security guide revisions
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation

#26299 Upgrade quarkus-platform-bom-maven-plugin to 0.0.51 and remove quarkus-platform-descriptor-json-plugin
  build-parent/pom.xml
  devtools/bom-descriptor-json/pom.xml
  devtools/platform-descriptor-json-plugin/pom.xml
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/PlatformPropertiesMojo.java
  devtools/platform-descriptor-json-plugin/src/main/java/io/quarkus/maven/ValidateExtensionsJsonMojo.java
  devtools/platform-properties/pom.xml
  devtools/pom.xml
  integration-tests/maven/pom.xml
  pom.xml
Labels: area/maven, triage/waiting-for-ci, area/dependencies, area/devtools

#26242 Fix Mutiny schedulers context propagation bug
  extensions/mutiny/deployment/src/main/java/io/quarkus/mutiny/deployment/MutinyProcessor.java
  extensions/mutiny/runtime/src/main/java/io/quarkus/mutiny/runtime/ContextualRunnableScheduledFuture.java
  extensions/mutiny/runtime/src/main/java/io/quarkus/mutiny/runtime/MutinyInfrastructure.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/regression/bug25818/BlockingService.java
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/regression/bug25818/ReproducerResource.java
  integration-tests/resteasy-mutiny/src/test/java/io/quarkus/it/resteasy/mutiny/RegressionTest.java
Labels: area/smallrye, area/vertx, area/dependencies, area/mutiny, kind/bugfix, triage/backport?

#26069 Manage artifacts used by us and other Quarkus Platform participants
  bom/application/pom.xml
  build-parent/pom.xml
  pom.xml
Labels: area/dependencies

#26186 Re-create Elasticsearch schema on startup in tests/dev mode with Hibernate Search and Elasticsearch dev services
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfig.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/devservices/HibernateSearchDevServicesTestResource.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesEnabledImplicitlyTest.java
Labels: release/noteworthy-feature, area/documentation, area/persistence, area/core, area/vertx, area/hibernate-orm, area/hibernate-search

#26144 Make enabling OpenTracing for JDBC a property
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcBuildTimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcTracingRuntimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
  integration-tests/smallrye-opentracing/src/main/java/io/quarkus/it/opentracing/TracingProperyJdbcResource.java
  integration-tests/smallrye-opentracing/src/main/resources/application.properties
  integration-tests/smallrye-opentracing/src/test/java/io/quarkus/it/opentracing/OpenTracingTestCase.java
Labels: area/persistence, area/hibernate-orm, area/agroal

#26305 Fix Docs generation - allow each table to have Duration note
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocWriter.java
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/dev-services.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
Labels: area/documentation, area/core

#22457 Turn Security JPA guide into Getting Started With Security guide
  docs/src/main/asciidoc/security-getting-started.adoc
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation

#26249 Calling `HttpServletRequest.login` to perform servlet authentication in Undertow causes NPE
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/LoginLogoutServlet.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/RolesAllowedServletLoginTestCase.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/QuarkusIdentityManager.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
Labels: area/undertow

#26312 Fix MariaDB jdbc connector missing codec
  extensions/jdbc/jdbc-mariadb/deployment/src/main/java/io/quarkus/jdbc/mariadb/deployment/JDBCMariaDBProcessor.java
  integration-tests/jpa-mariadb/src/main/java/io/quarkus/it/jpa/mariadb/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-mariadb/src/main/resources/application.properties
Labels: area/persistence, area/hibernate-orm

#26282 Vert.x Http - Bunch of compression support fixes for static resources
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/AbstractStaticResourcesTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/StaticResourcesTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devmode/StaticResourcesDevModeTest.java
  extensions/vertx-http/deployment/src/test/resources/static-file.html
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/StaticResourcesRecorder.java
Labels: area/vertx, triage/waiting-for-ci

#26327 Use variable for volume modifier because :Z does not play nicely on M1
  integration-tests/logging-gelf/pom.xml
Labels: area/logging

#26328 Fix security.adoc
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation

#26295 Fix OidcBuildStep#findSecurityEventObservers()
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
Labels: area/core, triage/waiting-for-ci, area/oidc, triage/backport-2.9?, triage/backport?

#26311 Qute - fix template extensions regression
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Types.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/AssignabilityTemplateExtensionTest.java
Labels: area/qute, triage/backport-2.9?, triage/backport?

#26326 Added test for OpenTelemetry @WithSpan, REST and CDI
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDITest.java
Labels: area/tracing

#26354 Fix missing `plexus-utils:3.4.1` when building gradle plugins
  devtools/gradle/build.gradle
Labels: priority/urgent, area/gradle, area/devtools, triage/backport-2.7?, triage/backport?

#26294 Bump to Vert.x 4.3.1 and Netty 4.1.78
  bom/application/pom.xml
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/netty/runtime/pom.xml
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/HttpContentCompressorSubstitutions.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/graal/VertxSubstitutions.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/virtual-http/src/test/java/io/quarkus/it/virtual/HttpRequestMessageMock.java
Labels: area/vertx, area/amazon-lambda, area/dependencies

#26352 Bump Keycloak version to 18.0.1
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/oidc, area/dependencies

#26218 Qute - Validate DataNamespace expression if var has param declaration
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/DataNamespaceArrayValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/DataNamespaceCheckedTemplateFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/DataNamespaceMessageBundleFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/DataNamespaceValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/DataNamespaceValidationTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/Item.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/OtherItem.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Namespaces.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
Labels: triage/waiting-for-ci, area/qute

#26357 Allow to override the Oracle JDBC metadata for native images also on Windows
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java
  extensions/jdbc/jdbc-oracle/deployment/src/test/java/io/quarkus/jdbc/oracle/deployment/RegexMatchTest.java
Labels: area/persistence, env/windows, area/native-image, triage/backport-2.7?, triage/backport-2.9?, triage/backport?

#26309 Support downloading list of files in Resteasy Reactive Multipart
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/FormDataOutputMapperGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputMultipleFileDownloadResponse.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputMultipleFileResponse.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputSingleFileDownloadResponse.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputUsingBlockingEndpointsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/PathFileDownload.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/multipart/FormDataOutputMapperGenerator.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartMessageBodyWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/PartItem.java
Labels: area/resteasy-reactive, triage/backport?

#26349 Fix JAX-RS annotations in rest-client examples
  docs/src/main/asciidoc/rest-client-multipart.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation, triage/waiting-for-ci

#26373 Don't fail with "Can't generate Hal endpoints" if there are no resources
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-classic/resteasy-links/deployment/src/main/java/io/quarkus/resteasy/links/deployment/LinksProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksProcessor.java
Labels: area/resteasy-reactive, triage/backport?

#26372 Fix wrong endpoint paths in openid-connect-client guide
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, triage/backport?

#26359 Add missing .gitattributes declarations
  .gitattributes
  integration-tests/gradle/src/main/resources/composite-project-with-dependencies/gradle-dao/src/main/java/org/acme/gradle/multi/dao/Product.java
  integration-tests/gradle/src/main/resources/composite-project-with-dependencies/gradle-dao/src/main/java/org/acme/gradle/multi/dao/ProductService.java
Labels: area/gradle

#26313 NPE with OTel when wrong HTTP protocol version is sent
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/HttpInstrumenterVertxTracer.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/util/SocketClient.java
Labels: area/tracing, triage/backport?

#26334 Dev UI: cosmetic changes to K8n manifest screen
  extensions/kubernetes/vanilla/deployment/src/main/resources/dev-templates/manifests.html
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/config.html
Labels: area/vertx, area/kubernetes

#26337 Make sure an extension category has an ID in the ctor
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/platform/catalog/processor/ProcessedCategoryTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/CategoryImpl.java
Labels: area/platform, area/devtools, triage/backport?

#26347 Move excludes for jaeger-thrift to the bom
  bom/application/pom.xml
  extensions/jaeger/runtime/pom.xml
Labels: area/jaeger, area/dependencies, triage/backport-2.7?, triage/backport?
