Repository quarkusio/quarkus, pull requests merged in 2022-07, with the labels that each got.

#26491 Fix spring-data-jpa field lookup in parameterized superclasses and for typed fields
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/AbstractPhoneEntity.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/AbstractTypedIdEntity.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCall.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCallId.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCallRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCallResource.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneNumberId.java
Labels: area/spring, triage/backport?

#26482 Upgrade Hibernate Reactive to 1.1.7.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, triage/backport?

#26485 Make runnerjar tests to use fast-jar instead of the legacy-jar format
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/PackageAppTestBase.java
Labels: area/core

#26432 Support mounting volumes for secrets/configmaps items
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ConfigMapVolumeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ConfigMapVolumeConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/SecretVolumeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/SecretVolumeConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VolumeItemConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMappingVolumeConfigMapItemsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMappingVolumeSecretItemsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-mapping-volume-configmap-items.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-mapping-volume-secret-items.properties
Labels: area/kubernetes

#26492 Use proper header name
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
Labels: triage/backport-2.7?, triage/backport?

#26374 Upgrade to JDK 19 for JDK early-access build
  .github/workflows/jdk-early-access-build.yml
Labels: area/infra-automation

#26350 Add documentation about parent profile with profile aware files
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation

#26457 Resolve Sec. Identity in RESTEasy Reactive when Proactive Auth disabled
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/LazyAuthRolesAllowedJaxRsTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/RolesAllowedBlockingResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/RolesAllowedResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ResteasyReactiveResourceInfo.java
Labels: area/documentation, area/resteasy-reactive

#26514 Remove devservices based tests
  integration-tests/mongodb-client/src/main/java/io/quarkus/it/mongodb/BookResource.java
  integration-tests/mongodb-client/src/main/resources/application.properties
Labels: area/mongodb

#26508 Stork guide minor improvements and cross linking
  docs/src/main/asciidoc/stork-kubernetes.adoc
  docs/src/main/asciidoc/stork-reference.adoc
Labels: area/documentation

#26511 Prevent possible stackoverflow when walking dependency graph
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
Labels: area/devtools

#26501 Work around M1 regression in Azure Edge Server by pinning to 1.0.6
  build-parent/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#26515 Upgrade JReleaser to 1.1.0
  devtools/cli/distribution/release-cli.sh
Labels: area/devtools, area/cli, triage/backport-2.7?, triage/backport?

#26382 Improve permission error reporting when using unix domain socket
  docs/src/main/asciidoc/vertx-reference.adoc
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/documentation, area/vertx

#26513 Fixed context path property in RESTEasy Reactive guide
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/path/RestApplicationPathTestCase.java
Labels: area/documentation, triage/waiting-for-ci, area/resteasy-reactive

#26528 Exclude OIDC server connection details from OIDCException
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
Labels: area/oidc

#26503 Improve DefaultBean javadoc a bit
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/DefaultBean.java
Labels: area/arc

#26529 Resolve Sec. Identity in Reactive routes when Proactive Auth disabled
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  extensions/reactive-routes/deployment/pom.xml
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/AnnotatedRouteHandlerBuildItem.java
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesProcessor.java
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/LazyAuthRouteTest.java
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
Labels: area/documentation

#26413 Ignore maven-wrapper.jar in generated maven projects
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/..gitignore
Labels: area/platform, area/devtools

#26533 Add export for sun.security.provider to allow BC-FIPS on Java17
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
Labels: area/security, area/native-image, env/graalvm-java17

#26394 Support Panache Sort Null Handling
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/JpaOperationsSortTest.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/runtime/ReactiveMongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/MongoOperations.java
  extensions/panache/panache-common/runtime/src/main/java/io/quarkus/panache/common/Sort.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/BasicTypeDataRepositoryTest.java
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/spring/data/runtime/TypesConverter.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/TestEndpoint.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/PanacheFunctionalityTest.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/resources/PersonRepositoryResource.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheResourceTest.java
Labels: area/documentation, area/panache, area/mongodb, area/spring

#26540 Fix various documentation issues
  docs/src/main/asciidoc/doc-create-tutorial.adoc
  docs/src/main/asciidoc/redis-reference.adoc
  docs/src/main/asciidoc/security-getting-started.adoc
Labels: area/documentation

#26542 RestEasy Reactive: Keep target when handling failed authorization check
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/SecurityExceptionMapperWithResourceInfoTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#26539 Include dev mode configuration in gRPC client documentation
  docs/src/main/asciidoc/grpc-service-consumption.adoc
Labels: area/documentation, triage/backport?

#26545 Add quarkus-jdbc-derby-deployment constraint to the BOM
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#26544 Bump Keycloak version to 18.0.2
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: triage/waiting-for-ci, area/oidc, area/dependencies, triage/backport?

#26548 2.10.2 backports 1
  bom/application/pom.xml
  devtools/cli/distribution/release-cli.sh
  devtools/gradle/build.gradle
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
  docs/src/main/asciidoc/mongodb-panache-kotlin.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/stork-kubernetes.adoc
  docs/src/main/asciidoc/stork-reference.adoc
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java
  extensions/amazon-lambda-http/http-event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockHttpEventServer.java
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/amazon-lambda-rest/rest-event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockRestEventServer.java
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaContext.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ConfigureUtil.java
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/GrpcOpenTelemetryTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/TracerRouter.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/VertxClientOpenTelemetryTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/VertxOpenTelemetryTest.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/grpc/GrpcTracingClientInterceptor.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/grpc/GrpcTracingServerInterceptor.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/restclient/OpenTelemetryClientFilter.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/HttpInstrumenterVertxTracer.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/InstrumenterVertxTracer.java
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/DataSourceReactiveRuntimeConfig.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientRequestContextImpl.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/response/ContentLengthTest.java
  independent-projects/tools/pom.xml
  integration-tests/main/src/main/java/io/quarkus/it/faulttolerance/FaultToleranceTestResource.java
  integration-tests/main/src/main/java/io/quarkus/it/faulttolerance/MyFaultToleranceError.java
  integration-tests/main/src/main/java/io/quarkus/it/faulttolerance/Service.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/FaultToleranceTestCase.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ReactiveResource.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ReactiveRestClient.java
  integration-tests/opentelemetry-reactive/src/main/resources/application.properties
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveClientTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveIT.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
  integration-tests/opentelemetry-vertx/pom.xml
  integration-tests/opentelemetry-vertx/src/main/java/io/quarkus/it/opentelemetry/vertx/SpanData.java
  integration-tests/opentelemetry-vertx/src/main/resources/application.properties
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/AbstractPhoneEntity.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/AbstractTypedIdEntity.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCall.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCallId.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCallRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCallResource.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneNumberId.java
  pom.xml
Labels: area/documentation, area/gradle, area/maven, area/smallrye, area/infra, area/amazon-lambda, area/spring, area/platform, area/dependencies, area/devtools, area/tracing, area/fault-tolerance, area/cli, area/agroal

#26403 Add dev UI for SmallRye Fault Tolerance
  extensions/smallrye-fault-tolerance/deployment/pom.xml
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/devconsole/FaultToleranceDevConsoleProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/resources/dev-templates/embedded.html
  extensions/smallrye-fault-tolerance/deployment/src/main/resources/dev-templates/ft-operations.html
  extensions/smallrye-fault-tolerance/pom.xml
  extensions/smallrye-fault-tolerance/runtime/pom.xml
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/FaultToleranceOperationsDevConsoleSupplier.java
  extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/QuarkusFaultToleranceOperationProvider.java
Labels: area/smallrye, area/dependencies, area/fault-tolerance

#26460 Make quarkus.container-image.push=false effective in all k8s extensions
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployerPrerequisite.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PreventImplicitContainerImagePushBuildItem.java
Labels: area/kubernetes, triage/backport?

#26558 Set service account name only to the generated deployment
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/WithKubernetesClientAndExistingResourcesTest.java
Labels: area/kubernetes, triage/backport?

#26556 Fix tests lifecycle instance and methods annotated with AfterAll
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedPerClassLifecycleTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#26569 2.10.2 backports 2
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployerPrerequisite.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PreventImplicitContainerImagePushBuildItem.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/SecurityExceptionMapperWithResourceInfoTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/WithKubernetesClientAndExistingResourcesTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedPerClassLifecycleTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/documentation, area/infra, area/testing, area/oidc, area/kubernetes, area/dependencies, area/resteasy-reactive

#26380 Integrate Vertx HTTP with CredentialsProvider
  extensions/vertx-http/runtime/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  integration-tests/bouncycastle-jsse/src/main/java/io/quarkus/it/bouncycastle/SecretProvider.java
  integration-tests/bouncycastle-jsse/src/main/resources/application.properties
Labels: area/vertx

#26561 Ensure that labels for different k8s targets don't interfere with each other
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-v3.properties
Labels: area/kubernetes, triage/backport?

#26585 Jakarta - Upgrade SmallRye Fault Tolerance to 6.0.0-RC3
  jakarta/rewrite.yml
Labels: area/jakarta

#26579 RESTEasy Reactive - Perform eager security checks for JaxRS security
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/DefaultRolesAllowedJaxRsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/DenyAllJaxRsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/PermitAllResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/UnsecuredResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java
Labels: area/resteasy-reactive, triage/backport?

#26583 Bump smallrye-jwt version to 3.5.2
  bom/application/pom.xml
Labels: area/dependencies

#26598 Jakarta - Skip ByteBuddy plugin when transforming
  independent-projects/resteasy-reactive/pom.xml
  jakarta/transform.sh
Labels: area/jakarta

#26578 Extend Redis cursors to consume items individually
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/hash/HashScanCursor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/hash/ReactiveHashScanCursor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/keys/KeyCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/keys/KeyScanCursor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/keys/ReactiveKeyCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/keys/ReactiveKeyScanCursor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/set/ReactiveSScanCursor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/set/SScanCursor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/sortedset/ReactiveZScanCursor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/sortedset/ZScanCursor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/ReactiveRedisClientImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractKeyCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingKeyCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/HScanReactiveCursorImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/HashScanBlockingCursorImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveKeyCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/SScanBlockingCursorImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/SScanReactiveCursorImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ScanBlockingCursorImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ScanReactiveCursorImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ZScanBlockingCursorImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ZScanReactiveCursorImpl.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/HashCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/KeyCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SetCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SortedSetCommandsTest.java
Labels: area/redis

#26537 Dev UI build steps view improvements
  build-parent/pom.xml
  core/builder/src/main/java/io/quarkus/builder/BuildContext.java
  core/builder/src/main/java/io/quarkus/builder/BuildMetrics.java
  core/builder/src/main/java/io/quarkus/builder/BuildResult.java
  core/builder/src/main/java/io/quarkus/builder/Execution.java
  core/builder/src/main/java/io/quarkus/builder/Json.java
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/BuildMetricsDevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/build-step-dependency-graph.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/build-steps.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
Labels: area/core, area/vertx, area/dependencies

#26605 Kafka dev service redpanda container failing with Text file busy
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/RedPandaKafkaContainer.java
Labels: area/kafka

#26606 Allow the use of List for parts with the same name in a multipart request
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FormData.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartTest.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/multipart/MultipartPopulatorGenerator.java
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartResource.java
Labels: area/resteasy-reactive

#26597 Clear Reactive REST Client mocks after the test runs
  core/runtime/src/main/java/io/quarkus/runtime/MockedThroughWrapper.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveCDIWrapperBase.java
  integration-tests/pom.xml
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/InjectMockTest.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/ShouldNotUseMockTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
Labels: area/core, triage/waiting-for-ci, area/testing, area/resteasy-reactive, triage/backport?

#26621 Make use of @ConfigProperties on producer methods consistent with Spring Boot
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ClassConfigPropertiesUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesMetadataBuildItem.java
  extensions/spring-boot-properties/deployment/src/main/java/io/quarkus/spring/boot/properties/deployment/ConfigurationPropertiesProcessor.java
  extensions/spring-boot-properties/runtime/pom.xml
  extensions/spring-boot-properties/runtime/src/main/java/io/quarkus/spring/boot/properties/runtime/SpringBootConfigProperties.java
  integration-tests/spring-boot-properties/pom.xml
  integration-tests/spring-boot-properties/src/main/java/io/quarkus/it/spring/boot/BeanProperties.java
  integration-tests/spring-boot-properties/src/main/java/io/quarkus/it/spring/boot/BeanPropertiesResource.java
  integration-tests/spring-boot-properties/src/main/java/io/quarkus/it/spring/boot/SampleApplication.java
  integration-tests/spring-boot-properties/src/test/java/io/quarkus/it/spring/boot/BeanPropertiesTest.java
Labels: area/arc, triage/waiting-for-ci, area/spring, release/breaking-change

#26631 Support resolving platform catalog for any known stream
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/GACTV.java
  independent-projects/tools/artifact-api/src/main/java/io/quarkus/maven/ArtifactCoords.java
  independent-projects/tools/artifact-api/src/main/java/io/quarkus/maven/ArtifactKey.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/ArchivedStreamTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/Constants.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
Labels: triage/waiting-for-ci, area/platform, area/devtools

#26632 Remove Maven 3.8.5 from CI
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#26499 Support authSource in liquibase-mongodb
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
Labels: area/mongodb, area/liquibase

#26566 Support IdTokens which are returned encrypted in the code exchange response
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowEncryptedIdTokenResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/main/resources/privateKey.jwk
  integration-tests/oidc-wiremock/src/main/resources/privateKey.pem
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
  test-framework/oidc-server/src/main/resources/publicKey.jwk
Labels: area/testing, area/oidc

#26643 Document new log attribute
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation

#26637 Fix OidcClient duplicating the client_id for the public client
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-wiremock/src/main/resources/application.properties
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport?

#26625 Upgrade to Hibernate ORM 5.6.10.Final
  bom/application/pom.xml
Labels: area/hibernate-orm, area/dependencies

#26622 Qute - fix origin of an expression used as a section param
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IfSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SetSectionTest.java
Labels: area/qute, triage/backport?

#26607 Bump to Vert.x 4.3.2 and smallrye mutiny bindings 2.24.0
  bom/application/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AbstractRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedServerRequestWrapper.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  independent-projects/resteasy-reactive/pom.xml
  test-framework/security-webauthn/pom.xml
Labels: area/vertx, area/testing, area/dependencies, area/mutiny

#26634 Update 'getting started' documentation for 'quarkus-maven-plugin' version following Quarkus example
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation

#26649 Disable dev services for default connection in Named*MongoClientConfigTest
  extensions/mongodb-client/deployment/src/test/resources/application-named-mongoclient.properties
Labels: area/mongodb

#26642 Rename DependecyGraph to DependencyGraph in extensions/arc/deployment
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/ArcDevConsoleProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DependencyGraph.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevBeanInfos.java
Labels: area/arc

#26660 Use @All to inject ObjectMapperCustomizers
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/ObjectMapperProducer.java
  extensions/jsonb/runtime/src/main/java/io/quarkus/jsonb/JsonbProducer.java
Labels: area/jackson

#26662 Fix a typo error in gradle-tooling.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#26654 Update SmallRye Fault Tolerance to 5.5.0 and add Micrometer integration
  bom/application/pom.xml
  docs/src/main/asciidoc/smallrye-fault-tolerance.adoc
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  jakarta/rewrite.yml
Labels: area/documentation, area/smallrye, area/dependencies, area/fault-tolerance, area/jakarta

#26663 Jakarta - Adjust workflow tuning via environment variable
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#26608 Strip the scheme value from the OIDC proxy host
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerRecorder.java
  extensions/oidc-common/runtime/pom.xml
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc-common/runtime/src/test/java/io/quarkus/oidc/common/runtime/OidcCommonUtilsTest.java
Labels: area/keycloak, triage/backport?

#26664 Docs: simplify quickly instructions
  docs/src/main/asciidoc/includes/compile-quarkus-quickly.adoc
Labels: area/documentation

#26667 Rename misspelled OIDC DevUI 'webClienTimeout' to 'webClientTimeout'
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/DevUiConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, release/breaking-change

#26624 Improve container image repository checks for some dev services
  extensions/schema-registry/devservice/deployment/src/main/java/io/quarkus/apicurio/registry/devservice/ApicurioRegistryDevServicesBuildTimeConfig.java
  extensions/schema-registry/devservice/deployment/src/main/java/io/quarkus/apicurio/registry/devservice/DevServicesApicurioRegistryProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesProcessor.java
Labels: area/smallrye, area/reactive-messaging

#26659 Refactor & Remove legacy codegen
  devtools/cli/src/main/java/io/quarkus/cli/CreateApp.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateCli.java
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/create/CodeGenerationGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/create/ExtensionNameGenerationGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetGAVGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetLanguageGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/registry/RegistryClientMixin.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectJBangTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
  devtools/cli/src/test/java/io/quarkus/cli/create/TargetGAVGroupTest.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateJBangMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartData.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateJBangProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProjectHelper.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/SourceType.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateJBangProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCodestartDataConverter.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/ProjectGenerator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/SourceType.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/writer/FileProjectWriter.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/writer/ProjectWriter.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/commands/CreateProjectHelperTest.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/codegen/CreateProjectHelperTest.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/CreateJBangProjectTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/CreateProjectTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
Labels: area/gradle, area/maven, area/platform, area/devtools, area/cli, area/jbang

#26673 Test Hibernate Reactive fetch with getReference
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpointFetchLazy.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveFetchLazyTest.java
Labels: area/persistence, area/hibernate-reactive

#26658 Hibernate Validator - Allow customization of the ValidatorFactory
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/HibernateValidatorFactoryCustomizerTest.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MultipleHibernateFactoryCustomizersTest.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MyEmailHibernateValidatorFactoryCustomizer.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MyEmailValidator.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MyMultipleHibernateValidatorFactoryCustomizer.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MyNumValidator.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MyNumberHibernateValidatorFactoryCustomizer.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/HibernateValidatorFactoryCustomizer.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder.java
Labels: release/noteworthy-feature, area/hibernate-validator

#26555 Bump mermaid-js to 9.1.1
  build-parent/pom.xml
Labels: area/dependencies

#26672 Turn parent first, runner parent first and lesser priority artifacts into dependency flags
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/ApplicationModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/ApplicationModelBuilder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/DefaultApplicationModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/MutableJarApplicationModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/BootstrapUtils.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ArtifactDependencyBuilder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/Dependency.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/DependencyFlags.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/ConfiguredClassLoading.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BuildDependencyGraphVisitor.java
Labels: area/gradle, area/core, area/maven, area/devtools

#26686 Move REST codestarts to be catalog dependant (RESTEasy/Reactive, Spring Web)
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/base/src/main/resources/META-INF/resources/index.entry.qute.html
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/java/src/main/java/org/acme/{resource.class-name}.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/java/src/native-test/java/org/acme/{resource.class-name}IT.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/java/src/test/java/org/acme/{resource.class-name}Test.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/kotlin/src/main/kotlin/org/acme/{resource.class-name}.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/kotlin/src/native-test/kotlin/org/acme/{resource.class-name}IT.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/kotlin/src/test/kotlin/org/acme/{resource.class-name}Test.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/scala/src/main/scala/org/acme/{resource.class-name}.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/scala/src/native-test/scala/org/acme/{resource.class-name}IT.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/base/src/main/resources/META-INF/resources/index.entry.qute.html
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/main/java/org/acme/{resource.class-name}.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/native-test/java/org/acme/{resource.class-name}IT.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/test/java/org/acme/{resource.class-name}Test.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/main/kotlin/org/acme/{resource.class-name}.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/native-test/kotlin/org/acme/{resource.class-name}IT.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/test/kotlin/org/acme/{resource.class-name}Test.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/main/scala/org/acme/{resource.class-name}.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/native-test/scala/org/acme/{resource.class-name}IT.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/base/src/main/resources/META-INF/resources/index.entry.qute.html
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/java/src/main/java/org/acme/{resource.class-name}.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/java/src/native-test/java/org/acme/{resource.class-name}IT.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/java/src/test/java/org/acme/{resource.class-name}Test.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/kotlin/src/main/kotlin/org/acme/{resource.class-name}.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/kotlin/src/native-test/kotlin/org/acme/{resource.class-name}IT.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/kotlin/src/test/kotlin/org/acme/{resource.class-name}Test.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/scala/src/main/scala/org/acme/{resource.class-name}.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/scala/src/native-test/scala/org/acme/{resource.class-name}IT.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/CodestartResourceLoadersBuilder.java
Labels: area/platform, area/devtools

#26644 Clear outer instances when init test state is called
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestCallbacksTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/TestContextCheckerAfterAllCallback.java
  integration-tests/main/src/test/java/io/quarkus/it/main/TestContextCheckerAfterEachCallback.java
  integration-tests/main/src/test/java/io/quarkus/it/main/TestContextCheckerBeforeEachCallback.java
  integration-tests/main/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestAfterAllCallback
  integration-tests/main/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestAfterEachCallback
  integration-tests/main/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestBeforeEachCallback
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport?

#26661 Fix cryptic 'The supplier returned `null`' message if OIDC server connection fails
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport?

#26681 Strip debug information from the native executable unconditionally
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRunner.java
Labels: area/core, area/native-image, triage/backport-2.7?, triage/backport?

#26692 Bootstrap option to enable workspace module parent hierarchy initialization
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/BootstrapFromOriginalJarTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/DependencyVersionOverridesManagedVersionTest.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusProjectStateMojoBase.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/ApplicationModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/DefaultWorkspaceModule.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/WorkspaceModule.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ArtifactDependency.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/Dependency.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/jbang/JBangDevModeLauncherImpl.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsArtifact.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BuildDependencyGraphVisitor.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ProjectModuleResolver.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenProjectBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/maven/utilities/PomTransformer.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/builder/QuarkusModelBuilderTest.java
Labels: area/gradle, area/core, area/maven, area/platform, area/devtools, area/jbang

#26698 Add "default-codestart" in platform catalog metadata
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
Labels: area/devtools, triage/backport-2.10?, triage/backport?

#26697 Improve the Basic Authentication section
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, triage/backport?

#26708 Fix exit code 1 in CI step 'Get GIB impacted modules' on jakarta-rewrite branch
  .github/workflows/ci-actions-incremental.yml
Labels: triage/waiting-for-ci, area/infra-automation

#26683 Show how to start DB and the application in security-getting-started
  docs/src/main/asciidoc/security-getting-started.adoc
Labels: area/documentation, triage/backport-2.10?

#26684 Fix createLiquibase mongodb connection string handling
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
Labels: area/mongodb, area/liquibase, triage/backport?

#26714 Update and prune Liquibase xsd files that are included in native image
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
Labels: area/liquibase

#26712 Document extension metadata
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#26713 Bump smallrye-jwt version to 3.5.3
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-2.10?, triage/backport?

#26720 Docs: Move QuarkusBuildItemDoc into docs module
  docs/pom.xml
  docs/src/main/java/io/quarkus/docs/generation/QuarkusBuildItemDoc.java
Labels: area/documentation, area/dependencies, area/jackson

#26693 Reorder Resteasy Reactive client handlers so preClientSendHandler is always first
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/HandlerChain.java
  independent-projects/resteasy-reactive/client/runtime/src/test/java/org/jboss/resteasy/reactive/client/impl/HandlerChainTest.java
Labels: area/resteasy-reactive

#26716 Optimize clearing reloadable flag
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PlatformImportsImpl.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ArtifactDependency.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/DependencyFlags.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ResolvedDependencyBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
Labels: area/devtools, triage/backport?

#26531 Qute - Ignore classes defined in the unnamed package in `BeanArchives.index`
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanArchivesTest.java
Labels: area/arc, triage/waiting-for-ci, area/qute

#26732 Use grpc instead of grpc-server for the Kubernetes port name
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
Labels: triage/waiting-for-ci, area/grpc, triage/backport?

#26725 Add Javadoc to command-mode testing API
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/Launch.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/LaunchResult.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/QuarkusMainLauncher.java
Labels: area/documentation, area/testing, triage/backport?

#26715 Bump to Netty 4.1.79
  bom/application/pom.xml
Labels: area/dependencies

#26754 Add test for custom working directory in devmode
  integration-tests/gradle/src/main/resources/custom-working-dir-app/build.gradle
  integration-tests/gradle/src/main/resources/custom-working-dir-app/config/application.properties
  integration-tests/gradle/src/main/resources/custom-working-dir-app/gradle.properties
  integration-tests/gradle/src/main/resources/custom-working-dir-app/settings.gradle
  integration-tests/gradle/src/main/resources/custom-working-dir-app/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/CustomWorkingDirDevModeTest.java
Labels: area/gradle

#26757 Set the recommended Dependency Check plugin version to 7.1.1
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, triage/backport-2.10?, triage/backport?

#26753 Apply tiny polish to LoggingSetupRecorder
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging

#26762 Locally configured OIDC paths should override the discovered ones
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfigurationMetadata.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: triage/backport?

#26737 Adjust some extension descriptions
  extensions/panache/hibernate-reactive-panache-common/runtime/pom.xml
  extensions/panache/mongodb-panache-kotlin/runtime/pom.xml
  extensions/websockets/client/runtime/pom.xml
Labels: area/panache, area/websockets, triage/backport-2.7?, triage/backport?

#26752 Arc - Make it possible to inspect shutdown reason from ShutdownEvent
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/ShutdownEvent.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ArcRecorder.java
Labels: area/core, area/arc, triage/waiting-for-ci

#26691 Add support for custom HTTP trace operation names to telemetry spans
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/HttpInstrumenterVertxTracer.java
  integration-tests/opentelemetry/pom.xml
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/PingPongResource.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
Labels: triage/waiting-for-ci, area/tracing

#26777 GraphQL: Make sure the context terminate
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTerminateContextTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
Labels: area/smallrye, area/graphql, triage/backport-2.10?, triage/backport?

#26792 Add TestPrincipalProducer
  integration-tests/elytron-resteasy/src/main/java/io/quarkus/it/resteasy/elytron/RootResource.java
  integration-tests/elytron-resteasy/src/test/java/io/quarkus/it/resteasy/elytron/TestSecurityTestCase.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
  integration-tests/smallrye-jwt-token-propagation/src/main/java/io/quarkus/it/keycloak/ProtectedJwtResource.java
  integration-tests/smallrye-jwt-token-propagation/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
  test-framework/security/src/main/java/io/quarkus/test/security/TestPrincipalProducer.java
Labels: area/security, area/resteasy, area/testing, area/oidc

#26751 Add dependency removal notice for Kafka Serde provided by Vert.x kafka client
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/BufferDeserializer.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/BufferSerde.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/BufferSerializer.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/JsonArrayDeserializer.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/JsonArraySerde.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/JsonArraySerializer.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/JsonObjectDeserializer.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/JsonObjectSerde.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/serialization/JsonObjectSerializer.java
  extensions/kafka-client/runtime/src/test/java/io/quarkus/kafka/client/serialization/BufferDeserializerTest.java
  extensions/kafka-client/runtime/src/test/java/io/quarkus/kafka/client/serialization/BufferSerializerTest.java
  extensions/kafka-client/runtime/src/test/java/io/quarkus/kafka/client/serialization/JsonArrayDeserializerTest.java
  extensions/kafka-client/runtime/src/test/java/io/quarkus/kafka/client/serialization/JsonArraySerializerTest.java
  extensions/kafka-client/runtime/src/test/java/io/quarkus/kafka/client/serialization/JsonObjectDeserializerTest.java
  extensions/kafka-client/runtime/src/test/java/io/quarkus/kafka/client/serialization/JsonObjectSerializerTest.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/KafkaCodecProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/VertxSerdeRemovedTest.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/KafkaCodecDependencyRemovalLogger.java
Labels: area/smallrye, area/reactive-messaging, area/kafka

#26775 Delay initialization of the DefaultChannelId class at runtime
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: area/reactive, triage/backport-2.7?, triage/backport?

#26797 SmallRye GraphQL - Throw the original throwable on error
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
Labels: area/smallrye, area/graphql

#26790 2.10.3 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRunner.java
  core/runtime/src/main/java/io/quarkus/runtime/MockedThroughWrapper.java
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/includes/prerequisites.adoc
  docs/src/main/asciidoc/security.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/RedPandaKafkaContainer.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerRecorder.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-common/runtime/pom.xml
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc-common/runtime/src/test/java/io/quarkus/oidc/common/runtime/OidcCommonUtilsTest.java
  extensions/panache/hibernate-reactive-panache-common/runtime/pom.xml
  extensions/panache/mongodb-panache-kotlin/runtime/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveCDIWrapperBase.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTerminateContextTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/websockets/client/runtime/pom.xml
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IfSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SetSectionTest.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/response/ContentLengthTest.java
  integration-tests/hibernate-reactive-postgresql/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpointFetchLazy.java
  integration-tests/hibernate-reactive-postgresql/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveFetchLazyTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-v3.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestCallbacksTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/TestContextCheckerAfterAllCallback.java
  integration-tests/main/src/test/java/io/quarkus/it/main/TestContextCheckerAfterEachCallback.java
  integration-tests/main/src/test/java/io/quarkus/it/main/TestContextCheckerBeforeEachCallback.java
  integration-tests/main/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestAfterAllCallback
  integration-tests/main/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestAfterEachCallback
  integration-tests/main/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestBeforeEachCallback
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-wiremock/src/main/resources/application.properties
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
  integration-tests/pom.xml
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/InjectMockTest.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/ShouldNotUseMockTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/QuarkusTestResourceLifecycleManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/documentation, area/panache, area/core, area/smallrye, area/infra, area/testing, area/kubernetes, area/kafka, area/dependencies, area/devtools, area/grpc, area/graphql, area/resteasy-reactive, area/websockets, area/keycloak

#26781 Update SmallRye Config to 2.11.0
  bom/application/pom.xml
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/AppConfig.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/AppConfigResouce.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ConfigResource.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Server.java
  integration-tests/smallrye-config/src/main/resources/application.properties
  integration-tests/smallrye-config/src/main/resources/application.yaml
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/AppConfigIT.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/AppConfigTest.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ServerResourceTest.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/SmallRyeConfigTest.java
Labels: area/dependencies

#26803 Add a way to customize the Redis client options
  docs/src/main/asciidoc/redis-reference.adoc
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisClientProcessor.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/CustomizerTest.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/RedisTestResource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/RedisOptionsCustomizer.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisClientRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/VertxRedisClientFactory.java
Labels: area/documentation, area/redis

#26767 Allows Vert.x HTTP Options customization
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/customizers/HttpServerOptionsCustomizerTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/HttpServerOptionsCustomizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/waiting-for-ci

#26778 Add support for more versions of the Confluent Schema Registry serdes
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
  extensions/schema-registry/confluent/avro/deployment/src/main/java/io/quarkus/confluent/registry/avro/ConfluentRegistryAvroProcessor.java
Labels: kind/enhancement, area/documentation, area/kafka

#26812 Schedule jakarta-rewrite.yml job earlier
  .github/workflows/jakarta-rewrite.yml
Labels: area/infra-automation

#26759 Add support for VertxOptionsCustomizer
  docs/src/main/asciidoc/vertx-reference.adoc
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/customizers/VertxOptionsCustomizerTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/VertxOptionsCustomizer.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/documentation, area/vertx

#26477 Enable `mvn install` to be run twice
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core

#26652 Run "Early Access JDK" workflow against JDK 20 as well as 19
  .github/workflows/jdk-early-access-build.yml
Labels: area/infra-automation

#26646 Support test resources with restrict to annotatedClass in @Nested class
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedWithResourcesTestCase.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport-2.10?, triage/backport?

#26638 Fix CustomDirective for smallrye-graphql
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/CustomDirective.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/HotReloadTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/TestPojo.java
Labels: area/smallrye, area/graphql

#26822 2.11.0 backports 1
  CONTRIBUTING.md
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/podman.adoc
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  docs/src/main/asciidoc/security-getting-started.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MyEmailHibernateValidatorFactoryCustomizer.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MyMultipleHibernateValidatorFactoryCustomizer.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/MyNumberHibernateValidatorFactoryCustomizer.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/HibernateValidatorFactoryCustomizer.java
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfigurationMetadata.java
  extensions/panache/hibernate-reactive-panache-common/runtime/pom.xml
  extensions/panache/mongodb-panache-kotlin/runtime/pom.xml
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTerminateContextTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/websockets/client/runtime/pom.xml
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PlatformImportsImpl.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ArtifactDependency.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/DependencyFlags.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ResolvedDependencyBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/HandlerChain.java
  independent-projects/resteasy-reactive/client/runtime/src/test/java/org/jboss/resteasy/reactive/client/impl/HandlerChainTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedWithResourcesTestCase.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  test-framework/common/src/main/java/io/quarkus/test/common/QuarkusTestResourceLifecycleManager.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/Launch.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/LaunchResult.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/main/QuarkusMainLauncher.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/documentation, area/panache, area/core, area/logging, area/smallrye, area/infra, area/hibernate-validator, area/testing, area/oidc, area/dependencies, area/devtools, area/liquibase, area/grpc, area/graphql, area/websockets

#26817 Docs: Add limitations for Basic Authentication
  docs/src/main/asciidoc/security-built-in-authentication.adoc
Labels: good first issue, area/documentation

#26834 Actually run the Redis Dev Services tests
  integration-tests/redis-devservices/pom.xml
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/it/DevServicesRedisDisabledITest.java
Labels: area/redis, area/devservices

#26815 Consistently consider quoted AND non-quoted versions of quarkus.datasource configuration properties
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesAdditionalConfigBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/DevServicesConfigBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  extensions/datasource/common/src/main/java/io/quarkus/datasource/common/runtime/DataSourceUtil.java
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceConfigurationHandlerBuildItem.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/jdbc/jdbc-postgresql/deployment/src/test/java/io/quarkus/jdbc/postgresql/deployment/DevServicesPostgresqlDatasourceNamedWithUsernameTestCase.java
Labels: area/persistence, area/core, area/config, area/hibernate-orm, triage/backport?

#26842 Include H2 in Dependabot config
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#26647 Use Dev Services for Infinispan Client IT and enforce Hibernate Search constraint in BOM
  bom/application/pom.xml
  integration-tests/infinispan-client/pom.xml
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/CacheSetup.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/TestServlet.java
  integration-tests/infinispan-client/src/main/resources/application.properties
  integration-tests/infinispan-client/src/main/resources/server.p12
  integration-tests/infinispan-client/src/test/java/io/quarkus/it/infinispan/client/InfinispanClientFunctionalityTest.java
  integration-tests/infinispan-client/src/test/java/io/quarkus/it/infinispan/client/InfinispanServerTestResource.java
Labels: area/infinispan, triage/waiting-for-ci, area/dependencies

#26839 Bump smallrye-open-api from 2.1.22 to 2.1.23
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#26851 Add some debug logging on shutdown
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
Labels: area/core, triage/backport?

#26854 Update Service Binding Spec URLs
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation

#26860 Fix broken xrefs that use the doc-guides attribute
  docs/src/main/asciidoc/_templates/attributes.adoc
Labels: area/documentation

#26620 Refresh codestart guide for Quarkiverse
  docs/src/main/asciidoc/extension-codestart.adoc
Labels: area/documentation, triage/waiting-for-ci

#26858 Respect Maven defaultGoal in DevMojo
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, area/devtools, triage/backport?

#26866 Add note about multiple optional dependencies
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/waiting-for-ci

#26881 Set higher timeout for Elasticsearch/OpenSearch container startup
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  integration-tests/elasticsearch-rest-client/pom.xml
  integration-tests/elasticsearch-rest-high-level-client/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-coordination-outbox-polling/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/pom.xml
  integration-tests/hibernate-search-orm-opensearch/pom.xml
Labels: area/hibernate-search, area/elasticsearch

#26880 Add .flattened-pom.xml to Maven codestarts .gitignore
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/..gitignore
Labels: area/platform, area/devtools, triage/backport?

#26886 Improve Redis health check output
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/health/RedisHealthCheck.java
Labels: area/redis

#26899 Add `deprecated` to extension status note
  docs/src/main/asciidoc/includes/extension-status.adoc
Labels: area/documentation

#26893 Fix links for JSON value types
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation

#26906 Fix typo @WithParent to @WithParentName
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation, triage/backport?

#26806 Add --with-codestart option in create extension
  .github/workflows/ci-actions-incremental.yml
  devtools/cli/src/main/java/io/quarkus/cli/CreateExtension.java
  devtools/cli/src/main/java/io/quarkus/cli/create/ExtensionCodeGenerationGroup.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateExtensionMojo.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/runtime/src/main/resources/META-INF/quarkus-extension.tpl.qute.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-codestart/codestart.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-codestart/java/integration-tests/src/test/java/{package-name.dir}/it/{class-name-base}CodestartTest.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-codestart/java/runtime/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-codestart/java/runtime/src/main/codestarts/quarkus/{extension.id}-codestart/base/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-codestart/java/runtime/src/main/codestarts/quarkus/{extension.id}-codestart/base/src/main/resources/META-INF/resources/index.entry.qute.html
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-codestart/java/runtime/src/main/codestarts/quarkus/{extension.id}-codestart/codestart.tpl.qute.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-codestart/java/runtime/src/main/codestarts/quarkus/{extension.id}-codestart/java/src/main/java/org/acme/.gitkeep
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/integration-tests/java/integration-tests/pom.tpl.qute.xml
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/reader/QuteCodestartFileReader.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/extension/QuarkusExtensionCodestartCatalog.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateExtensionMojoIT.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/dir-tree.snapshot
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_runtime_pom.xml
Labels: area/documentation, area/core, area/maven, area/logging, area/smallrye, area/vertx, area/testing, area/mongodb, area/platform, area/dependencies, area/devtools, area/infra-automation, area/redis, area/graphql, area/codestarts, area/cli

#17674 Introduce ci workflow for kubernetes/openshift end to end testing
  .github/workflows/ci-kubernetes.yml
  integration-tests/kubernetes/maven-invoker-way/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/src/main/resources/application.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/verify.groovy
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/verify.groovy
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/src/main/resources/application.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/verify.groovy
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/src/main/docker/Dockerfile.jvm
Labels: area/kubernetes, area/infra-automation

#26871 Additional check if Micrometer Metrics Tracer is available
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  integration-tests/opentelemetry-vertx/src/main/resources/application.properties
Labels: area/tracing

#26911 ShutdownEvent - add missing final keyword
  core/runtime/src/main/java/io/quarkus/runtime/ShutdownEvent.java
Labels: area/core, triage/waiting-for-ci

#26888 Upgrade Narayana to 5.12.7.Final
  bom/application/pom.xml
Labels: area/dependencies

#26914 Mailer configuration for popular email services
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/mailer.adoc
Labels: area/documentation

#26779 OpenTelemetry: NPE in HttpInstrumenterVertxTracer.RouteGetter when request got cancelled
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/HttpInstrumenterVertxTracer.java
Labels: area/tracing

#26694 Make otel spans for RR clients more spec compliant
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/RestClientOpenTelemetryTest.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/restclient/OpenTelemetryClientFilter.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveClientTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: triage/waiting-for-ci, area/tracing, triage/backport?

#26916 Register StateDirectory$StateDirectoryProcessFile for reflection
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
Labels: area/kafka-streams

#26912 Jakarta - First round of fixes for the integration tests
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/jakarta-rewrite.yml
  extensions/jaxb/runtime/pom.xml
  extensions/resteasy-classic/resteasy-mutiny/deployment/src/main/java/io/quarkus/resteasy/mutiny/deployment/ResteasyMutinyProcessor.java
  integration-tests/class-transformer/deployment/pom.xml
  integration-tests/class-transformer/deployment/src/main/java/io/quarkus/it/classtransformer/ClassTransformerProcessor.java
  jakarta/prepare.sh
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/jaxb, area/infra-automation, area/jakarta

#26856 Fix generated getRequiredFeatures method for 22.3-dev
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core, triage/waiting-for-ci, area/native-image

#26895 Prefer get getters over is getters in recorders
  core/deployment/src/main/java/io/quarkus/deployment/recording/PropertyUtils.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/TestJavaBeanWithBoolean.java
Labels: area/core, triage/waiting-for-ci

#26846 Change the quarkus-kotlin extension status to stable
  docs/src/main/asciidoc/kotlin.adoc
  extensions/kotlin/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/panache, area/kotlin, area/resteasy-reactive

#26917 Support authenticating to OpenID Introspection endpoint
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/documentation, area/oidc

#26900 Add `@InjectSpy.delegate` to evade errors with `default` methods in intermediate spring-data repo interfaces
  integration-tests/spring-data-jpa/pom.xml
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/PostRepositorySpyTest.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/InjectSpy.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/CreateMockitoSpiesCallback.java
Labels: area/testing, area/spring, triage/backport?

#26910 Allow second pass on dependencies-only PRs for finer triage
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#26924 Fix Kotlin metadata test
  integration-tests/devtools/src/test/java/io/quarkus/platform/catalog/ExtensionProcessorTest.java
Labels: area/kotlin

#26929 Add note about BouncyCastle dependency for Stork
  docs/src/main/asciidoc/stork-kubernetes.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#26918 Also add support for Git longpaths in native tests
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation
