Repository quarkusio/quarkus, pull requests merged in 2022-12, with the labels that each got.

#29596 Dev mode loading of URI
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
Labels: area/infinispan

#29574 Use -XX:ArchiveClassesAtExit for AppCDS creation in Java 17+
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/shutdown/ShutdownRecorder.java
Labels: area/core, triage/backport?

#29567 Bump flapdoodle.mongodb.version to 3.5.3
  bom/application/pom.xml
Labels: area/mongodb, area/dependencies, triage/flaky-test

#29586 Fix config editor when using HTTPS
  extensions/vertx-http/dev-console-runtime-spi/src/main/java/io/quarkus/devconsole/runtime/spi/DevConsolePostHandler.java
Labels: kind/bug, area/vertx

#29489 Avro schema imports without input directory
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroCodeGenProviderBase.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroSchemaCodeGenProvider.java
Labels: area/documentation

#29591 Fix typos around http(s) topic
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
Labels: area/documentation, area/vertx

#29580 K8s resource generation
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddCronJobResourceDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddJobResourceDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddPortToKnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddPortToKubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddPortToOpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddStatefulSetResourceDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ProbeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RemoveDeploymentConfigResourceDecorator.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithHealthTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithHealthTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithHealthTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-health.properties
Labels: area/kubernetes

#29613 UniAsserter - introduce getData()/putData() methods
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/DefaultUniAsserter.java
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/UniAsserter.java
  test-framework/vertx/src/test/java/io/quarkus/test/vertx/UniAsserterTest.java
Labels: triage/waiting-for-ci, area/testing

#29622 Avoid Gradle internal API CompositeProjectComponentArtifactMetadata
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/ToolingUtils.java
Labels: area/gradle, area/devtools

#29615 Implement Redis time series support
  docs/src/main/asciidoc/redis-reference.adoc
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/ReactiveRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/RedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/AddArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/Aggregation.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/AlterArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/BucketTimestamp.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/CreateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/DuplicatePolicy.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/Filter.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/IncrementArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/MGetArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/MRangeArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/RangeArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/ReactiveTimeSeriesCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/ReactiveTransactionalTimeSeriesCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/Reducer.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/Sample.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/SampleGroup.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/SeriesSample.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/TimeSeriesCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/TimeSeriesRange.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/TransactionalTimeSeriesCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/transactions/ReactiveTransactionalRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/transactions/TransactionalRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractTimeSeriesCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingTimeSeriesCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingTransactionalRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingTransactionalTimeSeriesCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTimeSeriesCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalTimeSeriesCommandsImpl.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/TimeSeriesCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/TransactionalTimeSeriesCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/generator/RedisApiGenerator.java
Labels: area/documentation, area/redis

#29620 VertxProcessor - skip synthetic methods annotated with ConsumeEvent
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport-2.13?, triage/backport-2.14?, triage/backport?

#29621 Qute - introduce Engine#locate()
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/InjectionTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/EngineTest.java
Labels: triage/waiting-for-ci, area/qute

#29609 Remove Reflection replacements, now supported by GraalVM
  core/runtime/src/main/java/io/quarkus/runtime/graal/ConstructorReplacement.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/MethodReplacement.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/ParameterReplacement.java
Labels: area/core, triage/waiting-for-ci

#29633 UniAsserter - ignore the assertFailedWith() if a previous stage fails
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/DefaultUniAsserter.java
  test-framework/vertx/src/test/java/io/quarkus/test/vertx/UniAsserterTest.java
Labels: area/testing

#29634 Add javadoc to UniAsserter
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/RunOnVertxContext.java
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/UniAsserter.java
Labels: triage/waiting-for-ci, area/testing

#29562 Improve Docker detection with Unix sockets
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  docs/src/main/asciidoc/podman.adoc
Labels: area/documentation, area/core

#29638 Move mongodb-panache ITs to RESTEasy Reactive
  integration-tests/mongodb-panache-kotlin/pom.xml
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/book/ReactiveBookEntityResource.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/book/ReactiveBookRepositoryResource.kt
  integration-tests/mongodb-panache-kotlin/src/test/kotlin/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheResourceTest.kt
  integration-tests/mongodb-panache/pom.xml
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/book/ReactiveBookEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/book/ReactiveBookRepositoryResource.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheResourceTest.java
Labels: triage/waiting-for-ci, area/mongodb

#29502 No need to use response methods returning a Future, if not used (part II)
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
Labels: triage/backport-2.14?

#29637 SnapStart integration enhancement
  core/deployment/src/main/java/io/quarkus/deployment/CracConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/SnapStartConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/SnapStartProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/CracEnabledBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/SnapStartDefaultValueBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/SnapStartEnabledBuildItem.java
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
  core/runtime/src/main/java/io/quarkus/runtime/SnapStartRecorder.java
  docs/src/main/asciidoc/amazon-lambda-http.adoc
  docs/src/main/asciidoc/amazon-lambda.adoc
  docs/src/main/asciidoc/amazon-snapstart.adoc
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaCommonProcessor.java
Labels: area/documentation, area/core, area/amazon-lambda, triage/backport?

#29395 Expose configuration for quartz scheduler performance tuning
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRuntimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/scheduler

#29623 OutboundSseEvent is not correctly serialized
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java
Labels: area/resteasy-reactive, triage/backport-2.13?, triage/backport?

#29654 Update the description copied from non-reactive variants
  extensions/keycloak-admin-client-reactive/runtime/pom.xml
  extensions/panache/hibernate-reactive-rest-data-panache/runtime/pom.xml
Labels: area/panache, area/keycloak, triage/backport-2.13?

#29653 Do not remove ConfigMappings marked as not removable via build item
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/UnremovableBeanBuildItem.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  integration-tests/test-extension/extension/deployment/src/main/resources/application.properties
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/UnremoveableConfigMappingTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/UnremovableMappingFromBuildItem.java
Labels: area/arc, triage/backport?

#29661 Invalid JSON input request handling
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MessageBodyReaderTests.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/ServerJacksonMessageBodyReader.java
  extensions/resteasy-reactive/rest-client-reactive-jackson/runtime/src/main/java/io/quarkus/rest/client/reactive/jackson/runtime/serialisers/ClientJacksonMessageBodyReader.java
  independent-projects/resteasy-reactive/server/jackson/src/main/java/org/jboss/resteasy/reactive/server/jackson/JacksonBasicMessageBodyReader.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#29671 Introduce the UniAsserter API to the Hibernate Reactive documentation
  docs/src/main/asciidoc/hibernate-reactive.adoc
Labels: area/documentation, triage/backport?

#27956 Rest Client: Add property to skip hostname verification
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/rest-client.adoc
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientFallbackConfigSourceInterceptor.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  integration-tests/rest-client-reactive/pom.xml
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/wronghost/WrongHostClient.java
  integration-tests/rest-client-reactive/src/main/resources/application.properties
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/wronghost/ExternalWrongHostTestCase.java
  integration-tests/rest-client/src/test/java/io/quarkus/it/rest/client/trustall/ExternalTlsTrustAllTestCase.java
  integration-tests/rest-client/src/test/java/io/quarkus/it/rest/client/wronghost/BaseExternalWrongHostTestCase.java
  integration-tests/rest-client/src/test/java/io/quarkus/it/rest/client/wronghost/ExternalWrongHostTestResourceUsingHostnameVerifier.java
  integration-tests/rest-client/src/test/java/io/quarkus/it/rest/client/wronghost/ExternalWrongHostTestResourceUsingVerifyHost.java
  integration-tests/rest-client/src/test/java/io/quarkus/it/rest/client/wronghost/ExternalWrongHostUsingHostnameVerifierIT.java
  integration-tests/rest-client/src/test/java/io/quarkus/it/rest/client/wronghost/ExternalWrongHostUsingHostnameVerifierTestCase.java
  integration-tests/rest-client/src/test/java/io/quarkus/it/rest/client/wronghost/ExternalWrongHostUsingVerifyHostTestCase.java
Labels: area/documentation, triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#29650 2.14.3 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/podman.adoc
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/HttpPolicyAuthFailureExceptionMapperTest.java
  extensions/vertx-http/dev-console-runtime-spi/src/main/java/io/quarkus/devconsole/runtime/spi/DevConsolePostHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BuildDependencyGraphVisitor.java
  integration-tests/bouncycastle-jsse/src/main/java/io/quarkus/it/bouncycastle/SecretProvider.java
  integration-tests/bouncycastle-jsse/src/main/resources/application.properties
  integration-tests/bouncycastle-jsse/src/main/resources/server-keystore.jks
  integration-tests/bouncycastle-jsse/src/test/java/io/quarkus/it/bouncycastle/BouncyCastleJsseTestCase.java
  integration-tests/bouncycastle-jsse/src/test/resources/client-truststore.jks
Labels: area/infra

#29643 Upgrade to Jandex 3.0.5
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, triage/backport-2.14?, triage/backport?

#29674 Revert "Reactive Rest Client closing connections after server failures"
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/BasicRestClientTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/HelloClient2.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/HelloResource.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.14?, triage/backport?

#29651 Add further details about podman
  docs/src/main/asciidoc/podman.adoc
Labels: area/documentation

#28792 Fix vertx otel sdk reload in devmode
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/instrumentation/InstrumentationProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/OpenTelemetryConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/InstrumentationRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/HttpInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/InstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/OpenTelemetryVertxTracingDevModeFactory.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/OpenTelemetryVertxTracingFactory.java
Labels: area/tracing, triage/backport?

#29459 Take conditional annotation into account for @ServerExceptionMapper
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/ExceptionMapperBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/ConditionalExceptionMappersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/InvalidConditionalΜappersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceExceptionMapper.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/exceptionmappers/ServerExceptionMapperGenerator.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/exceptionmappers/ServerExceptionMappingFeature.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ExceptionMapping.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/RuntimeExceptionMapper.java
Labels: area/resteasy-reactive, triage/flaky-test, triage/backport?

#29598 Add hibernate.query.in_clause_parameter_padding as a supported configuration parameter
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: release/noteworthy-feature, area/persistence, area/hibernate-orm, area/hibernate-reactive

#29550 Introduce @Separator annotation for query parameters
  docs/src/main/asciidoc/resteasy-reactive-migration.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CustomResourceProducersGenerator.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SeparatorQueryParamTest.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/scanning/ClientEndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/Separator.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/MethodParameter.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/QueryParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerMethodParameter.java
Labels: area/documentation, area/resteasy-reactive, triage/backport?

#29684 OpenShift IT run on Ubuntu 20.04
  .github/workflows/ci-kubernetes.yml
Labels: area/infra-automation

#29681 Add spec.metadata.labels in Deployment resource for OpenShift
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddDeploymentResourceDecorator.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithDeploymentResourceTest.java
Labels: area/kubernetes, triage/backport?

#29673 Bump Kotlin to 1.7.22
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle.properties
  independent-projects/arc/tests/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  jakarta/transform.sh
Labels: area/gradle, area/arc, triage/waiting-for-ci, area/dependencies, area/devtools, area/jakarta

#29652 Allow setting the deployment target directly in the deploy option
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfigUtil.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeploy.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
Labels: area/documentation, area/kubernetes

#29641 ArC - introduce immutable bean archive index
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveIndexBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/spring-di/deployment/src/test/java/io/quarkus/spring/di/deployment/SpringDIProcessorTest.java
  extensions/spring-scheduled/deployment/src/test/java/io/quarkus/spring/scheduled/deployment/SpringScheduledProcessorTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoInjectionsTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoQualifiersTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/BeanInfoTypesTest.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
Labels: area/arc, triage/waiting-for-ci, area/spring, triage/backport?

#29672 Update RedPanda image to 22.3.4
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/dev/KafkaDevServicesDevModeTestCase.java
Labels: area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/kafka

#29680 Add forbiddenapis checks for Vert.x modules
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/SuppressForbidden.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx/deployment/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusCodecProcessor.java
Labels: area/core, area/vertx, triage/waiting-for-ci, area/dependencies

#29683 Allow using Gradle addExtension task without property file
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFile.java
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#29687 2.14.3 backports 2
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/podman.adoc
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  extensions/keycloak-admin-client-reactive/runtime/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddDeploymentResourceDecorator.java
  extensions/panache/hibernate-reactive-rest-data-panache/runtime/pom.xml
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesProcessor.java
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/failure/AuthCompletionExceptionHandlerTest.java
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/ProactiveAuthCompletionExceptionHandlerTest.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AuthenticationRedirectExceptionMapperTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/ProactiveAuthCompletionExceptionHandlerTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/BasicRestClientTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/HelloClient2.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/HelloResource.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/EnabledProactiveAuthFailedExceptionHandlerTest.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/FilterBuildItem.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/Filter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/Filters.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithDeploymentResourceTest.java
Labels: area/documentation, area/panache, area/arc, area/smallrye, area/infra, area/vertx, area/platform, area/kubernetes, area/dependencies, area/devtools, area/resteasy-reactive, area/keycloak

#29700 Polish Kubernetes Service Binding
  extensions/kubernetes-service-binding/runtime/src/main/java/io/quarkus/kubernetes/service/binding/runtime/DatasourceServiceBindingConfigSourceFactory.java
  extensions/kubernetes-service-binding/runtime/src/main/java/io/quarkus/kubernetes/service/binding/runtime/KubernetesServiceBindingConfigSourceProvider.java
Labels: triage/waiting-for-ci, area/kubernetes, triage/backport?

#29682 Return allowed CORS headers in the letter case they were submitted in and update the test
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSHandlerTestCase.java
  extensions/vertx-http/deployment/src/test/resources/conf/cors-config.properties
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java
Labels: area/vertx, triage/backport?

#29702 Introduce support for the `uri` file in k8s service binding
  extensions/kubernetes-service-binding/runtime/src/main/java/io/quarkus/kubernetes/service/binding/runtime/DatasourceServiceBindingConfigSourceFactory.java
  integration-tests/kubernetes-service-binding-jdbc/src/test/resources/k8s-sb/fruit-db/database
  integration-tests/kubernetes-service-binding-jdbc/src/test/resources/k8s-sb/fruit-db/host
  integration-tests/kubernetes-service-binding-jdbc/src/test/resources/k8s-sb/fruit-db/port
  integration-tests/kubernetes-service-binding-jdbc/src/test/resources/k8s-sb/fruit-db/uri
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-auto-postgres-binding.properties
Labels: area/kubernetes, triage/backport?

#29705 Fix ClientProxyGenerator
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/packageprivate/BaseInterface.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/packageprivate/MyInterface.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/packageprivate/PackagePrivateInterfaceInHierarchyTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/packageprivate/foo/MyInterface2.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/packageprivate/foo/Producer.java
Labels: area/arc, triage/backport?

#29721 Fix flaky SearchCommandsTest#testAggregation test
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SearchCommandsTest.java
Labels: area/redis, triage/backport?

#29722 Jakarta - Avoid hardcoded references to a javax class
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/exceptionmappers/ServerExceptionMapperGenerator.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/filters/CustomFilterGenerator.java
Labels: triage/backport?

#29741 Adds the Java Version parameter to the Maven plugin documentation
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/waiting-for-ci

#29736 StoreType enum should have final fields
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/StoreType.java
Labels: area/scheduler

#29471 Use the filename as the document id
  docs/src/main/asciidoc/README.adoc
  docs/src/main/asciidoc/_examples/acme-serve-http-requests-tutorial.adoctxt
  docs/src/main/asciidoc/_templates/template-concept.adoc
  docs/src/main/asciidoc/_templates/template-howto.adoc
  docs/src/main/asciidoc/_templates/template-reference.adoc
  docs/src/main/asciidoc/_templates/template-tutorial.adoc
  docs/src/main/asciidoc/doc-concept.adoc
  docs/src/main/asciidoc/doc-contribute-docs-howto.adoc
  docs/src/main/asciidoc/doc-create-tutorial.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  docs/src/main/java/io/quarkus/docs/generation/YamlMetadataGenerator.java
Labels: area/documentation, triage/waiting-for-ci

#29735 Make @Separator work with @BeanParam as well
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SeparatorQueryParamTest.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/Separator.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#29729 Handling a multipart request part as a file based on the content-type
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRuntimeRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/BodyConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/MultiPartConfig.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultiPartParserDefinition.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/DefaultRuntimeConfiguration.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/RuntimeConfiguration.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/multipart/MultipartFileContentTypeTest.java
Labels: area/vertx, triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.13?, triage/backport?

#29716 Ensure that file is written on disk for multipart when endpoint expects it
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartFormInputDevModeTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputBodyHandlerTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartResource.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/scanning/ClientEndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/BeanParamInfo.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/InjectableBean.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceMethod.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/multipart/DotNames.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/FormEncodedDataDefinition.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/FormParserFactory.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultiPartParserDefinition.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartSupport.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/multipart/MultipartFileContentTypeTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.13?, triage/backport?

#29720 Check config before creating Kafka checkpoint state store beans
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisClientConfig.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/CheckpointStateStoreConfigTest.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/HibernateOrmStateStore.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/HibernateReactiveStateStore.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/RedisStateStore.java
Labels: area/smallrye, area/reactive-messaging, area/redis, triage/backport?

#29697 Don't load Kotlin parent first
  extensions/kotlin/runtime/pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/kotlin, area/devtools

#29743 Fix some minor issues on OIDC logout documentation
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
Labels: area/documentation, area/oidc

#29760 Upgrade the migration script to 3.0.0.Alpha2
  jakarta/quarkus3.yml
Labels: area/jakarta

#29766 Test: Enable Backchannel logout test
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: triage/backport?

#29737 Properly sort beans in DevUI beans page
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DevBeanInfo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/Name.java
Labels: area/arc, triage/backport?

#29742 Fix security concept doc listed as tutorial on index
  docs/src/main/asciidoc/security-overview-concept.adoc
Labels: area/documentation

#29772 Provide proper error message for missing URL with Keycloak Admin client bean
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveKeycloakAdminClientRecorder.java
  extensions/keycloak-admin-client/runtime/src/main/java/io/quarkus/keycloak/adminclient/ResteasyKeycloakAdminClientRecorder.java
Labels: area/keycloak, triage/backport?

#29775 Throw a CreationException if a normal scoped synthetic bean creates null
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/beans/NormalScopedSyntheticBeanProducedNullTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#29758 CI should use -Dno-format to execute other plugins too
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.yml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/SnapshotTesting.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
Labels: area/maven, triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#29762 Redis data preloading support
  docs/src/main/asciidoc/redis-reference.adoc
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisBuildTimeConfig.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisClientBuildTimeConfig.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisClientProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisDatasourceProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RequestedRedisClientBuildItem.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/devmode/IncrementResource.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/devmode/RedisClientDevModeTestCase.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/devmode/RedisClientPreloadDevModeTestCase.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/preloading/DefaultFileForDefaultClientPreloadingTest.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/preloading/MissingFilePreloadTest.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/preloading/MultiClientImportPreloadingTest.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/preloading/MultiClientImportPreloadingWithFlushAllTest.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/preloading/MultiClientImportPreloadingWithOnlyIfEmptyTest.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/preloading/MultipleFilesForDefaultClientImportPreloadingTest.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/preloading/NonDefaultFileForDefaultClientImportPreloadingTest.java
  extensions/redis-client/deployment/src/test/resources/imports/import.redis
  extensions/redis-client/deployment/src/test/resources/imports/sample.redis
  extensions/redis-client/deployment/src/test/resources/imports/starwars.redis
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisClientRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisDataLoader.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisClientConfig.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisConfig.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/RedisResource.java
  integration-tests/redis-client/src/main/resources/application.properties
  integration-tests/redis-client/src/main/resources/starwars.redis
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisTest.java
Labels: release/noteworthy-feature, area/documentation, area/redis

#29731 Introduce a way to use custom annotations in bytecode recording
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/RecordingAnnotationsProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/RecordingAnnotationsUtil.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/IgnoredProperties.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/TestRecordingAnnotationsProvider.java
  core/deployment/src/test/resources/META-INF/services/io.quarkus.deployment.recording.RecordingAnnotationsProvider
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, area/core

#29785 Propage parent-first flag
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ParentFirstFlagPropagationTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/RunnerParentFirstFlagPropagationTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsQuarkusExt.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
Labels: area/core, area/devtools

#29792 Fix quarkus.knative.image-pull-policy property
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithExtendedPropertiesTest.java
Labels: area/kubernetes

#29795 Update to Vert.x 4.3.6
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#29821 Reactive Rest Client: Process paths before sub resources
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.13?, triage/backport?

#29816 Fix the secret length check for PKCE and token encryption
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
Labels: area/documentation, area/oidc

#29798 2.13.6 backports 1
  .github/dependabot.yml
  .github/native-tests.json
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  devtools/cli/distribution/jreleaser.yml
  devtools/gradle/build.gradle
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/native-reference.adoc
  docs/src/main/asciidoc/security-getting-started.adoc
  docs/src/main/asciidoc/security.adoc
  docs/src/main/asciidoc/stork-reference.adoc
  docs/src/main/asciidoc/stork.adoc
  docs/src/main/asciidoc/virtual-threads.adoc
  docs/sync-web-site.sh
  extensions/keycloak-admin-client-reactive/runtime/pom.xml
  extensions/panache/hibernate-reactive-rest-data-panache/runtime/pom.xml
  integration-tests/bouncycastle-jsse/src/main/java/io/quarkus/it/bouncycastle/SecretProvider.java
  integration-tests/bouncycastle-jsse/src/main/resources/application.properties
  integration-tests/bouncycastle-jsse/src/main/resources/server-keystore.jks
  integration-tests/bouncycastle-jsse/src/test/java/io/quarkus/it/bouncycastle/BouncyCastleJsseTestCase.java
  integration-tests/bouncycastle-jsse/src/test/resources/client-truststore.jks
Labels: area/documentation, area/panache, area/gradle, area/core, area/infra, area/dependencies, area/devtools, area/infra-automation, area/cli, area/keycloak

#29823 Fix code sample Using gradle
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#29787 Fix PostgreSQL XA mode in native images
  extensions/jdbc/jdbc-postgresql/deployment/src/main/java/io/quarkus/jdbc/postgresql/deployment/PostgreSQLJDBCReflections.java
Labels: triage/backport-2.13?, triage/backport?

#29799 Ensure that multipart response has a boundary when RestResponse is used
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputUsingBlockingEndpointsTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartMessageBodyWriter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/multipart/MultipartOutputUsingBlockingEndpointsTest.java
Labels: area/resteasy-reactive, triage/backport?

#29813 AddNamespaceDecorator doesn't override already set namespaces
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddNamespaceDecorator.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/WithKubernetesClientAndExistingResourcesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-client-existing-resources.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/manifests/kubernetes-with-client-existing-resources/kubernetes.yml
Labels: area/kubernetes, triage/backport?

#29797 Upgrade Maven Compiler Plugin to 3.10.1
  build-parent/pom.xml
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/azure-functions-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  independent-projects/tools/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
Labels: area/documentation, area/maven, area/amazon-lambda, area/platform, area/dependencies, area/devtools, area/funqy

#29800 Modernize default ci.yml a bit
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/github-action/base/.github/workflows/ci.tpl.qute.yml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleNoWrapperGithubAction/.github_workflows_ci.yml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleWrapperGithubAction/.github_workflows_ci.yml
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#29826 Introduce proper property name for controlling IT profile
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ConfigUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/JarLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/NativeImageLauncherProvider.java
Labels: area/core, triage/waiting-for-ci, area/testing

#29815 Bump smallrye-open-api from 2.3.1 to 3.1.1
  bom/application/pom.xml
  jakarta/rewrite.yml
Labels: area/dependencies, area/jakarta

#29802 Scheduler - make it possible to add OTel @WithSpan automatically
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/scheduler/deployment/pom.xml
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/tracing/OpenTelemetryTracingTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerConfig.java
Labels: area/documentation, area/scheduler, area/tracing

#29808 Look for test classes in the model loaded from the Gradle tooling
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/ArtifactSources.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/utils/BuildToolHelper.java
  independent-projects/bootstrap/gradle-resolver/src/main/java/io/quarkus/bootstrap/resolver/QuarkusGradleModelFactory.java
  integration-tests/gradle/src/main/resources/builder/simple-module-project/src/test/java/Dummy.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/builder/QuarkusModelBuilderTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestClassIndexer.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/gradle, triage/waiting-for-ci, area/testing, area/devtools

#29805 Add Vert.x pool metrics to Quarkus Micrometer
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxPoolMetrics.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/VertxRedisClientFactory.java
Labels: area/redis, area/metrics

#29851 Ensure that new line chars don't break Panache projection
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
Labels: area/panache, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29853 Support custom @RecordableConstructor annotations in RecordingAnnotationsProvider
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/RecordingAnnotationsProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/RecordingAnnotationsUtil.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/OtherTestConstructorBean.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/TestRecorder.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/TestRecordingAnnotationsProvider.java
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, area/core, triage/waiting-for-ci

#29715 Allow token verification with user info when no introspection endpoint is available
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/OpaqueTokenVerificationWithUserInfoValidationTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowUserInfoResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomSecurityIdentityAugmentor.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OpaqueGithubResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerOpaqueTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/documentation, area/oidc

#29855 Prevent false warning message about missing 'quarkus.debug.print-startup-times'
  core/runtime/src/main/java/io/quarkus/runtime/DebugRuntimeConfig.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#29788 Enhance OidcClientFilter to select named OIDC clients
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client-filter/deployment/src/main/java/io/quarkus/oidc/client/filter/deployment/NamedOidcClientFilterBuildItem.java
  extensions/oidc-client-filter/deployment/src/main/java/io/quarkus/oidc/client/filter/deployment/OidcClientFilterBuildStep.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/ConfigPropertyOidcClientResource.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/NamedOidcClientFilterDevModeTest.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/NamedOidcClientResource.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/OidcClientFilterDevModeTest.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/ProtectedResourceServiceConfigPropertyOidcClient.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/ProtectedResourceServiceNamedOidcClient.java
  extensions/oidc-client-filter/deployment/src/test/resources/application-named-oidc-client-filter.properties
  extensions/oidc-client-filter/deployment/src/test/resources/application-oidc-client-filter.properties
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/OidcClientRequestFilter.java
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/runtime/AbstractOidcClientRequestFilter.java
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/runtime/OidcClientFilterConfig.java
  extensions/oidc-client-reactive-filter/deployment/pom.xml
  extensions/oidc-client-reactive-filter/deployment/src/main/java/io/quarkus/oidc/client/reactive/filter/deployment/OidcClientReactiveFilterBuildStep.java
  extensions/oidc-client-reactive-filter/deployment/src/test/java/io/quarkus/oidc/client/reactive/filter/NamedOidcClientFilterDevModeTest.java
  extensions/oidc-client-reactive-filter/deployment/src/test/java/io/quarkus/oidc/client/reactive/filter/OidcClientResource.java
  extensions/oidc-client-reactive-filter/deployment/src/test/java/io/quarkus/oidc/client/reactive/filter/ProtectedResource.java
  extensions/oidc-client-reactive-filter/deployment/src/test/java/io/quarkus/oidc/client/reactive/filter/ProtectedResourceServiceAnnotationOidcClient.java
  extensions/oidc-client-reactive-filter/deployment/src/test/java/io/quarkus/oidc/client/reactive/filter/ProtectedResourceServiceConfigPropertyOidcClient.java
  extensions/oidc-client-reactive-filter/deployment/src/test/resources/application-oidc-client-reactive-filter.properties
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientRequestReactiveFilter.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/runtime/AbstractOidcClientRequestReactiveFilter.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/runtime/OidcClientReactiveFilterConfig.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientFilterDeploymentHelper.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/filter/OidcClientFilter.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/AbstractTokensProducer.java
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientPredicateProviderBuildItem.java
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
  integration-tests/oidc-client-reactive/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-reactive/src/main/java/io/quarkus/it/keycloak/ProtectedResourceServiceNamedFilter.java
  integration-tests/oidc-client-reactive/src/main/resources/application.properties
  integration-tests/oidc-client-reactive/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
  integration-tests/oidc-client/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client/src/main/java/io/quarkus/it/keycloak/ProtectedResourceServiceNonDefaultOidcClient.java
  integration-tests/oidc-client/src/main/resources/application.properties
  integration-tests/oidc-client/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: release/noteworthy-feature, area/documentation, area/resteasy, area/resteasy-reactive

#29876 Upgrade netty to 4.1.86
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-2.7?, triage/backport-2.13?, triage/backport?

#29856 Remove calls to `ad-m/github-push-action`
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.yml
Labels: triage/waiting-for-ci, area/platform, area/devtools

#29883 Arc - improve producer wildcard type detection
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
Labels: area/arc, triage/waiting-for-ci

#29900 Fix Mutiny documentation links
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation

#29897 Dev Services for Kafka configuration for image providers
  docs/src/main/asciidoc/kafka-dev-services.adoc
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaNativeContainer.java
  integration-tests/kafka-devservices/src/main/resources/application.properties
Labels: area/documentation, area/kafka

#29626 Allow CORS same origin requests
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSHandlerTestWildcardOriginCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/cors/CORSFilterTest.java
Labels: area/vertx, triage/backport-2.7?, triage/backport-2.13?, triage/backport-2.14?, triage/backport?

#29894 Support MariaDB Dev Services in reactive-mysql-client
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/reactive-mysql-client/deployment/pom.xml
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
Labels: area/reactive-sql-clients, triage/backport?

#29912 Small improvements to the Deploying to Google Cloud guide
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
Labels: area/documentation

#29906 Fix some typos in the building native image documentation
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#29920 Removed weird `code` tag and fixed formatting
  docs/src/main/asciidoc/rest-client-reactive.adoc
Labels: area/documentation, triage/backport?

#29814 Bump Keycloak version to 20.0.1
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-token-propagation/pom.xml
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/AccessTokenPropagationService.java
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/JwtTokenPropagationService.java
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/ServiceAccountService.java
  integration-tests/oidc-token-propagation/src/main/resources/application.properties
  integration-tests/smallrye-jwt-token-propagation/src/main/resources/application.properties
  test-framework/keycloak-server/src/main/java/io/quarkus/test/keycloak/client/KeycloakTestClient.java
Labels: area/documentation, area/testing, area/oidc, area/dependencies

#29927 OIDC - Harden conditions for token verification with user info
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
Labels: area/oidc

#29880 Bump Smallrye Reactive Messaging version to 3.22.1
  bom/application/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/WiringHelper.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/DuplicatedContextConnectorFactoryInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devmode/DevModeSupportConnectorFactoryInterceptor.java
  jakarta/rewrite.yml
Labels: area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/dependencies, area/jakarta

#29908 Add Hibernate ORM REST Data with Panache quickstart link to docs
  docs/src/main/asciidoc/rest-data-panache.adoc
Labels: area/documentation

#29940 OIDC Client Reactive Filter - fix register provider with config property
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/ConfigPropertyOidcClientResource.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/NamedOidcClientFilterDevModeTest.java
  extensions/oidc-client-filter/deployment/src/test/java/io/quarkus/oidc/client/filter/ProtectedResourceServiceCustomProviderConfigPropOidcClient.java
  extensions/oidc-client-filter/deployment/src/test/resources/application-named-oidc-client-filter.properties
  extensions/oidc-client-reactive-filter/deployment/src/main/java/io/quarkus/oidc/client/reactive/filter/deployment/OidcClientReactiveFilterBuildStep.java
  extensions/oidc-client-reactive-filter/deployment/src/test/java/io/quarkus/oidc/client/reactive/filter/NamedOidcClientFilterDevModeTest.java
  extensions/oidc-client-reactive-filter/deployment/src/test/java/io/quarkus/oidc/client/reactive/filter/OidcClientResource.java
  extensions/oidc-client-reactive-filter/deployment/src/test/java/io/quarkus/oidc/client/reactive/filter/ProtectedResourceServiceCustomProviderConfigPropOidcClient.java
  extensions/oidc-client-reactive-filter/deployment/src/test/resources/application-oidc-client-reactive-filter.properties
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientRequestReactiveFilter.java
Labels: area/oidc

#29874 Use proper Openshift annotation for VCS
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/Constants.java
Labels: area/documentation, area/kubernetes

#29850 Drop ':z' bind option when using MacOS and Podman
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalContainerRunner.java
Labels: area/core, triage/flaky-test

#29949 Update musl and zlib versions in the documentation
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#29942 Fix auth-server-url for keycloak
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
Labels: area/keycloak, triage/backport?

#29926 Bump Dekorate to version 3.1.3
  bom/application/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithCustomRouteResourceTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/manifests/openshift-with-custom-route-resource/openshift.yml
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-custom-route-resource.properties
Labels: triage/waiting-for-ci, area/kubernetes, area/dependencies, triage/backport?

#29948 Fix NPE in KeycloakDevServicesProcessor
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, triage/backport-2.13?, triage/backport?

#29950 Websockets client - set the current security identity
  extensions/websockets/client/runtime/src/main/java/io/quarkus/websockets/client/runtime/WebsocketCoreRecorder.java
Labels: area/websockets

#29957 HttpSecurityRecorder - drop duplicate IF condition
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/vertx, triage/backport?

#29969 Enhance KeycloakTestClient to support a client_credentials grant
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/JwtTokenPropagationService.java
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-token-propagation/src/test/java/io/quarkus/it/keycloak/OidcTokenPropagationTest.java
  test-framework/keycloak-server/src/main/java/io/quarkus/test/keycloak/client/KeycloakTestClient.java
Labels: area/testing, triage/backport?

#29970 Allow the use of security related annotations to be used as meta-annotations
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
  docs/src/main/asciidoc/security-testing.adoc
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
  integration-tests/oidc-token-propagation-reactive/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
  integration-tests/smallrye-jwt-token-propagation/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
  test-framework/common/src/main/java/io/quarkus/test/util/annotations/AnnotationContainer.java
  test-framework/common/src/main/java/io/quarkus/test/util/annotations/AnnotationUtils.java
  test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java
  test-framework/security/src/main/java/io/quarkus/test/security/TestSecurity.java
Labels: release/noteworthy-feature, area/documentation, area/testing, area/oidc, triage/flaky-test

#29974 Add missing IT for codestart examples
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/AmazonLambdaCodestartTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/AzureFunctionsHttpCodestartTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/FunqyAmazonLambdaCodestartTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/FunqyKnativeEventsCodestartTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/AmazonLambdaCodestartTest/testContent/src_main_java_ilove_quark_us_lambda_GreetingLambda.java
  integration-tests/devtools/src/test/resources/__snapshots__/AmazonLambdaCodestartTest/testContent/src_main_java_ilove_quark_us_lambda_Person.java
  integration-tests/devtools/src/test/resources/__snapshots__/AmazonLambdaCodestartTest/testContent/src_test_java_ilove_quark_us_lambda_LambdaHandlerTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/AmazonLambdaCodestartTest/testContent/src_test_java_ilove_quark_us_lambda_LambdaHandlerTestIT.java
  integration-tests/devtools/src/test/resources/__snapshots__/AzureFunctionsHttpCodestartTest/testContent/azure-config_function.json
  integration-tests/devtools/src/test/resources/__snapshots__/AzureFunctionsHttpCodestartTest/testContent/azure-config_host.json
  integration-tests/devtools/src/test/resources/__snapshots__/AzureFunctionsHttpCodestartTest/testContent/azure-config_local.settings.json
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyAmazonLambdaCodestartTest/testContent/src_main_java_ilove_quark_us_funqy_GreetingFunction.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyAmazonLambdaCodestartTest/testContent/src_main_java_ilove_quark_us_funqy_Person.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyAmazonLambdaCodestartTest/testContent/src_test_java_ilove_quark_us_funqy_FunqyIT.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyAmazonLambdaCodestartTest/testContent/src_test_java_ilove_quark_us_funqy_FunqyTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyKnativeEventsCodestartTest/testContent/src_main_java_ilove_quark_us_funqy_cloudevent_CloudEventGreeting.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyKnativeEventsCodestartTest/testContent/src_main_java_ilove_quark_us_funqy_cloudevent_Person.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyKnativeEventsCodestartTest/testContent/src_test_java_ilove_quark_us_funqy_cloudevent_FunqyIT.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyKnativeEventsCodestartTest/testContent/src_test_java_ilove_quark_us_funqy_cloudevent_FunqyTest.java
Labels: area/codestarts

#29975 Qute ValueResolver generator - minor cleanup and optimization
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/Descriptors.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: area/qute

#29884 Redis - Geo commands may return unparseable doubles
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractGeoCommands.java
Labels: area/redis

#29810 Updates to the Cassandra quickstart guide
  docs/src/main/asciidoc/cassandra.adoc
Labels: area/documentation

#29986 Switch from system property to hadcoded line separator for Panache query
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
Labels: area/panache, triage/waiting-for-ci, triage/backport?

#29984 Kafka UI RPC creates own ObjectMapper
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaUiUtils.java
Labels: triage/waiting-for-ci, area/kafka, triage/backport?

#29990 Fix build warning
  extensions/micrometer/deployment/pom.xml
Labels: triage/waiting-for-ci, area/metrics

#29994 Fix erroneous resource matching in RESTEasy Reactive
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/EndingSlashTest.java
Labels: area/resteasy-reactive

#29827 Improve header in README.md based on name and description
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/codestart.yml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/README.md
Labels: area/platform, area/devtools, triage/backport?

#29972 Do not set get action port to null in custom resources for Knative
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyHttpGetActionPortDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithExistingDeploymentResourceTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithExistingCronJobResourceTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-with-existing-deployment-resource.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/manifests/knative-with-existing-deployment-resource/knative.yml
Labels: area/kubernetes

#29925 Fix Quarkus Vale linter warning on words 'UNIX', 'Redis', and 'using'
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/testinvalid.adoc
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/testvalid.adoc
  docs/.vale/styles/Quarkus/CaseSensitiveTerms.yml
  docs/.vale/styles/Quarkus/Headings.yml
  docs/.vale/styles/Quarkus/Spelling.yml
  docs/.vale/styles/Quarkus/TermsErrors.yml
  docs/.vale/styles/Quarkus/TermsSuggestions.yml
Labels: area/documentation, area/oidc

#28903 Introduce QuarkusTransaction#runner
  docs/src/main/asciidoc/transaction.adoc
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/unsupportedproperties/UnsupportedPropertiesTest.java
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/quarkus/TransactionRunnerTest.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/QuarkusTransaction.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/QuarkusTransactionImpl.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/RunOptions.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/RunOptionsBase.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/TransactionExceptionResult.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/TransactionRunner.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/TransactionRunnerImpl.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/TransactionRunnerOptions.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/TransactionSemantics.java
Labels: area/documentation, area/persistence, area/hibernate-orm, area/narayana, triage/flaky-test

#29935 Support Smallrye Config property expression expansion for @RolesAllowed value
  docs/src/main/asciidoc/security-authorization-of-web-endpoints-reference.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/LazyAuthRolesAllowedConfigExpTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/RolesAllowedResource.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/ConfigExpRolesAllowedSecurityCheckBuildItem.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/rolesallowed/ConfigExpressionDetectionTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/rolesallowed/RolesAllowedExpressionFailureTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/rolesallowed/RolesAllowedExpressionTest.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusSecurityRolesAllowedConfigBuilder.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/check/SupplierRolesAllowedCheck.java
  integration-tests/elytron-resteasy-reactive/src/main/java/io/quarkus/it/resteasy/reactive/elytron/RootResource.java
  integration-tests/elytron-resteasy-reactive/src/main/resources/application.properties
  integration-tests/elytron-resteasy-reactive/src/test/java/io/quarkus/it/resteasy/reactive/elytron/RootResourceTest.java
  integration-tests/main/src/main/java/io/quarkus/it/rest/RBACSecuredResource.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/RBACAccessTest.java
Labels: release/noteworthy-feature, area/documentation, area/security, area/resteasy-reactive

#30001 Fix AbstractMethodError when injecting generated resource
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/AbstractInjectResourcesMethodTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/InjectionResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourceInjectResourcesMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractInjectResourcesMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/InjectionResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourceInjectResourcesMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/resources/application.properties
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
Labels: area/panache, triage/waiting-for-ci, triage/backport?

#29807 Bump kubernetes-client-bom from 6.2.0 to 6.3.1
  bom/application/pom.xml
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithAutoMongoBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithAutoMysqlBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithAutoPostgresBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithSemiAutoPostgresBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithServiceBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithServiceBindingTest.java
Labels: area/kubernetes, release/breaking-change, area/dependencies

#29998 Bump to smallrye-config 2.13.1
  bom/application/pom.xml
  jakarta/rewrite.yml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/jakarta, triage/backport?

#30012 Add reflection configuration for JDK provided LoginModules
  extensions/elytron-security-ldap/deployment/src/main/java/io/quarkus/elytron/security/ldap/deployment/ElytronSecurityLdapProcessor.java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleNativeImage.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/security, triage/waiting-for-ci, area/kafka, area/native-image

#30015 Remove reflective class registrations for Java 8
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/kafka, area/jaxb, area/native-image

#30027 Fix broken Feature#runtimeInitializedPackages method
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#29692 Do not support any Origin by default if CORS is enabled
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagCorsTest.java
  extensions/reactive-routes/deployment/src/test/resources/conf/cors-config.properties
  extensions/resteasy-classic/resteasy/deployment/src/test/resources/cors-config.properties
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/vertx/OpenApiHttpRootDefaultPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/vertx/OpenApiHttpRootPathCorsTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSSecurityTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSWildcardSecurityTestCase.java
  extensions/vertx-http/deployment/src/test/resources/conf/cors-config.properties
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc/src/main/resources/application.properties
Labels: area/smallrye, area/vertx, area/openapi, area/oidc, area/metrics

#30026 Prevent repeated Quarkus Security exception handling that lead to duplicate headers during OIDC redirect
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/AuthenticationFailedExceptionHeaderTest.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/AuthenticationRedirectExceptionHeaderTest.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AuthenticationFailedExceptionHeaderTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AuthenticationRedirectExceptionHeaderTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/vertx, area/resteasy-reactive

#30039 Do not close the managed ValidatorFactory
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/ValidatorFactoryFromValidationTest.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/CloseAsNoopValidatorFactoryWrapper.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidationSupport.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidatorHolder.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidatorProvider.java
Labels: area/hibernate-validator, triage/backport?

#30034 Updates Infinispan dependencies
  bom/application/pom.xml
  docs/src/main/asciidoc/infinispan-client.adoc
Labels: area/documentation, area/infinispan, triage/waiting-for-ci, area/dependencies, triage/backport?

#29981 Pass missing properties to Hibernate Reactive startup
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: area/persistence, area/hibernate-reactive, triage/backport?

#30024 Shielding local context true -> true safe transition
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/context/VertxContextSafetyToggle.java
Labels: area/vertx

#30057 Bump smallrye-jwt version to 3.6.0
  bom/application/pom.xml
Labels: area/security, area/smallrye, triage/waiting-for-ci, area/dependencies

#30058 Ensure that Kotlin subclass of QuarkusApplication works properly
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/src/main/kotlin/org/acme/MyMainClass.kt
Labels: area/core, triage/backport?

#29993 Introduce `ImageMode` API
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/ImageMode.java
  core/runtime/src/main/java/io/quarkus/runtime/NativeImageRuntimePropertiesRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerRecorder.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/QuarkusRestClientBuilder.java
  extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java
  jakarta/overrides/rest-client/QuarkusRestClientBuilder.java
Labels: area/core, area/config, area/logging, area/smallrye, area/metrics, area/jakarta

#30074 Update smallrye-health.adoc
  docs/src/main/asciidoc/smallrye-health.adoc
Labels: area/documentation, triage/backport?

#30060 Qute - built-in template extension for String plus operator
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/StringTemplateExtensionsTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/StringTemplateExtensions.java
Labels: area/documentation, area/qute
