Repository quarkusio/quarkus, pull requests merged in 2022-02, with the labels that each got.

#23325 Remove vert-http from oidc-common
  extensions/oidc-common/deployment/pom.xml
  extensions/oidc-common/runtime/pom.xml
  extensions/pom.xml
Labels: triage/backport?

#23270 Don't register Kafka LoginModule interface for reflection
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/kafka

#23321 Let the ByteBuddy library version be controlled by the BOM
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#23329 Update MariaDB image to 10.6 for integration tests and dev services
  build-parent/pom.xml
  extensions/devservices/common/pom.xml
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ConfigureUtil.java
  extensions/devservices/common/src/main/resources/devservices.properties
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/Dialects.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/deployment/ConstantsTest.java
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/src/main/resources/application.properties
  integration-tests/hibernate-orm-tenancy/connection-resolver/src/main/resources/application.properties
  integration-tests/jpa-mariadb/src/main/resources/META-INF/persistence.xml
Labels: area/persistence, area/hibernate-orm, area/dependencies

#23323 2.7.1 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeContext.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/QuarkusBindException.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryAddCommand.java
  devtools/gradle/gradle-application-plugin/pom.xml
  docs/src/main/asciidoc/centralized-log-management.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/qute-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/amazon-lambda-rest/runtime/pom.xml
  extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/graal/LambdaContainerHandlerSubstitution.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iConfig.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs/ResteasyReactiveContextLocaleResolver.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/HttpContentCompressorSubstitutions.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/NamedBeanIterableReturnTypeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/loop/LoopTest.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FormData.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanparam/BeanFormParamTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/DefaultMicroprofileRestClientExceptionMapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Annotations.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Injection.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/InitializerMethodMarkedAsyncObserverTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/InitializerMethodMarkedDisposerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/InitializerMethodMarkedObserverTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/InitializerMethodMarkedProducerTest.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/resteasy-reactive/client/processor/pom.xml
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/BeanParamParser.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/FormParamItem.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/ItemType.java
  independent-projects/resteasy-reactive/client/processor/src/test/java/org/jboss/resteasy/reactive/client/processor/beanparam/BeanParamParserTest.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/multipart/MultipartPopulatorGenerator.java
  integration-tests/devtools/pom.xml
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multimodule/html/pom.xml
Labels: area/documentation, area/gradle, area/core, area/arc, area/maven, area/infra, area/hibernate-validator, area/vertx, area/amazon-lambda, area/oidc, area/dependencies, area/qute, area/devtools, area/grpc, area/cli, area/resteasy-reactive

#23216 Qute - implement timeout for async rendering methods
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteRuntimeConfig.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  extensions/resteasy-classic/resteasy-qute/runtime/src/main/java/io/quarkus/resteasy/qute/runtime/TemplateResponseFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/runtime/src/main/java/io/quarkus/resteasy/reactive/qute/runtime/TemplateResponseFilter.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateException.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstance.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstanceBase.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/MutinyTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/NodeResolveTraceLoggingTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/TimeoutTest.java
Labels: area/documentation, area/qute, area/resteasy-reactive

#23299 Make QuarkusMock work with REST Client Reactive interfaces
  core/runtime/src/main/java/io/quarkus/runtime/MockedThroughWrapper.java
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveCDIWrapperBase.java
  integration-tests/rest-client-reactive/pom.xml
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/InjectMockTest.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/QuarkusMockTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
Labels: area/documentation, area/core, area/testing, area/resteasy-reactive, triage/backport?

#23310 Added a note on gRPC Dev UI to the docs
  docs/src/main/asciidoc/grpc-service-implementation.adoc
Labels: area/documentation, triage/backport?

#23239 Fix openshift deployment related issues
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/kubernetes/openshift/deployment/src/main/java/io/quarkus/openshift/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployerPrerequisite.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  integration-tests/kubernetes/quarkus-standard-way-kafka/src/test/java/io/quarkus/it/kubernetes/kafka/BasicOpenshiftTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/BasicOpenshiftTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithDeploymentResourceTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithLocalDockerAndDeploymentResourceTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithLocalDockerTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-deployment-resource.properties
Labels: triage/waiting-for-ci, area/kubernetes, triage/backport?

#23334 Bump GraalVM / Mandrel version to 22.0
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  independent-projects/bootstrap/pom.xml
Labels: area/core, area/dependencies, area/devtools

#23339 Remove now unused GraalVM check in generated bytecode
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
Labels: area/core, triage/waiting-for-ci

#23337 Bump GraalVM / Mandrel version to 21.3.1
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/bootstrap/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/devtools

#23319 Document OpenTelemetry @WithSpan
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation

#23344 Fix JibConfig platforms javadoc
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
Labels: triage/backport?

#23332 Add manifest configuration in build mojo/task
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/dsl/Manifest.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  devtools/maven/src/main/java/io/quarkus/maven/components/ManifestSection.java
  integration-tests/gradle/src/main/resources/custom-config-java-module/build.gradle
  integration-tests/gradle/src/main/resources/custom-config-java-module/src/main/resources/application.properties
  integration-tests/gradle/src/test/java/io/quarkus/gradle/CustomManifestArgumentsTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/custom-manifest-attributes/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/custom-manifest-attributes/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/custom-manifest-attributes/src/main/resources/application.properties
Labels: area/gradle, area/maven, area/devtools

#23333 ArC - fix disposer method resolution
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/producer/disposer/DisposerTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#23280 Configurable Telemetry for static resources
  extensions/opentelemetry/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/DropNonApplicationUrisBuildItem.java
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/DropStaticResourcesBuildItem.java
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/DropNamesSampler.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/NonApplicationEndpointSampler.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRuntimeConfig.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtil.java
  extensions/vertx-http/deployment-spi/src/main/java/io/quarkus/vertx/http/deployment/spi/StaticResourcesBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/StaticResourcesProcessor.java
  integration-tests/opentelemetry/src/main/resources/META-INF/resources/test.html
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/StaticResourceTest.java
Labels: area/vertx, area/tracing

#23347 Fix Javadoc of @ServerRequestFilter
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerRequestFilter.java
Labels: triage/backport?

#23345 Properly log InvalidDefinitionException exception in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/mappers/NativeInvalidDefinitionExceptionMapper.java
Labels: area/resteasy-reactive, triage/backport?

#23210 Add oidc-token-propagation-reactive extension
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  extensions/oidc-token-propagation-reactive/deployment/pom.xml
  extensions/oidc-token-propagation-reactive/deployment/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveBuildStep.java
  extensions/oidc-token-propagation-reactive/deployment/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveBuildTimeConfig.java
  extensions/oidc-token-propagation-reactive/pom.xml
  extensions/oidc-token-propagation-reactive/runtime/pom.xml
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenRequestReactiveFilter.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/oidc-token-propagation-reactive/pom.xml
  integration-tests/oidc-token-propagation-reactive/src/main/java/io/quarkus/it/keycloak/AccessTokenPropagationService.java
  integration-tests/oidc-token-propagation-reactive/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-token-propagation-reactive/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-token-propagation-reactive/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-token-propagation-reactive/src/main/java/io/quarkus/it/keycloak/ServiceWithoutToken.java
  integration-tests/oidc-token-propagation-reactive/src/main/resources/application.properties
  integration-tests/oidc-token-propagation-reactive/src/test/java/io/quarkus/it/keycloak/OidcTokenReactivePropagationITCase.java
  integration-tests/oidc-token-propagation-reactive/src/test/java/io/quarkus/it/keycloak/OidcTokenReactivePropagationTest.java
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/core, area/dependencies, area/devtools, triage/backport?

#23357 Handle configured parent first resources
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/maven, area/devtools, triage/backport?

#23171 Allow to disable contextual error messages in reactive rest client
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ContextualErrorMessagesConfigTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ContextualErrorMessagesTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/api/QuarkusRestClientProperties.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: area/resteasy-reactive

#23367 Trim OpenTelemetry config endpoints
  extensions/opentelemetry/opentelemetry-exporter-jaeger/runtime/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/runtime/JaegerExporterConfig.java
  extensions/opentelemetry/opentelemetry-exporter-otlp/deployment/src/test/java/io/quarkus/opentelemetry/exporter/otlp/deployment/OtlpExporterConfigTest.java
  extensions/opentelemetry/opentelemetry-exporter-otlp/runtime/src/main/java/io/quarkus/opentelemetry/exporter/otlp/runtime/OtlpExporterConfig.java
Labels: area/tracing, triage/backport?

#23368 Improved OpenTelemetry Resource attributes test
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryResourceTest.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/resources/resource-config/application.properties
Labels: area/tracing

#23372 Use Java 11 Process redirect discard instead of custom null file
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
Labels: area/core, triage/waiting-for-ci

#23380 Various adjustments for JReleaser
  devtools/cli/distribution/jreleaser.yml
  devtools/cli/distribution/release-cli.sh
Labels: area/devtools, area/cli, triage/backport?

#23369 Move Funqy GCP function support to preview
  docs/src/main/asciidoc/funqy-gcp-functions-http.adoc
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
  extensions/funqy/funqy-google-cloud-functions/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/funqy

#23330 Allow qute tags with ".qute" prefixed extension
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/tag/UserTagWithQuteExtensionIncludeTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#23390 Make picocli extension stable
  docs/src/main/asciidoc/picocli.adoc
  extensions/picocli/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/picocli, triage/backport?

#23377 Qute - improve validation of insert sections
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/include/InsertTagConflictTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/InsertSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IncludeTest.java
Labels: area/qute

#23381 CapturingInputStream discards -1 from delegate read
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/test/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandlerTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/form/FormUrlencodedCorruptionTest.java
Labels: triage/waiting-for-ci, triage/backport?

#23389 Remove Gradle preview warning from documentation
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation, triage/backport?

#23388 Make resteasy-qute extension stable
  extensions/resteasy-classic/resteasy-qute/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: triage/backport?

#23398 Fix documentation of ClientExceptionMapper
  docs/src/main/asciidoc/rest-client-reactive.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#23401 Properly take @ClientExceptionMapper priority into account
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/ClientExceptionMapperHandler.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/error/clientexceptionmapper/RegisteredClientExceptionMapperTest.java
Labels: area/resteasy-reactive, triage/backport?

#23397 Use the correct context for RR
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: triage/backport?

#23408 Stork guide is missing the status properties
  docs/src/main/asciidoc/stork.adoc
Labels: area/documentation, triage/backport?

#23412 Gradle: clear reloadable flag for extension dependencies
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
Labels: area/gradle, area/devtools, triage/backport?

#23414 Resolve the model with the mojo-provided forced dependencies
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
Labels: area/maven, area/devtools

#23421 Do not force mp.jwt.verify.publickey.location to be a build time property
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/PublicKeyLocationBuildTimeConfigSourceFactory.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/PublicKeyLocationConfigTest.java
Labels: area/smallrye, triage/backport?

#23415 Fix incorrect image tag in native reference guide
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, triage/backport?

#23350 Update SmallRye OpenTracing to 2.1.0
  bom/application/pom.xml
  extensions/smallrye-opentracing/deployment/src/main/java/io/quarkus/smallrye/opentracing/deployment/SmallRyeOpenTracingProcessor.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/QuarkusSmallRyeTracingDynamicFeature.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/QuarkusSmallRyeTracingStandaloneContainerResponseFilter.java
  extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/QuarkusSmallRyeTracingStandaloneVertxDynamicFeature.java
Labels: area/smallrye, area/dependencies, area/tracing

#23374 Generate gRPC code from dependencies
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenContext.java
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  devtools/maven/src/main/java/io/quarkus/maven/GenerateCodeMojo.java
  docs/src/main/asciidoc/grpc-getting-started.adoc
  extensions/grpc/codegen/src/main/java/io/quarkus/grpc/deployment/GrpcCodeGen.java
  extensions/grpc/deployment/pom.xml
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/devmode/DevModeService.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/devmode/DevModeServiceCallingResource.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/devmode/GrpcDevModeTest.java
  extensions/grpc/deployment/src/test/proto/devmodetest.proto
  extensions/grpc/deployment/src/test/resources/dev-mode.properties
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcCodeGenConfig.java
  integration-tests/grpc-external-proto-test/disable-native-profile
  integration-tests/grpc-external-proto-test/pom.xml
  integration-tests/grpc-external-proto-test/src/main/java/io/quarkus/grpc/external/proto/MyGrpcService.java
  integration-tests/grpc-external-proto-test/src/main/resources/application.properties
  integration-tests/grpc-external-proto-test/src/test/java/io/quarkus/grpc/external/proto/ExternalProtoTest.java
  integration-tests/grpc-external-proto/disable-unbind-executions
  integration-tests/grpc-external-proto/pom.xml
  integration-tests/grpc-external-proto/src/main/resources/dir/my-proto.proto
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/gradle, area/core, area/maven, area/devtools, area/grpc

#23402 Consider build time conditions when determining the JAX-RS Application class
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/MultipleApplicationClassesWithBuildProfileTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
Labels: area/resteasy-reactive, triage/backport?

#23424 Deprecate CopyVertxContextDataBuildItem and related cleanup as it's no longer used
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/CopyVertxContextDataBuildItem.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxRequestContextFactory.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/vertx, triage/waiting-for-ci, area/resteasy-reactive

#23422 Initialize defaultCatalog and defaultSchema in Hibernate ORM config
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
Labels: area/persistence, area/hibernate-orm, triage/backport?

#23431 Small fix for non-existing openapi additional folder
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiEmptyStaticModelsTestCase.java
Labels: area/smallrye, area/openapi, triage/backport?

#23428 Database image tag alignments and updates in context of devservices
  build-parent/pom.xml
  extensions/devservices/common/pom.xml
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ConfigureUtil.java
  extensions/devservices/common/src/main/resources/devservices.properties
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/db2/src/main/resources/db2-devservice.properties
  extensions/devservices/mariadb/pom.xml
  extensions/devservices/mariadb/src/main/resources/mariadb-devservice.properties
  extensions/devservices/mssql/pom.xml
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mssql/src/main/resources/mssql-devservice.properties
  extensions/devservices/mysql/pom.xml
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/resources/mysql-devservice.properties
  extensions/devservices/oracle/pom.xml
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/pom.xml
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/resources/postgresql-devservice.properties
  extensions/jdbc/jdbc-db2/deployment/pom.xml
  extensions/jdbc/jdbc-db2/deployment/src/test/resources/container-license-acceptance.txt
  extensions/jdbc/jdbc-mssql/deployment/pom.xml
  extensions/jdbc/jdbc-mssql/deployment/src/test/resources/container-license-acceptance.txt
  extensions/reactive-mssql-client/deployment/src/test/resources/container-license-acceptance.txt
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-db2/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-db2/src/test/resources/container-license-acceptance.txt
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-mssql/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-mssql/src/test/resources/container-license-acceptance.txt
  integration-tests/jpa-mysql/pom.xml
  integration-tests/jpa-oracle/README.md
  integration-tests/reactive-oracle-client/README.md
Labels: area/persistence, area/hibernate-orm, area/dependencies, area/reactive-sql-clients

#23274 Process OIDC code query param only if the state cookie exists
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource3.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantHttps.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#23090 Inject "annotations" and "genericType" in ParamConverterProvider
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/ClassRestClientContext.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveEnricher.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/java/io/quarkus/jaxrs/client/reactive/runtime/RestClientBase.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/MicroProfileRestClientEnricher.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/converter/ParamConverterProviderTest.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/Param.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ParamClient.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ParamConverter.java
  integration-tests/rest-client-reactive/src/main/resources/application.properties
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: area/resteasy-reactive, triage/backport?

#23443 Remove now unused GraalVM dependency from AWS Lambda REST
  extensions/amazon-lambda-rest/runtime/pom.xml
Labels: area/amazon-lambda

#23444 Remove now unused Apache HTTP Client dependency from AWS Lambda REST
  extensions/amazon-lambda-rest/deployment/pom.xml
  extensions/amazon-lambda-rest/runtime/pom.xml
Labels: area/amazon-lambda

#23446 Rollback to use runtime for jib
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: triage/backport?

#23436 Allow to invalidate ContextState of shareable CDI context and make use of it in ArcContextProvider
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/context/ArcContextProvider.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ManagedContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#23463 Add a `useCurrentTimestamp` flag for Jib
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: triage/waiting-for-ci

#23464 Fix various Files.list resource leaks
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/webjars-locator/deployment/src/main/java/io/quarkus/webjar/locator/deployment/WebJarLocatorStandaloneBuildStep.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryCache.java
Labels: area/smallrye, area/openapi, area/platform, area/qute, area/devtools, triage/backport?

#23468 Improve CT error handling
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/ModuleTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
Labels: area/core, triage/backport?

#23340 Strimzi test container for Kafka Dev Services
  bom/application/pom.xml
  bom/test/pom.xml
  docs/src/main/asciidoc/kafka-dev-services.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/kafka-client/deployment/pom.xml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/RedPandaKafkaContainer.java
  integration-tests/kafka-avro-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaAndSchemaRegistryTestResource.java
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaAndSchemaRegistryTestResource.java
  integration-tests/kafka-oauth-keycloak/src/test/java/io/quarkus/it/kafka/KafkaKeycloakTestResource.java
  integration-tests/kafka-oauth-keycloak/src/test/java/io/quarkus/it/kafka/containers/KafkaContainer.java
  integration-tests/kafka-sasl-elytron/src/test/java/io/quarkus/it/kafka/KafkaSaslTestResource.java
  integration-tests/kafka-sasl-elytron/src/test/java/io/quarkus/it/kafka/containers/KafkaContainer.java
  integration-tests/kafka-sasl-elytron/src/test/resources/client.keytab
  integration-tests/kafka-sasl-elytron/src/test/resources/kafkabroker.keytab
  integration-tests/kafka-sasl/src/test/java/io/quarkus/it/kafka/KafkaSASLTestResource.java
  integration-tests/kafka-snappy/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
  integration-tests/kafka-ssl/src/test/java/io/quarkus/it/kafka/KafkaSSLTestResource.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaSSLTestResource.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/KafkaTestResource.kt
Labels: area/documentation, area/kafka-streams, area/kafka, area/dependencies

#22483 Resolve HttpCredentialTransport dynamically
  docs/src/main/asciidoc/security-customization.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/AbstractOidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/TokenRealmUnitTest.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMechanism.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/BasicAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpCredentialTransport.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/MtlsAuthenticationMechanism.java
  integration-tests/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/smallrye-jwt-oidc-webapp/src/main/resources/application.properties
  integration-tests/smallrye-jwt-oidc-webapp/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/smallrye-jwt-oidc-webapp/src/test/java/io/quarkus/it/keycloak/SmallRyeJwtOidcWebAppInGraalITCase.java
  integration-tests/smallrye-jwt-oidc-webapp/src/test/java/io/quarkus/it/keycloak/SmallRyeJwtOidcWebAppTest.java
Labels: area/documentation, area/smallrye, area/vertx, triage/requires-stuart, area/oidc

#23475 Consistent structure in the jdbc deployment pom.xml files
  extensions/jdbc/jdbc-db2/deployment/pom.xml
  extensions/jdbc/jdbc-mariadb/deployment/pom.xml
  extensions/jdbc/jdbc-mssql/deployment/pom.xml
  extensions/jdbc/jdbc-mysql/deployment/pom.xml
  extensions/jdbc/jdbc-postgresql/deployment/pom.xml
Labels: area/persistence

#23441 ArC - register client proxies and subclasses for reflection if needed
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ReflectiveBeanClassBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ReflectiveBeanClassesProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ReflectionRegistration.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ResourceOutput.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  integration-tests/main/src/main/java/io/quarkus/it/arc/IntercepredNormalScopedFoo.java
  integration-tests/main/src/main/java/io/quarkus/it/arc/ReflectiveBeanEndpoint.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ReflectiveBeanITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ReflectiveBeanTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#23472 Properly handle void return type in REST Client Reactive
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/VoidReturnTypeTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientResponseCompleteRestHandler.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#23298 Detect when the app is reading input
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleHelper.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
Labels: area/core, triage/backport?

#23490 More tabs work
  docs/src/main/asciidoc/includes/devtools/prerequisites.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/opentracing.adoc
  docs/src/main/asciidoc/optaplanner.adoc
  docs/src/main/asciidoc/quartz.adoc
  docs/src/main/asciidoc/qute.adoc
  docs/src/main/asciidoc/rabbitmq.adoc
  docs/src/main/asciidoc/reactive-event-bus.adoc
  docs/src/main/asciidoc/reactive-routes.adoc
  docs/src/main/asciidoc/redis.adoc
  docs/src/main/asciidoc/rest-client-multipart.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/rest-client.adoc
  docs/src/main/asciidoc/rest-data-panache.adoc
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/scheduler.adoc
  docs/src/main/asciidoc/scripting.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-jdbc.adoc
Labels: area/documentation, triage/backport?

#23470 Fix JBang defined class Dev UI linking
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
Labels: area/vertx, triage/backport?

#23447 Better error messages for not resolved platforms
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/tools/ToolsUtils.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/RegistryExtensionResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenPlatformExtensionsResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistryQuarkusVersionsConfig.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistryQuarkusVersionsConfigImpl.java
Labels: area/maven, area/platform, area/devtools, triage/backport?

#23494 2.7.1 backports 4
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleHelper.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/QuarkusConsole.java
  docs/src/main/asciidoc/container-image.adoc
  docs/src/main/asciidoc/includes/devtools/prerequisites.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/opentracing.adoc
  docs/src/main/asciidoc/optaplanner.adoc
  docs/src/main/asciidoc/quartz.adoc
  docs/src/main/asciidoc/qute.adoc
  docs/src/main/asciidoc/rabbitmq.adoc
  docs/src/main/asciidoc/reactive-event-bus.adoc
  docs/src/main/asciidoc/reactive-routes.adoc
  docs/src/main/asciidoc/redis.adoc
  docs/src/main/asciidoc/rest-client-multipart.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/rest-client.adoc
  docs/src/main/asciidoc/rest-data-panache.adoc
  docs/src/main/asciidoc/rest-json.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/scheduler.adoc
  docs/src/main/asciidoc/scripting.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-jdbc.adoc
Labels: area/documentation, area/core, area/infra

#23493 Fix incorrect configuration property in buildpack documentation
  docs/src/main/asciidoc/container-image.adoc
Labels: area/documentation

#23473 Type-safe message bundles - add a missing validation for localized files
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/LocalizedBundleDefaultLocaleConflictTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/LocalizedBundleLocaleConflictTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/LocalizedFileBundleLocaleConflictTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/LocalizedFileDefaultLocaleConflictTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/i18n/MessageBundles.java
Labels: area/qute

#23504 Avoid considering Kotlin.Unit as a return type
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/CoroutineInvocationHandler.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResourceTest.kt
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#23509 Typo in native reference guide
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation

#23508 Lazily create gradle nativeTest task
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, triage/waiting-for-ci, area/devtools, triage/backport?

#23513 Add RoutingContext attribute to JWT SecurityIdentity
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/CustomSecurityIdentityAugmentor.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/DefaultGroupsEndpoint.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/DefaultGroupsUnitTest.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java
Labels: area/smallrye

#23514 Use docker cli instead of podman inside the native reference guide
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, triage/backport?

#23512 Make sure classpath resource name being looked up has / as a separator
  core/runtime/src/main/java/io/quarkus/runtime/util/ClassPathUtils.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcSslUtils.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/VertxSpringCloudConfigGateway.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  integration-tests/bouncycastle-fips-jsse/src/test/java/io/quarkus/it/bouncycastle/BouncyCastleFipsJsseTestCase.java
Labels: area/core, area/infinispan, area/smallrye, area/vertx, area/openapi, area/spring, area/grpc, triage/backport?

#23524 Fix await condition in DevConsoleUnaryMethodTest
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/devconsole/DevConsoleUnaryMethodTest.java
Labels: area/grpc

#23502 Properly determine return type in RESTEasy Reactive methods
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/FileResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/FileTestCase.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/types/TypeSignatureParser.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
Labels: area/resteasy-reactive, triage/backport?

#23526 Fix minor spelling mistake when logging errors
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#23516 Fix OidcClient not to lose a public client id
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/KeycloakRealmUserPasswordManager.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcClientUserPasswordTestCase.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcPublicClientResource.java
  extensions/oidc-client/deployment/src/test/resources/application-oidc-client-user-password.properties
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
Labels: triage/backport?

#23086 Select OIDC tenant using annotations
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/HrInterceptor.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/HrTenant.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/TenantEchoResource.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
Labels: area/documentation, area/oidc

#23530 Revert "Upgrade mariadb-java-client from 2.7.5 to 3.0.3"
  bom/application/pom.xml
  extensions/jdbc/jdbc-mariadb/deployment/src/main/java/io/quarkus/jdbc/mariadb/deployment/JDBCMariaDBProcessor.java
  extensions/jdbc/jdbc-mariadb/deployment/src/main/java/io/quarkus/jdbc/mariadb/deployment/MariaDBJDBCReflections.java
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/AuthenticationPluginLoader_Substitutions.java
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/Pool_disable_JMX.java
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/SendPamAuthPacket_Removal.java
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/SendPamAuthPacket_Substitutions.java
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/SharedMemorySocket_Removal.java
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/SimpleSocketHandlerFunction.java
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/SocketUtility_Substitutions.java
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/Utils_socketHandler.java
Labels: triage/waiting-for-ci, area/dependencies

#23543 Allow users to specify the container network for integration tests
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/core, triage/waiting-for-ci, area/testing, triage/backport?

#23556 Always use runtime config in schema management features
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/schema/SchemaManagementIntegrator.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm

#23503 Fix param converter processing in Resteasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/MapWithParamConverterTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#23571 Apply minor fixes to Panache ORM doc
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
Labels: area/documentation, triage/backport?

#23522 Bump gradle version to 7.4
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#23542 Remove printing of thread id from DiagnosticPrinter
  core/runtime/src/main/java/io/quarkus/runtime/graal/DiagnosticPrinter.java
Labels: area/core

#23557 Update OIDC DefaultTokenStateManager to support the token encryption
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/documentation, area/oidc

#23587 Upgrade to Hibernate Search 6.1.1.Final
  bom/application/pom.xml
Labels: area/dependencies

#23572 Small Dev UI Fixes
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/ide/Ide.java
  core/deployment/src/main/java/io/quarkus/deployment/ide/IdeProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/spi/HotReplacementContext.java
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/logstream.js
Labels: area/core, area/vertx, triage/waiting-for-ci, triage/backport?

#23564 Speedup test executions & Save the planet
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: kind/enhancement, area/vertx

#23575 Use nesting for Kafka config auto.offset.reset in Reactive Messaging codestart
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/reactive-messaging-codestart/base/src/main/resources/application.tpl.qute.yml
Labels: area/devtools, triage/backport?

#23583 Upgrade Hibernate Reactive to 1.1.3.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#23598 Fix issue with fast-jar loading of top-level directories
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
  integration-tests/maven/src/test/resources-filtered/projects/classic/src/main/java/org/acme/ClasspathResources.java
  integration-tests/maven/src/test/resources-filtered/projects/classic/src/main/resources/assets/test.txt
Labels: area/maven, area/devtools

#23614 Document edge case about nested buildpack builds
  docs/src/main/asciidoc/container-image.adoc
Labels: area/documentation, triage/waiting-for-ci

#23611 Mongodb update with document
  docs/src/main/asciidoc/mongodb-panache.adoc
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/PanacheUpdate.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/ReactivePanacheUpdate.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/runtime/ReactiveMongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/runtime/ReactivePanacheUpdateImpl.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/MongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/PanacheUpdateImpl.java
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoCompanion.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoRepositoryBase.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheMongoCompanion.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheMongoRepositoryBase.kt
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoRepositoryBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/ReactivePanacheMongoEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/ReactivePanacheMongoRepositoryBase.java
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/test/TestImperativeEntity.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/test/TestReactiveEntity.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/test/TestResource.kt
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/test/TestResource.java
Labels: area/documentation, area/panache, area/mongodb

#23601 Update to SmallRye Fault Tolerance 5.3.1
  bom/application/pom.xml
  docs/src/main/asciidoc/smallrye-fault-tolerance.adoc
Labels: area/documentation, triage/waiting-for-ci, area/dependencies

#23619 Merge multiple Gradle project classes dirs into one for quarkusDev
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGradleUtils.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ArtifactCoords.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/GACT.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/MultiSourceProjectDevModeTest.java
Labels: area/gradle, triage/waiting-for-ci, area/devtools, triage/backport?

#23607 Execute gRPC request processing on duplicated contexts
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/AssertHelper.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/BlockingMutinyTestService.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/BlockingTestService.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/BlockingServerInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/context/GrpcDuplicatedContextGrpcInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/context/GrpcRequestContextGrpcInterceptor.java
Labels: area/grpc

#23628 Use more ConfigSources in `BasicLoggingEnabler` and make sure to set `LaunchMode.TEST`
  test-framework/junit5/src/main/java/io/quarkus/test/junit/BasicLoggingEnabler.java
Labels: area/testing, triage/backport?

#23638 Fix typo in JSON snippet
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation

#23641 Update netty to version 4.1.74
  bom/application/pom.xml
Labels: area/dependencies

#23620 Register MongoDB UpdateDescription for reflection
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
Labels: triage/waiting-for-ci, area/mongodb, triage/backport?

#23615 Fixes LRA annotation in docs
  docs/src/main/asciidoc/lra.adoc
Labels: area/documentation, triage/waiting-for-ci

#23610 Register missing Jaeger classes for reflection
  extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java
Labels: area/jaeger, triage/backport?

#23650 Register RESTEasy's ConfigurationFactory impls in GraalVM
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
Labels: triage/backport?

#23648 Enabled effective POM builder for quarkus:info/update
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusProjectStateMojoBase.java
Labels: area/maven, area/devtools, triage/backport?

#23636 Dev UI Devservices screen update
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/config.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/dev-services.html
Labels: area/vertx

#23653 Fix Maven warning caused by oidc-deployment
  extensions/oidc/deployment/pom.xml
Labels: triage/waiting-for-ci, area/oidc

#23654 Add ability to control server backlog
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/IncompletePostTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx

#23570 Move to dekorate 2.9.0
  bom/application/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddRoleResourceDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
Labels: area/kubernetes, area/dependencies, triage/backport?

#23658 Fix typo in Quarkus-cli documentation example
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation

#23659 Add Stork to bot configuration
  .github/quarkus-bot.yml
Labels: area/infra-automation

#23633 Update SmallRye Config to 2.9.0
  bom/application/pom.xml
Labels: area/dependencies

#23664 Make JSON exporter's route blocking
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/JsonRegistryProcessor.java
Labels: area/metrics, triage/backport?

#23663 Fix mixup between getFireTime & getScheduledFireTime in QuartzScheduler
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
Labels: area/scheduler, triage/waiting-for-ci, triage/backport?

#23670 Update working directory for Jib created images
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: triage/backport?

#23624 Update Security NVD doc section
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, triage/backport?

#23666 Add the ability to specify additional exposed ports for @QuarkusIntegrationTest
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DockerContainerArtifactLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
Labels: area/core, triage/waiting-for-ci, area/testing

#23671 Add missing file extension invoking JBang
  docs/src/main/asciidoc/scripting.adoc
Labels: area/documentation, triage/backport?

#23675 Ignore if stdin wasn't initialized yet
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#23419 Register kotlin reflection information for native image builds
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinProcessor.java
  integration-tests/kotlin-serialization/src/main/kotlin/io/quarkus/it/kotser/GreetingResource.kt
  integration-tests/kotlin-serialization/src/test/kotlin/io/quarkus/it/kotser/ResourceTest.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResourceTest.kt
Labels: area/kotlin, area/infra-automation, triage/backport?

#23705 Move LRA to separate rule for title notifications
  .github/quarkus-bot.yml
Labels: area/infra-automation

#23706 SmallRye GraphQL 1.4.3
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/GraphQLClientConfigurationTest.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfig.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLSubscriptionHandler.java
Labels: area/smallrye, area/dependencies, area/graphql, triage/backport?

#23710 Guard against RouteBuildItem$Builder.routeFunction not being set
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/RouteBuildItem.java
Labels: area/vertx, triage/waiting-for-ci

#23709 Bump microprofile-metrics to 3.0.1
  bom/application/pom.xml
  tcks/microprofile-metrics/pom.xml
Labels: triage/waiting-for-ci, triage/backport?

#23669 Add support for duplicated context for reactive routes and @ConsumeEvent
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/context/DuplicatedContextTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/DuplicatedContextTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
Labels: area/vertx

#23703 Bump Gson from 2.8.6 to 2.9.0
  .github/dependabot.yml
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/infra-automation

#23733 Smallrye RM 3.14.0 with Kafka Companion test resource
  bom/application/pom.xml
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/smallrye-kafka-outgoing.adoc
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/ApicurioRegistryDevServicesBuildTimeConfig.java
  extensions/apicurio-registry-avro/deployment/src/main/java/io/quarkus/apicurio/registry/avro/DevServicesApicurioRegistryProcessor.java
  integration-tests/kafka-avro/pom.xml
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaAndSchemaRegistryTestResource.java
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaAvroTest.java
  integration-tests/kafka/pom.xml
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaCodecTest.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaConsumerTest.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaProducerTest.java
  integration-tests/kafka/src/test/java/io/quarkus/it/kafka/KafkaTestResource.java
  test-framework/kafka-companion/pom.xml
  test-framework/kafka-companion/src/main/java/io/quarkus/test/kafka/InjectKafkaCompanion.java
  test-framework/kafka-companion/src/main/java/io/quarkus/test/kafka/InjectKafkaProxy.java
  test-framework/kafka-companion/src/main/java/io/quarkus/test/kafka/KafkaCompanionResource.java
  test-framework/kafka-companion/src/main/java/io/quarkus/test/kafka/ProxiedKafkaCompanionResource.java
  test-framework/pom.xml
Labels: area/documentation, area/testing, area/kafka, area/dependencies

#23745 Prevent SubResources from causing a NPE
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveDevModeProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/devmode/SubResourceDevModeTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#23725 Qute type-safe expressions - ignore wildcards in parameter declarations
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeInfos.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Types.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/CheckedTemplatePrimitiveTypeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/MovieExtensions.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ValidationSuccessTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/extensions/CollectionTemplateExtensions.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Scope.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ScopeTest.java
Labels: area/documentation, area/arc, area/qute

#23741 Initialize Stork after synthetic beans
  extensions/smallrye-stork/deployment/pom.xml
  extensions/smallrye-stork/deployment/src/main/java/io/quarkus/stork/deployment/SmallRyeStorkProcessor.java
  extensions/smallrye-stork/runtime/pom.xml
Labels: triage/backport?

#23747 Disable flaky testThatBlockingRoutesAreCalledOnDuplicatedContext
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/context/DuplicatedContextTest.java
Labels: area/infra

#23721 Fix RestClientListener discovery for Reactive REST Client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/RestClientListenerTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/TestRestClientListener.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientListeners.java
Labels: area/resteasy-reactive, triage/backport?

#23686 Manage Guava without findbugs and listenablefuture, make sure they do
  core/deployment/pom.xml
  devtools/maven/pom.xml
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/pom.xml
Labels: area/core, area/maven, area/devtools, triage/backport?

#23702 Fix gRPC blocking context
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/BlockingExecutionHandler.java
Labels: area/grpc

#23712 Fix setting of JAEGER_SAMPLER_MANAGER_HOST_PORT system property
  extensions/jaeger/deployment/src/test/java/io/quarkus/jaeger/test/SamplerManagerConfigurationTest.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerDeploymentRecorder.java
Labels: area/jaeger

#23691 Exclude some more JTA API variations
  extensions/narayana-jta/runtime/pom.xml
Labels: area/narayana

#23731 Add support for duplicated context in the gRPC clients
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/MutinyClientInjectionTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/MutinyStubInjectionTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/IOThreadClientInterceptor.java
Labels: area/grpc

#23768 Fixed typo in stork-reference.adoc
  docs/src/main/asciidoc/stork-reference.adoc
Labels: area/documentation

#23770 Document how to change the registry URL
  docs/src/main/asciidoc/extension-registry-user.adoc
Labels: area/documentation, triage/backport?

#23687 Fixed broken link in mongodb-panache.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation, triage/backport?

#23751 Qute message bundles - fix validation of message parameters mappings
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/Item.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleExpressionValidationTest.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#23662 Move all MongoDB Panache common classes to the common root package
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/binder/CommonQueryBinder.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/binder/MongoParserVisitor.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/binder/NativeQueryBinder.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/binder/PanacheQlQueryBinder.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/jackson/ObjectIdDeserializer.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/jackson/ObjectIdSerializer.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/jsonb/ObjectIdDeserializer.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/jsonb/ObjectIdSerializer.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/runtime/ReactiveMongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/MongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/transaction/MongoTransactionException.java
Labels: area/panache

#23704 Fix NoSuchMethodError when Temporal is used with @BeanParam
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/LocalDateParamConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/LocalDateTimeParamConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/LocalTimeParamConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/OffsetDateTimeParamConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/OffsetTimeParamConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/ZonedDateTimeParamConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ParameterHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/BeanParamWithLocalDateTimeTest.java
Labels: triage/backport?

#23778 Document toggle for disabling K8s version label generation
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#23717 Document Cloud Functions gen2 and Cloud Events support
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
  docs/src/main/asciidoc/gcp-functions-http.adoc
  docs/src/main/asciidoc/gcp-functions.adoc
Labels: area/documentation

#23754 Elasticsearch guide fixes
  docs/src/main/asciidoc/elasticsearch.adoc
Labels: area/documentation, triage/backport?

#23779 Stork documentation improvements
  docs/src/main/asciidoc/stork-reference.adoc
Labels: area/documentation, triage/backport?

#23775 Don't resolve the identity for @PermitAll
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/LazyAuthPermitAllJaxRsTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/LazyAuthPermitAllJaxRsTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/PermitAllBlockingResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/SecurityCheck.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/SecurityConstrainer.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/check/PermitAllCheck.java
Labels: area/security, area/resteasy-reactive
