Repository quarkusio/quarkus, pull requests merged in 2022-11, with the labels that each got.

#28939 Warn about usage of Quarkus#blockingExit on the main thread
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test, triage/backport-2.13?, triage/backport?

#28952 Fix NPE in Hibernate Search devconsole
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchDevConsoleRecorder.java
Labels: triage/waiting-for-ci, area/hibernate-search, triage/backport-2.13?, triage/backport?

#28978 Provide the ability to customize Kotlin Serialization Json bean
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/common/deployment/KotlinSerializationCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/src/test/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/common/BasicTest.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/src/test/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/common/CustomBeanTest.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/src/test/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/common/Greeting.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/src/test/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/common/JsonBuilderCustomizerTest.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/src/test/resources/basic.properties
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/common/JsonBuilderCustomizer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/common/runtime/JsonProducer.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/common/runtime/KotlinSerializerRecorder.kt
Labels: area/resteasy-reactive

#28983 Fix a link to Getting Started with Security doc
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, triage/backport-2.13?, triage/backport?

#28967 Use failure handlers for security exceptions before JAX-RS chain starts
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesProcessor.java
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/failure/AuthCompletionExceptionHandlerTest.java
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/ProactiveAuthCompletionExceptionHandlerTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/ProactiveAuthCompletionExceptionHandlerTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/EnabledProactiveAuthFailedExceptionHandlerTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/documentation, area/smallrye, area/vertx, area/resteasy-reactive

#28985 Prevent https://bugs.openjdk.org/browse/JDK-8180450 for RESTEasy Reactive code
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/test/java/io/quarkus/resteasy/reactive/runtime/mapping/RequestMapperTestCase.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/Deployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeMappingDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResourceLocatorHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#28988 Prevent NPE in IDEDevModeMain
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/devmode/DependenciesFilter.java
Labels: area/devtools, triage/backport-2.13?, triage/backport?

#28990 2.14.0 backports 2
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
  devtools/cli/distribution/release-cli.sh
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/security.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcDevModeConfig.java
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchDevConsoleRecorder.java
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ContainerRequestContextTest.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/devmode/DependenciesFilter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/injection/ContextProducers.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleArcSmokeTest.java
Labels: area/documentation, area/core, area/arc, area/infra, area/hibernate-search, area/dependencies, area/devtools, area/cli, area/resteasy-reactive, area/jackson

#28963 Add mkouba to quarkus-github-lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#28949 Add datasource label to DB DevServices
  docs/src/main/asciidoc/databases-dev-services.adoc
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/Labels.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
Labels: area/documentation, area/devservices

#28998 Add jmartisk to the lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#28573 Support synthetic fields to be linked by resteasy reactive links
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/RestLinksInjectionTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/TestResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/runtime/RestLinksProviderImpl.java
Labels: area/documentation, area/resteasy-reactive

#28820 Apply additional JAX-RS security only for endpoints and not all resource methods
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/RestPathAnnotationProcessor.java
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyBuiltinsProcessor.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/DefaultRolesAllowedJaxRsTest.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/DenyAllJaxRsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/DefaultRolesAllowedJaxRsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/DenyAllJaxRsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/HelloResource.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/AdditionalDenyingUnannotatedTransformer.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/AdditionalRolesAllowedTransformer.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/AdditionalSecuredClassesBuildItem.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/AdditionalSecuredMethodsBuildItem.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: area/security, area/resteasy-reactive

#28980 add maxandersen to lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#29001 Add geoand to lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#29007 Update Quarkus icons for IntelliJ
  .idea/icon.png
  .idea/icon_dark.png
Labels: triage/waiting-for-ci

#29004 2.13.4 backports 3
  .github/workflows/ci-actions-incremental.yml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/JPMSExportBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
  devtools/cli/distribution/release-cli.sh
  docs/pom.xml
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/kotlin.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/native-reference.adoc
  docs/src/main/asciidoc/security.adoc
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchDevConsoleRecorder.java
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/devmode/DependenciesFilter.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RegisterForReflectionITCase.java
Labels: area/documentation, area/core, area/infra, area/hibernate-search, area/dependencies, area/devtools, area/infra-automation, area/cli, area/jackson

#29003 Apply minor polish to manualStart code
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#29009 Propagate the javax.annotation.security annotations in REST Data
  docs/src/main/asciidoc/rest-data-panache.adoc
  docs/src/main/asciidoc/security.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/AbstractEntity.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/AbstractItem.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/Collection.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/CollectionsRepository.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/CollectionsResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/EmptyListItem.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/EmptyListItemsRepository.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/EmptyListItemsResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/Item.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/ItemsRepository.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/ItemsResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/openapi/OpenApiIntegrationTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/CollectionsResource.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/AddMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/CountMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/DeleteMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/GetMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/StandardMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UpdateMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/ListHalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/MethodProperties.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourceProperties.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourcePropertiesProvider.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourcePropertiesProvider.java
Labels: area/documentation, area/panache, area/spring

#29011 Make the combination of @JsonView and @SecureField work
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Person.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyWriter.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.13?, triage/backport?

#28987 SubclassGenerator - split initialization of interception metadata
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/limits/LargeBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/limits/SubclassLimitsTest.java
Labels: area/arc, triage/waiting-for-ci

#28974 Quarkiverse: Support release from feature branches
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.yml
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#29021 Docs: FAQ: Lack of entropy could stall build
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation

#29024 Ensure (at extension build time) that @Recorder classes are not final
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/Recorder.java
Labels: area/core, triage/waiting-for-ci

#29006 Tiny perf improvements on the QuarkusClassLoader
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/devtools

#28982 Introduce common abstract superclass for all annotation literals
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralGenerator.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/AnnotationLiteralProcessorTest.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/AbstractAnnotationLiteral.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#29038 Fix typo in RegisterForReflectionBuildStep
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#28861 Update to GraalVM / Mandrel 22.3.0
  .github/workflows/native-cron-build.yml.disabled
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/ConfigurationSubstitutions.java
  docs/pom.xml
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  extensions/jdbc/jdbc-mssql/runtime/src/main/java/io/quarkus/jdbc/mssql/runtime/graal/com/microsoft/sqlserver/jdbc/SQLServerJDBCSubstitutions.java
  independent-projects/bootstrap/pom.xml
Labels: area/documentation, area/core, area/dependencies, area/devtools, area/infra-automation, triage/backport-2.13?, triage/backport?

#29041 Removed unused method call to `PathsUtil#findMainSourcesRoot` in `JibProcessor`
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: triage/waiting-for-ci, area/container-image, triage/backport-2.13?, triage/backport?

#29028 Update to graalvm and mandrel 22.3.0 - 2.13
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/ConfigurationSubstitutions.java
  docs/pom.xml
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/RemoteOnly.java
  extensions/jdbc/jdbc-mssql/runtime/src/main/java/io/quarkus/jdbc/mssql/runtime/graal/com/microsoft/sqlserver/jdbc/SQLServerJDBCSubstitutions.java
  independent-projects/bootstrap/pom.xml
Labels: area/documentation, area/core, area/dependencies, area/devtools

#28959 Bump liquibase.version from 4.16.1 to 4.17.1
  bom/application/pom.xml
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
Labels: area/dependencies, area/liquibase

#29045 Qute - try to avoid type/cache pollution in the EvaluatorImpl
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
Labels: area/qute

#29036 When propagating the duplicated context, drop the request scope
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxCurrentContextFactory.java
Labels: area/vertx, triage/waiting-for-ci

#29037 Prevent possible NPE in OIDC BackChannelLogoutHandler
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
Labels: area/oidc, triage/backport-2.13?, triage/backport?

#29033 Automatically register nested Kotlin classes for reflection
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java
  extensions/kotlin/runtime/pom.xml
Labels: area/core, area/kotlin

#29055 Improve gRPC guide
  docs/src/main/asciidoc/grpc-getting-started.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29053 Update the classloading reference guide to mention fast-jar vs legacy-jar
  core/runtime/pom.xml
  docs/src/main/asciidoc/class-loading-reference.adoc
Labels: area/documentation, area/core, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29048 Updated RunOptions.Semantic option
  docs/src/main/asciidoc/transaction.adoc
Labels: area/documentation

#29044 Prevent https://bugs.openjdk.org/browse/JDK-8180450 for cache code
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/InterceptorBindings.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptionContext.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
Labels: area/arc, area/cache

#29058 Give more time to GelfLogHandlerTest
  integration-tests/logging-gelf/src/test/java/io/quarkus/logging/gelf/it/GelfLogHandlerTest.java
Labels: area/logging

#29057 Give a DuplicatedContextTest a bit more time
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/DuplicatedContextTest.java
Labels: area/vertx

#29056 Fix warning in panache rest data reactive
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheJpaCommonResourceProcessor.java
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheNamedQueryEntityClassBuildStep.java
  extensions/panache/hibernate-reactive-panache-kotlin/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache-kotlin/runtime/pom.xml
  extensions/panache/hibernate-reactive-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheEntityClassBuildItem.java
  extensions/panache/hibernate-reactive-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/hibernate-reactive-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheJpaRepositoryEnhancer.java
  extensions/panache/hibernate-reactive-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/ReactiveJavaJpaTypeBundle.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/Panache.java
Labels: area/panache, triage/waiting-for-ci

#29063 Update BackChannel Logout docs to mention the token age property
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation, triage/backport-2.13?, triage/backport?

#29054 Add RR-common-types to the BOM
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport-2.13?, triage/backport?

#29046 Improve the Infinispan Client documentation with gradle
  docs/src/main/asciidoc/infinispan-client.adoc
Labels: area/documentation, area/infinispan, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29062 H2 embedded: disable support for compiling javascript/groovy triggers
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graalvm/DeleteCompilers.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graalvm/DisableSourceCompiler.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graalvm/NoCompiledTriggersSupport.java
Labels: area/persistence, area/native-image

#28881 Upgrade Hibernate ORM to 5.6.14.Final and ByteBuddy to 1.12.18, add test for HHH-15634
  bom/application/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/lazyloading/AbstractLazyBasicTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/lazyloading/LazyBasicDefaultGroupTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/lazyloading/LazyBasicMultiNonDefaultGroupTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/lazyloading/LazyBasicNonDefaultGroupTest.java
Labels: priority/urgent, area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, triage/backport-2.13?, triage/backport?

#29076 Keycloak admin client classic - use default Quarkus Jackson serializers
  extensions/keycloak-admin-client/deployment/src/main/java/io/quarkus/keycloak/adminclient/deployment/KeycloakAdminClientProcessor.java
  extensions/keycloak-admin-client/runtime/src/main/java/io/quarkus/keycloak/adminclient/ResteasyKeycloakAdminClientRecorder.java
Labels: area/keycloak, triage/backport?

#28960 Relocate all profiles in smallrye.config to quarkus.config
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
Labels: area/core, area/config

#29008 Lock liquibase between validate and update
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
Labels: triage/waiting-for-ci, area/liquibase, triage/backport?

#29022 Docs: Sync the metadata index files, update attributes in doc headers
  docs/pom.xml
  docs/src/main/asciidoc/_attributes-local.adoc
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/_examples/_attributes.adoc
  docs/src/main/asciidoc/_templates/_attributes.adoc
  docs/src/main/asciidoc/amqp-reference.adoc
  docs/src/main/asciidoc/databases-dev-services.adoc
  docs/src/main/asciidoc/rabbitmq.adoc
  docs/src/main/java/io/quarkus/docs/generation/YamlMetadataGenerator.java
  docs/src/test/java/io/quarkus/docs/ChangedFiles.java
  docs/src/test/java/io/quarkus/docs/LintException.java
  docs/src/test/java/io/quarkus/docs/YamlMetadataGeneratorTest.java
  docs/src/test/java/io/quarkus/docs/vale/LocalValeLintTest.java
  docs/sync-web-site.sh
Labels: area/documentation, area/core

#29079 2.13.4 backports 4
  bom/application/pom.xml
  core/runtime/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  docs/src/main/asciidoc/class-loading-reference.adoc
  docs/src/main/asciidoc/grpc-getting-started.adoc
  docs/src/main/asciidoc/infinispan-client.adoc
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/lazyloading/AbstractLazyBasicTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/lazyloading/LazyBasicDefaultGroupTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/lazyloading/LazyBasicMultiNonDefaultGroupTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/lazyloading/LazyBasicNonDefaultGroupTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Person.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyWriter.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.yml
Labels: area/documentation, area/persistence, area/core, area/maven, area/infra, area/hibernate-orm, area/oidc, area/platform, area/dependencies, area/devtools, area/resteasy-reactive

#29090 Fix logging with panache in interfaces
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingWithPanacheProcessor.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingBean.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingInterface.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingWithPanacheTest.java
Labels: area/core, triage/backport?

#29093 Remove unused field and make some fields final in EndpointIndexer
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: triage/waiting-for-ci

#29098 Fix compilation error in virtual threads doc
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation, triage/backport-2.13?, triage/backport?

#29094 Make sure aroundInvoke interceptors get correct method parameters
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AroundConstructInvocationContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InvocationContexts.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/LifecycleCallbackInvocationContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/aroundconstruct/AroundConstructTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29099 Replace deprecated properties in JReleaser descriptor
  devtools/cli/distribution/jreleaser.yml
Labels: area/devtools, area/cli, triage/backport-2.13?, triage/backport?

#29112 Bump gitflow-incremental-builder from 4.1.1 to 4.2.0
  pom.xml
Labels: triage/flaky-test

#29116 Upgrade to Jandex 3.0.2
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, triage/backport?

#29123 Add sberyozkin to the lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#29127 Disable disk allocation in IT and remove prettyPeek()
  integration-tests/logging-gelf/pom.xml
  integration-tests/logging-gelf/src/test/java/io/quarkus/logging/gelf/it/GelfLogHandlerTest.java
Labels: area/logging, triage/backport?

#29129 Fix more flaky tests on OTel
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDILegacyTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDITest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryMDCTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryResourceTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/WithSpanInterceptorTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/WithSpanLegacyInterceptorTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/TestSpanExporter.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GrpcOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/RestClientOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxClientOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryForwardedTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryXForwardedTest.java
Labels: area/tracing

#29109 Prevent type cache pollution in Arc's BeanTypeAssignabilityRules
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BeanTypeAssignabilityRules.java
Labels: area/arc, triage/waiting-for-ci

#29136 More thorough cleanup of Type cache pollution case in Arc
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BeanTypeAssignabilityRules.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/CovariantTypes.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventObjectTypeResolverBuilder.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EventTypeAssignabilityRules.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/HierarchyDiscovery.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InvariantTypes.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ParameterizedTypeImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Reflections.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/TypeCachePollutionUtils.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/TypeResolver.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Types.java
Labels: area/arc

#29140 Rest data with panache: add the parameter names in resources
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/AddMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/DeleteMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/GetMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UpdateMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/ListHalMethodImplementor.java
  integration-tests/hibernate-orm-rest-data-panache/src/test/java/io/quarkus/it/hibernate/orm/rest/data/panache/HibernateOrmRestDataPanacheTest.java
  integration-tests/spring-data-rest/src/test/java/io/quarkus/it/spring/data/rest/SpringDataRestTest.java
Labels: area/panache, triage/waiting-for-ci, area/spring, triage/backport?

#29130 Update OIDC client and token propagation to support a jwt-bearer token grant
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClientConfig.java
  extensions/oidc-token-propagation-reactive/deployment/pom.xml
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenPropagationService.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/FrontendResource.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationTest.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/ProtectedResource.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/resources/application.properties
  extensions/oidc-token-propagation-reactive/runtime/pom.xml
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenRequestReactiveFilter.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveConfig.java
  extensions/oidc-token-propagation/deployment/pom.xml
  extensions/oidc-token-propagation/deployment/src/test/java/io/quarkus/oidc/token/propagation/AccessTokenPropagationService.java
  extensions/oidc-token-propagation/deployment/src/test/java/io/quarkus/oidc/token/propagation/FrontendResource.java
  extensions/oidc-token-propagation/deployment/src/test/java/io/quarkus/oidc/token/propagation/OidcTokenPropagationTest.java
  extensions/oidc-token-propagation/deployment/src/test/java/io/quarkus/oidc/token/propagation/ProtectedResource.java
  extensions/oidc-token-propagation/deployment/src/test/resources/application.properties
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessTokenRequestFilter.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/runtime/OidcTokenPropagationConfig.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/documentation, area/testing, area/oidc

#29120 Allow to configure target port in OpenShift routes
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyOpenshiftRouteConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RouteConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithRouteTargetPortTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-route-target-port.properties
Labels: area/kubernetes

#29100 Register all implementation of ExtensionAdapter in k8s client extension
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/openshift-client/deployment/src/main/java/io/quarkus/openshift/client/deployment/OpenShiftClientProcessor.java
Labels: area/kubernetes, triage/backport-2.13?, triage/backport?

#29149 Configure stewardship in Quarkus GitHub Lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#29148 Fix quarkus.qute.strict-rendering config property name in documentation
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteRuntimeConfig.java
Labels: triage/waiting-for-ci, area/qute, triage/backport-2.13?, triage/backport?

#29147 Move OIDC propagation annotation to oidc-client
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessToken.java
  extensions/oidc-token-propagation-reactive/deployment/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveBuildStep.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenPropagationService.java
Labels: area/documentation, area/oidc

#23410 Introduce image build / push commands
  devtools/cli/src/main/java/io/quarkus/cli/Image.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/main/java/io/quarkus/cli/build/BuildSystemRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/JBangRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/image/BaseImageCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Build.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Builder.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Buildpack.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Docker.java
  devtools/cli/src/main/java/io/quarkus/cli/image/ImageOptions.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Jib.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Openshift.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Push.java
  devtools/cli/src/test/java/io/quarkus/cli/CliDriver.java
  devtools/cli/src/test/java/io/quarkus/cli/CliHelpTest.java
  devtools/cli/src/test/java/io/quarkus/cli/image/CliImageMavenTest.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/GradleUtils.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/ImageBuild.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/ImagePush.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/ImageTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildConfiguration.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildProviderTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusPlatformTask.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/maven/src/main/java/io/quarkus/maven/AbstractImageMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/ImageBuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/ImagePushMojo.java
  docs/src/main/asciidoc/cli-tooling.adoc
  integration-tests/gradle/src/test/java/io/quarkus/gradle/ImageBuildTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/ImageBuildIT.java
Labels: release/noteworthy-feature, area/documentation, area/panache, area/persistence, area/gradle, area/core, area/config, area/arc, area/maven, area/security, area/logging, area/kotlin, area/vertx, area/scheduler, area/hibernate-orm, area/oidc, area/spring, area/platform, area/kubernetes, area/dependencies, area/devtools, area/cache, area/infra-automation, area/liquibase, area/tracing, area/cli, area/jbang, area/resteasy-reactive, area/keycloak

#29152 Correct typos and code style on the Virtual Threads guide
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation, triage/backport-2.13?, triage/backport?

#29102 Fix table entries in documentation
  docs/src/main/asciidoc/security-getting-started.adoc
Labels: area/documentation, triage/backport-2.13?, triage/backport?

#29155 Include interfaces as bean types of RR resources
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanTypes/Alpha.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanTypes/Beta.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanTypes/Charlie.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanTypes/Client.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanTypes/ClientMock.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanTypes/Delta.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanTypes/MyBean.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/beanTypes/ResourceBeanTypeTest.java
Labels: area/resteasy-reactive, triage/flaky-test

#29150 Generate a temporary uber-jar in case the target already exists instead of deleting it right away
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, triage/backport-2.13?, triage/backport?

#29154 Qute - ignore parentheses when parsing a value of an expression
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParamDeclarationDefaultValueTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SetSectionTest.java
Labels: area/documentation, triage/backport?

#29171 Fix CDI scope for classes that declare @ServerRequestFilter
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/AnotherValidNonBlockingFiltersTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/ConditionalBeanFiltersTest.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/filters/CustomFilterGenerator.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#29167 Upgrade to Jandex 3.0.3
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/platform, area/dependencies, area/devtools, triage/backport?

#29175 Doc: Fix statement about CA certs embedding
  docs/src/main/asciidoc/native-and-ssl.adoc
Labels: triage/backport-2.7?, triage/backport-2.13?, triage/backport?

#29166 Ensure the Kind manifests are generated
  extensions/kubernetes/kind/runtime/src/main/resources/META-INF/services/io.dekorate.ManifestGeneratorFactory
Labels: area/kubernetes, triage/backport?

#29178 Add manovotn to the lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#29153 Upgrade to Mutiny 1.8.0
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/reactive, area/smallrye, triage/waiting-for-ci, area/dependencies, area/mutiny, dependencies, triage/backport?

#29087 Document that Mandrel 22.3 does not provide a -java11 image anymore
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29168 Ensure that some instances of ExecutorService are properly shutdown
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devmode/ReactiveMessagingHotReplacementSetup.java
Labels: area/smallrye, area/reactive-messaging

#29169 Bump to Kotlin 1.7.21
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle.properties
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  jakarta/transform.sh
Labels: area/gradle, area/kotlin, area/dependencies, area/devtools, area/jakarta, triage/backport?

#29121 Fix select distinct projection with Panache
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/CommonPanacheQueryImpl.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/TestEndpoint.java
Labels: area/panache, triage/waiting-for-ci, triage/backport?

#27994 REST Data with Panache: support of entity event listeners
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/HibernateOrmPanacheRestProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/ItemRestDataResourceMethodListener.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourceMethodListenerTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/AbstractEntity.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/AbstractItem.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/Collection.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/EmptyListItem.java
  extensions/panache/hibernate-orm-rest-data-panache/runtime/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/RestDataResourceMethodListener.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/HibernateReactivePanacheRestProcessor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/ItemRestDataResourceMethodListener.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourceMethodListenerTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/AbstractEntity.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/AbstractItem.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/Collection.java
  extensions/panache/hibernate-reactive-rest-data-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/RestDataResourceMethodListener.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/ResourceMethodListenerBuildItem.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/ResourceMethodListenerImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/ResourceMethodListenerUtils.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/UniImplementor.java
Labels: area/documentation, area/panache

#29203 Small typo in SmallRye Stork guide
  docs/src/main/asciidoc/stork-reference.adoc
Labels: area/documentation

#29200 Refactor rest data panache to reuse the same implementation for lists
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/HalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/ListHalMethodImplementor.java
Labels: area/panache, triage/waiting-for-ci

#29201 Fix IsDockerWorking class not using TestContainersStrategy
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test, triage/backport-2.13?, triage/backport?

#29214 Generate ID token if it is not refreshed
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc, triage/backport?

#29228 RESTEasy Classic - apply ex. mappers for auth failures before request processing started
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/HttpPolicyAuthFailureExceptionMapperTest.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/RequestDispatcher.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxRequestHandler.java
  integration-tests/elytron-resteasy/src/main/java/io/quarkus/it/resteasy/elytron/AuthFailedExceptionMapper.java
  integration-tests/elytron-resteasy/src/main/resources/application.properties
  integration-tests/elytron-resteasy/src/test/java/io/quarkus/it/resteasy/elytron/HttpPolicyAuthFailedExMapperTest.java
Labels: area/security, area/resteasy, triage/backport?

#29216 Update the definition of ignored Kafka client messages
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/kafka

#29081 Redis - Implement the search group
  docs/src/main/asciidoc/redis-dev-services.adoc
  docs/src/main/asciidoc/redis-reference.adoc
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesConfig.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/ReactiveRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/RedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/AggregateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/AggregateDocument.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/AggregationResponse.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/CreateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/Document.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/FieldOptions.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/FieldType.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/GeoFilter.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/HighlightArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/IndexedField.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/NumericFilter.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/QueryArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/ReactiveSearchCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/ReactiveTransactionalSearchCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/SearchCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/SearchQueryResponse.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/SpellCheckArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/SpellCheckResponse.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/SummarizeArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/SynDumpResponse.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/TransactionalSearchCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/transactions/ReactiveTransactionalRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/transactions/TransactionalRedisDataSource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractSearchCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingSearchCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingTransactionalRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingTransactionalSearchCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/Marshaller.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveSearchCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalSearchCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/Validation.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/RedisCommandCondition.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SearchCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/TransactionalSearchCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/generator/RedisApiGenerator.java
Labels: release/noteworthy-feature, area/documentation, area/redis

#29229 Document RBAC used on CDI beans and IO thread when method returns "something" in a synchronous manner
  docs/src/main/asciidoc/security-authorization.adoc
  docs/src/main/asciidoc/security-built-in-authentication.adoc
Labels: area/documentation

#29212 Allow filtering by field names in GET resources for REST Data with Panache
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/HibernateOrmPanacheRestProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/HibernateReactivePanacheRestProcessor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/MongoPanacheRestProcessor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/ResourceMetadata.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/EntityTypeUtils.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/SignatureMethodCreator.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/crud/CrudMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/paging/PagingAndSortingMethodsImplementor.java
  integration-tests/mongodb-rest-data-panache/src/test/java/io/quarkus/it/mongodb/rest/data/panache/MongoDbRestDataPanacheTest.java
Labels: area/documentation, area/panache, area/spring

#29237 Fix compilation error in virtual threads doc
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation

#29197 Support setting the encoding for file logging
  core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging

#29239 Fix AuthenticationRedirectException handling with disabled proactive security
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AuthenticationRedirectExceptionMapperTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/FilterBuildItem.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/Filter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/Filters.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/vertx, area/resteasy-reactive

#29255 Support HMAC signatures for CSRF tokens
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfig.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfTokenUtils.java
  integration-tests/csrf-reactive/src/main/java/io/quarkus/it/csrf/TestResource.java
  integration-tests/csrf-reactive/src/main/resources/application.properties
Labels: area/documentation

#29268 Expose additional methods in REST Data with Panache
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/CollectionsResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourceGetMethodTest.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/AddMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UpdateMethodImplementor.java
Labels: area/documentation, area/panache

#29267 Docs: Update RabbitMQ Channel Config
  docs/src/main/asciidoc/rabbitmq-reference.adoc
Labels: area/documentation

#29213 Small typo and improvement on the k8s guide
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation

#29182 Use Mandrel by default for container build
  .github/workflows/ci-actions-incremental.yml
  build-parent/pom.xml
Labels: area/dependencies, area/infra-automation, area/mandrel, triage/backport-2.13?, triage/backport?

#29256 Fixed code in stork-reference.adoc
  docs/src/main/asciidoc/stork-reference.adoc
Labels: area/documentation

#28768 Add --with-codestart create-extension option to tutorial
  docs/src/main/asciidoc/extension-codestart.adoc
Labels: area/documentation, area/arc, area/smallrye, area/testing, area/kubernetes, area/dependencies, area/qute, area/devtools, area/infra-automation, area/graphql, area/jakarta

#29266 Allows @InjectMock with gRPC Mutiny clients
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  extensions/grpc/api/pom.xml
  extensions/grpc/api/src/main/java/io/quarkus/grpc/GrpcClientUtils.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/ClientServiceInterfaceCompressionTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/deadline/ClientDeadlineTest.java
  integration-tests/grpc-plain-text-mutiny/pom.xml
  integration-tests/grpc-plain-text-mutiny/src/test/java/io/quarkus/grpc/examples/hello/GrpcMockTest.java
Labels: release/noteworthy-feature, area/documentation, area/grpc

#29262 Compile application classes before test classes
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/ChangeSourceAndTestAtOnceTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/CoupledET.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/CoupledService.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/core, area/vertx, triage/waiting-for-ci, area/testing, triage/backport-2.13?, triage/backport?

#29277 Add @ClientQueryParam to Reactive REST Client
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/ClassRestClientContext.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveEnricher.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/DotNames.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/MicroProfileRestClientEnricher.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/queries/ClientQueryParamFromMethodTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/queries/ClientQueryParamFromPropertyTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/queries/ComputedParam.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/ClientQueryParam.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/ClientQueryParams.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/ClientQueryParamSupport.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/WebTargetImpl.java
  tcks/microprofile-rest-client-reactive/pom.xml
Labels: release/noteworthy-feature, area/documentation, triage/waiting-for-ci, area/resteasy-reactive

#29264 Bump Dekorate to 3.1.2
  bom/application/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ChangeIngressRuleDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RemoveDuplicateIngressRuleDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
Labels: area/kubernetes, area/dependencies, triage/backport?

#29284 2.14.1 backports 3
  .github/workflows/ci-actions-incremental.yml
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/CombinedIndexBuildStep.java
  devtools/gradle/build.gradle
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle.properties
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/extension-codestart.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/security-authorization.adoc
  docs/src/main/asciidoc/security-built-in-authentication.adoc
  docs/src/main/asciidoc/stork-reference.adoc
  docs/src/main/asciidoc/virtual-threads.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/HttpPolicyAuthFailureExceptionMapperTest.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/RequestDispatcher.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxRequestHandler.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/ChangeSourceAndTestAtOnceTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/CoupledET.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/CoupledService.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/DuplicatedContextTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java
  integration-tests/elytron-resteasy/src/main/java/io/quarkus/it/resteasy/elytron/AuthFailedExceptionMapper.java
  integration-tests/elytron-resteasy/src/main/resources/application.properties
  integration-tests/elytron-resteasy/src/test/java/io/quarkus/it/resteasy/elytron/HttpPolicyAuthFailedExMapperTest.java
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/TestEndpoint.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  jakarta/transform.sh
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/documentation, area/panache, area/gradle, area/core, area/arc, area/security, area/resteasy, area/infra, area/vertx, area/testing, area/oidc, area/kafka, area/dependencies, area/devtools, area/infra-automation, area/jakarta

#29293 Disable tests failing regularly on M1 host
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailerTest.java
  integration-tests/smallrye-opentracing/src/test/java/io/quarkus/it/opentracing/OpenTracingTestCase.java
Labels: area/mailer, triage/backport?

#29295 Set higher timeout for Misc 4 native job
  .github/native-tests.json
Labels: area/infra-automation

#29292 Quartz - add a backwards compatibility note
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/scheduler

#29298 Separate resourceClass into resourceName and resourceInterface for REST Data with Panache
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/ResourceMetadata.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/RestDataProcessor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/properties/ResourcePropertiesProvider.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
Labels: area/panache, triage/waiting-for-ci, area/spring

#29204 Fixed error in Stork guide
  docs/src/main/asciidoc/stork.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29220 Update latest brew openjdk package
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29302 Docs: Fix Typo in RabbitMQ Channel Config
  docs/src/main/asciidoc/rabbitmq-reference.adoc
Labels: area/documentation

#29276 Prevent on-demand-indexing warnings for missing meta-annotations
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/CombinedIndexBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java
Labels: area/core, area/arc, triage/waiting-for-ci, triage/backport?

#29242 Add http active requests gauge metric
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpBinderConfiguration.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/HttpRequestMetric.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetricsTest.java
Labels: area/metrics

#29315 Jakarta - Add RESTEasy CDI to RESTEasy Common (for RESTEasy Classic)
  bom/application/pom.xml
  jakarta/rewrite.yml
Labels: area/dependencies, area/jakarta

#29310 Wait Redis Search Tests - indexation is async
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SearchCommandsTest.java
Labels: area/redis

#29314 Fix NPE in KeycloakDevServicesProcessor
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport?

#29176 Bump Reactive Messaging version to 3.22.0 with Kafka Checkpointing support
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  docs/src/main/asciidoc/_includes/smallrye-kafka-incoming.adoc
  docs/src/main/asciidoc/_includes/smallrye-kafka-outgoing.adoc
  docs/src/main/asciidoc/amqp-reference.adoc
  docs/src/main/asciidoc/images/kafka-dev-ui-link.png
  docs/src/main/asciidoc/images/kafka-dev-ui-records.png
  docs/src/main/asciidoc/kafka-dev-ui.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  extensions/redis-client/runtime/pom.xml
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/RedisClientName.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeDiscoveryState.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/runtime/pom.xml
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/CheckpointEntity.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/CheckpointEntityId.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/DatabindProcessingStateCodec.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/HibernateOrmStateStore.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/HibernateReactiveStateStore.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/RedisStateStore.java
  integration-tests/reactive-messaging-hibernate-orm/pom.xml
  integration-tests/reactive-messaging-hibernate-orm/src/main/java/io/quarkus/it/kafka/KafkaEndpoint.java
  integration-tests/reactive-messaging-hibernate-orm/src/main/java/io/quarkus/it/kafka/KafkaReceivers.java
  integration-tests/reactive-messaging-hibernate-orm/src/main/java/io/quarkus/it/kafka/PeopleProducer.java
  integration-tests/reactive-messaging-hibernate-orm/src/main/java/io/quarkus/it/kafka/PeopleState.java
  integration-tests/reactive-messaging-hibernate-orm/src/main/java/io/quarkus/it/kafka/Person.java
  integration-tests/reactive-messaging-hibernate-orm/src/main/java/io/quarkus/it/kafka/package-info.java
  integration-tests/reactive-messaging-hibernate-orm/src/main/resources/application.properties
  integration-tests/reactive-messaging-hibernate-orm/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
  integration-tests/reactive-messaging-hibernate-reactive/pom.xml
  integration-tests/reactive-messaging-hibernate-reactive/src/main/java/io/quarkus/it/kafka/KafkaEndpoint.java
  integration-tests/reactive-messaging-hibernate-reactive/src/main/java/io/quarkus/it/kafka/KafkaReceivers.java
  integration-tests/reactive-messaging-hibernate-reactive/src/main/java/io/quarkus/it/kafka/PeopleProducer.java
  integration-tests/reactive-messaging-hibernate-reactive/src/main/java/io/quarkus/it/kafka/PeopleState.java
  integration-tests/reactive-messaging-hibernate-reactive/src/main/java/io/quarkus/it/kafka/Person.java
  integration-tests/reactive-messaging-hibernate-reactive/src/main/resources/application.properties
  integration-tests/reactive-messaging-hibernate-reactive/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
  integration-tests/reactive-messaging-kafka/pom.xml
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/KafkaEndpoint.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/KafkaReceivers.java
  integration-tests/reactive-messaging-kafka/src/main/resources/application.properties
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
  jakarta/rewrite.yml
Labels: area/documentation, area/core, area/smallrye, area/reactive-messaging, area/dependencies, area/redis, area/jakarta

#29300 Improve javadoc of PreventFurtherStepsException
  core/runtime/src/main/java/io/quarkus/runtime/PreventFurtherStepsException.java
Labels: area/core

#29323 Support filtering by named queries in REST Data with Panache extension
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/Item.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/Item.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/Item.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/Item.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
Labels: release/noteworthy-feature, area/documentation, area/panache, triage/waiting-for-ci

#29334 Create directories when syncing doc branches for website
  docs/sync-web-site.sh
Labels: area/documentation

#29308 Upgrade narayana to 5.13.1.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#29335 Use `dcarbone/install-yq-action` when installing yq
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/flaky-test, triage/backport?

#29108 Warmup stage
  core/deployment/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/CracConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/CracProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/CracDefaultValueBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/CracEnabledBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/PreloadClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/PreloadClassesEnabledBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/PreloadClassesBuildStep.java
  core/runtime/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
  core/runtime/src/main/java/io/quarkus/runtime/CracRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/PreloadClassesRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaCommonProcessor.java
  extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaStaticRecorder.java
  extensions/funqy/funqy-amazon-lambda/runtime/src/main/java/io/quarkus/funqy/lambda/FunqyStreamHandler.java
Labels: area/core, area/arc, area/amazon-lambda, area/funqy

#29338 Disable MailerTest entirely on macOS and disable Kubernetes Dev Services in micrometer-prometheus IT
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailerTest.java
  integration-tests/micrometer-prometheus/pom.xml
  integration-tests/micrometer-prometheus/src/main/resources/application.properties
Labels: area/mailer

#29339 Verify the generation when using odd gRPC method names
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/BlockingStubInjectionTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/ChannelInjectionTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/ClientWithoutConfigInjectionTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/deadline/HelloService.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/interceptors/GlobalAndServiceInterceptorsTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/interceptors/MyInterceptedGreeting.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/interceptors/ServerInterceptorProducerTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/BlockingMutinyHelloService.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/HelloService.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/MutinyHelloService.java
  extensions/grpc/deployment/src/test/proto/helloworld.proto
  extensions/grpc/deployment/src/test/proto/helloworld3.proto
Labels: area/grpc

#29341 Rename method names in virtual threads doc
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation

#29343 Re-enable CodeFlowTest#RPInitiatedLogout
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc, triage/backport?

#29344 Create Redis client beans from buildtime config
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisClientProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisDatasourceProcessor.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/RedisNoConfTest.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisClientRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisConfig.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/RedisStateStore.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/RedisWithInstanceInjectionResource.java
  integration-tests/redis-client/src/main/resources/application.properties
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisTest.java
Labels: area/smallrye, area/reactive-messaging, area/redis

#29352 Introduce way to customize ServerHandler with runtime config
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRuntimeRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/server/spi/HandlerConfigurationProviderBuildItem.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ResteasyReactiveDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/Deployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/GenericRuntimeConfigurableServerRestHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/RuntimeConfigurableServerRestHandler.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#29365 Prevent repeated processing of the same authentication failure exception
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/HttpPolicyAuthFailureExceptionMapperTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
Labels: area/vertx, triage/backport?

#29369 Fix class name in kotlin doc
  docs/src/main/asciidoc/kotlin.adoc
Labels: area/documentation

#29356 Add HTTPS port configuration in the HTTP reference guide
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation

#29378 InjectMock#convertScopes() - support annotations added by extensions
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/GreetingSingletonResourceMockTest.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/SingletonToApplicationScopedTestBuildChainCustomizerProducer.java
Labels: area/testing

#29372 Apply minor polish to shutdown related code
  core/runtime/src/main/java/io/quarkus/runtime/Application.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
Labels: area/core, triage/waiting-for-ci

#29375 SmallRye GraphQL 1.8.3
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/SmallRyeGraphQLClientRecorder.java
  jakarta/rewrite.yml
Labels: area/smallrye, area/dependencies, area/graphql, area/jakarta, triage/backport?

#29373 Ensure proper generic type is used with RestResponse
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResponseHandler.java
  integration-tests/kotlin-serialization/src/main/kotlin/io/quarkus/it/kotser/GreetingResource.kt
  integration-tests/kotlin-serialization/src/test/kotlin/io/quarkus/it/kotser/ResourceTest.kt
Labels: triage/backport-2.13?, triage/backport?

#29382 Revert "Create Redis client beans from buildtime config"
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisClientProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisDatasourceProcessor.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/RedisNoConfTest.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisClientRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisConfig.java
  extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/RedisStateStore.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/RedisWithInstanceInjectionResource.java
  integration-tests/redis-client/src/main/resources/application.properties
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisTest.java
Labels: area/smallrye, area/reactive-messaging, area/redis

#29384 Move scm information to metadata from top-level, and remove nesting
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTask.java
  devtools/gradle/gradle-extension-plugin/src/test/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTaskTest.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/extension-maven-plugin/src/test/java/io/quarkus/maven/ExtensionDescriptorMojoTest.java
Labels: area/gradle, area/maven, area/devtools, triage/backport?

#29246 Bump to Vert.x 4.8.5
  bom/application/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AbstractRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedServerRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ResumingRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/QuarkusRequestWrapper.java
  independent-projects/resteasy-reactive/pom.xml
  jakarta/rewrite.yml
Labels: area/vertx, triage/waiting-for-ci, area/dependencies, area/jakarta

#29398 Properly make CredentialsProvider beans unremoveable
  extensions/credentials/deployment/src/main/java/io/quarkus/credentials/CredentialsProcessor.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/SecretProvider.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/SecretProvider.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/CustomCredentialsProvider.java
  extensions/reactive-mysql-client/deployment/src/test/java/io/quarkus/reactive/mysql/client/CustomCredentialsProvider.java
  extensions/reactive-oracle-client/deployment/src/test/java/io/quarkus/reactive/oracle/client/CustomCredentialsProvider.java
  extensions/reactive-pg-client/deployment/src/test/java/io/quarkus/reactive/pg/client/CustomCredentialsProvider.java
Labels: area/oidc, area/reactive-sql-clients

#29399 Use RESTEasy Reactive for reactive DB tests
  extensions/reactive-mssql-client/deployment/pom.xml
  extensions/reactive-mysql-client/deployment/pom.xml
  extensions/reactive-oracle-client/deployment/pom.xml
  extensions/reactive-pg-client/deployment/pom.xml
Labels: area/reactive-sql-clients

#29380 2.14.2 backports 1
  .github/native-tests.json
  bom/application/pom.xml
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/kotlin.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/security.adoc
  docs/src/main/asciidoc/stork.adoc
  docs/src/main/asciidoc/virtual-threads.adoc
  docs/sync-web-site.sh
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/ValidatorFromValidationTest.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/ValidatorFactoryFromValidationCustomizerTest.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/ValidatorFactoryFromValidationTest.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidationSupport.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ChangeIngressRuleDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RemoveDuplicateIngressRuleDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRuntimeRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/server/spi/HandlerConfigurationProviderBuildItem.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ResteasyReactiveDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/Deployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/GenericRuntimeConfigurableServerRestHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/RuntimeConfigurableServerRestHandler.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  integration-tests/hibernate-validator/src/main/java/io/quarkus/it/hibernate/validator/Startup.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailerTest.java
  integration-tests/micrometer-prometheus/pom.xml
  integration-tests/micrometer-prometheus/src/main/resources/application.properties
  integration-tests/smallrye-opentracing/src/test/java/io/quarkus/it/opentracing/OpenTracingTestCase.java
  jakarta/rewrite.yml
Labels: area/documentation, area/infra, area/hibernate-validator, area/scheduler, area/oidc, area/platform, area/kubernetes, area/dependencies, area/devtools, area/infra-automation, area/resteasy-reactive, area/mailer, area/jakarta
