Repository quarkusio/quarkus, pull requests merged in 2022-04, with the labels that each got.

#24658 Scheduler - support non-blocking scheduled methods
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/nonblocking/NonBlockingScheduledMethodTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/scheduler/deployment/pom.xml
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/ScheduledBusinessMethodItem.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerDotNames.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/nonblocking/NonBlockingScheduledMethodTest.java
  extensions/scheduler/runtime/pom.xml
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/Scheduled.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/DefaultInvoker.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/DelegateInvoker.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/ScheduledInvoker.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SkipConcurrentExecutionInvoker.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SkipPredicateInvoker.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/StatusEmitterInvoker.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/devconsole/SchedulerDevConsoleRecorder.java
Labels: area/documentation, area/scheduler

#24687 Improve dynamic resolution of MessageBodyWriter providers
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/MultipleProducesTest.java
Labels: triage/backport-2.7?, triage/backport?

#24699 Skip Keycloak DevService if quarkus.oidc.provider is set
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, triage/backport-2.7?, triage/backport?

#24702 Update Infinispan to 13.0.8
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-2.7?, triage/backport?

#24711 Switch quarkusIntTest task dependency from check to test
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/IntegrationTestBuildTest.java
Labels: area/gradle, area/devtools, triage/backport?

#24690 Fix Banner check on filesystem containing special chars
  core/deployment/src/main/java/io/quarkus/deployment/steps/BannerProcessor.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/BannerProcessorTest.java
Labels: area/core, triage/backport?

#24698 Ensure that the request handlers are invoked on a duplication context
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/backport?

#24673 Fix Bootstrap Config to use default Config Sources (System and Env)
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  integration-tests/bootstrap-config/application/pom.xml
  integration-tests/bootstrap-config/application/src/main/java/io/quarkus/it/bootstrap/config/ConfigResource.java
  integration-tests/bootstrap-config/application/src/main/java/io/quarkus/it/bootstrap/config/GreetingResource.java
  integration-tests/bootstrap-config/application/src/main/resources/application.properties
  integration-tests/bootstrap-config/application/src/main/resources/config.properties
  integration-tests/bootstrap-config/application/src/test/java/io/quarkus/it/bootstrap/config/ConfigResourceTest.java
  integration-tests/bootstrap-config/application/src/test/java/io/quarkus/it/bootstrap/config/ConfigResourceTestIT.java
  integration-tests/bootstrap-config/application/src/test/java/io/quarkus/it/bootstrap/config/GreetingResourceTest.java
  integration-tests/bootstrap-config/extension/deployment/src/main/java/io/quarkus/it/bootstrap/config/extension/deployment/DummyBootstrapConfigBuildStep.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyBootstrapRecorder.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyConfig.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyConfigSourceProvider.java
Labels: area/core, area/config, triage/backport?

#24679 Use single key JWK Set if neither kid nor x5t header is set
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/JsonWebKeySet.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/testing, area/oidc, triage/backport?

#24730 Bump spring-api jar version
  bom/application/pom.xml
Labels: area/dependencies

#24605 Provide a new `ApplicationNotRunning` predicate for `@Scheduled`
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/ApplicationNotRunningPredicateTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/Scheduled.java
Labels: area/scheduler

#24634 Add closeBootstrappedApp mojo param to QuarkusBootstrapMojo
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
Labels: area/maven, area/devtools, triage/backport-2.7?, triage/backport?

#24765 Remove non-existing constraints from quarkus-bom
  bom/application/pom.xml
Labels: triage/backport?

#24732 ComponentsProviderGenerator - lower group limit for addRemovedBeans()
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#24086 Update Kotlin to 1.6.20
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/tests/pom.xml
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/BasicKotlinApplicationModuleDevModeTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/MultiModuleKotlinProjectDevModeTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/MultiSourceProjectDevModeTest.java
Labels: area/gradle, area/arc, triage/waiting-for-ci, area/dependencies

#24729 Maven 3.8.5 compatibility, update maven-invoker to 3.1.0
  .github/workflows/ci-actions-incremental.yml
  bom/application/pom.xml
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/pom.xml
Labels: area/dependencies, area/devtools, area/infra-automation, triage/backport?

#24778 Upgrade Kotlin Maven plugin to 1.6.20
  jakarta/transform.sh
Labels: area/jakarta

#24735 Support modules with non-empty default classifier
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/DefaultWorkspaceModule.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/WorkspaceModule.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/beans/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/runner/pom.xml
Labels: area/maven, area/devtools, triage/backport-2.7?, triage/backport?

#24777 Documentation - Fix typo in word 'kubectl'
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#24059 Take entity class transformations into account during Hibernate proxy pre-generation
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeRecorderConstantDefinitionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/proxy/ProxyFactory.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/BytecodeRecorderTestCase.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/TestRecorderWithNonSerializableInjectedInConstructor.java
  core/deployment/src/test/java/io/quarkus/deployment/recording/TestRecorderWithTestJavaBeanInjectedInConstructor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ProxyBuildingHelper.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ProxyDefinitionsBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/TransactionTestUtils.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/enhancer/HibernateEntityEnhancerFinalFieldTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/packages/PackageLevelAnnotationTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/publicfields/PublicFieldAccessFinalFieldTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/publicfields/PublicFieldWithProxyAndLazyLoadingAndInheritanceTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
Labels: area/persistence, area/core, area/arc, triage/waiting-for-ci, area/hibernate-orm

#24776 Fix `AsyncObserverExceptionHandler` example
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation, triage/backport?

#24783 Add support for sending query params as using a Map in Reactive Rest Client
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/MapParamsTest.java
Labels: area/resteasy-reactive

#24734 Leverage java 17 when available in kotlin codestart projet
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle-kotlin-dsl/kotlin/build.tpl.qute.gradle.kts
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/kotlin/build.tpl.qute.gradle
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/kotlin/pom.tpl.qute.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/CreateProjectHelper.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/codegen/CreateProjectHelperTest.java
Labels: triage/waiting-for-ci, area/platform, area/devtools

#24663 Upgrade H2 to 2.1.210
  bom/application/pom.xml
  extensions/devservices/h2/src/main/java/io/quarkus/devservices/h2/deployment/H2DevServicesProcessor.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionCleanAndMigrateAtStartTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionCleanAtStartTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionFilesystemResourceTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayH2TestCustomizer.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/model/annotation/user/User.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/model/config/user/User.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/publicfields/PublicFieldAccessAssociationsTest.java
  extensions/jdbc/jdbc-h2/deployment/src/main/java/io/quarkus/jdbc/h2/deployment/JDBCH2Processor.java
  extensions/jdbc/jdbc-h2/runtime/pom.xml
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/CompareMode.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/Engine.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/SessionLocalDisable.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graal/SessionRemote.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionCleanAndMigrateAtStartTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionCleanAtStartTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/BasicTypeData.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/User.java
  extensions/spring-data-jpa/deployment/src/test/resources/import_users.sql
  integration-tests/hibernate-orm-panache-kotlin/src/test/kotlin/io/quarkus/it/panache/TestEndpointRunner.kt
  integration-tests/main/pom.xml
  integration-tests/main/src/main/resources/META-INF/persistence.xml
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CatalogValue.java
  integration-tests/spring-data-jpa/src/main/resources/import.sql
  test-framework/h2/src/main/java/io/quarkus/test/h2/H2DatabaseTestResource.java
Labels: area/persistence, area/testing, area/hibernate-orm, area/spring, release/breaking-change, area/dependencies, area/flyway, area/liquibase

#24787 Don't run 'Rewrite to Jakarta' job in forks
  .github/workflows/jakarta-rewrite.yml
Labels: area/infra-automation

#24674 Update to SmallRye Fault Tolerance 5.4.0
  bom/application/pom.xml
  docs/src/main/asciidoc/smallrye-fault-tolerance.adoc
  extensions/kotlin/runtime/pom.xml
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/DotNames.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  integration-tests/main/src/main/java/io/quarkus/it/faulttolerance/PreconfiguredFaultTolerance.java
  integration-tests/main/src/main/java/io/quarkus/it/faulttolerance/Service.java
  integration-tests/main/src/test/java/io/quarkus/it/main/FaultToleranceTestCase.java
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/ft/ClientResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/ft/HelloClient.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/ft/HelloResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/resources/application.properties
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/FlowResourceTest.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/ft/FaultToleranceTest.kt
Labels: area/documentation, area/smallrye, area/kotlin, area/dependencies, area/fault-tolerance

#24794 Check quarkus.http.root-path for security policy paths
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/AdminPathHandler.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/PathWithHttpRootTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatchingHttpSecurityPolicy.java
Labels: area/vertx, triage/backport?

#24802 Update to NOT exclude Oracle dev services
  docs/src/main/asciidoc/dev-services.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#24714 Fix websockets codestart package name
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/websockets-codestart/java/src/main/java/org/acme/StartWebSocket.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/websockets-codestart/kotlin/src/main/kotlin/org/acme/StartWebSocket.kt
Labels: triage/waiting-for-ci, area/devtools, triage/backport-2.7?, triage/backport?

#24805 Provide link for Vert.x API @ConsumerEvent alternative
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation, triage/backport-2.7?, triage/backport?

#24798 Guard against a NPE in LoggingSetupRecorder
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#24807 Fix amazon-lambda-xray runtime artifact name
  extensions/amazon-lambda-xray/runtime/pom.xml
Labels: area/amazon-lambda

#24774 Add Twitter OIDC provider configuration
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc, triage/backport?

#24804 Bump kubernetes-client-bom from 5.12.1 to 5.12.2
  bom/application/pom.xml
Labels: area/dependencies

#24803 Switch to wiremock-jre8-standalone which is more Jakarta friendly
  .github/dependabot.yml
  build-parent/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/deployment/pom.xml
  extensions/spring-cloud-config-client/runtime/pom.xml
  integration-tests/elytron-security-oauth2/pom.xml
  integration-tests/oidc-client-wiremock/pom.xml
  integration-tests/rest-client-reactive-stork/pom.xml
  test-framework/oidc-server/pom.xml
Labels: area/security, area/testing, area/spring, area/dependencies, area/infra-automation, area/resteasy-reactive, area/jakarta

#24792 Qute CDI integration - fix named dependent beans
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/PropertyNotFoundDevModeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/InjectNamespaceResolverTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcContainer.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstance.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstanceBase.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/TemplateInstanceInitializerTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/TemplateInstanceTest.java
Labels: area/documentation, area/arc, triage/waiting-for-ci, area/qute

#24815 Jakarta - Completed RESTEasy Classic, RESTEasy Reactive, Lambdas
  extensions/elytron-security-properties-file/runtime/pom.xml
  extensions/elytron-security/runtime/pom.xml
  jakarta/overrides/rest-client/QuarkusRestClientBuilder.java
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/security, area/jakarta

#24824 Move rewrite-maven-plugin definition to a profile
  bom/application/pom.xml
  extensions/arc/deployment/pom.xml
  extensions/elytron-security-properties-file/runtime/pom.xml
  extensions/elytron-security/runtime/pom.xml
  extensions/jaxb/runtime/pom.xml
  extensions/resteasy-classic/rest-client-jackson/runtime/pom.xml
  extensions/resteasy-classic/rest-client-jaxb/runtime/pom.xml
  extensions/resteasy-classic/rest-client/runtime/pom.xml
  extensions/resteasy-classic/resteasy-common/runtime/pom.xml
  extensions/resteasy-classic/resteasy-jackson/runtime/pom.xml
  extensions/resteasy-classic/resteasy-jaxb/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/client/processor/pom.xml
  independent-projects/resteasy-reactive/client/runtime/pom.xml
  independent-projects/resteasy-reactive/common/processor/pom.xml
  independent-projects/resteasy-reactive/common/runtime/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/jackson/pom.xml
  independent-projects/resteasy-reactive/server/jsonb/pom.xml
  independent-projects/resteasy-reactive/server/processor/pom.xml
  independent-projects/resteasy-reactive/server/runtime/pom.xml
  independent-projects/resteasy-reactive/server/vertx/pom.xml
  independent-projects/revapi/pom.xml
  independent-projects/tools/devtools-common/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/test-extension/extension/runtime/pom.xml
  jakarta/transform.sh
  pom.xml
Labels: area/arc, area/security, area/platform, area/jaxb, area/dependencies, area/devtools, area/resteasy-reactive, area/jakarta

#24826 Only add existing classes directory to Gradle application model
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
Labels: area/gradle, area/devtools, triage/backport-2.7?, triage/backport?

#24768 Fix jaxb substitutions
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/graal/JAXBSubstitutions.java
Labels: area/persistence, area/core, area/hibernate-orm, area/jaxb

#24834 Make sure container image labels configuration are considered by Jib
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: triage/backport?

#24830 The OIDC Response mode is corrected in the query string when specified
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
Labels: area/oidc, triage/backport-2.7?, triage/backport?

#24836 Upgrade revapi plugins versions
  build-parent/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#24741 Support Kotlin suspend functions as scheduler methods
  bom/application/pom.xml
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/scheduler/api/pom.xml
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/FailedExecution.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduled.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/ScheduledExecution.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduler.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/SkippedExecution.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/SuccessfulExecution.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Trigger.java
  extensions/scheduler/common/pom.xml
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/DefaultInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/DelegateInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/ScheduledInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/ScheduledMethodMetadata.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/SchedulerContext.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/SkipConcurrentExecutionInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/SkipPredicateInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/StatusEmitterInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/util/SchedulerUtils.java
  extensions/scheduler/common/src/test/java/io/quarkus/scheduler/common/runtime/util/SchedulerUtilsTest.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/KotlinUtil.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/ScheduledBusinessMethodItem.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerDotNames.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/kotlin/pom.xml
  extensions/scheduler/kotlin/src/main/kotlin/io/quarkus/scheduler/kotlin/runtime/AbstractCoroutineInvoker.kt
  extensions/scheduler/kotlin/src/main/kotlin/io/quarkus/scheduler/kotlin/runtime/ApplicationCoroutineScope.kt
  extensions/scheduler/kotlin/src/main/kotlin/io/quarkus/scheduler/kotlin/runtime/VertxDispatcher.kt
  extensions/scheduler/pom.xml
  extensions/scheduler/runtime/pom.xml
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerRecorder.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/devconsole/SchedulerDevConsoleRecorder.java
  extensions/spring-scheduled/deployment/src/main/java/io/quarkus/spring/scheduled/deployment/SpringScheduledProcessor.java
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/ScheduledEndpoint.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/ScheduledEndpointTest.kt
Labels: area/scheduler, triage/waiting-for-ci

#24840 Fix potential NPE when PKCE secret is missing
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport?

#24823 Include Spotify OIDC provider
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
Labels: triage/waiting-for-ci, area/oidc

#24848 Documentation fix: add missing artifactId in security jwt build
  docs/src/main/asciidoc/security-jwt-build.adoc
Labels: area/documentation, triage/backport?

#24846 Documentation - Correct Mutual TLS abbreviation - decapitalize first letter
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation

#24852 Update SmallRye Reactive Converters to version 2.7.0
  bom/application/pom.xml
Labels: area/dependencies

#24850 Add 'gradle' to sample Dockerfile for building with Gradle
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#24799 Add stork properties to all properties page
  extensions/smallrye-stork/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/smallrye, area/stork, triage/backport?

#24856 Documentation: fix typo
  docs/src/main/asciidoc/openapi-swaggerui.adoc
Labels: area/documentation, triage/backport-2.7?, triage/backport?

#24838 Update SmallRye Config to 2.10.0
  bom/application/pom.xml
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientBuildTimeConfigSource.java
Labels: area/dependencies

#24708 Add container-name configuration for kubernetes extension
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ChangeContainerNameDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ChangeContainerNameInDeploymentTriggerDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithSpecifiedContainerNameTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithSpecifiedContainerNameTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-with-specified-container-name.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-specified-container-name.properties
Labels: area/kubernetes

#24865 Fix potential IllegalAccessError in Spring Data JPA projection handling
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieResource.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/test/MovieRating.java
Labels: area/spring, triage/backport-2.7?, triage/backport?

#24864 Change SmallRye GraphQL (+client) extensions' status to stable
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
  extensions/smallrye-graphql-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/smallrye-graphql/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/smallrye, triage/waiting-for-ci, area/graphql, triage/backport-2.7?, triage/backport?

#24844 Qute docs - update the limitations of "Qute Standalone"
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation

#24872 Avoid XStream causing illegal access issues for internal JDK collections
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/ParamsTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomListConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomSetConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#24867 Single values for array pairs passed without brackets in REST Client Reactive
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ArrayPairsQueryParamTest.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/UriBuilderImpl.java
Labels: area/resteasy-reactive, triage/backport?

#24866 Bump Gradle version to 7.4.2
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#24822 Document how to access binary data using MutinyRedis
  docs/src/main/asciidoc/redis.adoc
Labels: area/documentation

#23927 Handle gRPC `@Blocking` in superclasses as well
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/deployment/GrpcServerProcessorTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/blocking/BlockingMethodsWithMutinyImplTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/blocking/inheritance/BlockingFromTransactionalTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/blocking/inheritance/ClassLevelBlockingTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/blocking/inheritance/MethodLevelBlockingTest.java
  extensions/grpc/deployment/src/test/proto/inheritence-test.proto
Labels: area/grpc

#24884 Add documentation about which extension support Kotlin coroutines
  docs/src/main/asciidoc/kotlin.adoc
Labels: area/documentation

#24883 Support injecting a list of Spring beans
  extensions/spring-di/deployment/pom.xml
  extensions/spring-di/deployment/src/main/java/io/quarkus/spring/di/deployment/SpringDIProcessor.java
  extensions/spring-di/deployment/src/test/java/io/quarkus/spring/di/deployment/ListOfBeansTest.java
Labels: triage/waiting-for-ci, area/spring

#24889 Upgrade to JReleaser 1.0.0
  devtools/cli/distribution/jreleaser.yml
  devtools/cli/distribution/release-cli.sh
Labels: area/devtools, area/cli, triage/backport?

#24876 Misc cleanup - use Files.readString and .addAll for collections
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DisposerInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PathsCollection.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathList.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Qute.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartResource.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/maven/utilities/PomTransformer.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/SnapshotTesting.java
Labels: area/arc, area/platform, area/devtools, area/codestarts

#24890 Use resteasy-reactive-jackson in spring-web codestart
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/codestart.yml
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#24879 Jakarta migration: Agroal, Hibernate ORM, Hibernate Search...
  bom/application/pom.xml
  extensions/agroal/runtime/pom.xml
  extensions/hibernate-orm/runtime/pom.xml
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime/pom.xml
  extensions/narayana-jta/runtime/pom.xml
  extensions/panache/hibernate-orm-panache-common/runtime/pom.xml
  extensions/panache/panache-hibernate-common/runtime/pom.xml
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/jaxrs/JaxRsMetricsTestCase.java
  integration-tests/gradle/src/main/resources/conditional-dependencies/ext-a/deployment/build.gradle
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/panache, area/persistence, area/gradle, area/smallrye, area/hibernate-orm, area/narayana, area/hibernate-search, area/dependencies, area/metrics, area/agroal, area/jakarta

#24906 Jakarta: transformations for Hibernate Reactive
  extensions/hibernate-reactive/runtime/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/persistence, area/hibernate-reactive, area/jakarta

#24858 Document access to Azure Service Hubs and Red Hat OpenShift Streams for Apache Kafka
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation, triage/backport?

#24908 Configure the HTTP host when domain sockets are used
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/backport-2.7?, triage/backport?

#24611 Add support for OIDC BackChannel Logout
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronPropertiesFileRecorder.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcConstants.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: release/noteworthy-feature, area/documentation, area/security, area/testing, area/oidc

#24912 Upgrade to ByteBuddy 1.12.9
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/hibernate-orm, area/dependencies, triage/backport-2.7?, triage/backport?

#24871 Kafka Serde discovery for direct implementations
  docs/src/main/asciidoc/kafka.adoc
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeDiscoveryState.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
Labels: area/documentation, area/smallrye, area/reactive-messaging

#24915 Jakarta migration: more progress
  build-parent/pom.xml
  extensions/hibernate-envers/runtime/pom.xml
  extensions/kubernetes-client/runtime/pom.xml
  extensions/mailer/runtime/pom.xml
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerImplTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerWithMultipartImplTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/SocketUtil.java
  extensions/security-webauthn/runtime/pom.xml
  extensions/smallrye-opentracing/runtime/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
  test-framework/kubernetes-client/pom.xml
  test-framework/openshift-client/pom.xml
Labels: area/persistence, area/smallrye, area/testing, area/hibernate-orm, area/kubernetes, area/dependencies, area/tracing, area/mailer, area/jakarta

#24924 Fix RBAC decorator scope
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
Labels: area/kubernetes, triage/backport?

#24905 Add image pull secret support to knative
  bom/application/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AzureDiskVolumeConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/MinikubeManifestGenerator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeContainerImageTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithImagePullSecretTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-with-image-pull-secret.properties
Labels: triage/waiting-for-ci, area/kubernetes, area/dependencies

#24875 Make sure that headers added from pre-matching filters are taken into account
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/PreMatchingHeadersFilterTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ClassRoutingHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FixedProducesHandler.java
Labels: area/resteasy-reactive, triage/backport-2.7?, triage/backport?

#24914 Removed unused methods
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/ProjectGenerator.java
Labels: area/platform, area/devtools

#24920 Upgrade to Hibernate ORM 5.6.8.Final
  bom/application/pom.xml
Labels: area/hibernate-orm, area/dependencies, area/hibernate-reactive, triage/backport?

#24929 Documents dependencies for fonts and locales tests on systems with C.UTF-8 default locale
  integration-tests/locales/src/test/java/io/quarkus/locales/it/LocalesIT.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RestClientTestCase.java
Labels: area/native-image, triage/backport-2.7?

#24893 Create duplicated context in the DevConsole virtual server
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/DevConsoleFilter.java
Labels: area/vertx, triage/backport?

#24941 Update dekorate to 2.9.2
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#24936 Use created wiremock instance for stub creation
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation, triage/backport?

#24947 Add buildpack error handing
  bom/application/pom.xml
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
Labels: area/dependencies

#24935 Support @TestProfile when using @Nested tests
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedWithTestProfileTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/testing, triage/backport?

#24957 Use -DnoCode instead of legacy -DnoExamples
  docs/src/main/asciidoc/building-my-first-extension.adoc
Labels: area/documentation

#24937 Update Vert.x to version 4.2.7
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-2.7?, triage/backport?

#24960 2.8.1 backports 2
  bom/application/pom.xml
  devtools/cli/distribution/jreleaser.yml
  devtools/cli/distribution/release-cli.sh
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/rest-client.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AzureDiskVolumeConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/MinikubeManifestGenerator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/PreMatchingHeadersFilterTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ArrayPairsQueryParamTest.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/DevConsoleFilter.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/UriBuilderImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ClassRoutingHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FixedProducesHandler.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle-kotlin-dsl/kotlin/build.tpl.qute.gradle.kts
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/kotlin/build.tpl.qute.gradle
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/kotlin/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/codestart.yml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/CreateProjectHelper.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/codegen/CreateProjectHelperTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeContainerImageTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithImagePullSecretTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/knative-with-image-pull-secret.properties
  integration-tests/locales/src/test/java/io/quarkus/locales/it/LocalesIT.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedWithTestProfileTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RestClientTestCase.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/test/java/io/quarkus/it/rabbitmq/RabbitMQConnectorDynCredsTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/documentation, area/infra, area/vertx, area/testing, area/platform, area/kubernetes, area/dependencies, area/devtools, area/cli, area/resteasy-reactive

#24892 Prevent filtering of resources at build time for Amazon lambda http and rest
  extensions/amazon-lambda-http/deployment/pom.xml
  extensions/amazon-lambda-rest/deployment/pom.xml
Labels: area/amazon-lambda

#24970 Another round of Jakarta progress
  .github/workflows/jakarta-rewrite.yml
  bom/application/pom.xml
  extensions/panache/hibernate-orm-panache-kotlin/runtime/pom.xml
  extensions/panache/hibernate-orm-panache/runtime/pom.xml
  extensions/panache/hibernate-reactive-panache/runtime/pom.xml
  extensions/panache/rest-data-panache/runtime/pom.xml
  extensions/spring-cloud-config-client/runtime/pom.xml
  extensions/spring-data-jpa/deployment/pom.xml
  extensions/spring-data-jpa/runtime/pom.xml
  extensions/spring-data-rest/deployment/pom.xml
  extensions/spring-data-rest/pom.xml
  extensions/spring-data-rest/runtime/pom.xml
  extensions/spring-web/core/common-runtime/pom.xml
  extensions/spring-web/core/deployment/src/main/java/io/quarkus/spring/web/deployment/AbstractExceptionMapperGenerator.java
  extensions/spring-web/resteasy-classic/runtime/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/panache, area/spring, area/dependencies, area/infra-automation, area/jakarta

#24966 Replace lambda in runtime code
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport?

#24946 Make the config available to Keycloak Dev Console after reload
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, triage/backport?

#24976 Revert "Bump dokka-maven-plugin from 1.6.10 to 1.6.20"
  build-parent/pom.xml
Labels: area/infra, area/dependencies

#24955 Remove completely outdated DevTools specification file
  devtools/Devtools_Specification.md
Labels: area/devtools

#24981 Add support for java.time.Instant params in RESTEasy Reactive
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/InstantParamConverter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/InstantParamTest.java
Labels: triage/backport?

#24933 Use quarkus-bom in jbang documentation
  docs/src/main/asciidoc/scripting.adoc
Labels: area/documentation, triage/backport?

#24984 Move HTTP compression settings to build time
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CompressionScanner.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveScanningProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveCompressionHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRuntimeRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpBuildTimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/StaticResourcesRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/DefaultRuntimeConfiguration.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/RuntimeConfiguration.java
Labels: area/vertx, release/breaking-change, area/resteasy-reactive

#24919 Suppress logging for configured exceptions thrown by Amazon Lambda handlers
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AbstractLambdaPollLoop.java
  extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/LambdaBuildTimeConfig.java
Labels: area/amazon-lambda

#24992 2.8.1 backports 3
  bom/application/pom.xml
  docs/src/main/asciidoc/scripting.adoc
  extensions/amazon-lambda-http/deployment/pom.xml
  extensions/amazon-lambda-rest/deployment/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/InstantParamConverter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/InstantParamTest.java
Labels: area/documentation, area/infra, area/vertx, area/amazon-lambda, area/oidc, area/dependencies

#24977 Check that resources and classes are effectively available at runtime
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinProcessor.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/scala/deployment/src/main/java/io/quarkus/scala/deployment/ScalaProcessor.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/smallrye, area/kotlin, area/hibernate-validator, area/scheduler, area/reactive-messaging, area/kafka, area/scala, area/devtools, area/tracing, area/resteasy-reactive, area/jackson

#24999 Document the GCF and AppEngine Java 17 runtime
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
  docs/src/main/asciidoc/gcp-functions-http.adoc
  docs/src/main/asciidoc/gcp-functions.adoc
  integration-tests/google-cloud-functions/src/main/resources/application.properties
Labels: area/documentation, area/google-cloud-functions

#25007 Configuration profile aware file clarification
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation, triage/backport?

#25006 Fixed registry platforms config merging
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/client/maven/MavenRegistryClientCompleteConfigTest.java
Labels: area/platform, area/devtools, triage/backport?

#25020 Better error when DOCKER_HOST invalid
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core, triage/backport?

#25004 Use correct method to report unknown properties
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
Labels: area/core, triage/backport?

#25035 Update OidcClientReactiveFilter to ensure only a single Authorization header is set
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientRequestReactiveFilter.java
Labels: triage/backport-2.7?, triage/backport?

#25031 Save empty array allocation when no path params exist
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
Labels: triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#25033 Prevent unnecessary parameter array allocations
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
Labels: triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#25019 Don't fail if we can't transform test classes
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeTransformerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
Labels: area/core, triage/backport?

#24894 Properly support CompletionStage as a return type in caching extension
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheResultCompletionStageReturnTypeTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CompletionStageReturnTypeTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateAllInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
Labels: area/cache

#25040 Mark dependencies to be checked by the JOSDK team before updates
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#25032 Save AtomicBoolean allocation in Arc
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/arc, triage/waiting-for-ci

#24949 Support codestarts of extensions outside catalog
  devtools/cli/src/main/java/io/quarkus/cli/CreateApp.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateCli.java
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/registry/RegistryClientMixin.java
  devtools/cli/src/test/java/io/quarkus/cli/MavenProjectInfoAndUpdateTest.java
  devtools/cli/src/test/java/io/quarkus/cli/NotRegisteredExtensionWithCodestartTest.java
  devtools/cli/src/test/java/io/quarkus/cli/RegistryClientBuilderTestBase.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusProjectStateMojoBase.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/BootstrapConstants.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ArtifactCoords.java
  independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartCatalogLoader.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartType.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/CodestartSpec.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/QuarkusCommandHandlers.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/CreateProjectHelper.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/state/TopExtensionDependency.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/CatalogMapperHelper.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/ExtensionImpl.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectCodestartMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/extension-codestart/deployment/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-codestart/deployment/src/main/java/io/quarkiverse/custom/deployment/CustomProcessor.java
  integration-tests/maven/src/test/resources-filtered/projects/extension-codestart/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-codestart/runtime/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-codestart/runtime/src/codestart/codestarts/quarkus/custom-codestart/codestart.yml
  integration-tests/maven/src/test/resources-filtered/projects/extension-codestart/runtime/src/codestart/codestarts/quarkus/custom-codestart/java/src/main/java/org/acme/CustomCode.java
  integration-tests/maven/src/test/resources-filtered/projects/extension-codestart/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  test-framework/maven/src/main/java/io/quarkus/maven/it/QuarkusPlatformAwareMojoTestBase.java
Labels: area/maven, area/testing, area/platform, area/devtools, area/codestarts, area/cli

#25038 Fix Map.Entry handling of parameterized tests
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/ParamsTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapEntryConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#25022 Only log messages once on failure
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/devmode-spi/src/main/java/io/quarkus/dev/appstate/ApplicationStartException.java
  core/devmode-spi/src/main/java/io/quarkus/dev/appstate/ApplicationStateNotification.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#25025 Introduce a way to disable integration tests for certain build types
  test-framework/junit5/src/main/java/io/quarkus/test/junit/ArtifactTypeUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisabledOnIntegrationTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisabledOnIntegrationTestCondition.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisabledOnNativeImage.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/JarLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/NativeImageLauncherProvider.java
Labels: area/testing

#25057 Use mockito-bom
  independent-projects/tools/pom.xml
Labels: area/platform, area/devtools

#24994 Apply minor polish to RESTEasy Reactive code
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRuntimeRecorder.java
Labels: area/resteasy-reactive

#25064 Jakarta - Bump Kotlin Maven plugin to 1.6.21
  jakarta/transform.sh
Labels: area/jakarta

#24969 Use gradlew in native image docs
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation, area/dependencies

#25062 Bump smallrye-jwt version to 3.4.0
  bom/application/pom.xml
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation, triage/waiting-for-ci, area/dependencies, triage/backport?

#25076 Handle client close/cancel on grpc mutiny streaming service
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/StreamCollectorInterceptor.java
  extensions/grpc/stubs/src/main/java/io/quarkus/grpc/stubs/ServerCalls.java
Labels: area/grpc

#25061 Add convenient ArcContainer.listAll() methods
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/lookup/ListInjectionTest.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/All.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcContainer.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/CurrentInjectionPointProvider.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Instances.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/all/ListAllTest.java
Labels: area/documentation, area/arc, triage/waiting-for-ci

#25084 Fix CCE with Map parameterized types
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/ParamsTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapConverter.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#25091 Update security-keycloak-authorization.adoc - added a note for AuthzClient Injection
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
Labels: area/documentation, triage/backport?

#25111 Fix lowercase in category description
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
Labels: area/devtools, triage/backport?

#25092 Introduce system property for controlling URI validation
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/waiting-for-ci

#25082 Override Gradle output format
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusGradleWrapperTestBase.java
Labels: area/gradle, triage/waiting-for-ci

#25104 Do not require the main module sources to be present in when resolving the app model
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
Labels: area/devtools

#25119 2.8.2 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeTransformerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/devmode-spi/src/main/java/io/quarkus/dev/appstate/ApplicationStartException.java
  core/devmode-spi/src/main/java/io/quarkus/dev/appstate/ApplicationStateNotification.java
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientRequestReactiveFilter.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesRedisProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiDefaultPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiHttpRootDefaultPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiWithResteasyPathHttpRootDefaultPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiWithResteasyPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/vertx/OpenApiDefaultPathTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/vertx/OpenApiHttpRootDefaultPathTestCase.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/dev/KafkaDevServicesDevModeTestCase.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/DefaultWorkspaceModule.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/WorkspaceModule.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/client/maven/MavenRegistryClientCompleteConfigTest.java
  integration-tests/gradle/src/main/resources/basic-java-library-module/application/src/main/java/org/acme/ApplicationConfigResource.java
  integration-tests/gradle/src/main/resources/basic-java-library-module/application/src/test/java/org/acme/ApplicationConfigResourceTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/ApplicationConfigurationTest.java
  integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/openapi/OpenApiDefaultPathPMT.java
  integration-tests/test-extension/src/test/java/io/quarkus/it/extension/ParamsTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapEntryConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
Labels: area/documentation, area/gradle, area/core, area/arc, area/infinispan, area/smallrye, area/infra, area/openapi, area/testing, area/reactive-messaging, area/mongodb, area/oidc, area/spring, area/platform, area/kafka, area/dependencies, area/devtools, area/redis, area/elasticsearch

#25131 Fix REST Client Reactive path handling for sub-resources
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/Resource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceTest.java
Labels: area/resteasy-reactive, triage/backport?

#25127 MP Config - fix programmatic lookup of custom type config property
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigImplicitConverterTest.java
Labels: area/arc, triage/backport?

#25106 Upgrade to Scala 2.13
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/scala/pom.tpl.qute.xml
  integration-tests/scala/src/test/resources/projects/classic-scala/pom.xml
Labels: release/noteworthy-feature, area/platform, area/dependencies, area/scala, area/devtools

#25130 Fix typo: lambas -> lambdas
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/amazon-lambda-example/java/src/test/java/org/acme/lambda/LambdaHandlerTest.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/funqy-amazon-lambda-example/java/src/test/java/org/acme/funqy/FunqyTest.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/LambdaHandlerET.java
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/src/test/java/LambdaHandlerTest.java
Labels: area/amazon-lambda, area/devtools

#25129 ArC - optimize CreationalContext for synthetic dependent beans
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/dependent/DependentCreationalContextTest.java
Labels: area/arc, triage/waiting-for-ci

#24995 Prevent buildpack inception style builds
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
Labels: triage/backport?

#24845 Support custom test classes dir under 'target'
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/src/integrationtest/java/org/acme/GreetingResourceIntegrationTest.java
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/src/test/java/org/acme/GreetingResourceTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/maven, area/testing, triage/backport?

#25144 Revert PathMatchingHttpSecurityPolicy update which prepends quarkus.http.root-path to policy paths
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/PathWithHttpRootTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatchingHttpSecurityPolicy.java
Labels: area/vertx, triage/backport?

#25128 Register java plugin in Gradle plugins
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionPlugin.java
Labels: area/gradle, area/devtools

#25085 Support QuarkusTestResourceLifecycleManager#inject in CLI test classes
  integration-tests/picocli-native/src/test/java/io/quarkus/it/picocli/PicocliTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
Labels: area/testing, area/picocli

#25126 Add note on using @QuarkusIntegrationTest with containers
  docs/src/main/asciidoc/container-image.adoc
Labels: area/documentation

#25148 2.8.2 backports 2
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/ConfigImplicitConverterTest.java
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/ClassRestClientContext.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/java/io/quarkus/jaxrs/client/reactive/runtime/ParameterAnnotationsSupplier.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/java/io/quarkus/jaxrs/client/reactive/runtime/ParameterGenericTypesSupplier.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/java/io/quarkus/jaxrs/client/reactive/runtime/RestClientBase.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/MapParamsTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/Resource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/PathWithHttpRootTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatchingHttpSecurityPolicy.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/src/integrationtest/java/org/acme/GreetingResourceIntegrationTest.java
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/src/test/java/org/acme/GreetingResourceTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/arc, area/maven, area/infra, area/vertx, area/testing, area/resteasy-reactive

#25147 Do not running elasticsearch-rest-client-deployment tests unless -Dtest-containers is set
  extensions/elasticsearch-rest-client/deployment/pom.xml
Labels: triage/waiting-for-ci, area/elasticsearch

#25158 Fix OpenTelemetry substitution
  extensions/opentelemetry/opentelemetry-exporter-jaeger/runtime/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/runtime/JaegerSubstitutions.java
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
Labels: area/tracing, triage/backport?

#25068 Initial Support for SunPKCS11 provider in native image
  docs/src/main/asciidoc/security-customization.adoc
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/JCAProviderBuildItem.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityConfig.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityProviderUtils.java
  integration-tests/bouncycastle/src/main/java/io/quarkus/it/bouncycastle/BouncyCastleEndpoint.java
  integration-tests/bouncycastle/src/main/resources/application.properties
  integration-tests/bouncycastle/src/test/java/io/quarkus/it/bouncycastle/BouncyCastleTestCase.java
  integration-tests/pom.xml
Labels: area/documentation, area/security

#25166 Allow setting Java source type with Gradle Kotlin DSL
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetLanguageGroup.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
Labels: area/devtools, area/cli, triage/backport?

#25160 Fix smallrye-graphql-client artifact ID in application bom
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport-2.7?, triage/backport?

#25072 Logging - set default value for quarkus.log.file.rotation.max-file-size
  .gitignore
  core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/logging/CategoryConfiguredHandlerTest.java
Labels: release/noteworthy-feature, area/core, area/logging, triage/waiting-for-ci, release/breaking-change

#25156 Add test for websocket+HTTP root path
  extensions/websockets/server/deployment/src/test/java/io/quarkus/websockets/test/WebsocketRootPathTestCase.java
Labels: area/websockets
