Repository quarkusio/quarkus, pull requests merged in 2022-01, with the labels that each got.

#22547 Clean up how entries are ignored in jar building
  core/deployment/src/main/java/io/quarkus/deployment/mutability/DevModeTask.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/QuarkusEntryPoint.java
Labels: area/core, area/devtools

#22571 Remove constraint for org.slf4j:jcl-over-slf4j from BOM
  bom/application/pom.xml
Labels: area/dependencies

#22570 Updating to slf4j 1.7.32
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#22579 Configurable secondary orderer for `QuarkusTestProfileAwareClassOrderer`
  test-framework/junit5/src/main/java/io/quarkus/test/junit/util/QuarkusTestProfileAwareClassOrderer.java
  test-framework/junit5/src/test/java/io/quarkus/test/junit/util/QuarkusTestProfileAwareClassOrdererTest.java
Labels: area/testing

#22445 Document REST Client Reactive logging
  docs/src/main/asciidoc/rest-client-reactive.adoc
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/logging/DefaultClientLogger.java
Labels: area/documentation

#22582 Prevent Maven compiler parameters from being used in Kotlin compiler
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
Labels: triage/backport?

#22587 Ignore inherited qualifiers from superclass if appropriate
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/inheritance/QualifiersInheritanceTest.java
Labels: area/arc, triage/waiting-for-ci

#22586 Never intercept synthetic static methods
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/staticmethods/InterceptedStaticMethodsProcessor.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#22583 Remove distroless image generation
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.native-distroless
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
Labels: area/documentation, area/platform, area/devtools

#22525 Serve dev ui static files from webjar
  core/deployment/src/main/java/io/quarkus/deployment/util/WebJarUtil.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/DevConsoleRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/DevConsoleStaticHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/FileSystemStaticHandler.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/IoUtils.java
Labels: area/core, area/vertx, area/devtools

#22559 Properly handle http.root-path in webjars-locator
  extensions/webjars-locator/deployment/src/main/java/io/quarkus/webjar/locator/deployment/WebJarLocatorStandaloneBuildStep.java
  extensions/webjars-locator/deployment/src/test/java/io/quarkus/webjar/locator/test/WebJarLocatorRootPathTest.java
Labels: triage/waiting-for-ci

#22600 Do not let a single `quarkus-extension.yaml` break entire Dev UI
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsole.java
Labels: area/vertx, triage/backport?

#22596 Inform of application log file path when @QuarkusIntegrationTest fails
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
Labels: triage/waiting-for-ci, area/testing

#22588 Provide configuration for RESTEasy Reactive response buffer size
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/response/ChunkedResponseTest.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/ResteasyReactiveConfig.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ResteasyReactiveDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/Deployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/DeploymentInfo.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
Labels: area/resteasy-reactive

#22486 Update the Elasticsearch low level client to 7.16.2
  .github/dependabot.yml
  bom/application/pom.xml
  docs/src/main/asciidoc/elasticsearch.adoc
  extensions/elasticsearch-rest-high-level-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/dependencies, area/infra-automation, area/elasticsearch

#22562 Allow user defined exception mappers to override built-in security exception mapping
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/CustomExceptionMapperTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AuthenticationFailedExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/UnauthorizedExceptionMapper.java
Labels: area/resteasy-reactive, triage/backport?

#22604 Qute - few micro-optimizations
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatedParams.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ImmutableList.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/MemberKey.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ReflectionValueResolver.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Results.java
Labels: area/qute

#22276 Prohibit the use of legacy Kotlin interface default methods on Reactive REST Client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
Labels: area/resteasy-reactive

#22618 Use proper casing when referring to OpenID Connect in docs
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
  docs/src/main/asciidoc/security-testing.adoc
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#22615 Guard against CCE in OTel Vert.x integration
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/OpenTelemetryVertxTracer.java
Labels: area/tracing

#22578 Fixed ignored escape sequence by explicitly defining it via maven
  extensions/azure-functions-http/maven-archetype/pom.xml
Labels: triage/backport?

#22620 Do not handle print-data-fetcher-exception as a config relocation
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfigMapping.java
Labels: area/smallrye, area/graphql

#22625 Enable native tests for hibernate-orm-panache-kotlin
  integration-tests/hibernate-orm-panache-kotlin/disable-native-profile
  integration-tests/hibernate-orm-panache-kotlin/src/test/kotlin/io/quarkus/it/panache/KotlinPanacheFunctionalityInGraalITCase.kt
  integration-tests/hibernate-orm-panache-kotlin/src/test/kotlin/io/quarkus/it/panache/KotlinPanacheFunctionalityTest.kt
Labels: area/panache, area/kotlin

#22612 REST Client Reactive proxy authentication, global proxy settings
  bom/application/pom.xml
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/RestClientTestUtil.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/Client1.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/Client2.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/Client3.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/Client4.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/GlobalProxyPasswordTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/ProxyTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/ProxyTestBase.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/SystemPropertyProxyTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/SystemPropertyProxyWithAuthTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/ViaHeaderReturningResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/global-proxy-password-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/proxy-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/system-props-proxy-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/ProxyAddressUtil.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
Labels: area/documentation, area/dependencies, area/resteasy-reactive

#22629 Add ZUNION method to RedisClient
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/RedisClient.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/reactive/ReactiveRedisClient.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/ReactiveRedisClientImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisClientImpl.java
Labels: area/redis

#22592 Stork getting started and reference guides
  docs/src/main/asciidoc/images/stork-getting-started-architecture.png
  docs/src/main/asciidoc/images/stork-process.png
  docs/src/main/asciidoc/stork-reference.adoc
  docs/src/main/asciidoc/stork.adoc
  extensions/smallrye-stork/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/smallrye

#22455 Fix log capturing for instances of Logger in QuarkusMainTests
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/WithMethodSubCommand.java
  integration-tests/picocli-native/src/test/java/io/quarkus/it/picocli/PicocliTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
Labels: area/core, triage/waiting-for-ci, area/testing, area/picocli

#22626 Native test for kubernetes-service-binding-jdbc
  .github/native-tests.json
  integration-tests/kubernetes-service-binding-jdbc/src/test/java/io/quarkus/it/k8ssb/jdbc/FruitsEndpointIT.java
Labels: area/infra-automation

#22621 Enforce an RFC valid Accept value for remote dev requests
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/HttpRemoteDevClient.java
Labels: area/vertx

#22628 Bump io.smallrye.reactive:vertx-mutiny-clients-bom to 2.17.0
  bom/application/pom.xml
Labels: area/dependencies

#22631 Bump quarkiverse-parent to 9
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarki-ext_pom.xml
Labels: area/maven, triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#22627 Native test for webjars-locator
  .github/native-tests.json
  integration-tests/webjars-locator/pom.xml
  integration-tests/webjars-locator/src/test/java/io/quarkus/it/webjar/locator/WebJarResourceIT.java
Labels: area/infra-automation

#22638 [2.2] Update Vert.x to version 4.1.8
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/amazon-lambda, area/dependencies

#22641 Do not use deprecated APIs from the upcoming Mutiny 1.3.0 release
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/SomeService.java
Labels: area/mutiny, area/resteasy-reactive

#22643 Update docs to better reflect Mandrel's and GraalVM's current state
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#22639 Introduce support for Uni return types in Micrometer annotations
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/runtime/MicrometerCounterInterceptorTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/runtime/MicrometerTimedInterceptorTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/CountedResource.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/TimedResource.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerCountedInterceptor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerTimedInterceptor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/TypesUtil.java
Labels: area/metrics

#22644 Ensure that UTF8 is used as the default encoding in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/response/ResponseStringNonAsciiTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/BasicServerJacksonMessageBodyWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyWriter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/kotlin/serialization/KotlinSerializationMessageBodyWriter.kt
  independent-projects/resteasy-reactive/server/jackson/src/main/java/org/jboss/resteasy/reactive/server/jackson/JacksonMessageBodyWriterUtil.java
  independent-projects/resteasy-reactive/server/jsonb/src/main/java/org/jboss/resteasy/reactive/server/jsonb/JsonbMessageBodyWriter.java
Labels: area/resteasy-reactive, triage/backport?

#22661 quarkus-bot - add rules for the area/context-propagation label
  .github/quarkus-bot.yml
Labels: area/infra, area/infra-automation

#22650 Upgrade to Hibernate Search 6.0.8.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#22616 Docs - extensions guide - mention few more built-in converters
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#22649 Support non-proxy hosts in REST Client Reactive
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/Client5.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/Client6.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/GlobalNonProxyTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/ProxyTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/ProxyTestBase.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/SystemPropertyProxyTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/SystemPropertyProxyWithAuthTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/global-non-proxy-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/proxy-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
Labels: area/documentation, area/resteasy-reactive

#22609 Move RESTEasy provider registration as unremovable beans to common module
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  integration-tests/smallrye-opentracing/pom.xml
  integration-tests/smallrye-opentracing/src/main/resources/application.properties
Labels: triage/backport?

#22660 Bump kubernetes-client-bom from 5.11.1 to 5.11.2
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#22667 Make sure quarkusDev configuration is resolved before quarkusTest task runs
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/gradle, triage/backport?

#22632 Replace specific Kotlin coroutine dependencies with imported BOM
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#22331 Configuration property to use only system sources
  core/deployment/src/main/java/io/quarkus/deployment/ConfigBuildTimeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigBuildSteps.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/SystemOnlySourcesConfigBuilder.java
  devtools/cli/src/main/resources/application.properties
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliDeploymentConfiguration.java
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliProcessor.java
  extensions/picocli/deployment/src/test/java/io/quarkus/picocli/deployment/AvailableConfigSourcesTest.java
Labels: area/core, area/config, triage/waiting-for-ci, area/devtools, area/cli, area/picocli, triage/backport?

#22681 Make sure REST methods can be called without an active CDI context
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/MetricDescriptor.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/QuarkusRestPathTemplateInterceptor.java
  integration-tests/micrometer-mp-metrics/src/main/java/io/quarkus/it/micrometer/mpmetrics/PrimeResource.java
Labels: area/metrics

#22682 Documentation for quarkusRegistryClient
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, area/devtools

#22664 Bump kubernetes-client-bom from 5.7.3 to 5.7.4
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#22610 Qute - default locale and charset
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/encoding/CustomEncodingTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleCustomDefaultLocaleTest.java
  extensions/qute/deployment/src/test/resources/io/quarkus/qute/deployment/encoding/foo.txt
  extensions/qute/runtime/src/main/java/io/quarkus/qute/i18n/MessageBundle.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteConfig.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Variant.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/HtmlEscaperTest.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#22687 SmallRye GraphQL 1.4.1
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#22692 Avoid ending up with negative last page in REST Data Panache
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/EmptyListItem.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/EmptyListItemsResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourceGetMethodTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/EmptyListItem.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/EmptyListItemsRepository.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/EmptyListItemsResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/repository/PanacheRepositoryResourceGetMethodTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/resources/import.sql
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/PaginationImplementor.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/EmptyListRecord.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/EmptyListRecordsPagedResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/EmptyListRecordsRepository.java
Labels: area/panache, area/spring, triage/backport?

#22720 Fix schemaLocation problem in LiquibaseFunctionalityNativeIT
  integration-tests/liquibase/src/main/resources/db/xml/create-views.xml
Labels: area/liquibase

#22715 Apply various fixes to Kotlin Serialization modules
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/deployment/src/main/java/io/quarkus/kotlin/serialization/KotlinSerializationCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/deployment/src/main/java/io/quarkus/kotlin/serialization/deployment/KotlinSerializationProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/kotlin/serialization/KotlinSerializationMessageBodyReader.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/kotlin/serialization/KotlinSerializationMessageBodyWriter.kt
  extensions/resteasy-reactive/rest-client-reactive-kotlin-serialization/deployment/pom.xml
  extensions/resteasy-reactive/rest-client-reactive-kotlin-serialization/deployment/src/main/java/io/quarkus/rest/client/reactive/kotlin/deployment/RestClientReactiveKotlinSerializationProcessor.java
  extensions/resteasy-reactive/rest-client-reactive-kotlin-serialization/runtime/pom.xml
  extensions/resteasy-reactive/rest-client-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/rest/client/reactive/kotlin/runtime/serializers/ClientKotlinMessageBodyReader.kt
  extensions/resteasy-reactive/rest-client-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/rest/client/reactive/kotlin/runtime/serializers/ClientKotlinMessageBodyWriter.kt
  integration-tests/rest-client-reactive-kotlin-serialization/pom.xml
Labels: area/resteasy-reactive

#22721 Clarify the Panache docs regarding getters/setters enhancement
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
Labels: area/documentation, area/panache

#22716 Bump kubernetes-client-bom from 5.10.1 to 5.10.2
  bom/application/pom.xml
Labels: area/dependencies

#22725 Switch all liquibase schemaLocations to https and update to dbchangelog-4.4.xsd
  docs/src/main/asciidoc/liquibase-mongodb.adoc
  docs/src/main/asciidoc/liquibase.adoc
  extensions/liquibase/deployment/src/test/resources/db/all/changeLog.xml
  extensions/liquibase/deployment/src/test/resources/db/changeLog.xml
  extensions/liquibase/deployment/src/test/resources/db/inventory/changeLog.xml
  extensions/liquibase/deployment/src/test/resources/db/users/changeLog.xml
  extensions/liquibase/deployment/src/test/resources/db/xml/changeLog.xml
  extensions/liquibase/deployment/src/test/resources/db/xml/create-tables.xml
  extensions/liquibase/deployment/src/test/resources/db/xml/create-views.xml
  extensions/liquibase/deployment/src/test/resources/db/xml/test/test.xml
  integration-tests/liquibase-mongodb/src/main/resources/liquibase/changelog.xml
  integration-tests/liquibase/src/main/resources/db/changeLog.xml
  integration-tests/liquibase/src/main/resources/db/complex-schema/changeLog.xml
  integration-tests/liquibase/src/main/resources/db/update/changeLog.xml
  integration-tests/liquibase/src/main/resources/db/xml/changeLog.xml
  integration-tests/liquibase/src/main/resources/db/xml/create-tables.xml
  integration-tests/liquibase/src/main/resources/db/xml/includeAll/test1.xml
  integration-tests/liquibase/src/main/resources/db/xml/includeAll/test2.xml
  integration-tests/liquibase/src/main/resources/db/xml/test/test.xml
Labels: area/documentation, triage/waiting-for-ci, area/liquibase

#22701 Fix hbm.xml builds with CompositeAttributes
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/hbm/HbmXmlComponentTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/hbm/NonAnnotatedComponent.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/hbm/NonAnnotatedComponentUsingEntity.java
  extensions/hibernate-orm/deployment/src/test/resources/META-INF/hbm-component.xml
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, triage/backport?

#22676 Specify default credentials for KeyCloak Admin console
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation, triage/backport?

#22722 Enable returning a Mutiny Buffer from RESTEasy Reactive Resource Method
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/serializers/ServerMutinyBufferMessageBodyWriter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/SimpleQuarkusRestResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/SimpleQuarkusRestTestCase.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#22728 Docs - fix broken links to the CDI spec
  docs/src/main/asciidoc/cdi-integration.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/cdi.adoc
  docs/src/main/asciidoc/lifecycle.adoc
  docs/src/main/asciidoc/spring-di.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, triage/backport?

#22730 Fixed NPE for OpenTelemetry tracing requests without remoteAddress
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/VertxUtil.java
Labels: area/tracing, triage/backport?

#22648 Provide a way to push container properties to database dev services
  docs/src/main/asciidoc/datasource.adoc
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceProvider.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/derby/src/main/java/io/quarkus/devservices/derby/deployment/DerbyDevServicesProcessor.java
  extensions/devservices/h2/src/main/java/io/quarkus/devservices/h2/deployment/H2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
Labels: area/documentation

#22733 Slightly optimize VertxUtil in Opentelemetry
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/VertxUtil.java
Labels: area/tracing

#22729 Fixed platform stream selection when platform key is null
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/UpstreamStreamCoordsWithNullPlatformKeyTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
Labels: area/platform, area/devtools, triage/backport?

#22737 Clarified the Docker Compose instructions
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, triage/waiting-for-ci

#22739 Change default scope of ConstraintValidators to @Dependent
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
Labels: area/hibernate-validator

#22742 Exclude Gradle Kotlin ITs on Java 18+ for now
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-kotlin-project/web/build.gradle.kts
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/BasicKotlinApplicationModuleDevModeTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/MultiModuleKotlinProjectDevModeTest.java
Labels: area/gradle

#22734 Fix logging with panache in entities
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusClassVisitor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateEntityEnhancer.java
  integration-tests/logging-panache/pom.xml
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingEntity.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingWithPanacheTest.java
Labels: area/persistence, area/core, area/hibernate-orm, triage/backport?

#16706 Skip caching Multi and log WARN message at build time
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheDeploymentConstants.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/MultiValueTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
Labels: area/cache

#22703 Fixed config locations to be URIs
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ConfigConfig.java
Labels: area/core, triage/waiting-for-ci

#22744 Create file when adding a registry to default config
  devtools/cli/src/main/java/io/quarkus/cli/RegistryAddCommand.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigImpl.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigLocator.java
Labels: area/platform, area/devtools, area/cli, triage/backport?

#22747 Adjust Kogito guides to also import the resteasy-jackson extension
  docs/src/main/asciidoc/kogito-dmn.adoc
  docs/src/main/asciidoc/kogito-drl.adoc
  docs/src/main/asciidoc/kogito-pmml.adoc
  docs/src/main/asciidoc/kogito.adoc
Labels: area/documentation, triage/backport?

#22749 Update protobuf-java to 3.19.2
  pom.xml
Labels: triage/backport?

#22750 Use configured root-path and non-application-root-path to configure the NonApplicationEndpointSampler
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/NonAppEndpointsDisabledWithRootPathTest.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/NonApplicationEndpointSampler.java
Labels: area/tracing, triage/backport?

#22752 2.6.2 backports 2
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusClassVisitor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ConfigConfig.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryAddCommand.java
  docs/src/main/asciidoc/kogito-dmn.adoc
  docs/src/main/asciidoc/kogito-drl.adoc
  docs/src/main/asciidoc/kogito-pmml.adoc
  docs/src/main/asciidoc/kogito.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateEntityEnhancer.java
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/NonAppEndpointsDisabledWithRootPathTest.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/NonApplicationEndpointSampler.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/UpstreamStreamCoordsWithNullPlatformKeyTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigImpl.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigLocator.java
  integration-tests/logging-panache/pom.xml
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingEntity.java
  integration-tests/logging-panache/src/test/java/io/quarkus/logging/LoggingWithPanacheTest.java
  pom.xml
Labels: area/documentation, area/persistence, area/core, area/infra, area/hibernate-orm, area/platform, area/devtools, area/tracing, area/cli

#22755 AWT TS: Use test suite own fonts for tests, not system ones
  extensions/awt/runtime/src/main/java/io/quarkus/awt/runtime/JDKSubstitutions.java
  integration-tests/awt/src/main/java/io/quarkus/awt/it/Application.java
  integration-tests/awt/src/main/java/io/quarkus/awt/it/ImageResource.java
  integration-tests/awt/src/test/java/io/quarkus/awt/it/ImageGeometryFontsTest.java
  integration-tests/awt/src/test/resources/DejaVuSansMonoX.ttf
  integration-tests/awt/src/test/resources/application.properties
Labels: area/graphics

#22760 Fix broken link to Keycloak in docs
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation

#22756 Fix Kotlin Serialization native support
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/deployment/src/main/java/io/quarkus/kotlin/serialization/deployment/KotlinSerializationProcessor.java
  integration-tests/kotlin-serialization/pom.xml
  integration-tests/kotlin-serialization/src/main/kotlin/io/quarkus/it/kotser/model/Person.kt
  integration-tests/kotlin-serialization/src/test/kotlin/io/quarkus/it/kotser/ResourceIT.kt
  integration-tests/kotlin-serialization/src/test/kotlin/io/quarkus/it/kotser/ResourceTest.kt
Labels: area/kotlin, area/resteasy-reactive

#22697 Upgrade to Hibernate Search 6.1.0.Beta2
  .github/native-tests.json
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/integration/HibernateOrmIntegrationRuntimeInitListener.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/HibernateSearchClasses.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/runtime/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/multitenancy/fruit/CustomTenantResolver.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/multitenancy/fruit/Fruit.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/java/io/quarkus/it/hibernate/search/elasticsearch/multitenancy/fruit/FruitResource.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/resources/db/migration/V1.0.0__init.sql
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/test/java/io/quarkus/it/hibernate/search/elasticsearch/multitenancy/fruit/HibernateSearchTenancyFunctionalityInGraalITCase.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/test/java/io/quarkus/it/hibernate/search/elasticsearch/multitenancy/fruit/HibernateSearchTenancyFunctionalityTest.java
  integration-tests/hibernate-search-orm-opensearch/README.md
  integration-tests/hibernate-search-orm-opensearch/pom.xml
  integration-tests/hibernate-search-orm-opensearch/src/main/java/io/quarkus/it/hibernate/search/opensearch/analysis/BackendAnalysisConfigurer.java
  integration-tests/hibernate-search-orm-opensearch/src/main/java/io/quarkus/it/hibernate/search/opensearch/search/Address.java
  integration-tests/hibernate-search-orm-opensearch/src/main/java/io/quarkus/it/hibernate/search/opensearch/search/HibernateSearchTestResource.java
  integration-tests/hibernate-search-orm-opensearch/src/main/java/io/quarkus/it/hibernate/search/opensearch/search/Person.java
  integration-tests/hibernate-search-orm-opensearch/src/main/resources/META-INF/beans.xml
  integration-tests/hibernate-search-orm-opensearch/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/opensearch/HibernateSearchOpenSearchInGraalIT.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/opensearch/HibernateSearchOpenSearchTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/opensearch/TestResources.java
  integration-tests/pom.xml
Labels: area/documentation, area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-search, area/dependencies, area/infra-automation, area/hibernate-reactive

#22717 Fix preserve next fire time of rescheduled job in quartz
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
Labels: area/scheduler, triage/backport?

#22387 Add ability to change included tags
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleStateManager.java
  core/deployment/src/main/java/io/quarkus/deployment/console/QuarkusCommand.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/testing/KnownTags.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveDevModeProcessor.java
Labels: area/core, triage/waiting-for-ci, area/resteasy-reactive

#22769 Fix watched files for `quarkus.config.locations`
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
Labels: area/core, triage/backport?

#22758 Mention `enforceBuildGoal` flag when trying to run dev mode with missing `build` goal
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, triage/waiting-for-ci, area/devtools

#22768 Rest client - better error message when a rest client is injected into Filters
  extensions/resteasy-classic/rest-client-config/deployment/pom.xml
  extensions/resteasy-classic/rest-client-config/runtime/pom.xml
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
Labels: area/resteasy-reactive

#22781 Improve GRPC server blocked performance
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/BlockingExecutionHandler.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/BlockingServerInterceptor.java
Labels: area/grpc

#22794 Get rid of useless JBoss Threads version in build logs
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/GradleLogger.java
  devtools/maven/src/main/java/io/quarkus/maven/MojoLogger.java
Labels: area/gradle, area/maven, area/devtools

#22766 Make copying of Vertx context data conditional
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/CopyVertxContextDataBuildItem.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxRequestContextFactory.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/vertx, area/tracing, area/resteasy-reactive

#22763 Apply minor polish to OidcAuthenticationMechanism
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
Labels: area/oidc

#22813 Use NumberFormat to write Jaeger configuration in the default locale
  extensions/jaeger/deployment/src/test/java/io/quarkus/jaeger/test/CommaParseJaegerConfigurationTest.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerDeploymentRecorder.java
Labels: area/jaeger, triage/backport?

#22787 Remove config customizer
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
Labels: area/core

#22809 Fix Config CCE in continuous testing
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
Labels: area/core, triage/backport?

#22782 Clear thread's interrupted status before re-openning a file channel that was closed
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/PathTreeClassPathElement.java
Labels: area/devtools

#22804 Qute - make sure to call Qute.clearCache() during app shutdown
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Qute.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/QuteTest.java
Labels: triage/waiting-for-ci, area/qute

#22814 Enable recording of JAXBElement during static init
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/hbm/HbmXmlFilterDefTest.java
  extensions/hibernate-orm/deployment/src/test/resources/META-INF/hbm-filterdef.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/xml/JAXBElementSubstitution.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/xml/QNameSubstitution.java
Labels: area/persistence, area/hibernate-orm, triage/backport?

#22825 Bump to Mutiny 1.3.0 and Mutiny Vert.x bindings 2.18.0
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/reactive, triage/waiting-for-ci, area/dependencies, area/qute, area/resteasy-reactive

#22291 Add shared attribute to the Reactive Rest Client
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/api/QuarkusRestClientProperties.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
Labels: area/resteasy-reactive

#22796 Update tools provided Dockerfiles to use RHEL 8.5
  docs/src/main/asciidoc/building-native-image.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/src/main/docker/Dockerfile.jvm
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/src/main/docker/Dockerfile.jvm
  integration-tests/gradle/src/main/resources/basic-java-platform-module/application/src/main/docker/Dockerfile.jvm
  integration-tests/gradle/src/main/resources/basic-java-platform-module/application/src/main/docker/Dockerfile.native
Labels: area/documentation, area/gradle, area/platform, area/devtools

#22683 Support non-blocking cache invalidation
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/MultipleCacheAnnotationsTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/UniReturnTypeTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/UniValueTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateAllInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheImpl.java
Labels: area/cache

#22791 Restore and deprecate GlobUtil in core-deployment
  core/deployment/src/main/java/io/quarkus/deployment/util/GlobUtil.java
Labels: area/core

#22732 Improve error message in case http method is missing in Amazon API Gateway event
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
Labels: area/amazon-lambda

#22831 Save some allocations in CodeAuthenticationMechanism
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
Labels: triage/waiting-for-ci, area/oidc

#22816 Trim string values defined in the Hibernate ORM configuration
  core/runtime/src/main/java/io/quarkus/runtime/configuration/CharsetConverter.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/TrimmedStringConverter.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcBuildTimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourceRuntimeConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
Labels: area/persistence, area/core, area/config, triage/waiting-for-ci, area/hibernate-orm, area/agroal

#22774 Add @NoClassInterceptors to skip class-level interceptors
  docs/src/main/asciidoc/cdi-reference.adoc
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/NoClassInterceptors.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/ClassLevel.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/ClassLevelInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/InheritedClassLevel.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/InheritedClassLevelInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/InterceptedBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/MethodLevel.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/MethodLevelInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/NoClassInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/noclassinterceptors/SuperclassWithInterceptor.java
Labels: area/documentation, area/arc, triage/waiting-for-ci

#17314 Feature/issues 8306
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation

#22829 Update security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation

#22848 Add parameter for Java version with CLI & Maven
  devtools/cli/src/main/java/io/quarkus/cli/CreateApp.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateCli.java
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetLanguageGroup.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/CreateProjectHelper.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectMojoIT.java
Labels: area/maven, area/platform, area/devtools, area/cli

#15037 Duplicate endpoint detection
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/EndpointConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/duplicate/DuplicateResourceDetectionTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/duplicate/DuplicateResourceWarningTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/duplicate/GreetingResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/duplicate/GreetingResource2.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/duplicate/GreetingResource3.java
Labels: triage/waiting-for-ci, release/breaking-change, area/resteasy-reactive

#22858 Fix broken formatting in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
Labels: area/resteasy-reactive

#22854 Log cache keys content and trace cache methods
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CompositeCacheKey.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/DefaultCacheKey.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateAllInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheInvalidateInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheImpl.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/metrics/MicrometerMetricsInitializer.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/metrics/NoOpMetricsInitializer.java
Labels: area/cache

#22850 Resteasy Reactive: Handle null fields in multiparts
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputUsingBlockingEndpointsTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartMessageBodyWriter.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#22828 ArC - producers - change the client proxy class package
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unproxyable/ProducerReturnTypePackagePrivateNoArgsConstructorTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unproxyable/some/Resource.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/constructor/ProducerReturnTypePackagePrivateNoArgsConstructorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/constructor/some/Resource.java
Labels: area/arc, triage/waiting-for-ci

#22860 Add OidcClientConfig Grant getter and setter
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClientConfig.java
Labels: triage/waiting-for-ci, triage/backport?

#22855 Multipart download in REST Client Reactive
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/java/io/quarkus/jaxrs/client/reactive/runtime/JaxrsClientReactiveClientContextResolver.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/java/io/quarkus/jaxrs/client/reactive/runtime/JaxrsClientReactiveRecorder.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/java/io/quarkus/jaxrs/client/reactive/runtime/impl/MultipartResponseDataBase.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultipartResponseTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientResponseCompleteRestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/DefaultClientContext.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/HandlerChain.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/CaseIgnoringComparator.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/FileDownloadImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusHttpPostBodyUtil.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartResponseDataFactory.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartResponseDecoder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/ClientContext.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/FieldFiller.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/MultipartResponseData.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/MultipartForm.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/multipart/FileDownload.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/multipart/FilePart.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/multipart/FileUpload.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/DefaultFileUpload.java
Labels: area/documentation, area/resteasy-reactive

#22869 Doc note: Reactive Oracle Client extension has experimental status
  docs/src/main/asciidoc/reactive-sql-clients.adoc
Labels: area/documentation

#22866 Ensure that the presence of OpenTelemetry does not break Jib builds
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib/pom.xml
Labels: triage/waiting-for-ci, triage/backport?

#22861 Qute - support global variables
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/GeneratedTemplateInitializerBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateGlobalBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/globals/TemplateGlobalDuplicityTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/globals/TemplateGlobalInvalidNameTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/globals/TemplateGlobalOverrideTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/globals/TemplateGlobalTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/globals/TemplateGlobalValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/globals/User.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteRecorder.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateExtension.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateGlobal.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstance.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/TemplateInstanceInitializerTest.java
  independent-projects/qute/generator/pom.xml
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/Descriptors.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/TemplateGlobalGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/TemplateGlobalGeneratorTest.java
Labels: area/documentation, area/qute

#22863 Apply minor CDI related polish to Vertx Security classes
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
Labels: area/vertx, triage/waiting-for-ci

#22840 Ensure that space in @Path does not break RESTEasy Reactive mapping
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/path/WhitespaceInPathTest.java
Labels: triage/backport?

#22871 Update to Oracle JDBC driver v. 21.4.0.0
  bom/application/pom.xml
Labels: kind/enhancement, area/persistence, triage/waiting-for-ci, area/dependencies

#22875 Remove obsolete `build-include-jdk-misc` from `core/runtime`
  core/runtime/build-include-jdk-misc
Labels: area/core, triage/waiting-for-ci

#22879 Declare resource directories as application roots for IDE launch
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/IDELauncherImpl.java
Labels: area/devtools

#22885 Allow cache creation from CacheName annotation
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/exception/UnknownCacheNameException.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/DeploymentExceptionsTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheNamesTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ProgrammaticApiTest.java
Labels: area/cache

#22856 Fix cache clear from dev UI
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/devconsole/CacheDevConsoleRecorder.java
Labels: triage/waiting-for-ci, area/cache

#22859 Take response status of aborted request into account in JAX-RS Client
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/test/java/io/quarkus/jaxrs/client/reactive/deployment/test/ClientRequestFilterAbortWithTestCase.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSetResponseEntityRestHandler.java
Labels: area/resteasy-reactive, triage/backport?

#22894 Remove detailed documentation about AWS signing in Hibernate Search
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
Labels: area/documentation, triage/backport?

#22886 Sending the correct JSON payload in second test
  docs/src/main/asciidoc/kogito-pmml.adoc
Labels: area/documentation

#22903 Fix grammar in extension status message
  docs/src/main/asciidoc/status-include.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#22897 Improve quarkus cli doc
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/documentation

#22892 DevConsoleRouteBuildItem - make it possible to register blocking handler
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devmode/GrpcDevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/ArcDevProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleRouteBuildItem.java
Labels: area/vertx, triage/waiting-for-ci, area/grpc, area/dev-ui

#22898 Upgrade Hibernate Reactive to 1.1.2.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/hibernate-reactive, triage/backport?

#22893 ClientProxyGenerator - fix app class test for producers
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
Labels: area/arc, triage/waiting-for-ci

#22917 CLI: fix file handling in registry remove; more feedback
  devtools/cli/src/main/java/io/quarkus/cli/RegistryAddCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryRemoveCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/common/OutputOptionMixin.java
Labels: area/devtools, area/cli, triage/backport?

#22924 2.6.3 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/command-mode-reference.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/kogito-pmml.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/status-include.adoc
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/hbm/HbmXmlFilterDefTest.java
  extensions/hibernate-orm/deployment/src/test/resources/META-INF/hbm-filterdef.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/xml/JAXBElementSubstitution.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/xml/QNameSubstitution.java
  extensions/jaeger/deployment/src/test/java/io/quarkus/jaeger/test/CommaParseJaegerConfigurationTest.java
  extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerDeploymentRecorder.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClientConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/test/java/io/quarkus/jaxrs/client/reactive/deployment/test/ClientRequestFilterAbortWithTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputUsingBlockingEndpointsTest.java
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSetResponseEntityRestHandler.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/AbstractRestResponseBuilder.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartMessageBodyWriter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/path/WhitespaceInPathTest.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib/pom.xml
Labels: area/documentation, area/persistence, area/core, area/jaeger, area/infra, area/scheduler, area/hibernate-orm, area/dependencies, area/devtools, area/resteasy-reactive

#22912 Include useModulePath = false in failsafe plugin
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/pom.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateMavenWithCustomDep/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
Labels: area/documentation, area/maven, area/platform, area/devtools

#22927 Fix `RestClientBuilder` failed to instantiate provider message
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#22926 Upgrade yasson library for better Java 17 record support
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#22930 Fix logging on test startup failure
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/testing

#22888 Add option to exclude generated resources from the dev mode classloader
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedResourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
Labels: area/core, triage/backport?

#22932 Remove unused field
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfigSupport.java
Labels: area/persistence, area/hibernate-orm

#22901 Fully disable JNDI services in Hibernate ORM extension
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusJndiService.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusJndiServiceInitiator.java
Labels: area/persistence, area/hibernate-orm, triage/backport-2.2?, triage/backport?

#22873 Pass java.version to JBang template
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectJBangTest.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateJBangMojo.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-jbang/code/jbang-picocli-code/java/src/{command.class-name}.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-jbang/code/jbang-resteasy-code/java/src/{resource.class-name}.tpl.qute.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateJBangProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateJBangProjectCommandHandler.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusJBangCodestartGenerationTest/generateDefaultProject/src_main.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusJBangCodestartGenerationTest/generatePicocliProject/src_main.java
Labels: area/maven, area/platform, area/devtools, area/cli, area/jbang

#22904 Hibernate Search 6.1: Extension for the outbox-polling coordination strategy
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/pom.xml
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/HibernateSearchOutboxPollingProcessor.java
  extensions/hibernate-search-orm-coordination-outbox-polling/pom.xml
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/pom.xml
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingConfigUtil.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingRecorder.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingRuntimeConfig.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingRuntimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/HibernateSearchElasticsearchPersistenceUnitConfiguredBuildItem.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/HibernateSearchIntegrationStaticConfiguredBuildItem.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
  extensions/pom.xml
Labels: area/documentation, triage/waiting-for-ci, area/hibernate-search, area/dependencies, area/devtools

#22899 SmallRye GraphQL 1.4.2
  bom/application/pom.xml
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfig.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/graphql

#22938 Fix remaining HV/RESTEasy warnings when Kotlin around
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
Labels: area/hibernate-validator, triage/waiting-for-ci

#22853 Copy RestClient interface annotations to generated class
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveCDIWrapperBase.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/FaultToleranceScanner.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/FaultToleranceOnInterfaceClient.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: area/smallrye, area/fault-tolerance, area/resteasy-reactive

#18256 CLI: jreleaser distribution
  .gitignore
  devtools/cli/distribution/java-binary/LICENSE
  devtools/cli/distribution/java-binary/README
  devtools/cli/distribution/java-binary/bin/quarkus
  devtools/cli/distribution/java-binary/bin/quarkus.bat
  devtools/cli/distribution/jreleaser.yml
  devtools/cli/distribution/release-cli.sh
Labels: area/devtools, area/cli, triage/backport?

#22939 Fix documentation for programmatic REST Client Reactive registration
  docs/src/main/asciidoc/rest-client-reactive.adoc
Labels: area/documentation

#22921 Minor cleanup to some tests that register custom config
  core/runtime/src/test/java/io/quarkus/runtime/configuration/ConfigExpanderTestCase.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/ConfigProfileTestCase.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/DotEnvTestCase.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/UUIDPropertyTest.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/java/io/quarkus/restclient/config/RestClientConfigTest.java
Labels: area/core

#22950 Allow all entity field types to be returned by spring-data-jpa `@Query` method
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/DotNames.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCall.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCallRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneCallResource.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PhoneNumberId.java
  integration-tests/spring-data-jpa/src/main/resources/import.sql
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/PhoneCallResourceTest.java
Labels: area/spring
