Repository quarkusio/quarkus, pull requests merged in 2022-05, with the labels that each got.

#25204 Smallrye Reactive Messaging 3.16.0
  bom/application/pom.xml
  docs/src/main/asciidoc/kafka-dev-services.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/WiringProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/items/InjectedEmitterBuildItem.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/wiring/ConnectorAttachmentCustomEmitterTest.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/EmitterFactoryForLiteral.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusEmitterConfiguration.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingLifecycle.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingRecorder.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devconsole/DevReactiveMessagingInfos.java
Labels: release/noteworthy-feature, area/documentation, area/smallrye, area/reactive-messaging, area/dependencies

#25248 Allow configuring DKIM options on Vertx's Mail client
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/DkimSignOptionsConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailBuildTimeConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailClientProducer.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailConfig.java
  integration-tests/mailer/pom.xml
  integration-tests/mailer/src/main/java/io/quarkus/it/mailer/MailResource.java
  integration-tests/mailer/src/main/resources/application.properties
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailerTest.java
Labels: area/mailer

#25281 Ensure that @Produces is taken into account when checking for compression
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CompressionScanner.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/compress/CompressionTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveCompressionHandler.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: area/resteasy-reactive, triage/backport?

#25222 Exclude hamcrest from testcontainers
  bom/application/pom.xml
Labels: area/dependencies

#25292 Ignore ContextNotActiveException in RESTEasy Reactive when clearing request
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusCurrentRequest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.8?, triage/backport?

#25298 Update Quarkus Tools for IntelliJ description
  docs/src/main/asciidoc/ide-tooling.adoc
Labels: area/documentation

#25279 Update jakarta websocket link; add version
  docs/src/main/asciidoc/websockets.adoc
Labels: area/documentation, triage/backport-2.8?, triage/backport?

#25293 Make templates adjust with scala version
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/scala/pom.tpl.qute.xml
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/reader/QuteCodestartFileReader.java
Labels: area/platform, area/devtools, area/codestarts

#25320 Remove unused imports in RestEasy Reactive Client guide
  docs/src/main/asciidoc/rest-client-reactive.adoc
Labels: area/documentation

#25306 Upgrades Infinispan to 13.0.9.Final and Protostream 4.4.3.Final
  bom/application/pom.xml
Labels: area/infinispan, triage/waiting-for-ci, area/dependencies, triage/backport?

#25309 More progress on the Jakarta front
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/google-cloud-functions-example/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/google-cloud-functions-example/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/google-cloud-functions-example/java/src/main/java/org/acme/googlecloudfunctions/HelloWorldBackgroundFunction.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/google-cloud-functions-example/java/src/main/java/org/acme/googlecloudfunctions/HelloWorldCloudEventsFunction.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/google-cloud-functions-example/java/src/main/java/org/acme/googlecloudfunctions/HelloWorldHttpFunction.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/config-yaml-codestart/base/src/main/resources/application.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/config-yaml-codestart/kotlin/src/main/kotlin/org/acme/GreetingConfig.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/smallrye-health-codestart/kotlin/src/main/kotlin/org/acme/MyLivenessCheck.kt
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/PlatformHelper.java
  extensions/google-cloud-functions/deployment/pom.xml
  extensions/google-cloud-functions/deployment/src/main/java/io/quarkus/gcp/functions/deployment/GoogleCloudFunctionsProcessor.java
  extensions/google-cloud-functions/pom.xml
  extensions/google-cloud-functions/runtime/pom.xml
  extensions/google-cloud-functions/runtime/src/main/java/io/quarkus/gcp/functions/QuarkusHttpFunction.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportMultipleSqlLoadScriptsFileAbsentTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportMultipleSqlLoadScriptsTestCase.java
  extensions/hibernate-orm/deployment/src/test/resources/application-import-multiple-load-scripts-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/import-multiple-load-scripts-1.sql
  extensions/hibernate-orm/deployment/src/test/resources/import-multiple-load-scripts-2.sql
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
  extensions/jsonp/deployment/src/main/java/io/quarkus/jsonp/deployment/JsonpProcessor.java
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoEntity.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoEntityBase.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoRepository.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheMongoRepositoryBase.kt
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoEntity.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoRepository.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoRepositoryBase.java
  extensions/resteasy-classic/rest-client-jaxb/deployment/src/main/java/io/quarkus/restclient/jaxb/deployment/RestClientJaxbProcessor.java
  extensions/resteasy-classic/rest-client-jsonb/deployment/src/main/java/io/quarkus/restclient/jsonb/deployment/RestClientJsonbProcessor.java
  extensions/resteasy-classic/resteasy-jaxb/deployment/src/main/java/io/quarkus/resteasy/jaxb/deployment/ResteasyJaxbProcessor.java
  extensions/resteasy-classic/resteasy-jsonb/deployment/src/main/java/io/quarkus/resteasy/jsonb/deployment/ResteasyJsonbProcessor.java
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/schema-registry/apicurio/avro/runtime/pom.xml
  extensions/schema-registry/apicurio/common/runtime/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/GeneralResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/SpecificResource.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/NamedQueryWith2QueriesEntity.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/NamedQueryWith2QueriesRepository.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/ObjectWithCompositeId.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/ObjectWithEmbeddableId.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/NamedQueryWith2QueriesEntity.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/NamedQueryWith2QueriesRepository.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/ObjectWithCompositeId.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/ObjectWithEmbeddableId.java
  integration-tests/main/src/main/java/io/quarkus/it/jpa/AbstractCustomUserType.java
  integration-tests/main/src/main/java/io/quarkus/it/jpa/AnimalType.java
  integration-tests/main/src/main/java/io/quarkus/it/jpa/BigIntType.java
  integration-tests/main/src/main/java/io/quarkus/it/jpa/CustomEnum.java
  integration-tests/main/src/main/java/io/quarkus/it/jpa/CustomTypeEntity.java
  integration-tests/main/src/main/java/io/quarkus/it/jpa/LowerCaseCustomEnumType.java
  integration-tests/mongodb-panache-kotlin/pom.xml
  integration-tests/mongodb-panache/pom.xml
  integration-tests/smallrye-config/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptorFactory
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/panache, area/persistence, area/hibernate-orm, area/mongodb, area/devtools, area/google-cloud-functions, area/jackson, area/jakarta

#25324 Add migration note about Provider discovery via the Service Loader
  docs/src/main/asciidoc/resteasy-reactive-migration.adoc
Labels: area/documentation, triage/backport-2.8?, triage/backport?

#25290 Keep ordering for parsing cookies as it is important
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/NewCookieHeaderDelegate.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/CookieParser.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/OrderedParameterParser.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/ParameterParser.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/headers/CookiesTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/headers/CookiesTestResource.java
Labels: triage/backport-2.7?, triage/backport-2.8?, triage/backport?

#25250 Scheduled javadoc - clarify config property expressions
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduled.java
Labels: area/scheduler, triage/backport?

#25291 Properly pass media type to MessageBodyWriters
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/mediatype/MessageBodyWriteTest.java
Labels: triage/backport-2.7?, triage/backport-2.8?, triage/backport?

#25334 Add ClientBuilder service loader file to jaxrs-client-reactive
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/resources/META-INF/services/javax.ws.rs.client.ClientBuilder
Labels: area/resteasy-reactive, triage/backport-2.7?, triage/backport-2.8?, triage/backport?

#25266 Add default sources unless default-jar has a custom classifier
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/intermediary/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/intermediary/src/main/java/Dummy.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/runner/pom.xml
Labels: triage/backport-2.7?, triage/backport-2.8?, triage/backport?

#25059 Avoid checking Docker environment multiple times for Dev Services
  core/deployment/src/main/java/io/quarkus/deployment/DockerStatusProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DockerStatusBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/util/ExecUtil.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/DevServicesProcessor.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesRedisProcessor.java
  extensions/schema-registry/devservice/deployment/src/main/java/io/quarkus/apicurio/registry/devservice/DevServicesApicurioRegistryProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesProcessor.java
Labels: area/core, area/infinispan, area/smallrye, area/reactive-messaging, area/mongodb, area/oidc, area/kafka, area/redis, area/elasticsearch, triage/backport?

#25340 Apicurio registry version update to 2.2.3.Final
  bom/application/pom.xml
  extensions/schema-registry/devservice/deployment/src/main/java/io/quarkus/apicurio/registry/devservice/ApicurioRegistryDevServicesBuildTimeConfig.java
  integration-tests/kafka-avro-apicurio2/pom.xml
Labels: area/dependencies

#25227 2.7.6 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/rest-client-codestart/java/src/test/java/org/acme/MyRemoteServiceTest.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/rest-client-codestart/kotlin/src/test/kotlin/org/acme/MyRemoteServiceTest.kt
  docs/src/main/asciidoc/kafka.adoc
  extensions/amazon-lambda-http/http-event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockHttpEventServer.java
  extensions/amazon-lambda-http/http-event-server/src/test/java/io/quarkus/amazon/lambda/runtime/EventServerTest.java
  extensions/amazon-lambda-rest/rest-event-server/src/test/java/io/quarkus/amazon/lambda/runtime/EventServerTest.java
  extensions/amazon-lambda/event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockEventServer.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageProcessor.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/util/EnablementUtil.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleExpressionValidationTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/NamedBeanValidationFailureTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/DetailedExceptionInReaderTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/mappers/DefaultMismatchedInputException.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputUsingBlockingEndpointsTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/EmptyPostTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/InvalidHostTest.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsole.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogController.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/logstream/LogControllerTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/config/AddressResolverConfiguration.java
  extensions/vertx/runtime/src/test/java/io/quarkus/vertx/core/runtime/VertxCoreProducerTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/api/ClientLogger.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientResponseCompleteRestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartResponseDecoder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/logging/DefaultClientLogger.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  integration-tests/devtools/src/test/resources/__snapshots__/RESTClientCodestartTest/testContent/src_test_java_ilove_quark_us_MyRemoteServiceTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/RESTClientCodestartTest/testContent/src_test_kotlin_ilove_quark_us_MyRemoteServiceTest.kt
  integration-tests/smallrye-config/src/main/resources/application.properties
Labels: area/documentation, area/core, area/config, area/infra, area/vertx, area/amazon-lambda, area/dependencies, area/qute, area/devtools, area/resteasy-reactive

#25339 Improve Podman compatibility
  build-parent/pom.xml
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/pom.xml
  extensions/reactive-mysql-client/deployment/pom.xml
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/pom.xml
  integration-tests/hibernate-orm-tenancy/connection-resolver/pom.xml
  integration-tests/hibernate-orm-tenancy/datasource/pom.xml
  integration-tests/hibernate-reactive-mysql/pom.xml
  integration-tests/jpa-mariadb/pom.xml
  integration-tests/reactive-mysql-client/pom.xml
Labels: area/panache, area/persistence, area/infra, area/hibernate-orm, area/dependencies, area/reactive-sql-clients

#25217 Document Resteasy Reactive Links
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/InjectRestLinks.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLink.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLinkType.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLinksHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLinksProvider.java
Labels: area/documentation, area/resteasy-reactive

#25351 Fix Bootstrap Config to use default Config Sources (System and Env)
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  integration-tests/bootstrap-config/application/pom.xml
  integration-tests/bootstrap-config/extension/deployment/src/main/java/io/quarkus/it/bootstrap/config/extension/deployment/DummyBootstrapConfigBuildStep.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyConfigBuilder.java
Labels: area/core, area/config

#25341 Add detectBindingResources to service binding config
  docs/src/main/asciidoc/kafka.adoc
  extensions/kubernetes-service-binding/deployment/src/main/java/io/quarkus/kubernetes/service/binding/buildtime/AddServiceBindingResourceDecorator.java
  extensions/kubernetes-service-binding/deployment/src/main/java/io/quarkus/kubernetes/service/binding/buildtime/KubernetesServiceBindingConfig.java
Labels: area/documentation

#25353 Use encoded request path in rest-client-reactive
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/RequestEncodingTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.8?, triage/backport?

#25360 Add missing imports in RestEasy Reactive Client guide
  docs/src/main/asciidoc/rest-client-reactive.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.8?, triage/backport?

#25304 Add a built-in bean for the InjectionPoint type
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InjectionPointBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/builtin/beans/InjectionPointBuiltInBeanTest.java
Labels: area/arc

#25350 Correct typo in writing-extensions.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.7?, triage/backport-2.8?, triage/backport?

#25368 Bump GraalVM / Mandrel version to 21.3.2
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/bootstrap/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/devtools

#25383 Add missing parentheses in Mutiny guide
  docs/src/main/asciidoc/mutiny-primer.adoc
Labels: area/documentation

#25361 Reinterrupt after WebSocketHandler interruption
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/WebSocketLogHandler.java
Labels: kind/bug, area/vertx, area/websockets, triage/backport-2.8?, triage/backport?

#25276 Type-safe messages - declare io.quarkus.qute.i18n.Message.value() as optional
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/DefaultLocaleMissingMessageTemplateTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/LocalizedFileBundleLocaleConflictTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/LocalizedFileBundleLocaleMergeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/LocalizedFileDefaultLocaleMergeTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/i18n/Message.java
Labels: area/documentation, area/qute

#25371 ArC - resolve type variables for inherited observer methods
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/inheritance/typevariable/ObserverInheritanceTypeVariableTest.java
Labels: area/arc, triage/backport-2.8?, triage/backport?

#25194 GraphQL Non blocking support
  bom/application/pom.xml
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/locale/LocaleResolversWrapper.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/locale/ResteasyClassicLocaleResolver.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/locale/ResteasyReactiveLocaleResolver.java
  extensions/smallrye-graphql-client/deployment/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/model/TestingGraphQLApi.java
  extensions/smallrye-graphql-client/runtime/pom.xml
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/ErrorTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLBlockingModeTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLCDIContextPropagationTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLThreadTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTracingTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLValidationMessagesLocalizationTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/SecurityTest.java
  extensions/smallrye-graphql/deployment/src/test/resources/application-secured.properties
  extensions/smallrye-graphql/runtime/pom.xml
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLLocaleResolver.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/BlockingHelper.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusCompletionStageDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDataFetcherService.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusUniDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/resources/META-INF/services/io.smallrye.graphql.spi.DataFetcherService
Labels: release/noteworthy-feature, area/smallrye, area/hibernate-validator, release/breaking-change, area/dependencies, area/graphql

#25374 Print a Warning when the kubernetes service discovery is used without the kubernetes client
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/kubernetes-client/runtime/pom.xml
  extensions/smallrye-stork/deployment/src/main/java/io/quarkus/stork/deployment/SmallRyeStorkProcessor.java
Labels: area/core, area/smallrye, area/kubernetes, area/stork, triage/backport-2.8?, triage/backport?

#25395 Make RESTEasy * Links visible again
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
  extensions/resteasy-classic/resteasy-links/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/devtools, area/resteasy-reactive, triage/backport-2.8?, triage/backport?

#24839 Qute - introduce unique error codes for problems detected by parser
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/PropertyNotFoundDevModeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumIgnoredTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/enums/TemplateEnumInvalidTargetTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/TimeTemplateExtensionsTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/include/InsertTagConflictTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/propertynotfound/PropertyNotFoundThrowExceptionTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/PropertyNotFoundThrowException.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ErrorCode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ErrorInitializer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvalSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/InsertSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParserError.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Qute.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionInitContextImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateException.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/WhenSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/WithOrigin.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ArrayResolverTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/EvalTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IfSectionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IncludeTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/NamespaceResolversTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/NodeResolveTraceLoggingTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/StrictRenderingTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/TemplateExceptionTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/WhenSectionTest.java
Labels: area/housekeeping, area/qute

#25367 Allow reuse of containers needed by DevServices (opt-in)
  docs/src/main/asciidoc/dev-services.adoc
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ContainerShutdownCloseable.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
Labels: area/documentation, area/devservices

#25366 Bump GraalVM and Mandrel version to 22.1
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  independent-projects/bootstrap/pom.xml
Labels: area/core, area/dependencies, area/devtools

#25405 Upgrades to Infinispan 13.0.10.Final
  bom/application/pom.xml
Labels: area/infinispan, triage/backport?

#25407 Avoid NPE when scheduled method identity has been renamed
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
Labels: area/scheduler, triage/backport?

#25394 2.8.3 backports 1
  bom/application/pom.xml
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetLanguageGroup.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/ide-tooling.adoc
  docs/src/main/asciidoc/mutiny-primer.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/resteasy-reactive-migration.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/websockets.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddStatefulSetResourceDecorator.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetricsListener.java
  extensions/opentelemetry/opentelemetry-exporter-jaeger/runtime/src/main/java/io/quarkus/opentelemetry/exporter/jaeger/runtime/JaegerSubstitutions.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/resources/META-INF/services/javax.ws.rs.client.ClientBuilder
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/TestResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLinksHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusCurrentRequest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/WebSocketLogHandler.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/observers/inheritance/typevariable/ObserverInheritanceTypeVariableTest.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/NewCookieHeaderDelegate.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/CookieParser.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/OrderedParameterParser.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/ParameterParser.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/multipart/GeneratorUtils.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/URITemplate.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/headers/CookiesTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/headers/CookiesTestResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/RegexResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/mediatype/MessageBodyWriteTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithInputStatefulSetResourcesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/manifests/custom-deployment/kubernetes-with-stateful.yml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/intermediary/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/intermediary/src/main/java/Dummy.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/runner/pom.xml
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/RequestEncodingTest.java
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
Labels: area/documentation, area/arc, area/maven, area/infra, area/vertx, area/kubernetes, area/dependencies, area/devtools, area/tracing, area/metrics, area/cli, area/resteasy-reactive

#25286 Correct some minor errors in security-openid-connect guide
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation

#25438 Add offline to DevOptions
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/common/DevOptions.java
  devtools/cli/src/test/java/io/quarkus/cli/CliHelpTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
Labels: area/devtools, area/cli

#25443 Fix comparison in ensureProjectCoords method in AppModelGradleResolver class
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java
Labels: area/gradle, area/devtools

#25442 Support optional for BeanParams
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/ClassInjectorTransformer.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/SimpleBeanParam.java
Labels: triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#25410 Select Java17 builder image for native when project built with Java 17
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/CompiledJavaVersionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRemoteContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/UpxCompressionBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/NativeConfigTest.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunnerTest.java
Labels: area/core, triage/backport?

#25316 Fix CONTRIBUTION regarding configuration properties generation
  CONTRIBUTING.md
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/revapi/pom.xml
  independent-projects/tools/pom.xml
  pom.xml
Labels: area/arc, area/platform, area/devtools

#25436 Register TimestampDeserializer and SqlDateDeserializer for reflection
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/DateDeserializerPojoResource.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/SqlDatePojo.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/SqlTimestampPojo.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/DateDeserializerPojoResourceIT.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/DateDeserializerPojoResourceTest.java
Labels: triage/waiting-for-ci, area/jackson, triage/backport-2.7?, triage/backport?

#25446 Fix Apicurio include in dev-services.adoc
  docs/src/main/asciidoc/dev-services.adoc
Labels: area/documentation, triage/backport?

#25401 Relocate the profile names of `quarkus.config.locations`
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
Labels: area/core, area/config

#25400 Fix NPE when returning null CloudEvent in Knative Funqy
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/ExposedCloudEventTest.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/ExposedCloudEvents.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/VertxRequestHandler.java
Labels: area/funqy, triage/backport?

#25168 Examples for excludes, includes for jacoco configuration
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/JacocoConfig.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#25451 Some additional test coverage related to SmallRye GraphQL 1.5
  extensions/smallrye-graphql-client/deployment/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/StorkAndGraphQLClientTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/BeanValidationGraphQLDirectivesTest.java
Labels: area/smallrye, area/graphql

#25373 Update opentelemetry.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation

#25447 Qute - support default values for the #let section
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/TypeSafeLetTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SetSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/SetSectionTest.java
Labels: area/documentation, area/qute

#25376 Trigger restart when deleting previously existing watched file
  core/deployment/src/main/java/io/quarkus/deployment/dev/HotDeploymentWatchedFileBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/util/FileUtil.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/dev-mode-file-deletion/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/dev-mode-file-deletion/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/dev-mode-file-deletion/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/dev-mode-file-deletion/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources-filtered/projects/dev-mode-file-deletion/src/main/resources/application.properties
Labels: area/core, area/maven, triage/backport?

#25471 Fix broken links
  docs/src/main/asciidoc/funqy-knative-events.adoc
Labels: area/documentation, triage/backport-2.7?, triage/backport?

#25459 More Jakarta progress
  .github/workflows/ci-actions-incremental.yml
  extensions/smallrye-graphql-client/runtime/pom.xml
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/AccessorEntity.kt
  integration-tests/hibernate-orm-panache/pom.xml
  integration-tests/kafka-avro/pom.xml
  jakarta/prepare.sh
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/panache, area/smallrye, area/infra-automation, area/graphql, area/jakarta

#25479 Ensure ObjectId is initialized at runtime
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
Labels: area/mongodb, triage/backport?

#25478 Add a null check for SmallRyeContext, it's not always present
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLLocaleResolver.java
Labels: area/smallrye, area/graphql

#25448 Improve Logging with Panache stubs
  core/runtime/src/main/java/io/quarkus/logging/Log.java
  core/runtime/src/test/java/io/quarkus/logging/GenerateLog.java
  core/runtime/src/test/java/io/quarkus/logging/LoggingApiCompletenessTest.java
Labels: area/core, triage/backport?

#25397 Improve standalone codestart testing
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/CreateProjectHelper.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTest.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/codestarts/QuarkusCodestartTestBuilder.java
Labels: area/platform, area/devtools

#25469 Support Flyway cleanOnValidationError config
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayCreator.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  extensions/flyway/runtime/src/test/java/io/quarkus/flyway/runtime/FlywayCreatorTest.java
Labels: triage/waiting-for-ci, area/flyway

#25483 Improve EmptyBuildItem handling and add a note on how to use them
  core/builder/src/main/java/io/quarkus/builder/BuildStepBuilder.java
  core/builder/src/main/java/io/quarkus/builder/item/EmptyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, area/core

#25473 Load Testcontainers as parent first
  core/runtime/pom.xml
Labels: area/core

#25375 Show Enum constant description in documentation
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDoItemFinder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocKey.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtil.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/JavaDocParser.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocConfigDescriptionParserTest.java
  docs/pom.xml
  docs/src/main/java/io/quarkus/docs/generation/TooltipInlineMacroProcessor.java
Labels: area/documentation, area/core

#25470 DevUI: Fix case where there is a body
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/DevConsoleFilter.java
Labels: area/vertx

#25488 Qute - parameter declarations with default values
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplatesAnalysisBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ParamDeclarationDefaultValueTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ParamDeclarationDefaultValueValidationFailureTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParameterDeclaration.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParameterDeclarationNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SetSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParamDeclarationDefaultValueTest.java
Labels: area/documentation, area/qute

#25498 Minor documentation improvements
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation, triage/backport?

#25494 Add notes about extensions using both RESTEasy flavors
  docs/src/main/asciidoc/resteasy-reactive-migration.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#25408 Make sure that disabled jobs are paused in Quartz
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java
  integration-tests/quartz/src/main/java/io/quarkus/it/quartz/DisabledMethodResource.java
  integration-tests/quartz/src/main/java/io/quarkus/it/quartz/DisabledScheduledMethods.java
  integration-tests/quartz/src/main/resources/application.properties
  integration-tests/quartz/src/test/java/io/quarkus/it/quartz/QuartzTestCase.java
Labels: area/scheduler, triage/backport?

#25452 Gitpod - add extensions + custom image to get quarkus CLI + contributing.md
  .gitpod.yml
  .gitpod/Dockerfile
  CONTRIBUTING.md
Labels: triage/waiting-for-ci

#25485 OpenAPI: Make sure auto security also works for `@Authenticated`
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/OpenApiConfigMapping.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/filter/AutoRolesAllowedFilter.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityAuthenticateTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceAuthenticatedAtClassLevel.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceAuthenticatedAtMethodLevel.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceAuthenticatedAtMethodLevel2.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/ResourceBean2.java
Labels: area/smallrye, area/openapi, triage/backport?

#25512 Fixed warning message parameter order
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
Labels: area/core, area/config

#25505 Support JSON logging for files
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LogFileFormatBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  extensions/logging-json/deployment/src/main/java/io/quarkus/logging/json/deployment/LoggingJsonProcessor.java
  extensions/logging-json/deployment/src/main/java/io/quarkus/logging/json/deployment/LoggingJsonSteps.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/ConsoleJsonFormatterCustomConfigTest.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/ConsoleJsonFormatterDefaultConfigTest.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/FileJsonFormatterCustomConfigTest.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/FileJsonFormatterDefaultConfigTest.java
  extensions/logging-json/deployment/src/test/resources/application-console-json-formatter-custom.properties
  extensions/logging-json/deployment/src/test/resources/application-console-json-formatter-default.properties
  extensions/logging-json/deployment/src/test/resources/application-file-json-formatter-custom.properties
  extensions/logging-json/deployment/src/test/resources/application-file-json-formatter-default.properties
  extensions/logging-json/runtime/src/main/java/io/quarkus/logging/json/runtime/JsonConfig.java
  extensions/logging-json/runtime/src/main/java/io/quarkus/logging/json/runtime/JsonLogConfig.java
  extensions/logging-json/runtime/src/main/java/io/quarkus/logging/json/runtime/LoggingJsonRecorder.java
  integration-tests/logging-json/src/main/resources/application.properties
  test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java
Labels: area/core, area/logging, area/testing

#25506 Add Optional converter
  integration-tests/main/src/test/java/io/quarkus/it/main/OptionalTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/OptionalConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
Labels: area/testing

#25523 Add note about using @BeanParam instead of @Form
  docs/src/main/asciidoc/resteasy-reactive-migration.adoc
Labels: area/documentation, triage/backport?

#25521 Fix hal links tests in resteasy reactive and resteasy classic
  extensions/resteasy-classic/resteasy-links/deployment/src/test/java/io/quarkus/resteasy/links/deployment/HalLinksWithJacksonTest.java
  extensions/resteasy-classic/resteasy-links/deployment/src/test/java/io/quarkus/resteasy/links/deployment/HalLinksWithJsonbTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/HalLinksWithJacksonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/HalLinksWithJsonbTest.java
Labels: area/resteasy-reactive

#25518 Document optional declaration of io.quarkus.qute.i18n.Message.value()
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation

#25490 Double quote channel name when it contains dots
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/WiringHelper.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/config/ConnectorDoubleQuoteConfigTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/wiring/IncomingChannelWithDotsTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/wiring/OutgoingWithDotsTest.java
Labels: area/smallrye, area/reactive-messaging, triage/backport?

#25529 2.7.6 backports 3
  .github/workflows/ci-actions-incremental.yml
  bom/application/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetLanguageGroup.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/websockets-codestart/java/src/main/java/org/acme/StartWebSocket.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/websockets-codestart/kotlin/src/main/kotlin/org/acme/StartWebSocket.kt
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/dev-services.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/openapi-swaggerui.adoc
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
  docs/src/main/asciidoc/vertx.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/PreMatchingHeadersFilterTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultipartResponseTest.java
  extensions/smallrye-graphql-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/smallrye-graphql/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/DefaultWorkspaceModule.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/WorkspaceModule.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ClassRoutingHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FixedProducesHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/MultipleProducesTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/CreateProjectHelper.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/codegen/CreateProjectHelperTest.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartGenerationTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/MultiSourceProjectDevModeTest.java
  integration-tests/locales/src/test/java/io/quarkus/locales/it/LocalesIT.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RestClientTestCase.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/beans/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/runner/pom.xml
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/MovieResource.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/test/MovieRating.java
Labels: area/documentation, area/gradle, area/core, area/maven, area/logging, area/smallrye, area/infra, area/vertx, area/oidc, area/spring, area/platform, area/dependencies, area/devtools, area/infra-automation, area/graphql, area/cli, area/jbang, area/resteasy-reactive

#25531 Qute - unify behavior/logic of include sections and user tags
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IncludeTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/UserTagTest.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#25534 Use the same default for accept backlog as Vert.x uses
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#25537 Documentation: Native testing, buildtime and runtime profile
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#25346 Allow setting kotlinc compiler arguments in dev task/mojo
  core/deployment/src/main/java/io/quarkus/deployment/dev/CompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeContext.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusCompiler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/dsl/CompilerOption.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/dsl/CompilerOptions.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/components/CompilerOptions.java
  docs/src/main/asciidoc/kotlin.adoc
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
  extensions/scala/deployment/src/main/java/io/quarkus/scala/deployment/ScalaCompilationProvider.java
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/build.gradle
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/src/main/kotlin/org/acme/GraphQLResource.kt
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/KotlinProjectWithCompilerArgsDevModeTest.java
  integration-tests/kotlin/src/test/java/io/quarkus/kotlin/maven/it/KotlinDevModeIT.java
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/pom.xml
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/src/main/kotlin/org/acme/GraphQLResource.kt
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/src/main/kotlin/org/acme/HelloResource.kt
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/src/test/kotlin/org/acme/HelloResourceTest.kt
Labels: area/documentation, area/gradle, area/core, area/maven, area/kotlin, area/scala, area/devtools, triage/backport?

#25544 Fix FileTestCase.testFiles on windows with core.autocrlf input
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/FileTestCase.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/providers/FileTestCase.java
Labels: area/resteasy-reactive

#25546 Remove deprecated HTTP configuration
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardingProxyOptions.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, release/breaking-change

#23950 Add initial support of Project CRaC
  bom/application/pom.xml
  core/runtime/pom.xml
  extensions/vertx-http/runtime/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/bootstrap/runner/pom.xml
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
Labels: area/core, area/vertx, area/dependencies, area/devtools

#25550 Get rid of a lambda in config runtime code
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/backport?

#25552 ArC - improved message for some occurrences of ContextNotActiveException
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Beans.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BuiltInBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ClientProxies.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/contextnotactive/ClientProxyContextNotActiveTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#25555 Get rid of a lambda in Arc runtime code
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Instances.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#25571 Upgrade to Hibernate Reactive 1.1.5.Beta2
  bom/application/pom.xml
  jakarta/rewrite.yml
Labels: area/dependencies, area/hibernate-reactive, area/jakarta

#25577 No need to use response methods returning a Future, if not used
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: triage/backport?

#25583 Upgrade to Hibernate ORM 5.6.9.Final
  bom/application/pom.xml
Labels: area/hibernate-orm, area/dependencies, triage/backport?

#25557 SmallRye GraphQL 1.4.3.1 for Quarkus 2.7.x
  bom/application/pom.xml
Labels: area/dependencies

#25579 Allow to fully disable the safeguards introduced by VertxContextSafetyToggle
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/context/VertxContextSafetyToggle.java
Labels: area/vertx, triage/backport?

#25553 Get rid of a lambda in Vertx runtime code
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/vertx, triage/backport?

#25587 Fix parameter name in Gradle extension plugin log and docs
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionPlugin.java
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, area/gradle, area/devtools, triage/backport?

#25584 Use getHost instead of getContainerIpAddress
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
  integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaAndSchemaRegistryTestResource.java
  integration-tests/kafka-oauth-keycloak/src/test/java/io/quarkus/it/kafka/KafkaKeycloakTestResource.java
  integration-tests/kafka-sasl-elytron/src/test/java/io/quarkus/it/kafka/KafkaSaslTestResource.java
  integration-tests/kafka-sasl/src/test/java/io/quarkus/it/kafka/KafkaSASLTestResource.java
  integration-tests/kafka-ssl/src/test/java/io/quarkus/it/kafka/KafkaSSLTestResource.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaSSLTestResource.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/FakeMailerTestResource.java
  integration-tests/narayana-lra/src/test/java/org/acme/quickstart/lra/LRAParticipantTestResourceLifecycle.java
  test-framework/infinispan-client/src/main/java/io/quarkus/test/infinispan/client/InfinispanTestResource.java
Labels: area/documentation, area/testing, area/kafka-streams, area/mailer, area/lra

#25585 2.9.1 backports 2
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/CompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeContext.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusCompiler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/dsl/CompilerOption.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/dsl/CompilerOptions.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/components/CompilerOptions.java
  docs/src/main/asciidoc/kotlin.adoc
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
  extensions/scala/deployment/src/main/java/io/quarkus/scala/deployment/ScalaCompilationProvider.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/context/VertxContextSafetyToggle.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Beans.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BuiltInBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ClientProxies.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Instances.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/contextnotactive/ClientProxyContextNotActiveTest.java
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/build.gradle
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/src/main/kotlin/org/acme/GraphQLResource.kt
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/KotlinProjectWithCompilerArgsDevModeTest.java
  integration-tests/kotlin/src/test/java/io/quarkus/kotlin/maven/it/KotlinDevModeIT.java
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/pom.xml
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/src/main/kotlin/org/acme/GraphQLResource.kt
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/src/main/kotlin/org/acme/HelloResource.kt
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/src/test/kotlin/org/acme/HelloResourceTest.kt
Labels: area/documentation, area/gradle, area/core, area/config, area/arc, area/maven, area/kotlin, area/infra, area/vertx, area/dependencies, area/scala, area/devtools

#25565 Revert parent-first change of testcontainers
  core/runtime/pom.xml
Labels: area/core

#25594 Activate request context when prometheus scraping is invoked
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/handlers/PrometheusHandler.java
Labels: triage/waiting-for-ci, area/metrics

#24986 Make RESTEasy Reactive handlers calls monomorphic
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
Labels: area/resteasy-reactive, triage/backport?

#25603 Hibernate Reactive 1.1.5.Final
  bom/application/pom.xml
Labels: area/dependencies, area/hibernate-reactive, triage/backport?

#25390 Harmonize the usage of charset in the Content-Type headers for RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ClassLevelMediaTypeTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/MatchedResourceTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/EncodedMediaType.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/mediatype/CharsetTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/ClassLevelMediaTypeTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/MatchedResourceTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#25601 Qute - fix TypeInfo with nested parameterized types
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeInfos.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TypeInfosTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#25589 Enable buildx support in docker container image extension
  docs/src/main/asciidoc/container-image.adoc
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerConfig.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
Labels: area/documentation

#25610 2.9.1 backports 3
  bom/application/pom.xml
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionPlugin.java
  docs/src/main/asciidoc/flyway.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayDevModeModifyMigrationTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ClassLevelMediaTypeTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/MatchedResourceTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/EncodedMediaType.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/mediatype/CharsetTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/ClassLevelMediaTypeTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/MatchedResourceTest.java
  jakarta/rewrite.yml
Labels: area/documentation, area/gradle, area/infra, area/vertx, area/dependencies, area/devtools, area/flyway, area/resteasy-reactive, area/jakarta

#25500 Allow setting user-agent via configuration for the Reactive REST Client
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/UserAgentFromConfigTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/api/QuarkusRestClientProperties.java
Labels: area/rest-client, area/resteasy-reactive

#25614 Fix failure to handle non-JWT refresh tokens
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
Labels: triage/waiting-for-ci

#25616 Minor change to WebAuthn security guide
  docs/src/main/asciidoc/security-webauthn.adoc
Labels: area/documentation, triage/backport?

#25623 Qute - optimizations of build steps - round 1
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Types.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionInitContextImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
Labels: area/qute

#25640 Added documentation for Non Blocking GraphQL and Map support
  docs/src/main/asciidoc/smallrye-graphql.adoc
Labels: area/documentation

#25647 Qute - optimize build steps - round 2
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: triage/waiting-for-ci, area/qute

#25510 Fix DevMode test project and target directories
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeMain.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/core, area/testing

#25641 Upgrade to Hibernate Search 6.1.5.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-2.7?, triage/backport?

#25653 Add a test verifying JWT signed with a secret key
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/SignSecretKeyUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/resources/applicationSignSecretKey.properties
  extensions/smallrye-jwt/deployment/src/test/resources/secretKey.jwk
Labels: area/smallrye, triage/waiting-for-ci

#25654 Improve error message for Reactive Messaging coroutine support
  extensions/smallrye-reactive-messaging/kotlin/src/main/kotlin/io/quarkus/smallrye/reactivemessaging/runtime/kotlin/AbstractSubscribingCoroutineInvoker.kt
Labels: area/smallrye, area/reactive-messaging

#25661 Regenerate rest client certificates
  integration-tests/rest-client/self-signed
  integration-tests/rest-client/wrong-host
Labels: triage/waiting-for-ci, triage/backport-2.7?, triage/backport?

#25639 Add Dev UI to micrometer and smallrye metrics
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/JsonRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/PrometheusRegistryProcessor.java
  extensions/micrometer/deployment/src/main/resources/dev-templates/embedded.html
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/main/resources/dev-templates/embedded.html
Labels: area/smallrye, area/metrics

#25662 Fix compilation error in vertx doc
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation, triage/backport?

#25311 Add Vert.x MDC
  extensions/vertx/deployment/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/InMemoryLogHandler.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/InMemoryLogHandlerProducer.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/VerticleDeployer.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/VertxMDCTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxMDC.java
  extensions/vertx/runtime/src/main/resources/META-INF/services/org.jboss.logmanager.MDCProvider
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/logging/LateBoundMDCProvider.java
Labels: area/documentation, area/vertx, area/dependencies, area/devtools

#25666 Access-Control-Request-Headers should not be split into multi header values
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
  integration-tests/amazon-lambda-http/src/main/java/io/quarkus/it/amazon/lambda/GreetingResource.java
  integration-tests/amazon-lambda-http/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleTestCase.java
Labels: area/amazon-lambda

#25323 Properly use headers set in Vert.x from RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/headers/VertxHeadersTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#25674 Add config option for skipping hostname resolution in Gelf logging
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfConfig.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfLogHandlerRecorder.java
Labels: area/logging

#25675 Apply minor polish to LambdaHttpHandler
  extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java
Labels: area/amazon-lambda

#25627 Better message for bad exec fmt with native test
  test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java
Labels: area/testing

#25684 Fix HTTP2 NPE issue
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: triage/waiting-for-ci, triage/backport?

#25686 Triage env/m1 issues
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#25403 Refactor docs for database dev services
  docs/src/main/asciidoc/databases-dev-services.adoc
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/dev-services.adoc
Labels: area/documentation

#25613 Refactor configuration creation to ensure Gradle has full visibility of Configuration's contents
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/ToolingUtils.java
Labels: area/gradle, area/devtools

#25699 Fix typo
  docs/src/main/asciidoc/amazon-lambda.adoc
Labels: area/documentation

#25691 Upgrade Hibernate Reactive to 1.1.6.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#25704 Fix a typo in security.adoc
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#25705 Move the OAuth2 opaque token extension to stable
  docs/src/main/asciidoc/security-oauth2.adoc
  extensions/elytron-security-oauth2/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/security

#25697 Upgrade Stork to 1.1.2
  bom/application/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkIntegrationTest.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/rest-client-reactive-stork/src/main/java/io/quarkus/it/rest/client/reactive/stork/MyServiceDiscoveryProvider.java
Labels: area/dependencies, area/resteasy-reactive

#25670 Prevent deletion of watched absolute file paths
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/no-resource-root/.env
  integration-tests/maven/src/test/resources-filtered/projects/no-resource-root/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/no-resource-root/src/main/java/org/acme/HelloResource.java
Labels: area/core, area/maven, triage/backport?

#25663 Align the version of Elasticsearch/Logstash/Kibana (7.16) across all integration tests and documentation
  build-parent/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/centralized-log-management.adoc
  docs/src/main/asciidoc/elasticsearch-dev-services.adoc
  docs/src/main/asciidoc/elasticsearch.adoc
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  integration-tests/elasticsearch-rest-client/pom.xml
  integration-tests/elasticsearch-rest-high-level-client/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-coordination-outbox-polling/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/pom.xml
  integration-tests/logging-gelf/README.md
  integration-tests/logging-gelf/pom.xml
  integration-tests/logging-gelf/src/test/java/io/quarkus/logging/gelf/it/GelfLogHandlerTest.java
  integration-tests/logging-gelf/src/test/resources/docker-compose-efk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-elk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-graylog.yml
Labels: area/documentation, area/logging, area/hibernate-search, area/dependencies, area/elasticsearch

#25714 Fix Guide Rest Client Reactive Exception Handling
  docs/src/main/asciidoc/rest-client-reactive.adoc
Labels: area/documentation, triage/backport-2.7?, triage/backport?

#25646 2.7.6 backports 4
  bom/application/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/funqy-knative-events.adoc
  docs/src/main/asciidoc/mutiny-primer.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/amazon-lambda-http/deployment/pom.xml
  extensions/amazon-lambda-rest/deployment/pom.xml
  extensions/grpc/deployment/src/main/resources/dev-templates/service.html
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetricsListener.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientRequestReactiveFilter.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/resteasy-reactive/jaxrs-client-reactive/runtime/src/main/resources/META-INF/services/javax.ws.rs.client.ClientBuilder
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/TestResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLinksHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/RequestScopedParamConverterTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/DefaultWorkspaceModule.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/WorkspaceModule.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/NewCookieHeaderDelegate.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/CookieParser.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/OrderedParameterParser.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/ParameterParser.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/ClassInjectorTransformer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ParameterHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/headers/CookiesTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/headers/CookiesTestResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/mediatype/MessageBodyWriteTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/SimpleBeanParam.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/src/main/resources/META-INF/resources/index.tpl.qute.html
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateRESTEasyJavaCustom/src_main_resources_META-INF_resources_index.html
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/verifyIndexExtensionList/src_main_resources_META-INF_resources_index.html
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/DateDeserializerPojoResource.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/SqlDatePojo.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/SqlTimestampPojo.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/DateDeserializerPojoResourceIT.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/DateDeserializerPojoResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/hello/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/intermediary/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/intermediary/src/main/java/Dummy.java
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/runner/pom.xml
  integration-tests/rest-client/self-signed
  integration-tests/rest-client/wrong-host
Labels: area/documentation, area/core, area/config, area/maven, area/infra, area/vertx, area/amazon-lambda, area/platform, area/dependencies, area/devtools, area/grpc, area/metrics, area/resteasy-reactive, area/jackson

#25717 Revert "Bump mongodb-crypt from 1.2.1 to 1.4.0"
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#25720 Bump to Mutiny 1.5.0 and Mutiny Vert.x bindings 2.22.0
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/reactive, triage/waiting-for-ci, area/dependencies

#25734 More Jakarta progress
  .github/workflows/jakarta-rewrite.yml
  extensions/hibernate-search-orm-elasticsearch/runtime/pom.xml
Labels: area/hibernate-search, area/infra-automation

#25671 Support MDC when using OTEL
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryMDCTest.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/MDCEnabledContextStorage.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryUtil.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
Labels: area/documentation, area/tracing

#25728 Remove RegistrySnapshotCatalogCompatibilityTest
  integration-tests/devtools/src/test/java/io/quarkus/platform/catalog/CatalogCompatibilityTest.java
  integration-tests/devtools/src/test/java/io/quarkus/platform/catalog/LocalCatalogCompatibilityTest.java
Labels: triage/backport-2.7?, triage/backport?

#25578 Update Hibernate Search dev console card for multiple persistence-units
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitUtil.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/devconsole/HibernateOrmDevConsoleInfoSupplier.java
  extensions/hibernate-orm/runtime/src/test/java/io/quarkus/hibernate/orm/runtime/devconsole/PersistenceUnitNameComparatorTestCase.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/devconsole/HibernateSearchElasticsearchDevConsoleProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/resources/dev-templates/embedded.html
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/resources/dev-templates/entity-types.html
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchDevConsoleRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/devconsole/HibernateSearchSupplier.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-search

#25739 Resteasy Reactive: Fix support of media types with suffixes
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/MediaTypesWithSuffixHandlingTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientReaderInterceptorContextImpl.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/Serialisers.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceReader.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceWriter.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/MediaTypeHelper.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/ServerMediaType.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/MediaTypeMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RequestDeserializeHandler.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#25738 Changing "internral" by "internal" in OpenShift documentation
  docs/src/main/asciidoc/deploying-to-openshift.adoc
Labels: area/documentation, triage/backport-2.7?, triage/backport?

#25736 Leverage Gradle build cache in integration tests
  integration-tests/gradle/.gradle/gradle.properties
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToSingleModuleKtsProjectTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToSingleModuleProjectTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AdditionalSourceSetsTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AnnotationProcessorMultiModuleTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AnnotationProcessorSimpleModuleTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/ApplicationConfigurationTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/BeanInTestSourcesTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/BuildResult.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/CustomFileSystemProviderTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/DependencyConstraintsTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/DependencyResolutionTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/InjectBeanFromTestConfigTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/IntegrationTestBuildTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/JandexMultiModuleTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/KotlinGRPCProjectBuildTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/MultiModuleKotlinProjectBuildTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/MultiSourceProjectTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/SpringDependencyManagementTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestFixtureModuleTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestFixtureMultiModuleTest.java
Labels: area/gradle
