Repository quarkusio/quarkus, pull requests merged in 2022-09, with the labels that each got.

#27576 Support config expansion when validating config changes
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/BuildTimeRunTimeConfigTest.java
Labels: area/core, area/config, triage/backport?

#27655 Use devRootAppend for all links in grpc devmode
  extensions/grpc/deployment/src/main/resources/dev-templates/service.html
  extensions/grpc/deployment/src/main/resources/dev-templates/services.html
Labels: triage/waiting-for-ci, area/grpc

#27653 Bring JBossNettyLoggerFactory implementation in line with other implementations
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/JBossNettyLoggerFactory.java
Labels: triage/backport?

#27658 Rework the BeanDefiningAnnotationBuildItem default scope
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/bda/BeanDefiningAnnotationScopeTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDefiningAnnotation.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/StereotypeInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/inheritance/ScopeInheritanceStereotypeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/stereotypes/MultipleStereotypeScopesTest.java
Labels: area/arc, triage/waiting-for-ci

#27176 Docs: Enhancements to OIDC introduction in Security docs
  docs/src/main/asciidoc/security.adoc
Labels: area/documentation, area/security, area/dependencies, area/qute, area/infra-automation, area/redis, area/resteasy-reactive, area/jackson

#27490 Make sure config keys with quoted dots works
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/dev-services.html
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsManager.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsManagerUnitTest.java
Labels: area/vertx

#27616 Improve SmallRye Health extension's default scope for health checks
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
Labels: area/smallrye, area/health

#27674 Funqy - fix constructor injection for normal scoped beans
  extensions/funqy/funqy-server-common/deployment/pom.xml
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/FunctionScannerBuildStep.java
  extensions/funqy/funqy-server-common/deployment/src/test/java/io/quarkus/funqy/deployment/DependencyInjectionTest.java
Labels: area/funqy, triage/backport?

#27631 Fix treatment of recursive bean types
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/TypeVariableImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/TypeVariableReferenceImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/types/EnumBeanTypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/types/GenericBeanTypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/types/SimpleBeanTypesTest.java
Labels: area/arc, triage/waiting-for-ci

#27636 Added note about `quarkus.native.container-build=true`
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#27667 Jakarta - Remove integration-tests/kafka-avro when migrating
  integration-tests/kafka-avro-apicurio2/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/jakarta

#27681 Support empty env var values in Kubernetes/Knative/OpenShift extensions
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvVarHolder.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvVarsConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithNewStyleEnvTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-new-style-env.properties
Labels: triage/waiting-for-ci, area/kubernetes, triage/backport?

#27689 Fix typos and wrong fonction class in the GCF Funqy guide
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
Labels: area/documentation

#27683 Bump dekorate version to 2.11.2
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#27702 Corrected AUTH_SERVER_URL_PROP in KeycloakTestClient
  test-framework/keycloak-server/src/main/java/io/quarkus/test/keycloak/client/KeycloakTestClient.java
Labels: area/testing

#27682 Allow HttpServerOptionsCustomizer to set KeyManager and TrustManager for HTTPS server
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/customizers/HttpServerOptionsCustomizerTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx

#27704 Minor correction in a doc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation

#27372 Improve live reload experience of external artifacts on dev mode
  core/deployment/src/main/java/io/quarkus/deployment/dev/CompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusCompiler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/QuarkusFileManager.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/ReloadableFileManager.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/StaticFileManager.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/watch/FileChangeCallback.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/watch/FileChangeEvent.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/watch/WatchServiceFileSystemWatcher.java
  core/deployment/src/test/java/io/quarkus/deployment/dev/FileSystemWatcherTestCase.java
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
  extensions/scala/deployment/src/main/java/io/quarkus/scala/deployment/ScalaCompilationProvider.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/ConfiguredClassLoading.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  integration-tests/kotlin/pom.xml
  integration-tests/kotlin/src/test/java/io/quarkus/kotlin/maven/it/KotlinDevModeIT.java
  integration-tests/kotlin/src/test/java/io/quarkus/kotlin/maven/it/KotlinRemoteDevModeIT.java
  integration-tests/kotlin/src/test/resources/projects/external-reloadable-artifacts/app/pom.xml
  integration-tests/kotlin/src/test/resources/projects/external-reloadable-artifacts/app/src/main/kotlin/org/acme/GreetingResource.kt
  integration-tests/kotlin/src/test/resources/projects/external-reloadable-artifacts/app/src/main/resources/application.properties
  integration-tests/kotlin/src/test/resources/projects/external-reloadable-artifacts/external-lib/pom.xml
  integration-tests/kotlin/src/test/resources/projects/external-reloadable-artifacts/external-lib/src/main/kotlin/org/acme/lib/Greeting.kt
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts/app/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts/app/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts/app/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts/external-lib/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts/external-lib/src/main/java/org/acme/lib/Greeting.java
  integration-tests/scala/src/test/java/io/quarkus/scala/maven/it/ScalaDevModeIT.java
  integration-tests/scala/src/test/resources/projects/external-reloadable-artifacts/app/pom.xml
  integration-tests/scala/src/test/resources/projects/external-reloadable-artifacts/app/src/main/resources/application.properties
  integration-tests/scala/src/test/resources/projects/external-reloadable-artifacts/app/src/main/scala/org/acme/GreetingResource.scala
  integration-tests/scala/src/test/resources/projects/external-reloadable-artifacts/external-lib/pom.xml
  integration-tests/scala/src/test/resources/projects/external-reloadable-artifacts/external-lib/src/main/scala/org/acme/lib/Greeting.scala
  test-framework/maven/src/main/java/io/quarkus/maven/it/RunAndCheckMojoTestBase.java
Labels: area/core, area/maven, area/kotlin, area/testing, area/scala, area/devtools

#27660 Update SmallRye Config to 2.12.0
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigMappingCreator.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  integration-tests/smallrye-config/pom.xml
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ConfigResource.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/QuarkusConfigTest.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ServerResourceTest.java
  jakarta/rewrite.yml
Labels: area/core, area/config, area/arc, area/smallrye, area/dependencies, area/jakarta

#27679 GraphQL Field level context and error event on blocking fixes
  bom/application/pom.xml
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLAbstractHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDataFetcherService.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusFieldDataFetcher.java
  jakarta/rewrite.yml
Labels: area/smallrye, area/dependencies, area/graphql, area/jakarta, triage/backport?

#27688 Manually serialize the Pojo in the PojoResourceTest and enable it
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/PojoResourceTest.java
Labels: area/mongodb

#27687 Use own lookupMethod to avoid dependency on internal GraalVM API
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ReflectionUtil.java
Labels: area/core

#27341 Create caches in Infinispan using the application.properties
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientRuntimeConfig.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/CacheSetup.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/TestServlet.java
  integration-tests/infinispan-client/src/main/resources/META-INF/hotrod-client.properties
  integration-tests/infinispan-client/src/main/resources/application.properties
  integration-tests/infinispan-client/src/main/resources/cacheConfig.xml
  integration-tests/infinispan-client/src/test/java/io/quarkus/it/infinispan/client/InfinispanClientFunctionalityTest.java
Labels: area/infinispan

#27711 Support empty-dir volumes in Kubernetes, OpenShift, Knative extensions
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EmptyDirVolumeConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithEmptyDirVolumesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-emptydir-volumes.properties
Labels: area/kubernetes, triage/backport?

#27690 Stop depending on com.oracle.svm.core.jdk.Resources#registerResource
  core/runtime/src/main/java/io/quarkus/runtime/ResourceHelper.java
Labels: area/core

#27686 Replace usages of `@DisabledOnNativeImage` and `@NativeImageTest`
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/amazon-lambda-example/java/src/native-test/java/org/acme/lambda/LambdaHandlerTestIT.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/funqy-amazon-lambda-example/java/src/native-test/java/org/acme/funqy/FunqyIT.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/funqy-knative-events-example/java/src/native-test/java/org/acme/funqy/cloudevent/FunqyIT.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/funqy-http-codestart/java/src/native-test/java/org/acme/MyFunctionsIT.java
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/src/test/java/GreetingIT.java
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/src/test/java/GreetingIT.java
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/src/test/java/LambdaHandlerIT.java
  integration-tests/amazon-lambda-http-resteasy-reactive/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleIT.java
  integration-tests/amazon-lambda-http-resteasy/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleIT.java
  integration-tests/amazon-lambda-http/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleIT.java
  integration-tests/amazon-lambda-rest/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaV1SimpleIT.java
  integration-tests/amazon-lambda-s3event/src/test/java/io/quarkus/it/amazon/lambda/S3EventIT.java
  integration-tests/amazon-lambda-stream-handler/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleIT.java
  integration-tests/amazon-lambda/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaSimpleIT.java
  integration-tests/awt/src/test/java/io/quarkus/awt/it/ImageDecodersIT.java
  integration-tests/awt/src/test/java/io/quarkus/awt/it/ImageEncodersIT.java
  integration-tests/awt/src/test/java/io/quarkus/awt/it/ImageGeometryFontsIT.java
  integration-tests/bouncycastle-fips-jsse/src/test/java/io/quarkus/it/bouncycastle/BouncyCastleFipsJsseITCase.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-kafka/src/test/java/org/acme/kafka/KafkaClientTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyHttpCodestartTest/testContent/src_test_java_ilove_quark_us_MyFunctionsIT.java
  integration-tests/gradle/src/main/resources/basic-java-library-module/application/src/native-test/java/org/acme/NativeExampleResourceIT.java
  integration-tests/gradle/src/main/resources/basic-java-platform-module/application/src/native-test/java/org/acme/NativeExampleResourceIT.java
  integration-tests/gradle/src/main/resources/custom-java-native-sourceset-module/src/native-test/java/org/acme/ExampleResourceNativeTest.java
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/src/native-test/kotlin/org/acme/NativeExampleResourceIT.kt
  integration-tests/gradle/src/main/resources/multi-module-parent-dependency/app/src/native-test/java/io/quarkus/reproducer/NativeExampleResourceIT.java
  integration-tests/gradle/src/main/resources/multi-module-with-empty-module/modB/src/native-test/java/org/acme/NativeGreetingResourceIT.java
  integration-tests/gradle/src/main/resources/multi-source-project/src/native-test/kotlin/org/acme/NativeExampleResourceIT.kt
  integration-tests/hibernate-orm-panache-kotlin/src/test/kotlin/io/quarkus/it/panache/KotlinPanacheFunctionalityTest.kt
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/PanacheFunctionalityTest.java
  integration-tests/jpa-db2/src/test/java/io/quarkus/it/jpa/db2/JPAFunctionalityInGraalITCase.java
  integration-tests/jpa-mapping-xml/modern-app/src/test/java/io/quarkus/it/jpa/mapping/xml/modern/app/XmlMappingOnlyAttributeConverterITCase.java
  integration-tests/jpa-mapping-xml/modern-app/src/test/java/io/quarkus/it/jpa/mapping/xml/modern/app/XmlMappingOnlyEntityListenerITCase.java
  integration-tests/jpa/src/test/java/io/quarkus/it/jpa/entitylistener/EntityListenerInGraalITCase.java
  integration-tests/locales/src/test/java/io/quarkus/locales/it/LocalesIT.java
  integration-tests/main/src/test/java/io/quarkus/it/main/HealthCheckTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/JaxRSTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ResourcesTestCase.java
  integration-tests/no-awt/src/test/java/io/quarkus/awt/it/GraphicsIT.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/test/java/io/quarkus/it/rabbitmq/RabbitMQConnectorDynCredsIT.java
  integration-tests/reactive-messaging-rabbitmq/src/test/java/io/quarkus/it/rabbitmq/RabbitMQConnectorIT.java
  integration-tests/rest-client-reactive-kotlin-serialization/src/test/kotlin/io/quarkus/it/rest/client/BasicTestIT.kt
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/ClasspathTestCase.java
Labels: area/panache, area/persistence, area/gradle, area/amazon-lambda, area/hibernate-orm, area/devtools, area/graphics

#27715 Add global rest-client config properties
  extensions/resteasy-classic/rest-client-config/deployment/src/main/java/io/quarkus/restclient/config/deployment/RestClientConfigUtils.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/Constants.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/GlobalConfigurationTest.java
  extensions/resteasy-classic/rest-client/deployment/src/test/resources/global-configuration-test-application.properties
  extensions/resteasy-classic/rest-client/deployment/src/test/resources/quarkus-restclients-test-application.properties
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
  extensions/resteasy-classic/rest-client/runtime/src/test/java/io/quarkus/restclient/runtime/RestClientBaseTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ConfigurationTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/GlobalConfigurationTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/configuration-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/global-configuration-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveConfig.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
Labels: area/resteasy-reactive

#27697 Use new public API `RuntimeJNIAccess` with GraalVM >= 22.3
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/JPMSExportBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core

#27722 Fix broken main
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core, triage/waiting-for-ci

#27719 Fix streaming of JSON strings in RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/StreamingTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/StreamingTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/MultiNdjsonTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/StreamJsonTest.java
  independent-projects/resteasy-reactive/server/jackson/src/main/java/org/jboss/resteasy/reactive/server/jackson/JacksonMessageBodyWriterUtil.java
  independent-projects/resteasy-reactive/server/jsonb/src/main/java/org/jboss/resteasy/reactive/server/jsonb/JsonbMessageBodyWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/StreamingOutputStream.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/StreamingUtil.java
Labels: triage/waiting-for-ci, release/breaking-change, area/resteasy-reactive

#27721 Unclutter test resource start error message
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#27727 Improve the extension proposal form
  .github/ISSUE_TEMPLATE/extension_proposal.yml
Labels: area/infra-automation

#27732 More Jakarta progress
  extensions/websockets/client/runtime/src/main/java/io/quarkus/websockets/BearerTokenClientEndpointConfigurator.java
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/websockets, area/jakarta

#27736 Ensure to check the runtime log level for RequestContext tracing needs
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#27685 SmallRye CP - introduce ThreadContextProviderBuildItem
  bom/application/pom.xml
  extensions/arc/deployment/pom.xml
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcContextPropagationConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.context.spi.ThreadContextProvider
  extensions/smallrye-context-propagation/deployment/pom.xml
  extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/smallrye/context/deployment/test/cdi/ContextProviderDisabledTest.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/smallrye/context/deployment/test/cdi/ContextProviderEnabledTest.java
  extensions/smallrye-context-propagation/pom.xml
  extensions/smallrye-context-propagation/spi/pom.xml
  extensions/smallrye-context-propagation/spi/src/main/java/io/quarkus/smallrye/context/deployment/spi/ThreadContextProviderBuildItem.java
Labels: area/arc, area/smallrye, area/dependencies, area/context-propagation

#27728 Use new RuntimeResourceSupport public API with GraalVM >= 22.3
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core

#27757 Add more complete interceptor example to the CDI guide
  docs/src/main/asciidoc/cdi.adoc
Labels: area/documentation

#27750 Avoid mixing the RESTEasy Classic and RESTEasy Reactive REST layers
  integration-tests/smallrye-opentracing/pom.xml
Labels: area/resteasy-reactive

#27747 REST Client quickstart change name to REST Client Classic
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation

#27741 Revert "Upgrade to jreleaser 1.2.0"
  devtools/cli/distribution/release-cli.sh
Labels: area/devtools, area/cli

#27716 Add suffix to errors on shutdown
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogCleanupFilter.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging

#27766 De-duplicate mention of `quarkus.debug.transformed-classes-dir` in docs
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#27764 Explicitly register generation task output to sourceset
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, triage/waiting-for-ci, area/devtools

#27755 Improve error reporting for https access when quarkus.ssl.native=false and update corresponding docs
  docs/src/main/asciidoc/native-and-ssl.adoc
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
Labels: area/documentation

#27770 Flyway callbacks can now access the Flyway instance
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionCDICallback.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionCallbackTest.java
  extensions/flyway/deployment/src/test/resources/callback-config.properties
Labels: area/flyway

#27767 2.12.1 backports 2
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  docs/src/main/asciidoc/cdi.adoc
  docs/src/main/asciidoc/rest-client.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigMappingCreator.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
  integration-tests/smallrye-config/pom.xml
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ConfigResource.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/QuarkusConfigTest.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ServerResourceTest.java
  jakarta/rewrite.yml
Labels: area/documentation, area/core, area/config, area/arc, area/smallrye, area/infra, area/dependencies, area/jakarta

#27771 GraphQL revert custom field data fetcher
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDataFetcherService.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusFieldDataFetcher.java
Labels: area/smallrye, area/graphql

#27768 Bump smallrye-open-api from 2.2.0 to 2.2.1
  bom/application/pom.xml
  jakarta/rewrite.yml
Labels: area/dependencies, area/jakarta

#27765 Improve Reactive Route guide
  docs/src/main/asciidoc/reactive-routes.adoc
Labels: area/documentation, triage/waiting-for-ci

#27666 Always instantiate Hibernate ORM collections in the default fetch group
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/GetterAccessAssociationsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldAccessAssociationsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldAccessFieldTypesTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldAccessFinalFieldTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldAccessInheritanceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldWithProxyAndLazyLoadingAndInheritanceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/batch/BatchFetchSizeTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
Labels: area/persistence, area/hibernate-orm, triage/needs-decision

#27745 Use new RuntimeProxyCreation public API with GraalVM >= 22.3
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core

#27737 Add RESTEasy Reactive StatusType equals and hashCode methods
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/StatusTypeImpl.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/jaxrs/StatusTypeImplTest.java
Labels: area/resteasy-reactive

#27782 Enforce project's dependency constraints on the classpath used for dev mode bootstrap
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/gradle, area/core, area/maven, triage/waiting-for-ci, area/devtools

#27787 Avoid several levels of RuntimeException wrapping
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/core, area/testing, area/devtools

#27672 Docs: Enhancement to authorization code flow intro in Security docs
  docs/src/main/asciidoc/images/authorization_code_flow.png
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation

#27443 CDI context propagation improvements for the reactive stack
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/NarayanaLRAProcessor.java
  extensions/opentelemetry/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/restclient/OpenTelemetryClientFilter.java
  extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/InstrumenterVertxTracer.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/RequestLeakDetectionTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/RequestLeakDetectionTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/pom.xml
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/RequestLeakDetectionTest.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxBuildConfig.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/deployment/currentcontextfactory/VertxCurrentContextFactoryDisabledTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxCurrentContextFactory.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientRequestContextImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ReactiveResource.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
Labels: area/core, area/smallrye, area/vertx, triage/waiting-for-ci, area/graphql, area/tracing, area/resteasy-reactive, triage/qe?, area/lra

#27779 Not fail with bean params with generics
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/ResourceLocatorTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/resource/ResourceLocatorSubresource.java
Labels: triage/waiting-for-ci

#27670 Make sure methods annotated with `@Funq` are declared as public
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/FunctionScannerBuildStep.java
  extensions/funqy/funqy-server-common/deployment/src/test/java/io/quarkus/funqy/deployment/DependencyInjectionTest.java
  extensions/funqy/funqy-server-common/deployment/src/test/java/io/quarkus/funqy/deployment/FunqMethodVisibilityTest.java
Labels: release/breaking-change, area/funqy

#27772 Fix handling of HTTP/2 H2 empty frames
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxInputStream.java
Labels: area/vertx, triage/backport?

#27235 Validate config property names in the quarkus namespace
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
  extensions/config-yaml/deployment/src/test/java/io/quarkus/config/yaml/deployment/UnknownQuarkusConfigPropertyTest.java
Labels: area/core, area/config, triage/waiting-for-ci

#27629 Stork integration with REST Client Reactive on a filter
  docs/src/main/asciidoc/stork.adoc
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientRequestContextImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/StorkClientRequestFilter.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/ResteasyReactiveClientRequestContext.java
Labels: area/documentation, area/resteasy-reactive

#27786 Temporary disabled CompositeBuildWithDependenciesDevModeTest flaky test
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/CompositeBuildWithDependenciesDevModeTest.java
Labels: area/gradle, triage/waiting-for-ci

#27799 Use routing context end handler
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
Labels: triage/backport?

#27789 Fixes artifact names of Kubernetes Service Binding ITs
  integration-tests/kubernetes-service-binding-jdbc/pom.xml
  integration-tests/kubernetes-service-binding-reactive/pom.xml
Labels: area/kubernetes

#27781 Improve MongoDB guides
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/mongodb.adoc
Labels: area/documentation

#27783 Reduce `native-image` `-H:` options
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci

#27720 Make Mongo version used in MongoTestResource configurable
  docs/src/main/asciidoc/mongodb.adoc
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/BookResourceTest.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/BookResourceWithParameterInjectionTest.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/PojoResourceTest.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/VehicleResourceTest.java
  test-framework/mongodb/src/main/java/io/quarkus/test/mongodb/MongoTestResource.java
Labels: area/documentation, triage/waiting-for-ci, area/testing, area/mongodb, triage/backport?

#26727 Ensure that @Launch works with @BeforeEach
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/SystemPropertyCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TopTestCommand.java
  integration-tests/picocli-native/src/test/java/io/quarkus/it/picocli/BeforeEachLaunchTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
Labels: triage/waiting-for-ci, area/testing, area/picocli, triage/backport?

#27776 Qute - introduce CheckedTemplate#defaultName()
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/CheckedTemplateDefaultNameTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/CheckedTemplate.java
Labels: area/documentation, area/qute

#27788 Make it easier to configure that OIDC JWT introspection only is required
  docs/src/main/asciidoc/security-openid-connect.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
Labels: area/documentation, area/oidc

#27731 Enable Keycloak Admin Client injection by default and minor doc updates
  docs/src/main/asciidoc/security-keycloak-admin-client.adoc
  extensions/keycloak-admin-client-common/deployment/src/main/java/io/quarkus/keycloak/admin/client/common/KeycloakAdminClientBuildTimeConfig.java
  extensions/keycloak-admin-client-common/deployment/src/test/java/io/quarkus/keycloak/admin/client/common/ConfigValidationTest.java
  extensions/keycloak-admin-client-common/runtime/src/main/java/io/quarkus/keycloak/admin/client/common/KeycloakAdminClientConfig.java
  extensions/keycloak-admin-client-common/runtime/src/main/java/io/quarkus/keycloak/admin/client/common/KeycloakAdminClientConfigUtil.java
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveKeycloakAdminClientRecorder.java
  extensions/keycloak-admin-client/runtime/src/main/java/io/quarkus/keycloak/adminclient/ResteasyKeycloakAdminClientRecorder.java
  integration-tests/keycloak-authorization/src/main/resources/application.properties
Labels: area/documentation, triage/waiting-for-ci, area/keycloak

#27806 Jakarta - Also reformat Kotlin projects
  jakarta/transform.sh
Labels: area/jakarta

#27814 Fix link in redis.adoc
  docs/src/main/asciidoc/redis.adoc
Labels: area/documentation, triage/backport?

#26107 Bump kubernetes-client-bom from 5.12.2 to 6.1.1
  bom/application/pom.xml
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/CustomKubernetesTestServerTestResource.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
  test-framework/kubernetes-client/pom.xml
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/AbstractKubernetesTestResource.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesMockServerTestResource.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesServerTestResource.java
  test-framework/openshift-client/src/main/java/io/quarkus/test/kubernetes/client/OpenShiftServerTestResource.java
Labels: release/noteworthy-feature, area/testing, area/kubernetes, release/breaking-change, area/dependencies

#27726 Add CrossSite Request Forgery prevention filter
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  docs/src/main/asciidoc/security.adoc
  extensions/csrf-reactive/deployment/pom.xml
  extensions/csrf-reactive/deployment/src/main/java/io/quarkus/csrf/reactive/CsrfReactiveAlwaysEnabledProcessor.java
  extensions/csrf-reactive/deployment/src/main/java/io/quarkus/csrf/reactive/CsrfReactiveBuildStep.java
  extensions/csrf-reactive/deployment/src/main/java/io/quarkus/csrf/reactive/CsrfReactiveBuildTimeConfig.java
  extensions/csrf-reactive/pom.xml
  extensions/csrf-reactive/runtime/pom.xml
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfig.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfTokenParameterProvider.java
  extensions/csrf-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  integration-tests/csrf-reactive/pom.xml
  integration-tests/csrf-reactive/src/main/java/io/quarkus/it/csrf/TestResource.java
  integration-tests/csrf-reactive/src/main/resources/application.properties
  integration-tests/csrf-reactive/src/main/resources/templates/csrfToken.html
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveITCase.java
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/dependencies, area/devtools

#27811 More fixes related to 'The supplier returned null' message
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, triage/backport?

#27815 Address a few Kotlin compiler warnings
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/bugs/BugResource.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/book/ReactiveBookEntityResource.kt
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/person/resources/ReactivePersonRepositoryResource.kt
  integration-tests/mongodb-panache-kotlin/src/test/kotlin/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheResourceTest.kt
Labels: area/kotlin

#27805 Prevent possible memory leak from Reactive REST Client multipart upload usage
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormUpload.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/RequestTrackingPipe.java
Labels: area/rest-client, triage/backport?

#27825 Kubernetes: Add default template.metadata in StatefulSet resource
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddStatefulSetResourceDecorator.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithStatefulSetResourceTest.java
Labels: area/kubernetes

#27824 Synchronize maven-model-helper version
  docs/pom.xml
Labels: area/documentation

#27830 Use dependabot for GitHub actions version management
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#27694 Validate parameter passed to ConfiguratorBase.param()
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ConfiguratorBase.java
Labels: area/arc, triage/waiting-for-ci, triage/transient-failure

#27802 Fix for Context Propagation on Reactive Messaging
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingLifecycle.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ActivateRequestContextInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/propagation/ActivateRequestContextInterceptorTest.java
Labels: area/arc, area/smallrye, area/reactive-messaging, triage/backport?

#27833 Bump mockito-bom from 4.7.0 to 4.8.0
  bom/application/pom.xml
  extensions/panache/panache-mock/src/main/java/io/quarkus/panache/mock/PanacheMock.java
  independent-projects/tools/pom.xml
Labels: area/panache, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools

#27843 Adjust notifications for documentation work
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#27826 Ensure that InitialConfigurator uses the Quarkus configured min log level
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/logging/InitialConfigurator.java
Labels: area/core, triage/waiting-for-ci, area/devtools

#27860 More fixes for JAX-RS 3.1, upgrade to RESTEasy 6.2.0.Beta1, to Hibernate Validator 8.0.0.Final
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/jakarta

#27733 Fix inconsistency in kubernetes commands / arguments handling between jvm and native
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
Labels: area/kubernetes

#27858 Add link to Mutiny guide
  extensions/mutiny/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/smallrye, triage/waiting-for-ci, area/mutiny, triage/backport?, triage/flaky-test

#27556 Make it easy to copy environment variables in config tables - add button
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
Labels: area/core

#27853 Provide an option to set Form based auth encrypted cookie as HttpOnly
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnRecorder.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthCookiesTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PersistentLoginManager.java
Labels: area/vertx

#27866 Additional docs notifications
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#21458 Added "User-Agent" header to requests made to the Lambda Runtime API
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AbstractLambdaPollLoop.java
Labels: area/amazon-lambda

#26868 Enhance OIDC Client to support the token revocation
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClient.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcConstants.java
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/documentation

#27877 Upgrade JBoss Threads to 3.4.3.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#27878 Upgrade to Hibernate Validator 6.2.5.Final
  bom/application/pom.xml
Labels: area/hibernate-validator, area/dependencies, triage/backport?

#27861 Fix compatibility issue with Redis 6
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/devmode/IncrementResource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchStoreArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoUnit.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractGeoCommands.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/DatasourceTestBase.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/KeyCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/ListCommandTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/Redis7OrHigherCondition.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/RequiresRedis7OrHigher.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SetCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SortedSetCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/StringCommandsTest.java
Labels: kind/bug, area/redis, triage/backport?

#27879 2.12.2 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/JBossVersion.java
  docs/src/main/asciidoc/mongodb.adoc
  docs/src/main/asciidoc/redis.adoc
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/GetterAccessAssociationsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldAccessAssociationsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldAccessFieldTypesTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldAccessFinalFieldTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldAccessInheritanceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/PublicFieldWithProxyAndLazyLoadingAndInheritanceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/batch/BatchFetchSizeTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
  extensions/mutiny/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/devmode/IncrementResource.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchStoreArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoUnit.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractGeoCommands.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/DatasourceTestBase.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/KeyCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/ListCommandTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/Redis7OrHigherCondition.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/RequiresRedis7OrHigher.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SetCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SortedSetCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/StringCommandsTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxInputStream.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormUpload.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/RequestTrackingPipe.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/BookResourceTest.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/BookResourceWithParameterInjectionTest.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/PojoResourceTest.java
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/VehicleResourceTest.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/SystemPropertyCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TopTestCommand.java
  integration-tests/picocli-native/src/test/java/io/quarkus/it/picocli/BeforeEachLaunchTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/mongodb/src/main/java/io/quarkus/test/mongodb/MongoTestResource.java
Labels: area/documentation, area/persistence, area/core, area/logging, area/smallrye, area/infra, area/vertx, area/testing, area/hibernate-orm, area/mongodb, area/oidc, area/dependencies, area/redis, area/mutiny, area/picocli

#27895 Bump Eclipse Yasson to 3.0.2 in the Jakarta rewrite
  jakarta/rewrite.yml
Labels: area/jakarta

#27864 Allow setting a custom logging filter on logging handlers
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/logging/LoggingFilter.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/ConsoleConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/DiscoveredLogComponents.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/SyslogConfig.java
  docs/src/main/asciidoc/logging.adoc
  integration-tests/logging-min-level-set/src/main/java/io/quarkus/it/logging/minlevel/set/filter/LoggingFilter.java
  integration-tests/logging-min-level-set/src/main/java/io/quarkus/it/logging/minlevel/set/filter/TestFilter.java
  integration-tests/logging-min-level-set/src/main/resources/application.properties
  integration-tests/logging-min-level-set/src/test/java/io/quarkus/it/logging/minlevel/set/LoggingFilterTest.java
Labels: area/documentation, area/core, area/logging, triage/waiting-for-ci, area/elasticsearch, triage/flaky-test

#27885 Fix request context leak in the Funqy Knative runtime
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/RequestScopeLeakTest.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/RequestScopeTest.java
  extensions/funqy/funqy-knative-events/deployment/src/test/resources/greeting-uni.properties
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/VertxRequestHandler.java
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/FunctionInvoker.java
Labels: kind/bug, area/funqy, triage/backport?

#27891 Use default host and port when the service instance does not set them
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/StorkClientRequestFilter.java
Labels: kind/bug, triage/backport?

#27890 Bump jboss-logmanager 1.1.1
  jakarta/rewrite.yml
Labels: area/dependencies, area/jakarta

#27539 Improve command mode guide
  docs/src/main/asciidoc/command-mode-reference.adoc
Labels: area/documentation

#27810 Rest client classic: revert to package private visibility for configuration methods
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientBuilderFactory.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/ClassicRestClientBuilderFactoryTest.java
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/EchoClientWithoutAnnotation.java
  extensions/resteasy-classic/rest-client/deployment/src/test/resources/factory-test-application.properties
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/ClassicRestClientBuilderFactory.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
  extensions/resteasy-classic/rest-client/runtime/src/main/resources/META-INF/services/io.quarkus.restclient.config.RestClientBuilderFactory
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ReactiveRestClientBuilderFactoryTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/factory-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/ReactiveRestClientBuilderFactory.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/resources/META-INF/services/io.quarkus.restclient.config.RestClientBuilderFactory
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
Labels: area/rest-client, area/resteasy-reactive

#27829 Upgrade SmallRye Health to 3.3.0
  bom/application/pom.xml
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthConfig.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/MaxHealthGroupTest.java
  jakarta/rewrite.yml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/health, area/jakarta

#26998 Introduce a Kafka Client DevUI component
  build-parent/pom.xml
  extensions/kafka-client/deployment/pom.xml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaBuildTimeConfig.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/config.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/kafka_ui.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/pages/accessControlListPage.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/pages/consumerGroupDetailsPage.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/pages/consumerGroupPage.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/pages/messagesPage.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/pages/navigator.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/pages/nodesPage.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/pages/schemaPage.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/pages/topicsPage.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/util/contentManagement.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/util/datetimeUtil.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/util/spinner.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/web/web.js
  extensions/kafka-client/deployment/src/main/resources/dev-templates/embedded.html
  extensions/kafka-client/deployment/src/main/resources/dev-templates/kafka-dev-ui.html
  extensions/kafka-client/runtime/pom.xml
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/health/KafkaHealthCheck.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaAdminClient.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRuntimeConfigProducer.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/AbstractHttpRequestHandler.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaTopicClient.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaUiHandler.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaUiRecorder.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaUiUtils.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/Order.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/converter/KafkaModelConverter.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/request/KafkaCreateTopicRequest.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/request/KafkaMessageCreateRequest.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/request/KafkaMessagesRequest.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/request/KafkaOffsetRequest.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaAclEntry.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaAclInfo.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaClusterInfo.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaConsumerGroup.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaConsumerGroupMember.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaConsumerGroupMemberPartitionAssignment.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaInfo.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaMessage.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaMessagePage.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaNode.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/model/response/KafkaTopic.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/util/ConsumerFactory.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleWebjarBuildItem.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/RuntimeDevConsoleRoute.java
Labels: release/noteworthy-feature, area/vertx, area/kafka, area/dependencies

#27838 Create Infinispan caches on first access with the minimal config
  docs/src/main/asciidoc/infinispan-client.adoc
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/CacheSetup.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/TestServlet.java
  integration-tests/infinispan-client/src/test/java/io/quarkus/it/infinispan/client/InfinispanClientFunctionalityTest.java
Labels: area/documentation, area/infinispan, triage/waiting-for-ci

#27896 Ensure that Mongo DNS lookup does not happen on the event loop
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientRecorder.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/dns/MongoDnsClient.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/dns/MongoDnsClientProvider.java
Labels: area/mongodb, triage/backport?

#27142 Document the release process
  CONTRIBUTING.md
Labels: triage/waiting-for-ci

#27899 Auto-approve workflow runs from established contributors or low-risk files
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#27898 Properly support generic bounds for ParamConverterProvider classes
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/ParamConverterTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#27897 Support non-producer methods annotated with @Startup
  core/runtime/src/main/java/io/quarkus/runtime/Startup.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/StartupBuildSteps.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/startup/StartupAnnotationTest.java
Labels: area/core, area/arc, triage/waiting-for-ci

#27846 Cross-link to quarkiverse wiki
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#26161 Narayana recovery manager service
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaInitBuildItem.java
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaProducers.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerConfiguration.java
Labels: area/narayana, area/agroal

#27875 Revert "Bump kubernetes-client-bom from 5.12.2 to 6.1.1"
  bom/application/pom.xml
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/CustomKubernetesTestServerTestResource.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
  test-framework/kubernetes-client/pom.xml
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/AbstractKubernetesTestResource.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesMockServerTestResource.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesServerTestResource.java
  test-framework/openshift-client/src/main/java/io/quarkus/test/kubernetes/client/OpenShiftServerTestResource.java
Labels: area/testing, area/kubernetes, area/dependencies

#27839 Update Stork version to align with k8s client 6.x
  bom/application/pom.xml
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/StorkConfigUtil.java
Labels: area/smallrye, area/dependencies, area/stork

#26892 Quarkus NativeImageBuildStep fails with perm denied with docker rootless
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/OutputFilter.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalContainerRunner.java
Labels: area/core

#27910 Allow transforming the DB2 JDBC driver to Jakarta APIs during Augmentation
  extensions/jdbc/jdbc-db2/deployment/pom.xml
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JakartaEnablement.java
Labels: area/persistence, area/jakarta

#26369 Generate Quarkus Maven Plugin Config Docs
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDoc.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocBuilder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocWriter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocFormatter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/JavaDocParser.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/MavenConfigDocBuilder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocConfigDescriptionParserTest.java
  docs/pom.xml
  docs/src/main/asciidoc/quarkus-maven-plugin.adoc
  docs/src/main/java/io/quarkus/docs/generation/QuarkusMavenPluginDocsGenerator.java
Labels: area/documentation, area/core

#27916 Change visibility of GeoSearchArgs.fromMember(...) to public
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchArgs.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/GeoCommandsTest.java
Labels: kind/bug, area/redis, triage/backport-2.12?, triage/backport?

#27925 Resteasy Rest Client: Fix truststore password issue with Vert.x
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  integration-tests/rest-client-reactive/pom.xml
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/selfsigned/ExternalSelfSignedClient.java
  integration-tests/rest-client-reactive/src/main/resources/application.properties
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/selfsigned/ExternalSelfSignedTestCase.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.12?, triage/backport?

#27933 Removed unused field from LoggingSetupRecorder
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/waiting-for-ci

#27920 Point to configuration of popular email services
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/mailer.adoc
Labels: area/documentation

#27921 Adjust 'challenge' selection so that custom auth mechanism is called
  docs/src/main/asciidoc/security-customization.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/CustomFormAuthChallengeTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
Labels: area/documentation, area/vertx

#27915 Bump Dekorate to 2.11.3
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/flaky-test

#27922 Update to proton-j 0.34.0
  bom/application/pom.xml
Labels: area/dependencies, flaky-test

#27432 Docs: Optimized introduction of OIDC Bearer Token Authorization document
  docs/src/main/asciidoc/images/security-bearer-token-authorization-mechanism-1.png
  docs/src/main/asciidoc/images/security-bearer-token-authorization-mechanism-2.png
  docs/src/main/asciidoc/security-openid-connect.adoc
Labels: area/documentation

#27840 Add first version of the guide for writing REST microservices using virtual threads
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation

#27962 Jakarta - Fix some issues introduced when switching to parsson artifact and update WildFly Security to 2.0.0.Final
  build-parent/pom.xml
  extensions/smallrye-reactive-messaging-amqp/deployment/pom.xml
  independent-projects/resteasy-reactive/server/jsonb/pom.xml
  integration-tests/reactive-messaging-amqp/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
Labels: area/smallrye, area/reactive-messaging, area/dependencies, area/jakarta

#27968 Improve OIDC code flow tests
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantAutoRefresh.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantLogout.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#27973 Stable Funqy Knative Events
  extensions/funqy/funqy-knative-events/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/funqy, triage/backport-2.12?

#27961 Ensure that @ClientHeaderParam works when the rest client contains a method with a primitive return type
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/MicroProfileRestClientEnricher.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#27936 Refactor Qute loop helper to make clear, that parity is one-based
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#27978 Bump Keycloak version to 19.0.2
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/oidc, area/dependencies

#27998 Remove keycloak-admin-client dep from the keycloak-authorization test
  integration-tests/keycloak-authorization/pom.xml
Labels: area/keycloak, triage/backport?

#27989 Upgrade to Hibernate Search 6.1.7.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/hibernate-search, dependencies, triage/backport?

#27981 Detect MessageBodyReader/Writer from META-INF/services/javax.ws.rs.ext.Providers
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/types/Types.java
  integration-tests/main/src/test/java/io/quarkus/it/main/SharedNormalTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/SharedProfileTestCase.java
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/SharedResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/SharedResourceTest.kt
  integration-tests/shared-library/src/main/java/io/quarkus/it/shared/Shared.java
  integration-tests/shared-library/src/main/java/io/quarkus/it/shared/SharedProvider.java
  integration-tests/shared-library/src/main/resources/META-INF/services/javax.ws.rs.ext.Providers
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#28008 Fix the broken link in security-oidc-client.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#28019 Loosen rule for what can build without approval
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#28020 QDOCS-31: Fix image sizing - draft 2
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation

#28015 Upgrade to Jandex 3.0.1
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project/common/build.gradle
Labels: area/gradle, area/arc, area/platform, area/dependencies, area/devtools

#28047 Promote Spring Data REST to stable
  extensions/spring-data-rest/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: triage/waiting-for-ci, area/spring, triage/backport?

#28030 Link Keycloak API documentation
  docs/src/main/asciidoc/security-keycloak-admin-client.adoc
Labels: area/documentation

#27964 Fix bot notifications for extension proposals
  .github/ISSUE_TEMPLATE/extension_proposal.yml
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#27965 Fixed maven commands in kafka-reactive-getting-started.adoc
  docs/src/main/asciidoc/kafka-reactive-getting-started.adoc
Labels: area/documentation

#27993 Filter out log lines coming from Narayana recovery service startup
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
Labels: area/narayana, triage/backport?

#27997 Update the Quarkus images to multi-archs variants
  .github/workflows/native-cron-build.yml.disabled
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/NativeConfigTest.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunnerTest.java
  docs/src/main/asciidoc/amazon-lambda.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/kotlin.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/native-reference.adoc
  docs/src/main/asciidoc/platform.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/UbiMinimalBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-11-runtime
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-17-runtime
  extensions/container-image/container-image-docker/deployment/src/test/resources/ubi-java11
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftBaseNativeImage.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iBaseNativeImage.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iBaseNativeImage.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iConfig.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/src/main/docker/Dockerfile.jvm
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/src/main/docker/Dockerfile.jvm
Labels: area/documentation, area/core, area/platform, area/kubernetes, area/devtools, area/infra-automation

#27924 Optimize ArcContainer.getContexts() used during client proxy invocation
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/context/CustomPseudoScopeTest.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Contexts.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/application/ApplicationContextGetTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/singleton/SingletonContextGetTest.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#27914 ArC - fix @TransientReference destruction
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/CreationalContextImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InjectableReferenceProviders.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/transientreference/TransientReferenceDestroyedTest.java
Labels: area/arc, triage/backport-2.12?, triage/flaky-test, triage/backport?
