Repository quarkusio/quarkus, pull requests merged in 2023-08, with the labels that each got.

#35119 Properly resolve `@TestProfile` when using nested tests in base classes
  integration-tests/main/src/test/java/io/quarkus/it/main/CommonNestedTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNested1WithCommonCaseTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNested2WithCommonCaseTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/testing, triage/backport?

#35115 Fix configuration access in the reactive messaging dev console widget
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devui/Connectors.java
Labels: area/smallrye, area/reactive-messaging, kind/bugfix

#35069 Virtual threads module providing executor supplier for running virtual threads
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/virtual-threads.adoc
  extensions/grpc/deployment/pom.xml
  extensions/grpc/runtime/pom.xml
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/smallrye-reactive-messaging/deployment/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/runtime/pom.xml
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusWorkerPoolRegistry.java
  extensions/virtual-threads/deployment/pom.xml
  extensions/virtual-threads/deployment/src/main/java/io/quarkus/virtual/threads/VirtualThreadsProcessor.java
  extensions/virtual-threads/pom.xml
  extensions/virtual-threads/runtime/pom.xml
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/ContextPreservingExecutorService.java
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/VirtualThreadsConfig.java
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/VirtualThreadsRecorder.java
  extensions/virtual-threads/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/virtual-threads/runtime/src/test/java/io/quarkus/virtual/threads/VirtualThreadExecutorSupplierTest.java
Labels: area/documentation, area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/dependencies, area/devtools, area/grpc, area/resteasy-reactive

#35072 Run blocking security tasks from Vert.x duplicated context
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BlockingTaskRunner.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigBean.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/BlockingSecurityExecutor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusIdentityProviderManagerImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractHttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/ManagementInterfaceHttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/VertxBlockingSecurityExecutor.java
Labels: area/security, area/vertx, area/oidc

#35120 Upgrade to Hibernate Search 6.2.0.Final in Quarkus 3.2
  bom/application/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/deployment/HibernateSearchOutboxPollingProcessor.java
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/src/test/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/test/configuration/ConfigPropertiesTest.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingBuildTimeConfig.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingConfigUtil.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingRecorder.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingRuntimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/ClassNames.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-multiple-persistence-units.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application.properties
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/bean/ArcBeanReference.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/bean/HibernateSearchBeanUtil.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/graal/Substitute_JandexBehavior.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/mapping/QuarkusHibernateOrmSearchMappingConfigurer.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/analysis/AnalysisTestResource.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/search/AddressDTO.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/search/HibernateSearchTestResource.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/search/PersonDTO.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/HibernateSearchTest.java
  integration-tests/hibernate-search-orm-opensearch/src/main/java/io/quarkus/it/hibernate/search/orm/opensearch/search/HibernateSearchTestResource.java
  integration-tests/hibernate-search-orm-opensearch/src/main/resources/application.properties
Labels: area/documentation, area/hibernate-search, area/dependencies, area/docstyle

#35129 Support user methods with @Transactional in REST Data with Panache ORM
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/HibernateOrmPanacheRestProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/CollectionsResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourcePostMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/HibernateReactivePanacheRestProcessor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/MongoPanacheRestProcessor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/ResourceMetadata.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/RestDataProcessor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UserMethodsWithTransactionalImplementor.java
Labels: area/panache, triage/backport?

#35131 Unlist Security JPA Common
  extensions/security-jpa-common/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/security

#35114 Keep META-INF/MANIFEST.MF in the bootstrap Gradle resolver artifact
  independent-projects/bootstrap/gradle-resolver/pom.xml
Labels: area/devtools, triage/backport?

#35130 Also support Universe BOM
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/tools/ToolsConstants.java
Labels: area/platform, area/devtools, triage/backport?

#35141 Dev UI build steps chart
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/echarts/echarts-bar-stack.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-build-items.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-build-steps-execution-graph.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-build-steps.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/build/BuildMetricsJsonRPCService.java
Labels: area/vertx, triage/waiting-for-ci, area/dev-ui

#35146 Increase `DevMojoIT#testResourcesFromClasspath` timeout
  .gitignore
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/maven, triage/waiting-for-ci

#34851 Bump to OTel 1.28 and SR reactive-messaging to 4.9.0
  bom/application/pom.xml
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxClientOpenTelemetryTest.java
  extensions/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/graal/Target_io_opentelemetry_exporter_otlp_internal_grpc_ManagedChannelUtil.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/WithSpanInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcRequest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcTracingClientInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcTracingServerInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/restclient/OpenTelemetryClientFilter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/EventBusInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/HttpInstrumenterVertxTracer.java
  integration-tests/opentelemetry-grpc/src/test/java/io/quarkus/it/opentelemetry/grpc/OpenTelemetryGrpcTest.java
  integration-tests/opentelemetry-reactive-messaging/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/HelloRouterTest.java
  integration-tests/reactive-messaging-hibernate-reactive/src/main/java/io/quarkus/it/kafka/KafkaReceivers.java
Labels: triage/waiting-for-ci, area/dependencies, area/tracing

#35138 Allow customizing ObjectReader via `@CustomDeserialization` in Resteasy
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonFeatureBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/CustomDeserialization.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/ResteasyReactiveServerJacksonRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyReader.java
Labels: triage/waiting-for-ci

#35157 Revert "Bump h2 from 2.1.214 to 2.2.220 in /bom/application"
  bom/application/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/config/DialectVersions.java
Labels: area/persistence, area/hibernate-orm, area/dependencies

#35149 3.2.3 backports 2
  docs/src/main/asciidoc/duplicated-context.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/HibernateOrmPanacheRestProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/CollectionsResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourcePostMethodTest.java
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/DotNames.java
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheJpaCommonResourceProcessor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/HibernateReactivePanacheRestProcessor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractInjectResourcesMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/CollectionsResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/InjectionResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourceGetMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourcePostMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/CollectionsResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/PanacheRepositoryResourceGetMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/PanacheRepositoryResourcePostMethodTest.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/MongoPanacheRestProcessor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/ResourceMetadata.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/RestDataProcessor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UserMethodsWithTransactionalImplementor.java
  extensions/security-jpa-common/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  independent-projects/bootstrap/gradle-resolver/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/tools/ToolsConstants.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/BeerRepository.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/TestRepositoryEndpoint.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/PanacheFunctionalityTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/GreetingSingletonResourceTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/CommonNestedTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNested1WithCommonCaseTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNested2WithCommonCaseTest.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/SingletonToApplicationScopedTestBuildChainCustomizerProducer.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/documentation, area/panache, area/persistence, area/infra, area/testing, area/hibernate-orm, area/platform, area/dependencies, area/devtools

#35140 ArC: fix deadlock when calling guarded methods on the same thread
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/LockInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/lock/LockInterceptorDeadlockTest.java
Labels: area/arc

#35139 Convert duration properties into a format OTel can parse
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DurationConverter.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterConfigTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
Labels: area/core, area/config, triage/waiting-for-ci, area/tracing, triage/backport?

#34487 Fallback specialized kubernetes config to vanilla kubernetes
  extensions/kubernetes/openshift/deployment/pom.xml
  extensions/kubernetes/openshift/deployment/src/test/java/io/quarkus/openshift/deployment/config/OpenshiftConfigFallbackTest.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/runtime/src/main/java/io/quarkus/kubernetes/runtime/config/KubernetesConfigFallback.java
  extensions/kubernetes/vanilla/runtime/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptor
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithCustomNameTest.java
Labels: kind/enhancement, area/config, area/kubernetes

#35160 Properly use internal links to point to other guides
  docs/src/main/asciidoc/azure-functions-http.adoc
  docs/src/main/asciidoc/azure-functions.adoc
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/cassandra.adoc
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/extension-registry-user.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/security-basic-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/stork-kubernetes.adoc
  docs/src/main/asciidoc/update-quarkus.adoc
  docs/src/main/asciidoc/vertx-reference.adoc
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/ContainerImageJibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/ContainerImageOpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftUtils.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/ContainerImageS2iConfig.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
Labels: area/documentation, triage/backport?, area/docstyle

#35150 Remove deprecated Config APIs
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AdditionalBootstrapConfigSourceProviderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BootstrapConfigSetupCompleteBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/RunTimeConfigurationSourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/RunTimeConfigurationSourceValueBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/StaticInitConfigSourceFactoryBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/StaticInitConfigSourceProviderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigurationError.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/definition/RootDefinition.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/BootstrapConfigSetupBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigBuildSteps.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigDescriptionBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RuntimeConfigSetupBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigPhase.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigPhase.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  integration-tests/bootstrap-config/application/pom.xml
  integration-tests/bootstrap-config/application/src/main/java/io/quarkus/it/bootstrap/config/ConfigResource.java
  integration-tests/bootstrap-config/application/src/main/resources/application.properties
  integration-tests/bootstrap-config/application/src/main/resources/config.properties
  integration-tests/bootstrap-config/application/src/test/java/io/quarkus/it/bootstrap/config/ConfigResourceTest.java
  integration-tests/bootstrap-config/application/src/test/java/io/quarkus/it/bootstrap/config/ConfigResourceTestIT.java
  integration-tests/bootstrap-config/extension/deployment/pom.xml
  integration-tests/bootstrap-config/extension/deployment/src/main/java/io/quarkus/it/bootstrap/config/extension/deployment/DummyBootstrapConfigBuildStep.java
  integration-tests/bootstrap-config/extension/pom.xml
  integration-tests/bootstrap-config/extension/runtime/pom.xml
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyBootstrapRecorder.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyBootstrapRecorder2.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyConfig.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyConfigBuilder.java
  integration-tests/bootstrap-config/extension/runtime/src/main/java/io/quarkus/it/bootstrap/config/extension/DummyConfigSourceProvider.java
  integration-tests/bootstrap-config/pom.xml
  integration-tests/pom.xml
Labels: area/core, area/config, area/resteasy-reactive

#35165 Propagate all user methods in REST Data with Panache
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UserMethodsWithAnnotationsImplementor.java
Labels: area/panache, triage/backport?

#34540 Remove long deprecated options from CertificateConfig
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerOptionsUtils.java
  integration-tests/grpc-mutual-auth/pom.xml
  integration-tests/grpc-mutual-auth/src/main/resources/application.properties
  integration-tests/grpc-tls/pom.xml
  integration-tests/grpc-tls/src/main/resources/application.properties
Labels: area/vertx, release/breaking-change

#35158 Allow using `@CustomSerialization` and `@CustomDeserialization` at class level
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/CustomSerializationResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/CustomSerializationTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/CustomDeserialization.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/CustomSerialization.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/ResteasyReactiveServerJacksonRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyReader.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyWriter.java
Labels: area/documentation, triage/waiting-for-ci, area/resteasy-reactive

#35159 QuarkusComponentTest: support Gradle
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/quarkus-component-test/build.gradle
  integration-tests/gradle/src/main/resources/quarkus-component-test/gradle.properties
  integration-tests/gradle/src/main/resources/quarkus-component-test/settings.gradle
  integration-tests/gradle/src/main/resources/quarkus-component-test/src/main/java/org/acme/Charlie.java
  integration-tests/gradle/src/main/resources/quarkus-component-test/src/main/java/org/acme/Foo.java
  integration-tests/gradle/src/main/resources/quarkus-component-test/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/quarkus-component-test/src/test/java/org/acme/FooTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusComponentTest.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
Labels: area/gradle, area/testing

#35162 Update SmallRye-GraphQL 2.3.0
  bom/application/pom.xml
  core/deployment/src/main/resources/META-INF/branding/smallrye-graphql-ui-graphiql.css
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/MetricsTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfigMapping.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
  integration-tests/smallrye-graphql/pom.xml
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/metricresources/TestPojo.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/metricresources/TestRandom.java
  integration-tests/smallrye-graphql/src/main/java/io/quarkus/it/smallrye/graphql/metricresources/TestResource.java
  integration-tests/smallrye-graphql/src/main/resources/application.properties
  integration-tests/smallrye-graphql/src/test/java/io/quarkus/it/smallrye/graphql/MicrometerMetricsIT.java
  integration-tests/smallrye-graphql/src/test/java/io/quarkus/it/smallrye/graphql/MicrometerMetricsTest.java
Labels: area/core, area/smallrye, area/dependencies, area/graphql

#35153 Remove Old Dev UI: Core Build Metrics
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/BuildMetricsDevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/index.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/build-items.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/build-step-dependency-graph.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/build-steps.html
Labels: area/vertx, triage/waiting-for-ci

#35177 Dev UI Kafka screenshot update
  docs/src/main/asciidoc/images/kafka-dev-ui-link.png
  docs/src/main/asciidoc/images/kafka-dev-ui-records.png
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-consumer-groups.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-messages.js
Labels: area/documentation, area/kafka

#35164 Remove Old Dev UI: Core Logstream
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-static/css/logstream.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/logstream.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanagerLog.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanagerModals.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/logmanagerNav.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/JsonFormatter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogController.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogStreamRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/LogStreamWebSocket.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logstream/WebSocketLogHandler.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/logstream/LogControllerTest.java
Labels: area/vertx

#35155 Remove Old Dev UI: Core Dev Services
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-templates/index.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/dev-services.html
  extensions/vertx-http/deployment/src/test/java/io/quarkus/devui/DevServicesTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleDevServicesSmokeTest.java
Labels: area/vertx

#34065 Add support for project Java version update based on extensions
  devtools/cli/src/main/java/io/quarkus/cli/CreateApp.java
  devtools/cli/src/main/java/io/quarkus/cli/CreateCli.java
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/create/TargetLanguageGroup.java
  devtools/cli/src/main/java/io/quarkus/cli/registry/RegistryClientMixin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusPlatformTask.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateJBangMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusProjectMojoBase.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/jbang/QuarkusJBangCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateJBangProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProjectHelper.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ProjectInfoCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/JavaVersion.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/QuarkusProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/QuarkusProjectHelper.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/SourceType.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenProjectBuildFile.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/state/ProjectStates.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ExtensionMapBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ExtensionUpdateInfo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/PlatformInfo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ProjectExtensionsUpdateInfo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ProjectPlatformUpdateInfo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ProjectUpdateInfos.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateException.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateRecipe.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateRecipeIO.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdates.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/RewriteOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpdateDependencyVersionOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpdateJavaVersionOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpdateManagedDependencyVersionOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpdatePropertyOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpgradeGradlePluginOperation.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/JavaVersionTest.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateRecipeIOTest.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepositoryTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginFunctionalTest.java
Labels: area/gradle, area/maven, area/platform, area/devtools, area/cli, area/jbang, triage/backport?

#35182 Update dev-ui libs
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/dev-ui

#35161 Note about using config under src/test in native mode testing
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation

#35181 REST Data with Panache should not produce links when hal is disabled
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourceHalDisabledTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/Project.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/ProjectResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourceHalDisabledTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/Project.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/ProjectResource.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/AddMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/CountMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/DeleteMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/GetMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/StandardMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UpdateMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/ResponseImplementor.java
Labels: area/panache, triage/backport?

#35188 SmallRyeGraphQLOverWebSocketHandler: use order value > Integer.MIN_VALUE
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
Labels: area/smallrye, triage/waiting-for-ci, area/graphql, triage/backport?

#35183 Reduce allocation cost reporting spans
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/VertxGrpcExporter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/VertxHttpExporter.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandlerBase.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/BufferOutputStream.java
Labels: area/smallrye, area/vertx, area/tracing, area/health

#35174 Ensure the narayana-jta extension fully shuts down the recovery manager
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/QuarkusRecoveryService.java
Labels: area/narayana, triage/backport?

#33376 Add MicroMeter Netty support
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/RegisteredComponentsBuildItem.java
  extensions/micrometer/deployment/pom.xml
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/NettyBinderProcessor.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/NettyMetricsTest.java
  extensions/micrometer/runtime/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/netty/NettyMetricsProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/netty/ReactiveNettyMetricsProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/netty/VertxNettyAllocatorMetricsProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/netty/VertxNettyEventExecutorMetricsProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/MicrometerConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/NettyConfigGroup.java
Labels: release/noteworthy-feature, area/arc, triage/waiting-for-ci, area/metrics

#35213 Update SmallRye Config to 3.3.3
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies

#35218 Disable io.quarkus.it.vthreads.kafka.VirtualThreadTest.testAlertMessage
  integration-tests/virtual-threads/kafka-virtual-threads/src/test/java/io/quarkus/it/vthreads/kafka/VirtualThreadTest.java
Labels: area/kafka

#35212 Clarify that tests using QuarkusDevModeTest run in black box mode
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: triage/waiting-for-ci, area/testing

#35211 Document Maven config options that may be relevant when running tests
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/backport?

#35189 Quarkus CLI fixes
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/JBangCatalogService.java
Labels: area/platform, area/devtools, area/cli, area/jbang, triage/backport?

#35175 Vertx: add priority to the SafeVertxContextInterceptor
  docs/src/main/asciidoc/duplicated-context.adoc
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/locals/SafeVertxContextTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/SafeVertxContext.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/context/SafeVertxContextInterceptor.java
Labels: area/documentation, area/vertx, triage/waiting-for-ci

#35187 QUARKUS_INIT_AND_EXIT is now properly handled
  core/runtime/src/main/java/io/quarkus/runtime/init/InitializationTaskRecorder.java
Labels: area/core

#35217 OpenAPI: normalize disabled endpoint paths for OpenAPI model matching
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/DisabledEndpointTestCase.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/DisabledRestEndpointsFilter.java
Labels: area/smallrye, area/openapi

#31997 Delete elasticsearch-high-level-rest-client extension and upgrade dev-services and tests to Elasticsearch 8
  .github/native-tests.json
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/centralized-log-management.adoc
  docs/src/main/asciidoc/elasticsearch.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/ElasticsearchDevServicesBuildTimeConfig.java
  extensions/elasticsearch-rest-high-level-client/deployment/pom.xml
  extensions/elasticsearch-rest-high-level-client/deployment/src/main/java/io/quarkus/elasticsearch/restclient/highlevel/deployment/ElasticsearchHighLevelClientProcessor.java
  extensions/elasticsearch-rest-high-level-client/pom.xml
  extensions/elasticsearch-rest-high-level-client/runtime/pom.xml
  extensions/elasticsearch-rest-high-level-client/runtime/src/main/java/io/quarkus/elasticsearch/restclient/highlevel/runtime/ElasticsearchRestHighLevelClientProducer.java
  extensions/elasticsearch-rest-high-level-client/runtime/src/main/java/io/quarkus/elasticsearch/restclient/highlevel/runtime/QuarkusRestHighLevelClient.java
  extensions/elasticsearch-rest-high-level-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/pom.xml
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/src/test/resources/application-multiple-persistence-units.properties
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/src/test/resources/application.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-multiple-persistence-units.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-start-offline.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application.properties
  extensions/pom.xml
  independent-projects/tools/registry-client/src/test/resources/catalog-config/quarkus-bom-quarkus-platform-descriptor-999-SNAPSHOT-999-SNAPSHOT.json
  independent-projects/tools/registry-client/src/test/resources/catalog-config/quarkus-universe-bom-quarkus-platform-descriptor-2.0.3.Final-2.0.3.Final.json
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchSmokeTest.java
  integration-tests/elasticsearch-java-client/pom.xml
  integration-tests/elasticsearch-rest-client/pom.xml
  integration-tests/elasticsearch-rest-high-level-client/.gitignore
  integration-tests/elasticsearch-rest-high-level-client/README.md
  integration-tests/elasticsearch-rest-high-level-client/pom.xml
  integration-tests/elasticsearch-rest-high-level-client/src/main/java/io/quarkus/it/elasticsearch/highlevel/Fruit.java
  integration-tests/elasticsearch-rest-high-level-client/src/main/java/io/quarkus/it/elasticsearch/highlevel/FruitResource.java
  integration-tests/elasticsearch-rest-high-level-client/src/main/java/io/quarkus/it/elasticsearch/highlevel/FruitService.java
  integration-tests/elasticsearch-rest-high-level-client/src/main/resources/META-INF/resources/fruits.html
  integration-tests/elasticsearch-rest-high-level-client/src/main/resources/META-INF/resources/index.html
  integration-tests/elasticsearch-rest-high-level-client/src/main/resources/application.properties
  integration-tests/elasticsearch-rest-high-level-client/src/test/java/io/quarkus/it/elasticsearch/FruitResourceTest.java
  integration-tests/elasticsearch-rest-high-level-client/src/test/java/io/quarkus/it/elasticsearch/NativeFruitResourceIT.java
  integration-tests/hibernate-search-orm-elasticsearch-coordination-outbox-polling/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-coordination-outbox-polling/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/src/main/resources/application.properties
  integration-tests/logging-gelf/pom.xml
  integration-tests/logging-gelf/src/test/resources/docker-compose-efk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-elk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-graylog.yml
  integration-tests/logging-gelf/src/test/resources/pipeline/gelf.conf
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/core, area/logging, triage/waiting-for-ci, area/platform, area/hibernate-search, area/dependencies, area/devtools, area/infra-automation, area/elasticsearch, triage/flaky-test

#35202 QuarkusComponentTest: test config source ordinal improvements
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTest.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/config/ConfigSourceOrdinalTest.java
Labels: area/testing

#35092 Quarkus rules for the Vale linter: Fix false positive messages and enhance regular expression of some rules
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/testinvalid.adoc
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/testvalid.adoc
  docs/.vale/fixtures/Quarkus/Headings/testvalid.adoc
  docs/.vale/fixtures/Quarkus/Spelling/testvalid.adoc
  docs/.vale/styles/Quarkus/CaseSensitiveTerms.yml
  docs/.vale/styles/Quarkus/Ellipses.yml
  docs/.vale/styles/Quarkus/Headings.yml
  docs/.vale/styles/Quarkus/OxfordComma.yml
  docs/.vale/styles/Quarkus/Spelling.yml
  docs/.vale/styles/Quarkus/TermsSuggestions.yml
  docs/.vale/styles/Quarkus/TermsWarnings.yml
Labels: area/documentation, area/smallrye, area/hibernate-validator, area/vertx, area/testing, area/reactive-messaging, area/oidc, area/platform, area/dependencies, area/devtools, area/tracing, area/health, area/docstyle

#35210 Removed dotted versions of environment variables from recording
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
Labels: area/core, area/config

#35255 Quartz: QuarkusMSSQLDelegate should extends MSSQLDelegate
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/jdbc/QuarkusMSSQLDelegate.java
Labels: area/scheduler, triage/waiting-for-ci, triage/backport?

#34985 Add `maxLifetime` to reactive datasource configurations
  docs/src/main/asciidoc/credentials-provider.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/DataSourceReactiveRuntimeConfig.java
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/UnitisedTime.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mssql-client/deployment/src/test/resources/application-changing-credentials.properties
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/MSSQLPoolRecorder.java
  extensions/reactive-mysql-client/deployment/src/test/resources/application-changing-credentials.properties
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-oracle-client/deployment/src/test/resources/application-changing-credentials.properties
  extensions/reactive-oracle-client/runtime/src/main/java/io/quarkus/reactive/oracle/client/runtime/OraclePoolRecorder.java
  extensions/reactive-pg-client/deployment/src/test/resources/application-changing-credentials.properties
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
Labels: area/documentation, area/persistence, triage/waiting-for-ci, area/reactive-sql-clients, triage/needs-vale-rule-tweak

#35261 Remove deleted `bootstrap-config/application` from Misc2 native test job
  .github/native-tests.json
Labels: area/infra-automation

#35259 QuarkusComponentTest: another fix for continuous testing integration
  integration-tests/devmode/pom.xml
  integration-tests/devmode/src/test/java/io/quarkus/test/component/ComponentContinuousTestingTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/component/ComponentFoo.java
  integration-tests/devmode/src/test/java/io/quarkus/test/component/ComponentUT.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
Labels: area/testing

#35262 Initialize datasources at startup again
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalDataSourcesInitializer.java
Labels: area/agroal

#35186 Use openshift builder ImageStreamTag from other projects when internal registry is used.
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/ContainerImageOpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyBuilderImageDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/Constants.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithBaseImageFromInternalRegistryTest.java
Labels: area/documentation, area/kubernetes, area/docstyle

#35195 Bump SQL Server JDBC driver to 12.4.0
  bom/application/pom.xml
Labels: area/dependencies

#35242 Transaction manager-related backports and fixes
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/spi/src/main/java/io/quarkus/agroal/spi/JdbcDataSourceBuildItem.java
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/deployment/src/test/java/io/quarkus/narayana/quarkus/TransactionJdbcObjectStoreValidationFailureTest.java
  extensions/narayana-jta/deployment/src/test/resources/jdbc-object-store-validation.properties
  extensions/narayana-jta/runtime/pom.xml
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/QuarkusRecoveryService.java
  integration-tests/narayana-jta/src/main/resources/application.properties
  integration-tests/narayana-jta/src/test/java/io/quarkus/narayana/jta/JdbcObjectStoreTestProfile.java
Labels: area/narayana, area/agroal

#35263 Stop the recovery service while ArC is still around
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
Labels: area/narayana

#35276 Reinstate DevModeTestUtil to avoid breaking other projects that depend on it
  test-framework/devmode-test-utils/src/main/java/io/quarkus/test/devmode/util/DevModeTestUtils.java
Labels: area/testing, triage/backport?

#35282 Avoid keeping references to BytecodeRecorderImpl
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/RecordingProxyFactories.java
Labels: area/core

#34713 Option to track build configuration for changes between builds
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/tracker/ConfigTrackingConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/tracker/ConfigTrackingInterceptor.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/tracker/ConfigTrackingValueTransformer.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/tracker/ConfigTrackingWriter.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/util/HashUtil.java
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/TrackConfigChangesMojo.java
  docs/src/main/asciidoc/config-reference.adoc
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/maven/src/test/resources-filtered/projects/config-tracking/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/config-tracking/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/config-tracking/src/main/resources/application.properties
Labels: area/documentation, area/core, area/config, area/maven, area/devtools, triage/backport?, triage/backport-3.2?

#35296 Upgrade H2 to 2.2.220
  bom/application/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/config/DialectVersions.java
  extensions/jdbc/jdbc-h2/deployment/src/main/java/io/quarkus/jdbc/h2/deployment/JDBCH2Processor.java
  extensions/jdbc/jdbc-h2/runtime/src/main/java/io/quarkus/jdbc/h2/runtime/graalvm/DeleteFullTextLucene.java
Labels: area/persistence, area/hibernate-orm, area/dependencies, triage/backport?, triage/backport-3.2?

#35300 Fix `jandex-gradle-plugin-version` in CDI Reference
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation, area/dependencies, triage/backport?, area/docstyle, triage/backport-3.2?

#35251 Update gitflow-incremental-builder to 4.5.0 and tweak gib-impacted.log
  .github/filter-native-tests-json.sh
  .github/filter-virtual-threads-tests-json.sh
  .github/workflows/ci-actions-incremental.yml
  pom.xml
Labels: area/infra-automation

#35154 Remove Old Dev UI: Core Continuous Testing
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/HttpDevModeConfigTest.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ContinuousTestingProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/tests/ClassResult.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/tests/Result.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/tests/SuiteResult.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/tests/TestStatus.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/tests/TestsProcessor.java
  extensions/vertx-http/deployment/src/main/resources/dev-static/css/tests.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/tests.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/io.quarkus.quarkus-vertx-http/tests.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/testsModals.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/testsNav.html
  extensions/vertx-http/deployment/src/test/java/io/quarkus/devui/ConfigurationTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/TestRunnerSmokeTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/brokenonly/TestBrokenOnlyTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/params/TestParameterizedTestCase.java
  extensions/vertx-http/dev-ui-tests/src/main/java/io/quarkus/devui/tests/DevUIJsonRPCTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/continuoustesting/ContinuousTestingJsonRPCService.java
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  test-framework/maven/pom.xml
  test-framework/maven/src/main/java/io/quarkus/maven/it/continuoustesting/ContinuousTestingMavenTestUtils.java
Labels: area/maven, area/vertx, area/testing, area/metrics

#35302 Docs: Mention wilcard support in resteasy reactive XML serialisation exclude classes configuration
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation

#35305 Fix the titles of the tables in RESTEasy Reactive doc
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation, triage/backport?

#35311 CLI: test command updates
  devtools/cli/src/main/java/io/quarkus/cli/Test.java
  devtools/cli/src/main/java/io/quarkus/cli/build/BuildSystemRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/JBangRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
Labels: area/documentation, triage/waiting-for-ci, area/kubernetes, area/dependencies, area/devtools, area/cli, area/jbang, area/agroal, area/docstyle

#35283 Upgrade proto-google-common-protos to 2.23.0
  pom.xml
Labels: triage/backport?, triage/backport-3.2?

#35312 Updates Infinispan to 14.0.13.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/backport?

#35245 Add missing info to init Jobs
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/InitTaskProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithFlywayInitTest.java
Labels: area/kubernetes, triage/backport?

#35309 Include `jakarta.resource-api` 2.1.0 to BOM
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?, triage/backport-3.2?

#35247 Mirror SmallRye Config configuration in the Quarkus namespace
  core/runtime/src/main/java/io/quarkus/runtime/ConfigConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
Labels: area/core, area/config

#35148 Generate a tree for downstream documentation
  docs/downstreamdoc.java
  docs/downstreamdoc.yaml
Labels: area/documentation, triage/backport?, triage/backport-3.2?

#35240 Update SmallRye Health to 4.0.4
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/health, triage/backport?, triage/backport-3.2?

#35323 Mark CLI tooling as stable
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/documentation, triage/backport?, triage/backport-3.2?

#35315 Fix Datasource timing issues with Liquibase / Flyway and OpenTelemetry
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayContainersSupplier.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRecorder.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywaySchemaProvider.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
Labels: area/flyway, area/liquibase, area/agroal, triage/backport?

#35299 Output build graph using `quarkus.builder.graph-output` property
  core/builder/src/main/java/io/quarkus/builder/BuildChainBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/BuilderConfig.java
Labels: area/core, triage/waiting-for-ci, triage/backport?, triage/backport-3.2?

#35319 Register arrays of Hibernate ORM's JDBC basic types for reflection
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/GraalVMFeatures.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmTypes.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateOrmTypesTest.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/MyUUIDEntity.java
Labels: area/persistence, area/hibernate-orm, triage/backport?, triage/backport-3.2?

#35308 Lock jib execution to avoid OverlappingFileLockException in parallel builds
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/container-image, triage/backport?, triage/backport-3.2?

#35343 ArC: fix StackOverflowError in AutoAddScopeBuildItem
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoAddScopeBuildItem.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/autoscope/AutoScopeBuildItemTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#35318 CLI: add an option to generate a simple build report
  core/deployment/src/main/java/io/quarkus/deployment/DebugConfig.java
  devtools/cli/pom.xml
  devtools/cli/src/main/java/io/quarkus/cli/Build.java
  devtools/cli/src/main/java/io/quarkus/cli/BuildReport.java
  devtools/cli/src/main/java/io/quarkus/cli/common/BuildOptions.java
  devtools/cli/src/main/resources/templates/buildReport.html
Labels: area/core, triage/waiting-for-ci, area/devtools, area/cli

#35301 Fix potential NPE in quarkus-csrf-reactive when no MediaType is found
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
Labels: triage/backport?, triage/backport-3.2?

#35328 3.2.5 backports 1
  bom/application/pom.xml
  docs/downstreamdoc.java
  docs/downstreamdoc.yaml
  docs/src/main/asciidoc/_includes/devtools/build-native-container-parameters.adoc
  docs/src/main/asciidoc/_includes/devtools/build-native-container.adoc
  docs/src/main/asciidoc/_includes/devtools/build-native.adoc
  docs/src/main/asciidoc/_includes/devtools/build.adoc
  docs/src/main/asciidoc/_includes/devtools/create-app.adoc
  docs/src/main/asciidoc/_includes/devtools/create-cli.adoc
  docs/src/main/asciidoc/_includes/devtools/dev-parameters.adoc
  docs/src/main/asciidoc/_includes/devtools/dev.adoc
  docs/src/main/asciidoc/_includes/devtools/extension-add.adoc
  docs/src/main/asciidoc/_includes/devtools/extension-list.adoc
  docs/src/main/asciidoc/_includes/devtools/maven-opts.adoc
  docs/src/main/asciidoc/_includes/devtools/test.adoc
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/documentation, area/infra, area/dependencies, area/docstyle

#35354 CLI: remove unused PluginCatalogService in CliPluginsSync
  devtools/cli/src/main/java/io/quarkus/cli/plugin/CliPluginsSync.java
Labels: area/devtools, area/cli

#35358 3.3.0 backports 2
  core/builder/src/main/java/io/quarkus/builder/BuildChainBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/BuilderConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AutoAddScopeBuildItem.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/autoscope/AutoScopeBuildItemTest.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/GraalVMFeatures.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmTypes.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateOrmTypesTest.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/MyUUIDEntity.java
Labels: area/persistence, area/core, area/arc, area/infra, area/hibernate-orm

#34971 Removed Old Dev UI: Arc
  extensions/arc/deployment/pom.xml
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devconsole/DependencyGraph.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcBeanInfoBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcDevModeApiProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcDevUIProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DependencyGraph.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevBeanInfo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevBeanInfos.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevBeanKind.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevBeanWithInterceptorInfo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevDecoratorInfo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevInterceptorInfo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevObserverInfo.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/Link.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/Name.java
  extensions/arc/deployment/src/main/resources/dev-templates/beanDependencyGraph.html
  extensions/arc/deployment/src/main/resources/dev-templates/beans.html
  extensions/arc/deployment/src/main/resources/dev-templates/decorators.html
  extensions/arc/deployment/src/main/resources/dev-templates/embedded.html
  extensions/arc/deployment/src/main/resources/dev-templates/events.html
  extensions/arc/deployment/src/main/resources/dev-templates/interceptors.html
  extensions/arc/deployment/src/main/resources/dev-templates/invocations.html
  extensions/arc/deployment/src/main/resources/dev-templates/observers.html
  extensions/arc/deployment/src/main/resources/dev-templates/removed-beans.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/bean-declaration.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/display-bean.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/duration.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/interception-type.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/kind.html
  extensions/arc/deployment/src/main/resources/dev-templates/tags/tree.html
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/devconsole/DevObserverInfoTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/devconsole/NameTest.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/devui/ContainerImageDevUiProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevInfoSupplier.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/dev/HibernateSearchElasticsearchDevRecorder.java
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/devconsole/DevConsoleProcessor.java
  extensions/kafka-streams/deployment/src/main/resources/dev-templates/embedded.html
  extensions/kafka-streams/deployment/src/main/resources/dev-templates/kafka-streams-topology.html
  extensions/kafka-streams/deployment/src/main/resources/dev-templates/tags/topologyNotFound.html
  extensions/netty/deployment/pom.xml
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devui/QuteDevUIProcessor.java
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/ReactiveDB2ClientProcessor.java
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/ReactiveMSSQLClientProcessor.java
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-oracle-client/deployment/src/main/java/io/quarkus/reactive/oracle/client/deployment/ReactiveOracleClientProcessor.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/ArcDevProcessor.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleArcSmokeTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleSmokeTest.java
Labels: area/persistence, area/arc, area/vertx, triage/waiting-for-ci, area/hibernate-orm, area/kafka-streams, area/hibernate-search, area/qute, area/reactive-sql-clients

#35350 Fix package type system property clearing
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/TrackConfigChangesMojo.java
Labels: triage/backport?, triage/backport-3.2?

#35365 Disable BearerTokenAuthorizationInGraalITCase as it is unstable
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationInGraalITCase.java
Labels: area/oidc

#35366 Address Elasticsearch-related integration test failures caused by timeouts
  extensions/hibernate-search-orm-coordination-outbox-polling/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  integration-tests/elasticsearch-java-client/pom.xml
  integration-tests/elasticsearch-rest-client/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-coordination-outbox-polling/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/pom.xml
  integration-tests/logging-gelf/pom.xml
  integration-tests/logging-gelf/src/test/resources/docker-compose-efk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-elk.yml
  integration-tests/logging-gelf/src/test/resources/docker-compose-graylog.yml
Labels: area/logging, triage/waiting-for-ci, area/hibernate-search, area/elasticsearch, triage/backport?

#35321 Picocli: do not register all commands as beans automatically
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliProcessor.java
Labels: area/devtools, area/cli, area/picocli

#35373 Re-enable BearerTokenAuthorizationInGraalITCase
  integration-tests/oidc/src/main/resources/application.properties
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationInGraalITCase.java
Labels: area/oidc

#35369 Use quarkus-parent in independent-projects/enforcer-rules IT
  build-parent/pom.xml
  independent-projects/enforcer-rules/src/it/smoketest/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rr-with-json-logging/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rr-with-json-logging/src/main/java/org/acme/ClasspathResources.java
Labels: area/maven, area/platform, area/dependencies, area/devtools, triage/backport?

#35370 Arc - LockInterceptor should only use secondary locking if there are existing reads
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/LockInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/lock/LockInterceptorDoubleWriteDeadlockTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?, triage/backport-3.2?

#35371 Fix gRPC hot-reload wrt Reflection service(s)
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
Labels: area/grpc

#35364 Reduce the number of ArchivePathTree instances for the same path and opening same JARs multiple times
  core/deployment/src/main/java/io/quarkus/deployment/BootstrapConfig.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/ArchivePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTreeBuilder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTreeWithManifest.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/SharedArchivePathTree.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/RunAndCheckMojoTestBase.java
Labels: area/core, area/maven, triage/waiting-for-ci, area/testing, area/devtools

#35385 Metaspace improvements in QuarkusUnitTest - round 1
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/naming/DisabledInitialContext.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/naming/DisabledInitialContextManager.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/core, area/testing, area/devtools

#35405 Small fixes for Pulsar extension docs
  docs/src/main/asciidoc/images/pulsar-qs-app-screenshot.png
  docs/src/main/asciidoc/images/pulsar-qs-architecture.png
  docs/src/main/asciidoc/pulsar-getting-started.adoc
Labels: area/documentation

#35380 Updates Infinispan to 14.0.14.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies

#35398 Re-enable kafka-virtual-threads alert-message test
  integration-tests/virtual-threads/amqp-virtual-threads/src/main/java/io/quarkus/it/vthreads/amqp/PriceConsumer.java
  integration-tests/virtual-threads/kafka-virtual-threads/src/main/java/io/quarkus/it/vthreads/kafka/PriceConsumer.java
  integration-tests/virtual-threads/kafka-virtual-threads/src/test/java/io/quarkus/it/vthreads/kafka/VirtualThreadTest.java
Labels: area/kafka

#34696 Qute: template records
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/mailer/deployment/pom.xml
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/MailTemplateLocationTest.java
  extensions/mailer/deployment/src/test/java17/io/quarkus/mailer/MailTemplateRecordTest.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/MailTemplate.java
  extensions/qute/deployment/pom.xml
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/CheckedFragmentValidationBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/CheckedTemplateBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateRecordEnhancer.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devui/QuteDevUIProcessor.java
  extensions/qute/deployment/src/main/resources/dev-ui/qwc-qute-templates.js
  extensions/qute/deployment/src/test/java17/io/quarkus/qute/deployment/records/TemplateRecordComponentConflictTest.java
  extensions/qute/deployment/src/test/java17/io/quarkus/qute/deployment/records/TemplateRecordConflictTest.java
  extensions/qute/deployment/src/test/java17/io/quarkus/qute/deployment/records/TemplateRecordTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/CheckedTemplate.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineConfiguration.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Locate.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateData.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateEnum.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateExtension.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateGlobal.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateInstance.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: area/documentation, triage/waiting-for-ci, area/dependencies, area/qute, area/mailer

#35394 Avoid storing the whole BuildResult in StartupActionImpl
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
Labels: area/core

#35395 Make the return value proxy InvocationHandler static
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
Labels: area/core

#35396 Fix converter for prop quarkus.http.body.multipart.file-content-types
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputWithAllUploadsTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/MultiPartConfig.java
Labels: area/vertx, triage/waiting-for-ci, area/resteasy-reactive

#35368 Skip enforcer rules tests when skipping tests
  independent-projects/enforcer-rules/pom.xml
Labels: triage/backport?

#35377 Export package from different module name in 23.1-dev
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core, triage/waiting-for-ci

#35407 Metaspace improvements in QuarkusUnitTest - round 2
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedRemoteDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedTestModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/deployment/src/main/java/io/quarkus/deployment/proxy/ProxyFactory.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/RecordingProxyFactories.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/devmode-spi/src/main/java/io/quarkus/dev/testing/TestWatchedFiles.java
  core/runtime/src/main/java/io/quarkus/runtime/dev/io/NioThreadPoolRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ConfigurationProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxRecorder.java
Labels: area/core, area/vertx

#35274 Fix code snippet formatting alignment issues
  docs/src/main/asciidoc/security-basic-authentication-tutorial.adoc
Labels: area/documentation, area/core, area/maven, area/vertx, area/testing, area/kubernetes, area/dependencies, area/devtools, area/flyway, area/liquibase, area/metrics, area/agroal, triage/backport?, area/docstyle, triage/backport-3.2?

#35412 Launch mock event server even if devservices.enabled=false
  docs/src/main/asciidoc/aws-lambda-http.adoc
  docs/src/main/asciidoc/aws-lambda.adoc
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/DevServicesLambdaProcessor.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/MockEventServerConfig.java
Labels: area/documentation, area/amazon-lambda, triage/backport?, triage/backport-3.2?

#35399 Dev mode: fix several problems when the initial build fails
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeListener.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/FixConfigOnErrorTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/reload/CrashAfterReloadTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/reload/SomeBean.java
  integration-tests/devmode/src/test/java/io/quarkus/test/reload/SomeBeanClient.java
Labels: area/core, area/arc, area/vertx, area/qute

#35372 Add capability for reactive routes
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/reactive-routes/runtime/pom.xml
Labels: area/core, triage/waiting-for-ci

#35415 Skip the doc build in initial JDK 11 build
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#35317 Remove old Dev UI: Extension and Core
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveDevModeProcessor.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/ide/IdeProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpRootPathBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/NonApplicationRootPathBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/RouteBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/ConfiguredPathInfo.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/DevModeFailedStartHandler.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsole.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleHttpHandler.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevTemplatePathBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevTemplateVariantsBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/FlashScopeHandler.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/JsonObjectValueResolver.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/MultiMapValueResolver.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/OpenIdeHandler.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/package-info.java
  extensions/vertx-http/deployment/src/main/resources/META-INF/services/io.quarkus.dev.spi.DeploymentFailedStartHandler
  extensions/vertx-http/deployment/src/main/resources/dev-static/css/dev-console.css
  extensions/vertx-http/deployment/src/main/resources/dev-static/images/favicon.ico
  extensions/vertx-http/deployment/src/main/resources/dev-static/images/quarkus_icon_rgb_reverse.svg
  extensions/vertx-http/deployment/src/main/resources/dev-static/js/dev-console.js
  extensions/vertx-http/deployment/src/main/resources/dev-templates/index.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/tags/actionableExtension.html
  extensions/vertx-http/deployment/src/main/resources/dev-templates/tags/nonActionableExtension.html
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/BodyHandlerBean.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/ConfigBean.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleConfigEditorBodyHandlerTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleConfigEditorTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleConfigMisinterpretedDoubleUnderscoreTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/DevConsoleCorsTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/FixConfigOnErrorTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/JavaDocResolverTest.java
  extensions/vertx-http/dev-console-runtime-spi/src/main/java/io/quarkus/devconsole/runtime/spi/DevConsolePostHandler.java
  extensions/vertx-http/dev-console-runtime-spi/src/main/java/io/quarkus/devconsole/runtime/spi/FlashScopeUtil.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleRouteBuildItem.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleRuntimeTemplateInfoBuildItem.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleTemplateInfoBuildItem.java
  extensions/vertx-http/dev-console-spi/src/main/java/io/quarkus/devconsole/spi/DevConsoleWebjarBuildItem.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/DevUICORSFilter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ContinuousTestWebSocketHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/DevConsoleFilter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/DevConsoleRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/RedirectHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/RuntimeDevConsoleRoute.java
Labels: area/vertx, triage/waiting-for-ci, area/liquibase, area/grpc, area/resteasy-reactive

#35416 Re-use original Maven repositories for generate-code-tests and dev mode
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
Labels: area/maven, area/devtools, triage/backport?

#35379 Pass -H:+UnlockExperimentalVMOptions as necessary with Graalvm 23.1
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#35421 Adjust how the m2 cache is handled on CI
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#35432 Add note about QuarkusClassLoader.isClassPresentAtRuntime
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#34555 Support CSRF Request Header
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfig.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfTokenParameterProvider.java
  integration-tests/csrf-reactive/pom.xml
  integration-tests/csrf-reactive/src/main/java/io/quarkus/it/csrf/TestResource.java
  integration-tests/csrf-reactive/src/main/resources/application.properties
  integration-tests/csrf-reactive/src/main/resources/templates/csrfTokenHeader.html
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
Labels: area/documentation

#34958 Add a way to configure an OpenSearch distribution for the Elasticsearch DevService
  bom/application/pom.xml
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/elasticsearch-dev-services.adoc
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ConfigureUtil.java
  extensions/elasticsearch-rest-client-common/deployment/pom.xml
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevservicesElasticsearchBuildItem.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/ElasticsearchDevServicesBuildTimeConfig.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/resources/elasticsearch-devservice.properties
  extensions/elasticsearch-rest-client-common/deployment/src/main/resources/opensearch-devservice.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  integration-tests/hibernate-search-orm-elasticsearch/README.md
  integration-tests/hibernate-search-orm-opensearch/README.md
  integration-tests/hibernate-search-orm-opensearch/src/main/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchDevServicesTestResource.java
  integration-tests/hibernate-search-orm-opensearch/src/main/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/IndexedEntity.java
  integration-tests/hibernate-search-orm-opensearch/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/DevServicesContextSpy.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchElasticsearchDevServicesConfiguredExplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchElasticsearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchElasticsearchDevServicesDisabledImplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchElasticsearchDevServicesEnabledImplicitlyTest.java
Labels: area/documentation, triage/waiting-for-ci, area/hibernate-search, area/dependencies, area/elasticsearch, area/docstyle

#35401 Optionally enforce the OIDC 'sub' claim
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcProviderTest.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: triage/waiting-for-ci, area/oidc

#35440 Ensure that duplicate endpoints don't prevent hot-reload
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/duplicate/DuplicateResourceDetectionDevModeTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/duplicate/GreetingResource4.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?, triage/backport-3.2?

#35453 Ignore the case when handling header conflicts in RESTEasy Reactive
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?, triage/backport-3.2?

#35445 Bump Hibernate Search from 6.2.0.Final to 6.2.1.Final and add add configuration property quarkus.hibernate-search-orm.elasticsearch.query.shard-failure.ignore
  bom/application/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/search/shard_failure/MyEntity1.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/search/shard_failure/MyEntity2.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/search/shard_failure/ShardFailureIgnoreDefaultTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/search/shard_failure/ShardFailureIgnoreFalseTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/hsearch-4915/index2.json
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
Labels: area/hibernate-search, area/dependencies, triage/backport?, triage/backport-3.2?

#35463 Fix potential NPE in MicrometerRecorder
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerRecorder.java
Labels: area/metrics, triage/backport?

#35434 Remove unused class in IsDockerWorking
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core

#35460 Disable ReactiveMongodbPanacheResourceTest#testMoreRepositoryFunctionalities
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheResourceTest.java
Labels: area/mongodb

#35435 Ensure testcontainers doesn't cache docker daemon failure
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core, triage/waiting-for-ci

#35456 Disable analytics on CI
  independent-projects/tools/analytics-common/pom.xml
  independent-projects/tools/analytics-common/src/main/java/io/quarkus/analytics/ConfigService.java
Labels: area/platform, area/devtools, triage/backport?, triage/backport-3.2?

#35413 Document how to create an OIDC to SAML Identity broker
  docs/src/main/asciidoc/images/keycloak-add-saml-provider.png
  docs/src/main/asciidoc/images/keycloak-default-saml-provider.png
  docs/src/main/asciidoc/images/okta-create-saml-integration.png
  docs/src/main/asciidoc/images/okta-saml-configuration.png
  docs/src/main/asciidoc/images/okta-saml-general-settings.png
  docs/src/main/asciidoc/images/okta-saml-metadata.png
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
Labels: area/documentation, triage/backport?, area/docstyle

#35441 Fix minor issues with Virtual Threads CI
  .github/workflows/ci-actions-incremental.yml
  integration-tests/virtual-threads/pom.xml
Labels: area/infra-automation

#35447 Let OIDC Twitter users use X if they prefer
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
Labels: area/documentation, triage/waiting-for-ci, area/oidc

#35458 Disable docker-prune.sh for now
  .github/docker-prune.sh
  build-parent/pom.xml
Labels: area/dependencies, area/infra-automation

#35465 OTel documentation improvements for 3.3
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, triage/backport?

#35426 Remove devconsole-spi from core
  extensions/container-image/container-image-openshift/deployment/pom.xml
  extensions/datasource/runtime/pom.xml
  extensions/grpc/runtime/pom.xml
  extensions/liquibase/runtime/pom.xml
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/ArcDevProcessor.java
  extensions/vertx-http/dev-console-spi/pom.xml
  extensions/vertx-http/runtime/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ArcDevRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ConfigDescriptionsManager.java
Labels: area/vertx, triage/waiting-for-ci, area/liquibase, area/grpc

#35446 Bump Elasticsearch/OpenSearch server version for tests and dev services to 8.9/2.9
  build-parent/pom.xml
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-start-offline.properties
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchSmokeTest.java
  integration-tests/elasticsearch-java-client/pom.xml
  integration-tests/elasticsearch-rest-client/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-coordination-outbox-polling/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesDisabledImplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesConfiguredExplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesDisabledImplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesEnabledImplicitlyTest.java
  integration-tests/logging-gelf/pom.xml
Labels: area/logging, triage/waiting-for-ci, area/hibernate-search, area/dependencies, area/elasticsearch

#35479 Include assembling the downstream doc in the default doc pipeline
  docs/pom.xml
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation, triage/backport?, triage/backport-3.2?

#35449 Exclude test scoped dependency constraints from quarkus-bom
  bom/application/pom.xml
  build-parent/pom.xml
  pom.xml
Labels: area/dependencies

#35468 Provide additional safeguards when mixing RESTEasy stacks
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
Labels: area/resteasy-reactive

#35384 Add 'Spring DI API Configuration Reference' paragraph
  docs/src/main/asciidoc/spring-di.adoc
Labels: area/documentation, triage/backport?

#35078 Pass quay.io credentials to openshift build
  .github/workflows/ci-kubernetes.yml
Labels: area/infra-automation

#35475 Fix links to GraalVM in the Native Reference Guide
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/native-reference.adoc
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation, triage/backport?, triage/backport-3.2?

#35003 Gradle plugin: optionally respect non-`quarkus.*` cache-relevant properties
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/AbstractQuarkusExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/BaseConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/CachingTest.java
  devtools/gradle/gradle-application-plugin/src/test/resources/io/quarkus/gradle/tasks/caching/main/build.gradle.kts
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation, area/gradle, area/devtools, triage/backport?

#35403 Override Oracle JDBC native-image metadata only when native image is used
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java
Labels: area/persistence, triage/backport?, triage/backport-3.2?

#35488 Remove last traces of @NativeTest
  integration-tests/native-config-profile/src/test/java/io/quarkus/it/nat/test/profile/BuiltTimeProfileChangeManualIT.java
  integration-tests/native-config-profile/src/test/java/io/quarkus/it/nat/test/profile/BuiltTimeValueChangeManualIT.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
Labels: triage/waiting-for-ci, area/testing

#35503 Take OTel exporter endpoint path into account
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/VertxHttpExporter.java
Labels: area/tracing, triage/backport?

#35492 Support for multi tenancy root mode
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/HibernateCurrentTenantIdentifierResolver.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/TenantResolver.java
  integration-tests/hibernate-orm-tenancy/discriminator/src/main/java/io/quarkus/it/hibernate/multitenancy/fruit/CustomTenantResolver.java
  integration-tests/hibernate-orm-tenancy/discriminator/src/test/java/io/quarkus/it/hibernate/multitenancy/fruit/HibernateTenancyFunctionalityTest.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm

#35489 3.2.5 backports 2
  devtools/gradle/gradle/libs.versions.toml
  docs/downstreamdoc.yaml
  docs/pom.xml
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/security-basic-authentication-tutorial.adoc
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheResourceTest.java
Labels: area/documentation, area/gradle, area/infra, area/mongodb, area/devtools, area/docstyle

#35506 Properly escape property name and values when dumping app config
  core/deployment/src/main/java/io/quarkus/deployment/configuration/tracker/ConfigTrackingWriter.java
Labels: area/core, area/config, triage/backport?, triage/backport-3.2?

#34597 Enable Gradle Enterprise build cache
  .github/workflows/ci-actions-incremental.yml
  .mvn/extensions.xml
  .mvn/gradle-enterprise-custom-user-data.groovy
  .mvn/gradle-enterprise.xml
  build-parent/pom.xml
  independent-projects/parent/pom.xml
  integration-tests/pom.xml
  update-extension-dependencies.sh
Labels: area/gradle, area/dependencies, area/cache, area/infra-automation

#35486 Close DevServices in a timely manner for integration tests
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
Labels: triage/waiting-for-ci, area/testing
