Repository quarkusio/quarkus, pull requests merged in 2023-12, with the labels that each got.

#37436 Respect comma escapes in property value for @RolesAllowed.
  extensions/security/deployment/src/test/java/io/quarkus/security/test/rolesallowed/RolesAllowedExpressionTest.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
Labels: area/security

#37447 Add Content-Range header to 206 Partial Content file response
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/FileTestCase.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/providers/serialisers/ServerFileBodyHandler.java
Labels: area/resteasy-reactive, triage/backport?

#37389 Use `--interactive` option when using docker inside Windows' WSL
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/UpxCompressionBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/util/ContainerRuntimeUtil.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/TestNativeConfig.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunnerTest.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/DevServicesProcessor.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/core, area/testing

#37453 Fix Panache bytecode enhancement for `@Embeddable` records
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/ImmutableEmbeddableFieldAccessTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/RecordFieldAccessTest.java
  extensions/panache/panache-hibernate-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheHibernateCommonResourceProcessor.java
Labels: area/panache, area/persistence, area/hibernate-orm, triage/backport-3.2?, triage/backport?

#37381 Fixes workspace discovery based on effective POMs
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenArtifactResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/util/DependencyUtils.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
Labels: area/devtools

#37152 Support token verification with the inlined certificate chain
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CertChainPublicKeyResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DynamicVerificationKeyResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/RefreshableVerificationKeyResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TrustStoreUtils.java
  integration-tests/oidc-wiremock/pom.xml
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/main/resources/truststore.p12
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/resources/ca.cert.pem
  integration-tests/oidc-wiremock/src/test/resources/intermediate.cert.pem
  integration-tests/oidc-wiremock/src/test/resources/www.quarkustest.com.cert.pem
  integration-tests/oidc-wiremock/src/test/resources/www.quarkustest.com.key.pem
Labels: release/noteworthy-feature, area/oidc

#37449 Update Apache Maven to 3.9.6
  build-parent/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
Labels: area/platform, area/dependencies, area/devtools

#37450 [3.2] Split Java 17 MongoDB and Hibernate ORM Panache tests
  independent-projects/tools/analytics-common/src/test/java/io/quarkus/analytics/AnalyticsServicePromptTest.java
  integration-tests/java-17/hibernate-orm-panache/pom.xml
  integration-tests/java-17/hibernate-orm-panache/src/main/java/io/quarkus/it/hibernate/panache/person/Person.java
  integration-tests/java-17/hibernate-orm-panache/src/main/java/io/quarkus/it/hibernate/panache/person/PersonName.java
  integration-tests/java-17/hibernate-orm-panache/src/main/java/io/quarkus/it/hibernate/panache/person/PersonResource.java
  integration-tests/java-17/hibernate-orm-panache/src/main/java/io/quarkus/it/hibernate/panache/person/Status.java
  integration-tests/java-17/hibernate-orm-panache/src/main/resources/application.properties
  integration-tests/java-17/hibernate-orm-panache/src/test/java/io/quarkus/it/hibernate/panache/person/PersonResourceTest.java
  integration-tests/java-17/mongodb-panache/pom.xml
  integration-tests/java-17/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/Person.java
  integration-tests/java-17/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/PersonName.java
  integration-tests/java-17/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/PersonResource.java
  integration-tests/java-17/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/Status.java
  integration-tests/java-17/mongodb-panache/src/main/resources/application.properties
  integration-tests/java-17/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/person/PersonResourceTest.java
  integration-tests/java-17/pom.xml
  integration-tests/java-17/src/main/resources/application.properties
Labels: area/panache, area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/mongodb, area/platform, area/devtools

#37460 Dependency fixes
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/hibernate-envers/runtime/pom.xml
  extensions/hibernate-orm/runtime/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime/pom.xml
  extensions/panache/hibernate-orm-panache-kotlin/runtime/pom.xml
  extensions/panache/hibernate-orm-panache/runtime/pom.xml
  extensions/panache/hibernate-reactive-panache-kotlin/runtime/pom.xml
  extensions/panache/hibernate-reactive-panache/runtime/pom.xml
Labels: area/panache, area/persistence, area/hibernate-orm, area/hibernate-search, area/dependencies

#37456 Core: ignore attempts to on-demand index primitive types and arrays
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexWrapper.java
Labels: area/core

#37476 Fix javadoc of VertxHttpServerMetrics
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
Labels: area/metrics

#37448 Build Scan publication action update
  .github/develocity-preapproved-developers.json
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/develocity-publish-build-scans.yml
Labels: area/infra-automation

#37497 Edit the OIDC and OAuth2 Client and Filters Reference Guide
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle

#37511 Add more parameter types in Dev UI JsonRPC Tests
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayDevModeCreateFromHibernateTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateSchemaRecreateDevConsoleTestCase.java
  extensions/vertx-http/dev-ui-tests/src/main/java/io/quarkus/devui/tests/DevUIJsonRPCTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIGrpcSmokeTest.java
Labels: area/persistence, area/vertx, area/hibernate-orm, area/flyway

#37495 3.6.1 backports 2
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/staticinit/StaticInitConfigInjectionMissingValueFailureTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigStaticInitCheckInterceptor.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigStaticInitValues.java
  extensions/resteasy-classic/resteasy-qute/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
Labels: area/core, area/arc, area/resteasy, area/infra, area/platform, area/dependencies, area/qute, area/devtools, area/resteasy-reactive

#37522 Improve security-oidc-bearer-token-authentication-tutorial
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
Labels: area/documentation, area/docstyle, triage/backport?

#37536 Fix != expression in @PreAuthorize check
  extensions/spring-security/deployment/src/main/java/io/quarkus/spring/security/deployment/SpringSecurityProcessor.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/SpringPreAuthorizeTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/springapp/SpringComponent.java
  extensions/spring-security/runtime/src/main/java/io/quarkus/spring/security/runtime/interceptor/SpringSecurityRecorder.java
  extensions/spring-security/runtime/src/main/java/io/quarkus/spring/security/runtime/interceptor/check/PrincipalNameFromParameterObjectSecurityCheck.java
Labels: area/spring, triage/backport-3.2?, triage/backport?

#37527 Upgrade to Hibernate Search 7.0.0.Final
  bom/application/pom.xml
Labels: area/hibernate-search, area/dependencies

#37535 Fix Snappy note about native
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#37484 Updated scheduler docs (tracing)
  docs/src/main/asciidoc/scheduler-reference.adoc
Labels: area/documentation, triage/waiting-for-ci

#37520 Properly match unknown config files for Windows
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
Labels: area/core, area/config

#37269 Support certificate role mappings
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/X509IdentityProvider.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/MtlsAuthenticationMechanism.java
  integration-tests/mtls-certificates/pom.xml
  integration-tests/mtls-certificates/src/main/java/io/quarkus/it/vertx/CertificateRoleMappingResource.java
  integration-tests/mtls-certificates/src/main/resources/application.properties
  integration-tests/mtls-certificates/src/main/resources/role-mappings.txt
  integration-tests/mtls-certificates/src/main/resources/server-keystore.jks
  integration-tests/mtls-certificates/src/main/resources/server-truststore.jks
  integration-tests/mtls-certificates/src/test/java/io/quarkus/it/vertx/CertificateRoleMappingIT.java
  integration-tests/mtls-certificates/src/test/java/io/quarkus/it/vertx/CertificateRoleMappingTest.java
  integration-tests/mtls-certificates/src/test/resources/client-keystore-1.jks
  integration-tests/mtls-certificates/src/test/resources/client-keystore-2.jks
  integration-tests/mtls-certificates/src/test/resources/client-truststore.jks
  integration-tests/pom.xml
Labels: area/security, area/vertx, triage/backport-3.2?

#37557 Make docs/sync-web-site.sh recoverable
  docs/sync-web-site.sh
Labels: area/documentation, triage/backport-2.13?, triage/backport-3.2?, triage/backport?

#37464 Improve security-oidc-code-flow-authentication-tutorial
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
Labels: area/documentation, area/docstyle, triage/backport?

#37562 Documentation fixes for Authorization of web endpoints guide
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
Labels: area/documentation, area/docstyle

#37560 Multiple changes for spring-security guide
  docs/src/main/asciidoc/spring-security.adoc
Labels: area/documentation

#37573 Create new entry for Mvnpm notifications
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#37576 Fix ContainerRuntimeUtil.ContainerRuntime#isPodman check
  core/deployment/src/main/java/io/quarkus/deployment/util/ContainerRuntimeUtil.java
Labels: area/core, triage/waiting-for-ci

#37565 ArC: prevent duplicate bean discovery & detect duplicate bean identifiers
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
Labels: area/arc, triage/waiting-for-ci

#37580 Make REST Client a bean when the scope property is set in config
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientBuildConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsBuildTimeConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/java/io/quarkus/restclient/config/RestClientConfigTest.java
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/QuarkusConfigurationTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/BeanFromConfigTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ConfigurationTest.java
Labels: area/resteasy, area/resteasy-reactive

#37588 Update the import.cypher script to use newer syntax
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation

#37295 Bump Jackson to 2.16.0
  bom/application/pom.xml
  extensions/resteasy-classic/rest-client-jackson/deployment/src/test/java/io/quarkus/restclient/jackson/deployment/ZonedDateTimeObjectMapperCustomizer.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/jsonrpc/DevUIDatabindCodec.java
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: triage/waiting-for-ci, area/jackson

#37529 Zero-Garbage ContextInstances::forEach
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ContextInstancesGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/MethodDescriptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractSharedContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ComputingCacheContextInstances.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ContextInstances.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/documentation, area/core, area/config, area/arc, area/security, area/vertx, triage/waiting-for-ci, area/dependencies, area/docstyle

#37611 Fix configuration of custom port for Elasticsearch dev services
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/elasticsearch-rest-client/deployment/src/test/java/io/quarkus/elasticsearch/restclient/lowlevel/runtime/DevServicesElasticsearchDevModeCustomPortTestCase.java
  extensions/elasticsearch-rest-client/deployment/src/test/java/io/quarkus/elasticsearch/restclient/lowlevel/runtime/TestResource.java
Labels: area/elasticsearch

#37629 AwtProcessor use the default native-image version if necessary
  extensions/awt/deployment/src/main/java/io/quarkus/awt/deployment/AwtProcessor.java
Labels: area/graphics

#37639 Logging docs include build time config reference
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation

#37539 Edit the OIDC and OAuth2 Client and Filters Reference Guide
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle

#37570 Prevent concurrently running Jacoco ReportCreators to avoid report corruption
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/ReportCreator.java
Labels: area/testing, triage/backport?

#37640 Handle expireAfterWrite properly in the redis-cache config
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheInfoBuilder.java
Labels: area/cache, area/redis

#37489 Remove the container-image-s2i extension
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  extensions/container-image/container-image-s2i/deployment/pom.xml
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/RemoveEnvVarDecorator.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/ApplyDockerfileToBuildConfigDecorator.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/BuildStrategy.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/ContainerImageS2iConfig.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/PackageUtil.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iBaseJavaImage.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iBaseNativeImage.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iBuild.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iUtils.java
  extensions/container-image/container-image-s2i/deployment/src/test/java/io/quarkus/container/image/s2i/deployment/S2iProcessorTest.java
  extensions/container-image/container-image-s2i/pom.xml
  extensions/container-image/container-image-s2i/runtime/pom.xml
  extensions/container-image/container-image-s2i/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageCapabilitiesUtil.java
  extensions/container-image/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerImageUtil.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  integration-tests/kubernetes/quarkus-standard-way-kafka/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithQuarkusAppNameTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithSpecifiedContainerNameTest.java
  integration-tests/kubernetes/src/it/openshift-s2i-build-and-deploy/invoker.properties
  integration-tests/kubernetes/src/it/openshift-s2i-build-and-deploy/pom.xml
  integration-tests/kubernetes/src/it/openshift-s2i-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/src/it/openshift-s2i-build-and-deploy/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/src/it/openshift-s2i-build-and-deploy/src/main/resources/application.properties
  integration-tests/kubernetes/src/it/openshift-s2i-build-and-deploy/verify.groovy
Labels: area/documentation, area/core, area/kubernetes, area/dependencies, area/devtools

#37624 Improve MongoDB tests on Java records
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/record/PersonName.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/record/PersonRecord.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/record/PersonRecordRepository.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/record/PersonResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/record/PersonWithRecord.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/record/MongodbPanacheRecordIT.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/record/MongodbPanacheRecordTest.java
Labels: area/mongodb

#37035 Register methods of RESTeasy reactive parameter containers for reflection
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
Labels: area/native-image, area/resteasy-reactive, triage/backport-3.2?, triage/backport?, triage/backport-3.5?

#37617 SmallRye GraphQL 2.6.1
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/graphql, triage/backport?

#37591 Fix terminology: Replace configuration key with configuration property
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/config-yaml.adoc
  docs/src/main/asciidoc/context-propagation.adoc
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/kafka-reactive-getting-started.adoc
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/pulsar-getting-started.adoc
  docs/src/main/asciidoc/rabbitmq.adoc
Labels: area/documentation, area/docstyle

#37647 Use run-java script when possible
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: release/breaking-change, area/container-image

#37615 Using optimized Vertx HTTP header names
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/RouteHandlers.java
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/ValidationSupport.java
Labels: area/vertx

#37623 Add quarkus-funqy-amazon-lambda-deployment to the quarkus-bom
  bom/application/pom.xml
Labels: area/amazon-lambda, area/dependencies, area/funqy

#37609 Scheduler: javadoc/docs clarifications
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduled.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/ScheduledExecution.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduler.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Trigger.java
  extensions/scheduler/deployment/pom.xml
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/InvalidCronExpressionTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/InvalidDelayedExpressionTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/InvalidEveryExpressionTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/InvalidTimeZoneTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/documentation, area/scheduler

#37638 Add scope tag to all injected MP Metrics
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/MetricRegistryAdapter.java
  integration-tests/micrometer-mp-metrics/src/main/java/io/quarkus/it/micrometer/mpmetrics/MessageResource.java
  integration-tests/micrometer-mp-metrics/src/test/java/io/quarkus/it/micrometer/mpmetrics/MPMetricsTest.java
Labels: area/metrics, triage/backport?

#37653 Improve error message in REST Client when no matching readers found
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientReaderInterceptorContextImpl.java
Labels: area/rest-client, triage/waiting-for-ci

#37651 Fix GraalVM version checker in order to accept other implementations
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/GraalVMTest.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#37669 OIDC: Fix DEV UI startup when OIDC or Keycloak Dev Services is disabled
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevJsonRpcService.java
Labels: area/oidc

#37679 Skip CDS test if the JDK cannot create AppCDS
  integration-tests/maven/src/test/java/io/quarkus/maven/it/JarRunnerIT.java
Labels: area/maven

#37668 Work around fishy Jackson test
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/DateDeserializerPojoResourceTest.java
Labels: area/jackson

#37660 Dev UI - Cache - show keys contained in a cache
  extensions/cache/deployment/src/main/resources/dev-ui/qwc-cache-caches.js
  extensions/cache/deployment/src/main/resources/dev-ui/qwc-cache-keys.js
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/devui/CacheJsonRPCService.java
Labels: area/cache

#37664 3.6.2 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsAdd.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsRemove.java
  devtools/cli/src/test/java/io/quarkus/cli/CliDriver.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/native-reference.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/sync-web-site.sh
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/elasticsearch-rest-client/deployment/src/test/java/io/quarkus/elasticsearch/restclient/lowlevel/runtime/DevServicesElasticsearchDevModeCustomPortTestCase.java
  extensions/elasticsearch-rest-client/deployment/src/test/java/io/quarkus/elasticsearch/restclient/lowlevel/runtime/TestResource.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/mapping/id/optimizer/optimizer/IdOptimizerDefaultNoneTest.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/mpmetrics/MetricRegistryAdapter.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheInfoBuilder.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/common/runtime/JsonConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/common/runtime/JsonProducer.kt
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/spring-security/deployment/src/main/java/io/quarkus/spring/security/deployment/SpringSecurityProcessor.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/SpringPreAuthorizeTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/springapp/SpringComponent.java
  extensions/spring-security/runtime/src/main/java/io/quarkus/spring/security/runtime/interceptor/SpringSecurityRecorder.java
  extensions/spring-security/runtime/src/main/java/io/quarkus/spring/security/runtime/interceptor/check/PrincipalNameFromParameterObjectSecurityCheck.java
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientReaderInterceptorContextImpl.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/LocatableResourcePathParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/PathParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/RegexMatchTest.java
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/micrometer-mp-metrics/src/main/java/io/quarkus/it/micrometer/mpmetrics/MessageResource.java
  integration-tests/micrometer-mp-metrics/src/test/java/io/quarkus/it/micrometer/mpmetrics/MPMetricsTest.java
  pom.xml
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/ReportCreator.java
Labels: area/documentation, area/persistence, area/core, area/config, area/arc, area/smallrye, area/openapi, area/testing, area/oidc, area/spring, area/platform, area/dependencies, area/devtools, area/hibernate-reactive, area/elasticsearch, area/metrics, area/cli, area/resteasy-reactive

#37688 Do not use build cache when releasing
  .mvn/gradle-enterprise.xml
Labels: triage/backport?

#37648 ArC: detect incorrect usage of javax.inject.Singleton
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/WrongAnnotationUsageProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/wrongannotations/WrongSingletonTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/management/ManagementAndRootPathTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/management/ManagementWithJksTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/management/ManagementWithMainServerDisabledTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/management/ManagementWithP12Test.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/management/ManagementWithPemTest.java
Labels: area/arc, area/vertx, triage/waiting-for-ci

#37693 3.6.3 backports 1
  .mvn/gradle-enterprise.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/GraalVMTest.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevJsonRpcService.java
Labels: area/core, area/config, area/infra, area/oidc

#37633 Netty requires more classes to be runtime initialized
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: area/native-image

#37663 Fix Build Scan publication
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/develocity-publish-build-scans.yml
Labels: area/infra-automation

#37670 Save FixedProducesHandler lookup
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FixedProducesHandler.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#37654 Make sure dev mode is properly written in doc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  docs/src/main/asciidoc/spring-security.adoc
Labels: area/documentation, area/docstyle

#37697 Document that JDK 17+ is Quarkus prerequisity
  docs/src/main/asciidoc/_includes/prerequisites.adoc
  docs/src/main/asciidoc/ansible.adoc
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/deploying-to-heroku.adoc
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
  docs/src/main/asciidoc/gcp-functions-http.adoc
  docs/src/main/asciidoc/gcp-functions.adoc
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#37696 Docs: dont use deprecated RoutingContext cookies methods in OIDC multitenancy guide example
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation

#37710 Use NoStackTraceException in metrics
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
Labels: triage/waiting-for-ci, area/metrics, triage/backport?

#37717 Docs: Fix incorrect link reference in Cross-Site Request Forgery Prevention guide
  docs/src/main/asciidoc/security-csrf-prevention.adoc
Labels: area/documentation

#37709 Fix ServiceMonitor generation (targetPort type and dekorate bump)
  bom/application/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddServiceMonitorResourceDecorator.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMetricsCustomAbsoluteTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMetricsCustomRelativeTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMetricsNoAnnotationsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMetricsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMicrometerTest.java
Labels: area/kubernetes, area/dependencies

#37723 Do not use CSRF cookie as the next token value
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  integration-tests/csrf-reactive/src/main/java/io/quarkus/it/csrf/TestResource.java
  integration-tests/csrf-reactive/src/main/resources/application.properties
  integration-tests/csrf-reactive/src/main/resources/templates/csrfTokenFirstForm.html
  integration-tests/csrf-reactive/src/main/resources/templates/csrfTokenSecondForm.html
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
Labels: triage/backport?

#37724 Docs: Remove section documenting support for other OpenID Connect Providers that does not work in new DEV UI
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation

#37714 Remove the driver property in the documentation for Cloud SQL
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
Labels: area/documentation, triage/backport?

#37707 Remove duplicate runtime init io.netty.buffer.PooledByteBufAllocator
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: area/native-image

#37699 Update JReleaser descriptors for quarkus-cli to Java 17
  devtools/cli/distribution/jreleaser-maintenance.yml
  devtools/cli/distribution/jreleaser-preview.yml
  devtools/cli/distribution/jreleaser.yml
Labels: area/devtools, area/cli

#37472 Provide a way to observe security events
  docs/src/main/asciidoc/cdi.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/SecurityEventObserver.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/SecurityEventsValidationFailureTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/GrpcSecurityRecorder.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/SecurityEvent.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/AbstractSecurityEventTest.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/EagerAuthSecurityEventTest.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/LazyAuthSecurityEventTest.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/UnsecuredResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AbstractSecurityEventTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/EagerAuthSecurityEventTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/LazyAuthSecurityEventTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/UnsecuredResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/SecurityEventContext.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/app/denied/unnanotated/BeanWithSecurityAnnotations.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/AsyncAuthZFailureEventObserver.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/AsyncAuthZSuccessEventObserver.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/AsyncCDISecurityEventTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/AsyncSecurityEventObserver.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/AuthZFailureEventObserver.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/CDIAuthorizationFailureEventTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/CDIMultipleSecurityEventTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/CDISecurityEventTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/CustomEventObserver.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/CustomSecurityEvent.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/DisabledCDISecurityEventTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/events/SecurityEventObserver.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/AbstractSecurityEvent.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/AuthenticationFailureEvent.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/AuthenticationSuccessEvent.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/AuthorizationFailureEvent.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/AuthorizationSuccessEvent.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/SecurityCheck.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/SecurityEvent.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/SecurityEventHelper.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityConfig.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/SecurityConstrainer.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/HttpSecurityPolicySecurityEventTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractHttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/ManagementInterfaceHttpAuthorizer.java
  integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/AuthenticationEventResource.java
  integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/AuthenticationFailureEventListener.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: release/noteworthy-feature, area/documentation, area/security, area/resteasy, area/vertx, area/oidc, area/grpc, area/resteasy-reactive, area/docstyle

#37734 Docs: Qute and RESTEasy Reactive integration clarification
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation, triage/waiting-for-ci

#37730 Introduce LinkedIn OIDC provider
  docs/src/main/asciidoc/images/oidc-linkedin-1.png
  docs/src/main/asciidoc/images/oidc-linkedin-2.png
  docs/src/main/asciidoc/images/oidc-linkedin-3.png
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
Labels: area/documentation, area/oidc

#37755 Docs: Security JWT guide minor fixes
  docs/src/main/asciidoc/security-jwt-build.adoc
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation

#37748 Keycloak docs fix wrong link and add small enhancement
  docs/src/main/asciidoc/security-keycloak-admin-client.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
Labels: area/documentation

#36108 Check for code usage fluctuations in native images
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  integration-tests/jpa-postgresql-withxml/src/test/java/io/quarkus/it/jpa/postgresql/ImageMetricsITCase.java
  integration-tests/jpa-postgresql-withxml/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/jpa-postgresql-withxml/src/test/resources/image-metrics/23.1/image-metrics.properties
  integration-tests/jpa-postgresql/src/test/java/io/quarkus/it/jpa/postgresql/ImageMetricsITCase.java
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.1/image-metrics.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/ImageMetricsITCase.java
  integration-tests/main/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/main/src/test/resources/image-metrics/23.1/image-metrics.properties
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/nativeimage/NativeBuildOutputExtension.java
Labels: area/persistence, area/core, area/testing, area/hibernate-orm

#36508 Remove custom Keycloak image code from the keycloak-authorization tests
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  integration-tests/keycloak-authorization/pom.xml
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/AdminClientResource.java
  integration-tests/keycloak-authorization/src/main/resources/application.properties
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/KeycloakLifecycleManager.java
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/PolicyEnforcerTest.java
  integration-tests/keycloak-authorization/src/test/resources/Dockerfile
Labels: area/oidc, area/keycloak

#37771 Docs: security-jdbc guide linking user entity section where is used built-in bcrypt password mapper
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-jdbc.adoc
Labels: area/documentation, area/docstyle

#37770 Add SequencedCollection to BANNED_INTERFACE_TYPES
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/types/EnumBeanTypesTest.java
Labels: area/arc, triage/waiting-for-ci

#37781 Security guide writer's review
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-basic-authentication.adoc
Labels: area/documentation, area/docstyle

#37793 Docs: fix wrong link in Security JDBC guide
  docs/src/main/asciidoc/security-jdbc.adoc
Labels: area/documentation

#37796 Docs: clarify reference to elytron-security-jdbc extension in the Security JDBC guide
  docs/src/main/asciidoc/security-jdbc.adoc
Labels: area/documentation

#37738 Docs: Fix typo in Qute.java javadoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Qute.java
Labels: area/qute

#37790 Introduce shared HTTP permissions to avoid duplication across multiple HTTP permissions and to simplify creation of HTTP permissions
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/PathMatchingHttpSecurityPolicyTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/PolicyMappingConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
Labels: area/documentation, area/vertx, area/docstyle

#37760 Fire OIDC security event when OIDC server not available
  docs/src/main/asciidoc/security-customization.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/SecurityEvent.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcEventObserver.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcEventResource.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenOidcRecoveredTest.java
Labels: area/documentation, area/oidc

#37787 Take priority into account in ConfigurationImpl
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/provider/ContextProvidersPriorityTest.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/ConfigurationImpl.java
Labels: area/resteasy-reactive, triage/backport?

#37739 Core: make it possible to index dependencies with a specific groupId
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ExcludeDependencyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/IndexDependencyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexDependencyConfig.java
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/deployment/TestArchiveMatching.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies-groupid/library/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies-groupid/library/src/main/java/org/acme/SomeBean.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies-groupid/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies-groupid/runner/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies-groupid/runner/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies-groupid/runner/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies-groupid/runner/src/main/resources/application.properties
Labels: area/documentation, area/core, area/arc, area/maven

#37774 ArC: improve error message for unsatisfied dependency
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanResolverImpl.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DecoratorInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Decorators.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/ArcTestContainer.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/clientproxy/finalmethod/FinalMethodIllegalWhenNotInjectedTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/unsatisfied/UnsatisfiedMatchByRestrictedTypeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/unsatisfied/UnsatisfiedMatchByTypeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/unsatisfied/UnsatisfiedMatchExcludedTypeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/unsatisfied/UnsatisfiedMatchNoBeanConstructorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/unsatisfied/UnsatisfiedMatchNoBeanDefininAnnotationTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/unsatisfied/UnsatisfiedMatchVetoedTypeTest.java
Labels: area/arc

#37798 Only update ~/.docker/config.json if it exists
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#37800 Update links to java docs from java 11 to java 17
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  docs/src/main/asciidoc/_includes/duration-format-note.adoc
  docs/src/main/asciidoc/config-extending-support.adoc
  docs/src/main/asciidoc/context-propagation.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  integration-tests/awt/src/main/java/io/quarkus/awt/it/ImageResource.java
Labels: area/documentation, area/core, area/graphics, area/docstyle

#37801 Add org.mockito:mockito-junit-jupiter to quarkus-junit5-mockito
  test-framework/junit5-mockito/pom.xml
Labels: area/testing

#37803 Dev mode: add null checks to TimestampSet.isRestartNeeded()
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
Labels: area/core, triage/waiting-for-ci

#37731 Query logging is being done in io.quarkus.mongodb.panache.common.runtime.MongoOperations
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#37736 ArC: clarify the description of quarkus.arc.context-propagation.enabled
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcContextPropagationConfig.java
Labels: area/arc, triage/waiting-for-ci

#37766 Upgrade to Vaadin 24.3.0 and lit 3.1.0
  build-parent/pom.xml
Labels: area/dependencies

#37808 CLI - Rework how missing commands are detected
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
Labels: area/devtools, area/cli

#37773 Add build-metadata-file-path as extra input to report action
  .github/workflows/develocity-publish-build-scans.yml
Labels: area/infra-automation

#37621 ArC dev mode: introduce quarkus.arc.dev-mode.generate-dependency-graphs
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcDevModeConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcDevModeApiProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DependencyGraph.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevBeanInfos.java
Labels: area/arc

#37813 JDK-8316304 in JDK 21 introduced a new field accessed through JNI
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.1/image-metrics.properties
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/native-image

#37814 Fix flaky HttpSecurityPolicySecurityEventTest
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/HttpSecurityPolicySecurityEventTest.java
Labels: area/vertx

#37812 Fix name in Dev Tools matrix
  .github/matrix-jvm-tests.json
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#37819 Fix OIDC Security event fired before runtime config ready in Arc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
Labels: area/oidc

#37815 3.6.4 backports 1
  .github/workflows/ci-actions-incremental.yml
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/provider/ContextProvidersPriorityTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/ConfigurationImpl.java
  integration-tests/csrf-reactive/src/main/java/io/quarkus/it/csrf/TestResource.java
  integration-tests/csrf-reactive/src/main/resources/application.properties
  integration-tests/csrf-reactive/src/main/resources/templates/csrfTokenFirstForm.html
  integration-tests/csrf-reactive/src/main/resources/templates/csrfTokenSecondForm.html
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
  pom.xml
Labels: area/documentation, area/core, area/arc, area/infra, area/devtools, area/infra-automation, area/metrics, area/cli, area/resteasy-reactive, area/docstyle

#37759 Edit security-architecture.adoc
  docs/src/main/asciidoc/security-architecture.adoc
Labels: area/documentation, area/docstyle

#37652 Mention Coordinated omission explicitly in performance section
  docs/src/main/asciidoc/performance-measure.adoc
Labels: area/documentation

#37838 Reorg of persistence related maintainers
  .github/quarkus-github-bot.yml
  MAINTAINERS.adoc
Labels: area/infra-automation

#37837 Add `dmlloyd` to notify list for `logging` area
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#37799 Docs security JPA small enhancement and fix
  docs/src/main/asciidoc/security-jpa.adoc
Labels: area/documentation, area/docstyle

#37820 Introduce env variable QUARKUS_NATIVE_IT_SKIP_VERIFY_IMAGE_METRICS
  test-framework/junit5/src/main/java/io/quarkus/test/junit/nativeimage/NativeBuildOutputExtension.java
Labels: triage/waiting-for-ci, area/testing, area/native-image

#37860 Qute - message bundles: skip unnecessary build steps
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
Labels: area/qute

#37840 Edit security-identity-providers.adoc
  docs/src/main/asciidoc/security-identity-providers.adoc
Labels: area/documentation, area/docstyle

#37844 Edit security-jpa.adoc
  docs/src/main/asciidoc/security-jpa.adoc
Labels: area/documentation, area/docstyle

#37841 Also condition docker config update in native tests
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#37863 Reorg of Kotlin and Mongo related maintainers
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#36893 [3.2] Drop Java 19 from CI as it's not an LTS version
  .github/matrix-jvm-tests.json
Labels: area/infra-automation

#36967 [3.2] Bump smallrye-reactive-messaging.version from 4.6.0 to 4.6.1
  bom/application/pom.xml
Labels: area/smallrye, area/reactive-messaging, area/dependencies

#37830 Take max-chunk-size config into account for programmatic client
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientLoggingConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientMultipartConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/java/io/quarkus/restclient/config/RestClientConfigTest.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/resources/application.properties
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  integration-tests/rest-client-reactive-multipart/src/main/resources/application.properties
Labels: area/resteasy, triage/waiting-for-ci, area/resteasy-reactive

#37866 RR client: fix chunking between `\n\n` in SSEParser
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/sse/SseParserTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
Labels: area/resteasy-reactive, triage/backport?

#37445 Introduce quarkus.package.decompiler config
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  docs/src/main/asciidoc/writing-extensions.adoc
  integration-tests/hibernate-orm-panache/src/main/resources/application.properties
  integration-tests/resteasy-reactive-kotlin/standard/src/main/resources/application.properties
Labels: area/documentation, area/panache, area/core

#37869 Edit security-jpa.adoc
  docs/src/main/asciidoc/security-jpa.adoc
Labels: area/documentation, area/docstyle

#37879 JDK-8316304 in JDK 21 introduced a new field accessed through JNI
  integration-tests/jpa-postgresql-withxml/src/test/resources/image-metrics/23.1/image-metrics.properties
Labels: area/persistence, area/hibernate-orm

#37543 Fix smallrye ConfigValidationException not being handled properly at Quarkus startup
  core/deployment/src/main/java/io/quarkus/deployment/steps/RuntimeConfigSetupBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/util/ExceptionUtil.java
  core/runtime/src/test/java/io/quarkus/runtime/util/ExceptionUtilTest.java
Labels: area/persistence, area/core, triage/waiting-for-ci, area/hibernate-orm, area/oidc, area/narayana, area/grpc

#37885 Add Hibernate projects to dependabot (for micros only)
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#37877 Minor improvements to Dev Service config javadoc
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourceBuildTimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/ElasticsearchDevServicesBuildTimeConfig.java
Labels: area/elasticsearch, area/devservices

#37887 Update reference metrics for Mandrel/GraalVM 23.0
  integration-tests/jpa-postgresql-withxml/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/main/src/test/resources/image-metrics/23.0/image-metrics.properties
Labels: area/persistence, area/hibernate-orm

#37833 Fix generation of Scheduler startmode enum tooltip
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemFinder.java
Labels: area/core, area/devtools

#37878 Remove preapproved developers list to publish Build Scans
  .github/develocity-preapproved-developers.json
  .github/workflows/develocity-publish-build-scans.yml
Labels: area/infra-automation

#37692 Improve OIDC bearer token concept doc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
Labels: area/documentation, area/docstyle

#37873 Choose correct level field value and type to avoid non-resolution error
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
Labels: area/core, area/logging, area/native-image, triage/backport?

#37910 Remove Justin Lee from the maintainers lists for Kotlin and MongoDB related extensions
  MAINTAINERS.adoc
Labels: area/kotlin, area/mongodb

#37832 Scheduler: JobDefinition API is only supported if RAM store type is used
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/documentation, area/scheduler

#37908 Typo in gradle example
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation

#37884 Document datasource Dev Service reuse, add configuration to disable it, and enable reuse of Elasticsearch Dev Service containers
  docs/src/main/asciidoc/databases-dev-services.adoc
  docs/src/main/asciidoc/elasticsearch-dev-services.adoc
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceContainerConfig.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ContainerShutdownCloseable.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/ElasticsearchDevServicesBuildTimeConfig.java
Labels: area/documentation, area/persistence, area/elasticsearch

#37865 Update `jboss-logmanager` to 3.0.4.Final
  bom/application/pom.xml
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/InMemoryLogHandler.java
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/vertx/pom.xml
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/InMemoryLogHandler.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/InMemoryLogHandler.java
Labels: area/logging, area/vertx, area/testing, area/dependencies, area/devtools, triage/backport?

#37829 Scheduler: support skip predicate class with public no-args constructor
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduled.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduler.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/AbstractJobDefinition.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/util/SchedulerUtils.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/ConditionalExecutionTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/programmatic/ProgrammaticJobsTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/documentation, area/scheduler

#37740 Bump to Mutiny 2.5.3
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/smallrye, area/dependencies, area/mutiny

#37722 Add apicurio jsonserde support
  .github/native-tests.json
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/kafka-reactive-getting-started.adoc
  docs/src/main/asciidoc/kafka-schema-registry-json-schema.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/schema-registry/apicurio/json-schema/deployment/pom.xml
  extensions/schema-registry/apicurio/json-schema/deployment/src/main/java/io/quarkus/apicurio/registry/jsonschema/ApicurioRegistryJsonSchemaProcessor.java
  extensions/schema-registry/apicurio/json-schema/pom.xml
  extensions/schema-registry/apicurio/json-schema/runtime/pom.xml
  extensions/schema-registry/apicurio/json-schema/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/schema-registry/apicurio/pom.xml
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeDiscoveryState.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  integration-tests/kafka-json-schema-apicurio2/pom.xml
  integration-tests/kafka-json-schema-apicurio2/src/main/java/io/quarkus/it/kafka/jsonschema/JsonSchemaEndpoint.java
  integration-tests/kafka-json-schema-apicurio2/src/main/java/io/quarkus/it/kafka/jsonschema/JsonSchemaKafkaCreator.java
  integration-tests/kafka-json-schema-apicurio2/src/main/java/io/quarkus/it/kafka/jsonschema/Pet.java
  integration-tests/kafka-json-schema-apicurio2/src/main/resources/application.properties
  integration-tests/kafka-json-schema-apicurio2/src/main/resources/json-schema.json
  integration-tests/kafka-json-schema-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaJsonSchemaIT.java
  integration-tests/kafka-json-schema-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaJsonSchemaTest.java
  integration-tests/kafka-json-schema-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaJsonSchemaTestBase.java
  integration-tests/kafka-json-schema-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaResource.java
  integration-tests/pom.xml
Labels: area/documentation, area/core, area/arc, area/maven, area/smallrye, area/vertx, area/reactive-messaging, area/oidc, area/kafka, area/dependencies, area/devtools, area/infra-automation, area/resteasy-reactive, area/docstyle

#37725 Reset CSRF cookie to minimize a risk of failures due to its expiry
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfig.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
Labels: triage/backport?
