Repository quarkusio/quarkus, pull requests merged in 2023-05, with the labels that each got.

#33023 Fix algorithm comparison bug in OIDC code loading the token decryption key
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/main/resources/privateKeyEncryptedIdToken.jwk
Labels: area/oidc, triage/backport-2.16?, triage/backport?

#33033 Fix minor formatting issue in the update guide
  docs/src/main/asciidoc/update-to-quarkus-3.adoc
Labels: area/documentation, triage/backport?

#33020 Fixed example in command-mode-reference.adoc
  docs/src/main/asciidoc/command-mode-reference.adoc
Labels: area/documentation, triage/backport-2.16?, triage/backport?

#32893 Fix issue with KnownPathResource manager in native
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/KnownPathResourceManager.java
Labels: area/undertow

#32941 Rename server-list to hosts in the Infinispan Dev Services guide
  docs/src/main/asciidoc/infinispan-dev-services.adoc
Labels: area/documentation, area/infinispan

#33012 Update JReleaser guide for native executables
  docs/src/main/asciidoc/jreleaser.adoc
Labels: area/documentation

#32989 Exclude JS files from resource filtering
  build-parent/pom.xml
Labels: area/dependencies, triage/backport?

#32922 Narayana upgrade (to 6.0.1.Final)
  bom/application/pom.xml
Labels: area/dependencies

#32984 Arc: Implement validation for various erroneous cases of bean metadata, re-enable TCK tests
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/DefaultScopeTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Decorators.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Injection.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Interceptors.java
  independent-projects/arc/tcks/cdi-tck-runner/src/test/resources/testng.xml
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/beanMetadata/BeanMetadataWrongTypeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptedBean/InterceptedBeanConstructorInjectionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptedBean/InterceptedBeanFieldInjectionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptedBean/InterceptedBeanInitializerInjectionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptedBean/InterceptedBeanNotUnboundWildcardTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptorBean/InterceptorBeanInjectionBeanClassTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptorBean/InterceptorBeanInjectionConstructorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptorBean/InterceptorBeanInjectionDisposerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptorBean/InterceptorBeanInjectionInitializerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptorBean/InterceptorBeanInjectionProducerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/erroneous/interceptorBean/InterceptorBeanWrongTypeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/intercepted/InterceptedBeanInjectionTest.java
Labels: area/arc, area/smallrye, triage/waiting-for-ci, area/reactive-messaging

#33013 Lowercase enum values to avoid hypen in k8s flavor accronym
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesDevServicesBuildTimeConfig.java
Labels: area/kubernetes, triage/backport?

#33040 Fix config for Vale linter GitHub Action on PR
  .github/workflows/vale.yml
Labels: area/documentation, area/infra-automation

#32908 Use Maven 3.9.1 in generated projects
  build-parent/pom.xml
Labels: area/maven, area/dependencies

#33078 Revert "Cleanup Flyway Config"
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayCallbacksLocator.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/flyway/runtime/pom.xml
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayBuildTimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayContainerProducer.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayCreator.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceBuildTimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRecorder.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRuntimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/devconsole/FlywayDevConsoleRecorder.java
  extensions/flyway/runtime/src/test/java/io/quarkus/flyway/runtime/FlywayCreatorTest.java
Labels: area/flyway

#33054 Update to Gradle Enterprise Maven Extension 1.17.1
  .mvn/extensions.xml
Labels: area/gradle, area/maven

#33057 2.16.7 backports 2
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/MappingsConfigBuilder.java
  docs/src/main/asciidoc/command-mode-reference.adoc
  docs/src/main/asciidoc/config-extending-support.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  docs/src/main/asciidoc/redis-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-11-runtime
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-17-runtime
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/AbstractJsonObjectResponse.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/UserInfoTest.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/main/resources/privateKeyEncryptedIdToken.jwk
Labels: area/documentation, area/core, area/config, area/infra, area/oidc, area/platform, area/devtools

#33064 Bump Gradle to 8.1.1
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, triage/backport?

#32860 Add a small tutorial on deploying Quarkus app with Ansible
  docs/src/main/asciidoc/ansible.adoc
Labels: area/documentation

#33037 Update Mockito to 5.3.1
  bom/application/pom.xml
  extensions/amazon-lambda-http/runtime/pom.xml
  extensions/azure-functions-http/runtime/pom.xml
  extensions/google-cloud-functions-http/runtime/pom.xml
  extensions/jaeger/deployment/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/jaeger, area/amazon-lambda, area/platform, area/dependencies, area/devtools, area/google-cloud-functions

#33096 Fix a regression in config doc generation
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemFinder.java
Labels: area/core

#33063 Gradle modules build: Allow Java 20
  devtools/gradle/build-logic/build.gradle.kts
Labels: area/gradle, area/devtools

#33084 ArC - static method interception fix
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/staticmethods/InterceptedStaticMethodBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/staticmethods/InterceptedStaticMethodsProcessor.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/InterceptedStaticMethodsRecorder.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?

#33138 Fix tiny typo in Stork Kubernetes documentation
  docs/src/main/asciidoc/stork-kubernetes.adoc
Labels: area/documentation, triage/backport?

#33034 Make the update guide evergreen
  docs/src/main/asciidoc/update-quarkus.adoc
Labels: area/documentation

#33143 Promote mandrel as the default builder image for native executables
  docs/src/main/asciidoc/amazon-lambda.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/platform.adoc
Labels: area/documentation

#33062 Let `ProcessBuilder` do the IO redirection in `LauncherUtil`
  test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java
Labels: area/testing

#33147 Remove redundant modifiers for interface fields from NativeConfig
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
Labels: area/core

#33118 Updates to Infinispan 14.0.9.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/flaky-test, triage/backport?

#33158 Fix order of actual and expectation in SecurityTestUtils assertion
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/SecurityTestUtils.java
Labels: area/security, triage/waiting-for-ci

#33146 Fix missing method in native mode when an SSE endpoint returns a Flow.Publisher
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  integration-tests/resteasy-mutiny/src/main/java/io/quarkus/it/resteasy/mutiny/MutinyResource.java
  integration-tests/resteasy-mutiny/src/test/java/io/quarkus/it/resteasy/mutiny/MutinyTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#32932 Fix resteasy-reactive-client hostname verification default
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ConfigurationTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/GlobalConfigurationTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/HelloClientWithBaseUri.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/configuration-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/global-configuration-test-application.properties
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/wronghost/WrongHostRejectedClient.java
  integration-tests/rest-client-reactive/src/main/resources/application.properties
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/wronghost/ExternalWrongHostTestCase.java
Labels: area/resteasy, area/resteasy-reactive, triage/backport-2.16?, triage/backport?

#33140 Fix Hibernate Reactive dev mode
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheJpaCommonResourceProcessor.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/PanacheHibernateRecorder.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/SessionOperations.java
Labels: area/panache, triage/backport?

#33086 Fix completion mode field when creating a K8s Job resource and Flyway
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/CreateJobResourceFromImageDecorator.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithFlywayInitTest.java
Labels: area/kubernetes, triage/backport-2.16?, triage/backport?

#33183 Fix small documentation issue in reactive
  docs/src/main/asciidoc/getting-started-reactive.adoc
Labels: area/documentation

#33184 Address some issues in getting-started-reactive documentation
  docs/src/main/asciidoc/getting-started-reactive.adoc
Labels: area/documentation

#33190 Update apache link in the license header to https
  LICENSE.txt
Labels: triage/waiting-for-ci

#33199 Replaced the inversed return types with correct return types
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/value/ReactiveTransactionalValueCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/value/ValueCommands.java
Labels: triage/waiting-for-ci, area/redis

#33201 Fix pom.xml for owasp dependency check plugin
  docs/src/main/asciidoc/security-vulnerability-detection-concept.adoc
Labels: area/documentation, triage/backport?

#33194 Populate ResourceInfo when exception thrown from Resource returning CompletionStage
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/AsyncResponseWithExceptionAndFiltersTargetTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/CompletionStageResponseHandler.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#33191 Fix bad vale rule in Quarkus style rules that breaks vale linter
  docs/.vale/styles/Quarkus/CaseSensitiveTerms.yml
  docs/.vale/styles/Quarkus/TermsErrors.yml
Labels: area/documentation

#33091 Gradle-Model: make kotlin-gradle-plugin-api a compileOnly dependency
  devtools/gradle/gradle-model/build.gradle.kts
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
Labels: area/gradle, area/devtools

#33187 Bug fix for qute-reference: correct import for hidden fragment
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation, triage/backport?

#32424 2.13: Upgrade Gradle to 7.6.1
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#33100 Workaround for unnecessary info logs in Hibernate ORM (HHH-16546)
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateLogFilterBuildStep.java
Labels: area/persistence, area/hibernate-orm, triage/backport?

#32375 Bump Kotlin to 1.8.21
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  independent-projects/arc/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
Labels: release/noteworthy-feature, area/gradle, area/arc, triage/waiting-for-ci, area/dependencies, area/devtools

#33216 Ignore malformed language ranges when resolving locales for validation
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/locale/AbstractLocaleResolver.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLLocaleResolver.java
  integration-tests/hibernate-validator/src/test/java/io/quarkus/it/hibernate/validator/HibernateValidatorFunctionalityTest.java
Labels: area/smallrye, area/hibernate-validator, area/graphql, triage/backport?

#33032 Fix experimental badge on new Dev UI
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-badge.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
Labels: area/vertx, triage/waiting-for-ci, triage/backport?

#33010 Bump surefire plugin in independent-projects to 3.0.0
  independent-projects/enforcer-rules/pom.xml
  independent-projects/revapi/pom.xml
Labels: triage/backport?

#33226 Allow to inject info extension data as beans
  extensions/info/deployment/src/main/java/io/quarkus/info/deployment/InfoProcessor.java
  extensions/info/deployment/src/test/java/io/quarkus/info/deployment/EnabledInfoTest.java
  extensions/info/runtime/src/main/java/io/quarkus/info/BuildInfo.java
  extensions/info/runtime/src/main/java/io/quarkus/info/GitInfo.java
  extensions/info/runtime/src/main/java/io/quarkus/info/JavaInfo.java
  extensions/info/runtime/src/main/java/io/quarkus/info/OsInfo.java
  extensions/info/runtime/src/main/java/io/quarkus/info/runtime/InfoRecorder.java
  extensions/info/runtime/src/main/java/io/quarkus/info/runtime/JavaInfoContributor.java
  extensions/info/runtime/src/main/java/io/quarkus/info/runtime/OsInfoContributor.java
Labels: triage/waiting-for-ci

#33217 Fix liquibase quickstart issue in native mode
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
Labels: area/liquibase

#33221 Bump smallrye-open-api.version from 3.3.2 to 3.3.4
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, triage/backport?

#33165 OpenAPI: Add support for `apiKey` security scheme configuration
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/filter/SecurityConfigFilter.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/deployment/filter/SecurityConfigFilterTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/ApiKeySecurityWithConfigTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoAddSecurityDisabledTestCase.java
Labels: area/smallrye, area/openapi

#33202 Fix nesting of cli plugins
  devtools/cli/src/main/java/io/quarkus/cli/plugin/PluginCommandFactory.java
Labels: area/devtools, area/cli, triage/backport?

#33197 Introduce a way to set headers and status code for streaming response
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/main/java/io/quarkus/resteasy/reactive/jaxb/deployment/ResteasyReactiveJaxbProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksContainerFactory.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/headers/ResponseHeaderTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/status/ResponseStatusTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/RestMulti.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/AsyncReturnTypeScanner.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/SseUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/StreamingUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java
Labels: release/noteworthy-feature, area/documentation, area/resteasy-reactive

#33245 Reduce the number of dev mode tests run in Elytron JDBC extension
  extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/CustomRoleDecoderDevModeTest.java
Labels: area/security

#33237 Update Stork to version 2.2.0
  bom/application/pom.xml
Labels: area/dependencies, area/stork, triage/backport?

#33246 Fix Resource Class reflection registration when custom Writer is used
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusServerEndpointIndexer.java
  integration-tests/hibernate-orm-envers/src/main/java/io/quarkus/it/envers/Message2.java
  integration-tests/hibernate-orm-envers/src/main/java/io/quarkus/it/envers/Message2Provider.java
  integration-tests/hibernate-orm-envers/src/main/java/io/quarkus/it/envers/Output2Resource.java
  integration-tests/hibernate-orm-envers/src/main/java/io/quarkus/it/envers/OutputResource.java
  integration-tests/hibernate-orm-envers/src/test/java/io/quarkus/it/envers/OutputResourceTest.java
Labels: area/resteasy-reactive, triage/backport?

#33236 Keep query params for extension page deeplinks
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/router-controller.js
Labels: area/vertx, triage/waiting-for-ci, triage/backport?

#33225 Upgrade RESTEasy Classic to 6.2.3.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#33189 Ensure that ObjectMapperCustomizer impls are used in runtime init
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-client-reactive-jackson/deployment/src/main/java/io/quarkus/rest/client/reactive/jackson/deployment/RestClientReactiveJacksonProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/ReinitializeVertxJsonBuildItem.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxJsonProcessor.java
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/RegisterCustomModuleCustomizer.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/resources/application.properties
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/GreetingResourceTest.kt
Labels: area/vertx, triage/waiting-for-ci, area/resteasy-reactive

#33288 Test: Correct OpenTelemetry Baggage bean injection assertion
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/util/InjectionResource.java
Labels: area/arc, area/tracing

#33162 Expose gRPC Reflection service v1 and v1.alpha
  docs/src/main/asciidoc/grpc-service-implementation.adoc
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/MultipleStubsInjectionTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/GrpcReflectionAlphaTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/interceptors/FailingInInterceptorTest.java
  extensions/grpc/deployment/src/test/resources/reflection-config.properties
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcConfiguration.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/reflection/ReflectionServiceV1.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/reflection/ReflectionServiceV1alpha.java
  extensions/grpc/stubs/src/main/proto/reflection/v1alpha/README.md
  extensions/grpc/stubs/src/main/proto/reflection/v1alpha/reflection.proto
Labels: area/documentation, area/grpc

#33265 Properly support extracting fields from entities into projections
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/AbstractPost.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/Post.java
Labels: area/spring, triage/backport?

#33042 Print valid api versions when specifying one in K8s Client Dev Services
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
Labels: area/kubernetes, triage/backport?

#32976 Support Providers in REST Client Reactive from context
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/ProvidersFromContextTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientRequestContextImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ProvidersImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/ResteasyReactiveClientRequestContext.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/ResteasyReactiveClientRequestFilter.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/ResteasyReactiveClientResponseFilter.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/ConfigurationImpl.java
Labels: area/documentation, triage/waiting-for-ci, area/resteasy-reactive

#33283 Make it easier to get well known properties from TokenIntrospection
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcConstants.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TokenIntrospection.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/TokenIntrospectionTest.java
Labels: area/oidc

#33281 Bump dekorate to 3.6.0
  bom/application/pom.xml
Labels: area/dependencies

#33311 Add missing line break to render doc properly
  docs/src/main/asciidoc/update-quarkus.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#33185 Allow all configured http methods in the CORS preflight response
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/cors/CORSFullConfigHandlerTestCase.java
  extensions/reactive-routes/deployment/src/test/java/io/quarkus/vertx/web/cors/CORSHandlerTestCase.java
  extensions/reactive-routes/deployment/src/test/resources/conf/cors-config.properties
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/RestEasyCORSTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSFullConfigHandlerTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSHandlerTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSHandlerTestWildcardOriginCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSSecurityTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSWildcardSecurityTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSWildcardStarSecurityTestCase.java
  extensions/vertx-http/deployment/src/test/resources/conf/cors-config-full.properties
  extensions/vertx-http/deployment/src/test/resources/conf/cors-config.properties
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/CorsTestCase.java
Labels: area/resteasy, area/vertx

#33304 Fix argument parsing for CLI plugins
  devtools/cli/src/main/java/io/quarkus/cli/plugin/PluginCommandFactory.java
  devtools/cli/src/test/java/io/quarkus/cli/plugin/PluginCommandFactoryTest.java
  devtools/cli/src/test/java/io/quarkus/cli/plugin/TestCommand.java
Labels: area/devtools, area/cli

#33266 Dev UI: Fix raw built time data page
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-data-raw-page.js
Labels: area/vertx, triage/backport?

#33302 init task name starts with service name
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
Labels: triage/waiting-for-ci, release/breaking-change, area/flyway, area/liquibase

#33306 Remove @NotNull annotations
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/redis-cache/deployment/src/main/java/io/quarkus/cache/redis/deployment/RedisCacheProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization-common/runtime/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/common/JsonBuilderCustomizer.java
  integration-tests/gradle/src/main/resources/multi-source-project/src/main/java/org/acme/service/SimpleService.java
Labels: area/gradle, area/infinispan, area/resteasy-reactive

#33344 Bump micrometer to 1.11.0
  bom/application/pom.xml
Labels: area/dependencies, area/metrics

#33234 Add prerequisites to contribution guide plus some copy edits.
  docs/src/main/asciidoc/doc-contribute-docs-howto.adoc
Labels: area/documentation

#33352 Fix mutabillity in Stork gRPC channel when fetching Stork services
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/stork/StorkGrpcChannel.java
Labels: area/grpc

#32872 Dev UI: Allow runtime links in external page
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension-link.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-external-page.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/ExternalPageBuilder.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport?

#33357 Fix typo in Azure Functions documentation
  docs/src/main/asciidoc/azure-functions-http.adoc
Labels: area/documentation

#33107 Update JFR and monitoring docs
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, area/core, f2f

#33301 Update to SmallRye-GraphQL 2.2.0
  bom/application/pom.xml
  extensions/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GraphQLOpenTelemetryTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLBeanValidationTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTracingDisabledTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTracingTest.java
  extensions/smallrye-graphql/runtime/pom.xml
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
Labels: area/smallrye, area/dependencies, area/graphql, area/tracing

#33364 Fix KubernetesWithFlywayInitTest test
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithFlywayInitTest.java
Labels: area/kubernetes

#33252 Fix NPE when force restarting with kubernetes dev service running
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
Labels: area/kubernetes, triage/backport?

#33365 Dev UI: Infinispan Client dev ui implementation
  docs/src/main/asciidoc/images/dev-ui-infinispan.png
  extensions/infinispan-client/deployment/pom.xml
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devconsole/InfinispanDevUiProcessor.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/devconsole/InfinispanJsonRPCService.java
Labels: area/documentation, area/infinispan

#33278 Mailer - Add the ability to configure a list of approved recipients
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/ApproveListNoEmailTest.java
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/ApproveListTest.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailerRuntimeConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/Mailers.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MutinyMailerImpl.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/TrimmedPatternConverter.java
  extensions/mailer/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.Converter
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerImplTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerWithMultipartImplTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MockMailerImplTest.java
Labels: area/mailer

#33335 Update mariadb to latest LTS 10.11 for devservices and integration tests
  build-parent/pom.xml
Labels: area/dependencies, area/devservices

#33362 Make check for RESTEasy Classic stricter
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#33233 Verify OIDC ID token audience by default
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: release/noteworthy-feature, area/oidc

#33370 Fixed GraphQLOpenTelemetryTests to use getSpanByKindAndParentId method insted of get
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GraphQLOpenTelemetryTest.java
Labels: area/tracing

#30984 2.13.x: Upgrade RESTEasy to 4.7.9.Final
  bom/application/pom.xml
Labels: area/dependencies

#33326 Fix 'quarkus.otel.exporter.otlp.traces.timeout' default value
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterTracesConfig.java
Labels: area/tracing, triage/backport?

#32980 Dev mode - make it possible to watch files matching a predicate
  core/deployment/src/main/java/io/quarkus/deployment/builditem/HotDeploymentWatchedFileBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/HotDeploymentWatchedFileBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/devmode-spi/src/main/java/io/quarkus/dev/testing/TestWatchedFiles.java
Labels: area/core

#33367 Arc - document the need to execute full rebuild to enable monitoring of business method invocations
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcDevModeConfig.java
Labels: area/arc, triage/waiting-for-ci

#33051 ArC fixes for spec compatibility, round 8
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/lookup/ListInvalidTypeParamTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/CustomNonBlockingReturnTypeTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Decorators.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Interceptors.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/Components.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableDecorator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BeanManagerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Contexts.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/DependentContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InterceptorBindings.java
  independent-projects/arc/tcks/cdi-tck-porting-pkg/src/main/java/io/quarkus/arc/tck/porting/ContextsImpl.java
  independent-projects/arc/tcks/cdi-tck-runner/src/test/resources/testng.xml
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/illegal/NonDependentGenericBeanTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/beanmanager/BeanManagerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/disabled/DisabledDecoratorInStrictModeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/discovery/ParameterizedBeanTypeWithVariableTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/disabled/DisabledInterceptorInStrictModeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/predestroy/PreDestroyInterceptorAndClientProxyTest.java
Labels: area/arc, triage/waiting-for-ci, area/resteasy-reactive

#33383 Properly handle Kotlin suspend methods in Reactive Messaging Kafka
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CountriesEndpoint.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CountryNameMessageTransformer.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CountryNamePayloadTransformer.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CountryNameProducer.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/resources/application.properties
Labels: area/smallrye, triage/waiting-for-ci, area/reactive-messaging, triage/backport?

#33366 Fix documentation for Secured Routes in OpenShift
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RouteConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/TLSConfig.java
Labels: area/documentation, area/kubernetes, triage/backport?

#33385 Properly make check for RESTEasy Classic stricter
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/flaky-test

#33374 Present more useful exception when QuarkusTestResourceLifecycleManager fails
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#33378 Update docs on running @QuarkusIntegrationTest against a running application
  docs/src/main/asciidoc/getting-started-testing.adoc
  test-framework/common/src/main/java/io/quarkus/test/common/TestHostLauncher.java
Labels: area/documentation, triage/waiting-for-ci, area/testing, triage/flaky-test

#33375 Intercept and report exceptions when using the WithSpan annotation
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/WithSpanInterceptorTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/WithSpanInterceptor.java
Labels: area/tracing

#33384 Do not build the REST Client instances in CDI wrapper constructor for RequestScoped clients
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/RestClientListenerTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/TestHeaderConfig.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/TestRestClientListener.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveCDIWrapperBase.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#31001 [2.13.x] - Update 2.13 to use the new container images
  .github/workflows/native-cron-build.yml.disabled
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/NativeConfigTest.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunnerTest.java
  docs/src/main/asciidoc/amazon-lambda.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/native-reference.adoc
  docs/src/main/asciidoc/platform.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftBaseNativeImage.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iBaseNativeImage.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iBaseNativeImage.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iConfig.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
Labels: area/documentation, area/core, area/platform, area/devtools, area/infra-automation

#33399 Remove k8s client from Dependabot config
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#33136 Embed Other UIs better in Dev UI
  core/deployment/src/main/resources/META-INF/branding/smallrye-graphql-ui-graphiql.css
  core/deployment/src/main/resources/META-INF/branding/smallrye-health-ui.css
  core/deployment/src/main/resources/META-INF/branding/smallrye-open-api-ui.css
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/devui/SmallRyeGraphQLDevUIProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/devui/OpenApiDevUIProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension-link.js
Labels: area/core, area/smallrye, area/vertx, area/openapi, triage/waiting-for-ci, area/dependencies, area/graphql, triage/backport?

#31511 Add owasp dependency check action
  .github/workflows/owasp-check.yml
  build-parent/pom.xml
  pom.xml
Labels: area/dependencies, area/infra-automation

#33294 No need to exclude javax validation-api anymore
  extensions/hibernate-validator/runtime/pom.xml
Labels: area/hibernate-validator, triage/backport?

#33398 Use default value from `quarkus.http.read-timeout` in RESTEasy Reactive
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/resteasy-reactive, triage/backport?

#32154 Documenting ways for in-file and cross-file navigation
  docs/src/main/asciidoc/_includes/devtools/create-cli.adoc
  docs/src/main/asciidoc/_templates/template-concept.adoc
  docs/src/main/asciidoc/_templates/template-howto.adoc
  docs/src/main/asciidoc/_templates/template-reference.adoc
  docs/src/main/asciidoc/_templates/template-tutorial.adoc
  docs/src/main/asciidoc/doc-contribute-docs-howto.adoc
  docs/src/main/asciidoc/doc-reference.adoc
Labels: area/documentation

#33393 Fix oidc path getter
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
Labels: area/oidc

#33397 Update Dev UI Libs
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/dev-ui

#30737 Process messages immediately after is sent in chuncked streaming
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamTestCase.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/StreamJsonTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/StreamingUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java
Labels: area/resteasy-reactive

#33405 Exclude commons-logging in quarkus bom
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#33315 CLI uses locally enabled jbang catalogs
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/JBangCatalogService.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/PluginManagerSettings.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/PluginMangerState.java
Labels: area/platform, area/devtools, area/cli, area/jbang

#33368 Do not attempt to detect container runtime in native-sources build
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NoopNativeImageBuildRunner.java
  docs/src/main/asciidoc/building-native-image.adoc
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
Labels: area/documentation, area/core, area/kafka-streams, triage/backport-3.0?, triage/backport?

#32261 2.13: Upgrade graphql-java to 19.4 and smallrye-graphql to 1.7.2
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/graphql

#33443 2.13.8 backports 3
  docs/src/main/asciidoc/security-csrf-prevention.adoc
Labels: area/documentation, area/infra

#33448 Fix location and content location headers in Resteasy Reactive
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/ResponseBuilderImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/RestResponseBuilderImpl.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/response/ResponseTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/response/RestResponseResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/response/RestResponseTest.java
Labels: area/resteasy-reactive, triage/flaky-test, triage/backport-2.16?, triage/backport-3.0?, triage/backport?

#33438 Read process output from a new Thread
  core/deployment/src/main/java/io/quarkus/deployment/util/ExecUtil.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/verify.groovy
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/verify.groovy
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-inherit/verify.groovy
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib/verify.groovy
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/verify.groovy
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-jib/verify.groovy
  integration-tests/container-image/maven-invoker-way/src/it/container-image-push/setup.groovy
  integration-tests/container-image/maven-invoker-way/src/it/container-image-push/verify.groovy
Labels: area/core, triage/waiting-for-ci

#33453 Fix malformed sentence in guide
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation, triage/backport?

#33410 Improve documentation of DockerConfig
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerConfig.java
Labels: triage/waiting-for-ci, triage/backport-3.0?, triage/backport?

#33451 Create all the required directories before copying native JSON files
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, triage/backport-3.0?, triage/backport?

#33459 Disable flaky OTel-GraphQL test for now
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GraphQLOpenTelemetryTest.java
Labels: area/tracing, triage/backport?

#33466 Ensure the classes to be bound in JAXB are cleared in DEV mode
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/JaxbContextConfigRecorder.java
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/JaxbContextProducer.java
Labels: area/jaxb, triage/backport-3.0?, triage/backport?

#33440 Arc - log a WARN if we encounter unproxyable JDK class since we cannot transform it either
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
Labels: area/arc, triage/waiting-for-ci

#33460 ArC - fix observer method injection for dependent synthetic beans
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/observer/injectionpoint/ObserverInjectingDependentSyntheticBeanWithMetadataTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigMappingCreator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
Labels: area/arc, triage/waiting-for-ci, triage/backport-3.0?, triage/backport?

#33110 Enable function with same name for Funqy
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/NameConflict.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/NameConflictTest.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/Overloading.java
  extensions/funqy/funqy-knative-events/deployment/src/test/java/io/quarkus/funqy/test/OverloadingTest.java
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/FunctionBuildItem.java
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/FunctionScannerBuildStep.java
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/FunctionRecorder.java
  extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/FunctionRegistry.java
Labels: area/funqy

#33472 Disable non configured default OIDC tenant if TenantConfigResolver is available
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/deployment/src/test/resources/application-dev-mode.properties
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
Labels: triage/backport?

#32864 Provide default OIDC static tenant resolver
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/keycloak-authorization/src/main/resources/application.properties
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/keycloak

#33462 Add support of signature algorithms (PSxxx, EdDSA) in quarkus-oidc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/JsonWebKeySet.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc

#33424 Update graal-sdk to 22.3.2
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  independent-projects/bootstrap/pom.xml
Labels: area/core, area/dependencies, area/devtools, triage/backport?

#33447 ArC fixes for spec compatibility, round 9
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanStream.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinBean.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/UnusedBeans.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractInstanceHandle.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/BeanManagerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceProvider.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/UncaughtExceptions.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/Deployer.java
  independent-projects/arc/tcks/cdi-tck-runner/src/test/resources/testng.xml
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/destroy/BeanPreDestroyErrorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/injectionpoints/BeanInjectionPointsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/scope/CustomScopeWithoutContextTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/bean/scope/ScopeInheritanceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/cdi/bcextensions/SyntheticBeanInjectionPointTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/circular/CircularProducerNormalScopeConstructorInjectionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/circular/CircularProducerNormalScopeFieldInjectionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/circular/CircularProducerNormalScopeSetterInjectionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/circular/CircularProducerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/circular/CircularStaticProducerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injectionpoint/BeanWithInjectionPointMetadata.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injectionpoint/DummyInjectionPoint.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injectionpoint/InjectionPointMetadataWithDynamicLookupTest.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#33476 Do not create session and PKCE encryption keys if only bearer tokens are expected
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
Labels: area/oidc, triage/backport-2.13?, triage/backport-3.0?, triage/backport?

#33488 Bump Resteasy Classic from to 6.2.4.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport?

#32929 Add possibility to parse days and milliseconds with config DurationConverter
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DurationConverter.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/DurationConverterTestCase.java
  docs/src/main/asciidoc/_includes/duration-format-note.adoc
Labels: area/documentation, area/core, area/config, triage/waiting-for-ci

#33351 Fix blank DEV UI extension pages when loading data from Back End
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-fired-events.js
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-invocation-trees.js
  extensions/cache/deployment/src/main/resources/dev-ui/qwc-cache-caches.js
  extensions/container-image/deployment/src/main/resources/dev-ui/qwc-container-image-build.js
  extensions/datasource/deployment/src/main/resources/dev-ui/qwc-datasources-reset.js
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate-orm-entity-types.js
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate-orm-named-queries.js
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate-orm-persistence-units.js
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/resources/dev-ui/hibernate-search-orm-elasticsearch-indexed-entity-types.js
  extensions/kubernetes/openshift/deployment/src/main/resources/dev-ui/qwc-openshift-deployment.js
  extensions/liquibase/deployment/src/main/resources/dev-ui/qwc-liquibase-datasources.js
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/resources/dev-ui/qwc-rest-client-clients.js
  extensions/scheduler/deployment/src/main/resources/dev-ui/qwc-scheduler-scheduled-methods.js
  extensions/smallrye-fault-tolerance/deployment/src/main/resources/dev-ui/qwc-fault-tolerance-methods.js
  extensions/smallrye-reactive-messaging/deployment/src/main/resources/dev-ui/qwc-smallrye-reactive-messaging-channels.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration.js
Labels: area/persistence, area/arc, area/smallrye, area/vertx, area/scheduler, triage/waiting-for-ci, area/reactive-messaging, area/hibernate-orm, area/kubernetes, area/hibernate-search, area/cache, area/liquibase, area/fault-tolerance, area/resteasy-reactive, area/dev-ui

#33478 Arc - remove logging when discovering a an illegal bean type in producer type hierarchy
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
Labels: area/arc, triage/waiting-for-ci, triage/backport-2.16?, triage/backport-3.0?, triage/backport?

#33416 Update to vertx 4.4.2
  bom/application/pom.xml
  integration-tests/opentelemetry-vertx/pom.xml
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/SqlClientTest.java
Labels: area/dependencies, triage/quarkus-3, triage/backport?

#33510 Dev UI: OpenAPI - Fix paths when custom
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/devui/OpenApiDevUIProcessor.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiConfig.java
Labels: area/smallrye, area/openapi, area/swagger-ui

#33499 Ensure that invoker is properly initialized in QuartzJobDefinition#schedule
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/scheduler, triage/backport-3.0?, triage/backport?

#33511 Move Status tag to footer
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
Labels: area/vertx

#33503 Explain in OIDC DevServices doc how to configure a timeout
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation

#33517 Allow configuration of Flyway connectRetriesInterval
  extensions/flyway/deployment/src/test/resources/config-for-default-datasource.properties
  extensions/flyway/deployment/src/test/resources/config-for-missing-named-datasource.properties
  extensions/flyway/deployment/src/test/resources/config-for-multiple-datasources-without-default.properties
  extensions/flyway/deployment/src/test/resources/config-for-multiple-datasources.properties
  extensions/flyway/deployment/src/test/resources/config-for-named-datasource-without-default.properties
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayCreator.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
Labels: area/flyway

#33520 Suppress unused warning in RepositorySupport class
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/spring/data/runtime/RepositorySupport.java
Labels: area/core, area/spring

#33203 Enable DebugCodeInfoUseSourceMappings with GraalVM >= 23.0
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci, area/native-image

#33429 Replace `quarkus.log.console.color` with `quarkus.console.color`
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleProcessor.java
Labels: area/core

#30939 Allow editing of params at any time
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleStateManager.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
Labels: area/core, area/testing

#33539 fix typo in grpc-service-consumption.adoc
  docs/src/main/asciidoc/grpc-service-consumption.adoc
Labels: area/documentation

#33518 Integration of Reactive Messaging 4.6.0
  bom/application/pom.xml
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/MediatorConfigurationSupportTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/signatures/KeyedMultiInjectionTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/signatures/KeyedMultiInjectionWithKeyedTest.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/signatures/MetadataInjectionTest.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusMediatorConfiguration.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusParameterDescriptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/TypeInfo.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/DataForKeyedProducer.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/DataWithMetadataProducer.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/KafkaEndpoint.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/KafkaReceivers.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/MyPayloadExtractor.java
  integration-tests/reactive-messaging-kafka/src/main/resources/application.properties
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
Labels: release/noteworthy-feature

#33516 Support tag expressions
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
Labels: area/core

#33521 Allow Quarkus to pick a random debug port
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
Labels: area/core

#33537 Fix the custom card for Dev UI Rabbit MQ
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/resources/dev-ui/qwc-rabbitmq-card.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension-link.js
Labels: area/smallrye, area/vertx, triage/waiting-for-ci, area/reactive-messaging, triage/backport-3.0?, triage/backport?

#33414 2.13: Encrypt OIDC session cookie value by default
  .github/native-tests.json
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/documentation, area/oidc, area/infra-automation
