Repository quarkusio/quarkus, pull requests merged in 2023-09, with the labels that each got.

#35646 Unwrap `AssertionError` from `InvocationTargetException` during Quarkus JUnit5 callbacks
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractTestWithCallbacksExtension.java
  test-framework/junit5/src/test/java/io/quarkus/test/junit/ErrorThrowingCallback.java
  test-framework/junit5/src/test/java/io/quarkus/test/junit/QuarkusTestCallbacksErrorHandlingTest.java
  test-framework/junit5/src/test/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestAfterEachCallback
Labels: triage/waiting-for-ci, area/testing

#35675 Make minor improvements to CDI handling of AsyncHealthCheckFactory
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/QuarkusAsyncHealthCheckFactory.java
Labels: area/smallrye, triage/waiting-for-ci, area/health

#35677 ArC: log warning about removed beans for BeanContainer operations
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unused/ArcContainerLookupProblemDetectedTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unused/ArcContainerSupplierLookupProblemDetectedTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unused/CDIProviderLookupProblemDetectedTest.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?, triage/backport-3.2?

#35687 Do not convert OIDC DevUI id and secret fields to lower case
  extensions/oidc/deployment/src/main/resources/dev-ui/qwc-oidc-provider.js
Labels: area/oidc

#35674 ArC: fix decorators and interface default methods
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/DecoratorDefaultMethodTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport?, triage/backport-3.2?

#35670 Fix DevUI fix serialization error on Throwable
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/jsonrpc/ByteArrayInputStreamDeserializer.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/jsonrpc/ByteArrayInputStreamSerializer.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/jsonrpc/DevUIDatabindCodec.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ContinuousTestingProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/testrunner/TestRunnerSmokeTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/continuoustesting/ContinuousTestingJsonRPCService.java
Labels: area/vertx, triage/waiting-for-ci, area/dependencies, triage/backport?

#27744 Add a config option to enable Flyway baseline feature
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionBaselineAtStartExistingSchemaHistoryTableTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionBaselineAtStartTest.java
  extensions/flyway/deployment/src/test/resources/baseline-at-start-config.properties
  extensions/flyway/deployment/src/test/resources/baseline-at-start-existing-schema-history-table-config.properties
  extensions/flyway/deployment/src/test/resources/h2-init-schema-history-table.sql
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayContainer.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayContainerProducer.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRecorder.java
Labels: triage/waiting-for-ci, area/flyway

#35696 Use correct default config source name to check Kubernetes config disabled
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/config/runtime/KubernetesConfigSourceFactory.java
Labels: area/kubernetes, triage/backport?

#35695 Remove invalid imagePushSecret from BuildConfig when using internal registry
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithInternalRegistryTest.java
Labels: area/kubernetes, triage/backport?

#35682 Clarify how PasswordProvider in security-jpa has to be used
  docs/src/main/asciidoc/security-jpa.adoc
  extensions/security-jpa-common/runtime/src/main/java/io/quarkus/security/jpa/PasswordProvider.java
Labels: area/documentation, area/security, triage/backport?, area/docstyle, triage/backport-3.2?

#35633 Make hibernate reactive status clear in docs
  docs/src/main/asciidoc/hibernate-reactive.adoc
Labels: area/documentation, triage/backport-2.13?, triage/backport?, triage/backport-3.2?

#35652 [3.2] Bump to Gradle 8.2.1
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#35712 Upgrade vaadin and importmap and add caching
  bom/application/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/MvnpmHandler.java
Labels: area/vertx, triage/waiting-for-ci, area/dependencies

#35719 QuarkusComponentTest: register additional annotations transformers
  test-framework/junit5-component/pom.xml
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/JaxrsSingletonTransformer.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTest.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/AnnotationsTransformerTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/AnnotationsTransformerTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/JaxrsSingletonTransformerTest.java
Labels: area/testing

#35700 Update to Vert.x 4.4.5 and Netty 4.1.97
  bom/application/pom.xml
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxUtil.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedServerRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/AbstractResponseWrapper.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/resteasy, area/vertx, area/dependencies, triage/backport?, triage/backport-3.2?

#35400 Implement support for Redis 7.2
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/DevServicesConfig.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/DevServicesRedisProcessor.java
  extensions/redis-client/runtime/pom.xml
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/MRangeArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractRedisCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveJsonCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveSearchCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTimeSeriesCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalJsonCommandsImpl.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/GeoCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/JsonCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/RedisServerExtension.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SearchCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/StreamCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/TimeSeriesCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/TransactionalSearchCommandsTest.java
Labels: release/noteworthy-feature, area/redis

#35513 Remove duplicated HTTP body size limit check
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  integration-tests/vertx-http/src/main/java/io/quarkus/it/vertx/UploadRoute.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/UploadUnlimitedTestCase.java
Labels: area/vertx

#35703 Updates Infinispan dependencies
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/backport?

#35708 Ignore reflection warnings for built-in Kotlin classes
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java
Labels: area/core

#35698 Remove unused gavs from build parent
  build-parent/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#35727 Update dependabot to look for mvnpm releases
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#35681 Elasticsearch guide - Fix FruitResource example and docker run command
  docs/src/main/asciidoc/elasticsearch.adoc
Labels: triage/backport-3.2?

#35665 Improve docs validation 2.16
  docs/src/main/asciidoc/_attributes.adoc
Labels: area/documentation, area/docstyle

#35731 Guard against null headers when converting a provided Response
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResponseHandler.java
Labels: triage/waiting-for-ci, triage/backport?, triage/backport-3.2?

#35740 Fix invalid logging pattern
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/OpenTelemetryVertxTracingFactory.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/MicroProfileRestClientEnricher.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
Labels: area/tracing, area/resteasy-reactive, triage/backport?, triage/backport-3.2?

#35735 Update to SmallRye-GraphQL 2.4.0
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/CustomDirective.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/DeprecatedGraphQLDirectivesTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLFederationTest.java
Labels: area/smallrye, area/dependencies, area/graphql

#33318 Switch to `jboss-logmanager`
  bom/application/pom.xml
  core/builder/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/processor/pom.xml
  core/runtime/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/graal/LoggingSubstitutions.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/BannerFormatter.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  docs/src/main/asciidoc/class-loading-reference.adoc
  extensions/datasource/common/pom.xml
  extensions/devservices/db2/pom.xml
  extensions/devservices/derby/pom.xml
  extensions/devservices/h2/pom.xml
  extensions/devservices/mariadb/pom.xml
  extensions/devservices/mssql/pom.xml
  extensions/devservices/mysql/pom.xml
  extensions/devservices/oracle/pom.xml
  extensions/devservices/postgresql/pom.xml
  extensions/logging-json/runtime/pom.xml
  extensions/panache/panacheql/pom.xml
  extensions/vertx/latebound-mdc-provider/pom.xml
  extensions/vertx/latebound-mdc-provider/src/main/java/io/quarkus/vertx/mdc/provider/LateBoundMDCProvider.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxMDC.java
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/maven-resolver/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/bootstrap/runner/pom.xml
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/logging/EmptyLogContextConfigurator.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/logging/InitialConfigurator.java
  independent-projects/bootstrap/runner/src/main/resources/META-INF/services/org.jboss.logmanager.LogContextConfigurator
  independent-projects/bootstrap/runner/src/main/resources/META-INF/services/org.jboss.logmanager.LogContextInitializer
  independent-projects/enforcer-rules/src/main/resources/enforcer-rules/quarkus-banned-dependencies.xml
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/classic/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/classic/src/main/java/org/acme/ClasspathResources.java
  integration-tests/maven/src/test/resources-filtered/projects/rr-with-json-logging/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rr-with-json-logging/src/main/java/org/acme/ClasspathResources.java
Labels: area/documentation, area/panache, area/core, area/maven, area/logging, area/vertx, triage/waiting-for-ci, area/dependencies, area/devtools

#35753 Disable build scan for more utility commands
  integration-tests/gradle/update-dependencies.sh
  tcks/resteasy-reactive/update-dependencies.sh
Labels: area/gradle

#35752 Only publish latest docs for preview
  .github/workflows/preview.yml
  docs/src/main/asciidoc/validation.adoc
Labels: area/documentation, area/infra-automation

#35762 Delete temporary openshift files
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
Labels: area/kubernetes, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35755 Request reauthentication by default if OIDC state state query param is missing
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#35771 Adding the JUL URL to the Logging guide update
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.2?

#35757 Update liquibase from 4.20.0 to 4.23.1, liquibase-mongodb to 4.23.0
  bom/application/pom.xml
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/LiquibaseFactory.java
Labels: triage/waiting-for-ci, area/dependencies, area/liquibase, triage/backport?

#35764 Do not include revision and host-specific info in MANIFEST.MF
  .mvn/gradle-enterprise.xml
  independent-projects/parent/pom.xml
Labels: triage/waiting-for-ci

#35761 Build scan - Use the category for native tests instead of jdk version
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#35778 Fix generic handling of ParamConverter
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/GenericsParamConverterTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35718 Packs libraries alongside executable in function.zip
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/FunctionZipProcessor.java
Labels: area/core, area/amazon-lambda, triage/backport?

#35789 Improve OTel Sampler docs
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, area/tracing, triage/backport?

#35484 Adding technologies that use OTEL/Micrometer to their individual guides [WIP]
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/telemetry-micrometer.adoc
Labels: area/documentation, area/tracing, area/metrics

#35770 Adding additional information for the JDBCStore section of the Transaction guide
  docs/src/main/asciidoc/transaction.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.2?

#35759 Upgrade Smallrye OpenAPI to 3.5.2
  .github/dependabot.yml
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/infra-automation, triage/backport?, triage/backport-3.3?

#35784 Document the ability to automatically compress rotated log files
  core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java
Labels: area/core, area/logging, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35768 QuarkusComponentTest: refactorings and API changes
  docs/src/main/asciidoc/getting-started-testing.adoc
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/MockBeanConfigurator.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/MockBeanConfiguratorImpl.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTest.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestConfigSource.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestConfiguration.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtensionBuilder.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/TestConfigProperty.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/AnnotationsTransformerTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/ApplicationPropertiesConfigSourceTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/DependencyMockingTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/MockConfiguratorTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/MockNotSharedForClassHierarchyTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/MockSharedForClassHierarchyTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/ObserverInjectingMockTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/UnsetConfigurationPropertiesTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/ConfigPropertyDeclaredOnMethodOverridesClassTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/ConfigPropertyDeclaredOnMethodTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/lifecycle/PerClassLifecycleTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/lifecycle/PerMethodLifecycleTest.java
Labels: area/documentation, triage/waiting-for-ci, area/testing

#35742 Bump gizmo to 1.7.0 and leverage the ClassTransformer API in ArC
  bom/application/pom.xml
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/staticmethods/InterceptedStaticMethodsProcessor.java
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/dependencies

#35783 Upgrade to Mutiny 2.4.0 and Mutiny Vert.x bindings 3.6.0
  bom/application/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/smallrye, area/vertx, area/dependencies, area/mutiny

#35772 Wrap more options in `UnlockExperimentalVMOptions`
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#35781 Fix broken links in the RestEasy Reactive guide
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation

#35600 Qute: execute tag templates in isolation by default
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IncludeTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/UserTagTest.java
Labels: area/documentation, release/breaking-change, area/qute

#35804 HTTP fix response compression support
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/HttpCompressionHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpCompressionHandler.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35748 Invoke Quarkus JUnit `invokeBeforeClassCallbacks` only once per test class
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestCallbacksTestCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#35767 Added gzip compression feature for SmallRye-GraphQL, added tests
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/CompressionTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLCompressionHandler.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpBuildTimeConfig.java
Labels: area/smallrye, area/vertx, area/graphql

#35817 Improve Qute + Cache integration
  extensions/cache/deployment-spi/src/main/java/io/quarkus/cache/deployment/spi/CacheTypeBuildItem.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/CacheProcessor.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/cache/MissingCacheConfigurator.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/cache/UnsupportedRemoteCacheConfigurator.java
Labels: triage/waiting-for-ci, area/qute, area/cache, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35749 Simplify wiremock config in oidc
  build-parent/pom.xml
  independent-projects/tools/analytics-common/pom.xml
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/testing, area/platform, area/dependencies, area/devtools

#35822 Check that embedded property types are marked as @Embeddable
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/enhancer/HibernateEntityEnhancerMissingEmbeddableAnnotationTest.java
Labels: area/persistence, area/hibernate-orm, triage/backport?

#35818 Qute: add arguments metadata for user-defined tags
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/tag/UserTagArgumentsTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/tag/UserTagArgumentsValidationTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/UserTagTest.java
Labels: area/documentation, area/qute

#35766 Add tests for federation
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLFederationDisabledTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/GraphQLFederationDisabledTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/base/Foo.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/base/FooApi.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/base/GraphQLFederationBaseTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/base/uni/FooApiUni.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/base/uni/GraphQLFederationBaseUniTest.java
Labels: area/smallrye, area/graphql

#35780 TransformerFactory not "used" with GraalVM for JDK 21 (23.1)
  integration-tests/jpa-postgresql-withxml/src/test/java/io/quarkus/it/jpa/postgresql/JPAFunctionalityInGraalITCase.java
  integration-tests/jpa-postgresql/src/test/java/io/quarkus/it/jpa/postgresql/JPAFunctionalityInGraalITCase.java
Labels: area/persistence, area/hibernate-orm

#33790 Allow hibernate reactive to coexists with Agroal
  .github/native-tests.json
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  integration-tests/hibernate-reactive-mysql-agroal/pom.xml
  integration-tests/hibernate-reactive-mysql-agroal/src/main/java/io/quarkus/it/hibernate/reactive/mysql/GuineaPig.java
  integration-tests/hibernate-reactive-mysql-agroal/src/main/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLTestEndpoint.java
  integration-tests/hibernate-reactive-mysql-agroal/src/main/resources/application.properties
  integration-tests/hibernate-reactive-mysql-agroal/src/test/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLInGraalIT.java
  integration-tests/hibernate-reactive-mysql-agroal/src/test/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLTest.java
  integration-tests/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/infra-automation

#35558 Widen conditions under RESTEasy Reactive Server and RESTEasy Classic Client can work together
  bom/application/pom.xml
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-classic/rest-client/runtime/pom.xml
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/QuarkusProxyInvocationHandler.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
Labels: area/resteasy, area/dependencies, area/resteasy-reactive, triage/backport?

#35838 Make it more obvious in CONTRIBUTING.md that native-tests.json needs to be updated
  CONTRIBUTING.md
Labels: area/native-image

#35846 Fixes aggregation of configurations with two different executions ids
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, area/devtools, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35850 Updated @RequestParam#required handling
  extensions/spring-web/resteasy-reactive/deployment/src/main/java/io/quarkus/spring/web/deployment/SpringWebResteasyReactiveProcessor.java
  extensions/spring-web/resteasy-reactive/tests/src/test/java/io/quarkus/spring/web/test/RequiredFalseTest.java
Labels: release/breaking-change

#35840 Updates Infinispan to 14.0.17.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/backport?

#35851 Upgrade to vaadin 24.1.7
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#35844 Improve description of the duration format in configuration documentation
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DurationConverter.java
  docs/src/main/asciidoc/_includes/duration-format-note.adoc
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcClientConfiguration.java
Labels: area/documentation, area/core, area/config, area/grpc, triage/backport?, area/docstyle, triage/backport-3.2?, triage/backport-3.3?

#35776 Arc - Revisit BeanContainer API
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unused/UnusedExclusionTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/BeanContainer.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/BeanContainerImpl.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcContainer.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
Labels: area/arc, area/resteasy-reactive

#35862 Only remove OTLP trace services when otlp is not configured
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
Labels: area/tracing

#35710 Fix potential NPE in HTTP proxying
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedProxyHandler.java
Labels: area/vertx, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35870 Use default Vert.x client settings in OTel exporters
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpRecorder.java
Labels: triage/waiting-for-ci, area/tracing, triage/backport?, triage/backport-3.3?

#35852 ArcProcessor: split the generateResources() method
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcContainerBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ResourcesGeneratedPhaseBuildItem.java
Labels: area/arc, area/housekeeping

#35868 Remove unnecessary reactive routes dependency in JWT extension
  extensions/smallrye-jwt/deployment/pom.xml
  extensions/smallrye-jwt/runtime/pom.xml
Labels: area/smallrye, release/breaking-change

#35810 Polish ContextResolver beans
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/jackson/QuarkusObjectMapperContextResolver.java
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/jsonb/QuarkusJsonbContextResolver.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/runtime/src/main/java/io/quarkus/resteasy/reactive/jaxb/runtime/JAXBContextContextResolver.java
Labels: area/resteasy, area/resteasy-reactive

#35726 Improve matching of config properties to a root
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
Labels: area/core, area/config, triage/backport?, triage/backport-3.3?

#35736 Enable native heap dump monitoring by default
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core

#35607 Move plugin config to global parent and clean up other parents
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/pom.xml
  devtools/gradle/gradle-extension-plugin/pom.xml
  extensions/spring-web/resteasy-classic/tests/pom.xml
  extensions/spring-web/resteasy-reactive/tests/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/arc/tests/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/pom.xml
  integration-tests/test-extension/extension-that-defines-junit-test-extensions/pom.xml
  integration-tests/test-extension/extension/pom.xml
  integration-tests/virtual-threads/pom.xml
  pom.xml
  tcks/pom.xml
Labels: area/gradle, area/arc, area/spring, area/platform, area/dependencies, area/devtools

#35724 Pointed docs to the correct archive (3.2)
  docs/src/main/asciidoc/_attributes.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#35888 Restore missing parameters in OIDC Dev UI client cred and password SwaggerUI/GraphQL handlers
  extensions/oidc/deployment/src/main/resources/dev-ui/qwc-oidc-provider.js
Labels: area/oidc, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35847 Fix return types of substitutions
  core/runtime/src/main/java/io/quarkus/runtime/graal/AwtImageIO.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/graal/ClientHttpEngineBuilder43Replacement.java
Labels: area/core, area/resteasy, triage/waiting-for-ci, area/native-image

#35877 Introduce default config for init tasks
  docs/src/main/asciidoc/flyway.adoc
  docs/src/main/asciidoc/liquibase-mongodb.adoc
  docs/src/main/asciidoc/liquibase.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/InitTaskConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/InitTaskProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesInitTaskWithCustomWaitForImageTest.java
Labels: area/documentation, area/kubernetes

#35869 ArC: introduce Shutdown annotation
  core/runtime/src/main/java/io/quarkus/runtime/Shutdown.java
  core/runtime/src/main/java/io/quarkus/runtime/Startup.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ShutdownBuildSteps.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/StartupBuildSteps.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/shutdown/Messages.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/shutdown/ShutdownAnnotationInvalidMethodTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/shutdown/ShutdownAnnotationTest.java
Labels: area/core, area/arc, triage/waiting-for-ci

#35841 Qute: introduce InjectableFragment
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/CheckedTemplateFragmentTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/CheckedTemplateFragmentVariantTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
Labels: triage/waiting-for-ci, area/qute

#35898 3.4.0 backports 1
  .github/dependabot.yml
  .mvn/gradle-enterprise.xml
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DurationConverter.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/_includes/duration-format-note.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/FunctionZipProcessor.java
  extensions/cache/deployment-spi/src/main/java/io/quarkus/cache/deployment/spi/CacheTypeBuildItem.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcClientConfiguration.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/enhancer/HibernateEntityEnhancerMissingEmbeddableAnnotationTest.java
  extensions/kubernetes/openshift/deployment/src/test/java/io/quarkus/openshift/deployment/config/OpenshiftConfigFallbackTest.java
  extensions/kubernetes/vanilla/runtime/src/main/java/io/quarkus/kubernetes/runtime/config/KubernetesConfigFallback.java
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/LiquibaseFactory.java
  extensions/oidc/deployment/src/main/resources/dev-ui/qwc-oidc-provider.js
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpRecorder.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/CacheProcessor.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/cache/MissingCacheConfigurator.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/cache/UnsupportedRemoteCacheConfigurator.java
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/HttpCompressionHandler.java
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-classic/rest-client/runtime/pom.xml
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/QuarkusProxyInvocationHandler.java
  extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/GenericsParamConverterTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedProxyHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpCompressionHandler.java
  independent-projects/parent/pom.xml
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
Labels: area/documentation, area/persistence, area/core, area/config, area/maven, area/resteasy, area/logging, area/infra, area/vertx, area/amazon-lambda, area/hibernate-orm, area/oidc, area/kubernetes, area/dependencies, area/qute, area/devtools, area/cache, area/infra-automation, area/liquibase, area/grpc, area/tracing, area/resteasy-reactive, area/docstyle

#35873 Exclude new GraalVM dependencies that are part of GraalVM/Mandrel
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core

#35876 More hierarchical classes are not picked up as global interceptors
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcInterceptors.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/PriorityImplInterceptor.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/PriorityInterceptor.java
  integration-tests/grpc-interceptors/src/test/java/io/quarkus/grpc/example/interceptors/HelloWorldEndpointTestBase.java
Labels: area/grpc, triage/backport-3.2?

#35905 Qute: improve RESTEasy classic/reactive support
  extensions/resteasy-classic/resteasy-qute/runtime/src/main/java/io/quarkus/resteasy/qute/runtime/TemplateResponseFilter.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/runtime/src/main/java/io/quarkus/resteasy/reactive/qute/runtime/Util.java
Labels: area/resteasy, triage/waiting-for-ci, area/qute, area/resteasy-reactive

#35900 Fix RESTEasy CDI dependency issue
  extensions/resteasy-classic/rest-client/runtime/pom.xml
  extensions/resteasy-classic/resteasy-common/runtime/pom.xml
  extensions/resteasy-classic/resteasy-server-common/runtime/pom.xml
Labels: area/resteasy, triage/backport?

#35886 OTel Scope.close() warning improvement
  extensions/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryUtil.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/OpenTelemetryUtilTest.java
Labels: area/tracing, triage/backport?

#35895 Update liquibase to 4.23.2, liquibase-mongodb to 4.23.1
  bom/application/pom.xml
Labels: area/mongodb, area/dependencies, area/liquibase, triage/backport?

#35899 Add note about unsupported @Lock in Spring Data JPA
  docs/src/main/asciidoc/spring-data-jpa.adoc
Labels: area/documentation, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35883 Bring back the HTTP console commands
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/console/ConsoleProcessor.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport?

#35880 Add volume mounts for test container
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DockerContainerArtifactLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
Labels: area/core, triage/waiting-for-ci, area/testing

#35928 Skip docs and IT modules when deploying snapshots
  .github/workflows/deploy-snapshots.yml
Labels: area/infra-automation

#35694 Add test for integration of a custom IdGenerator Opentelemetry
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryIdGeneratorTest.java
Labels: area/tracing

#35797 OTel exporter doc removal
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, area/tracing, triage/backport?

#35926 Fix use of multiple @ClientXXX annotations in REST Client Reactive
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/MultipleProvidersFromAnnotationTest.java
Labels: area/resteasy-reactive, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#34956 Bump kubernetes-client-bom from 6.7.2 to 6.8.1
  bom/application/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddCronJobResourceDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddJobResourceDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddNodePortDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddStatefulSetResourceDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RemoveBuilderImageResourceDecorator.java
  pom.xml
Labels: area/kubernetes, area/dependencies

#35929 Do not store build cache for core extensions having config
  core/deployment/pom.xml
  core/runtime/pom.xml
  test-framework/jacoco/pom.xml
Labels: area/core, area/testing

#35923 Map OIDC scope attribute to the SecurityIdentity permissions
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantHybridResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantOpaqueResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/docstyle

#35930 Document usage of io.quarkus.runtime.Shutdown annotation
  docs/src/main/asciidoc/lifecycle.adoc
Labels: area/documentation, triage/waiting-for-ci

#35885 Applying the QE feedback for the Logging guide
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/needs-vale-rule-tweak, triage/backport?, area/docstyle, triage/backport-3.2?, triage/backport-3.3?

#35916 Qute: type pollution fixes
  independent-projects/qute/core/src/main/java/io/quarkus/qute/CompletionStageSupport.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/FieldAccessor.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/GetterAccessor.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LazyValue.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/MultiResultNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ResultNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SingleResultNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TextNode.java
Labels: release/breaking-change, area/qute

#35956 Fix return type of hibernate-search substitution
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/graal/Substitute_JandexBehavior.java
Labels: area/hibernate-search

#35902 Adopt --strict-image-heap that will land in GraalVM for JDK 21
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core, area/native-image

#35843 Additional review and application of QE feedback to the Datasource guide
  docs/src/main/asciidoc/datasource.adoc
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourceRuntimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourcesBuildTimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientsBuildTimeConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/CredentialConfig.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQBuildTimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
Labels: area/documentation, area/infinispan, area/resteasy, area/smallrye, area/vertx, triage/waiting-for-ci, area/reactive-messaging, area/mongodb, area/dependencies, area/resteasy-reactive, area/docstyle, triage/backport-3.2?

#35849 Doc link fixes & enhancements to Bearer token authentication tutorial
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
Labels: area/documentation, area/gradle, area/core, area/config, area/arc, area/resteasy, area/spring, area/platform, area/dependencies, area/devtools, area/resteasy-reactive, area/docstyle, triage/backport-3.2?

#35969 Update Keycloak version in OIDC dev services doc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation

#35807 Document the Mutiny Vert.x context-aware scheduler helpers
  docs/src/main/asciidoc/vertx-reference.adoc
Labels: area/documentation, triage/waiting-for-ci

#35973 Adapt API to handle Vert.x 4.4.5 deprecations
  extensions/amazon-lambda/event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockEventServer.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/BlockingExecutionHandler.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/BlockingServerInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/DevModeBlockingExecutionHandler.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/ConnectOptionsSupplier.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxHttpRequest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/ServletRequestContext.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/RequestLeakDetectionTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/devui/SchedulerJsonRPCService.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnAuthenticationMechanism.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/BlockingHelper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/LocalServerNameAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/RemoteSyncHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/VertxHttpHotReplacementSetup.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/VertxBlockingSecurityExecutor.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/VerticleDeployer.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/ConsumeEvent.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxEventBusConsumerRecorder.java
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/VirtualThreadsRecorder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/verticles/MdcVerticle.java
Labels: area/resteasy, area/smallrye, area/vertx, area/scheduler, area/amazon-lambda, area/grpc, area/graphql, area/resteasy-reactive

#35935 update image tag to pull ActiveMQ Artemis Server version 2.30.0
  docs/src/main/asciidoc/jms.adoc
Labels: area/documentation

#35970 Kafka Reference Guide - text fix
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#35976 Fix name of Mongo client extension in k8s doc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation

#35977 Recompute cached value when the Redis connection fails
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheImpl.java
  extensions/redis-cache/runtime/src/test/java/io/quarkus/cache/redis/runtime/RedisCacheImplTest.java
Labels: area/cache, area/redis, triage/backport?

#35968 Warn when wrong token proxy is accessed
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcJsonWebTokenProducer.java
Labels: area/oidc, triage/backport-2.16?, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#35949 Properly initialize reactive Pool beans
  extensions/reactive-datasource/deployment/src/main/java/io/quarkus/reactive/datasource/deployment/VertxPoolBuildItem.java
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/DB2PoolBuildItem.java
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/ReactiveDB2ClientProcessor.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/MSSQLPoolBuildItem.java
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/ReactiveMSSQLClientProcessor.java
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/MSSQLPoolRecorder.java
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/MySQLPoolBuildItem.java
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-oracle-client/deployment/src/main/java/io/quarkus/reactive/oracle/client/deployment/OraclePoolBuildItem.java
  extensions/reactive-oracle-client/deployment/src/main/java/io/quarkus/reactive/oracle/client/deployment/ReactiveOracleClientProcessor.java
  extensions/reactive-oracle-client/runtime/src/main/java/io/quarkus/reactive/oracle/client/runtime/OraclePoolRecorder.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/PgPoolBuildItem.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
Labels: area/persistence, area/vertx, release/breaking-change, area/reactive-sql-clients

#35910 Add logic to load yaml recipes based on the extension
  devtools/cli/src/test/java/io/quarkus/cli/MavenProjectInfoAndUpdateTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ProjectInfoCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ExtensionUpdateInfo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ProjectExtensionsUpdateInfo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ProjectUpdateInfos.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdates.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/DropDependencyVersionOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpdateDependencyVersionOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpdateJavaVersionOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpdatePropertyOperation.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/operations/UpgradeGradlePluginOperation.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepositoryTest.java
  independent-projects/tools/devtools-common/src/test/resources/dir/quarkus-update/core/3.0.yaml
  independent-projects/tools/devtools-common/src/test/resources/dir/quarkus-update/core/3.1.yaml
  independent-projects/tools/devtools-common/src/test/resources/dir/quarkus-update/org.apache.camel.quarkus/camel-quarkus-core/3.0.yaml
Labels: area/platform, area/devtools, area/cli, triage/backport-3.2?, triage/backport-3.3?

#35990 Don't ignore empty SSE events in client
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/sse/SseParserTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
Labels: area/resteasy-reactive, triage/backport?, triage/backport-3.2?

#35981 Fix link to AWS Lambda SnapStart in documentation
  docs/src/main/asciidoc/aws-lambda-http.adoc
  docs/src/main/asciidoc/aws-lambda.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#35777 Add a note about HR not being a replacement for ORM
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#35732 Rework how to enable/activate Flyway
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayAlwaysEnabledProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayCallbacksLocator.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayEnabled.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/devui/FlywayDevUIProcessor.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionBaselineOnMigrateNamedDataSourcesInactiveTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionDisabledTest.java
  extensions/flyway/deployment/src/test/resources/baseline-on-migrate-named-datasources-inactive.properties
  extensions/flyway/deployment/src/test/resources/disabled-config.properties
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayBuildTimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRecorder.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRuntimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/UnconfiguredDataSourceFlywayContainer.java
Labels: area/flyway, triage/backport?

#35979 Add @ConfigDocEnumValue & @ConfigDocDefault to writing-extensions guide
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#35795 Adapt documentation to new GraalVM version scheme and doc links
  docs/pom.xml
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/native-reference.adoc
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation, area/docstyle

#35733 Bump OTel to 1.29.0
  bom/application/pom.xml
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GrpcOpenTelemetryTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/graal/Substitutions.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcTracingServerInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/restclient/OpenTelemetryClientFilter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/HttpInstrumenterVertxTracer.java
  integration-tests/opentelemetry-grpc/src/test/java/io/quarkus/it/opentelemetry/grpc/OpenTelemetryGrpcTest.java
Labels: triage/waiting-for-ci, area/dependencies, area/tracing

#35690 Upgrade to Hibernate ORM 6.2.9.Final and HR 2.0.5.Final
  bom/application/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#36019 Update SECURITY.md
  SECURITY.md
Labels: area/security

#36016 Correction of typo into mutiny-primer.adoc
  docs/src/main/asciidoc/mutiny-primer.adoc
Labels: area/documentation

#35974 Dev UI: Move dependencies from bom to build-parent
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/vertx-http/dev-ui-resources/pom.xml
Labels: area/vertx, area/dependencies

#36008 Add gRPC client test port as well
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcClientConfiguration.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
Labels: area/grpc

#36012 Document that Hibernate Reactive can now work with Agroal/Flyway and test HR + Flyway
  .github/native-tests.json
  docs/src/main/asciidoc/hibernate-reactive.adoc
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/pom.xml
  integration-tests/hibernate-reactive-mysql-agroal-flyway/pom.xml
  integration-tests/hibernate-reactive-mysql-agroal-flyway/src/main/java/io/quarkus/it/hibernate/reactive/mysql/GuineaPig.java
  integration-tests/hibernate-reactive-mysql-agroal-flyway/src/main/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLTestEndpoint.java
  integration-tests/hibernate-reactive-mysql-agroal-flyway/src/main/resources/application.properties
  integration-tests/hibernate-reactive-mysql-agroal-flyway/src/main/resources/db/migration/V1.0.0__init.sql
  integration-tests/hibernate-reactive-mysql-agroal-flyway/src/test/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLInGraalIT.java
  integration-tests/hibernate-reactive-mysql-agroal-flyway/src/test/java/io/quarkus/it/hibernate/reactive/mysql/HibernateReactiveMySQLTest.java
  integration-tests/pom.xml
Labels: area/documentation, area/infra-automation

#35887 Document bug in Reactive Extensions of the Oracle JDBC driver
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, area/docstyle

#35610 Change decompiler from quiltflower to vineflower
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  docs/.vale/fixtures/Quarkus/Headings/testvalid.adoc
  docs/.vale/fixtures/Quarkus/Spelling/testvalid.adoc
  docs/.vale/styles/Quarkus/Headings.yml
  docs/.vale/styles/Quarkus/Spelling.yml
  docs/src/main/asciidoc/writing-extensions.adoc
  integration-tests/hibernate-orm-panache/src/main/resources/application.properties
  integration-tests/resteasy-reactive-kotlin/standard/src/main/resources/application.properties
Labels: area/documentation, area/panache, area/core, release/breaking-change

#35571 Fix "my second guide" title, and cross-link
  docs/src/main/asciidoc/getting-started-dev-services.adoc
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation, triage/waiting-for-ci

#35982 Add quarkus.rest-client.multipart.max-chunk-size property
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientMultipartConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/java/io/quarkus/restclient/config/RestClientConfigTest.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/resources/application.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultiByteFileTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/Constants.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/api/QuarkusRestClientProperties.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/HandlerChain.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/PausableHttpPostRequestEncoder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusHttpPostBodyUtil.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormUpload.java
  independent-projects/resteasy-reactive/client/runtime/src/test/java/org/jboss/resteasy/reactive/client/impl/HandlerChainTest.java
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartChunksClient.java
  integration-tests/rest-client-reactive-multipart/src/main/java/io/quarkus/it/rest/client/multipart/MultipartResource.java
  integration-tests/rest-client-reactive-multipart/src/main/resources/application.properties
  integration-tests/rest-client-reactive-multipart/src/test/java/io/quarkus/it/rest/client/multipart/MultipartResourceTest.java
Labels: area/resteasy, area/resteasy-reactive

#36025 Don't use RuntimeDelegate in ResponseHandler
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResponseHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/ResponseBuilderImpl.java
Labels: triage/waiting-for-ci, triage/backport?, triage/backport-3.2?

#34562 Fix duration converter with multiple units
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DurationConverter.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/DurationConverterTestCase.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/backport?, triage/backport-3.2?, triage/backport-3.3?

#36039 Fix gRPC interceptors lookup in Micrometer binders
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/GrpcBinderProcessor.java
Labels: area/metrics

#36029 Enable local build cache if GRADLE_LOCAL_BUILD_CACHE is defined
  .mvn/gradle-enterprise.xml
Labels: area/gradle, area/cache

#36035 Fix Dev UI Info where Full Git details
  extensions/info/deployment/src/main/resources/dev-ui/qwc-info.js
Labels: triage/waiting-for-ci, area/dev-ui, triage/backport?

#34465 Revert "Work around https://hibernate.atlassian.net/browse/HHH-16832"
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/AbstractTypedIdEntity.java
Labels: triage/waiting-for-ci, area/spring

#35992 Integrate @ShouldPin/@ShouldNotPin into QuarkusTests
  bom/application/pom.xml
  docs/src/main/asciidoc/virtual-threads.adoc
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/ShouldNotPin.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/ShouldPin.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/ThreadPinnedEvents.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/VirtualThreadUnit.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/internal/Collector.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/internal/EventStreamFacade.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/internal/InternalEvents.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/internal/VirtualThreadExtension.java
  pom.xml
Labels: area/documentation, area/testing, area/dependencies

#36032 Rename field in GeneratedResourceBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedResourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/jbang/JBangAugmentorImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
Labels: area/core, area/jbang

#36060 Make OIDC Google example more complete
  docs/src/main/asciidoc/images/oidc-google-authorized-redirects.png
  docs/src/main/asciidoc/images/oidc-google-test-users.png
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
Labels: area/documentation, triage/waiting-for-ci

#36036 Improvement in the propagation test setup
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryTextMapPropagatorCustomizerTest.java
  extensions/opentelemetry/deployment/src/test/resources/resource-config/application.properties
Labels: triage/waiting-for-ci, area/tracing

#36062 Don't register subresource for reflection based on their use as a return type
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#36069 Remove update guide from docs yml
  docs/downstreamdoc.yaml
Labels: area/documentation

#36034 Upgrade vaadin to 24.1.9
  build-parent/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#36010 Rewrite the Vert.x MDC tests to be more robust
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/InMemoryLogHandler.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/InMemoryLogHandlerProducer.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/VerticleDeployer.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/VertxMDCDevModeTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/VertxMDCTest.java
Labels: area/vertx

#36087 Fix build failure when using generic embeddable types
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/enhancer/HibernateEntityEnhancerPresentEmbeddableTest.java
Labels: area/persistence, area/hibernate-orm, triage/backport?

#36056 Declare Java 21 as a LTS version
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/JavaVersion.java
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/flaky-test

#36063 Fix version after which org.graalvm.nativeimage needs to be exported
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/JPMSExportBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core, triage/backport?

#36064 Bump OTel to 1.30.1
  bom/application/pom.xml
  bom/test/pom.xml
  integration-tests/opentelemetry-spi/pom.xml
Labels: area/dependencies, area/tracing
