Repository quarkusio/quarkus, pull requests merged in 2023-11, with the labels that each got.

#36706 Kafka Streams Dev UI migration to v2
  build-parent/pom.xml
  extensions/kafka-streams/deployment/pom.xml
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/devui/KafkaStreamsDevUIProcessor.java
  extensions/kafka-streams/deployment/src/main/resources/dev-ui/qwc-kafka-streams-topology.js
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/devui/KafkaStreamsJsonRPCService.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/devui/TopologyParserContext.java
  extensions/kafka-streams/runtime/src/test/java/io/quarkus/kafka/streams/runtime/devui/KafkaStreamsJsonRPCServiceTest.java
Labels: triage/waiting-for-ci, area/kafka-streams, area/dependencies

#36824 Fix codestarts snapshots
  integration-tests/devtools/src/test/resources/__snapshots__/AmazonLambdaCodestartTest/testContent/src_test_java_ilove_quark_us_lambda_LambdaHandlerTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyAmazonLambdaCodestartTest/testContent/src_test_java_ilove_quark_us_funqy_FunqyIT.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyAmazonLambdaCodestartTest/testContent/src_test_java_ilove_quark_us_funqy_FunqyTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyGoogleCloudFunctionsCodestartTest/testContent/src_test_java_ilove_quark_us_funqygooglecloudfunctions_GreetingFunctionsCloudEventsTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyGoogleCloudFunctionsCodestartTest/testContent/src_test_java_ilove_quark_us_funqygooglecloudfunctions_GreetingFunctionsPubSubTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyGoogleCloudFunctionsCodestartTest/testContent/src_test_java_ilove_quark_us_funqygooglecloudfunctions_GreetingFunctionsStorageTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyHttpCodestartTest/testContent/src_test_java_ilove_quark_us_MyFunctionsTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyKnativeEventsCodestartTest/testContent/src_test_java_ilove_quark_us_funqy_cloudevent_FunqyIT.java
  integration-tests/devtools/src/test/resources/__snapshots__/FunqyKnativeEventsCodestartTest/testContent/src_test_java_ilove_quark_us_funqy_cloudevent_FunqyTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/GoogleCloudFunctionsCodestartTest/testContent/src_test_java_ilove_quark_us_googlecloudfunctions_HelloWorldBackgroundFunctionTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/GoogleCloudFunctionsCodestartTest/testContent/src_test_java_ilove_quark_us_googlecloudfunctions_HelloWorldCloudEventsFunctionTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/GoogleCloudFunctionsCodestartTest/testContent/src_test_java_ilove_quark_us_googlecloudfunctions_HelloWorldHttpFunctionTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/GrpcCodestartTest/testContent/src_test_java_ilove_quark_us_HelloGrpcServiceTest.java
Labels: area/codestarts

#36803 Gradle plugin: use full URI for configuration source locations
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
Labels: area/gradle, area/devtools

#36815 3.2.8 backports 3
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/reactive-pg-client/deployment/src/test/java/io/quarkus/reactive/pg/client/MoneyTest.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxUtil.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/EmptyHostTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/http2/Http2RSTFloodProtectionConfigTest.java
  extensions/vertx-http/deployment/src/test/resources/conf/ssl-jks-rst-flood-protection.conf
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedServerRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/AbstractResponseWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerOptionsUtils.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/documentation, area/resteasy, area/vertx, area/oidc, area/dependencies, area/reactive-sql-clients

#36538 OTel flush timeout
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryDestroyerTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/OpenTelemetryDestroyer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/OTelRuntimeConfig.java
Labels: area/tracing, triage/backport?

#36718 Add a description to the Stork extension metadata
  extensions/smallrye-stork/runtime/pom.xml
  extensions/smallrye-stork/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/smallrye, area/stork

#36599 TransactionalUniAsserter never fails with Hibernate Reactive
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/SessionOperations.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/TransactionalUniAsserterTest.java
  test-framework/hibernate-reactive-panache/src/main/java/io/quarkus/test/hibernate/reactive/panache/TransactionalUniAsserter.java
  test-framework/hibernate-reactive-panache/src/main/java/io/quarkus/test/hibernate/reactive/panache/TransactionalUniAsserterTestMethodInvoker.java
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/DefaultUniAsserter.java
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/RunOnVertxContextTestMethodInvoker.java
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/UniAsserterInterceptor.java
  test-framework/vertx/src/main/java/io/quarkus/test/vertx/UnwrappableUniAsserter.java
Labels: area/panache, triage/waiting-for-ci, area/testing, triage/backport?

#36835 Duplicate Authorization Bearer Header Fix
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenRequestReactiveFilter.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/runtime/AbstractTokenRequestFilter.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport-2.16?, triage/backport-3.2?, triage/backport?

#36771 Remove unsupported Jakarta Persistence Security extension guides from downstream YAML file
  docs/downstreamdoc.yaml
Labels: area/documentation

#36833 More reliable test setup in integration-tests/hibernate-orm-tenancy/datasource
  integration-tests/hibernate-orm-tenancy/datasource/README.md
  integration-tests/hibernate-orm-tenancy/datasource/custom-mariadbconfig/init.sql
  integration-tests/hibernate-orm-tenancy/datasource/pom.xml
  integration-tests/hibernate-orm-tenancy/datasource/src/main/resources/application.properties
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm

#36799 Skip non-existing directory when watching for changes
  core/deployment/src/main/java/io/quarkus/deployment/util/FSWatchUtil.java
Labels: area/core

#36834 3.2.8 backports 4
  bom/application/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/Deployer.java
  devtools/maven/src/test/java/io/quarkus/maven/DeployerTest.java
  docs/src/main/asciidoc/smallrye-graphql.adoc
  docs/src/main/asciidoc/transaction.adoc
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/SubstituteEnvironmentValueProvider.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/HttpContentCompressorSubstitutions.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenRequestReactiveFilter.java
  extensions/oidc-token-propagation/deployment/src/test/java/io/quarkus/oidc/token/propagation/CustomAccessTokenRequestFilter.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessTokenRequestFilter.java
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/UserAgentTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/HeaderFillerUtil.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/QuarkusAsyncHealthCheckFactory.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DecoratorGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/SimpleDecoratorTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveInterceptorScanner.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/MediaTypeHeaderDelegate.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceInterceptor.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/headers/MediaTypeHeaderDelegateTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeInterceptorDeployment.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxInputStream.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/response/CustomHeadersAndWriterInterceptorTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ProjectInfoCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ProjectUpdateInfos.java
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/AccessTokenPropagationService.java
  integration-tests/oidc-token-propagation/src/main/java/io/quarkus/it/keycloak/CustomAccessTokenRequestFilter.java
  integration-tests/oidc-token-propagation/src/main/resources/application.properties
  test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java
Labels: area/documentation, area/persistence, area/arc, area/maven, area/resteasy, area/smallrye, area/testing, area/oidc, area/platform, area/dependencies, area/devtools, area/liquibase, area/graphql, area/health, area/resteasy-reactive

#36800 Quarkus code-gen (Gradle): Fix behavior to filter unavailable services
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/worker/CodeGenWorker.java
  integration-tests/gradle/src/main/resources/custom-config-sources/build.gradle
  integration-tests/gradle/src/main/resources/custom-config-sources/gradle.properties
  integration-tests/gradle/src/main/resources/custom-config-sources/settings.gradle
  integration-tests/gradle/src/main/resources/custom-config-sources/src/main/java/org/acme/InMemoryConfigSource.java
  integration-tests/gradle/src/main/resources/custom-config-sources/src/main/java/org/acme/MyConfigSourceFactory.java
  integration-tests/gradle/src/main/resources/custom-config-sources/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceFactory
  integration-tests/gradle/src/main/resources/custom-config-sources/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  integration-tests/gradle/src/main/resources/custom-config-sources/src/main/resources/application.properties
  integration-tests/gradle/src/test/java/io/quarkus/gradle/CustomConfigSourcesTest.java
Labels: area/gradle, area/core, area/devtools, triage/backport?

#36861 3.2.8 backports 5
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/logging.adoc
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenRequestReactiveFilter.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/runtime/AbstractTokenRequestFilter.java
  integration-tests/hibernate-orm-tenancy/datasource/README.md
  integration-tests/hibernate-orm-tenancy/datasource/custom-mariadbconfig/init.sql
  integration-tests/hibernate-orm-tenancy/datasource/pom.xml
  integration-tests/hibernate-orm-tenancy/datasource/src/main/resources/application.properties
Labels: area/documentation, area/persistence, area/hibernate-orm, area/oidc, area/docstyle

#36869 Produce a 503 response when there no more worker threads to handle blocking requests
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
Labels: area/vertx, kind/bugfix, triage/backport-3.2?

#36818 Add SPA Form Based Authentication instructions
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
Labels: area/documentation, area/docstyle

#36830 Reformat source code block title
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#36816 Fixing Db2 Driver typo
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, area/docstyle

#36817 ModuleBuildDurationReport: Fix help message for sort
  .github/ModuleBuildDurationReport.java
Labels: area/infra-automation

#36752 If the node name is longer than 28 bytes, shorten it with SHA-224
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerConfiguration.java
Labels: area/narayana

#36841 TransactionalUniAsserterTest: test that injected argument is used
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/TransactionalUniAsserterTest.java
  test-framework/vertx/src/test/java/io/quarkus/test/vertx/UniAsserterTest.java
Labels: area/testing, triage/backport?

#36520 Dev mode: fix HotDeploymentWatchedFileBuildItem predicate
  core/deployment/src/main/java/io/quarkus/deployment/builditem/HotDeploymentWatchedFileBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  integration-tests/devmode/src/test/java/io/quarkus/test/qute/HelloResource.java
  integration-tests/devmode/src/test/java/io/quarkus/test/qute/QuteWatchedResourceTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/reload/AdditionalWatchedResourcesDevModeTest.java
Labels: area/core, area/devmode, triage/waiting-for-ci, area/qute

#36885 Handle generic types for ParamConverter in REST Client
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/converter/GenericsConverterTest.java
Labels: triage/backport-3.2?, triage/backport?

#36889 Build cache - Also exclude .cache for Spotless
  independent-projects/parent/pom.xml
Labels: area/cache

#36887 Qute: fix validation of array index-based expressions
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/CheckedTemplateArrayParamTest.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#36425 Check whether a conditional dependency has already been activated before scheduling it for processing
  core/deployment/src/test/java/io/quarkus/deployment/conditionaldeps/ConditionalDependencyDependingOnItsDependentTest.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
Labels: area/core, area/devtools

#36888 Fix dev-ui double contruction of Web Components
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/router-controller.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/MvnpmHandler.java
Labels: area/vertx, triage/waiting-for-ci

#36840 [2.13] CI stabilizing adjustments
  .github/ci-prerequisites.sh
  .github/native-tests.json
  .github/workflows/ci-actions-incremental.yml
Labels: area/vertx, area/infra-automation

#36894 Remove more Docker images and other stuff before starting CI
  .github/ci-prerequisites.sh
Labels: area/infra-automation

#36883 Keycloak DevService: Improve error messages and documentation
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/DevUiConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, triage/backport-2.16?, triage/backport-3.2?, triage/backport?

#36901 Fix formatting in the datasource docs
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.2?, triage/backport?

#36873 Register server exception mapper method of the Rest-Interface implementation class
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/ImplClassExceptionMapperTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#36906 [Docs] security-oidc-auth0-tutorial.adoc improvements
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
Labels: area/documentation, triage/backport?

#36895 Docs: fix formatting of code snippet in the Micrometer tutorial
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/doc/micrometer/ExampleResource.java
Labels: area/metrics

#36912 Avoid @TempDir in RestClientCDIDelegateBuilderTest
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
Labels: area/resteasy-reactive

#36916 Tiny grammar tweaks for the Authorization of web endpoints guide
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle, triage/backport-3.2?, triage/backport?

#36914 Reset databases/users for each Hibernate ORM tenancy test module
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/custom-mariadbconfig/init.sql
  integration-tests/hibernate-orm-tenancy/connection-resolver/custom-mariadbconfig/init.sql
  integration-tests/hibernate-orm-tenancy/datasource/custom-mariadbconfig/init.sql
Labels: area/persistence, area/hibernate-orm

#36788 Fix dead link in infinispan-client-reference.adoc
  docs/src/main/asciidoc/infinispan-client-reference.adoc
Labels: area/documentation

#36787 Fix dead link in reactive-sql-clients.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
Labels: area/documentation

#36915 Rename OidcClientRequestFilter filter to OidcRequestFilter
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcClientRequestFilter.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcRequestContextProperties.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcRequestFilter.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/OidcRequestCustomizer.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcRequestCustomizer.java
Labels: area/documentation, area/oidc, area/docstyle

#36920 Fix OIDC scope to permission mapping when scope is empty
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc, triage/backport?

#36926 Make Dependabot group micro updates
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#36924 Add keywords and topics for hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
Labels: area/documentation, triage/waiting-for-ci

#36925 3.5.1 backports 3
  bom/application/pom.xml
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/DevUiConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/doc/micrometer/ExampleResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/documentation, area/infra, area/oidc, area/dependencies, area/docstyle

#36923 [3.2] 3.2.8 backports 7
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
Labels: area/documentation, area/vertx, area/docstyle

#36939 Redis vector fields and arguments
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/RedisCommandExtraArguments.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/SortArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/autosuggest/GetArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/bitmap/BitFieldArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/bloom/BfInsertArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/bloom/BfReserveArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/cuckoo/CfInsertArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/cuckoo/CfReserveArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoAddArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoRadiusArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoRadiusStoreArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchStoreArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/json/JsonSetArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/keys/CopyArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/keys/ExpireArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/list/LPosArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/AggregateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/CreateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/DistanceMetric.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/FieldOptions.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/HighlightArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/IndexedField.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/QueryArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/SpellCheckArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/SummarizeArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/VectorAlgorithm.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/VectorType.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/sortedset/ZAddArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/sortedset/ZAggregateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/sortedset/ZMpopArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/sortedset/ZRangeArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/StreamRange.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XAddArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XClaimArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XGroupCreateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XGroupSetIdArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XPendingArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XReadArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XReadGroupArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XTrimArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/string/GetExArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/string/SetArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/AddArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/AlterArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/CreateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/IncrementArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/MGetArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/MRangeArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/timeseries/RangeArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/value/GetExArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/value/SetArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/Validation.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SearchCommandsTest.java
Labels: area/redis

#36927 Fix grammar error in OIDC and Bootstrap JavaDocs
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/oidc, area/devtools, triage/backport-3.2?, triage/backport?

#36473 Enable publication of build scans for PRs coming from forks
  .github/develocity-preapproved-developers.json
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/develocity-publish-build-scans.yml
Labels: area/infra-automation

#36942 Option TraceServiceLoaderFeature removed in GraalVM 23.1
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#36789 OpenTracing to OpenTelemetry Tutorial
  docs/src/main/asciidoc/images/ot-to-otel-1.png
  docs/src/main/asciidoc/images/ot-to-otel-2.png
  docs/src/main/asciidoc/images/ot-to-otel-3.png
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/opentracing.adoc
  docs/src/main/asciidoc/telemetry-opentracing-to-otel-tutorial.adoc
Labels: area/documentation, area/tracing

#36944 Bump wildfly-common version to 1.7.0.Final
  bom/application/pom.xml
Labels: area/dependencies

#36968 Send host.name in all spans
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryResourceTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/AutoConfiguredOpenTelemetrySdkBuilderCustomizer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtil.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtilTest.java
Labels: area/tracing

#36871 Adds Pattern support to Kafka Streams Topology Dev UI
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/devui/KafkaStreamsJsonRPCService.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/devui/TopologyParserContext.java
  extensions/kafka-streams/runtime/src/test/java/io/quarkus/kafka/streams/runtime/devui/KafkaStreamsJsonRPCServiceTest.java
Labels: area/kafka-streams

#36965 Dev UI Fix Reactive messaging screen
  extensions/smallrye-reactive-messaging/deployment/src/main/resources/dev-ui/qwc-smallrye-reactive-messaging-channels.js
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devui/DevReactiveMessagingInfos.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devui/ReactiveMessagingJsonRpcService.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIReactiveMessagingJsonRPCTest.java
Labels: area/smallrye, triage/waiting-for-ci, area/reactive-messaging

#36985 Generate a file with relations between guides
  docs/src/main/asciidoc/amqp-dev-services.adoc
  docs/src/main/asciidoc/apicurio-registry-dev-services.adoc
  docs/src/main/asciidoc/appcds.adoc
  docs/src/main/asciidoc/build-analytics.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/capabilities.adoc
  docs/src/main/asciidoc/class-loading-reference.adoc
  docs/src/main/asciidoc/command-mode-reference.adoc
  docs/src/main/asciidoc/conditional-extension-dependencies.adoc
  docs/src/main/asciidoc/config-extending-support.adoc
  docs/src/main/asciidoc/config-mappings.adoc
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/config.adoc
  docs/src/main/asciidoc/context-propagation.adoc
  docs/src/main/asciidoc/continuous-testing.adoc
  docs/src/main/asciidoc/databases-dev-services.adoc
  docs/src/main/asciidoc/dev-mode-differences.adoc
  docs/src/main/asciidoc/dev-services.adoc
  docs/src/main/asciidoc/dev-ui.adoc
  docs/src/main/asciidoc/elasticsearch-dev-services.adoc
  docs/src/main/asciidoc/extension-codestart.adoc
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/getting-started-dev-services.adoc
  docs/src/main/asciidoc/infinispan-dev-services.adoc
  docs/src/main/asciidoc/kafka-dev-services.adoc
  docs/src/main/asciidoc/kafka-dev-ui.adoc
  docs/src/main/asciidoc/kubernetes-dev-services.adoc
  docs/src/main/asciidoc/lifecycle.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/pulsar-dev-services.adoc
  docs/src/main/asciidoc/rabbitmq-dev-services.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/rabbitmq.adoc
  docs/src/main/asciidoc/redis-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/virtual-threads.adoc
  docs/src/main/java/io/quarkus/docs/generation/YamlMetadataGenerator.java
  docs/sync-web-site.sh
Labels: area/documentation

#36874 Move HTTP Permissions and Roles policies from build-time to runtime
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/ManagementInterfaceSecurityProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/PolicyConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementInterfaceConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementInterfaceSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementRuntimeAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/ManagementPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatchingHttpSecurityPolicy.java
Labels: release/noteworthy-feature, area/documentation, area/vertx, area/docstyle

#37001 Revert "Unblock SmallRye Health exposed routes"
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthGroupHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandlerBase.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeIndividualHealthGroupHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeLivenessHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeReadinessHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeStartupHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeWellnessHandler.java
Labels: area/smallrye, area/health, triage/backport?

#37003 Small adjustments for documentation related content
  docs/src/main/java/io/quarkus/docs/generation/YamlMetadataGenerator.java
Labels: area/documentation

#36999 Build cache - Upload quarkus-ide-launcher-999-SNAPSHOT.jar
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#36995 Improve response filter documentation
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-3.2?, triage/backport?

#37010 Fix vale errors and some warnings in the OIDC Configuration Properties reference guide
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildTimeConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
Labels: area/oidc, triage/backport-3.2?, triage/backport?

#37020 Fix vale errors and warnings in the OpenID Connect (OIDC) and OAuth2 Client and Filters Reference Guide
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.2?, triage/backport?

#36989 Adds download topology as PNG file
  extensions/kafka-streams/deployment/src/main/resources/dev-ui/qwc-kafka-streams-topology.js
Labels: area/kafka-streams

#37025 Document how to log authentication failures for RESTEasy Reactive users migrating from the RESTEasy Classic
  docs/src/main/asciidoc/resteasy-reactive-migration.adoc
  docs/src/main/asciidoc/security-proactive-authentication.adoc
Labels: area/documentation, area/docstyle

#37028 Fix typos in reactive-sql-clients.adoc
  docs/src/main/asciidoc/reactive-sql-clients.adoc
Labels: area/documentation

#36991 Upgrade es-module-shims to 1.8.1
  build-parent/pom.xml
Labels: area/dependencies, triage/backport?

#37017 Allow to create named HTTP Security policies referenced in the application.properties path matching rules as CDI beans
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityPolicyBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/CustomNamedHttpSecPolicy.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/CustomNamedHttpSecPolicyTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/ManagementPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatchingHttpSecurityPolicy.java
Labels: release/noteworthy-feature, area/documentation, area/vertx, area/docstyle

#36930 Ability to generate gRPC descriptor set
  docs/src/main/asciidoc/grpc-generation-reference.adoc
  extensions/grpc/codegen/src/main/java/io/quarkus/grpc/deployment/GrpcCodeGen.java
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output-dir/build.gradle
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output-dir/gradle.properties
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output-dir/settings.gradle
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output-dir/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output-dir/src/main/proto/hello.proto
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output-dir/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output/build.gradle
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output/gradle.properties
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output/settings.gradle
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output/src/main/proto/hello.proto
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/grpc-descriptor-set/build.gradle
  integration-tests/gradle/src/main/resources/grpc-descriptor-set/gradle.properties
  integration-tests/gradle/src/main/resources/grpc-descriptor-set/settings.gradle
  integration-tests/gradle/src/main/resources/grpc-descriptor-set/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/main/resources/grpc-descriptor-set/src/main/proto/hello.proto
  integration-tests/gradle/src/main/resources/grpc-descriptor-set/src/main/resources/application.properties
  integration-tests/gradle/src/test/java/io/quarkus/gradle/GrpcDescriptorSetAlternateOutputBuildTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/GrpcDescriptorSetAlternateOutputDirBuildTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/GrpcDescriptorSetBuildTest.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output-dir/pom.xml
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output-dir/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldEndpoint.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output-dir/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldService.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output-dir/src/main/proto/helloworld.proto
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output-dir/src/main/resources/application.properties
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output-dir/src/test/java/io/quarkus/grpc/examples/hello/DescriptorSetExistsTest.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output/pom.xml
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldEndpoint.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldService.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output/src/main/proto/helloworld.proto
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output/src/main/resources/application.properties
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set-alternate-output/src/test/java/io/quarkus/grpc/examples/hello/DescriptorSetExistsTest.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set/pom.xml
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldEndpoint.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set/src/main/java/io/quarkus/grpc/examples/hello/HelloWorldService.java
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set/src/main/proto/helloworld.proto
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set/src/main/resources/application.properties
  integration-tests/grpc-descriptor-sets/grpc-descriptor-set/src/test/java/io/quarkus/grpc/examples/hello/DescriptorSetExistsTest.java
  integration-tests/grpc-descriptor-sets/pom.xml
  integration-tests/pom.xml
Labels: area/documentation, area/gradle, area/core, area/maven, area/devtools, area/grpc

#37006 Never register server specific providers in REST Client (fixed)
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
Labels: area/resteasy-reactive, triage/backport-3.2?, triage/backport?

#37022 Make basic realm and form authentication configuration properties only used during runtime the runtime properties
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/BasicAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/vertx

#37030 Fix HttpSecurityProcessor compilation by importing Singleton
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
Labels: area/vertx

#36950 Remove jakarta.ejb-api from narayana-jta extension
  extensions/narayana-jta/runtime/pom.xml
Labels: area/narayana

#36953 Workaround https://github.com/quarkusio/quarkus/issues/36952 alias https://github.com/jboss/jboss-parent-pom/issues/236 jboss-parent:40 still manages jdk-misc, but does not define version.jdk-misc anymore
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#36981 Updates to Infinispan 14.0.20.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies

#37031 Update artifact ids for dependencies in Blaze-Persistence documentation for Quarkus 3 integration
  docs/src/main/asciidoc/blaze-persistence.adoc
Labels: area/documentation, triage/backport-3.2?, triage/backport?

#37038 Disable CustomManifestArgumentsTest on Windows
  integration-tests/gradle/src/test/java/io/quarkus/gradle/CustomManifestArgumentsTest.java
Labels: area/gradle

#37019 Address CVE-2023-21971 present in MySQL connector
  bom/application/pom.xml
  extensions/jdbc/jdbc-mysql/runtime/src/main/java/io/quarkus/jdbc/mysql/runtime/graal/com/mysql/cj/jdbc/MySQLJDBCSubstitutions.java
Labels: area/persistence, triage/waiting-for-ci, area/dependencies, triage/flaky-test, triage/backport-3.2?, triage/backport?

#36941 Fix OTel Resource Attributes
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/InvalidAttributesConfigTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
Labels: area/tracing, triage/backport?

#36917 Update SmallRye Config to 3.4.4
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, triage/backport?

#37036 Use empty string in Sse event when there is no data
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/sse/SseParserTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
Labels: area/resteasy-reactive

#37021 Gradle: set all discovered quarkus.* properties as system properties in QuarkusWorker
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusTask.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/settings.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/integrationTest/java/org/acme/ExampleResourceIT.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/src/main/java/org/acme/example/extension/deployment/ExampleConfig.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/src/main/java/org/acme/example/extension/deployment/ExampleProcessor.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleBuildOptions.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleRecorder.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleRuntimeConfig.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/resources/META-INF/quarkus-extension.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/settings.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/settings.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/SystemPropsAsBuildTimeConfigSourceTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/nativeimage/BasicJavaNativeBuildIT.java
Labels: area/gradle, area/devtools, triage/backport-3.2?, triage/backport?

#36312 Bump kubernetes-client-bom from 6.8.1 to 6.9.2
  .github/workflows/ci-actions-incremental.yml
  bom/application/pom.xml
  integration-tests/kubernetes-client-hack-extension/deployment/pom.xml
  integration-tests/kubernetes-client-hack-extension/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/NativeOverrides.java
  integration-tests/kubernetes-client-hack-extension/pom.xml
  integration-tests/kubernetes-client-hack-extension/runtime/pom.xml
  integration-tests/kubernetes-client-hack-extension/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/kubernetes-client/pom.xml
  integration-tests/openshift-client/pom.xml
  integration-tests/pom.xml
  pom.xml
Labels: triage/waiting-for-ci, area/kubernetes, area/dependencies

#37039 Add endpoints page in Dev UI
  extensions/info/deployment/src/main/resources/dev-ui/qwc-info.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/EndpointsProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-endpoints.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/DevUIRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/EndpointInfo.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/EndpointInfoHandler.java
Labels: area/vertx, triage/waiting-for-ci, area/dev-ui

#37032 OpenAPI make sure basic auth auto detection work
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
Labels: area/vertx, triage/backport?

#37005 Qute: allow extensions to register additional template roots
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateRootBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateRootsBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/templateroot/AdditionalTemplateRootTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/templateroot/TemplateRootBuildItemTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/templateroot/TemplateRootsBuildItemTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/QuteRecorder.java
Labels: triage/waiting-for-ci, area/qute

#37056 [3.2] Set all discovered quarkus.* properties as system properties in QuarkusWorker
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusTask.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/settings.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/integrationTest/java/org/acme/ExampleResourceIT.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/src/main/java/org/acme/example/extension/deployment/ExampleConfig.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/src/main/java/org/acme/example/extension/deployment/ExampleProcessor.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleBuildOptions.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleRecorder.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleRuntimeConfig.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/resources/META-INF/quarkus-extension.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/settings.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/settings.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/SystemPropsAsBuildTimeConfigSourceTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/nativeimage/BasicJavaNativeBuildIT.java
Labels: area/gradle, area/devtools

#37066 Add label area/native-image to issues mentioning mandrel
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#36935 Support for dynamic OIDC JWK set resolution
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcRequestContextProperties.java
  extensions/oidc/runtime/pom.xml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutTokenCache.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenIntrospectionUserInfoCache.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DynamicVerificationKeyResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/JsonWebKeySet.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/MemoryCache.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/MemoryCacheTest.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcRequestCustomizer.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: release/noteworthy-feature, area/oidc

#37068 Updates infinispan client intelligence section
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/infinispan-client.adoc
Labels: area/documentation, area/infinispan, triage/backport-3.2?, triage/backport?

#37051 Use dynamically resolved Java version when creating Gradle projects
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle-kotlin-dsl/base/build-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle-kotlin-dsl/scala/build.tpl.qute.gradle.kts
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/base/build-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/scala/build.tpl.qute.gradle
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectMojoIT.java
Labels: area/maven, area/platform, area/devtools

#37070 Security doc fix: Broken link and bad code snippet
  docs/src/main/asciidoc/security-proactive-authentication.adoc
Labels: area/documentation, area/arc, triage/waiting-for-ci, area/oidc, area/platform, area/dependencies, area/devtools, area/docstyle, triage/backport-3.2?, triage/backport?

#37079 [3.2] Fix vale errors and some warnings in the "OpenID Connect (OIDC) and O…
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle

#37088 Security doc fix: Fix links in Protect a web application topic
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
Labels: area/documentation, area/docstyle

#37082 3.2.9 backports 2
  docs/src/main/asciidoc/blaze-persistence.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/DevUiConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
Labels: area/documentation, area/oidc, area/devtools

#37063 Make testLambdaCapturing test conditional on GraalVM version
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/ArtifactResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/ArtifactResult.java
  integration-tests/main/src/test/java/io/quarkus/it/main/RegisterForReflectionITCase.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisableIfBuiltWithGraalVMNewerThanCondition.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/DisableIfBuiltWithGraalVMOlderThanCondition.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/GraalVMVersion.java
Labels: area/core, triage/waiting-for-ci, area/testing, area/devtools

#37071 RESTEasy Qute integration: add dependency conditions
  extensions/resteasy-classic/resteasy-qute/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-qute/runtime/pom.xml
Labels: area/resteasy, area/qute, area/resteasy-reactive

#36746 Allow using a random test port within Google Cloud Function tests
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
  docs/src/main/asciidoc/gcp-functions.adoc
  integration-tests/google-cloud-functions/src/test/java/io/quarkus/gcp/function/test/HttpFunctionRandomPortTestCase.java
  test-framework/google-cloud-functions/src/main/java/io/quarkus/google/cloud/functions/test/CloudFunctionsInvoker.java
  test-framework/google-cloud-functions/src/main/java/io/quarkus/google/cloud/functions/test/SocketUtil.java
Labels: area/documentation, area/testing, area/google-cloud-functions, triage/backport?

#37100 Adjust output file name in develocity-publish-build-scans.yml
  .github/workflows/develocity-publish-build-scans.yml
Labels: triage/backport?

#37062 Remove Old Dev UI Logstream WebSocket
  core/deployment/src/main/java/io/quarkus/deployment/builditem/WebSocketLogHandlerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/waiting-for-ci

#37024 Final edits and Vale fixes in OIDC authorization code flow mechanism for protecting web applications guide for 3.2
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.2?, triage/backport?, triage/backport-3.5?

#37090 Add the actual coordinates of the MySQL driver
  bom/application/pom.xml
  extensions/devservices/mysql/pom.xml
  extensions/jdbc/jdbc-mysql/runtime/pom.xml
Labels: area/persistence, area/dependencies, triage/backport-2.13?, triage/backport-3.2?, triage/backport?, triage/backport-3.5?

#37104 Make analytics tests more a bit more resilient
  independent-projects/tools/analytics-common/src/test/java/io/quarkus/analytics/AnalyticsServicePromptTest.java
Labels: area/platform, area/devtools, triage/backport?

#36345 (2.13) Upgrade Avro to 1.11.3
  bom/application/pom.xml
Labels: area/dependencies

#36405 [2.13] - Update to Netty 4.1.100
  bom/application/pom.xml
Labels: area/dependencies

#36548 [2.13] Bump sshd-common to 2.10.0
  bom/application/pom.xml
Labels: area/dependencies

#35654 (2.13) Upgrade Gradle to 7.6.3
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#37077 Handle duplicated context in the CacheResultInterceptor
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
Labels: area/cache, triage/backport-3.2?, triage/backport?, triage/backport-3.5?

#37075 Arc - @Default beans can now be ordered via @Priority
  docs/src/main/asciidoc/cdi-reference.adoc
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/DefaultBean.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/defaultbean/DefaultBeanPriorityTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/defaultbean/ambiguous/DefaultBeanPriorityAmbiguousTest.java
Labels: area/documentation, area/arc, triage/waiting-for-ci

#36954 Fix restore happening in the same thread
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, triage/waiting-for-ci

#36988 Update Protoc to version 3.25.0
  pom.xml
Labels: triage/waiting-for-ci

#37084 3.5.2 backports 2
  bom/application/pom.xml
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusTask.java
  devtools/gradle/gradle/libs.versions.toml
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/infinispan-client.adoc
  docs/src/main/asciidoc/security-proactive-authentication.adoc
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/DataSourceReactiveRuntimeConfig.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ExtensionUpdateInfo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ProjectExtensionsUpdateInfo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdates.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepositoryTest.java
  independent-projects/tools/devtools-common/src/test/resources/dir/quarkus-update/org.apache.camel.quarkus/camel-quarkus/3.0.yaml
  independent-projects/tools/pom.xml
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/settings.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/integrationTest/java/org/acme/ExampleResourceIT.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/application/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/src/main/java/org/acme/example/extension/deployment/ExampleConfig.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/deployment/src/main/java/org/acme/example/extension/deployment/ExampleProcessor.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/build.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleBuildOptions.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleRecorder.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/java/org/acme/example/extension/runtime/ExampleRuntimeConfig.java
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/resources/META-INF/quarkus-extension.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/extensions/example-extension/settings.gradle
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/gradle.properties
  integration-tests/gradle/src/main/resources/system-props-as-build-time-config-source/settings.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/SystemPropsAsBuildTimeConfigSourceTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/nativeimage/BasicJavaNativeBuildIT.java
Labels: area/documentation, area/gradle, area/infra, area/vertx, area/platform, area/dependencies, area/devtools, area/agroal, area/docstyle

#36839 [2.13] Manage Jose4j dependency in the bom
  .github/dependabot.yml
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/infra-automation

#36644 OTel upgrade to 1.31.0
  bom/application/pom.xml
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/instrumentation/InstrumentationProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDILegacyTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDITest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryReactiveRoutesTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GraphQLOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GrpcOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/RestClientOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxClientOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryForwardedTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryXForwardedTest.java
  extensions/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/EndUserSpanProcessorConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/EndUserSpanProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/DropTargetsSampler.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtil.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcStatusCodeExtractor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/reactivemessaging/ReactiveMessagingTracingEmitterDecorator.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/reactivemessaging/ReactiveMessagingTracingIncomingDecorator.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/reactivemessaging/ReactiveMessagingTracingOutgoingDecorator.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/restclient/OpenTelemetryClientFilter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/resteasy/OpenTelemetryClassicServerFilter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/resteasy/OpenTelemetryReactiveServerFilter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/HttpInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/DropTargetsSamplerTest.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtilTest.java
  integration-tests/opentelemetry-grpc/src/test/java/io/quarkus/it/opentelemetry/grpc/OpenTelemetryGrpcTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveClientTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
  integration-tests/opentelemetry-spi/pom.xml
  integration-tests/opentelemetry-spi/src/main/java/io/quarkus/it/opentelemetry/spi/CustomSPISampler.java
  integration-tests/opentelemetry-vertx-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/exporter/AbstractExporterTest.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/HelloRouterTest.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/SqlClientTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/EndUserDisabledTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/EndUserEnabledTest.java
Labels: area/dependencies, area/tracing, triage/backport?

#37102 Fix filter per extension in dev ui
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration.js
Labels: area/vertx, triage/backport?, triage/backport-3.5?

#37105 [3.2] GraphQL WebSocket fixes
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientWebSocketAuthenticationTest.java
  extensions/smallrye-graphql-client/deployment/src/test/resources/application-secured.properties
  extensions/smallrye-graphql-client/deployment/src/test/resources/roles.properties
  extensions/smallrye-graphql-client/deployment/src/test/resources/users.properties
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
Labels: area/smallrye, area/dependencies, area/graphql

#37116 [3.2] Fix vale errors and some warnings in the OIDC Configuration Properties reference guide > 3.2
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildTimeConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
Labels: area/oidc

#37115 3.5.2 backports 3
  bom/application/pom.xml
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/devservices/mysql/pom.xml
  extensions/jdbc/jdbc-mysql/runtime/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/http2/Http2RSTFloodProtectionTest.java
  independent-projects/tools/analytics-common/src/test/java/io/quarkus/analytics/AnalyticsServicePromptTest.java
Labels: area/persistence, area/infra, area/vertx, area/platform, area/dependencies, area/devtools, area/cache, area/resteasy-reactive

#37120 Bump Smallrye RM from 4.10.1 to 4.10.2
  bom/application/pom.xml
Labels: area/persistence, area/gradle, area/maven, area/smallrye, area/hibernate-validator, area/hibernate-orm, area/hibernate-search, area/dependencies, area/hibernate-reactive, area/elasticsearch

#37131 Fix vale errors in Security Authentication mechanisms
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnRunTimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthRuntimeConfig.java
Labels: area/vertx

#37135 Properly handle authority-pseudo header in the ForwardedParser
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
Labels: area/vertx, triage/backport-3.2?

#37130 Do not report unused deprecated runtime props with default value as used
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DeprecatedRuntimePropertiesRecorder.java
Labels: area/core, area/config, triage/backport?

#37121 Docs - Add missing steps to Basic authentication how-to
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
Labels: area/documentation, area/core, area/config, area/vertx, area/kubernetes, area/dependencies, area/tracing, area/docstyle, triage/backport-3.2?

#37073 Use 3.2 as the example stream for update-quarkus.adoc
  docs/src/main/asciidoc/update-quarkus.adoc
Labels: area/documentation, area/docstyle, triage/backport?, triage/backport-3.5?

#37143 (3.2) Backport missed parts of the GraphQL Websocket fix
  .github/native-tests.json
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientWebSocketAuthenticationHttpPermissionsTest.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientWebSocketAuthenticationTest.java
  extensions/smallrye-graphql-client/deployment/src/test/resources/application-secured-http-permissions.properties
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
  integration-tests/pom.xml
  integration-tests/smallrye-graphql-client-keycloak/pom.xml
  integration-tests/smallrye-graphql-client-keycloak/src/main/java/io/quarkus/io/smallrye/graphql/keycloak/GraphQLAuthExpiryTester.java
  integration-tests/smallrye-graphql-client-keycloak/src/main/java/io/quarkus/io/smallrye/graphql/keycloak/SecuredResource.java
  integration-tests/smallrye-graphql-client-keycloak/src/main/resources/application.properties
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/GraphQLAuthExpiryIT.java
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/GraphQLAuthExpiryTest.java
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/KeycloakRealmResourceManager.java
Labels: area/smallrye, area/dependencies, area/infra-automation, area/graphql

#37154 Doc enhancements to the security architecture guide
  docs/src/main/asciidoc/security-architecture.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.2?

#37146 3.2.9 backports 3
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
Labels: area/vertx, area/cache

#37150 Remove security guides we are no longer publishing for 3.2 product docs
  docs/downstreamdoc.yaml
Labels: area/documentation

#37053 Clarify dynamic Environment Variables name conversion
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation

#37004 Move failsafe config to the root instead of in an execution
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/integration-tests/java/integration-tests/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/pom.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateMavenWithCustomDep/pom.xml
Labels: area/platform, area/devtools

#37112 2.13.9 backports 1
  bom/application/pom.xml
  docs/src/main/asciidoc/_includes/devtools/create-app.adoc
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/hibernate-reactive.adoc
  docs/src/main/asciidoc/javascript/config.js
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/locale/ResteasyReactiveLocaleResolver.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/WrongEncryptionAlgHeaderUnitTest.java
  extensions/smallrye-jwt/deployment/src/test/resources/applicationEncryptWrongAlgorithm.properties
  extensions/smallrye-jwt/deployment/src/test/resources/rsa-oaep.jwk
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/pom.xml
  integration-tests/hibernate-validator-resteasy-reactive/src/test/java/io/quarkus/it/hibernate/validator/ConfigMappingStartupValidatorTest.java
  integration-tests/kafka-avro/pom.xml
Labels: area/documentation, area/smallrye, area/infra, area/hibernate-validator, area/dependencies, area/devtools, area/docstyle

#37136 (2.13) graphql websocket fixes
  .github/native-tests.json
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientWebSocketAuthenticationHttpPermissionsTest.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientWebSocketAuthenticationTest.java
  extensions/smallrye-graphql-client/deployment/src/test/resources/application-secured-http-permissions.properties
  extensions/smallrye-graphql-client/deployment/src/test/resources/application-secured.properties
  extensions/smallrye-graphql-client/deployment/src/test/resources/roles.properties
  extensions/smallrye-graphql-client/deployment/src/test/resources/users.properties
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
  integration-tests/pom.xml
  integration-tests/smallrye-graphql-client-keycloak/pom.xml
  integration-tests/smallrye-graphql-client-keycloak/src/main/java/io/quarkus/io/smallrye/graphql/keycloak/GraphQLAuthExpiryTester.java
  integration-tests/smallrye-graphql-client-keycloak/src/main/java/io/quarkus/io/smallrye/graphql/keycloak/SecuredResource.java
  integration-tests/smallrye-graphql-client-keycloak/src/main/resources/application.properties
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/GraphQLAuthExpiryIT.java
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/GraphQLAuthExpiryTest.java
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/KeycloakRealmResourceManager.java
Labels: area/smallrye, area/dependencies, area/infra-automation, area/graphql

#37156 Allow a bit more Dependabot PRs
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#36961 Fix GraphQL WebSocket handling occurring before authorization
  .github/native-tests.json
  extensions/smallrye-graphql-client/deployment/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientWebSocketAuthenticationHttpPermissionsTest.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/DynamicGraphQLClientWebSocketAuthenticationTest.java
  extensions/smallrye-graphql-client/deployment/src/test/resources/application-secured-http-permissions.properties
  extensions/smallrye-graphql-client/deployment/src/test/resources/application-secured.properties
  extensions/smallrye-graphql-client/deployment/src/test/resources/roles.properties
  extensions/smallrye-graphql-client/deployment/src/test/resources/users.properties
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLOverWebSocketHandler.java
  integration-tests/pom.xml
  integration-tests/smallrye-graphql-client-keycloak/pom.xml
  integration-tests/smallrye-graphql-client-keycloak/src/main/java/io/quarkus/io/smallrye/graphql/keycloak/GraphQLAuthExpiryTester.java
  integration-tests/smallrye-graphql-client-keycloak/src/main/java/io/quarkus/io/smallrye/graphql/keycloak/SecuredResource.java
  integration-tests/smallrye-graphql-client-keycloak/src/main/resources/application.properties
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/GraphQLAuthExpiryIT.java
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/GraphQLAuthExpiryTest.java
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/KeycloakRealmResourceManager.java
Labels: area/smallrye, area/infra-automation, area/flyway, area/redis, area/graphql

#37153 Bump smallrye-jwt version to 4.4.0
  bom/application/pom.xml
Labels: area/security, area/smallrye, area/dependencies, triage/backport?

#37165 3.2.9 backports 4
  docs/src/main/asciidoc/security-architecture.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-proactive-authentication.adoc
Labels: area/documentation, area/docstyle

#37170 Fix snapshots following a collision of pull requests
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_integration-tests_pom.xml
Labels: area/maven

#37196 Minor doc fixes identified during QE cycle
  docs/src/main/asciidoc/security-overview.adoc
Labels: area/documentation, area/docstyle

#37081 Add backward compatible support for multiple extensions in CodeGenProvider
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/CodeGenWatcher.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroCodeGenProviderBase.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroIDLCodeGenProvider.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroProtocolCodeGenProvider.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroSchemaCodeGenProvider.java
  extensions/grpc/codegen/src/main/java/io/quarkus/grpc/deployment/GrpcCodeGen.java
Labels: area/core, area/grpc

#37198 Some minor refinements for build scans
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/develocity-publish-build-scans.yml
Labels: area/infra-automation

#37201 Fixed sample code for KotlinModule initialization
  docs/src/main/asciidoc/kotlin.adoc
Labels: area/documentation

#37204 Allow to define allowed roles as configuration expressions inside `@SecureField` annotation
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractPersonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/CustomSerializationResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Person.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/ResteasyReactiveServerJacksonRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/security/RolesAllowedConfigExpStorage.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/security/SecurityPropertyFilter.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/RolesAllowedConfigExpResolverBuildItem.java
Labels: area/documentation, area/security, area/resteasy-reactive, triage/backport?

#37206 recognize quarkus.tls.trust-all property by keycloak-admin-client extension
  extensions/keycloak-admin-client-reactive/deployment/src/main/java/io/quarkus/keycloak/admin/client/reactive/KeycloakAdminClientReactiveProcessor.java
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveClientProvider.java
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveKeycloakAdminClientRecorder.java
  extensions/keycloak-admin-client/deployment/src/main/java/io/quarkus/keycloak/adminclient/deployment/KeycloakAdminClientProcessor.java
  extensions/keycloak-admin-client/runtime/src/main/java/io/quarkus/keycloak/adminclient/ResteasyKeycloakAdminClientRecorder.java
Labels: area/keycloak, triage/backport-3.2?, triage/backport?, triage/backport-3.5?

#37215 Use LinkedHashMap for parts map to ensure user input order
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/multipart/MultipartFormDataOutput.java
Labels: triage/waiting-for-ci, triage/backport?

#37210 [3.5] Fix and adjust Quarkiverse extension template
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/README.tpl.qute.md
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_release.yml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_README.md
Labels: area/maven, area/platform, area/devtools

#37166 Support custom Authorization schemes for OIDC bearer tokens
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/UsersResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/oidc, triage/backport?

#37225 [2.13] Handle duplicated context in the CacheResultInterceptor
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/DuplicatedContextHandlingTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
Labels: area/cache

#37218 Fix OpenTelemetry trace exclusion of endpoints served from the management interface
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
Labels: area/vertx, area/tracing, kind/bugfix, triage/backport-3.2?, triage/backport?, triage/backport-3.5?

#37213 Add basic Range header support
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/FileTestCase.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/providers/serialisers/ServerFileBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/providers/serialisers/ServerPathBodyHandler.java
Labels: area/resteasy-reactive, triage/backport?

#37226 3.5.3 backports 2
  extensions/keycloak-admin-client-reactive/deployment/src/main/java/io/quarkus/keycloak/admin/client/reactive/KeycloakAdminClientReactiveProcessor.java
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveClientProvider.java
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveKeycloakAdminClientRecorder.java
  extensions/keycloak-admin-client/deployment/src/main/java/io/quarkus/keycloak/adminclient/deployment/KeycloakAdminClientProcessor.java
  extensions/keycloak-admin-client/runtime/src/main/java/io/quarkus/keycloak/adminclient/ResteasyKeycloakAdminClientRecorder.java
  independent-projects/parent/pom.xml
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/multipart/MultipartFormDataOutput.java
  integration-tests/oidc-client-reactive/pom.xml
  integration-tests/rest-client-reactive/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension/pom.xml
Labels: area/infra, area/keycloak

#37197 [3.2] Minor doc fixes identified during QE cycle
  docs/src/main/asciidoc/security-overview.adoc
Labels: area/documentation, area/security, area/docstyle
