Repository quarkusio/quarkus, pull requests merged in 2023-01, with the labels that each got.

#30116 Change quarkus-cache extension status to stable
  extensions/cache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/cache, triage/backport-2.13?, triage/backport?

#21651 Hibernate panache codestart
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-codestart/java/src/main/java/org/acme/MyEntity.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-codestart/java/src/main/java/org/acme/MyEntity.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-codestart/kotlin/src/main/kotlin/org/acme/MyKotlinEntity.tpl.qute.kt
  docs/src/main/asciidoc/hibernate-orm-panache-kotlin.adoc
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/panache/hibernate-orm-panache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/HibernateOrmPanacheCodestartTest.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/HibernateOrmPanacheKotlinCodestartTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/HibernateOrmCodestartTest/testContent/src_main_java_ilove_quark_us_MyEntity.java
  integration-tests/devtools/src/test/resources/__snapshots__/HibernateOrmPanacheCodestartTest/testContent/src_main_java_ilove_quark_us_MyEntity.java
  integration-tests/devtools/src/test/resources/__snapshots__/HibernateOrmPanacheKotlinCodestartTest/testContent/src_main_kotlin_ilove_quark_us_MyKotlinEntity.kt
Labels: area/documentation, area/panache, area/devtools, triage/flaky-test

#30122 Fix GitHub Actions build status badge in README.md
  README.md
Labels: triage/waiting-for-ci

#30114 Use Java 17 runtime in the Google Cloud Functions guides
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
  docs/src/main/asciidoc/gcp-functions-http.adoc
  docs/src/main/asciidoc/gcp-functions.adoc
Labels: area/documentation

#30117 Allow passing batchSize to MongoDB with Panache queries
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/runtime/CommonReactivePanacheQueryImpl.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/PanacheQuery.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/ReactivePanacheQuery.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/reactive/runtime/ReactivePanacheQueryImpl.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/runtime/PanacheQueryImpl.kt
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheQuery.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/ReactivePanacheQuery.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/runtime/ReactivePanacheQueryImpl.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/runtime/PanacheQueryImpl.java
  integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/test/TestResource.kt
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/test/TestResource.java
Labels: area/panache, area/mongodb

#30025 Allow configuring instanceId and instanceIdGenerator
  docs/src/main/asciidoc/quartz.adoc
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/ConfigureInstanceIdTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzBuildTimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRuntimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  integration-tests/quartz/src/main/java/io/quarkus/it/quartz/FixedInstanceIdGenerator.java
  integration-tests/quartz/src/main/java/io/quarkus/it/quartz/FixedInstanceIdResource.java
  integration-tests/quartz/src/main/resources/application.properties
  integration-tests/quartz/src/test/java/io/quarkus/it/quartz/QuartzTestCase.java
Labels: area/documentation, area/scheduler, triage/waiting-for-ci

#30123 Fix the gRPC stub deadline documentation
  docs/src/main/asciidoc/grpc-service-consumption.adoc
Labels: area/documentation

#30017 Update reflection registrations of vertx mail classes
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
Labels: area/native-image, area/mailer

#30068 Allow tuning some static resources serving properties
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/StaticResourcesProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/AbstractStaticResourcesTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/StaticResourcesCachingDisabledTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/StaticResourcesCustomizedPagesTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/StaticResourcesTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devmode/StaticResourcesDevModeTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/StaticResourcesConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/StaticResourcesRecorder.java
Labels: area/documentation, area/vertx

#30126 Update the performance guide with respect to Quarkus default GraalVM GC
  docs/src/main/asciidoc/performance-measure.adoc
Labels: area/documentation, triage/backport?

#30131 Add Jose4j OctetKeyPairJsonWebKey substitutions
  extensions/smallrye-jwt-build/runtime/src/main/java/io/quarkus/smallrye/jwt/build/runtime/graalvm/Substitutions.java
Labels: area/smallrye

#30134 Fix @Blocking method in gRPC Mutiny services
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/deployment/GrpcServerProcessorTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/deployment/MutinyServiceBlockingMethodTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/services/BlockingMutinyHelloService.java
Labels: kind/bug, area/grpc

#29689 Support repeatable @IfBuildProfile and @UnlessBuildProfile
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  docs/src/main/asciidoc/config-reference.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BuildTimeEnabledProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/profile/IfBuildProfileAllAnyTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/profile/UnlessBuildProfileAllAnyTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/profile/IfBuildProfile.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/profile/UnlessBuildProfile.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/Timing.java
Labels: release/noteworthy-feature, area/documentation, area/core, area/arc, triage/waiting-for-ci, area/devtools

#30143 Make sure Federation annotations are in the index, add a test
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLFederationTest.java
Labels: area/smallrye, area/graphql, triage/backport?

#30019 Register keycloak classes for reflection only when keycloak-core present
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/kafka, area/native-image

#30018 Move log4j-api to correct quarkus module and add condition for jackson-module-jaxb-annotations registrations
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/ElasticsearchRestClientProcessor.java
  extensions/elasticsearch-rest-high-level-client/deployment/src/main/java/io/quarkus/elasticsearch/restclient/highlevel/deployment/ElasticsearchHighLevelClientProcessor.java
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
Labels: area/elasticsearch, area/native-image, area/jackson

#30135 Kafka Dev UI Fixes
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/config.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/web/web.js
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaUiHandler.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaUiUtils.java
  integration-tests/devmode/pom.xml
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleKafkaSmokeTest.java
Labels: triage/waiting-for-ci, area/kafka, triage/backport?

#30051 Introduce a way to disable JAX-RS resources at runtime
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/EndpointDisabledTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/EndpointDisabled.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceClass.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
Labels: area/documentation, triage/waiting-for-ci, area/resteasy-reactive

#30140 Properly read the value of testcontainers.reuse.enable
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#30153 Ensure that k8s client's ExecConfig works properly in native mode
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: area/kubernetes, triage/backport?

#30155 Show how to verify smallrye-jwt issuer in a shared network
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation, triage/backport?

#30146 Properly segregate Json MessageBodyReader/Writer classes for server and client
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb-common/deployment/src/main/java/io/quarkus/resteasy/reactive/jsonb/common/deployment/ResteasyReactiveJsonbCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/main/java/io/quarkus/resteasy/reactive/jsonb/deployment/ResteasyReactiveJsonbProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/sse/SseTestCase.java
  extensions/resteasy-reactive/rest-client-reactive-jsonb/deployment/src/main/java/io/quarkus/rest/client/reactive/jsonb/deployment/RestClientReactiveJsonbProcessor.java
  integration-tests/resteasy-mutiny/pom.xml
Labels: triage/waiting-for-ci, area/resteasy-reactive

#30141 Adjust WrongAnnotationUsageProcessor to recognize interceptor bindings on nested classes
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/WrongAnnotationUsageProcessor.java
Labels: area/arc, triage/waiting-for-ci

#30154 Remove remaining references to javax classes
  core/deployment/src/main/java/io/quarkus/deployment/recording/AnnotationProxyProvider.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/FilterClassIntrospector.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/MessageBodyWriterTransformerUtils.java
  independent-projects/resteasy-reactive/build-support/src/main/java/org/jboss/resteasy/reactive/build/support/AllWriteableMessageBodyWriterByteBuddyPlugin.java
  jakarta/transform.sh
Labels: area/core, area/resteasy-reactive, area/jakarta, triage/backport?

#30073 Feature/OTEL JAX-RS (Resteasy) Span Code function
  extensions/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/instrumentation/InstrumentationProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDILegacyTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDITest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/TestUtil.java
  extensions/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/resteasy/OpenTelemetryClassicServerFilter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/resteasy/OpenTelemetryReactiveServerFilter.java
Labels: triage/waiting-for-ci, area/tracing

#30007 Add ingress class name property part of Ingress config
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyKubernetesIngressConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/IngressConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithIngressTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-ingress.properties
Labels: area/kubernetes

#30006 Bump Dekorate to 3.2.0
  bom/application/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithAutoMongoBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithAutoMysqlBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithAutoPostgresBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithSemiAutoPostgresBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithServiceBindingTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithServiceBindingTest.java
Labels: area/kubernetes, area/dependencies

#30148 2.15.2 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
  docs/src/main/asciidoc/infinispan-client.adoc
  docs/src/main/asciidoc/performance-measure.adoc
  docs/src/main/asciidoc/smallrye-health.adoc
  extensions/cache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/csrf-reactive/deployment/src/main/java/io/quarkus/csrf/reactive/CsrfReactiveBuildStep.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRecorder.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfRequestResponseReactiveFilter.java
  extensions/csrf-reactive/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfResponseFilter.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/validatorfactory/ValidatorFactoryFromValidationTest.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ArcProxyBeanMetaDataClassNormalizer.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/CloseAsNoopValidatorFactoryWrapper.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidationSupport.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidatorHolder.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidatorProvider.java
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/config.js
  extensions/kafka-client/deployment/src/main/resources/dev-static/js/web/web.js
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaUiHandler.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/ui/KafkaUiUtils.java
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/AbstractInjectResourcesMethodTest.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/InjectionResource.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourceInjectResourcesMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractInjectResourcesMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/InjectionResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourceInjectResourcesMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/resources/application.properties
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/AuthenticationFailedExceptionHeaderTest.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/AuthenticationRedirectExceptionHeaderTest.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AuthenticationFailedExceptionHeaderTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AuthenticationRedirectExceptionHeaderTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLFederationTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  integration-tests/csrf-reactive/src/main/java/io/quarkus/it/csrf/TestResource.java
  integration-tests/csrf-reactive/src/main/resources/application.properties
  integration-tests/csrf-reactive/src/main/resources/templates/csrfTokenWithFormRead.html
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
  integration-tests/devmode/pom.xml
  integration-tests/devmode/src/test/java/io/quarkus/test/devconsole/DevConsoleKafkaSmokeTest.java
  integration-tests/gradle/src/main/resources/basic-kotlin-application-project/src/main/kotlin/org/acme/MyMainClass.kt
Labels: area/documentation, area/panache, area/persistence, area/gradle, area/core, area/smallrye, area/infra, area/hibernate-validator, area/vertx, area/kubernetes, area/kafka, area/dependencies, area/cache, area/hibernate-reactive, area/graphql, area/resteasy-reactive, area/jakarta

#30157 Gradle quarkusDev: don't use test classes dir for app classes
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/gradle, area/devtools, triage/backport?

#30016 Make registrations of removed (in version 3) kafka classes optional
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
Labels: area/kafka-streams, area/kafka, area/native-image

#30174 Small improvements to codestarts documentation
  docs/src/main/asciidoc/extension-codestart.adoc
Labels: area/documentation

#30183 Fixing typos in security overview doc
  docs/src/main/asciidoc/security-overview-concept.adoc
Labels: area/documentation

#30065 Infinispan Configuration enchancements
  docs/src/main/asciidoc/infinispan-client.adoc
  docs/src/main/asciidoc/kogito.adoc
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientRuntimeConfig.java
  test-framework/infinispan-client/src/main/java/io/quarkus/test/infinispan/client/InfinispanTestResource.java
Labels: area/documentation, area/infinispan, triage/waiting-for-ci, area/testing

#30188 Bump Keycloak version to 20.0.2
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/documentation, area/oidc, area/dependencies

#30172 Codestarts - Fix flattening of log levels
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/SmartConfigMergeCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/core/strategy/SmartConfigMergeCodestartFileStrategyHandlerTest.java
Labels: area/platform, area/devtools, area/codestarts

#29842 Reduce Config startup footprint
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DefaultsConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DisableableConfigSource.java
Labels: area/core, area/config

#30008 Fix handling of deployment target when using quarkus-openshift
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfigUtil.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
Labels: area/kubernetes

#30132 Register REST Client body parameters for reflection
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/HelloClient.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
Labels: area/resteasy-reactive, triage/backport?

#30177 Properly handle SSE comments in RESTEasy Reactive client and server code
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/sse/SseParserTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/SseUtil.java
Labels: area/resteasy-reactive, triage/backport?

#30200 Ensure that Kotlin implementation of QuarkusApplication works properly
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/src/main/kotlin/org/acme/Main.kt
Labels: area/gradle, area/core, triage/waiting-for-ci, triage/backport?

#29869 Make kotlin load parent first (revert PR which changes that)
  extensions/kotlin/runtime/pom.xml
Labels: area/kotlin, area/devtools

#30195 Log graphql.execution.AbortExecutionException when it occurs
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
Labels: area/smallrye, area/graphql, triage/backport?

#29511 MQTT DevServices
  extensions/smallrye-reactive-messaging-mqtt/deployment/pom.xml
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/mqtt/deployment/MqttBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/mqtt/deployment/MqttDevServicesBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/mqtt/deployment/MqttDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/resources/mosquitto.conf
  integration-tests/pom.xml
  integration-tests/reactive-messaging-mqtt/pom.xml
  integration-tests/reactive-messaging-mqtt/src/main/java/io/quarkus/it/mqtt/MQTTEndpoint.java
  integration-tests/reactive-messaging-mqtt/src/main/java/io/quarkus/it/mqtt/PeopleManager.java
  integration-tests/reactive-messaging-mqtt/src/main/resources/application.properties
  integration-tests/reactive-messaging-mqtt/src/test/java/io/quarkus/it/mqtt/MQTTConnectorIT.java
  integration-tests/reactive-messaging-mqtt/src/test/java/io/quarkus/it/mqtt/MQTTConnectorTest.java
Labels: area/smallrye, area/reactive-messaging

#30218 OIDC documentation fixes
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
Labels: area/documentation

#30209 2.15.3 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/recording/AnnotationProxyProvider.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/ConstructorReplacement.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/MethodReplacement.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/ParameterReplacement.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-overview-concept.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb-common/deployment/src/main/java/io/quarkus/resteasy/reactive/jsonb/common/deployment/ResteasyReactiveJsonbCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/main/java/io/quarkus/resteasy/reactive/jsonb/deployment/ResteasyReactiveJsonbProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/sse/SseTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/FilterClassIntrospector.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/MessageBodyWriterTransformerUtils.java
  extensions/resteasy-reactive/rest-client-reactive-jsonb/deployment/src/main/java/io/quarkus/rest/client/reactive/jsonb/deployment/RestClientReactiveJsonbProcessor.java
  independent-projects/resteasy-reactive/build-support/src/main/java/org/jboss/resteasy/reactive/build/support/AllWriteableMessageBodyWriterByteBuddyPlugin.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/SmartConfigMergeCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/core/strategy/SmartConfigMergeCodestartFileStrategyHandlerTest.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
  integration-tests/resteasy-mutiny/pom.xml
  jakarta/rewrite.yml
  jakarta/transform.sh
  test-framework/junit5/pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/OptionalConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
  test-framework/security/src/main/java/io/quarkus/test/security/TestIdentityAssociation.java
  test-framework/security/src/test/java/io/quarkus/test/security/TestIdentityAssociationTest.java
Labels: area/documentation, area/gradle, area/core, area/testing, area/oidc, area/platform, area/dependencies, area/devtools, area/codestarts, area/resteasy-reactive, area/jakarta

#30220 Ensure that ConfigBuilder classes work in native mode
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
Labels: area/core, triage/waiting-for-ci

#30201 Disable macOS M1 testing
  .github/matrix-jvm-tests.json
Labels: area/infra-automation

#30206 Update Vert.x Mutiny Bindings to version 2.30.1
  bom/application/pom.xml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/mutiny

#30150 Extend Vert.x metrics support
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailClientProducer.java
  extensions/micrometer/deployment/pom.xml
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/RedisClientMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxEventBusMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxHttpClientMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxTcpMetricsNoClientMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxTcpMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxUdpMetricsTest.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpBinderConfiguration.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/EventTiming.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/NetworkMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxEventBusMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxNetworkMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxPoolMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxUdpMetrics.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/MSSQLPoolRecorder.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-oracle-client/runtime/src/main/java/io/quarkus/reactive/oracle/client/runtime/OraclePoolRecorder.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/VertxRedisClientFactory.java
Labels: area/persistence, area/grpc, area/redis, area/metrics, area/mailer, area/reactive-sql-clients

#30214 MultiPartConfig in HTTP Vert.x extension is insufficiently documented
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/MultiPartConfig.java
Labels: area/vertx

#30226 Upgrade Gizmo to 1.5.0.Final
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/dependencies

#30062 Set SameSite Strict on Form, OIDC and WebAuthn cookies
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnRecorder.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnRunTimeConfig.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/CombinedFormBasicAuthTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormAuthCookiesTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PersistentLoginManager.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/vertx, area/oidc, triage/backport-2.7?, triage/backport-2.13?, triage/backport?

#30005 Change CaffeineCache eviction and expiration policies programmatically
  docs/src/main/asciidoc/cache.adoc
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/deployment/CacheConfigTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CaffeineCache.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheImpl.java
Labels: area/documentation, area/cache

#30227 SmallRye GraphQL 1.9.1/2.0.1 + config property to control Federation
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLFederationDisabledTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfig.java
  jakarta/rewrite.yml
Labels: area/smallrye, area/dependencies, area/graphql, area/jakarta, triage/backport?

#30242 Throw an IllegalStateException with basic info about the provider that failed to provide a resource
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/devtools, triage/backport?

#30000 Change quarkus-cache config phase from BUILD_TIME to RUN_TIME
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheDeploymentConstants.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheConfig.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheManagerInitializer.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheManagerRecorder.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheInfoBuilder.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheManagerBuilder.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/noop/NoOpCacheManagerBuilder.java
Labels: triage/waiting-for-ci, area/cache

#30238 Make sure TestMojo resolves test scoped dependencies
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/TestMojo.java
Labels: triage/backport-2.13?, triage/backport?

#30258 Fix quarkus-cache doc typo
  docs/src/main/asciidoc/cache.adoc
Labels: area/documentation

#29419 Add custom gRPC exception handling
  extensions/grpc/api/src/main/java/io/quarkus/grpc/ExceptionHandler.java
  extensions/grpc/api/src/main/java/io/quarkus/grpc/ExceptionHandlerProvider.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/interceptors/FailingInInterceptorTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/interceptors/FailingInterceptorTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/AuthExceptionHandler.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/Interceptors.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/BlockingServerInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/context/GrpcDuplicatedContextGrpcInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/context/GrpcRequestContextGrpcInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/exc/DefaultExceptionHandlerProvider.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/exc/ExceptionInterceptor.java
  extensions/grpc/runtime/src/test/java/io/quarkus/grpc/runtime/ClientAndServerCallsTest.java
  extensions/grpc/stubs/src/main/java/io/quarkus/grpc/stubs/ServerCalls.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/CopycatService.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/HelloException.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/HelloExceptionHandlerProvider.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/HelloWorldService.java
  integration-tests/grpc-interceptors/src/main/proto/helloworld.proto
  integration-tests/grpc-interceptors/src/test/java/io/quarkus/grpc/example/interceptors/HelloWorldServiceTest.java
  integration-tests/grpc-interceptors/src/test/java/io/quarkus/grpc/example/interceptors/HelloWorldServiceTestBase.java
  integration-tests/grpc-interceptors/src/test/java/io/quarkus/grpc/example/interceptors/HelloWorldServiceVertxTest.java
Labels: release/noteworthy-feature, triage/waiting-for-ci, area/grpc

#30255 Introduce a JSON Stream parser for the reactive rest client
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/Message.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamTestCase.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java
Labels: area/resteasy-reactive, triage/backport?

#30216 Fix incremental CI not running test-extension or bootstrap-config tests in native Misc2 job
  .github/native-tests.json
  .github/workflows/ci-actions-incremental.yml
  integration-tests/test-extension/disable-unbind-executions
Labels: area/infra-automation

#30083 Fix memory leak in Agroal local connection cache for Netty's FastThreadLocalThread
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/QuarkusNettyConnectionCache.java
Labels: area/agroal

#30252 Qute - generated value resolver - use gizmo switch
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
Labels: area/qute

#28360 Support exemplars
  extensions/micrometer/deployment/pom.xml
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/PrometheusRegistryProcessor.java
  extensions/micrometer/runtime/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/EmptyExemplarSamplerProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/OpentelemetryExemplarSamplerProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/PrometheusMeterRegistryProducer.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/handlers/PrometheusHandler.java
  integration-tests/cache/src/test/java/io/quarkus/it/cache/CacheTestCase.java
  integration-tests/micrometer-mp-metrics/src/test/java/io/quarkus/it/micrometer/mpmetrics/MPMetricsTest.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/ExampleResourcesTest.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
  integration-tests/rest-client/src/test/java/io/quarkus/it/rest/client/wronghost/BaseExternalWrongHostTestCase.java
Labels: area/cache, area/metrics, triage/backport?

#30121 CompletableFuture smart dispatch support
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/deployment/src/test/java/io/quarkus/resteasy/reactive/server/servlet/test/ServletSimpleRestTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/SimpleQuarkusRestTestCase.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/AsyncReturnTypeScanner.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-2.13?, triage/backport?

#29251 Add XDS support to gRPC extension
  .github/workflows/ci-istio.yml
  bom/application/pom.xml
  extensions/grpc/pom.xml
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/ClientXds.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcClientConfiguration.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcServerConfiguration.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/Xds.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/DevModeInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/GrpcHotReplacementInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/spi/GrpcBuilderProvider.java
  extensions/grpc/xds/pom.xml
  extensions/grpc/xds/src/main/java/io/quarkus/grpc/xds/XdsGrpcServerBuilderProvider.java
  extensions/grpc/xds/src/main/java/io/quarkus/grpc/xds/devmode/XdsServerReloader.java
  extensions/grpc/xds/src/main/resources/META-INF/services/io.quarkus.grpc.spi.GrpcBuilderProvider
  integration-tests/istio/disable-native-profile
  integration-tests/istio/maven-invoker-way/pom.xml
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/invoker.properties
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/pom.xml
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/src/main/java/org/acme/HelloEndpoint.java
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/src/main/java/org/acme/HelloService.java
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/src/main/proto/helloworld.proto
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/src/main/resources/application.properties
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/verify.groovy
  integration-tests/istio/pom.xml
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/dependencies, area/infra-automation, area/grpc

#30203 Add missing gRPC docs for the new features
  docs/src/main/asciidoc/grpc-getting-started.adoc
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  docs/src/main/asciidoc/grpc-service-implementation.adoc
  docs/src/main/asciidoc/grpc-xds.adoc
  docs/src/main/asciidoc/grpc.adoc
Labels: area/documentation, triage/needs-vale-rule-tweak

#30207 Bump to aesh 2.7
  bom/application/pom.xml
Labels: area/dependencies

#30266 2.15.3 backports 2
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/TestMojo.java
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/QuarkusNettyConnectionCache.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/Message.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/sse/SseParserTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLFederationDisabledTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfig.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/SseUtil.java
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/src/main/kotlin/org/acme/Main.kt
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithApplicationPropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithApplicationPropertiesTest.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/HelloClient.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
  jakarta/rewrite.yml
Labels: area/infra

#30265 2.13.7 backports 1
  bom/application/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/TestMojo.java
  docs/src/main/asciidoc/building-native-image.adoc
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/QuarkusNettyConnectionCache.java
  extensions/cache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSHandlerTestWildcardOriginCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/MultiPartConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/cors/CORSFilterTest.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
Labels: area/documentation, area/panache, area/maven, area/infra, area/vertx, area/dependencies, area/devtools, area/cache, area/agroal

#30257 Improve Quarkus CLI tests to check for --native flag output
  devtools/cli/src/test/java/io/quarkus/cli/image/CliImageGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/image/CliImageMavenTest.java
Labels: area/devtools, area/cli

#30270 Support for Method parameter in methods annotated with @ClientExceptionMapper
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/ClientExceptionMapperHandler.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/DotNames.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/error/clientexceptionmapper/RegisteredClientExceptionMapperTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/ClientExceptionMapper.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/MicroProfileRestClientResponseFilter.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/ResteasyReactiveResponseExceptionMapper.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: area/documentation, area/resteasy-reactive

#30247 Support quoted and indexed properties during container launch
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
Labels: area/testing

#30263 gRPC Dev UI - fix problems when reusing the existing HTTP server
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devmode/GrpcDevConsoleProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devmode/GrpcDevConsoleWebSocketListener.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/GrpcDevConsoleRecorder.java
Labels: area/grpc, area/dev-ui

#30268 Infinispan Service Binding
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/infinispan-client/deployment/pom.xml
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/infinispan-client/runtime/pom.xml
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanServiceBindingConverter.java
  extensions/infinispan-client/runtime/src/main/resources/META-INF/services/io.quarkus.kubernetes.service.binding.runtime.ServiceBindingConverter
  extensions/infinispan-client/runtime/src/test/java/io/quarkus/infinispan/client/runtime/InfinispanServiceBindingConverterTest.java
  extensions/infinispan-client/runtime/src/test/resources/service-binding/all-props/hosts
  extensions/infinispan-client/runtime/src/test/resources/service-binding/all-props/password
  extensions/infinispan-client/runtime/src/test/resources/service-binding/all-props/provider
  extensions/infinispan-client/runtime/src/test/resources/service-binding/all-props/type
  extensions/infinispan-client/runtime/src/test/resources/service-binding/all-props/uri
  extensions/infinispan-client/runtime/src/test/resources/service-binding/all-props/useauth
  extensions/infinispan-client/runtime/src/test/resources/service-binding/all-props/username
  extensions/infinispan-client/runtime/src/test/resources/service-binding/no-props/type
Labels: area/infinispan

#30285 Fix @PartType ignored for String types in Resteasy Rest Client
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultipartFilenameTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartForm.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#30272 Update to Stork 1.4.1
  bom/application/pom.xml
Labels: area/dependencies, area/stork

#30273 CI - Skip quickstarts build for jakarta-rewrite and 3.0 branches
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#30256 Reduce Vale linter errors on valid technical terms in Quarkus docs
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/testinvalid.adoc
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/testvalid.adoc
  docs/.vale/fixtures/Quarkus/Headings/testvalid.adoc
  docs/.vale/fixtures/Quarkus/Spelling/testvalid.adoc
  docs/.vale/fixtures/Quarkus/TermsErrors/testinvalid.adoc
  docs/.vale/fixtures/Quarkus/TermsErrors/testvalid.adoc
  docs/.vale/styles/Quarkus/CaseSensitiveTerms.yml
  docs/.vale/styles/Quarkus/Headings.yml
  docs/.vale/styles/Quarkus/Spelling.yml
  docs/.vale/styles/Quarkus/TermsErrors.yml
Labels: area/documentation

#30281 Extend test framework to allow testing behaviour of quarkus:test
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/LaunchMojoTestBase.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/TestMojoIT.java
  test-framework/maven/pom.xml
  test-framework/maven/src/main/java/io/quarkus/maven/it/RunAndCheckMojoTestBase.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/continuoustesting/TestModeContinuousTestingMavenTestUtils.java
Labels: area/maven, area/testing

#30286 Implement output-name/add-runner-suffix on Gradle
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/nativeimage/BasicJavaNativeBuildIT.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/nativeimage/NativeIntegrationTestIT.java
Labels: area/gradle, area/devtools

#30301 Clarify how to pass javac/JVM flags to the Quarkus Maven plugin
  docs/src/main/asciidoc/_includes/devtools/maven-opts.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation

#30303 Remove warning when deploying to Kubernetes without pushing image
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
Labels: area/kubernetes

#30308 Add Mutiny 2/Flow changes and Kotlin not parent first
  jakarta/transform.sh
Labels: area/jakarta

#29778 Use prefix and name when matching unrecognized configurations keys
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  integration-tests/test-extension/extension/deployment/src/main/resources/application.properties
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/UnknownConfigTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/named/ProprietaryConfig.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/named/ProprietaryMapping.java
Labels: area/core, area/config

#30212 Fix Logging with Panache interaction with the Kotlin variant of Hibernate ORM with Panache
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeTransformerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingWithPanacheProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/KotlinPanacheClassOperationGenerationVisitor.java
  integration-tests/logging-panache-kotlin/pom.xml
  integration-tests/logging-panache-kotlin/src/main/kotlin/io/quarkus/logging/LoggingEntity.kt
  integration-tests/logging-panache-kotlin/src/main/kotlin/io/quarkus/logging/LoggingRepository.kt
  integration-tests/logging-panache-kotlin/src/test/kotlin/io/quarkus/logging/LoggingWithPanacheKotlinTest.java
  integration-tests/pom.xml
Labels: area/panache, area/core, triage/waiting-for-ci, triage/backport-2.15?, triage/backport?

#30279 Introduce VertxContextSupport
  docs/src/main/asciidoc/vertx.adoc
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/VertxContextSupportTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/VertxContextSupport.java
Labels: area/documentation, area/vertx

#30020 Register bouncycastle classes for reflection only when present
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
Labels: area/security, area/native-image

#30307 Support retrieval of all Multipart parts in RESTEasy Reactive
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartDataInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartOutputResource.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ParameterType.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/multipart/FormDataOutputMapperGenerator.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/DefaultFileUpload.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/FormData.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartMessageBodyWriter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartOutputInjectionTarget.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartSupport.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/BodyParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/MultipartDataInputExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/multipart/FileItem.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/multipart/FormValue.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/multipart/MultipartFormDataInput.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/multipart/MultipartFormDataOutput.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/multipart/PartItem.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/multipart/MultipartOutputResource.java
Labels: release/noteworthy-feature, area/documentation, release/breaking-change, area/resteasy-reactive

#29665 MongoDb with Panache: Add multi-tenancy support to MongoDb Panache throught dynamic database selection
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/panache/mongodb-panache-common/deployment/pom.xml
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
  extensions/panache/mongodb-panache-common/deployment/src/test/java/io/quarkus/mongodb/panache/common/MongoDatabaseResolverTest.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/MongoDatabaseResolver.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/runtime/ReactiveMongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/BeanUtils.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/MongoOperations.java
Labels: area/documentation, area/panache, area/mongodb

#30316 Cache programmatic API - invalidate entries whose keys match a predicate
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ProgrammaticApiTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/SpecializedCacheTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/Cache.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheImpl.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/noop/NoOpCache.java
Labels: area/cache

#30328 Add configuration property `quarkus.hibernate-orm.persistence-xml.ignore`
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/persistence/ExcludePersistenceXmlConfigUsingApplicationPropertiesTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/persistence/ExcludePersistenceXmlConfigUsingSystemPropertyTest.java
Labels: area/documentation, area/persistence, triage/waiting-for-ci, area/hibernate-orm

#30324 Improve unknown properties resolution for ConfigMappings
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
Labels: area/core, area/config

#29928 Generate a Versions java class for fabric8 dependencies
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/kubernetes-client/deployment/pom.xml
  extensions/kubernetes-client/deployment/src/main/java-templates/io/quarkus/kubernetes/client/deployment/Versions.java
  pom.xml
Labels: triage/waiting-for-ci, area/kubernetes, area/dependencies

#30350 Add missing @Produces in rest-data panache documentation
  docs/src/main/asciidoc/rest-data-panache.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#30344 Support URIs userInfo data in REST Client Reactive
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/UriUserInfoTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/AsyncInvokerImpl.java
Labels: area/resteasy-reactive, triage/backport?

#30357 build: dont fail when vale gets overwhelmed.
  .github/workflows/vale.yml
Labels: area/documentation, area/infra-automation

#30055 Register properly OpenApiConfigMapping at runtime
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptor
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiConfigMapping.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentService.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/RuntimeOnlyBuilder.java
Labels: area/core, area/config, area/smallrye, area/openapi, area/graphql

#30364 Propagate security annotations in the Spring Data Rest for all methods
  docs/src/main/asciidoc/spring-data-rest.adoc
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourcePropertiesProvider.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/AuthorsRepository.java
Labels: area/documentation, area/spring, triage/backport?

#30365 Fix timing issue in SearchCommandsTest.testAggregation
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SearchCommandsTest.java
Labels: area/redis

#30360 Remove test case from no-awt native integration test
  integration-tests/no-awt/src/main/java/io/quarkus/awt/it/GraphicsResource.java
  integration-tests/no-awt/src/test/java/io/quarkus/awt/it/GraphicsIT.java
Labels: area/native-image, area/graphics

#30369 Detail Environment Variables Config conversion rules
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/config.adoc
Labels: area/documentation

#30355 Updates to Infinispan 14.0.5.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/backport?

#30108 Update Maven to 3.8.7
  .mvn/wrapper/maven-wrapper.properties
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/pom.xml
  docs/src/main/asciidoc/building-native-image.adoc
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/MavenWrapperDownloader.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/mvnw.tpl.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/mvnw.tpl.qute.cmd
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
Labels: area/documentation, area/core, area/arc, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools

#30351 Bump Dekorate to 3.2.1
  bom/application/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyKubernetesIngressConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/IngressConfig.java
Labels: area/kubernetes, area/dependencies

#30320 Add console port to container execution for AMQP dev services
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
Labels: area/smallrye, area/reactive-messaging

#30021 Register kafka serializers and schemaregistry classes only when present
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.java
  extensions/schema-registry/confluent/common/deployment/src/main/java/io/quarkus/confluent/registry/common/ConfluentRegistryClientProcessor.java
Labels: area/core, triage/waiting-for-ci, area/native-image

#30361 Enhancements to Security docs Basic authentication tutorial
  docs/src/main/asciidoc/security-basic-authentication-tutorial.adoc
Labels: area/documentation, area/smallrye, area/openapi

#30389 Fix RestAssured URL handling and unexpected restarts in QuarkusProdModeTest
  test-framework/junit5-internal/pom.xml
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
  test-framework/junit5-internal/src/test/java/io/quarkus/test/QuarkusProdModeTestExpectExitTest.java
  test-framework/junit5-internal/src/test/java/io/quarkus/test/QuarkusProdModeTestTest.java
  test-framework/junit5-internal/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#30278 Allow transformation of private injected field to allow reflection-free injection
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/transform/injectionPoint/Bar.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/transform/injectionPoint/DummyBean.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/transform/injectionPoint/PrivateFieldInjectionTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/transform/injectionPoint/Simple.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/transform/injectionPoint/SomeDecorator.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/transform/injectionPoint/SomeInterceptor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/transform/injectionPoint/diffPackage/Foo.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/transform/injectionPoint/diffPackage/SomeBean.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AbstractGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
Labels: area/arc

#30394 Add Note in doc about service binding with DC
  docs/src/main/asciidoc/deploying-to-openshift.adoc
Labels: area/documentation

#30388 Add provided capability to OIDC extension
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/oidc/runtime/pom.xml
Labels: area/core, area/oidc, triage/backport?

#30290 Introduce `minimum-java-version` and `recommended-java-version`
  build-parent/pom.xml
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
Labels: triage/waiting-for-ci, area/dependencies, area/devtools, triage/backport-2.7?, triage/backport-2.13?, triage/backport-2.15?, triage/backport?

#30397 Tweak and optimize vale config
  docs/.vale/fixtures/Quarkus/Spelling/testinvalid.adoc
  docs/.vale/fixtures/Quarkus/Spelling/testvalid.adoc
  docs/.vale/styles/Quarkus/Spelling.yml
  docs/.vale/vale.ini
Labels: area/documentation

#30391 Qute type-safe messages - support resource bundle naming convention
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/LocalizedFileResourceBundleNameTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/i18n/Localized.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/i18n/MessageBundle.java
Labels: area/documentation, area/qute

#30393 Update to Vert.x 4.3.7
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/backport?

#30407 Fix invalid JavaScript identifier in DevUI sourceMaps
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport?

#30414 OpenTelemetry - Fix missing char
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#29026 Flyway and Liquibase are now run as init containers in manifests.
  core/deployment/src/main/java/io/quarkus/deployment/builditem/InitTaskBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/InitalizationTaskCompletedBuildItem.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/PreventFurtherStepsException.java
  core/runtime/src/main/java/io/quarkus/runtime/init/InitRuntimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/init/InitializationTaskRecorder.java
  docs/.vale/styles/Quarkus/Spelling.yml
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/flyway.adoc
  docs/src/main/asciidoc/liquibase-mongodb.adoc
  docs/src/main/asciidoc/liquibase.adoc
  docs/src/main/asciidoc/opentracing.adoc
  docs/src/main/asciidoc/spring-security.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/init/InitializtionTaskProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayContainerProducer.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayDataSourceRuntimeConfig.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRecorder.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRuntimeConfig.java
  extensions/kubernetes/kind/deployment/src/main/java/io/quarkus/kind/deployment/KindProcessor.java
  extensions/kubernetes/minikube/deployment/src/main/java/io/quarkus/minikube/deployment/MinikubeProcessor.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesInitContainerBuildItem.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesJobBuildItem.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesRoleBindingBuildItem.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesRoleBuildItem.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddJobResourceDecorator2.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DevClusterHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/InitTaskProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/runtime/LiquibaseMongodbConfig.java
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/runtime/LiquibaseMongodbRecorder.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRuntimeConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithFlywayInitTest.java
Labels: release/noteworthy-feature, area/documentation, area/core, area/arc, area/kubernetes, area/flyway, area/liquibase

#30410 Introduce support for GraalVM `--enable-monitoring`
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/backport?

#30043 Enhance doc contributor guide with information about creating new content, landing page config, and URL redirection
  docs/src/main/asciidoc/doc-contribute-docs-howto.adoc
Labels: area/documentation, area/vertx, triage/needs-vale-rule-tweak

#30429 Bump Keycloak version to 20.0.3
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/documentation, area/oidc, area/dependencies, triage/backport?

#30421 2.16.0 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeTransformerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingWithPanacheProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ParentFirstFlagPropagationTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/RunnerParentFirstFlagPropagationTest.java
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
  docs/src/main/asciidoc/_includes/devtools/maven-opts.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/rest-data-panache.adoc
  docs/src/main/asciidoc/spring-data-rest.adoc
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/oidc/runtime/pom.xml
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/KotlinPanacheClassOperationGenerationVisitor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/UriUserInfoTest.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourcePropertiesProvider.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsQuarkusExt.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/AsyncInvokerImpl.java
  integration-tests/logging-panache-kotlin/pom.xml
  integration-tests/logging-panache-kotlin/src/main/kotlin/io/quarkus/logging/LoggingEntity.kt
  integration-tests/logging-panache-kotlin/src/main/kotlin/io/quarkus/logging/LoggingRepository.kt
  integration-tests/logging-panache-kotlin/src/test/kotlin/io/quarkus/logging/LoggingWithPanacheKotlinTest.java
  integration-tests/pom.xml
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/AuthorsRepository.java
  test-framework/junit5-internal/pom.xml
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
  test-framework/junit5-internal/src/test/java/io/quarkus/test/QuarkusProdModeTestExpectExitTest.java
  test-framework/junit5-internal/src/test/java/io/quarkus/test/QuarkusProdModeTestTest.java
  test-framework/junit5-internal/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: area/documentation, area/panache, area/core, area/infra, area/vertx, area/testing, area/oidc, area/spring, area/dependencies, area/devtools, area/resteasy-reactive

#30416 Revert "Propagate parent-first flag"
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ParentFirstFlagPropagationTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/RunnerParentFirstFlagPropagationTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsQuarkusExt.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
Labels: area/core, area/devtools

#30415 Arc - Change Types#getTypeClosure so that superclasses and interfaces of producer types no longer throw on finding wildcards
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
Labels: area/arc

#30399 Fix ElasticSearch Dev Services container restart
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/ElasticsearchDevServicesBuildTimeConfig.java
Labels: triage/waiting-for-ci, area/elasticsearch, triage/backport?

#30409 Actually forbid simultaneous use of persistence.xml and `quarkus.hibernate-orm.*` properties
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/persistence/PersistenceXmlAndQuarkusConfigTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/persistence/PersistenceXmlTest.java
Labels: area/persistence, area/hibernate-orm, release/breaking-change

#29597 Recompose security-openid-connect.adoc
  docs/src/main/asciidoc/security-basic-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-jwt-build.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-keycloak-admin-client.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
  docs/src/main/asciidoc/security-oidc-bearer-authentication-concept.adoc
  docs/src/main/asciidoc/security-oidc-configuration-properties-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc
  docs/src/main/asciidoc/security-overview-concept.adoc
  docs/src/main/asciidoc/security-protect-service-application-using-oidc-bearer-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-testing.adoc
Labels: area/documentation

#30420 [2.13] - Backport Vert.x Metrics support
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailClientProducer.java
  extensions/micrometer/deployment/pom.xml
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxEventBusMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxHttpClientMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxTcpMetricsNoClientMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxTcpMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxUdpMetricsTest.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/HttpBinderConfiguration.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/EventTiming.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/NetworkMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxEventBusMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxNetworkMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxPoolMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxUdpMetrics.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/MSSQLPoolRecorder.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-oracle-client/runtime/src/main/java/io/quarkus/reactive/oracle/client/runtime/OraclePoolRecorder.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/VertxRedisClientFactory.java
Labels: area/persistence, area/redis, area/metrics, area/mailer, area/reactive-sql-clients

#30329 Test against OpenJDK 21 EA
  .github/workflows/jdk-early-access-build.yml
Labels: area/infra-automation

#30443 [2.13] Reduce Config startup footprint
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DefaultsConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DisableableConfigSource.java
Labels: area/core, area/config

#30440 [2.13] Update SmallRye Config to 2.12.3
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies

#30434 Qute - introduce the EngineConfiguration annotation
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/EngineConfigurationsBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Names.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/resolver/CustomResolversTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/CustomSectionFactory.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/CustomSectionHelperFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/CustomSectionHelperTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/StringProducer.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/WrongTargetConstructorTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/WrongTargetNestedTypeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/WrongTargetTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineConfiguration.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SingleResultNode.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#28582 Update documentation for package type
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
Labels: area/core, triage/waiting-for-ci

#30454 [2.13] Disable DuplicatedContextTest#testThatBlockingEventConsumersAreCalledOnDuplicatedContext on Windows
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/DuplicatedContextTest.java
Labels: area/vertx

#30314 Cache programmatic API - support asynchronous value loader
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/ProgrammaticApiTest.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/SpecializedCacheTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/Cache.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/AbstractCache.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/UnresolvedUniValue.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheImpl.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/noop/NoOpCache.java
Labels: triage/waiting-for-ci, area/cache

#30467 Bot - Add Jose to RESTEasy Reactive mentions
  .github/quarkus-github-bot.yml
Labels: area/infra, area/infra-automation

#30426 Fix redundant push when using buildx
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
Labels: triage/backport?

#30472 Register Kafka checkpoint ProcessingState as reflective class for native
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
Labels: area/smallrye, area/reactive-messaging

#30470 Revert --enable-monitoring with no arguments support
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci

#28921 OpenTelemetry JDBC instrumentation - fix Oracle and DB2 in native mode
  .github/native-tests.json
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
  extensions/jdbc/jdbc-oracle/runtime/pom.xml
  extensions/jdbc/jdbc-oracle/runtime/src/main/java/io/quarkus/jdbc/oracle/runtime/graal/ObjIdSubstitutions.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryDriverJdbcDataSourcesBuildItem.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/dev/DevServicesOpenTelemetryProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  integration-tests/opentelemetry-jdbc-instrumentation/README.md
  integration-tests/opentelemetry-jdbc-instrumentation/pom.xml
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/java/io/quarkus/it/opentelemetry/ExporterResource.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/java/io/quarkus/it/opentelemetry/PingPongResource.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/java/io/quarkus/it/opentelemetry/model/Hit.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/java/io/quarkus/it/opentelemetry/model/db2/Db2Hit.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/java/io/quarkus/it/opentelemetry/model/mariadb/MariaDbHit.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/java/io/quarkus/it/opentelemetry/model/oracle/OracleHit.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/java/io/quarkus/it/opentelemetry/model/pg/PgHit.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/resources/META-INF/resources/test.html
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/resources/application.properties
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/Db2LifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/Db2OpenTelemetryJdbcInstrumentationIT.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/Db2OpenTelemetryJdbcInstrumentationTest.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/MariaDbLifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/MariaDbOpenTelemetryJdbcInstrumentationIT.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/MariaDbOpenTelemetryJdbcInstrumentationTest.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryJdbcInstrumentationTest.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleOpenTelemetryJdbcInstrumentationIT.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleOpenTelemetryJdbcInstrumentationTest.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/PostgreSqlLifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/PostgresOpenTelemetryJdbcInstrumentationIT.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/PostgresOpenTelemetryJdbcInstrumentationTest.java
  integration-tests/pom.xml
Labels: area/persistence, area/core, area/infra-automation, area/tracing, area/agroal

#30418 Disable -D argument propagation in DevMojo
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, area/devtools

#30406 Fix istio CI workflow by adding --embed-certs
  .github/workflows/ci-istio.yml
Labels: area/infra-automation

#30486 Bump smallrye-mutiny-vertx-binding from 3.0.0 to 3.2.0
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/mutiny

#30455 Introduce `quarkus.datasource.devservices.init-script-path`
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceContainerConfig.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
  extensions/jdbc/jdbc-postgresql/deployment/src/test/java/io/quarkus/jdbc/postgresql/deployment/DevServicesPostgresqlDatasourceWithInitScriptTestCase.java
  extensions/jdbc/jdbc-postgresql/deployment/src/test/resources/init-db.sql
Labels: triage/waiting-for-ci, area/devservices

#30449 Register eventbus message codec when headers are present in consumer
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusCodecProcessor.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/CodecRegistrationTest.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/EventBusConsumer.java
  integration-tests/vertx/src/main/java/io/quarkus/it/vertx/EventBusSender.java
  integration-tests/vertx/src/test/java/io/quarkus/it/vertx/EventBusTest.java
Labels: area/vertx, triage/waiting-for-ci

#30490 Avoid adding the exception itself as a suppressed exception
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport?

#30447 Arc - remove wildcard types from bean types of class-based beans
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/TypesTest.java
Labels: area/arc, area/hibernate-validator

#30478 Allow context propagation for OpenTelemetry
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/propagation/OpenTelemetryMpContextPropagationProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/propagation/OpenTelemetryMpContextPropagationTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/propagation/OpenTelemetryMpContextPropagationProvider.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/tracing/OpenTelemetryTracingTest.java
Labels: area/documentation, area/scheduler, area/tracing

#30469 Introduce CacheSectionHelper
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/cache/runtime/pom.xml
  extensions/cache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/qute/deployment/pom.xml
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/CacheProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/cache/CacheTest.java
  extensions/qute/runtime/pom.xml
  extensions/qute/runtime/src/main/java/io/quarkus/qute/cache/QuteCache.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/cache/CacheConfigurator.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/CacheSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/CacheSectionTest.java
Labels: release/noteworthy-feature, area/documentation, triage/waiting-for-ci, area/qute, area/cache
