Repository quarkusio/quarkus, pull requests merged in 2023-03, with the labels that each got.

#31453 Implement the dev service page
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-dev-services.js
Labels: area/vertx

#31435 Implement the container image card
  core/devmode-spi/src/main/java/io/quarkus/dev/console/DevConsoleManager.java
  extensions/container-image/deployment/pom.xml
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/devconsole/ContainerImageDevUiProcessor.java
  extensions/container-image/deployment/src/main/resources/dev-ui/container-image/qwc-container-image-build.js
  extensions/container-image/runtime/pom.xml
  extensions/container-image/runtime/src/main/java/io/quarkus/container/image/runtime/devui/ContainerBuilderJsonRpcService.java
Labels: area/core, area/dependencies

#31427 Add the data source card + qwc-alert
  extensions/datasource/deployment/pom.xml
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevUIDatasourceProcessor.java
  extensions/datasource/deployment/src/main/resources/dev-ui/datasources/qwc-datasources-reset.js
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DatasourceJsonRpcService.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-alert.js
Labels: area/vertx

#31494 Fix maven BuildIT failures
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/jaxb/runtime/src/main/java/io/quarkus/jaxb/runtime/JaxbConfig.java
  integration-tests/maven/src/test/resources-filtered/projects/classloader-linkage-error/src/main/resources/application.properties
Labels: area/maven, area/jaxb

#30309 Introduce deploy CLI commands
  core/deployment/src/main/java/io/quarkus/deployment/util/DeploymentUtil.java
  devtools/cli/src/main/java/io/quarkus/cli/BuildToolContext.java
  devtools/cli/src/main/java/io/quarkus/cli/BuildToolDelegatingCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/Deploy.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/main/java/io/quarkus/cli/build/BaseBuildCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/BaseKubernetesDeployCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Kind.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Knative.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Kubernetes.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/KubernetesOptions.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Minikube.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Openshift.java
  devtools/cli/src/main/java/io/quarkus/cli/image/BaseImageCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/image/BaseImageSubCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Build.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Buildpack.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Docker.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Jib.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Openshift.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Push.java
  devtools/cli/src/main/java/io/quarkus/cli/utils/GradleInitScript.java
  devtools/cli/src/test/java/io/quarkus/cli/CliHelpTest.java
  devtools/cli/src/test/java/io/quarkus/cli/deploy/CliDeployGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/deploy/CliDeployMavenTest.java
  devtools/cli/src/test/java/io/quarkus/cli/utils/GradleInitScriptTest.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/Deploy.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/maven/src/main/java/io/quarkus/maven/AbstractDeploymentMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/AbstractImageMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/DeployMojo.java
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/kubernetes-dev-services.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientBuildConfig.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientUtils.java
  extensions/kubernetes/kind/deployment/src/main/java/io/quarkus/kind/deployment/KindProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfigUtil.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  integration-tests/istio/maven-invoker-way/pom.xml
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/invoker.properties
Labels: area/documentation, triage/needs-rebase, area/gradle, area/core, area/maven, area/kubernetes, area/devtools, area/cli

#31452 Runtime init the cleaner instance in ResourceCleaner
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
Labels: triage/waiting-for-ci

#31504 Dump build logs when MavenIT fails
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
Labels: area/maven, triage/waiting-for-ci

#31483 Fix documentation for quarkus.hibernate-orm.enabled
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/JavaDocParser.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocConfigDescriptionParserTest.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
Labels: area/persistence, area/core, triage/waiting-for-ci, area/hibernate-orm, triage/backport?

#31432 Implement the reactive messaging card
  extensions/smallrye-reactive-messaging/deployment/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/devconsole/ReactiveMessagingDevUiProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/resources/dev-ui/smallrye-reactive-messaging/qwc-smallrye-reactive-messaging-channels.js
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/devconsole/ReactiveMessagingJsonRpcService.java
Labels: area/smallrye, area/reactive-messaging

#31357 Enhance docs contributor info (2.16.4 backport from main)
  docs/src/main/asciidoc/README.adoc
  docs/src/main/asciidoc/_templates/template-concept.adoc
  docs/src/main/asciidoc/_templates/template-howto.adoc
  docs/src/main/asciidoc/_templates/template-reference.adoc
  docs/src/main/asciidoc/_templates/template-tutorial.adoc
  docs/src/main/asciidoc/doc-concept.adoc
  docs/src/main/asciidoc/doc-contribute-docs-howto.adoc
  docs/src/main/asciidoc/doc-create-tutorial.adoc
  docs/src/main/asciidoc/doc-reference.adoc
  docs/src/main/asciidoc/images/diataxis-framework.png
Labels: area/documentation

#31507 Adjust API in transaction.adoc code snippet
  docs/src/main/asciidoc/transaction.adoc
Labels: triage/backport?

#31510 Add logging to CompiledJavaVersionBuildStep
  core/deployment/src/main/java/io/quarkus/deployment/steps/CompiledJavaVersionBuildStep.java
Labels: triage/waiting-for-ci, triage/backport?

#31426 Implement the Micrometer card for the new dev ui
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/JsonRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/PrometheusRegistryProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/RegistryBuildItem.java
Labels: area/metrics

#31509 ArC - new Dev UI - only show events/invocations if monitoring is enabled
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcDevUIProcessor.java
Labels: triage/waiting-for-ci

#31526 Upgrade to Hibernate ORM 6.2.0.CR3
  bom/application/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateLogFilterBuildStep.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/StandardHibernateORMInitiatorListProvider.java
Labels: area/persistence, area/hibernate-orm, area/dependencies

#31524 Update bug report issue template fields
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: area/infra-automation

#31498 Added a note to get correct OpenAPI documentation
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation, triage/backport?

#31447 SmallRye GraphQL 1.9.3, test for Deprecated annotation
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/DeprecatedGraphQLDirectivesTest.java
Labels: area/smallrye, area/dependencies, area/graphql

#31471 [2.16] Make sure parent modules are loaded into workspace before those that depend on them
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-module-with-different-parent/acme-build/acme-build-no-bom-parent/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-module-with-different-parent/acme-build/acme-build-parent/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-module-with-different-parent/acme-build/acme-dependencies-bom/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-module-with-different-parent/acme-build/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-module-with-different-parent/pom.xml
Labels: area/devtools, triage/backport-2.13?

#31532 Interpret negative/zero body-limit as infinite when logging REST Client request body
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/logging/DefaultClientLogger.java
Labels: area/rest-client, triage/backport?

#31501 Update SmallRye GraphQL to 2.1.1
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/pom.xml
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/GraphQLClientUnexpectedFieldsTest.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfig.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/DeprecatedGraphQLDirectivesTest.java
Labels: area/smallrye, area/dependencies, area/graphql

#31534 Make sure PUs are active in PostgresOpenTelemetryJdbcInstrumentationIT
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/resources/application.properties
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/Db2LifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/MariaDbLifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleLifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleOpenTelemetryJdbcInstrumentationTest.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/PostgreSqlLifecycleManager.java
Labels: area/tracing

#31535 Fix various documentation problems
  docs/src/main/asciidoc/doc-contribute-docs-howto.adoc
  docs/src/main/asciidoc/infinispan-dev-services.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms-concept.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
Labels: area/documentation

#31438 HTTP response compression - fix Undertow and RESTEasy Classsic support
  docs/src/main/asciidoc/resteasy.adoc
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/HttpCompressionHandler.java
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/compress/CompressionDisabledTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/compress/CompressionEnabledTestCase.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/compress/SimpleServlet.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpBuildTimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpCompressionHandler.java
Labels: area/documentation, area/vertx, triage/waiting-for-ci, area/undertow

#31192 Support HTTP/2 connections in REST Client Reactive
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/api/QuarkusRestClientProperties.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientResponseImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/MultiByteHttpData.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/PausableHttpPostRequestEncoder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/multipart/QuarkusMultipartFormUpload.java
  integration-tests/pom.xml
  integration-tests/rest-client-reactive-http2/pom.xml
  integration-tests/rest-client-reactive-http2/src/main/java/io/quarkus/it/rest/client/http2/Client.java
  integration-tests/rest-client-reactive-http2/src/main/java/io/quarkus/it/rest/client/http2/Resource.java
  integration-tests/rest-client-reactive-http2/src/main/java/io/quarkus/it/rest/client/http2/multipart/MultipartClient.java
  integration-tests/rest-client-reactive-http2/src/main/java/io/quarkus/it/rest/client/http2/multipart/MultipartResource.java
  integration-tests/rest-client-reactive-http2/src/main/resources/application.properties
  integration-tests/rest-client-reactive-http2/src/test/java/io/quarkus/it/rest/client/http2/ResourceIT.java
  integration-tests/rest-client-reactive-http2/src/test/java/io/quarkus/it/rest/client/http2/ResourceTest.java
  integration-tests/rest-client-reactive-http2/src/test/java/io/quarkus/it/rest/client/http2/multipart/MultipartResourceIT.java
  integration-tests/rest-client-reactive-http2/src/test/java/io/quarkus/it/rest/client/http2/multipart/MultipartResourceTest.java
  integration-tests/rest-client-reactive-multipart/src/main/resources/larger-than-default-form-attribute.txt
  integration-tests/rest-client-reactive-multipart/src/test/java/io/quarkus/it/rest/client/multipart/LargerThanDefaultFormAttributeMultipartFormInputTest.java
Labels: release/noteworthy-feature, area/documentation, area/resteasy-reactive

#30757 Allow same origin CORS requests without 3rd party origins being configured
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSSameOriginWithoutOriginConfigTestCase.java
  extensions/vertx-http/deployment/src/test/resources/conf/cors-same-origin-only.properties
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java
Labels: area/vertx, triage/backport-2.13?, triage/backport?

#31518 Prevent ContextNotActiveException during invalid config validation if resteasy-reactive module is present
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/locale/ResteasyReactiveLocaleResolver.java
  integration-tests/hibernate-validator-resteasy-reactive/src/test/java/io/quarkus/it/hibernate/validator/ConfigMappingStartupValidatorTest.java
Labels: area/hibernate-validator

#31482 Remove incorrect default value for keepAliveEnabled
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
Labels: triage/backport?

#31384 Ignore required documentation for @ConfigMapping default methods
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestMappingBuildTime.java
Labels: area/core, triage/backport?

#31551 Scheduler - detect scheduled methods of the same name on a class
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/ScheduledBusinessMethodItem.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/MultipleScheduledMethodsWithTheSameNameTest.java
Labels: area/scheduler, triage/waiting-for-ci, triage/backport?

#31424 Implement the cache card for the new dev ui
  extensions/cache/deployment/pom.xml
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/devconsole/CacheDevUiConsoleProcessor.java
  extensions/cache/deployment/src/main/resources/dev-ui/cache/qwc-cache-caches.js
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/devconsole/CacheJsonRPCService.java
Labels: area/cache

#31553 Initial version of the config editor page
  bom/application/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/ConfigEditorProcessor.java
  extensions/vertx-http/dev-ui-resources/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/ConfigJsonRpcService.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/config/VertxConfiguration.java
Labels: area/vertx, area/dependencies

#31538 Dev UI: add new warning color
  extensions/datasource/deployment/src/main/resources/dev-ui/datasources/qwc-datasources-reset.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/notifier.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-alert.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-badge.js
Labels: area/vertx

#31503 Fix randomly failures when deploying to OpenShift/K8s on JVM/Native
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/kubernetes-client/deployment-internal/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientBuildStep.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/QuarkusHttpClientFactory.java
  extensions/kubernetes-client/runtime-internal/src/main/resources/META-INF/services/io.fabric8.kubernetes.client.http.HttpClient$Factory
  extensions/kubernetes-client/spi/src/main/java/io/quarkus/kubernetes/client/spi/KubernetesClientBuildItem.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeploy.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployerPrerequisite.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftDeployer.java
Labels: triage/waiting-for-ci, area/kubernetes

#31542 Dev UI: Fix snap to bottom and use badge
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-footer.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-server-log.js
Labels: area/vertx, triage/waiting-for-ci

#31560 Prevent SSE writing from potentially causing accumulation of headers
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSetResponseEntityRestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/InboundSseEventImpl.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/Serialisers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/SseUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/StreamingUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartMessageBodyWriter.java
Labels: triage/waiting-for-ci, triage/backport-2.13?, triage/backport?

#31571 Scheduler - new Dev UI improvements
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Trigger.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/devui/SchedulerDevUIProcessor.java
  extensions/scheduler/deployment/src/main/resources/dev-ui/scheduler/qwc-scheduler-log.js
  extensions/scheduler/deployment/src/main/resources/dev-ui/scheduler/qwc-scheduler-scheduled-methods.js
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/devui/SchedulerJsonRPCService.java
Labels: area/scheduler, triage/waiting-for-ci, area/dev-ui

#31356 Upgrade to OpenTelemetry v1.23.1 and smallrye-reactive-messaging to v4.4.0
  bom/application/pom.xml
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryDevModeTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDILegacyTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryHttpCDITest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryMDCTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryResourceTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/RestClientOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxClientOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcAttributesGetter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcTracingServerInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/restclient/OpenTelemetryClientFilter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/EventBusInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/HttpInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/SqlClientInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/VertxUtil.java
  integration-tests/opentelemetry-grpc/src/test/java/io/quarkus/it/opentelemetry/grpc/OpenTelemetryGrpcTest.java
  integration-tests/opentelemetry-reactive-messaging/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveClientTest.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/HelloRouterTest.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/SqlClientTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTest.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
  tcks/microprofile-opentelemetry/pom.xml
Labels: area/reactive-messaging, release/breaking-change, area/dependencies, area/tracing

#31545 Append System.lineSeparator() to config error messages
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigRecorder.java
Labels: area/arc, triage/backport?

#31550 RESTEasy Reactive: treat multipart file input as regular input
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FormData.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputTest.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/ClassInjectorTransformer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartSupport.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/MultipartFormParamExtractor.java
Labels: area/resteasy-reactive

#31572 Dev UI - make a JsonRPCProvider an application scoped bean by default
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
Labels: area/vertx, triage/waiting-for-ci, area/dev-ui

#31584 Add a Quarkus 3 board to the project planning
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#31574 Support multiple levels of repository interfaces in Spring Data JPA
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/GenerationUtil.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/ByPassHolder.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/BypassHolderRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/IntermediatePostRepository.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/Post.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/PostRepository.java
  integration-tests/spring-data-jpa/src/main/resources/application.properties
Labels: area/spring

#30933 Switch Windows build to Java 17
  .github/matrix-jvm-tests.json
Labels: area/infra-automation

#31578 Dev UI: Upgrade to vaadin 23.3.8 and use grouped gav
  bom/application/pom.xml
  extensions/vertx-http/dev-ui-resources/pom.xml
Labels: area/vertx, triage/waiting-for-ci, area/dependencies

#31582 Exclude VertxHttpClientFactory in favour of QuarkusHttpClientFactory
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/kubernetes-client/runtime-internal/src/main/resources/META-INF/services/io.fabric8.kubernetes.client.http.HttpClient$Factory
Labels: triage/waiting-for-ci, area/kubernetes

#31597 Allow usage of other multipart types in Reactive REST Client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultiByteFileTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
Labels: area/resteasy-reactive

#31610 Docs - suggest `StaticInitConfigBuilderBuildItem` instead of deprecated `StaticInitConfigSourceProviderBuildItem`
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#31608 Fix a typo in the Hibernate Reactive with Panache guide
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
Labels: area/documentation

#31540 Configuration property to work with database schemas generated for Hibernate ORM 5.6
  build-parent/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/SettingsSpyingIdentifierGenerator.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/databaseormcompatibility/DatabaseOrmCompatibilityVersionTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/unsupportedproperties/UnsupportedPropertiesTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/BuildTimeSettings.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/RuntimeSettings.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/config/DatabaseOrmCompatibilityVersion.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  integration-tests/hibernate-orm-compatibility-5.6/README.md
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/src/main/java/io/quarkus/it/hibernate/compatibility/Main.java
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntity.java
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntityWithGenericGeneratorAndDefaultAllocationSize.java
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntityWithSequenceGeneratorAndDefaultAllocationSize.java
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/src/main/java/io/quarkus/it/hibernate/compatibility/MyEnum.java
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/src/main/resources/application.properties
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/main/java/io/quarkus/it/hibernate/compatibility/CompatibilityTestResource.java
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntity.java
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntityWithGenericGeneratorAndDefaultAllocationSize.java
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntityWithSequenceGeneratorAndDefaultAllocationSize.java
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/main/java/io/quarkus/it/hibernate/compatibility/MyEnum.java
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/main/resources/application.properties
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/test/java/io/quarkus/it/hibernate/compatibility/CompatibilityTest.java
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/test/java/io/quarkus/it/hibernate/compatibility/CompatibilityTestInGraalITCase.java
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/test/resources/db/migration/V1.0.0__orm5-6.sql
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/test/resources/db/migration/V1.0.1__reset-sequences.sql
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/update-dump.sh
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/main/java/io/quarkus/it/hibernate/compatibility/CompatibilityTestResource.java
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntity.java
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntityWithGenericGeneratorAndDefaultAllocationSize.java
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/main/java/io/quarkus/it/hibernate/compatibility/MyEntityWithSequenceGeneratorAndDefaultAllocationSize.java
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/main/java/io/quarkus/it/hibernate/compatibility/MyEnum.java
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/main/resources/application.properties
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/test/java/io/quarkus/it/hibernate/compatibility/CompatibilityTest.java
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/test/java/io/quarkus/it/hibernate/compatibility/CompatibilityTestInGraalITCase.java
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/test/resources/db/migration/V1.0.0__orm5-6.sql
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/update-dump.sh
  integration-tests/pom.xml
Labels: area/persistence, area/hibernate-orm, area/dependencies, area/hibernate-reactive

#31609 Add `sort` list generic type argument for Panache REST Data
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
Labels: area/panache, triage/backport?

#31581 Arc - Do not validate static members in inner non-static classes for CDI annotations
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/WrongAnnotationUsageProcessor.java
Labels: area/arc

#31627 Preserve Mockito's subclass behavior
  test-framework/junit5-mockito/pom.xml
Labels: area/testing

#31622 Fix false pos churn (trivial etc ) generated by the Quarkus docs Vale style rules
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/RepeatedWords/.vale.ini
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/RepeatedWords/testinvalid.adoc
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/RepeatedWords/testvalid.adoc
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/Spacing/.vale.ini
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/Spacing/testinvalid.adoc
  docs/.vale/fixtures/Quarkus/CaseSensitiveTerms/Spacing/testvalid.adoc
  docs/.vale/fixtures/Quarkus/Spelling/testvalid.adoc
  docs/.vale/styles/Quarkus/CaseSensitiveTerms.yml
  docs/.vale/styles/Quarkus/ConsciousLanguage.yml
  docs/.vale/styles/Quarkus/Headings.yml
  docs/.vale/styles/Quarkus/RepeatedWords.yml
  docs/.vale/styles/Quarkus/Spacing.yml
  docs/.vale/styles/Quarkus/Spelling.yml
  docs/.vale/styles/Quarkus/TermsErrors.yml
  docs/.vale/styles/Quarkus/TermsSuggestions.yml
  docs/.vale/styles/Quarkus/TermsWarnings.yml
Labels: area/documentation

#31617 Bump Stork version 1.4.2
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/stork

#31633 Fix typos in the Cache doc
  docs/src/main/asciidoc/cache.adoc
Labels: area/documentation

#31601 Make Scheduler not log in Dev UI log
  extensions/scheduler/deployment/src/main/resources/dev-ui/scheduler/qwc-scheduler-log.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/log-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/storage-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-footer.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-jsonrpc-messages.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-menu.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-server-log.js
Labels: area/vertx, area/scheduler

#31632 Fail the doc build on CI if INFO
  .github/workflows/doc-build.yml
  docs/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
Labels: area/documentation, area/hibernate-search, area/infra-automation

#31500 Switch to the new ORM 6 dialects when possible
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dialect/QuarkusPostgreSQL10Dialect.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dialect/QuarkusPostgreSQL95Dialect.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm

#31630 Register ObjectId for reflection
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
Labels: area/panache, area/mongodb

#31620 Polish tests and documentation for `quarkus.hibernate-orm.database.orm-compatibility.version`
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemFinder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemScanner.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigDocEnumValue.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/config/DatabaseOrmCompatibilityVersion.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/src/test/java/io/quarkus/it/hibernate/compatibility/CompatibilityTestInGraalITCase.java
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/src/test/java/io/quarkus/it/hibernate/compatibility/CompatibilityTestInGraalITCase.java
Labels: area/persistence, area/core, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#31615 Upgrade to Liquibase 4.19.1
  bom/application/pom.xml
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
Labels: area/dependencies, area/liquibase

#31591 Higher timeouts for Native tests Data 1 and Maven tests
  .github/native-tests.json
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra, area/infra-automation

#31611 Don't use Gradle daemon in Gradle integration tests
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusGradleWrapperTestBase.java
Labels: area/gradle

#31647 Disable AddExtensionToModuleInMultiModuleKtsProjectTest for now
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AddExtensionToModuleInMultiModuleKtsProjectTest.java
Labels: area/gradle

#31643 Fix iterator issue when executing a zrange with score on a missing key
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractSortedSetCommands.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SortedSetCommandsTest.java
Labels: kind/bug, area/redis, triage/backport?

#31613 Ensure large payloads don't affect the invoking thread of a Resource Method
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/deployment/src/test/java/io/quarkus/resteasy/reactive/jaxb/deployment/test/SimpleXmlTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/SimpleJsonResource.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/InputHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/BodyPayloadBlockingAllowedTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#31641 Dev UI: RestEasy Reactive
  bom/application/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/devui/ResteasyReactiveDevUIProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-card.js
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-endpoint-scores.js
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-exception-mappers.js
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-parameter-converter-providers.js
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/devui/ResteasyReactiveExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/devui/ResteasyReactiveJsonRPCService.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/devui/ResteasyReactiveParamConverterProvider.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/echarts/echarts-abstract-canvas.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/echarts/echarts-gauge-grade.js
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/util/ScoreSystem.java
Labels: area/vertx, area/dependencies, area/resteasy-reactive

#31654 Update PR preview and teardown URL domains
  .github/workflows/preview-teardown.yml
  .github/workflows/preview.yml
Labels: area/infra-automation

#31598 Make printed update command compatible with Windows
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
Labels: area/platform, area/devtools

#31653 Add a guide for the Elasticsearch Java API client
  docs/src/main/asciidoc/elasticsearch.adoc
Labels: area/documentation, triage/waiting-for-ci

#31661 Update to proton-j 0.34.1
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#31659 Fix cli update for Maven
  devtools/cli/src/main/java/io/quarkus/cli/build/BuildSystemRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/JBangRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/common/TargetQuarkusVersionGroup.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusUpdate.java
  devtools/maven/src/main/java/io/quarkus/maven/UpdateMojo.java
Labels: area/gradle, area/maven, area/devtools, area/cli, area/jbang

#31672 Dev UI: Polyfill for importmaps
  bom/application/pom.xml
  extensions/vertx-http/dev-ui-resources/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui-templates/build-time/index.html
Labels: area/vertx, triage/waiting-for-ci, area/dependencies

#31364 Add more detail code and procedures on hibernate-orm-panache doc
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
Labels: area/documentation, area/panache, area/hibernate-orm

#31589 ArC TCKs
  independent-projects/arc/arquillian/pom.xml
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcContainerConfiguration.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcDeployableContainer.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcExtension.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcProtocol.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcProtocolConfiguration.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/BeanArchive.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/Deployer.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/DeploymentClassLoader.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/DeploymentDir.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/ExtraBean.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/utils/Archives.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/utils/ClassLoading.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/utils/Directories.java
  independent-projects/arc/arquillian/src/main/java/io/quarkus/arc/arquillian/utils/Hacks.java
  independent-projects/arc/arquillian/src/main/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension
  independent-projects/arc/atinject-tck-runner/pom.xml
  independent-projects/arc/atinject-tck-runner/src/test/java/io/quarkus/arc/tck/AtInjectTckExtension.java
  independent-projects/arc/atinject-tck-runner/src/test/java/io/quarkus/arc/tck/AtInjectTest.java
  independent-projects/arc/atinject-tck-runner/src/test/java/io/quarkus/arc/tck/Spare.java
  independent-projects/arc/cdi-tck-porting-pkg/pom.xml
  independent-projects/arc/cdi-tck-porting-pkg/src/main/java/io/quarkus/arc/tck/porting/BeansImpl.java
  independent-projects/arc/cdi-tck-porting-pkg/src/main/java/io/quarkus/arc/tck/porting/ContextsImpl.java
  independent-projects/arc/cdi-tck-porting-pkg/src/main/java/io/quarkus/arc/tck/porting/ELImpl.java
  independent-projects/arc/cdi-tck-porting-pkg/src/main/resources/META-INF/cdi-tck.properties
  independent-projects/arc/cdi-tck-runner/pom.xml
  independent-projects/arc/cdi-tck-runner/src/test/resources/META-INF/cdi-tck.properties
  independent-projects/arc/cdi-tck-runner/src/test/resources/testng.xml
  independent-projects/arc/lang-model-tck-runner/pom.xml
  independent-projects/arc/lang-model-tck-runner/src/test/java/io/quarkus/arc/tck/LangModelTckExtension.java
  independent-projects/arc/lang-model-tck-runner/src/test/java/io/quarkus/arc/tck/LangModelTest.java
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralGenerator.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/AnnotationLiteralProcessorTest.java
Labels: area/arc, triage/waiting-for-ci

#31674 Dev UI: added a way to react on hot reload
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-card.js
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-endpoint-scores.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/logstream/LogStreamProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-hot-reload-element.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-server-log.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/state/devui-state.js
Labels: area/vertx, area/resteasy-reactive

#31679 Update dependabot config to include updating qpid proton-j
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#31592 Add debugging info to IllegalStateException (include the GACT string and the index)
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/GACT.java
Labels: area/devtools

#31666 Validate the default JAXBContext at build time only if it is really u…
  extensions/jaxb/deployment/pom.xml
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/FilteredJaxbClassesToBeBoundBuildItem.java
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbClassesToBeBoundBuildItem.java
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/ConflictingModelClassesMarshalerOnlyTest.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/ConflictingModelClassesTest.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/InjectJaxbContextTest.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/NoJaxbContextBeanTest.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/UserProvidedJaxbContextTest.java
  extensions/jaxb/deployment/src/test/java/io/quarkus/jaxb/deployment/info/Foo.java
  extensions/jaxb/deployment/src/test/resources/application.properties
Labels: area/jaxb

#31678 Fix erroneous action error of minimum logging level
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/waiting-for-ci

#31708 Removed use of Jackson-databind in Dev UI RestEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-card.js
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-exception-mappers.js
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/resources/dev-ui/resteasy-reactive/qwc-resteasy-reactive-parameter-converter-providers.js
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/devui/ResteasyReactiveExceptionMapper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/devui/ResteasyReactiveJsonRPCService.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/devui/ResteasyReactiveParamConverterProvider.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/util/ScoreSystem.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#31697 Small cleanup in ORM extension + internal LogCollectingTestResource
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/BuildTimeSettings.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordedConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordedState.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusRuntimeInitDialectFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusRuntimeInitDialectFactoryInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusStaticDialectFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusStaticInitDialectFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusStaticInitDialectFactoryInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/StandardHibernateORMInitiatorListProvider.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  integration-tests/hibernate-validator/src/test/java/io/quarkus/it/hibernate/validator/HibernateValidatorFunctionalityTest.java
  integration-tests/jpa-db2/src/main/java/io/quarkus/it/jpa/db2/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-db2/src/main/resources/META-INF/persistence.xml
  integration-tests/jpa-db2/src/main/resources/application.properties
  integration-tests/jpa-derby/src/main/java/io/quarkus/it/jpa/derby/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-derby/src/main/resources/META-INF/persistence.xml
  integration-tests/jpa-derby/src/main/resources/application.properties
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-h2/src/main/resources/META-INF/beans.xml
  integration-tests/jpa-h2/src/main/resources/META-INF/persistence.xml
  integration-tests/jpa-h2/src/main/resources/application.properties
  integration-tests/jpa-mariadb/src/main/java/io/quarkus/it/jpa/mariadb/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-mariadb/src/main/resources/META-INF/beans.xml
  integration-tests/jpa-mariadb/src/main/resources/META-INF/persistence.xml
  integration-tests/jpa-mariadb/src/main/resources/application.properties
  integration-tests/jpa-mysql/src/main/java/io/quarkus/it/jpa/mysql/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-mysql/src/main/resources/META-INF/persistence.xml
  integration-tests/jpa-mysql/src/main/resources/application.properties
  test-framework/junit5-internal/src/main/java/io/quarkus/test/LogCollectingTestResource.java
Labels: area/persistence, area/hibernate-validator, triage/waiting-for-ci, area/testing, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#31711 Ensure coverage of different ObjectMappers for clients and server
  extensions/resteasy-reactive/rest-client-reactive-jackson/deployment/src/test/java/io/quarkus/rest/client/reactive/jackson/test/DifferentObjectMapperForClientAndServerTest.java
Labels: area/resteasy-reactive

#31644 Ensure logging category is properly set for @QuarkusIntegrationTest
  integration-tests/main/src/main/resources/application.properties
  integration-tests/picocli-native/src/test/java/io/quarkus/it/picocli/PicocliTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultJarLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultNativeImageLauncher.java
Labels: triage/waiting-for-ci, area/testing, area/picocli

#31712 Make request scoped beans work properly in ReaderInterceptors
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RequestDeserializeHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/BodyPayloadBlockingAllowedTest.java
Labels: triage/waiting-for-ci, triage/backport?

#31671 Bump smallrye-open-api from 3.2.0 to 3.3.0, fix OpenAPI security issues
  bom/application/pom.xml
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/resources/application.properties
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/filter/AutoRolesAllowedFilter.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedWithScopesTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceSecuredAtClassLevel.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceSecuredAtMethodLevel.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiResourceSecuredAtMethodLevel2.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/OpenIDConnectSecurityFilter.java
Labels: area/panache, area/smallrye, area/openapi, area/dependencies

#31709 OpenAPI: fix handling of paths given in configuration
  extensions/smallrye-openapi/deployment/pom.xml
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/CustomPathExtension.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/deployment/CustomPathExtensionTest.java
Labels: area/smallrye, area/openapi

#31715 Disable Vert.x websockets when websocket extensions are not present
  .github/native-tests.json
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/websockets/server/runtime/pom.xml
  integration-tests/opentelemetry/pom.xml
  integration-tests/websockets/src/test/java/io/quarkus/websockets/ChatIT.java
Labels: area/core, area/vertx, triage/waiting-for-ci, area/infra-automation, area/websockets

#31743 Allows JSON-RPC method to return Uni<?> and add support for @Blocking and @NonBlocking
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/comms/JsonRpcRouter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/comms/ReflectionInfo.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/jsonrpc/JsonRpcMethod.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/jsonrpc/JsonRpcWriter.java
Labels: area/vertx, triage/waiting-for-ci

#31752 Rename AddJobResourceDecorator2 to CreateJobResourceFromImageDecorator
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddJobResourceDecorator2.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/Constants.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/CreateJobResourceFromImageDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
Labels: area/kubernetes

#31726 Change log level traces of Kubernetes deployment from INFO to DEBUG
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeploy.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
Labels: area/kubernetes

#31737 OpenShift binary build fails when current namespace is different
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftUtils.java
Labels: area/kubernetes

#31693 Support of startup probes in Kubernetes/OpenShift/Knative manifests
  extensions/kubernetes/kind/deployment/src/main/java/io/quarkus/kind/deployment/KindProcessor.java
  extensions/kubernetes/minikube/deployment/src/main/java/io/quarkus/minikube/deployment/MinikubeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DevClusterHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeWithHealthTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithHealthTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithStartupProbePortTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithHealthTest.java
Labels: area/kubernetes

#31758 Remove mentions of Kogito from the documentation
  docs/src/main/asciidoc/_includes/kogito-dev-services-build-time-config.adoc
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/dev-services.adoc
  docs/src/main/asciidoc/kogito-dev-services.adoc
  docs/src/main/asciidoc/kogito-dmn.adoc
  docs/src/main/asciidoc/kogito-drl.adoc
  docs/src/main/asciidoc/kogito-pmml.adoc
  docs/src/main/asciidoc/kogito.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation

#31724 Allow configuring the deploy strategy to perform K8s deployments
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftUtils.java
  extensions/kubernetes/kind/deployment/src/main/java/io/quarkus/kind/deployment/KindProcessor.java
  extensions/kubernetes/minikube/deployment/src/main/java/io/quarkus/minikube/deployment/MinikubeProcessor.java
  extensions/kubernetes/openshift/deployment/src/main/java/io/quarkus/openshift/deployment/OpenshiftProcessor.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/DeployStrategy.java
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesDeploymentTargetBuildItem.java
  extensions/kubernetes/spi/src/test/java/io/quarkus/kubernetes/spi/KubernetesDeploymentTargetBuildItemTest.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DeploymentTargetEntry.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
Labels: area/kubernetes

#31728 Register additional cache implementations for reflection
  extensions/caffeine/runtime/src/main/java/io/quarkus/caffeine/runtime/graal/CacheConstructorsFeature.java
Labels: area/cache

#31688 Suppress config changed warning for quarkus.test.arg-line
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
Labels: area/core, area/config, area/testing, triage/backport?

#31705 Remove all dev services for kubernetes dependencies from kubernetes-client-internal
  extensions/kubernetes-client/deployment-internal/pom.xml
  extensions/kubernetes-client/deployment/pom.xml
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/NoQuarkusTestKubernetesClient.java
Labels: area/kubernetes, triage/backport?

#31733 CI Fork Maven Cache job config tweaks
  .github/workflows/ci-fork-mvn-cache.yml
Labels: area/infra-automation

#31757 Remove leftover expose properties in K8s/OCP configuration
  extensions/kubernetes/openshift/deployment/src/main/resources/dev-templates/deploy.html
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyOpenshiftRouteConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
Labels: area/kubernetes

#31734 Upgrade to jboss-threads 3.5.0.Final
  .github/dependabot.yml
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/infra-automation

#31772 Remove duplicate dependency
  integration-tests/jpa-mariadb/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm

#31781 Bump kubernetes-client-bom from 6.4.1 to 6.5.0
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientBuildConfig.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesClientUtils.java
  pom.xml
Labels: area/kubernetes

#31763 Bump Agroal version to 1.17
  bom/application/pom.xml
Labels: area/dependencies, area/agroal, triage/backport-2.13?

#31612 Apply minor polish to Gradle integration test launching
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusGradleWrapperTestBase.java
Labels: area/gradle

#31755 Cache.getAsync() - improve the stats recording logic
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheImpl.java
Labels: area/cache

#31769 Capability added for quarkus-rest-client-reactive-jackson
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  extensions/resteasy-reactive/rest-client-reactive-jackson/runtime/pom.xml
Labels: area/core, area/resteasy-reactive, triage/backport?

#31773 Address CloserTest flakiness
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/CloserTest.java
Labels: area/resteasy-reactive

#31782 Synthetic beans - make it possible to use a recorded proxy directly
  docs/src/main/asciidoc/cdi-integration.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeansProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/synthetic/SyntheticBeanBuildItemProxyTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ArcRecorder.java
Labels: area/documentation, area/arc

#31793 [2.16] Fix NPE loading workspace modules
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
Labels: area/devtools

#31791 Fix NPE loading workspace modules
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
Labels: area/devtools, triage/backport?

#31795 Apply small polish to cache code
  docs/src/main/asciidoc/cache.adoc
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CacheManager.java
  extensions/caffeine/deployment/src/main/java/io/quarkus/caffeine/deployment/CaffeineProcessor.java
Labels: area/documentation, area/cache

#31770 Fix native compilation when using quarkus-jdbc-oracle with elasticsearch-java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleNativeImage.java
Labels: area/elasticsearch, triage/backport?

#31762 Bump Agroal to 2.1
  bom/application/pom.xml
Labels: area/dependencies, area/agroal

#31799 Synthetic bean for Quarkus ExecutorService
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ExecutorBuildItem.java
  core/runtime/src/main/java/io/quarkus/runtime/ExecutorRecorder.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ExecutorServiceProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/executorservice/ExecutorServiceBeanTest.java
Labels: area/core, area/arc, triage/waiting-for-ci

#31806 Upgrade rewrite-maven-plugin to 4.41.0
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
Labels: area/platform, area/devtools

#31490 Enable Podman and Docker Windows quarkus-container-image-docker testing
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalContainerRunner.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunnerTest.java
  core/runtime/src/main/java/io/quarkus/runtime/util/ContainerRuntimeUtil.java
  integration-tests/awt/pom.xml
  integration-tests/awt/src/main/docker/Dockerfile.native
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultNativeImageLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/core, area/testing, area/graphics

#31809 Update SmallRye GraphQL to 2.1.2
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/GraphQLClientTester.java
  integration-tests/smallrye-graphql-client/src/main/java/io/quarkus/io/smallrye/graphql/client/LuckyNumbersResource.java
  integration-tests/smallrye-graphql-client/src/test/java/io/quarkus/it/smallrye/graphql/client/DynamicClientTest.java
Labels: area/smallrye, area/dependencies, area/graphql

#31814 ArC fixes for spec compatibility, round 6
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/bcextensions/ExtensionsEntryPoint.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/bcextensions/ParametersImpl.java
  independent-projects/arc/tcks/arquillian/pom.xml
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcContainerConfiguration.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcDeployableContainer.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcExtension.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcProtocol.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/ArcProtocolConfiguration.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/BeanArchive.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/Deployer.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/DeploymentClassLoader.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/DeploymentDir.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/ExtraBean.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/utils/Archives.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/utils/ClassLoading.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/utils/Directories.java
  independent-projects/arc/tcks/arquillian/src/main/java/io/quarkus/arc/arquillian/utils/Hacks.java
  independent-projects/arc/tcks/arquillian/src/main/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension
  independent-projects/arc/tcks/atinject-tck-runner/pom.xml
  independent-projects/arc/tcks/atinject-tck-runner/src/test/java/io/quarkus/arc/tck/AtInjectTckExtension.java
  independent-projects/arc/tcks/atinject-tck-runner/src/test/java/io/quarkus/arc/tck/AtInjectTest.java
  independent-projects/arc/tcks/atinject-tck-runner/src/test/java/io/quarkus/arc/tck/Spare.java
  independent-projects/arc/tcks/cdi-tck-porting-pkg/pom.xml
  independent-projects/arc/tcks/cdi-tck-porting-pkg/src/main/java/io/quarkus/arc/tck/porting/BeansImpl.java
  independent-projects/arc/tcks/cdi-tck-porting-pkg/src/main/java/io/quarkus/arc/tck/porting/ContextsImpl.java
  independent-projects/arc/tcks/cdi-tck-porting-pkg/src/main/java/io/quarkus/arc/tck/porting/ELImpl.java
  independent-projects/arc/tcks/cdi-tck-porting-pkg/src/main/resources/META-INF/cdi-tck.properties
  independent-projects/arc/tcks/cdi-tck-runner/pom.xml
  independent-projects/arc/tcks/cdi-tck-runner/src/test/resources/META-INF/cdi-tck.properties
  independent-projects/arc/tcks/cdi-tck-runner/src/test/resources/testng.xml
  independent-projects/arc/tcks/lang-model-tck-runner/pom.xml
  independent-projects/arc/tcks/lang-model-tck-runner/src/test/java/io/quarkus/arc/tck/LangModelTckExtension.java
  independent-projects/arc/tcks/lang-model-tck-runner/src/test/java/io/quarkus/arc/tck/LangModelTest.java
Labels: area/arc, triage/waiting-for-ci

#31819 Upgrade SmallRye Common to 2.1.0
  bom/application/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/devtools

#31826 Support SpringDI List injection with @Inject
  docs/src/main/asciidoc/spring-di.adoc
  extensions/spring-di/deployment/src/main/java/io/quarkus/spring/di/deployment/SpringDIProcessor.java
  extensions/spring-di/deployment/src/test/java/io/quarkus/spring/di/deployment/ListOfBeansTest.java
Labels: area/documentation, area/spring

#31798 Bump Dekorate to 3.5.0
  bom/application/pom.xml
Labels: area/kubernetes, area/dependencies

#31804 [2.16] A test to make sure non-existing modules are ignored during workspace discovery
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-missing-module/root/module1/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-missing-module/root/pom.xml
Labels: area/devtools

#31803 A test to make sure non-existing modules are ignored during workspace discovery
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-missing-module/root/module1/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-missing-module/root/pom.xml
Labels: area/devtools

#31645 RuntimeUpdatesProcessor now supports hot replacement problems
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/HotReplacementProcessor.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/HotReplacementException.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/TestHotReplacementSetup.java
  integration-tests/test-extension/extension/runtime/src/main/resources/META-INF/services/io.quarkus.dev.spi.HotReplacementSetup
  integration-tests/test-extension/tests/pom.xml
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/HotReplacementSetupDevModeTest.java
Labels: area/core, area/testing

#31823 Replace wildcard imports with specific imports for better code maintainability
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/EndingSlashTest.java
  integration-tests/infinispan-cache-jpa/src/main/java/io/quarkus/it/infinispan/cache/jpa/Citizen.java
  integration-tests/infinispan-cache-jpa/src/main/java/io/quarkus/it/infinispan/cache/jpa/InfinispanCacheJPAFunctionalityTestEndpoint.java
  integration-tests/infinispan-cache-jpa/src/main/java/io/quarkus/it/infinispan/cache/jpa/Item.java
  integration-tests/infinispan-cache-jpa/src/main/java/io/quarkus/it/infinispan/cache/jpa/Person.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/book/BookEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/resources/PersonEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/resources/PersonRepositoryResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/book/ReactiveBookRepositoryResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/person/resources/ReactivePersonEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/reactive/person/resources/ReactivePersonRepositoryResource.java
Labels: area/persistence, area/infinispan, triage/waiting-for-ci, area/hibernate-orm, area/mongodb

#31833 Knative deployer uses hasApiGroup to check for Knative support
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeDeployer.java
Labels: area/kubernetes

#31594 Upgrade to SnakeYaml 2.0
  bom/application/pom.xml
  docs/src/main/java/io/quarkus/docs/generation/QuarkusBuildItemDoc.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsole.java
Labels: area/documentation, triage/on-ice, area/vertx, area/dependencies

#31834 Introduce `quarkus.hibernate-orm.mapping.timezone.default-storage`
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/SchemaUtil.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/mapping/AbstractTimezoneDefaultStorageTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/mapping/EntityWithTimezones.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/mapping/TimezoneDefaultStorageAutoTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/mapping/TimezoneDefaultStorageColumnTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/mapping/TimezoneDefaultStorageDefaultTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/mapping/TimezoneDefaultStorageNativeTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/mapping/TimezoneDefaultStorageNormalizeTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/mapping/TimezoneDefaultStorageNormalizeUtcTest.java
Labels: area/persistence, area/hibernate-orm, triage/quarkus-3

#31567 Use a property to enable OpenTelemetry for JDBC and use the OpenTelemetry datasource instead of the OpenTelemetry driver
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/runtime/pom.xml
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalOpenTelemetryWrapper.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcBuildTimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/OpenTelemetryAgroalDataSource.java
  extensions/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryDriverJdbcDataSourcesBuildItem.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/dev/DevServicesOpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryDevServicesDatasourcesTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryJdbcInstrumentationValidationTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/main/resources/application.properties
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/Db2LifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/MariaDbLifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleLifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/PostgreSqlLifecycleManager.java
Labels: release/noteworthy-feature, area/documentation, area/tracing, area/agroal

#31419 Handle text blocks when creating Panache find query
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/TestEndpoint.kt
  integration-tests/hibernate-orm-panache-kotlin/src/test/kotlin/io/quarkus/it/panache/ProjectionTest.kt
  integration-tests/java-17/src/main/java/io/quarkus/it/hibernate/panache/person/PersonResource.java
  integration-tests/java-17/src/test/java/io/quarkus/it/hibernate/panache/person/PersonResourceTest.java
Labels: area/panache

#31537 Upgrade to maven-compiler-plugin 3.11.0
  build-parent/pom.xml
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/InvalidConditionalMappersTest.java
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  independent-projects/tools/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
Labels: area/documentation, area/arc, area/maven, area/amazon-lambda, area/platform, area/dependencies, area/devtools, area/funqy, area/resteasy-reactive

#31835 ArC - add TransformedAnnotationsBuildItem#hasAnnotation()
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/TransformedAnnotationsBuildItem.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
Labels: area/arc, area/scheduler, triage/waiting-for-ci

#31838 Cover Knative deployment integration tests
  .github/workflows/ci-kubernetes.yml
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/src/main/resources/application.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/verify.groovy
Labels: triage/waiting-for-ci, area/kubernetes, area/infra-automation

#31345 Allow permission checks via `@PermissionsAllowed` security annotation
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/SecurityTransformerUtils.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AbstractPermissionsAllowedTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/CustomPermission.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/LazyAuthPermissionsAllowedTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/NonBlockingPermissionsAllowedResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/PermissionsAllowedResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/PermissionsIdentityAugmentor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/ProactiveAuthPermissionsAllowedTestCase.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/StandardSecurityCheckInterceptor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/DotNames.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/PermissionSecurityChecks.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityAnnotationsRegistrar.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityTransformerUtils.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/AbstractMethodLevelPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/ClassLevelComputedPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/ClassLevelCustomPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/ClassLevelStringPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/InjectionPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/MethodLevelComputedPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/MethodLevelCustomPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/MethodLevelStringPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/PermitAllWithPermissionsAllowedValidationFailureTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/RolesAllowedWithPermissionsAllowedTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/RolesAllowedWithPermissionsAllowedValidationFailureTest.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/SecurityCheck.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusSecurityIdentity.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/PermissionsAllowedInterceptor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/SecurityConstrainer.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/check/PermissionSecurityCheck.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/SecurityTransformerUtils.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/AuthData.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/IdentityMock.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/SecurityTestUtils.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/TestIdentityController.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/TestIdentityProvider.java
  integration-tests/elytron-security-jdbc/src/main/java/io/quarkus/elytron/security/jdbc/it/ElytronSecurityJdbcResource.java
  integration-tests/elytron-security-jdbc/src/main/java/io/quarkus/elytron/security/jdbc/it/PermissionsIdentityAugmentor.java
  integration-tests/elytron-security-jdbc/src/main/java/io/quarkus/elytron/security/jdbc/it/WorkdayEvaluator.java
  integration-tests/elytron-security-jdbc/src/main/java/io/quarkus/elytron/security/jdbc/it/WorkdayPermission.java
  integration-tests/elytron-security-jdbc/src/main/resources/import.sql
  integration-tests/elytron-security-jdbc/src/test/java/io/quarkus/elytron/security/jdbc/it/ElytronSecurityJdbcTest.java
Labels: release/noteworthy-feature, area/documentation, area/security, area/dependencies, area/resteasy-reactive

#31855 Fix Hibernate ORM metadata retrieval on startup with multitenancy
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
Labels: area/persistence, area/hibernate-orm

#31858 Generate Java 11 bytecode when using Bytebuddy in Hibernate ORM extensions
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateEntityEnhancer.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ProxyBuildingHelper.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/BootstrapOnlyProxyFactoryFactoryInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/proxies/ProxyDefinitions.java
Labels: area/persistence, area/hibernate-orm

#31839 Support generation of secured Route in OpenShift
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ApplyOpenshiftRouteConfigurator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/RouteConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/TLSConfig.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithRoutePropertiesTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithRouteSecuredTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-route-secured.properties
Labels: area/kubernetes

#31867 Qute type-safe fragments - fix validation for loop metadata and globals
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/fragment/CheckedTemplateFragmentTest.java
Labels: area/qute, triage/backport?

#31864 Fix incorrect generic type passed to MessageBodyWriter#writeTo
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RequestDeserializeHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/SimpleQuarkusRestResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/SimpleQuarkusRestTestCase.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/TestWriter.java
Labels: triage/waiting-for-ci, triage/backport?

#31846 Hibernate reactive panache - validation of interceptor bindings
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheJpaCommonResourceProcessor.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/WithSession.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/WithSessionOnDemand.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/WithTransaction.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/AbstractUniInterceptor.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/WithSessionInterceptor.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/WithSessionOnDemandInterceptor.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/WithTransactionInterceptor.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/WithTransactionClassLevelValidationTest.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/WithTransactionMethodLevelValidationTest.java
Labels: area/panache, area/hibernate-reactive

#31868 Fix documentation of field lookupIfMissing in LookupUnlessProperty
  extensions/arc/runtime/src/main/java/io/quarkus/arc/lookup/LookupUnlessProperty.java
Labels: area/arc

#31877 Support SpringDi List injection in bean producer
  extensions/spring-di/deployment/src/main/java/io/quarkus/spring/di/deployment/SpringDIProcessor.java
  extensions/spring-di/deployment/src/test/java/io/quarkus/spring/di/deployment/ListOfBeansTest.java
Labels: area/spring

#31883 Move to quarkus.console.color instead of deprecated quarkus.log.console.color
  docs/src/main/asciidoc/logging.adoc
  integration-tests/narayana-jta/src/main/resources/application.properties
  integration-tests/narayana-stm/src/main/resources/application.properties
Labels: area/documentation, area/narayana

#31885 Add a note about the integration test profile
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation

#31843 ArC: Kotlin improvements
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/KotlinDotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/KotlinUtils.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/pom.xml
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/KotlinInterceptorTest.java
  independent-projects/arc/tests/src/test/kotlin/io/quarkus/arc/test/interceptors/InterceptableSuspendMethodTest.kt
  independent-projects/arc/tests/src/test/kotlin/io/quarkus/arc/test/interceptors/KotlinInterceptorTest.kt
  independent-projects/arc/tests/src/test/kotlin/io/quarkus/arc/test/interceptors/NoninterceptableSuspendMethodTest.kt
  independent-projects/arc/tests/src/test/kotlin/io/quarkus/arc/test/interceptors/NotInterceptedSuspendMethodTest.kt
Labels: area/arc, triage/waiting-for-ci

#31888 Fix formatting in integration-tests/java-17/src/main/java/io/quarkus/it/hibernate/panache/person
  integration-tests/java-17/src/main/java/io/quarkus/it/hibernate/panache/person/PersonResource.java
  integration-tests/java-17/src/test/java/io/quarkus/it/hibernate/panache/person/PersonResourceTest.java
Labels: area/panache, area/persistence, area/hibernate-orm

#31889 Docs - RESTEasy Reactive SSE support - document customized message
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation

#31862 Log a warning during extension build if two sources of scm information disagree
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTask.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/extensions/ScmInfoProvider.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/extensions/ScmInfoProviderTest.java
Labels: area/gradle, area/platform, area/devtools
