Repository quarkusio/quarkus, pull requests merged in 2023-10, with the labels that each got.

#36206 Bump Smallrye RM version from 4.9.0 to 4.10.1
  bom/application/pom.xml
  docs/src/main/asciidoc/kafka.adoc
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/WiringProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusMediatorConfiguration.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/Fruit.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/FruitProducer.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/FruitSplitProducer.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/PricesProducer.java
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/PricesRepeatableProducers.java
  integration-tests/reactive-messaging-kafka/src/main/resources/application.properties
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
Labels: area/documentation, area/smallrye, area/reactive-messaging, area/dependencies

#36233 Add virtual threads entry to the bot
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#36232 Update the AMQP Dev Service image
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesBuildTimeConfig.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
Labels: area/smallrye, area/reactive-messaging

#36235 Allow configuring MongoDB client UUID representation
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClients.java
Labels: area/mongodb

#36240 Improve Virtual Threads integration tests
  integration-tests/virtual-threads/amqp-virtual-threads/pom.xml
  integration-tests/virtual-threads/amqp-virtual-threads/src/main/java/io/quarkus/it/vthreads/amqp/PriceConsumer.java
  integration-tests/virtual-threads/amqp-virtual-threads/src/test/java/io/quarkus/it/vthreads/amqp/NoPinningVerify.java
  integration-tests/virtual-threads/amqp-virtual-threads/src/test/java/io/quarkus/it/vthreads/amqp/VirtualThreadTest.java
  integration-tests/virtual-threads/amqp-virtual-threads/src/test/java/io/quarkus/it/vthreads/amqp/WireMockExtension.java
  integration-tests/virtual-threads/grpc-virtual-threads/pom.xml
  integration-tests/virtual-threads/grpc-virtual-threads/src/test/java/io/quarkus/grpc/example/streaming/NoPinningVerify.java
  integration-tests/virtual-threads/grpc-virtual-threads/src/test/java/io/quarkus/grpc/example/streaming/VertxVirtualThreadTest.java
  integration-tests/virtual-threads/grpc-virtual-threads/src/test/java/io/quarkus/grpc/example/streaming/VirtualThreadTest.java
  integration-tests/virtual-threads/jms-virtual-threads/pom.xml
  integration-tests/virtual-threads/jms-virtual-threads/src/main/java/io/quarkus/it/vthreads/jms/PriceConsumer.java
  integration-tests/virtual-threads/jms-virtual-threads/src/test/java/io/quarkus/it/vthreads/jms/NoPinningVerify.java
  integration-tests/virtual-threads/jms-virtual-threads/src/test/java/io/quarkus/it/vthreads/jms/VirtualThreadTest.java
  integration-tests/virtual-threads/kafka-virtual-threads/pom.xml
  integration-tests/virtual-threads/kafka-virtual-threads/src/main/java/io/quarkus/it/vthreads/kafka/PriceConsumer.java
  integration-tests/virtual-threads/kafka-virtual-threads/src/main/resources/application.properties
  integration-tests/virtual-threads/kafka-virtual-threads/src/test/java/io/quarkus/it/vthreads/kafka/NoPinningVerify.java
  integration-tests/virtual-threads/kafka-virtual-threads/src/test/java/io/quarkus/it/vthreads/kafka/VirtualThreadTest.java
  integration-tests/virtual-threads/kafka-virtual-threads/src/test/java/io/quarkus/it/vthreads/kafka/WireMockExtension.java
  integration-tests/virtual-threads/mailer-virtual-threads/pom.xml
  integration-tests/virtual-threads/mailer-virtual-threads/src/test/java/io/quarkus/virtual/mail/NoPinningVerify.java
  integration-tests/virtual-threads/mailer-virtual-threads/src/test/java/io/quarkus/virtual/mail/RunOnVirtualThreadTest.java
  integration-tests/virtual-threads/pom.xml
  integration-tests/virtual-threads/quartz-virtual-threads/pom.xml
  integration-tests/virtual-threads/quartz-virtual-threads/src/test/java/io/quarkus/virtual/mail/NoPinningVerify.java
  integration-tests/virtual-threads/quartz-virtual-threads/src/test/java/io/quarkus/virtual/mail/RunOnVirtualThreadTest.java
  integration-tests/virtual-threads/redis-virtual-threads/pom.xml
  integration-tests/virtual-threads/redis-virtual-threads/src/test/java/io/quarkus/virtual/redis/NoPinningVerify.java
  integration-tests/virtual-threads/redis-virtual-threads/src/test/java/io/quarkus/virtual/redis/RunOnVirtualThreadTest.java
  integration-tests/virtual-threads/rest-client-reactive-virtual-threads/pom.xml
  integration-tests/virtual-threads/rest-client-reactive-virtual-threads/src/test/java/io/quarkus/virtual/rest/NoPinningVerify.java
  integration-tests/virtual-threads/rest-client-reactive-virtual-threads/src/test/java/io/quarkus/virtual/rest/RunOnVirtualThreadTest.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/pom.xml
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/test/java/io/quarkus/virtual/rr/NoPinningVerify.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/test/java/io/quarkus/virtual/rr/RunOnVirtualThreadTest.java
  integration-tests/virtual-threads/scheduler-virtual-threads/pom.xml
  integration-tests/virtual-threads/scheduler-virtual-threads/src/test/java/io/quarkus/virtual/mail/NoPinningVerify.java
  integration-tests/virtual-threads/scheduler-virtual-threads/src/test/java/io/quarkus/virtual/mail/RunOnVirtualThreadTest.java
  integration-tests/virtual-threads/vertx-event-bus-virtual-threads/pom.xml
  integration-tests/virtual-threads/vertx-event-bus-virtual-threads/src/test/java/io/quarkus/virtual/vertx/NoPinningVerify.java
  integration-tests/virtual-threads/vertx-event-bus-virtual-threads/src/test/java/io/quarkus/virtual/vertx/RunOnVirtualThreadTest.java
  integration-tests/virtual-threads/virtual-threads-disabled/pom.xml
  integration-tests/virtual-threads/virtual-threads-disabled/src/test/java/io/quarkus/virtual/disabled/NoPinningVerify.java
  integration-tests/virtual-threads/virtual-threads-disabled/src/test/java/io/quarkus/virtual/disabled/RunOnVirtualThreadDisabledTest.java
Labels: triage/waiting-for-ci

#36164 Support Java 21 main launch protocol
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/IgnorePrivateMainCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/InstanceMainCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/InstanceMainInSuperClassCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/InstanceMainInSuperClassNoArgsCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/InstanceMainNoArgsCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/MixWithAndWithoutArgsMainCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/MultipleInstanceMainInSuperClassCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/NonPublicStaticMainCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/PrivateStaticMainCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/ProtectedStaticMainNoArgsCommandModeTestCase.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/commandmode/launch/StaticMainNoArgsCommandModeTestCase.java
Labels: release/noteworthy-feature, area/core

#36183 Fail smallrye-jwt build if @Claim types are injected without ClaimValue in ApplicationScoped beans
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/ClaimsSingletonEndpoint.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/ClaimsSingletonTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/DefaultScopedEndpoint.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/OptionalTypeApplicationScopedBeanTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/OptionalTypeApplicationScopedEndpoint.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/OptionalTypeSingletonBeanTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/OptionalTypeSingletonEndpoint.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/ScopingUnitTest.java
Labels: area/smallrye

#36202 Ignore the module-info from the application in dev mode
  core/deployment/src/main/java/io/quarkus/deployment/dev/CompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusCompiler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/QuarkusFileManager.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/StaticFileManager.java
Labels: area/core

#36247 Use text/plain instead of incorrect plain/text
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/DefaultContentTypeTest.java
  integration-tests/main/src/test/java/io/quarkus/it/main/OpenApiTestCase.java
Labels: area/smallrye, area/openapi

#35917 Use constants for Vert.x web route order marks
  docs/src/main/asciidoc/http-reference.adoc
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/RouteConstants.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerCommonHandlers.java
  integration-tests/vertx-http/src/main/java/io/quarkus/it/vertx/UploadRoute.java
Labels: area/documentation, area/resteasy, area/vertx, triage/waiting-for-ci, area/resteasy-reactive

#36249 Update crazy-max/ghaction-import-gpg from v5 to v6
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.yml
Labels: triage/waiting-for-ci, area/platform, area/devtools

#36254 Update transaction.adoc
  docs/src/main/asciidoc/transaction.adoc
Labels: area/documentation, triage/backport?

#36230 Fix RunOnVirtualThread typo
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation, triage/backport?

#36231 Update dev-ui-v2 documentation
  docs/src/main/asciidoc/dev-ui-v2.adoc
Labels: area/documentation, triage/backport?

#36241 Update Snappy to version 1.1.10.5
  bom/application/pom.xml
Labels: area/security, area/kafka, triage/backport-2.13?, triage/backport-2.16?, triage/backport-3.2?

#36139 QuarkusProdModeTest creates tmp dirs under build dir
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
Labels: area/testing

#36260 Fix GraalVM.Version#getVersionAsString
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
Labels: area/core, triage/waiting-for-ci

#36268 Add OIDC Mastodon provider
  docs/src/main/asciidoc/images/oidc-mastodon-register-app.png
  docs/src/main/asciidoc/images/oidc-mastodon-registered-apps.png
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/docstyle

#36275 Fix OIDC Mastodon image name typo
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
Labels: area/documentation

#36274 Fix title of upx.adoc
  docs/src/main/asciidoc/upx.adoc
Labels: area/documentation

#36116 Remove link to Dev UI v1 as it is now gone
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/src/main/resources/META-INF/resources/index.tpl.qute.html
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateRESTEasyJavaCustom/src_main_resources_META-INF_resources_index.html
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/verifyIndexExtensionList/src_main_resources_META-INF_resources_index.html
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#36096 Build cache - Use notCacheableBecause instead of storeEnabled
  core/deployment/pom.xml
  core/runtime/pom.xml
  extensions/pom.xml
  test-framework/jacoco/pom.xml
Labels: area/core, area/testing

#36264 3.2 backports documentation
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemFinder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemScanner.java
  docs/downstreamdoc.yaml
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/hibernate-reactive.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/security-architecture.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/AzureFunctionsConfig.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourceRuntimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourcesBuildTimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientsBuildTimeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AutoScalingConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/GlobalAutoScalingConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/CredentialConfig.java
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQBuildTimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
Labels: area/documentation, area/persistence, area/core, area/infinispan, area/smallrye, area/vertx, area/openapi, area/reactive-messaging, area/hibernate-orm, area/mongodb, area/kubernetes, area/docstyle

#36280 Enable OracleOpenTelemetryJdbcInstrumentationTest
  integration-tests/opentelemetry-jdbc-instrumentation/pom.xml
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleLifecycleManager.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleOpenTelemetryJdbcInstrumentationIT.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleOpenTelemetryJdbcInstrumentationTest.java
Labels: area/tracing

#36259 Upgrade MSSQL Docker image
  build-parent/pom.xml
  docs/src/main/asciidoc/databases-dev-services.adoc
  extensions/reactive-mssql-client/deployment/pom.xml
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/ChangingCredentialsProvider.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/ChangingCredentialsTestResource.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/CustomCredentialsProvider.java
  extensions/reactive-mssql-client/deployment/src/test/resources/application-datasources-with-health.properties
  extensions/reactive-mssql-client/deployment/src/test/resources/application-multiple-datasources-with-erroneous-url.properties
  extensions/reactive-mssql-client/deployment/src/test/resources/application-multiple-datasources.properties
  integration-tests/hibernate-reactive-mssql/pom.xml
  integration-tests/jpa-mssql/README.md
  integration-tests/jpa-mssql/pom.xml
  integration-tests/reactive-mssql-client/README.md
  integration-tests/reactive-mssql-client/pom.xml
  integration-tests/reactive-mssql-client/src/main/resources/application.properties
  integration-tests/reactive-mssql-client/src/test/resources/application-tl.properties
Labels: area/documentation, area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, area/reactive-sql-clients

#36238 Optionally run Gradle build + ITs using different JDK
  devtools/gradle/pom.xml
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusGradleWrapperTestBase.java
Labels: area/gradle, area/devtools

#36279 Update SmallRye OpenAPI to 3.6.2
  bom/application/pom.xml
  integration-tests/main/src/test/java/io/quarkus/it/main/OpenApiTestCase.java
Labels: area/smallrye, area/openapi, triage/waiting-for-ci, area/dependencies

#36290 Fixed URL for configuring JSON support
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#36286 Add the secrets keyword in the .env section in the reference docs
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation

#35983 Update Java runtime images to 1.17
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-11-runtime
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-17-runtime
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/ContainerImageJibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/ContainerImageOpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
Labels: triage/waiting-for-ci, area/platform, area/devtools

#36175 Introduce OIDC Database Token State Manager extension
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc-db-token-state-manager/deployment/pom.xml
  extensions/oidc-db-token-state-manager/deployment/src/main/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerBuildTimeConfig.java
  extensions/oidc-db-token-state-manager/deployment/src/main/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerProcessor.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/AbstractDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/Db2DbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/GreetingEntity.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/GreetingResource.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/HibernateOrmPgDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/MsSqlDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/MySqlDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerEntity.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerResource.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/PostgresDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/ProtectedResource.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/PublicResource.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/UnprotectedResource.java
  extensions/oidc-db-token-state-manager/deployment/src/test/resources/application.properties
  extensions/oidc-db-token-state-manager/deployment/src/test/resources/hibernate-orm-application.properties
  extensions/oidc-db-token-state-manager/pom.xml
  extensions/oidc-db-token-state-manager/runtime/pom.xml
  extensions/oidc-db-token-state-manager/runtime/src/main/java/io/quarkus/oidc/db/token/state/manager/runtime/OidcDbTokenStateManager.java
  extensions/oidc-db-token-state-manager/runtime/src/main/java/io/quarkus/oidc/db/token/state/manager/runtime/OidcDbTokenStateManagerInitializer.java
  extensions/oidc-db-token-state-manager/runtime/src/main/java/io/quarkus/oidc/db/token/state/manager/runtime/OidcDbTokenStateManagerRecorder.java
  extensions/oidc-db-token-state-manager/runtime/src/main/java/io/quarkus/oidc/db/token/state/manager/runtime/OidcDbTokenStateManagerRunTimeConfig.java
  extensions/oidc-db-token-state-manager/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/pom.xml
  extensions/reactive-db2-client/runtime/pom.xml
  extensions/reactive-mssql-client/runtime/pom.xml
  extensions/reactive-mysql-client/runtime/pom.xml
  extensions/reactive-oracle-client/runtime/pom.xml
  extensions/reactive-pg-client/runtime/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/src/main/java/io/quarkus/it/keycloak/PublicResource.java
  integration-tests/smallrye-jwt-oidc-webapp/src/main/resources/application.properties
  integration-tests/smallrye-jwt-oidc-webapp/src/test/java/io/quarkus/it/keycloak/SmallRyeJwtOidcWebAppTest.java
Labels: release/noteworthy-feature, area/documentation, area/persistence, area/core, area/oidc, area/dependencies, area/devtools, area/reactive-sql-clients, area/docstyle

#36302 Fix headers and preambles in all guides and reintroduce some keywords
  docs/src/main/asciidoc/ansible.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/cdi.adoc
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/grpc-virtual-threads.adoc
  docs/src/main/asciidoc/lifecycle.adoc
  docs/src/main/asciidoc/liquibase-mongodb.adoc
  docs/src/main/asciidoc/messaging-virtual-threads.adoc
  docs/src/main/asciidoc/mutiny-primer.adoc
  docs/src/main/asciidoc/pulsar-dev-services.adoc
  docs/src/main/asciidoc/quarkus-maven-plugin.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  docs/src/main/asciidoc/rabbitmq-dev-services.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/redis-reference.adoc
  docs/src/main/asciidoc/resteasy.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-basic-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-basic-authentication.adoc
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/security-jwt-build.adoc
  docs/src/main/asciidoc/security-keycloak-admin-client.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  docs/src/main/asciidoc/security-overview.adoc
  docs/src/main/asciidoc/security-testing.adoc
  docs/src/main/asciidoc/smallrye-metrics.adoc
  docs/src/main/asciidoc/stork-kubernetes.adoc
  docs/src/main/asciidoc/stork-reference.adoc
  docs/src/main/asciidoc/stork.adoc
Labels: area/documentation, triage/backport?, area/docstyle

#36293 Use correct quotes
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation

#36271 Support for AddingSpanAttributes
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/interceptor/AddingSpanAttributesInterceptorTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/interceptor/WithSpanInterceptorTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/interceptor/WithSpanLegacyInterceptorTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/AddingSpanAttributesInterceptor.java
Labels: area/documentation, area/tracing

#36267 Work around missing GraalVM internal version starting with JDK 22
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/GraalVMTest.java
Labels: area/core, triage/waiting-for-ci

#36105 Upgrade to Jandex 3.1.5
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointInfo.java
  independent-projects/bootstrap/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools

#35298 Warn about unknown application config files
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/UnknownConfigFilesTest.java
Labels: area/core, area/config

#34811 Fail build when combining compression with remote-container-build
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/UpxCompressionBuildStep.java
Labels: area/core

#36311 Upgrade: Hibernate ORM 6.2.11.Final and Reactive 2.0.6.Final
  bom/application/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateLogFilterBuildStep.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateOrmTypesTest.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, area/hibernate-reactive

#36195 Make the name of the configuration adoc file configurable
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemScanner.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigDocFilename.java
Labels: area/core

#36307 Add support for Google Application Default Credentials
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/container-image

#35322 Use SmallRyeConfigBuilder Customizer to generate Quarkus configuration
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ConfigMappingBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigMappingUtils.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ConfigConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/AbstractConfigBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/AbstractRawDefaultConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigSourceFactoryProvider.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DefaultsConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/MappingsConfigBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/QuarkusConfigBuilderCustomizer.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/QuarkusConfigFactory.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeConfigBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeConfigSourceFactory.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeConfigSourceProvider.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeOverrideConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/StaticInitConfigBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/init/InitRuntimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/init/InitializationTaskRecorder.java
  extensions/picocli/deployment/src/test/java/io/quarkus/picocli/deployment/AvailableConfigSourcesTest.java
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientOverrideRuntimeConfigTest.java
  extensions/resteasy-classic/rest-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientRunTimeConfigSource.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ConfigBuilderCustomizer.java
  integration-tests/smallrye-config/src/main/resources/META-INF/services/io.smallrye.config.SmallRyeConfigBuilderCustomizer
  integration-tests/smallrye-config/src/main/resources/config.properties
  integration-tests/smallrye-config/src/main/resources/fallback.properties
  integration-tests/smallrye-config/src/main/resources/test-profile.properties
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/BuildTimeCustomConfigBuilder.java
  integration-tests/test-extension/extension/deployment/src/main/resources/META-INF/services/io.smallrye.config.SmallRyeConfigBuilderCustomizer
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/ConfigBuilderTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/RecordedBuildProfileInRuntimeTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/ConfigMappingTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/RuntimeDefaultsTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/StaticInitSourcesTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/EnvBuildTimeConfigSource.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/StaticInitNotSafeConfigBuilderCustomizer.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/StaticInitSafeConfigBuilderCustomizer.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
Labels: area/core, area/config, area/resteasy, area/smallrye, area/openapi, area/testing, area/dependencies, area/picocli

#36321 Upgrade vaadin to 24.1.10
  build-parent/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#36309 Use consistent versions of Maven for Maven wrapper and mvnd
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  .sdkmanrc
  mvnw.cmd
Labels: area/maven

#36322 Do not warn on static init about clearly build-related properties being set in environment variables
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci

#36333 Prepare for ORM update
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevInfoServiceTestResource.java
Labels: area/persistence, area/hibernate-orm

#36351 Properly handle invalid response body errors in Reactive REST Client
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
Labels: area/rest-client, triage/waiting-for-ci, triage/backport?, triage/backport-3.2?

#36281 Config: detect injected config value mismatch during static init
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ExecutionMode.java
  core/runtime/src/main/java/io/quarkus/runtime/ExecutionModeManager.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/StaticInitSafe.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigInjectionStaticInitBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigStaticInitBuildSteps.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/staticinit/StaticInitBean.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/staticinit/StaticInitConfigInjectionFailureTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/staticinit/StaticInitEagerBean.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/staticinit/StaticInitLazyBean.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/staticinit/StaticInitSafeBean.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/staticinit/StaticInitSafeConfigInjectionTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/staticinit/UnsafeConfigSource.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigBeanCreator.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigStaticInitCheck.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigStaticInitCheckInterceptor.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ConfigStaticInitValues.java
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/config/ProviderConfigInjectionWarningsTest.java
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/config/WebFilterConfigInjectionWarningsTest.java
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/RegisterCustomModuleCustomizer.kt
Labels: area/core, area/config, area/arc, area/resteasy, triage/waiting-for-ci, area/undertow

#36361 Check semicolon during the OIDC scope to permission conversion
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/ServiceProtectedResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/ServicePublicKeyTestCase.java
Labels: triage/waiting-for-ci, area/oidc

#36366 OIDC Db Token State Manager - disable MSSQL test due to limited Github CI resources and cancel timer on shutdown
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/MsSqlDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/runtime/src/main/java/io/quarkus/oidc/db/token/state/manager/runtime/OidcDbTokenStateManagerInitializer.java
Labels: area/oidc

#36057 Log error when project cannot be created
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
Labels: area/kubernetes

#36371 Fix issue in Java migration in dev-mode
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayProcessor.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionWithJavaMigrationDevModeTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionWithJavaMigrationDevModeTestEndpoint.java
Labels: area/flyway, triage/backport?, triage/backport-3.2?

#36386 Fixes PatternSyntaxException:Unclosed group near index 34
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#36384 Add gradle deps example to unblock downstream docs build
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
Labels: area/documentation, area/docstyle

#36377 Allow @ClientHeaderParam to override User-Agent
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/UserAgentTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/HeaderFillerUtil.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?, triage/backport-3.2?

#36369 List specific guides about virtual threads
  docs/src/main/asciidoc/scheduler-reference.adoc
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation, triage/waiting-for-ci

#36362 Explain how to deal with Rate Limiting in the OIDC providers doc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
Labels: area/documentation

#36347 Kafka serde discovery generates serializer for dead letter queue failure strategy
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
Labels: area/smallrye, area/reactive-messaging

#36393 Remove "coming soon" about CLI in tooling.adoc
  docs/src/main/asciidoc/tooling.adoc
Labels: area/documentation

#36348 Smallrye GraphQL 2.5.0
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/batch/Foo.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/batch/FooApi.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/batch/GraphQLFederationBatchTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/batch/uni/FooApiUni.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/batch/uni/GraphQLFederationBatchUniTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/complex/Bar.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/complex/Foo.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/complex/FooApi.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/complex/GraphQLFederationComplexTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfig.java
  tcks/microprofile-graphql/src/main/resources/overrides/invalidDataTypeValue/output3.json
Labels: area/documentation, area/core, area/smallrye, triage/waiting-for-ci, area/oidc, area/dependencies, area/devtools, area/graphql, area/docstyle

#35769 Default response content type using GraphQL spec
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
Labels: area/smallrye, area/graphql, triage/backport-3.4?, triage/backport-3.2?, triage/backport?

#36406 AssembleDownstreamDocumentation - print guide name
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation

#36380 Config: docs for config value mismatch detection
  core/runtime/src/main/java/io/quarkus/runtime/annotations/StaticInitSafe.java
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation, area/core

#36390 Update Netty to 4.1.100
  bom/application/pom.xml
Labels: area/dependencies, triage/backport-2.16?, triage/backport-3.4?, triage/backport-3.2?, triage/backport?

#36410 Add compatibility topic to Spring guides
  docs/src/main/asciidoc/spring-boot-properties.adoc
  docs/src/main/asciidoc/spring-cache.adoc
  docs/src/main/asciidoc/spring-cloud-config-client.adoc
  docs/src/main/asciidoc/spring-data-jpa.adoc
  docs/src/main/asciidoc/spring-data-rest.adoc
  docs/src/main/asciidoc/spring-di.adoc
  docs/src/main/asciidoc/spring-scheduled.adoc
  docs/src/main/asciidoc/spring-security.adoc
  docs/src/main/asciidoc/spring-web.adoc
Labels: area/documentation

#36408 Ensure that SSE builder works in native
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
Labels: area/resteasy, triage/waiting-for-ci, area/resteasy-reactive, triage/backport-3.4?, triage/backport-3.2?, triage/backport?

#36403 IBM Db2 - Register resource bundle classes for reflection
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
Labels: area/persistence, triage/backport-3.4?, triage/backport-3.2?, triage/backport?

#36337 Upgrade maven to version 3.9.5
  .mvn/wrapper/maven-wrapper.properties
  build-parent/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
Labels: area/platform, area/dependencies, area/devtools

#36375 OIDC client integration for GraphQL clients
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
  extensions/oidc-client-graphql/deployment/pom.xml
  extensions/oidc-client-graphql/deployment/src/main/java/io/quarkus/oidc/client/graphql/OidcGraphQLClientIntegrationProcessor.java
  extensions/oidc-client-graphql/deployment/src/test/java/io/quarkus/oidc/client/graphql/AnnotationTypesafeGraphQLClient.java
  extensions/oidc-client-graphql/deployment/src/test/java/io/quarkus/oidc/client/graphql/DefaultTypesafeGraphQLClient.java
  extensions/oidc-client-graphql/deployment/src/test/java/io/quarkus/oidc/client/graphql/GraphQLClientResource.java
  extensions/oidc-client-graphql/deployment/src/test/java/io/quarkus/oidc/client/graphql/GraphQLClientUsingOidcClientTest.java
  extensions/oidc-client-graphql/deployment/src/test/java/io/quarkus/oidc/client/graphql/ProtectedResource.java
  extensions/oidc-client-graphql/deployment/src/test/resources/application.properties
  extensions/oidc-client-graphql/pom.xml
  extensions/oidc-client-graphql/runtime/pom.xml
  extensions/oidc-client-graphql/runtime/src/main/java/io/quarkus/oidc/client/graphql/runtime/OidcClientGraphQLConfig.java
  extensions/oidc-client-graphql/runtime/src/main/java/io/quarkus/oidc/client/graphql/runtime/OidcGraphQLClientIntegrationRecorder.java
  extensions/oidc-client-graphql/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfigurationMergerBean.java
Labels: release/noteworthy-feature, area/documentation, area/core, area/smallrye, area/oidc, area/dependencies, area/devtools, area/graphql, area/docstyle, triage/backport?

#36404 Do not exclude properties from recording that are available in sources that should always be included
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
Labels: area/core, area/config, triage/backport-3.4?, triage/backport?

#36417 Reduce timeout of the doc build to 60 minutes
  .github/workflows/doc-build.yml
Labels: area/infra-automation

#36413 Simplify virtual threads guide by pushing users to 21
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation

#36374 Vert.x EventBus: use codec selector for non-concrete types
  docs/src/main/asciidoc/vertx-reference.adoc
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusCodecProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/LocalCodecSelectorTypesBuildItem.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/EventBusCodecTest.java
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/MutinyCodecTest.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxEventBusConsumerRecorder.java
Labels: area/documentation, area/vertx, triage/waiting-for-ci

#36416 3.4.3 backports 1
  bom/application/pom.xml
  core/deployment/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/runtime/pom.xml
  docs/src/main/asciidoc/ansible.adoc
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/cdi.adoc
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/grpc-virtual-threads.adoc
  docs/src/main/asciidoc/lifecycle.adoc
  docs/src/main/asciidoc/liquibase-mongodb.adoc
  docs/src/main/asciidoc/messaging-virtual-threads.adoc
  docs/src/main/asciidoc/mutiny-primer.adoc
  docs/src/main/asciidoc/pulsar-dev-services.adoc
  docs/src/main/asciidoc/quarkus-maven-plugin.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  docs/src/main/asciidoc/rabbitmq-dev-services.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/redis-reference.adoc
  docs/src/main/asciidoc/resteasy.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-basic-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-basic-authentication.adoc
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/security-jwt-build.adoc
  docs/src/main/asciidoc/security-keycloak-admin-client.adoc
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  docs/src/main/asciidoc/security-overview.adoc
  docs/src/main/asciidoc/security-testing.adoc
  docs/src/main/asciidoc/smallrye-metrics.adoc
  docs/src/main/asciidoc/stork-kubernetes.adoc
  docs/src/main/asciidoc/stork-reference.adoc
  docs/src/main/asciidoc/stork.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayProcessor.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionWithJavaMigrationDevModeTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionWithJavaMigrationDevModeTestEndpoint.java
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
  extensions/pom.xml
  extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/UserAgentTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/HeaderFillerUtil.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  independent-projects/resteasy-reactive/pom.xml
  test-framework/jacoco/pom.xml
Labels: area/documentation, area/persistence, area/core, area/config, area/resteasy, area/smallrye, area/infra, area/testing, area/dependencies, area/flyway, area/graphql, area/resteasy-reactive, area/docstyle

#36360 Drop the old Dev UI guide
  docs/src/main/asciidoc/dev-ui-v2.adoc
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation

#36431 Add a test case verifying the RST flood protection
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/http2/Http2RSTFloodProtectionTest.java
Labels: area/vertx, triage/backport-2.16?, triage/backport-3.4?, triage/backport-3.2?, triage/backport?

#36420 Allow parallel execution of blocking health checks
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/QuarkusAsyncHealthCheckFactory.java
Labels: area/smallrye, triage/waiting-for-ci, area/health, triage/backport-3.2?, triage/backport?

#36432 Hibernate Reactive Panache: improve error message
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/SessionOperations.java
Labels: area/panache, triage/waiting-for-ci, triage/backport?

#36412 Drop Optaplanner from the documentation
  docs/src/main/asciidoc/optaplanner.adoc
Labels: area/documentation

#36442 Use default content type when X-SSE header not set
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseEventSourceImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#36464 HTTP reference guide - HTTP/2 section update, drop JDK 8 note
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation, triage/waiting-for-ci

#36435 Bump Gradle version to 8.4
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#36465 Be more consistent in guides when creating projects/adding extensions
  docs/src/main/asciidoc/liquibase-mongodb.adoc
  docs/src/main/asciidoc/mailer.adoc
  docs/src/main/asciidoc/picocli.adoc
  docs/src/main/asciidoc/rabbitmq.adoc
  docs/src/main/asciidoc/rest-client-multipart.adoc
  docs/src/main/asciidoc/validation.adoc
Labels: area/documentation

#36459 Let custom OIDC token propagation filters provide client name
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenRequestReactiveFilter.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessTokenRequestFilter.java
Labels: area/oidc, triage/backport?

#36444 Bump Keycloak version to 22.0.4
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/documentation, area/oidc, area/dependencies

#36443 2.16.12 backports 1
  bom/application/pom.xml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcJsonWebTokenProducer.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/http2/Http2RSTFloodProtectionTest.java
Labels: area/infra, area/vertx, area/oidc, area/dependencies

#36451 Adjust extension name for consistency with rest of Quarkus
  extensions/resteasy-reactive/quarkus-resteasy-reactive-servlet/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/resteasy-reactive

#36474 Fix some issues in getting-started-dev-services
  docs/src/main/asciidoc/getting-started-dev-services.adoc
Labels: area/documentation, triage/waiting-for-ci

#36485 Fix typo in gradle-tooling.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation

#36483 Fixes java doc warnings
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/gradle, triage/waiting-for-ci, area/devtools

#36445 Updates to Infinispan 14.0.19.Final
  bom/application/pom.xml
  extensions/infinispan-client/deployment/src/test/java/org/quarkus/infinispan/client/deployment/InfinispanConfigurationSetupTest.java
  extensions/infinispan-client/deployment/src/test/resources/cache-config-application.properties
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientRuntimeConfig.java
Labels: area/infinispan, area/dependencies, triage/backport?

#33548 Pick random debug port when the configured one is taken
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
Labels: area/core, triage/waiting-for-ci

#36493 Disable GraphQLClientUsingOidcClientTest
  extensions/oidc-client-graphql/deployment/src/test/java/io/quarkus/oidc/client/graphql/GraphQLClientUsingOidcClientTest.java
Labels: area/oidc

#36490 Take ReaderInterceptor into account when reading SSE events
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/InboundSseEventImpl.java
Labels: triage/backport?

#36491 Update documentation about using GraalVM configuration files
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation

#36422 Remove or replace Pinning cases?
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation

#35931 Add OIDC Auth0 extended tutorial
  docs/src/main/asciidoc/images/auth0-add-role-action.png
  docs/src/main/asciidoc/images/auth0-add-role-to-user.png
  docs/src/main/asciidoc/images/auth0-add-user.png
  docs/src/main/asciidoc/images/auth0-allowed-callback.png
  docs/src/main/asciidoc/images/auth0-allowed-callbacks.png
  docs/src/main/asciidoc/images/auth0-allowed-logout.png
  docs/src/main/asciidoc/images/auth0-allowed-logouts.png
  docs/src/main/asciidoc/images/auth0-api-permissions.png
  docs/src/main/asciidoc/images/auth0-api.png
  docs/src/main/asciidoc/images/auth0-authorize.png
  docs/src/main/asciidoc/images/auth0-continuous-testing.png
  docs/src/main/asciidoc/images/auth0-create-application.png
  docs/src/main/asciidoc/images/auth0-create-role.png
  docs/src/main/asciidoc/images/auth0-created-application.png
  docs/src/main/asciidoc/images/auth0-devmode-started.png
  docs/src/main/asciidoc/images/auth0-devui-accesstoken.png
  docs/src/main/asciidoc/images/auth0-devui-dashboard-with-name.png
  docs/src/main/asciidoc/images/auth0-devui-dashboard-without-name.png
  docs/src/main/asciidoc/images/auth0-devui-login-to-spa.png
  docs/src/main/asciidoc/images/auth0-devui-test-accesstoken-200.png
  docs/src/main/asciidoc/images/auth0-devui-test-accesstoken-401.png
  docs/src/main/asciidoc/images/auth0-devui-testservice-swagger.png
  docs/src/main/asciidoc/images/auth0-devui.png
  docs/src/main/asciidoc/images/auth0-idtoken-with-name.png
  docs/src/main/asciidoc/images/auth0-idtoken-without-name.png
  docs/src/main/asciidoc/images/auth0-login-flow.png
  docs/src/main/asciidoc/images/auth0-login.png
  docs/src/main/asciidoc/images/auth0-password-grant.png
  docs/src/main/asciidoc/images/auth0-test-failure-403.png
  docs/src/main/asciidoc/images/auth0-test-success.png
  docs/src/main/asciidoc/images/auth0-well-known-config.png
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
Labels: area/documentation, area/docstyle

#36248 Added synthetic beans for the managed ExecutorService backed by virtual threads
  docs/src/main/asciidoc/virtual-threads.adoc
  extensions/virtual-threads/deployment/src/main/java/io/quarkus/virtual/threads/VirtualThreadsProcessor.java
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/DelegatingExecutorService.java
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/FallbackVirtualThreadsExecutorService.java
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/VirtualThreads.java
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/VirtualThreadsRecorder.java
  extensions/virtual-threads/runtime/src/test/java/io/quarkus/virtual/threads/VirtualThreadExecutorSupplierTest.java
  integration-tests/virtual-threads/rest-client-reactive-virtual-threads/src/main/java/io/quarkus/virtual/rest/RestClientResource.java
Labels: area/documentation, area/virtual-threads

#36179 Update to the JDBCStore section of the Transaction guide
  docs/src/main/asciidoc/transaction.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle, triage/backport-3.2?

#36518 Allow for setting logging scope programmatically
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/QuarkusRestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
Labels: area/resteasy-reactive, triage/backport?

#36434 Unblock SmallRye Health exposed routes
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthGroupHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandlerBase.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeIndividualHealthGroupHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeLivenessHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeReadinessHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeStartupHandler.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeWellnessHandler.java
Labels: area/smallrye, area/health

#36516 Housekeeping native-image build step
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci, area/native-image

#36527 Start MongoDB 4.4 instead of 4.0
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoTestBase.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoWithReplicasTestBase.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/reactive/MongoTestBase.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/reactive/MongoWithReplicasTestBase.java
  test-framework/mongodb/src/main/java/io/quarkus/test/mongodb/MongoTestResource.java
Labels: area/testing, area/mongodb

#36523 Minor OIDC Auth0 updates
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
Labels: area/documentation, triage/backport?

#36407 Register RuntimeOverrideConfigSource in STATIC_INIT
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeOverrideConfigSource.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeOverrideConfigSourceBuilder.java
Labels: area/core, area/config, triage/backport?

#36426 Update javadocs for various build items
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AdditionalApplicationArchiveMarkerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AdditionalIndexedClassesBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ApplicationArchivesBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ApplicationIndexBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ApplicationStartBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ArchiveRootBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeTransformerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/CapabilityBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/CombinedIndexBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ConfigDescriptionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/CuratedApplicationShutdownBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesConfigResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesLauncherConfigResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesSharedNetworkBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ExecutorBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/FeatureBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedFileSystemResourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedFileSystemResourceHandledBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedNativeImageClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/IOThreadDetectorBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/InitTaskBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/InitTaskCompletedBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LaunchModeBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LiveReloadBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LogCategoryBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ObjectSubstitutionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/PreloadClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/PreloadClassesEnabledBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/RawCommandLineArgumentsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/SnapStartDefaultValueBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/StreamingLogHandlerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/SuppressNonRuntimeConfigChangedWarningBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/SystemPropertyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/TestAnnotationBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/TestClassBeanBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/TransformedClassesBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/WebSocketLogHandlerBuildItem.java
Labels: area/core

#36489 WebJars locator extension Dev UI support
  extensions/webjars-locator/deployment/src/main/java/io/quarkus/webjar/locator/deployment/devui/WebJarAsset.java
  extensions/webjars-locator/deployment/src/main/java/io/quarkus/webjar/locator/deployment/devui/WebJarLibrariesBuildItem.java
  extensions/webjars-locator/deployment/src/main/java/io/quarkus/webjar/locator/deployment/devui/WebJarLibrary.java
  extensions/webjars-locator/deployment/src/main/java/io/quarkus/webjar/locator/deployment/devui/WebJarLocatorDevModeApiProcessor.java
  extensions/webjars-locator/deployment/src/main/java/io/quarkus/webjar/locator/deployment/devui/WebJarLocatorDevUIProcessor.java
  extensions/webjars-locator/deployment/src/main/resources/dev-ui/qwc-webjar-locator-webjar-libraries.js
Labels: area/dev-ui

#36524 Qute: relax cdi/inject namespace validation
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/NamedBeanNotFoundSafeTest.java
Labels: area/qute

#36487 Upgrade to Liquibase 4.24.0
  bom/application/pom.xml
Labels: area/gradle, area/dependencies, area/devtools, area/liquibase, triage/backport?

#36519 Infinispan client ref guide update with sni host validation
  docs/src/main/asciidoc/infinispan-client-reference.adoc
Labels: area/documentation, area/infinispan

#36525 Build cache - Various small adjustments
  core/launcher/pom.xml
  core/launcher/src/main/java/io/quarkus/launcher/LauncherShader.java
  independent-projects/parent/pom.xml
Labels: area/core

#36537 Reset the Apicurio registry client in dev mode and tests
  extensions/schema-registry/apicurio/common/deployment/src/main/java/io/quarkus/apicurio/registry/common/ApicurioRegistryClientProcessor.java
  extensions/schema-registry/apicurio/common/deployment/src/test/java/io/quarkus/apicurio/registry/common/ApicurioRegistryInternalsExpectationTest.java
  extensions/schema-registry/apicurio/common/runtime/src/main/java/io/quarkus/apicurio/registry/common/ApicurioRegistryClient.java
Labels: area/devmode

#36540 Upgrade H2 to version 2.2.224
  bom/application/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/config/DialectVersions.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, triage/backport-3.2?, triage/backport?

#36503 Allows Mongo client settings customization
  docs/src/main/asciidoc/mongodb.adoc
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/customization/DefaultCustomizerTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/customization/NamedCustomizerTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/customization/TooManyDefaultCustomizersTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/customization/TooManyNamedCustomizersTest.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/MongoClientName.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientCustomizer.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClients.java
Labels: area/documentation, area/mongodb

#36547 Qute: make it possible to init a new EngineBuilder from an Engine
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Evaluator.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EvaluatorImpl.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/EngineTest.java
Labels: triage/waiting-for-ci, area/qute, triage/backport?

#36556 ArC: fix PreDestroy callback support for decorators
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DecoratorGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/SimpleDecoratorTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport-3.2?, triage/backport?

#36571 Fix the mailer connection pool when multiple mailers are used
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/Mailers.java
  integration-tests/virtual-threads/pom.xml
Labels: area/mailer, kind/bugfix

#36566 Fix deployer detection in quarkus-maven-plugin
  devtools/maven/src/main/java/io/quarkus/maven/Deployer.java
  devtools/maven/src/test/java/io/quarkus/maven/DeployerTest.java
Labels: area/maven, area/devtools

#36544 Update Vert.x version to 4.4.6
  bom/application/pom.xml
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/reactive-pg-client/deployment/src/test/java/io/quarkus/reactive/pg/client/MoneyTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/EmptyHostTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/http2/Http2RSTFloodProtectionConfigTest.java
  extensions/vertx-http/deployment/src/test/resources/conf/ssl-jks-rst-flood-protection.conf
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerOptionsUtils.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/documentation, area/vertx, area/dependencies, area/reactive-sql-clients, triage/backport?

#36580 Redis: use known commands correctly
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractListCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractSetCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractSortedSetCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractStringCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/CommandMap.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/RedisCommand.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/CommandNormalizationTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/CustomCommandsTest.java
Labels: area/redis

#36546 Fix URL for Dev UI es-shims
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui-templates/build-time/index.html
Labels: area/vertx

#36353 Make it very obvious where Getting Started with Security tutorial is
  .github/quarkus-github-bot.yml
  docs/downstreamdoc.yaml
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-basic-authentication.adoc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-identity-providers.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/security-overview.adoc
Labels: area/documentation, area/infra-automation, area/docstyle

#36593 Allow for setting logging body limit programmatically
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/QuarkusRestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
Labels: area/resteasy-reactive

#36553 Add note that pinning cases section is historical information.
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation

#36572 Fix typos and a forgot backtick in the doc files
  docs/src/main/asciidoc/cassandra.adoc
  docs/src/main/asciidoc/cdi.adoc
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?

#36605 Fix handling of HTTP/2 H2 empty frames in Resteasy Reactive
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxInputStream.java
Labels: area/resteasy-reactive, triage/backport-3.2?, triage/backport?

#36598 Use MongoDB 4.4 consistently
  integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/BookResourceTest.java
Labels: area/mongodb

#36609 Add a custom OIDC identity provider test
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CustomIdentityProvider.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CustomIdentityProviderTestCase.java
  extensions/oidc/deployment/src/test/resources/application-introspection-disabled.properties
Labels: area/oidc, triage/backport?

#36327 Add validation of execution model annotations
  core/deployment/src/main/java/io/quarkus/deployment/execannotations/ExecutionModelAnnotationsAllowedBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/execannotations/ExecutionModelAnnotationsConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/execannotations/ExecutionModelAnnotationsProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcMethodsProcessor.java
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesMethodsProcessor.java
  extensions/reactive-routes/deployment/src/test/java/io/quarkustest/execannotations/ExecAnnotationInvalidTest.java
  extensions/reactive-routes/deployment/src/test/java/io/quarkustest/execannotations/ExecAnnotationValidTest.java
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/JaxrsMethodsProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/JaxrsMethodsProcessor.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerMethodsProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/FaultToleranceMethodsProcessor.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/GraphqlMethodsProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingMethodsProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventConsumerMethodsProcessor.java
Labels: area/core, area/resteasy, area/smallrye, area/vertx, area/scheduler, area/reactive-messaging, area/grpc, area/graphql, area/fault-tolerance, area/resteasy-reactive

#36616 Fix zlib link
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation

#36575 Updates Liquibase integrationtest
  integration-tests/liquibase/src/main/resources/application.properties
Labels: area/liquibase

#36629 Remove the pinned event example from the documentation
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation

#36637 Deprecate the scala extension
  extensions/scala/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/scala

#36645 QuarkusSecurityTestExtension afterEach call should not be made for tests without @TestSecurity
  test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java
Labels: area/testing, triage/backport-2.16?, triage/backport-3.4?, triage/backport-3.2?, triage/backport?

#36634 Introduce OidcClientRequestFilter
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcClientRequestFilter.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/OidcRequestCustomizer.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcRequestCustomizer.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/docstyle

#35934 Stork observability
  bom/application/pom.xml
  docs/src/main/asciidoc/stork-reference.adoc
  docs/src/main/asciidoc/telemetry-micrometer.adoc
  extensions/micrometer/deployment/pom.xml
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/StorkBinderProcessor.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/HttpDevModeConfigTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/StorkMetricsDisabledTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/StorkMetricsLoadBalancerFailTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/StorkMetricsServiceDiscoveryFailTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/StorkMetricsTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagWithHttpApplicationRootTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/GreetingResource.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/MockServiceDiscoveryConfiguration.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/MockServiceDiscoveryProvider.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/MockServiceDiscoveryProviderLoader.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/MockServiceSelectorConfiguration.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/MockServiceSelectorProvider.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/MockServiceSelectorProviderLoader.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/test/Util.java
  extensions/micrometer/runtime/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/stork/StorkObservationCollectorBean.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/MicrometerConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/StorkConfigGroup.java
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/QuarkusStorkObservableInfrastructure.java
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/SmallRyeStorkRecorder.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/documentation, area/smallrye, area/openapi, area/dependencies, area/metrics, area/stork

#36651 Dev UI: Fix height in Rest Client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/resources/dev-ui/qwc-rest-client-clients.js
Labels: area/resteasy-reactive

#36627 Update gRPC Protoc to version 3.24.4 and the generator to 1.59.0
  bom/application/pom.xml
  extensions/grpc/api/src/main/java/io/quarkus/grpc/GrpcClientUtils.java
  extensions/grpc/codegen/pom.xml
  extensions/grpc/inprocess/pom.xml
  extensions/grpc/runtime/src/main/java/io/grpc/override/ContextStorageOverride.java
  pom.xml
Labels: area/dependencies, area/grpc

#36596 Fix version reporting and parsing
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeMinimalJavaVersionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/GraalVMTest.java
  extensions/awt/deployment/src/main/java/io/quarkus/awt/deployment/AwtProcessor.java
Labels: area/core, area/graphics, triage/backport?

#36606 Reverts workaround liquibase issue
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/LiquibaseFactory.java
Labels: area/liquibase

#36630 Use container urls for connecting to services by default
  extensions/hibernate-reactive/deployment/pom.xml
  extensions/oidc-client/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache-kotlin/deployment/pom.xml
  extensions/panache/hibernate-reactive-panache/deployment/pom.xml
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/pom.xml
  extensions/reactive-mssql-client/deployment/pom.xml
  extensions/reactive-mysql-client/deployment/pom.xml
  extensions/reactive-oracle-client/deployment/pom.xml
  extensions/reactive-pg-client/deployment/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/mariadb/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/pom.xml
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/pom.xml
  integration-tests/hibernate-orm-tenancy/connection-resolver/pom.xml
  integration-tests/hibernate-orm-tenancy/datasource/pom.xml
  integration-tests/hibernate-reactive-db2/pom.xml
  integration-tests/hibernate-reactive-mariadb/pom.xml
  integration-tests/hibernate-reactive-mysql-agroal-flyway/pom.xml
  integration-tests/hibernate-reactive-mysql/pom.xml
  integration-tests/hibernate-reactive-panache-kotlin/pom.xml
  integration-tests/hibernate-reactive-panache/pom.xml
  integration-tests/hibernate-reactive-postgresql/pom.xml
  integration-tests/jpa-db2/README.md
  integration-tests/jpa-db2/pom.xml
  integration-tests/jpa-mariadb/README.md
  integration-tests/jpa-mariadb/pom.xml
  integration-tests/jpa-mssql/README.md
  integration-tests/jpa-mssql/pom.xml
  integration-tests/jpa-mysql/README.md
  integration-tests/jpa-oracle/pom.xml
  integration-tests/jpa-postgresql-withxml/pom.xml
  integration-tests/jpa-postgresql/pom.xml
  integration-tests/oidc-client/pom.xml
  integration-tests/reactive-db2-client/README.md
  integration-tests/reactive-db2-client/pom.xml
  integration-tests/reactive-mssql-client/README.md
  integration-tests/reactive-mssql-client/pom.xml
  integration-tests/reactive-mysql-client/README.md
  integration-tests/reactive-mysql-client/pom.xml
  integration-tests/reactive-oracle-client/pom.xml
  integration-tests/reactive-pg-client/README.md
  integration-tests/reactive-pg-client/pom.xml
  integration-tests/redis-cache/pom.xml
  integration-tests/redis-client/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/pom.xml
Labels: area/panache, area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/oidc, area/hibernate-reactive, area/redis, area/reactive-sql-clients

#36638 Codestarts: Add Entity annotation to Kotlin all-open
  docs/src/main/asciidoc/kotlin.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle-kotlin-dsl/kotlin/build.tpl.qute.gradle.kts
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/kotlin/build.tpl.qute.gradle
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/kotlin/pom.tpl.qute.xml
  integration-tests/gradle/src/main/resources/bean-in-testsources-project/build.gradle
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  integration-tests/gradle/src/main/resources/kotlin-grpc-project/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-kotlin-project/build.gradle
  integration-tests/gradle/src/main/resources/multi-source-project/build.gradle
  integration-tests/hibernate-reactive-panache-kotlin/pom.xml
  integration-tests/kotlin/src/test/resources/projects/classic-kotlin/pom.xml
  integration-tests/kotlin/src/test/resources/projects/external-reloadable-artifacts/app/pom.xml
  integration-tests/kotlin/src/test/resources/projects/kotlin-compiler-args/pom.xml
  integration-tests/logging-panache-kotlin/pom.xml
  integration-tests/resteasy-reactive-kotlin/prod-mode/pom.xml
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
Labels: area/documentation, area/gradle, area/kotlin, area/platform, area/devtools

#36579 Add information about new sponsor field
  docs/src/main/asciidoc/extension-metadata.adoc
Labels: area/documentation

#36541 Create security cors doc
  docs/downstreamdoc.yaml
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/openapi-swaggerui.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/resteasy.adoc
  docs/src/main/asciidoc/security-cors.adoc
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-overview.adoc
Labels: area/documentation, triage/qe?, area/docstyle

#36562 Add a warning for how to report security vulnerability
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_native.yml
Labels: area/infra-automation

#36574 Module build duration report
  .github/ModuleBuildDurationReport.java
Labels: area/infra-automation, area/tracing

#36561 Add auth mechanism to the Liquibase MongoDB connection string
  docs/src/main/asciidoc/liquibase-mongodb.adoc
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
Labels: area/documentation

#36657 Revert "Bump io.strimzi:kafka-oauth-client from 0.12.0 to 0.14.0"
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/kafka, area/dependencies

#36663 Disable VertxMDCTest on Windows
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/mdc/VertxMDCTest.java
Labels: area/vertx

#36284 Test Java 21 on CI
  .github/ci-disk-usage.sh
  .github/ci-prerequisites.sh
  .github/matrix-jvm-tests.json
  .github/workflows/ci-actions-incremental.yml
  README.md
  independent-projects/arc/tcks/cdi-tck-runner/src/test/resources/testng.xml
  integration-tests/main/src/test/java/io/quarkus/it/main/RegisterForReflectionTestCase.java
  integration-tests/scala/pom.xml
  integration-tests/virtual-threads/pom.xml
  tcks/jakarta-cdi/src/test/resources/testng.xml
Labels: area/documentation, area/arc, area/scala, area/infra-automation
