Repository quarkusio/quarkus, pull requests merged in 2023-07, with the labels that each got.

#34357 Add CIBA grant type to oidc-client
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClientConfig.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-wiremock/src/main/resources/application.properties
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/CibaAuthDeviceApprovalState.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/InjectWireMock.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: area/documentation, area/oidc

#34371 34261: grpc route to use mainrouter when http.root-path is not '/'
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/GrpcCustomHttpRootPathTest.java
  extensions/grpc/deployment/src/test/resources/grpc-server-custom-http-rootpath-config.properties
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxWebRouterBuildItem.java
Labels: area/vertx, triage/waiting-for-ci, area/grpc

#34441 Upgrade to Hibernate ORM 6.2.6.Final, Hibernate Reactive 2.0.2.Final
  bom/application/pom.xml
  integration-tests/jpa-h2/src/test/java/io/quarkus/it/jpa/h2/HibernateOrmNoWarningsTest.java
Labels: area/persistence, area/hibernate-orm, area/dependencies, area/hibernate-reactive, kind/component-upgrade, triage/backport?

#34458 Fix a typo in hibernate-reactive-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
Labels: area/documentation

#34358 Updates Infinispan to 14.0.11.Final
  bom/application/pom.xml
  extensions/infinispan-client/runtime/pom.xml
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/graal/NettySubstitution.java
Labels: area/infinispan, area/dependencies, triage/backport?

#34433 Use debug logging for catalog initialization message
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/PluginManager.java
Labels: area/platform, area/devtools

#34445 Bump Maven Model Helper to 25
  independent-projects/tools/pom.xml
Labels: area/platform, area/devtools

#34415 Add 5 mn to all CI native builds as GraalVM 23 is slower
  .github/native-tests.json
Labels: area/infra-automation

#34452 Fix Hibernate NoSuchMethod Exception when TenantIdGeneration used in Quarkus 3 native mode
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/CustomTenantResolver.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/EntityWithGeneratedValues.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/GeneratedValueResource.java
  integration-tests/jpa/src/main/resources/application.properties
Labels: area/persistence, area/hibernate-orm, triage/backport?

#34474 Fix span export issue when user provided SpanProcessor beans exist
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpExporterProvider.java
Labels: triage/waiting-for-ci, area/tracing, triage/backport?

#34450 Support multiple backchannel logout tokens
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutTokenCache.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenIntrospectionUserInfoCache.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/testing, area/oidc, triage/backport-3.1?, triage/backport?

#34449 Refactor BuildTimeConfigurationReader to make it easy to initialize a config outside ExtensionLoader
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/ExtensionLoader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  devtools/maven/src/main/java/io/quarkus/maven/GenerateCodeMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
Labels: area/core, area/config, area/maven, area/devtools, triage/backport?

#34481 ArC: fix possible StringIndexOutOfBoundsException in ArcJsonRPCService
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/devui/ArcJsonRPCService.java
Labels: area/arc, triage/waiting-for-ci, area/dev-ui, triage/backport?

#34484 Update OIDC DevUI doc with new DevUI images
  docs/src/main/asciidoc/images/dev-ui-keycloak-client-credentials-grant.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-decoded-tokens.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-password-grant.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-sign-in-to-service.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-sign-in-to-spa.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-test-access-token.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-test-service-from-spa.png
  docs/src/main/asciidoc/images/dev-ui-keycloak-test-service-swaggerui-graphql.png
  docs/src/main/asciidoc/images/dev-ui-oidc-card.png
  docs/src/main/asciidoc/images/dev-ui-oidc-devconsole-card.png
  docs/src/main/asciidoc/images/dev-ui-oidc-keycloak-card.png
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation, triage/backport?

#34490 Make sure settings-security.xml is picked up from ~/.m2 if exists
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
Labels: area/devtools, triage/backport?

#34491 Remove Maven pre-3.8.x workaround now that the minimum supported version is 3.8.2
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
Labels: triage/waiting-for-ci, area/devtools

#34500 Bump OWASP dependency-check plugin version to 8.3.1
  docs/src/main/asciidoc/security-vulnerability-detection.adoc
  pom.xml
Labels: area/documentation

#34468 Enforce the configured TLS version
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcSslUtils.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcTestPortUtils.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/SslServerConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerSslConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerOptionsUtils.java
  integration-tests/vertx-http/pom.xml
  integration-tests/vertx-http/src/main/java/io/quarkus/it/vertx/HelloResource.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/ServerWithTLS13Only.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/TlsProtocolVersionDefaultTestCase.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/TlsProtocolVersionSelectionTestCase.java
Labels: area/vertx, triage/waiting-for-ci, area/grpc, triage/backport-3.1?, triage/backport?

#34476 Revert "Remove unnecessary synchronization when creating Resource instances
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/InstanceHandler.java
Labels: triage/waiting-for-ci

#34083 Add fullDocumentBeforeChange to ChangeStreamOptions
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/ChangeStreamOptions.java
Labels: triage/waiting-for-ci, area/mongodb

#34508 Fix typo in InjectMock javadoc
  test-framework/common/src/main/java/io/quarkus/test/InjectMock.java
Labels: area/testing

#34486 Implement Redis custom codec support
  docs/src/main/asciidoc/redis-reference.adoc
  extensions/redis-client/deployment/pom.xml
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/RedisDatasourceProcessor.java
  extensions/redis-client/deployment/src/test/java/io/quarkus/redis/client/deployment/datasource/CustomCodecTest.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/RedisCommandExtraArguments.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/codecs/Codec.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/codecs/Codecs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoRadiusStoreArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/geo/GeoSearchStoreArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/QueryArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisClientRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractGeoCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/Marshaller.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/RedisCommand.java
  integration-tests/redis-client/pom.xml
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/CustomCodecResource.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/Person.java
  integration-tests/redis-client/src/main/java/io/quarkus/redis/it/PersonCodec.java
  integration-tests/redis-client/src/test/java/io/quarkus/redis/it/QuarkusRedisTest.java
Labels: area/documentation, area/redis

#34510 Enhance OpenTelemetry's DropTargetsSampler
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/DropTargetsSampler.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/DropTargetsSamplerTest.java
Labels: triage/waiting-for-ci, area/tracing, triage/backport?

#32854 Use `@WithUnnamedKey` in Hibernate Search extension config
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingBuildTimeConfig.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingRecorder.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingRuntimeConfig.java
  extensions/hibernate-search-orm-coordination-outbox-polling/runtime/src/main/java/io/quarkus/hibernate/search/orm/coordination/outboxpolling/runtime/HibernateSearchOutboxPollingRuntimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchConfigUtil.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfig.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfig.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/dev/HibernateSearchElasticsearchDevRecorder.java
Labels: area/hibernate-search, triage/flaky-test

#34447 Allow loading custom Groovy extension modules
  core/runtime/pom.xml
  test-framework/common/src/main/java/io/quarkus/test/common/GroovyCacheCleaner.java
  test-framework/common/src/main/java/io/quarkus/test/common/GroovyClassValue.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/core, triage/waiting-for-ci, area/testing

#34511 Duplicated context concept guide
  docs/src/main/asciidoc/duplicated-context.adoc
  docs/src/main/asciidoc/images/duplicated-context-continuation.png
  docs/src/main/asciidoc/images/reactive-continuation.png
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation

#34471 The Common Log Format requires the date to be wrapped into `[]`
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/DateTimeAttribute.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/AccessLogTestCase.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport-2.16?, triage/backport-3.1?, triage/backport?

#34523 Fix notifications when reindexing the default PU through the dev UI
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/resources/dev-ui/hibernate-search-orm-elasticsearch-indexed-entity-types.js
Labels: area/hibernate-search, triage/backport?

#34499 Simplify and improve OIDC PKCE secret initialization
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  extensions/oidc/deployment/src/test/resources/application-dev-mode.properties
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/documentation, area/oidc, triage/backport?

#34514 Support @WithUnnamedKey in documentation
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemFinder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocKey.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/MavenConfigDocBuilder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
Labels: area/core

#34483 Upgrade MongoDB client to 4.10
  bom/application/pom.xml
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
Labels: area/mongodb, area/dependencies

#34524 Make @RunOnVirtualThread capture and run in a duplicated context
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
Labels: area/resteasy-reactive

#34418 ArC: add support for custom AlterableContext implementations
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/CustomAlterableContexts.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/CustomAlterableContextsGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/bcextensions/ExtensionsEntryPoint.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/cdi/bcextensions/CustomNormalScopeTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/cdi/bcextensions/CustomPseudoScopeTest.java
Labels: area/arc, triage/waiting-for-ci

#34520 Invoke secured blocking Grpc methods on worker thread
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/GrpcAuthTest.java
  extensions/grpc/deployment/src/test/proto/security.proto
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/GrpcSecurityInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/GrpcSecurityRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
Labels: area/grpc

#34527 Implement expire-after-access for the redis cache
  docs/src/main/asciidoc/cache-redis-reference.adoc
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheBuildRecorder.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheImpl.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheInfo.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheInfoBuilder.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheRuntimeConfig.java
  extensions/redis-cache/runtime/src/test/java/io/quarkus/cache/redis/runtime/RedisCacheImplTest.java
Labels: area/documentation

#34494 Restore ENTRYPOINT in Dockerfile templates
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/codestart.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.native
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.native-micro
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/README.md
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleDefaultJava/src_main_java_org_acme_GreetingResource.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleDefaultJava/src_native-test_java_org_acme_GreetingResourceIT.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleDefaultJava/src_test_java_org_acme_GreetingResourceTest.java
  integration-tests/elasticsearch-rest-client/README.md
  integration-tests/elasticsearch-rest-high-level-client/README.md
  integration-tests/maven/src/test/java/io/quarkus/maven/it/NativeImageIT.java
  integration-tests/maven/src/test/resources-filtered/projects/codegen-config-factory/app/src/main/docker/Dockerfile.native
  integration-tests/maven/src/test/resources-filtered/projects/codegen-config-factory/app/src/main/docker/Dockerfile.native-micro
  integration-tests/maven/src/test/resources-filtered/projects/native-image-app/pom.xml
Labels: area/maven, area/platform, area/devtools, area/elasticsearch, triage/backport?

#34478 Make plugin syncing log debug
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/PluginManager.java
Labels: area/platform, area/devtools, triage/backport?

#34533 DevMojo: align Maven goal invocation logging with Maven 3.9 style
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, area/devtools, triage/backport?

#34541 Fix error message about JDBC instrumentation
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryJdbcInstrumentationValidationTest.java
Labels: triage/waiting-for-ci, area/tracing, triage/backport?

#34521 Track exceptions thrown during JAX-RS processing in the current span
  extensions/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/instrumentation/InstrumentationProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/resteasy/AttachExceptionHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/PreExceptionMapperHandlerTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/server/spi/PreExceptionMapperHandlerBuildItem.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/DeploymentInfo.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/DelegatingServerRestHandler.java
  integration-tests/opentelemetry-reactive/pom.xml
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ExporterResource.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ReactiveResource.java
  integration-tests/opentelemetry-reactive/src/main/resources/application.properties
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/Utils.java
Labels: area/tracing

#34528 Fix Maven auth issue due to a classpath mix up
  devtools/maven/pom.xml
  independent-projects/bootstrap/bom/pom.xml
Labels: area/maven, area/devtools, triage/backport?

#34434 Introduce a way to provide custom micrometer metrics tags
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/VertxBinderProcessor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/HttpServerMetricsTagsContributor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/DummyTag.java
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/HeaderTag.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
Labels: area/metrics

#34459 Making --verbose a global flag
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/main/java/io/quarkus/cli/common/OutputOptionMixin.java
Labels: area/devtools, area/cli

#34544 Add support for absolute paths for jacoco exec and report
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/JacocoConfig.java
Labels: area/testing

#34570 Prevent build failure when @Blocking on Application
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/JandexUtil.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#34539 Prevent invalid warnings when setting @QuarkusIntegrationTest related properties
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
Labels: area/vertx, triage/backport?

#34575 Explain why quarkus-smallrye-jwt may need to run in blocking mode
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation

#34559 Grpc: Fix hanging when Keycloak authorizer blocks thread and response never arrives
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/BlockingHttpSecurityPolicy.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/GrpcAuthTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/GrpcAuthTestBase.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/GrpcAuthUsingSeparatePortTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
Labels: area/grpc

#34583 Ban all services from SmallRyeConfig in CodeGenerator
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
Labels: area/core, triage/backport?

#34573 Introduce a way to completely customize MeterRegistry
  docs/src/main/asciidoc/telemetry-micrometer.adoc
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MeterRegistryCustomizer.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MeterRegistryCustomizerConstraint.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MeterRegistryCustomizerConstraints.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerRecorder.java
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/it/micrometer/prometheus/CustomConfiguration.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/ExampleResourcesTest.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
Labels: release/noteworthy-feature, area/documentation, area/metrics

#34372 Expose Stork Registars in Quarkus extension + integration test
  bom/application/pom.xml
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/ServiceConfiguration.java
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/StorkConfigUtil.java
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/StorkConfiguration.java
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/StorkLoadBalancerConfiguration.java
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/StorkServiceDiscoveryConfiguration.java
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/StorkServiceRegistrarConfiguration.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/pom.xml
  integration-tests/smallrye-stork-registration/pom.xml
  integration-tests/smallrye-stork-registration/src/main/java/org/acme/ClientCallingResource.java
  integration-tests/smallrye-stork-registration/src/main/java/org/acme/MyServiceClient.java
  integration-tests/smallrye-stork-registration/src/main/java/org/acme/services/BlueService.java
  integration-tests/smallrye-stork-registration/src/main/java/org/acme/services/RedService.java
  integration-tests/smallrye-stork-registration/src/main/java/org/acme/services/Registration.java
  integration-tests/smallrye-stork-registration/src/main/resources/application.properties
  integration-tests/smallrye-stork-registration/src/test/java/org/acme/ClientCallingResourceIT.java
  integration-tests/smallrye-stork-registration/src/test/java/org/acme/ClientCallingResourceTest.java
Labels: area/smallrye, area/dependencies, area/stork

#34542 Fix user methods requiring a session in Panache REST Data with Reactive
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractInjectResourcesMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/CollectionsResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/InjectionResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourceGetMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/entity/PanacheEntityResourcePostMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/CollectionsResource.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/PanacheRepositoryResourceGetMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/repository/PanacheRepositoryResourcePostMethodTest.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/JaxRsResourceImplementor.java
Labels: area/panache, triage/waiting-for-ci, area/resteasy-reactive

#34591 Dev UI: Migrate gRPC
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devmode/GrpcDevConsoleWebSocketListener.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devui/GrpcDevUIProcessor.java
  extensions/grpc/deployment/src/main/resources/dev-ui/qwc-grpc-services.js
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devui/GrpcJsonRPCService.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-code-block.js
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIGrpcSmokeTest.java
Labels: area/vertx, triage/waiting-for-ci, area/grpc

#34519 Implement XPending redis command
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/PendingMessage.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/ReactiveStreamCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/ReactiveTransactionalStreamCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/StreamCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/TransactionalStreamCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XPendingArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/stream/XPendingSummary.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractStreamCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingStreamCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/BlockingTransactionalStreamCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveStreamCommandsImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalStreamCommandsImpl.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/StreamCommandsTest.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/TransactionalStreamCommandsTest.java
Labels: area/redis

#34611 Undertow correct path when building on Windows to Docker
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/KnownPathResourceManager.java
Labels: area/undertow

#34610 Do not refresh OIDC session if the user is requesting logout
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutTokenCache.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/oidc, triage/backport-3.1?, triage/backport?

#34612 DevServices for Keycloak should support refresh token grant
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: triage/backport-3.1?, triage/backport?

#34525 Undertow - fire context events for session context
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/sessioncontext/ObservingBean.java
  extensions/undertow/deployment/src/test/java/io/quarkus/undertow/test/sessioncontext/SessionContextTestCase.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/HttpSessionContext.java
Labels: triage/waiting-for-ci, area/undertow

#34629 Add QuarkusApplication javadoc
  core/runtime/src/main/java/io/quarkus/runtime/QuarkusApplication.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#34649 Fix OIDC DEV UI Live Reload
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevConsoleProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevConsoleProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevJsonRpcService.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevUiRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevUiRpcSvcPropertiesBean.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevUiRuntimePropertiesDTO.java
Labels: area/oidc, triage/backport?

#34637 Polish OtlpGrpcSpanExporter creation
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpRecorder.java
Labels: area/tracing

#34639 Remove unused class in OtlpExporterRuntimeConfig
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterRuntimeConfig.java
Labels: area/tracing

#34665 Docs: fix example snippet for VertxContextSupport
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation, triage/backport?

#34625 Add hint for migration of servlets for RESTEasy Reactive
  docs/src/main/asciidoc/resteasy-reactive-migration.adoc
Labels: area/documentation, triage/waiting-for-ci

#34658 Fix import issues in qute documentation examples
  docs/src/main/asciidoc/qute-reference.adoc
  docs/src/main/asciidoc/qute.adoc
Labels: area/documentation

#34659 Improve OIDC multi-tenancy and providers docs
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
Labels: area/documentation

#34662 Add OpenAPI to management interface if enabled, with option to exclude
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/devui/SmallRyeGraphQLDevUIProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthConfig.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthDevUiProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/devui/OpenApiDevUIProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/filter/AutoServerFilter.java
  extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpRootPathBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/NonApplicationRootPathBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/RouteBuildItem.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-external-page.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/ExternalPageBuilder.java
Labels: area/smallrye, area/vertx, area/openapi, triage/waiting-for-ci, area/swagger-ui, area/graphql, area/health

#34685 Allow override of dev services props by integration test extensions
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainIntegrationTestExtension.java
Labels: triage/waiting-for-ci, area/testing, triage/backport?

#34678 Don't mask deployment target from the CLI.
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Kind.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Kubernetes.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Minikube.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Openshift.java
  devtools/cli/src/test/java/io/quarkus/cli/deploy/CliDeployGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/deploy/CliDeployMavenTest.java
Labels: area/devtools, area/cli

#34581 OpenTelemetry service name should have higher priority than app name and resource attribute service name
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryServiceNameTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryProducer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtil.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/TracerUtilTest.java
Labels: area/tracing, triage/backport?

#34655 Refactor Hibernate mapping to use groups instead of dotted names
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: area/persistence, area/hibernate-orm, area/hibernate-reactive

#34689 Ban only unavailable config services when initializing config in CodeGenerator
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/core, area/maven, triage/backport?

#34682 Upgrade Hibernate Reactive to 2.0.3.Final
  bom/application/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/dependencies, area/hibernate-reactive, triage/backport?

#34631 Allow reauthentication if the OIDC state cookie is not matched
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#34683 Docfix: create multiple named reactive datasources is supported
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, triage/backport?

#34709 Support @ConfigMapping inheritance doc generation
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemFinder.java
Labels: area/core

#34706 Simplify the way OIDC tenant id interceptors can be created
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantResolverInterceptor.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/HrInterceptor.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/TenantEchoResource.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
Labels: area/documentation, area/oidc

#34707 Remove a class that wasn't meant to be added
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/Playground.java
Labels: area/devtools, triage/backport?

#34688 Dev-UI Upgrade js lib versions
  bom/application/pom.xml
Labels: triage/waiting-for-ci

#34701 Use latest Stork fixing an issue about k8s SD refreshing cache
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/cache, area/stork, triage/backport?

#34702 Properly populate metrics uri in presence of auth failures
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ObservabilityProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/observability/ObservabilityHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/observability/ObservabilityIntegrationRecorder.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/observability/ObservabilityUtil.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/FilterBuildItem.java
  integration-tests/micrometer-prometheus/pom.xml
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/it/micrometer/prometheus/SecuredResource.java
  integration-tests/micrometer-prometheus/src/main/resources/application.properties
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
  integration-tests/opentelemetry-reactive/pom.xml
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/SecuredResource.java
  integration-tests/opentelemetry-reactive/src/main/resources/application.properties
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
Labels: triage/waiting-for-ci

#34720 Support serialization of class fields with Jackson in native
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
Labels: area/jackson, triage/backport?

#34727 Add CORS regex test
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSRegexTestCase.java
  extensions/vertx-http/deployment/src/test/resources/conf/cors-regex.properties
Labels: triage/waiting-for-ci

#34728 Docs: duplicated context - minor improvements
  docs/src/main/asciidoc/duplicated-context.adoc
Labels: area/documentation

#34743 OIDC DEV UI - small alignment and width adjustments
  extensions/oidc/deployment/src/main/resources/dev-ui/qwc-oidc-provider.js
Labels: area/oidc

#34737 Avoid ambiguous use of 'Panache' in 'Logging with Panache'
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation

#34641 Don't load remote build analytics config if user has not accepted
  independent-projects/tools/analytics-common/pom.xml
  independent-projects/tools/analytics-common/src/main/java/io/quarkus/analytics/ConfigService.java
  independent-projects/tools/analytics-common/src/main/java/io/quarkus/analytics/rest/RestClient.java
  independent-projects/tools/analytics-common/src/test/java/io/quarkus/analytics/AnalyticsServiceTest.java
  independent-projects/tools/analytics-common/src/test/java/io/quarkus/analytics/ConfigServiceTest.java
  independent-projects/tools/analytics-common/src/test/java/io/quarkus/analytics/rest/RestClientFailTest.java
  independent-projects/tools/analytics-common/src/test/java/io/quarkus/analytics/rest/RestClientTest.java
  independent-projects/tools/pom.xml
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/backport?

#34752 Align Vert.x version in RESTEasy Reactive with Quarkus
  independent-projects/resteasy-reactive/pom.xml
Labels: triage/waiting-for-ci

#34740 Bump Keycloak version to 22.0.0
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/keycloak-admin-client-reactive/runtime/pom.xml
  extensions/keycloak-admin-client/runtime/pom.xml
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakReflectionBuildStep.java
  extensions/keycloak-authorization/runtime/pom.xml
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/HttpClientBuilder.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerAuthorizer.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerRecorder.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/VertxHttpFacade.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc, area/dependencies, area/keycloak

#34775 DevMojo warnIfBuildGoalMissing parameter to be able to supress the warning about missing build goal
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
Labels: area/maven, area/devtools, triage/backport?

#34774 Fixed workspace loading in dev mode when POM manipulaing plugins store POM files outside project directories
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/pom-in-target-dir/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/pom-in-target-dir/src/main/java/org/acme/GreetingResource.java
Labels: area/maven, area/devtools, triage/backport?

#34772 Remove token customizer from OIDC Microsoft provider
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
Labels: area/documentation, area/oidc, triage/backport?

#34773 Add another hint how to decrease OIDC session cookie size
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
Labels: area/oidc, triage/backport?

#34791 Allow for minor clock skew when comparing OIDC cookie and token lifetimes
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/oidc

#34784 Do not make OIDC state cookie name unique if multiple code flows are not allowed
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc

#34781 Narayana upgrade (to 7.0.0.Final)
  bom/application/pom.xml
Labels: area/dependencies

#34794 Improve jar resources' release robustness
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
Labels: area/devtools, triage/backport?

#34804 Encode multi char code points correctly in RestEasy Reactive
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/Encode.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/util/EncodeTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport?

#34792 Ignore unmapped build time properties in KubernetesServiceBindingConfig
  extensions/kubernetes-service-binding/runtime/src/main/java/io/quarkus/kubernetes/service/binding/runtime/KubernetesServiceBindingConfigSourceFactory.java
Labels: area/kubernetes

#34783 Stork - Removing out of date content and link upstream documentation
  docs/src/main/asciidoc/stork-reference.adoc
Labels: area/documentation

#34739 Move DevUI Config resolution to Runtime
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ConfigurationProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/config/ConfigDescriptionBean.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/config/ConfigDevUiRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/config/ConfigJsonRPCService.java
Labels: area/vertx

#34802 Fail when GraalVM / Mandrel version detection fails
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/GraalVMTest.java
Labels: area/core

#34647 Replace OkHttp tracing backend with Vert.x
  bom/test/pom.xml
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterProcessor.java
  extensions/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterTracesConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/VertxGrpcExporter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/graal/Target_io_opentelemetry_exporter_otlp_internal_OtlpSpanExporterProvider.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/InstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpRecorderTest.java
  integration-tests/opentelemetry-vertx-grpc-exporter/pom.xml
  integration-tests/opentelemetry-vertx-grpc-exporter/src/main/java/io/quarkus/it/opentelemetry/vertx/grpc/exporter/HelloResource.java
  integration-tests/opentelemetry-vertx-grpc-exporter/src/main/resources/application.properties
  integration-tests/opentelemetry-vertx-grpc-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/grpc/exporter/AbstractExporterTest.java
  integration-tests/opentelemetry-vertx-grpc-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/grpc/exporter/NoTLSNoCompressionTest.java
  integration-tests/opentelemetry-vertx-grpc-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/grpc/exporter/NoTLSWithCompressionTest.java
  integration-tests/opentelemetry-vertx-grpc-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/grpc/exporter/OtelCollectorLifecycleManager.java
  integration-tests/opentelemetry-vertx-grpc-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/grpc/exporter/Traces.java
  integration-tests/opentelemetry-vertx-grpc-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/grpc/exporter/WithTLSNoCompressionTest.java
  integration-tests/opentelemetry-vertx-grpc-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/grpc/exporter/WithTLSWithCompressionTest.java
  integration-tests/opentelemetry-vertx-grpc-exporter/src/test/resources/otel-config.yaml
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/dependencies, area/tracing

#34606 Timeout message for build analytics
  independent-projects/tools/analytics-common/src/main/java/io/quarkus/analytics/AnalyticsService.java
Labels: area/platform, area/devtools, triage/backport?

#34789 Avoid race condition on adding content-length header
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
Labels: triage/waiting-for-ci, triage/backport?

#34808 Lift the limitation regarding @Transactional and @RunOnVirtualThread
  docs/src/main/asciidoc/virtual-threads.adoc
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: area/documentation

#34795 Discover all the project modules from all the Maven profiles by default
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/DependencyInProfileActiveByDefaultRawModelBuilderTest.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/modules-in-profiles/other/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/modules-in-profiles/pom.xml
Labels: area/core, area/devtools, triage/backport?

#34746 Properly implement redirection in REST Client for 307 responses
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/RedirectTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/RedirectingResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/RedirectingResourceClient302.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/RedirectingResourceClient307.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/RedirectingResourceWithRedirectHandlerAnnotationClient.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/RedirectingResourceWithRegisterProviderRedirectHandlerClient.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/RedirectingResourceWithSeveralRedirectHandlerAnnotationsClient.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/WrapperVertxRedirectHandlerImpl.java
Labels: area/resteasy-reactive, triage/backport?

#34812 Allow to customize OIDC JavaRequest checks
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/JavaScriptRequestChecker.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TokenCustomizerFinder.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomJavaScriptRequestChecker.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/docstyle

#34826 Fix build analytics documentation - payload example
  docs/src/main/asciidoc/build-analytics.adoc
Labels: area/documentation, triage/waiting-for-ci

#34734 Added --no-dockerfiles command shortcut
  devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/create/CodeGenerationGroup.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectJBangTest.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
Labels: area/devtools, area/cli, area/jbang

#34722 Make Snappy optional in JVM mode
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/SnappyUtils.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRecorder.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/SnappyRecorder.java
Labels: triage/waiting-for-ci, area/kafka, triage/backport?

#34805 Fix container builds when explicitly setting `container-runtime`
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/UpxCompressionBuildStep.java
Labels: area/core, triage/backport?

#34820 Keep maven-repo artifact 7 days instead of 1
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#34545 Properly construct instance of LateBoundBatchSpanProcessor
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalRecorder.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerIdGeneratorBuildItem.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProviderBuildItem.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerResourceBuildItem.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerSpanExportersBuildItem.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerSpanProcessorsBuildItem.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterBadEndpointTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryProducer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/LateBoundBatchSpanProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpExporterProvider.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/RemoveableLateBoundBatchSpanProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/InstrumentationRecorder.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpExporterProviderTest.java
Labels: area/tracing, area/agroal

#34557 Add support for virtual threads in smallrye-reactive-messaging
  core/deployment/src/main/java/io/quarkus/deployment/console/AeshConsole.java
  docs/src/main/asciidoc/amqp-reference.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/messaging-virtual-threads.adoc
  docs/src/main/asciidoc/pulsar.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusWorkerPoolRegistry.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/SmallRyeReactiveMessagingLifecycle.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/WorkerConfiguration.java
Labels: area/documentation, area/core, area/smallrye, area/reactive-messaging

#34310 Reduce initial's Arc ManagedContext activation cost
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ArcThreadSetupAction.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusCurrentRequest.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ManagedContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
  independent-projects/arc/tcks/cdi-tck-porting-pkg/src/main/java/io/quarkus/arc/tck/porting/ContextsImpl.java
Labels: area/arc, triage/waiting-for-ci, area/testing, area/mongodb, area/platform, area/dependencies, area/devtools, area/resteasy-reactive

#34844 Add clean instructions to be build cache-friendly
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#34845 Error message when re-augmenting non-mutable Quarkus application
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/QuarkusEntryPoint.java
Labels: area/devtools

#34829 Add more CORS regex tests and fix the CORS regex example
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSRegexTestCase.java
  extensions/vertx-http/deployment/src/test/resources/conf/cors-regex.properties
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/cors/CORSFilterTest.java
Labels: area/documentation, area/vertx

#34859 Remove false positive warning about quarkus.launch.rebuild
  core/runtime/src/main/java/io/quarkus/runtime/LaunchConfig.java
Labels: area/core, triage/waiting-for-ci, triage/backport?

#34856 Fix unrecognised property
  core/runtime/src/main/java/io/quarkus/runtime/BuildAnalyticsConfig.java
Labels: area/core, triage/backport?

#34209 FindResourceWriters often creates HashSets and ArrayLists while not necessary
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/Serialisers.java
Labels: triage/waiting-for-ci

#34879 Make the creation of the Tracer bean lazy
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/TracerProducer.java
Labels: area/tracing

#34874 Properly return HTTP 406 on invalid Accept header
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ClassRoutingHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/mediatype/InvalidAcceptTest.java
Labels: triage/backport?

#34840 Remove com.typesafe.netty:netty-reactive-streams exclusion from org.asynchttpclient:async-http-client
  bom/application/pom.xml
Labels: area/dependencies

#34862 Rename OIDC Tenant annotation to TenantFeature
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantFeature.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TokenCustomizer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TokenCustomizerFinder.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/DefaultTenantTokenCustomizer.java
Labels: area/oidc, release/breaking-change

#34882 Revert to openjdk-17-runtime:1.16 images
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-17-runtime
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: triage/backport?

#34876 Add @RunOnVirtualThread support on classes in reactive messaging
  docs/src/main/asciidoc/messaging-virtual-threads.adoc
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusWorkerPoolRegistry.java
Labels: area/documentation, area/smallrye, area/reactive-messaging

#34885 Fixed possible ConcurrentModificationException inside dev mode launcher
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, area/devtools, triage/backport?

#34888 Make subresource handling for interfaces more nuanced
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/MultipleResourceImplementInterfaceTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#34886 Fix http.route tracing attribute reporting
  extensions/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryReactiveRoutesTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/HttpInstrumenterVertxTracer.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTest.java
Labels: triage/waiting-for-ci, area/tracing, triage/backport?

#34883 Allow adding more claims to OIDC JWT authentication token
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc-common/runtime/src/test/java/io/quarkus/oidc/common/runtime/OidcCommonUtilsTest.java
Labels: area/oidc

#34878 Dev UI: Change page title to indicate sub page
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/router-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-menu.js
Labels: area/vertx, triage/waiting-for-ci

#34871 Dev UI: Migrate Kafka Client UI
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/devui/KafkaDevUIProcessor.java
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-access-control-list.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-add-message.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-add-topic.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-consumer-groups.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-messages.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-nodes.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-schema-registry.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-topics.js
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/devui/KafkaJsonRPCService.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/jsonrpc.js
Labels: area/vertx, triage/waiting-for-ci, area/kafka

#34904 Dev UI Scheduler: Fix screen height
  extensions/scheduler/deployment/src/main/resources/dev-ui/qwc-scheduler-scheduled-methods.js
Labels: area/scheduler

#34892 3.2.2 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/UpxCompressionBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/BuildAnalyticsConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/LaunchConfig.java
  devtools/gradle/gradle/libs.versions.toml
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/transaction.adoc
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-17-runtime
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/SnappyUtils.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRecorder.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/SnappyRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ClassRoutingHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/mediatype/InvalidAcceptTest.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/documentation, area/gradle, area/core, area/maven, area/infra, area/oidc, area/kafka, area/dependencies, area/devtools, area/docstyle

#34855 Implement support for @RunOnVirtualThread for gRPC services
  .github/workflows/ci-actions-incremental.yml
  docs/src/main/asciidoc/grpc-service-implementation.adoc
  docs/src/main/asciidoc/grpc-virtual-threads.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/BindableServiceBuildItem.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcDotNames.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/deployment/GrpcServerProcessorTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/deployment/MutinyServiceBlockingMethodTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/blocking/BlockingServerInterceptor.java
  extensions/grpc/runtime/src/test/java/io/quarkus/grpc/runtime/supports/BlockingServerInterceptorTest.java
  integration-tests/pom.xml
  integration-tests/virtual-threads/grpc-virtual-threads/disable-native-profile
  integration-tests/virtual-threads/grpc-virtual-threads/pom.xml
  integration-tests/virtual-threads/grpc-virtual-threads/src/main/java/io/quarkus/grpc/example/streaming/AssertHelper.java
  integration-tests/virtual-threads/grpc-virtual-threads/src/main/java/io/quarkus/grpc/example/streaming/TestServiceImpl.java
  integration-tests/virtual-threads/grpc-virtual-threads/src/main/proto/empty.proto
  integration-tests/virtual-threads/grpc-virtual-threads/src/main/proto/messages.proto
  integration-tests/virtual-threads/grpc-virtual-threads/src/main/proto/test.proto
  integration-tests/virtual-threads/grpc-virtual-threads/src/main/resources/application.properties
  integration-tests/virtual-threads/grpc-virtual-threads/src/test/java/io/quarkus/grpc/example/streaming/VertxVirtualThreadTest.java
  integration-tests/virtual-threads/grpc-virtual-threads/src/test/java/io/quarkus/grpc/example/streaming/VirtualThreadTest.java
  integration-tests/virtual-threads/grpc-virtual-threads/src/test/java/io/quarkus/grpc/example/streaming/VirtualThreadTestBase.java
  integration-tests/virtual-threads/pom.xml
Labels: area/documentation, triage/waiting-for-ci, area/infra-automation, area/grpc

#34906 Allow the use of HTTP2 in programmatically created REST Client
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  integration-tests/rest-client-reactive-http2/src/main/java/io/quarkus/it/rest/client/http2/Client2.java
  integration-tests/rest-client-reactive-http2/src/main/java/io/quarkus/it/rest/client/http2/Resource.java
  integration-tests/rest-client-reactive-http2/src/main/resources/application.properties
  integration-tests/rest-client-reactive-http2/src/test/java/io/quarkus/it/rest/client/http2/ResourceTest.java
Labels: area/resteasy-reactive, triage/backport?

#34895 2.16.9 backports 1
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/DateTimeAttribute.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/Encode.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/util/EncodeTest.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/AccessLogTestCase.java
  pom.xml
Labels: area/infra, area/vertx, area/grpc

#34838 Set REST Application class if exists in RESTEasy Deployment
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
Labels: area/resteasy

#34821 Update Kotlin to 1.9.0
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  independent-projects/arc/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
Labels: area/gradle, area/arc, area/dependencies, area/devtools

#34921 Support @RolesAllowed property expression treated as list
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/security/deployment/src/test/java/io/quarkus/security/test/rolesallowed/RolesAllowedExpressionTest.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
Labels: area/documentation, area/security, triage/waiting-for-ci, area/docstyle

#33931 Add optional native flag to build PIE binaries
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/TestNativeConfig.java
Labels: area/core, triage/waiting-for-ci

#34925 Force registration of JAXB providers
  extensions/resteasy-classic/resteasy-jaxb/deployment/src/main/java/io/quarkus/resteasy/jaxb/deployment/ResteasyJaxbProcessor.java
Labels: area/resteasy

#34936 Update RabbitMQ DevServices container to 3.12
  docs/src/main/asciidoc/rabbitmq.adoc
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesBuildTimeConfig.java
  integration-tests/reactive-messaging-rabbitmq-dyn/src/test/java/io/quarkus/it/rabbitmq/RabbitMQConnectorDynCredsTest.java
Labels: area/documentation, area/smallrye, area/reactive-messaging

#34860 Proper ordering of the handlers chapters and addition of some examples in the Logging guide
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport?, area/docstyle

#34945 Fix Openshift deployments when using a custom output directory
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-with-output-directory-build-and-deploy/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-with-output-directory-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-with-output-directory-build-and-deploy/src/main/java/org/acme/Hello.java
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-with-output-directory-build-and-deploy/src/main/resources/application.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-with-output-directory-build-and-deploy/verify.groovy
Labels: area/kubernetes, triage/backport-3.1?

#34946 Clean up code of OpenTelemetryProducer
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/AutoConfiguredOpenTelemetrySdkBuilderCustomizer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryProducer.java
Labels: area/housekeeping, area/tracing

#34913 Virtual thread reference documentation and resteasy reactive how-to
  docs/src/main/asciidoc/resteasy-reactive-virtual-threads.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/virtual-threads.adoc
Labels: area/documentation
