Repository quarkusio/quarkus, pull requests merged in 2024-06, with the labels that each got.

#40936 Polish Infinispan Dev Service logging
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
Labels: area/infinispan

#40895 Bump kubernetes-client-bom from 6.12.1 to 6.13.0
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  pom.xml
Labels: area/kubernetes, triage/flaky-test

#40939 Make baseTarget of the REST Client implementation final
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
Labels: area/resteasy-reactive

#36826 Initial native image agent with JVM mode tests integration
  core/builder/src/main/java/io/quarkus/builder/Json.java
  core/builder/src/main/java/io/quarkus/builder/JsonReader.java
  core/builder/src/main/java/io/quarkus/builder/JsonTransform.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonArray.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonBoolean.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonDouble.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonInteger.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonMember.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonMultiValue.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonNull.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonNumber.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonObject.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonString.java
  core/builder/src/main/java/io/quarkus/builder/json/JsonValue.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageAgentConfigDirectoryBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildLocalContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ApplyNativeImageAgentConfigStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/TestNativeConfig.java
  devtools/maven/src/main/java/io/quarkus/maven/GenerateCodeTestsMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/NativeImageAgentMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  docs/src/main/asciidoc/native-reference.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/pom.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateMavenWithCustomDep/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/NativeAgentIT.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/main/java/org/acme/Alice.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/main/java/org/acme/Carol.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/main/java/org/acme/GreetingService.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/test/java/org/acme/GreetingResourceIT.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/test/java/org/acme/GreetingResourceTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
  test-framework/common/src/main/java/io/quarkus/test/common/DockerContainerArtifactLauncher.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ArtifactLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/JarLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/NativeImageLauncherProvider.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/verifier/MavenProcessInvoker.java
Labels: release/noteworthy-feature, triage/waiting-for-ci, area/testing, area/devtools, triage/flaky-test

#40945 Revert "Bump net.revelc.code.formatter:formatter-maven-plugin"
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools

#40333 Initial version of the WebSocket Next client ADR
  adr/0003-websocket-next-client.adoc
Labels: area/adr

#40947 Better error reporting and formattering in WorkspaceLoader and incubating dependency resolver
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ModelResolutionTaskRunner.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/workspace-multiple/root/module1/pom.xml
Labels: area/devtools, triage/flaky-test

#40946 Enable incubating model resolver in dev mode and quarkus:dependency-tree
  devtools/maven/src/main/java/io/quarkus/maven/DependencyTreeMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/DependenciesProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/IncubatingApplicationModelResolver.java
Labels: area/maven, area/vertx, area/devtools, triage/flaky-test

#40927 Support annotationProcessorPathsUseDepMgmt in quarkus:dev
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: triage/backport-3.8, triage/backport

#40954 Highlight Hibernate generated SQL queries
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#40908 Remove deprecated vineflower properties support
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigCompatibility.java
Labels: area/core, area/config, triage/flaky-test

#40955 WebSockets Next: document OpenConnections
  docs/src/main/asciidoc/websockets-next-reference.adoc
  docs/src/main/asciidoc/websockets-next-tutorial.adoc
Labels: area/documentation

#40887 [3.8] Conditionalize security content
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-oidc-configuration-properties-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-overview.adoc
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
Labels: area/documentation, area/docstyle

#40956 Fix properties still using Hibernate ORM 6.4 / Hibernate Search 7.0 in POMs
  build-parent/pom.xml
  docs/pom.xml
Labels: area/documentation, triage/waiting-for-ci, area/dependencies, triage/flaky-test, triage/backport

#40931 Bump Gradle version from 8.7 to 8.8
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#40967 Fix Typo In Open Telemetry Documentation
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation, triage/backport-3.8, triage/backport

#40973 [3.11] 3.11.1 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigCompatibility.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedRemoteDevModeMain.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/pom.xml
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/hibernate-reactive.adoc
  docs/src/main/asciidoc/javascript/config.js
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/podman.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateHotReloadDevModeTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateSchemaRecreateDevConsoleTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/TestTags.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevControllerFailingDDLGenerationTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevControllerTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsImportSqlHotReloadScriptTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/quoting_strategies/JPAQuotedIdentifiersTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/quoting_strategies/JPAQuotedKeywordsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/scripts/GenerateScriptNotAppendedTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/AddNewSqlLoadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportSqlHotReloadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/IntroducingDefaultImportScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/hbm/HbmXmlHotReloadExplicitFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/orm/OrmXmlHotReloadExplicitFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/orm/OrmXmlHotReloadImplicitFileTestCase.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleNativeImage.java
  extensions/jdbc/jdbc-oracle/runtime/src/main/java/io/quarkus/jdbc/oracle/runtime/graal/OracleReflections.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRuntimeConfigProducer.java
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerBuildTimeConfig.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIConfig.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/jsonrpc.js
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenProjectBuildFile.java
  integration-tests/oidc-client-reactive/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-reactive/src/main/java/io/quarkus/it/keycloak/ProtectedResourceServiceDisabledClient.java
  integration-tests/oidc-client-reactive/src/main/resources/application.properties
  integration-tests/oidc-client-reactive/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ProdModeTestBuildStep.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/continuoustesting/TestModeContinuousTestingMavenTestUtils.java
Labels: area/documentation, area/persistence, area/core, area/config, area/infinispan, area/maven, area/infra, area/vertx, area/testing, area/hibernate-orm, area/oidc, area/platform, area/narayana, area/kafka, area/dependencies, area/devtools, area/resteasy-reactive, area/docstyle

#40970 Upgrade SmallRye BeanBag to 1.5.0
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
Labels: area/devtools, triage/flaky-test

#40966 Make -Dquickly a bit faster
  build-parent/pom.xml
  core/deployment/pom.xml
  devtools/maven/pom.xml
  extensions/observability-devservices/pom.xml
  extensions/panache/panache-mock/pom.xml
  extensions/pom.xml
  extensions/security/test-utils/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/kubernetes-client/pom.xml
  integration-tests/openshift-client/pom.xml
  integration-tests/pom.xml
  integration-tests/virtual-threads/pom.xml
  pom.xml
  tcks/pom.xml
  test-framework/kubernetes-client/pom.xml
  test-framework/openshift-client/pom.xml
  test-framework/pom.xml
Labels: area/panache, area/core, area/arc, area/maven, area/security, area/testing, area/platform, area/kubernetes, area/dependencies, area/devtools

#40978 Kafka commit strategy: clarify risk of message loss on latest
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#40984 Replace 'bare mortal' with a more idiomatic English expression
  docs/src/main/asciidoc/mutiny-primer.adoc
Labels: area/documentation

#40959 Rename Twitter to X
  docs/src/main/asciidoc/databases-dev-services.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  docs/src/main/asciidoc/security-webauthn.adoc
Labels: area/documentation, area/docstyle

#40964 Move Hibernate-related Maven properties to root POM
  bom/application/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/_attributes.adoc
  pom.xml
Labels: area/documentation, area/dependencies, area/docstyle

#40985 Remove the usage of lambdas in the TLS registry code
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/CertificateRecorder.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/VertxCertificateHolder.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/keystores/JKSKeyStores.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/keystores/P12KeyStores.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/keystores/TrustAllOptions.java
Labels: area/amazon-lambda, triage/flaky-test

#40958 Adding test scope for dependency quarkus-security-test-utils in reactive routes
  extensions/reactive-routes/deployment/pom.xml
Labels: area/security, triage/waiting-for-ci

#41008 Add docs note about writing extension with Java and Maven
  docs/src/main/asciidoc/building-my-first-extension.adoc
Labels: area/documentation, triage/backport

#41007 Make sure quarkusXXXCompileOnlyConfiguration extends from platform configuration
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
Labels: area/gradle, area/devtools, triage/backport

#40996 Bump net.revelc.code.formatter:formatter-maven-plugin from 2.23.0 to 2.24.1
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/platform, area/dependencies, area/devtools, triage/flaky-test

#40989 Config doc - Don't enforce the height
  docs/src/main/asciidoc/stylesheet/config.css
Labels: area/documentation, triage/backport-3.8, triage/backport

#41021 Docs: Added missing annotation parameter name
  docs/src/main/asciidoc/websockets-next-reference.adoc
Labels: area/documentation, triage/backport

#41018 Fix invalid webjar to show 404
  extensions/web-dependency-locator/runtime/src/main/java/io/quarkus/webdependency/locator/runtime/WebDependencyLocatorRecorder.java
Labels: triage/waiting-for-ci, triage/backport

#40900 Update elementary and remove filesystem support classes
  core/processor/pom.xml
  core/processor/src/test/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessorTest.java
  core/processor/src/test/java/io/quarkus/annotation/processor/fs/CustomMemoryFileSystem.java
  core/processor/src/test/java/io/quarkus/annotation/processor/fs/CustomMemoryFileSystemProvider.java
  core/processor/src/test/resources/META-INF/services/java.nio.file.spi.FileSystemProvider
Labels: area/core, triage/flaky-test

#40714 Enhance MongoDb otel integration
  .github/native-tests.json
  docs/src/main/asciidoc/mongodb.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/mongodb-client/deployment/pom.xml
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/ContextProviderBuildItem.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MockReactiveContextProvider.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoTracingEnabled.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoTracingNotEnabledTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/deployment/ContextProviderBuildItemTest.java
  extensions/mongodb-client/deployment/src/test/resources/application-tracing-mongoclient.properties
  extensions/mongodb-client/runtime/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClients.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoReactiveContextProvider.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoRequestContext.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/tracing/MongoTracingCommandListener.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/runtime/MongoReactiveContextProviderTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/runtime/MongoRequestContextTest.java
  extensions/mongodb-client/runtime/src/test/java/io/quarkus/mongodb/tracing/MongoTracingCommandListenerTest.java
  integration-tests/opentelemetry-mongodb-client-instrumentation/pom.xml
  integration-tests/opentelemetry-mongodb-client-instrumentation/src/main/java/io/quarkus/it/opentelemetry/BookResource.java
  integration-tests/opentelemetry-mongodb-client-instrumentation/src/main/java/io/quarkus/it/opentelemetry/Config.java
  integration-tests/opentelemetry-mongodb-client-instrumentation/src/main/java/io/quarkus/it/opentelemetry/ReactiveBookResource.java
  integration-tests/opentelemetry-mongodb-client-instrumentation/src/test/java/io/quarkus/it/opentelemetry/BookResourceTest.java
  integration-tests/pom.xml
Labels: area/documentation, area/mongodb, area/infra-automation, area/tracing, triage/flaky-test

#40657 Prevent abort because of a throwable
  independent-projects/tools/analytics-common/src/main/java/io/quarkus/analytics/util/FileUtils.java
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport-3.8, triage/backport

#41031 Fix a duplicate dependency in mongodb-client
  extensions/mongodb-client/runtime/pom.xml
Labels: area/mongodb

#40812 Make LRA proxy endpoints optional in OpenAPI
  extensions/narayana-lra/deployment/pom.xml
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/LRABuildTimeConfiguration.java
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/NarayanaLRAOpenAPIFilter.java
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/NarayanaLRAProcessor.java
  extensions/narayana-lra/deployment/src/test/java/io/quarkus/narayana/lra/test/LRAOpenAPIExcludedTest.java
  extensions/narayana-lra/deployment/src/test/java/io/quarkus/narayana/lra/test/LRAOpenAPIIncludedTest.java
Labels: triage/waiting-for-ci, area/lra

#40142 Load shedding
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/load-shedding-reference.adoc
  extensions/load-shedding/deployment/pom.xml
  extensions/load-shedding/deployment/src/main/java/io/quarkus/load/shedding/deployment/LoadSheddingProcessor.java
  extensions/load-shedding/deployment/src/test/java/io/quarkus/load/shedding/NaiveLoadSheddingTest.java
  extensions/load-shedding/deployment/src/test/java/io/quarkus/load/shedding/TimeBasedRequestClassifierTest.java
  extensions/load-shedding/pom.xml
  extensions/load-shedding/runtime/pom.xml
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/RequestClassifier.java
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/RequestPrioritizer.java
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/RequestPriority.java
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/runtime/HttpLoadShedding.java
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/runtime/HttpRequestClassifier.java
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/runtime/LoadSheddingRuntimeConfig.java
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/runtime/ManagementRequestPrioritizer.java
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/runtime/OverloadDetector.java
  extensions/load-shedding/runtime/src/main/java/io/quarkus/load/shedding/runtime/PriorityLoadShedding.java
  extensions/load-shedding/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/RouteConstants.java
Labels: release/noteworthy-feature, area/documentation, area/vertx, triage/waiting-for-ci, area/dependencies, area/devtools, triage/flaky-test

#40580 Allow extension to define CLI plugins with aliases
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/Plugin.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/PluginManagerUtil.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/PluginMangerState.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/PluginUtil.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/cli/plugin/PluginManagerUtilTest.java
Labels: area/platform, area/devtools, triage/flaky-test

#40122 Tweak auth content
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
Labels: area/documentation, area/docstyle

#40916 Improve OIDC warning when a session encryption key is generated
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport

#41014 Fix open-in-ide
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-ide-link.js
Labels: area/vertx, triage/flaky-test, triage/backport

#41032 WebSockets Next: fire CDI event when a connection is opened/closed
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/openconnections/ConnectionEventsTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/Closed.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/Open.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/ConnectionManager.java
Labels: area/documentation

#40979 Make sure dev ui only loads on localhost
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIConfig.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/DevUIRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/LocalHostOnlyFilter.java
Labels: area/vertx, triage/flaky-test

#40700 In WSL dev/test mode print localhost instead of 0.0.0.0 in serverListeningMessage
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxConfigBuilder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/core, area/vertx, triage/waiting-for-ci, triage/flaky-test

#39787 Add shared mongo dev services container
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/GlobalDevServicesConfig.java
  docs/src/main/asciidoc/dev-services.adoc
  docs/src/main/asciidoc/mongodb-dev-services.adoc
  docs/src/main/asciidoc/mongodb.adoc
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesBuildTimeConfig.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
Labels: area/documentation, area/core, triage/waiting-for-ci, area/mongodb, triage/flaky-test

#41049 Qute: fix regression for optimized generated value resolvers
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/generatedresolvers/ImplicitValueResolversTest.java
Labels: triage/backport-3.2, triage/backport-3.8, triage/backport

#41030 Add TLS registry support to the Redis client extension
  docs/src/main/asciidoc/redis-reference.adoc
  extensions/redis-client/deployment/pom.xml
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/RedisClientProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/RedisDatasourceProcessor.java
  extensions/redis-client/runtime/pom.xml
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisClientRecorder.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/VertxRedisClientFactory.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisClientConfig.java
Labels: area/documentation, triage/waiting-for-ci, area/redis, triage/flaky-test

#41046 Fix Asciidoc callouts in "Deploying to Kubernetes" documentation
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation

#41043 Make sure we transmit the actual debug port to next dev mode run
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/core, area/maven, area/devtools, triage/flaky-test

#41036 Fix log warning when application port is already used
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
Labels: area/core, area/maven, area/devtools, triage/flaky-test, triage/backport

#39891 Add GeneratedStaticResourceProcessor
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedResourceBuildItem.java
  extensions/vertx-http/deployment-spi/src/main/java/io/quarkus/vertx/http/deployment/spi/AdditionalStaticResourceBuildItem.java
  extensions/vertx-http/deployment-spi/src/main/java/io/quarkus/vertx/http/deployment/spi/GeneratedStaticResourceBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/GeneratedStaticResourcesProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/StaticResourcesProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/GeneratedStaticResourcesTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devmode/GeneratedStaticResourcesDevModeTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/GeneratedStaticResourcesRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/handlers/DevClasspathStaticHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/handlers/DevClasspathStaticHandlerOptions.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/handlers/GeneratedResource.java
Labels: area/documentation, area/gradle, area/core, area/infinispan, area/maven, area/resteasy, area/logging, area/smallrye, area/hibernate-validator, area/vertx, area/amazon-lambda, area/openapi, area/reactive-messaging, area/oidc, area/spring, area/platform, area/kafka, area/dependencies, area/qute, area/devtools, area/infra-automation, area/liquibase, area/grpc, area/graphql, area/tracing, area/health, area/fault-tolerance, area/resteasy-reactive, triage/flaky-test, area/docstyle

#41048 Add TlsConfigurationRegistry to OTel
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterTracesConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OTelExporterRecorder.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/exporter/otlp/HttpClientOptionsConsumerTest.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpExporterProviderTest.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/TlsConfiguration.java
  integration-tests/opentelemetry-vertx-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/exporter/OtelCollectorLifecycleManager.java
  integration-tests/opentelemetry-vertx-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/exporter/http/HttpWithTLSWithCompressionUsingRegistryTest.java
Labels: triage/waiting-for-ci, area/tracing, triage/flaky-test

#39914 Dynamically resolve Amazon Lambda arch
  extensions/amazon-lambda/common-deployment/src/main/resources/lambda/manage.sh
Labels: area/amazon-lambda, triage/waiting-for-ci

#38096 Introduce @CheckReturnValue into common Arc build items
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/AdditionalBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/UnremovableBeanBuildItem.java
Labels: area/arc

#40216 Unify Maven plugins versions now that we have a common parent
  build-parent/pom.xml
  extensions/amazon-lambda-http/maven-archetype/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/pom.xml
  extensions/amazon-lambda/maven-archetype/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/revapi/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/awt/pom.xml
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/pom.xml
Labels: area/arc, area/maven, area/amazon-lambda, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, area/funqy, area/graphics, triage/flaky-test

#41065 Update Quarkus Security to 2.1.0
  bom/application/pom.xml
Labels: area/security, triage/waiting-for-ci, area/dependencies

#41062 Fix encoding of '?' in query parameter values by Encode.encodeQueryParam(..)
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/Encode.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/util/EncodeTest.java
Labels: triage/waiting-for-ci, triage/flaky-test, triage/backport-3.8, triage/backport

#38718 Use new builder factory methods
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java
  extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java
  extensions/funqy/funqy-server-common/deployment/src/main/java/io/quarkus/funqy/deployment/FunctionScannerBuildStep.java
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/narayana-stm/deployment/src/main/java/io/quarkus/narayana/stm/deployment/NarayanaSTMProcessor.java
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliNativeImageProcessor.java
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesProcessor.java
  extensions/resteasy-classic/resteasy-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/websockets/server/deployment/src/main/java/io/quarkus/websockets/deployment/ServerWebSocketProcessor.java
Labels: area/panache, area/core, area/resteasy, area/smallrye, area/amazon-lambda, area/openapi, triage/waiting-for-ci, area/narayana, area/kubernetes, area/jaxb, area/funqy, area/graphql, area/resteasy-reactive, area/websockets, area/picocli, area/jackson, triage/flaky-test

#37963 Make explicit that gradle build ignores quarkus.application.name
  docs/src/main/asciidoc/spring-cloud-config-client.adoc
Labels: area/documentation, triage/waiting-for-ci

#38939 Collect classes dirs from all the modules in RuntimeUpdatesProcessor
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/spi/HotReplacementContext.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/StaticResourcesHotReplacementSetup.java
Labels: area/core, area/vertx, triage/flaky-test

#41035 Allow quarkus.application.name to be overridden for Spring Cloud Config Server
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfig.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfigSourceFactory.java
  extensions/spring-cloud-config-client/runtime/src/test/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfigSourceFactoryTest.java
Labels: area/config, area/spring, area/infra-automation

#41053 Docs: clarify named queries for Panache
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
Labels: area/documentation

#41054 Fix RESTEasy Classic GZIP max input in native mode
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/ResteasyCommonConfig.java
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyConfigurationMPConfig.java
Labels: area/resteasy, triage/flaky-test

#41069 [3.8] Tweak auth content based on QE feedback in rhbq docs
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
Labels: area/documentation, area/docstyle

#41083 Bump up quarkus-build-caching-extension to 1.2
  .mvn/extensions.xml
Labels: triage/flaky-test

#41090 Update Agroal exception message in docs
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.8, triage/backport

#41091 Add an additional preamble to the bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: area/infra-automation

#40344 Update Spring APIs to Spring Boot 3
  bom/application/pom.xml
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/DotNames.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/BookListCrudRepository.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/BookListCrudRepositoryTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/BookListPagingAndSortingRepository.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/BookPagingAndSortingRepositoryTest.java
  extensions/spring-data-jpa/deployment/src/test/resources/import_hp_books.sql
  extensions/spring-data-jpa/runtime/pom.xml
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/spring/data/runtime/Target_org_springframework_data_domain_Sort_TypedSort.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/EntityClassHelper.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/RepositoryMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/RepositoryPropertiesProvider.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourceImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourceMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/crud/CrudMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/crud/CrudPropertiesProvider.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/crud/EntityClassHelper.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/paging/PagingAndSortingMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/paging/PagingAndSortingPropertiesProvider.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/AbstractEntity.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/CrudAndPagedRecordsRepository.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/CrudAndPagedResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/AbstractEntity.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/DefaultCrudResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/ModifiedCrudResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/crud/Record.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/DefaultPagedResourceBisTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/DefaultPagedResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/EmptyListRecord.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/EmptyListRecordsPagedResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/ModifiedPagedResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/Record.java
  extensions/spring-web/core/common-runtime/src/main/java/io/quarkus/spring/web/runtime/common/ResponseStatusExceptionMapper.java
  integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/SongRepository.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/BooksRepository.java
Labels: area/spring, area/dependencies, triage/flaky-test

#40990 Add support for the TLS registry to the mailer extension
  docs/src/main/asciidoc/mailer-reference.adoc
  extensions/mailer/runtime/pom.xml
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MailerRuntimeConfig.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/Mailers.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/FakeSmtpServer.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/FakeSmtpTestBase.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerTLSRegistryTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerTruststoreTest.java
  extensions/mailer/runtime/src/test/resources/certs/client.jks
  extensions/mailer/runtime/src/test/resources/certs/generate-certs.sh
  extensions/mailer/runtime/src/test/resources/certs/server2.jks
  extensions/tls-registry/deployment/src/main/java/io/quarkus/tls/CertificatesProcessor.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/BaseTlsConfiguration.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/CertificateRecorder.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/TrustStoreAndTrustOptions.java
  integration-tests/mailer/pom.xml
  integration-tests/mailer/src/main/java/io/quarkus/it/mailer/MailResource.java
  integration-tests/mailer/src/main/resources/application.properties
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/Attachment.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/FakeMailerTestResource.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/Header.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/HtmlEmail.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailerIT.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailerTest.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailpitFullTlsTestResource.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/MailpitTestResource.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/Recipient.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/TextEmail.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/mailpit/Attachment.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/mailpit/DetailedMessage.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/mailpit/MailPitClient.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/mailpit/Message.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/mailpit/MessageSummary.java
  integration-tests/mailer/src/test/java/io/quarkus/it/mailer/mailpit/Recipient.java
Labels: release/noteworthy-feature, area/documentation, triage/waiting-for-ci, area/mailer, triage/flaky-test

#40815 ArC and Vert.x: introduce `InvokerFactoryBuildItem` and use it in Vert.x event bus consumers
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/kotlin.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/InvokerFactoryBuildItem.java
  extensions/kotlin/deployment/pom.xml
  extensions/kotlin/runtime/pom.xml
  extensions/vertx/deployment-spi/pom.xml
  extensions/vertx/deployment-spi/src/main/java/io/quarkus/vertx/deployment/spi/EventConsumerInvokerCustomizerBuildItem.java
  extensions/vertx/deployment/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusConsumer.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventConsumerBusinessMethodItem.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  extensions/vertx/kotlin/deployment/pom.xml
  extensions/vertx/kotlin/deployment/src/main/java/io/quarkus/vertx/kotlin/deployment/VertxKotlinProcessor.java
  extensions/vertx/kotlin/pom.xml
  extensions/vertx/kotlin/runtime/pom.xml
  extensions/vertx/kotlin/runtime/src/main/kotlin/io/quarkus/vertx/kotlin/runtime/ApplicationCoroutineScope.kt
  extensions/vertx/kotlin/runtime/src/main/kotlin/io/quarkus/vertx/kotlin/runtime/CoroutineInvoker.kt
  extensions/vertx/kotlin/runtime/src/main/kotlin/io/quarkus/vertx/kotlin/runtime/VertxDispatcher.kt
  extensions/vertx/kotlin/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/vertx/pom.xml
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/EventConsumerInfo.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/EventConsumerInvoker.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxEventBusConsumerRecorder.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InvokerGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/invoker/transformer/ArgumentTransformerTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/invoker/transformer/ArgumentTransformerWithCleanupTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/invoker/transformer/AsyncReturnValueTransformerTest.java
  integration-tests/pom.xml
  integration-tests/vertx-kotlin/pom.xml
  integration-tests/vertx-kotlin/src/main/kotlin/io/quarkus/it/vertx/kotlin/MessageConsumers.kt
  integration-tests/vertx-kotlin/src/main/kotlin/io/quarkus/it/vertx/kotlin/SuspendMessageConsumers.kt
  integration-tests/vertx-kotlin/src/test/kotlin/io/quarkus/it/vertx/kotlin/KotlinConsumeEventTest.kt
  integration-tests/vertx-kotlin/src/test/kotlin/io/quarkus/it/vertx/kotlin/KotlinSuspendConsumeEventTest.kt
Labels: area/documentation, area/arc, area/kotlin, area/vertx, triage/waiting-for-ci, area/dependencies, area/devtools, triage/flaky-test

#36201 Fix codestart for kotlin serialization (Gradle, Gradle Kotlin and Maven)
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle-kotlin-dsl/kotlin/build.tpl.qute.gradle.kts
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/gradle/kotlin/build.tpl.qute.gradle
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/kotlin/pom.tpl.qute.xml
  integration-tests/devtools/pom.xml
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/KotlinSerializationCodestartTest.java
  integration-tests/devtools/src/test/resources/__snapshots__/KotlinSerializationCodestartTest/testGradleContent/build.gradle
  integration-tests/devtools/src/test/resources/__snapshots__/KotlinSerializationCodestartTest/testGradleKotlinContent/build.gradle.kts
  integration-tests/devtools/src/test/resources/__snapshots__/KotlinSerializationCodestartTest/testMavenContent/pom.xml
Labels: triage/waiting-for-ci, area/platform, area/devtools, triage/flaky-test

#40750 Adds Brotli compression support for HTTP (via libbrotli)
  .github/native-tests.json
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/CompressionTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpBuildTimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/StaticResourcesRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerOptionsUtils.java
  integration-tests/pom.xml
  integration-tests/vertx-http-compressors/README.md
  integration-tests/vertx-http-compressors/all/disable-unbind-executions
  integration-tests/vertx-http-compressors/all/pom.xml
  integration-tests/vertx-http-compressors/all/src/main/java/io/quarkus/compressors/it/AllCompressedResource.java
  integration-tests/vertx-http-compressors/all/src/test/java/io/quarkus/compressors/it/RESTEndpointsIT.java
  integration-tests/vertx-http-compressors/all/src/test/java/io/quarkus/compressors/it/RESTEndpointsTest.java
  integration-tests/vertx-http-compressors/all/src/test/resources/application.properties
  integration-tests/vertx-http-compressors/app/disable-unbind-executions
  integration-tests/vertx-http-compressors/app/pom.xml
  integration-tests/vertx-http-compressors/app/src/main/java/io/quarkus/compressors/it/CompressedResource.java
  integration-tests/vertx-http-compressors/app/src/test/java/io/quarkus/compressors/it/Testflow.java
  integration-tests/vertx-http-compressors/disable-unbind-executions
  integration-tests/vertx-http-compressors/pom.xml
  integration-tests/vertx-http-compressors/some/disable-unbind-executions
  integration-tests/vertx-http-compressors/some/pom.xml
  integration-tests/vertx-http-compressors/some/src/main/java/io/quarkus/compressors/it/SomeCompressedResource.java
  integration-tests/vertx-http-compressors/some/src/test/java/io/quarkus/compressors/it/RESTEndpointsIT.java
  integration-tests/vertx-http-compressors/some/src/test/java/io/quarkus/compressors/it/RESTEndpointsTest.java
  integration-tests/vertx-http-compressors/some/src/test/resources/application.properties
Labels: area/documentation, area/vertx, area/infra-automation, area/resteasy-reactive, triage/flaky-test

#41044 WebSockets Next: cancel returned Multi if the connection is closed
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/MultiClosedConnectionTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketEndpointBase.java
Labels: triage/backport

#41106 Delegate to the correct method in TransactionScopedStatelessSession#fetch
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/TransactionScopedStatelessSession.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, triage/flaky-test, triage/backport-3.8, triage/backport

#41093 [3.11] 3.11.2 backports 1
  .mvn/extensions.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/mutiny-primer.adoc
  docs/src/main/asciidoc/stylesheet/config.css
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/generatedresolvers/ImplicitValueResolversTest.java
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/ResteasyCommonConfig.java
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyConfigurationMPConfig.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-ide-link.js
  extensions/web-dependency-locator/runtime/src/main/java/io/quarkus/webdependency/locator/runtime/WebDependencyLocatorRecorder.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ClientEndpointTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ClientMessageErrorEndpoint.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ClientOpenErrorEndpoint.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ServerEndpoint.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/UnhandledMessageFailureDefaultStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/UnhandledMessageFailureLogStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/UnhandledOpenFailureDefaultStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/UnhandledOpenFailureLogStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/EchoMessageError.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/EchoOpenError.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/UnhandledMessageFailureDefaultStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/UnhandledMessageFailureLogStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/UnhandledOpenFailureDefaultStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/UnhandledOpenFailureLogStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/AuthenticationExpiredTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/utils/WSClient.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/BasicWebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/CloseReason.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/UnhandledFailureStrategy.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketClientConnection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsClientRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsServerRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/SecuritySupport.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/Encode.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/util/EncodeTest.java
  independent-projects/tools/analytics-common/src/main/java/io/quarkus/analytics/util/FileUtils.java
Labels: area/documentation, area/gradle, area/core, area/maven, area/resteasy, area/vertx, area/oidc, area/platform, area/qute, area/devtools, triage/flaky-test, area/docstyle

#41084 Upgrade to Derby 10.16.1.1
  bom/application/pom.xml
  extensions/jdbc/jdbc-derby/runtime/pom.xml
Labels: area/persistence, area/dependencies, triage/flaky-test

#40863 Fix some markdownlint warnings on .md files
  .github/ISSUE_TEMPLATE/epic.md
  ACTIONS.md
  ADOPTERS.md
  CONTRIBUTING.md
  TROUBLESHOOTING.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/funqy-google-cloud-functions-example/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/google-cloud-functions-example/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-rest-data-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/picocli-codestart/base/README.tpl.qute.md
  docs/README.md
  extensions/infinispan-client/README.MD
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-jbang/code/jbang-picocli-code/base/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-jbang/code/jbang-resteasy-code/base/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-jbang/project/quarkus-jbang/base/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/README.tpl.qute.md
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/README.md
  integration-tests/keycloak-authorization/README.md
  integration-tests/logging-gelf/README.md
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_README.md
  integration-tests/oidc-code-flow/README.md
  integration-tests/oidc-tenancy/README.md
Labels: area/documentation, area/infinispan, area/maven, area/logging, area/oidc, area/platform, area/devtools, area/infra-automation, area/jbang, area/keycloak, triage/flaky-test

#41107 Revert "Remove obsolete comment about JavaParser in WebSockets Next"
  extensions/websockets-next/deployment/pom.xml
Labels: area/websockets

#41111 Take MediaType set in pre-match filter into when returning Response
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/serialization/DynamicEntityWriter.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/PreMatchAcceptInHeaderTest.java
Labels: triage/waiting-for-ci, triage/flaky-test, triage/backport-3.8, triage/backport

#41064 Use latest SmallRye Context Propagation
  bom/application/pom.xml
  extensions/vertx/deployment/src/test/java/io/quarkus/vertx/deployment/MessageConsumerFailureTest.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/mutiny/MutinyContextEndpoint.java
  integration-tests/smallrye-context-propagation/src/test/java/io/quarkus/context/test/mutiny/MutinyContextPropagationTest.java
Labels: area/smallrye, area/vertx, triage/waiting-for-ci, area/dependencies, area/context-propagation, triage/flaky-test, triage/backport-3.8, triage/backport

#41098 Clean up tracing option from dev services for 15.0
  docs/src/main/asciidoc/infinispan-dev-services.adoc
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanDevServicesConfig.java
Labels: area/documentation, area/infinispan, triage/flaky-test

#41095 Add TLS Registry configuration to WebSockets Next Client
  extensions/websockets-next/deployment/pom.xml
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/MtlsWithP12ClientEndpointTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/TlsClientEndpointTest.java
  extensions/websockets-next/runtime/pom.xml
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsClientRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
Labels: area/config

#40957 WebSockets Next: Support for secure upgrade with security annotations only
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/PermissionSecurityChecks.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/RegisterClassSecurityCheckBuildItem.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/ClassSecurityCheckAnnotationBuildItem.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/ClassSecurityCheckStorageBuildItem.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/SecurityTransformerUtils.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradeAnnotationTransformerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradeAuthenticatedAnnotationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradeDenyAllAnnotationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradePermissionsAllowedAnnotationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradePermitAllAnnotationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradeRedirectOnFailureTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradeRolesAllowedAnnotationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/SecurityTestBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/HttpUpgradeCheck.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsServerRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/SecurityHttpUpgradeCheck.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
Labels: area/documentation, area/security, triage/flaky-test

#41120 Revert "Improve loading of classes in RunnerClassLoader"
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
Labels: triage/waiting-for-ci, area/devtools, triage/flaky-test

#41029 Remote Development Mode docker permissions
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/waiting-for-ci, area/platform, area/devtools, triage/flaky-test, triage/backport

#40995 Refactor ResteasyReactiveOutputStream so that it can be used by Quarkus CXF
  bom/application/pom.xml
  extensions/resteasy-classic/resteasy/runtime/pom.xml
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxBufferImpl.java
  extensions/websockets-next/runtime/pom.xml
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/vertx/pom.xml
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
  independent-projects/vertx-utils/pom.xml
  independent-projects/vertx-utils/src/main/java/io/quarkus/vertx/utils/AppendBuffer.java
  independent-projects/vertx-utils/src/main/java/io/quarkus/vertx/utils/NoBoundChecksBuffer.java
  independent-projects/vertx-utils/src/main/java/io/quarkus/vertx/utils/VertxJavaIoContext.java
  independent-projects/vertx-utils/src/main/java/io/quarkus/vertx/utils/VertxOutputStream.java
  pom.xml
Labels: area/resteasy, area/dependencies, triage/flaky-test

#36320 Fix some typos on code and javadoc on maven devtool project
  devtools/maven/src/main/java/io/quarkus/maven/AbstractDeploymentMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/AbstractImageMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/Deployer.java
  devtools/maven/src/main/java/io/quarkus/maven/UpdateMojo.java
  devtools/maven/src/test/java/io/quarkus/maven/DeployerTest.java
Labels: area/maven, area/devtools, triage/flaky-test

#34889 Change how actual DB version is checked
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusRuntimeInitDialectFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusRuntimeInitDialectFactoryInitiator.java
Labels: area/documentation, area/persistence, triage/waiting-for-ci, area/hibernate-orm, triage/flaky-test

#41121 Avoid using outdated OpenRewrite config in quarkus update
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
Labels: area/platform, area/devtools, triage/backport

#41147 Only set tmp dir for Lambda in normal mode
  extensions/amazon-lambda-rest/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/AmazonLambdaHttpProcessor.java
Labels: area/amazon-lambda

#41100 Docker-build fails to detect podman
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/IsPodmanWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/util/ContainerRuntimeUtil.java
  extensions/container-image/container-image-docker-common/deployment/src/main/java/io/quarkus/container/image/docker/common/deployment/CommonProcessor.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#41146 Add documentation about the Quarkus REST's `@Separator`
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation, triage/backport-3.8, triage/backport

#41127 WebSockets Next: enable traffic logging for debugging purposes
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/traffic/BasicConnectorTrafficLoggerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/traffic/ClientEndpointTrafficLoggerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/traffic/ServerTrafficLoggerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/traffic/TrafficLoggerTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/TrafficLoggingConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsClientRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsServerRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/TrafficLogger.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketClientConnectionImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
Labels: area/documentation, triage/waiting-for-ci, triage/flaky-test

#41149 ArC: update annotation transformation documentation
  docs/src/main/asciidoc/cdi-integration.adoc
Labels: area/documentation, triage/waiting-for-ci

#41123 Quarkus REST: Fix two Date issues regarding preconditions
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/preconditions/DatePreconditionTests.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/RuntimeDelegateImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/RequestImpl.java
Labels: area/resteasy-reactive, triage/flaky-test, triage/backport-3.8, triage/backport-3.11, triage/backport

#41126 ADR about the usage of the TLS registry in client extensions establishing TLS connection
  adr/0004-using-the-tls-registry-for-clients.adoc
Labels: area/adr

#41116 Remove image metrics integration tests
  integration-tests/jpa-postgresql-withxml/src/test/java/io/quarkus/it/jpa/postgresql/ImageMetricsITCase.java
  integration-tests/jpa-postgresql-withxml/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/jpa-postgresql-withxml/src/test/resources/image-metrics/23.1/image-metrics.properties
  integration-tests/jpa-postgresql/src/test/java/io/quarkus/it/jpa/postgresql/ImageMetricsITCase.java
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.1/image-metrics.properties
  integration-tests/main/src/test/java/io/quarkus/it/main/ImageMetricsITCase.java
  integration-tests/main/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/main/src/test/resources/image-metrics/23.1/image-metrics.properties
  test-framework/junit5/src/main/java/io/quarkus/test/junit/nativeimage/NativeBuildOutputExtension.java
Labels: area/persistence, triage/waiting-for-ci, area/testing, area/hibernate-orm, triage/flaky-test

#41153 Introduce support for the TLS Registry in the REST Client
  docs/src/main/asciidoc/tls-registry-reference.adoc
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientFallbackConfigSourceInterceptor.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client/deployment/pom.xml
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/MtlsConfigFromRegistryCdiTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigFromPropertiesCdiTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigFromRegistryCdiTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigFromRegistryManualTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TrustAllTest.java
  extensions/resteasy-reactive/rest-client/runtime/pom.xml
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/QuarkusRestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/TlsConfig.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
Labels: area/documentation, area/resteasy, triage/waiting-for-ci, area/resteasy-reactive, triage/flaky-test

#41162 Bump Keycloak version to 25.0.0
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/keycloak-admin-resteasy-client/runtime/pom.xml
  extensions/oidc-client/deployment/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  integration-tests/oidc-client-reactive/pom.xml
  integration-tests/oidc-client/pom.xml
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-token-propagation/pom.xml
  integration-tests/oidc/pom.xml
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/KeycloakXTestResourceLifecycleManager.java
  integration-tests/smallrye-jwt-oidc-webapp/pom.xml
  integration-tests/smallrye-jwt-token-propagation/pom.xml
  test-framework/keycloak-server/pom.xml
Labels: area/documentation, area/testing, area/oidc, area/dependencies, area/keycloak, triage/flaky-test

#41169 ArC: make it possible to initialize synthetic beans eagerly
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/StartupBuildSteps.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/startup/SyntheticBeanStartupTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorInfo.java
Labels: area/arc, triage/flaky-test

#41183 Add marko-bekhta to GitHub integrations for Hibernate Search and Elasticsearch
  .github/quarkus-github-bot.yml
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation, triage/needs-review

#41184 Remove invalid parent pom configuration
  extensions/oidc-client-filter/deployment/pom.xml
  extensions/oidc-client-filter/runtime/pom.xml
  extensions/oidc-client-graphql/deployment/pom.xml
  extensions/oidc-client-graphql/runtime/pom.xml
  extensions/oidc-client-reactive-filter/deployment/pom.xml
  extensions/oidc-client-reactive-filter/runtime/pom.xml
  extensions/oidc-client/deployment/pom.xml
  extensions/oidc-client/runtime/pom.xml
  extensions/oidc-common/deployment/pom.xml
  extensions/oidc-common/runtime/pom.xml
  extensions/oidc-db-token-state-manager/deployment/pom.xml
  extensions/oidc-db-token-state-manager/runtime/pom.xml
  extensions/oidc-token-propagation-reactive/deployment/pom.xml
  extensions/oidc-token-propagation-reactive/runtime/pom.xml
  extensions/oidc-token-propagation/deployment/pom.xml
  extensions/oidc-token-propagation/runtime/pom.xml
Labels: area/oidc

#41174 Fix mixing of the @TestSecurity annotation with HTTP request credentials inside one test method
  docs/src/main/asciidoc/security-testing.adoc
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/TestSecurityCombiningAuthMechTest.java
  test-framework/security/src/main/java/io/quarkus/test/security/AbstractTestHttpAuthenticationMechanism.java
  test-framework/security/src/main/java/io/quarkus/test/security/FallbackTestHttpAuthenticationMechanism.java
  test-framework/security/src/main/java/io/quarkus/test/security/PathBasedTestHttpAuthenticationMechanism.java
  test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java
Labels: area/documentation, area/security, area/testing, triage/backport

#41193 Fix WebSockets NEXT CDI events documentation as observed events qualifiers does not exist in the final version
  docs/src/main/asciidoc/websockets-next-reference.adoc
Labels: area/documentation, triage/backport

#41205 QuarkusComponentTest: fix NPE if component is expected but none exists
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
Labels: area/testing

#40943 Fix oidc-client token retrieval under concurrency
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/TokensHelper.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/ProtectedResourceServiceCrashTestClient.java
  integration-tests/oidc-client-wiremock/src/main/resources/application.properties
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: area/oidc

#41208 Scheduler - introduce build item which can enforce scheduler startup
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/programmatic/BuildItemForcedSchedulerStartTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/SchedulerContext.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/ForceStartSchedulerBuildItem.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/programmatic/BuildItemForcedSchedulerStartTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerRecorder.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler

#41155 Update to Vert.x 4.5.8 and Netty 4.1.110
  bom/application/pom.xml
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcServerConfiguration.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/grpc, triage/flaky-test, area/netty

#41164 Fixup #41085 Docker-build fails to detect podman: add back detectContainerRuntime() method for backwards compatibility
  core/deployment/src/main/java/io/quarkus/deployment/util/ContainerRuntimeUtil.java
Labels: area/core, triage/flaky-test, triage/backport

#41157 Add podman triage
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#41170 Record runtime values from active profile and override value
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/BuildTimeCustomConfigBuilder.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  integration-tests/test-extension/extension/deployment/src/main/resources/application.properties
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/RecorderRuntimeConfigTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
Labels: area/core, area/config, triage/flaky-test

#41215 Quarkus Update - Provide more context when an error occurs
  devtools/maven/src/main/java/io/quarkus/maven/UpdateMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/data/QuarkusCommandOutcome.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/AddExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/RemoveExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
Labels: area/maven, area/platform, area/devtools, triage/flaky-test

#41210 Avoid NumberFormatException for Java 1.8
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/JavaVersion.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/JavaVersionTest.java
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport

#41212 [3.12] 3.12.0 backports 1
  core/deployment/src/main/java/io/quarkus/deployment/util/ContainerRuntimeUtil.java
  docs/src/main/asciidoc/security-testing.adoc
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/preconditions/DatePreconditionTests.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/traffic/BasicConnectorTrafficLoggerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/traffic/ClientEndpointTrafficLoggerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/traffic/ServerTrafficLoggerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/traffic/TrafficLoggerTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/TrafficLoggingConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsClientRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsServerRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/TrafficLogger.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketClientConnectionImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/RuntimeDelegateImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/RequestImpl.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/TestSecurityCombiningAuthMechTest.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/security/src/main/java/io/quarkus/test/security/AbstractTestHttpAuthenticationMechanism.java
  test-framework/security/src/main/java/io/quarkus/test/security/FallbackTestHttpAuthenticationMechanism.java
  test-framework/security/src/main/java/io/quarkus/test/security/PathBasedTestHttpAuthenticationMechanism.java
  test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java
Labels: area/documentation, area/core, area/infra, area/testing, area/resteasy-reactive, triage/flaky-test

#41232 Do not add quarkus-tls-registry twice in quarkus-rest-client
  extensions/resteasy-reactive/rest-client/runtime/pom.xml
Labels: area/resteasy-reactive, triage/backport

#41242 Scheduler: add custom thread factory to use a specific thread name
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler, triage/waiting-for-ci, triage/backport

#41206 Include several fixes related to the spring dependencies upgrading
  bom/application/pom.xml
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/RepositoryMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/RepositoryPropertiesProvider.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourceImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourceMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/JpaRecordsRepository.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/JpaResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/DefaultPagedResourceBisTest.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/Article.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/ArticleJpaRepository.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/Library.java
  integration-tests/spring-data-rest/src/main/resources/import.sql
  integration-tests/spring-data-rest/src/test/java/io/quarkus/it/spring/data/rest/SpringDataRestTest.java
Labels: area/spring, area/dependencies, triage/flaky-test, triage/backport

#41253 WebSockets Next: document ping/pong messages
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/OnPongMessage.java
Labels: area/documentation

#41254 Fix index.html for compat before 3.9 and dynamic index
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/src/main/resources/META-INF/resources/index.tpl.qute.html
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/ContentMergeCodestartFileStrategyHandler.java
Labels: area/platform, area/devtools, area/codestarts, triage/backport

#41257 Register `java.sql.*isClosed` methods for reflection
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
Labels: area/agroal, triage/flaky-test

#41252 Document DateTimeAttribute's `%{time, ` form
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation

#41213 OIDC client support for using JWTs as Authorization Grants
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcConstants.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessTokenRequestFilter.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-wiremock/src/main/resources/application.properties
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: area/oidc

#41251 Recompute unsafe ArrayIndexShift vallue in shaded jctools
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
Labels: triage/flaky-test, area/netty

#41211 Improve unsupported properties in SpringDataJPAProcessor
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/PropertyWarningsPMT.java
Labels: area/persistence, area/hibernate-orm, area/spring, triage/flaky-test, triage/backport

#41275 Improve Infinispan cache guide
  docs/src/main/asciidoc/cache-infinispan-reference.adoc
  docs/src/main/asciidoc/cache.adoc
Labels: area/documentation

#41260 Update to maven 3.9.8
  .mvn/wrapper/maven-wrapper.properties
  .sdkmanrc
  build-parent/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
Labels: area/platform, area/dependencies, area/devtools

#41278 Add kafka-version.properties as native image resource
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/kafka

#41284 Don't force flush mode to FlushMode.ALWAYS
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/JTASessionOpener.java
Labels: area/persistence, area/hibernate-orm, triage/flaky-test

#41274 Added tests for KubernetesClient serialization/deserialization
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/Pods.java
  integration-tests/kubernetes-client/src/main/java/io/quarkus/it/kubernetes/client/Version.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientSerializationIT.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientSerializationTest.java
Labels: area/kubernetes

#41287 Upgrade SmallRye BeanBag to 1.5.2
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
Labels: area/devtools, triage/flaky-test, triage/backport-3.11, triage/backport

#41294 [3.11] 3.11.3 backports 2
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/rest.adoc
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/preconditions/DatePreconditionTests.java
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/RuntimeDelegateImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/RequestImpl.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/src/main/resources/META-INF/resources/index.tpl.qute.html
  independent-projects/tools/codestarts/pom.xml
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/reader/QuteCodestartFileReader.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/ContentMergeCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/core/reader/QuteCodestartFileReaderTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
Labels: area/documentation, area/infra, area/platform, area/kafka, area/devtools, area/codestarts, area/resteasy-reactive

#41297 [3.12] 3.12.0 backports 2
  bom/application/pom.xml
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/tls-registry-reference.adoc
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientFallbackConfigSourceInterceptor.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client/deployment/pom.xml
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/MtlsConfigFromRegistryCdiTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigFromPropertiesCdiTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigFromRegistryCdiTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigFromRegistryManualTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TrustAllTest.java
  extensions/resteasy-reactive/rest-client/runtime/pom.xml
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/QuarkusRestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/SpringDataJPAProcessor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/RepositoryMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/RepositoryPropertiesProvider.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourceImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/ResourceMethodsImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/JpaRecordsRepository.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/JpaResourceTest.java
  extensions/spring-data-rest/deployment/src/test/java/io/quarkus/spring/data/rest/paged/DefaultPagedResourceBisTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/OnPongMessage.java
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/TlsConfig.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/src/main/resources/META-INF/resources/index.tpl.qute.html
  independent-projects/tools/codestarts/pom.xml
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/reader/QuteCodestartFileReader.java
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/ContentMergeCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/core/reader/QuteCodestartFileReaderTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/JavaVersion.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/JavaVersionTest.java
  integration-tests/spring-data-jpa/src/test/java/io/quarkus/it/spring/data/jpa/PropertyWarningsPMT.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/Article.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/ArticleJpaRepository.java
  integration-tests/spring-data-rest/src/main/java/io/quarkus/it/spring/data/rest/Library.java
  integration-tests/spring-data-rest/src/main/resources/import.sql
  integration-tests/spring-data-rest/src/test/java/io/quarkus/it/spring/data/rest/SpringDataRestTest.java
Labels: area/documentation, area/persistence, area/resteasy, area/infra, area/scheduler, area/hibernate-orm, area/spring, area/platform, area/kafka, area/dependencies, area/devtools, area/codestarts, area/resteasy-reactive, area/docstyle

#41305 QuarkusComponentTest: fix `@InjectMock` inconsistency
  docs/src/main/asciidoc/getting-started-testing.adoc
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/mockito/MockitoExtensionTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/paraminject/ParameterInjectMockTest.java
Labels: triage/waiting-for-ci

#41319 Corrected name in FrontendResource parameter
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation

#41329 Resolve conditional dependencies using named configurations instead of detached ones
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
Labels: area/gradle, area/devtools, triage/backport-3.8, triage/backport-3.11, triage/backport

#41331 WebSockets Next: fix OnOpen callback that returns Buffer/byte[]
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/onopenreturntypes/OnOpenReturnTypesTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/utils/WSClient.java
Labels: triage/waiting-for-ci, area/websockets

#41289 Bump to Mutiny 2.6.1 and Mutiny Vert.x bindings 3.13.1
  bom/application/pom.xml
  extensions/mutiny/runtime/src/main/java/io/quarkus/mutiny/runtime/JCToolsSupport.java
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, area/smallrye, area/dependencies, area/mutiny, triage/flaky-test

#41347 Document TLS configuration for WebSockets Next
  docs/src/main/asciidoc/websockets-next-reference.adoc
Labels: area/documentation

#39782 Add support to prefix for envFrom
  bom/application/pom.xml
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/KubernetesEnvBuildItem.java
  extensions/kubernetes/spi/src/test/java/io/quarkus/kubernetes/spi/KubernetesEnvBuildItemTest.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DevClusterHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvConverter.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvVarHolder.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvVarPrefixConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvVarValidator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvVarsConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/test/java/io/quarkus/kubernetes/deployment/EnvVarValidatorTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithEnvFromConfigMapWithPrefixBehaviorsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithEnvFromConfigMapWithPrefixTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithEnvFromSecretWithPrefixBehaviorsTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithEnvFromSecretWithPrefixTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-env-from-configmap-with-prefix-behaviors.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-env-from-configmap-with-prefix.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-env-from-secret-with-prefix-behaviors.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-env-from-secret-with-prefix.properties
Labels: area/documentation, area/kubernetes, area/dependencies, triage/flaky-test

#41348 WebSockets Next: fire CDI events for client connections added/removed
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ClientConnectionEventsTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/Closed.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/Open.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/ClientConnectionManager.java
Labels: area/documentation, triage/waiting-for-ci

#41355 [3.8] Use getMajorMinor version for Infinispan Dev Services container
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
Labels: area/infinispan

#41273 Qute: make TemplateNode part of the public API
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplatesAnalysisBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/QuteProcessorTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TemplateAnalysisTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/TemplateProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineConfiguration.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParameterDeclarationNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Template.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TextNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/FragmentTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/TemplateNodesTest.java
Labels: area/qute, triage/flaky-test

#41271 Small Windows fixes for web dev and welcome page
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/welcome/WelcomeProcessor.java
  extensions/web-dependency-locator/deployment/src/main/java/io/quarkus/webdependency/locator/deployment/WebDependencyLocatorProcessor.java
Labels: area/core, area/vertx, triage/flaky-test, triage/backport-3.11, triage/backport

#41318 Update SmallRye Config to 3.8.3
  bom/application/pom.xml
Labels: area/config, area/smallrye, area/dependencies, triage/flaky-test, triage/backport-3.11, triage/backport

#41325 Use AutoCloseableDestroyer for the standalone search mapping bean
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/deployment/HibernateSearchStandaloneProcessor.java
  extensions/keycloak-admin-client-common/runtime/src/main/java/io/quarkus/keycloak/admin/client/common/AutoCloseableDestroyer.java
  extensions/keycloak-admin-rest-client/deployment/src/main/java/io/quarkus/keycloak/admin/client/reactive/KeycloakAdminClientReactiveProcessor.java
  extensions/keycloak-admin-resteasy-client/deployment/src/main/java/io/quarkus/keycloak/adminclient/deployment/KeycloakAdminClientProcessor.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/BeanDestroyer.java
Labels: triage/backport-3.11, triage/backport

#41339 Updates to Infinispan 15.0.5.Final and Protostream 5.0.5.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/flaky-test

#41370 Quartz fix to use correct async constant
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/scheduler, triage/waiting-for-ci, triage/backport

#41381 Quartz: add a test for programmatic job metadata
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/programmatic/ProgrammaticJobsTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  integration-tests/quartz/src/main/java/io/quarkus/it/quartz/ProgrammaticJobResource.java
  integration-tests/quartz/src/test/java/io/quarkus/it/quartz/QuartzTestCase.java
Labels: area/scheduler, triage/backport

#41405 Remove OpenTelemetry old Config relocations and fallbacks
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/NonAppEndpointsEnabledLegacyConfigurationTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryLegacyConfigurationTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/TracerDisabledLegacyTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterBadEndpointTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterConfigTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterDisabledTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/OTelFallbackConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/InstrumentBuildTimeConfigFallbackConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/InstrumentBuildTimeConfigRelocateConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/LegacySamplerNameConverter.java
  extensions/opentelemetry/runtime/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptor
Labels: area/tracing, triage/flaky-test

#41295 Micrometer performance - use Meter.MeterProvider
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/StorkMetricsLoadBalancerFailTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/StorkMetricsServiceDiscoveryFailTest.java
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/StorkMetricsTest.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/stork/StorkObservationCollectorBean.java
Labels: area/metrics, triage/flaky-test
