Repository quarkusio/quarkus, pull requests merged in 2024-07, with the labels that each got.

#41572 Bump ubi image to 1.19 for jib
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: triage/waiting-for-ci, area/container-image, triage/backport-3.8, triage/backport

#41544 Rename confusing methods in CuratedApplication
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedRemoteDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedTestModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/ModuleTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/jbang/JBangAugmentorImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/core, triage/waiting-for-ci, area/testing, area/devtools, area/jbang

#41547 Use SelectionQuery/MutationQuery wherever possible in Panache + avoid warning HHH000104
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/AbstractJpaOperations.java
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/NamedQueryUtil.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/AdditionalJpaOperations.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/CustomCountPanacheQuery.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/AbstractJpaOperations.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/NamedQueryUtil.java
  integration-tests/hibernate-orm-panache/src/main/resources/application.properties
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheMockingTest.java
Labels: area/documentation, area/panache, triage/needs-review

#41562 [3.8] Small documentation enhancement/formating
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/config.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/security-basic-authentication.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/spring-boot-properties.adoc
Labels: area/documentation, area/docstyle

#41560 Update Flyway guide dependency section
  docs/src/main/asciidoc/flyway.adoc
Labels: area/documentation

#41581 Revert "Register `java.sql.*isClosed` methods for reflection"
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
Labels: triage/waiting-for-ci, area/agroal, triage/flaky-test

#41573 Redis Client - Enable TLS/SSL Only with rediss:// Scheme
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/VertxRedisClientFactory.java
Labels: triage/flaky-test

#41586 Fix markup error in telemetry-micrometer guide
  docs/src/main/asciidoc/telemetry-micrometer.adoc
Labels: area/documentation, triage/backport

#41589 Revert "Bump narayana.version from 7.0.1.Final to 7.0.2.Final"
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#41557 Solve sync build issue
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation

#41585 Make quarkus.config-tracking.enabled optional
  core/deployment/src/main/java/io/quarkus/deployment/configuration/tracker/ConfigTrackingInterceptor.java
Labels: area/core, area/config, triage/flaky-test

#41587 Make sure generated quarkus-artifact.properties is stable
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/PropertyUtils.java
Labels: area/core, area/devtools, triage/backport-3.8, triage/backport

#41592 Update quarkus-build-caching-extension to 1.3
  .mvn/extensions.xml
Labels: triage/flaky-test

#41583 Make flyway and jdbc-postgresql extensions work without any other required dependencies
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  extensions/flyway-postgresql/deployment/pom.xml
  extensions/flyway-postgresql/pom.xml
  extensions/flyway-postgresql/runtime/pom.xml
  extensions/flyway-postgresql/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/jdbc/jdbc-postgresql/deployment/pom.xml
  extensions/jdbc/jdbc-postgresql/runtime/pom.xml
  extensions/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
Labels: triage/waiting-for-ci, area/flyway, triage/flaky-test

#40906 Reinstate changes to use JBoss serializer instead of xstream
  bom/application/pom.xml
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/it/TestParameterDevModeIT.java
  test-framework/junit5/pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomListConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapEntryConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomSetConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/DeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/NewSerializingDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/SerializationDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/SerializationWithXStreamFallbackDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/TestInfoImpl.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
Labels: area/gradle, area/arc, triage/waiting-for-ci, area/testing, area/platform, area/dependencies, area/devtools, triage/flaky-test

#41593 [3.12] 3.12.1 backports 2
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  core/runtime/src/main/java/io/quarkus/runtime/TemplateHtmlBuilder.java
  docs/src/main/asciidoc/flyway.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/jfr.adoc
  docs/src/main/asciidoc/telemetry-micrometer.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SplitPackageProcessor.java
  extensions/caffeine/runtime/src/main/java/io/quarkus/caffeine/runtime/graal/CacheConstructorsFeature.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/jfr/deployment/pom.xml
  extensions/jfr/deployment/src/main/java/io/quarkus/jfr/deployment/JfrProcessor.java
  extensions/jfr/pom.xml
  extensions/jfr/runtime/pom.xml
  extensions/jfr/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/VertxRedisClientFactory.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyStandaloneRecorder.java
  extensions/resteasy-reactive/rest/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRecorder.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/QuarkusNotFoundServlet.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/EndpointsProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/NotFoundProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-endpoints.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ResourceNotFoundData.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ResourceNotFoundHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ResourceNotFoundRecorder.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/main/resources/dev-ui/qwc-wsn-endpoints.js
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/onopenreturntypes/OnOpenReturnTypesTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/utils/WSClient.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsServerRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/devui/WebSocketNextJsonRPCService.java
  extensions/websockets-next/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/InsertSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ResolutionContext.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ResolutionContextImpl.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IncludeTest.java
  integration-tests/cache/src/main/resources/application.properties
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/mockito/MockitoExtensionTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/paraminject/ParameterInjectMockTest.java
Labels: area/documentation, area/core, area/arc, area/resteasy, area/infra, area/vertx, area/undertow, area/testing, area/dependencies, area/cache, area/redis, area/resteasy-reactive, triage/flaky-test

#41590 Clean up StartupContext when closing it
  core/runtime/src/main/java/io/quarkus/runtime/StartupContext.java
Labels: area/core, triage/flaky-test

#41550 Arc - document intercepted self-invocation as a non-standard feature
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation, triage/waiting-for-ci

#41326 Dev services check property value existence with expression expansion
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevServicesProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenAnnotationTest.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/resources/application.properties
  extensions/oidc-token-propagation/deployment/src/test/java/io/quarkus/oidc/token/propagation/AccessTokenAnnotationTest.java
  extensions/oidc-token-propagation/deployment/src/test/resources/application.properties
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/DevServicesRedisProcessor.java
  extensions/schema-registry/devservice/deployment/src/main/java/io/quarkus/apicurio/registry/devservice/DevServicesApicurioRegistryProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/dev/KafkaDevServicesDevModeTestCase.java
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/mqtt/deployment/MqttDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/PulsarDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesProcessor.java
  integration-tests/oidc/src/main/resources/application.properties
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
Labels: area/persistence, area/core, area/config, area/infinispan, area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/hibernate-orm, area/mongodb, area/oidc, area/kubernetes, area/kafka, area/redis, area/elasticsearch, triage/flaky-test, triage/backport-3.8, triage/backport

#41601 Use correct property in JWT key file examples
  docs/src/main/asciidoc/security-jwt-build.adoc
Labels: area/documentation, triage/backport-3.8, triage/backport

#41203 Improve Config CLI
  devtools/cli/src/main/java/io/quarkus/cli/Config.java
  devtools/cli/src/main/java/io/quarkus/cli/config/BaseConfigCommand.java
  devtools/cli/src/main/java/io/quarkus/cli/config/Encrypt.java
  devtools/cli/src/main/java/io/quarkus/cli/config/RemoveConfig.java
  devtools/cli/src/main/java/io/quarkus/cli/config/SetConfig.java
  devtools/cli/src/test/java/io/quarkus/cli/config/EncryptTest.java
  devtools/cli/src/test/java/io/quarkus/cli/config/RemoveConfigTest.java
  devtools/cli/src/test/java/io/quarkus/cli/config/SetConfigTest.java
Labels: area/arc, area/devtools, area/cli

#41604 Clear the Introspector caches in tests
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ClearCache.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: triage/waiting-for-ci, area/testing, triage/flaky-test

#41614 Redis Client: fix JSON.MGET parameters ordering
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractJsonCommands.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/JsonCommandsTest.java
Labels: release/breaking-change, area/redis

#41617 Extract macros in docs to avoid breaking regexes
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.8

#41633 Catch exceptions when running checkMissingCommand
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
Labels: triage/waiting-for-ci, area/devtools, area/cli, triage/backport-3.8, triage/backport

#41630 Add OIDC clientName property
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
Labels: area/oidc

#41637 Lock docker image version for the OTel Collector
  integration-tests/opentelemetry-vertx-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/exporter/OtelCollectorLifecycleManager.java
Labels: triage/backport

#41636 [3.12] 3.12.1 backports 3
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  docs/src/main/asciidoc/security-jwt-build.adoc
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/PropertyUtils.java
Labels: area/documentation, area/core, area/infra, area/dependencies, area/devtools, area/cli, triage/flaky-test

#41638 Add more log messages to show how OIDC client checks and refreshes tokens
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/Tokens.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/TokensHelper.java
Labels: area/oidc

#41654 Register @JsonNaming value for reflection
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/Mammal.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/JsonSubTypesResourceTest.java
Labels: area/jackson, triage/backport-3.8, triage/backport

#41650 Fix broken xrefs to configuration-based-tenant-resolver
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
Labels: area/oidc, triage/backport

#41641 Check port is free before starting Quarkus in our dev mode tests
  test-framework/maven/src/main/java/io/quarkus/maven/it/RunAndCheckMojoTestBase.java
Labels: area/maven, area/testing

#41653 Core: minor refactoring of StartupContext
  core/runtime/src/main/java/io/quarkus/runtime/StartupContext.java
Labels: area/core, triage/waiting-for-ci

#41609 Fix bytecode recording issue when default method is used as a getter
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/ControllerConfigurationBuildStep.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/def/ControllerConfigurationTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/def/ControllerConfiguration.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/def/ControllerConfigurationProducer.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/def/ControllerConfigurationRecorder.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/def/QuarkusControllerConfiguration.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/def/ResourceConfiguration.java
Labels: area/core, triage/waiting-for-ci, triage/backport-3.8, triage/backport

#41623 Deprecate class cloning configuration
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#41530 Fix liquibase issue with resource path
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
Labels: area/liquibase, triage/backport

#41672 Docs: Remove additional ) at the end
  docs/src/main/asciidoc/cdi-integration.adoc
Labels: area/documentation

#41664 Reinitialize the SmallRye `HostName` class as well
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageConfigBuildStep.java
Labels: area/core, triage/waiting-for-ci, triage/backport-3.8, triage/backport

#41666 Bump JBoss Logging annotations + processor to 3.0.0.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies

#41667 Polish HeaderUtil
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/HeaderUtil.java
Labels: triage/waiting-for-ci

#41670 Only warn about `module-info` if it exists
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/StaticFileManager.java
Labels: area/core, triage/backport-3.8, triage/backport

#41622 Expose validate-on-borrow provided by Agroal through Quarkus
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
Labels: area/agroal

#41634 Apply weekly cache key on quarkus-metadata entry
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/native-it-selected-graalvm.yml
Labels: area/infra-automation, triage/flaky-test

#41678 Escape ] in rewritten xrefs for downstream doc
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation, triage/backport-3.8

#41680 [3.8] Escape ] in rewritten xrefs for downstream doc
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation, area/infra

#41663 Support additional recipe artifacts in quarkus update
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/update/RewriteGroup.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusUpdate.java
  devtools/maven/src/main/java/io/quarkus/maven/UpdateMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/UpdateProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdates.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
Labels: area/gradle, area/maven, area/platform, area/devtools, area/cli

#41682 [3.8] Extract macros in docs to avoid breaking regexes
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation

#41578 Update to gRPC 1.65.0 and Netty 4.1.111
  bom/application/pom.xml
  docs/src/main/asciidoc/grpc-service-consumption.adoc
  docs/src/main/asciidoc/stork-reference.adoc
  integration-tests/grpc-stork-response-time/src/test/java/io/quarkus/grpc/examples/stork/GrpcStorkResponseTimeCollectionTest.java
  pom.xml
Labels: area/documentation, triage/waiting-for-ci, area/dependencies, area/grpc, triage/flaky-test, area/netty

#41494 Created ad-hoc signed jar for testing filtering of jar file
  core/deployment/pom.xml
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/JarResultBuildStepTest.java
Labels: area/core, triage/waiting-for-ci

#41685 SmallRye GraphQL: added \r to PATTERN_NEWLINE_OR_TAB
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java
Labels: area/smallrye, area/graphql, triage/backport-3.8, triage/backport

#41258 ArC: support interception of producers and synthetic beans
  docs/src/main/asciidoc/cdi-reference.adoc
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/interceptor/producer/ProducerWithFinalInterceptedClassTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/interceptor/producer/ProducerWithFinalInterceptedMethodTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/interceptor/producer/ProducerWithPrivateZeroParamCtorAndInterceptionTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/interceptor/producer/ProducerWithoutZeroParamCtorAndInterceptionTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AbstractGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfigurator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BindingsDiscovery.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinBean.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DecoratorInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptionProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptionProxyInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Types.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/BindingsSource.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InterceptionProxy.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/SyntheticCreationalContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/SyntheticCreationalContextImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithClassAndMethodLevelInterceptorsAndBindingsSourceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithClassAndMethodLevelInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithClassLevelInterceptorsAndBindingsSourceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithClassLevelInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithFinalInterceptedClassTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithFinalInterceptedMethodTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithGenericClassInterceptionAndBindingsSourceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithGenericClassInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithInterceptionAndDestructionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithInterfaceInterceptionAndBindingsSourceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithInterfaceInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithMethodLevelInterceptorsAndBindingsSourceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithMethodLevelInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithMultipleInterceptionProxyParamsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithParameterizedConstructorsAndInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithParameterizedInterceptedMethodsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithPrivateZeroParamCtorAndInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithoutZeroParamCtorAndInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/synthbean/SynthBeanWithFinalInterceptedClassTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/synthbean/SynthBeanWithFinalInterceptedMethodTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/synthbean/SynthBeanWithGenericClassInterceptionAndBindingsSourceTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/synthbean/SynthBeanWithParameterizedConstructorsAndInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/synthbean/SynthBeanWithParameterizedInterceptedMethodsTest.java
Labels: release/noteworthy-feature, area/documentation, area/arc

#41679 Qute: add support to iterate long numbers
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/LoopSectionTest.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#41688 Infinispan Extension adds SASL to reflective classes
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
Labels: area/infinispan

#41693 Use JDK17 features in `LoopSectionHelper`
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java
Labels: triage/waiting-for-ci, triage/flaky-test

#41692 Provide infrastructure to debug QuarkusClassLoader lifecyle
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: triage/waiting-for-ci, area/devtools, triage/flaky-test

#41690 Qute: extend the @EngineConfiguration support to ParserHook
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Names.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/ValidationParserHookBuildItem.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/parserhook/CustomParserHookBuildTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/parserhook/CustomParserHookRuntimeTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/parserhook/ValidationHookTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/WrongTargetConstructorTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/engineconfigurations/section/WrongTargetNestedTypeTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineConfiguration.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/NamespaceResolver.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParserHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ParserHook.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ValueResolver.java
Labels: area/documentation, triage/waiting-for-ci, area/qute, triage/flaky-test

#41707 Fix native issue with @Providers when only the REST Client exists
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
Labels: area/resteasy-reactive, triage/backport-3.8, triage/backport

#41618 Allow to specify a custom quarkus udpate recipes artifact
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/update/RewriteGroup.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusUpdate.java
  devtools/maven/src/main/java/io/quarkus/maven/UpdateMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/UpdateProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdates.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
Labels: area/gradle, area/maven, area/platform, area/devtools, area/cli, triage/flaky-test

#41647 Handle duplicated Vert.x context in CaffeineCacheImpl
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/caffeine/CaffeineCacheImpl.java
  extensions/infinispan-cache/runtime/src/main/java/io/quarkus/cache/infinispan/runtime/InfinispanCacheImpl.java
Labels: triage/waiting-for-ci, area/cache, triage/flaky-test, triage/backport-3.8, triage/backport

#41710 Introduce support for canceling async types in Quarkus Rest
  extensions/resteasy-reactive/rest-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/CoroutineInvocationHandler.kt
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/CancelableCompletionStageTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/CancelableUniTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/CompletionStageResponseHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/UniResponseHandler.java
Labels: release/breaking-change, area/resteasy-reactive

#41716 BugFix fixed comparison of field with itself
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanDevServicesConfig.java
Labels: area/infinispan, triage/backport-3.8, triage/backport

#41721 Fix Quarkus REST concurrent modification exception when making abstract resource classes inheritors beans
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/InheritanceTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/InheritanceAbstractParentImplResource.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/InheritanceAbstractParentResource.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-3.8, triage/backport

#41724 Clear the VertxMDC ThreadLocal when shutting down Vert.x
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/vertx

#41418 Add TLS CLI commands
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/tls-registry-reference.adoc
  extensions/tls-registry/cli/pom.xml
  extensions/tls-registry/cli/src/main/java/io/quarkus/tls/cli/Constants.java
  extensions/tls-registry/cli/src/main/java/io/quarkus/tls/cli/GenerateCACommand.java
  extensions/tls-registry/cli/src/main/java/io/quarkus/tls/cli/GenerateCertificateCommand.java
  extensions/tls-registry/cli/src/main/java/io/quarkus/tls/cli/TlsCommand.java
  extensions/tls-registry/cli/src/test/java/io/quarkus/tls/cli/SelfSignedGenerationTest.java
  extensions/tls-registry/pom.xml
  extensions/tls-registry/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/base/..gitignore
  pom.xml
Labels: release/noteworthy-feature, area/documentation, area/platform, area/dependencies, area/devtools, triage/flaky-test

#41737 Update telemetry-micrometer.adoc
  docs/src/main/asciidoc/telemetry-micrometer.adoc
Labels: area/documentation

#41744 Enhance JBang Documentation with Configuration and Qute Template
  docs/src/main/asciidoc/scripting.adoc
Labels: area/documentation

#41755 Suppress unused warning in RestClientMetricsFilter
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetricsFilter.java
Labels: triage/waiting-for-ci, area/metrics

#41768 Using safe Integer comparison
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddPortToKnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddPortToKubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddPortToOpenshiftConfig.java
Labels: area/kubernetes, triage/backport-3.8, triage/backport

#41752 Fix bug in AsyncResponseImpl#register
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/AsyncResponseImpl.java
Labels: triage/waiting-for-ci, triage/backport

#41753 Fix `*` handling of debug configuration in VertxCoreProcessor
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
Labels: area/vertx, triage/flaky-test, triage/backport

#41764 [3.8] Fix specific items in 3.8 that are fine in main
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, area/docstyle

#41763 For NOTE and TIP, use admonition syntax instead of ID syntax
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
Labels: area/documentation, triage/backport-3.2, triage/backport-3.8, triage/backport

#40942 Replace read/write lock in JarResource to avoid virtual threads pinning
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarFileReference.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/VirtualThreadSupport.java
Labels: triage/waiting-for-ci, area/devtools, triage/flaky-test

#41723 Clear com.sun.naming.internal.ResourceManager#propertiesCache
  build-parent/pom.xml
  extensions/jaxb/deployment/pom.xml
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ClearCache.java
Labels: area/testing, area/jaxb, area/dependencies, triage/flaky-test

#41779 WebSockets Next: Dev UI fixes
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/devui/WebSocketServerDevUIProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/devmode/NoServerEndpointDevModeTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/devui/WebSocketNextJsonRPCService.java
Labels: area/websockets, triage/backport

#41791 Update keycloak version to `25.0.0` in security docs
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation, area/docstyle, triage/backport

#41676 Don't always set the user parameter when starting container in tests
  test-framework/common/src/main/java/io/quarkus/test/common/DefaultDockerContainerLauncher.java
Labels: area/testing, triage/flaky-test, triage/backport

#41304 Update the MappingStructure constant in the docs to match the enum value
  extensions/hibernate-search-standalone-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/runtime/HibernateSearchStandaloneBuildTimeConfig.java
Labels: triage/backport

#41783 Add class level JavaDoc to BytecodeTransformerBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeTransformerBuildItem.java
Labels: area/core, triage/waiting-for-ci

#41787 Use `SecureDirectoryStream` to avoid FS problems and fix other minor issues in `IoUtils`
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/IoUtils.java
Labels: area/devtools, triage/flaky-test

#41761 Clarify documentation of Hibernate ORM dialects wrt database multi-tenancy
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/src/main/resources/application.properties
  integration-tests/hibernate-orm-tenancy/connection-resolver/src/main/resources/application.properties
  integration-tests/spring-data-jpa/src/test/resources/property-warnings-test.properties
Labels: area/documentation, area/persistence, area/hibernate-orm, area/spring, area/docstyle

#41794 Enhance CONTRIBUTING - Add windows option to enable longpaths
  CONTRIBUTING.md
Labels: env/windows

#41792 [3.8] Update keycloak version to `24.0.0` in security docs
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation, area/docstyle

#41778 Scheduler: fix Trigger#getNextFireTime() for cron-based jobs
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/timezone/ScheduledMethodTimeZoneTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/timezone/TriggerNextFireTimeZoneTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/timezone/TriggerPrevFireTimeZoneTest.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/ScheduledExecution.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Trigger.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/timezone/ScheduledMethodTimeZoneTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/timezone/TriggerNextFireTimeZoneTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/timezone/TriggerPrevFireTimeZoneTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler, triage/backport

#41726 Avoid making IsolatedDevModeMain and allegates static for no good reason
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedRemoteDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedTestModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
Labels: area/core, triage/flaky-test

#41747 QuarkusComponentTest: register default and support custom converters
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTest.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestConfiguration.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtensionBuilder.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/config/ConfigBuilderCustomizerTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/config/ConfigConverterExtensionTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/config/ConfigConverterTest.java
Labels: triage/waiting-for-ci, area/testing

#41201 Adds -H:+GenerateBuildArtifactsFile, copies .so from remote container
  .github/native-tests.json
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRemoteContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  integration-tests/awt-packaging/pom.xml
  integration-tests/awt-packaging/src/main/java/io/quarkus/it/jaxb/Book.java
  integration-tests/awt-packaging/src/main/java/io/quarkus/it/jaxb/Lambda.java
  integration-tests/awt-packaging/src/main/java/io/quarkus/it/jaxb/Resource.java
  integration-tests/awt-packaging/src/main/resources/application.properties
  integration-tests/awt-packaging/src/test/java/io/quarkus/it/jaxb/AwtJaxbTest.java
  integration-tests/awt-packaging/src/test/java/io/quarkus/it/jaxb/AwtJaxbTestIT.java
  integration-tests/pom.xml
Labels: area/core, area/infra-automation, triage/flaky-test

#41814 Fix code example for JSON serialisation in rest guide
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation, triage/backport-3.8, triage/backport

#41793 Use <parameters>true</parameters> instead of <compilerArgs><arg>-parameters</arg></compilerArgs>
  docs/src/main/asciidoc/building-my-first-extension.adoc
  extensions/tls-registry/cli/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/pom.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateMavenWithCustomDep/pom.xml
  integration-tests/devtools/src/test/resources/__snapshots__/KotlinSerializationCodestartTest/testMavenContent/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/pom.xml
  integration-tests/maven/src/test/resources-filtered/expected/new-extension-current-directory-project/pom.xml
  integration-tests/maven/src/test/resources-filtered/expected/new-extension-project/my-ext/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/codegen-config-factory/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/config-tracking/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-codestart/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/extension/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/resources/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/runner/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/service-loader/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/subatomic-provider/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/supersonic-provider/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-test-with-no-main/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts/app/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts/external-lib/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/ignore-entries-uber-jar/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/modules-in-profiles/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multi-build-mode-parallel/module-1/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multi-build-mode-parallel/module-2/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multi-build-mode/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multijar-module/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-classpath/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-revision-prop/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-root-no-src/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multimodule/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/native-image-app/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/no-resource-root/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/pom-in-target-dir/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/property-expansion/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/property-overrides/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/proto-gen/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies-groupid/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkus-index-dependencies/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkus.package.output-directory/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/reactive-routes/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rest-client-custom-headers-extension/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rr-with-json-logging/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-module-dependency/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-plugin-classpath-config/module-a/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-plugin-classpath-config/module-b/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-plugin-classpath-config/runner/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-source-sets/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/uberjar-check/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/uberjar-maven-plugin-config/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-callback-from-extension/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-parameter-injection/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension-with-bytecode-changes/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension/pom.xml
  integration-tests/virtual-threads/pom.xml
Labels: area/documentation, area/maven, area/platform, area/devtools, triage/flaky-test

#41808 Introduce build item to control kubernetes output dir
  extensions/kubernetes/spi/src/main/java/io/quarkus/kubernetes/spi/CustomKubernetesOutputDirBuildItem.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithCustomOutputDirTest.java
Labels: area/kubernetes, triage/flaky-test

#41816 Drop some old relocations
  bom/application/pom.xml
  relocations/pom.xml
  relocations/quarkus-jaeger-deployment/pom.xml
  relocations/quarkus-jaeger/pom.xml
  relocations/quarkus-opentelemetry-exporter-jaeger-deployment/pom.xml
  relocations/quarkus-opentelemetry-exporter-jaeger/pom.xml
  relocations/quarkus-opentelemetry-exporter-otlp-deployment/pom.xml
  relocations/quarkus-opentelemetry-exporter-otlp/pom.xml
  relocations/quarkus-smallrye-opentracing-deployment/pom.xml
  relocations/quarkus-smallrye-opentracing/pom.xml
Labels: area/dependencies, triage/flaky-test

#41760 WebSockets Next: add support for Kotlin suspend functions
  bom/application/pom.xml
  docs/src/main/asciidoc/kotlin.adoc
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/pom.xml
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/Callback.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/KotlinContinuationCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/utils/WSClient.java
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/BinaryEcho.kt
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/BinaryEchoSuspend.kt
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/Echo.kt
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/EchoSuspend.kt
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/KotlinWebSocketClientTest.kt
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/KotlinWebSocketSessionContextTest.kt
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/KotlinWebSocketSuspendingClientTest.kt
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/KotlinWebSocketTest.kt
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/Message.kt
  extensions/websockets-next/kotlin/pom.xml
  extensions/websockets-next/kotlin/src/main/kotlin/io/quarkus/websockets/next/runtime/kotlin/ApplicationCoroutineScope.kt
  extensions/websockets-next/kotlin/src/main/kotlin/io/quarkus/websockets/next/runtime/kotlin/CoroutineInvoker.kt
  extensions/websockets-next/kotlin/src/main/kotlin/io/quarkus/websockets/next/runtime/kotlin/VertxDispatcher.kt
  extensions/websockets-next/pom.xml
  extensions/websockets-next/runtime/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/KotlinDotNames.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/KotlinUtils.java
Labels: release/noteworthy-feature, area/documentation, area/arc, triage/waiting-for-ci, area/dependencies, area/websockets, triage/flaky-test

#41712 Fix content issues in security guides
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  docs/src/main/asciidoc/security-testing.adoc
Labels: area/documentation, area/docstyle

#41824 Properly close AsyncFile in Quarkus REST
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/serializers/ServerMutinyAsyncFileMessageBodyWriter.java
Labels: triage/flaky-test, triage/backport-3.8, triage/backport

#41822 Bump to SmallRye GraphQL 2.9.0
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  tcks/microprofile-graphql/src/main/resources/overrides/basicScalarTests.csv
  tcks/microprofile-graphql/src/main/resources/overrides/importantDatesUS/output.json
  tcks/microprofile-graphql/src/main/resources/overrides/trackLongLat/output.json
Labels: area/smallrye, area/dependencies, area/graphql

#41317 Modernize WatchServiceFileSystemWatcher and watch .env for dev mode
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/watch/FileChangeEvent.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/watch/WatchServiceFileSystemWatcher.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/deployment/src/test/java/io/quarkus/deployment/dev/FileSystemWatcherTestCase.java
Labels: area/core, triage/waiting-for-ci

#41815 Create new vertx context for blocking health checks
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/BlockingChecksVertxContextDuplicationTest.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/QuarkusAsyncHealthCheckFactory.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandlerBase.java
Labels: area/smallrye, area/health, triage/flaky-test, triage/backport-3.8, triage/backport

#41856 WebSockets Next: broadcasting fixes
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
Labels: triage/backport

#41836 Module `java.security.jgss` should export `sun.security.jgss`
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/flaky-test, triage/backport

#41244 Set extension properties directly
  docs/src/main/asciidoc/observability-devservices-lgtm.adoc
  extensions/observability-devservices/deployment/src/main/java/io/quarkus/observability/deployment/ObservabilityDevServiceProcessor.java
  extensions/observability-devservices/testlibs/devresource-common/src/main/java/io/quarkus/observability/devresource/DevResourceLifecycleManager.java
  extensions/observability-devservices/testlibs/devresource-common/src/main/java/io/quarkus/observability/devresource/ExtensionsCatalog.java
  extensions/observability-devservices/testlibs/devresource-lgtm/src/main/java/io/quarkus/observability/devresource/lgtm/LgtmResource.java
  integration-tests/observability-lgtm/pom.xml
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmLifecycleTest.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmResourcesTest.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmTestBase.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/support/DevResourcesTestProfile.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/support/QuarkusTestResourceTestProfile.java
  integration-tests/observability-lgtm/src/test/resources/application.properties
Labels: area/documentation, release/breaking-change

#41851 Bump Smallrye Reactive Messaging version to 4.22.0
  bom/application/pom.xml
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/SmallRyeReactiveMessagingPulsarProcessor.java
Labels: area/smallrye, area/reactive-messaging, area/dependencies, triage/flaky-test

#41860 Upgrade to Mutiny 2.6.2 and the Vert.x Mutiny bindings 3.13.2
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/dependencies, triage/flaky-test

#41576 ADR: Introduce working groups
  adr/0005-working-group-process.adoc
Labels: area/adr

#41521 Bump OTel 1.39. and instrumentation no 2.5.0
  bom/application/pom.xml
  extensions/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/InMemoryMetricExporter.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/SemconvResolver.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GraphQLOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GrpcOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/RestClientOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxClientOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryForwardedTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/VertxOpenTelemetryXForwardedTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/interceptor/WithSpanLegacyInterceptorTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/traces/OpenTelemetryHttpCDILegacyTest.java
  extensions/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/AutoConfiguredOpenTelemetrySdkBuilderCustomizer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryUtil.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/OTelRuntimeConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/SemconvStabilityType.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/sender/VertxHttpSender.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/graal/Substitutions.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/DropTargetsSampler.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/AddingSpanAttributesInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/WithSpanInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/InstrumentationRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcAttributesGetter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcTracingClientInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcTracingServerInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/restclient/OpenTelemetryClientFilter.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/EventBusInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/HttpInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/RedisClientInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/SqlClientInstrumenterVertxTracer.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/OpenTelemetryUtilTest.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/DropTargetsSamplerTest.java
  extensions/quartz/runtime/pom.xml
  integration-tests/opentelemetry-grpc/src/test/java/io/quarkus/it/opentelemetry/grpc/OpenTelemetryGrpcTest.java
  integration-tests/opentelemetry-reactive-messaging/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTestCase.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/EndUserResource.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveClientTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/enduser/AbstractEndUserTest.java
  integration-tests/opentelemetry-spi/src/main/java/io/quarkus/it/opentelemetry/spi/CustomSPISampler.java
  integration-tests/opentelemetry-spi/src/test/java/io/quarkus/it/opentelemetry/spi/OTelSpiTest.java
  integration-tests/opentelemetry-vertx-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/exporter/AbstractExporterTest.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/HelloRouterTest.java
  integration-tests/opentelemetry-vertx/src/test/java/io/quarkus/it/opentelemetry/vertx/SqlClientTest.java
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/EndUserResource.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/AbstractEndUserTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/TracingTest.java
  integration-tests/rest-client-reactive/src/main/resources/application.properties
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
  tcks/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/scheduler, release/breaking-change, area/dependencies, area/tracing, area/metrics, triage/flaky-test

#41896 Fix flaky InputCollectionOutputCollectionLambdaTest
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/InputCollectionOutputCollectionLambda.java
Labels: area/amazon-lambda, triage/backport-3.8, triage/backport

#41893 Add backcompatibility for DevResource::config method
  extensions/observability-devservices/testlibs/devresource-common/src/main/java/io/quarkus/observability/devresource/DevResourceLifecycleManager.java
Labels: area/config

#41902 Use quarkusConditional prefix for Quarkus conditional dependency configurations
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
Labels: area/gradle, area/devtools, triage/backport

#41907 Show qualified name with generics
  docs/src/main/java/io/quarkus/docs/generation/QuarkusBuildItemDoc.java
Labels: area/documentation

#41891 Fix otel properties documentation
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterRuntimeConfig.java
Labels: area/tracing, triage/flaky-test

#41875 Update importmap to 1.0.11
  bom/application/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
Labels: area/vertx, area/dependencies

#41924 Fix formatting issue in security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.8, triage/backport

#41837 Adding info about docker vs podman extensions
  docs/src/main/asciidoc/container-image.adoc
Labels: area/documentation

#41903 Configure OTel metrics on observability devservice
  docs/src/main/asciidoc/observability-devservices-lgtm.adoc
  extensions/observability-devservices/testlibs/devresource-lgtm/src/main/java/io/quarkus/observability/devresource/lgtm/LgtmResource.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmLifecycleTest.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmResourcesTest.java
Labels: area/documentation

#41738 Improve way to write class resources with try-with-resource
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
Labels: area/core, triage/flaky-test

#41308 Make 'All Build Items' use the same styles as 'All Config'
  docs/src/main/java/io/quarkus/docs/generation/QuarkusBuildItemDoc.java
Labels: area/documentation

#41897 Update SmallRye Config to 3.9.0
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ApplicationPropertiesConfigSourceLoader.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ProfileManager.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeConfigBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/StaticInitConfigBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/SystemOnlySourcesConfigBuilder.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
  extensions/config-yaml/runtime/src/main/java/io/quarkus/config/yaml/runtime/AbstractYamlObjectConverter.java
  extensions/config-yaml/runtime/src/main/java/io/quarkus/config/yaml/runtime/ApplicationYamlConfigSourceLoader.java
  extensions/config-yaml/runtime/src/main/java/io/quarkus/config/yaml/runtime/YamlConfigBuilder.java
  extensions/config-yaml/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSourceProvider
  extensions/picocli/runtime/src/main/java/io/quarkus/picocli/runtime/PicocliConfigBuilder.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
Labels: area/gradle, area/core, area/config, area/testing, area/dependencies, area/devtools, area/picocli, triage/flaky-test

#41923 Destroy QuarkusProdModeTest forcibly if not stopped
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
Labels: area/testing

#41877 Doc for parameter quarkus.native.add-all-charsets
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
Labels: area/core, triage/flaky-test

#41908 Introduce `requires-quarkus-core` extension metadata
  docs/src/main/asciidoc/extension-metadata.adoc
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
Labels: area/documentation, triage/flaky-test

#41939 Remove deprecated classes from app-model
  core/deployment/src/main/java/io/quarkus/deployment/ApplicationArchive.java
  core/deployment/src/main/java/io/quarkus/deployment/ApplicationArchiveImpl.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTask.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ValidateExtensionTask.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppArtifact.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppArtifactCoords.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppArtifactKey.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/AppDependency.java
  independent-projects/bootstrap/app-model/src/test/java/io/quarkus/bootstrap/model/AppArtifactCoordsTest.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
Labels: area/gradle, area/core, area/devtools, triage/flaky-test

#41934 [3.12] 3.12.3 backports 1
  .mvn/extensions.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  docs/src/main/asciidoc/rest.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/AbstractInputCollectionOutputCollection.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/AbstractInputCollectionOutputCollectionLambdaImpl.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/AbstractInputCollectionOutputCollectionLambdaImplTest.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/GreetingLambda.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/GreetingLambdaTest.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/InputCollectionOutputCollectionLambda.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/InputCollectionOutputCollectionLambdaTest.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/LambdaDevServicesContinuousTestingTestCase.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/LambdaHandlerET.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/Person.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/model/InputPerson.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/model/OutputPerson.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/handlers/CollectionInputReader.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/timezone/ScheduledMethodTimeZoneTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/timezone/TriggerNextFireTimeZoneTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/timezone/TriggerPrevFireTimeZoneTest.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/ScheduledExecution.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Trigger.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/timezone/ScheduledMethodTimeZoneTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/timezone/TriggerNextFireTimeZoneTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/timezone/TriggerPrevFireTimeZoneTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/BlockingChecksVertxContextDuplicationTest.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/QuarkusAsyncHealthCheckFactory.java
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandlerBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/IoUtils.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/serializers/ServerMutinyAsyncFileMessageBodyWriter.java
Labels: area/documentation, area/gradle, area/core, area/infinispan, area/smallrye, area/infra, area/scheduler, area/amazon-lambda, area/devtools, area/health, triage/flaky-test, area/docstyle

#41935 Handle new format of used_classes_* reports in GraalVM for JDK 24
  test-framework/junit5/src/main/java/io/quarkus/test/junit/nativeimage/ClassInclusionReport.java
Labels: area/testing, triage/flaky-test

#41938 Update content for support of quarkus-oidc-token-propagation-(reactive) extensions
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, area/docstyle

#41952 Remove the extra new-line in Keycloak logs
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc

#41930 Build Succeeds, when Reusing an Artifact with Enabled Compression
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/NativeImageBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/UpxCompressionBuildStep.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#41953 Bump Gradle version from 8.8 to 8.9
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools, triage/flaky-test

#41959 fixes the showmore issue to allow users to select text
  docs/src/main/asciidoc/javascript/config.js
  docs/src/main/asciidoc/stylesheet/config.css
Labels: area/documentation

#41950 [3.8] Update content for support of quarkus-oidc-token-propagation-(reactive) extensions
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, area/docstyle

#41974 Remove .env file generated during tests
  extensions/tls-registry/cli/src/test/java/io/quarkus/tls/cli/SelfSignedGenerationTest.java
Labels: area/housekeeping, triage/backport

#41955 Update to Vert.x 4.5.9
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/vertx, area/dependencies

#41977 Remove conditionalization from Wiremock section
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle

#41804 Introduce the ability to automatically standup an HTTP proxy for the REST Client
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientBuildConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-reactive/rest-client/deployment/pom.xml
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RegisteredRestClientBuildItem.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/devservices/DevServicesRestClientHttpProxyProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/devservices/VertxHttpProxyDevServicesRestClientProxyProvider.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/HttpProxyDevServicesDeclarativeClientTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/HttpProxyDevServicesMultipleCustomProvidersTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/HttpProxyDevServicesProgrammaticClientTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/proxy/HttpProxyDevServicesSingleCustomProviderTest.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/spi-deployment/src/main/java/io/quarkus/rest/client/reactive/spi/DevServicesRestClientProxyProvider.java
  extensions/resteasy-reactive/rest-client/spi-deployment/src/main/java/io/quarkus/rest/client/reactive/spi/RestClientHttpProxyBuildItem.java
Labels: release/noteworthy-feature, area/resteasy, area/resteasy-reactive, triage/flaky-test, triage/backport

#41858 Enable dev services to be located by in-container java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/main/java/org/acme/Fruit.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/main/java/org/acme/FruitResource.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/main/resources/import.sql
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/test/java/org/acme/FruitsEndpointIT.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/test/java/org/acme/FruitsEndpointTest.java
  integration-tests/maven/src/test/resources-filtered/projects/native-agent-integration/src/test/java/org/acme/GreetingResourceTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
Labels: area/maven, area/testing, triage/flaky-test

#41943 Move Dev UI ClassLoading to Runtime
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devui/GrpcDevUIProcessor.java
  extensions/grpc/deployment/src/main/resources/dev-ui/qwc-grpc-services.js
  extensions/grpc/runtime/pom.xml
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devui/GrpcJsonRPCService.java
Labels: area/grpc, triage/flaky-test

#41900 Add support for @ShouldNotPin/@ShouldPin on superclass
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/ShouldNotPin.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/ShouldPin.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/JUnitEngine.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/LoomUnitExampleOnClassTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/ShouldNotPinTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/ShouldPinTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/TestPinJfrEvent.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/ignore/LoomUnitExampleOnMethodTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/ignore/LoomUnitExampleShouldNotPinOnClassTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/ignore/LoomUnitExampleShouldNotPinOnSuperClass.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/ignore/LoomUnitExampleShouldNotPinOnSuperClassTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/ignore/LoomUnitExampleShouldPinOnSuperClass.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/ignore/LoomUnitExampleShouldPinOnSuperClassTest.java
Labels: area/virtual-threads

#41982 Add support for downloading list of files in REST Client
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultipartResponseTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/PathFileDownload.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/resources/lorem.txt
  extensions/resteasy-reactive/rest-client/deployment/src/test/resources/test.html
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientResponseCompleteRestHandler.java
Labels: area/resteasy-reactive, triage/flaky-test, triage/backport

#41834 [3.8] Apply QE feedback to community docs
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  docs/src/main/asciidoc/security-testing.adoc
Labels: area/documentation, area/docstyle

#42002 Remove erroneous check in AbstractJpaOperations#getSession
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/AbstractJpaOperations.java
Labels: area/panache, triage/waiting-for-ci

#41909 Distinguish non-instantiable build items
  docs/src/main/asciidoc/all-builditems.adoc
  docs/src/main/java/io/quarkus/docs/generation/QuarkusBuildItemDoc.java
Labels: area/documentation, triage/waiting-for-ci

#41980 [3.8] Remove conditionalization from Wiremock section
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle

#42003 Unwrap CompletionException when dealing with CompletionStage in REST server
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/MutinyAsCompletionStageTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/CompletionStageResponseHandler.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/flaky-test, triage/backport-3.12, triage/backport

#41998 Upgrade to Oracle JDBC driver 23.4
  bom/application/pom.xml
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/ExtendedCharactersSupport.java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleNativeImage.java
  integration-tests/jpa-oracle/src/main/java/io/quarkus/example/jpaoracle/SerializationTestEndpoint.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, area/native-image

#42018 Add missing extension annotation processor to Spring Boot Properties extension
  extensions/spring-boot-properties/runtime/pom.xml
Labels: area/spring

#42005 Do not use deprecated `DockerStatusBuildItem#isDockerRunning` in core
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/DevServicesProcessor.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/observability-devservices/deployment/src/main/java/io/quarkus/observability/deployment/ObservabilityDevServiceProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/DevServicesRedisProcessor.java
  extensions/schema-registry/devservice/deployment/src/main/java/io/quarkus/apicurio/registry/devservice/DevServicesApicurioRegistryProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/mqtt/deployment/MqttDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/PulsarDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesProcessor.java
Labels: area/core, area/infinispan, area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/mongodb, area/oidc, area/kubernetes, area/kafka, area/redis, area/elasticsearch, triage/backport

#42017 Simplify mailer test setup now that we are Java 17+
  extensions/mailer/deployment/pom.xml
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/MailTemplateRecordTest.java
Labels: area/mailer

#40329 Speedup Hibernate ORM's enhancement of large models
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateEntityEnhancer.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/integration/QuarkusClassFileLocator.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/integration/QuarkusEnhancementContext.java
Labels: area/persistence, area/hibernate-orm, triage/flaky-test

#41838 Set the correct length of parameters when constructing the Redis arguments
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/QueryArgs.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/datasource/SearchCommandsTest.java
Labels: triage/waiting-for-ci, area/redis, triage/flaky-test, triage/backport-3.12, triage/backport

#39643 Add Keycloak Authorization dynamic tenant config resolution
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakPolicyEnforcerBuildStep.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/PolicyEnforcerResolver.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/TenantPolicyConfigResolver.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/DefaultPolicyEnforcerResolver.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerAuthorizer.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerRecorder.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerTenantConfig.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerTenantConfigBuilder.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerUtil.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/PolicyEnforcerResolver.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/VertxHttpFacade.java
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/DynamicTenantPolicyConfigResolver.java
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/ProtectedScopeResource.java
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/ProtectedTenantResource.java
  integration-tests/keycloak-authorization/src/main/resources/application.properties
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/AbstractPolicyEnforcerTest.java
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/DynamicTenantConfigPolicyEnforcerTest.java
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/KeycloakLifecycleManager.java
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/PolicyEnforcerInGraalITCase.java
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/StaticTenantConfigPolicyEnforcerTest.java
Labels: area/documentation, area/keycloak

#41989 Create a text based 404 based on useragent
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ResourceNotFoundData.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ResourceNotFoundHandler.java
Labels: area/vertx, triage/flaky-test

#42021 Use @ConfigMapping in Elasticsearch client deployment module
  extensions/elasticsearch-rest-client/deployment/src/main/java/io/quarkus/elasticsearch/restclient/lowlevel/deployment/ElasticsearchBuildTimeConfig.java
  extensions/elasticsearch-rest-client/deployment/src/main/java/io/quarkus/elasticsearch/restclient/lowlevel/deployment/ElasticsearchLowLevelClientProcessor.java
Labels: area/elasticsearch
