Repository quarkusio/quarkus, pull requests merged in 2024-02, with the labels that each got.

#38525 Fix typo in RedisClientConfig JavaDoc
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisClientConfig.java
Labels: area/redis

#38516 Add missing alpn config key handling from named config
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
Labels: area/resteasy, triage/backport

#38527 Revert "Escape column names with backticks in order by clause of hql query"
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/JpaOperationsSortTest.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
Labels: area/panache, triage/backport

#38478 Vertx: use NoopShutdownExecutorService and DevModeExecutorService
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
  core/devmode-spi/src/main/java/io/quarkus/dev/spi/HotReplacementContext.java
  core/runtime/src/main/java/io/quarkus/runtime/util/ForwardingExecutorService.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/VertxHttpHotReplacementSetup.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/DevModeExecutorService.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/NoopShutdownExecutorService.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/QuarkusExecutorFactory.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/DelegatingExecutorService.java
Labels: area/core, area/vertx, triage/waiting-for-ci

#38485 Retry tests when they fail to fight flaky tests
  .github/quarkus-github-bot.yml
  .github/workflows/ci-actions-incremental.yml
  independent-projects/parent/pom.xml
Labels: area/infra-automation, triage/flaky-test

#38118 Rename reflection-config.json into reflect-config.json and resources-config.json into resource-config.json
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation

#38548 Bump smallrye-open-api from 3.8.0 to 3.9.0
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, triage/backport

#38444 Fix request hanging condition
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stress/DrainTest.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReactiveOutputStream.java
Labels: area/resteasy-reactive, triage/backport

#38559 Be a bit more consistent with OpenShift case
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Kind.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Knative.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Kubernetes.java
  devtools/cli/src/main/java/io/quarkus/cli/deploy/Openshift.java
  devtools/cli/src/main/java/io/quarkus/cli/image/Openshift.java
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/flyway.adoc
  docs/src/main/asciidoc/init-tasks.adoc
  docs/src/main/asciidoc/liquibase-mongodb.adoc
  docs/src/main/asciidoc/liquibase.adoc
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PropertyUtil.java
Labels: area/documentation, area/kubernetes, area/devtools, area/cli

#38507 [3.2] Backports of downstream doc adjustments
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocFormatter.java
  docs/src/main/asciidoc/build-analytics.adoc
  docs/src/main/asciidoc/databases-dev-services.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/dev-ui.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/kubernetes-client.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation, area/core, triage/waiting-for-ci, area/docstyle

#38566 Add Develocity configuration to Quarkus GitHub Bot config
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#38558 Upgrade to Hibernate ORM 6.4.3.Final
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/panache/hibernate-orm-panache-kotlin/runtime/pom.xml
  extensions/panache/hibernate-orm-panache/runtime/pom.xml
  extensions/panache/hibernate-reactive-panache-kotlin/runtime/pom.xml
  extensions/panache/hibernate-reactive-panache/runtime/pom.xml
Labels: area/panache, triage/waiting-for-ci, area/dependencies, dependencies, triage/flaky-test, triage/backport

#38561 Provide a -Dno-build-cache shortcut do disable the build cache
  .mvn/gradle-enterprise.xml
Labels: triage/waiting-for-ci, area/housekeeping, area/cache, triage/flaky-test

#31414 Exclude banned dependency commons-logging in the BOM
  bom/application/pom.xml
  extensions/apache-httpclient/runtime/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/flaky-test

#38528 Logging with Panache: better failure condition
  core/runtime/src/main/java/io/quarkus/logging/Log.java
  core/runtime/src/test/java/io/quarkus/logging/GenerateLog.java
  core/runtime/src/test/java/io/quarkus/logging/LoggingApiCompletenessTest.java
Labels: area/core

#38231 OpenAPI: Always run OpenIDConnectSecurityFilter at runtime
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OIDCSecurityAutoAddTestTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OIDCSecurityTestBase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OIDCSecurityWithConfigTestCase.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/OpenApiFilter.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/AutoBasicSecurityFilter.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/AutoBearerTokenSecurityFilter.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/AutoSecurityFilter.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/filter/OpenIDConnectSecurityFilter.java
Labels: area/smallrye, area/openapi, triage/backport-3.6, triage/backport

#38580 Make the Forwarded Parser syntax parsing case-insensitive
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/proxy/TrustedForwarderProxyTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
Labels: area/vertx, triage/flaky-test, triage/backport-3.2, triage/backport

#38550 Upgrade checkout and java-setup actions to version v4
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.tpl.qute.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/github-action/base/.github/workflows/ci.tpl.qute.yml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleNoWrapperGithubAction/.github_workflows_ci.yml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleWrapperGithubAction/.github_workflows_ci.yml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_build.yml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_quarkus-snapshot.yaml
Labels: area/maven, triage/waiting-for-ci, area/platform, area/devtools, triage/flaky-test, triage/backport

#38560 VertxCurrentContextFactory: support multiple CDI contexts
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxCurrentContextFactory.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/CurrentContextFactory.java
Labels: area/arc, area/vertx, triage/waiting-for-ci, triage/flaky-test

#38596 Add missing entry in BOM for Hibernate Search outbox-polling relocation
  bom/application/pom.xml
Labels: area/hibernate-search, area/dependencies, triage/flaky-test, triage/backport

#38612 Fix the OIDC debug message format bug
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
Labels: area/oidc, triage/backport

#38611 Redis Client: add support for new configuration options
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/VertxRedisClientFactory.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisClientConfig.java
Labels: area/redis, triage/flaky-test, triage/backport

#38599 Bump Gradle version to 8.6
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools

#38442 Make sure the code flow access token is propagated during the authentication
  extensions/oidc-token-propagation-reactive/deployment/pom.xml
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/FrontendResource.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationWithSecurityIdentityAugmentorTest.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/RolesResource.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/resources/application.properties
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/AbstractOidcAuthenticationMechanism.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/testing, area/oidc, triage/backport

#38605 ArC: RequestContext - implement the activity check consistently
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/InjectableContext.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/request/optimized/RequestContextInstancesTest.java
Labels: area/arc

#38546 Add globbing pattern to cli-tooling.adoc
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport

#38070 Avoid executing OpenAPI build filters twice on build
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/CounterBuildtimeFilter.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiAnnotatedCounterBuildtimeFilterTestCase.java
Labels: area/smallrye, area/openapi, triage/waiting-for-ci, triage/flaky-test

#38586 Extend scan for CustomResources to full index, instead of simply application index
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: area/kubernetes

#38603 Introduce @ClientBasicAuth annotation
  .forbiddenapis/banned-signatures-common.txt
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-reactive/rest-client-reactive/deployment/pom.xml
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/DotNames.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/MicroProfileRestClientEnricher.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/BasicAuthTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/application-basic-auth.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/test-roles.properties
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/test-users.properties
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/ClientBasicAuth.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/BasicAuthUtil.java
Labels: release/noteworthy-feature, area/documentation, area/resteasy-reactive, triage/flaky-test

#38615 Updates to Infinispan 14.0.24.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/flaky-test

#38620 Set quarkus-oidc-token-propagation-reactive status to stable
  extensions/oidc-token-propagation-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/oidc, triage/backport

#38608 Allow TLS certificate reloading for the HTTP server
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerOptionsUtils.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/TlsCertificateReloadUtils.java
Labels: release/noteworthy-feature, area/documentation, area/security, area/vertx, triage/flaky-test

#38635 Add note about C2 compiler in dev-mode
  docs/src/main/asciidoc/dev-mode-differences.adoc
Labels: area/documentation

#38642 Adds config file overload for devservices in Infinispan
  docs/src/main/asciidoc/infinispan-dev-services.adoc
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/infinispan-client/deployment/src/test/java/io/quarkus/infinispan/test/CreateADefaultRemoteCacheManagerWithEmptyConfTest.java
  extensions/infinispan-client/deployment/src/test/java/io/quarkus/infinispan/test/OverrideContainerConfigOnDevServicesTest.java
  extensions/infinispan-client/deployment/src/test/resources/dev-services-adds-server-config.properties
  extensions/infinispan-client/deployment/src/test/resources/empty-application-infinispan-client.properties
  extensions/infinispan-client/deployment/src/test/resources/server-config-override.xml
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanDevServicesConfig.java
Labels: area/documentation, area/infinispan

#38638 Update activemq-artemis-broker container to 1.0.25
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/jms.adoc
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesBuildTimeConfig.java
  integration-tests/virtual-threads/jms-virtual-threads/src/main/resources/application.properties
Labels: area/documentation, area/smallrye, area/reactive-messaging

#38217 JAXB - Ignore @XmlTransient fields/methods when marking hierarchy for reflection
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/BookIBANField.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/BookWithParent.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/JaxbResource.java
  integration-tests/jaxb/src/test/java/io/quarkus/it/jaxb/JaxbIT.java
Labels: area/core, triage/waiting-for-ci, area/jaxb, triage/flaky-test

#38647 Increase binary size baseline for postgresql IT with Mandrel 23.0
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.0/image-metrics.properties
Labels: area/persistence, area/hibernate-orm

#38649 Use [[anchor]] format consistently
  docs/src/main/asciidoc/amqp-reference.adoc
  docs/src/main/asciidoc/azure-functions-http.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/container-image.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/dev-ui.adoc
  docs/src/main/asciidoc/extension-codestart.adoc
  docs/src/main/asciidoc/extension-registry-user.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/jms.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/kubernetes-client.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/quarkus-reactive-architecture.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/resteasy-client.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/scheduler-reference.adoc
  docs/src/main/asciidoc/scheduler.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-properties.adoc
  docs/src/main/asciidoc/security-testing.adoc
  docs/src/main/asciidoc/spring-security.adoc
  docs/src/main/asciidoc/vertx-reference.adoc
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation, area/docstyle

#38636 Update Vert.x to version 4.5.3
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/vertx, triage/waiting-for-ci, area/dependencies, triage/backport

#38524 Add Hibernate REST data codestart
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-rest-data-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-rest-data-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-rest-data-codestart/java/src/main/java/org/acme/MyEntity.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/hibernate-orm-rest-data-codestart/java/src/main/java/org/acme/MyEntityResource.tpl.qute.java
  extensions/panache/hibernate-orm-rest-data-panache/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/HibernateOrmRestDataCodestartIT.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartBuildIT.java
  integration-tests/devtools/src/test/resources/__snapshots__/HibernateOrmRestDataCodestartIT/testContent/src_main_java_ilove_quark_us_MyEntity.java
  integration-tests/devtools/src/test/resources/__snapshots__/HibernateOrmRestDataCodestartIT/testContent/src_main_java_ilove_quark_us_MyEntityResource.java
  integration-tests/devtools/src/test/resources/__snapshots__/HibernateOrmRestDataCodestartIT/testContent/src_main_resources_import.sql
Labels: area/panache, area/devtools, triage/flaky-test

#38644 Fix AppCDS generation when using podman
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
Labels: area/core, triage/flaky-test

#38610 Update SmallRye Config to 3.5.4
  bom/application/pom.xml
Labels: area/config, area/smallrye, triage/waiting-for-ci, area/dependencies, triage/backport

#38648 More documentation adjustments for new downstream tooling
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation, area/core, triage/flaky-test, triage/backport-3.2, triage/backport

#38655 Allow for multiple TestConfigProperty annotations on methods
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/TestConfigProperty.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/beans/MultiPropComponent.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/MultipleConfigPropertiesDeclaredOnMethodTest.java
Labels: area/testing, triage/backport

#38661 3.7.2 backports 2
  bom/application/pom.xml
  bom/dev-ui/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  docs/src/main/asciidoc/amqp-reference.adoc
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/azure-functions-http.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/container-image.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/dev-ui.adoc
  docs/src/main/asciidoc/extension-codestart.adoc
  docs/src/main/asciidoc/extension-registry-user.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/jms.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/kubernetes-client.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/quarkus-reactive-architecture.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/resteasy-client.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/scheduler-reference.adoc
  docs/src/main/asciidoc/scheduler.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-properties.adoc
  docs/src/main/asciidoc/security-testing.adoc
  docs/src/main/asciidoc/spring-security.adoc
  docs/src/main/asciidoc/vertx-reference.adoc
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalCollectionWrapper.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalCollectionWrapperJacksonSerializer.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalCollectionWrapperJsonbSerializer.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalEntityWrapper.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalEntityWrapperJacksonSerializer.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalEntityWrapperJsonbSerializer.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalService.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/HalWrapperResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/HalWrapperResourceTest.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesBuildTimeConfig.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/virtual-threads/jms-virtual-threads/src/main/resources/application.properties
  pom.xml
Labels: area/documentation, area/core, area/smallrye, area/reactive-messaging, area/oidc, area/dependencies, area/resteasy-reactive, area/docstyle, triage/backport

#38673 Fix OidcRequestFiler typo in security docs
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle

#38671 Redis Client: improve documentation for sentinel and cluster
  docs/src/main/asciidoc/redis-reference.adoc
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisClientConfig.java
Labels: area/documentation, area/redis

#38653 Enforce Dev UI charset to UTF-8
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/DevUIBuildTimeStaticHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/MvnpmHandler.java
Labels: area/vertx, triage/flaky-test, triage/backport

#38637 [3.6] Update to Vertx 4.4.8
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/vertx, area/dependencies

#38670 Make ClientLogger beans unremovable
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/MyClientLogger.java
Labels: area/documentation, area/resteasy-reactive, triage/backport

#38675 Correct example generated yaml in extension metadata docs
  docs/src/main/asciidoc/extension-metadata.adoc
Labels: area/documentation

#38680 Log how Keycloak devservice maps resources
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/oidc, triage/backport

#38651 Update SmallRye Commons to 2.3.0
  bom/application/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/devtools, triage/flaky-test

#38656 Upgrade the Mutiny Vert.x bindings to 3.9.0
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/smallrye, area/vertx, triage/waiting-for-ci, area/dependencies, area/mutiny, triage/flaky-test, triage/backport

#33173 Quarkus Gradle Plugin: tests with encrypted configuration
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/CryptoConfigTest.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/EffectiveConfigTest.java
  devtools/gradle/gradle-application-plugin/src/test/resources/io/quarkus/gradle/tasks/crypto/main/build.gradle.kts
  devtools/gradle/gradle-application-plugin/src/test/resources/io/quarkus/gradle/tasks/crypto/main/settings.gradle.kts
  devtools/gradle/gradle-application-plugin/src/test/resources/io/quarkus/gradle/tasks/crypto/main/src/main/java/org/acme/Foo.java
  devtools/gradle/gradle-application-plugin/src/test/resources/io/quarkus/gradle/tasks/crypto/main/src/main/resources/application.properties
Labels: area/gradle, area/devtools

#38681 Upgrade to Hibernate ORM 6.4.4.Final / bytebuddy 1.14.11
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, triage/flaky-test, triage/backport

#38685 Implement TLS Certificate Reload for the Management Interface
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/TlsCertificateReloadUtils.java
Labels: area/vertx

#38686 Make GraphQL Metrics End when Exceptional
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
Labels: area/smallrye, area/graphql

#38694 OpenAPI: remove check that avoids running auto-security at build
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedWithScopesOIDCTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedWithScopesTestBase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedWithScopesTestCase.java
Labels: area/smallrye, area/openapi

#38645 Escape column names and paths in order by clause with backticks
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/JpaOperationsSortTest.java
  extensions/panache/panache-common/runtime/src/main/java/io/quarkus/panache/common/Sort.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java
Labels: area/panache, triage/flaky-test

#38477 Add disabled workflow to deploy snapshots in Quarkiverse extensions
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/deploy-snapshots.tpl.qute.yml.disabled
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/dir-tree.snapshot
Labels: area/maven, area/platform, area/devtools, triage/flaky-test

#38705 Kafka Streams fire event after created and before scheduling the start
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java
  integration-tests/kafka-streams/src/main/java/io/quarkus/it/kafka/streams/KafkaStreamsEventCounter.java
Labels: area/kafka-streams

#38646 [3.2] Only change the behavior for dots in anchors in Quarkus itself
  build-parent/pom.xml
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocBuilder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocWriter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocFormatter.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/MavenConfigDocBuilder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/SummaryTableDocFormatter.java
  independent-projects/parent/pom.xml
Labels: area/core, triage/waiting-for-ci, area/dependencies

#38713 Only configure shared network for Elasticsearch/OpenSearch containers where necessary
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
Labels: area/elasticsearch, triage/backport

#38679 Add convenience methods mirroring ReflectiveClassBuildItem factory methods
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java
Labels: area/panache, area/core, area/resteasy, area/smallrye, area/amazon-lambda, area/openapi, area/narayana, area/kubernetes, area/jaxb, area/funqy, area/graphql, area/resteasy-reactive, area/websockets, area/picocli, area/jackson, triage/flaky-test

#38079 Make OidcTestSecurityIdentityAugmentor faster by making privateKey's generation final and static
  test-framework/security-oidc/src/main/java/io/quarkus/test/security/oidc/OidcTestSecurityIdentityAugmentor.java
Labels: area/testing

#38712 Bump Smallrye RM from 4.16.1 to 4.16.2
  bom/application/pom.xml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, triage/backport

#38709 Don't provide empty paths when using a root prefix
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ResourceLocatorTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorBaseResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorSubresource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorSubresource2.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/flaky-test, triage/backport

#38728 Encode Kafka messages with UTF8
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/devui/KafkaTopicClient.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/devui/model/converter/KafkaModelConverter.java
Labels: area/kafka, triage/flaky-test

#38701 Fix boolean values getters for RegisterForReflection annotations
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#38640 [3.2] - Update to Vert.x 4.4.8
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/vertx, area/dependencies

#38724 [3.2] Additional backports for downstream documentation
  core/processor/src/main/java/io/quarkus/annotation/processor/Constants.java
  docs/src/main/asciidoc/amqp-reference.adoc
  docs/src/main/asciidoc/azure-functions-http.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/container-image.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/extension-codestart.adoc
  docs/src/main/asciidoc/extension-registry-user.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/jms.adoc
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/kubernetes-client.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/quarkus-reactive-architecture.adoc
  docs/src/main/asciidoc/rabbitmq-reference.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/rest-client.adoc
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/scheduler-reference.adoc
  docs/src/main/asciidoc/scheduler.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-properties.adoc
  docs/src/main/asciidoc/security-testing.adoc
  docs/src/main/asciidoc/spring-security.adoc
  docs/src/main/asciidoc/vertx-reference.adoc
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation, area/core, area/infra, area/docstyle

#38714 Don't assume that multipart part without filename is always text
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartBinaryWithoutFilenameTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/resources/image.png
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultiPartParserDefinition.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartSupport.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/flaky-test, triage/backport

#38622 Refactor RESTEasy Classic default JAX-RS security to make endpoint detection more robust
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyBuiltinsProcessor.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/EagerSecurityFilter.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/StandardSecurityCheckInterceptor.java
Labels: area/security, area/resteasy, triage/flaky-test

#38541 Support OIDC Client JWT Bearer authentication
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/AbstractTokensProducer.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/TokensHelper.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/JwtBearerAuthenticationOidcClient.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/OidcClientRequestCustomFilter.java
  integration-tests/oidc-client-wiremock/src/main/resources/application.properties
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/docstyle

#38723 3.7.3 backports 1
  .mvn/extensions.xml
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle/libs.versions.toml
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/redis-reference.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  extensions/jackson/runtime/pom.xml
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/VertxHybridPoolObjectMapperCustomizer.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/devui/KafkaTopicClient.java
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/devui/model/converter/KafkaModelConverter.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/redis-cache/deployment/src/test/java/io/quarkus/cache/redis/deployment/RedisCacheWithOptimisticLockingTest.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/config/RedisClientConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ResourceLocatorTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorBaseResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorSubresource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorSubresource2.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedWithScopesOIDCTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedWithScopesTestBase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityRolesAllowedWithScopesTestCase.java
  extensions/vertx-graphql/deployment/src/main/java/io/quarkus/vertx/graphql/deployment/VertxGraphqlProcessor.java
  extensions/vertx-graphql/runtime/src/main/java/io/quarkus/vertx/graphql/runtime/VertxGraphqlRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/DevUIBuildTimeStaticHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/MvnpmHandler.java
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/deploy-snapshots.tpl.qute.yml.disabled
  independent-projects/tools/pom.xml
  integration-tests/kafka-streams/src/main/java/io/quarkus/it/kafka/streams/KafkaStreamsEventCounter.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/dir-tree.snapshot
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/AbstractEndUserTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/EndUserEnabledTest.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/ClientCallingResource.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/MyClientLogger.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/TestConfigProperty.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/beans/MultiPropComponent.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/MultipleConfigPropertiesDeclaredOnMethodTest.java
  test-framework/security-oidc/src/main/java/io/quarkus/test/security/oidc/OidcTestSecurityIdentityAugmentor.java
Labels: area/documentation, area/gradle, area/maven, area/smallrye, area/infra, area/vertx, area/openapi, area/testing, area/kafka-streams, area/oidc, area/platform, area/kafka, area/dependencies, area/devtools, area/redis, area/elasticsearch, area/graphql, area/resteasy-reactive, area/jackson, area/docstyle

#38745 Add test for websocket ping/pong
  extensions/websockets/server/deployment/src/test/java/io/quarkus/websockets/test/WebsocketRootPathTestCase.java
Labels: area/flyway, area/websockets

#38619 Pass extra authentication params in the OIDC DevUI code flow redirect URL
  docs/src/main/asciidoc/images/auth0-devui-jwt-accesstoken.png
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  extensions/oidc/deployment/src/main/resources/dev-ui/qwc-oidc-provider.js
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfigPropertySupplier.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevUiRuntimePropertiesDTO.java
Labels: area/documentation, area/oidc, triage/backport

#38749 ORM/HR+Panache: Remove FETCH from count queries
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/CommonPanacheQueryImpl.java
  extensions/panache/panache-hibernate-common/runtime/pom.xml
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/CountParserVisitor.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
  extensions/panache/panache-hibernate-common/runtime/src/test/java/io/quarkus/panache/hibernate/common/runtime/CountTest.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/TestEndpoint.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/PanacheFunctionalityTest.java
Labels: area/panache, triage/flaky-test

#38755 Log when a RestEasy Reactive client close method is called
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
Labels: area/resteasy-reactive, triage/backport-3.2, triage/backport

#38748 Sanitize app.dekorate.io/vcs-url kubernetes annotation
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
Labels: area/kubernetes, triage/backport-3.2, triage/backport

#38756 Bump Keycloak version to 23.0.6
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/documentation, area/oidc, area/dependencies, triage/flaky-test, triage/backport

#38738 Make accept header check in validation case insensitive
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/locale/AbstractLocaleResolver.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/locale/ResteasyReactiveLocaleResolver.java
  integration-tests/hibernate-validator-resteasy-reactive/src/main/java/io/quarkus/it/hibernate/validator/TextResource.java
  integration-tests/hibernate-validator-resteasy-reactive/src/main/resources/application.properties
  integration-tests/hibernate-validator-resteasy-reactive/src/test/java/io/quarkus/it/hibernate/validator/TextResourceTest.java
Labels: area/hibernate-validator

#38733 Allow Java 11 as LTS for older streams and other platforms
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/JavaVersion.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/JavaVersionTest.java
Labels: area/platform, area/devtools, triage/backport

#38607 Gradle: fix IllegalStateException when resolving project deps
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/ToolingUtils.java
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/included-build/README.txt
  integration-tests/gradle/src/main/resources/included-build/build.gradle
  integration-tests/gradle/src/main/resources/included-build/depend-on-included-build/build.gradle
  integration-tests/gradle/src/main/resources/included-build/gradle.properties
  integration-tests/gradle/src/main/resources/included-build/included/build.gradle
  integration-tests/gradle/src/main/resources/included-build/included/nested/build.gradle
  integration-tests/gradle/src/main/resources/included-build/included/nested/included-quarkus/build.gradle
  integration-tests/gradle/src/main/resources/included-build/included/nested/settings.gradle
  integration-tests/gradle/src/main/resources/included-build/included/settings.gradle
  integration-tests/gradle/src/main/resources/included-build/settings.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/IncludedQuarkusBuildTest.java
Labels: area/gradle, area/devtools, triage/backport

#37911 Store since JavaDoc tag in the configuration metadata, so that Quarkiverse projects can render it in their documentation if they like
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemFinder.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocKey.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/JavaDocParser.java
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/MavenConfigDocBuilder.java
  core/processor/src/test/java/io/quarkus/annotation/processor/generate_doc/JavaDocConfigDescriptionParserTest.java
Labels: area/core, triage/flaky-test, triage/backport

#38760 Set COMPILE_ONLY flag on relevant dependencies that appear on DEPLOYMENT_CP and RUNTIME_CP
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ProvidedExtensionDepsTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/ProvidedScopeDepsAreNotCollectedTestCase.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/compile-only-dependency-flags/componly/build.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/CompileOnlyDependencyFlagsTest.java
Labels: area/gradle, area/core, area/devtools, triage/backport

#38775 Use the right MongoDB ClientSession interface
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/Panache.kt
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/Panache.java
Labels: area/panache, area/mongodb, triage/backport

#38779 Fix OidcEndpoint annotation processing
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcDiscoveryRequestCustomizer.java
Labels: area/oidc, triage/backport

#38757 Upgrade to Hibernate Search 7.1.0.CR1, bump Elasticsearch/OpenSearch version for tests/devservices to 8.12/2.11
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-start-offline.properties
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchSmokeTest.java
  integration-tests/elasticsearch-java-client/pom.xml
  integration-tests/elasticsearch-rest-client/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-outbox-polling/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/mapping/MappingTestResource.java
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesDisabledImplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesConfiguredExplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesDisabledImplicitlyTest.java
  integration-tests/logging-gelf/pom.xml
Labels: area/documentation, area/logging, area/hibernate-search, area/dependencies, area/elasticsearch, triage/flaky-test

#38735 Polish datasource config structure to get better generated documentation
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourcesJdbcBuildTimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourcesJdbcRuntimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourcesBuildTimeConfig.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DataSourcesRuntimeConfig.java
Labels: area/agroal

#38751 Updated MongoDB/Panache parser to latest ORM parser
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/binder/MongoParserVisitor.java
  extensions/panache/mongodb-panache-common/runtime/src/test/java/io/quarkus/mongodb/panache/common/runtime/MongoOperationsTest.java
  extensions/panache/panacheql/src/main/antlr4/io/quarkus/panacheql/internal/HqlLexer.g4
  extensions/panache/panacheql/src/main/antlr4/io/quarkus/panacheql/internal/HqlParser.g4
  extensions/panache/panacheql/src/test/java/io/quarkus/panacheql/LexerTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongoTestResources.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheMockingTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheResourceTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheMockingTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheResourceTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/transaction/ReactiveMongodbPanacheTransactionTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/record/MongodbPanacheRecordTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/transaction/MongodbPanacheTransactionTest.java
Labels: area/panache, area/mongodb

#38784 Fix guide URL in RESTEasy Client extension
  extensions/resteasy-classic/resteasy-client-jackson/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-classic/resteasy-client-jaxb/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-classic/resteasy-client-jsonb/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-classic/resteasy-client-mutiny/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-classic/resteasy-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/resteasy, triage/backport

#38731 Switch Hibernate ORM/Reactive/Envers extensions to @ConfigMapping
  core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemFinder.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversDisabledProcessor.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversEnabled.java
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversProcessor.java
  extensions/hibernate-envers/runtime/src/main/java/io/quarkus/hibernate/envers/HibernateEnversBuildTimeConfig.java
  extensions/hibernate-envers/runtime/src/main/java/io/quarkus/hibernate/envers/HibernateEnversBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-envers/runtime/src/main/java/io/quarkus/hibernate/envers/HibernateEnversRecorder.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateConfigUtil.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmEnabled.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevServicesProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/metrics/HibernateOrmMetricsProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmDisabledRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveEnabled.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  integration-tests/jpa-postgresql-withxml/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/jpa-postgresql-withxml/src/test/resources/image-metrics/23.1/image-metrics.properties
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.0/image-metrics.properties
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.1/image-metrics.properties
Labels: area/persistence, area/core, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#38764 ORM/HR/Panache: support `with` and `where` queries
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/package-info.java
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/package-info.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/CountParserVisitor.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
  extensions/panache/panache-hibernate-common/runtime/src/test/java/io/quarkus/panache/hibernate/common/runtime/CountTest.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/TestEndpoint.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java
  integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/TestEndpoint.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/PanacheFunctionalityTest.java
Labels: area/documentation, area/panache, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#38771 Adds an implementation note about @VirtualThreadUnit limitations
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/VirtualThreadUnit.java
Labels: kind/enhancement, triage/waiting-for-ci, area/virtual-threads

#38792 Make sure /..;/ isn't resolved as /
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/proxy/DotDotSemicolonSegmentTest.java
Labels: area/vertx

#38791 Scheduler: inheritance of metadata
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduled.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/NonStaticScheduledAbstractClassTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/NonStaticScheduledInterfaceTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/staticmethod/ScheduledStaticMethodTest.java
Labels: area/documentation, area/scheduler

#38707 MicroProfile Telemetry compatibility
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/TracerProducer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/resteasy/OpenTelemetryClassicThreadContext.java
  extensions/opentelemetry/runtime/src/main/resources/META-INF/services/org.jboss.resteasy.spi.concurrent.ThreadContext
Labels: area/tracing

#38789 Allow setting the user agent programmatically
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/UserAgentProgrammaticTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/QuarkusRestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
Labels: area/resteasy-reactive

#38800 Don't warn about @NotBody use in @GET methods in REST Client
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/QuarkusClientEndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/flaky-test, triage/backport

#38794 KafkaDevServicesDevModeTestCase instability fix : delete topic at app startup
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/dev/KafkaDevServicesDevModeTestCase.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/dev/TopicCleaner.java
Labels: area/smallrye, area/reactive-messaging

#38793 Update ibmcom/db2 image version
  build-parent/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/dependencies

#38785 ArC: fix interception when some methods return void
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/VoidMethodDecoratorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/interceptor/VoidMethodInterceptorAndDecoratorTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport-3.2, triage/backport

#38801 Enhance RestMulti, configurable demand + distinct objects
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/Demands.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/streams/StreamTestCase.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/RestMulti.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java
Labels: area/documentation, area/resteasy-reactive, triage/flaky-test

#38796 ArC: improve validation of interceptor method signatures
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Beans.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorPlacement.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/illegal/InterceptorReturningVoidTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/illegal/InterceptorWithoutParameterTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/InvalidPostConstructTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/InvalidPostConstructWithParametersTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/validation/InvalidPreDestroyTest.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test, triage/backport

#37622 Enable caching for quarkus:build and declare dependencies as inputs
  .github/workflows/ci-actions-incremental.yml
  .mvn/extensions.xml
  devtools/maven/src/main/java/io/quarkus/maven/TrackConfigChangesMojo.java
  docs/src/main/asciidoc/config-reference.adoc
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/maven/dependency/ArtifactCoords.java
  independent-projects/parent/pom.xml
  integration-tests/main/pom.xml
  integration-tests/pom.xml
Labels: area/documentation, area/maven, area/devtools, area/infra-automation, triage/flaky-test

#38810 Expand types which are considered text in multipart handling
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartTextWithoutFilenameTest.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/MediaTypeHelper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/EncodedMediaType.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultiPartParserDefinition.java
Labels: area/resteasy-reactive, triage/flaky-test, triage/backport

#38790 Use docker exec instead of docker cp to create run script for Kafka native DevService
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaNativeContainer.java
Labels: area/kafka, triage/flaky-test

#38819 Add response text to the OIDC bootstrap log errors
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
Labels: area/oidc, triage/backport

#38818 Allow `RunAndCheckMojoTestBase` subclasses to override how much memory extension tests are allowed
  test-framework/maven/src/main/java/io/quarkus/maven/it/RunAndCheckMojoTestBase.java
Labels: area/maven, area/testing, triage/flaky-test, triage/backport

#38821 Configure SISU bean filtering for the bootstrap Maven resolver
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
Labels: area/devtools, triage/backport

#38835 Use consistent versions of the maven-plugin-plugin
  build-parent/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/parent/pom.xml
Labels: area/dependencies, area/devtools

#38836 Fix Keycloak Admin Client Reactive Jackson reader provider priority so that the client can work when the JSONB REST client extension is present
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveClientProvider.java
Labels: area/keycloak, triage/backport

#38832 Perform security checkes on inherited endpoints before payload deserialization in the RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/DenyAllJaxRsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/UnsecuredParentResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/UnsecuredResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/UnsecuredResourceInterface.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityContext.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerResourceMethod.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ResteasyReactiveResourceInfo.java
Labels: area/resteasy-reactive, triage/flaky-test

#38844 Fix copy/paste typo
  docs/src/main/asciidoc/hibernate-orm.adoc
Labels: area/documentation

#38797 Revive Podman Test Build workflow
  .github/workflows/podman-build.yml
Labels: area/infra-automation

#38849 Ensure that generated project GAV is always set
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
Labels: area/maven, triage/waiting-for-ci, area/devtools, triage/backport

#38852 Add configuration option for resuming on 404
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/ResumeOn404BuildItemTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/ResumeOn404ConfigTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#38855 Make registration of OAuthBearerValidatorCallbackHandler conditional
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/kafka, area/native-image

#38767 Fail early if OIDC client password grant is misconfigured
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcClientPasswordGrantSecretIsMissingTestCase.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
Labels: area/oidc, triage/backport

#38834 More build cache work
  .mvn/extensions.xml
  .mvn/gradle-enterprise.xml
  build-parent/pom.xml
  core/deployment/pom.xml
  extensions/panache/panache-mock/pom.xml
  extensions/pom.xml
  extensions/security/test-utils/pom.xml
  independent-projects/enforcer-rules/src/main/resources/enforcer-rules/quarkus-banned-dependencies-okhttp.xml
  independent-projects/enforcer-rules/src/main/resources/enforcer-rules/quarkus-banned-dependencies-test.xml
  independent-projects/parent/pom.xml
  integration-tests/kubernetes-client/pom.xml
  integration-tests/openshift-client/pom.xml
  integration-tests/pom.xml
  integration-tests/test-extension/extension-that-defines-junit-test-extensions/pom.xml
  integration-tests/test-extension/extension/pom.xml
  integration-tests/virtual-threads/pom.xml
  tcks/pom.xml
  test-framework/kubernetes-client/pom.xml
  test-framework/openshift-client/pom.xml
  test-framework/pom.xml
Labels: area/panache, area/core, area/security, area/testing, area/kubernetes, area/dependencies

#38859 Fix warning when launching dev mode specifying quarkus-maven-plugin GAV on the command line
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, triage/waiting-for-ci, area/devtools, triage/backport

#38816 Propagate Vert.x context on all ExecutorService methods for VirtualThreadExecutor
  extensions/virtual-threads/runtime/src/main/java/io/quarkus/virtual/threads/ContextPreservingExecutorService.java
  extensions/virtual-threads/runtime/src/test/java/io/quarkus/virtual/threads/VirtualThreadExecutorSupplierTest.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/main/java/io/quarkus/virtual/rr/FilteredResource.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/main/java/io/quarkus/virtual/rr/Filters.java
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test, triage/backport

#38862 Update OidcEndpoint annotation to support multiple values
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcEndpoint.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcDiscoveryJwksRequestCustomizer.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/WiremockTestResource.java
Labels: area/oidc

#38848 Use new code block component for Dev UI Code displays
  bom/dev-ui/pom.xml
  docs/src/main/asciidoc/dev-ui.adoc
  extensions/grpc/deployment/src/main/resources/dev-ui/qwc-grpc-services.js
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate-orm-persistence-units.js
  extensions/kafka-client/deployment/src/main/resources/dev-ui/qwc-kafka-messages.js
  extensions/kafka-streams/deployment/src/main/resources/dev-ui/qwc-kafka-streams-topology.js
  extensions/kubernetes/vanilla/deployment/src/main/resources/dev-ui/qwc-kubernetes-manifest.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-code-block.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration-editor.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-data-raw-page.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-dev-services.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-external-page.js
Labels: area/documentation, area/persistence, area/vertx, area/hibernate-orm, area/kafka-streams, area/kubernetes, area/kafka, area/dependencies, area/grpc

#38688 Making sure deployment modules excluded in POM files aren't pulled in by the Gradle plugin
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionPlugin.java
  devtools/gradle/gradle-model/build.gradle.kts
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  devtools/gradle/gradle/libs.versions.toml
  docs/src/main/asciidoc/writing-extensions.adoc
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/build.gradle
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/gradle.properties
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/settings.gradle
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/src/main/java/org/acme/GreetingResource.java
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/src/main/java/org/acme/MyEntity.java
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/src/main/resources/META-INF/resources/index.html
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/src/native-test/java/org/acme/GreetingResourceIT.java
  integration-tests/gradle/src/main/resources/maven-exclusion-in-extension-dependency/src/test/java/org/acme/GreetingResourceTest.java
  integration-tests/gradle/src/main/resources/multi-composite-build-extensions-project/extensions/another-example-extension/deployment/build.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/MavenExclusionInExtensionDependencyDevModeTest.java
Labels: area/documentation, area/gradle, area/devtools, triage/backport

#38842 Do not require IdentityProviders for HTTP Authentication mechanisms without credential types and fail if the required provider is missing
  docs/src/main/asciidoc/security-customization.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/DisabledProactiveSecIdentityProviderTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
Labels: area/documentation, area/security, area/vertx, triage/flaky-test

#38868 Add config flag to disable jacoco
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/JacocoConfig.java
Labels: area/testing, triage/backport

#38871 Upgrade codeblock dev ui lib to 1.0.12
  bom/dev-ui/pom.xml
Labels: area/dependencies, area/dev-ui, triage/flaky-test

#38820 Add tests to the TLS certificate reload
  bom/application/pom.xml
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/management-interface-reference.adoc
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/certReload/MainHttpServerTlsCertificateReloadTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/certReload/MainHttpServerTlsPKCS12CertificateReloadTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/certReload/ManagementHttpServerTlsCertificateReloadTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/TlsCertificateReloader.java
Labels: area/documentation, area/vertx, area/dependencies, triage/flaky-test

#38843 Check the code flow access token after ID token
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/AbstractJsonObjectResponse.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTokenCredentialProducer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowTokenIntrospectionResource.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/oidc, triage/backport

#38867 Bump to DB2 11.5.9.0
  build-parent/pom.xml
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
Labels: area/persistence, area/dependencies, triage/flaky-test

#38882 Quartz - prevent memory leak when Job instance is a @Dependent bean
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/DependentBeanJobTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/CdiAwareJob.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/scheduler, triage/waiting-for-ci, triage/backport

#38761 Speedup ContextInstances if there are null instances
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ContextInstancesGenerator.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#38885 Notify manovotn about scheduler-related issues
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#38863 Use new Vert.x gRPC server for code.quarkus.io
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/grpc-codestart/base/src/main/resources/application.tpl.qute.yml
Labels: area/devtools, triage/flaky-test

#38865 Update commons-compress version to mitigate CVE-2024-25710
  bom/application/pom.xml
  independent-projects/tools/pom.xml
Labels: triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, triage/flaky-test, triage/backport-2.13, triage/backport-3.2, triage/backport

#38890 Log resolved OIDC tenant id and how the bearer token is found
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
Labels: area/oidc, triage/backport

#38822 Add 'day' support for scheduler every and delayed
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduled.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/util/SchedulerUtils.java
  extensions/scheduler/common/src/test/java/io/quarkus/scheduler/common/runtime/util/SchedulerUtilsTest.java
Labels: area/documentation, area/scheduler, triage/waiting-for-ci

#38891 Reduce message log level
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
Labels: area/tracing

#38888 SmallRye Health: terminate request context properly
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/SmallRyeHealthHandlerBase.java
Labels: area/smallrye, area/health, triage/flaky-test, triage/backport

#38886 Ignore `ValidationSchema` that results in registering all models
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
Labels: area/kubernetes, triage/backport

#38897 Attempt to fix flaky DependentBeanJobTest
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/DependentBeanJobTest.java
Labels: area/scheduler, triage/backport

#38896 Remove checks that Elasticsearch dev service distribution/version matches Hibernate Search configuration
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
Labels: area/elasticsearch

#38915 Revert "Use new Vert.x gRPC server for code.quarkus.io"
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/grpc-codestart/base/src/main/resources/application.tpl.qute.yml
Labels: area/devtools

#38900 Bump Smallrye Reactive Messaging from 4.16.2 to 4.17.0
  bom/application/pom.xml
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
Labels: area/smallrye, area/reactive-messaging, area/dependencies, triage/flaky-test

#38857 [3.2] Perform security checks on inherited endpoints before payload deserialization in the RESTEasy Reactive
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/DenyAllJaxRsTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/UnsecuredParentResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/UnsecuredResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/UnsecuredResourceInterface.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/ServerResourceMethod.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ResteasyReactiveResourceInfo.java
Labels: area/resteasy-reactive

#38841 Correct how we process injection point transformers for SR CP
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientProcessor.java
  extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java
  extensions/smallrye-context-propagation/deployment/src/test/java/io/quarkus/smallrye/context/deployment/test/cdi/ConfiguredAndSharedBeansTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointModifier.java
Labels: area/arc, area/smallrye, triage/waiting-for-ci, area/grpc, area/context-propagation, triage/flaky-test

#38932 Fix NPE when OIDC token must be verified with the chain with OIDC server returning no JWKs
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DynamicVerificationKeyResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/AzureAccessTokenCustomizer.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowTokenIntrospectionResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowUserInfoResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/TestUtils.java
Labels: area/oidc, triage/backport
