Repository quarkusio/quarkus, pull requests merged in 2024-11, with the labels that each got.

#44248 Ignore client interfaces when detecting duplicate endpoints
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/duplicate/DuplicateResourceAndClientTest.java
Labels: area/rest

#44245 Delete disabled job
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/deploy-snapshots.tpl.qute.yml.disabled
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/dir-tree.snapshot
Labels: area/maven, area/platform, area/devtools, triage/flaky-test, triage/backport

#44244 Bump `quarkiverse-parent` to 18
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
Labels: area/maven, area/platform, area/devtools, triage/backport

#44237 Properly implement priority of ContainerResponseFilter
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/HasPriority.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/model/ResourceInterceptor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeInterceptorDeployment.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/MultipleResponseFiltersWithPrioritiesTest.java
Labels: triage/flaky-test, triage/backport

#44251 chore: add missing backtick
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusTask.java
Labels: area/gradle, area/devtools

#44232 Quartz: use a more reasonable default for quarkus.quartz.thread-count
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRuntimeConfig.java
Labels: area/scheduler

#44188 Use SelectionQuery#getResultCount() in Panache entity count operations
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/AbstractJpaOperations.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/AbstractJpaOperations.java
  extensions/panache/panache-hibernate-common/runtime/src/main/java/io/quarkus/panache/hibernate/common/runtime/PanacheJpaUtil.java
Labels: area/panache

#44277 Dev UI Open in IDE make sure lineNumber is in quotes
  docs/src/main/asciidoc/dev-ui.adoc
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-beans.js
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-observers.js
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-removed-components.js
  extensions/grpc/deployment/src/main/resources/dev-ui/qwc-grpc-services.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/ide/IdeProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-continuous-testing.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-server-log.js
Labels: area/documentation, area/arc, area/vertx, triage/waiting-for-ci, area/grpc

#44276 Add config option for OpenAPI Auto Operation
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/filter/OperationFilter.java
Labels: area/smallrye, area/openapi

#44230 Scheduler: throw UnsupportedOperationException if appropriate
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/DisabledSchedulerTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduler.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/BaseScheduler.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/Events.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/DisabledSchedulerTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/CompositeScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler, triage/flaky-test

#43846 Add annotation to allow using custom CDI bean methods as permission checkers
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AbstractPermissionsAllowedTestCase.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/BeanParamPermissionChecker.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/BeanParamPermissionIdentityAugmentor.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/LazyAuthPermissionsAllowedTestCase.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/OtherBeanParamPermission.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/PermissionCheckers.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/PermissionCheckersResource.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/PermissionsAllowedBeanParamTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/ProactiveAuthPermissionsAllowedTestCase.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/PermissionSecurityChecks.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/PermissionSecurityChecksBuildItem.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/PermissionsAllowedNestedParamsTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/AbstractNthMethodArgChecker.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/CheckerNotCdiBeanValidationFailureTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/CombinePermissionCheckerWithPossessedPermissionTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/MultipleCheckersForSamePermissionValidationFailureTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/NoArgsPermissionCheckerValidationFailureTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionChecker1stMethodArg.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionChecker2ndMethodArg.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionChecker3rdMethodArg.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionChecker4thMethodArg.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionChecker5thMethodArg.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionChecker6thMethodArg.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionChecker7thMethodArg.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionCheckerAssignabilityTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionCheckerFourSecuredMethodArgs.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionCheckerInheritanceTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionCheckerMethodArgsTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionCheckerOneSecuredMethodArg.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionCheckerOnlySecurityIdentity.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionCheckerThreeSecuredMethodArgs.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/PermissionCheckerTwoSecuredMethodArgs.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/ReactivePermissionCheckerTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/SecurityIdentityOnlyPermissionChecker.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/SecurityIdentityOnlyPermissionCheckerTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/UnknownCheckerParamValidationFailureTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/permissionsallowed/checker/UnusedPermissionCheckerValidationFailureTest.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusPermission.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusPermissionSecurityIdentityAugmentor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/check/PermissionSecurityCheck.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/AuthData.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/IdentityMock.java
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/SecurityTestUtils.java
  integration-tests/elytron-security-jdbc/pom.xml
  integration-tests/elytron-security-jdbc/src/main/java/io/quarkus/elytron/security/jdbc/it/ElytronSecurityJdbcResource.java
  integration-tests/elytron-security-jdbc/src/main/java/io/quarkus/elytron/security/jdbc/it/JdbcPermissionChecker.java
  integration-tests/elytron-security-jdbc/src/test/java/io/quarkus/elytron/security/jdbc/it/ElytronSecurityJdbcTest.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/JwtClaimPermissionChecker.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: release/noteworthy-feature, area/documentation, area/core, area/security, area/dependencies, area/rest, area/docstyle

#44294 Fixing the badly ended conditionals
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle, triage/backport-3.15

#44199 Bump smallrye-open-api to 4.0.1; Avoid Windows JAR locking
  bom/application/pom.xml
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/smallrye, area/openapi, area/dependencies, triage/flaky-test

#44279 Limit `MATCHING_RESOURCES` TestResources to the test that declares them
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/testresources/SharedResource.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/testresources/SomeResource1.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/testresources/SomeResource2.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/testresources/WithResourcesPoliciesFirstTest.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/testresources/WithResourcesPoliciesSecondTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/common/src/test/java/io/quarkus/test/common/TestResourceManagerReloadTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractTestWithCallbacksExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestExtensionState.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtensionState.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/TestResourceUtil.java
Labels: area/testing, triage/backport

#44298 Qute: fix rendered=false if a fragment includes nested fragment
  independent-projects/qute/core/src/main/java/io/quarkus/qute/FragmentSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/FragmentTest.java
Labels: triage/waiting-for-ci, area/qute, triage/flaky-test, triage/backport-3.15, triage/backport

#44000 Add Native Image Native Memory Tracking (NMT) option and update docs
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, area/core, triage/flaky-test

#44183 Properly apply the update recipes in version order
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport-3.15, triage/backport

#44249 Polish MongoClients
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClients.java
Labels: area/mongodb

#44287 Add details about how to save state across live reloads
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, area/smallrye

#44309 Avoid deserializing null nodes in reflection free Jackson serialization
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonDeserializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
Labels: area/rest, triage/flaky-test, triage/backport

#44167 An option to resolve only the runtime part of the ApplicationModel
  devtools/maven/src/main/java/io/quarkus/maven/DependencySbomMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/DependencyTreeMojo.java
  devtools/maven/src/test/java/io/quarkus/maven/ConditionalDependencyTreeMojoRuntimeOnlyTest.java
  devtools/maven/src/test/java/io/quarkus/maven/DependencyTreeMojoTestBase.java
  devtools/maven/src/test/resources/app-with-conditional-deps-1.jar.prod.rt
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/RuntimeOnlyApplicationModelTestCase.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/IncubatingApplicationModelResolver.java
Labels: area/maven, area/devtools

#44317 Avoid duplicated field serialization in reflection free Jackson serializers
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonSerializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/StateRecord.java
Labels: area/rest, triage/backport-3.15, triage/backport

#44306 Replace deprecated methods and classes in Quarkus Security and tiny bit of refactoring
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/AdditionalDenyingUnannotatedTransformer.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/AdditionalRolesAllowedTransformer.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/DenyUnannotatedPredicate.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/DenyingUnannotatedTransformer.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/AnonymousIdentityProvider.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/IdentityProviderManagerCreator.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusIdentityProviderManagerImpl.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusSecurityIdentity.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/AdditionalSecuredClassesBuildItem.java
Labels: area/security, triage/flaky-test

#44270 Support Keycloak Dev Services for standalone OIDC Client Registration extension
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakAdminPageBuildItem.java
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfigBuildItem.java
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfigurator.java
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesRequiredBuildItem.java
  extensions/oidc-client-registration/deployment/pom.xml
  extensions/oidc-client-registration/deployment/src/main/java/io/quarkus/oidc/client/registration/deployment/devservices/keycloak/KeycloakDevServiceRequiredBuildStep.java
  extensions/oidc-client-registration/deployment/src/test/java/io/quarkus/oidc/client/registration/OidcClientRegistrationKeycloakDevServiceTest.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationRecorder.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/devservices/keycloak/KeycloakDevServiceRequiredBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServiceRequiredBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevUIProcessor.java
Labels: area/oidc

#44321 Use Java 21 by default in the Deploying to Google Cloud guide
  docs/src/main/asciidoc/deploying-to-google-cloud.adoc
Labels: area/documentation, triage/backport

#44322 Explain in MongoDB docs that records are supported
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/mongodb.adoc
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/package-info.java
Labels: area/documentation, area/panache, area/mongodb

#44318 ClientJacksonMessageBodyReader should not throw BAD_REQUEST
  extensions/resteasy-reactive/rest-client-jackson/runtime/src/main/java/io/quarkus/rest/client/reactive/jackson/runtime/serialisers/ClientJacksonMessageBodyReader.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/ClientWithCustomObjectMapperTest.java
Labels: release/breaking-change, area/rest

#44140 Migrate OIDC, OIDC client and OIDC Client Registration extensions to @ConfigMapping
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakPolicyEnforcerBuildStep.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/DefaultPolicyEnforcerResolver.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerUtil.java
  extensions/oidc-client-registration/deployment/pom.xml
  extensions/oidc-client-registration/deployment/src/main/java/io/quarkus/oidc/client/registration/deployment/OidcClientRegistrationBuildStep.java
  extensions/oidc-client-registration/deployment/src/main/java/io/quarkus/oidc/client/registration/deployment/OidcClientRegistrationBuildTimeConfig.java
  extensions/oidc-client-registration/runtime/pom.xml
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfig.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationConfig.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationRecorder.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationsConfig.java
  extensions/oidc-client-registration/runtime/src/test/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfigImpl.java
  extensions/oidc-client-registration/runtime/src/test/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfigTest.java
  extensions/oidc-client/deployment/pom.xml
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
  extensions/oidc-client/runtime/pom.xml
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClientConfig.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/AbstractTokensProducer.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientBuildTimeConfig.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientConfig.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientsConfig.java
  extensions/oidc-client/runtime/src/test/java/io/quarkus/oidc/client/OidcClientConfigImpl.java
  extensions/oidc-client/runtime/src/test/java/io/quarkus/oidc/client/OidcClientConfigTest.java
  extensions/oidc-common/runtime/pom.xml
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcClientCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/config/OidcClientCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/config/OidcCommonConfig.java
  extensions/oidc/deployment/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/DevUiConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildTimeConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevUIProcessor.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResource.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResourceWithJwtAccessToken.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResourceWithoutJwtAccessToken.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UserInfoRequiredDetectionTest.java
  extensions/oidc/runtime/pom.xml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenIntrospectionUserInfoCache.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcTenantConfigImpl.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcTenantConfigTest.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/TokenIntrospectionCacheTest.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantSpecificJwtPreferredNameValidator.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcEventResource.java
Labels: area/oidc, area/keycloak

#44323 WebSockets Next: activate CDI session context only if needed
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/requestcontext/RequestScopedEndpointTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/subprotocol/SubprotocolNotAvailableTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsServerBuildConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/ContextSupport.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
Labels: area/documentation

#44152 Do not throw NPE in AfterAll interceptor if application didn't start
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/flaky-test

#44324 Take config annotation when trying to match test resources
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
Labels: triage/waiting-for-ci, area/testing

#44333 Fix writing-extensions typo
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#44332 Update websockets-next-tutorial.adoc
  docs/src/main/asciidoc/websockets-next-tutorial.adoc
Labels: area/documentation

#44293 docs: GraphQL client: add section about adding headers from the configuration for the typesafe client
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
Labels: area/documentation

#44212 Add a cleanup SPI for the REST Client
  extensions/resteasy-reactive/rest-client-jackson/deployment/src/main/java/io/quarkus/rest/client/reactive/jackson/deployment/RestClientReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-client-jackson/runtime/src/main/java/io/quarkus/rest/client/reactive/jackson/runtime/serialisers/JacksonCleanupRestClientClosingTask.java
  extensions/resteasy-reactive/rest-client-jackson/runtime/src/main/java/io/quarkus/rest/client/reactive/jackson/runtime/serialisers/JacksonUtil.java
  extensions/resteasy-reactive/rest-client-jackson/runtime/src/main/resources/META-INF/services/org.jboss.resteasy.reactive.client.impl.RestClientClosingTask
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientClosingTask.java
Labels: area/rest

#44339 Remove use of Json in OIDC
  extensions/oidc-client-registration/runtime/banned-signatures.txt
  extensions/oidc-client-registration/runtime/pom.xml
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/ClientMetadata.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationImpl.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/RegisteredClientImpl.java
  extensions/oidc-common/runtime/banned-signatures.txt
  extensions/oidc-common/runtime/pom.xml
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/AbstractJsonObject.java
  extensions/oidc/runtime/banned-signatures.txt
  extensions/oidc/runtime/pom.xml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/AzureAccessTokenCustomizer.java
Labels: area/oidc, triage/backport

#44341 Scheduler: fix OffLoadingInvoker
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/DelayedExecutionInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/DelegateInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/OffloadingInvoker.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/ScheduledInvoker.java
Labels: area/scheduler, triage/backport

#44335 Allow for using RuntimeDelegate SPI in native mode
  extensions/resteasy-reactive/rest-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
Labels: triage/waiting-for-ci, area/rest

#44336 Do not try to list synthetic injection points in "inactive bean" errors
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test, triage/backport

#44343 Update OWASP dependency check plugin version
  pom.xml
Labels: triage/flaky-test

#44259 Fix HttpHeaders.getAcceptableLanguages() on empty headers
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/HeaderUtil.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/headers/HeaderUtilTest.java
Labels: triage/flaky-test

#44353 Small improvements to the Google Cloud Function guides
  docs/src/main/asciidoc/funqy-gcp-functions.adoc
  docs/src/main/asciidoc/gcp-functions-http.adoc
  docs/src/main/asciidoc/gcp-functions.adoc
Labels: area/documentation

#44345 Update opentelemetry-tracing.adoc
  docs/src/main/asciidoc/opentelemetry-tracing.adoc
Labels: area/documentation

#44158 Fix IT / native test(s), add it to native-tests run
  .github/native-tests.json
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmConfigTestBase.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmGrpcTest.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmLifecycleTest.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmResourcesIT.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmResourcesTest.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmServicesTest.java
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmTestBase.java
Labels: area/infra-automation, triage/flaky-test

#43580 Populate ingress fields (annotations and rules) for kind and minikube resources
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DevClusterHelper.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithKindIngress.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMinikubeIngress.java
Labels: triage/waiting-for-ci, area/kubernetes

#44360 Change status of ADR 003 (web socket next client) and 006 (binary libraries in native executable)
  adr/0003-websocket-next-client.adoc
  adr/0006-native-compilation-with-binary-libraries.adoc
Labels: area/housekeeping, area/adr

#44329 Do not run the Gradle tests when using -DquicklyDocs and add some useful workflow tips
  CONTRIBUTING.md
  devtools/gradle/pom.xml
Labels: area/gradle, area/devtools, triage/flaky-test

#44359 Remove a left-over TODO statement
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
Labels: area/vertx, triage/waiting-for-ci, area/housekeeping

#44352 Make sure the result from QCL.getElementsWithResource(name) does not include duplicates
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/devtools, triage/flaky-test

#36391 Update kafka.adoc
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#44147 Avoid duplication descriptors in PlatformImportsImpl
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PlatformImportsImpl.java
  independent-projects/bootstrap/app-model/src/test/java/io/quarkus/bootstrap/model/PlatformImportsTest.java
Labels: area/devtools, triage/flaky-test

#44096 Allow to use Simple Class name with @RegisterRestClient#configKey with MicroProfile config style
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/AbstractRestClientConfigBuilder.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/java/io/quarkus/restclient/config/RestClientConfigTest.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/resources/application.properties
Labels: area/resteasy-classic, triage/flaky-test

#44361 Update to MongoDB Client 5.1.2 and sync MongoDB Crypt version
  bom/application/pom.xml
Labels: area/mongodb, area/dependencies, triage/flaky-test

#44371 Make @QuarkusMainTest respect `quarkus.test.profile.tags`
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing

#44376 Clarify logging rotation docs a little bit
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogRuntimeConfig.java
Labels: area/core, area/logging, triage/flaky-test

#44385 Qute: fix generation of qute-i18n-examples
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleMethodBuildItem.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleEnumExampleFileTest.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/i18n/Message.java
Labels: area/qute, triage/backport-3.15, triage/backport

#44373 Ensure that custom Jackson modules work in dev-mode
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/CustomModuleLiveReloadTest.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/QuarkusJacksonFactory.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/QuarkusJacksonJsonCodec.java
Labels: area/vertx, area/rest, triage/flaky-test

#44388 Fix some invalid configuration cases for doc generation and fail the build if some description are missing
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/GenerateConfigDocMojo.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/AbstractFormatter.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/AsciidocFormatter.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/Formatter.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/GenerationReport.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/MarkdownFormatter.java
  extensions/container-image/container-image-docker-common/deployment/src/main/java/io/quarkus/container/image/docker/common/deployment/CommonConfig.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerConfiguration.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/config/OidcClientCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/config/OidcCommonConfig.java
Labels: triage/waiting-for-ci, area/oidc, area/narayana, area/devtools

#43232 Add support for Socket Logging Handler with basic ECS format logging
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LogSocketFormatBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogRuntimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  docs/src/main/asciidoc/centralized-log-management.adoc
  docs/src/main/asciidoc/logging.adoc
  extensions/logging-json/deployment/src/main/java/io/quarkus/logging/json/deployment/LoggingJsonProcessor.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/SocketJsonFormatterCustomConfigTest.java
  extensions/logging-json/deployment/src/test/java/io/quarkus/logging/json/SocketJsonFormatterDefaultConfigTest.java
  extensions/logging-json/deployment/src/test/resources/application-socket-json-formatter-custom.properties
  extensions/logging-json/deployment/src/test/resources/application-socket-json-formatter-default.properties
  extensions/logging-json/runtime/src/main/java/io/quarkus/logging/json/runtime/JsonLogConfig.java
  extensions/logging-json/runtime/src/main/java/io/quarkus/logging/json/runtime/LoggingJsonRecorder.java
  integration-tests/test-extension/extension/deployment/src/main/resources/application-socket-output.properties
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/logging/SocketHandlerTest.java
Labels: area/documentation, area/core, area/logging, triage/flaky-test

#44398 Fix Keycloak DevService property doc typo
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfig.java
Labels: area/devservices, area/keycloak, triage/backport

#44374 Improve the way OIDC tenants are grouped and their properties are generated
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/DefaultPolicyEnforcerResolver.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerUtil.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/config/OidcClientCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/config/OidcCommonConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildTimeConfig.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResource.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResourceWithJwtAccessToken.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResourceWithoutJwtAccessToken.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcEventResource.java
Labels: area/oidc, release/breaking-change, area/keycloak

#44273 Add nodeSelector capability to kubernetes extension
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/AddNodeSelectorDecorator.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/NodeSelectorConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/PlatformConfiguration.java
  extensions/kubernetes/vanilla/deployment/src/test/java/io/quarkus/kubernetes/deployment/KubernetesConfigTest.java
  extensions/kubernetes/vanilla/deployment/src/test/resources/application-kubernetes.properties
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithNodeSelectorTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-nodeselector.properties
Labels: area/documentation, triage/waiting-for-ci, area/kubernetes

#44406 Handle InjectionPointsTransformer deprecations in OIDC extension
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
Labels: area/oidc

#44224 Quartz: introduce Nonconcurrent
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/NonconcurrentJobDefinitionTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/NonconcurrentOnQuartzThreadTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/NonconcurrentProgrammaticTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/NonconcurrentTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/programmatic/ProgrammaticJobsTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/Nonconcurrent.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/QuartzScheduler.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRecorder.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSupport.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduler.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/AbstractJobDefinition.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/programmatic/ProgrammaticJobsTest.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/CompositeScheduler.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler, triage/flaky-test

#44351 Propose ADR for restructuring Quarkus workshops organization
  adr/0007-quarkus-workshop-structure.adoc
Labels: area/adr

#44416 QuteErrorPageSetup: support templates that are not backed by a file
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteDevModeProcessor.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/devmode/QuteErrorPageSetup.java
Labels: area/qute, triage/backport-3.15, triage/backport

#44421 Fix deserialization of null maps in reflection-free Jackson deserializers
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonDeserializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MapWrapper.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
Labels: area/rest, triage/backport

#44415 Propagate Runtime properties in JBang Dev mode
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/jbang/JBangDevModeLauncherImpl.java
Labels: area/core, area/devtools, area/jbang, triage/flaky-test

#44431 Add option to name stored openapi files
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/smallrye, area/openapi

#44348 Enable Brotli decompression
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
  integration-tests/vertx-http-compressors/all/src/main/java/io/quarkus/compressors/it/AllDecompressResource.java
  integration-tests/vertx-http-compressors/all/src/test/java/io/quarkus/compressors/it/RESTEndpointsTest.java
  integration-tests/vertx-http-compressors/all/src/test/resources/application.properties
  integration-tests/vertx-http-compressors/app/src/main/java/io/quarkus/compressors/it/DecompressResource.java
  integration-tests/vertx-http-compressors/app/src/test/java/io/quarkus/compressors/it/Testflow.java
  integration-tests/vertx-http-compressors/some/src/test/java/io/quarkus/compressors/it/RESTEndpointsTest.java
Labels: area/vertx, triage/flaky-test, area/netty, triage/backport-3.15, triage/backport

#41425 add AI category
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
Labels: area/devtools

#43647 [3.2] Upgrade Avro to 1.11.4
  .gitignore
  bom/application/pom.xml
Labels: area/dependencies

#44432 Forcing initializing compilejava if empty
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/workspace/descriptors/DefaultProjectDescriptor.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/workspace/descriptors/ProjectDescriptorBuilder.java
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/application/build.gradle.kts
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/application/src/main/kotlin/org/acme/GreetingResource.kt
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/application/src/main/resources/META-INF/resources/index.html
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/application/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/build.gradle.kts
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/gradle.properties
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/module1/build.gradle.kts
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/module1/src/main/kotlin/org/acme/module1/SomeClass1.kt
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/module1/src/main/resources/proto/module1.proto
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/settings.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/GrpcMultiModuleNoJavaQuarkusBuildTest.java
Labels: area/gradle, triage/waiting-for-ci, area/devtools, triage/backport

#43016 Handle trailing slashes for endpoints with regex path params
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/RegexPathTest.java
Labels: triage/flaky-test

#44418 Simplify name of generated exception mappers
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/exceptionmappers/ServerExceptionMapperGenerator.java
Labels: triage/flaky-test

#44344 Add permission checker shortcuts to QuarkusSecurityIdentity.Builder
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusSecurityIdentity.java
  extensions/security/runtime/src/test/java/io/quarkus/security/runtime/QuarkusSecurityIdentityTest.java
Labels: area/documentation, area/security, area/oidc, triage/flaky-test, area/docstyle

#44265 Fix Pulsar DevService network for @QuarkusIntegrationTest for docker-image-building
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/PulsarContainer.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/PulsarDevServicesProcessor.java
Labels: area/smallrye, area/reactive-messaging

#44328 Remove com.google.code.findbugs:jsr305 from gRPC
  extensions/grpc-common/runtime/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/tracing/MongoTracingCommandListener.java
  test-framework/grpc/pom.xml
Labels: triage/waiting-for-ci, area/testing, area/mongodb, area/dependencies, area/grpc, triage/flaky-test

#44375 Add configuration property to container-based datasource devservices for capturing logs with JBossLoggingConsumer
  docs/src/main/asciidoc/appcds.adoc
  docs/src/main/asciidoc/databases-dev-services.adoc
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceContainerConfig.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
Labels: area/documentation, triage/waiting-for-ci, area/devservices, triage/flaky-test, area/jdbc

#44455 Update SmallRye Config to 3.10.1
  bom/application/pom.xml
Labels: area/config, area/smallrye, area/dependencies, triage/flaky-test

#44442 WebSockets Next: add integration test module
  .github/native-tests.json
  integration-tests/pom.xml
  integration-tests/websockets-next/pom.xml
  integration-tests/websockets-next/src/main/java/io/quarkus/websockets/ChatServer.java
  integration-tests/websockets-next/src/test/java/io/quarkus/websockets/ChatClientTest.java
  integration-tests/websockets-next/src/test/java/io/quarkus/websockets/ChatIT.java
  integration-tests/websockets-next/src/test/java/io/quarkus/websockets/ChatTest.java
Labels: triage/waiting-for-ci, area/infra-automation, triage/flaky-test

#44363 [3.15 LTS] Avoid duplicated field serialization in reflection free Jackson serializers
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonSerializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/StateRecord.java
Labels: area/rest, triage/flaky-test

#44467 WebSockets Next: clarify connector API docs/javadoc
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/programmatic/ClientEndpointProgrammaticTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/programmatic/InvalidConnectorProgrammaticInjectionPointTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/BasicWebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/OpenClientConnections.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/OpenConnections.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketClientConnection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnector.java
Labels: area/documentation

#44016 Micrometer exemplars on HTTP
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/export/PrometheusRegistryProcessor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRecorder.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/exemplars/EmptyExemplarSamplerProvider.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/exemplars/NoopOpenTelemetryExemplarContextUnwrapper.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/exemplars/OpenTelemetryContextUnwrapper.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/exemplars/OpenTelemetryExemplarContextUnwrapper.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/exemplars/OpentelemetryExemplarSamplerProvider.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/ExemplarOffTest.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/ExemplarTest.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/OtelOffProfile.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/OtelOnProfile.java
Labels: area/metrics, triage/flaky-test

#44475 Improve test reliability
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/exporter/InMemoryMetricExporter.java
  integration-tests/opentelemetry-vertx-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/exporter/AbstractExporterTest.java
Labels: area/tracing

#44457 Support for short and uncommon field names like set, get, and is
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonCodeGenerator.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FieldNameSetGetPrefixResourceTest.java
Labels: area/rest, triage/backport-3.16, triage/backport

#44481 Bump smallrye-open-api from 4.0.2 to 4.0.3
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, triage/flaky-test

#44477 Update to Quartz 2.5.0 and drop Jakarta transformation workaround
  bom/application/pom.xml
  extensions/quartz/deployment/pom.xml
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/JakartaEnablement.java
  extensions/quartz/runtime/pom.xml
Labels: area/scheduler, area/dependencies, triage/flaky-test, triage/backport

#44493 Using BuildForkOptions in QuarkusBuildTask
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusPluginExtensionView.java
  integration-tests/gradle/src/main/resources/basic-java-application-with-fork-options/build.gradle.kts
  integration-tests/gradle/src/main/resources/basic-java-application-with-fork-options/gradle.properties
  integration-tests/gradle/src/main/resources/basic-java-application-with-fork-options/settings.gradle
  integration-tests/gradle/src/main/resources/basic-java-application-with-fork-options/src/main/java/org/acme/EntryPoint.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/BuildForkOptionsAreIncludedInQuarkusBuildTaskTest.java
Labels: area/gradle, area/devtools, triage/backport-3.16, triage/backport

#44494 Register Kotlin's empty list and map for reflection
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinProcessor.java
  integration-tests/kotlin-serialization/src/main/kotlin/io/quarkus/it/kotser/GreetingResource.kt
  integration-tests/kotlin-serialization/src/test/kotlin/io/quarkus/it/kotser/ResourceTest.kt
Labels: area/kotlin, triage/backport-3.16, triage/backport

#44399 Declaring explicitly the build service in the QuarkusBuildTask
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/build.gradle.kts
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/gradle.properties
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modA/build.gradle.kts
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/.dockerignore
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/build.gradle.kts
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/main/java/org/acme/GreetingResource.java
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/main/resources/META-INF/resources/index.html
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/native-test/java/org/acme/NativeGreetingResourceIT.java
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/test/java/org/acme/GreetingResourceTest.java
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/settings.gradle.kts
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusAppliedToMultipleModulesTest.java
Labels: area/gradle, triage/waiting-for-ci, area/devtools, triage/backport-3.16, triage/backport

#43885 Exclude uri from otel tracing
  docs/src/main/asciidoc/opentelemetry-tracing.adoc
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/DropApplicationUrisBuildItem.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetrySuppressAppUrisTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryTracelessOnMethodWithoutPathTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryTracelessTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryTracelessWithRootPathTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetryTracelessWithoutPathTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/TracerRouter.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/traces/TraceMeResource.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/traces/TracelessClassLevelResource.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/traces/TracelessHelloResource.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/traces/OpenTelemetrySuppressAppUrisTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/traces/OpenTelemetryTracelessTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/traces/OpenTelemetryTracelessWithRootPathTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/AutoConfiguredOpenTelemetrySdkBuilderCustomizer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/TracesRuntimeConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/Traceless.java
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/SimpleResource.java
  integration-tests/opentelemetry/src/main/resources/application.properties
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/TracingTest.java
Labels: release/noteworthy-feature, area/documentation, area/tracing, triage/flaky-test

#44501 Support title and type fields when generating HAL links
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalLink.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalLinkJacksonSerializer.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalLinkJsonbSerializer.java
  extensions/hal/runtime/src/main/java/io/quarkus/hal/HalWrapper.java
  extensions/resteasy-classic/resteasy-links/runtime/src/main/java/io/quarkus/resteasy/links/runtime/hal/ResteasyHalService.java
  extensions/resteasy-reactive/rest-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksContainerFactory.java
  extensions/resteasy-reactive/rest-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/AbstractHalLinksTest.java
  extensions/resteasy-reactive/rest-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/TestResource.java
  extensions/resteasy-reactive/rest-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/RestLink.java
  extensions/resteasy-reactive/rest-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/runtime/LinkInfo.java
  extensions/resteasy-reactive/rest-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/runtime/RestLinksProviderImpl.java
  extensions/resteasy-reactive/rest-links/runtime/src/main/java/io/quarkus/resteasy/reactive/links/runtime/hal/ResteasyReactiveHalService.java
Labels: area/resteasy-classic, area/rest

#44504 WebSockets Next: support arrays as valid return types of callbacks
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/codec/ArrayBinaryCodecTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/codec/ArrayTextCodecTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/codec/ByteArrayBinaryMessageTest.java
Labels: area/websockets, triage/backport

#44499 Improve test reliability II
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/common/exporter/InMemoryMetricExporter.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/metrics/HttpServerMetricsTest.java
Labels: area/tracing

#42446 Add explanation/concept for extension maturity model
  docs/src/main/asciidoc/extension-maturity-matrix.adoc
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/images/extension-maturity_matrix.svg
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation, triage/backport-3.14, triage/backport-3.15, triage/backport-3.16, triage/backport

#44505 Log in smallrye-jwt and oauth2 extensions when no bearer access token is available
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2AuthMechanism.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMechanism.java
Labels: area/security, area/smallrye, triage/backport-3.15, triage/backport-3.16, triage/backport

#44468 Use `QUARKUS_FLYWAY_ACTIVE` instead of `QUARKUS_FLYWAY_ENABLED` env in Kubernetes resources
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithFlywayInitBase.java
Labels: area/kubernetes, area/flyway

#44480 Fix nullpointer on null code websockets-next
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
Labels: triage/waiting-for-ci

#44512 SmallRye Fault Tolerance: upgrade to 6.6.2
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/fault-tolerance, triage/backport-3.16, triage/backport

#44518 Discontinue support for `*JarRequiredBuildItem`
  core/deployment/src/main/java/io/quarkus/deployment/cmd/RunCommandProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/LegacyJarRequiredBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/UberJarRequiredBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/ConfigurationCustomizer.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/FunctionZipProcessor.java
  extensions/amazon-lambda/common-deployment/src/main/resources/META-INF/services/io.smallrye.config.SmallRyeConfigBuilderCustomizer
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/AzureFunctionsProcessor.java
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/ConfigurationCustomizer.java
  extensions/azure-functions/deployment/src/main/resources/META-INF/services/io.smallrye.config.SmallRyeConfigBuilderCustomizer
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/funqy/funqy-google-cloud-functions/deployment/src/main/java/io/quarkus/funqy/gcp/functions/deployment/bindings/CloudFunctionsDeploymentBuildStep.java
  extensions/funqy/funqy-google-cloud-functions/deployment/src/main/java/io/quarkus/funqy/gcp/functions/deployment/bindings/ConfigurationCustomizer.java
  extensions/funqy/funqy-google-cloud-functions/deployment/src/main/resources/META-INF/services/io.smallrye.config.SmallRyeConfigBuilderCustomizer
  extensions/google-cloud-functions-http/deployment/src/main/java/io/quarkus/gcp/functions/http/deployment/CloudFunctionsDeploymentBuildStep.java
  extensions/google-cloud-functions-http/deployment/src/main/java/io/quarkus/gcp/functions/http/deployment/ConfigurationCustomizer.java
  extensions/google-cloud-functions-http/deployment/src/main/resources/META-INF/services/io.smallrye.config.SmallRyeConfigBuilderCustomizer
  extensions/google-cloud-functions/deployment/src/main/java/io/quarkus/gcp/functions/deployment/CloudFunctionDeploymentBuildStep.java
  extensions/google-cloud-functions/deployment/src/main/java/io/quarkus/gcp/functions/deployment/ConfigurationCustomizer.java
  extensions/google-cloud-functions/deployment/src/main/resources/META-INF/services/io.smallrye.config.SmallRyeConfigBuilderCustomizer
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
Labels: area/core, area/amazon-lambda, triage/waiting-for-ci, area/kubernetes, area/funqy, area/google-cloud-functions

#44305 Ability to configure extension Dev mode JVM options
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeCommandLine.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeCommandLineBuilder.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeContext.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/ExtensionDevModeJvmOptionFilter.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  core/deployment/src/test/java/io/quarkus/deployment/dev/DevModeCommandLineBuilderTest.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/GradleDevModeLauncher.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusRemoteDev.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusTest.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/MavenDevModeLauncher.java
  devtools/maven/src/main/java/io/quarkus/maven/RemoteDevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/TestMojo.java
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/gradle-tooling.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/BootstrapConstants.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/ApplicationModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/ApplicationModelBuilder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/DefaultApplicationModel.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/ExtensionDevModeConfig.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/JvmOption.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/JvmOptions.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/JvmOptionsBuilder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/MutableBaseJvmOption.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/MutableStandardJvmOption.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/MutableXxJvmOption.java
  independent-projects/bootstrap/app-model/src/test/java/io/quarkus/bootstrap/model/MutableStandardJvmOptionTest.java
  independent-projects/bootstrap/app-model/src/test/java/io/quarkus/bootstrap/model/MutableXxJvmOptionTest.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/IncubatingApplicationModelResolver.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDevModeMavenConfig.java
Labels: area/documentation, area/gradle, area/core, area/maven, area/devtools

#44525 [3.15] Realign Infinispan version to 15.0.8.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/flaky-test

#44522 Use `dcarbone/install-yq-action@v1` instead of specific minor
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_quarkus-snapshot.yaml
Labels: area/maven, area/platform, area/devtools

#42468 TemporalParamConverter returns null if it has to convert empty string
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/converters/RuntimeParamConverterTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/simple/LocalDateTimeParamTest.java
  tcks/resteasy-reactive/pom.xml
Labels: area/rest, triage/flaky-test

#44507 Fixed Timestamp not being set for otel log signals
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/logs/OpenTelemetryLogHandler.java
Labels: triage/waiting-for-ci, area/tracing, triage/backport-3.16, triage/backport

#44487 Support configuring quarkus.bootstrap.effective-model-builder as a POM property
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-filtered-classifier/app/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-filtered-classifier/app/src/main/java/org/acme/App.java
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-filtered-classifier/library/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-filtered-classifier/library/src/main/java/org/acme/BigBeanProducer.java
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-filtered-classifier/library/src/main/java/org/acme/shared/BigBean.java
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-filtered-classifier/library/src/main/java/org/acme/shared/BigBeanProducer.java
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-filtered-classifier/library/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources-filtered/projects/multimodule-filtered-classifier/pom.xml
Labels: area/maven, area/devtools, triage/flaky-test, triage/backport

#44526 Support Serde detection for Instance injection of Messaging channels
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/PulsarSchemaDiscoveryProcessor.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/DefaultSchemaConfigTest.java
Labels: area/smallrye, area/reactive-messaging

#44448 Reduce allocation in matching of unknown properties
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/flaky-test

#44536 Fix typo, use common ID syntax
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation

#44534 Check CL in ConfigRecorder
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
Labels: area/core, area/config

#44509 Updates to Infinispan 15.0.11.Final
  bom/application/pom.xml
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
Labels: area/infinispan, area/dependencies, triage/flaky-test, triage/backport-3.15, triage/backport-3.16, triage/backport

#44403 Add copy button for configuration properties in config tables
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/GenerateConfigDocMojo.java
  devtools/config-doc-maven-plugin/src/main/resources/templates/asciidoc/default/tags/configProperty.qute.adoc
  devtools/config-doc-maven-plugin/src/main/resources/templates/asciidoc/default/tags/propertyCopyButton.qute.adoc
Labels: area/documentation, area/devtools

#44515 Coordinated Vert.x 4.5.11 upgrades
  bom/application/pom.xml
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/vertx-utils/pom.xml
Labels: area/vertx, area/dependencies, area/native-image, triage/flaky-test, area/netty

#44545 Wrong index of ParameterizedType argument of Map when register type to be generated in JacksonCodeGenerator
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonCodeGenerator.java
Labels: triage/waiting-for-ci, area/rest, triage/backport-3.16, triage/backport

#44549 Add support for encrypted PKCS#8
  bom/application/pom.xml
  docs/src/main/asciidoc/tls-registry-reference.adoc
  extensions/tls-registry/cli/src/main/java/io/quarkus/tls/cli/letsencrypt/LetsEncryptHelpers.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/DefaultEncryptedPemKeyStoreTest.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/EncryptedPemWithNoPasswordTest.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/EncryptedPemWithWrongPasswordTest.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/NamedEncryptedPemKeyStoreTest.java
  extensions/tls-registry/runtime/pom.xml
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/config/PemKeyCertConfig.java
  pom.xml
Labels: area/documentation, area/dependencies, triage/flaky-test

#44558 Reference extension maturity matrix from extensions FAQ
  docs/src/main/asciidoc/extension-faq.adoc
Labels: area/documentation

#44541 Removing unused configuration of the application model in QuarkusBuildTasks
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools, triage/backport

#44560 Correct javadoc of ReflectiveHierarchyBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java
Labels: area/core

#44554 Allow to enable security for the Management interface without enabling basic authentication and document support for other mechanisms
  docs/src/main/asciidoc/management-interface-reference.adoc
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowManagementInterfaceDevModeTest.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/ManagementInterfaceSecurityProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/ManagementInterfaceBasicAuthTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementInterfaceSecurityRecorder.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/ManagementInterfaceCustomRoute.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenManagementInterfaceTest.java
Labels: area/documentation, area/security, area/vertx, area/oidc

#44546 Add OIDC Redis Token State Manager extension
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc-redis-token-state-manager/deployment/pom.xml
  extensions/oidc-redis-token-state-manager/deployment/src/main/java/io/quarkus/oidc/redis/token/state/manager/deployment/OidcRedisTokenStateManagerBuildConfig.java
  extensions/oidc-redis-token-state-manager/deployment/src/main/java/io/quarkus/oidc/redis/token/state/manager/deployment/OidcRedisTokenStateManagerProcessor.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/AbstractRedisTokenStateManagerTest.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/DefaultDsRedisTokenStateManagerTest.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/NamedDsRedisTokenStateManagerTest.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/ProtectedResource.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/PublicResource.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/UnprotectedResource.java
  extensions/oidc-redis-token-state-manager/pom.xml
  extensions/oidc-redis-token-state-manager/runtime/pom.xml
  extensions/oidc-redis-token-state-manager/runtime/src/main/java/io/quarkus/oidc/redis/token/state/manager/runtime/OidcRedisTokenStateManager.java
  extensions/oidc-redis-token-state-manager/runtime/src/main/java/io/quarkus/oidc/redis/token/state/manager/runtime/OidcRedisTokenStateManagerRecorder.java
  extensions/oidc-redis-token-state-manager/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/dependencies, area/devtools, area/redis, dependencies, triage/flaky-test, area/docstyle

#44424 Support for dev-mode-only conditional dependencies
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/BootstrapFromOriginalJarTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/BootstrapFromWorkspaceModuleTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ProvidedExtensionDepsInTestModeTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ProvidedExtensionDepsTestModeTest.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionConfiguration.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTask.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/extension/ConfigurationUtils.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/ArtifactExtensionDependency.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/DependencyUtils.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/ExtensionDependency.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/ProjectExtensionDependency.java
  docs/src/main/asciidoc/conditional-extension-dependencies.adoc
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/BootstrapConstants.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/ResolverSetupCleanup.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/TsQuarkusExt.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/ConditionalDependenciesDevModelTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/ConditionalDependenciesProdModelTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/ConditionalDependenciesRuntimeOnlyProdModelTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/test/DevModeConditionalDependencyWithExtraConditionTestCase.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyTreeResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ExtensionInfo.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/IncubatingApplicationModelResolver.java
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  integration-tests/gradle/src/main/resources/conditional-dependencies/ext-a/runtime/build.gradle
  integration-tests/gradle/src/main/resources/conditional-test-project/runner/build.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/ConditionalDependenciesTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/ConditionalDevDependencyTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusGradleTestBase.java
Labels: area/documentation, area/gradle, area/core, area/devtools, triage/flaky-test

#44571 Update `CacheJsonRPCService.java` reference
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation, triage/backport

#44535 Allow `@PermissionChecker` methods to authorize secured methods when `@TestSecurity` annotation is applied and conditionally apply `SecurityIdentityAugmentors`
  docs/src/main/asciidoc/security-testing.adoc
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusPermissionSecurityIdentityAugmentor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
  integration-tests/elytron-resteasy/src/main/java/io/quarkus/it/resteasy/elytron/RootResource.java
  integration-tests/elytron-resteasy/src/test/java/io/quarkus/it/resteasy/elytron/TestSecurityTestCase.java
  integration-tests/smallrye-jwt-token-propagation/src/main/java/io/quarkus/it/keycloak/CustomPermission.java
  integration-tests/smallrye-jwt-token-propagation/src/main/java/io/quarkus/it/keycloak/ProtectedJwtResource.java
  integration-tests/smallrye-jwt-token-propagation/src/main/java/io/quarkus/it/keycloak/TestSecurityIdentityAugmentor.java
  integration-tests/smallrye-jwt-token-propagation/src/main/resources/application.properties
  integration-tests/smallrye-jwt-token-propagation/src/test/java/io/quarkus/it/keycloak/TestSecurityLazyAuthTest.java
  test-framework/security/src/main/java/io/quarkus/test/security/AbstractTestHttpAuthenticationMechanism.java
  test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java
  test-framework/security/src/main/java/io/quarkus/test/security/TestIdentityAssociation.java
  test-framework/security/src/main/java/io/quarkus/test/security/TestSecurity.java
Labels: area/documentation, area/security, area/resteasy-classic, area/testing, triage/backport

#44429 Introduce a config builder for OIDC Client Registration
  docs/src/main/asciidoc/security-openid-connect-client-registration.adoc
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfig.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfigBuilder.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationConfig.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationImpl.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationRecorder.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationsConfig.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/RegisteredClientImpl.java
  extensions/oidc-client-registration/runtime/src/test/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfigBuilderTest.java
  extensions/oidc-client-registration/runtime/src/test/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfigImpl.java
  extensions/oidc-client-registration/runtime/src/test/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfigTest.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcTlsSupport.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/config/OidcCommonConfigBuilder.java
  integration-tests/oidc-client-registration/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
Labels: area/documentation, area/oidc

#44559 Fix flaky test OverrideBuildTimeConfigTest
  core/runtime/src/main/java/io/quarkus/runtime/ConfigConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
Labels: area/core, area/config, triage/backport

#44532 Consider resources from @TestProfile when checking for restart
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/TestResourceUtil.java
Labels: area/testing, triage/flaky-test, triage/backport

#44503 Enforce the platform constraints when resolving the Quarkus bootstrap Gradle resolver dependencies
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
Labels: area/gradle, area/devtools, triage/backport

#44572 Remove customizer mappings from runtime recording Config
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/flaky-test, triage/backport

#44556 Extend websocket next documentation to explain when and when not to subscribe to a Uni or Multi
  docs/src/main/asciidoc/websockets-next-reference.adoc
Labels: area/documentation

#44580 [3.16] 3.16.4 backports 1
  bom/application/pom.xml
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusPluginExtensionView.java
  docs/src/main/asciidoc/dev-ui.adoc
  docs/src/main/asciidoc/extension-maturity-matrix.adoc
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/images/extension-maturity-matrix.svg
  docs/src/main/asciidoc/qute.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2AuthMechanism.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinProcessor.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/logs/OpenTelemetryLogHandler.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonCodeGenerator.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FieldNameSetGetPrefixResourceTest.java
  extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JWTAuthMechanism.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/vertx-utils/pom.xml
  integration-tests/gradle/src/main/resources/basic-java-application-with-fork-options/build.gradle.kts
  integration-tests/gradle/src/main/resources/basic-java-application-with-fork-options/gradle.properties
  integration-tests/gradle/src/main/resources/basic-java-application-with-fork-options/settings.gradle
  integration-tests/gradle/src/main/resources/basic-java-application-with-fork-options/src/main/java/org/acme/EntryPoint.java
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/build.gradle.kts
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/gradle.properties
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modA/build.gradle.kts
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/.dockerignore
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/build.gradle.kts
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/main/java/org/acme/GreetingResource.java
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/main/resources/META-INF/resources/index.html
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/native-test/java/org/acme/NativeGreetingResourceIT.java
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/modB/src/test/java/org/acme/GreetingResourceTest.java
  integration-tests/gradle/src/main/resources/quarkus-plugin-in-multiple-modules/settings.gradle.kts
  integration-tests/gradle/src/test/java/io/quarkus/gradle/BuildForkOptionsAreIncludedInQuarkusBuildTaskTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/QuarkusAppliedToMultipleModulesTest.java
  integration-tests/kotlin-serialization/src/main/kotlin/io/quarkus/it/kotser/GreetingResource.kt
  integration-tests/kotlin-serialization/src/test/kotlin/io/quarkus/it/kotser/ResourceTest.kt
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithFlywayInitBase.java
Labels: area/documentation, area/gradle, area/infinispan, area/security, area/smallrye, area/kotlin, area/infra, area/kubernetes, area/dependencies, area/devtools, area/flyway, area/tracing, area/rest, area/netty

#44592 Docs: dev mode differences - remove the link for old Dev UI
  docs/src/main/asciidoc/dev-mode-differences.adoc
Labels: area/documentation, triage/backport-3.15, triage/backport

#44584 Fix wrong web endpoint path for resource on Windows
  extensions/web-dependency-locator/deployment/src/main/java/io/quarkus/webdependency/locator/deployment/WebDependencyLocatorProcessor.java
Labels: triage/waiting-for-ci, env/windows, triage/backport

#44583 Improve documentation on the usage of io.quarkus.logging.Log in extensions
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation

#44598 Optional `quarkus.config.build-time-mismatch-at-runtime` with default
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/flaky-test

#44602 Qute docs improvement
  docs/src/main/asciidoc/qute.adoc
Labels: area/documentation

#44597 Removing unnecessary notifications and adding more adocs to the watch-list
  .github/quarkus-github-bot.yml
Labels: area/infra-automation, area/docstyle

#44543 Fix buildpack docker host handling for macos
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackConfig.java
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
Labels: triage/waiting-for-ci

#44589 Copyedits for style, security-jwt.adoc
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation

#44523 Ensure that the name generated in opentelemetry matches the endpoint being called
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientRequestContextImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/HandlerChain.java
  independent-projects/resteasy-reactive/client/runtime/src/test/java/org/jboss/resteasy/reactive/client/impl/HandlerChainTest.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ReactiveResource.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ReactiveRestClient.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
Labels: area/tracing

#44603 Copyedits for style, security-jwt-build.adoc
  docs/src/main/asciidoc/security-jwt-build.adoc
Labels: area/documentation

#44614 Keep old GlobalDevServicesConfig to not break downstream projects
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesSharedNetworkBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/DevServicesConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/GlobalDevServicesConfig.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/devservices/db2/src/main/java/io/quarkus/devservices/db2/deployment/DB2DevServicesProcessor.java
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/devservices/mariadb/src/main/java/io/quarkus/devservices/mariadb/deployment/MariaDBDevServicesProcessor.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDevServicesProcessor.java
  extensions/devservices/mysql/src/main/java/io/quarkus/devservices/mysql/deployment/MySQLDevServicesProcessor.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
  extensions/devservices/postgresql/src/main/java/io/quarkus/devservices/postgresql/deployment/PostgresqlDevServicesProcessor.java
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/keycloak-admin-rest-client/deployment/src/main/java/io/quarkus/keycloak/admin/client/reactive/devservices/KeycloakDevServiceRequiredBuildStep.java
  extensions/keycloak-admin-resteasy-client/deployment/src/main/java/io/quarkus/keycloak/adminclient/deployment/devservices/KeycloakDevServiceRequiredBuildStep.java
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/observability-devservices/deployment/src/main/java/io/quarkus/observability/deployment/ObservabilityDevServiceProcessor.java
  extensions/observability-devservices/deployment/src/main/java/io/quarkus/observability/deployment/devui/ObservabilityDevUIProcessor.java
  extensions/oidc-client-registration/deployment/src/main/java/io/quarkus/oidc/client/registration/deployment/devservices/keycloak/KeycloakDevServiceRequiredBuildStep.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/devservices/keycloak/KeycloakDevServiceRequiredBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServiceRequiredBuildStep.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/DevServicesRedisProcessor.java
  extensions/schema-registry/devservice/deployment/src/main/java/io/quarkus/apicurio/registry/devservice/DevServicesApicurioRegistryProcessor.java
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/mqtt/deployment/MqttDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/PulsarDevServicesProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesProcessor.java
Labels: area/core, area/infinispan, area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/mongodb, area/oidc, area/kubernetes, area/kafka, area/redis, area/elasticsearch, area/keycloak

#44623 Config Doc - Assorted improvements related to Kubernetes extensions
  core/deployment/pom.xml
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/Options.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/model/Extension.java
  core/processor/src/main/java/io/quarkus/annotation/processor/util/ExtensionUtil.java
  core/runtime/pom.xml
  extensions/kubernetes/vanilla/deployment/pom.xml
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KnativeConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenShiftConfig.java
  extensions/kubernetes/vanilla/pom.xml
  extensions/kubernetes/vanilla/runtime/pom.xml
Labels: area/core, area/kubernetes

#44620 Do not honor shutdown timeout/delay in dev mode
  core/deployment/src/main/java/io/quarkus/deployment/shutdown/ShutdownBuildTimeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ShutdownListenerBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/shutdown/ShutdownConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/shutdown/ShutdownRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/core, area/vertx

#44615 Qute: if section - adjust the evaluation rules for equality operators
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IfSectionTest.java
Labels: area/documentation, triage/waiting-for-ci, triage/backport

#44565 Ensure that all our handlers extend `ExtHandler`
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogMetricsHandler.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/logs/OpenTelemetryLogHandler.java
Labels: area/core, area/logging, area/tracing

#44640 ArC: improve how intercepted methods are searched for
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#44391 Upgrade to Hibernate ORM 6.6.3.Final
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/GraalVMFeatures.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/integration/QuarkusEnhancementContext.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/deployment/ClassNamesTest.java
  pom.xml
Labels: triage/waiting-for-ci, area/hibernate-orm, triage/flaky-test

#44655 Move recorded bytecode into a runner package
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
Labels: area/core

#44668 Support @AuthorizationPolicy on suspended Kotlin endpoint methods
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  integration-tests/resteasy-reactive-kotlin/standard/pom.xml
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/SecuredClassResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/SecuredMethodResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/SuspendAuthorizationPolicy.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/SecurityTest.kt
Labels: area/security, area/kotlin, area/vertx, triage/flaky-test, triage/backport-3.16, triage/backport
