Repository quarkusio/quarkus, pull requests merged in 2024-03, with the labels that each got.

#39093 Fix cross-references in the Vert.x Reference Guide
  docs/src/main/asciidoc/vertx-reference.adoc
Labels: area/documentation

#39078 Unwrap actual GraphQL data fetching exception if it is wrapped
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/GraphQLTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/TestResource.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/AbstractAsyncDataFetcher.java
Labels: area/smallrye, area/graphql, triage/backport

#39089 Allow some test mojos to be resolved online
  extensions/panache/panacheql/.gitignore
  independent-projects/extension-maven-plugin/src/test/java/io/quarkus/maven/ExtensionDescriptorMojoTest.java
Labels: area/panache, area/devtools, triage/flaky-test

#39052 Honor Cache and NoCache annotations on implementations of a JAX-RS interface
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/CacheControlScanner.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/CacheOnClassAndMethodsImplementationTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/CacheOnClassAndMethodsInterfaceTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/CacheOnMethodsImplementationTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/CacheOnMethodsInterfaceTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/ImplementationOverridingInterfaceTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/NoCacheOnClassAndMethodsImplementationTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/NoCacheOnClassAndMethodsInterfaceTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/NoCacheOnMethodsImplementationTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/cache/NoCacheOnMethodsInterfaceTest.java
Labels: area/arc, area/cache

#38988 Do not expand configuration for Gradle cache
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/AbstractQuarkusExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/BaseConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/Deploy.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildDependencies.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusRun.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusShowEffectiveConfig.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/EffectiveConfigTest.java
Labels: area/gradle, area/devtools, triage/backport

#39063 Fix the OIDC token verification failure with the inlined cert chain
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CertChainPublicKeyResolver.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/X509IdentityProvider.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/main/resources/truststore-rootcert.p12
  integration-tests/oidc-wiremock/src/main/resources/truststore.p12
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/security, area/oidc, triage/backport

#39122 Use bcrypt password mapper in elytron-security-jdbc docs
  docs/src/main/asciidoc/security-jdbc.adoc
Labels: area/documentation

#39106 Allows the HTTP server to use PEM truststore
  build-parent/pom.xml
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/DisableHttpPortTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/certReload/MainHttpServerTlsPKCS12CertificateReloadTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/http2/Http2RSTFloodProtectionConfigTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/http2/Http2RSTFloodProtectionTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/http2/Http2Test.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/management/ManagementWithJksTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/management/ManagementWithP12Test.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/management/ManagementWithPemTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/mtls/MtlsRequestBasicAuthTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/mtls/MtlsRequestTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/mtls/MtlsRequiredTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/mtls/MtlsWithP12Test.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/mtls/MtlsWithPemTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/MtlsRequestTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/MtlsRequiredTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ssl/SslServerWithJksTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ssl/SslServerWithP12Test.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/ssl/SslServerWithPemTest.java
  extensions/vertx-http/deployment/src/test/resources/conf/README.md
  extensions/vertx-http/deployment/src/test/resources/conf/disable-http.conf
  extensions/vertx-http/deployment/src/test/resources/conf/localhost.crt
  extensions/vertx-http/deployment/src/test/resources/conf/mtls/client-keystore.jks
  extensions/vertx-http/deployment/src/test/resources/conf/mtls/client-truststore.jks
  extensions/vertx-http/deployment/src/test/resources/conf/mtls/mtls-basic-jks.conf
  extensions/vertx-http/deployment/src/test/resources/conf/mtls/mtls-jks.conf
  extensions/vertx-http/deployment/src/test/resources/conf/mtls/mtls-no-auth-jks.conf
  extensions/vertx-http/deployment/src/test/resources/conf/mtls/server-keystore.jks
  extensions/vertx-http/deployment/src/test/resources/conf/mtls/server-truststore.jks
  extensions/vertx-http/deployment/src/test/resources/conf/server-cert.pem
  extensions/vertx-http/deployment/src/test/resources/conf/server-key.pem
  extensions/vertx-http/deployment/src/test/resources/conf/server-keystore.jks
  extensions/vertx-http/deployment/src/test/resources/conf/server-keystore.p12
  extensions/vertx-http/deployment/src/test/resources/conf/ssl-jks-rst-flood-protection.conf
  extensions/vertx-http/deployment/src/test/resources/conf/ssl-jks.conf
  extensions/vertx-http/deployment/src/test/resources/conf/ssl-pem.conf
  extensions/vertx-http/deployment/src/test/resources/conf/ssl-pkcs12.conf
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerOptionsUtils.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/TlsCertificateReloader.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/TlsUtils.java
Labels: area/vertx, area/dependencies, triage/flaky-test

#38435 Fix CLI not recognizing installed plugins
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
Labels: area/devtools, area/cli, triage/backport

#39150 Update resteasy-reactive-migration.adoc
  docs/src/main/asciidoc/resteasy-reactive-migration.adoc
Labels: area/documentation

#39136 Fix wrong volume host path being used on Windows
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/Volumes.java
Labels: env/windows

#39072 Update to Agroal 2.3
  bom/application/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsInterceptorTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsPackageAnnotationsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsResourceInjectionEntityManagerTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsResourceInjectionSessionTest.java
Labels: area/persistence, area/hibernate-orm, area/dependencies, triage/flaky-test, triage/backport

#39168 Remove misleading note from jacoco.enabled
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/JacocoConfig.java
Labels: area/testing

#39132 OIDC token propagation: add option to select named OIDC client and token exchange per REST client with the @AccessToken annotation
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/AccessTokenInstanceBuildItem.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/AccessTokenRequestFilterGenerator.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessToken.java
  extensions/oidc-token-propagation-reactive/deployment/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveBuildStep.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenAnnotationTest.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/AccessTokenRequestReactiveFilter.java
  extensions/oidc-token-propagation/deployment/src/main/java/io/quarkus/oidc/token/propagation/deployment/OidcTokenPropagationBuildStep.java
  extensions/oidc-token-propagation/deployment/src/test/java/io/quarkus/oidc/token/propagation/AccessTokenAnnotationTest.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessTokenRequestFilter.java
Labels: area/documentation, area/oidc, area/docstyle

#39160 Fail on conflicting deployment kinds
  extensions/kubernetes/openshift/deployment/src/main/java/io/quarkus/openshift/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DeploymentResourceKind.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DeploymentTargetEntry.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
Labels: area/kubernetes

#39102 Properly pass annotations to MessageBodyReader in REST Client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/CustomMessageBodyReaderUsesAnnotationsTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientResponseCompleteRestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, kind/bugfix, triage/backport

#39152 Add debugging to resteasy / arc interactions
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
Labels: area/resteasy, triage/flaky-test

#39166 Move junit-pioneer to build-parent
  bom/application/pom.xml
  build-parent/pom.xml
Labels: area/dependencies, triage/flaky-test

#39179 Allow setting the SettingsDecrypter when initializing a Maven artifact resolver
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
Labels: area/devtools, triage/flaky-test, triage/backport

#39147 Keep the timestamps when copying jars and building JIB layers
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/core, triage/flaky-test, triage/backport

#39094 Emphasize the need to add quarkus-junit5-mockito as a dependency to use mock injection
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation

#39164 Improve error message when the keystore/truststore type cannot be detected from the file extension
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/TlsUtils.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/options/TlsUtilsTest.java
Labels: area/vertx, triage/flaky-test

#39193 WebSockets Next: rename WebSocketServerConnection to WebSocketConnection
  extensions/websockets-next/server/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketDotNames.java
  extensions/websockets-next/server/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketServerProcessor.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/EchoBlockingAndAwait.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/EchoMultiConsume.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/Lo.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/LoBlocking.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/LoMultiProduce.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/Up.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/UpBlocking.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/UpMultiBidi.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/connection/ConnectionCloseTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/connection/ServiceConnectionScopeTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/handshake/HandshakeRequestTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/signatures/SignatureConsumingMultiTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/signatures/SignatureTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/subsocket/Sub.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/OnMessage.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/OnOpen.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/WebSocket.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnection.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/ConcurrencyLimiter.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/ConnectionManager.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/ContextSupport.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketEndpointBase.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
Labels: triage/flaky-test

#39181 ArC: fix BeanConfiguratorBase#read()
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/synthetic/SyntheticBeanBuildItemProxyTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanConfiguratorBase.java
Labels: area/arc, triage/waiting-for-ci, triage/backport

#39057 Skip analysis of plugin executions with phases post quarkus:dev preparing for dev mode launch
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/maven, area/devtools, triage/backport

#39121 Do not fail on resolve kafka streams topics when topics check disabled
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
Labels: area/kafka-streams, triage/backport

#39158 Updates to Infinispan 15.0.0.CR1
  bom/application/pom.xml
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/infinispan-client/runtime/pom.xml
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/graal/QuerySubstitutions.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/graal/SubstituteExecutorFactoryConfigurationBuilder.java
Labels: area/infinispan, area/dependencies, triage/flaky-test

#39208 Remove jdk*-workarounds from rest-client TCK
  tcks/microprofile-rest-client/pom.xml
Labels: area/rest-client

#39203 Fix typo in testing Getting Started guide example
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation

#39196 Deprecate HyphenateEnumConverter
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigInstantiator.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/HyphenateEnumConverter.java
  core/runtime/src/test/java/io/quarkus/runtime/configuration/HyphenateEnumConverterTest.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiConfigMapping.java
Labels: area/core, area/config, area/smallrye, area/openapi, triage/waiting-for-ci, triage/flaky-test

#39216 Unwrap processing exception from REST Client when returning a Uni
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/error/ResponseExceptionMapperTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/UniInvoker.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#39214 Improve logging for IO utils and add thread info in build logs
  devtools/maven/src/main/java/io/quarkus/maven/MojoLogger.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/IoUtils.java
Labels: area/maven, triage/waiting-for-ci, area/devtools, triage/flaky-test

#39213 Ensure that regular jar is not created when a native binary is requested
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/AppCDSBuildStep.java
Labels: area/core, triage/flaky-test

#39212 Bump mssql-jdbc to 12.6.1
  bom/application/pom.xml
Labels: area/dependencies, triage/flaky-test

#39219 3.8.2 backports 2
  bom/application/pom.xml
  docs/src/main/asciidoc/getting-started-testing.adoc
  extensions/kubernetes/openshift/deployment/src/main/java/io/quarkus/openshift/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DeploymentResourceKind.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/DeploymentTargetEntry.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftConfig.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/VanillaKubernetesProcessor.java
Labels: area/documentation, area/infra, area/kubernetes, area/dependencies

#39003 (3.2) Update postgresql-jdbc to 42.6.1
  bom/application/pom.xml
Labels: area/dependencies

#39232 Update docs as Quarkus no longer defautling keystore type to JKS
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation

#39226 WebSockets Next: test for filtering connected clients while broadcasting
  extensions/websockets-next/server/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketServerProcessor.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/BroadcastConnectionTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/BroadcastOnOpenTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/LoConnection.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnection.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/ConcurrencyLimiter.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
Labels: triage/flaky-test

#39225 Upgrade to Mutiny 2.5.8
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/reactive, area/arc, area/dependencies, triage/flaky-test, triage/backport

#39162 Add mapping to a Map<String, ConfigObject> in the documentation
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation, triage/backport

#39190 Update kindcontainer to 1.4.5
  bom/application/pom.xml
Labels: area/dependencies, triage/flaky-test

#39251 Make mutiny version of pool use the already configured vertx pool
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/ReactiveDB2ClientProcessor.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/ReactiveMSSQLClientProcessor.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/SamePoolInstanceTest.java
  extensions/reactive-mssql-client/runtime/src/main/java/io/quarkus/reactive/mssql/client/runtime/MSSQLPoolRecorder.java
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-mysql-client/deployment/src/test/java/io/quarkus/reactive/mysql/client/SamePoolInstanceTest.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-oracle-client/deployment/src/main/java/io/quarkus/reactive/oracle/client/deployment/ReactiveOracleClientProcessor.java
  extensions/reactive-oracle-client/deployment/src/test/java/io/quarkus/reactive/oracle/client/SamePoolInstanceTest.java
  extensions/reactive-oracle-client/runtime/src/main/java/io/quarkus/reactive/oracle/client/runtime/OraclePoolRecorder.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
  extensions/reactive-pg-client/deployment/src/test/java/io/quarkus/reactive/pg/client/SamePoolInstanceTest.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
Labels: area/persistence, area/reactive-sql-clients, triage/backport

#39255 Fix config key for dev-ui
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/devui/RestClientsContainer.java
Labels: area/resteasy-reactive, triage/backport

#39243 Detect .truststore and .keystore files as JKS
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/TlsUtils.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/options/TlsUtilsTest.java
Labels: area/vertx

#39248 WebSockets Next: attempt to fix/diagnose flaky tests [do not merge yet!]
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/BroadcastOnMessageTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/BroadcastOnOpenTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/UpMultiBidi.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/ConnectionManager.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketEndpointBase.java
Labels: triage/flaky-test

#39207 Export security events as OpenTelemetry Span Events
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/OpenTelemetrySpanSecurityEventsTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/OTelBuildConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/security/SecurityEventUtil.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ExporterResource.java
  integration-tests/opentelemetry-reactive/src/main/resources/application.properties
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/Utils.java
Labels: area/documentation, area/tracing, triage/flaky-test

#39223 Fix WithSpan uni and multi
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/interceptor/WithSpanInterceptorTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/propagation/OpenTelemetryMpContextPropagationProvider.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/cdi/WithSpanInterceptor.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/ReactiveResource.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/OpenTelemetryReactiveTest.java
Labels: area/tracing, triage/flaky-test

#39260 Bump GraalVM SDK version to 23.1.2
  bom/application/pom.xml
Labels: area/dependencies, triage/backport

#39265 Properly support sending InputStream in REST Client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/SendInputStreamTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/SendRequestScopedInputStreamTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/larger-than-chunk-size.txt
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/resources/send-request-scoped-input-stream.properties
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/InputStreamReadStream.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: area/resteasy-reactive, triage/backport

#39262 Make it easy for custom OIDC filters to use programmaticatlly created OIDC Clients
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/AbstractTokensProducer.java
  integration-tests/oidc-client-reactive/src/main/java/io/quarkus/it/keycloak/OidcClientCreator.java
  integration-tests/oidc-client-reactive/src/main/java/io/quarkus/it/keycloak/OidcClientRequestCustomFilter.java
  integration-tests/oidc-client-reactive/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: area/oidc

#39253 Upgrade Smallrye Stork to 2.6.0
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/smallrye, area/dependencies, area/stork, triage/flaky-test

#39267 Consolidate rerouted requests in access log
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AccessLogConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/ExchangeAttributeParser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/QueryParameterAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/QueryStringAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestLineAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestMethodAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestPathAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestURLAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/OriginalRequestContext.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/accesslog/AccessLogHandler.java
  extensions/vertx-http/runtime/src/test/java/io/quarkus/vertx/http/runtime/attribute/ConsolidateReroutedRequestsTest.java
Labels: area/documentation, area/vertx, triage/flaky-test

#39178 Update grpc-service-implementation.adoc
  docs/src/main/asciidoc/grpc-service-implementation.adoc
Labels: area/documentation, triage/backport

#39249 OIDC make token iat claim optional via config property
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcProviderTest.java
Labels: area/oidc

#39303 Update native configuration best practices for proxies
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation

#39271 Update the title of dev-ui.adoc and fix minor typos
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport

#39309 Normalize POM path
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
Labels: area/devtools, triage/flaky-test, triage/backport

#39291 Enable gRPC code generation to utilize argument file
  docs/src/main/asciidoc/grpc-generation-reference.adoc
  extensions/grpc/codegen/src/main/java/io/quarkus/grpc/deployment/GrpcCodeGen.java
  integration-tests/grpc-plain-text-gzip/src/main/resources/application.properties
Labels: area/documentation, area/grpc

#39308 Update SmallRye Config to 3.6.1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  devtools/gradle/gradle/libs.versions.toml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/MpTelemetryRelocateConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/OTelFallbackConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/OTelRuntimeConfig.java
  extensions/opentelemetry/runtime/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptorFactory
  extensions/resteasy-classic/rest-client-config/runtime/src/test/java/io/quarkus/restclient/config/RestClientFallbackConfigSourceInterceptorTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientBuildTimeConfigSource.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientOverrideRuntimeConfigTest.java
  integration-tests/test-extension/extension-that-defines-junit-test-extensions/deployment/src/main/resources/application.properties
  integration-tests/test-extension/extension/deployment/src/main/resources/application.properties
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/RenameConfigTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/ConfiguredBeanTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/RuntimeDefaultsTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/UnknownBuildConfigTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/EnvBuildTimeConfigSource.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/RecordQuarkusSystemPropertiesConfigSource.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestMappingRunTime.java
  tcks/microprofile-opentelemetry/pom.xml
  tcks/microprofile-opentelemetry/src/main/java/io/quarkus/tck/opentelemetry/TelemetryRelocateInterceptor.java
  tcks/microprofile-opentelemetry/src/test/java/io/quarkus/tck/opentelemetry/DeploymentProcessor.java
Labels: area/gradle, area/core, area/config, area/resteasy, area/dependencies, area/devtools, area/tracing, triage/flaky-test

#39009 Narayana update to 7.0.1.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/flaky-test

#39318 Fail to deploy application when http and https ports are the same
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, release/breaking-change, triage/flaky-test

#39328 Pass the client and tenant id to OIDC request filters
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/OidcRequestCustomizer.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OidcDiscoveryJwksRequestCustomizer.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/WiremockTestResource.java
Labels: area/oidc

#39342 Migrate Keycloak Admin Client from config classes to the `@ConfigMapping`
  extensions/keycloak-admin-client-common/deployment/src/main/java/io/quarkus/keycloak/admin/client/common/KeycloakAdminClientBuildTimeConfig.java
  extensions/keycloak-admin-client-common/deployment/src/main/java/io/quarkus/keycloak/admin/client/common/KeycloakAdminClientInjectionEnabled.java
  extensions/keycloak-admin-client-common/deployment/src/test/java/io/quarkus/keycloak/admin/client/common/ConfigValidationTest.java
  extensions/keycloak-admin-client-common/runtime/src/main/java/io/quarkus/keycloak/admin/client/common/KeycloakAdminClientConfig.java
  extensions/keycloak-admin-client-common/runtime/src/main/java/io/quarkus/keycloak/admin/client/common/KeycloakAdminClientConfigUtil.java
  extensions/keycloak-admin-rest-client/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveKeycloakAdminClientRecorder.java
  extensions/keycloak-admin-resteasy-client/runtime/src/main/java/io/quarkus/keycloak/adminclient/ResteasyKeycloakAdminClientRecorder.java
Labels: area/keycloak

#39236 Resolve OIDC tenants with path-matching configuration as alternative to TenantResolver
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/ImmutablePathMatcher.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/ImmutableSubstringMap.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatcher.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/SubstringMap.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantPathsResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/documentation, area/vertx, area/oidc, triage/flaky-test

#39250 Migrate from config classes to `@ConfigMapping` OIDC token propagation, OIDC GraphQL client and OIDC client filters
  extensions/oidc-client-filter/deployment/src/main/java/io/quarkus/oidc/client/filter/deployment/OidcClientFilterBuildStep.java
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/OidcClientRequestFilter.java
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/runtime/OidcClientFilterConfig.java
  extensions/oidc-client-graphql/deployment/src/main/java/io/quarkus/oidc/client/graphql/OidcGraphQLClientIntegrationProcessor.java
  extensions/oidc-client-graphql/runtime/src/main/java/io/quarkus/oidc/client/graphql/runtime/OidcClientGraphQLConfig.java
  extensions/oidc-client-reactive-filter/deployment/src/main/java/io/quarkus/oidc/client/reactive/filter/deployment/OidcClientReactiveFilterBuildStep.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientRequestReactiveFilter.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/runtime/OidcClientReactiveFilterConfig.java
  extensions/oidc-token-propagation-reactive/deployment/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveBuildStep.java
  extensions/oidc-token-propagation-reactive/deployment/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveBuildTimeConfig.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveConfig.java
  extensions/oidc-token-propagation/deployment/src/main/java/io/quarkus/oidc/token/propagation/deployment/OidcTokenPropagationBuildStep.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/runtime/OidcTokenPropagationConfig.java
Labels: area/oidc

#39335 Various small tweaks for the REST extensions
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-client-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-client-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-client-codestart/java/src/main/java/org/acme/MyRemoteService.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-client-codestart/kotlin/src/main/kotlin/org/acme/MyRemoteService.kt
  extensions/oidc-client-filter/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/oidc-client-reactive-filter/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/oidc-token-propagation-reactive/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/oidc-token-propagation/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-classic/resteasy-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/rest-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/rest-csrf/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/rest/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/resteasy, triage/waiting-for-ci, area/oidc, area/devtools, area/resteasy-reactive, triage/flaky-test

#39334 [3.8] Fix RESTEasy Client codestart for 3.8
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/rest-client-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-client-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-client-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-client-codestart/java/src/main/java/org/acme/MyRemoteService.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-client-codestart/kotlin/src/main/kotlin/org/acme/MyRemoteService.kt
  extensions/resteasy-classic/resteasy-client/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/resteasy, area/devtools

#39353 Allow config empty values in the Gradle worker
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusShowEffectiveConfig.java
Labels: area/gradle, area/devtools, triage/backport

#39349 Update gitflow-incremental-builder to 4.5.3
  pom.xml
Labels: triage/flaky-test

#39357 Migrate Security WebAuth config classes to @ConfigMapping
  extensions/security-webauthn/deployment/src/main/java/io/quarkus/security/webauthn/deployment/QuarkusSecurityWebAuthnProcessor.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnBuildTimeConfig.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnController.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnRecorder.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnRunTimeConfig.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnSecurity.java
Labels: area/security

#39317 Update SmallRye GraphQL to 2.8.0
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/pom.xml
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientFinalIndexBuildItem.java
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientMapTest.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientProgrammaticUsageWithClientModelTest.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLRecursionTest.java
  extensions/smallrye-graphql-client/runtime/pom.xml
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientBuildConfig.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/SmallRyeGraphQLClientRecorder.java
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/GraphQLFederationTracingTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/base/Foo.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/batch/Foo.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/complex/Bar.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/complex/Foo.java
  extensions/smallrye-graphql/runtime/pom.xml
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfig.java
  tcks/microprofile-graphql/src/main/resources/overrides/schemaTests.csv
Labels: area/smallrye, area/dependencies, area/graphql, triage/flaky-test

#39354 Add note about pre-matching filters execution model
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation, triage/backport

#39319 org.graalvm.js:js was renamed to org.graalvm.polyglot:js-community
  bom/application/pom.xml
  core/runtime/pom.xml
Labels: area/core, area/dependencies, triage/flaky-test, triage/backport

#38981 Don't provide empty paths when using a root prefix (backport to 3.2)
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ResourceLocatorTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorBaseResource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorSubresource.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/resource/ResourceLocatorSubresource2.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
Labels: area/resteasy-reactive

#39362 3.2.11 backports batch 1
  bom/application/pom.xml
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MessageBodyReaderTests.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/BuiltInReaderOverrideBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/AbstractMultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/FileInputWithDeleteTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/FileInputWithoutDeleteTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputBodyHandlerTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/PathInputWithDeleteTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/PathInputWithoutDeleteTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusServerFileBodyHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusServerPathBodyHandler.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/proxy/TrustedForwarderProxyTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/VoidMethodDecoratorTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/interceptor/VoidMethodInterceptorAndDecoratorTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/providers/serialisers/FileBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerRequestContext.java
  independent-projects/tools/pom.xml
Labels: area/arc, area/vertx, area/platform, area/kubernetes, area/dependencies, area/devtools, area/resteasy-reactive, area/agroal

#39383 Typo at OIDC Client Mutual TLS config properties
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle, triage/backport-3.2, triage/backport

#39370 Do not return on exact match when searching extensions
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ListExtensionsCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/QuarkusCommandHandlers.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/handlers/QuarkusCommandHandlersTest.java
Labels: area/platform, area/devtools, triage/flaky-test

#39326 Updates Infinispan to Protostream 5.0.1.Final
  bom/application/pom.xml
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/infinispan-client.adoc
  extensions/infinispan-client/runtime/pom.xml
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/Author.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/Book.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/BookStoreSchema.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/TestServlet.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/Type.java
Labels: area/documentation, area/infinispan, triage/waiting-for-ci, area/dependencies, triage/flaky-test

#39366 Update Kotlin to 1.9.23
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle/libs.versions.toml
  extensions/schema-registry/confluent/pom.xml
  independent-projects/arc/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  integration-tests/kafka-json-schema-apicurio2/pom.xml
Labels: area/gradle, area/arc, area/dependencies, area/devtools, triage/flaky-test

#39373 Add some guide metadata for REST extensions
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/rest-jaxb/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/rest-jsonb/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/resteasy-reactive/rest-qute/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/documentation, area/resteasy-reactive

#39377 Small doc adjustments for the Mailer guides
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/mailer.adoc
Labels: area/documentation

#39163 Update Runtime to provided.al2023 for amazon lambda http native
  extensions/amazon-lambda-http/deployment/src/main/resources/http/sam.native.yaml
Labels: area/amazon-lambda

#39367 Improve OIDC client reference document
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle

#39339 Simplify configuration based mapping of token roles to deployment-specific SecurityIdentity
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/PathMatchingHttpSecurityPolicyTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementRuntimeAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractHttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/ManagementInterfaceHttpAuthorizer.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/QuarkusHttpUser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/RolesAllowedHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/RolesMapping.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
Labels: area/documentation, area/vertx, triage/flaky-test, area/docstyle

#39352 Make Hibernate / Micrometer integration run after schema creation
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/metrics/HibernateOrmMetricsProcessor.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, triage/backport-3.8, triage/backport

#39252 Explicitly set all HTTP methods for Azure Functions
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/Function.java
Labels: triage/backport-3.8

#39294 Qute: add correct NativeImageResourceBuildItem for custom template root
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/templateroot/AdditionalTemplateRootTest.java
Labels: triage/waiting-for-ci, area/qute, triage/backport-3.8, triage/backport

#39302 Adds RemoteCache @InjectMock support in Infinispan
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  integration-tests/infinispan-client/pom.xml
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/BookService.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/TestServlet.java
  integration-tests/infinispan-client/src/test/java/io/quarkus/it/infinispan/client/MockInfinispanClientTest.java
Labels: area/documentation, area/core, area/infinispan, area/maven, area/resteasy, area/vertx, area/undertow, area/spring, area/platform, area/devtools, area/resteasy-reactive, triage/backport

#39412 Reduce message log level. From Backporting #38891
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
Labels: area/tracing

#39429 Dev UI: Info card now links to page
  extensions/info/deployment/src/main/java/io/quarkus/info/deployment/InfoDevUIProcessor.java
Labels: kind/enhancement, area/dev-ui

#39430 Fix misleading error message when REST Client interface has been indexed
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientProxies.java
Labels: area/rest-client, triage/waiting-for-ci, triage/backport-3.8, triage/backport

#39411 Fix typo in Building my first extension
  docs/src/main/asciidoc/building-my-first-extension.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-3.8, triage/backport

#39432 Fix OIDC DB token state validation when no reactive SQL client present
  extensions/oidc-db-token-state-manager/deployment/src/main/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerProcessor.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport

#39413 Refresh documentation (and some tests) of the Hibernate Search + ORM extension
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/AbstractDevUITest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/DevUIActiveFalseAndNamedPuActiveTrueTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/DevUIActiveFalseTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/DevUISmokeTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/MyIndexedEntity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/namedpu/MyNamedPuIndexedEntity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui-active-false-and-named-pu-active-true.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui-active-false.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui.properties
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
  integration-tests/devmode/pom.xml
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchSmokeTest.java
Labels: area/documentation, area/hibernate-search

#39402 ArC: fix creation of synthetic beans
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeanBuildItem.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SyntheticBeansProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/synthetic/SyntheticBeanBuildItemProxyTest.java
Labels: area/arc, triage/flaky-test, triage/backport-3.8, triage/backport

#39434 Qute: fix the NoRestartTemplatesDevModeTest on Windows
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
Labels: area/qute

#39435 Upgrade to SmallRye GraphQL 2.8.1
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/graphql, triage/flaky-test, triage/backport

#39437 Make sure the current project location isn't overridden by other modules with the same groupId and artifactId
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/duplicate-ga/module/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/duplicate-ga/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/duplicate-ga/test/case/pom.xml
Labels: area/devtools, triage/backport-3.8, triage/backport

#39426 Do not record active profile configuration name if a profile one exists
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/BuildTimeCustomConfigBuilder.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/RecorderRuntimeConfigTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestMappingRunTime.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/flaky-test

#39418 Use the value of project/default-codestart from the platform descriptor as the default codestart instead of a hardcoded value
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/base/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/base/src/main/resources/META-INF/resources/index.entry.qute.html
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/codestart.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/java/src/main/java/org/acme/{resource.class-name}.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/java/src/native-test/java/org/acme/{resource.class-name}IT.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/java/src/test/java/org/acme/{resource.class-name}Test.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/kotlin/src/main/kotlin/org/acme/{resource.class-name}.tpl.qute.kt
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/kotlin/src/native-test/kotlin/org/acme/{resource.class-name}IT.tpl.qute.kt
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/kotlin/src/test/kotlin/org/acme/{resource.class-name}Test.tpl.qute.kt
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/scala/src/main/scala/org/acme/{resource.class-name}.tpl.qute.scala
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/scala/src/native-test/scala/org/acme/{resource.class-name}IT.tpl.qute.scala
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalog.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInput.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/FakeExtensionCatalog.java
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalogTest.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport-3.8, triage/backport

#39386 Update to Brotli4J 1.16.0
  bom/application/pom.xml
  extensions/netty/runtime/pom.xml
Labels: area/dependencies, triage/flaky-test, triage/backport-3.8, triage/backport

#39389 Updates to Infinispan 15 release
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/flaky-test, triage/backport

#39444 Save regexp Pattern allocation on config name renaming
  core/runtime/src/main/java/io/quarkus/runtime/util/StringUtil.java
  core/runtime/src/test/java/io/quarkus/runtime/util/StringUtilTestCase.java
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/runtime/OidcClientFilterConfigFallbackInterceptor.java
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/runtime/OidcClientFilterConfigRelocateInterceptor.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/runtime/OidcClientReactiveFilterConfigFallbackInterceptor.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/runtime/OidcClientReactiveFilterConfigRelocateInterceptor.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveConfigFallbackInterceptor.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveConfigRelocateInterceptor.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/runtime/OidcTokenPropagationConfigFallbackInterceptor.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/runtime/OidcTokenPropagationConfigRelocateInterceptor.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveConfigFallbackInterceptor.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveConfigRelocateInterceptor.java
  extensions/resteasy-reactive/rest-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfigFallbackInterceptor.java
  extensions/resteasy-reactive/rest-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfigRelocateInterceptor.java
  extensions/resteasy-reactive/rest-csrf/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfigFallbackInterceptor.java
  extensions/resteasy-reactive/rest-csrf/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfigRelocateInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ReactiveMessagingConfigFallbackInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ReactiveMessagingConfigRelocateInterceptor.java
Labels: area/core, area/smallrye, area/reactive-messaging, area/oidc, area/resteasy-reactive, triage/backport

#39442 Exclude org.graalvm.polyglot:polyglot from graal-sdk
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, area/dependencies, triage/flaky-test, triage/backport-3.8, triage/backport

#39409 Reduce the allocation pressure on ConfigDiagnostic.unknownProperties
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
Labels: area/core, area/config, triage/flaky-test

#39448 3.9.0.CR2 backports 2
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  core/runtime/src/main/java/io/quarkus/runtime/util/StringUtil.java
  core/runtime/src/test/java/io/quarkus/runtime/util/StringUtilTestCase.java
  extensions/netty/runtime/pom.xml
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/runtime/OidcClientFilterConfigFallbackInterceptor.java
  extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/runtime/OidcClientFilterConfigRelocateInterceptor.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/runtime/OidcClientReactiveFilterConfigFallbackInterceptor.java
  extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/runtime/OidcClientReactiveFilterConfigRelocateInterceptor.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveConfigFallbackInterceptor.java
  extensions/oidc-token-propagation-reactive/runtime/src/main/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationReactiveConfigRelocateInterceptor.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/runtime/OidcTokenPropagationConfigFallbackInterceptor.java
  extensions/oidc-token-propagation/runtime/src/main/java/io/quarkus/oidc/token/propagation/runtime/OidcTokenPropagationConfigRelocateInterceptor.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveConfigFallbackInterceptor.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveConfigRelocateInterceptor.java
  extensions/resteasy-reactive/rest-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfigFallbackInterceptor.java
  extensions/resteasy-reactive/rest-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfigRelocateInterceptor.java
  extensions/resteasy-reactive/rest-csrf/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfigFallbackInterceptor.java
  extensions/resteasy-reactive/rest-csrf/runtime/src/main/java/io/quarkus/csrf/reactive/runtime/CsrfReactiveConfigRelocateInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ReactiveMessagingConfigFallbackInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ReactiveMessagingConfigRelocateInterceptor.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/duplicate-ga/module/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/duplicate-ga/pom.xml
  independent-projects/bootstrap/maven-resolver/src/test/resources/duplicate-ga/test/case/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/base/README.tpl.qute.md
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/base/src/main/resources/META-INF/resources/index.entry.qute.html
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/codestart.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/java/src/main/java/org/acme/{resource.class-name}.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/java/src/native-test/java/org/acme/{resource.class-name}IT.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/java/src/test/java/org/acme/{resource.class-name}Test.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/kotlin/src/main/kotlin/org/acme/{resource.class-name}.tpl.qute.kt
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/kotlin/src/native-test/kotlin/org/acme/{resource.class-name}IT.tpl.qute.kt
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/kotlin/src/test/kotlin/org/acme/{resource.class-name}Test.tpl.qute.kt
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/scala/src/main/scala/org/acme/{resource.class-name}.tpl.qute.scala
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/scala/src/native-test/scala/org/acme/{resource.class-name}IT.tpl.qute.scala
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/legacy-extensions-codestarts/resteasy-reactive-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalog.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInput.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartProjectInputBuilder.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/FakeExtensionCatalog.java
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalogTest.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
Labels: area/core, area/config, area/smallrye, area/infra, area/reactive-messaging, area/oidc, area/platform, area/dependencies, area/devtools, area/resteasy-reactive

#39445 Remove Quarkus REST deployment dependency from Vertx HTTP deployment
  extensions/vertx-http/deployment/pom.xml
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test, triage/backport

#39447 Save concat indy allocations on JarResource::getResourceURL
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
Labels: area/devtools, triage/flaky-test

#39406 Improve documentation for AMQP client options about setting a heartbeat
  docs/src/main/asciidoc/amqp-reference.adoc
Labels: area/documentation

#39459 Add key listeners to the log in Dev UI
  bom/dev-ui/pom.xml
  core/devmode-spi/src/main/java/io/quarkus/dev/console/DevConsoleManager.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/logstream/LogStreamProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/log-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-abstract-log-element.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-footer.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-jsonrpc-messages.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-server-log.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/logstream/LogStreamJsonRPCService.java
Labels: area/core, area/vertx, triage/waiting-for-ci, area/dependencies, triage/flaky-test

#39458 Enforce OIDC UserInfo acquisition and authorization code flow access token verification if UserInfo and JsonWebToken beans are injected
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResource.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UserInfoRequiredDetectionTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenOidcRecoveredTest.java
Labels: area/oidc

#39476 Fix the broken link to the OIDC client reference doc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, triage/backport-3.8, triage/backport

#39477 Adjust toggle names in OTel InstrumentBuildTimeConfig
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/instrumentation/InstrumentationProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/InstrumentBuildTimeConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/InstrumentBuildTimeConfigFallbackConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/InstrumentBuildTimeConfigRelocateConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptor
Labels: area/tracing, triage/backport

#39474 Use explicit jar reference instead of GAV to avoid duplicate log warning
  docs/src/main/asciidoc/cli-tooling.adoc
Labels: area/documentation, triage/backport-3.8, triage/backport

#39481 Push project version to RESTEasy Reactive TCK
  tcks/resteasy-reactive/pom.xml
Labels: area/resteasy-reactive

#39480 Fix security spi dependency on OTel
  extensions/opentelemetry/runtime/pom.xml
Labels: area/tracing, triage/backport

#39491 Ignore the split access and refresh token cookies for resolving the tenant
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
Labels: area/oidc, triage/backport-3.2, triage/backport-3.8, triage/backport

#39486 Improve OIDC named tenant-specific configuration exceptions and make sure userinfo/token verification is enforced for named tenants
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UserInfoRequiredDetectionTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenOidcRecoveredTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/oidc

#39470 Remove the old MetricBuildItem SPI
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MetricsFromExtensionDisabledTestCase.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MetricsFromExtensionTestCase.java
  extensions/smallrye-metrics/spi/src/main/java/io/quarkus/smallrye/metrics/deployment/spi/MetricBuildItem.java
Labels: area/smallrye, area/metrics, triage/backport-3.8, triage/backport

#39473 Upgrade to Jandex 3.1.7
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/platform, area/dependencies, area/devtools, triage/flaky-test

#39472 Update SmallRye Config to 3.7.0
  bom/application/pom.xml
  devtools/gradle/gradle/libs.versions.toml
Labels: area/gradle, area/dependencies, area/devtools, triage/flaky-test

#39471 Update to Vert.x 4.5.5
  bom/application/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/vertx, area/dependencies, triage/flaky-test, triage/backport-3.8, triage/backport

#39509 Update Flyway to 10.10.0
  bom/application/pom.xml
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayAlwaysEnabledProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/FlywayProcessor.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayCreator.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/QuarkusPathLocationScanner.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/graal/ScannerSubstitutions.java
  integration-tests/flyway/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/postgresql/pom.xml
  integration-tests/hibernate-orm-tenancy/schema/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
Labels: area/persistence, area/hibernate-orm, area/hibernate-search, area/dependencies, area/flyway, triage/flaky-test

#39487 Allow occasional pin events in ShouldNotPin
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/ShouldNotPin.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/internal/VirtualThreadExtension.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/LoomUnitExampleOnClassTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/LoomUnitExampleTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/TestPinJfrEvent.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/VirtualThreadExtensionTest.java
Labels: triage/waiting-for-ci

#39518 Migrate Elytron Security extensions from config classes to `@ConfigMapping`
  extensions/elytron-security-jdbc/deployment/src/main/java/io/quarkus/elytron/security/jdbc/deployment/ElytronSecurityJdbcProcessor.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/AttributeMappingConfig.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/BcryptPasswordKeyMapperConfig.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/ClearPasswordMapperConfig.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/JdbcRecorder.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/JdbcSecurityRealmBuildTimeConfig.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/JdbcSecurityRealmRuntimeConfig.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/PasswordKeyMapperConfig.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/PrincipalQueriesConfig.java
  extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/PrincipalQueryConfig.java
  extensions/elytron-security-ldap/deployment/src/main/java/io/quarkus/elytron/security/ldap/deployment/ElytronSecurityLdapProcessor.java
  extensions/elytron-security-ldap/deployment/src/main/java/io/quarkus/elytron/security/ldap/deployment/config/LdapSecurityRealmBuildTimeConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/LdapRecorder.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/AttributeMappingConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/DirContextConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/IdentityMappingConfig.java
  extensions/elytron-security-ldap/runtime/src/main/java/io/quarkus/elytron/security/ldap/config/LdapSecurityRealmRuntimeConfig.java
  extensions/elytron-security-oauth2/deployment/src/main/java/io/quarkus/elytron/security/oauth2/deployment/OAuth2DeploymentProcessor.java
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/OAuth2BuildTimeConfig.java
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/OAuth2Recorder.java
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/OAuth2RuntimeConfig.java
  extensions/elytron-security-properties-file/deployment/src/main/java/io/quarkus/elytron/security/properties/deployment/ElytronPropertiesProcessor.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronPropertiesFileRecorder.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/MPRealmConfig.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/MPRealmRuntimeConfig.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/PropertiesRealmConfig.java
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/SecurityUsersConfig.java
Labels: area/security

#39469 Easy way to add deployment methods in Dev UI
  docs/src/main/asciidoc/dev-ui.adoc
  extensions/kubernetes/openshift/deployment/src/main/java/io/quarkus/openshift/deployment/OpenshiftDevUIProcessor.java
  extensions/kubernetes/openshift/runtime/src/main/java/io/quarkus/openshift/runtime/devui/OpenshiftDeploymentJsonRpcService.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/devui/KubernetesDevUIProcessor.java
  extensions/kubernetes/vanilla/runtime/src/main/java/io/quarkus/kubernetes/runtime/devui/KubernetesManifestService.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DeploymentMethodBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/JsonRPCRuntimeMethodsBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/ide/IdeProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/logstream/LogStreamProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ConfigurationProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ContinuousTestingProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration-editor.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/buildtime/BuildTimeAction.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/buildtime/BuildTimeActionBuildItem.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/DevUIRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/comms/JsonRpcRouter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/config/ConfigJsonRPCService.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/continuoustesting/ContinuousTestingJsonRPCService.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/ide/IdeJsonRPCService.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/jsonrpc/JsonRpcRequest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/logstream/LogStreamJsonRPCService.java
Labels: area/documentation, area/vertx, area/kubernetes, triage/flaky-test

#39522 Fix typos in rest doc
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation

#39345 Isolate Avro schema code generation when using multiple schema files
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroCodeGenProviderBase.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroSchemaCodeGenProvider.java
Labels: triage/waiting-for-ci, triage/flaky-test, triage/backport-3.8, triage/backport

#39490 Updates to Schema programmatic API in Infinispan
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  integration-tests/infinispan-client/src/main/java/io/quarkus/it/infinispan/client/MarshallerConfiguration.java
Labels: area/documentation, area/infinispan

#39530 Update profile section in building-native-image.adoc
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation, triage/backport-3.8, triage/backport

#39531 Use SmallRye Commons Inet
  core/runtime/src/main/java/io/quarkus/runtime/configuration/InetAddressConverter.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/InetSocketAddressConverter.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/flaky-test

#39541 Update SmallRye Config to 3.7.1
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, triage/flaky-test

#39532 3.9.0 backports 1
  bom/application/pom.xml
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/rest.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroCodeGenProviderBase.java
  extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroSchemaCodeGenProvider.java
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/AbstractDevUITest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/DevUIActiveFalseAndNamedPuActiveTrueTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/DevUIActiveFalseTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/DevUISmokeTest.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/MyIndexedEntity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/java/io/quarkus/hibernate/search/orm/elasticsearch/test/devui/namedpu/MyNamedPuIndexedEntity.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui-active-false-and-named-pu-active-true.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui-active-false.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui.properties
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfigPersistenceUnit.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRuntimeConfigPersistenceUnit.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResource.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UserInfoRequiredDetectionTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/instrumentation/InstrumentationProcessor.java
  extensions/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/InstrumentBuildTimeConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/InstrumentBuildTimeConfigFallbackConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/InstrumentBuildTimeConfigRelocateConfigSourceInterceptor.java
  extensions/opentelemetry/runtime/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptor
  extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MetricsFromExtensionDisabledTestCase.java
  extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/test/MetricsFromExtensionTestCase.java
  extensions/smallrye-metrics/spi/src/main/java/io/quarkus/smallrye/metrics/deployment/spi/MetricBuildItem.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/ShouldNotPin.java
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/internal/VirtualThreadExtension.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/LoomUnitExampleOnClassTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/LoomUnitExampleTest.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/TestPinJfrEvent.java
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/VirtualThreadExtensionTest.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/devmode/pom.xml
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchActiveFalseTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateSearchSmokeTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenOidcRecoveredTest.java
Labels: area/documentation, area/smallrye, area/infra, area/vertx, area/oidc, area/hibernate-search, area/dependencies, area/devtools, area/tracing, area/metrics, triage/flaky-test

#39493 Fire SecurityEvent on Form authentication login success
  docs/src/main/asciidoc/security-customization.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FormBasicAuthHttpRootTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationEvent.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
Labels: area/documentation, area/vertx, triage/flaky-test

#39543 Enable proxy configuration for OpenTelemetry exporters
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterTracesConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OTelExporterRecorder.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpExporterProviderTest.java
Labels: area/tracing, triage/backport-3.8, triage/backport

#39483 Add ApplicationArchive.getResolvedDependency()
  core/deployment/src/main/java/io/quarkus/deployment/ApplicationArchive.java
  core/deployment/src/main/java/io/quarkus/deployment/ApplicationArchiveImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SplitPackageProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/FilteredClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/PathTreeClassPathElement.java
Labels: area/core, area/arc, area/devtools, triage/flaky-test

#39467 Fix codestarts compatibility with older CLI
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/base/src/main/resources/META-INF/resources/index.entry.qute.html
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/main/java/org/acme/{resource.class-name}.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/native-test/java/org/acme/{resource.class-name}IT.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/test/java/org/acme/{resource.class-name}Test.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/main/kotlin/org/acme/{resource.class-name}.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/native-test/kotlin/org/acme/{resource.class-name}IT.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/test/kotlin/org/acme/{resource.class-name}Test.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/main/scala/org/acme/{resource.class-name}.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/native-test/scala/org/acme/{resource.class-name}IT.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalog.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport-3.8, triage/backport

#39551 RestEasy Jackson test fails in certain time zones
  integration-tests/resteasy-jackson/src/test/java/io/quarkus/it/resteasy/jackson/GreetingResourceTest.java
Labels: area/resteasy

#39549 Make max parameters of multipart handling configurable
  extensions/resteasy-reactive/rest/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/ResteasyReactiveRuntimeRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ServerLimitsConfig.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultiPartParserDefinition.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FormBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/DefaultRuntimeConfiguration.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/RuntimeConfiguration.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/framework/ResteasyReactiveUnitTest.java
Labels: area/vertx, area/resteasy-reactive, triage/flaky-test, triage/backport

#39542 WebSockets Next: attempt to diagnose BroadcastOnOpenTest
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/BroadcastOnOpenTest.java
  extensions/websockets-next/server/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/LoMultiProduce.java
Labels: triage/flaky-test

#39382 Preserve POM format when extensions are added/removed
  devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java
  docs/pom.xml
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/maven-resolver/pom.xml
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/SmartPomMergeCodestartFileStrategyHandler.java
  independent-projects/tools/codestarts/src/test/resources/expected-pom-maven-merge.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/maven/utilities/MojoUtils.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateDefault/pom.xml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateMavenWithCustomDep/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtension/extensions_my-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateCoreExtensionFromExtensionsDir/extensions_my-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/dir-tree.snapshot
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_integration-tests_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_runtime_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_runtime_pom.xml
Labels: area/documentation, area/maven, area/platform, area/devtools, area/codestarts, triage/flaky-test, triage/backport-3.8, triage/backport

#39564 Fix Quarkus REST Jackson @SecureField detection on subclasses, interface implementors, fileds of the fields, parametrized types and arrays
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractNamedPet.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractPet.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractUnsecuredPet.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Cat.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Dog.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Frog.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/FrogBodyParts.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Pond.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SecuredPersonInterface.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/UnsecuredPet.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Veterinarian.java
Labels: area/resteasy-reactive

#39574 Add a section about openapi filters in the doc
  docs/src/main/asciidoc/openapi-swaggerui.adoc
Labels: area/documentation

#39573 Small Dev UI documentation update
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation

#39572 Remove mvnpm and webjars from the 404 page
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ResourceNotFoundHandler.java
Labels: area/vertx, triage/flaky-test

#39552 Fix formatter-maven-plugin build cache misses
  independent-projects/ide-config/pom.xml
Labels: area/maven, triage/flaky-test

#39484 WebSockets Next: add basic Dev UI
  extensions/websockets-next/server/deployment/src/main/java/io/quarkus/websockets/next/deployment/GeneratedEndpointBuildItem.java
  extensions/websockets-next/server/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketServerProcessor.java
  extensions/websockets-next/server/deployment/src/main/java/io/quarkus/websockets/next/deployment/devui/WebSocketServerDevUIProcessor.java
  extensions/websockets-next/server/deployment/src/main/resources/dev-ui/qwc-wsn-endpoints.js
  extensions/websockets-next/server/runtime/pom.xml
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnection.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/ConnectionManager.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
  extensions/websockets-next/server/runtime/src/main/java/io/quarkus/websockets/next/runtime/devui/WebSocketNextJsonRPCService.java
  extensions/websockets-next/server/runtime/src/test/java/io/quarkus/websockets/next/runtime/devui/WebSocketNextJsonRPCServiceTest.java
Labels: area/dev-ui, triage/flaky-test

#39560 3.9.0 backports 2
  bom/application/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/configuration/InetAddressConverter.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/InetSocketAddressConverter.java
  devtools/gradle/gradle/libs.versions.toml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/base/src/main/resources/META-INF/resources/index.entry.qute.html
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/main/java/org/acme/{resource.class-name}.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/native-test/java/org/acme/{resource.class-name}IT.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/java/src/test/java/org/acme/{resource.class-name}Test.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/main/kotlin/org/acme/{resource.class-name}.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/native-test/kotlin/org/acme/{resource.class-name}IT.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/kotlin/src/test/kotlin/org/acme/{resource.class-name}Test.tpl.qute.kt
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/main/scala/org/acme/{resource.class-name}.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/native-test/scala/org/acme/{resource.class-name}IT.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  docs/src/main/asciidoc/building-native-image.adoc
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterTracesConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OTelExporterRecorder.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpExporterProviderTest.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartCatalog.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java
Labels: area/documentation, area/gradle, area/core, area/config, area/infra, area/platform, area/dependencies, area/devtools, area/tracing, triage/flaky-test

#39363 Initial version of the WebSocket Next documentation
  docs/src/main/asciidoc/images/websockets-next-architecture.png
  docs/src/main/asciidoc/images/websockets-next-chat.png
  docs/src/main/asciidoc/websockets-next-reference.adoc
  docs/src/main/asciidoc/websockets-next-tutorial.adoc
Labels: area/documentation

#39580 Fix directory name in vertx.adoc
  docs/src/main/asciidoc/vertx.adoc
Labels: area/documentation, triage/backport-3.2, triage/backport-3.8, triage/backport
