Repository quarkusio/quarkus, pull requests merged in 2024-05, with the labels that each got.

#40385 Don't close connection if response is sent
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: triage/waiting-for-ci

#40389 do not conflate quickstarts with codestarts
  docs/src/main/asciidoc/extension-codestart.adoc
Labels: area/documentation

#40384 Allow ClassLoader to return multiple resources
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/CachingPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilteredPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/MultiRootPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/SharedArchivePathTree.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/PathTreeClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  integration-tests/test-extension/tests/src/main/resources/io/quarkus/it/extension/my_resource.txt
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/ClassLoaderTest.java
Labels: area/devtools, triage/flaky-test, triage/backport-3.8, triage/backport

#40407 Dev UI: Small cosmetic update to Web depenendency locator screen
  extensions/web-dependency-locator/deployment/src/main/resources/dev-ui/qwc-web-dependency-locator-libraries.js
Labels: area/dev-ui, triage/backport

#40400 Fix multi rooted path tree scanning in the Qute processor
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathVisit.java
Labels: area/qute, area/devtools, triage/backport-3.8, triage/backport-3.9, triage/backport

#40411 Qute: add integration test for test templates
  integration-tests/qute/pom.xml
  integration-tests/qute/src/test/java/io/quarkus/it/qute/HiResource.java
  integration-tests/qute/src/test/java/io/quarkus/it/qute/QuteTestCase.java
  integration-tests/qute/src/test/resources/templates/hi.txt
Labels: triage/waiting-for-ci, area/qute

#40383 Avoid classes with incomplete hierarchy in Hibernate Validator
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/ClassHierarchyTest.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder.java
Labels: area/hibernate-validator, triage/backport-3.8, triage/backport

#40426 Add more clarity around code-block in Dev UI Docs
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation

#40408 Quarkus REST - reuse CDI request context if it exists
  extensions/resteasy-reactive/rest-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ArcThreadSetupAction.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/spi/ThreadSetupAction.java
  integration-tests/openapi/pom.xml
  integration-tests/openapi/src/main/java/io/quarkus/it/openapi/security/TestSecurityResource.java
  integration-tests/openapi/src/test/java/io/quarkus/it/openapi/security/TestSecurityReactiveRoutesTest.java
Labels: area/resteasy-reactive, triage/flaky-test

#40392 Classloader improvements: introducing quarkus-classloader-commons and benchmarking infrastructure
  core/deployment/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/GeneratedClassGizmoAdaptor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/ReloadableFileManager.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexWrapper.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/AdditionalClassLoaderResourcesBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/BannerProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassTransformingBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/util/IoUtil.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/BannerProcessorTest.java
  core/deployment/src/test/java/io/quarkus/deployment/util/JandexUtilTest.java
  core/runtime/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/scan/QuarkusScanner.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TypeInfosTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TypesTest.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/FilterClassIntrospector.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/MessageBodyWriterTransformerUtils.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/IllegalClassExceptionMapper.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/rolesallowed/ConfigExpressionDetectionTest.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/ReflectiveClassForValueSerializerPayloadTest.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/DefaultSchemaConfigTest.java
  extensions/spring-boot-properties/deployment/src/main/java/io/quarkus/spring/boot/properties/deployment/ConfigPropertyBuildItemCandidateUtil.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/MethodNameParserTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/bcextensions/ExtensionInvoker.java
  independent-projects/bootstrap/benchmarks/pom.xml
  independent-projects/bootstrap/benchmarks/src/main/java/io/quarkus/commons/benchmarks/BenchmarkClassnameToResourceName.java
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/classloader-commons/pom.xml
  independent-projects/bootstrap/classloader-commons/src/main/java/io/quarkus/commons/classloading/ClassloadHelper.java
  independent-projects/bootstrap/classloader-commons/src/test/java/io/quarkus/commons/classloading/ClassloadHelperTest.java
  independent-projects/bootstrap/core/pom.xml
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/bootstrap/maven-resolver/pom.xml
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptions.java
  independent-projects/bootstrap/pom.xml
  independent-projects/bootstrap/runner/pom.xml
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/maven/utilities/MojoUtils.java
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: kind/enhancement, area/persistence, area/core, area/arc, area/security, area/smallrye, area/testing, area/reactive-messaging, area/hibernate-orm, area/spring, area/platform, area/qute, area/devtools, area/resteasy-reactive, triage/flaky-test

#40437 Check whether outputDirectory is the root of the file system before using its parent
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/smallrye, area/openapi

#40428 Add test security attribute type handling
  docs/src/main/asciidoc/security-testing.adoc
  integration-tests/elytron-resteasy/src/test/java/io/quarkus/it/resteasy/elytron/TestSecurityTestCase.java
  test-framework/security/pom.xml
  test-framework/security/src/main/java/io/quarkus/test/security/AttributeType.java
  test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java
  test-framework/security/src/main/java/io/quarkus/test/security/SecurityAttribute.java
Labels: area/documentation, area/security, area/resteasy, area/testing

#40456 Do not require UserInfo when its injection point is detected for OIDC tenants without the UserInfo endpoint
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UserInfoRequiredDetectionTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
Labels: area/oidc, triage/backport

#40442 Fix DisableLoggingFeature for JBoss Threads/Hibernate/Infinispan/Websocket-client
  core/runtime/src/main/java/io/quarkus/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-envers/runtime/src/main/java/io/quarkus/hibernate/envers/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/DisableLoggingFeature.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/graal/DisableLoggingFeature.java
  extensions/websockets/client/runtime/src/main/java/io/quarkus/websockets/client/runtime/DisableLoggingFeature.java
Labels: area/persistence, area/core, area/infinispan, area/hibernate-validator, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-search, area/websockets, triage/flaky-test, triage/backport-3.8, triage/backport

#40454 Ignore non-HTTP_2 requests
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
Labels: area/grpc

#40467 Add note for default HTTP host in WSL
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
Labels: area/vertx, triage/flaky-test

#40457 Build SecurityEventHelper lazily inside SecurityConstrainer as when static methods are secured the static interceptor is initialized during static init
  extensions/security/deployment/src/test/java/io/quarkus/security/test/rolesallowed/RolesAllowedExpressionTest.java
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/SecurityEventHelper.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/SecurityConstrainer.java
Labels: area/security, triage/backport-3.8, triage/backport

#40441 Arc - copy over annotations when transforming intercepted static methods
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/staticmethods/InterceptedStaticMethodsProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/interceptor/staticmethods/InterceptedStaticMethodTest.java
Labels: area/arc, triage/waiting-for-ci

#40484 Fix test issue
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devui/DevUIRemoteCorsTest.java
Labels: area/vertx

#40481 Initial version of Dev UI Dependencies menu item
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/DependenciesProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-dependencies.js
Labels: area/vertx, triage/flaky-test

#40487 Label WebSocket Next as Experimental in Documentation
  docs/src/main/asciidoc/websockets-next-reference.adoc
  docs/src/main/asciidoc/websockets-next-tutorial.adoc
Labels: area/documentation

#40485 WebSockets Next: add test for virtual threads
  extensions/websockets-next/deployment/pom.xml
  extensions/websockets-next/deployment/src/test/java21/io/quarkus/websockets/next/test/virtualthreads/RunOnVirtualThreadTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/BinaryMessageCodec.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/TextMessageCodec.java
Labels: triage/flaky-test, area/virtual-threads

#39194 Remove ProfileManager
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  core/runtime/src/main/java/io/quarkus/runtime/LaunchMode.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ProfileManager.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/QuarkusConfigBuilderCustomizer.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/GrpcServerReloader.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxEventBusConsumerRecorder.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ProfileManagerITCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/ProfileManagerTestCase.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/BasicLoggingEnabler.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/core, area/config, area/maven, area/vertx, area/testing, area/grpc, triage/flaky-test

#40486 Add Warning Log for 503 Responses Due to Thread Pool Exhaustion
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
Labels: area/vertx

#40522 Add `@Encoded` test in rest-client-jackson
  extensions/resteasy-reactive/rest-client-jackson/deployment/src/test/java/io/quarkus/rest/client/reactive/jackson/test/EncodedParamTest.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#40498 Upgrade to Jandex 3.1.8
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/platform, area/dependencies, area/devtools, triage/flaky-test

#40246 Don't log connection closed exceptions as ERROR in websockets-next
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
Labels: triage/backport

#40523 Update docs to make it easy to see that the code flow access token fails, update tests
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowVerifyInjectedAccessTokenDisabledTest.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProtectedResourceWithJwtAccessToken.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UserInfoRequiredDetectionTest.java
  extensions/oidc/deployment/src/test/resources/application-verify-injected-access-token-disabled.properties
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
Labels: area/documentation, area/oidc, area/docstyle, triage/backport

#40545 WebSockets Next: support close status code/reason
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/CloseReasonCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketDotNames.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/args/OnOpenInvalidArgumentTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/closereason/ClientCloseReasonTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/closereason/ServerCloseReasonTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/BasicWebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/CloseReason.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/OnClose.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketClientConnection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorBase.java
Labels: area/documentation

#40440 Fix possible NPE from resource loading
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/PathTreeClassPathElement.java
Labels: area/devtools, triage/flaky-test, triage/backport-3.8, triage/backport

#40448 Avoid "Failed to index" warnings produced during @SecureField annotation detection
  docs/src/main/asciidoc/rest.adoc
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/ResponseType.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SecureFieldDetectionTest.java
Labels: area/documentation, area/resteasy-reactive

#40537 Bump OpenJDK images to 1.19
  extensions/container-image/container-image-docker/deployment/src/test/java/io/quarkus/container/image/docker/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-17-runtime
  extensions/container-image/container-image-docker/deployment/src/test/resources/openjdk-21-runtime
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/ContainerImageJibConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/ContainerImageOpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy-deploymentconfig/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/maven/src/test/resources-filtered/projects/codegen-config-factory/app/src/main/docker/Dockerfile.jvm
  integration-tests/maven/src/test/resources-filtered/projects/codegen-config-factory/app/src/main/docker/Dockerfile.legacy-jar
Labels: area/maven, area/platform, area/kubernetes, area/devtools, triage/flaky-test, triage/backport-3.8, triage/backport

#40500 Do not record profile parent configuration in the active profile
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/QuarkusConfigBuilderCustomizer.java
Labels: area/core, area/config

#39419 Fixed concurrency bug in StartupContext
  core/runtime/src/main/java/io/quarkus/runtime/StartupContext.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#40556 Enroll gastaldi in the lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#40541 Bump quarkiverse-parent to 16 and maven-compiler-plugin to 3.13.0
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
Labels: area/maven, area/platform, area/devtools, triage/flaky-test, triage/backport-3.8, triage/backport

#40549 Overcome 'String too large to record' issue with Truffle
  core/deployment/src/main/java/io/quarkus/deployment/steps/ClassPathSystemPropBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ClassPathSystemPropertyRecorder.java
Labels: area/core, triage/flaky-test, triage/backport-3.8, triage/backport

#40516 Always record original default values
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  integration-tests/test-extension/extension/deployment/src/main/resources/application.properties
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/RuntimeDefaultsTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestMappingRunTime.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestRunTimeConfig.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/flaky-test

#40552 Fix Flyway & SQL Server native compilation
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/graal/SQLServerDatabaseTypeSubstitutions.java
Labels: area/flyway, triage/backport

#40558 Avoid using the same directory twice in Maven ITs
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateJBangProjectMojoIT.java
Labels: area/maven, area/jbang, triage/backport

#40337 Only set `quarkus.http.host` as a default if not available
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpHostConfigSource.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxConfigBuilder.java
Labels: area/vertx, triage/backport

#40539 Support for OIDC session expired page
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/docstyle

#40557 More classloaders cleanup
  core/deployment/src/main/java/io/quarkus/deployment/util/IoUtil.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/JarClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/core, area/devtools, triage/flaky-test

#40508 Micrometer performance improvements on the vert.x package
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxEventBusMetricsTest.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RestClientMetricsFilter.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/NetworkMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxEventBusMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxNetworkMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxUdpMetrics.java
Labels: area/metrics, triage/flaky-test

#40524 Fix configuration table filter and row collapse/expansion in guides
  docs/src/main/asciidoc/javascript/config.js
Labels: area/documentation, triage/backport-3.8, triage/backport

#40578 Bump smallrye-jwt version to 4.5.2
  bom/application/pom.xml
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation, area/dependencies

#40564 Remove deprecated classloader helpers
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
  core/deployment/src/test/java/io/quarkus/runner/classloading/DirectoryClassPathElementTestCase.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/DirectoryClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/JarClassPathElement.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/classloader/ClassLoadingInterruptTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/classloader/ClassLoadingResourceUrlTestCase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/classloader/MultiReleaseJarTestCase.java
Labels: area/core, area/devtools, triage/flaky-test

#40192 Allow Panache bytecode enhancers to benefit from class transformers caches
  extensions/panache/panache-hibernate-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheHibernateCommonResourceProcessor.java
Labels: area/panache, area/hibernate-orm, triage/flaky-test

#40586 Messaging entry point guide page
  docs/src/main/asciidoc/images/messaging-quarkus.png
  docs/src/main/asciidoc/messaging.adoc
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/HealthCenterFilter.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/HealthCenterFilterConfig.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/HealthCenterInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/kafka-oauth-keycloak/pom.xml
  integration-tests/reactive-messaging-rabbitmq/src/main/resources/application.properties
  integration-tests/reactive-messaging-rabbitmq/src/test/java/io/quarkus/it/rabbitmq/RabbitMQConnectorTest.java
Labels: area/documentation, area/smallrye, area/reactive-messaging, triage/flaky-test, triage/backport

#40593 Update to SmallRye GraphQL 2.8.4
  bom/application/pom.xml
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientFinalIndexBuildItem.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLRecursionTest.java
Labels: area/smallrye, area/dependencies, area/graphql, triage/flaky-test

#40594 Add an 'march' property to native configuration
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/TestNativeConfig.java
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, area/core

#40584 Bump com.fasterxml.jackson:jackson-bom from 2.17.0 to 2.17.1
  bom/application/pom.xml
  extensions/jackson/deployment/src/test/java/io/quarkus/jackson/deployment/JacksonDefaultPoolTest.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/VertxHybridPoolObjectMapperCustomizer.java
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, area/jackson, triage/flaky-test

#40595 Updates to Infinispan 15.0.3.Final
  bom/application/pom.xml
  docs/src/main/asciidoc/infinispan-client-reference.adoc
Labels: area/documentation, area/dependencies, triage/backport

#40045 Bump kubernetes-client-bom from 6.11.0 to 6.12.1
  pom.xml
Labels: triage/waiting-for-ci, area/kubernetes, triage/flaky-test

#40604 Fix pulsar doc misnamed variable, replace enableRetry with retryEnable
  docs/src/main/asciidoc/pulsar.adoc
Labels: area/documentation, area/platform, area/dependencies, area/devtools, area/jackson, triage/backport-3.8, triage/backport

#40603 Add configuration option for liquibase.allowDuplicatedChangesetIdentifiers
  core/runtime/src/main/java/io/quarkus/runtime/ResettableSystemProperties.java
  core/runtime/src/test/java/io/quarkus/runtime/ResettableSystemPropertiesTest.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/LiquibaseFactory.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseConfig.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseCreator.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseDataSourceRuntimeConfig.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
Labels: area/core, area/liquibase, triage/flaky-test

#40626 WebSockets Next: improve HandshakeRequest and header constants javadoc
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/HandshakeRequest.java
Labels: triage/waiting-for-ci

#40365 Add a temporary config property to allow multiple resources
  docs/src/main/asciidoc/datasource.adoc
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerBuildTimeConfig.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/graal/DisableLoggingFeature.java
Labels: area/documentation, area/narayana, triage/flaky-test, area/docstyle, triage/backport-3.8, triage/backport

#40596 Make parseVCSUri less brittle
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
Labels: area/kubernetes, triage/backport-3.2, triage/backport-3.8, triage/backport

#40627 Polish code with ResettableSystemProperties
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/QuarkusHttpClientFactory.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/VertxSpringCloudConfigGateway.java
Labels: area/spring, area/kubernetes

#40624 Honor -DquicklyDocs in junit5-virtual-threads
  independent-projects/junit5-virtual-threads/pom.xml
Labels: area/virtual-threads

#40618 ArC: custom context can get CurrentContextFactory during instantiation
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/context/optimized/OptimizeContextsAutoTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/context/optimized/OptimizeContextsDisabledTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketSessionContext.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ContextConfigurator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ComponentsProvider.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ContextCreator.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/context/CustomContextTest.java
Labels: area/arc, triage/waiting-for-ci

#40620 ArC: initial documentation of CDI pitfalls with reactive programming
  docs/src/main/asciidoc/cdi-reference.adoc
Labels: area/documentation

#40630 Reviewed some Quarkus core classes
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/FieldsHelper.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/PropertyUtils.java
  core/deployment/src/main/java/io/quarkus/deployment/recording/RecordingAnnotationsUtil.java
Labels: area/core, triage/flaky-test

#40633 [3.8] 3.8.5 backports 1
  core/runtime/src/main/java/io/quarkus/runtime/graal/DisableLoggingFeature.java
  devtools/cli/distribution/jreleaser-maintenance.yml
  devtools/cli/distribution/jreleaser-preview.yml
  devtools/cli/distribution/jreleaser.yml
  docs/src/main/asciidoc/cassandra.adoc
  docs/src/main/asciidoc/config-yaml.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/javascript/config.js
  docs/src/main/asciidoc/kafka.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/pulsar.adoc
  docs/src/main/asciidoc/rest-client-reactive.adoc
  extensions/hibernate-envers/runtime/src/main/java/io/quarkus/hibernate/envers/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/graal/DisableLoggingFeature.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/DisableLoggingFeature.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/graal/DisableLoggingFeature.java
  extensions/logging-json/runtime/src/main/java/io/quarkus/logging/json/runtime/AdditionalFieldConfig.java
  extensions/websockets/client/runtime/src/main/java/io/quarkus/websockets/client/runtime/DisableLoggingFeature.java
Labels: area/documentation, area/persistence, area/core, area/infinispan, area/logging, area/infra, area/hibernate-validator, area/hibernate-orm, area/hibernate-search, area/devtools, area/cli, area/websockets, area/docstyle

#40634 [3.10] 3.10.1 backports 2
  bom/application/pom.xml
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/images/messaging-quarkus.png
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/javascript/config.js
  docs/src/main/asciidoc/messaging.adoc
  docs/src/main/asciidoc/pulsar.adoc
  docs/src/main/asciidoc/security-jwt.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaRecorder.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerBuildTimeConfig.java
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/graal/DisableLoggingFeature.java
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientFinalIndexBuildItem.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLRecursionTest.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingDotNames.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/HealthCenterFilter.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/HealthCenterFilterConfig.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/HealthCenterInterceptor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  integration-tests/kafka-oauth-keycloak/pom.xml
  integration-tests/reactive-messaging-rabbitmq/src/main/resources/application.properties
  integration-tests/reactive-messaging-rabbitmq/src/test/java/io/quarkus/it/rabbitmq/RabbitMQConnectorTest.java
Labels: area/documentation, area/core, area/config, area/smallrye, area/infra, area/reactive-messaging, area/narayana, area/kubernetes, area/dependencies, area/graphql, triage/flaky-test, area/docstyle

#40615 Dev UI: Replaced internal components with Qomponent
  bom/dev-ui/pom.xml
  docs/src/main/asciidoc/dev-ui.adoc
  extensions/info/deployment/src/main/resources/dev-ui/qwc-info.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/RelocationImportMapBuildItem.java
  extensions/vertx-http/dev-ui-resources/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-alert.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-badge.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-card.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration-editor.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-continuous-testing.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-data-raw-page.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-dev-services.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension-link.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-external-page.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-server-log.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/MvnpmHandler.java
Labels: area/documentation, area/vertx, area/dependencies, triage/flaky-test

#40653 Fix List form handling in REST Client bean params
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/FormListTest.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/BeanParamParser.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/FormParamItem.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-3.10, triage/backport

#40652 Fix QuarkusProdModeTest mistaking Hibernate ORM logs for a proof of application startup
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
  test-framework/junit5-internal/src/test/java/io/quarkus/test/QuarkusProdModeTestConfusingLogTest.java
Labels: triage/waiting-for-ci, area/testing, triage/flaky-test, triage/backport-3.2, triage/backport-3.8, triage/backport-3.10, triage/backport

#40661 QuarkusUnitTest: clear test method invokers to avoid QuarkusCL leaks
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
Labels: area/testing, triage/flaky-test

#40665 Workaround unknown SecureRandom strong algorithm with OpenJDK17 & RHEL & BCFIPS provider when run in FIPS-enabled environment
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityProviderRecorder.java
Labels: area/security

#40601 Test framework: Use JBoss Marshalling cloner
  bom/application/pom.xml
  test-framework/junit5/pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomListConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapEntryConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomSetConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/NewSerializingDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/SerializationDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/SerializationWithXStreamFallbackDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/TestInfoImpl.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
Labels: area/testing, area/dependencies, triage/flaky-test

#40474 Upgrade to Hibernate ORM 6.5.1 and configure Hibernate ORM/Reactive with database product names instead of dialect names for core dialects
  bom/application/pom.xml
  extensions/hibernate-orm/deployment-spi/src/main/java/io/quarkus/hibernate/orm/deployment/spi/DatabaseKindDialectBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateLogFilterBuildStep.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/Dialects.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  integration-tests/jpa-postgresql/src/test/java/io/quarkus/it/jpa/postgresql/HibernateOrmNoWarningsTest.java
Labels: area/persistence, area/hibernate-orm, area/dependencies, area/hibernate-reactive, triage/flaky-test

#40655 WebSockets Next: provide strategies to process unhandled failures
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ClientMessageErrorEndpoint.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ClientOpenErrorEndpoint.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ServerEndpoint.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/UnhandledMessageFailureDefaultStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/UnhandledMessageFailureLogStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/UnhandledOpenFailureDefaultStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/UnhandledOpenFailureLogStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/EchoMessageError.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/EchoOpenError.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/UnhandledMessageFailureDefaultStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/UnhandledMessageFailureLogStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/UnhandledOpenFailureDefaultStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/UnhandledOpenFailureLogStrategyTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/utils/WSClient.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/CloseReason.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/UnhandledFailureStrategy.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketClientConnection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsClientRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketsServerRuntimeConfig.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
Labels: area/documentation

#40662 Bump Keycloak version to 24.0.4
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/oidc/deployment/src/main/resources/dev-service/upconfig.json
  integration-tests/keycloak-authorization/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-token-propagation/src/test/java/io/quarkus/it/keycloak/OidcTokenPropagationTest.java
  integration-tests/oidc/src/main/resources/upconfig.json
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/KeycloakXTestResourceLifecycleManager.java
Labels: area/documentation, area/oidc, area/dependencies, area/keycloak, triage/flaky-test

#40656 Dev UI: update build metrics data after live reload
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/build/BuildMetricsDevUIController.java
Labels: area/vertx, triage/flaky-test

#40681 Set correct config key when performing a native build from Gradle
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
Labels: area/devtools, area/cli, triage/backport-3.10, triage/backport

#40640 Fix pathname encoding in the component test library
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
Labels: area/testing

#40683 Show how to handle multiple OIDC token audiences
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowVerifyIdAndAccessTokenResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/testing

#40685 Fix OIDC ID token verification failure message
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
Labels: area/oidc, triage/backport-3.10, triage/backport

#40466 Support OpenTelemetry End User attributes added as Span attributes
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/TracesBuildConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/security/EndUserSpanProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/security/SecurityEventUtil.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/CustomSecurityIdentityAugmentor.java
  integration-tests/opentelemetry-reactive/src/main/java/io/quarkus/it/opentelemetry/reactive/EndUserResource.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/enduser/AbstractEndUserTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/enduser/EagerAuthEndUserEnabledTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/enduser/EndUserProfile.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/enduser/LazyAuthEndUserEnabledTest.java
  integration-tests/opentelemetry-reactive/src/test/java/io/quarkus/it/opentelemetry/reactive/enduser/LazyAuthEndUserProfile.java
  integration-tests/opentelemetry/pom.xml
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/CustomSecurityIdentityAugmentor.java
  integration-tests/opentelemetry/src/main/java/io/quarkus/it/opentelemetry/EndUserResource.java
  integration-tests/opentelemetry/src/main/resources/application.properties
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/AbstractEndUserTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/EagerAuthEndUserEnabledTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/LazyAuthEndUserEnabledTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTest.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/util/EndUserProfile.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/util/LazyAuthEndUserProfile.java
Labels: area/documentation, area/tracing

#39228 Error when conflicting Deployment due to label selector version
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/Constants.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
Labels: area/kubernetes

#40678 [3.10] Mention Bootstrap instead of jQuery in doc
  docs/src/main/asciidoc/http-reference.adoc
Labels: area/documentation

#40694 Adjust sync-web-site.sh for branch renaming of quarkusio repo
  docs/sync-web-site.sh
Labels: area/documentation

#40680 Multiple Hibernate ORM multitenancy fixes
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/DataSourceTenantConnectionResolver.java
Labels: area/documentation, area/persistence, area/hibernate-orm, triage/flaky-test

#40660 [3.10] Always record original default values
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  integration-tests/test-extension/extension/deployment/src/main/resources/application.properties
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/RuntimeDefaultsTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestMappingRunTime.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestRunTimeConfig.java
Labels: area/core, area/config, triage/flaky-test

#40682 Allow to asynchronously notify extensions of no-restart changes
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
Labels: area/core, triage/flaky-test, triage/backport

#40673 Azure Functions HTTP: use utf-8 instead of default charset decoding request
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFunction.java
Labels: triage/waiting-for-ci, triage/backport-3.8, triage/backport-3.10, triage/backport

#40600 Introduce OidcRedirectFilter
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcRedirectFilter.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/GlobalOidcRedirectFilter.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/SessionExpiredOidcRedirectFilter.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantRefresh.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/docstyle

#40706 Improve documentation about `@RegisterForReflection`
  docs/src/main/asciidoc/amqp.adoc
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/mongodb.adoc
  docs/src/main/asciidoc/qute-reference.adoc
  docs/src/main/asciidoc/rabbitmq.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
Labels: area/documentation, area/docstyle, triage/backport

#40696 WebSockets Next: always use the managed Vertx instance in tests
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ArcRecorder.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/EchoWebSocketTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/BroadcastConnectionTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/BroadcastOnMessageTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/broadcast/BroadcastOnOpenTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/codec/BinaryCodecTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/codec/CustomCodecTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/codec/DefaultTextCodecTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/codec/TextInputCodecTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/codec/TextOutputCodecTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/subsocket/SubWebSocketTest.java
Labels: area/arc, area/vertx, triage/waiting-for-ci, triage/flaky-test

#40712 Load workspace modules in parallel
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
Labels: area/devtools, triage/flaky-test, triage/backport

#40695 Replace Buffer.toJson with Buffer.toJsonValue
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveJsonCommandsImpl.java
Labels: area/redis

#40698 Reinitialize shaded `com.google.protobuf.UnsafeUtil` class
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/runtime/src/main/java/io/smallrye/reactive/kafka/graal/KafkaSubstitutions.java
Labels: area/kafka

#40721 Allow the of @Blocking on @ClientExceptionMapper
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/backport-3.8, triage/backport

#40718 Make error message thrown when Quarkus REST and RESTEasy Classic are combined user-friendly again
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/UserFriendlyQuarkusRESTCapabilityCombinationTest.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/DefaultSecurityCheckBuildItem.java
Labels: area/security, area/resteasy, triage/flaky-test, triage/backport-3.8, triage/backport-3.10, triage/backport

#40720 Fix issue with Liquibase and H2 database
  extensions/jdbc/jdbc-h2/runtime/pom.xml
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
Labels: area/persistence, area/liquibase

#40674 Upgrade to Hibernate ORM 6.5.2
  bom/application/pom.xml
  integration-tests/jpa-postgresql/src/test/java/io/quarkus/it/jpa/postgresql/HibernateOrmNoWarningsTest.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, triage/flaky-test

#40675 [3.11] Backport to 3.11: Upgrade to Hibernate ORM 6.5.2 and configure Hibernate ORM/Reactive with database product names instead of dialect names for core dialects
  bom/application/pom.xml
  extensions/hibernate-orm/deployment-spi/src/main/java/io/quarkus/hibernate/orm/deployment/spi/DatabaseKindDialectBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateLogFilterBuildStep.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/Dialects.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, area/hibernate-reactive, triage/flaky-test

#40704 Fix XA support for Oracle in native
  docs/src/main/asciidoc/datasource.adoc
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleNativeImage.java
  extensions/jdbc/jdbc-oracle/runtime/src/main/java/io/quarkus/jdbc/oracle/runtime/graal/OracleReflections.java
Labels: area/documentation, area/persistence, area/hibernate-orm, area/docstyle, triage/backport-3.8, triage/backport-3.10, triage/backport

#40764 Update kafka strimzi and redpanda images
  docs/src/main/asciidoc/kafka-dev-services.adoc
  docs/src/main/asciidoc/kafka-getting-started.adoc
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
  docs/src/main/asciidoc/kafka-schema-registry-json-schema.adoc
  docs/src/main/asciidoc/kafka-streams.adoc
  docs/src/main/asciidoc/kafka.adoc
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
  integration-tests/kafka-oauth-keycloak/src/test/java/io/quarkus/it/kafka/KafkaKeycloakTestResource.java
Labels: area/documentation, area/kafka, triage/flaky-test

#40741 Avoid StringIndexOutOfBoundsException in KafkaRuntimeConfigProducer
  extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRuntimeConfigProducer.java
Labels: area/kafka, triage/backport-3.8, triage/backport-3.10, triage/backport

#40746 [3.10] 3.10.2 backports 1
  bom/application/pom.xml
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  docs/sync-web-site.sh
  extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFunction.java
  extensions/jdbc/jdbc-h2/runtime/pom.xml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kafka-client/runtime/src/main/java/io/smallrye/reactive/kafka/graal/KafkaSubstitutions.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/resteasy-classic/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/UserFriendlyQuarkusRESTCapabilityCombinationTest.java
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/FormListTest.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/DefaultSecurityCheckBuildItem.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/BeanParamParser.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/beanparam/FormParamItem.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
  test-framework/junit5-internal/src/test/java/io/quarkus/test/QuarkusProdModeTestConfusingLogTest.java
Labels: area/documentation, area/persistence, area/security, area/resteasy, area/infra, area/testing, area/oidc, area/kafka, area/dependencies, area/devtools, area/liquibase, area/cli, area/resteasy-reactive, triage/flaky-test

#40736 [3.8] Upgrade to Hibernate ORM 6.4.8.Final
  bom/application/pom.xml
Labels: area/persistence, area/hibernate-orm, area/dependencies

#40775 Fix doc structure
  docs/src/main/asciidoc/telemetry-opentracing-to-otel-tutorial.adoc
Labels: area/documentation, priority/urgent, triage/waiting-for-ci

#40765 Update to HTMLUnit 4.1.0
  .github/dependabot.yml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc-db-token-state-manager/deployment/pom.xml
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/AbstractDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/HibernateOrmPgDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/resources/application.properties
  extensions/oidc-db-token-state-manager/deployment/src/test/resources/hibernate-orm-application.properties
  extensions/oidc-token-propagation-reactive/deployment/pom.xml
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/OidcTokenPropagationWithSecurityIdentityAugmentorTest.java
  extensions/oidc/deployment/pom.xml
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeDefaultTenantTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowDevModeTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowVerifyAccessTokenDisabledTest.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeFlowVerifyInjectedAccessTokenDisabledTest.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeTenantReauthenticateTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CustomIdentityProviderTestCase.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ImplicitBasicAuthAndCodeFlowAuthCombinationTest.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/SecurityDisabledTestCase.java
  extensions/oidc/deployment/src/test/resources/application-dev-mode-default-tenant.properties
  extensions/oidc/deployment/src/test/resources/application-dev-mode.properties
  extensions/oidc/deployment/src/test/resources/application-tenant-reauthenticate.properties
  integration-tests/keycloak-authorization/pom.xml
  integration-tests/keycloak-authorization/src/main/resources/application.properties
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/PolicyEnforcerTest.java
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-token-propagation-reactive/pom.xml
  integration-tests/oidc-token-propagation-reactive/src/test/java/io/quarkus/it/keycloak/OidcTokenReactivePropagationTest.java
  integration-tests/oidc-wiremock/pom.xml
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  integration-tests/rest-csrf/pom.xml
  integration-tests/rest-csrf/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
  integration-tests/smallrye-jwt-oidc-webapp/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/src/test/java/io/quarkus/it/keycloak/SmallRyeJwtOidcWebAppTest.java
Labels: area/documentation, triage/waiting-for-ci, area/oidc, area/dependencies, area/infra-automation, area/keycloak, triage/flaky-test, area/docstyle

#40772 Updates to Infinispan 15.0.4.Final
  bom/application/pom.xml
Labels: area/infinispan, area/dependencies, triage/flaky-test

#40794 Another workaround attempt to fix Dependabot
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#40793 Fix javadoc for TransactionManagerBuildTimeConfig
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerBuildTimeConfig.java
Labels: triage/waiting-for-ci, area/narayana, triage/backport-3.10, triage/backport

#40799 Revert "Another workaround attempt to fix Dependabot"
  .github/dependabot.yml
Labels: triage/waiting-for-ci, area/dependencies, area/infra-automation

#40771 Fix collapsing when there are several keys
  docs/src/main/asciidoc/javascript/config.js
Labels: area/documentation, triage/backport-3.10, triage/backport

#40754 Incubating model resolver: wrap use of Phaser API in a simple task runner API
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/IncubatingApplicationModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ModelResolutionTask.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ModelResolutionTaskRunner.java
Labels: area/devtools

#40753 Podman on linux doc: prefix the remote socket path with unix://
  docs/src/main/asciidoc/podman.adoc
Labels: area/documentation

#39999 Conditionalize content in upstream Quarkus repository for the 3.8.next product release
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-oidc-configuration-properties-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/security-overview.adoc
  docs/src/main/asciidoc/smallrye-graphql-client.adoc
Labels: area/documentation, area/vertx, area/oidc, triage/qe?, area/docstyle, triage/backport-3.8

#40802 Control data used in path expression when running remote-dev
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedRemoteDevModeMain.java
Labels: area/core, triage/flaky-test

#40801 Remove `io.quarkus.deployment.util.WebJarUtil`
  core/deployment/src/main/java/io/quarkus/deployment/util/WebJarUtil.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#40729 Introduce container-image-podman extension
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/deployment/src/main/java/io/quarkus/deployment/IsContainerRuntimeWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/IsPodmanWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/PodmanStatusProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ContainerRuntimeStatusBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DockerStatusBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/PodmanStatusBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/util/ContainerRuntimeUtil.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/container-image.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  extensions/container-image/container-image-docker-common/deployment/pom.xml
  extensions/container-image/container-image-docker-common/deployment/src/main/java/io/quarkus/container/image/docker/common/deployment/CommonConfig.java
  extensions/container-image/container-image-docker-common/deployment/src/main/java/io/quarkus/container/image/docker/common/deployment/CommonProcessor.java
  extensions/container-image/container-image-docker-common/deployment/src/main/java/io/quarkus/container/image/docker/common/deployment/DockerFileBaseInformationProvider.java
  extensions/container-image/container-image-docker-common/deployment/src/main/java/io/quarkus/container/image/docker/common/deployment/RedHatOpenJDKRuntimeBaseProvider.java
  extensions/container-image/container-image-docker-common/deployment/src/main/java/io/quarkus/container/image/docker/common/deployment/UbiMinimalBaseProvider.java
  extensions/container-image/container-image-docker-common/deployment/src/test/java/io/quarkus/container/image/docker/common/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker-common/deployment/src/test/java/io/quarkus/container/image/docker/common/deployment/TestUtil.java
  extensions/container-image/container-image-docker-common/deployment/src/test/java/io/quarkus/container/image/docker/common/deployment/UbiMinimalBaseProviderTest.java
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/openjdk-17-runtime
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/openjdk-21-runtime
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/ubi-java17
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/ubi-java21
  extensions/container-image/container-image-docker-common/pom.xml
  extensions/container-image/container-image-docker-common/runtime/pom.xml
  extensions/container-image/container-image-docker-common/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/container-image/container-image-docker/deployment/pom.xml
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerConfig.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-docker/pom.xml
  extensions/container-image/container-image-docker/runtime/pom.xml
  extensions/container-image/container-image-docker/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/container-image/container-image-podman/deployment/pom.xml
  extensions/container-image/container-image-podman/deployment/src/main/java/io/quarkus/container/image/podman/deployment/PodmanBuild.java
  extensions/container-image/container-image-podman/deployment/src/main/java/io/quarkus/container/image/podman/deployment/PodmanConfig.java
  extensions/container-image/container-image-podman/deployment/src/main/java/io/quarkus/container/image/podman/deployment/PodmanProcessor.java
  extensions/container-image/container-image-podman/pom.xml
  extensions/container-image/container-image-podman/runtime/pom.xml
  extensions/container-image/container-image-podman/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageCapabilitiesUtil.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/ContainerImageConfig.java
  extensions/container-image/pom.xml
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
Labels: release/noteworthy-feature, area/container-image, triage/flaky-test

#40796 [3.10] Update Hibernate ORM to 6.4.8.Final
  bom/application/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, area/dependencies, triage/flaky-test

#40797 Revert "Bump jakarta.authorization:jakarta.authorization-api from 2.1.0 to 3.0.0"
  bom/application/pom.xml
Labels: area/dependencies, triage/flaky-test, triage/backport

#40800 Trivial: Update matcher in component test test to catch single test case
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ProdModeTestBuildStep.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/continuoustesting/TestModeContinuousTestingMavenTestUtils.java
Labels: area/maven, triage/waiting-for-ci, area/testing, triage/flaky-test, triage/backport-3.8, triage/backport-3.10, triage/backport

#40776 [3.8] 3.8.5 backports 3
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageResourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageResourceConfigStep.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/AbstractInstanceHandle.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/EagerInstanceHandle.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/LazyInstanceHandle.java
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/providers/serialisers/AbstractJsonMessageBodyReader.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/providers/serialisers/AbstractJsonMessageBodyReaderTest.java
Labels: area/core, area/arc, area/infra, area/vertx, area/dependencies, area/devtools, area/netty

#40808 Move allowUnsafeMultipleLastResources call to runtime init
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
Labels: area/narayana, triage/flaky-test, triage/backport-3.10, triage/backport

#40804 Handling deserialization failures for Kafka documentation updated
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation

#40779 Bump Agroal from 2.3 to 2.4
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/agroal, triage/flaky-test, triage/backport-3.8, triage/backport

#40814 Add Redirect annotation for OidcRedirectFilter
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/Redirect.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/SessionExpiredOidcRedirectFilter.java
Labels: area/documentation, area/oidc, area/docstyle

#40817 Fix minor typo in hibernate-reactive.adoc
  docs/src/main/asciidoc/hibernate-reactive.adoc
Labels: area/documentation

#40728 Use Provider instead of Property in Quarkus Gradle Extension
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/extension/QuarkusExtensionTest.java
Labels: area/gradle, area/devtools

#40822 Improve @SecureField detection lookup exclusions
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
Labels: area/resteasy-reactive, triage/backport-3.8, triage/backport

#40840 Fix priority of interceptors preventing repeated security checks so that interceptor activating CDI request context runs first
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/StandardSecurityCheckInterceptor.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/RolesAllowedJaxRsTestCase.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/RolesAllowedService.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/RolesAllowedServiceResource.java
  extensions/resteasy-reactive/rest/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/StandardSecurityCheckInterceptor.java
Labels: area/resteasy, area/resteasy-reactive, triage/flaky-test

#40843 Select OIDC TenantIdentityProvider with the @Tenant annotation instead of the @TenantFeature
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/Tenant.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantIdentityProvider.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/OrderService.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/StartupService.java
Labels: area/documentation, area/oidc, release/breaking-change, area/docstyle

#40845 Detect @Tenant interceptors are required when only JAX-RS classes are annotated, but no resource methods
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
Labels: area/oidc

#40842 getting-started: grammar: append->appended
  docs/src/main/asciidoc/getting-started.adoc
Labels: area/documentation, triage/backport

#40844 Show readme in Dev UI
  bom/dev-ui/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ReadmeProcessor.java
  extensions/vertx-http/dev-ui-resources/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-readme.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/state/devui-state.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/readme/ReadmeJsonRPCService.java
Labels: area/vertx, area/dependencies, triage/flaky-test

#40855 Bump Hibernate Reactive to 2.3.1.Final
  bom/application/pom.xml
Labels: area/persistence, area/dependencies, area/hibernate-reactive, triage/flaky-test

#40865 Fix typos in ADR doc
  adr/0001-community-discussions.adoc
Labels: area/adr

#40864 Move hibernate-orm/deployment devmode tests to a separate surefire execution
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateHotReloadDevModeTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateSchemaRecreateDevConsoleTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/TestTags.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevControllerFailingDDLGenerationTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevControllerTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsImportSqlHotReloadScriptTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/quoting_strategies/JPAQuotedIdentifiersTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/quoting_strategies/JPAQuotedKeywordsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/scripts/GenerateScriptNotAppendedTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/AddNewSqlLoadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportSqlHotReloadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/IntroducingDefaultImportScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/hbm/HbmXmlHotReloadExplicitFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/orm/OrmXmlHotReloadExplicitFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/orm/OrmXmlHotReloadImplicitFileTestCase.java
Labels: area/persistence, triage/waiting-for-ci, area/hibernate-orm, triage/flaky-test, triage/backport-3.8, triage/backport

#40697 Display actually used algorithm name in runtime exception
  extensions/elytron-security-properties-file/runtime/src/main/java/io/quarkus/elytron/security/runtime/ElytronPropertiesFileRecorder.java
Labels: area/security

#40857 WebSocket NEXT: automatically close connection when OIDC extension provides SecurityIdentity and token expires
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/AuthenticationExpiredTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/SecuritySupport.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
Labels: area/documentation, area/security, triage/waiting-for-ci, area/websockets

#40811 Fix SharedOpenArchivePathTree.open() to go through acquiring process
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/SharedArchivePathTree.java
Labels: area/devtools, triage/flaky-test

#39784 Upload native build statistics
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#40866 [3.8] Move hibernate-orm/deployment devmode tests to a separate surefire execution
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateHotReloadDevModeTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/HibernateSchemaRecreateDevConsoleTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/TestTags.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevControllerFailingDDLGenerationTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevControllerTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsImportSqlHotReloadScriptTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/quoting_strategies/JPAQuotedIdentifiersTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/quoting_strategies/JPAQuotedKeywordsTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/scripts/GenerateScriptNotAppendedTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/AddNewSqlLoadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportSqlHotReloadScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/IntroducingDefaultImportScriptTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/hbm/HbmXmlHotReloadExplicitFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/orm/OrmXmlHotReloadExplicitFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/xml/orm/OrmXmlHotReloadImplicitFileTestCase.java
Labels: area/persistence, area/hibernate-orm

#40876 Fix error in fix for decompiler config
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigCompatibility.java
Labels: area/core, area/config, triage/backport-3.10

#40883 Confirm that expired or wrong aud JWT cause 401 even if the cert chain is valid
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/security, area/smallrye

#40888 Use right decompiler prop name in docs
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#40877 Fix native build stats uploading for "simple with space" IT
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#40875 Update vineflower to 1.10.1
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, triage/waiting-for-ci

#40873 WebSockets NEXT: add ability to inspect/reject HTTP upgrade
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/AuthenticationExpiredTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/upgrade/AbstractHttpUpgradeCheckTestBase.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/upgrade/GlobalHttpUpgradeCheckTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/upgrade/HttpUpgradeCheckHeaderMergingTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/upgrade/LocalHttpUpgradeCheckTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/upgrade/OpeningHttpUpgradeCheck.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/upgrade/RejectingHttpUpgradeCheck.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/upgrade/RequestScopedHttpUpgradeCheckValidationFailureTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/HttpUpgradeCheck.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
Labels: area/documentation, area/websockets

#40880 Revert test serializer changes to avoid regressing existing use cases
  bom/application/pom.xml
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/it/TestParameterDevModeIT.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/it/TestTemplateDevModeIT.java
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension/src/main/resources/application.properties
  test-framework/junit5/pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/TestInfoImpl.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomListConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomMapEntryConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/CustomSetConverter.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/NewSerializingDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/SerializationDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/SerializationWithXStreamFallbackDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/XStreamDeepClone.java
Labels: area/maven, area/testing, area/dependencies, triage/flaky-test

#40871 Update to maven 3.9.7 and compiler plugin to 3.13.0
  .mvn/wrapper/maven-wrapper.properties
  .sdkmanrc
  build-parent/pom.xml
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
Labels: area/documentation, area/arc, area/amazon-lambda, area/platform, area/dependencies, area/devtools, area/funqy

#40869 Set the target file in the Model
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenProjectBuildFile.java
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport-3.8, triage/backport-3.10, triage/backport
