Repository quarkusio/quarkus, pull requests merged in 2024-01, with the labels that each got.

#37935 Reproduce #37934 Failed to find class com.fasterxml.jackson.databindext.CoreXMLSerializers when a POJO has field of type javax.xml.datatype.XMLGregorianCalendar
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  integration-tests/resteasy-jackson/src/main/java/io/quarkus/it/resteasy/jackson/Greeting.java
  integration-tests/resteasy-jackson/src/main/java/io/quarkus/it/resteasy/jackson/GreetingResource.java
  integration-tests/resteasy-jackson/src/test/java/io/quarkus/it/resteasy/jackson/GreetingResourceTest.java
Labels: area/resteasy, area/jackson

#37932 Fix typo in getting-started-testing.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation

#37974 Add test for EnumConverter
  core/runtime/src/test/java/io/quarkus/runtime/configuration/HyphenateEnumConverterTest.java
Labels: area/core

#37975 Fix Create the Maven project section in security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.2?, triage/backport?

#37953 Update Strimzi container images in docs
  docs/src/main/asciidoc/kafka-dev-services.adoc
  docs/src/main/asciidoc/kafka-reactive-getting-started.adoc
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
  docs/src/main/asciidoc/kafka-schema-registry-json-schema.adoc
  docs/src/main/asciidoc/kafka-streams.adoc
  docs/src/main/asciidoc/kafka.adoc
Labels: area/documentation, area/kafka, area/dependencies

#37977 Clarify how Keycloak Dev Service can be used to test Keycloak authorization
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation, area/docstyle

#37899 Bump Smallrye Reactive Messaging version from 4.12.0 to 4.13.0
  bom/application/pom.xml
  docs/src/main/asciidoc/kafka.adoc
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/ReactiveMessagingProcessor.java
  extensions/micrometer/runtime/pom.xml
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/reactivemessaging/MicrometerObservationCollector.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/MicrometerConfig.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/config/ReactiveMessagingConfigGroup.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DefaultSerdeConfigTest.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/channels/ChannelEmitterWithMultipleDefinitions.java
  extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging/channels/EmitterWithMultipleInjectionPointsTest.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusEmitterConfiguration.java
  integration-tests/reactive-messaging-kafka/pom.xml
  integration-tests/reactive-messaging-kafka/src/main/java/io/quarkus/it/kafka/KafkaRequest.java
  integration-tests/reactive-messaging-kafka/src/main/resources/application.properties
  integration-tests/reactive-messaging-kafka/src/test/java/io/quarkus/it/kafka/KafkaConnectorTest.java
Labels: area/documentation, area/smallrye, triage/waiting-for-ci, area/reactive-messaging, area/dependencies, area/metrics

#37978 Bump Keycloak version to 23.0.3
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/documentation, area/oidc, area/dependencies

#37931 Document that `QuarkuTestResourceLifecycleManager` is not a CDI Bean
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation

#37987 Do not expand config properties for Gradle Workers
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
Labels: area/gradle, area/devtools

#37972 Expose pandaproxy port in Redpanda dev services
  docs/src/main/asciidoc/kafka-dev-services.adoc
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/RedpandaBuildTimeConfig.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/RedpandaKafkaContainer.java
Labels: area/documentation, area/kafka

#37995 Fix javadoc of RESTEasy Reactive filters
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerRequestFilter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerResponseFilter.java
Labels: area/resteasy-reactive

#37893 Upgrade to Kotlin 1.9.22
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle/libs.versions.toml
  independent-projects/arc/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
Labels: area/gradle, area/arc, area/dependencies, area/devtools, triage/backport?

#37993 Register JsonSubTypes.Type values for native mode
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/JsonSubTypesResource.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/Elephant.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/Mammal.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/MammalFamily.java
  integration-tests/jackson/src/main/java/io/quarkus/it/jackson/model/Whale.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/JsonSubTypesResourceIT.java
  integration-tests/jackson/src/test/java/io/quarkus/it/jackson/JsonSubTypesResourceTest.java
Labels: triage/waiting-for-ci, area/jackson

#38001 Fix the status is a couple extensions documentation pages
  docs/src/main/asciidoc/cache.adoc
  docs/src/main/asciidoc/security-oauth2.adoc
Labels: area/documentation, triage/backport?

#37976 Add documentation for pushing with Podman to Heroku
  docs/src/main/asciidoc/deploying-to-heroku.adoc
Labels: area/documentation

#37996 Don't fail if config is not a directory
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
Labels: area/core, area/config, triage/waiting-for-ci

#38004 Avoid integration-tests/kafka-sasl-elytron to modify test resources
  integration-tests/kafka-sasl-elytron/src/main/resources/application.properties
  integration-tests/kafka-sasl-elytron/src/test/java/io/quarkus/it/kafka/KafkaSaslTestResource.java
  integration-tests/kafka-sasl-elytron/src/test/java/io/quarkus/it/kafka/containers/KerberosContainer.java
Labels: area/kafka

#38005 Display Json output before injecting build scans
  .github/workflows/develocity-publish-build-scans.yml
Labels: area/infra-automation

#37986 Bump smallrye-open-api from 3.7.0 to 3.8.0
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies

#37891 Split OIDC session cookie if its size is more than 4KB
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcSessionImpl.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/CustomTenantResolver.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantNonce.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: release/noteworthy-feature, area/oidc

#38006 Set the correct port properties for HTTPS
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/PortSystemProperties.java
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/RandomTestPortTestCase.java
Labels: area/vertx

#37998 ArC: improve description of injection points that are parameters
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/inject/InjectionFailedTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InjectionPointInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/illegal/TypeVariableInitializerInjectionPointTest.java
Labels: area/arc, triage/waiting-for-ci, area/qute

#36722 Add error message to quarkus-resteasy-reactive-links and improve documentation
  docs/src/main/asciidoc/resteasy-reactive.adoc
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/main/java/io/quarkus/resteasy/reactive/links/deployment/LinksProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/AbstractEntity.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/AbstractId.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/HalLinksWithJacksonTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/HalLinksWithJsonbTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/RestLinksInjectionTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/RestLinksWithFailureInjectionTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/TestRecordNoId.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-links/deployment/src/test/java/io/quarkus/resteasy/reactive/links/deployment/TestResourceNoId.java
Labels: area/documentation, area/resteasy-reactive

#38017 Use UTF-8 constant in QuarkusEntryPoint
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/QuarkusEntryPoint.java
Labels: triage/waiting-for-ci, area/devtools

#35659 Fix File handling as a JAX-RS body parameter
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MessageBodyReaderTests.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/BuiltInReaderOverrideBuildItem.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/AbstractMultipartTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/FileInputWithDeleteTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/FileInputWithoutDeleteTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputBodyHandlerTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/PathInputWithDeleteTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/PathInputWithoutDeleteTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusServerFileBodyHandler.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusServerPathBodyHandler.java
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/providers/serialisers/FileBodyHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerRequestContext.java
Labels: area/resteasy-reactive, triage/backport-3.2?, triage/backport?

#37850 Support for OAuth2 Strava
  docs/src/main/asciidoc/images/oidc-strava-1.png
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/KnownOidcProvidersTest.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/TenantNonce.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/documentation, area/oidc, area/docstyle

#38035 Verify duplicated context handling when caching a Uni
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/DuplicatedContextHandlingTest.java
Labels: area/cache

#37694 Improve security-getting-started-tutorial doc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
Labels: area/documentation, area/docstyle

#37566 Edit Dev Services and UI for OIDC
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation, area/docstyle

#37817 Edit security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-basic-authentication.adoc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-identity-providers.adoc
  docs/src/main/asciidoc/security-jdbc.adoc
  docs/src/main/asciidoc/security-jpa.adoc
  docs/src/main/asciidoc/security-overview.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#38063 Do not wait for daemon threads when building docs
  docs/pom.xml
Labels: area/documentation

#38038 Scheduler: add hint for Scheduled.ApplicationNotRunning skip predicate
  docs/src/main/asciidoc/scheduler-reference.adoc
Labels: area/documentation, area/scheduler, triage/waiting-for-ci

#38056 Bump OTel to 1.32.0
  bom/application/pom.xml
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/instrumentation/GrpcOpenTelemetryTest.java
  integration-tests/opentelemetry-grpc/src/test/java/io/quarkus/it/opentelemetry/grpc/OpenTelemetryGrpcTest.java
  integration-tests/opentelemetry-spi/pom.xml
Labels: area/dependencies, area/tracing

#38062 Add companion classes to Kotlin reflective hierarchy registration
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CompanionResource.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/ResponseData.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CompanionIT.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/test/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CompanionTest.kt
Labels: area/core, triage/backport?

#38066 Drop Okhttp/Okio from BOM
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/infinispan-client/deployment/pom.xml
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devservices/InfinispanDevServiceProcessor.java
  independent-projects/enforcer-rules/src/main/resources/enforcer-rules/quarkus-banned-dependencies-okhttp.xml
  integration-tests/kubernetes-client/pom.xml
  integration-tests/openshift-client/pom.xml
  test-framework/infinispan-client/pom.xml
  test-framework/infinispan-client/src/main/java/io/quarkus/test/infinispan/client/InfinispanTestResource.java
  test-framework/kubernetes-client/pom.xml
  test-framework/openshift-client/pom.xml
  test-framework/pom.xml
Labels: release/noteworthy-feature, area/infinispan, area/testing, area/kubernetes, release/breaking-change, area/dependencies

#37842 Upgrade to Maven Compiler Plugin 3.12.1
  build-parent/pom.xml
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  independent-projects/tools/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
Labels: area/documentation, area/arc, area/maven, area/amazon-lambda, area/platform, area/dependencies, area/devtools, area/funqy

#38034 Update to Vertx 4.5.1
  bom/application/pom.xml
  extensions/funqy/funqy-http/deployment/src/main/java/io/quarkus/funqy/deployment/bindings/http/FunqyHttpBuildStep.java
  extensions/funqy/funqy-http/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/http/VertxRequestHandler.java
  extensions/funqy/funqy-knative-events/deployment/src/main/java/io/quarkus/funqy/deployment/bindings/knative/events/FunqyKnativeEventsBuildStep.java
  extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/runtime/bindings/knative/events/VertxRequestHandler.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/MutinyClientInjectionTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/MutinyStubInjectionTest.java
  extensions/grpc/inprocess/src/main/java/io/quarkus/grpc/inprocess/InProcessGrpcServerBuilderProvider.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/devmode/GrpcServerReloader.java
  extensions/grpc/xds/src/main/java/io/quarkus/grpc/xds/XdsGrpcServerBuilderProvider.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/RedisClient.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/reactive/ReactiveRedisClient.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/ReactiveRedisClientImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisClientImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/graal/VertxSubstitutions.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/amazon-lambda-rest/src/test/java/io/quarkus/it/amazon/lambda/AmazonLambdaV1SimpleTestCase.java
  integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/VertxResource.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/KeycloakXTestResourceLifecycleManager.java
Labels: area/vertx, area/amazon-lambda, triage/waiting-for-ci, area/oidc, area/dependencies, area/funqy, area/grpc, area/redis

#38075 add documentation for ClientMultipartForm class introduced in for cre…
  docs/src/main/asciidoc/rest-client-reactive.adoc
Labels: area/documentation

#37851 Edit security-proactive-authentication.adoc
  docs/src/main/asciidoc/security-proactive-authentication.adoc
Labels: area/documentation, area/docstyle

#38025 Add priority to OpenApiFilter to specify order of execution for multiple OASFilters
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/MyBuildTimeFilterPrio0.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/MyBuildTimeFilterPrio2.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/MyBuildTimeFilterPrioDefault.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiFilterPriorityTest.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/OpenApiFilter.java
Labels: area/smallrye, area/openapi

#37870 Add confluent jsonserde support
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Feature.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  extensions/schema-registry/confluent/json-schema/deployment/pom.xml
  extensions/schema-registry/confluent/json-schema/deployment/src/main/java/io/quarkus/confluent/registry/json/ConfluentRegistryJsonProcessor.java
  extensions/schema-registry/confluent/json-schema/pom.xml
  extensions/schema-registry/confluent/json-schema/runtime/pom.xml
  extensions/schema-registry/confluent/json-schema/runtime/src/main/java/io/quarkus/confluent/registry/json/ConfluentJsonSubstitutions.java
  extensions/schema-registry/confluent/json-schema/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/schema-registry/confluent/pom.xml
  integration-tests/kafka-json-schema-apicurio2/pom.xml
  integration-tests/kafka-json-schema-apicurio2/src/main/java/io/quarkus/it/kafka/jsonschema/JsonSchemaEndpoint.java
  integration-tests/kafka-json-schema-apicurio2/src/main/java/io/quarkus/it/kafka/jsonschema/JsonSchemaKafkaCreator.java
  integration-tests/kafka-json-schema-apicurio2/src/main/java/io/quarkus/it/kafka/jsonschema/Pet.java
  integration-tests/kafka-json-schema-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaJsonSchemaTestBase.java
  integration-tests/kafka-json-schema-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaResource.java
Labels: area/documentation, area/core, area/smallrye, area/reactive-messaging, area/kafka, area/dependencies, area/devtools, area/infra-automation

#38068 Bump dekorate to 4.1.2
  bom/application/pom.xml
Labels: area/dependencies

#38065 ArC: deprecate ArcInitConfig.Builder.setOptimizeContexts()
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/Arc.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcInitConfig.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java
Labels: area/arc, area/housekeeping

#38081 Add quarkus version annotation to kubernetes resources
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/Constants.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KnativeTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithIdempotentTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftV3Test.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftV4DeploymentConfigTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftV4Test.java
Labels: area/kubernetes

#38023 Update SmallRye Health to 4.1.0
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/health

#38029 Allow applications using quakus-info to contribute data to the /info using CDI
  docs/src/main/asciidoc/getting-started.adoc
  extensions/info/deployment/src/main/java/io/quarkus/info/deployment/InfoProcessor.java
  extensions/info/deployment/src/main/resources/dev-ui/qwc-info.js
  extensions/info/deployment/src/test/java/io/quarkus/info/deployment/ExternalInfoContributorTest.java
  extensions/info/runtime/src/main/java/io/quarkus/info/runtime/InfoRecorder.java
Labels: release/noteworthy-feature, area/documentation, triage/waiting-for-ci

#37906 Fix type/unremovable for reactive client CDI beans, make DataSource beans application-scoped, more consistent exceptions for unconfigured datasources
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigurationException.java
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/AgroalProcessor.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/EagerStartupTest.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/NoConfigTest.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
  extensions/datasource/common/pom.xml
  extensions/datasource/common/src/main/java/io/quarkus/datasource/common/runtime/DataSourceUtil.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionConfigEmptyDefaultDatasourceTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionConfigEmptyNamedDataSourceTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionConfigEmptyTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionConfigMissingNamedDataSourceTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionMigrateAtStartDefaultDatasourceConfigEmptyTest.java
  extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test/FlywayExtensionMigrateAtStartNamedDatasourceConfigEmptyTest.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRecorder.java
  extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/UnconfiguredDataSourceFlywayContainer.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/EntitiesInDefaultPUWithExplicitUnconfiguredDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/EntitiesInDefaultPUWithImplicitUnconfiguredDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/datasource/EntitiesInDefaultPUWithExplicitUnconfiguredDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/datasource/EntitiesInDefaultPUWithImplicitUnconfiguredDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/datasource/EntitiesInNamedPUWithExplicitUnconfiguredDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/datasource/EntitiesInNamedPUWithoutDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/namedpu/EntitiesInNamedPUWithExplicitUnconfiguredDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/namedpu/EntitiesInNamedPUWithoutDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/resources/application-default-pu-explicit-unconfigured-datasource.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-named-pu-explicit-unconfigured-datasource.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-named-pu-no-datasource.properties
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitUtil.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/datasource/EntitiesInDefaultPUWithExplicitUnconfiguredDatasourceTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/datasource/EntitiesInDefaultPUWithImplicitUnconfiguredDatasourceTest.java
  extensions/liquibase/deployment/pom.xml
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionConfigEmptyDefaultDatasourceTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionConfigEmptyNamedDatasourceTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionConfigEmptyTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionConfigMissingNamedDataSourceTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionMigrateAtStartDefaultDatasourceConfigEmptyTest.java
  extensions/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionMigrateAtStartNamedDatasourceConfigEmptyTest.java
  extensions/liquibase/deployment/src/test/resources/config-empty.properties
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/ReactiveDB2ClientProcessor.java
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/ReactiveMSSQLClientProcessor.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/NoConfigTest.java
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-mysql-client/deployment/src/test/java/io/quarkus/reactive/mysql/client/NoConfigTest.java
  extensions/reactive-oracle-client/deployment/src/main/java/io/quarkus/reactive/oracle/client/deployment/ReactiveOracleClientProcessor.java
  extensions/reactive-oracle-client/deployment/src/test/java/io/quarkus/reactive/oracle/client/NoConfigTest.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
  extensions/reactive-pg-client/deployment/src/test/java/io/quarkus/reactive/pg/client/NoConfigTest.java
Labels: area/persistence, area/core, area/config, area/hibernate-orm, area/flyway, area/liquibase, area/hibernate-reactive, area/agroal, area/reactive-sql-clients

#38093 doc: mention registration is per extension not per repo
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#38022 Disable impls of ConfigurableConfigSourceFactory that perform network access, when building AppCDS
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/appcds/AppCDSRecorder.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/config/runtime/KubernetesConfigRecorder.java
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/config/runtime/KubernetesConfigSourceFactoryBuilder.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfigSourceFactory.java
Labels: area/arc, area/spring

#38091 Support Java Records in bytecode recorders
  core/deployment/src/main/java/io/quarkus/deployment/recording/PropertyUtils.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/TestRecordProcessor.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/records/TestRecord.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/records/TestRecordRecorder.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/TestRecordRecorderTest.java
Labels: area/core, triage/waiting-for-ci

#38064 Add custom Kotlin serializers for ValidationReport and Violation
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/deployment/src/main/java/io/quarkus/resteasy/reactive/kotlin/serialization/deployment/KotlinSerializationProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/pom.xml
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/runtime/KotlinSerializationMessageBodyWriter.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/runtime/ValidationJsonBuilderCustomizer.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/runtime/ViolationReportSerializer.kt
  extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/resteasy/reactive/kotlin/serialization/runtime/ViolationReportViolationSerializer.kt
  integration-tests/pom.xml
  integration-tests/rest-client-reactive-kotlin-serialization-with-validator/pom.xml
  integration-tests/rest-client-reactive-kotlin-serialization-with-validator/src/main/kotlin/io/quarkus/it/rest/ValidationResource.kt
  integration-tests/rest-client-reactive-kotlin-serialization-with-validator/src/main/resources/application.properties
  integration-tests/rest-client-reactive-kotlin-serialization-with-validator/src/test/kotlin/io/quarkus/it/rest/client/BasicTest.kt
  integration-tests/rest-client-reactive-kotlin-serialization-with-validator/src/test/kotlin/io/quarkus/it/rest/client/BasicTestIT.kt
Labels: area/resteasy-reactive

#38092 Always set ssl and alpn for non-plain-text with Vert.x gRPC channel
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
Labels: area/grpc

#38087 Fix NPE and otel quickstart test
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/OTelFallbackConfigSourceInterceptor.java
  integration-tests/opentelemetry-quickstart/pom.xml
  integration-tests/opentelemetry-quickstart/src/main/java/io/quarkus/it/opentelemetry/ExporterResource.java
  integration-tests/opentelemetry-quickstart/src/main/java/io/quarkus/it/opentelemetry/GreetingResource.java
  integration-tests/opentelemetry-quickstart/src/main/java/io/quarkus/it/opentelemetry/output/SpanDataModuleSerializer.java
  integration-tests/opentelemetry-quickstart/src/main/java/io/quarkus/it/opentelemetry/output/SpanDataSerializer.java
  integration-tests/opentelemetry-quickstart/src/main/resources/META-INF/resources/test.html
  integration-tests/opentelemetry-quickstart/src/main/resources/application.properties
  integration-tests/opentelemetry-quickstart/src/test/java/io/quarkus/it/opentelemetry/BaseTest.java
  integration-tests/opentelemetry-quickstart/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryDisabledIT.java
  integration-tests/opentelemetry-quickstart/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryDisabledTest.java
  integration-tests/opentelemetry-quickstart/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryIT.java
  integration-tests/opentelemetry-quickstart/src/test/java/io/quarkus/it/opentelemetry/OpenTelemetryTest.java
  integration-tests/pom.xml
Labels: area/tracing

#37849 Edit security-overview.adoc
  docs/src/main/asciidoc/security-overview.adoc
Labels: area/documentation, area/docstyle

#37534 Edit OpenID Connect client and token propagation quickstart
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
Labels: area/documentation, area/docstyle

#37757 Fixes stork path param resolution in REST Client
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/HelloClient.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/HelloResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/PassThroughResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkDevModeTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkIntegrationTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkResponseTimeLoadBalancerTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkWithPathIntegrationTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/StorkClientRequestFilter.java
  integration-tests/rest-client-reactive-stork/src/main/java/io/quarkus/it/rest/client/reactive/stork/Client.java
  integration-tests/rest-client-reactive-stork/src/main/java/io/quarkus/it/rest/client/reactive/stork/ClientCallingResource.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/FastWiremockServer.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/RestClientReactiveStorkTest.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/SlowWiremockServer.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, kind/bugfix, triage/backport-3.2?, triage/backport?

#38083 Make Picocli version providers unremovable classes
  extensions/picocli/deployment/src/main/java/io/quarkus/picocli/deployment/PicocliProcessor.java
  integration-tests/picocli/src/main/java/io/quarkus/it/picocli/EntryWithVersionCommand.java
  integration-tests/picocli/src/main/java/io/quarkus/it/picocli/VersionProvider.java
  integration-tests/picocli/src/test/java/io/quarkus/it/picocli/TestVersion.java
Labels: area/picocli

#38099 [3.6] Upgrade to Hibernate ORM 6.2.18.Final
  bom/application/pom.xml
Labels: area/persistence, area/hibernate-orm, area/dependencies

#38100 JDK-8316304 in JDK 21 introduced a new field accessed through JNI
  integration-tests/main/src/test/resources/image-metrics/23.1/image-metrics.properties
Labels: area/native-image

#38117 Keep static instance field and delete unused field in substitution
  extensions/kafka-client/runtime/src/main/java/io/smallrye/reactive/kafka/graal/StrimziSubstitutions.java
Labels: triage/waiting-for-ci, area/kafka, area/native-image

#38104 Bump smallrye-reactive-messaging.version from 4.14.0 to 4.15.0
  bom/application/pom.xml
Labels: area/smallrye, area/reactive-messaging, area/dependencies

#38121 ArC: introduce quarkus.arc.optimize-contexts=auto
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/context/optimized/OptimizeContextsAutoTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/context/optimized/OptimizeContextsDisabledTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/context/optimized/SimpleBean.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ArcRecorder.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
Labels: area/arc, triage/waiting-for-ci

#38124 Add missing methods to ReactiveMongoCollection
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/impl/ReactiveMongoCollectionImpl.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/reactive/ReactiveMongoCollection.java
Labels: area/mongodb

#38131 Use headers set in PreMatching filter during media type negotiation
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/MediaTypeMapper.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/PreMatchAcceptInHeader.java
Labels: triage/waiting-for-ci

#27707 Added close handler on initial response for reactive SseEventSinkImpl
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/runtime/pom.xml
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/SseBroadcasterImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/SseEventSinkImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/test/java/org/jboss/resteasy/reactive/server/jaxrs/SseServerBroadcasterTests.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/sse/SseServerResource.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/sse/SseServerTestCase.java
Labels: area/amazon-lambda, triage/backport-2.13?, triage/needs-feedback

#30115 Allow accessing the ClientSession programmatively
  docs/src/main/asciidoc/mongodb-panache.adoc
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/MongoOperations.java
  extensions/panache/mongodb-panache-kotlin/runtime/src/main/kotlin/io/quarkus/mongodb/panache/kotlin/Panache.kt
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/Panache.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/transaction/TransactionPersonResource.java
Labels: area/documentation, area/panache, triage/waiting-for-ci, area/mongodb

#38148 Support Liberica NIK GraalVM version parsing
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/GraalVMTest.java
Labels: area/core, triage/waiting-for-ci, area/native-image, triage/flaky-test

#38145 Use RestEasy Reactive instead of classic in the extension's IT
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/integration-tests/java/integration-tests/pom.tpl.qute.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_integration-tests_pom.xml
Labels: area/maven, triage/waiting-for-ci, area/platform, area/devtools

#38116 Support ManyToOne queries in Panache REST resource
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/entity/PanacheEntityResourceGetMethodTest.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/EntityTypeUtils.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/SignatureMethodCreator.java
Labels: area/panache, triage/waiting-for-ci

#38107 Arc - Decide whether req. context is active based on validity of its ContextState
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/router/ReqContextActivationTerminationTest.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/arc, area/vertx

#38024 Docs: Final edits, Style enhancements, Vale checks
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
Labels: area/documentation, area/docstyle

#38153 SmallRye GraphQL 2.7.0
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/graphql

#37643 Fix JAXB unmarshalling error when compiling to native
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/BookIBANField.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/BookWithParent.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/JaxbResource.java
  integration-tests/jaxb/src/test/java/io/quarkus/it/jaxb/JaxbIT.java
Labels: triage/waiting-for-ci, area/jaxb, triage/backport?

#38027 Update SmallRye Config to 3.5.2
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies

#38162 Bump Hibernate ORM to 6.4.1.Final and Hibernate Reactive to 2.2.1.Final
  bom/application/pom.xml
Labels: area/persistence, area/dependencies, area/hibernate-reactive

#38143 New Route SPI not requiring Vert.x HTTP
  extensions/info/deployment/src/main/java/io/quarkus/info/deployment/InfoProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/vertx-http/deployment-spi/pom.xml
  extensions/vertx-http/deployment-spi/src/main/java/io/quarkus/vertx/http/deployment/spi/RouteBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/NonApplicationRootPathBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/RouteConverter.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HandlerType.java
Labels: area/smallrye, area/vertx, area/openapi

#37876 (3.2) Parsson 1.1.5
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies

#38105 [3.2] Upgrade to Hibernate ORM 6.2.18.Final
  .gitignore
  bom/application/pom.xml
Labels: area/persistence, area/hibernate-orm, area/dependencies

#36166 Fix tracing protocol configuration to only allow grpc
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterConfigTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterUnsupportedProtocolTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/exporter/OtlpExporterTracesConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/OtlpRecorder.java
Labels: area/tracing, triage/backport?

#35721 3.2: Packs libraries alongside executable in function.zip
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/FunctionZipProcessor.java
Labels: area/core, area/amazon-lambda

#38184 Add necessary Vertx dependency to quarkus-cache
  extensions/cache/deployment/pom.xml
  extensions/cache/runtime/pom.xml
Labels: area/cache

#35065 Add Hibernate Search management endpoint
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchManagementEnabled.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/management/HibernateSearchManagementConfig.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/management/HibernateSearchManagementHandler.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/management/HibernateSearchPostRequestProcessor.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/multitenancy/book/Book.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/multitenancy/book/BookResource.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/multitenancy/book/BookTenantResolver.java
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/main/resources/db/migration/V1.0.0__init.sql
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/multitenancy/book/HibernateSearchTenancyReindexFunctionalityTest.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/management/HibernateSearchManagementTestResource.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/java/io/quarkus/it/hibernate/search/orm/elasticsearch/management/ManagementTestEntity.java
  integration-tests/hibernate-search-orm-elasticsearch/src/main/resources/application.properties
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/management/HibernateSearchManagementCustomUrlTest.java
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/management/HibernateSearchManagementIT.java
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/management/HibernateSearchManagementTest.java
Labels: area/documentation, triage/on-ice, area/smallrye, area/vertx, area/openapi, area/hibernate-search

#37943 Extension logging-gelf: Adding missing GELF MDC Config
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfConfig.java
  extensions/logging-gelf/runtime/src/main/java/io/quarkus/logging/gelf/GelfLogHandlerRecorder.java
  integration-tests/logging-gelf/src/main/java/io/quarkus/logging/gelf/it/GelfLogHandlerResource.java
  integration-tests/logging-gelf/src/main/resources/application.properties
  integration-tests/logging-gelf/src/test/java/io/quarkus/logging/gelf/it/GelfLogHandlerTest.java
Labels: area/logging

#38082 Add exclude and additional option to AssembleDownstreamDocumentation
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation

#38126 Bump kubernetes-client-bom from 6.9.2 to 6.10.0
  pom.xml
Labels: area/kubernetes

#38192 Remove leading and trailing space from k8s labels
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ResourceNameUtil.java
Labels: triage/waiting-for-ci, area/kubernetes

#38177 ConfigRecorder: fix value changed check with null build-time values
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
Labels: area/core, area/config, triage/backport?

#38141 [Gradle] make quarkusRun depend on quarkusBuild
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools, triage/backport?

#38185 Make sure `quarkus.http.filter` headers don't remove existing headers
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerCommonHandlers.java
  integration-tests/vertx-http/pom.xml
  integration-tests/vertx-http/src/main/resources/application.properties
  integration-tests/vertx-http/src/test/java/io/quarkus/it/vertx/FilterTestCase.java
Labels: area/vertx, release/breaking-change

#38200 Fix a code example in RESTEasy Reactive doc
  docs/src/main/asciidoc/resteasy-reactive.adoc
Labels: area/documentation, triage/backport?

#38161 Add metrics when the connections limit is set
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxConnectionMetricsTest.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderAdapter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ExtendedQuarkusVertxHttpMetrics.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, area/metrics

#36960 Fix vale error in grpc, oidc, and vertx areas
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/SslServerConfig.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CertificateConfig.java
Labels: area/vertx, area/oidc, area/grpc

#38180 [3.2] 3.2.10.Final backports batch 1
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsAdd.java
  devtools/cli/src/main/java/io/quarkus/cli/ProjectExtensionsRemove.java
  devtools/cli/src/test/java/io/quarkus/cli/CliDriver.java
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectMavenTest.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/infinispan-client.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/sync-web-site.sh
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/DuplicatedContextHandlingTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/applicationfieldaccess/ImmutableEmbeddableFieldAccessTest.java
  extensions/keycloak-admin-client-reactive/deployment/src/main/java/io/quarkus/keycloak/admin/client/reactive/KeycloakAdminClientReactiveProcessor.java
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveClientProvider.java
  extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveKeycloakAdminClientRecorder.java
  extensions/keycloak-admin-client/deployment/src/main/java/io/quarkus/keycloak/adminclient/deployment/KeycloakAdminClientProcessor.java
  extensions/keycloak-admin-client/runtime/src/main/java/io/quarkus/keycloak/adminclient/ResteasyKeycloakAdminClientRecorder.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/panache/panache-hibernate-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheHibernateCommonResourceProcessor.java
  extensions/resteasy-reactive/jaxrs-client-reactive/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jsonb/deployment/src/test/java/io/quarkus/resteasy/reactive/jsonb/deployment/test/sse/SseParserTest.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/stream/StreamTestCase.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/converter/GenericsConverterTest.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  extensions/security-jpa-common/deployment/src/main/java/io/quarkus/security/jpa/common/deployment/JpaSecurityIdentityUtil.java
  extensions/security-jpa-common/runtime/src/main/java/io/quarkus/security/jpa/common/runtime/JpaIdentityProviderUtil.java
  extensions/spring-security/deployment/src/main/java/io/quarkus/spring/security/deployment/SpringSecurityProcessor.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/SpringPreAuthorizeTest.java
  extensions/spring-security/deployment/src/test/java/io/quarkus/spring/security/deployment/springapp/SpringComponent.java
  extensions/spring-security/runtime/src/main/java/io/quarkus/spring/security/runtime/interceptor/SpringSecurityRecorder.java
  extensions/spring-security/runtime/src/main/java/io/quarkus/spring/security/runtime/interceptor/check/PrincipalNameFromParameterObjectSecurityCheck.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  independent-projects/parent/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/LocatableResourcePathParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/PathParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/matching/RegexMatchTest.java
  independent-projects/tools/devtools-common/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  update-version.sh
Labels: area/documentation, area/panache, area/persistence, area/gradle, area/vertx, area/hibernate-orm, area/spring, area/platform, area/devtools, area/cache, area/tracing, area/cli, area/resteasy-reactive, area/keycloak, area/docstyle

#38211 Add trustAll to QuarkusRestClientBuilder
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/QuarkusRestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client-reactive/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
Labels: area/resteasy-reactive

#38199 3.6.6 backports 1
  .mvn/gradle-enterprise-custom-user-data.groovy
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  docs/src/main/asciidoc/resteasy-reactive.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
  extensions/cache/deployment/pom.xml
  extensions/cache/runtime/pom.xml
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/impl/ReactiveMongoCollectionImpl.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/reactive/ReactiveMongoCollection.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/BookIBANField.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/BookWithParent.java
  integration-tests/jaxb/src/main/java/io/quarkus/it/jaxb/JaxbResource.java
  integration-tests/jaxb/src/test/java/io/quarkus/it/jaxb/JaxbIT.java
  pom.xml
Labels: area/documentation, area/gradle, area/core, area/config, area/infra, area/mongodb, area/jaxb, area/devtools, area/cache

#38097 (3.2) MySQL connector 8.2
  .github/dependabot.yml
  bom/application/pom.xml
  extensions/devservices/mysql/pom.xml
  extensions/jdbc/jdbc-mysql/runtime/pom.xml
  extensions/jdbc/jdbc-mysql/runtime/src/main/java/io/quarkus/jdbc/mysql/runtime/graal/com/mysql/cj/jdbc/MySQLJDBCSubstitutions.java
Labels: area/persistence, area/dependencies, area/infra-automation

#38188 ADR for removal of reactive when reactive is not a requirement
  adr/0002-reactive-rename.adoc
Labels: area/adr

#38021 Scheduler: Quartz - support JobDefinition API if DB type store is used
  docs/src/main/asciidoc/scheduler-reference.adoc
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/programmatic/ProgrammaticJobsTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/scheduler/api/src/main/java/io/quarkus/scheduler/Scheduler.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/AbstractJobDefinition.java
  extensions/scheduler/common/src/main/java/io/quarkus/scheduler/common/runtime/SyntheticScheduled.java
  extensions/scheduler/common/src/test/java/io/quarkus/scheduler/common/runtime/util/SyntheticScheduledTest.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/programmatic/ProgrammaticJobsTest.java
  integration-tests/quartz/src/main/java/io/quarkus/it/quartz/ProgrammaticJobResource.java
  integration-tests/quartz/src/test/java/io/quarkus/it/quartz/QuartzTestCase.java
Labels: area/documentation, area/scheduler

#38183 [3.2] Upgrade to the quarkus-platform-bom-maven-plugin 0.0.101
  pom.xml
Labels: area/maven

#38181 [3.2] Upgrade commons-compress to 1.25.0
  bom/application/pom.xml
Labels: area/dependencies

#38197 [3.2] Upgrade to Hibernate Reactive 2.0.8
  bom/application/pom.xml
Labels: area/persistence, triage/waiting-for-ci, area/dependencies, area/hibernate-reactive

#38195 Fix Arc request context state restoration on Vert.x duplicated context which allows to support security events in gRPC
  docs/src/main/asciidoc/security-customization.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/GrpcAuthTestBase.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/SecurityEventObserver.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/auth/SecurityEventsValidationFailureTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/GrpcSecurityInterceptor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/auth/GrpcSecurityRecorder.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/RequestContext.java
Labels: area/documentation, area/arc, area/grpc

#38218 Make subject configurable in OidcWiremockTestResource
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/server/OidcWiremockTestResource.java
Labels: area/testing

#37044 Better support for APT in dev mode
  core/deployment/src/main/java/io/quarkus/deployment/dev/CompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/CompilerFlags.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeContext.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IDEDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusCompiler.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/QuarkusDevModeLauncher.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/filesystem/QuarkusFileManager.java
  core/deployment/src/test/java/io/quarkus/deployment/dev/CompilerFlagsTest.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusMavenWorkspaceBuilder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/DefaultSourceDir.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/workspace/SourceDir.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processor-paths/.env
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processor-paths/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processor-paths/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processor-paths/src/main/java/org/acme/MyEntity.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processor-paths/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processor-paths/src/test/java/org/acme/HelloResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processors/.env
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processors/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processors/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processors/src/main/java/org/acme/MyEntity.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processors/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-annotation-processors/src/test/java/org/acme/HelloResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-classpath/.env
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-classpath/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-classpath/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-classpath/src/main/java/org/acme/MyEntity.java
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-classpath/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/apt-in-classpath/src/test/java/org/acme/HelloResourceTest.java
Labels: area/gradle, area/core, area/maven, area/devtools

#38212 Add exclude and additional option to AssembleDownstreamDocumentation
  docs/src/main/java/io/quarkus/docs/generation/AssembleDownstreamDocumentation.java
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#38220 Bug fix: Correct broken links in 3.6 Bearer token authentication tutorial
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
Labels: area/documentation, area/docstyle

#37616 Review and edits to Protect a web service by using bearer token authentication tutorial
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
Labels: area/documentation, area/docstyle

#38048 Docs: Final edits, Style enhancements, Vale checks
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
Labels: area/documentation, area/docstyle

#37584 Edit Using OpenID Connect (OIDC) multitenancy
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation

#37888 Docs: Final edits, Style enhancements, Vale checks
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#38214 Introduce a way to ignore mixing REST stacks errors
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/IgnoreStackMixingBuildItem.java
Labels: area/resteasy-reactive

#38222 [3.2] 3.2.10 backports 2
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/DuplicatedContextHandlingTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/CustomManifestArgumentsTest.java
Labels: area/gradle, area/cache, area/grpc, area/resteasy-reactive

#38165 Use smallrye-reactive-messaging-bom
  bom/application/pom.xml
  integration-tests/virtual-threads/jms-virtual-threads/pom.xml
Labels: area/smallrye, area/reactive-messaging, area/dependencies

#38227 Add dependency management for `org.hibernate:hibernate-jpamodelgen`
  bom/application/pom.xml
Labels: area/persistence, area/hibernate-orm, area/dependencies, triage/backport?

#38193 Infinispan Client, tests skip if test-containers is not set
  extensions/infinispan-client/deployment/pom.xml
Labels: area/infinispan, area/testing

#38103 Make sure we can do a GET with a CSRF token cookie and still obtain the token
  integration-tests/csrf-reactive/src/main/java/io/quarkus/it/csrf/TestResource.java
  integration-tests/csrf-reactive/src/main/resources/application.properties
  integration-tests/csrf-reactive/src/test/java/io/quarkus/it/csrf/CsrfReactiveTest.java
Labels: triage/backport

#38240 Make the route build item truly final
  extensions/vertx-http/deployment-spi/src/main/java/io/quarkus/vertx/http/deployment/spi/RouteBuildItem.java
Labels: area/vertx, triage/backport

#38245 Recommend `quarkus.jib.jvm-additional-arguments` rather than `quarkus.jib.jvm-arguments` in docs
  docs/src/main/asciidoc/container-image.adoc
Labels: area/documentation, triage/backport-3.6, triage/backport

#38254 Document how Keycloak Admin Client and Dev Service can use the same port for testing
  docs/src/main/asciidoc/security-keycloak-admin-client.adoc
Labels: area/documentation, triage/backport

#37753 Javadoc edits for quarkus-oidc.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport

#38258 Fix typos and formatting in ADR-0002
  adr/0002-reactive-rename.adoc
Labels: area/adr

#38255 Qute: fix UserTagSectionHelper.Arguments.asHtmlAttributes()
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/UserTagTest.java
Labels: area/qute, triage/backport

#38249 Fixed deprecation warnings caused by QuarkusPlugin
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools, triage/backport

#38241 [3.2] fix: use raw path and avoid double encoding, adapt tests accordingly
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/HelloClient.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/HelloResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/PassThroughResource.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkDevModeTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkIntegrationTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkResponseTimeLoadBalancerTest.java
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkWithPathIntegrationTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/StorkClientRequestFilter.java
  integration-tests/rest-client-reactive-stork/src/main/java/io/quarkus/it/rest/client/reactive/stork/Client.java
  integration-tests/rest-client-reactive-stork/src/main/java/io/quarkus/it/rest/client/reactive/stork/ClientCallingResource.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/FastWiremockServer.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/RestClientReactiveStorkTest.java
  integration-tests/rest-client-reactive-stork/src/test/java/io/quarkus/it/rest/reactive/stork/SlowWiremockServer.java
Labels: area/resteasy-reactive

#38262 [3.2] Remove config overriding the parent config
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/pom.xml
  devtools/gradle/gradle-extension-plugin/pom.xml
  extensions/spring-web/resteasy-classic/tests/pom.xml
  extensions/spring-web/resteasy-reactive/tests/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/arc/tests/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/pom.xml
  integration-tests/test-extension/extension/pom.xml
  pom.xml
  tcks/pom.xml
Labels: area/gradle, area/arc, area/spring, area/platform, area/dependencies, area/devtools

#38257 Update qute-reference.adoc
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation, triage/backport

#38260 [2.13] Prepare 2.13 for automated releases
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/revapi/pom.xml
  independent-projects/tools/pom.xml
  pom.xml
Labels: area/arc, area/platform, area/dependencies, area/devtools

#38278 Skip test truststores creation with -Dquickly*
  .github/workflows/ci-actions-incremental.yml
  pom.xml
Labels: area/infra-automation

#38266 Make RoutingContext available during SecurityIdentity augmentation
  bom/application/pom.xml
  docs/src/main/asciidoc/security-customization.adoc
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusIdentityProviderManagerImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityUtils.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/QuarkusHttpUser.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomSecurityIdentityAugmentor.java
Labels: area/documentation, area/security, area/vertx, area/dependencies, triage/backport

#38283 Upgrade to Hibernate ORM 6.4.2.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/backport

#38287 [3.2] Upgrade to RESTEasy 6.2.7
  bom/application/pom.xml
Labels: area/dependencies

#38127 Reset junit test's extension failed state for each test class
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: triage/waiting-for-ci, area/testing, area/native-image

#38277 ArC: consolidate handling of transitive interceptor bindings
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptorResolver.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Interceptors.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/CounterInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/TransitiveCounterInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/TransitiveInterceptorBindingTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/MuchCoolerInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/PlainInterceptor.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bindings/transitive/with/transformer/TransitiveInterceptionWithTransformerApplicationTest.java
Labels: area/arc, triage/waiting-for-ci, triage/backport

#38286 Bump Keycloak version to 23.0.4
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/documentation, area/oidc, area/dependencies, triage/backport

#38293 Apply polish to REST Client read timeout handling
  extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/timeout/RegisterReadTimeoutTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/InvocationBuilderImpl.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#38292 [3.2] Upgrade sshd to 2.12.0
  bom/application/pom.xml
Labels: area/dependencies

#38299 Migrate Security WebAuth guide to Hibernate ORM
  docs/src/main/asciidoc/security-webauthn.adoc
Labels: area/documentation

#38304 DevUI: Show source editor when config file is empty
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration-editor.js
Labels: area/vertx, triage/waiting-for-ci, triage/backport

#38310 Add note about the two quarkus-extension files
  docs/src/main/asciidoc/extension-metadata.adoc
Labels: area/documentation

#38242 Removed Panache marker and annotation processor in favour of Jandex use-site indexing
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheJpaCommonResourceProcessor.java
  extensions/panache/hibernate-reactive-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/kotlin/deployment/HibernateReactivePanacheKotlinProcessor.java
  extensions/panache/hibernate-reactive-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheConstants.java
  extensions/panache/panache-common/runtime/src/main/java/io/quarkus/panache/common/runtime/PanacheAnnotationProcessor.java
  extensions/panache/panache-common/runtime/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  extensions/panache/panache-hibernate-common/deployment/src/main/java/io/quarkus/panache/common/deployment/PanacheHibernateCommonResourceProcessor.java
  extensions/panache/panache-hibernate-common/runtime/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  integration-tests/gradle/src/main/resources/annotation-processor-simple-module/build.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/AnnotationProcessorSimpleModuleTest.java
Labels: area/panache, area/gradle, area/core, area/devtools

#38323 Fix entity-manager retrieval in spring-data-jpa
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/AdditionalJpaOperations.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/StockMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/multiple_pu/MultiplePersistenceUnitConfigTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/multiple_pu/second/SecondEntity.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/multiple_pu/second/SecondEntityRepository.java
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/spring/data/runtime/RepositorySupport.java
Labels: area/panache, area/spring, triage/backport

#38327 Updated docs for Panache marker removal
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation

#38295 Qute: improvements and fixes of UserTagSectionHelper.Arguments
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IncludeSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/LiteralSupport.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionBlock.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/UserTagSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/UserTagTest.java
Labels: area/documentation, area/qute, triage/backport

#38324 Support using tars and docker daemon as base image for Jib
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/container-image, triage/backport

#38248 Infinispan, upload schemas on backup clusters
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/MarshallingBuildItem.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientProducer.java
  extensions/infinispan-client/runtime/src/main/java/io/quarkus/infinispan/client/runtime/InfinispanClientRuntimeConfig.java
Labels: area/documentation, area/infinispan

#38332 Upgrade sshd from 2.10.0 to 2.12.0
  bom/application/pom.xml
Labels: area/dependencies, triage/backport

#38338 3.6.7 backports 2
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/runtime/AdditionalJpaOperations.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/StockMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/multiple_pu/MultiplePersistenceUnitConfigTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/multiple_pu/second/SecondEntity.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/multiple_pu/second/SecondEntityRepository.java
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/spring/data/runtime/RepositorySupport.java
Labels: area/panache, area/infra, area/spring, area/dependencies

#38342 Improve datasource tracing
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, area/tracing, area/docstyle

#38346 Update dockerfiles and set api server url in kuberneters and docker integration tests
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/verify.groovy
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/invoker.properties
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy-deploymentconfig/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/src/main/docker/Dockerfile.jvm
Labels: area/kubernetes
