Repository quarkusio/quarkus, pull requests merged in 2024-08, with the labels that each got.

#42200 Re-implement decorate stacktrace
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingDecorateBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/TemplateHtmlBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/DecorateStackUtil.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogBuildTimeConfig.java
  core/runtime/src/main/resources/META-INF/template-html-builder.css
  extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/UndertowBuildStep.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/QuarkusErrorServlet.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/ide/IdeProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/logstream/LogStreamProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/UnhandledExceptionTest.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-server-log.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/logstream/LogStreamRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/logstream/MutinyLogHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/DecoratedAssertionError.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FileCollector.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/StackTraceDecorator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ide/IdeRecorder.java
Labels: area/core, area/logging, area/vertx, triage/waiting-for-ci, area/undertow, triage/flaky-test

#42203 Upload build stats to collector using ubuntu
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#42186 Manage opentelemetry-semconv-incubating
  bom/application/pom.xml
Labels: area/dependencies, area/tracing, triage/flaky-test

#42178 Rename suggested extensions in "Consider adding ..." warning messages
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/QuarkusClientEndpointIndexer.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/spi/JsonMissingMessageBodyReaderErrorMessageContextualizer.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/spi/XmlMissingMessageBodyReaderErrorMessageContextualizer.java
Labels: area/resteasy-reactive

#42097 Update UBI images to latest
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  extensions/container-image/container-image-docker-common/deployment/src/test/java/io/quarkus/container/image/docker/common/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker-common/deployment/src/test/java/io/quarkus/container/image/docker/common/deployment/UbiMinimalBaseProviderTest.java
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/ubi8-java17
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/ubi8-java21
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/ubi8-openjdk-17-runtime
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/ubi8-openjdk-21-runtime
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/ubi9-openjdk-17-runtime
  extensions/container-image/container-image-docker-common/deployment/src/test/resources/ubi9-openjdk-21-runtime
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/ContainerImageJibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/ContainerImageOpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  integration-tests/awt/src/main/docker/Dockerfile.native
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/src/main/docker/Dockerfile.jvm
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy-deploymentconfig/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/src/main/docker/Dockerfile.jvm
  integration-tests/maven/src/test/resources-filtered/projects/codegen-config-factory/app/src/main/docker/Dockerfile.jvm
  integration-tests/maven/src/test/resources-filtered/projects/codegen-config-factory/app/src/main/docker/Dockerfile.legacy-jar
  integration-tests/maven/src/test/resources-filtered/projects/codegen-config-factory/app/src/main/docker/Dockerfile.native
Labels: area/documentation, triage/on-ice, area/maven, area/platform, area/kubernetes, area/devtools, area/graphics, triage/flaky-test

#42106 Move REST Client configuration to use @ConfigMapping
  extensions/resteasy-classic/rest-client-config/deployment/src/main/java/io/quarkus/restclient/config/deployment/RestClientConfigUtils.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/AbstractRestClientConfigBuilder.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/QueryParamStyleConverter.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RegisteredRestClient.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientBuildConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientBuilderFactory.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientFallbackConfigSourceInterceptor.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientLoggingConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientMultipartConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientNameFallbackConfigSourceInterceptor.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsBuildTimeConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.Converter
  extensions/resteasy-classic/rest-client-config/runtime/src/test/java/io/quarkus/restclient/config/RestClientConfigTest.java
  extensions/resteasy-classic/rest-client-config/runtime/src/test/resources/application.properties
  extensions/resteasy-classic/resteasy-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/GlobalConfigurationTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/QuarkusConfigurationTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientConfigNotationTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientOverrideRuntimeConfigTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/UnknownConfigTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/VaultScenarioRestClientConfigTest.java
  extensions/resteasy-classic/resteasy-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java
  extensions/resteasy-classic/resteasy-client/runtime/src/test/java/io/quarkus/restclient/runtime/RestClientBaseTest.java
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/RestClientBuildItem.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/devservices/DevServicesRestClientHttpProxyProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/ConfigurationTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/GlobalConfigurationTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/LegacyConfigurationTest.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPConfigSourceInterceptor.java
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPConfigSourceProvider.java
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPResourceManager.java
  test-framework/common/src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceInterceptor
Labels: area/resteasy, area/testing, area/resteasy-reactive, triage/flaky-test

#42268 Add a note about the REST Client's dev mode proxy
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation

#42262 Centralize and fix impsort/formatter config
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/platform, area/dependencies, area/devtools

#42261 Bump Microsoft SQL Server JDBC driver to 12.8.0
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/flaky-test

#42252 Fix `QuarkusMainLauncher` not returning exit code
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/ExitCodeCommand.java
  integration-tests/picocli-native/src/main/java/io/quarkus/it/picocli/TopTestCommand.java
  integration-tests/picocli-native/src/test/java/io/quarkus/it/picocli/PicocliTest.java
  integration-tests/picocli/src/main/java/io/quarkus/it/picocli/ExitCodeCommand.java
  integration-tests/picocli/src/test/java/io/quarkus/it/picocli/TestExitCode.java
Labels: area/core, area/picocli, triage/flaky-test, triage/backport

#42264 Bump smallrye-config from 3.9.0 to 3.9.1
  bom/application/pom.xml
Labels: area/config, area/smallrye, triage/waiting-for-ci, area/dependencies, triage/flaky-test, triage/backport

#42265 Fix and refactor ReflectiveClassBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageReflectConfigStep.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#40415 Added a method to walk a subtree of a given PathTree
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/StaticResourcesProcessor.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/ArchivePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/CachingPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/DirectoryPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/EmptyPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilteredPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/MultiRootPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTreeUtils.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTreeVisit.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathUtils.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/SharedArchivePathTree.java
  independent-projects/bootstrap/app-model/src/test/java/io/quarkus/paths/WalkSubtreeTest.java
Labels: area/vertx, area/qute, area/devtools, triage/flaky-test

#41063 Generate jackson serializers
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonOptimizationConfig.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonSerializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Cat.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/ResteasyReactiveServerJacksonRecorder.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/mappers/JacksonMapperUtil.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/security/RolesAllowedConfigExpStorage.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/security/SecurityPropertyFilter.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/BasicServerJacksonMessageBodyWriter.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyWriter.java
Labels: release/noteworthy-feature, area/resteasy-reactive

#42202 Using filtering parameters and namedQuery in the count query
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/PaginationImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/QueryImplementor.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/RepositoryMethodsImplementor.java
Labels: area/panache, triage/waiting-for-ci, area/spring

#42280 Add tests for quarkus.elasticsearch.health.enabled
  integration-tests/elasticsearch-rest-client/src/test/java/io/quarkus/it/elasticsearch/FruitResourceTest.java
  integration-tests/elasticsearch-rest-client/src/test/java/io/quarkus/it/elasticsearch/HealthDisabledResourceTest.java
  integration-tests/elasticsearch-rest-client/src/test/java/io/quarkus/it/elasticsearch/HealthResourceTest.java
  integration-tests/elasticsearch-rest-client/src/test/java/io/quarkus/it/elasticsearch/profile/HealthDisabledTestProfile.java
Labels: area/elasticsearch

#42156 mtls-certificates: Fail on transport, not network level (wrong port)
  integration-tests/mtls-certificates/src/main/resources/application.properties
  integration-tests/mtls-certificates/src/test/java/io/quarkus/it/vertx/AbstractCertificateRoleMappingTest.java
Labels: area/testing

#42284 Add one more level of TOC for Qute reference guide
  docs/src/main/asciidoc/qute-reference.adoc
Labels: area/documentation, triage/backport

#42282 WebSockets Next: CloseReason - fix NPE if connection terminated abruptly
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/CloseReason.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
Labels: triage/waiting-for-ci, triage/backport

#42287 Fix typo in JBang doc
  docs/src/main/asciidoc/scripting.adoc
Labels: area/documentation, triage/backport

#42288 feat: Allow funer tuning of shared network usage by Keycloak DevServices
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: triage/waiting-for-ci, area/oidc, triage/backport

#42291 Missing = in system property additionalUpdateRecipes for quarkus update maven runner
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
Labels: kind/bug, area/devtools, area/cli

#42289 Document reflection free Jackson serializers
  docs/src/main/asciidoc/rest.adoc
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonOptimizationConfig.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
Labels: area/documentation, area/resteasy-reactive

#42218 Fix group overriding with machine username
  devtools/cli/src/main/java/io/quarkus/cli/image/ImageOptions.java
Labels: triage/waiting-for-ci, area/devtools, area/cli, kind/bugfix, triage/backport

#42260 Fix a race condition in ReactiveDatasourceHealthCheck data field population
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/ReactiveDatasourceHealthCheck.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/DataSourceHealthCheckPayloadTest.java
  extensions/reactive-mysql-client/deployment/src/test/java/io/quarkus/reactive/mysql/client/DataSourceHealthCheckPayloadTest.java
  extensions/reactive-oracle-client/deployment/src/test/java/io/quarkus/reactive/oracle/client/DataSourceHealthCheckPayloadTest.java
  extensions/reactive-pg-client/deployment/src/test/java/io/quarkus/reactive/pg/client/DataSourceHealthCheckPayloadTest.java
Labels: area/smallrye, area/health, area/reactive-sql-clients, triage/backport

#42179 Sort identity providers by priority in QuarkusIdentityProviderManagerImpl
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/QuarkusIdentityProviderManagerImpl.java
  extensions/security/runtime/src/test/java/io/quarkus/security/runtime/QuarkusIdentityProviderManagerImplTest.java
Labels: area/security, triage/flaky-test

#42311 Add more supported types to @ClientExceptionMapper
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/ClientExceptionMapperHandler.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/DotNames.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/error/clientexceptionmapper/RegisteredClientExceptionMapperTest.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/ClientExceptionMapper.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: area/resteasy-reactive

#42290 Don't convert WebApplicationException in REST Client when produced by a custom mapper
  extensions/resteasy-reactive/rest-client-jackson/deployment/src/test/java/io/quarkus/rest/client/reactive/jackson/test/BadRequestNotPropagatedTestCase.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/MicroProfileRestClientResponseFilter.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: triage/waiting-for-ci, area/resteasy-reactive

#42320 Actually upgrade Vert.x to 4.5.9 in the BOM
  bom/application/pom.xml
Labels: area/vertx, area/dependencies, triage/flaky-test, triage/backport

#42306 Add guidelines about runtime footprint
  CONTRIBUTING.md
Labels: triage/waiting-for-ci

#42332 Add ability to always require a socket
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/RequireSocketHttpBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
Labels: area/vertx, triage/flaky-test

#42310 Fix Dev UI Theme switch
  bom/dev-ui/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-theme-switch.js
Labels: area/vertx, triage/waiting-for-ci, area/dependencies, triage/flaky-test, triage/backport

#41975 [3.8] 3.8.6 backports 1
  bom/application/pom.xml
  docs/src/main/asciidoc/getting-started.adoc
  docs/src/main/asciidoc/security-customization.adoc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/stylesheet/config.css
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ProdModeTestBuildStep.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/continuoustesting/TestModeContinuousTestingMavenTestUtils.java
Labels: area/documentation, area/maven, area/infra, area/testing, area/dependencies

#42336 Manage mutiny-zero to avoid dependency convergence issues in downstream Camel Quarkus
  bom/application/pom.xml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/mutiny, triage/flaky-test, triage/backport

#42340 [3.13] 3.13.1 backports 2
  bom/application/pom.xml
  bom/dev-ui/pom.xml
  bom/test/pom.xml
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/image/ImageOptions.java
  devtools/gradle/gradle/libs.versions.toml
  docs/src/main/asciidoc/qute-reference.adoc
  docs/src/main/asciidoc/scripting.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-orm-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/orm/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/hibernate-reactive-rest-data-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/rest/data/panache/deployment/AbstractGetMethodTest.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/DataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/EntityDataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/RepositoryDataAccessImplementor.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/ResourceImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/PaginationImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/QueryImplementor.java
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/ReactiveDatasourceHealthCheck.java
  extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/DataSourceHealthCheckPayloadTest.java
  extensions/reactive-mysql-client/deployment/src/test/java/io/quarkus/reactive/mysql/client/DataSourceHealthCheckPayloadTest.java
  extensions/reactive-oracle-client/deployment/src/test/java/io/quarkus/reactive/oracle/client/DataSourceHealthCheckPayloadTest.java
  extensions/reactive-pg-client/deployment/src/test/java/io/quarkus/reactive/pg/client/DataSourceHealthCheckPayloadTest.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/RepositoryMethodsImplementor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/RequireSocketHttpBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-theme-switch.js
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/CloseReason.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/documentation, area/panache, area/gradle, area/infra, area/vertx, area/oidc, area/spring, area/dependencies, area/devtools, area/cli, area/reactive-sql-clients, triage/flaky-test

#42352 Conditionally index test related transaction annotations
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
  extensions/panache/hibernate-reactive-panache-common/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/common/deployment/PanacheJpaCommonResourceProcessor.java
Labels: area/panache, area/narayana

#42334 Upgrade to Oracle JDBC driver 23.5
  bom/application/pom.xml
Labels: area/dependencies, triage/flaky-test

#42351 Dev UI show non container dev services
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/DevServiceDescriptionBuildItem.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/DevServicesProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/DevServicesProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-dev-services.js
Labels: area/core, area/vertx, triage/waiting-for-ci, triage/flaky-test

#42373 Fix section level for Varying database in Hibernate ORM
  docs/src/main/asciidoc/hibernate-orm.adoc
Labels: area/documentation

#42359 Upgrade mariadb-java-client to 3.4.1
  bom/application/pom.xml
  extensions/jdbc/jdbc-mariadb/runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/SendPamAuthPacket_Substitutions.java
Labels: area/persistence, area/dependencies

#42364 Update Kotlin to 2.0.10
  bom/application/pom.xml
  build-parent/pom.xml
  extensions/schema-registry/confluent/pom.xml
  independent-projects/arc/pom.xml
  integration-tests/kafka-json-schema-apicurio2/pom.xml
Labels: area/arc, area/dependencies

#42376 Fix spring-data-jpa `@Modifying(flushAutomatically = true)`
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/ModifyingQueryWithFlushAndClearTest.java
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/spring/data/runtime/RepositorySupport.java
Labels: area/spring, triage/backport

#42377 Update gitflow-incremental-builder to 4.5.4
  pom.xml
Labels: triage/waiting-for-ci

#42388 Ensure that all AutoCloseable binders are closed
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerRecorder.java
Labels: area/metrics, triage/backport

#42357 [3.8] Upgrade quarkus-http to 5.2.3
  bom/application/pom.xml
Labels: area/dependencies

#42393 Doc - Do not start Keycloak Dev Services when test resource is around
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: area/documentation, area/docstyle, triage/backport

#42361 Allow disabling health extension with configuration
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthBuildTimeConfig.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthActive.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthFeatureProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/DeactiveHealthWithConfigTest.java
Labels: area/smallrye, area/health

#42395 Add Mario Fusco to Jackson issues
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#42386 Fix doc for IdOptimizerType
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
Labels: area/persistence, area/hibernate-orm

#42387 Vert.x Cache Directory configuration ignored
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
  extensions/vertx/runtime/src/test/java/io/quarkus/vertx/core/runtime/VertxCoreProducerTest.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport

#42378 Reorganize Hibernate Search management config
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchEnabled.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchManagementEnabled.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfig.java
  extensions/hibernate-search-orm-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/HibernateSearchElasticsearchBuildTimeConfigManagement.java
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/deployment/HibernateSearchStandaloneEnabled.java
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/deployment/HibernateSearchStandaloneManagementEnabled.java
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/deployment/HibernateSearchStandaloneProcessor.java
  extensions/hibernate-search-standalone-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/runtime/HibernateSearchStandaloneBuildTimeConfig.java
  extensions/hibernate-search-standalone-elasticsearch/runtime/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/runtime/HibernateSearchStandaloneBuildTimeConfigManagement.java
Labels: area/hibernate-search

#42397 Improve quarkiverse hub link in extensions doc, add link to extensions catalog
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#42362 [3.8] 3.8.6 backports 3
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedRemoteDevModeMain.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigPropertyBuildItem.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/TransactionScopedStatelessSession.java
  extensions/jackson/deployment/src/test/java/io/quarkus/jackson/deployment/JacksonDefaultPoolTest.java
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/VertxHybridPoolObjectMapperCustomizer.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/generatedresolvers/ImplicitValueResolversTest.java
  extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/ResteasyCommonConfig.java
  extensions/resteasy-classic/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/ResteasyConfigurationMPConfig.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/VertxJsonEndpoint.java
  extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/VertxJsonTest.java
  extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/ContextPropagationInitializedBuildItem.java
  extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/spring-boot-properties/deployment/src/main/java/io/quarkus/spring/boot/properties/deployment/ClassConfigurationPropertiesUtil.java
  extensions/spring-boot-properties/deployment/src/main/java/io/quarkus/spring/boot/properties/deployment/InterfaceConfigurationPropertiesUtil.java
  extensions/vertx/deployment/pom.xml
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxJsonProcessor.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/BufferDeserializer.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/BufferSerializer.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/JsonArrayDeserializer.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/JsonArraySerializer.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/JsonObjectDeserializer.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/JsonObjectSerializer.java
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/util/Encode.java
  independent-projects/resteasy-reactive/common/runtime/src/test/java/org/jboss/resteasy/reactive/common/util/EncodeTest.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/analytics-common/src/main/java/io/quarkus/analytics/util/FileUtils.java
  independent-projects/tools/pom.xml
  integration-tests/jpa-postgresql/src/test/resources/image-metrics/23.1/image-metrics.properties
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateJBangProjectMojoIT.java
  integration-tests/opentelemetry-vertx-exporter/src/test/java/io/quarkus/it/opentelemetry/vertx/exporter/OtelCollectorLifecycleManager.java
  tcks/microprofile-config/pom.xml
Labels: area/documentation, area/persistence, area/gradle, area/core, area/arc, area/maven, area/resteasy, area/smallrye, area/infra, area/vertx, area/hibernate-orm, area/oidc, area/spring, area/platform, area/dependencies, area/qute, area/devtools, area/fault-tolerance, area/jbang, area/resteasy-reactive, area/jackson, area/context-propagation

#42404 Apply minor polish to OpenTelemetry code
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/MDCEnabledContextStorage.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/propagation/OpenTelemetryMpContextPropagationProvider.java
Labels: area/tracing

#42363 Ignore Kotlin compiler generated annotations during live reload
  core/deployment/src/main/java/io/quarkus/deployment/dev/ClassComparisonUtil.java
Labels: area/core, area/kotlin, triage/waiting-for-ci, triage/backport

#41725 Improvement: early exit from loop, when the only loop condition is met
  extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/ReportCreator.java
Labels: area/amazon-lambda, area/testing

#41727 BugFix fixed package name for a class according to its location
  extensions/caffeine/deployment/src/main/java/io/quarkus/caffeine/deployment/devui/CaffeineDevUIProcessor.java
Labels: triage/flaky-test

#42415 Upgrade to Jandex 3.2.2
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, area/platform, area/dependencies, area/devtools, triage/backport

#42308 Upgrade dependencies liquibase to 4.29.1 and liquibase-mongodb to 4.28.0
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/annotations/BuildProducer.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageResourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ServiceProviderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/util/ArtifactResourceResolver.java
  core/deployment/src/main/java/io/quarkus/deployment/util/ServiceUtil.java
  extensions/liquibase-mongodb/deployment/pom.xml
  extensions/liquibase-mongodb/deployment/src/main/java/io/quarkus/liquibase/mongodb/deployment/LiquibaseMongodbProcessor.java
  extensions/liquibase-mongodb/runtime/pom.xml
  extensions/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/runtime/graal/SubstituteStringUtil.java
  extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java
  extensions/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/graal/SubstituteStringUtil.java
Labels: area/core, area/dependencies, area/liquibase, triage/flaky-test

#42423 Make singleResultOptional throw jakarta exceptions
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/defaultpu/TestEndpoint.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/defaultpu/PanacheFunctionalityTest.java
Labels: area/panache, triage/backport

#42421 Update Maven Resolver API to 1.9.22
  independent-projects/bootstrap/pom.xml
Labels: area/devtools, triage/flaky-test

#41648 Make mvnd 1.X work and require Maven 3.9.6 to build Quarkus
  .mvn/maven.config
  independent-projects/parent/pom.xml
  integration-tests/gradle/update-dependencies.sh
  tcks/resteasy-reactive/update-dependencies.sh
  update-extension-dependencies.sh
Labels: release/noteworthy-feature, area/gradle, area/maven, triage/waiting-for-ci, release/breaking-change, triage/flaky-test

#42405 Update Maven Surefire Plugin to 3.3.1
  docs/src/main/asciidoc/native-reference.adoc
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-inherit/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-jib/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-image-push/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/pom.xml
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-grpc-same-server/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-grpc/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-callback-from-extension/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-parameter-injection/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension-with-bytecode-changes/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension/pom.xml
Labels: area/documentation, area/maven, area/amazon-lambda, triage/waiting-for-ci, area/platform, area/kubernetes, area/devtools, area/funqy

#42439 Qute template records: fix the way the canonical constructor is found
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateRecordEnhancer.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/records/TemplateRecordTest.java
Labels: area/qute, triage/backport-3.8, triage/backport

#42409 Vertx HTTP: execute custom logic when HTTP server is started
  docs/src/main/asciidoc/http-reference.adoc
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/start/HttpServerStartEventsTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/DomainSocketServerStart.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/HttpServerStart.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/HttpsServerStart.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: release/noteworthy-feature, area/documentation, area/vertx, triage/waiting-for-ci

#42435 Update javadoc and docs about `@WithTestResource`
  docs/src/main/asciidoc/getting-started-testing.adoc
  test-framework/common/src/main/java/io/quarkus/test/common/QuarkusTestResource.java
  test-framework/common/src/main/java/io/quarkus/test/common/WithTestResource.java
Labels: area/documentation, triage/waiting-for-ci, area/testing, triage/backport

#42436 Fix methos to methods typos
  docs/src/main/asciidoc/websockets-next-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateData.java
Labels: area/documentation, triage/waiting-for-ci, triage/backport

#42434 Fixes potential NPE when custom converters receive empty parameters
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/converters/RuntimeParamConverterTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/RuntimeResolvedConverter.java
Labels: triage/waiting-for-ci, area/resteasy-reactive, triage/flaky-test, triage/backport-3.8, triage/backport

#40911 Update maven wrapper to 3.3.2
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  build-parent/pom.xml
  docs/src/main/asciidoc/building-native-image.adoc
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/MavenWrapperDownloader.tpl.qute.java
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/maven-wrapper.tpl.qute.properties
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/mvnw.tpl.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/mvnw.tpl.qute.cmd
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  independent-projects/tools/registry-client/src/test/resources/catalog-config/quarkus-bom-quarkus-platform-descriptor-999-SNAPSHOT-999-SNAPSHOT.json
  independent-projects/tools/registry-client/src/test/resources/catalog-config/quarkus-universe-bom-quarkus-platform-descriptor-2.0.3.Final-2.0.3.Final.json
  mvnw
  mvnw.cmd
Labels: area/documentation, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, triage/flaky-test

#42445 Upgrade mongodb-client to 5.1.3
  bom/application/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/FindOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/MapReduceOptions.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/metrics/MongoMetricsConnectionPoolListener.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/graal/MongoClientSubstitutions.java
Labels: triage/waiting-for-ci, area/mongodb, area/dependencies, triage/flaky-test

#41359 Upgrade to Hibernate ORM 6.6 / Search 7.2 / Reactive 2.4
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateLogFilterBuildStep.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/enhancer/HibernateEntityEnhancerPresentEmbeddableTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/StatelessSessionLazyDelegator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/PrevalidatedQuarkusMetadata.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusConnectionProviderInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusIdentifierGeneratorFactoryInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusMutableIdentifierGeneratorFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusSimplifiedIdentifierGeneratorFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusStaticInitConnectionProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusStaticInitConnectionProviderInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/StandardHibernateORMInitiatorListProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/TransactionScopedStatelessSession.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/ReactiveHibernateInitiatorListProvider.java
  pom.xml
Labels: release/noteworthy-feature, area/documentation, area/panache, area/persistence, area/hibernate-orm, area/spring, area/dependencies, area/infra-automation, area/hibernate-reactive, triage/flaky-test

#42467 Remove dead links in podman documentation
  docs/src/main/asciidoc/podman.adoc
Labels: area/documentation, triage/backport

#42464 Bump Elasticsearch/OpenSearch version used for tests/devservices to 8.15/2.16
  build-parent/pom.xml
  docs/src/main/asciidoc/hibernate-search-orm-elasticsearch.adoc
  docs/src/main/asciidoc/hibernate-search-standalone-elasticsearch.adoc
  extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/DevServicesElasticsearchProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui-active-false-and-named-pu-active-true.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui-active-false.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-devui.properties
  extensions/hibernate-search-orm-elasticsearch/deployment/src/test/resources/application-start-offline.properties
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/test/resources/application-devui-active-false.properties
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/test/resources/application-devui.properties
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/test/resources/application-start-offline.properties
  integration-tests/elasticsearch-java-client/pom.xml
  integration-tests/elasticsearch-rest-client/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-outbox-polling/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch-tenancy/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/pom.xml
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-orm-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/orm/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesDisabledImplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-orm-opensearch/src/test/java/io/quarkus/it/hibernate/search/orm/opensearch/devservices/HibernateSearchOpenSearchDevServicesDisabledImplicitlyTest.java
  integration-tests/hibernate-search-standalone-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/standalone/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-standalone-elasticsearch/src/test/java/io/quarkus/it/hibernate/search/standalone/elasticsearch/devservices/HibernateSearchElasticsearchDevServicesDisabledImplicitlyTest.java
  integration-tests/hibernate-search-standalone-opensearch/src/test/java/io/quarkus/it/hibernate/search/standalone/opensearch/devservices/HibernateSearchOpenSearchDevServicesDisabledExplicitlyTest.java
  integration-tests/hibernate-search-standalone-opensearch/src/test/java/io/quarkus/it/hibernate/search/standalone/opensearch/devservices/HibernateSearchOpenSearchDevServicesDisabledImplicitlyTest.java
  integration-tests/logging-gelf/pom.xml
Labels: area/documentation, area/logging, area/hibernate-search, area/dependencies, area/elasticsearch

#42455 Various improvements for config doc generation
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/discovery/DiscoveryConfigRoot.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/merger/JavadocMerger.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/merger/JavadocRepository.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/merger/MergedModel.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/merger/ModelMerger.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/model/ConfigRoot.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/model/ConfigSection.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/resolver/ConfigResolver.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/scanner/ConfigAnnotationScanner.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/scanner/ConfigMappingListener.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/scanner/JavadocConfigMappingListener.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/scanner/JavadocLegacyConfigRootListener.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/scanner/LegacyConfigRootListener.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/util/JacksonMappers.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/util/JavadocUtil.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/util/Types.java
  core/processor/src/main/java/io/quarkus/annotation/processor/util/FilerUtil.java
  core/runtime/src/main/java/io/quarkus/runtime/ConfigConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigDocPrefix.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/AsciidocFormatter.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/ConfigSectionJavadoc.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/GenerateAsciidocMojo.java
  devtools/config-doc-maven-plugin/src/main/resources/templates/allConfig.qute.adoc
  devtools/config-doc-maven-plugin/src/main/resources/templates/configReference.qute.adoc
  devtools/config-doc-maven-plugin/src/main/resources/templates/tags/configProperty.qute.adoc
  devtools/config-doc-maven-plugin/src/main/resources/templates/tags/configSection.qute.adoc
  docs/pom.xml
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/databases-dev-services.adoc
  docs/src/main/asciidoc/elasticsearch-dev-services.adoc
Labels: area/documentation, area/core, area/devtools, triage/flaky-test

#42443 Only enable the extension annotation processor for default-compile
  extensions/elasticsearch-java-client/deployment/pom.xml
  extensions/elasticsearch-java-client/runtime/pom.xml
  extensions/elasticsearch-rest-client/deployment/pom.xml
  extensions/elasticsearch-rest-client/runtime/pom.xml
  extensions/elytron-security-jdbc/deployment/pom.xml
  extensions/elytron-security-jdbc/runtime/pom.xml
  extensions/elytron-security-ldap/deployment/pom.xml
  extensions/elytron-security-ldap/runtime/pom.xml
  extensions/hibernate-envers/deployment/pom.xml
  extensions/logging-gelf/deployment/pom.xml
  extensions/logging-gelf/runtime/pom.xml
  extensions/panache/hibernate-orm-panache-kotlin/deployment/pom.xml
  extensions/panache/hibernate-orm-rest-data-panache/deployment/pom.xml
  extensions/panache/hibernate-orm-rest-data-panache/runtime/pom.xml
  extensions/panache/hibernate-reactive-panache-kotlin/deployment/pom.xml
  extensions/panache/mongodb-rest-data-panache/deployment/pom.xml
  extensions/panache/mongodb-rest-data-panache/runtime/pom.xml
  extensions/picocli/deployment/pom.xml
  extensions/picocli/runtime/pom.xml
  extensions/resteasy-reactive/rest-client-jaxrs/kotlin/pom.xml
  extensions/resteasy-reactive/rest-client/runtime/pom.xml
  extensions/resteasy-reactive/rest-kotlin-serialization-common/deployment/pom.xml
  extensions/resteasy-reactive/rest-kotlin-serialization-common/runtime/pom.xml
  extensions/resteasy-reactive/rest-kotlin/runtime/pom.xml
  extensions/resteasy-reactive/rest-links/deployment/pom.xml
  extensions/scheduler/kotlin/pom.xml
  extensions/security-jpa-common/deployment/pom.xml
  extensions/security-jpa-common/runtime/pom.xml
  extensions/security-jpa-reactive/deployment/pom.xml
  extensions/security-jpa-reactive/runtime/pom.xml
  extensions/security-jpa/deployment/pom.xml
  extensions/security-jpa/runtime/pom.xml
  extensions/security-webauthn/deployment/pom.xml
  extensions/security-webauthn/runtime/pom.xml
  extensions/smallrye-graphql-client/deployment/pom.xml
  extensions/smallrye-graphql-client/runtime/pom.xml
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/runtime/pom.xml
  extensions/smallrye-reactive-messaging/kotlin/pom.xml
  extensions/vertx-graphql/deployment/pom.xml
  extensions/vertx-graphql/runtime/pom.xml
  extensions/vertx/kotlin/runtime/pom.xml
  extensions/websockets-next/deployment/pom.xml
  extensions/websockets-next/kotlin/pom.xml
  integration-tests/test-extension/extension/deployment/pom.xml
  integration-tests/test-extension/extension/runtime/pom.xml
Labels: area/panache, area/persistence, area/security, area/logging, area/smallrye, area/vertx, area/scheduler, area/reactive-messaging, area/hibernate-orm, area/elasticsearch, area/graphql, area/resteasy-reactive, area/picocli

#42469 Adjust extension templates for new config doc setup
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/deployment/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/runtime/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/pom.tpl.qute.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_docs_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_runtime_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_runtime_pom.xml
Labels: area/maven, area/platform, area/devtools

#42472 Fix connection port for MongoDB dev services using shared network
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
Labels: area/mongodb, triage/backport

#42470 Replace maintain-one-comment action with our own
  .github/workflows/preview-teardown.yml
  .github/workflows/preview.yml
Labels: area/infra-automation

#42474 Update obsolete Forbiddenapis error message
  extensions/hibernate-orm/deployment/banned-signatures.txt
Labels: area/persistence, area/hibernate-orm, triage/flaky-test

#41735 Improvement: removed collections, which are updated, but never queried
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
Labels: area/gradle, triage/waiting-for-ci, area/qute, area/devtools

#42407 Added more debugging output when a QuarkusClassLoader has been accessed
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/devtools

#41828 Avoid deprecated quarkus.test.disable-console-input in test framewok
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ContinuousTestingTestUtils.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/continuoustesting/ContinuousTestingMavenTestUtils.java
Labels: area/maven, area/testing

#42008 Option to try all OIDC JWK keys as fallback
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DynamicVerificationKeyResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/JsonWebKeySet.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcProviderTest.java
Labels: area/oidc

#42477 Switch back to Detached configuration for conditional dependencies in Gradle
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
Labels: area/gradle, area/devtools, triage/backport

#42481 Allow using Maven 3.8.6 again for Quarkus apps
  build-parent/pom.xml
Labels: area/maven, area/dependencies, triage/flaky-test

#42349 Dev UI: Upgraded Lit
  bom/dev-ui/pom.xml
Labels: area/dependencies, area/dev-ui, triage/flaky-test

#42490 Bump to Keycloak 25.0.2
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/documentation, area/oidc, area/dependencies, area/docstyle

#42486 Make the boot jars in jib respect `quarkus.jib.use-current-timestamp-file-modification`
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
Labels: area/container-image

#42518 Retire the area/persistence label and use area/jdbc where possible
  .github/quarkus-github-bot.yml
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#42503 Elements missing in quarkus-config-javadoc.yaml for types nested more deeply than 1 level
  core/processor/src/main/java/io/quarkus/annotation/processor/util/ElementUtil.java
Labels: area/core

#42502 Bump com.h2database:h2 from 2.3.230 to 2.3.232
  bom/application/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/config/DialectVersions.java
  integration-tests/jpa-h2-embedded/src/main/java/io/quarkus/it/jpa/h2/DialectEndpoint.java
  integration-tests/jpa-h2-embedded/src/test/java/io/quarkus/it/jpa/h2/DialectTest.java
  integration-tests/jpa-h2/src/main/java/io/quarkus/it/jpa/h2/DialectEndpoint.java
  integration-tests/jpa-h2/src/test/java/io/quarkus/it/jpa/h2/DialectTest.java
Labels: area/persistence, area/hibernate-orm, area/dependencies, triage/flaky-test

#42515 Commit all doc include changes
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/release.tpl.qute.yml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_release.yml
Labels: area/maven, area/platform, area/devtools

#42513 Freeform Map<String,String> configuration properties always marked as required
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/resolver/ConfigResolver.java
Labels: area/core, triage/flaky-test

#42532 Remove quarkus-panache-common from docs
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation

#42450 Bump kubernetes-client-bom from 6.13.1 to 6.13.3
  pom.xml
Labels: area/kubernetes, triage/flaky-test

#42528 Fix the paths considered for the documentation build
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/doc-build.yml
  docs/pom.xml
Labels: area/documentation, area/infra-automation

#42522 Provide a @ConfigDocEnum annotation to enforce hyphenation of enum
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/discovery/DiscoveryConfigProperty.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/resolver/ConfigResolver.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/scanner/AbstractConfigListener.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/scanner/ConfigMappingListener.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/scanner/LegacyConfigRootListener.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/util/Types.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigDocEnum.java
Labels: area/core, triage/waiting-for-ci

#42480 Fix SmallRye Health OpenAPI definitions
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthOpenAPIFilter.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/DeprecatedHealthOpenAPITest.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/HealthOpenAPITest.java
Labels: area/health, triage/backport

#42498 Improve Oidc documentation of dev service
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/oidc

#42492 Memory improvements related to PathTree and Manifests
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/ArchivePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/DirectoryPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/EmptyPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilteredPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/ManifestAttributes.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/MultiRootPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/OpenContainerPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTreeWithManifest.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/SharedArchivePathTree.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/AbstractClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/FilteredClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/PathTreeClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
Labels: area/devtools

#42524 Add http root to OIDC back channel logout handlers
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
Labels: area/oidc, triage/backport-3.13, triage/backport

#42533 Handle GraalVM EA versions and update GraalVM version mapping
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/steps/GraalVMTest.java
Labels: area/core

#42538 Correct indendation in metadata documentation so metadata is actually in the metadata block
  docs/src/main/asciidoc/extension-metadata.adoc
Labels: area/documentation, triage/backport

#42561 Properly handle case when quarkus-extension.yaml doesn't exist
  core/processor/src/main/java/io/quarkus/annotation/processor/util/FilerUtil.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test, triage/backport

#42551 Bump apicurio-registry.version from 2.5.10.Final to 2.6.2.Final
  bom/application/pom.xml
Labels: area/dependencies, triage/flaky-test, triage/backport

#42570 Codestart support dockerfile.jvm.from override variable
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
Labels: area/platform, area/devtools, area/codestarts

#42565 Codestart support merging application profile yaml files
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/project/quarkus/codestart.yml
  independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/CodestartFileStrategy.java
  independent-projects/tools/codestarts/src/test/java/io/quarkus/devtools/codestarts/core/strategy/CodestartFileStrategyTest.java
Labels: area/platform, area/devtools, area/codestarts

#42540 Redis cache: make blocking executions unordered
  extensions/redis-cache/deployment/src/test/java/io/quarkus/cache/redis/deployment/ChainedRedisCacheTest.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheImpl.java
Labels: area/cache, area/redis

#42585 Do not try to create temp directory in test archives
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/testing, triage/backport

#42595 Properly check header before extracting the bearer token
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2AuthMechanism.java
  integration-tests/elytron-security-oauth2/src/test/java/io/quarkus/it/elytron/oauth2/ElytronOauth2ExtensionResourceTestCase.java
Labels: area/security, triage/backport-3.13, triage/backport

#42588 Use the root path for OpenContainerPathTree#getRoots()
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/OpenContainerPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTree.java
Labels: area/devtools, triage/flaky-test, triage/backport

#42611 Fix obsolete csrf extension name and configuration
  docs/src/main/asciidoc/security-csrf-prevention.adoc
Labels: area/documentation, triage/backport

#42496 Configuration Cache compatibility (`QuarkusGenerateCode` - `QuarkusBuid`)
  devtools/gradle/gradle-application-plugin/build.gradle.kts
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/AbstractQuarkusExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/Deploy.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/ImageTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildCacheableAppParts.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildDependencies.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusPluginExtensionView.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusRun.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusShowEffectiveConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/workspace/descriptors/DefaultProjectDescriptor.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/workspace/descriptors/ProjectDescriptor.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/workspace/descriptors/ProjectDescriptorBuilder.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/workspace/descriptors/QuarkusTaskDescriptor.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/TasksConfigurationCacheCompatibilityTest.java
  devtools/gradle/gradle-application-plugin/src/test/resources/io/quarkus/gradle/tasks/configurationcache/main/build.gradle.kts
  devtools/gradle/gradle-application-plugin/src/test/resources/io/quarkus/gradle/tasks/configurationcache/main/settings.gradle.kts
  devtools/gradle/gradle-application-plugin/src/test/resources/io/quarkus/gradle/tasks/configurationcache/main/src/main/java/org/acme/Foo.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/ToolingUtils.java
  docs/src/main/asciidoc/gradle-tooling.adoc
  integration-tests/gradle/src/main/resources/implementation-files/application-files/build.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/nativeimage/BasicJavaNativeBuildIT.java
Labels: area/documentation, area/gradle, area/devtools, triage/flaky-test

#42451 Initial support for SBOM generation and CycloneDX
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AppModelProviderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/ArtifactResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/JarBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/sbom/SbomBuildItem.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/AugmentActionImpl.java
  devtools/bom-descriptor-json/pom.xml
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/worker/QuarkusWorker.java
  devtools/maven/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/DependencySbomMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/DependencyTreeMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  docs/pom.xml
  docs/src/main/asciidoc/cyclonedx.adoc
  extensions/cyclonedx/deployment/pom.xml
  extensions/cyclonedx/deployment/src/main/java/io/quarkus/cyclonedx/deployment/CdxSbomBuildStep.java
  extensions/cyclonedx/deployment/src/main/java/io/quarkus/cyclonedx/deployment/CycloneDxConfig.java
  extensions/cyclonedx/generator/pom.xml
  extensions/cyclonedx/generator/src/main/java/io/quarkus/cyclonedx/generator/CycloneDxSbomGenerator.java
  extensions/cyclonedx/pom.xml
  extensions/cyclonedx/runtime/pom.xml
  extensions/cyclonedx/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/pom.xml
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/sbom/ApplicationComponent.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/sbom/ApplicationManifest.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/sbom/ApplicationManifestConfig.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/DependencyInfoProvider.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/DependencyInfoProviderBuilder.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/JarResult.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/SbomResult.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/BootstrapAppModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/DeffaultEffectiveModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/EffectiveModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/LocalPomResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/LocalRepoModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/LocalRepositoryEffectiveModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenLocalPomResolver.java
Labels: area/documentation, area/gradle, area/core, area/maven, area/dependencies, area/devtools, triage/flaky-test

#42572 Add keystore and truststore default format change
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
Labels: area/documentation, area/docstyle, triage/backport

#41336 [3.8] Bump kafka3.version from 3.6.1 to 3.7.0
  bom/application/pom.xml
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java
Labels: area/kafka-streams, area/dependencies, triage/needs-decision, triage/backport-3.13, triage/backport

#42622 New Stork version aligning k8s client version
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/stork, triage/backport

#42617 Add host and port when error creating management interface
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx

#42539 Added office 365 email configuration
  docs/src/main/asciidoc/mailer-reference.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport

#42634 [3.13] 3.13.3 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/podman.adoc
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2AuthMechanism.java
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TemplateRecordEnhancer.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/records/TemplateRecordTest.java
  extensions/redis-cache/deployment/src/test/java/io/quarkus/cache/redis/deployment/ChainedRedisCacheTest.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheImpl.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/converters/RuntimeParamConverterTest.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthOpenAPIFilter.java
  extensions/smallrye-health/deployment/src/test/java/io/quarkus/smallrye/health/test/HealthOpenAPITest.java
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/ArchivePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/CachingPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/DirectoryPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/EmptyPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilteredPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/ManifestAttributes.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/MultiRootPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/OpenContainerPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTreeWithManifest.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/SharedArchivePathTree.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/AbstractClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/FilteredClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/PathTreeClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/bootstrap/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateData.java
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/RuntimeResolvedConverter.java
  independent-projects/tools/pom.xml
  integration-tests/elytron-security-oauth2/src/test/java/io/quarkus/it/elytron/oauth2/ElytronOauth2ExtensionResourceTestCase.java
  test-framework/common/src/main/java/io/quarkus/test/common/QuarkusTestResource.java
  test-framework/common/src/main/java/io/quarkus/test/common/WithTestResource.java
Labels: area/documentation, area/gradle, area/arc, area/security, area/smallrye, area/infra, area/testing, area/mongodb, area/oidc, area/platform, area/dependencies, area/qute, area/devtools, area/health, area/resteasy-reactive, area/docstyle

#42633 Bump `quarkiverse-parent` from 16 to 17
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
Labels: area/maven, area/platform, area/devtools, triage/flaky-test, triage/backport

#42621 [3.8] Upgrade Quarkus HTTP to 5.2.4
  bom/application/pom.xml
Labels: area/dependencies

#42511 TLS Reference guide grammar check and review
  docs/src/main/asciidoc/tls-registry-reference.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#42618 DevUI: Allow regex for defined allowed hosts
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/LocalHostOnlyFilter.java
Labels: area/vertx, triage/waiting-for-ci, triage/backport

#42627 Include the run attempt in the build-reports file name
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#42655 Remove erroneous \n from durationNote.qute.adoc
  devtools/config-doc-maven-plugin/src/main/resources/templates/tags/durationNote.qute.adoc
Labels: triage/waiting-for-ci, area/devtools, triage/backport

#42624 Try a new approach for caching Maven local repository
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/ci-fork-mvn-cache.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/doc-build.yml
  .github/workflows/native-it-selected-graalvm.yml
  .github/workflows/owasp-check.yml
  .github/workflows/podman-build.yml
  .github/workflows/sonarcloud.yml
Labels: area/infra-automation, triage/flaky-test

#42650 Ignore config ServiceLoader files from Gradle sources
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
Labels: area/gradle, area/devtools, triage/backport-3.13, triage/backport

#42653 Condition the new config doc sections of the extension template
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/pom.tpl.qute.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateExtensionMojoIT.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
Labels: area/maven, area/platform, area/devtools, triage/flaky-test, triage/backport

#42664 [3.14] 3.14.0 backports 1
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/ci-fork-mvn-cache.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/doc-build.yml
  .github/workflows/native-it-selected-graalvm.yml
  .github/workflows/owasp-check.yml
  .github/workflows/podman-build.yml
  .github/workflows/sonarcloud.yml
  bom/application/pom.xml
  core/processor/src/main/java/io/quarkus/annotation/processor/util/FilerUtil.java
  devtools/config-doc-maven-plugin/src/main/resources/templates/tags/durationNote.qute.adoc
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/images/oidc-github-1.png
  docs/src/main/asciidoc/mailer-reference.adoc
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/security-csrf-prevention.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2AuthMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/redis-cache/deployment/src/test/java/io/quarkus/cache/redis/deployment/ChainedRedisCacheTest.java
  extensions/redis-cache/runtime/src/main/java/io/quarkus/cache/redis/runtime/RedisCacheImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/ArchivePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/DirectoryPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/EmptyPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilePathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/FilteredPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/ManifestAttributes.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/MultiRootPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/OpenContainerPathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTree.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTreeWithManifest.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/SharedArchivePathTree.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/AbstractClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/ClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/FilteredClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/PathTreeClassPathElement.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/docs/pom.tpl.qute.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/pom.tpl.qute.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/elytron-security-oauth2/src/test/java/io/quarkus/it/elytron/oauth2/ElytronOauth2ExtensionResourceTestCase.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateExtensionMojoIT.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/documentation, area/gradle, area/core, area/maven, area/security, area/infra, area/vertx, area/testing, area/oidc, area/platform, area/dependencies, area/devtools, area/infra-automation, triage/flaky-test, area/docstyle

#42670 Upgrade opentelemetry-semconv to 1.26.0-alpha
  bom/application/pom.xml
Labels: area/dependencies, area/tracing, triage/backport-3.8, triage/backport

#42685 Update Maven Surefire & Failsafe plugins to 3.4.0
  docs/src/main/asciidoc/native-reference.adoc
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-inherit/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-jib/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-image-push/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/pom.xml
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-grpc-same-server/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-grpc/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-callback-from-extension/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-parameter-injection/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension-with-bytecode-changes/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension/pom.xml
Labels: area/documentation, area/maven, area/amazon-lambda, area/platform, area/kubernetes, area/devtools, area/funqy

#42698 Fix config encryption CLI command in guide
  docs/src/main/asciidoc/config-secrets.adoc
Labels: area/documentation

#42652 Extract constants for runtime and builder images
  core/deployment/src/main/java/io/quarkus/deployment/images/ContainerImages.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  extensions/container-image/container-image-docker-common/deployment/src/test/java/io/quarkus/container/image/docker/common/deployment/RedHatOpenJDKRuntimeBaseProviderTest.java
  extensions/container-image/container-image-docker-common/deployment/src/test/java/io/quarkus/container/image/docker/common/deployment/UbiMinimalBaseProviderTest.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/ContainerImageJibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/ContainerImageOpenshiftConfig.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/OpenshiftProcessor.java
  extensions/container-image/container-image-openshift/deployment/src/main/java/io/quarkus/container/image/openshift/deployment/S2iConfig.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
Labels: area/core, area/testing, area/platform, area/housekeeping, area/devtools, triage/flaky-test

#42317 Support APT processors in Gradle quarkusdev
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  integration-tests/gradle/src/main/resources/compile-only-lombok/build.gradle
  integration-tests/gradle/src/main/resources/compile-only-lombok/gradle.properties
  integration-tests/gradle/src/main/resources/compile-only-lombok/src/main/java/io/playground/HelloResource.java
  integration-tests/gradle/src/main/resources/compile-only-lombok/src/main/java/io/playground/MyEntity.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/CompileOnlyDependencyDevModeTest.java
Labels: area/gradle, area/devtools

#42707 Update OAuth2 docs because of change in Bearer token check change
  docs/src/main/asciidoc/security-oauth2.adoc
Labels: area/documentation

#42711 Bump Keycloak version to 25.0.4
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/DevServicesConfig.java
Labels: area/documentation, area/oidc, area/dependencies, area/docstyle

#42704 Add note about collection element order
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation

#42727 [3.8] Update the certificates used in the mailer runtime tests
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/FakeSmtpTestBase.java
  extensions/mailer/runtime/src/test/resources/certs/GenerateCertificate.java
  extensions/mailer/runtime/src/test/resources/certs/README.md
  extensions/mailer/runtime/src/test/resources/certs/client.jks
  extensions/mailer/runtime/src/test/resources/certs/generate-certs.sh
  extensions/mailer/runtime/src/test/resources/certs/keystore.jks
  extensions/mailer/runtime/src/test/resources/certs/server2.jks
  extensions/mailer/runtime/src/test/resources/certs/truststore.jks
Labels: area/mailer

#42700 Add a lot more info to the QuarkusTestResource deprecation note
  test-framework/common/src/main/java/io/quarkus/test/common/QuarkusTestResource.java
Labels: area/testing, triage/flaky-test

#42738 Fix OIDC Discord provider configuration
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/KnownOidcProvidersTest.java
Labels: area/oidc, triage/backport-3.13, triage/backport

#42745 Remove useless enum converter allocation
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiConfigMapping.java
Labels: area/smallrye, area/openapi

#42746 Fix MQTT dev services always start if there is another connector present
  extensions/smallrye-reactive-messaging-mqtt/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/mqtt/deployment/MqttDevServicesProcessor.java
Labels: area/smallrye, area/reactive-messaging, triage/backport

#42615 Update to maven 3.9.9
  .mvn/wrapper/maven-wrapper.properties
  .sdkmanrc
  build-parent/pom.xml
  devtools/config-doc-maven-plugin/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
Labels: area/platform, area/dependencies, area/devtools, triage/flaky-test

#42642 Support record parameter containers
  docs/src/main/asciidoc/rest.adoc
  extensions/resteasy-reactive/rest-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/AggregatedParameterContainersBuildItem.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/CustomResourceProducersGenerator.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/beanparam/BeanParamRecordTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/beanparam/BeanParamTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/AsmUtil.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResourceScanningResult.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveParameterContainerScanner.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/scanning/ClassInjectorTransformer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/ContextParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/RecordBeanParamExtractor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeResourceDeployment.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/injection/ResteasyReactiveInjectionContext.java
Labels: release/noteworthy-feature, area/documentation, area/resteasy-reactive, triage/flaky-test

#42753 TLS - Prevent Duplicate Entries in .env File
  extensions/tls-registry/cli/src/main/java/io/quarkus/tls/cli/DotEnvHelper.java
  extensions/tls-registry/cli/src/main/java/io/quarkus/tls/cli/GenerateCertificateCommand.java
  extensions/tls-registry/cli/src/main/java/io/quarkus/tls/cli/letsencrypt/LetsEncryptPrepareCommand.java
Labels: triage/backport

#42732 Update Kotlin to 2.0.20
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle/libs.versions.toml
  extensions/schema-registry/confluent/pom.xml
  independent-projects/arc/pom.xml
  integration-tests/kafka-json-schema-apicurio2/pom.xml
Labels: area/gradle, area/arc, area/dependencies, area/devtools

#42758 Single enum converter
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiConfigMapping.java
Labels: area/smallrye, area/openapi, triage/backport

#42651 Use SerializableString field names + support for @JsonProperty in the reflection free Jackson serializers
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonSerializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Dog.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
Labels: area/resteasy-reactive, triage/flaky-test

#42703 Update security docs
  docs/src/main/asciidoc/security-basic-authentication-howto.adoc
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
  docs/src/main/asciidoc/security-proactive-authentication.adoc
Labels: area/documentation, area/docstyle
