Repository quarkusio/quarkus, pull requests merged in 2025-07, with the labels that each got.

#48708 Fix incorrect config metadata key in Dev UI docs
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation, triage/backport-3.20, triage/backport

#48610 Warn when a profile aware configuration file cannot be loaded due to the missing main configuration file
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java
  docs/src/main/asciidoc/config-yaml.adoc
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/config/UnknownConfigFilesTest.java
Labels: area/documentation, area/core, area/config, triage/flaky-test

#48713 Update bad guide link for Amazon Lambda
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/amazon-lambda-example/codestart.yml
Labels: area/devtools

#48716 Tag liquibase extension as stable
  extensions/liquibase/liquibase/runtime/src/main/resources/META-INF/quarkus-extension.yaml
Labels: area/liquibase

#48684 Better document priority of `ServerExceptionMapper`
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/ClientExceptionMapper.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerExceptionMapper.java
Labels: area/rest-client, triage/waiting-for-ci, area/rest, triage/flaky-test, triage/backport

#48702 Config doc - Write the model as JSON in jars
  core/processor/src/main/java/io/quarkus/annotation/processor/Outputs.java
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/ConfigDocExtensionProcessor.java
  core/processor/src/main/java/io/quarkus/annotation/processor/util/FilerUtil.java
Labels: area/core, triage/flaky-test

#48670 Gradle quarkusDev not working on multiprojects when jandex is present
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/acme-subproject-nested/acme-nested/build.gradle.kts
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/acme-subproject-nested/acme-nested/src/main/java/org/acme/nested/SimpleService.java
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/acme-subproject-nested/build.gradle.kts
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/acme-subproject-nested/gradle.properties
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/acme-subproject-nested/settings.gradle.kts
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/build.gradle.kts
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/gradle.properties
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/settings.gradle.kts
  integration-tests/gradle/src/main/resources/jandex-included-build-kordamp/src/main/java/org/example/ExampleResource.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/JandexIncludedBuildTest.java
Labels: area/gradle, area/devtools, triage/backport

#48730 Make assertions in CliProjectGradleTest a bit more explicit
  devtools/cli/src/test/java/io/quarkus/cli/CliProjectGradleTest.java
Labels: area/devtools, area/cli

#48728 [3.15] 3.15.6 backports 4
  .github/workflows/ci-actions-incremental.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/amazon-lambda-example/codestart.yml
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractListCommands.java
Labels: area/devtools, area/infra-automation, area/redis, triage/flaky-test

#48726 Remove unused arguments/methods in Hibernate processors
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/HibernateSearchElasticsearchProcessor.java
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/deployment/HibernateSearchStandaloneProcessor.java
Labels: area/hibernate-orm, area/hibernate-search, area/hibernate-reactive

#48745 Make REST Client config suffice for request/response logging
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/logging/DefaultClientLogger.java
Labels: area/config, area/rest-client

#46357 Change how JPAConfig cleans up its resources
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-search-orm-outbox-polling/deployment/pom.xml
  extensions/hibernate-search-orm-outbox-polling/deployment/src/test/java/io/quarkus/hibernate/search/orm/outboxpolling/test/configuration/devmode/HibernateSearchDevModeFailingOrmTest.java
  extensions/hibernate-search-orm-outbox-polling/deployment/src/test/java/io/quarkus/hibernate/search/orm/outboxpolling/test/configuration/devmode/HibernateSearchDevModeFailingSearchTest.java
  extensions/hibernate-search-orm-outbox-polling/deployment/src/test/java/io/quarkus/hibernate/search/orm/outboxpolling/test/configuration/devmode/HibernateSearchDevModeTest.java
  extensions/hibernate-search-orm-outbox-polling/deployment/src/test/java/io/quarkus/hibernate/search/orm/outboxpolling/test/configuration/devmode/HibernateSearchOutboxPollingTestResource.java
  extensions/hibernate-search-orm-outbox-polling/deployment/src/test/resources/application-dev-mode.properties
Labels: area/core, area/config, area/arc, area/smallrye, area/vertx, triage/waiting-for-ci, area/hibernate-orm, area/narayana, area/hibernate-search, area/context-propagation, area/stork

#48655 Generalize ForbiddenAPIs to the whole build
  .forbiddenapis/banned-signatures-common.txt
  core/deployment/src/main/java/io/quarkus/deployment/SuppressForbidden.java
  core/deployment/src/main/java/io/quarkus/deployment/execannotations/ExecutionModelAnnotationsProcessor.java
  core/devmode-spi/pom.xml
  core/devmode-spi/src/main/java/io/quarkus/dev/console/BasicConsole.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/TerminalUtils.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/Name.java
  extensions/grpc-common/runtime/src/main/java/io/quarkus/grpc/common/runtime/graal/GrpcNettySubstitutions.java
  extensions/grpc/protoc/pom.xml
  extensions/grpc/protoc/src/main/java/io/quarkus/grpc/protoc/plugin/MutinyGrpcGenerator.java
  extensions/hibernate-orm/pom.xml
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/sender/VertxGrpcSender.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/sender/VertxHttpSender.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/metrics/spi/MetricsExporterCDIProvider.java
  extensions/panache/mongodb-rest-data-panache/deployment/src/main/java/io/quarkus/mongodb/rest/data/panache/deployment/MongoPanacheRestProcessor.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/ByteCodeType.java
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/KotlinPanacheClassOperationGenerationVisitor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/devui/QuteDevUIProcessor.java
  extensions/resteasy-classic/resteasy-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonDeserializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonSerializerFactory.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/SyntheticBeanBuilder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/CustomQueryMethodsAdder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/DerivedMethodsAdder.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
  independent-projects/arc/processor/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InvokerGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SuppressForbidden.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/bcextensions/TypeImpl.java
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/junit5-virtual-threads/src/main/java/io/quarkus/test/junit5/virtual/internal/Collector.java
  independent-projects/parent/pom.xml
  integration-tests/logging-json/src/main/java/io/quarkus/it/logging/json/GreetingResource.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/subst/DSAPublicKeyObjectSubstitution.java
  test-framework/maven/src/main/java/io/quarkus/maven/it/MojoTestBase.java
  test-framework/observability/pom.xml
  test-framework/observability/src/main/java/io/quarkus/observability/test/utils/GrafanaClient.java
Labels: area/panache, area/core, area/arc, area/maven, area/resteasy-classic, area/smallrye, area/rest-client, area/testing, area/reactive-messaging, area/hibernate-orm, area/spring, area/qute, area/grpc, area/tracing, area/rest

#48764 Fix a NPE in ConditionalDependenciesEnabler
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ConditionalDependenciesEnabler.java
Labels: area/gradle, area/devtools, triage/backport

#48611 Ban and remove quarkus logger in our own source
  .forbiddenapis/banned-signatures-common.txt
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/GraalVM.java
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/AzureFunctionsDeployCommand.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevJsonRpcService.java
  extensions/infinispan-client/runtime-dev/src/main/java/io/quarkus/infinispan/client/runtime/dev/ui/InfinispanJsonRPCService.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesDeployer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/reportissues/ReportIssuesJsonRPCService.java
  integration-tests/pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractQuarkusTestWithContextExtension.java
Labels: area/core, area/infinispan, area/vertx, triage/waiting-for-ci, area/testing, area/hibernate-orm, area/oidc, area/kubernetes, area/dependencies, area/qute, area/agroal, triage/flaky-test

#48121 Added support for dynamic discovery of Config Server instances
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/ConfigServerBaseUrlProvider.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/ConfigServerUrl.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/DirectConfigServerBaseUrlProvider.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/DiscoveryConfigServerBaseUrlProvider.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfig.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/VertxSpringCloudConfigGateway.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/eureka/DiscoveryService.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/eureka/EurekaClient.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/eureka/EurekaInstanceSelector.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/eureka/EurekaResponseMapper.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/eureka/RandomEurekaInstanceSelector.java
  extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/util/UrlUtility.java
  extensions/spring-cloud-config-client/runtime/src/test/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientConfigSourceFactoryTest.java
  extensions/spring-cloud-config-client/runtime/src/test/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientGatewayTest.java
  extensions/spring-cloud-config-client/runtime/src/test/resources/eureka-response.json
Labels: triage/waiting-for-ci, area/spring

#48779 Redis improvements
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/value/GetExArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/value/SetArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractListCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/CommandMap.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/DurationUtil.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/ReactiveTransactionalRedisDataSourceImpl.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/RedisCommand.java
  extensions/redis-client/runtime/src/test/java/io/quarkus/redis/runtime/datasource/DurationUtilTest.java
Labels: area/redis, triage/flaky-test, triage/backport

#48775 Avoid using confusing "ITest" name for not-QuarkusIntegrationTests
  integration-tests/kubernetes-client-devservices/src/test/java/io/quarkus/kubernetes/client/devservices/it/DevServicesKubernetesTest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/it/DevServicesRedisCustomPortReusableServiceTest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/it/DevServicesRedisCustomPortTest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/it/DevServicesRedisNonUniquePortTest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/it/DevServicesRedisRandomPortTest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/it/DevServicesRedisTest.java
Labels: area/testing

#48786 RedisRecorder receives redis runtime config as RuntimeValue
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/client/RedisClientRecorder.java
Labels: area/redis, triage/flaky-test

#48799 OIDC Dev Service: Support 'client_secret_basic' client authentication
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesProcessor.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/AbstractOidcClientDevServiceTest.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcClientKeycloakDevServiceTest.java
  extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcClientOidcDevServiceTest.java
  extensions/oidc-client/deployment/src/test/resources/oidc-client-oidc-dev-service-test.properties
Labels: area/oidc

#48796 [3.20] WebSockets Next: Make sure non-websocket connections are ignored
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
Labels: triage/flaky-test

#48806 Update Hibernate ORM to 7.0.5.Final / Hibernate Reactive to 3.0.3.Final
  pom.xml
Labels: triage/waiting-for-ci, area/hibernate-reactive, triage/backport

#48751 Retry deployment dependency collecting requests failed due to missing temporary files
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/PackageAppTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/RetryResolutionOnMissingTmpFileErrorsTest.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/ResolverSetupCleanup.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ApplicationDependencyResolver.java
Labels: area/core, area/devtools, triage/flaky-test, triage/backport-3.20, triage/backport

#48803 Remove unused projectDescriptor in ApplicationModelTask
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
Labels: area/gradle, area/devtools

#48780 Use --ignore-transitive-repositories and allow specific groupIds
  .mvn/maven.config
  .mvn/rrf/groupId-confluent.txt
  .mvn/rrf/groupId-gradle.txt
  CONTRIBUTING.md
  bom/application/pom.xml
  devtools/bom-descriptor-json/pom.xml
  devtools/platform-properties/pom.xml
  extensions/schema-registry/confluent/json-schema/runtime/pom.xml
  extensions/schema-registry/confluent/pom.xml
  independent-projects/bootstrap/gradle-resolver/pom.xml
  integration-tests/gradle/pom.xml
  integration-tests/kafka-avro-apicurio2/pom.xml
  integration-tests/kafka-json-schema-apicurio2/pom.xml
  integration-tests/maven/pom.xml
Labels: area/gradle, area/maven, area/dependencies, area/devtools, triage/flaky-test

#48800 Sync naming convention for file dependency JARs
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildDependencies.java
  integration-tests/gradle/src/main/resources/additional-source-set-as-dependency/build.gradle
  integration-tests/gradle/src/main/resources/additional-source-set-as-dependency/gradle.properties
  integration-tests/gradle/src/main/resources/additional-source-set-as-dependency/settings.gradle
  integration-tests/gradle/src/main/resources/additional-source-set-as-dependency/src/gen/java/io/reproducer/GreetApi.java
  integration-tests/gradle/src/main/resources/additional-source-set-as-dependency/src/main/java/org/acme/GreetingResource.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/run/AdditionalSourceSetAsDependencyTest.java
Labels: area/gradle, area/core, area/devtools, triage/flaky-test, triage/backport

#48778 Add support for reading in memory file to string in multipart
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/FormDataWithAllUploads.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartInputWithAllUploadsTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultipartSupport.java
Labels: triage/waiting-for-ci, area/rest, triage/flaky-test, triage/backport

#48825 Remove RetryResolutionOnMissingTmpFileErrorsTest
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/RetryResolutionOnMissingTmpFileErrorsTest.java
Labels: triage/backport-3.20, triage/backport

#48827 Add myself to quarkus-github-lottery.yml
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#48733 Upgrade to Kotlin 2.2.0
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  devtools/gradle/gradle/libs.versions.toml
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/runtime/TestAnalogs.kt
  extensions/panache/hibernate-reactive-panache-kotlin/runtime/src/test/kotlin/io/quarkus/hibernate/reactive/panache/kotlin/TestAnalogs.kt
  extensions/panache/mongodb-panache-kotlin/runtime/src/test/kotlin/io/quarkus/mongodb/panache/kotlin/TestAnalogs.kt
  extensions/schema-registry/confluent/pom.xml
  independent-projects/arc/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/build.gradle.kts
  integration-tests/kafka-json-schema-apicurio2/pom.xml
Labels: area/panache, area/gradle, area/arc, area/dependencies, area/devtools, triage/flaky-test

#48838 [3.24] : Fix the http root bug in BackChannelLogoutHandler
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
Labels: area/oidc, triage/backport-3.20

#48761 Ban dynamic version ranges
  extensions/web-dependency-locator/deployment/pom.xml
  independent-projects/parent/pom.xml
Labels: triage/flaky-test, triage/backport

#48770 Dev UI: Allow a context root url via config
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIConfig.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/DevUICORSFilter.java
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/DevUIFilterHelper.java
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/DevUIRecorder.java
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/LocalHostOnlyFilter.java
Labels: area/vertx, triage/flaky-test

#48847 Allow users to turn off health probe in Dev UI
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthDevUiProcessor.java
  extensions/smallrye-health/deployment/src/main/resources/dev-ui/qwc-smallrye-health-ui.js
  extensions/smallrye-health/runtime-dev/src/main/java/io/quarkus/smallrye/health/runtime/dev/ui/HealthJsonRPCService.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/storage-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension-link.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/Page.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/PageBuilder.java
Labels: area/smallrye, area/vertx, area/health, triage/flaky-test

#48851 [3.20] 3.20.2 backports 6
  .mvn/extensions.xml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
Labels: area/oidc, triage/flaky-test

#48828 Remove deprecated `KubernetesMockServer` and associated classes
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/AbsentConfigMapPropertiesPMT.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/ConfigMapPropertiesTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesNewClientTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesNewClientTestIT.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/NamespacedConfigMapPropertiesTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/OtherCustomKubernetesServerTestResource.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/SecretPropertiesTest.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesMockServerTestResource.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/MockServer.java
Labels: area/testing, area/kubernetes

#48867 Add FAQ entry on creating always consumed build steps
  docs/src/main/asciidoc/extension-faq.adoc
Labels: area/documentation, triage/waiting-for-ci

#48857 Ensure codestarts pass spotbugs
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/picocli-codestart/java/src/main/java/org/acme/GreetingCommand.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/picocli-codestart/kotlin/src/main/kotlin/org/acme/GreetingCommand.kt
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-jbang/code/jbang-picocli-code/java/src/{command.class-name}.tpl.qute.java
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusJBangCodestartGenerationTest/generatePicocliProject/src_main.java
  integration-tests/devtools/src/test/resources/__snapshots__/PicocliCodestartTest/testContent/src_main_java_ilove_quark_us_GreetingCommand.java
  integration-tests/devtools/src/test/resources/__snapshots__/PicocliCodestartTest/testContent/src_main_kotlin_ilove_quark_us_GreetingCommand.kt
Labels: triage/waiting-for-ci, area/platform, area/devtools, area/jbang, triage/flaky-test

#48853 Add the pull request template to remind about the format of linked issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/infra-automation, triage/flaky-test

#48807 Handle `Response` similarly to `InputStream` in REST Client
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/ResponseConsumptionTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/VertxClientInputStream.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientResponseImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: area/rest-client, area/rest, triage/flaky-test

#48870 Update maven shade plugin
  extensions/grpc/protoc/pom.xml
  independent-projects/bootstrap/gradle-resolver/pom.xml
  independent-projects/parent/pom.xml
Labels: area/devtools, area/grpc, triage/flaky-test

#48659 Support runtime programmatic set up for basic and form-based authentication using fluent API
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  docs/src/main/asciidoc/security-basic-authentication.adoc
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/AbstractFormAuthCookiesTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/ConfigBasedFormAuthCookiesTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiAuthenticationMechanismSelectionTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiBasicAuthValidationFailureTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiCombinedFormBasicAuthTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiFormAuthCookiesTestCase.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiFormAuthValidationFailureTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/BasicAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/JaxRsPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/security/Basic.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/security/Form.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/security/HttpSecurity.java
Labels: area/documentation, area/vertx, area/oidc, triage/flaky-test, area/docstyle

#48883 Use proper priority to deploy Vert.x Filter used for legacy websockets
  extensions/websockets/server/deployment/src/main/java/io/quarkus/websockets/deployment/ServerWebSocketProcessor.java
Labels: area/websockets, triage/backport-3.20, triage/backport

#48880 Use MultiMap set method instead of add for client assertion parameters
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/FrontendResource.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/JwtBearerAuthenticationOidcClientForceNewToken.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/OidcClientRequestCustomJwtBearerForceNewTokenFilter.java
  integration-tests/oidc-client-wiremock/src/main/resources/application.properties
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
Labels: area/oidc, triage/backport-3.20, triage/backport

#48891 Fix OIDC token propagation doc typo
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
Labels: triage/backport-3.15, triage/backport-3.20, triage/backport

#48351 Fix flaky test in OpenTelemetry Logging
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/metric/MetricProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/graal/UnsignedFeature.java
  integration-tests/opentelemetry/src/test/java/io/quarkus/it/opentelemetry/LoggingResourceTest.java
Labels: area/logging, triage/flaky-test

#48907 Revert the previous handling of Uni<Response> in REST Client
  extensions/resteasy-reactive/rest-client/deployment/pom.xml
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/ResponseConsumptionTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
Labels: area/rest-client, area/rest, triage/flaky-test

#48908 Clean up security fluent API configuration on shutdown
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/security, area/vertx, triage/waiting-for-ci, triage/flaky-test

#48580 OpenTelemetry exporters documentation improvements
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpUpstreamAllExporterErrorTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpUpstreamLogsExporterErrorTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpUpstreamMetricsExporterErrorTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpUpstreamTracerExporterErrorTest.java
  extensions/opentelemetry/runtime/pom.xml
Labels: area/documentation, area/tracing, triage/flaky-test

#48881 Config Doc - Make sure the Management interface config has a title
  core/processor/src/main/java/io/quarkus/annotation/processor/documentation/config/merger/ModelMerger.java
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/runtime/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/management/ManagementInterfaceBuildTimeConfig.java
Labels: area/core, area/vertx, triage/flaky-test

#48921 Restore another DevServiceDescriptionBuildItem constructor
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/DevServiceDescriptionBuildItem.java
Labels: area/core, triage/flaky-test

#48878 Change the database.generation to schema-management.strategy in the docs
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/hibernate-reactive-panache.adoc
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/singlepersistenceunit/SinglePersistenceUnitSchemaManagerTest.java
Labels: area/documentation, area/hibernate-orm, triage/backport

#48919 Assistant documentation
  docs/src/main/asciidoc/assistant.adoc
  docs/src/main/asciidoc/images/dev_assistant_configuration.png
  docs/src/main/asciidoc/images/dev_assistant_errorpage.png
  docs/src/main/asciidoc/images/dev_assistant_log.png
  docs/src/main/asciidoc/images/dev_assistant_pink_theme.png
Labels: area/documentation, triage/backport-3.24, triage/backport

#48865 [3.8] 3.8.7 backports 1 - Port CI changes and release infrastructure changes
  .github/mvn-settings.xml
  .github/release-settings.xml
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/deploy-snapshots.yml
  .mvn/extensions.xml
  CONTRIBUTING.md
  devtools/gradle/gradle-application-plugin/pom.xml
  devtools/gradle/gradle-extension-plugin/pom.xml
  extensions/spring-web/resteasy-classic/tests/pom.xml
  extensions/spring-web/resteasy-reactive/tests/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/arc/tests/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/custom-mariadbconfig/custom.cnf
  integration-tests/hibernate-orm-tenancy/connection-resolver/custom-mariadbconfig/custom.cnf
  integration-tests/hibernate-orm-tenancy/datasource/custom-mariadbconfig/custom.cnf
  integration-tests/jpa-mariadb/custom-mariadbconfig/custom.cnf
  integration-tests/pom.xml
  integration-tests/reactive-mysql-client/custom-mariadbconfig/custom.cnf
  integration-tests/test-extension/extension-that-defines-junit-test-extensions/pom.xml
  integration-tests/test-extension/extension/pom.xml
  integration-tests/virtual-threads/pom.xml
  pom.xml
  relocations/pom.xml
  relocations/quarkus-hibernate-search-orm-coordination-outbox-polling-deployment/pom.xml
  relocations/quarkus-hibernate-search-orm-coordination-outbox-polling/pom.xml
  relocations/quarkus-jaeger-deployment/pom.xml
  relocations/quarkus-jaeger/pom.xml
  relocations/quarkus-opentelemetry-exporter-jaeger-deployment/pom.xml
  relocations/quarkus-opentelemetry-exporter-jaeger/pom.xml
  relocations/quarkus-opentelemetry-exporter-otlp-deployment/pom.xml
  relocations/quarkus-opentelemetry-exporter-otlp/pom.xml
  relocations/quarkus-rest-client-deployment/pom.xml
  relocations/quarkus-rest-client-jackson-deployment/pom.xml
  relocations/quarkus-rest-client-jackson/pom.xml
  relocations/quarkus-rest-client-jaxb-deployment/pom.xml
  relocations/quarkus-rest-client-jaxb/pom.xml
  relocations/quarkus-rest-client-jsonb-deployment/pom.xml
  relocations/quarkus-rest-client-jsonb/pom.xml
  relocations/quarkus-rest-client-mutiny-deployment/pom.xml
  relocations/quarkus-rest-client-mutiny/pom.xml
  relocations/quarkus-rest-client/pom.xml
  relocations/quarkus-smallrye-opentracing-deployment/pom.xml
  relocations/quarkus-smallrye-opentracing/pom.xml
  tcks/pom.xml
Labels: area/gradle, area/arc, area/hibernate-orm, area/spring, area/platform, area/devtools, area/infra-automation, area/reactive-sql-clients

#48942 QuarkusComponentTest: skip system config sources by default
  docs/src/main/asciidoc/testing-components.adoc
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTest.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestConfiguration.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtensionBuilder.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/config/ConfigSourceOrdinalTest.java
Labels: area/documentation, triage/waiting-for-ci, area/testing, release/breaking-change

#48693 Track start/end template + before/after node resolve
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Engine.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineBuilder.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/EngineImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Results.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TemplateImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TraceManager.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/TraceManagerImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/trace/BaseEvent.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/trace/ResolveEvent.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/trace/TemplateEvent.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/trace/TraceListener.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/TraceListenerTest.java
Labels: triage/waiting-for-ci, area/qute, triage/flaky-test

#48959 Avoids some WARNINGs from io.smallrye.common.process.Logging
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/flaky-test

#48965 Attempt to reduce spurious linkage errors
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/RunnerClassLoader.java
Labels: area/devtools

#48972 Added Quarkus REST config to documentation
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation, area/rest

#48971 Add some since attributes to @Deprecated elements
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/AdditionalJpaModelBuildItem.java
  independent-projects/tools/utilities/src/main/java/io/quarkus/utilities/JavaBinFinder.java
  independent-projects/tools/utilities/src/main/java/io/quarkus/utilities/OS.java
Labels: area/hibernate-orm, area/platform, area/devtools, triage/backport

#48987 Allow users to turn off RestAssured logging
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  test-framework/common/src/main/java/io/quarkus/test/common/RestAssuredURLManager.java
Labels: area/core, triage/waiting-for-ci, area/testing, triage/flaky-test

#48984 Bump io.strimzi:strimzi-test-container from 0.109.1 to 0.109.2 to comply with Apache Licence
  bom/application/pom.xml
  bom/test/pom.xml
Labels: area/dependencies, triage/flaky-test

#49005 Assistant Documentation: Add section on log menu option
  docs/src/main/asciidoc/assistant.adoc
Labels: area/documentation

#47338 Unzip zip files in hibernate HBM2DDL_IMPORT_FILES setting
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/util/HibernateProcessorUtil.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportMultipleSqlLoadScriptsAsZipFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportSqlLoadScriptAsZipFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportSqlLoadScriptsAsMultipleZipFilesTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/ImportSqlLoadScriptsAsZipFilesAndSqlFileTestCase.java
  extensions/hibernate-orm/deployment/src/test/resources/application-load-script-as-zip-file-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-load-scripts-as-multiple-zip-files-and-sql-file-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-load-scripts-as-multiple-zip-files-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-multiple-load-script-files-as-zip-file-test.properties
  extensions/hibernate-orm/deployment/src/test/resources/import-multiple-load-scripts-1.zip
  extensions/hibernate-orm/deployment/src/test/resources/import-multiple-load-scripts-2.zip
  extensions/hibernate-orm/deployment/src/test/resources/load-script-test.zip
  extensions/hibernate-orm/deployment/src/test/resources/multiple-load-script-files.zip
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/SchemaToolingUtil.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevController.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevIntegrator.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
Labels: area/documentation, area/gradle, area/core, area/arc, area/testing, area/hibernate-orm, area/platform, area/dependencies, area/devtools, area/infra-automation, area/grpc, area/hibernate-reactive, area/cli, area/rest, triage/flaky-test, area/docstyle

#49009 Record system properties in order for build reproducibility
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
Labels: area/core, area/build-reproducibility

#49012 Stabilize order of checkForBuildTimeConfigChange Map parameters
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
Labels: area/core, area/build-reproducibility

#49010 Make Gradle builds reproducible
  devtools/gradle/gradle-application-plugin/build.gradle.kts
  devtools/gradle/gradle-extension-plugin/build.gradle.kts
  devtools/gradle/gradle-model/build.gradle.kts
Labels: area/gradle, area/devtools

#49022 Always return initialized TokenIntrospection from the CDI producer
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTokenCredentialProducer.java
Labels: area/oidc, triage/flaky-test, triage/backport-3.20, triage/backport-3.24, triage/backport

#49015 Always generate the Config doc as it's now embedded in the jars
  core/processor/src/main/java/io/quarkus/annotation/processor/ExtensionAnnotationProcessor.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test, area/build-reproducibility

#49004 Small Dev UI workspace fix
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
Labels: area/dev-ui, triage/backport-3.24, triage/backport

#49028 Make files generated by ExtensionBuildProcessor reproducible
  core/processor/src/main/java/io/quarkus/annotation/processor/extension/ExtensionBuildProcessor.java
Labels: area/core, area/build-reproducibility

#49020 Properly handle empty compose file
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeDevServicesProcessor.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeFile.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeFiles.java
  extensions/devservices/deployment/src/test/java/io/quarkus/devservices/deployment/compose/ComposeFileTest.java
  extensions/devservices/deployment/src/test/resources/empty-compose.yml
Labels: triage/flaky-test, triage/backport

#48872 Add pseudo monitoring option 'none' to disable all monitoring options
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation, area/core, triage/flaky-test

#49008 Generate Netty's MachineId at runtime
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedRuntimeSystemPropertyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/MachineIdGenerator.java
Labels: area/core, area/netty, area/build-reproducibility

#49046 Port Jackson extension to Gizmo2
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/GeneratedBeanGizmo2Adaptor.java
  extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java
Labels: area/arc, triage/waiting-for-ci, area/jackson, triage/flaky-test

#49049 [3.24] 3.24.5 backports 1
  bom/application/pom.xml
  bom/test/pom.xml
  devtools/gradle/gradle/libs.versions.toml
  docs/src/main/asciidoc/blaze-persistence.adoc
  docs/src/main/asciidoc/compose-dev-services.adoc
  docs/src/main/asciidoc/container-image.adoc
  docs/src/main/asciidoc/rest.adoc
  extensions/assistant/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeDevServicesProcessor.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeFile.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeFiles.java
  extensions/devservices/deployment/src/test/java/io/quarkus/devservices/deployment/compose/ComposeFileTest.java
  extensions/devservices/deployment/src/test/resources/empty-compose.yml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTokenCredentialProducer.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/catalog/CatalogMapperHelper.java
Labels: area/documentation, area/gradle, area/arc, area/infra, area/vertx, area/oidc, area/platform, area/dependencies, area/devtools, triage/flaky-test

#49042 Support for customizing request and response body in OIDC filters
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-client-registration.adoc
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationImpl.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/RegisteredClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcRequestContextProperties.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcRequestFilter.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/OidcResponseFilter.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClientImpl.java
  integration-tests/oidc-client-registration/src/main/java/io/quarkus/it/keycloak/ClientRegistrationRequestFilter.java
  integration-tests/oidc-client-registration/src/main/java/io/quarkus/it/keycloak/ClientRegistrationResponseFilter.java
  integration-tests/oidc-client-registration/src/test/java/io/quarkus/it/keycloak/OidcClientRegistrationTest.java
  integration-tests/oidc-client-wiremock/src/main/java/io/quarkus/it/keycloak/OidcRequestResponseCustomizer.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/KeycloakRealmResourceManager.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/TokenRequestResponseFilter.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, triage/flaky-test, area/docstyle

#49061 Start porting Quarkus REST to Gizmo2
  core/deployment/pom.xml
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusInvokerFactory.java
Labels: area/core, triage/waiting-for-ci, area/rest

#49078 Bump elasticsearch-opensource-components.version from 9.0.3 to 9.0.4
  bom/application/pom.xml
  build-parent/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/elasticsearch

#48007 Support named persistence units and data sources in Hibernate Reactive
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsDefaultDisabledTest.java
  extensions/hibernate-orm/deployment/src/test/resources/application-multiple-persistence-units-default-disabled.properties
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitsHolder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/TransactionSessions.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDescriptor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/metrics/HibernateMetricsRecorder.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveCdiProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/CompatibilityUnitTestBase.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityDifferentNamedDataSourceNamedPersistenceUnitBothUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityNamedDataSourceNamedPersistenceUnitBothUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/ConfigActiveFalseAndEntityTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/datasource/EntitiesInDefaultPUWithExplicitDatasourceMissingTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/datasource/EntitiesInDefaultPUWithImplicitDatasourceConfigActiveFalseTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/datasource/EntitiesInDefaultPUWithImplicitDatasourceConfigUrlMissingTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/unsupportedproperties/UnsupportedPropertiesTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/multiplepersistencenunits/MultiplePersistenceUnitsDefaultDisabledTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/multiplepersistencenunits/model/config/DefaultEntity.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/multiplepersistencenunits/model/config/inventory/Plane.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/multiplepersistencenunits/model/config/user/User.java
  extensions/hibernate-reactive/deployment/src/test/resources/application-multiple-persistence-units-default-disabled.properties
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/HibernateReactiveRecorder.java
  extensions/reactive-datasource/deployment/pom.xml
  extensions/reactive-datasource/deployment/src/main/java/io/quarkus/reactive/datasource/deployment/AggregatedDataSourceBuildTimeConfigBuildItem.java
  extensions/reactive-datasource/deployment/src/main/java/io/quarkus/reactive/datasource/deployment/ReactiveDataSourceBuildItem.java
  extensions/reactive-datasource/deployment/src/main/java/io/quarkus/reactive/datasource/deployment/ReactiveDataSourceProcessor.java
  extensions/reactive-datasource/deployment/src/test/java/io/quarkus/reactive/datasource/MultipleDevServicesDataSourcesConfigTest.java
  extensions/reactive-datasource/deployment/src/test/resources/application-multiple-devservices-datasources.properties
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateOrmActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateReactiveSmokeTest.java
Labels: release/noteworthy-feature, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-reactive

#49077 Take forwarded header info account when returning a redirect Response
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/ForwardedPrefixHeaderTest.java
  extensions/resteasy-reactive/rest/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/QuarkusResteasyReactiveRequestContext.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedInfo.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/LocationUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/ResponseBuilderImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/RestResponseBuilderImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ForwardedInfo.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerHttpRequest.java
  independent-projects/resteasy-reactive/server/runtime/src/test/java/org/jboss/resteasy/reactive/server/jaxrs/RestResponseBuilderImplTest.java
Labels: area/vertx, area/rest, triage/flaky-test

#49093 Bump smallrye-open-api.version from 4.0.11 to 4.0.12
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, triage/flaky-test, triage/backport-3.20, triage/backport

#48900 Provide fluent API to set up the mutual TLS client authentication
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/AuthMechanismConfig.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiAuthenticationMechanismSelectionTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiMTLSAuthenticationOnRequestTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiMTLSAuthenticationRequiredDevModeTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiMTLSAuthenticationRequiredTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiMTLSAuthenticationValidationFailureTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiTlsConfigValidationFailureTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/HotReloadFilter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerOptionsUtils.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerTlsConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/CertificateRoleAttribute.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/MtlsAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/security/HttpSecurity.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/security/MTLS.java
Labels: area/documentation, area/security, area/vertx, triage/flaky-test, area/docstyle

#49110 Update Dev UI and Assistant documentation with new Builder Method
  docs/src/main/asciidoc/assistant.adoc
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation

#49112 Make sure RUN mode is correctly taken into account
  core/deployment/src/main/java/io/quarkus/deployment/IsNormal.java
  core/deployment/src/main/java/io/quarkus/deployment/IsProduction.java
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/deployment/src/main/java/io/quarkus/deployment/SnapStartProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/io/NioThreadPoolDevModeProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/FileSystemResourcesBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/LaunchMode.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
  extensions/amazon-lambda-rest/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/AmazonLambdaHttpProcessor.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/DevServicesLambdaProcessor.java
  extensions/amazon-lambda/common-deployment/src/main/java/io/quarkus/amazon/lambda/deployment/FunctionZipProcessor.java
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AbstractLambdaPollLoop.java
  extensions/azure-functions-http/deployment/src/main/java/io/quarkus/azure/functions/resteasy/deployment/AzureFunctionsHttpProcessor.java
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/AzureFunctionsProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ComposeLocator.java
  extensions/devui/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/funqy/funqy-google-cloud-functions/deployment/src/main/java/io/quarkus/funqy/gcp/functions/deployment/bindings/CloudFunctionsDeploymentBuildStep.java
  extensions/google-cloud-functions-http/deployment/src/main/java/io/quarkus/gcp/functions/http/deployment/CloudFunctionsDeploymentBuildStep.java
  extensions/google-cloud-functions-http/deployment/src/main/java/io/quarkus/gcp/functions/http/deployment/GoogleCloudFunctionsHttpProcessor.java
  extensions/google-cloud-functions/deployment/src/main/java/io/quarkus/gcp/functions/deployment/CloudFunctionDeploymentBuildStep.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/util/HibernateProcessorUtil.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevJsonRpcService.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/RedisClientProcessor.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/AuthenticationCompletionExceptionMapper.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/AuthenticationFailedExceptionMapper.java
  extensions/resteasy-reactive/rest/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AuthenticationCompletionExceptionMapper.java
  extensions/resteasy-reactive/rest/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AuthenticationFailedExceptionMapper.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/GeneratedStaticResourcesProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/webjar/WebJarProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxConfigBuilder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/core, area/maven, area/resteasy-classic, area/vertx, area/amazon-lambda, area/undertow, area/hibernate-orm, area/kubernetes, area/kafka, area/qute, area/devtools, area/funqy, area/grpc, area/redis, area/google-cloud-functions, area/rest, area/agroal, triage/flaky-test, triage/backport

#49117 Force reloadability of project dependencies in QuarkusApplicationModelTask
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/gradle.properties
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/my-module/build.gradle
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/my-module/src/main/java/com/module/Person.java
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/my-module/src/test/java/com/module/PersonTest.java
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/settings.gradle
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/test-support/build.gradle
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/test-support/src/main/java/com/module/test/PersonFactory.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestWithSidecarModule.java
Labels: area/gradle, area/devtools

#49114 Docs: Minor editing fixes to Logging configuration guide
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation, area/docstyle

#49127 Redis Client: allow zero timeout values
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/AggregateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/CreateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/QueryArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractListCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractSortedSetCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractStreamCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/Validation.java
Labels: area/redis, triage/backport-3.20, triage/backport

#49137 Dev Assistant: Agroal - allow data creation when table is empty
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/devui/AgroalDevUIProcessor.java
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
  extensions/agroal/runtime-dev/pom.xml
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
Labels: area/agroal, triage/flaky-test

#49094 Ignore the default import.sql when specifying a different file
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/util/HibernateProcessorUtil.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/DefaultSqlLoadScriptAbsentTestCase.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/sql_load_script/DefaultSqlLoadScriptUnusedTestCase.java
Labels: area/hibernate-orm

#49158 Dev MCP for OpenAPI and GraphQL
  extensions/smallrye-graphql/runtime-dev/src/main/java/io/quarkus/smallrye/graphql/runtime/dev/GraphQLJsonRpcService.java
  extensions/smallrye-openapi/runtime-dev/src/main/java/io/quarkus/smallrye/openapi/runtime/dev/OpenApiJsonRpcService.java
Labels: area/smallrye, area/openapi, area/graphql

#49154 [3.25] 3.25.1 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
  devtools/gradle/gradle/libs.versions.toml
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/logging.adoc
  docs/src/main/asciidoc/tls-registry-reference.adoc
  extensions/devui/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesProcessor.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/AggregateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/CreateArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/datasource/search/QueryArgs.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractListCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractSortedSetCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractStreamCommands.java
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/Validation.java
  extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/FilterBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/SecurityHandlerPriorities.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets/server/deployment/src/main/java/io/quarkus/websockets/deployment/ServerWebSocketProcessor.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/RequestFilterQueryParamsTest.java
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/gradle.properties
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/my-module/build.gradle
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/my-module/src/main/java/com/module/Person.java
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/my-module/src/test/java/com/module/PersonTest.java
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/settings.gradle
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/test-support/build.gradle
  integration-tests/gradle/src/main/resources/test-with-sidecar-module/test-support/src/main/java/com/module/test/PersonFactory.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestWithSidecarModule.java
  pom.xml
Labels: area/documentation, area/gradle, area/resteasy-classic, area/smallrye, area/infra, area/vertx, area/openapi, area/oidc, area/jaxb, area/dependencies, area/devtools, area/grpc, area/redis, area/graphql, area/rest, area/websockets, triage/flaky-test, area/docstyle

#49160 Make error message about needing a DataSource for a PersistenceUnit actionable
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/datasource/EntitiesInNamedPUWithoutDatasourceTest.java
Labels: triage/waiting-for-ci, area/hibernate-orm, triage/backport

#49171 Enable dependabot Hibernate updates for 3.20
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#49215 Upgrade to vaadin route 2
  bom/dev-ui/pom.xml
  extensions/devui/resources/pom.xml
Labels: area/dependencies

#49209 Fix some typos in DevServicesContext
  test-framework/common/src/main/java/io/quarkus/test/common/DevServicesContext.java
Labels: area/testing

#49229 Fix quarkus:list-extension bomXXX arguments used outside of project context
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusProjectMojoBase.java
Labels: area/maven, area/devtools, triage/flaky-test

#49147 Gizmo 2 rewrites
  core/deployment/src/main/java/io/quarkus/deployment/GeneratedClassGizmo2Adaptor.java
  core/deployment/src/main/java/io/quarkus/deployment/util/AsmUtil.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/HandlerDescriptor.java
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/Methods.java
  extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesProcessor.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/Callback.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/CallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/CloseReasonCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/ConnectionCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/ErrorCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/HandshakeRequestCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/KotlinContinuationCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/MessageCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/PathParamCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/RuntimeTypeCreator.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/ClientErrorHandlerOnServerEndpointTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/MixedErrorHandlersTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/MultipleAmbiguousGlobalErrorHandlersTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/errors/ServerErrorHandlerOnClientEndpointTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/telemetry/endpoints/onerror/GlobalErrorHandler.java
  extensions/websockets-next/deployment/src/test/kotlin/io/quarkus/websockets/next/test/kotlin/MixedErrorHandlersSuspendTest.kt
Labels: area/core, area/hibernate-validator, triage/flaky-test
