Repository quarkusio/quarkus, pull requests merged in 2025-09, with the labels that each got.

#49635 Support target application.properties files and profiles in Config editor
  extensions/devui/deployment/src/main/java/io/quarkus/devui/deployment/menu/ConfigurationProcessor.java
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-configuration-editor.js
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-configuration.js
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/config/ConfigDevUIRecorder.java
Labels: area/config, triage/waiting-for-ci, triage/flaky-test

#49807 Fix HibernatePropertiesTest and make failure more expressive
  integration-tests/smallrye-config/.env
  integration-tests/smallrye-config/pom.xml
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/HibernatePropertiesTest.java
Labels: area/hibernate-orm

#49782 Fire observable CDI PreShutdown event if quarkus.shutdown.delay-enabled=true
  core/runtime/src/main/java/io/quarkus/runtime/ShutdownDelayInitiated.java
  core/runtime/src/main/java/io/quarkus/runtime/ShutdownDelayInitiatedEvent.java
  docs/src/main/asciidoc/lifecycle.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ShutdownBuildSteps.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/shutdown/ShutdownAnnotationTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/shutdown/ShutdownDelayInitiatedEventTest.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/shutdown/ArcShutdownListener.java
Labels: area/documentation, area/core, area/arc, triage/waiting-for-ci, triage/flaky-test

#49786 Bump Elasticsearch to 9.1.3
  bom/application/pom.xml
  build-parent/pom.xml
Labels: area/dependencies, area/elasticsearch, triage/flaky-test

#49800 Set project.projectDir as workingDir by default in Gradle
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusRun.java
Labels: area/gradle, release/breaking-change, area/devtools

#49801 Set quarkus.package.output-timestamp by Gradle
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
Labels: area/gradle, area/devtools, triage/flaky-test

#49698 Do not remove unused Mappings with Validator annotations
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigMappingUtils.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/UnremovedConfigMappingTest.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/config/ConfigMappingInvalidTest.java
Labels: area/core, area/config, area/arc, area/hibernate-validator, triage/flaky-test

#49764 Update Configuration Reference doc
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation

#49730 [3.15] 3.15.7 backports 2
  bom/application/pom.xml
Labels: area/dependencies

#49823 Ensure that we call `buildTimeComplete` from the DelayedHandler before any runtime code
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
Labels: area/core, triage/flaky-test, triage/backport

#49825 Be less eager in getting docker status
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/DevServicesProcessor.java
Labels: triage/flaky-test, triage/backport

#49811 Add codegen source dirs to compile tasks instead of to the main source
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/CachingTest.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/EagerResolutionTaskTest.java
  integration-tests/gradle/src/main/resources/kotlin-ksp/build.gradle.kts
  integration-tests/gradle/src/main/resources/kotlin-ksp/gradle.properties
  integration-tests/gradle/src/main/resources/kotlin-ksp/settings.gradle.kts
  integration-tests/gradle/src/main/resources/kotlin-ksp/src/main/kotlin/org/acme/GreetingResource.kt
  integration-tests/gradle/src/main/resources/kotlin-ksp/src/test/kotlin/org/acme/GreetingResourceTest.kt
  integration-tests/gradle/src/test/java/io/quarkus/gradle/KspPluginWithSourcesJarTest.java
Labels: triage/flaky-test, triage/backport-3.25, triage/backport

#49790 Falling back to hard link on Windows in linkDotEnvFile
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeMain.java
Labels: area/core, triage/flaky-test, triage/backport

#49778 Ensure that NativeImageBuildContainerRunner#setup is only invoked once
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
Labels: area/core, triage/flaky-test

#49295 Improve assignment of interfaces / `PanacheEntity` to persistence units
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversProcessor.java
  extensions/hibernate-orm/deployment-spi/src/main/java/io/quarkus/hibernate/orm/deployment/spi/AdditionalJpaModelBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/differentpackage/INamedEntity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/packages/ConfigEntityPUAssigmentUsingInterfaceTest.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-search-orm-outbox-polling/deployment/src/main/java/io/quarkus/hibernate/search/orm/outboxpolling/deployment/HibernateSearchOutboxPollingProcessor.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/KotlinPanacheResourceProcessor.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/config/packages/ConfigEntityPUAssigmentUsingOnlyPanacheEntityBaseTest.java
  extensions/panache/hibernate-reactive-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/kotlin/deployment/HibernateReactivePanacheKotlinProcessor.java
  extensions/panache/hibernate-reactive-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
Labels: area/panache, area/smallrye, area/reactive-messaging, area/hibernate-orm, area/hibernate-search, triage/needs-review, area/hibernate-reactive, triage/flaky-test

#49837 [3.26] 3.26.2 backports 1
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/IsContainerRuntimeWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/IsPodmanWorking.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeMain.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/util/ContainerRuntimeUtil.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusRun.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/CachingTest.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/EagerResolutionTaskTest.java
  devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/tasks/ExtensionDescriptorTask.java
  docs/src/main/asciidoc/assistant.adoc
  docs/src/main/asciidoc/command-mode-reference.adoc
  docs/src/main/asciidoc/config-reference.adoc
  docs/src/main/asciidoc/dev-ui.adoc
  docs/src/main/asciidoc/opentelemetry-metrics.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/rest.adoc
  docs/src/main/asciidoc/telemetry-micrometer-to-opentelemetry.adoc
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/DevServicesProcessor.java
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/comms/JsonRpcMessage.java
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/comms/JsonRpcRouter.java
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/jsonrpc/JsonRpcRequest.java
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/jsonrpc/JsonRpcRequestCreator.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevUIProcessor.java
  extensions/hibernate-orm/runtime-dev/pom.xml
  extensions/hibernate-orm/runtime-dev/src/main/java/io/quarkus/hibernate/orm/dev/ui/HibernateOrmDevJsonRpcService.java
  extensions/hibernate-orm/runtime/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/dev/HibernateSearchElasticsearchDevUIProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/ResourceMetadataHandler.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/HelloClient.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/HelloResource.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/PassThroughResource.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/StorkDevModeTest.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/util/BootstrapUtils.java
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/resteasy-reactive/client/runtime/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/StorkClientRequestFilter.java
  independent-projects/resteasy-reactive/client/runtime/src/test/java/org/jboss/resteasy/reactive/client/impl/StorkClientRequestFilterTest.java
  integration-tests/gradle/src/main/resources/kotlin-ksp/build.gradle.kts
  integration-tests/gradle/src/main/resources/kotlin-ksp/gradle.properties
  integration-tests/gradle/src/main/resources/kotlin-ksp/settings.gradle.kts
  integration-tests/gradle/src/main/resources/kotlin-ksp/src/main/kotlin/org/acme/GreetingResource.kt
  integration-tests/gradle/src/main/resources/kotlin-ksp/src/test/kotlin/org/acme/GreetingResourceTest.kt
  integration-tests/gradle/src/main/resources/multi-composite-build-extensions-project/application/build.gradle
  integration-tests/gradle/src/main/resources/multi-composite-build-extensions-project/application/src/test/java/org/acme/quarkus/sample/GreetingResourceTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/KspPluginWithSourcesJarTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestCompositeBuildWithExtensionsTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/MultiCompositeBuildExtensionsDevModeTest.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/AbstractBearerTokenAuthorizationTest.java
  integration-tests/smallrye-config/.env
  integration-tests/smallrye-config/pom.xml
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/HibernatePropertiesTest.java
Labels: area/documentation, area/gradle, area/core, area/infra, area/rest-client, area/hibernate-orm, area/oidc, area/hibernate-search, area/dependencies, area/devtools, area/rest, triage/flaky-test

#49841 Follow-up to fix "Assign additional classes (e.g. PanacheEntity) explicitly"
  extensions/hibernate-envers/deployment/src/main/java/io/quarkus/hibernate/envers/deployment/HibernateEnversProcessor.java
  extensions/hibernate-orm/deployment-spi/src/main/java/io/quarkus/hibernate/orm/deployment/spi/AdditionalJpaModelBuildItem.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-search-orm-outbox-polling/deployment/src/main/java/io/quarkus/hibernate/search/orm/outboxpolling/deployment/HibernateSearchOutboxPollingProcessor.java
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/orm/panache/kotlin/deployment/KotlinPanacheResourceProcessor.java
  extensions/panache/hibernate-orm-panache/deployment/src/main/java/io/quarkus/hibernate/orm/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/panache/hibernate-reactive-panache-kotlin/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/kotlin/deployment/HibernateReactivePanacheKotlinProcessor.java
  extensions/panache/hibernate-reactive-panache/deployment/src/main/java/io/quarkus/hibernate/reactive/panache/deployment/PanacheHibernateResourceProcessor.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
Labels: area/panache, area/smallrye, area/reactive-messaging, area/hibernate-orm, area/hibernate-search, triage/flaky-test

#49824 Pass all the configuration minus Quarkus defaults to Gradle code generator task
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
Labels: area/gradle, area/devtools, triage/backport

#49850 Update docs for Blaze-Persistence 1.6.17
  docs/src/main/asciidoc/blaze-persistence.adoc
Labels: area/documentation, triage/backport

#49844 Manage more smallrye-fault-tolerance artifacts to help enforcing dependency convergence throughout Quarkiverse
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/fault-tolerance, triage/flaky-test, triage/backport

#49847 Catch Throwable in ApplicationLifecycleManager
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  integration-tests/test-extension/tests/src/main/java/io/quarkus/it/testsupport/commandmode/FailingApp.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/testsupport/commandmode/QuarkusMainTestWithTestProfileAndFailingApplicationTestCase.java
Labels: area/core, triage/flaky-test, triage/backport

#49828 CachedResults: also exclude private methods
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CachedResultsProcessor.java
  extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CachedResultsTest.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/CachedResults.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CachedResultsDiff.java
Labels: triage/waiting-for-ci, area/cache

#49833 Make sure Amazon Lambda mock server doesn't interfere with HTTP compression
  extensions/amazon-lambda/event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockEventServer.java
Labels: area/amazon-lambda

#49561 Updates Native build and runtime guides, Visual Studio 2022, UBI9, ArchLinux
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport

#49886 Fix: @PermitAll security annotation now correctly handle disabled authorization
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/CustomAuthorizationControllerTest.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/PermitAllInterceptor.java
Labels: area/security, triage/backport

#49897 Fix "Go Home" on Dev UI
  extensions/devui/resources/src/main/resources/dev-ui/controller/router-controller.js
Labels: area/dev-ui, triage/backport

#49894 Filter out "Transfer-Encoding" header from a REST Response
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/headers/IgnoredResponseHeadersTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/headers/VertxHeadersTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResponseHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/headers/ChunkedHeaderTest.java
Labels: area/rest, triage/backport

#49909 [3.26] 3.26.3 backports 1
  bom/application/pom.xml
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/NamedImpl.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGradleUtils.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/QuarkusComponentVariants.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  docs/src/main/asciidoc/blaze-persistence.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
  docs/src/main/asciidoc/security-openid-connect-client-reference.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
  extensions/amazon-lambda/event-server/src/main/java/io/quarkus/amazon/lambda/runtime/MockEventServer.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devui/DevUIDatasourceProcessor.java
  extensions/devui/resources/src/main/resources/dev-ui/controller/router-controller.js
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-dev-mcp-setting.js
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfigBuilder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/ResourceMetadataHandler.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcTenantConfigImpl.java
  extensions/resteasy-reactive/rest-client-jackson/deployment/src/main/java/io/quarkus/rest/client/reactive/jackson/deployment/RestClientReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigFromRegistryManualTest.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientRecorder.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/spi/TlsRegistryCleanupRestClientClosingTask.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/resources/META-INF/services/org.jboss.resteasy.reactive.client.impl.RestClientClosingTask
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/compress/CompressionTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/headers/IgnoredResponseHeadersTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/headers/VertxHeadersTest.java
  extensions/security/deployment/src/test/java/io/quarkus/security/test/cdi/CustomAuthorizationControllerTest.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/PermitAllInterceptor.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ServerSerialisers.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResponseHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/headers/ChunkedHeaderTest.java
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output-dir/build.gradle
  integration-tests/gradle/src/main/resources/grpc-descriptor-set-alternate-output/build.gradle
  integration-tests/gradle/src/main/resources/grpc-descriptor-set/build.gradle
  integration-tests/gradle/src/main/resources/grpc-include-project/build.gradle
  integration-tests/gradle/src/main/resources/grpc-multi-module-project/build.gradle
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/test-extension/tests/src/main/java/io/quarkus/it/testsupport/commandmode/FailingApp.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/testsupport/commandmode/QuarkusMainTestWithTestProfileAndFailingApplicationTestCase.java
  pom.xml
Labels: area/documentation, area/gradle, area/core, area/maven, area/security, area/infra, area/rest-client, area/amazon-lambda, area/oidc, area/dependencies, area/devtools, area/rest, triage/flaky-test, area/docstyle

#48915 Bump maven to 3.9.11
  .mvn/wrapper/maven-wrapper.properties
  build-parent/pom.xml
  devtools/config-doc-maven-plugin/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
Labels: area/platform, area/dependencies, area/devtools, triage/flaky-test

#49907 Update OidcConfigMetadata to return supported properties such as subject and response types
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfigurationMetadata.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc, triage/backport

#49932 Qute: param declaration - skip validation for `null` default value
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/ParamDeclarationDefaultValueTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/ExpressionImpl.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionHelperFactory.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SetSectionHelper.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParamDeclarationDefaultValueTest.java
Labels: area/qute

#49575 Build Executor is creating an excessive amount of threads
  core/builder/src/main/java/io/quarkus/builder/Execution.java
Labels: area/core, triage/flaky-test

#49862 Revert: Dependabot - Group mvnpm dependencies
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#49927 [3.26] 3.26.3 backports 2
  bom/application/pom.xml
  docs/src/main/asciidoc/extension-registry-user.adoc
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-continuous-testing.js
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfigurationMetadata.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/VertxUtilTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedServerRequestWrapper.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/config/RegistriesConfigLocator.java
  independent-projects/tools/registry-client/src/test/java/io/quarkus/registry/config/RegistriesConfigLocatorTest.java
  independent-projects/vertx-utils/pom.xml
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/vertx-http-compressors/app/src/test/java/io/quarkus/compressors/it/Testflow.java
Labels: area/documentation, area/vertx, area/rest-client, area/oidc, area/platform, area/dependencies, area/devtools, area/tracing, area/rest, triage/flaky-test

#49937 Check for --sun-misc-unsafe-memory-access=allow, log a user friendly warning when not
  core/deployment/src/main/java/io/quarkus/deployment/steps/CheckJVMparamsProcessor.java
  core/runtime/src/main/java/io/quarkus/runtime/JVMChecksRecorder.java
Labels: area/core, triage/flaky-test

#49931 ArC: fix construction of interception proxies
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptionProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithInterceptionAndVirtualCallInCtorTest.java
Labels: area/arc, triage/waiting-for-ci

#49946 Update IncludedQuarkusBuildTest to support Gradle 9.1
  integration-tests/gradle/src/main/resources/included-build/included/settings.gradle
Labels: area/gradle, triage/backport-3.26, triage/backport

#49972 Trim out a bit more superfluous website content for preview
  .github/workflows/preview.yml
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
Labels: area/documentation, area/infra-automation

#49415 Still produce KubernetesDevServiceInfoBuildItem when a dev service already exists
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
Labels: area/documentation, area/kubernetes

#49967 Remove outdated Renarde references in OIDC and web guides
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  docs/src/main/asciidoc/web.adoc
Labels: area/documentation

#48029 Bump JDK version to 21 at funqy related code
  docs/src/main/asciidoc/aws-lambda-http.adoc
  extensions/amazon-lambda-rest/deployment/src/main/resources/http/sam.jvm.yaml
  extensions/amazon-lambda/common-deployment/src/main/resources/lambda/sam.jvm.yaml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/build.gradle
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/sam.jvm.yaml
Labels: area/documentation, area/amazon-lambda, area/funqy

#50050 Dev UI Agroal: Fix jdbc url parsing for url with ; in it
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
Labels: area/agroal, triage/backport

#50035 Update an example about REST Client logging
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation

#30315 Mitigate Jacoco report generation issues
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
  test-framework/jacoco/runtime/pom.xml
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/DataFileWatch.java
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/ReportCreator.java
  test-framework/jacoco/runtime/src/main/java/io/quarkus/jacoco/runtime/ReportInfo.java
  test-framework/jacoco/runtime/src/test/java/io/quarkus/jacoco/runtime/DataFileWatchTest.java
Labels: triage/waiting-for-ci, area/testing

#50053 Bump hibernate-orm.version from 7.1.0.Final to 7.1.1.Final
  pom.xml
Labels: area/hibernate-orm, triage/flaky-test

#50007 Add support for multiple cache types (backends)
  .github/native-tests.json
  docs/src/main/asciidoc/cache.adoc
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheBuildConfig.java
  extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheManagerRecorder.java
  integration-tests/cache-multiple-backends/pom.xml
  integration-tests/cache-multiple-backends/src/main/java/io/quarkus/it/cache/multiplebackends/CacheManagerResource.java
  integration-tests/cache-multiple-backends/src/main/java/io/quarkus/it/cache/multiplebackends/MultipleBackendResource.java
  integration-tests/cache-multiple-backends/src/main/resources/application.properties
  integration-tests/cache-multiple-backends/src/test/java/io/quarkus/it/cache/multiplebackends/MultipleBackendResourceIT.java
  integration-tests/cache-multiple-backends/src/test/java/io/quarkus/it/cache/multiplebackends/MultipleBackendResourceTest.java
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/cache, area/infra-automation, area/liquibase, triage/flaky-test

#50061 Add support for the Proxy connect timeout in Quarkus REST Client
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/QuarkusRestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  extensions/resteasy-reactive/rest-client/runtime/src/test/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilderTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
Labels: area/resteasy-classic, area/rest-client, area/rest

#49808 Set fixed file/dir permissions for zip entries when building an archive
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/ParallelCommonsCompressArchiveCreator.java
Labels: area/core, triage/flaky-test

#49754 Add findByIds API to Panache
  docs/src/main/asciidoc/hibernate-orm-panache.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/AbstractJpaOperations.java
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/runtime/TestAnalogs.kt
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntityBase.java
  extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheRepositoryBase.java
  extensions/panache/hibernate-reactive-panache-kotlin/runtime/src/test/kotlin/io/quarkus/hibernate/reactive/panache/kotlin/TestAnalogs.kt
  extensions/panache/mongodb-panache-common/deployment/src/test/java/io/quarkus/mongodb/panache/common/MongoDatabaseResolverTest.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/reactive/runtime/ReactiveMongoOperations.java
  extensions/panache/mongodb-panache-common/runtime/src/main/java/io/quarkus/mongodb/panache/common/runtime/MongoOperations.java
  extensions/panache/mongodb-panache-kotlin/runtime/src/test/kotlin/io/quarkus/mongodb/panache/kotlin/TestAnalogs.kt
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoRepositoryBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/ReactivePanacheMongoEntityBase.java
  extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/reactive/ReactivePanacheMongoRepositoryBase.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/generate/StockMethodsAdder.java
  extensions/spring-data-jpa/runtime/src/main/java/io/quarkus/spring/data/runtime/RepositorySupport.java
  integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/defaultpu/TestEndpoint.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/defaultpu/PanacheMockingTest.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/book/BookEntityResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/book/BookRepositoryResource.java
  integration-tests/mongodb-panache/src/main/java/io/quarkus/it/mongodb/panache/person/resources/PersonEntityResource.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheMockingTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheResourceTest.java
Labels: area/documentation, area/panache, area/mongodb, area/spring, triage/flaky-test

#50042 Install appropriate Gradle wrapper in generated projects
  devtools/project-core-extension-codestarts/pom.xml
  devtools/project-core-extension-codestarts/src/main/filtered/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  devtools/project-core-extension-codestarts/src/main/filtered/codestarts/quarkus/tooling/maven-wrapper/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus-extension/tooling/git/base/..gitignore
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus-extension/tooling/git/base/README.tpl.qute.md
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus-extension/tooling/git/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus-jbang/tooling/jbang-wrapper/base/jbang
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus-jbang/tooling/jbang-wrapper/base/jbang.cmd
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus-jbang/tooling/jbang-wrapper/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/.dockerignore.tpl.qute
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.jvm
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.legacy-jar
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.native
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.native-micro
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/github-action/base/.github/workflows/ci.tpl.qute.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/github-action/codestart.yml
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/.gitkeep
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/..gitignore
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/MavenWrapperDownloader.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/maven-wrapper.tpl.qute.properties
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/mvnw.tpl.qute
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/mvnw.tpl.qute.cmd
  devtools/project-core-extension-codestarts/src/test/java/io/quarkus/codestarts/tooling/wrapper/GradleWrapperVersionTest.java
  independent-projects/tools/base-codestarts/pom.xml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/gradle/wrapper/gradle-wrapper.jar
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/gradle/wrapper/gradle-wrapper.properties
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/gradlew
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/gradlew.bat
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/codestart.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/codestart.yml
Labels: area/platform, area/devtools, area/jbang, triage/flaky-test, triage/backport-3.26, triage/backport-3.27, triage/backport

#50078 Bump to Mutiny 3.0.0 and Vert.x Mutiny Bindings 3.20.0
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, area/dependencies

#50125 Change the max connections defaults for the Hibernate Search's Elasticsearch client
  extensions/hibernate-search-backend-elasticsearch-common/runtime/src/main/java/io/quarkus/hibernate/search/backend/elasticsearch/common/runtime/HibernateSearchBackendElasticsearchRuntimeConfig.java
Labels: area/hibernate-search

#49936 Include suggestions on what to customize when migrating to own FormatMappers
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/BuiltinFormatMapperBehaviour.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/JsonFormatterCustomizationCheck.java
Labels: area/hibernate-orm

#50092 Update Maven Surefire & Failsafe plugins to 3.5.4
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  docs/src/main/asciidoc/native-reference.adoc
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/container-image/maven-invoker-way/src/it/container-build-docker/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-appcds/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-inherit/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-jib/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-docker/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-build-multiple-tags-jib/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-image-push/pom.xml
  integration-tests/container-image/maven-invoker-way/src/it/container-native-main/pom.xml
  integration-tests/hibernate-orm-compatibility-5.6/database-generator/pom.xml
  integration-tests/istio/maven-invoker-way/src/it/xds-grpc/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/knative-jib-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-deployment/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-docker-build-and-deploy-statefulset/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-jib-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-existing-selectorless-manifest/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-grpc-same-server/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/kubernetes-with-grpc/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/minikube-with-existing-manifest/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-docker-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-s2i-build-and-deploy/pom.xml
  integration-tests/kubernetes/maven-invoker-way/src/it/openshift-with-output-directory-build-and-deploy/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/avro-multimodule-project/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-callback-from-extension/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-parameter-injection/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension-with-bytecode-changes/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension/pom.xml
Labels: area/documentation, area/maven, area/amazon-lambda, triage/waiting-for-ci, area/platform, area/kubernetes, area/devtools, area/funqy, triage/flaky-test, triage/backport

#49175 Add LRA Dev Services
  docs/src/main/asciidoc/compose-dev-services.adoc
  docs/src/main/asciidoc/dev-services.adoc
  docs/src/main/asciidoc/lra-dev-services.adoc
  extensions/narayana-lra/deployment/pom.xml
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/LRABuildTimeConfiguration.java
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/devservice/DevServicesLRAProcessor.java
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/devservice/LRACoordinatorContainer.java
  extensions/narayana-lra/deployment/src/main/java/io/quarkus/narayana/lra/deployment/devservice/LRACoordinatorDevServicesBuildTimeConfig.java
  extensions/narayana-lra/deployment/src/test/java/io/quarkus/narayana/lra/test/LRAOpenAPIExcludedTest.java
  extensions/narayana-lra/deployment/src/test/java/io/quarkus/narayana/lra/test/LRAOpenAPIIncludedTest.java
  extensions/narayana-lra/runtime/pom.xml
  extensions/narayana-lra/runtime/src/main/java/io/quarkus/narayana/lra/runtime/LRAConfiguration.java
  extensions/narayana-lra/runtime/src/main/java/io/quarkus/narayana/lra/runtime/NarayanaLRARecorder.java
  integration-tests/main/src/main/resources/application.properties
  integration-tests/narayana-lra/src/main/java/io/quarkus/it/lra/TransactionalResource.java
  integration-tests/narayana-lra/src/test/java/io/quarkus/it/lra/LRADevServicesStartTest.java
  integration-tests/narayana-lra/src/test/java/io/quarkus/it/lra/LRAITTestClassOrderer.java
  integration-tests/narayana-lra/src/test/java/io/quarkus/it/lra/LRAParticipantTest.java
  integration-tests/narayana-lra/src/test/java/io/quarkus/it/lra/LRAParticipantTestNativeIT.java
  integration-tests/narayana-lra/src/test/java/org/acme/quickstart/lra/AppTestProfile.java
  integration-tests/narayana-lra/src/test/java/org/acme/quickstart/lra/LRAParticipantTestResourceLifecycle.java
  tcks/microprofile-lra/src/main/java/io/quarkus/tck/lra/LRACoordinatorManager.java
Labels: area/documentation, area/lra

#50032 Update Strimzi from 0.109.2 to 0.112.0
  bom/application/pom.xml
  bom/test/pom.xml
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java
  integration-tests/kafka-devservices/src/test/java/io/quarkus/it/kafka/continuoustesting/DevServicesContainerSharingTest.java
  integration-tests/kafka-oauth-keycloak/src/test/java/io/quarkus/it/kafka/KafkaKeycloakTestResource.java
  integration-tests/kafka-sasl-elytron/src/test/java/io/quarkus/it/kafka/KafkaSaslTestResource.java
  integration-tests/kafka-sasl/src/test/java/io/quarkus/it/kafka/KafkaSASLTestResource.java
  integration-tests/kafka-ssl/src/test/java/io/quarkus/it/kafka/KafkaSSLTestResource.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaSSLTestResource.java
  test-framework/kafka-companion/src/main/java/io/quarkus/test/kafka/KafkaCompanionResource.java
Labels: area/documentation, area/gradle, area/arc, triage/waiting-for-ci, area/testing, area/kafka-streams, area/platform, area/kafka, area/dependencies, area/devtools, triage/flaky-test

#50157 Test that Hibernate Validator does not attempt to fetch lazy associations with Hibernate Reactive
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/MyLazyChildEntity.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/MyLazyEntity.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/ReactiveTestValidationTraversableResolverResource.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/ReactiveValidationTraversableResolverTestCase.java
Labels: area/hibernate-reactive

#50161 Added Dev Assistant for scheduler extension
  extensions/scheduler/deployment/pom.xml
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/devui/SchedulerDevUIProcessor.java
  extensions/scheduler/deployment/src/main/resources/dev-ui/qwc-scheduler-cron-builder.js
  extensions/scheduler/deployment/src/main/resources/dev-ui/qwc-scheduler-scheduled-methods.js
Labels: area/scheduler

#50167 Register Reactive SQL Client Drivers
  extensions/reactive-db2-client/deployment/src/main/java/io/quarkus/reactive/db2/client/deployment/ReactiveDB2ClientProcessor.java
  extensions/reactive-mssql-client/deployment/src/main/java/io/quarkus/reactive/mssql/client/deployment/ReactiveMSSQLClientProcessor.java
  extensions/reactive-mysql-client/deployment/src/main/java/io/quarkus/reactive/mysql/client/deployment/ReactiveMySQLClientProcessor.java
  extensions/reactive-oracle-client/deployment/src/main/java/io/quarkus/reactive/oracle/client/deployment/ReactiveOracleClientProcessor.java
  extensions/reactive-pg-client/deployment/src/main/java/io/quarkus/reactive/pg/client/deployment/ReactivePgClientProcessor.java
Labels: triage/waiting-for-ci, area/reactive-sql-clients, triage/backport-3.27, triage/backport

#50166 PathTreeVisit - Use a very simple implementation to relativize Path
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/PathTreeVisit.java
Labels: area/devtools, triage/flaky-test

#50195 LGTM: Update grafana-dashboard-opentelemetry-logging.json TimeStamp
  extensions/observability-devservices/testcontainers/src/main/resources/grafana-dashboard-opentelemetry-logging.json
Labels: area/tracing, triage/backport-3.27, triage/backport

#50198 Prevent simultaneous use of @InjectMock and @InjectSpy
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/CreateMockitoSpiesCallback.java
Labels: area/testing

#50204 Add aarch64 warning to docs
  docs/src/main/asciidoc/grpc-generation-reference.adoc
Labels: area/documentation, triage/waiting-for-ci

#50275 Define lsp4j debug dependency with parametrized property
  independent-projects/qute/debug/pom.xml
  independent-projects/qute/pom.xml
Labels: triage/waiting-for-ci, triage/flaky-test

#50278 Config - Avoid producing duplicate GeneratedClassBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigMappingUtils.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/AbstractJarBuilder.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java
  extensions/spring-data-rest/deployment/src/main/java/io/quarkus/spring/data/rest/deployment/SpringDataRestProcessor.java
Labels: area/core, area/config, area/arc, area/spring, triage/flaky-test, triage/backport

#50288 Make `org.graalvm.sdk:nativebridge` dependency parent first
  core/runtime/pom.xml
Labels: area/core, triage/flaky-test, triage/backport-3.27, triage/backport

#50299 Adding prefix handling to base uri
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/ForwardedPrefixHeaderTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/LocationUtil.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/test/java/org/jboss/resteasy/reactive/server/jaxrs/ResponseBuilderImplTest.java
  independent-projects/resteasy-reactive/server/runtime/src/test/java/org/jboss/resteasy/reactive/server/jaxrs/RestResponseBuilderImplTest.java
Labels: triage/waiting-for-ci, area/rest, triage/flaky-test, triage/backport-3.27, triage/backport

#50262 Ignore implicit default persistence units if there is no datasource and no entity
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaPersistenceUnitModel.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/NoConfigNoEntitiesTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/NoDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/NoEntitiesNoDatasourceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/NoEntitiesTest.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/NoConfigNoEntitiesTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/NoConfigNoEntitiesTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/NoDatasourceTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/NoEntitiesNoDatasourceTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/NoEntitiesTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/ErroneousConfigHotReloadTestCase.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/config/NoConfigTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/config/NoDatasourceTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/config/NoEntitiesNoDatasourceTest.java
  extensions/panache/hibernate-orm-panache/deployment/src/test/java/io/quarkus/hibernate/orm/panache/deployment/test/config/NoEntitiesTest.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/config/NoConfigTest.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/config/NoDatasourceTest.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/config/NoEntitiesNoDatasourceTest.java
  extensions/panache/hibernate-reactive-panache/deployment/src/test/java/io/quarkus/hibernate/reactive/panache/test/config/NoEntitiesTest.java
Labels: area/panache, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#50277 Enable Qute debugger by default
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/debug/DebugQuteEngineObserver.java
  extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/debug/QuteDebugConfig.java
  independent-projects/qute/debug/src/main/java/io/quarkus/qute/debug/adapter/RegisterDebugServerAdapter.java
  independent-projects/qute/debug/src/main/java/io/quarkus/qute/debug/agent/DebuggeeAgent.java
Labels: area/qute

#50312 Update security-openid-connect-providers.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
Labels: area/documentation

#49915 WebSockets Next: Expose localAddress and remoteAddress in HandshakeRequest
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/BasicConnectorTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/handshake/HandshakeRequestTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/HandshakeRequest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketClientConnectionImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
Labels: triage/waiting-for-ci

#50164 QuarkusComponentTest: class loading refactoring
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  integration-tests/devmode/pom.xml
  test-framework/common/src/main/java/io/quarkus/test/common/FacadeClassLoaderProvider.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/BuildResult.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/ComponentClassLoader.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/ComponentContainer.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/ComponentLauncherSessionListener.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/Conditions.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/InterceptorMethodCreator.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/MockBeanCreator.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentFacadeClassLoaderProvider.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestClassLoader.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/main/resources/META-INF/services/io.quarkus.test.common.FacadeClassLoaderProvider
  test-framework/junit5-component/src/main/resources/META-INF/services/org.junit.platform.launcher.LauncherSessionListener
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/beans/MyOtherComponent.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/DeclarativeDependencyMockingTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/paraminject/ParameterInjectionPerClassLifecycleTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
Labels: area/core, area/testing, triage/flaky-test

#50324 Fix LRA TCK so it is possible to run it with the separate coordinator
  tcks/microprofile-lra/src/main/java/io/quarkus/tck/lra/LRACoordinatorManager.java
Labels: area/lra

#50325 Fix issue with multiple generated REST invokers
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusInvokerFactory.java
  integration-tests/rest-client-reactive-http2/pom.xml
  integration-tests/rest-client-reactive-http2/src/test/java/io/quarkus/it/rest/client/http2/RestMethodInAbstractPMT.java
Labels: triage/waiting-for-ci, area/rest, triage/backport

#50327 Application using Hibernate offline startup tries to connect to database in DEV mode on startup
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/offline/StartOfflineDevModeTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
Labels: area/hibernate-orm, triage/flaky-test

#50333 Fix OIDC Redis Token State Manager serialization in native mode
  extensions/oidc-redis-token-state-manager/deployment/src/main/java/io/quarkus/oidc/redis/token/state/manager/deployment/OidcRedisTokenStateManagerProcessor.java
  extensions/oidc-redis-token-state-manager/runtime/src/main/java/io/quarkus/oidc/redis/token/state/manager/runtime/AuthorizationCodeTokensRecord.java
  extensions/oidc-redis-token-state-manager/runtime/src/main/java/io/quarkus/oidc/redis/token/state/manager/runtime/OidcRedisTokenStateManager.java
  integration-tests/keycloak-authorization/pom.xml
  integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/PublicResource.java
  integration-tests/keycloak-authorization/src/test/java/io/quarkus/it/keycloak/AbstractPolicyEnforcerTest.java
Labels: area/oidc, area/keycloak, triage/backport-3.27, triage/backport

#50049 Make cachePreparedStatements Optional<Boolean> with database-specific defaults
  extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/DataSourceReactiveRuntimeConfig.java
  extensions/reactive-db2-client/runtime/src/main/java/io/quarkus/reactive/db2/client/runtime/DB2PoolRecorder.java
  extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLPoolRecorder.java
  extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java
Labels: triage/waiting-for-ci, area/reactive-sql-clients

#50343 Add example of sending back a file with `RestResponse
  .github/workflows/jdk-early-access-build.yml
  docs/src/main/asciidoc/rest.adoc
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/FileResource.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/providers/FileTestCase.java
Labels: area/documentation, area/infra-automation, area/rest, triage/flaky-test

#50348 Fix Maven Wrapper in platform codestarts
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/..gitignore
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/MavenWrapperDownloader.tpl.qute.java
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/.mvn/wrapper/maven-wrapper.tpl.qute.properties
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/mvnw.tpl.qute
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/tooling/maven-wrapper/base/mvnw.tpl.qute.cmd
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/COPIED_TO_CORE_CODESTARTS.md
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport
