Repository quarkusio/quarkus, pull requests merged in 2025-08, with the labels that each got.

#49266 Use correct extension in Qute guide
  docs/src/main/asciidoc/qute.adoc
Labels: area/documentation

#49141 Add profile for running CI builds against snapshot artifacts
  .github/mvn-settings.xml
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#49291 Go back to Ubuntu 22 on AWS runners for now
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#49264 Dev UI namespace changes fixes for cache and oidc
  docs/src/main/asciidoc/security-oidc-auth0-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/cache/deployment/src/main/resources/dev-ui/qwc-cache-caches.js
  extensions/cache/deployment/src/main/resources/dev-ui/qwc-cache-keys.js
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevUIProcessor.java
  extensions/oidc/deployment/src/main/resources/dev-ui/qwc-oidc-provider.js
Labels: area/documentation, area/oidc, area/cache, triage/flaky-test

#49305 Remove deprecated APIs that are removed from Gradle 9
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/DeploymentConfigurationResolver.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/DependencyUtils.java
Labels: area/gradle, area/devtools, triage/backport

#49316 Fix docker inspect command line
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
Labels: area/core, triage/flaky-test, triage/backport

#49349 [3.15] Install Java 17 for Gradle plugin build
  .github/matrix-jvm-tests.json
Labels: area/infra-automation, triage/flaky-test

#49275 Adjust the Hibernate ORM's JSON/XML formatter modification checks
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/FormatMapperBehaviorJsonObjectMapperAdjustedPropertiesTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/FormatMapperBehaviorJsonObjectMapperCustomizerTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/FormatMapperBehaviorJsonObjectMapperCustomizerWithIgnoreTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/FormatMapperBehaviorTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/FormatMapperBehaviorWithFormatMapperTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/FormatMapperBehaviorXmlFailsByDefaultTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/FormatMapperBehaviorXmlWorksWithUserDefinedMapperTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/MyJsonEntity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/MyJsonFormatMapper.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/MyObjectMapperCustomizer.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/MyXmlEntity.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/formatmapper/MyXmlFormatMapper.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/BuiltinFormatMapperBehaviour.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/JsonFormatterCustomizationCheck.java
Labels: area/hibernate-orm

#49377 Add a filter bar for Dev MCP Tools screen in Dev UI
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-dev-mcp-tools.js
Labels: area/dev-ui

#49290 Add Gizmo 2 variant of `AnnotationProxyProvider.build()`
  core/deployment/src/main/java/io/quarkus/deployment/recording/AnnotationProxyProvider.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/FaultToleranceScanner.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java
Labels: area/core, area/smallrye, area/vertx, area/scheduler, area/fault-tolerance, triage/flaky-test

#49385 Fix gh username in `quarkus-github-lottery.yml`
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#49384 CI - Add SHAs when reporting status in issue
  .github/workflows/ci-istio.yml
  .github/workflows/ci-kubernetes.yml
  .github/workflows/ci-openshift.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/jdk-early-access-build.yml
  .github/workflows/release-build.yml
Labels: area/infra-automation

#49338 Prevent theoretically possible NPE in HttpSecurity API
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityConfiguration.java
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test

#49382 Upgrade to Gizmo 2.0.0.Beta4
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/flaky-test

#49267 Ensure that `OpenTelemetry` bean is always initialized when obtaining `Meter`
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/metrics/cdi/MetricsProducer.java
Labels: area/tracing, triage/flaky-test

#49276 [3.20] Revert "[3.20] Bump the hibernate group with 11 updates"
  pom.xml
Labels: area/hibernate-orm, triage/flaky-test

#49361 Add documentation about ConfigMappingBuildItem
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ConfigMappingBuildItem.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#49221 Fix Quarkus REST issue where HEAD returned 405
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResourceLocatorHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/ParameterSubResTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/resource/ParameterSubResRoot.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/resource/ParameterSubResRootImpl.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/resource/ParameterSubResSubImpl2.java
Labels: triage/waiting-for-ci, triage/flaky-test, triage/backport

#49402 Fix Jacoco in Gradle multi module projects
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/application/build.gradle
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/application/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/application/src/test/java/org/acme/quarkus/sample/HelloResourceTest.java
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/build.gradle
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/common/build.gradle
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/common/src/main/java/org/acme/common/CommonBean.java
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/common/src/main/resources/META-INF/beans.xml
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/gradle.properties
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/settings.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/JacocoMultiModuleTest.java
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
Labels: area/gradle, area/testing, triage/backport

#49344 Hibernate ORM 7.1.0.CR2
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/H2CustomDialect.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/StandardHibernateORMInitiatorListProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/internalcache/QuarkusInternalCache.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/internalcache/QuarkusInternalCacheFactoryInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/TransactionScopedSession.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/singlepersistenceunit/SinglePersistenceUnitPackageConfigurationTest.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/PreconfiguredReactiveServiceRegistryBuilder.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/ReactiveHibernateInitiatorListProvider.java
  integration-tests/jpa-oracle/src/test/java/io/quarkus/it/jpa/oracle/HibernateOrmNoWarningsTest.java
  pom.xml
Labels: area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#49409 Config Doc - Improve default value escaping
  devtools/config-doc-maven-plugin/pom.xml
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/AbstractFormatter.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/AsciidocFormatter.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/MarkdownFormatter.java
Labels: area/devtools, triage/backport

#49403 Core: fix dumping debug class/source files
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
Labels: area/core, triage/waiting-for-ci

#49404 Tidy up a few commented-out disabled annotations on tests
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestFixtureModuleWithPackagePrivateParentTest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/continuoustesting/it/DevServicesRedisContinuousTestingTest.java
Labels: area/gradle

#49396 Always start dev services before getting the dev services properties
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/StartupAction.java
  integration-tests/kafka-avro-apicurio2/pom.xml
  integration-tests/kafka-avro-apicurio2/src/main/java/io/quarkus/it/kafka/avro/AvroEndpoint.java
  integration-tests/kafka-avro-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaAvroWithKafkaCompanionTest.java
  integration-tests/kafka-avro-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaAvroWithTestResourceTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/core, area/testing, area/devtools, triage/backport

#49408 Offline startup and dialect configuration for Hibernate ORM
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/datasource/common/src/main/java/io/quarkus/datasource/common/runtime/DatabaseKind.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/MySQLDialectConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/OracleDialectConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/SqlServerDialectConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevServicesProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/util/HibernateProcessorUtil.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/DevServicesSchemaManagementStrategyTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DialectSpecificSettingsMariaDBIgnoredTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DialectSpecificSettingsMariaDBTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DialectSpecificSettingsMySQLIgnoredTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DialectSpecificSettingsMySQLTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DialectSpecificSettingsOracleIgnoredTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DialectSpecificSettingsOracleTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DialectSpecificSettingsSQLServerIgnoredTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DialectSpecificSettingsSQLServerTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/StorageBaseDeprecatedTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/StorageSpecificMariaDBTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/StorageSpecificMysqlDBIgnoredTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/StorageSpecificMysqlDBTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsInconsistentStorageEnginesTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/offline/DevServicesOfflineStartDisabledTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/offline/DevServicesOfflineStartTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/offline/StartOfflineSchemaManagementTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/offline/StartOfflineTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/offline/StartOfflineVersionCheckTest.java
  extensions/hibernate-orm/deployment/src/test/resources/application-multiple-persistence-units-inconsistent-storage-engines.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-start-offline-mariadb-dialect.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-start-offline-mssql-dialect.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-start-offline-mysql-dialect.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-start-offline-oracle-dialect.properties
  extensions/hibernate-orm/deployment/src/test/resources/application-start-offline.properties
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRuntimeConfigPersistenceUnit.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordedConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusRuntimeInitDialectFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/QuarkusRuntimeInitDialectFactoryInitiator.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/offline/StartOfflineSchemaManagementTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/offline/StartOfflineTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/offline/StartOfflineVersionCheckTest.java
  extensions/hibernate-reactive/deployment/src/test/resources/application-start-offline.properties
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  integration-tests/jpa-mariadb/src/main/java/io/quarkus/it/jpa/mariadb/OfflineDialectDescriptor.java
  integration-tests/jpa-mariadb/src/main/java/io/quarkus/it/jpa/mariadb/OfflineDialectEndpoint.java
  integration-tests/jpa-mariadb/src/main/resources/application.properties
  integration-tests/jpa-mariadb/src/test/java/io/quarkus/it/jpa/mariadb/OfflineInGraalITCase.java
  integration-tests/jpa-mariadb/src/test/java/io/quarkus/it/jpa/mariadb/OfflineTest.java
Labels: area/documentation, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test, area/docstyle

#49399 Split Hibernate ORM and Search dev-only modules
  bom/application/pom.xml
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevUIProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevInfoServiceTestResource.java
  extensions/hibernate-orm/pom.xml
  extensions/hibernate-orm/runtime-dev/pom.xml
  extensions/hibernate-orm/runtime-dev/src/main/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevController.java
  extensions/hibernate-orm/runtime-dev/src/main/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevInfo.java
  extensions/hibernate-orm/runtime-dev/src/main/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevInfoCreateDDLSupplier.java
  extensions/hibernate-orm/runtime-dev/src/main/java/io/quarkus/hibernate/orm/dev/HibernateOrmDevIntegrator.java
  extensions/hibernate-orm/runtime-dev/src/main/java/io/quarkus/hibernate/orm/dev/ui/HibernateOrmDevJsonRpcService.java
  extensions/hibernate-orm/runtime/pom.xml
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitKey.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceUnitsHolder.java
  extensions/hibernate-search-orm-elasticsearch/deployment/pom.xml
  extensions/hibernate-search-orm-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/deployment/dev/HibernateSearchElasticsearchDevUIProcessor.java
  extensions/hibernate-search-orm-elasticsearch/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime-dev/pom.xml
  extensions/hibernate-search-orm-elasticsearch/runtime-dev/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/dev/HibernateSearchElasticsearchDevController.java
  extensions/hibernate-search-orm-elasticsearch/runtime-dev/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/dev/HibernateSearchElasticsearchDevInfo.java
  extensions/hibernate-search-orm-elasticsearch/runtime-dev/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/dev/HibernateSearchElasticsearchDevJsonRpcService.java
  extensions/hibernate-search-orm-elasticsearch/runtime-dev/src/main/java/io/quarkus/hibernate/search/orm/elasticsearch/runtime/dev/HibernateSearchElasticsearchDevRecorder.java
  extensions/hibernate-search-orm-elasticsearch/runtime/pom.xml
  extensions/hibernate-search-standalone-elasticsearch/deployment/pom.xml
  extensions/hibernate-search-standalone-elasticsearch/deployment/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/deployment/dev/HibernateSearchStandaloneDevUIProcessor.java
  extensions/hibernate-search-standalone-elasticsearch/pom.xml
  extensions/hibernate-search-standalone-elasticsearch/runtime-dev/pom.xml
  extensions/hibernate-search-standalone-elasticsearch/runtime-dev/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/runtime/dev/HibernateSearchStandaloneDevController.java
  extensions/hibernate-search-standalone-elasticsearch/runtime-dev/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/runtime/dev/HibernateSearchStandaloneDevInfo.java
  extensions/hibernate-search-standalone-elasticsearch/runtime-dev/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/runtime/dev/HibernateSearchStandaloneDevJsonRpcService.java
  extensions/hibernate-search-standalone-elasticsearch/runtime-dev/src/main/java/io/quarkus/hibernate/search/standalone/elasticsearch/runtime/dev/HibernateSearchStandaloneDevRecorder.java
  extensions/hibernate-search-standalone-elasticsearch/runtime/pom.xml
Labels: area/hibernate-orm, area/hibernate-search, area/dependencies, triage/flaky-test

#49420 [3.25] 3.25.2 backports 1
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  devtools/config-doc-maven-plugin/pom.xml
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/AbstractFormatter.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/AsciidocFormatter.java
  devtools/config-doc-maven-plugin/src/main/java/io/quarkus/maven/config/doc/generator/MarkdownFormatter.java
  docs/src/main/asciidoc/rest-client.adoc
  extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java
  extensions/amazon-lambda/deployment/src/test/java/io/quarkus/amazon/lambda/deployment/testing/LambdaWithHierarchyTest.java
  extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/StartupAction.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResourceLocatorHandler.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/ParameterSubResTest.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/resource/ParameterSubResRoot.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/resource/ParameterSubResRootImpl.java
  independent-projects/resteasy-reactive/server/vertx/src/test/java/org/jboss/resteasy/reactive/server/vertx/test/resource/basic/resource/ParameterSubResSubImpl2.java
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/application/build.gradle
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/application/src/main/java/org/acme/quarkus/sample/HelloResource.java
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/application/src/test/java/org/acme/quarkus/sample/HelloResourceTest.java
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/build.gradle
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/common/build.gradle
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/common/src/main/java/org/acme/common/CommonBean.java
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/common/src/main/resources/META-INF/beans.xml
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/gradle.properties
  integration-tests/gradle/src/main/resources/basic-multi-module-project-jacoco/settings.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/JacocoMultiModuleTest.java
  integration-tests/kafka-avro-apicurio2/pom.xml
  integration-tests/kafka-avro-apicurio2/src/main/java/io/quarkus/it/kafka/avro/AvroEndpoint.java
  integration-tests/kafka-avro-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaAvroWithKafkaCompanionTest.java
  integration-tests/kafka-avro-apicurio2/src/test/java/io/quarkus/it/kafka/KafkaAvroWithTestResourceTest.java
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/documentation, area/gradle, area/core, area/infra, area/amazon-lambda, area/testing, area/devtools

#49419 Enforce null checks for `DiscoveredServiceBuilder`
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesResultBuildItem.java
Labels: area/core, triage/waiting-for-ci, triage/backport

#49386 Use SmallRye Common library for OS and CPU detection
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/UnsupportedOSBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  extensions/awt/deployment/src/main/java/io/quarkus/awt/deployment/AwtProcessor.java
Labels: area/core, area/graphics

#48990 Apply manifests from URL and await resources with readiness
  docs/src/main/asciidoc/kubernetes-dev-services.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
  integration-tests/kubernetes-client-devservices/src/main/resources/application.properties
  integration-tests/kubernetes-client-devservices/src/test/java/io/quarkus/kubernetes/client/devservices/it/DevServicesKubernetesTest.java
Labels: area/documentation, area/kubernetes

#49287 Rewrite multiple persistence unit documentation section for Hibernate Reactive
  docs/src/main/asciidoc/hibernate-reactive.adoc
Labels: area/documentation

#49429 Update to Hibernate ORM 7.1.0.Final, Hibernate Search 8.1.0.Final, Hibernate Reactive 3.1.0.Final
  pom.xml
Labels: area/hibernate-orm, area/hibernate-search, area/dependencies, area/hibernate-reactive

#49433 Add lit for-each example and runtime-dev set up to Dev UI docs
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation

#49451 Dev UI: Add copy for env button in Dev Services
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-dev-services.js
Labels: area/dev-ui, area/devservices

#47615 Add Javadoc for various build items
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ContextHandlerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ExtensionSslNativeSupportBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/GeneratedResourceBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/JavaLibraryPathAdditionalPathBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/LogCategoryMinLevelDefaultsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/MainBytecodeRecorderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/MainClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/NativeImageEnableAllCharsetsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/QuarkusApplicationClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/QuarkusBuildCloseablesBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ShutdownListenerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/SslNativeConfigBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/StaticBytecodeRecorderBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ThreadFactoryBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/NativeImageConfigBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveFieldBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveMethodBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/UnsafeAccessedFieldBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/cmd/RunCommandActionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/cmd/RunCommandActionResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/DevServiceDescriptionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestListenerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/logging/LogStreamBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/metrics/MetricsCapabilityBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/CompiledJavaVersionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/JarBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/NativeImageBuildItem.java
Labels: area/core, triage/flaky-test

#49448 Switch from Oracle to PostgreSQL in smallrye-jwt-oidc-webapp integration module
  integration-tests/smallrye-jwt-oidc-webapp/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/src/main/resources/application.properties
Labels: area/security, area/smallrye, area/oidc

#49426 Add wait_for.logs for Oracle DB Compose Dev Services example
  docs/src/main/asciidoc/databases-dev-services.adoc
Labels: area/documentation

#49153 ArC - Generate order-sensitive bytecode in reproducible order
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ContextInstancesGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverInfo.java
Labels: area/arc, triage/flaky-test, area/build-reproducibility

#49148 Add MongoDriverInformation to identify Quarkus client connections
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClients.java
Labels: triage/waiting-for-ci, area/mongodb

#49066 AMQ Broker support in Compose Dev Services, example for guide
  docs/src/main/asciidoc/amqp-dev-services.adoc
  docs/src/main/asciidoc/compose-dev-services.adoc
  extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java
Labels: area/documentation, area/smallrye, area/reactive-messaging

#48805 Introduce `@RegisterResourceBundle` and `@RegisterResources`
  .github/native-tests.json
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterResourceBundleBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterResourcesBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterResourceBundle.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterResources.java
  docs/src/main/asciidoc/writing-native-applications-tips.adoc
  integration-tests/native-image-annotations/pom.xml
  integration-tests/native-image-annotations/src/main/java/io/quarkus/it/nat/annotation/NativeImageAnnotationsResource.java
  integration-tests/native-image-annotations/src/main/java/io/quarkus/it/nat/annotation/NativeImageHints.java
  integration-tests/native-image-annotations/src/main/resources/META-INF/native-image/io.quarkus/quarkus-integration-test-native-image-annotations/native-image.properties
  integration-tests/native-image-annotations/src/main/resources/file.txt
  integration-tests/native-image-annotations/src/main/resources/messages.properties
  integration-tests/native-image-annotations/src/main/resources/messages_ar.properties
  integration-tests/native-image-annotations/src/test/java/io/quarkus/it/nat/annotation/NativeImageAnnotationsIT.java
  integration-tests/native-image-annotations/src/test/java/io/quarkus/it/nat/annotation/NativeImageAnnotationsTest.java
  integration-tests/pom.xml
Labels: area/documentation, area/core, area/infra-automation, triage/flaky-test

#49456 Make the ProcessBuilder calls intents a bit clearer
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildContainerRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/backport

#49440 When loading tests, check explicitly for nested classes which might have a QuarkusTest parent
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
Labels: triage/waiting-for-ci, area/testing, triage/flaky-test

#49467 Add quarkus-extension-processor to quarkus-bom
  bom/application/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/extension-removed-resources/extension/runtime/pom.xml
Labels: area/maven, area/dependencies, triage/backport-3.20, triage/backport

#49482 Do not apply config provider if not set
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesResultBuildItem.java
Labels: area/core, triage/backport

#49483 Bump to actions/checkout@v5
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.tpl.qute.yml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/github-action/base/.github/workflows/ci.tpl.qute.yml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleNoWrapperGithubAction/.github_workflows_ci.yml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateGradleWrapperGithubAction/.github_workflows_ci.yml
  independent-projects/tools/devtools-testing/src/test/resources/__snapshots__/QuarkusCodestartGenerationTest/generateMavenGithubAction/.github_workflows_ci.yml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_build.yml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_quarkus-snapshot.yaml
Labels: area/maven, area/platform, area/devtools, triage/flaky-test

#48248 Add Maven 4 resolver support with backward compatibility
  independent-projects/bootstrap/maven-resolver/pom.xml
  independent-projects/bootstrap/maven4-resolver/pom.xml
  independent-projects/bootstrap/maven4-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapArtifactTransformer.java
  independent-projects/bootstrap/maven4-resolver/src/main/resources/META-INF/sisu/javax.inject.Named
  independent-projects/bootstrap/pom.xml
Labels: area/devtools, triage/flaky-test

#49508 Use `<annotationProcessorPathsUseDepMgmt>` in new extension projects
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/extension-base/java/runtime/pom.tpl.qute.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_runtime_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_runtime_pom.xml
Labels: area/maven, triage/waiting-for-ci, area/platform, area/devtools, triage/flaky-test, triage/backport-3.20, triage/backport

#49493 Revisions for style and typos
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
Labels: area/documentation, triage/backport-3.25, triage/backport

#47157 Upgrade to gRPC v4
  bom/application/pom.xml
  bom/test/pom.xml
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcServerBuildTimeConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/grpc/GrpcTracingServerInterceptor.java
  integration-tests/reactive-messaging-pulsar/pom.xml
  integration-tests/reactive-messaging-pulsar/src/main/resources/application.properties
  pom.xml
Labels: release/noteworthy-feature, area/dependencies, area/grpc, area/tracing, triage/flaky-test

#49544 Upgrade bcfips and bctls to 2.x
  bom/application/pom.xml
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/graal/BouncyCastleSubstitutions.java
Labels: area/security, area/dependencies

#49554 Upgrade Vaadin to 24.8.5
  bom/dev-ui/pom.xml
Labels: area/dependencies

#49538 Escape Cli Encrypt keys
  devtools/cli/src/main/java/io/quarkus/cli/config/Encrypt.java
  devtools/cli/src/main/java/io/quarkus/cli/config/SetConfig.java
Labels: area/devtools, area/cli

#49526 Avoid now unnecessary copy of MethodInfo in Methods
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
Labels: area/arc

#49556 Bump Elasticsearch client and server to 9.1.2
  bom/application/pom.xml
  build-parent/pom.xml
Labels: area/dependencies, area/elasticsearch, triage/flaky-test

#49438 Fix Proxy usage by OIDC devservices
  extensions/oidc/runtime-dev/src/main/java/io/quarkus/oidc/runtime/dev/ui/OidcDevServicesUtils.java
Labels: area/oidc, triage/backport-3.20, triage/backport-3.25

#49122 Support flow-specific OIDC request and response filters
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/OidcRequestAndResponseFilterTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantContextFactory.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpAuthMechanismAnnotationBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomBearerTokenAuthRequestFilter.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantFeatureAuthResponseFilter.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcFilterResource.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: release/noteworthy-feature, area/documentation, area/vertx, area/oidc, triage/flaky-test, area/docstyle

#49519 [3.15] Upgrade to Vert.x 4.5.18 and Netty 4.1.124
  bom/application/pom.xml
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/ZLibSubstitutions.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/vertx-utils/pom.xml
Labels: area/vertx, triage/waiting-for-ci, area/dependencies, area/netty

#49591 Remove support for Hibernate ORM proxy generation at static init and clean up proxy generation
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ProxyBuildingHelper.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/registry/PreconfiguredServiceRegistryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusProxyFactory.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/proxies/PreGeneratedProxies.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/proxies/ProxyDefinitions.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/bytecodeprovider/QuarkusRuntimeBytecodeProviderInitiator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/service/bytecodeprovider/RuntimeBytecodeProvider.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/registry/PreconfiguredReactiveServiceRegistryBuilder.java
Labels: area/hibernate-orm, area/hibernate-reactive

#49587 Add watchFiles option to allow maven restart on external file changes
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/external-lib/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/external-lib/src/main/java/org/acme/lib/Greeting.java
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts-with-external-lib/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/external-reloadable-artifacts-with-external-lib/src/main/java/org/acme/GreetingResource.java
Labels: area/maven, area/devtools

#49589 Initial extension offering documentation
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusListExtensions.java
  devtools/maven/src/main/java/io/quarkus/maven/ListExtensionsMojo.java
  docs/src/main/asciidoc/cli-tooling.adoc
  docs/src/main/asciidoc/extension-metadata.adoc
  docs/src/main/asciidoc/extension-registry-user.adoc
Labels: area/documentation, area/gradle, area/maven, area/devtools

#49503 Do not include default values when passing Gradle build configuration to Quarkus
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/EffectiveConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuildTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
Labels: area/gradle, area/devtools, triage/flaky-test

#49528 Undeprecate 'quarkus.otel.traces.enabled' property
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/TracesBuildConfig.java
Labels: area/tracing

#49525 Provided the example in yaml for logging customization
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation, area/docstyle

#49625 Reduce our dependency to exotic common-io versions in tests
  integration-tests/maven/src/test/java/io/quarkus/maven/AddExtensionMojoTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/classic-inst/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/classic-remote-dev/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/multi-build-mode/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rr-with-json-logging/pom.xml
Labels: area/maven

#49622 Dev MCP: Make sure to read all the buffer
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/mcp/McpHttpHandler.java
Labels: triage/flaky-test

#49626 Add docs for the watchedFiles paramater
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation

#49640 Update platform.adoc
  docs/src/main/asciidoc/platform.adoc
Labels: area/documentation

#49627 ArC - Generate BeanGenerator.ProviderType values only once
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#49647 Don't create a new CORS config instance on each request handled by `DevUICORSFilter`
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/DevUICORSFilter.java
Labels: area/config, area/dev-ui, triage/flaky-test

#49633 Fixes InfinispanCacheTest.testGetAsyncWithParallelCalls
  extensions/infinispan-cache/deployment/src/test/java/io/quarkus/cache/infinispan/InfinispanCacheTest.java
Labels: area/infinispan, area/cache, triage/flaky-test

#49059 Reflect top-level name attribute in Compose file for test execution
  docs/src/main/asciidoc/compose-dev-services.adoc
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeDevServicesProcessor.java
Labels: area/documentation, area/devservices

#49650 Removed deprecated configuration `quarkus.http.cors`
  docs/src/main/asciidoc/config-yaml.adoc
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/UriTagCorsTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/cors/CORSSecurityLegacyTestCase.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSConfig.java
Labels: area/documentation, area/vertx, area/metrics, triage/flaky-test

#49645 Add a mapping with only the default values of Auth and Cors
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/DefaultAuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityUtils.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/security/CORS.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/security/MTLS.java
Labels: area/vertx, triage/flaky-test

#49648 Rename `quarkus.keycloak.policy-enforcer` from enable to enabled
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
Labels: area/documentation

#49657 Dev UI: Small fixes to setting screen
  docs/src/main/asciidoc/dev-ui.adoc
  extensions/devui/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/devui/deployment/src/main/java/io/quarkus/devui/deployment/menu/MCPProcessor.java
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-dev-mcp-setting.js
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-header.js
Labels: area/documentation

#49662 Set correct OAuth2 protected metadata challenge parameter
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/ResourceMetadataHandler.java
  integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/AbstractBearerTokenAuthorizationTest.java
Labels: area/oidc, triage/backport-3.25

#49664 Tighten up contract of AnnotationStore#hasAnyAnnotation()
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationStore.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
Labels: area/arc, triage/waiting-for-ci

#49687 Delete `EnumerationIterable`
  extensions/resteasy-reactive/rest-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/EnumerationIterable.java
  extensions/resteasy-reactive/rest-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/ServletRequestContext.java
Labels: area/rest

#49666 Document `ConfigUtils.getProfiles`
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java
  docs/src/main/asciidoc/config-reference.adoc
Labels: area/documentation, area/core, area/config, triage/flaky-test

#49690 Make bot ping Holly and Ozan for Dev Services issues
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#49689 Fail when datasource dev service port is configured for shared network
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
Labels: area/config, triage/waiting-for-ci, area/devservices, triage/flaky-test

#49667 OIDC Token Propagation: Drop deprecated `@AccessToken` annotation
  extensions/oidc-token-propagation-common/deployment/src/main/java/io/quarkus/oidc/token/propagation/common/deployment/OidcTokenPropagationCommonProcessor.java
  extensions/oidc-token-propagation-common/runtime/src/main/java/io/quarkus/oidc/token/propagation/AccessToken.java
  extensions/oidc-token-propagation-reactive/deployment/src/test/java/io/quarkus/oidc/token/propagation/reactive/deployment/test/AccessTokenAnnotationTest.java
  extensions/oidc-token-propagation/deployment/src/test/java/io/quarkus/oidc/token/propagation/deployment/test/AccessTokenAnnotationTest.java
Labels: triage/waiting-for-ci, area/oidc

#49661 Remove GraphQL client's legacy keystore/truststore configuration
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/GraphQLClientConfigurationTest.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfig.java
  extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/SmallRyeGraphQLClientRecorder.java
Labels: area/smallrye, release/breaking-change, area/graphql

#49665 Remove deprecated Console configuration
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleHelper.java
  core/deployment/src/main/java/io/quarkus/deployment/console/ConsoleProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogRuntimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/flaky-test

#49706 Skip oracle integration tests on AArch64
  integration-tests/hibernate-reactive-oracle/pom.xml
  integration-tests/jpa-oracle/pom.xml
  integration-tests/reactive-oracle-client/pom.xml
Labels: area/hibernate-orm

#49676 ArC - Minor allocation reductions
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationLiteralProcessor.java
  independent-projects/arc/processor/src/test/java/io/quarkus/arc/processor/AnnotationLiteralProcessorTest.java
Labels: area/arc, triage/flaky-test

#49713 Make sure preferred platform BOMs passed to ExtensionCatalogResolver are actually prioritized
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusProjectMojoBase.java
  devtools/maven/src/main/java/io/quarkus/maven/UpdateMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/MavenProjectBuildFile.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClient.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientBuilder.java
  independent-projects/tools/devtools-testing/src/main/java/io/quarkus/devtools/testing/registry/client/TestRegistryClientFactory.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/ExtensionCatalogFromProvidedPlatformsTest.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/MultiplePlatformBomsTestBase.java
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/PreferredPlatformKeysNotProvidedByRegistryTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/PlatformPreferenceIndex.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/PlatformReleasePreferenceIndex.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/RegistryExtensionResolver.java
Labels: area/maven, area/platform, area/devtools, triage/flaky-test

#49600 [3.20] Bump kafka3.version from 3.9.0 to 3.9.1
  bom/application/pom.xml
Labels: area/kafka, area/dependencies, triage/flaky-test

#49397 Qute: gizmo2 rewrite
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/Descriptors.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TemplateDataTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/ExtensionMethodCompletionStageTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/NamespaceTemplateExtensionTest.java
  independent-projects/qute/generator/pom.xml
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/AbstractGenerator.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/Descriptors.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ExtensionMethodGenerator.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/TemplateGlobalGenerator.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/TestClassOutput.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/hierarchy/HierarchyTest.java
  independent-projects/qute/pom.xml
Labels: area/qute, triage/flaky-test

#49732 Ignore extension quarkus-config-javadoc.json when building uberjar
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/UberJarBuilder.java
Labels: area/core, triage/flaky-test, triage/backport

#49744 Include Hibernate Validator in 3.20 dependabot upgrade group
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#49751 Add documentation about `@Cancellable`
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport

#49728 Fix container-image extension names in the docs
  docs/src/main/asciidoc/container-image.adoc
Labels: area/documentation

#49727 Generate reproducible jars (as in the actual jar production)
  core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/AbstractJarBuilder.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/AbstractLegacyThinJarBuilder.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/FastJarBuilder.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/ParallelCommonsCompressArchiveCreator.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/UberJarBuilder.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/jar/ZipFileSystemArchiveCreator.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
Labels: area/core, area/maven, area/devtools, triage/flaky-test, area/build-reproducibility

#49750 Update `@QuarkusMainTest` documentation to mention limitations
  docs/src/main/asciidoc/command-mode-reference.adoc
Labels: area/documentation

#49763 quarkus-micrometer-opentelemetry doc improvements
  docs/src/main/asciidoc/opentelemetry-metrics.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  docs/src/main/asciidoc/telemetry-micrometer-to-opentelemetry.adoc
Labels: area/documentation

#49753 Try to handle relocation artifacts gracefully in QuarkusComponentVariants
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/QuarkusComponentVariants.java
Labels: area/gradle, area/devtools, triage/backport-3.20, triage/backport-3.25

#49769 Fix QwcExtention typo in docs
  docs/src/main/asciidoc/assistant.adoc
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation

#49760 SmallRye GraphQL 2.14.1
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/graphql, triage/flaky-test, triage/backport-3.25, triage/backport

#49779 Tidy obsolete comments in dev services tests
  integration-tests/kafka-devservices/src/test/java/io/quarkus/it/kafka/continuoustesting/DevServicesKafkaContinuousTestingTest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/continuoustesting/it/DevServicesRedisContinuousTestingTest.java
Labels: area/devservices
