Repository quarkusio/quarkus, pull requests merged in 2025-05, with the labels that each got.

#47643 OpenAPI: enable merging of schema examples by default
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/deployment/filter/SecurityConfigFilterTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/MergeSchemaExamplesTestCases.java
  tcks/microprofile-openapi/pom.xml
Labels: area/smallrye, area/openapi

#47616 Add Javadoc for AppModelProviderBuildItem class
  core/deployment/src/main/java/io/quarkus/deployment/builditem/AppModelProviderBuildItem.java
Labels: area/core, triage/flaky-test

#45522 WebSockets Next: use SPI to separate the Websockets extension from OpenTelemetry and Micrometer extensions
  bom/application/pom.xml
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/WebSocketsBinderProcessor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/websockets/WebSocketMetricConstants.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/websockets/WebSocketMetricsInterceptorProducerImpl.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/runtime/pom.xml
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/websockets/WebSocketTracesInterceptorImpl.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/telemetry/MetricsAsserter.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/telemetry/OpenTelemetryWebSocketsTest.java
  extensions/websockets-next/pom.xml
  extensions/websockets-next/runtime/pom.xml
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/ErrorCountingInterceptor.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/MetricsBuilderCustomizer.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/MetricsConnectionInterceptor.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/MetricsForwardingWebSocketEndpoint.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/MetricsSendingInterceptor.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/TelemetryWebSocketEndpointContext.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/TracesBuilderCustomizer.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/TracesConnectionInterceptor.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/TracesForwardingWebSocketEndpoint.java
  extensions/websockets-next/spi/pom.xml
  extensions/websockets-next/spi/src/main/java/io/quarkus/websockets/next/runtime/spi/telemetry/EndpointKind.java
  extensions/websockets-next/spi/src/main/java/io/quarkus/websockets/next/runtime/spi/telemetry/WebSocketEndpointContext.java
  extensions/websockets-next/spi/src/main/java/io/quarkus/websockets/next/runtime/spi/telemetry/WebSocketMetricsInterceptorProducer.java
  extensions/websockets-next/spi/src/main/java/io/quarkus/websockets/next/runtime/spi/telemetry/WebSocketTracesInterceptor.java
Labels: area/core, triage/waiting-for-ci, area/dependencies, area/tracing, area/metrics, area/websockets, triage/flaky-test

#47662 Fix Jackson serializers generation for Kotlin data classes
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonCodeGenerator.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonDeserializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonSerializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractSimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/TokenResponse.java
Labels: triage/waiting-for-ci, area/rest, triage/backport

#47651 More informative/encouraging grpc warning about legacy compatibility
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
Labels: area/grpc, triage/flaky-test

#47667 Fix OOB in StaticResourcesProcessor for META-INF/resources-only JARs
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/StaticResourcesProcessor.java
Labels: area/vertx, triage/backport-3.20, triage/backport

#47679 Health endpoints add display names
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
Labels: area/smallrye, triage/waiting-for-ci, area/health

#47680 Health OpenAPI ensure repeatable builds
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthOpenAPIFilter.java
Labels: area/smallrye, triage/waiting-for-ci, area/health

#47606 Only display the extension status note if attribute is defined
  docs/src/main/asciidoc/_includes/extension-status.adoc
Labels: area/documentation, area/docstyle

#47609 Fix formatting typo in URL example
  docs/src/main/asciidoc/deploying-to-openshift-docker-howto.adoc
Labels: area/documentation, triage/backport-3.20, triage/backport

#47626 [3.15] RunnerClassLoader - Return URL with an ending / if resource ending with /
  independent-projects/bootstrap/runner/pom.xml
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
  independent-projects/bootstrap/runner/src/test/java/io/quarkus/bootstrap/runner/RunnerClassLoaderTest.java
Labels: area/devtools, triage/flaky-test

#47658 Bump kubernetes-client-bom from 7.1.0 to 7.2.0
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientSerializationTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesClientTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesNewClientTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesTestServerOnProfileTest.java
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/KubernetesTestServerTest.java
  integration-tests/openshift-client/src/test/java/io/quarkus/it/openshift/client/KubernetesTestServerTest.java
  integration-tests/openshift-client/src/test/java/io/quarkus/it/openshift/client/OpenShiftClientTest.java
  pom.xml
  test-framework/kubernetes-client/pom.xml
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesServer.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesServerTestResource.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesTestServer.java
  test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/WithKubernetesTestServer.java
Labels: area/testing, area/kubernetes, triage/flaky-test

#47633 ArC: optimize the generated dependency graphs for the Dev UI
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcDevModeConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcDevModeApiProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DependencyGraph.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevBeanInfos.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/Node.java
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-bean-graph.js
Labels: area/arc, triage/flaky-test

#47668 Handle empty bearer token file in ClientAssertionProvider
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/ClientAssertionProvider.java
  extensions/oidc-common/runtime/src/test/java/io/quarkus/oidc/common/runtime/ClientAssertionProviderTest.java
Labels: area/oidc, triage/backport-3.20, triage/backport

#47682 Dev UI: Shortern the save message in the workspace
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/WorkspaceBuildItem.java
Labels: area/vertx, triage/backport

#47624 [3.20] 3.20.1 backports 3
  .github/workflows/ci-actions-incremental.yml
  docs/src/main/asciidoc/config-mappings.adoc
  docs/src/main/asciidoc/datasource.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourcesJdbcBuildTimeConfig.java
Labels: area/documentation, area/security, area/infra, area/infra-automation, area/agroal, triage/flaky-test, area/docstyle

#47700 Health OpenAPI add missing Tag description
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthOpenAPIFilter.java
Labels: area/smallrye, area/health, triage/flaky-test

#47712 Fix Javadoc for TLS configuration of REST Client
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
Labels: triage/waiting-for-ci, triage/backport-3.20, triage/backport

#47714 Add a note how to workaround Keycloak Dev Service startup issues on Mac
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
Labels: area/documentation

#47708 Switch to the new nested context API
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/ContextLocalPropagationTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientRequestContextImpl.java
Labels: area/rest-client, area/rest, triage/flaky-test

#47713 Strip the classpath scheme from SmallrRye JWT native resources
  extensions/smallrye-jwt-build/deployment/src/main/java/io/quarkus/smallrye/jwt/build/deployment/SmallRyeJwtBuildProcessor.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  integration-tests/smallrye-jwt-token-propagation/src/main/resources/application.properties
Labels: area/smallrye, triage/backport-3.20, triage/backport

#47608 Remove stale references to Mandrel not being supported
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation, triage/backport-3.20, triage/backport

#47605 Properly drop preview status for WebSockets.next
  docs/src/main/asciidoc/websockets-next-reference.adoc
  docs/src/main/asciidoc/websockets-next-tutorial.adoc
  docs/src/main/asciidoc/websockets.adoc
Labels: area/documentation, triage/backport-3.20, triage/backport

#47554 Add HTTP server and client active network connection gauge metrics
  extensions/micrometer/deployment/src/test/java/io/quarkus/micrometer/deployment/binder/VertxHttpClientMetricsTest.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/NetworkMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpClientMetrics.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxTcpServerMetrics.java
Labels: area/metrics, triage/flaky-test

#47719 Fix reflection-free json serialization with @JsonValue
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonSerializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractSimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/ItemId.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
Labels: area/rest

#47729 Cache DevUI give datatable more height
  extensions/cache/deployment/src/main/resources/dev-ui/qwc-cache-caches.js
  extensions/cache/deployment/src/main/resources/dev-ui/qwc-cache-keys.js
Labels: area/cache

#47731 Fix possible NPE on 404 on startup
  core/runtime/src/main/java/io/quarkus/runtime/TemplateHtmlBuilder.java
Labels: area/core

#47728 Fix Kotlin compilation
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
Labels: area/kotlin, triage/backport

#47709 Fix Hibernate Documentation after Quickstart review
  docs/src/main/asciidoc/hibernate-orm.adoc
Labels: area/documentation

#47721 [3.22] 3.22.2 backports 1
  .github/workflows/ci-actions-incremental.yml
  docs/src/main/asciidoc/_includes/extension-status.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/deploying-to-openshift-docker-howto.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  docs/src/main/asciidoc/tls-registry-reference.adoc
  docs/src/main/asciidoc/websockets-next-reference.adoc
  docs/src/main/asciidoc/websockets-next-tutorial.adoc
  docs/src/main/asciidoc/websockets.adoc
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcDevModeConfig.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcDevModeApiProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DependencyGraph.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/DevBeanInfos.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/Node.java
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-bean-graph.js
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/ClientAssertionProvider.java
  extensions/oidc-common/runtime/src/test/java/io/quarkus/oidc/common/runtime/ClientAssertionProviderTest.java
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/MultiNdjsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonCodeGenerator.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonDeserializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonSerializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractSimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/TokenResponse.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/HealthOpenAPIFilter.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java
  extensions/smallrye-jwt-build/deployment/src/main/java/io/quarkus/smallrye/jwt/build/deployment/SmallRyeJwtBuildProcessor.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/deployment/filter/SecurityConfigFilterTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/MergeSchemaExamplesTestCases.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/StaticResourcesProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/router-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/WorkspaceBuildItem.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  integration-tests/smallrye-jwt-token-propagation/src/main/resources/application.properties
  pom.xml
  tcks/microprofile-openapi/pom.xml
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPResource.java
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPResourceManager.java
Labels: area/documentation, area/arc, area/resteasy-classic, area/smallrye, area/infra, area/vertx, area/scheduler, area/rest-client, area/openapi, area/testing, area/oidc, area/infra-automation, area/grpc, area/health, area/rest, area/docstyle

#47733 Remove instances of BytecodeTransformerBuildItem.Builder().setEager()
  core/deployment/src/main/java/io/quarkus/deployment/builditem/BytecodeTransformerBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestTracingProcessor.java
  test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#47534 Extract common code from AbstractJvmQuarkusTestExtension and QuarkusMainTestExtension to AppMakerHelper
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/CurrentTestApplication.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/basic-command-mode/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/basic-command-mode/src/test/java/org/acme/MainContinuousTestingTest.java
  integration-tests/maven/src/test/resources-filtered/projects/basic-command-mode/src/test/java/org/acme/MainTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestClassIndexer.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AppMakerHelper.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/PrepareResult.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
Labels: area/core, area/maven, area/testing, triage/flaky-test

#47737 Bump elasticsearch-opensource-components.version from 8.17.4 to 8.18.1 / Prevent dependabot from updating major versions of any Elasticsearch components
  .github/dependabot.yml
  bom/application/pom.xml
Labels: area/dependencies, area/infra-automation, triage/flaky-test

#47741 Ensure that `@RequestScoped` beans can be mocked
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/RequestScopedFooFromProducer.java
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/RequestScopedProducer.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/RequestScopedFooMockTest.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/MockitoMocksTracker.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/SetMockitoMockAsBeanMockCallback.java
Labels: area/testing, triage/backport-3.20, triage/backport

#47745 Micrometer: remove `MicrometerCounted`
  extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/MicrometerProcessor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerCounted.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MicrometerCountedInterceptor.java
Labels: area/metrics

#47320 Support for decrypting OIDC access tokens
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/LazyTenantConfigContext.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContextImpl.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantContextFactory.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/builders/TokenConfigBuilder.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcProviderTest.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcTenantConfigImpl.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowEncryptedIdTokenResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/documentation, area/oidc

#47750 Fail early if the access token is not returned from GitHub
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
Labels: area/oidc, triage/backport-3.20, triage/backport

#47730 Fix included Kotlin build in quarkusDev
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/acme-nested/build.gradle.kts
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/acme-nested/gradle.properties
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/acme-nested/settings.gradle.kts
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/acme-nested/src/main/kotlin/org/example/SomeBean.kt
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/acme-nested/src/main/kotlin/org/example/SomeDataClass.kt
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/acme-nested/src/main/resources/META-INF/beans.xml
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/build.gradle.kts
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/gradle.properties
  integration-tests/gradle/src/main/resources/included-kotlin-build/acme-subproject-nested/settings.gradle.kts
  integration-tests/gradle/src/main/resources/included-kotlin-build/build.gradle.kts
  integration-tests/gradle/src/main/resources/included-kotlin-build/gradle.properties
  integration-tests/gradle/src/main/resources/included-kotlin-build/settings.gradle.kts
  integration-tests/gradle/src/main/resources/included-kotlin-build/src/main/kotlin/org/example/ExampleResource.kt
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/IncludedKotlinBuildDevModeTest.java
Labels: area/gradle, area/devtools

#47752 Add a note about client secret to GitHub provider docs
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
Labels: area/documentation, triage/backport-3.20, triage/backport

#47753 Copy `init-script-path` files to Oracle DevService volume
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
Labels: area/devservices, triage/backport-3.20, triage/backport

#47746 Honor application class predicate in QuarkusInvokerFactory
  extensions/resteasy-reactive/rest-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java
  extensions/resteasy-reactive/rest-common/spi-deployment/src/main/java/io/quarkus/resteasy/reactive/spi/GeneratedJaxRsResourceBuildItem.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusInvokerFactory.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/.gitignore
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/external-lib/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/external-lib/src/main/java/org/acme/lib/GreetingResource.java
Labels: area/maven, triage/waiting-for-ci, area/rest, triage/flaky-test, triage/backport

#47365 Leave the TCCL how we found it after test discovery
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/src/test/java/org/acme/AlwaysEnabled.java
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/src/test/java/org/acme/AlwaysEnabledCondition.java
  integration-tests/maven/src/test/resources-filtered/projects/test-test-conditions/src/test/java/org/acme/GreetingResourceTest.java
  test-framework/junit5-config/src/main/java/io/quarkus/test/config/ConfigLauncherSession.java
  test-framework/junit5-config/src/main/java/io/quarkus/test/config/QuarkusClassOrderer.java
  test-framework/junit5-config/src/main/java/io/quarkus/test/config/TestConfigProviderResolver.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/CustomLauncherInterceptor.java
  test-framework/junit5/src/main/resources/META-INF/services/org.junit.platform.launcher.LauncherDiscoveryListener
Labels: area/gradle, area/core, area/maven, area/testing, area/hibernate-orm, area/hibernate-search, area/hibernate-reactive, triage/flaky-test

#47757 Unsign all dependency JARs during build
  core/deployment/src/main/java/io/quarkus/deployment/pkg/JarUnsigner.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/JarUnsignerTest.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test, triage/backport-3.20, triage/backport

#47767 Close the base classloader on a re-start of an app on the remote side in remote-dev mode
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/DevModeMediator.java
Labels: area/devtools, triage/flaky-test

#47691 Do not run GIB at all when we don't need to run it
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#47637 Add Add-Opens for java.base/java.lang (JDKSpecifics)
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, area/dependencies, triage/flaky-test

#47766 Document known Flyway issues and configuration examples
  docs/src/main/asciidoc/flyway.adoc
Labels: area/documentation, area/flyway, triage/backport-3.20, triage/backport

#47774 Otel optimizations I
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryUtil.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/QuarkusContextStorage.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/DropTargetsSampler.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/VertxUtil.java
  extensions/opentelemetry/runtime/src/test/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/VertxUtilTest.java
Labels: area/tracing

#47777 Add quarkus-vertx-http-deployment to documentation on testing of Dev UI in extensions
  docs/src/main/asciidoc/dev-ui.adoc
Labels: area/documentation

#47779 OpenAPI Filters ensure consistent ordering
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/smallrye, area/openapi, triage/backport-3.20, triage/backport

#47786 Add support for disabling automatic key generation in JWT extension via new properties
  docs/src/main/asciidoc/security-jwt.adoc
  extensions/smallrye-jwt/deployment/pom.xml
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallryeJwtDevModeProcessor.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/dev/SmallryeJwtLocationDevModeTest.java
Labels: area/documentation, area/smallrye, triage/backport

#47788 DevUI Info card allow displayName
  extensions/info/deployment/src/main/resources/dev-ui/qwc-info.js
  extensions/info/runtime-spi/src/main/java/io/quarkus/info/runtime/spi/InfoContributor.java
  extensions/info/runtime/src/main/java/io/quarkus/info/runtime/JavaInfoContributor.java
  extensions/info/runtime/src/main/java/io/quarkus/info/runtime/OsInfoContributor.java
Labels: area/dev-ui

#47787 DevUI DatabaseView improve JDBC host resolution
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
Labels: area/agroal

#47780 Use a stack to store the TCCL
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/main/java/org/acme/Main.java
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/test/java/org/acme/HelloResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/test/java/org/acme/VanillaTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ExecutionListener.java
Labels: area/maven, triage/waiting-for-ci, area/testing, triage/flaky-test, triage/backport, ci/test-platform

#47776 Take use `using-prefix` into account in Openshift manifest generation
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithEnvFromConfigMapWithPrefixTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-env-from-configmap-with-prefix.properties
Labels: area/kubernetes, triage/backport-3.20, triage/backport

#47818 Dev UI Agroal: Fix Mysql and count
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
Labels: area/agroal, triage/backport

#47806 Gradle - Delete files before copy if read only
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusBuild.java
Labels: area/gradle, area/devtools, triage/backport

#47810 Fix case in which normal tests would trash the TCCL and cause NPEs
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ExecutionListener.java
Labels: area/testing

#47812 Correctly identify nested QuarkusTests in continuous testing
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/test/java/org/acme/VanillaTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/core, area/maven, area/testing, triage/flaky-test

#47809 Qute: fix type-safe fragments defined as top-level records
  docs/src/main/asciidoc/qute-reference.adoc
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/records/TemplateRecordTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/records/hello$top.java
Labels: triage/backport-3.20, triage/backport

#47822 Remove uses of static bytecode-adjusted logger in `FacadeClassLoader`
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
Labels: area/testing, triage/flaky-test

#47823 Properly support `List<File>` (and friends) for REST Client multipart upload
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/multipart/MultipartFilenameTest.java
Labels: area/rest-client, triage/waiting-for-ci, area/rest, triage/backport

#47824 Jandex: upgrade to 3.3.1
  bom/application/pom.xml
  build-parent/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/arc, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, triage/backport

#47828 Messaging Context propagation Decorator Fix
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ConnectorContextPropagationDecorator.java
Labels: area/smallrye, area/reactive-messaging, triage/flaky-test, triage/backport

#47759 Update profile configuration for integration tests
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestConfig.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/DockerContainerLauncherProvider.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/NativeImageLauncherProvider.java
Labels: area/core, area/testing, release/breaking-change, triage/flaky-test

#47825 Fix custom Maven project resource path resolution
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
  independent-projects/bootstrap/maven-resolver/src/test/resources/custom-resource-dirs/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/custom-resources-dir/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/custom-resources-dir/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/custom-resources-dir/src/main/my-custom-files/my-custom-text-file.txt
  integration-tests/maven/src/test/resources-filtered/projects/custom-resources-dir/src/test/java/org/acme/GreetingResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/custom-resources-dir/src/test/my-custom-test-text-files/my-custom-test-text-file.txt
Labels: area/maven, triage/waiting-for-ci, area/devtools, triage/flaky-test, triage/backport

#47829 Make sure we have a test compilation unit before going further
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
Labels: area/core

#47845 Dev UI Flyway: Hide clean button if clean is disabled
  extensions/flyway/deployment/src/main/resources/dev-ui/qwc-flyway-datasources.js
  extensions/flyway/runtime-dev/src/main/java/io/quarkus/flyway/runtime/dev/ui/FlywayJsonRpcService.java
Labels: area/flyway

#47807 Allow to override default config profile in the JUnit Config
  extensions/vertx-http/dev-ui-tests/pom.xml
  extensions/vertx-http/dev-ui-tests/src/main/java/io/quarkus/devui/tests/DevUIBuildTimeDataTest.java
  extensions/vertx-http/dev-ui-tests/src/main/java/io/quarkus/devui/tests/DevUIJsonRPCTest.java
  test-framework/junit5-config/src/main/java/io/quarkus/test/config/TestConfigProviderResolver.java
Labels: area/vertx, triage/waiting-for-ci, area/testing, triage/flaky-test, triage/backport

#47846 Dev UI Flyway: add toolip to disabled clear button
  extensions/flyway/deployment/src/main/resources/dev-ui/qwc-flyway-datasources.js
Labels: area/flyway

#47833 Add tests for multimodule scenario
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/build.gradle
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/gradle.properties
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/lib-mod/build.gradle.kts
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/lib-mod/src/main/java/org/acme/Blank.java
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/lib-mod/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/lib-mod/src/main/resources/resources/index.html
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/main-mod/build.gradle.kts
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/main-mod/src/main/java/org/acme/SomeResource.java
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/main-mod/src/test/java/org/acme/GreetingResourceTest.java
  integration-tests/gradle/src/main/resources/multi-module-with-lib-module/settings.gradle
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/MultiModuleWithNoTestModuleDevModeTest.java
Labels: area/gradle, triage/flaky-test

#47827 Eliminate duplicated code to improve safety in TCCL stack
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ExecutionListener.java
Labels: area/testing, triage/flaky-test

#47830 Add OIDC Health Check
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
  extensions/oidc/deployment/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildTimeConfig.java
  extensions/oidc/runtime/pom.xml
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/health/OidcTenantHealthCheck.java
  integration-tests/oidc-code-flow/pom.xml
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-dpop/pom.xml
  integration-tests/oidc-dpop/src/main/resources/application.properties
  integration-tests/oidc-dpop/src/test/java/io/quarkus/it/keycloak/OidcDPopTest.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/pom.xml
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenOidcRecoveredTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/WiremockTestResource.java
Labels: release/noteworthy-feature, area/documentation, triage/waiting-for-ci, area/oidc

#47848 Bump Kotlin to 2.1.21
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  independent-projects/arc/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/build.gradle.kts
Labels: area/gradle, area/arc, area/dependencies, area/devtools, triage/flaky-test, triage/backport

#47857 Bump Agroal to 2.7
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/agroal, triage/flaky-test, triage/backport-3.20, triage/backport

#47864 Adding scheme and authority to absoluteUri
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/test/java/org/jboss/resteasy/reactive/server/ResteasyReactiveRequestContextTest.java
Labels: triage/flaky-test, triage/backport-3.20, triage/backport

#47876 Make placing JPA listener annotations a little safer
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/JpaListenerOnPrivateMethodOfApplicationScopedCdiBeanTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/JpaListenerOnPrivateMethodOfSingletonCdiBeanTest.java
Labels: triage/waiting-for-ci, area/hibernate-orm

#47862 Enable full request and response logging for REST Assured Quarkus tests
  test-framework/common/src/main/java/io/quarkus/test/common/RestAssuredURLManager.java
Labels: area/testing, triage/flaky-test

#47386 Support overlapping paths on resource classes
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/OverlappingResourceClassPathTest.java
  extensions/resteasy-reactive/rest/runtime/src/test/java/io/quarkus/resteasy/reactive/runtime/mapping/RequestMapperTestCase.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ClassRoutingHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/RestInitialHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
Labels: area/rest, triage/flaky-test

#47863 Extract Kafka Streams topics to check from the topology
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/health/KafkaStreamsTopicsHealthCheck.java
  extensions/kafka-streams/runtime/src/test/java/io/quarkus/kafka/streams/runtime/health/KafkaStreamsHealthCheckTest.java
  extensions/kafka-streams/runtime/src/test/java/io/quarkus/kafka/streams/runtime/health/KafkaStreamsTopicsHealthCheckTest.java
  extensions/kafka-streams/runtime/src/test/java/io/quarkus/kafka/streams/runtime/health/TopologyTopicsExtractTest.java
  integration-tests/kafka-streams/src/main/resources/application.properties
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsListedTopicsTest.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsTest.java
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaStreamsTopicsPatternTest.java
Labels: area/kafka-streams

#47855 Do not expose Hibernate-specific metamodels through CDI
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsCdiMetamodelTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/singlepersistenceunit/SinglePersistenceUnitCdiMetamodelTest.java
Labels: area/documentation, area/hibernate-orm, triage/flaky-test, triage/backport

#47618 Bump netty.version to 4.1.121.Final
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, triage/flaky-test, area/netty

#47879 Make MockSupport methods synchronized
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
Labels: area/testing, triage/flaky-test

#47887 Add a way to access request context data in `HttpServerMetricsTagsContributor`
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/HttpServerMetricsTagsContributor.java
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxHttpServerMetrics.java
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/ContextLocalTag.java
  integration-tests/micrometer-prometheus/src/main/java/io/quarkus/it/micrometer/prometheus/PathTemplateResource.java
  integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/PrometheusMetricsRegistryTest.java
Labels: triage/waiting-for-ci, area/metrics

#47866 Add tests for gradle case where a package private class is in a test fixture
  integration-tests/gradle/src/main/resources/test-fixtures-module-with-package-private-parent/build.gradle
  integration-tests/gradle/src/main/resources/test-fixtures-module-with-package-private-parent/gradle.properties
  integration-tests/gradle/src/main/resources/test-fixtures-module-with-package-private-parent/settings.gradle
  integration-tests/gradle/src/main/resources/test-fixtures-module-with-package-private-parent/src/main/java/org/acme/GreetingResource.java
  integration-tests/gradle/src/main/resources/test-fixtures-module-with-package-private-parent/src/main/resources/application.properties
  integration-tests/gradle/src/main/resources/test-fixtures-module-with-package-private-parent/src/test/java/org/acme/ChildTest.java
  integration-tests/gradle/src/main/resources/test-fixtures-module-with-package-private-parent/src/testFixtures/java/org/acme/ParentTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestFixtureModuleWithPackagePrivateParentTest.java
Labels: area/gradle

#47883 Introduce property `quarkus.native.additional-build-args-append`
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/TestNativeConfig.java
  docs/src/main/asciidoc/building-native-image.adoc
Labels: area/documentation, area/core, triage/waiting-for-ci, area/native-image, triage/flaky-test

#47899 Retry when `CL.definePackage()` throws an IAE
  core/launcher/src/main/java/io/quarkus/launcher/RuntimeLaunchClassLoader.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/classloading/ConcurrentDefinePackageTestCase.java
Labels: area/core, triage/waiting-for-ci, area/devtools, triage/flaky-test

#47880 Bump kubernetes-client-bom from 7.2.0 to 7.3.0
  pom.xml
Labels: area/kubernetes, triage/flaky-test

#47906 MeterTagsSupport: prevent null metric tag values
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/MeterTagsSupport.java
Labels: area/metrics, triage/flaky-test

#47912 Attempt to address flakiness of VertxConnectionMetricsTest
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/sender/VertxGrpcSender.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/sender/VertxHttpSender.java
Labels: area/tracing, triage/flaky-test

#47917 Add 3.20 LTS to SECURITY.md
  SECURITY.md
Labels: area/security

#47897 Add names of tests which exercise maven reruns to flake ignore list
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#47907 Introduce `quarkus.datasource.devservices.init-privileged-script-path`
  docs/src/main/asciidoc/flyway.adoc
  extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceContainerConfig.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java
  extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDevServicesProcessor.java
Labels: area/documentation, area/devservices, triage/flaky-test, triage/backport

#47928 Clarify how to augment the identity in a blocking mode
  docs/src/main/asciidoc/security-customization.adoc
Labels: area/documentation

#47904 Add comments and lightly refactor to improve clarity
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AppMakerHelper.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/flaky-test

#47890 Add deeper nesting in nesting test to exercise it a bit more rigorously
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/test/java/org/acme/HelloResourceTest.java
Labels: area/maven

#47937 Fix gRPC enum registration in native
  extensions/grpc-common/deployment/src/main/java/io/quarkus/grpc/common/deployment/GrpcCommonProcessor.java
Labels: area/grpc, kind/bugfix, triage/flaky-test, triage/backport-3.15, triage/backport-3.20, triage/backport-3.22, triage/backport

#47944 Runtime initialize classes to preserve Netty's assumptions
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
  extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java
Labels: triage/waiting-for-ci, triage/flaky-test, area/netty

#47932 Handle method parameter type annotations in ClassComparisonUtil
  core/deployment/src/main/java/io/quarkus/deployment/dev/ClassComparisonUtil.java
  core/deployment/src/test/java/io/quarkus/deployment/dev/ClassComparisonUtilTest.java
Labels: area/core, triage/flaky-test

#47946 Refactor: Store QuarkusClassLoaders, not StartupActions in FacadeClassLoader map
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
Labels: area/testing, triage/flaky-test

#47925 Deprecations scheduled for removal in Gradle 9: Detached Configurations should not use extendsFrom
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools

#47924 Deprecations scheduled for removal in Gradle 9: getDependencyProject and BuildIdentifier.getBuildPath
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/DependencyUtils.java
Labels: area/gradle, area/devtools

#47931 Add Javadoc for ArchiveRootBuildItem class
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ArchiveRootBuildItem.java
Labels: area/core, triage/flaky-test

#47951 Bump Gradle version from 8.13 to 8.14
  build-parent/pom.xml
  devtools/gradle/gradle/wrapper/gradle-wrapper.properties
  independent-projects/bootstrap/pom.xml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/pom.xml
  integration-tests/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: area/gradle, area/platform, area/dependencies, area/devtools, triage/flaky-test

#47909 Make bean param work properly with subresource in REST Client
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceAndBeanParamTest.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/scanning/ClientEndpointIndexer.java
Labels: area/rest-client, area/rest, kind/bugfix, triage/flaky-test, triage/backport-3.20, triage/backport

#47910 Allow "unsupported properties" set in the Hibernate ORM/Reactive extension to override Quarkus' own values
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/unsupportedproperties/UnsupportedPropertiesTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/unsupportedproperties/UnsupportedPropertiesTest.java
  extensions/hibernate-reactive/deployment/src/test/resources/application.properties
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
Labels: area/hibernate-orm, area/hibernate-reactive, triage/backport

#47878 Manage io.perfmark:perfmark-api to keep Quarkus, Camel Quarkus, Quarkus CXF and Quarkus Google Cloud Services in sync
  bom/application/pom.xml
  pom.xml
Labels: area/dependencies, area/google-cloud-functions, triage/flaky-test, triage/backport-3.20, triage/backport

#47933 OpenAPI Auto security works with enabled-in-dev config from security
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoSecurityDisabledTestCase.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiWithSecurity.java
Labels: area/smallrye, area/openapi

#47950 Refresh deleted source file location
  .gitignore
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java
Labels: area/core, triage/flaky-test, triage/backport

#47955 Revert "ProjectDependency.getDependencyProject() and BuildIdentifier.getName() deprecations"
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/DependencyUtils.java
Labels: area/gradle, area/devtools

#47952 Dev UI: new feature - menu actions
  bom/dev-ui/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/InternalPageBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ContinuousTestingProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ExtensionsProcessor.java
  extensions/vertx-http/dev-ui-resources/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/router-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-continuous-testing-menu-action.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-continuous-testing.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions-menu-action.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-menu.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-no-data.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/Page.java
Labels: area/vertx, area/dependencies

#47962 Fix Quarkus Kafka Streams in DEV mode
  extensions/kafka-streams/runtime/src/main/resources/META-INF/services/io.quarkus.dev.spi.HotReplacementSetup
Labels: area/kafka-streams, triage/backport

#47892 Dont use Facade ClassLoader as TCCL for interacting with profiles
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/src/main/java/org/acme/GreetingEndpoint.java
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/src/test/java/org/acme/HelloResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/src/test/java/org/acme/HelloResourceWithProfileTest.java
  integration-tests/maven/src/test/resources-filtered/projects/test-config-in-test-profile/src/test/java/org/acme/SomeProfile.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
Labels: area/maven, area/testing, triage/flaky-test, triage/backport

#47963 Fixes Cyclonedx broken params
  devtools/maven/src/main/java/io/quarkus/maven/DependencySbomMojo.java
Labels: area/maven, area/devtools, triage/flaky-test, triage/backport-3.20, triage/backport-3.22, triage/backport

#47947 Use SyntheticBeanBuildItem to construct HibernateValidatorFactory
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidationSupport.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidatorHolder.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidatorProvider.java
Labels: area/hibernate-validator

#47966 Use config.getOptionValue checking quarkus.security.auth.enabled-in-dev-mode
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
Labels: area/smallrye, area/openapi

#47975 Use `mutiny-bom` in independent projects
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, triage/flaky-test

#47986 Limit Dependabot Expressly updates
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#47964 Bump to Mutiny 2.9.0 and Mutiny Vert.x bindings 2.19.0
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/reactive, area/arc, area/dependencies, area/qute, area/mutiny, area/rest, triage/flaky-test, triage/backport-3.20, triage/backport

#47957 A better leading sentence for the OpenTelemetry Logging use case
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#48008 Disable test which fails on non-AWS-runner CIs
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
Labels: area/maven

#48010 Get the user name as principal name with OAuth2 code flow
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomSecurityIdentityAugmentor.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
Labels: area/oidc, triage/backport-3.20, triage/backport

#48003 Deprecate quarkus.log.console.async and add enable to it
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogRuntimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
Labels: area/core, area/logging, triage/flaky-test

#48011 Bump Keycloak version to 26.2.4
  build-parent/pom.xml
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfig.java
Labels: area/documentation, area/dependencies, area/docstyle, triage/backport

#47984 Update SmallRye Config to 3.13.0
  bom/application/pom.xml
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientBuildTimeConfigBuilderCustomizer.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientBuildTimeConfigSource.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientOverrideRuntimeConfigTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/RestClientRunTimeConfigSource.java
Labels: area/config, area/resteasy-classic, area/smallrye, area/kotlin, area/dependencies, triage/flaky-test, triage/backport

#48030 Add ID attribute to a button for starting continuous testing so that DEV UI tests select the button and start testing using DEV UI
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-continuous-testing.js
Labels: area/vertx, triage/flaky-test

#48042 Update messaging.adoc
  docs/src/main/asciidoc/messaging.adoc
Labels: area/documentation

#48060 Avoid a duplicate OIDC add cookie call
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: triage/backport-3.20, triage/backport

#47990 Add support for passing user data through client connectors in WebSockets Next
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/BasicConnectorTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/programmatic/ClientEndpointProgrammaticTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/BasicWebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/UserDataImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketClientConnectionImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
Labels: area/documentation, area/websockets

#48071 Adjust innodb configuration
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/custom-mariadbconfig/custom.cnf
  integration-tests/hibernate-orm-tenancy/connection-resolver/custom-mariadbconfig/custom.cnf
  integration-tests/hibernate-orm-tenancy/datasource/custom-mariadbconfig/custom.cnf
  integration-tests/jpa-mariadb/custom-mariadbconfig/custom.cnf
  integration-tests/reactive-mysql-client/custom-mariadbconfig/custom.cnf
Labels: area/hibernate-orm, area/reactive-sql-clients, triage/backport-3.15, triage/backport-3.20, triage/backport

#48057 Correct duplicated context creation in SmallRye Health
  extensions/smallrye-health/runtime/src/main/java/io/quarkus/smallrye/health/runtime/QuarkusAsyncHealthCheckFactory.java
Labels: area/smallrye, area/health, triage/flaky-test

#48054 Trigger Quarkus Deploy Snapshots in the middle of the night
  .github/workflows/deploy-snapshots.yml
Labels: area/infra-automation

#48037 Remove regex from hot path in micrometer
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/RequestMetricInfo.java
  extensions/micrometer/runtime/src/test/java/io/quarkus/micrometer/runtime/binder/RequestMetricInfoTest.java
Labels: area/metrics

#48062 Update Maven plugins and Nisse extension
  .github/dependabot.yml
  .mvn/extensions.xml
  independent-projects/parent/pom.xml
Labels: area/dependencies, area/infra-automation, triage/flaky-test

#48063 Bump `spotless-maven-plugin` to `2.44.4`
  build-parent/pom.xml
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/runtime/KotlinJpaOperations.kt
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/runtime/PanacheQueryImpl.kt
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/runtime/TestAnalogs.kt
  extensions/resteasy-reactive/rest-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/AbstractSuspendedRequestFilter.kt
  extensions/resteasy-reactive/rest-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/AbstractSuspendedResponseFilter.kt
  extensions/resteasy-reactive/rest-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/ApplicationCoroutineScope.kt
  extensions/resteasy-reactive/rest-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/CoroutineInvocationHandler.kt
Labels: area/panache, area/maven, area/dependencies, area/rest, triage/flaky-test

#48117 Fix JBangSupport process exec so it cannot hang
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/JBangSupport.java
Labels: triage/waiting-for-ci, area/platform, area/devtools, area/jbang, triage/flaky-test, triage/backport-3.20, triage/backport

#48115 Fix various issues in Quarkus CLI
  devtools/cli/src/main/java/io/quarkus/cli/QuarkusCli.java
  devtools/cli/src/main/java/io/quarkus/cli/RegistryRemoveCommand.java
  devtools/cli/src/test/java/io/quarkus/cli/MavenProjectCreateForPlatformTest.java
  devtools/cli/src/test/java/io/quarkus/cli/MavenProjectInfoAndUpdateTest.java
  devtools/cli/src/test/java/io/quarkus/cli/NotRegisteredExtensionWithCodestartTest.java
  devtools/cli/src/test/java/io/quarkus/cli/RegistryClientBuilderTestBase.java
  devtools/cli/src/test/resources/test-work-dir/.mvn/wrapper/maven-wrapper.properties
  devtools/cli/src/test/resources/test-work-dir/mvnw
  devtools/cli/src/test/resources/test-work-dir/mvnw.cmd
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/JBangCatalogService.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/cli/plugin/JBangSupport.java
Labels: area/platform, area/devtools, area/cli, area/jbang, triage/flaky-test, triage/backport-3.20, triage/backport

#48118 Add support for setting the TLS configuration name from client connectors in WebSockets Next
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/TlsBasicConnectorMissingTlsConfigurationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/TlsBasicConnectorRuntimeTlsConfigurationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/TlsBasicConnectorTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/TlsClientEndpointMissingTlsConfigurationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/TlsClientEndpointRuntimeTlsConfigurationTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/BasicWebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
Labels: area/documentation, area/websockets

#48094 Sort dot names when identifying quarkus tests in continuous testing so nested tests are always identified
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-nested-tests-mixed-with-normal-tests/src/main/resources/application.properties
Labels: area/core, area/maven, triage/waiting-for-ci, triage/flaky-test, triage/backport

#48131 Document quarkusIntTest task no longer depends on test task
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation

#48082 Bump Microsoft SQL Server JDBC driver to 12.10.0
  bom/application/pom.xml
  extensions/jdbc/jdbc-mssql/deployment/src/main/java/io/quarkus/jdbc/mssql/deployment/MsSQLReflections.java
Labels: triage/waiting-for-ci, area/dependencies, area/jdbc

#48134 Expose SSLSession from connection in WebSockets Next
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/MtlsWithP12ClientEndpointTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/TlsClientEndpointTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/Connection.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectionBase.java
Labels: triage/waiting-for-ci, area/websockets

#48108 Sync Kotlin protobuf version with Java protobuf version
  pom.xml
Labels: area/kotlin, release/breaking-change

#48061 ArC: fix interception proxy to forward non-intercepted methods to the delegate
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/interceptor/producer/ProducerWithFinalInterceptedClassTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/interceptor/producer/ProducerWithFinalInterceptedMethodTest.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/interceptor/producer/ProducerWithoutZeroParamCtorAndInterceptionTest.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanProcessor.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InterceptionProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithClassAndMethodLevelInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithClassLevelInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithInterfaceInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithMethodLevelInterceptorsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/producer/ProducerWithParameterizedInterceptedMethodsTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/synthbean/SynthBeanWithParameterizedConstructorsAndInterceptionTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/synthbean/SynthBeanWithParameterizedInterceptedMethodsTest.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test, triage/backport-3.20, triage/backport

#48149 Update to Njord 0.7.0
  .mvn/extensions.xml
Labels: triage/backport-3.15, triage/backport-3.20, triage/backport

#47600 Disable logger exporter metrics if metrics disabled
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/AutoConfiguredOpenTelemetrySdkBuilderCustomizer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/LogsBuildConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/MetricsBuildConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/build/TracesBuildConfig.java
  integration-tests/opentelemetry-exporter-logging/pom.xml
  integration-tests/opentelemetry-exporter-logging/src/main/java/org/acme/GreetingResource.java
  integration-tests/opentelemetry-exporter-logging/src/main/resources/application.properties
  integration-tests/opentelemetry-exporter-logging/src/test/java/org/acme/LoggingMetricsNotPresentIT.java
  integration-tests/opentelemetry-exporter-logging/src/test/java/org/acme/LoggingMetricsNotPresentTest.java
  integration-tests/pom.xml
Labels: triage/waiting-for-ci, area/tracing, triage/flaky-test

#48156 Upgrade to Hibernate Search 7.2.4
  pom.xml
Labels: area/hibernate-search

#48146 Use DotName.toString() instead of Type.toString()
  independent-projects/arc/processor/banned-signatures.txt
  independent-projects/arc/processor/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/InvokerGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ObserverGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SuppressForbidden.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/bcextensions/TypeImpl.java
Labels: area/arc, triage/waiting-for-ci, triage/backport-3.20, triage/backport
