Repository quarkusio/quarkus, pull requests merged in 2025-03, with the labels that each got.

#46569 Fix compatibility issue introduced by new OS detection extension
  build-parent/pom.xml
Labels: area/dependencies, triage/flaky-test

#46562 Various bits of formatting and trivial tidying
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/StartupAction.java
  integration-tests/flyway/pom.xml
  integration-tests/oidc/pom.xml
Labels: area/core, triage/waiting-for-ci, area/oidc, area/kubernetes, area/dependencies, area/devtools, area/flyway, triage/flaky-test

#46571 Fix quotes and missing parentheses in `security-testing.adoc`
  docs/src/main/asciidoc/security-testing.adoc
Labels: area/documentation

#46577 Revert "Switch to Nisse to get OS specific properties"
  .mvn/extensions.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/grpc-generation-reference.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  extensions/grpc/deployment/pom.xml
  extensions/grpc/stubs/pom.xml
  extensions/opentelemetry/deployment/pom.xml
  integration-tests/devmode/pom.xml
Labels: area/documentation, area/dependencies, area/grpc, area/tracing

#46387 Restructure TLS Registry Extension
  bom/application/pom.xml
  extensions/keycloak-admin-rest-client/deployment/src/main/java/io/quarkus/keycloak/admin/rest/client/deployment/KeycloakAdminRestClientProcessor.java
  extensions/keycloak-admin-resteasy-client/deployment/src/main/java/io/quarkus/keycloak/admin/resteasy/client/deployment/KeycloakAdminResteasyClientProcessor.java
  extensions/mailer/deployment/src/main/java/io/quarkus/mailer/deployment/MailerProcessor.java
  extensions/oidc-client-registration/deployment/src/main/java/io/quarkus/oidc/client/registration/deployment/OidcClientRegistrationBuildStep.java
  extensions/oidc-client/deployment/src/main/java/io/quarkus/oidc/client/deployment/OidcClientBuildStep.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/exporter/otlp/OtlpExporterProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/RedisClientProcessor.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/RedisDatasourceProcessor.java
  extensions/tls-registry/deployment-spi/pom.xml
  extensions/tls-registry/deployment-spi/src/main/java/io/quarkus/tls/deployment/spi/TlsCertificateBuildItem.java
  extensions/tls-registry/deployment-spi/src/main/java/io/quarkus/tls/deployment/spi/TlsRegistryBuildItem.java
  extensions/tls-registry/deployment/pom.xml
  extensions/tls-registry/deployment/src/main/java/io/quarkus/tls/deployment/CertificatesProcessor.java
  extensions/tls-registry/deployment/src/main/java/io/quarkus/tls/deployment/LetsEncryptBuildTimeConfig.java
  extensions/tls-registry/deployment/src/main/java/io/quarkus/tls/deployment/LetsEncryptEnabled.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/BuildTimeRegistrationTest.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/RuntimeRegistrationTest.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/TrustAllAndHostnameVerifierAlgorithmTest.java
  extensions/tls-registry/pom.xml
  extensions/tls-registry/runtime/pom.xml
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/CertificateRecorder.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/TrustAllOptions.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/VertxCertificateHolder.java
  extensions/tls-registry/spi/pom.xml
  extensions/tls-registry/spi/src/main/java/io/quarkus/tls/BaseTlsConfiguration.java
  extensions/tls-registry/spi/src/main/java/io/quarkus/tls/CertificateUpdatedEvent.java
  extensions/tls-registry/spi/src/main/java/io/quarkus/tls/TlsConfiguration.java
  extensions/tls-registry/spi/src/main/java/io/quarkus/tls/TlsConfigurationRegistry.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java
  extensions/vertx/deployment/pom.xml
Labels: area/vertx, triage/waiting-for-ci, area/oidc, release/breaking-change, area/dependencies, area/redis, area/tracing, area/mailer, area/keycloak, triage/flaky-test, area/tls

#46581 Clarify using table name in Security JPA guide
  docs/src/main/asciidoc/security-jpa.adoc
Labels: area/documentation, area/docstyle

#46584 Workaround classloading issue in Quarkus internal tests by making `io.quarkus.security.test.utils.AuthData#applyAugmentors` public
  extensions/security/test-utils/src/main/java/io/quarkus/security/test/utils/AuthData.java
Labels: area/security, triage/backport

#46578 Reduce our exposure to DefaultArtifactVersion
  independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
Labels: area/platform, area/devtools, triage/backport-3.8, triage/backport-3.15, triage/backport

#46576 makes Kafka Streams topology optional
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/devui/KafkaStreamsJsonRPCService.java
Labels: area/kafka-streams

#46585 Use source file mapping for all compilation providers
  core/deployment/src/main/java/io/quarkus/deployment/dev/CompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/JavaCompilationProvider.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesClassVisitor.java
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/BasicKotlinApplicationModuleDevModeTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/devmode/QuarkusDevGradleTestBase.java
Labels: area/gradle, area/core, area/kotlin, triage/flaky-test

#46607 Fix AOT cache doc
  docs/src/main/asciidoc/appcds.adoc
Labels: area/documentation, triage/waiting-for-ci

#46599 Fix issues with special characters in Kafka Streams Dev UI
  extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/devui/TopologyParserContext.java
  extensions/kafka-streams/runtime/src/test/java/io/quarkus/kafka/streams/runtime/devui/KafkaStreamsJsonRPCServiceTest.java
Labels: area/kafka-streams, triage/backport

#46597 Fix loading of Maven workspaces that use revision properties using effective model building
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/test/java/io/quarkus/bootstrap/workspace/test/LocalWorkspaceDiscoveryTest.java
Labels: triage/flaky-test, triage/backport-3.15, triage/backport

#46567 Fix docker templates and platform to support ubi8 and ubi9
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml
  independent-projects/tools/devtools-testing/src/main/resources/fake-catalog.json
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartGenerationTest.java
Labels: area/gradle, area/platform, area/devtools, triage/flaky-test, triage/backport

#46161 WebSockets Next: allow to select authentication mechanism and OIDC tenant used for opening WebSocket handshake with annotation
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/Tenant.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/RegisterClassSecurityCheckBuildItem.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/ClassSecurityAnnotationBuildItem.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/ClassSecurityCheckAnnotationBuildItem.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/ClassSecurityCheckStorageBuildItem.java
  extensions/security/spi/src/main/java/io/quarkus/security/spi/RegisterClassSecurityCheckBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/EagerSecurityInterceptorBindingBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/EagerSecurityInterceptorClassesBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/EagerSecurityInterceptorStorage.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/annotation/HttpAuthenticationMechanism.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradeSelectAuthMechOnMethodValidationFailureTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradeSelectAuthMechWithAnnotationTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradeSelectMultipleAuthMechValidationFailureTest.java
  extensions/websockets-next/runtime/pom.xml
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/HttpUpgradeCheck.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/HttpUpgradeContextImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/HttpUpgradeSecurityInterceptor.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketServerRecorder.java
  integration-tests/oidc-wiremock/pom.xml
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/websockets/tenantannotation/WebSocketEndpointWithNoTenantAnnotationAndAuthenticated.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/websockets/tenantannotation/WebSocketEndpointWithPermissionsAllowed.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/websockets/tenantannotation/WebSocketEndpointWithTenantAnnotationAndAuthenticated.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/AnnotationBasedTenantTest.java
Labels: area/documentation, area/core, area/security, area/vertx, area/oidc, area/websockets, triage/flaky-test, area/docstyle

#46612 Use the version of Quarkus platform recommended for the current project for recipe filtering
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/UpdateProject.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/ProjectUpdateInfos.java
Labels: area/platform, area/devtools, triage/backport-3.15, triage/backport

#46587 Updates to Infinispan 15.0.14.Final
  bom/application/pom.xml
Labels: area/infinispan, triage/waiting-for-ci, triage/backport-3.15, triage/backport

#46625 Improve type safety of method signature
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java
Labels: area/testing, triage/flaky-test

#46634 Check required claims in OIDC issuer-based resolver
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/StaticTenantResolver.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/StaticTenantIssuerResolverTest.java
Labels: area/oidc

#46638 Bump Keycloak version to 26.1.3
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfig.java
  integration-tests/oidc-client-registration/src/main/java/io/quarkus/it/keycloak/ClientAuthWithSignedJwtCreator.java
Labels: area/documentation, area/dependencies, area/docstyle, triage/backport

#46640 Using SocketException in all of the OIDC retry code
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/OidcClientRegistrationImpl.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/runtime/RegisteredClientImpl.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientImpl.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClientImpl.java
Labels: area/oidc, triage/backport

#46635 Update some dev-ui libs versions
  bom/dev-ui/pom.xml
Labels: area/dependencies, area/dev-ui, triage/flaky-test, triage/backport-3.15, triage/backport

#46659 Correct link to JSON-B API
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation

#46592 Make substitution of JMX#createProxy conditional on inclusion of jmxserver feature
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/Target_javax_management_JMX.java
Labels: area/core, triage/waiting-for-ci, area/native-image, triage/flaky-test

#46649 ArC: improve error message in case multiple disposers are found for a producer
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/producer/disposer/illegal/MultipleDisposersTest.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#46658 AWS Lambda bump to Java21
  extensions/amazon-lambda-http/deployment/src/main/resources/http/sam.jvm.yaml
Labels: area/amazon-lambda

#46594 Prevent creation of duplicate rest clients for sub resources
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceNoDuplicateClassGenerationTest.java
Labels: area/rest-client, area/rest

#46651 Fix non-public schema in DB Viewer for Dev UI
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
Labels: area/agroal, triage/backport

#46653 Add -e to quarkus update commands and improve display
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
  independent-projects/tools/devtools-common/src/test/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepositoryTest.java
  independent-projects/tools/devtools-common/src/test/resources/should_apply_recipe_test_cases.csv
Labels: area/platform, area/devtools

#46660 Correct summary text of config-yaml.adoc
  docs/src/main/asciidoc/config-yaml.adoc
Labels: area/documentation, triage/backport

#46661 Correct summary text of spring-boot-properties.adoc
  docs/src/main/asciidoc/spring-boot-properties.adoc
Labels: area/documentation, triage/backport

#46685 Micrometer docs moved - fix links
  docs/src/main/asciidoc/telemetry-micrometer.adoc
Labels: area/documentation

#46632 Make ResponseBuilderImpl more ipv6 aware
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/ResponseBuilderImpl.java
  independent-projects/resteasy-reactive/server/runtime/src/test/java/org/jboss/resteasy/reactive/server/jaxrs/ResponseBuilderImplTest.java
Labels: triage/waiting-for-ci, triage/flaky-test, triage/backport

#46686 Polish VertxMeterBinderRecorder
  extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/binder/vertx/VertxMeterBinderRecorder.java
Labels: area/metrics

#46687 Do not overwrite .mvn/maven.config but contribute to it
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#46700 Exclude `.github/project.yml` from triggering workflows on push event
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/build.tpl.qute.yml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_build.yml
Labels: area/maven, area/platform, area/devtools, triage/flaky-test

#46703 Upgrade Google Cloud java-function-invoker to 1.4.1
  build-parent/pom.xml
Labels: area/dependencies, area/google-cloud-functions, triage/flaky-test

#46706 Fix wording in quarkus-rest jsonview support
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation

#46709 Fix true-false typo
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation, triage/backport

#46707 [3.15] SmallRye Fault Tolerance: upgrade to 6.4.2
  bom/application/pom.xml
  docs/src/main/asciidoc/smallrye-fault-tolerance.adoc
Labels: area/documentation, area/dependencies, area/fault-tolerance, dependencies

#46665 Dev UI: Added theme: Red and Blue
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIConfig.java
Labels: area/vertx, triage/flaky-test

#46680 Fix gradle devui NoClassDefFound
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ExtensionsProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-continuous-testing.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
Labels: area/gradle, area/core, area/vertx, area/devtools, triage/flaky-test

#46710 Fix the keycloak devservice when using shared network
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesProcessor.java
Labels: area/devservices, area/keycloak, triage/backport

#46614 Switch to Nisse to get OS specific properties
  .mvn/extensions.xml
  .mvn/maven.config
  build-parent/pom.xml
  docs/src/main/asciidoc/grpc-generation-reference.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  extensions/grpc/deployment/pom.xml
  extensions/grpc/stubs/pom.xml
  extensions/opentelemetry/deployment/pom.xml
  integration-tests/devmode/pom.xml
Labels: area/documentation, area/dependencies, area/grpc, area/tracing, triage/flaky-test

#46670 Dev UI/Swagger: Support expansion of properties in path
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevUIProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/EndpointsProcessor.java
Labels: area/vertx, area/oidc, triage/flaky-test

#46738 Support injection of rest params into subresources
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveCDIProcessor.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/SubResourceFieldInjectionTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ResourceLocatorHandler.java
Labels: area/rest

#46690 Docs: Adds some non-trivial precisions about database multitenancy
  docs/src/main/asciidoc/hibernate-orm.adoc
Labels: area/documentation

#46739 Allow configuring the chunk size used to consume InputStream in REST Client
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/HandlerChain.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/InputStreamReadStream.java
  independent-projects/resteasy-reactive/client/runtime/src/test/java/org/jboss/resteasy/reactive/client/impl/HandlerChainTest.java
Labels: area/config, area/resteasy-classic, area/rest-client, triage/waiting-for-ci, triage/flaky-test

#46733 [3.15] Upgrade to SmallRye Fault Tolerance 6.4.3
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/fault-tolerance

#46755 Add documentation about `@JsonView` support in requests
  docs/src/main/asciidoc/rest.adoc
Labels: triage/backport

#46720 SmallRye Fault Tolerance: upgrade to 6.9.0
  bom/application/pom.xml
  docs/src/main/asciidoc/smallrye-fault-tolerance.adoc
Labels: area/documentation, triage/waiting-for-ci, area/dependencies, area/fault-tolerance, dependencies, triage/flaky-test, triage/backport

#46085 Basic application manifesting tests
  core/deployment/src/main/java/io/quarkus/deployment/sbom/ApplicationManifestsBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/sbom/ApplicationManifestsBuildStep.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ApplicationManifestFastJarTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ApplicationManifestMutableJarTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ApplicationManifestTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/ApplicationManifestUberJarTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/BasicBuildFromWorkspaceModuleTest.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/BootstrapFromOriginalJarTestBase.java
  core/deployment/src/test/java/io/quarkus/deployment/runnerjar/PackageAppTestBase.java
  extensions/cyclonedx/deployment/src/main/java/io/quarkus/cyclonedx/deployment/CdxSbomBuildStep.java
  extensions/cyclonedx/generator/src/main/java/io/quarkus/cyclonedx/generator/CycloneDxSbomGenerator.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/sbom/ApplicationComponent.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/BootstrapTestBase.java
  independent-projects/bootstrap/core/src/test/java/io/quarkus/bootstrap/resolver/ResolverSetupCleanup.java
Labels: area/core, area/devtools, triage/flaky-test

#46560 Qute: fix namespace build-time validation
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/NamespaceTemplateExtensionValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/StringTemplateExtensionsTest.java
Labels: area/qute, triage/backport-3.19, triage/backport, triage/backport-3.20

#46757 Update Maven Compiler Plugin to 3.14.0
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  independent-projects/tools/pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
Labels: area/documentation, area/maven, area/amazon-lambda, area/platform, area/devtools, area/funqy, triage/flaky-test

#46763 UBI9 microdnf requires -y
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  integration-tests/awt/src/main/docker/Dockerfile.native
Labels: area/documentation, area/graphics, triage/backport-3.19, triage/backport, triage/backport-3.20

#46725 Use latest quarkus-spring-*
  bom/application/pom.xml
  integration-tests/spring-web/pom.xml
Labels: area/spring, area/dependencies, triage/flaky-test, triage/backport-3.19, triage/backport, triage/backport-3.20

#46772 Fix various issues in refreshed `quarkus update`
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ProjectInfoCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
  independent-projects/tools/message-writer/src/main/java/io/quarkus/devtools/messagewriter/MessageFormatter.java
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport-3.19, triage/backport, triage/backport-3.20

#46705 Update Grafana LGTM to 0.9.0
  extensions/observability-devservices/common/src/main/java/io/quarkus/observability/common/ContainerConstants.java
  extensions/observability-devservices/testcontainers/src/main/java/io/quarkus/observability/testcontainers/LgtmContainer.java
Labels: area/tracing, triage/backport-3.19, triage/backport

#45233 Enhance Quarkus support for Spring @RequestParam annotated parameters.
  extensions/resteasy-reactive/rest-servlet/runtime/src/main/java/io/quarkus/resteasy/reactive/server/servlet/runtime/ServletRequestContext.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/MapWithParamConverterTest.java
  extensions/spring-web/resteasy-reactive/deployment/src/main/java/io/quarkus/spring/web/resteasy/reactive/deployment/SpringWebResteasyReactiveProcessor.java
  extensions/spring-web/resteasy-reactive/runtime/src/main/java/io/quarkus/spring/web/resteasy/reactive/runtime/SpringMapParamExtractor.java
  extensions/spring-web/resteasy-reactive/runtime/src/main/java/io/quarkus/spring/web/resteasy/reactive/runtime/SpringMultiValueListParamExtractor.java
  extensions/spring-web/resteasy-reactive/runtime/src/main/java/io/quarkus/spring/web/resteasy/reactive/runtime/SpringMultiValueMapParamExtractor.java
  extensions/spring-web/resteasy-reactive/runtime/src/main/java/io/quarkus/spring/web/resteasy/reactive/runtime/SpringRequestParamHandler.java
  extensions/spring-web/resteasy-reactive/tests/src/test/java/io/quarkus/spring/web/requestparam/RequestParamController.java
  extensions/spring-web/resteasy-reactive/tests/src/test/java/io/quarkus/spring/web/requestparam/RequestParamControllerTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/MapConverter.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/spi/ServerHttpRequest.java
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: area/spring, area/rest, triage/flaky-test

#46768 Clarify that val properties cannot be used with no-arg compiler plugin
  docs/src/main/asciidoc/mongodb-panache.adoc
Labels: area/documentation

#46780 Tests for scenario where a service loader is used to add QuarkusTestExtension
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/deployment/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/deployment/src/main/java/org/acme/it/tck/deployment/TCKProcessor.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/runner/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/runner/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/runner/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/runner/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/runner/src/main/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/runner/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/runner/src/test/java/org/acme/tck/HelloResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/quarkustest-added-with-serviceloader/runtime/pom.xml
Labels: area/maven

#46799 Bugfix: WebAuthn only includes the first origin when multiple origins are configured
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnSecurity.java
Labels: area/config, triage/backport-3.19, triage/backport, triage/backport-3.20

#46802 Fix parsing when method names contain keywords.
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/MethodNameParserTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/Person.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/PersonRepository.java
Labels: triage/waiting-for-ci, area/spring, triage/backport-3.19, triage/backport, triage/backport-3.20

#46681 Use provided scope for jboss-logging-annotations dependency
  bom/application/pom.xml
  core/runtime/pom.xml
Labels: area/core, area/dependencies, triage/flaky-test

#45918 Docs: Create procedure for Deploying on OpenShift using Docker build strategy
  docs/src/main/asciidoc/deploying-to-openshift-docker-howto.adoc
Labels: area/documentation, triage/backport-3.19, triage/backport, triage/backport-3.20

#46806 Netty: use RuntimeInitializedClassBuildItem instead of RuntimeReinitializedClassBuildItem
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: area/netty

#46807 Support distinct jsonviews for serialization and deserialization
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/JsonViewDeserializeSerializeTest.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyReader.java
Labels: area/rest, triage/backport

#46731 native-image: Graal's ForeignAPISupport is amd64 only
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/UnsupportedOSBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/GraalVM.java
  extensions/awt/deployment/src/main/java/io/quarkus/awt/deployment/AwtProcessor.java
Labels: area/documentation, area/core, area/graphics, triage/flaky-test

#46815 Fix typo
  docs/src/main/asciidoc/observability.adoc
Labels: area/documentation, triage/backport-3.19, triage/backport, triage/backport-3.20

#46793 Add disabled reproducer for mockito mocking inner classes in continuous testing
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/mockito-non-public-inner-class/.gitignore
  integration-tests/maven/src/test/resources-filtered/projects/mockito-non-public-inner-class/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/mockito-non-public-inner-class/src/main/java/org/acme/Foo.java
  integration-tests/maven/src/test/resources-filtered/projects/mockito-non-public-inner-class/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/mockito-non-public-inner-class/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/mockito-non-public-inner-class/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources-filtered/projects/mockito-non-public-inner-class/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/mockito-non-public-inner-class/src/test/java/org/acme/FooTest.java
Labels: area/maven, triage/waiting-for-ci

#45954 Docs: Create and update S2I procedures for the Deploying on OpenShift guide
  docs/src/main/asciidoc/deploying-to-openshift-S2I-howto.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle, triage/backport-3.19, triage/backport, triage/backport-3.20

#45643 Docs: Create procedure doc for use case "Deploy to Openshift in a single step"
  docs/src/main/asciidoc/_includes/devtools/build.adoc
  docs/src/main/asciidoc/deploying-to-openshift-howto.adoc
Labels: area/documentation, triage/waiting-for-ci, area/docstyle, triage/backport-3.19, triage/backport, triage/backport-3.20

#46196 ADR for phasing out legacy @ConfigRoot config classes support
  adr/0008-phasing-out-config-classes.adoc
Labels: area/adr

#46825 Adjust paths-ignore in main CI workflow
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#46688 Suggest setting quarkus.security.ldap.cache.enabled
  docs/src/main/asciidoc/security-ldap.adoc
Labels: area/documentation

#46822 Re-authenticate users if the OIDC session cookie can not be read
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc, triage/backport-3.19, triage/backport-3.20

#46314 Warn if using old @ConfigRoot class configuration mechanism
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/flaky-test, triage/backport-3.19, triage/backport, triage/backport-3.20

#46840 Detect json features of subresources as well
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/CustomSerializationResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/CustomSerializationTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/JsonViewSubResourceTest.java
Labels: area/rest

#46821 GraalVM 25 for JDK 25 enabled ForeignAPI on aarch64
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/GraalVM.java
  extensions/awt/deployment/src/main/java/io/quarkus/awt/deployment/AwtProcessor.java
Labels: area/core, triage/waiting-for-ci, area/graphics

#46837 Only consider consumes and produces of the specific subresource
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/SubResourceMediaTypeTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/ClassRoutingHandler.java
Labels: area/rest, triage/flaky-test

#46636 SmallRye Fault Tolerance: add support for OpenTelemetry Metrics
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/OpenTelemetrySdkBuildItem.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java
  tcks/microprofile-fault-tolerance/pom.xml
Labels: area/arc, area/smallrye, area/tracing, area/fault-tolerance

#46850 Use actual `@RestLink` annotation in `StandardMethodImplementor`
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/StandardMethodImplementor.java
Labels: area/panache

#46846 Fix MongoDB DNS resolution issue when the DNS server use ipv6
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongodbConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/dns/MongoDnsClient.java
Labels: area/mongodb

#46812 Explain how to revert to default DNS client in the mongodb extension to resolve mongo+srv:// urls
  docs/src/main/asciidoc/mongodb.adoc
Labels: area/documentation

#46174 Context propagation for Messaging (take 2)
  docs/src/main/asciidoc/context-propagation.adoc
  docs/src/main/asciidoc/messaging.adoc
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-kafka/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/deployment/SmallRyeReactiveMessagingKafkaProcessor.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/DotNames.java
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/PulsarSchemaDiscoveryProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/ReactiveMessagingBuildTimeConfig.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ConnectorContextPropagationDecorator.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ContextualEmitter.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ContextualEmitterFactory.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ContextualEmitterImpl.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusWorkerPoolRegistry.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/ReactiveMessagingRuntimeConfig.java
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/RequestScopedDecorator.java
  integration-tests/pom.xml
  integration-tests/reactive-messaging-context-propagation/pom.xml
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/FlowerConsumers.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/FlowerProducer.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/FlowerReceivers.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/FlowerResource.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/OutgoingInterceptor.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/RequestBean.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/contextual/FlowerContextualResource.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/contextual/FlowerMutinyResource.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/contextual/FlowersContextualReceivers.java
  integration-tests/reactive-messaging-context-propagation/src/main/java/io/quarkus/it/kafka/contextual/FlowersMutinyReceivers.java
  integration-tests/reactive-messaging-context-propagation/src/main/resources/application.properties
  integration-tests/reactive-messaging-context-propagation/src/test/java/io/quarkus/it/kafka/KafkaContextPropagationIT.java
  integration-tests/reactive-messaging-context-propagation/src/test/java/io/quarkus/it/kafka/KafkaContextPropagationTest.java
Labels: area/documentation, area/smallrye, area/reactive-messaging, triage/flaky-test

#46861 Add lucamolteni to quarkus-github-lottery.yml
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#46788 ArC: fix decorated interface defaults methods not overriden by a bean
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanInfo.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/DecoratorDefaultMethodTest.java
Labels: area/arc, triage/flaky-test, triage/backport

#46863 Remove recently added Resteasy QueryParams Map support
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/simple/MapWithParamConverterTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/ServerEndpointIndexer.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/MapConverter.java
Labels: triage/waiting-for-ci, area/rest, triage/flaky-test

#46826 Make response available on error in rest client
  independent-projects/resteasy-reactive/client/runtime/pom.xml
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/api/WebClientApplicationException.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientResponseCompleteRestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSetResponseEntityRestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/test/java/org/jboss/resteasy/reactive/client/handlers/ClientResponseCompleteRestHandlerTest.java
  independent-projects/resteasy-reactive/pom.xml
Labels: area/rest-client, triage/flaky-test

#46874 Docs: Fix spacing issue in metadata of Using S2I to deploy Quarkus applications to OpenShift procedure
  docs/src/main/asciidoc/deploying-to-openshift-S2I-howto.adoc
Labels: area/documentation, triage/backport-3.19, triage/backport, triage/backport-3.20

#46873 Reduce debug logging allocations in MongoDnsClient
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/dns/MongoDnsClient.java
Labels: area/mongodb, triage/backport-3.15, triage/backport-3.19, triage/backport, triage/backport-3.20

#46864 Allow setting Clear-Site-Data on OIDC logout
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcSessionImpl.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/builders/LogoutConfigBuilder.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcTenantConfigImpl.java
  integration-tests/oidc-wiremock-logout/src/main/resources/application.properties
  integration-tests/oidc-wiremock-logout/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, triage/flaky-test, area/docstyle

#46877 [3.19] 3.19.4 backports 1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageConfigBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/graal/Target_javax_management_JMX.java
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/_includes/devtools/build.adoc
  docs/src/main/asciidoc/building-my-first-extension.adoc
  docs/src/main/asciidoc/building-native-image.adoc
  docs/src/main/asciidoc/deploying-to-openshift-S2I-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift-docker-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
  docs/src/main/asciidoc/jreleaser.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/native-and-ssl.adoc
  docs/src/main/asciidoc/observability.adoc
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
  docs/src/main/asciidoc/rest.adoc
  docs/src/main/asciidoc/security-ldap.adoc
  docs/src/main/asciidoc/smallrye-fault-tolerance.adoc
  docs/src/main/asciidoc/stylesheet/config.css
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
  extensions/amazon-lambda-http/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda-rest/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/funqy/funqy-amazon-lambda/maven-archetype/src/main/resources/archetype-resources/pom.xml
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongodbConfig.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/dns/MongoDnsClient.java
  extensions/observability-devservices/common/src/main/java/io/quarkus/observability/common/ContainerConstants.java
  extensions/observability-devservices/testcontainers/src/main/java/io/quarkus/observability/testcontainers/LgtmContainer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/NamespaceTemplateExtensionValidationFailureTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/StringTemplateExtensionsTest.java
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnSecurity.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/MethodNameParserTest.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/Person.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/PersonRepository.java
  independent-projects/bootstrap/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/ProjectInfoCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/UpdateProjectCommandHandler.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdateCommand.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/update/rewrite/QuarkusUpdatesRepository.java
  independent-projects/tools/message-writer/src/main/java/io/quarkus/devtools/messagewriter/MessageFormatter.java
  independent-projects/tools/pom.xml
  integration-tests/awt/src/main/docker/Dockerfile.native
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateStandaloneExtension/my-org-my-own-ext_pom.xml
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/spring-web/pom.xml
  pom.xml
Labels: area/documentation, area/core, area/config, area/maven, area/infra, area/amazon-lambda, area/mongodb, area/oidc, area/spring, area/platform, area/dependencies, area/qute, area/devtools, area/funqy, area/agroal, area/graphics, triage/flaky-test, area/docstyle

#46888 Update to new develocity.* properties
  .github/workflows/deploy-snapshots.yml
  .github/workflows/release-build.yml
  update-version.sh
Labels: area/infra-automation

#46728 Dedicated Dev UI interface to execute HQL (Hibernate ORM) queries
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourcesJdbcBuildTimeConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevUIProcessor.java
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate-orm-entity-types.js
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate-orm-hql-console.js
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/QuarkusConnectionProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevController.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevInfo.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevIntegrator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/dev/HibernateOrmDevJsonRpcService.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/comms/JsonRpcMessage.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/comms/JsonRpcRouter.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/jsonrpc/JsonRpcCodec.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/AbstractDevUIHibernateOrmTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateOrmActiveFalseAndNamedPuActiveTrueTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateOrmActiveFalseTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/DevUIHibernateOrmSmokeTest.java
  integration-tests/devmode/src/test/java/io/quarkus/test/devui/MyEntity.java
Labels: release/noteworthy-feature, area/vertx, triage/waiting-for-ci, area/hibernate-orm, area/dev-ui, area/agroal, triage/flaky-test

#44272 Generate RSA-256 keys on dev mode
  docs/src/main/asciidoc/security-jwt.adoc
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallryeJwtDevModeProcessor.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/GreetingResource.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/dev/SmallryeJwtProcessorDevModeTest.java
  integration-tests/pom.xml
  integration-tests/smallrye-jwt/pom.xml
  integration-tests/smallrye-jwt/src/main/java/io/quarkus/it/keycloak/ManagementResource.java
  integration-tests/smallrye-jwt/src/main/resources/application.properties
  integration-tests/smallrye-jwt/src/test/java/io/quarkus/it/keycloak/ManagementResourceIT.java
  integration-tests/smallrye-jwt/src/test/java/io/quarkus/it/keycloak/ManagementResourceTest.java
Labels: area/documentation, area/core, area/smallrye, area/testing, triage/flaky-test

#46879 Use RestResponse in the implementation of REST Data Panache endpoints
  docs/src/main/asciidoc/rest-data-panache.adoc
  extensions/panache/hibernate-orm-rest-data-panache/deployment/pom.xml
  extensions/panache/rest-data-panache/deployment/pom.xml
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/AddMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/CountMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/DeleteMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/GetMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/ListMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/OverrideUserMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/StandardMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/UpdateMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/methods/hal/ListHalMethodImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/ResponseImplementor.java
  extensions/panache/rest-data-panache/deployment/src/main/java/io/quarkus/rest/data/panache/deployment/utils/SignatureMethodCreator.java
  extensions/spring-data-rest/deployment/pom.xml
  integration-tests/hibernate-orm-rest-data-panache/pom.xml
  integration-tests/hibernate-orm-rest-data-panache/src/test/java/io/quarkus/it/hibernate/orm/rest/data/panache/HibernateOrmRestDataPanacheTest.java
  integration-tests/spring-data-rest/pom.xml
  integration-tests/spring-data-rest/src/test/java/io/quarkus/it/spring/data/rest/SpringDataRestTest.java
Labels: area/documentation, area/panache, area/spring, release/breaking-change

#46896 Bump Quarkiverse parent version to 19
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_pom.xml
Labels: area/maven, triage/waiting-for-ci, area/platform, area/devtools, triage/flaky-test, triage/backport, triage/backport-3.20

#46909 Fix some typos in rest-data-panache.adoc
  docs/src/main/asciidoc/rest-data-panache.adoc
Labels: area/documentation

#46898 Always use the FQN Rest Client configuration when initializing the Proxy DevService
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/devservices/DevServicesRestClientHttpProxyProcessor.java
Labels: area/rest-client, area/rest, triage/flaky-test

#46894 Housekeeping to prepare for the upgrade to Hibernate ORM 7
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/cdi/QuarkusArcBeanContainer.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/cdi/QuarkusBeanContainerLifecycleOptions.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/cdi/QuarkusManagedBeanRegistry.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/FastBootReactiveEntityManagerFactoryBuilder.java
  extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java
  extensions/spring-data-jpa/deployment/src/test/java/io/quarkus/spring/data/deployment/MethodNameParserTest.java
  integration-tests/jpa-mapping-xml/modern-app/src/main/resources/xml-mapping-only-entity-listener.orm.xml
Labels: area/panache, area/hibernate-orm, area/spring, area/hibernate-reactive, triage/flaky-test

#46910 Expand note about dependency needed for Kotlin and gRPC
  docs/src/main/asciidoc/grpc-generation-reference.adoc
Labels: area/documentation

#46918 Return locators path parameters in UriInfo
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/SubResourceUriInfoTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/UriInfoImpl.java
Labels: area/rest, triage/flaky-test, triage/backport

#46929 Add support for JsonCreator and fluent setters in reflection-free Jackson serialization
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonCodeGenerator.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/JacksonDeserializerFactory.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/Book.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/LombokBook.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonResource.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
Labels: triage/waiting-for-ci, area/rest

#46944 Add some additional doc to HeaderConfig#methods()
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HeaderConfig.java
Labels: area/vertx, triage/flaky-test

#46943 Add clarifying sentence to maturity matrix guide
  docs/src/main/asciidoc/extension-maturity-matrix.adoc
Labels: area/documentation, triage/waiting-for-ci

#46931 Downgrading mockito.version to 5.12.0 as it is compatible with junit.jupiter.version 5.10.5
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/platform, area/dependencies, area/devtools, triage/flaky-test, triage/backport-3.20

#46932 Fix mp.jwt.verify.publickey check in SmallryeJwtDevModeProcessor
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallryeJwtDevModeProcessor.java
Labels: area/security, area/smallrye

#46930 SmallRye GraphQL - Allow execution model annotations on @Resolver methods
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/GraphqlMethodsProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/federation/resolver/ExtendedApi.java
Labels: area/smallrye, area/graphql

#46962 ArC: add documentation of string-based qualifiers and @Named
  docs/src/main/asciidoc/cdi-reference.adoc
  docs/src/main/asciidoc/cdi.adoc
Labels: area/documentation, area/arc, triage/waiting-for-ci

#46872 Fixed recordedBuildConfigFile absolute path resolution
  devtools/maven/src/main/java/io/quarkus/maven/TrackConfigChangesMojo.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/PackageIT.java
  integration-tests/maven/src/test/resources-filtered/projects/config-tracking-custom-file/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/config-tracking-custom-file/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/config-tracking-custom-file/src/main/resources/application.properties
Labels: area/maven, area/devtools, triage/backport-3.15, triage/backport, triage/backport-3.20

#46963 Document that the Hibernate Reactive extension doesn't support database-based multitenancy or schema-based multitenancy
  docs/src/main/asciidoc/hibernate-reactive.adoc
Labels: area/documentation

#46824 Adding Devcontainer support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#46966 Correctly handle trust managers when no trust manager matching the SNI name cannot be found
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/keystores/ExpiryTrustOptions.java
Labels: triage/waiting-for-ci, triage/flaky-test, area/tls, triage/backport-3.20

#46961 Add support for TLS config reload in REST Client
  extensions/keycloak-admin-rest-client/runtime/src/main/java/io/quarkus/keycloak/admin/rest/client/runtime/KeycloakAdminRestClientProvider.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/FakeSmtpTestBase.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerTLSRegistryTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/SSLTools.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigReloadKeystoreTest.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/CertificateUpdateEventListener.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientRecorder.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/BuildTimeRegistrationTest.java
  extensions/tls-registry/deployment/src/test/java/io/quarkus/tls/RuntimeRegistrationTest.java
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/VertxCertificateHolder.java
  extensions/tls-registry/spi/src/main/java/io/quarkus/tls/TlsConfiguration.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/TlsConfig.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientImpl.java
Labels: release/noteworthy-feature, area/rest-client, triage/waiting-for-ci, area/rest, area/mailer, area/keycloak, triage/flaky-test

#46981 Remove erroneously left over request context call in test
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/tls/TlsConfigReloadKeystoreTest.java
Labels: area/rest-client, triage/waiting-for-ci, triage/backport, triage/backport-3.20

#46676 Remove Unnecessary Gradle Test Task Dependencies
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools

#46984 Fix text on gradle tooling doc
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-3.15, triage/backport, triage/backport-3.20

#34681 Load test classes with runtime classloader
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/CurrentTestApplication.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/testing/TestSupport.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/RunningQuarkusApplicationImpl.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  extensions/devservices/h2/src/main/java/io/quarkus/devservices/h2/deployment/H2DevServicesProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/WithTestProfileAndNestedTest.java
  integration-tests/kotlin/src/test/kotlin/io/quarkus/it/testing/repro42000/Repro42000Test.kt
  integration-tests/main/src/test/java/io/quarkus/it/main/QuarkusTestNestedWithTestProfileTestCase.java
  integration-tests/main/src/test/java/io/quarkus/it/main/testing/repro42006/Repro42006Test.java
  integration-tests/main/src/test/java/io/quarkus/it/main/testing/repro44320/Repro44320Test.java
  integration-tests/main/src/test/java/io/quarkus/it/main/testing/repro8446/Repro8446Test.java
  integration-tests/maven/pom.xml
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/opentelemetry-jdbc-instrumentation/src/test/java/io/quarkus/it/opentelemetry/OracleOpenTelemetryJdbcInstrumentationTest.java
  integration-tests/opentelemetry-redis-instrumentation/src/test/java/io/quarkus/it/opentelemetry/profile/RedisInstrumentationDisabledProfile.java
  integration-tests/smallrye-graphql-client-keycloak/src/test/java/io/quarkus/it/smallrye/graphql/keycloak/KeycloakRealmResourceManager.java
  integration-tests/test-extension/extension-that-defines-junit-test-extensions/runtime/src/main/java/org/acme/MyContextProvider.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/it/TemplateCanSeeByteCodeChangesDevModeIT.java
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-callback-from-extension/src/test/java/org/acme/QuarkusTestAccessingBeanInCallback.java
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/project-using-test-template-from-extension-with-bytecode-changes/src/test/java/org/acme/TemplatedQuarkusTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5-config/src/main/java/io/quarkus/test/config/ConfigLauncherSession.java
  test-framework/junit5-config/src/main/resources/junit-platform.properties
  test-framework/junit5/pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractQuarkusTestWithContextExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AppMakerHelper.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/ClassCoercingTestProfile.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtensionState.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/RunningAppConfigResolver.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/TestResourceUtil.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/ParentLastURLClassLoader.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/QuarkusTestConfigProviderResolver.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/DeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/NewSerializingDeepClone.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/CustomLauncherInterceptor.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/util/QuarkusTestProfileAwareClassOrderer.java
  test-framework/junit5/src/main/resources/META-INF/services/org.junit.platform.launcher.LauncherInterceptor
  test-framework/junit5/src/test/java/io/quarkus/test/junit/util/QuarkusTestProfileAwareClassOrdererTest.java
  test-framework/junit5/src/test/java/io/quarkus/test/junit/util/dummyclasses/Test07.java
  test-framework/junit5/src/test/java/io/quarkus/test/junit/util/dummyclasses/Test08.java
  test-framework/junit5/src/test/java/io/quarkus/test/junit/util/dummyclasses/Test09.java
  test-framework/junit5/src/test/java/io/quarkus/test/junit/util/dummyclasses/Test10.java
Labels: release/noteworthy-feature, area/documentation, area/gradle, area/core, area/config, area/arc, area/maven, area/kotlin, area/vertx, area/testing, area/oidc, area/platform, area/kubernetes, area/kafka, area/dependencies, area/devtools, area/infra-automation, area/flyway, triage/flaky-test

#46956 OpenAPI: disable example merging by default (Swagger UI regression)
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/deployment/filter/SecurityConfigFilterTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/MergeSchemaExamplesTestCases.java
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiConfigMapping.java
  tcks/microprofile-openapi/pom.xml
Labels: area/smallrye, area/openapi

#46958 Allow custom code generators in gradle
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusGenerateCode.java
Labels: area/gradle, area/devtools

#46952 Add validation about duplicated GeneratedStaticResourceBuildItem
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/GeneratedStaticResourcesProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/GeneratedStaticResourceBuildItemDuplicatedTest.java
Labels: area/vertx, triage/flaky-test

#46970 Fix container binary strategy returning with non-zero exit code
  core/deployment/src/main/java/io/quarkus/deployment/util/ContainerRuntimeUtil.java
Labels: area/core, triage/flaky-test, triage/backport, triage/backport-3.20

#45470 Update Kotlin to version 2.1.20
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java
  extensions/schema-registry/confluent/pom.xml
  independent-projects/arc/pom.xml
  integration-tests/gradle/src/main/resources/conditional-dependencies-kotlin/build.gradle.kts
  integration-tests/gradle/src/main/resources/grpc-multi-module-no-java/build.gradle.kts
  integration-tests/kafka-json-schema-apicurio2/pom.xml
  integration-tests/kotlin-maven-invoker/src/test/java/io/quarkus/kotlin/maven/it/KotlinDevModeIT.java
  integration-tests/kotlin/pom.xml
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CountryNameMessageTransformer.kt
  integration-tests/resteasy-reactive-kotlin/standard/src/main/kotlin/io/quarkus/it/resteasy/reactive/kotlin/CountryNamePayloadTransformer.kt
Labels: area/gradle, triage/on-ice, area/arc, area/kotlin, triage/waiting-for-ci, area/platform, area/dependencies, area/devtools, triage/flaky-test

#46996 Gradle - Adjust tests as unit tests are not run anymore when running ITS
  integration-tests/gradle/src/test/java/io/quarkus/gradle/IntegrationTestBuildTest.java
Labels: area/gradle

#46995 Corrects Infinispan documentation
  docs/src/main/asciidoc/infinispan-client-reference.adoc
  docs/src/main/asciidoc/infinispan-client.adoc
Labels: area/documentation, area/infinispan, triage/backport, triage/backport-3.20

#47000 add missing @UnwrapException in quarkus-rest doc example
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation

#47001 Fix constructor search for Qute template records
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
Labels: triage/waiting-for-ci, area/qute, triage/backport

#46965 Execution Model Validation: properly discover Dev UI JSON RPC classes
  core/deployment/src/main/java/io/quarkus/deployment/execannotations/ExecutionModelAnnotationsProcessor.java
  docs/src/main/asciidoc/dev-ui.adoc
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/devui/AgroalDevUIProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcDevUIProcessor.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/JsonRpcMethodsProcessor.java
  extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/devui/CacheDevUiProcessor.java
  extensions/container-image/deployment/src/main/java/io/quarkus/container/image/deployment/devui/ContainerImageDevUiProcessor.java
  extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devui/DevUIDatasourceProcessor.java
  extensions/flyway/deployment/src/main/java/io/quarkus/flyway/deployment/devui/FlywayDevUIProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcMethodsProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devui/GrpcDevUIProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devui/InfinispanDevUIProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/devui/KafkaDevUIProcessor.java
  extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/devui/KafkaStreamsDevUIProcessor.java
  extensions/liquibase/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/devui/LiquibaseDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevUIProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/devconsole/RestClientReactiveDevUIProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/ReactiveClientHeadersFromBuilderTest.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/ReactiveClientHeadersFromProviderTest.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/devui/ResteasyReactiveDevUIProcessor.java
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/devui/SchedulerDevUIProcessor.java
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/devui/FaultToleranceDevUIProcessor.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/GraphqlMethodsProcessor.java
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/devui/RabbitDevUIProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/devui/ReactiveMessagingDevUIProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/logstream/LogStreamProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ConfigurationProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ContinuousTestingProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/EndpointsProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ReadmeProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ReportIssuesProcessor.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/JsonRPCProvidersBuildItem.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/devui/WebSocketServerDevUIProcessor.java
Labels: area/documentation, area/core, area/arc, area/infinispan, area/smallrye, area/vertx, area/scheduler, area/rest-client, area/reactive-messaging, area/kafka-streams, area/oidc, area/kafka, area/cache, area/flyway, area/liquibase, area/grpc, area/graphql, area/fault-tolerance, area/rest, area/agroal, triage/flaky-test

#46947 Fix Incorrect Kubernetes Port Annotation when Management Interface is enabled
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesCommonHelper.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/KubernetesWithMetricsAndManagementInterfaceEnabledTest.java
Labels: area/kubernetes

#46950 Save using stream(s) to retrieve Http Headers
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java
Labels: area/documentation, triage/waiting-for-ci, triage/flaky-test

#47029 Update rest-client.adoc line 183
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation

#47024 Token introspection client read and connection timeout
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/OAuth2Recorder.java
  extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/OAuth2RuntimeConfig.java
Labels: area/security

#45986 Docs: Create procedure for Deploying Quarkus applications compiled to native executables based
  docs/src/main/asciidoc/deploying-to-openshift-native-howto.adoc
Labels: area/documentation, triage/backport, triage/backport-3.20

#47038 Add 3.20 as a guarded branch
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#47027 Register text message types for reflection
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
Labels: triage/backport, triage/backport-3.20

#47047 Support type variables on sub resource interfaces for the rest client
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/subresource/SubResourceGenericsTest.java
Labels: area/rest-client, area/rest, triage/flaky-test

#47041 Keep a reference on the parent/original context to allow accessing it from Rest Client interceptors
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/ContextLocalPropagationTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientRequestContextImpl.java
Labels: area/rest-client, area/rest, triage/flaky-test, triage/backport, triage/backport-3.20

#47043 Register resource bundle `sun.security.util.resources.security` for kafka in native mode
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java
Labels: area/kafka, triage/flaky-test

#47044 Make sure default platforms recommended by registries have higher preferrences than those referenced from downstream platforms
  independent-projects/tools/devtools-testing/src/test/java/io/quarkus/devtools/project/create/QuarkusPlatformBasedOnArchivedQuarkusCoreTest.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/ExtensionCatalogResolver.java
Labels: area/platform, area/devtools, triage/flaky-test

#47040 Include the token with AuthenticaionFailedException
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/SecurityEventListener.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerOpaqueTokenAuthorizationTest.java
Labels: area/oidc

#47057 Make OTel resource attributes signal independent
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/OpenTelemetryProcessor.java
  extensions/opentelemetry/deployment/src/main/java/io/quarkus/opentelemetry/deployment/tracing/TracerProcessor.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/traces/OpenTelemetryTracingDisabledTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/AutoConfiguredOpenTelemetrySdkBuilderCustomizer.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/DelayedAttributes.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/OpenTelemetryRecorder.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java
Labels: triage/flaky-test, triage/backport

#46907 Dev UI: Added basic workspace feature
  bom/dev-ui/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/ide/IdeProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIConfig.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/ide/IdeProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
  extensions/vertx-http/dev-ui-resources/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/router-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-ide-link.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-hot-reload-element.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-menu.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-server-log.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace-binary.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/Action.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/ActionBuilder.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/Display.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/DisplayType.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/Patterns.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/WorkspaceActionBuildItem.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/WorkspaceBuildItem.java
Labels: release/noteworthy-feature, area/core, area/vertx, area/dependencies, triage/flaky-test

#47065 Fix ClassCastException when ResourceMethod with same method name exist
  core/runtime/src/main/java/io/quarkus/runtime/util/HashUtil.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/QuarkusInvokerFactory.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ResourceMethodSameSignatureTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/HashUtil.java
Labels: area/core, area/rest, triage/flaky-test

#47073 Dev UI: Change bug report to be a popover
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/ReportIssuesProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ReportIssuesProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-report-issues.js
Labels: area/vertx, triage/flaky-test
