Repository quarkusio/quarkus, pull requests merged in 2025-06, with the labels that each got.

#48142 Moved outstanding runtime dev-ui to new runtime-dev module
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/reportissues/ReportIssuesJsonRPCService.java
Labels: area/vertx, triage/backport

#48175 Runtime init `io.confluent.kafka.schemaregistry.avro.AvroSchemaUtils`
  docs/src/main/asciidoc/kafka-schema-registry-avro.adoc
  extensions/schema-registry/confluent/avro/deployment/src/main/java/io/quarkus/confluent/registry/avro/ConfluentRegistryAvroProcessor.java
Labels: area/documentation, area/native-image, triage/flaky-test, area/schema-registry

#47290 Allow adding Open API specification endpoint to OpenAPI using config
  extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/filter/AutoAddOpenApiEndpointFilter.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/deployment/filter/SecurityConfigFilterTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoAddOpenApiEndpointFilterDisabledTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoAddOpenApiEndpointFilterNoResourcesTest.java
  extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/AutoAddOpenApiEndpointFilterTest.java
Labels: area/smallrye, area/openapi, triage/waiting-for-ci, triage/flaky-test

#48181 Fix Platform overriding of codestart dockerfile data
  devtools/bom-descriptor-json/src/main/resources/catalog-overrides.json
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/tools/ToolsUtils.java
Labels: area/platform, area/devtools, triage/backport-3.20, triage/backport

#48176 Add note about Kotlin Serialization support in doc
  docs/src/main/asciidoc/kotlin.adoc
Labels: kind/enhancement, area/documentation

#47756 Introduce new assistant module
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  core/devmode-spi/src/main/java/io/quarkus/dev/console/DevConsoleManager.java
  devtools/bom-descriptor-json/pom.xml
  docs/pom.xml
  extensions/assistant/deployment-spi/pom.xml
  extensions/assistant/deployment-spi/src/main/java/io/quarkus/assistant/deployment/spi/AssistantConsoleBuildItem.java
  extensions/assistant/deployment-spi/src/main/java/io/quarkus/assistant/deployment/spi/AssistantPageBuildItem.java
  extensions/assistant/deployment/pom.xml
  extensions/assistant/pom.xml
  extensions/assistant/runtime-dev/pom.xml
  extensions/assistant/runtime-dev/src/main/java/io/quarkus/assistant/runtime/dev/Assistant.java
  extensions/assistant/runtime/pom.xml
  extensions/pom.xml
  extensions/vertx-http/deployment/pom.xml
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/controller/router-controller.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-assistant-button.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-assistant-warning.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension-link.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/state/assistant-state.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/buildtime/BuildTimeAction.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/buildtime/BuildTimeActionBuildItem.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/ExternalPageBuilder.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/Page.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/PageBuilder.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/WebComponentPageBuilder.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/Action.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/ActionBuilder.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/Patterns.java
  extensions/vertx-http/runtime-dev/pom.xml
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/DevUIRecorder.java
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/comms/JsonRpcRouter.java
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/comms/ReflectionInfo.java
Labels: release/noteworthy-feature, area/documentation, area/core, area/smallrye, area/vertx, area/openapi, area/dependencies, area/devtools, area/graphql, area/agroal, triage/flaky-test

#48153 Record access token scope in the grant response
  extensions/oidc-db-token-state-manager/deployment/src/main/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerProcessor.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/AbstractDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerEntity.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/ProtectedResource.java
  extensions/oidc-db-token-state-manager/runtime/src/main/java/io/quarkus/oidc/db/token/state/manager/runtime/OidcDbTokenStateManager.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/AbstractRedisTokenStateManagerTest.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/ProtectedResource.java
  extensions/oidc-redis-token-state-manager/runtime/src/main/java/io/quarkus/oidc/redis/token/state/manager/runtime/OidcRedisTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/AuthorizationCodeTokens.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClientImpl.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  integration-tests/oidc-code-flow/src/main/resources/application.properties
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowOpaqueAccessTokenResource.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowTokenIntrospectionResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/oidc

#48193 Log just the error message instead of complete stacktraces from DevModeClient
  test-framework/devmode-test-utils/src/main/java/io/quarkus/test/devmode/util/DevModeClient.java
Labels: area/testing

#48171 Do not register the Hot Reload Handler into the Management Interface router
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devmode/management/LiveReloadManagementTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/vertx, kind/bugfix, triage/flaky-test

#48194 Add Dev UI Health Page
  bom/application/pom.xml
  extensions/smallrye-health/deployment/pom.xml
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthDevUiProcessor.java
  extensions/smallrye-health/deployment/src/main/resources/dev-ui/qwc-smallrye-health-ui.js
  extensions/smallrye-health/pom.xml
  extensions/smallrye-health/runtime-dev/pom.xml
  extensions/smallrye-health/runtime-dev/src/main/java/io/quarkus/smallrye/health/runtime/dev/ui/HealthJsonRPCService.java
  extensions/smallrye-health/runtime/pom.xml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/health, triage/flaky-test

#48129 Tolerate junit-platform.properties in user code
  integration-tests/gradle/src/main/resources/with-junit-properties-file/build.gradle
  integration-tests/gradle/src/main/resources/with-junit-properties-file/gradle.properties
  integration-tests/gradle/src/main/resources/with-junit-properties-file/settings.gradle
  integration-tests/gradle/src/main/resources/with-junit-properties-file/src/main/java/org/acme/GreetingResource.java
  integration-tests/gradle/src/main/resources/with-junit-properties-file/src/main/resources/junit-platform.properties
  integration-tests/gradle/src/main/resources/with-junit-properties-file/src/test/java/org/acme/GreetingResourceTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/TestWithAppJunitPropertiesFileTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-tests-in-project-with-junit-properties-file/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-tests-in-project-with-junit-properties-file/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/test-tests-in-project-with-junit-properties-file/src/main/java/org/acme/Main.java
  integration-tests/maven/src/test/resources-filtered/projects/test-tests-in-project-with-junit-properties-file/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/test-tests-in-project-with-junit-properties-file/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources-filtered/projects/test-tests-in-project-with-junit-properties-file/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/test-tests-in-project-with-junit-properties-file/src/main/resources/junit-platform.properties
  integration-tests/maven/src/test/resources-filtered/projects/test-tests-in-project-with-junit-properties-file/src/test/java/org/acme/HelloResourceTest.java
  test-framework/junit5-config/src/main/java/io/quarkus/test/config/ConfigLauncherSession.java
  test-framework/junit5-config/src/main/resources/junit-platform.properties
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/CustomLauncherInterceptor.java
  test-framework/junit5/src/main/resources/META-INF/services/org.junit.platform.launcher.LauncherSessionListener
Labels: area/gradle, area/maven, area/testing

#48226 Be more cautious when manipulating projectData in ToolsUtils
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/tools/ToolsUtils.java
Labels: area/platform, area/devtools, triage/backport-3.20, triage/backport

#48246 Add OIDC GitHub wiremock credential provider test
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/SecretProvider.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
Labels: area/oidc, triage/backport-3.20, triage/backport

#48109 Fix Oracle DevService JDBC pattern
  docs/src/main/asciidoc/datasource.adoc
  extensions/devservices/oracle/src/main/java/io/quarkus/devservices/oracle/deployment/OracleDatasourceServiceConfigurator.java
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#48258 Add more helpful error message for unfixable problem launching tests in Eclipse
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/testing, area/devtools, triage/flaky-test

#48251 JWT dev mode keys: add two build items to customise
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/GenerateEncryptedDevModeJwtKeysBuildItem.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/GeneratePersistentDevModeJwtKeysBuildItem.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallryeJwtDevModeProcessor.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/dev/SmallryeJwtPersistentColdStartupEncryptedTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/dev/SmallryeJwtPersistentColdStartupSignedTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/dev/SmallryeJwtPersistentDevModeEncryptedTest.java
  extensions/smallrye-jwt/deployment/src/test/java/io/quarkus/jwt/test/dev/SmallryeJwtPersistentDevModeSignedTest.java
Labels: area/smallrye, triage/backport

#48262 Small cosmetic change for new health-ui
  extensions/smallrye-health/deployment/src/main/resources/dev-ui/qwc-smallrye-health-ui.js
Labels: area/smallrye, area/health, triage/flaky-test

#48269 Handle VS Code case and improve exception message for IDE test launch failures
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/CustomLauncherInterceptor.java
Labels: area/testing, triage/flaky-test

#48211 Update Azure Function dependencies
  bom/application/pom.xml
  extensions/azure-functions/deployment/pom.xml
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/AzureFunctionsConfig.java
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/AzureFunctionsDeployCommand.java
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/QuarkusActionManager.java
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/QuarkusAzureActionManagerProvider.java
  extensions/azure-functions/deployment/src/main/java/io/quarkus/azure/functions/deployment/QuarkusAzureTaskManagerProvider.java
  extensions/azure-functions/deployment/src/main/resources/META-INF/services/com.microsoft.azure.toolkit.lib.common.action.AzureActionManagerProvider
  extensions/azure-functions/deployment/src/main/resources/META-INF/services/com.microsoft.azure.toolkit.lib.common.task.AzureTaskManagerProvider
Labels: triage/waiting-for-ci, area/dependencies, triage/flaky-test

#47874 Agroal assistant feature
  bom/dev-ui/pom.xml
  extensions/agroal/deployment/pom.xml
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/devui/AgroalDevUIProcessor.java
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
  extensions/agroal/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/vertx-http/dev-ui-resources/pom.xml
Labels: area/documentation, area/core, area/vertx, area/dependencies, area/devtools, area/agroal, triage/flaky-test

#48275 Add test sources in the ProjectDescriptorBuilder
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/ProjectDescriptorBuilder.java
  integration-tests/gradle/pom.xml
  integration-tests/gradle/src/main/resources/kotlin-jacoco/build.gradle.kts
  integration-tests/gradle/src/main/resources/kotlin-jacoco/gradle.properties
  integration-tests/gradle/src/main/resources/kotlin-jacoco/settings.gradle.kts
  integration-tests/gradle/src/main/resources/kotlin-jacoco/src/main/kotlin/org/acme/GreetingResource.kt
  integration-tests/gradle/src/main/resources/kotlin-jacoco/src/test/kotlin/org/acme/GreetingResourceTest.kt
  integration-tests/gradle/src/test/java/io/quarkus/gradle/KotlinJacocoTest.java
  integration-tests/gradle/src/test/java/io/quarkus/gradle/builder/QuarkusModelBuilderTest.java
Labels: area/gradle, area/devtools, triage/backport

#47872 Openapi assistant feature
  bom/application/pom.xml
  extensions/assistant/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  extensions/smallrye-openapi/deployment/pom.xml
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/devui/OpenApiDevUIProcessor.java
  extensions/smallrye-openapi/deployment/src/main/resources/dev-ui/qwc-openapi-generate-client.js
  extensions/smallrye-openapi/pom.xml
  extensions/smallrye-openapi/runtime-dev/pom.xml
  extensions/smallrye-openapi/runtime-dev/src/main/java/io/quarkus/smallrye/openapi/runtime/dev/OpenApiJsonRpcService.java
  extensions/smallrye-openapi/runtime/pom.xml
  extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentService.java
  extensions/smallrye-openapi/spi/src/main/java/io/quarkus/smallrye/openapi/deployment/spi/OpenApiDocumentBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/Page.java
  extensions/vertx-http/runtime-dev/src/main/java/io/quarkus/devui/runtime/comms/JsonRpcRouter.java
Labels: area/documentation, area/core, area/smallrye, area/vertx, area/openapi, area/dependencies, area/devtools, triage/flaky-test

#48265 Add setting `quarkus.hibernate-orm.query.fail-on-pagination-over-collection-fetch`
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/util/HibernateProcessorUtil.java
Labels: area/hibernate-orm, triage/flaky-test

#48268 Update SmallRye Config to 3.13.1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/AbstractConfigBuilder.java
Labels: area/core, area/config, area/dependencies, triage/flaky-test, triage/backport-3.20, triage/backport

#48249 Move version management of forbiddenapis plugin to the root pom
  build-parent/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, triage/flaky-test

#48274 Record expanded value for build time runtime fixed configuration
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestMappingBuildTimeRunTime.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestMappingRunTime.java
Labels: area/core, area/config, triage/flaky-test

#48239 Optimizing the native image Kubernetes Client guidelines
  docs/src/main/asciidoc/kubernetes-client.adoc
Labels: area/documentation

#48240 Respect annotation configuration values when comparing test resources
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/WithListEndTest.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/WithListStartTest.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/configurable/ConfigurableLifecycleManager.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/configurable/CustomResourceWithAttribute.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/configurable/WithAttributeEndTest.java
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/configurable/WithAttributeStartTest.java
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/TestResourceUtil.java
Labels: triage/waiting-for-ci, area/testing, triage/flaky-test, triage/backport-3.20, triage/backport

#48278 Allow to update resolved OIDC dynamic tenant configurations
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/LazyTenantConfigContext.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigBean.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContextImpl.java
  integration-tests/oidc-client-registration/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/documentation, area/oidc, area/docstyle

#47873 Graphql assistant feature
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/devui/SmallRyeGraphQLDevUIProcessor.java
  extensions/smallrye-graphql/deployment/src/main/resources/dev-ui/qwc-graphql-generate-client.js
  extensions/smallrye-graphql/pom.xml
  extensions/smallrye-graphql/runtime-dev/pom.xml
  extensions/smallrye-graphql/runtime-dev/src/main/java/io/quarkus/smallrye/graphql/runtime/dev/GraphQLJsonRpcService.java
  extensions/smallrye-graphql/runtime/pom.xml
Labels: area/documentation, area/core, area/smallrye, area/vertx, area/dependencies, area/devtools, area/graphql, triage/flaky-test

#48315 Bump smallrye-open-api.version from 4.0.10 to 4.0.11
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, triage/flaky-test, triage/backport-3.20, triage/backport

#48293 Split out 'easy' test for dev mode only, and harder test for dev and test
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/continuoustesting/it/DevServicesRedisContinuousTestingTest.java
Labels: area/devmode

#48319 Dev UI: Allow logo from metadata
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/devui/AgroalDevUIProcessor.java
  extensions/agroal/deployment/src/main/resources/dev-ui/agroal_logo_dark.png
  extensions/agroal/deployment/src/main/resources/dev-ui/agroal_logo_light.png
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevUIProcessor.java
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate_icon_dark.svg
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate_icon_light.svg
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devui/InfinispanDevUIProcessor.java
  extensions/infinispan-client/deployment/src/main/resources/dev-ui/infinispan_dark.svg
  extensions/infinispan-client/deployment/src/main/resources/dev-ui/infinispan_light.svg
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevUIProcessor.java
  extensions/oidc/deployment/src/main/resources/dev-ui/keycloak_logo.svg
  extensions/oidc/deployment/src/main/resources/dev-ui/oidc_logo.png
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/devui/OpenApiDevUIProcessor.java
  extensions/smallrye-openapi/deployment/src/main/resources/dev-ui/openapi_logo.png
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/extension/Extension.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extension.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
  extensions/web-dependency-locator/deployment/src/main/java/io/quarkus/webdependency/locator/deployment/devui/WebDependencyLocatorDevUIProcessor.java
  extensions/web-dependency-locator/deployment/src/main/resources/dev-ui/javascript_logo.svg
Labels: area/infinispan, area/smallrye, area/vertx, area/openapi, area/hibernate-orm, area/oidc, area/agroal, triage/flaky-test

#48334 Do not import io.quarkus:quarkus-bom into quarkus-bom-test
  bom/test/pom.xml
Labels: area/dependencies

#48311 Exclude Redis dev mode tests in dev mode to avoid classloading chaos
  integration-tests/redis-devservices/src/main/resources/application.properties
Labels: area/devmode, area/redis

#48348 Upgrade to Hibernate ORM 7.0.2 + Fix ClassCastException in Jakarta Data
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/StatelessSessionLazyDelegator.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/TransactionScopedStatelessSession.java
  integration-tests/hibernate-orm-data/src/main/java/io/quarkus/it/hibernate/jpamodelgen/data/MyEntityResource.java
  integration-tests/hibernate-orm-data/src/main/java/io/quarkus/it/hibernate/jpamodelgen/data/MyRepository.java
  integration-tests/hibernate-orm-data/src/test/java/io/quarkus/it/hibernate/jpamodelgen/data/HibernateOrmDataTest.java
  pom.xml
Labels: triage/waiting-for-ci, area/hibernate-orm, kind/bugfix, dependencies, triage/backport

#48341 Change assistant icon to robot
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-assistant-button.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-assistant-warning.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-header.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/page/Page.java
Labels: area/documentation, area/vertx, triage/flaky-test, triage/backport

#48376 Remove not supported Gradle plugin configuration option
  docs/src/main/asciidoc/gradle-tooling.adoc
Labels: area/documentation

#48384 Fix Asciidoc link syntax limitations in vertx-reference
  docs/src/main/asciidoc/vertx-reference.adoc
Labels: area/documentation

#48325 Compose Dev Services fix for wait strategy targets
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeServiceWaitStrategyTarget.java
Labels: area/devservices, triage/backport-3.23, triage/backport

#48368 Vert.x ref guide: replace the non-existant sendAndForget() with send()
  docs/src/main/asciidoc/vertx-reference.adoc
Labels: area/documentation

#48254 WebSockets Next: perform client connection cleanup during app shutdown
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/connection/ConnectionIdleTimeoutTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/ClientConnectionManager.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketClientConnectionImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/config/WebSocketsClientRuntimeConfig.java
Labels: area/websockets

#48200 Fixes request context lost in Infinispan cache get/getasync
  extensions/infinispan-cache/runtime/src/main/java/io/quarkus/cache/infinispan/runtime/InfinispanCacheImpl.java
  integration-tests/infinispan-cache/src/main/java/io/quarkus/it/cache/infinispan/ClientRequestFilter.java
  integration-tests/infinispan-cache/src/main/java/io/quarkus/it/cache/infinispan/ClientRequestService.java
  integration-tests/infinispan-cache/src/main/java/io/quarkus/it/cache/infinispan/ExpensiveResource.java
  integration-tests/infinispan-cache/src/main/java/io/quarkus/it/cache/infinispan/SunriseRestServerResource.java
  integration-tests/infinispan-cache/src/test/java/io/quarkus/it/cache/infinispan/CacheTest.java
  integration-tests/infinispan-cache/src/test/java/io/quarkus/it/cache/infinispan/InfinispanCacheClientTestCase.java
Labels: area/infinispan, area/cache, triage/backport-3.23, triage/backport

#48385 Prevent AccessDeniedException in DEV mode when DEV UI is locating workspace item
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
Labels: area/vertx, triage/flaky-test, triage/backport-3.23, triage/backport

#48177 Remove "default" formatter mappers and let ORM build them itself
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/util/HibernateProcessorUtil.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/JPAConfig.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/customized/BuiltinFormatMapperBehaviour.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/recording/RecordedConfig.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/FastBootReactiveEntityManagerFactoryBuilder.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/JPAFunctionalityTestEndpoint.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/defaultpu/EntityWithJson.java
  integration-tests/jpa-postgresql/src/main/java/io/quarkus/it/jpa/postgresql/defaultpu/SomeEmbeddable.java
Labels: triage/waiting-for-ci, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#48410 Properly document how to use @InjectMock with @ConfigMapping
  docs/src/main/asciidoc/config-mappings.adoc
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/DummyMapping.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/ConfigMappingTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/DummyMappingProducer.java
Labels: area/documentation, triage/backport

#48363 Make quarkusDependenciesBuild run after Jandex tasks, in case they are configured
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/application/build.gradle
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/build.gradle
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/common/build.gradle
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/gradle.properties
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/settings.gradle
Labels: area/gradle, area/devtools, triage/flaky-test, triage/backport-3.20, triage/backport-3.23, triage/backport

#48390 [3.23] 3.23.4 backports 1
  .github/dependabot.yml
  .mvn/extensions.xml
  bom/application/pom.xml
  build-parent/pom.xml
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle/libs.versions.toml
  docs/src/main/asciidoc/config-mappings.adoc
  docs/src/main/asciidoc/vertx-reference.adoc
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/DatasourceServiceConfigurator.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/compose/ComposeServiceWaitStrategyTarget.java
  extensions/devservices/mssql/src/main/java/io/quarkus/devservices/mssql/deployment/MSSQLDatasourceServiceConfigurator.java
  extensions/infinispan-cache/runtime/src/main/java/io/quarkus/cache/infinispan/runtime/InfinispanCacheImpl.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/paths/SharedArchivePathTree.java
  independent-projects/bootstrap/app-model/src/test/java/io/quarkus/paths/SharedArchivePathTreeTest.java
  independent-projects/parent/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/application/build.gradle
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/build.gradle
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/common/build.gradle
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/gradle.properties
  integration-tests/gradle/src/main/resources/jandex-basic-multi-module-project-kordamp/settings.gradle
  integration-tests/infinispan-cache/src/main/java/io/quarkus/it/cache/infinispan/ClientRequestFilter.java
  integration-tests/infinispan-cache/src/main/java/io/quarkus/it/cache/infinispan/ClientRequestService.java
  integration-tests/infinispan-cache/src/main/java/io/quarkus/it/cache/infinispan/ExpensiveResource.java
  integration-tests/infinispan-cache/src/main/java/io/quarkus/it/cache/infinispan/SunriseRestServerResource.java
  integration-tests/infinispan-cache/src/test/java/io/quarkus/it/cache/infinispan/CacheTest.java
  integration-tests/infinispan-cache/src/test/java/io/quarkus/it/cache/infinispan/InfinispanCacheClientTestCase.java
  integration-tests/injectmock/src/main/java/io/quarkus/it/mockbean/DummyMapping.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/ConfigMappingTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/DummyMappingProducer.java
Labels: area/documentation, area/gradle, area/infra, area/vertx, area/dependencies, area/devtools, area/infra-automation, triage/flaky-test

#48432 Correct use of static logger in quarkus code
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AbstractJvmQuarkusTestExtension.java
Labels: area/testing, triage/flaky-test

#48399 Fix and improve documentation about topic-partition initialization in the kafka dev service
  docs/src/main/asciidoc/kafka-dev-services.adoc
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java
Labels: area/documentation, area/kafka, triage/flaky-test

#48461 Bump to Mutiny 2.9.1
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/core, area/reactive, area/arc, triage/waiting-for-ci, area/dependencies, area/rest, triage/backport-3.15, triage/backport-3.20, triage/backport-3.23

#48456 Polish MultiSseSupport
  extensions/reactive-routes/runtime/src/main/java/io/quarkus/vertx/web/runtime/MultiSseSupport.java
Labels: triage/flaky-test

#48395 Sync gradle wrapper files with currently used gradle version
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/gradle/wrapper/gradle-wrapper.jar
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/gradle/wrapper/gradle-wrapper.tpl.qute.properties
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/gradlew
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/gradle-wrapper/base/gradlew.bat
  independent-projects/tools/pom.xml
Labels: area/platform, area/devtools, triage/flaky-test

#48458 Do not rely on JPATraversableResolver / add JPA aware resolver only if ORM is enabled
  extensions/hibernate-orm/deployment/pom.xml
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder.java
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder.java
  extensions/hibernate-validator/spi/src/main/java/io/quarkus/hibernate/validator/spi/BeanValidationTraversableResolverBuildItem.java
  pom.xml
Labels: area/hibernate-validator, area/hibernate-orm, triage/flaky-test

#47802 Virtual thread support for smallrye-graphql
  bom/application/pom.xml
  docs/src/main/asciidoc/smallrye-graphql.adoc
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/BlockingHelper.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusCompletionStageDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusDefaultDataFetcher.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/QuarkusUniDataFetcher.java
  integration-tests/virtual-threads/graphql-virtual-threads/pom.xml
  integration-tests/virtual-threads/graphql-virtual-threads/src/main/resources/application.properties
  integration-tests/virtual-threads/graphql-virtual-threads/src/test/java/io/quarkus/virtual/graphql/AbstractGraphQLTest.java
  integration-tests/virtual-threads/graphql-virtual-threads/src/test/java/io/quarkus/virtual/graphql/GraphQLThreadTest.java
  integration-tests/virtual-threads/graphql-virtual-threads/src/test/java/io/quarkus/virtual/graphql/RunOnVirtualThreadIT.java
  integration-tests/virtual-threads/graphql-virtual-threads/src/test/java/io/quarkus/virtual/graphql/RunOnVirtualThreadTest.java
  integration-tests/virtual-threads/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/smallrye, triage/waiting-for-ci, area/dependencies, area/graphql, triage/flaky-test

#48406 Lighten the memory footprint of `CurrentContextState`
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/CurrentManagedContext.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#48446 Enable VM Option `-H:+ForeignAPISupport` only for JDK 24 and AMD 64
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
Labels: area/core, triage/waiting-for-ci, area/native-image

#48465 Update Dev UI documentation
  docs/src/main/asciidoc/dev-ui.adoc
  docs/src/main/asciidoc/extension-maturity-matrix.adoc
  docs/src/main/asciidoc/images/dev-ui-extension-card-label-v2.png
  docs/src/main/asciidoc/images/dev-ui-extension-openapi-embed-v2.png
  docs/src/main/asciidoc/images/dev-ui-extension-openapi-v2.png
  docs/src/main/asciidoc/images/dev-ui-jsonrpc-log-v2.png
  docs/src/main/asciidoc/images/dev-ui-raw-page-v2.png
  docs/src/main/asciidoc/images/dev-ui-table-page-v2.png
  docs/src/main/asciidoc/images/dev-ui-workspace.png
  docs/src/main/asciidoc/images/devui_card_light.png
  docs/src/main/asciidoc/images/devui_hibernate_card_light.png
  docs/src/main/asciidoc/images/devui_jokes_light.png
  docs/src/main/asciidoc/images/devui_layout_light.png
Labels: area/documentation

#48481 Interrogate candidate resources/return types to stop REST server endpoint indexer from scanning REST clients
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
Labels: triage/waiting-for-ci, area/rest, triage/flaky-test, triage/backport

#48492 Dev UI: Add some more logos
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/devui/ArcDevUIProcessor.java
  extensions/arc/deployment/src/main/resources/dev-ui/cdi_logo.png
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/devui/GrpcDevUIProcessor.java
  extensions/grpc/deployment/src/main/resources/dev-ui/gRPC.png
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevUIProcessor.java
  extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/devui/InfinispanDevUIProcessor.java
  extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/devui/KafkaDevUIProcessor.java
  extensions/kafka-client/deployment/src/main/resources/dev-ui/kafka_dark.png
  extensions/kafka-client/deployment/src/main/resources/dev-ui/kafka_light.png
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/devui/SmallRyeGraphQLDevUIProcessor.java
  extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthDevUiProcessor.java
  extensions/smallrye-health/deployment/src/main/resources/dev-ui/smallrye_dark.svg
  extensions/smallrye-health/deployment/src/main/resources/dev-ui/smallrye_light.svg
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/devui/OpenApiDevUIProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
Labels: area/arc, area/infinispan, area/smallrye, area/vertx, area/openapi, area/hibernate-orm, area/kafka, area/grpc, area/graphql, area/health

#48423 Replace the use of CloseableResource with AutoCloseable
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusDevModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusProdModeTest.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusMainIntegrationTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtensionState.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/util/CloseAdaptor.java
Labels: area/testing, triage/flaky-test

#47610 Do not start redis dev services in augmentation (plus supporting framework)
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ApplicationInstanceIdBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/CuratedApplicationShutdownBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesRegistryBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/DevServicesResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/Startable.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/DevServiceDescriptionBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/dev/devservices/DevServicesConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ApplicationInstanceIdBuildStep.java
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  core/runtime/src/main/java/io/quarkus/devservice/runtime/config/DevServicesConfigBuilder.java
  core/runtime/src/main/java/io/quarkus/devservice/runtime/config/DevServicesConfigSource.java
  core/runtime/src/main/java/io/quarkus/devservices/crossclassloader/runtime/ComparableDevServicesConfig.java
  core/runtime/src/main/java/io/quarkus/devservices/crossclassloader/runtime/DevServiceOwner.java
  core/runtime/src/main/java/io/quarkus/devservices/crossclassloader/runtime/RunningDevServicesRegistry.java
  core/runtime/src/test/java/io/quarkus/devservices/crossclassloader/runtime/ComparableDevServicesConfigTest.java
  extensions/devservices/common/src/main/java/io/quarkus/devservices/common/ContainerLocator.java
  extensions/devservices/deployment/src/main/java/io/quarkus/devservices/deployment/DevServicesProcessor.java
  extensions/redis-cache/deployment/src/test/java/io/quarkus/cache/redis/deployment/BasicRedisCacheTest.java
  extensions/redis-client/deployment/src/main/java/io/quarkus/redis/deployment/client/DevServicesRedisProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ConfigurationProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/StartupAction.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/classloading/QuarkusClassLoader.java
  integration-tests/opentelemetry-redis-instrumentation/src/test/java/io/quarkus/it/opentelemetry/profile/RedisInstrumentationDisabledProfile.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/continuoustesting/it/DevServicesRedisContinuousTestingTest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/it/DevServicesRedisCustomPortReusableServiceITest.java
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/it/DevServicesRedisNonUniquePortITest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeDevServicesHandler.java
Labels: area/core, area/vertx, area/testing, area/dependencies, area/devtools, area/cache, area/redis, triage/flaky-test

#48517 Fix small issue with Micrometer documentation
  docs/src/main/asciidoc/telemetry-micrometer.adoc
Labels: area/documentation, triage/backport-3.20, triage/backport-3.23, triage/backport

#48520 Replace Gradle's deprecated project.exe() with project.providers.exe()
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/gradle, area/devtools

#48523 Replace Gradle's deprecated configuration.getFiles() with newer API
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
Labels: area/gradle, area/devtools

#48491 Dev UI themed code block
  docs/src/main/asciidoc/dev-ui.adoc
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
  extensions/smallrye-graphql/deployment/src/main/resources/dev-ui/qwc-graphql-generate-client.js
  extensions/smallrye-openapi/deployment/src/main/resources/dev-ui/qwc-openapi-generate-client.js
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/BuildTimeContentProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qui/qui-themed-code-block.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-configuration-editor.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-data-raw-page.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-dev-services.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-external-page.js
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
Labels: area/documentation, area/smallrye, area/vertx, area/openapi, area/graphql, area/agroal, triage/flaky-test

#48518 Avoid IndexOutOfBoundsException in QuarkusErrorHandler when class is in the unnamed package
  core/runtime/src/main/java/io/quarkus/runtime/logging/DecorateStackUtil.java
Labels: area/core, area/logging, triage/waiting-for-ci, triage/flaky-test

#48530 Removing cacheability for QuarkusApplicationModelTask
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
Labels: area/gradle, area/devtools, triage/backport

#48479 Default value for Syslog counting framing
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogRuntimeConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/logging/SyslogCountingFramingTest.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/logging/SyslogHandlerTest.java
Labels: area/core, area/logging, triage/waiting-for-ci, triage/flaky-test

#48546 Revert "Replace Gradle's deprecated project.exe() with project.providers.exe()"
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
Labels: area/gradle, area/devtools

#48504 Add Vert.x OIDC to Quarkus OIDC migration guide
  docs/src/main/asciidoc/images/quarkus-oidc-jwe-session-cookie.png
  docs/src/main/asciidoc/images/quarkus-oidc-opaque-session-cookie.png
  docs/src/main/asciidoc/images/vertx-oidc-session-cookie.png
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-vertx-oidc-to-quarkus-oidc-migration.adoc
Labels: area/documentation, area/docstyle

#48457 [3.15] 3.15.6 backports 1
  bom/application/pom.xml
  docs/src/main/asciidoc/vertx-reference.adoc
  extensions/jdbc/jdbc-postgresql/runtime/src/main/java/io/quarkus/jdbc/postgresql/runtime/graal/DisableSSPIClient.java
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/custom-mariadbconfig/custom.cnf
  integration-tests/hibernate-orm-tenancy/connection-resolver/custom-mariadbconfig/custom.cnf
  integration-tests/hibernate-orm-tenancy/datasource/custom-mariadbconfig/custom.cnf
  integration-tests/jpa-mariadb/custom-mariadbconfig/custom.cnf
  integration-tests/reactive-mysql-client/custom-mariadbconfig/custom.cnf
Labels: area/documentation, area/hibernate-orm, area/dependencies, area/reactive-sql-clients, area/jdbc

#48554 Clean up Kubernetes Dev Service doc and code
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ContainerRuntimeStatusBuildItem.java
  docs/src/main/asciidoc/kubernetes-dev-services.adoc
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/DevServicesKubernetesProcessor.java
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/NoQuarkusTestKubernetesClient.java
  extensions/kubernetes-client/runtime-internal/src/main/java/io/quarkus/kubernetes/client/runtime/internal/KubernetesDevServicesBuildTimeConfig.java
  extensions/kubernetes-client/spi/src/main/java/io/quarkus/kubernetes/client/spi/KubernetesDevServiceRequestBuildItem.java
Labels: area/documentation, area/core, area/kubernetes, triage/flaky-test

#48455 [3.20] 3.20.2 backports 1
  bom/application/pom.xml
  docs/src/main/asciidoc/flyway.adoc
  docs/src/main/asciidoc/qute-reference.adoc
  docs/src/main/asciidoc/security-openid-connect-providers.adoc
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/ClientAssertionProvider.java
  extensions/oidc-common/runtime/src/test/java/io/quarkus/oidc/common/runtime/ClientAssertionProviderTest.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevUIProcessor.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/OpaqueTokenVerificationWithUserInfoValidationTest.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UserInfoRequiredDetectionTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfigPropertySupplier.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcImpl.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantContextFactory.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevSessionCookieReaderHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevUiRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/providers/KnownOidcProviders.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/KnownOidcProvidersTest.java
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/records/TemplateRecordTest.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/records/hello$top.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/getters/TypesafeGettersValidationTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/basic/ClientWithImplementationsInvalidTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/basic/ClientWithImplementationsTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/resources/client-with-implementations.properties
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/deployment/src/test/java/io/quarkus/scheduler/test/staticmethod/ScheduledStaticMethodTest.java
  extensions/smallrye-jwt-build/deployment/src/main/java/io/quarkus/smallrye/jwt/build/deployment/SmallRyeJwtBuildProcessor.java
  extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java
  extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/StaticResourcesProcessor.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SomeBean.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SomeInterface.java
  integration-tests/hibernate-orm-tenancy/connection-resolver-legacy-qualifiers/custom-mariadbconfig/custom.cnf
  integration-tests/hibernate-orm-tenancy/connection-resolver/custom-mariadbconfig/custom.cnf
  integration-tests/hibernate-orm-tenancy/datasource/custom-mariadbconfig/custom.cnf
  integration-tests/jpa-mariadb/custom-mariadbconfig/custom.cnf
  integration-tests/kubernetes/quarkus-standard-way/src/test/java/io/quarkus/it/kubernetes/OpenshiftWithEnvFromConfigMapWithPrefixTest.java
  integration-tests/kubernetes/quarkus-standard-way/src/test/resources/openshift-with-env-from-configmap-with-prefix.properties
  integration-tests/reactive-mysql-client/custom-mariadbconfig/custom.cnf
  integration-tests/smallrye-jwt-token-propagation/src/main/resources/application.properties
  test-framework/maven/src/main/java/io/quarkus/maven/it/RunAndCheckWithAgentMojoTestBase.java
Labels: area/documentation, area/maven, area/resteasy-classic, area/smallrye, area/vertx, area/scheduler, area/openapi, area/testing, area/hibernate-orm, area/oidc, area/kubernetes, area/dependencies, area/qute, area/reactive-sql-clients, triage/flaky-test

#48508 Allow use of Connection interface in callback arguments for WebSockets Next
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/ConnectionCallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketDotNames.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/args/ConnectionArgumentTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ClientEndpointTest.java
Labels: triage/waiting-for-ci, area/websockets

#48553 Bump to Mutiny 2.9.2
  bom/application/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, area/dependencies, triage/flaky-test, triage/backport-3.15, triage/backport-3.20, triage/backport-3.23

#48482 Provide a fluent API to set up path-specific authorization programmatically
  docs/src/main/asciidoc/security-authorize-web-endpoints-reference.adoc
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ImplicitBasicAuthAndBearerAuthCombinationTest.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/ConfigBasedPathMatchingHttpSecurityPolicyTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiAuthenticationMechanismSelectionTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiPathMatchingHttpSecurityPolicyTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/PathMatchingHttpSecurityPolicyTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AuthenticatedHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/DenySecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpAuthenticator.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityConfiguration.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityImpl.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/JaxRsPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/ManagementPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PermitSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/security/HttpSecurity.java
Labels: release/noteworthy-feature, area/documentation, area/security, area/vertx, area/oidc, triage/flaky-test, area/docstyle

#48565 Support Form Auth cookie domain property
  extensions/security-webauthn/runtime/src/main/java/io/quarkus/security/webauthn/WebAuthnRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/FormAuthRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/FormAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/PersistentLoginManager.java
Labels: area/vertx, triage/flaky-test

#48573 Log a warning when an export fails for `http/protobuf`
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/sender/VertxGrpcSender.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/sender/VertxHttpSender.java
Labels: area/tracing, triage/flaky-test, triage/backport

#48569 Remove unused gradle creators
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/AbstractGradleBuildFilesCreator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/GroovyGradleBuildFilesCreator.java
  independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/KotlinGradleBuildFilesCreator.java
Labels: area/platform, area/devtools, triage/flaky-test

#48576 Polish SseParser
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/SseParser.java
Labels: triage/flaky-test

#48522 Replace Gradle's deprecated buildIdentifier.getName() with newer API
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/ToolingUtils.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/dependency/DependencyUtils.java
Labels: area/gradle, area/devtools

#48593 Remove deleted modules from bom
  bom/application/pom.xml
Labels: area/dependencies, triage/flaky-test

#48596 Redis Client: fix BLPOP and BRPOP
  extensions/redis-client/runtime/src/main/java/io/quarkus/redis/runtime/datasource/AbstractListCommands.java
Labels: triage/waiting-for-ci, area/redis, triage/backport-3.15, triage/backport-3.20, triage/backport

#48584 Reorder test methods for Redis dev services
  integration-tests/redis-devservices/src/test/java/io/quarkus/redis/devservices/continuoustesting/it/DevServicesRedisContinuousTestingTest.java
Labels: area/redis, area/devservices

#48599 Polish OpenTelemetryDestroyer
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/OpenTelemetryDestroyer.java
Labels: area/tracing, triage/flaky-test

#48614 Update io.spring.dependency-management plugin version
  integration-tests/gradle/src/main/resources/spring-dependency-plugin-project/settings.gradle
Labels: area/gradle, triage/flaky-test

#48606 [3.15] Backport of 48486 on 3.15
  bom/application/pom.xml
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/AbstractResponseWrapper.java
  independent-projects/arc/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/vertx-utils/pom.xml
Labels: area/arc, area/vertx, area/dependencies

#48619 Using systemPropertiesPrefixedBy to retrieve quarkus.test properties
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools

#48630 Revert "Update io.spring.dependency-management plugin version"
  integration-tests/gradle/src/main/resources/spring-dependency-plugin-project/settings.gradle
Labels: area/gradle

#48632 Add missing @Test to grpc-multi-module-project tests
  integration-tests/gradle/src/main/resources/grpc-multi-module-project/application/src/test/java/org/acme/quarkus/sample/HelloWorld2Test.java
Labels: area/gradle

#48639 Automatically register custom value generators for reflection
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/GraalVMFeatures.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/JpaJandexScavenger.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/EntityWithCustomGenericGeneratorReferencedAsClass.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/EntityWithCustomGenericGeneratorReferencedAsClassName.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/EntityWithCustomIdGeneratorType.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/EntityWithCustomValueGeneratorType.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/GeneratedValueResource.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/MyCustomGenericGeneratorReferencedAsClass.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/MyCustomGenericGeneratorReferencedAsClassName.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/MyCustomIdGenerator.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/MyCustomIdGeneratorAnnotation.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/MyCustomValueGenerator.java
  integration-tests/jpa/src/main/java/io/quarkus/it/jpa/generatedvalue/MyCustomValueGeneratorAnnotation.java
Labels: area/hibernate-orm, triage/backport

#48626 Ensure that DynamodbEvent can be properly deserialized in Lambda
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaMapperRecorder.java
  extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/DateModule.java
Labels: area/amazon-lambda

#48612 Bump CRaC to 1.5.0
  .github/dependabot.yml
  bom/application/pom.xml
  core/runtime/pom.xml
  extensions/vertx-http/runtime/pom.xml
  independent-projects/bootstrap/bom/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/bootstrap/runner/pom.xml
Labels: area/core, area/vertx, area/dependencies, area/devtools, area/infra-automation

#48649 Specify Unit as return type for Scala tests in codestarts
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/rest-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-reactive-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
  devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/scala/src/test/scala/org/acme/{resource.class-name}Test.tpl.qute.scala
Labels: area/devtools, triage/flaky-test

#48635 Automatically ignore mapping paths shared by build time and runtime config
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/AbstractConfigBuilder.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/IgnoreSharedBuildTimeConfig.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/IgnoreSharedRuntimeConfig.java
  integration-tests/test-extension/extension/runtime/src/main/resources/application.properties
Labels: area/core, area/config, triage/flaky-test

#48657 Remote matejvasek as a contact for amazon-lambda
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#48613 Bump vineflower to 1.11.1
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
Labels: area/core, triage/flaky-test

#48652 Add missing dev service label on the dev service mongodb container
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
Labels: area/mongodb

#48663 Fix Dev UI extension metadata loading
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
Labels: area/vertx, triage/flaky-test, triage/backport

#48605 [3.15] 3.15.6 backports 2
  docs/src/main/asciidoc/databases-dev-services.adoc
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/GrpcServerInboundMessageTest.java
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/server/GrpcServerInboundMessageWithSeparateServerTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcServerConfiguration.java
Labels: area/documentation, area/grpc

#48622 [3.20] 3.20.2 backports 4 - Switch to Central Portal
  .github/mvn-settings.xml
  .github/release-settings.xml
  .github/workflows/deploy-snapshots.yml
  .mvn/extensions.xml
  CONTRIBUTING.md
  devtools/gradle/gradle-application-plugin/pom.xml
  devtools/gradle/gradle-extension-plugin/pom.xml
  extensions/spring-web/resteasy-classic/tests/pom.xml
  extensions/spring-web/resteasy-reactive/tests/pom.xml
  independent-projects/arc/pom.xml
  independent-projects/arc/tests/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/enforcer-rules/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/ide-config/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/parent/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/pom.xml
  integration-tests/test-extension/extension-that-defines-junit-test-extensions/pom.xml
  integration-tests/test-extension/extension/pom.xml
  integration-tests/virtual-threads/pom.xml
  pom.xml
  relocations/generaterelocations.java
  relocations/pom.xml
  relocations/quarkus-hibernate-search-orm-coordination-outbox-polling-deployment/pom.xml
  relocations/quarkus-hibernate-search-orm-coordination-outbox-polling/pom.xml
  relocations/quarkus-webjars-locator-deployment/pom.xml
  relocations/quarkus-webjars-locator/pom.xml
  tcks/pom.xml
Labels: area/gradle, area/arc, area/spring, area/platform, area/devtools, area/infra-automation

#48689 Support cancelling pending REST requests
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/RequestCancellationTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/UniInvoker.java
Labels: area/rest-client, triage/waiting-for-ci, area/rest

#48575 Support for OIDC RP-Initiated form post logout mode
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/LogoutUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/builders/LogoutConfigBuilder.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcTenantConfigImpl.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/AuthenticationRedirectExceptionMapper.java
  extensions/resteasy-reactive/rest/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AuthenticationRedirectExceptionMapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  integration-tests/oidc-client-wiremock/src/test/java/io/quarkus/it/keycloak/OidcClientTest.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
Labels: area/documentation, area/resteasy-classic, area/vertx, area/oidc, area/rest, triage/flaky-test
