Repository quarkusio/quarkus, pull requests merged in 2025-10, with the labels that each got.

#50360 Dev MCP: Make sure the config dir exist
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/mcp/McpDevUIJsonRpcService.java
Labels: area/config, triage/waiting-for-ci, triage/backport-3.27, triage/backport

#50371 HQL console: correct allow-hql config on hot reload and enter key to run query
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate-orm-hql-console.js
Labels: area/hibernate-orm, area/dev-ui

#50328 KotlinPanache: properly pass type arguments up the chain, ignore bridge methods
  extensions/panache/hibernate-orm-panache-kotlin/deployment/src/test/kotlin/io/quarkus/hibernate/orm/panache/kotlin/deployment/test/Bug50144Test.kt
  extensions/panache/panache-common/deployment/src/main/java/io/quarkus/panache/common/deployment/visitors/KotlinPanacheClassOperationGenerationVisitor.java
Labels: area/panache, triage/flaky-test

#50365 Bump keycloak to 26.4.0 and keycloak-client to 26.0.7
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfig.java
  extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakReflectionBuildStep.java
Labels: area/documentation, area/dependencies, area/keycloak, triage/flaky-test, area/docstyle

#50385 Disable by default DAP traces with Qute debugger tests.
  independent-projects/qute/debug/src/test/java/io/quarkus/qute/debug/client/DAPClient.java
  independent-projects/qute/debug/src/test/java/io/quarkus/qute/debug/client/ServerTrace.java
Labels: area/qute, area/tracing

#50387 Allow marking parameters optional in Dev UI buildtime actions
  extensions/devui/deployment-spi/src/main/java/io/quarkus/devui/spi/buildtime/BuildTimeActionBuildItem.java
  extensions/devui/deployment-spi/src/main/java/io/quarkus/devui/spi/buildtime/jsonrpc/AbstractJsonRpcMethod.java
  extensions/devui/deployment/src/main/java/io/quarkus/devui/deployment/DevUIProcessor.java
  extensions/devui/resources/src/main/resources/dev-ui/qwc/qwc-dev-mcp-tools.js
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/jsonrpc/JsonRpcMethod.java
  extensions/devui/runtime/src/main/java/io/quarkus/devui/runtime/mcp/McpToolsService.java
Labels: area/dev-ui, triage/flaky-test

#50382 Test early gRPC headers sending
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/EarlyHeaderClientInterceptor.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/EarlyHeaderServerInterceptor.java
  integration-tests/grpc-interceptors/src/test/java/io/quarkus/grpc/example/interceptors/HelloWorldServiceTestBase.java
Labels: area/grpc

#50383 Qute: fix error propagation from section helpers
  independent-projects/qute/core/src/main/java/io/quarkus/qute/CompletedStage.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/IfSectionHelper.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Results.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/SectionNode.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ErrorPropagationTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/LetTimeoutTest.java
Labels: area/qute, triage/flaky-test, triage/backport-3.27, triage/backport

#50403 Update links to Cassandra demo UI
  docs/src/main/asciidoc/cassandra.adoc
Labels: area/documentation

#50401 Correctly handle Agroal Dev UI settings in hot-reload scenarios
  extensions/agroal/deployment/src/main/java/io/quarkus/agroal/deployment/devui/AgroalDevUIProcessor.java
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/dev/HibernateOrmDevUIProcessor.java
  extensions/hibernate-orm/deployment/src/main/resources/dev-ui/hibernate-orm-hql-console.js
Labels: area/hibernate-orm, area/agroal

#50351 Fix a few issues with Java 25 compatibility and include Java 25 in CI
  .github/matrix-jvm-tests.json
  extensions/smallrye-reactive-messaging-amqp/deployment/pom.xml
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiMTLSAuthenticationRequiredDevModeTest.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/FluentApiMTLSAuthenticationRequiredTest.java
  independent-projects/resteasy-reactive/pom.xml
  integration-tests/infinispan-cache/pom.xml
  integration-tests/infinispan-client/pom.xml
  integration-tests/reactive-messaging-amqp/pom.xml
Labels: area/arc, area/infinispan, area/smallrye, area/vertx, area/reactive-messaging, area/dependencies, area/infra-automation, triage/flaky-test, triage/backport

#50420 Drop Mandrel/GraalVM 23.0 support
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/GraalVM.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core, area/housekeeping, area/native-image, triage/flaky-test

#50424 QuarkusComponentTest: add better test for InjectMock and built-in Event
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/MockInjectedEventTest.java
Labels: triage/waiting-for-ci, area/testing

#50446 Pulsar native compilation fix after grpc4 update
  extensions/smallrye-reactive-messaging-pulsar/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/pulsar/deployment/SmallRyeReactiveMessagingPulsarProcessor.java
Labels: area/smallrye, area/reactive-messaging

#50450 Enable reflection on `GeneratedMessage` and `GeneratedMessage.Builder` implementations
  extensions/grpc-common/deployment/src/main/java/io/quarkus/grpc/common/deployment/GrpcCommonProcessor.java
  extensions/grpc-common/deployment/src/main/java/io/quarkus/grpc/common/deployment/GrpcDotNames.java
Labels: area/grpc

#50462 Update Elasticsearch clients + dev service image version to 9.1.5
  bom/application/pom.xml
  build-parent/pom.xml
Labels: area/dependencies, area/elasticsearch, area/devservices

#50421 Remove long deprecated native configuration options
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassFinalFieldsWritablePredicateBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/LocaleProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
  core/deployment/src/test/java/io/quarkus/deployment/pkg/TestNativeConfig.java
  extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinProcessor.java
  integration-tests/locales/default/src/test/resources/application.properties
  integration-tests/locales/some/src/test/java/io/quarkus/locales/it/LocalesIT.java
  integration-tests/locales/some/src/test/resources/application.properties
Labels: area/core, area/kotlin, area/housekeeping, area/native-image, triage/flaky-test
