Repository quarkusio/quarkus, pull requests merged in 2025-01, with the labels that each got.

#45294 Allow to create static OIDC tenants programmatically
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/DefaultPolicyEnforcerResolver.java
  extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerUtil.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/UserInfoRequiredDetectionTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/Oidc.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfigBuilder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BackChannelLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcImpl.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigBean.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantContextFactory.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcImplTest.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcRecorderTest.java
Labels: release/noteworthy-feature, area/documentation, area/oidc, area/keycloak, area/docstyle

#45298 Add Panache Sort enums in index for SmallRye GraphQL
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
Labels: area/smallrye, area/graphql, triage/backport

#44703 [3.15] Upgrade to Hibernate ORM 6.6.3.Final
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/ClassNames.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/GraalVMFeatures.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/integration/QuarkusEnhancementContext.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/deployment/ClassNamesTest.java
  pom.xml
Labels: area/hibernate-orm

#45327 Save access token expires_in in the session cookie
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/CodeTenantReauthenticateTestCase.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/AuthorizationCodeTokens.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTokenStateManager.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
Labels: area/oidc, triage/flaky-test

#45331 Typo in MongoDB client configuration
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClientConfig.java
Labels: triage/waiting-for-ci, area/mongodb

#45171 Send SentMail Instances When Sending Emails
  extensions/mailer/deployment/src/test/java/io/quarkus/mailer/InjectionTest.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/SentMail.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/Mailers.java
  extensions/mailer/runtime/src/main/java/io/quarkus/mailer/runtime/MutinyMailerImpl.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/FakeSmtpTestBase.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerImplTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MailerWithMultipartImplTest.java
  extensions/mailer/runtime/src/test/java/io/quarkus/mailer/runtime/MockMailerImplTest.java
Labels: area/mailer, triage/flaky-test

#45295 Document when SetClassPathSystemPropBuildItem was deprecated
  core/deployment/src/main/java/io/quarkus/deployment/builditem/SetClassPathSystemPropBuildItem.java
Labels: area/core

#45228 SmallRye GraphQL 2.12.0
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/HotReloadTest.java
  tcks/microprofile-graphql/src/main/resources/overrides/createNewNullNamedHero/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/createNewUnnamedHero/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidDataTypeValue/output3.json
  tcks/microprofile-graphql/src/main/resources/overrides/invalidEnumValue/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/unknownField/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/unknownMutation/output2.json
  tcks/microprofile-graphql/src/main/resources/overrides/unknownQuery/output2.json
Labels: area/gradle, area/arc, area/smallrye, area/kotlin, area/platform, area/dependencies, area/devtools, area/graphql, triage/flaky-test

#45335 swapi.dev is down, use swapi.tech
  docs/src/main/asciidoc/context-propagation.adoc
Labels: area/documentation

#45347 security-openid-connect-multitenancy.adoc - use loginForm.getButtonByName("login") after bump to Keycloak 26
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation, area/docstyle

#45351 Fixed an issue where annotations were not part of the Jandex index, if given in an external JAR
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientAsAnOutsideDependencyTest.java
Labels: area/smallrye, area/graphql, triage/backport-3.15, triage/backport

#45310 Polish CoroutineInvocationHandler.kt
  extensions/resteasy-reactive/rest-kotlin/runtime/src/main/kotlin/org/jboss/resteasy/reactive/server/runtime/kotlin/CoroutineInvocationHandler.kt
Labels: area/rest, triage/flaky-test

#45311 Slightly improve performance of RequestMapper construction
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/mapping/RequestMapper.java
Labels: triage/flaky-test

#45321 Remove references to stream methods from Javadoc of PanacheEntityBase
  extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntityBase.java
Labels: area/panache, triage/flaky-test

#45336 QuarkusTest: veto all test classes belonging to a different test profile
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/TestsAsBeansProcessor.java
  integration-tests/main/src/test/java/io/quarkus/it/main/SharedProfileTestCase.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#45352 More HtmlUnit fixes in OIDC code flow and multi-tenancy docs
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
Labels: area/documentation, area/docstyle

#45322 Avoid initializing Netty logger too early
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxCurrentContextFactory.java
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test

#45330 Disable MongoDB Dev Services when the hosts property is provided
  docs/src/main/asciidoc/mongodb-dev-services.adoc
  extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/DevServicesMongoProcessor.java
  integration-tests/mongodb-devservices/src/main/resources/application.properties
  integration-tests/mongodb-devservices/src/test/java/io/quarkus/it/mongodb/DevServicesStartTest.java
Labels: area/documentation, area/mongodb

#45313 Conditionally log debug statement about missing factory
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/BeanContainerImpl.java
Labels: area/arc, triage/flaky-test

#45353 ArC: optimize Instance injection points
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinBean.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinScope.java
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DotNames.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/WithCaching.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/invoker/lookup/ArgumentLookupBuiltinBeansTest.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/invoker/lookup/MonstrousLookupTest.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#45355 Update wording and styling of QuarkusIntegrationTest docs
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusIntegrationTest.java
Labels: area/testing

#45356 Use empty Set when no annotation present in injection point
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanGenerator.java
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#45259 Bump kubernetes-client-bom from 6.13.4 to 7.0.1
  bom/application/pom.xml
  extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/graal/CertUtilsSubstitutions.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/graal/Fabric8VertxHttpClientFactoryDelete.java
  extensions/kubernetes-client/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/graal/NoBouncyCastleOpenSSL.java
  extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftDeployer.java
  extensions/openshift-client/runtime/src/main/java/io/quarkus/it/openshift/client/runtime/graal/MiscellaneousSubstitutions.java
  extensions/openshift-client/runtime/src/main/java/io/quarkus/it/openshift/client/runtime/graal/OperatorSubstitutions.java
  integration-tests/kubernetes-client/pom.xml
  integration-tests/kubernetes-client/src/test/java/io/quarkus/it/kubernetes/client/OpenShiftTestServerTest.java
  integration-tests/kubernetes/quarkus-standard-way-kafka/pom.xml
  integration-tests/kubernetes/quarkus-standard-way/pom.xml
  integration-tests/openshift-client/pom.xml
  integration-tests/openshift-client/src/test/java/io/quarkus/it/openshift/client/OpenShiftClientTest.java
  pom.xml
  test-framework/kubernetes-client/pom.xml
  test-framework/openshift-client/pom.xml
  test-framework/openshift-client/src/main/java/io/quarkus/test/kubernetes/client/OpenShiftMockServerTestResource.java
  test-framework/openshift-client/src/main/java/io/quarkus/test/kubernetes/client/OpenShiftServerTestResource.java
  test-framework/openshift-client/src/main/java/io/quarkus/test/kubernetes/client/OpenShiftTestServer.java
  test-framework/openshift-client/src/main/java/io/quarkus/test/kubernetes/client/WithOpenShiftTestServer.java
  test-framework/pom.xml
Labels: area/testing, area/kubernetes, area/dependencies

#45367 Make IdentityProviderManagerCreator a `@Dependent` bean as we don't need it once bean producer methods were used
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/IdentityProviderManagerCreator.java
Labels: area/security

#45366 Drop `@ConfigMapping` security interface with `BUILD_AND_RUN_TIME_FIXED` as we don't need `denyUnannotated` in the runtime config phase
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityConfig.java
  extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityBuildTimeConfig.java
Labels: area/config, area/security, triage/waiting-for-ci

#45371 Fix BuildException javadoc
  core/builder/src/main/java/io/quarkus/builder/BuildException.java
Labels: area/core, triage/flaky-test

#45220 Messaging RunOnVirtualThreads fix on class annotation
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
Labels: area/smallrye, area/reactive-messaging, triage/backport

#44959 Ensure request body is consumed so that multipart requests with large payloads never hang when exception happens before body is consumed
  extensions/resteasy-classic/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/LargeMultipartPayloadTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/LargeMultipartPayloadTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ResumingRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/AbstractResponseWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerCommonHandlers.java
Labels: area/resteasy-classic, area/vertx, area/rest, triage/flaky-test

#44978 Bring the deploying-to-heroku guide up to date
  docs/src/main/asciidoc/deploying-to-heroku.adoc
Labels: area/documentation

#45205 Update Quarkus Parameter for Disabling Uber-JAR File Name Suffix
  docs/src/main/asciidoc/getting-started-reactive.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
Labels: area/documentation

#45390 Fix typo in default LGTM dashboards
  extensions/observability-devservices/testcontainers/src/main/resources/grafana-dashboard-quarkus-micrometer-prometheus.json
Labels: area/smallrye, area/graphql, triage/backport

#45399 Convert spring-boot-properties to use @ConfigMapping
  extensions/spring-boot-properties/deployment/pom.xml
  extensions/spring-boot-properties/deployment/src/main/java/io/quarkus/spring/boot/properties/deployment/ConfigurationPropertiesProcessor.java
  extensions/spring-boot-properties/deployment/src/main/java/io/quarkus/spring/boot/properties/deployment/SpringBootPropertiesConfig.java
  extensions/spring-boot-properties/runtime/pom.xml
Labels: area/spring

#45400 Convert container-image-buildpack to @ConfigMapping
  extensions/container-image/container-image-buildpack/deployment/pom.xml
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackConfig.java
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
  extensions/container-image/container-image-buildpack/runtime/pom.xml
Labels: area/config

#32447 Introduce `Report an Issue` menu in DevUI
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/ReportIssuesProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-report-issues.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/reportissues/ReportIssuesJsonRPCService.java
Labels: area/vertx, area/dependencies, area/dev-ui, triage/needs-feedback

#45379 Disable MongoDB testing on Windows
  integration-tests/mongodb-client/pom.xml
  integration-tests/mongodb-panache-kotlin/pom.xml
  integration-tests/mongodb-panache/pom.xml
  integration-tests/mongodb-rest-data-panache/pom.xml
Labels: area/mongodb

#45387 Docs: Correct sentence in Using the MongoDB Client
  docs/src/main/asciidoc/mongodb.adoc
Labels: area/documentation

#45401 Use swapi.tech for The Star Wars API calls
  docs/src/main/asciidoc/context-propagation.adoc
Labels: area/documentation, triage/backport-3.15, triage/backport

#45326 Update default values in security-webauthn.adoc
  docs/src/main/asciidoc/security-webauthn.adoc
Labels: area/documentation, area/webauthn

#45402 Update SmallRye Health to 4.1.1
  bom/application/pom.xml
Labels: area/smallrye, area/dependencies, area/health, triage/backport

#45202 Support RunOnVirtualThread annotations on beans implementing a JAX-RS interface
  extensions/resteasy-reactive/rest-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/JaxrsMethodsProcessor.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/main/java/io/quarkus/virtual/rr/IResource.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/main/java/io/quarkus/virtual/rr/IResourceOnClass.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/main/java/io/quarkus/virtual/rr/ResourceImpl.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/main/java/io/quarkus/virtual/rr/ResourceOnClassImpl.java
  integration-tests/virtual-threads/resteasy-reactive-virtual-threads/src/test/java/io/quarkus/virtual/rr/RunOnVirtualThreadTest.java
Labels: area/rest, triage/flaky-test

#45383 Arc - tweak ContextNotActiveException for session scoped beans to mention optional enablement
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ClientProxies.java
Labels: area/arc

#45406 Revert "Take RestMulti headers and status into account when using SSE resource method"
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/headers/ResponseHeaderTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/SseEventSinkImpl.java
Labels: triage/waiting-for-ci, area/rest, triage/flaky-test

#45411 Ping Mandrel team in native-related issues/PRs
  .github/quarkus-github-bot.yml
Labels: area/infra-automation

#45265 Drop the epic management workflow
  .github/workflows/epicissues.yml
Labels: area/infra, area/infra-automation

#45195 Support custom thread pool in quartz
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzBuildTimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/scheduler, triage/waiting-for-ci

#45350 Slightly optimize Quarkus REST startup by reducing unnecessary allocations
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/startup/RuntimeDeploymentManager.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/DynamicFeatures.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/model/Features.java
Labels: area/rest, triage/flaky-test

#45419 Fix typos in deploying-to-kubernetes.adoc
  docs/src/main/asciidoc/deploying-to-kubernetes.adoc
Labels: area/documentation, triage/waiting-for-ci, triage/backport-3.15, triage/backport

#45416 Testing: add reproducer for testing bug with multi-module project and Avro
  integration-tests/test-extension/tests/src/test/java/io/quarkus/it/extension/it/TestAvroMultimoduleIT.java
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/avro-multimodule-project/module1/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/avro-multimodule-project/module1/src/main/avro/movie.avsc
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/avro-multimodule-project/module2/pom.xml
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/avro-multimodule-project/module2/src/main/java/org/acme/MovieSerde.java
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/avro-multimodule-project/module2/src/test/java/org/acme/MovieSerdeTest.java
  integration-tests/test-extension/tests/src/test/resources-filtered/projects/avro-multimodule-project/pom.xml
Labels: area/testing

#44441 make sure that @GraphQLClientApi attributes can be overriden by quarkus config
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientInjectionWithQuarkusConfigConflictingWithAnnotationTest.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/model/Testing2GraphQLClientApi.java
Labels: area/smallrye, area/graphql

#45422 [3.17] 3.17.6 backports 1
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/develocity-publish-build-scans.yml
  .github/workflows/native-it-selected-graalvm.yml
  .mvn/extensions.xml
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/Capability.java
  docs/src/main/asciidoc/context-propagation.adoc
  docs/src/main/asciidoc/getting-started-reactive.adoc
  docs/src/main/asciidoc/getting-started-testing.adoc
  docs/src/main/asciidoc/http-reference.adoc
  docs/src/main/asciidoc/maven-tooling.adoc
  docs/src/main/asciidoc/mongodb-panache.adoc
  docs/src/main/asciidoc/mongodb.adoc
  docs/src/main/asciidoc/resteasy.adoc
  extensions/grpc/runtime/pom.xml
  extensions/observability-devservices/testcontainers/src/main/resources/grafana-dashboard-quarkus-micrometer-otlp.json
  extensions/observability-devservices/testcontainers/src/main/resources/grafana-dashboard-quarkus-micrometer-prometheus.json
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevUIProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevJsonRpcService.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevUiRecorder.java
  extensions/resteasy-classic/resteasy-multipart/deployment/src/test/java/io/quarkus/resteasy/multipart/LargeMultipartPayloadTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/LargeMultipartPayloadTest.java
  extensions/smallrye-graphql-client/deployment/src/main/java/io/quarkus/smallrye/graphql/client/deployment/SmallRyeGraphQLClientProcessor.java
  extensions/smallrye-graphql-client/deployment/src/test/java/io/quarkus/smallrye/graphql/client/deployment/TypesafeGraphQLClientAsAnOutsideDependencyTest.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/QuarkusMediatorConfigurationUtil.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ProxyConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ResumingRequestWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/AbstractResponseWrapper.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/HttpServerCommonHandlers.java
  independent-projects/bootstrap/pom.xml
  pom.xml
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
Labels: area/documentation, area/core, area/resteasy-classic, area/smallrye, area/infra, area/vertx, area/testing, area/reactive-messaging, area/oidc, area/dependencies, area/devtools, area/infra-automation, area/grpc, area/graphql, area/rest, triage/flaky-test

#45437 Do not use grep -q when calculating the matrix
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation

#45425 Move scheduler and quartz extensions to ConfigMapping
  extensions/quartz/deployment/pom.xml
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  extensions/quartz/runtime/pom.xml
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzBuildTimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzExtensionPointConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRuntimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/scheduler/deployment/pom.xml
  extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java
  extensions/scheduler/runtime/pom.xml
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerConfig.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerRecorder.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerRuntimeConfig.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler

#45439 OpenTelemetry: fix the Redis instrumenter in case of a tainted connection
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/intrumentation/vertx/RedisClientInstrumenterVertxTracer.java
  integration-tests/opentelemetry-redis-instrumentation/src/main/java/io/quarkus/io/opentelemetry/RedisResource.java
  integration-tests/opentelemetry-redis-instrumentation/src/test/java/io/quarkus/it/opentelemetry/QuarkusOpenTelemetryRedisTest.java
Labels: area/redis, area/tracing, triage/flaky-test, triage/backport-3.15, triage/backport

#45421 add justfile with recommended/suggest build aliases
  .github/workflows/ci-actions-incremental.yml
  .justfile
  CONTRIBUTING.md
Labels: area/infra-automation, triage/flaky-test

#45180 Add support for ping message callbacks to WebSockets Next
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/Callback.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/CallbackArgument.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketDotNames.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketEndpointBuildItem.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/WebSocketProcessor.java
  extensions/websockets-next/deployment/src/main/java/io/quarkus/websockets/next/deployment/devui/WebSocketServerDevUIProcessor.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/BasicConnectorTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/client/ClientEndpointTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/pingpong/ClientAutoPingIntervalTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/pingpong/ClientPingServerPongTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/pingpong/ServerAutoPingIntervalTest.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/BasicWebSocketConnector.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/OnPingMessage.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocket.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/WebSocketClient.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/BasicWebSocketConnectorImpl.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketEndpoint.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/WebSocketEndpointBase.java
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/telemetry/ForwardingWebSocketEndpoint.java
Labels: area/documentation, area/websockets

#45452 Remove RenardeCookieFilter now that upstream is fixed
  docs/src/main/asciidoc/security-webauthn.adoc
  integration-tests/security-webauthn/src/test/java/io/quarkus/it/security/webauthn/test/RenardeCookieFilter.java
  integration-tests/security-webauthn/src/test/java/io/quarkus/it/security/webauthn/test/WebAuthnResourceTest.java
Labels: area/documentation

#45443 Remove references to removed WithOpenShiftTestServer functionality
  docs/src/main/asciidoc/kubernetes-client.adoc
  integration-tests/openshift-client/src/test/java/io/quarkus/it/openshift/client/KubernetesTestServerTest.java
  integration-tests/openshift-client/src/test/java/io/quarkus/it/openshift/client/OpenShiftClientTest.java
Labels: area/documentation

#45455 [3.15] Enforce Ubuntu 22.04 images for 3.15
  .github/matrix-jvm-tests.json
  .github/native-tests.json
  .github/virtual-threads-tests.json
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/ci-istio.yml
  .github/workflows/ci-kubernetes.yml
  .github/workflows/ci-sanity-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/develocity-publish-build-scans.yml
  .github/workflows/doc-build.yml
  .github/workflows/epicissues.yml
  .github/workflows/jakarta-rewrite.yml.disabled
  .github/workflows/jdk-early-access-build.yml
  .github/workflows/native-it-selected-graalvm.yml
  .github/workflows/owasp-check.yml
  .github/workflows/podman-build.yml
  .github/workflows/preview-teardown.yml
  .github/workflows/preview.yml
  .github/workflows/publish-3.0.yml.disabled
  .github/workflows/quarkus-github-bot-lint.yml
  .github/workflows/release-build.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/vale.yml
Labels: area/infra-automation, triage/flaky-test

#45454 [3.17] Enforce Ubuntu 22.04 images for 3.17
  .github/matrix-jvm-tests.json
  .github/native-tests.json
  .github/virtual-threads-tests.json
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/ci-istio.yml
  .github/workflows/ci-kubernetes.yml
  .github/workflows/ci-sanity-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/develocity-publish-build-scans.yml
  .github/workflows/doc-build.yml
  .github/workflows/epicissues.yml
  .github/workflows/jakarta-rewrite.yml.disabled
  .github/workflows/jdk-early-access-build.yml
  .github/workflows/native-it-selected-graalvm.yml
  .github/workflows/owasp-check.yml
  .github/workflows/podman-build.yml
  .github/workflows/preview-teardown.yml
  .github/workflows/preview.yml
  .github/workflows/publish-3.0.yml.disabled
  .github/workflows/quarkus-github-bot-lint.yml
  .github/workflows/release-build.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/vale.yml
Labels: area/infra-automation, triage/flaky-test

#45445 Slightly optimize ObjectMapper producer
  extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/ObjectMapperProducer.java
Labels: triage/waiting-for-ci, area/jackson, triage/flaky-test

#45466 Disable SmallRye Fault Tolerance testing for now
  extensions/smallrye-fault-tolerance/deployment/pom.xml
Labels: area/smallrye, area/fault-tolerance

#45457 [3.8] Enforce Ubuntu 22.04 images for 3.8
  .github/matrix-jvm-tests.json
  .github/native-tests.json
  .github/virtual-threads-tests.json
  .github/workflows/ci-actions-incremental.yml
  .github/workflows/ci-fork-mvn-cache.yml
  .github/workflows/ci-istio.yml
  .github/workflows/ci-kubernetes.yml
  .github/workflows/ci-sanity-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-snapshots.yml
  .github/workflows/develocity-publish-build-scans.yml
  .github/workflows/doc-build.yml
  .github/workflows/epicissues.yml
  .github/workflows/jakarta-rewrite.yml.disabled
  .github/workflows/jdk-early-access-build.yml
  .github/workflows/owasp-check.yml
  .github/workflows/podman-build.yml
  .github/workflows/preview-teardown.yml
  .github/workflows/preview.yml
  .github/workflows/publish-3.0.yml.disabled
  .github/workflows/quarkus-github-bot-lint.yml
  .github/workflows/release-build.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/vale.yml
Labels: area/infra-automation

#45453 Remove deprecated start-mode from quartz
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/DependentBeanJobTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/HaltedSchedulerTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/InjectJobTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/InjectQuartzSchedulerTest.java
  extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/subclass/InterceptedJobClassTest.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzRuntimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzStartMode.java
Labels: area/scheduler

#45471 Update code to get Mandrel version from native executable
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, triage/waiting-for-ci, area/native-image, triage/backport-3.8, triage/backport-3.15, triage/backport

#45475 Add `mbladel` to GitHub integrations for Hibernate ORM
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#45465 Dev UI Arc: Make grid cols sortable
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-beans.js
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-interceptors.js
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-observers.js
  extensions/arc/deployment/src/main/resources/dev-ui/qwc-arc-removed-components.js
Labels: area/arc, triage/waiting-for-ci, triage/flaky-test

#45448 Bump DB2 Driver to 12.1.0.0
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/NioSocketImplProcessor.java
  extensions/jdbc/jdbc-db2/deployment/pom.xml
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JakartaEnablement.java
Labels: area/core, triage/waiting-for-ci, area/dependencies, triage/flaky-test, area/jdbc

#45438 Use empty default values when building no-op CP instance
  bom/application/pom.xml
  extensions/smallrye-context-propagation/runtime/src/main/java/io/quarkus/smallrye/context/runtime/SmallRyeContextPropagationRecorder.java
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/context-propagation, triage/flaky-test

#45480 Minor cleanup in quartz
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
Labels: area/scheduler

#45014 Fix issues in RegisterForReflection#registerFullHierarchy() handling
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterForReflection.java
Labels: area/core, triage/flaky-test, triage/backport

#45442 Move BasicAuthenticationMechanism to synthetic bean
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/BasicAuthenticationMechanism.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test

#45461 Dev UI: Add filter for extension cards
  bom/dev-ui/pom.xml
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-extensions.js
Labels: area/vertx, area/dependencies

#45488 Remove non needed optionals in sched config
  extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzBuildTimeConfig.java
  extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSchedulerImpl.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SchedulerRuntimeConfig.java
  extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java
Labels: area/scheduler

#45434 Produce `quarkus.uuid` lazily
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/ConfigConfig.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeConfigBuilder.java
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/QuarkusConfigTest.java
Labels: area/core, area/config, triage/waiting-for-ci, triage/flaky-test

#45486 Remove `yq` installation step from GitHub Actions workflows
  independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus-extension/code/quarkiverse/java/.github/workflows/quarkus-snapshot.tpl.qute.yaml
  integration-tests/maven/src/test/resources/__snapshots__/CreateExtensionMojoIT/testCreateQuarkiverseExtension/quarkus-my-quarkiverse-ext_.github_workflows_quarkus-snapshot.yaml
Labels: area/maven, triage/waiting-for-ci, area/platform, area/devtools, triage/backport

#45467 Add FAQ about thread dumps in native reference guide
  docs/src/main/asciidoc/native-reference.adoc
Labels: area/documentation, area/native-image, triage/backport-3.8, triage/backport-3.15, triage/backport

#45431 Override defaults from build time that also apply to runtime
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/tracker/ConfigTrackingWriter.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigRecorder.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevUIProcessor.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/EndpointsProcessor.java
  integration-tests/test-extension/extension/deployment/src/main/java/io/quarkus/extest/deployment/TestProcessor.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/OverrideBuildDefaultInRuntimeTest.java
Labels: area/core, area/config, area/vertx, area/oidc, triage/flaky-test

#45424 Bump smallrye-open-api.version from 4.0.5 to 4.0.6
  bom/application/pom.xml
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, triage/flaky-test, triage/backport

#45484 Add new state-based method for deciding if tests should run in a new classloader
  test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java
  test-framework/common/src/test/java/io/quarkus/test/common/TestResourceManagerReloadTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/TestResourceUtil.java
  test-framework/junit5/src/test/java/io/quarkus/test/junit/TestResourceUtilTest.java
Labels: area/testing, triage/flaky-test

#45408 Make Quarkus REST Jackson beans ApplicationScoped
  extensions/resteasy-reactive/rest-jackson/deployment/src/main/java/io/quarkus/resteasy/reactive/jackson/deployment/processor/ResteasyReactiveJacksonProcessor.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/AbstractServerJacksonMessageBodyReader.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/BasicServerJacksonMessageBodyWriter.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyReader.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/FullyFeaturedServerJacksonMessageBodyWriter.java
  extensions/resteasy-reactive/rest-jackson/runtime/src/main/java/io/quarkus/resteasy/reactive/jackson/runtime/serialisers/ServerJacksonMessageBodyReader.java
Labels: area/rest, triage/flaky-test

#45501 Analytics: report Quarkus platform as CUSTOM when it's not recognized
  independent-projects/tools/analytics-common/src/main/java/io/quarkus/analytics/AnalyticsService.java
Labels: area/platform, area/devtools

#45487 Fix Quarkus platform BOM version info collection for analytics
  independent-projects/bootstrap/app-model/src/main/java/io/quarkus/bootstrap/model/PlatformImportsImpl.java
Labels: area/platform, area/devtools, triage/flaky-test, triage/backport-3.15, triage/backport

#45510 Change the (implicitly static) field data in interface SomeResponse to an instance-method
  docs/src/main/asciidoc/rest.adoc
Labels: area/documentation

#45432 Change Keycloak admin login ENV variables
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-multitenancy.adoc
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesProcessor.java
  test-framework/keycloak-server/src/main/java/io/quarkus/test/keycloak/server/KeycloakContainer.java
Labels: area/documentation, area/testing, area/docstyle

#45516 Convert vertx-graphql to use @ConfigMapping
  extensions/vertx-graphql/deployment/pom.xml
  extensions/vertx-graphql/deployment/src/main/java/io/quarkus/vertx/graphql/deployment/VertxGraphqlConfig.java
  extensions/vertx-graphql/deployment/src/main/java/io/quarkus/vertx/graphql/deployment/VertxGraphqlProcessor.java
  extensions/vertx-graphql/runtime/pom.xml
Labels: area/smallrye, area/vertx, area/graphql

#45517 Make scheduler timezone documentation consistent with javadoc
  docs/src/main/asciidoc/scheduler-reference.adoc
Labels: area/documentation

#45505 Move yrodiere from Bot notifications to Lottery reports
  .github/quarkus-github-bot.yml
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#45337 Use access token expires_in to refresh code flow tokens
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/CodeFlowTokenIntrospectionExpiresInResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
Labels: area/oidc

#45492 Take follow-redirects config into account for programmatic client created
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/redirect/RedirectTestForProgrammaticClientWithGlobalConfigTest.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
Labels: area/rest-client, release/breaking-change, area/rest

#45523 Fix Mongo health checks
  extensions/mongodb-client/deployment/pom.xml
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/MongoClientConfigTest.java
  extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/NoConnectionHealthCheckTest.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/health/MongoHealthCheck.java
  extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/MongoClients.java
Labels: triage/waiting-for-ci, area/mongodb, triage/backport-3.15, triage/backport

#45527 Register Parallel Database Query related elements for reflection
  extensions/jdbc/jdbc-db2/deployment/src/main/java/io/quarkus/jdbc/db2/deployment/JDBCDB2Processor.java
Labels: area/jdbc

#45529 Remove unused context parameter in VertxClientInputStream
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/VertxClientInputStream.java
Labels: area/vertx, triage/waiting-for-ci

#45526 ArC: optimize "List all" injection points
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinBean.java
Labels: area/arc, triage/waiting-for-ci

#45535 Register elements accessed by jsonb for native access
  extensions/jsonb/deployment/src/main/java/io/quarkus/jsonb/deployment/JsonbProcessor.java
Labels: triage/waiting-for-ci

#45518 Remove erroneous state tracking from client readers/writers
  extensions/resteasy-reactive/rest-client-jackson/runtime/src/main/java/io/quarkus/rest/client/reactive/jackson/runtime/serialisers/ClientJacksonMessageBodyReader.java
  extensions/resteasy-reactive/rest-client-jackson/runtime/src/main/java/io/quarkus/rest/client/reactive/jackson/runtime/serialisers/ClientJacksonMessageBodyWriter.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientReaderInterceptorContextImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientSerialisers.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientWriterInterceptorContextImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/ClientMessageBodyReader.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/spi/ClientMessageBodyWriter.java
Labels: area/rest, triage/backport-3.15, triage/backport

#44924 Update SmallRye Config to 3.11.1
  bom/application/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigMappingUtils.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/ConfigGenerationBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/DeprecatedRuntimePropertiesRecorder.java
  core/runtime/src/main/java/io/quarkus/runtime/configuration/PropertiesUtil.java
  devtools/gradle/gradle/libs.versions.toml
  extensions/hibernate-validator/deployment/src/test/java/io/quarkus/hibernate/validator/test/config/ConfigMappingInvalidTest.java
  extensions/hibernate-validator/deployment/src/test/resources/application-mappings-validation.properties
  extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/config/runtime/KubernetesConfigSourceFactory.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/DependenciesProcessor.java
  integration-tests/hibernate-validator-resteasy-reactive/src/test/java/io/quarkus/it/hibernate/validator/ConfigMappingStartupValidatorTest.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Cloud.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/Prod.java
  integration-tests/smallrye-config/src/main/java/io/quarkus/it/smallrye/config/ServerResource.java
  integration-tests/smallrye-config/src/main/resources/application.yaml
  integration-tests/smallrye-config/src/test/java/io/quarkus/it/smallrye/config/ServerResourceTest.java
Labels: area/gradle, area/core, area/config, area/hibernate-validator, area/vertx, release/breaking-change, area/dependencies, area/devtools, dependencies, triage/flaky-test

#45504 ArC - recognize conversation scope as built-in scope with no context impl
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuiltinScope.java
  independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ClientProxies.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/conversation/ConversationBean.java
  independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/contexts/conversation/ConversationContextTest.java
Labels: area/arc, triage/flaky-test

#45544 Update google cloud README files in integration-tests to use java21 runtime
  integration-tests/funqy-google-cloud-functions/README.md
  integration-tests/google-cloud-functions-http/README.md
Labels: area/google-cloud-functions

#45543 SmallRye Fault Tolerance: few tiny improvements of FT scanner
  extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/FaultToleranceScanner.java
Labels: area/smallrye, triage/waiting-for-ci, area/fault-tolerance

#45538 Replace deprecated Vert.x Pump use in REST Client
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
Labels: area/vertx, area/rest-client, triage/waiting-for-ci

#45528 Register public constructors for Narayana classes
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageReflectConfigStep.java
  extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java
Labels: area/core, area/narayana, triage/flaky-test

#45540 Don't load JDBC drivers through the service loader without using them
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
Labels: area/agroal, triage/flaky-test

#45512 Add a cache for class proxies in BytecodeRecorderImpl
  core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java
Labels: area/core, triage/flaky-test, triage/backport

#45542 Check for Java 17 as a base, remove isJava11OrHigher method
  core/deployment/src/main/java/io/quarkus/deployment/QuarkusAugmentor.java
  core/runtime/src/main/java/io/quarkus/runtime/util/JavaVersionUtil.java
  core/runtime/src/test/java/io/quarkus/runtime/util/JavaVersionUtilTest.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test

#45550 Convert google-cloud-functions to use @ConfigMapping
  extensions/google-cloud-functions/deployment/pom.xml
  extensions/google-cloud-functions/runtime/pom.xml
  extensions/google-cloud-functions/runtime/src/main/java/io/quarkus/gcp/functions/GoogleCloudFunctionRecorder.java
  extensions/google-cloud-functions/runtime/src/main/java/io/quarkus/gcp/functions/GoogleCloudFunctionsConfig.java
Labels: area/google-cloud-functions

#45547 DevUICORSFilter - Do not log errors for Chrome extensions
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/DevUICORSFilter.java
Labels: area/vertx, triage/flaky-test

#45426 Conditionalize references to OAuth2
  docs/src/main/asciidoc/security-authentication-mechanisms.adoc
  docs/src/main/asciidoc/security-identity-providers.adoc
Labels: area/documentation, area/docstyle

#45564 fix: possible NPE if data has not been set yet
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/devmode/ResourceNotFoundData.java
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test, triage/backport-3.15, triage/backport

#45553 Convert container-image-jib to use @ConfigMapping
  extensions/container-image/container-image-jib/deployment/pom.xml
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/ContainerImageJibConfig.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-jib/runtime/pom.xml
Labels: area/config, area/container-image

#45545 Avoiding confusing OIDC debug message for default tenant
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java
Labels: area/oidc

#45548 Avoid NPE when recording ConfigValue
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  integration-tests/test-extension/extension/deployment/src/test/java/io/quarkus/extest/ConfigMappingTest.java
  integration-tests/test-extension/extension/runtime/src/main/java/io/quarkus/extest/runtime/config/TestMappingBuildTimeRunTime.java
Labels: area/core, area/config, triage/flaky-test

#45575 Ignore issues/PRs labelled as "on ice" for the lottery
  .github/quarkus-github-lottery.yml
Labels: area/infra-automation

#45563 Avoid `quarkus.uuid` reported as unknown
  core/runtime/src/main/java/io/quarkus/runtime/configuration/RuntimeConfigBuilder.java
Labels: area/core, area/config, triage/flaky-test

#45566 Removal of legacy code related to unsupported Java 13 and 16 version
  core/deployment/src/main/java/io/quarkus/deployment/dev/DevModeCommandLineBuilder.java
  core/runtime/src/main/java/io/quarkus/runtime/util/JavaVersionUtil.java
  core/runtime/src/test/java/io/quarkus/runtime/util/JavaVersionUtilTest.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
Labels: area/gradle, area/core, area/maven, area/devtools, triage/flaky-test

#45520 Rest client per CDI injected client logging configuration
  docs/src/main/asciidoc/rest-client.adoc
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientBuilderImpl.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientCDIDelegateBuilder.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/api/QuarkusRestClientProperties.java
Labels: area/documentation, area/resteasy-classic, area/rest-client, area/rest, triage/flaky-test

#45576 Revert "[oracle-jdbc] Remove unnecessary conditionals from @BuildSteps in the Oracle JDBC extension"
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/ExtendedCharactersSupport.java
  extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java
Labels: triage/waiting-for-ci, area/jdbc, triage/backport-3.15, triage/backport

#45569 Close stream when client responds with an entity
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientResponseCompleteRestHandler.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
Labels: triage/flaky-test

#45530 Minor JWT quickstart doc updates
  docs/src/main/asciidoc/security-jwt.adoc
Labels: area/documentation

#45586 Elytron security LDAP: Document and test mapping of LDAP groups to SecurityIdentity roles
  docs/src/main/asciidoc/security-ldap.adoc
  integration-tests/elytron-security-ldap/src/main/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapResource.java
  integration-tests/elytron-security-ldap/src/main/resources/application.properties
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronLdapExtensionTestResources.java
  integration-tests/elytron-security-ldap/src/test/java/io/quarkus/elytron/security/ldap/it/ElytronSecurityLdapTest.java
Labels: area/documentation, area/security, area/testing, triage/backport-3.15

#45588 Update OIDC DB TokenStateManager to keep access token expires_in
  extensions/oidc-db-token-state-manager/deployment/src/main/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerProcessor.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/AbstractDbTokenStateManagerTest.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerEntity.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/OidcDbTokenStateManagerResource.java
  extensions/oidc-db-token-state-manager/deployment/src/test/java/io/quarkus/oidc/db/token/state/manager/ProtectedResource.java
  extensions/oidc-db-token-state-manager/runtime/src/main/java/io/quarkus/oidc/db/token/state/manager/runtime/OidcDbTokenStateManager.java
Labels: area/oidc

#45583 Adjust logging level for JDBC resource leak warnings
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalEventLoggingListener.java
Labels: triage/waiting-for-ci, area/agroal, triage/backport-3.15, triage/backport

#44993 Support OidcProviderClient injection and token revocation
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcConstants.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcConfigurationMetadata.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcProviderClient.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DynamicVerificationKeyResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/LazyTenantConfigContext.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfigurationAndProviderProducer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcConfigurationMetadataProducer.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClientImpl.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContext.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantConfigContextImpl.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantContextFactory.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcProviderTest.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java
  integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java
  integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java
  integration-tests/oidc-wiremock-logout/pom.xml
  integration-tests/oidc-wiremock-logout/src/main/java/io/quarkus/it/keycloak/SecurityEventListener.java
  integration-tests/oidc-wiremock-logout/src/main/resources/application.properties
  integration-tests/oidc-wiremock-logout/src/test/java/io/quarkus/it/keycloak/CodeFlowAuthorizationTest.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
Labels: release/noteworthy-feature, area/documentation, triage/waiting-for-ci, area/oidc, area/docstyle

#35324 OIDC dev services and ui changes
  .github/native-tests.json
  bom/application/pom.xml
  docs/src/main/asciidoc/images/dev-ui-oidc-dev-svc-login-for-custom-users.png
  docs/src/main/asciidoc/images/dev-ui-oidc-dev-svc-login-page.png
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesProcessor.java
  extensions/devservices/oidc/pom.xml
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesConfig.java
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesConfigBuildItem.java
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesProcessor.java
  extensions/devservices/pom.xml
  extensions/oidc/deployment/pom.xml
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevUIProcessor.java
  extensions/oidc/deployment/src/main/resources/dev-ui/qwc-oidc-provider.js
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevJsonRpcService.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevLoginObserver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevSessionCookieReaderHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevSessionLogoutHandler.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevUiRecorder.java
  integration-tests/oidc-dev-services/pom.xml
  integration-tests/oidc-dev-services/src/main/java/io/quarkus/it/oidc/dev/services/SecuredResource.java
  integration-tests/oidc-dev-services/src/main/resources/application.properties
  integration-tests/oidc-dev-services/src/test/java/io/quarkus/it/oidc/dev/services/BearerAuthenticationOidcDevServicesIT.java
  integration-tests/oidc-dev-services/src/test/java/io/quarkus/it/oidc/dev/services/BearerAuthenticationOidcDevServicesTest.java
  integration-tests/oidc-dev-services/src/test/java/io/quarkus/it/oidc/dev/services/CodeFlowOidcDevServicesTest.java
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/documentation, triage/waiting-for-ci, area/oidc, area/devtools, triage/flaky-test, area/docstyle

#45601 Avoid ambiguous names when matching unknown configuration
  core/deployment/src/main/java/io/quarkus/deployment/configuration/BuildTimeConfigurationReader.java
  core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java
Labels: area/core, area/config, triage/flaky-test

#45587 Use StringBuilder instead of indyfied concat
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FixedProducesHandler.java
Labels: triage/waiting-for-ci, triage/flaky-test

#45578 Fix: trust store config is overwritten by key store config while certificate reloading
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/certReload/MainHttpServerMtlsPKCS12CertificateReloadTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/options/TlsCertificateReloader.java
Labels: area/vertx, triage/flaky-test, triage/backport

#45603 Fix broken link to javadoc in RestClient Guide
  docs/src/main/asciidoc/rest-client.adoc
Labels: area/documentation, triage/waiting-for-ci

#45593 Copy `Configuration` when building a JAX-RS `Client`
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderImpl.java
  independent-projects/resteasy-reactive/client/runtime/src/test/java/org/jboss/resteasy/reactive/client/impl/ClientBuilderTest.java
Labels: area/config, triage/backport-3.15, triage/backport

#45604 Remove unused NativeImageFeatureUtils
  core/runtime/src/main/java/io/quarkus/runtime/NativeImageFeatureUtils.java
Labels: area/core, triage/waiting-for-ci, area/native-image, triage/flaky-test

#45609 Allow null for query parameters in Kotlin panache
  extensions/panache/hibernate-orm-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/orm/panache/kotlin/PanacheRepositoryBase.kt
  extensions/panache/hibernate-reactive-panache-kotlin/runtime/src/main/kotlin/io/quarkus/hibernate/reactive/panache/kotlin/PanacheRepositoryBase.kt
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/AddressDao.kt
  integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/PersonRepository.kt
Labels: area/panache

#45589 Update OIDC Redis TokenStateManager to keep access token expires_in
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/AbstractRedisTokenStateManagerTest.java
  extensions/oidc-redis-token-state-manager/deployment/src/test/java/io/quarkus/oidc/redis/token/state/manager/deployment/ProtectedResource.java
  extensions/oidc-redis-token-state-manager/runtime/src/main/java/io/quarkus/oidc/redis/token/state/manager/runtime/OidcRedisTokenStateManager.java
Labels: area/oidc

#45610 Remove the use of UUID in startup code
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test

#45614 Replace JavaVersion.VERSION_11 with JavaVersion.VERSION_21 in kotlin guide
  docs/src/main/asciidoc/kotlin.adoc
Labels: area/documentation

#45612 Fix typo
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/echarts/echarts-horizontal-stacked-bar.js
Labels: area/vertx, triage/flaky-test

#45629 Fix missing addChannel flag usage
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientBuildItem.java
Labels: area/grpc

#45626 docs: more explicit examples
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation

#45630 Fix file handling in REST Client
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/FileDownloadTest.java
  independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java
Labels: area/rest-client, triage/waiting-for-ci, triage/backport

#45478 Add helper methods for manual spans in mutiny pipelines
  docs/src/main/asciidoc/opentelemetry-tracing.adoc
  extensions/opentelemetry/deployment/pom.xml
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/traces/MutinyTracingHelperTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/mutiny/MutinyTracingHelper.java
Labels: area/documentation, area/tracing, triage/flaky-test

#45607 Bump strimzi-test-container version from 0.107.0 to 0.109.1
  bom/application/pom.xml
  bom/test/pom.xml
  integration-tests/kafka-oauth-keycloak/src/test/java/io/quarkus/it/kafka/KafkaKeycloakTestResource.java
  integration-tests/kafka-oauth-keycloak/src/test/resources/kafkaServer.properties
  integration-tests/kafka-sasl-elytron/src/test/java/io/quarkus/it/kafka/KafkaSaslTestResource.java
  integration-tests/kafka-sasl-elytron/src/test/resources/kafkaServer.properties
  integration-tests/kafka-sasl/src/test/java/io/quarkus/it/kafka/KafkaSASLTestResource.java
  integration-tests/kafka-sasl/src/test/resources/server.properties
  integration-tests/kafka-ssl/src/test/java/io/quarkus/it/kafka/KafkaSSLTestResource.java
  integration-tests/kafka-ssl/src/test/resources/server.properties
  integration-tests/kafka-streams/src/test/java/io/quarkus/it/kafka/streams/KafkaSSLTestResource.java
  integration-tests/kafka-streams/src/test/resources/server.properties
Labels: triage/waiting-for-ci, area/kafka-streams, area/kafka, area/dependencies, triage/flaky-test

#45613 Use VertxLogDelegateFactory for internal Vert.x logging
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/vertx, triage/flaky-test

#45621 OIDC: reuse shared Vert.x instance in DEV and test mode whenever it is possible
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/AbstractDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/OidcDevUIProcessor.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevUIProcessor.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevJsonRpcService.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/devui/OidcDevUiRecorder.java
  integration-tests/oidc-mtls/src/test/java/io/quarkus/it/oidc/OidcMtlsTest.java
  test-framework/oidc-server/src/main/java/io/quarkus/test/oidc/client/OidcTestClient.java
Labels: area/testing, area/oidc

#45628 OIDC: document and use OidcTestClient to get access token from Dev Services for OIDC
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesConfig.java
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesProcessor.java
  integration-tests/oidc-dev-services/pom.xml
  integration-tests/oidc-dev-services/src/main/resources/application.properties
  integration-tests/oidc-dev-services/src/test/java/io/quarkus/it/oidc/dev/services/BearerAuthenticationOidcDevServicesTest.java
Labels: area/documentation, triage/waiting-for-ci, area/docstyle

#45611 Switch to runtime initialization instead of rerun
  core/deployment/src/main/java/io/quarkus/deployment/NioSocketImplProcessor.java
  core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/RuntimeReinitializedClassBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageFeatureStep.java
Labels: area/core, area/native-image, triage/flaky-test

#45648 Enable public access to OidcProviderClientImpl#getWebClient
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProviderClientImpl.java
Labels: area/oidc, triage/backport

#41686 Enable io.netty.allocator.disableCacheFinalizersForFastThreadLocalThreads
  extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java
Labels: triage/waiting-for-ci, triage/flaky-test, area/netty

#45620 Improvements to the Grafana LGTM dashboards I
  extensions/observability-devservices/common/src/main/java/io/quarkus/observability/common/ContainerConstants.java
  extensions/observability-devservices/testcontainers/src/main/java/io/quarkus/observability/testcontainers/LgtmContainer.java
  extensions/observability-devservices/testcontainers/src/main/java/io/quarkus/observability/testcontainers/ObservabilityContainer.java
Labels: area/tracing, area/metrics, triage/backport

#45649 Make methods of reachable hibernate services reflectively queryable
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/graal/RegisterServicesForReflectionFeature.java
Labels: triage/waiting-for-ci, area/hibernate-orm, area/native-image, triage/flaky-test

#45646 Getting Started with Security updates
  docs/src/main/asciidoc/security-getting-started-tutorial.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.17, triage/backport

#45640 Fix Otel logging message formatting
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/logs/OtelLoggingTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/logs/OpenTelemetryLogHandler.java
Labels: area/logging, triage/flaky-test, triage/backport-3.17, triage/backport

#45658 Mark quarkus-oidc-client-registration as experimental in doc
  docs/src/main/asciidoc/security-openid-connect-client-registration.adoc
Labels: area/documentation, triage/backport-3.17, triage/backport
