Repository quarkusio/quarkus, pull requests merged in 2025-04, with the labels that each got.

#47076 Ensure gRPC server starts after Otel is configured (if applicable)
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  integration-tests/opentelemetry-grpc-only/pom.xml
  integration-tests/opentelemetry-grpc-only/src/main/java/io/quarkus/it/opentelemetry/grpc/HelloGrpcService.java
  integration-tests/opentelemetry-grpc-only/src/main/proto/hello.proto
  integration-tests/opentelemetry-grpc-only/src/main/resources/application.properties
  integration-tests/opentelemetry-grpc-only/src/test/java/io/quarkus/it/opentelemetry/grpc/HelloGrpcClientTest.java
  integration-tests/pom.xml
Labels: area/grpc

#47080 Qute: treat empty optional as falsy value
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Booleans.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/BooleansTest.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/IfSectionTest.java
Labels: area/documentation, triage/waiting-for-ci, area/qute

#47085 Fix typo in writing-extensions.adoc
  docs/src/main/asciidoc/writing-extensions.adoc
Labels: area/documentation

#47099 Adds RabbitmqClientConfigCustomizer as unremovable bean
  extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/SmallRyeReactiveMessagingRabbitMQProcessor.java
Labels: area/smallrye, area/reactive-messaging, triage/backport, triage/backport-3.20

#47097 Prevent config diagnostic warnings from quarkus CLI itself
  devtools/cli/src/main/resources/application.properties
Labels: area/devtools, area/cli

#47079 Rename backing field of QuarkusRestClientBuilderImpl
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/QuarkusRestClientBuilder.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/QuarkusRestClientBuilderImpl.java
Labels: area/rest-client, area/rest

#47103 Adding buildpack config options to container image docs
  docs/src/main/asciidoc/container-image.adoc
Labels: area/documentation

#47025 Only set eventLoopGroup on GRPC if native transports not enabled
  extensions/grpc/deployment/src/test/java/io/quarkus/grpc/client/MutinyStubInjectionTest.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
Labels: area/grpc, triage/flaky-test

#47049 quarkus-tls-registry 'javax.net.ssl' causes "java.lang.IllegalStateException: No CN or OU in O=xxx,C=xxx" and crashs quarkus application starts
  extensions/tls-registry/runtime/pom.xml
  extensions/tls-registry/runtime/src/main/java/io/quarkus/tls/runtime/JavaxNetSslTrustStoreProvider.java
  extensions/tls-registry/runtime/src/test/java/io/quarkus/tls/runtime/JavaxNetSslTrustStoreProviderTest.java
  extensions/tls-registry/runtime/src/test/resources/JavaxNetSslTrustStoreProviderTest.jks
Labels: triage/flaky-test, triage/backport, triage/backport-3.20

#47104 Ensure that exceptions that happen extremely early in CLI boot are logged
  core/runtime/src/main/java/io/quarkus/runtime/Quarkus.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test, triage/backport

#47111 Polish GracefulShutdownFilter
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/GracefulShutdownFilter.java
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test

#47100 Qute: fix nested literal separator in a virtual method parameter
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/TypeInfos.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/StringTemplateExtensionsTest.java
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Expressions.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
Labels: triage/waiting-for-ci, area/qute, triage/flaky-test, triage/backport, triage/backport-3.20

#47114 Disable OIDC Dev Services tests on Windows
  integration-tests/oidc-dev-services/pom.xml
Labels: area/oidc, env/windows, area/devservices

#47094 Allow for RoutingContext to be injected into gRPC service
  docs/src/main/asciidoc/grpc-service-implementation.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/Interceptors.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/context/RoutingContextGrpcInterceptor.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/HelloWorldService.java
Labels: area/documentation, area/grpc, triage/flaky-test

#47120 Allow sub resource classes to have type parameters again
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/SubResourceParameterizedClassTest.java
Labels: area/rest, triage/flaky-test, triage/backport

#47131 Upgrade Stork to 2.7.2
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/stork, triage/flaky-test, triage/backport, triage/backport-3.20

#47135 Configure OTel log level
  docs/src/main/asciidoc/opentelemetry-logging.adoc
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/logs/OtelLoggingFileTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/logs/OtelLoggingHandlerLevelTest.java
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/logs/OtelLoggingTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/config/runtime/LogsRuntimeConfig.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/logs/OpenTelemetryLogRecorder.java
Labels: area/documentation, area/tracing, triage/flaky-test

#47139 Prevent false positive on quarkus.generate-code.grpc.kotlin.generate
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcCodeGenConfig.java
Labels: area/grpc, triage/flaky-test

#47136 Qute: section parameters are now separated by one or more whitespaces
  docs/src/main/asciidoc/qute-reference.adoc
  independent-projects/qute/core/src/main/java/io/quarkus/qute/Parser.java
  independent-projects/qute/core/src/test/java/io/quarkus/qute/UserTagTest.java
Labels: area/qute, triage/flaky-test, triage/backport, triage/backport-3.20

#47140 Fix centralised logging on OTel docs
  docs/src/main/asciidoc/observability.adoc
  docs/src/main/asciidoc/opentelemetry-logging.adoc
Labels: area/documentation, triage/backport

#47137 Move JGit dependency to `quarkus-build-parent`
  bom/application/pom.xml
  build-parent/pom.xml
Labels: triage/waiting-for-ci, release/breaking-change, area/dependencies

#47141 Add more on missing producers - which step failed
  core/builder/src/main/java/io/quarkus/builder/BuildChainBuilder.java
Labels: area/core, triage/flaky-test

#47127 Support customization of gRPC server building
  docs/src/main/asciidoc/grpc-service-implementation.adoc
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcClientProcessor.java
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcDotNames.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/api/ServerBuilderCustomizer.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/HelloWorldEndpoint.java
  integration-tests/grpc-interceptors/src/main/java/io/quarkus/grpc/examples/interceptors/MySBC.java
  integration-tests/grpc-interceptors/src/test/java/io/quarkus/grpc/example/interceptors/HelloWorldEndpointTestBase.java
Labels: release/noteworthy-feature, area/documentation, triage/waiting-for-ci, area/grpc

#47146 Remove RoutingContextInterceptor from superfluousInterceptors
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
Labels: area/grpc

#46398 Apply validation modes to the Hibernate Reactive session factory config / Add tests for Reactive + Validator
  docs/pom.xml
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  docs/src/main/asciidoc/hibernate-reactive.adoc
  extensions/hibernate-reactive/deployment/pom.xml
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/MyEntity.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/ReactiveTestValidationResource.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/ReactiveValidationDisabledTestCase.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/ReactiveValidationModeAutoTestCase.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/ReactiveValidationModeMultipleTestCase.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/ReactiveValidationModeNoneTestCase.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/validation/ReactiveValidationTestCase.java
  extensions/hibernate-reactive/deployment/src/test/resources/application-validation-disabled.properties
  extensions/hibernate-reactive/deployment/src/test/resources/application-validation-mode-auto.properties
  extensions/hibernate-reactive/deployment/src/test/resources/application-validation-mode-multiple.properties
  extensions/hibernate-reactive/deployment/src/test/resources/application-validation-mode-none.properties
Labels: area/documentation, area/hibernate-reactive, triage/flaky-test, area/docstyle

#47129 Improve handling of QuarkusBindException
  core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java
  core/runtime/src/main/java/io/quarkus/runtime/QuarkusBindException.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java
Labels: area/core, area/vertx, area/grpc, triage/flaky-test

#46715 Make JsonWebToken available in arbitrarily activated CDI request context in HTTP proxy interceptors
  docs/src/main/asciidoc/reactive-routes.adoc
  docs/src/main/asciidoc/security-customization.adoc
  extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/AbstractSecurityIdentityAssociation.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityCheckRecorder.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityAssociation.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityProxy.java
  extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/SecurityConstrainer.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/SecurityIdentityPropagationTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/AuthConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/VertxSecurityIdentityAssociation.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/IgnoredContextLocalDataKeysBuildItem.java
  extensions/vertx/deployment/src/main/java/io/quarkus/vertx/core/deployment/VertxCoreProcessor.java
  extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java
Labels: area/documentation, area/security, area/vertx, triage/flaky-test, area/docstyle

#46234 Refactor AppCDS handling now that we support JEP 483 in addition to AppCDS
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/AppCDSControlPointBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/AppCDSRequestedBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/AppCDSResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/JvmStartupOptimizerArchiveContainerImageBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/JvmStartupOptimizerArchiveRequestedBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/JvmStartupOptimizerArchiveResultBuildItem.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JvmStartupOptimizerArchiveBuildStep.java
  core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java
  core/runtime/src/main/java/io/quarkus/runtime/appcds/AppCDSUtil.java
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java
  extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/appcds/JvmStartupOptimizerArchiveRecorder.java
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
  extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerProcessor.java
  extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java
  extensions/container-image/container-image-podman/deployment/src/main/java/io/quarkus/container/image/podman/deployment/PodmanProcessor.java
Labels: area/core, area/arc, release/breaking-change, triage/flaky-test

#47158 Add missing exclusions
  extensions/grpc/cli/pom.xml
Labels: area/grpc

#47165 Devui workspace fixes
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/devui/runtime/MvnpmHandler.java
Labels: area/vertx, triage/flaky-test

#47143 Update buildpack platform to Snowdrop lib 0.0.14
  bom/application/pom.xml
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackConfig.java
  extensions/container-image/container-image-buildpack/deployment/src/main/java/io/quarkus/container/image/buildpack/deployment/BuildpackProcessor.java
Labels: triage/waiting-for-ci, area/dependencies, triage/flaky-test

#46934 Read possible Content-Type header updates when parsing Multipart
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/multipart/MultipartContentTypeHeaderUpdateTest.java
  independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/multipart/MultiPartParserDefinition.java
Labels: triage/waiting-for-ci, area/rest, triage/backport

#47181 Properly reset mocks
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/PerClassSpyTest.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/MockitoMocksTracker.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/SetMockitoMockAsBeanMockCallback.java
Labels: area/testing, triage/backport, triage/backport-3.20

#47171 Fail when a ContextResolver is registered on the client via a lambda
  independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/ConfigurationImpl.java
Labels: area/amazon-lambda, release/breaking-change

#47170 Make TlsConfiguration#getName a default method
  extensions/tls-registry/spi/src/main/java/io/quarkus/tls/TlsConfiguration.java
Labels: area/config, triage/waiting-for-ci, triage/backport

#47066 Extract beforeTest action to make task build compatible with configuration cache
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/actions/BeforeTestAction.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/extension/QuarkusPluginExtension.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/BaseConfig.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusApplicationModelTask.java
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusPluginExtensionView.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/CachingTest.java
  devtools/gradle/gradle-application-plugin/src/test/java/io/quarkus/gradle/tasks/TasksConfigurationCacheCompatibilityTest.java
  devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/dependency/ApplicationDeploymentClasspathBuilder.java
Labels: area/gradle, area/devtools

#46871 Upgrade to JUnit 5.12.1
  bom/application/pom.xml
  devtools/gradle/gradle/libs.versions.toml
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesProcessor.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/AbstractRestClientsTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/MPRestClientsTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/configuration/QuarkusRestClientsTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractNonAbsentSerializationTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractNonEmptySerializationTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/AbstractSimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/NonAbsentReflectionFreeSerializationTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/NonAbsentSerializationTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/NonEmptyReflectionFreeSerializationTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/NonEmptySerializationTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonTest.java
  extensions/resteasy-reactive/rest-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/SimpleJsonWithReflectionFreeSerializersTest.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/security/AbstractPermissionCheckerRestMultiTest.java
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/bom-test/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/extension-maven-plugin/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/junit5-virtual-threads/src/test/java/io/quarkus/test/junit5/virtual/internal/VirtualThreadExtensionTest.java
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  tcks/resteasy-reactive/pom.xml
Labels: area/gradle, area/arc, area/resteasy-classic, triage/waiting-for-ci, area/testing, area/platform, area/dependencies, area/devtools, area/rest, triage/flaky-test, triage/backport, triage/backport-3.20

#47175 Slightly improve the way Arc is used in gRPC
  extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java
  extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java
Labels: area/grpc

#47198 Save additional copies on byte[] and String REST resources
  independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java
Labels: triage/flaky-test

#47186 Add quarkus.liquibase.secure-parsing to allow disabling secure parsing
  extensions/liquibase/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionSecureParsingDisabledTest.java
  extensions/liquibase/liquibase/deployment/src/test/java/io/quarkus/liquibase/test/LiquibaseExtensionSecureParsingEnabledTest.java
  extensions/liquibase/liquibase/deployment/src/test/resources/insecure-db/changeLog.xml
  extensions/liquibase/liquibase/deployment/src/test/resources/insecure-db/dbchangelog-3.8.xsd
  extensions/liquibase/liquibase/deployment/src/test/resources/secure-parsing-disabled.properties
  extensions/liquibase/liquibase/deployment/src/test/resources/secure-parsing-enabled.properties
  extensions/liquibase/liquibase/runtime/src/main/java/io/quarkus/liquibase/LiquibaseFactory.java
  extensions/liquibase/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseConfig.java
  extensions/liquibase/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseCreator.java
  extensions/liquibase/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseDataSourceRuntimeConfig.java
  extensions/liquibase/liquibase/runtime/src/main/java/io/quarkus/liquibase/runtime/LiquibaseRecorder.java
Labels: area/liquibase, triage/backport

#47208 Improve server HTTP header injection in REST Client
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/HeaderCapturingServerFilter.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/HeaderContainer.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/MicroProfileRestClientRequestFilter.java
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveCDIProcessor.java
Labels: area/rest-client, triage/waiting-for-ci, area/rest, triage/flaky-test

#47203 Update Vert.x to 4.5.14 and Netty to 4.1.119
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/vertx-utils/pom.xml
Labels: area/vertx, area/dependencies, triage/flaky-test, area/netty, triage/backport-3.15, triage/backport, triage/backport-3.20

#47216 Enable dependabot for patch versions of *all* Hibernate projects
  .github/dependabot.yml
Labels: area/dependencies, area/infra-automation

#47209 Update to Stork 2.7.3
  bom/application/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/dependencies, area/stork, triage/flaky-test, triage/backport, triage/backport-3.20

#47213 Jandex: upgrade to 3.3.0
  bom/application/pom.xml
  build-parent/pom.xml
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexWrapper.java
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/OverridableIndex.java
  independent-projects/arc/pom.xml
  independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java
  independent-projects/bootstrap/pom.xml
  independent-projects/junit5-virtual-threads/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/CalculatingIndexView.java
  independent-projects/resteasy-reactive/pom.xml
  independent-projects/tools/pom.xml
Labels: area/core, area/arc, area/smallrye, area/platform, area/dependencies, area/devtools, area/graphql, triage/flaky-test

#47201 Dev UI Workspace changes for Chappie
  core/runtime/src/main/java/io/quarkus/runtime/logging/DecorateStackUtil.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/devui/deployment/menu/WorkspaceProcessor.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-workspace.js
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/Action.java
  extensions/vertx-http/dev-ui-spi/src/main/java/io/quarkus/devui/spi/workspace/Patterns.java
Labels: area/core, area/logging, area/vertx, triage/flaky-test, triage/backport

#47196 Clear the Stork configs during initialization
  extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/StorkConfigProvider.java
Labels: kind/bugfix, triage/backport-3.15, triage/backport, triage/backport-3.20

#46997 Add unit test for PathTestHelper and test for tests in jars
  integration-tests/maven/src/test/java/io/quarkus/maven/it/VerifyIT.java
  integration-tests/maven/src/test/resources-filtered/projects/tests-in-jar-packager/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/tests-in-jar-packager/src/main/java/org/acme/ThirdpartyResource.java
  integration-tests/maven/src/test/resources-filtered/projects/tests-in-jar-packager/src/test/java/org/acme/HelloResourceFromJarTest.java
  integration-tests/maven/src/test/resources-filtered/projects/tests-in-jar-packager/src/test/java/org/acme/ThirdpartyResourceFromJarTest.java
  integration-tests/maven/src/test/resources-filtered/projects/tests-in-jar/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/tests-in-jar/src/main/java/org/acme/HelloResource.java
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
  test-framework/common/src/test/java/io/quarkus/test/common/PathTestHelperTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/AppMakerHelper.java
Labels: area/maven, area/testing, triage/flaky-test

#47239 Use same Docker prune location everywhere
  extensions/oidc-client/deployment/pom.xml
  integration-tests/logging-gelf/pom.xml
  integration-tests/oidc-client/pom.xml
  integration-tests/smallrye-graphql-client-keycloak/pom.xml
  integration-tests/smallrye-jwt-oidc-webapp/pom.xml
  integration-tests/smallrye-jwt-token-propagation/pom.xml
Labels: area/logging, area/oidc

#47214 Properly rest mocks (again)
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/NestedSpyTest.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/MockitoMocksTracker.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/ResetMockitoMocksAfterAllCallback.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/ResetMockitoMocksAfterEachCallback.java
  test-framework/junit5-mockito/src/main/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestAfterAllCallback
  test-framework/junit5-mockito/src/main/resources/META-INF/services/io.quarkus.test.junit.callback.QuarkusTestAfterEachCallback
Labels: triage/waiting-for-ci, area/testing, triage/backport, triage/backport-3.20

#47183 Clarify when the constraint violation result in 400/500 response status code
  docs/src/main/asciidoc/validation.adoc
Labels: area/documentation

#46472 Add docs for maximum values of MemorySize based config items
  core/runtime/src/main/java/io/quarkus/runtime/logging/LogRuntimeConfig.java
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfig.java
  extensions/resteasy-classic/rest-client-config/runtime/src/main/java/io/quarkus/restclient/config/RestClientsConfig.java
  extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/ResteasyCommonConfig.java
  extensions/resteasy-reactive/rest-common/runtime/src/main/java/io/quarkus/resteasy/reactive/common/runtime/ResteasyReactiveConfig.java
  extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/ServletRuntimeConfig.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/TrafficShapingConfig.java
Labels: area/core, area/resteasy-classic, area/logging, area/vertx, area/undertow, area/rest, triage/flaky-test

#47152 Ignore GraalVM features in HibernateValidatorProcessor
  extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java
Labels: area/core, area/arc, area/smallrye, area/hibernate-validator, area/platform, area/dependencies, area/devtools, area/graphql, triage/backport, triage/backport-3.20

#47243 Add a bit more context when we can't read Jandex index
  core/deployment/src/main/java/io/quarkus/deployment/index/IndexingUtil.java
Labels: area/core, triage/waiting-for-ci, triage/flaky-test, triage/backport, triage/backport-3.20

#47245 Set request timeout on OTel gRPC sender
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/exporter/otlp/sender/VertxGrpcSender.java
Labels: area/tracing, triage/backport, triage/backport-3.20

#47197 Fix ambiguous bean resolution for sub resource interfaces with multiple implementations
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/SubResourceAmbiguousInjectTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: area/rest, triage/flaky-test, triage/backport

#47180 Do not close curated application if it is shared between different tests (with different test resources)
  core/deployment/src/main/java/io/quarkus/runner/bootstrap/StartupActionImpl.java
  extensions/devservices/h2/src/main/java/io/quarkus/devservices/h2/deployment/H2DevServicesProcessor.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/CuratedApplication.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/core, area/testing, area/devtools, area/continuous-testing, triage/flaky-test

#47268 Fix typo in opentelemetry.adoc
  docs/src/main/asciidoc/opentelemetry.adoc
Labels: area/documentation

#47257 Fix a typo in the config mapping `@WithParentName` documentation section
  docs/src/main/asciidoc/config-mappings.adoc
Labels: area/documentation

#47246 Add Deployment module of Quarkus Observability Devservices to the bom
  bom/application/pom.xml
Labels: triage/waiting-for-ci, area/dependencies, area/devservices, triage/flaky-test, triage/backport, triage/backport-3.20

#47254 Add OIDC expanded configuration reference
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-oidc-configuration-properties-reference.adoc
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
Labels: release/noteworthy-feature, area/documentation, area/docstyle

#47255 Replaced remaining occurrences of deprecated EmptyInterceptor
  docs/src/main/asciidoc/hibernate-orm.adoc
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/interceptor/ApplicationScopedInterceptorTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/interceptor/DependentInterceptorTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/interceptor/TransactionScopedInterceptorTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsInterceptorTest.java
Labels: area/documentation, area/hibernate-orm

#47244 Arc - consider @Decorator to be bean defining annotation; added automated test
  build-parent/pom.xml
  extensions/arc/deployment/pom.xml
  extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java
  extensions/arc/deployment/src/test/java/io/quarkus/arc/test/decorator/DecoratorAsBeanDefiningAnnotationTest.java
  extensions/arc/pom.xml
  extensions/arc/test-supplement-decorator/pom.xml
  extensions/arc/test-supplement-decorator/src/main/java/io/quarkus/arc/test/supplement/decorator/SomeDecorator.java
  extensions/arc/test-supplement-decorator/src/main/java/io/quarkus/arc/test/supplement/decorator/SomeInterface.java
Labels: area/arc, triage/waiting-for-ci, area/dependencies, triage/flaky-test, triage/backport

#47212 `QuarkusTransaction.isActive()` should be compared with `Status.STATUS_ACTIVE`
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/QuarkusTransaction.java
Labels: area/narayana

#47251 Bump Hibernate Reactive from 2.4.5.Final to 2.4.6.Final
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  pom.xml
Labels: area/arc, area/maven, area/smallrye, triage/waiting-for-ci, area/hibernate-reactive, area/graphql, triage/flaky-test, triage/backport, triage/backport-3.20

#47271 WebSockets Next: fix the server autoPing timer
  extensions/websockets-next/runtime/src/main/java/io/quarkus/websockets/next/runtime/Endpoints.java
Labels: triage/backport, triage/backport-3.20

#47281 QuarkusComponentTest: fix the cleanup for nested test classes
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/beans/MySimpleComponent.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/nested/NestedTest.java
Labels: triage/waiting-for-ci, area/testing, triage/backport

#47233 Add datasource validation query timeout support
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/QueryLoggingH2DBEventListener.java
  extensions/agroal/deployment/src/test/java/io/quarkus/agroal/test/ValidationQueryTest.java
  extensions/agroal/deployment/src/test/resources/application-datasource-with-validation.properties
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java
  extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSources.java
Labels: triage/waiting-for-ci, area/agroal, triage/flaky-test

#47288 Improve test stability of compose devservice IT
  integration-tests/compose-devservices/src/main/java/io/quarkus/it/compose/devservices/kafka/KafkaAdminManager.java
  integration-tests/compose-devservices/src/main/java/io/quarkus/it/compose/devservices/kafka/KafkaEndpoint.java
  integration-tests/compose-devservices/src/test/java/io/quarkus/it/compose/devservices/kafka/KafkaServiceTest.java
Labels: area/devservices

#44473 Allow Hibernate ORM and Hibernate Reactive to be used in the same application
  docs/src/main/asciidoc/hibernate-reactive.adoc
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/PersistenceUnitDescriptorBuildItem.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsCdiEntityManagerTest.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/FastBootHibernatePersistenceProvider.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/MultiplePersistenceProviderResolver.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/PersistenceProviderSetup.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootEntityManagerFactoryBuilder.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDefinition.java
  extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/QuarkusPersistenceUnitDescriptor.java
  extensions/hibernate-reactive/deployment/pom.xml
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/ClassNames.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveCdiProcessor.java
  extensions/hibernate-reactive/deployment/src/main/java/io/quarkus/hibernate/reactive/deployment/HibernateReactiveProcessor.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/MultiLineImportTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/NoJtaTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/SchemaUtil.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/CompatibilityUnitTestBase.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityDefaultBothUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityDefaultOnlyBlockingUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityDefaultOnlyReactiveDisabledBlockingSessionUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityDefaultOnlyReactiveUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityNamedDataSourceBothUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityNamedDataSourceNamedPersistenceUnitBothUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/compatibility/ORMReactiveCompatbilityOnlyReactiveJDBCDisabledUnitTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/ConfigActiveFalseAndEntityTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/datasource/EntitiesInDefaultPUWithExplicitDatasourceMissingTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/datasource/EntitiesInDefaultPUWithImplicitDatasourceConfigUrlMissingTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/config/unsupportedproperties/UnsupportedPropertiesTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/deployment/ClassNamesTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/entities/Hero.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/mapping/id/optimizer/optimizer/AbstractIdOptimizerDefaultTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/mapping/timezone/AbstractTimezoneDefaultStorageTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/mapping/timezone/TimezoneDefaultStorageAutoTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/mapping/timezone/TimezoneDefaultStorageColumnTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/mapping/timezone/TimezoneDefaultStorageDefaultTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/mapping/timezone/TimezoneDefaultStorageNormalizeTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/mapping/timezone/TimezoneDefaultStorageNormalizeUtcTest.java
  extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/reactive/singlepersistenceunit/SinglePersistenceUnitPackageAnnotationTest.java
  extensions/hibernate-reactive/deployment/src/test/resources/application-unittest-both-named.properties
  extensions/hibernate-reactive/deployment/src/test/resources/application-unittest-both.properties
  extensions/hibernate-reactive/deployment/src/test/resources/application-unittest-onlyblocking.properties
  extensions/hibernate-reactive/deployment/src/test/resources/application-unittest-onlyreactive.properties
  extensions/hibernate-reactive/deployment/src/test/resources/application.properties
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/FastBootHibernateReactivePersistenceProvider.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/HibernateReactiveRecorder.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactivePersistenceProviderSetup.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionFactoryProducer.java
  extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/boot/FastBootReactiveEntityManagerFactoryBuilder.java
  extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/SessionOperations.java
  integration-tests/hibernate-reactive-mssql/src/main/java/io/quarkus/it/hibernate/reactive/mssql/DialectEndpoint.java
  integration-tests/hibernate-reactive-orm-compatibility/pom.xml
  integration-tests/hibernate-reactive-orm-compatibility/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/FriesianCow.java
  integration-tests/hibernate-reactive-orm-compatibility/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateORMTestEndpoint.java
  integration-tests/hibernate-reactive-orm-compatibility/src/main/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveTestEndpoint.java
  integration-tests/hibernate-reactive-orm-compatibility/src/main/resources/application.properties
  integration-tests/hibernate-reactive-orm-compatibility/src/test/java/io/quarkus/it/hibernate/reactive/postgresql/HibernateReactiveCompatibilityORMTest.java
  integration-tests/pom.xml
Labels: release/noteworthy-feature, area/documentation, area/panache, triage/waiting-for-ci, area/hibernate-orm, area/hibernate-reactive, triage/flaky-test

#47299 Fix a link in the OIDC expanded properties doc
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
Labels: area/documentation

#47310 Clarify when some OIDC properties are enabled by default
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
Labels: area/documentation

#47318 Improve log messages in OIDC Dev Service
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesProcessor.java
Labels: area/oidc, area/devservices

#47334 Devui agroal fixes
  extensions/agroal/deployment/src/main/resources/dev-ui/qwc-agroal-datasource.js
  extensions/agroal/runtime-dev/src/main/java/io/quarkus/agroal/runtime/dev/ui/DatabaseInspector.java
Labels: area/agroal, triage/flaky-test, triage/backport

#47336 Don't use logging on failed start
  core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java
Labels: area/core, triage/flaky-test

#47292 Guard against class cast exception in QuarkusTestExtension
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/flaky-test

#47012 Add Jakarta Data documentation, dependency management and tests
  bom/application/pom.xml
  docs/pom.xml
  docs/src/main/asciidoc/_attributes.adoc
  docs/src/main/asciidoc/hibernate-orm.adoc
  integration-tests/hibernate-orm-data/pom.xml
  integration-tests/hibernate-orm-data/src/main/java/io/quarkus/it/hibernate/jpamodelgen/data/MyEntity.java
  integration-tests/hibernate-orm-data/src/main/java/io/quarkus/it/hibernate/jpamodelgen/data/MyEntityResource.java
  integration-tests/hibernate-orm-data/src/main/java/io/quarkus/it/hibernate/jpamodelgen/data/MyRepository.java
  integration-tests/hibernate-orm-data/src/main/resources/application.properties
  integration-tests/hibernate-orm-data/src/test/java/io/quarkus/it/hibernate/jpamodelgen/data/HibernateOrmDataInGraalIT.java
  integration-tests/hibernate-orm-data/src/test/java/io/quarkus/it/hibernate/jpamodelgen/data/HibernateOrmDataTest.java
  integration-tests/pom.xml
  pom.xml
Labels: area/documentation, triage/waiting-for-ci, area/dependencies, triage/flaky-test, area/docstyle

#47305 Disable checks related to unsupported bytecode enhancement in Hibernate ORM
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/integration/QuarkusEnhancementContext.java
Labels: area/hibernate-orm, triage/backport, triage/backport-3.20

#47306 Define the main class in shaded jar quarkus-grpc-protoc-plugin
  extensions/grpc/protoc/pom.xml
Labels: area/grpc, triage/flaky-test

#47309 Higher Xmx and MaxMetaspaceSize for deploy-snapshots build
  .github/workflows/deploy-snapshots.yml
Labels: area/infra-automation

#47296 Do not append email suffix if already present in oidc dev service
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesProcessor.java
  integration-tests/oidc-dev-services/src/main/java/io/quarkus/it/oidc/dev/services/SecuredResource.java
  integration-tests/oidc-dev-services/src/test/java/io/quarkus/it/oidc/dev/services/BearerAuthenticationOidcDevServicesTest.java
Labels: area/oidc, area/devservices

#47345 Fix memory issues in SecurityIdentityAugmentor docs example
  docs/src/main/asciidoc/security-customization.adoc
Labels: area/documentation

#47348 Avoid NPE in ResetMockitoMocksAfterAllCallback
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/ResetMockitoMocksAfterAllCallback.java
Labels: area/testing, triage/backport, triage/backport-3.20

#47342 Bump all SmallRye projects that have a new Jandex index
  bom/application/pom.xml
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/boot/StaticInitFailureTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/config/dialect/DbVersionExtraSpaceTest.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/transaction/AbstractTransactionLifecycleTest.java
  independent-projects/arc/pom.xml
  independent-projects/bootstrap/pom.xml
  independent-projects/qute/pom.xml
  independent-projects/resteasy-reactive/pom.xml
Labels: area/arc, area/hibernate-orm, area/dependencies, area/devtools, triage/backport, triage/backport-3.20

#47291 Batch mode for CLI dev command, no transfer progress in batch mode
  devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/build/MavenRunner.java
  devtools/cli/src/main/java/io/quarkus/cli/common/DevOptions.java
Labels: area/devtools, area/cli

#47272 Modify dev service labels for keycloak and observability lgtm
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfig.java
  extensions/observability-devservices/common/src/main/java/io/quarkus/observability/common/config/LgtmConfig.java
  extensions/observability-devservices/deployment/src/main/java/io/quarkus/observability/deployment/ObservabilityDevServiceProcessor.java
  extensions/observability-devservices/testcontainers/src/main/java/io/quarkus/observability/testcontainers/ObservabilityContainer.java
Labels: area/devservices, area/keycloak

#47341 Add support for `ServerRequestContext` for `@ServerExceptionMapper` and `@ServerRequestFilter` methods
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customexceptions/MyOtherExceptionMapper.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomContainerRequestFilter.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/customproviders/CustomFiltersTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/ResteasyReactiveDotNames.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/exceptionmappers/ServerExceptionMapperGenerator.java
  independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/filters/CustomFilterGenerator.java
Labels: triage/waiting-for-ci, area/rest

#47351 Pass system properties to Gradle test tasks
  devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/QuarkusPlugin.java
Labels: area/gradle, area/devtools, triage/backport

#47367 SmallRye GraphQL 2.13.0 and support for JSON/Object scalars
  bom/application/pom.xml
  extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/JsonObjectScalarTest.java
  extensions/smallrye-graphql/deployment/src/test/java/io/quarkus/smallrye/graphql/deployment/ObjectScalarTest.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/ExtraScalar.java
  extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLRecorder.java
Labels: area/smallrye, triage/waiting-for-ci, area/dependencies, area/graphql

#47176 Propagate build properties in the IDE DevModeContext
  core/deployment/src/main/java/io/quarkus/deployment/dev/IDEDevModeMain.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/ide-dev-mode-build-props/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/ide-dev-mode-build-props/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/ide-dev-mode-build-props/src/test/java/orc/acme/LauncherTest.java
  integration-tests/maven/src/test/resources-filtered/projects/ide-dev-mode-build-props/src/test/java/orc/acme/TestApp.java
Labels: area/core, area/maven, triage/flaky-test, triage/backport, triage/backport-3.20

#47376 Make Liquibase MongoDB resource accessor consistent with Liquibase
  extensions/liquibase/liquibase-common/pom.xml
  extensions/liquibase/liquibase-common/src/main/java/io/quarkus/liquibase/common/runtime/NativeImageResourceAccessor.java
  extensions/liquibase/liquibase-mongodb/runtime/src/main/java/io/quarkus/liquibase/mongodb/LiquibaseMongodbFactory.java
  extensions/liquibase/liquibase/runtime/src/main/java/io/quarkus/liquibase/LiquibaseFactory.java
Labels: area/liquibase

#47382 Remove unnecessary file from Dockerfile example
  docs/src/main/asciidoc/quarkus-runtime-base-image.adoc
Labels: area/documentation, triage/backport, triage/backport-3.20

#47373 Fix @TestHTTPResource when quarkus.http.root-path doesn't start with "/"
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/path/RootPathTestHTTPResourceTestCase.java
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPConfigSourceInterceptor.java
  test-framework/common/src/main/java/io/quarkus/test/common/http/TestHTTPConfigSourceProvider.java
Labels: area/testing, area/rest, triage/backport

#47375 Fix loading POMs manipulated by Maven extensions
  devtools/cli/src/test/java/io/quarkus/cli/MavenProjectInfoAndUpdateTest.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java
  integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/ListExtensionsTest.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/.mvn/extensions.xml
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/app/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/app/src/main/java/org/acme/Application.java
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/app/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/app/src/test/java/org/acme/ApplicationTest.java
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/greeter/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/greeter/src/main/java/org/acme/greeter/Greeter.java
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/greeter/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/app/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/mvn-ext/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/maven-extension-manipulating-pom/mvn-ext/src/main/java/org/acme/mvn/ext/AcmeModelProcessor.java
Labels: area/maven, area/platform, area/devtools, area/cli, triage/backport, triage/backport-3.20

#47368 Properly support Optional as a header param for REST Client
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/headers/OptionalHeaderTest.java
Labels: area/rest-client, area/rest, triage/flaky-test, triage/backport, triage/backport-3.20

#47378 RunnerClassLoader - Return URL with an ending / if resource ending with /
  independent-projects/bootstrap/runner/pom.xml
  independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/JarResource.java
  independent-projects/bootstrap/runner/src/test/java/io/quarkus/bootstrap/runner/RunnerClassLoaderTest.java
Labels: area/devtools, triage/backport-3.15, triage/backport, triage/backport-3.20

#47377 Make sure Quarkus can bootstrap tests with the flatten-maven-plugin
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/resources-filtered/projects/flatten-maven-plugin/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/flatten-maven-plugin/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/flatten-maven-plugin/src/test/java/org/acme/GreetingResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/pom-in-target-dir/pom.xml
Labels: area/maven, area/platform, area/devtools, area/cli, triage/flaky-test, triage/backport, triage/backport-3.20

#47387 Show count of rest clients in dev ui card
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveInfoBuildItem.java
  extensions/resteasy-reactive/rest-client-jaxrs/deployment/src/main/java/io/quarkus/jaxrs/client/reactive/deployment/JaxrsClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/devconsole/RestClientReactiveDevUIProcessor.java
Labels: area/rest-client, area/rest

#47374 Add detailed Javadoc for ApplicationInfoBuildItem class
  core/deployment/src/main/java/io/quarkus/deployment/builditem/ApplicationInfoBuildItem.java
Labels: area/core

#47393 Use ModelResolutionTaskRunner in WorkspaceLoader
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ModelResolutionTaskRunner.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
Labels: triage/waiting-for-ci, area/devtools

#47379 Set the TCCL to the CL of the test class super-early
  integration-tests/maven/src/test/java/io/quarkus/maven/it/QuarkusTestIT.java
  integration-tests/maven/src/test/resources-filtered/projects/test-third-party-junit-extension/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-third-party-junit-extension/src/main/java/org/acme/HelloResource.java
  integration-tests/maven/src/test/resources-filtered/projects/test-third-party-junit-extension/src/main/java/org/acme/MyApplication.java
  integration-tests/maven/src/test/resources-filtered/projects/test-third-party-junit-extension/src/main/resources/META-INF/beans.xml
  integration-tests/maven/src/test/resources-filtered/projects/test-third-party-junit-extension/src/main/resources/META-INF/resources/index.html
  integration-tests/maven/src/test/resources-filtered/projects/test-third-party-junit-extension/src/main/resources/application.properties
  integration-tests/maven/src/test/resources-filtered/projects/test-third-party-junit-extension/src/test/java/org/acme/CustomBeforeAllCallback.java
  integration-tests/maven/src/test/resources-filtered/projects/test-third-party-junit-extension/src/test/java/org/acme/ExampleTest.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ExecutionListener.java
  test-framework/junit5/src/main/resources/META-INF/services/org.junit.platform.launcher.TestExecutionListener
Labels: area/maven, area/testing, triage/flaky-test

#47399 Show how to revoke OIDC tokens from security event listeners
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
Labels: triage/backport-3.21, triage/backport-3.20, triage/backport

#47403 Add missing dependency to quarkus-devservices-keycloak
  extensions/devservices/keycloak/pom.xml
Labels: area/devservices, area/keycloak, triage/backport-3.21, triage/backport-3.20, triage/backport

#47407 Update Maveniverse Nisse to 0.4.2
  .mvn/extensions.xml
Labels: area/maven, triage/flaky-test, triage/backport-3.21, triage/backport

#47411 Fix test class location search for bytecode enhanced test classes
  test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java
Labels: area/testing, triage/flaky-test, triage/backport

#47401 Lift requirement of setting REST Client base URL when mocks are used
  core/runtime/src/main/java/io/quarkus/runtime/MockedThroughWrapper.java
  extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ArcProxyBeanMetaDataClassNormalizer.java
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/RestClientReactiveProcessor.java
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/RestClientReactiveCDIWrapperBase.java
  integration-tests/grpc-plain-text-mutiny/src/test/java/io/quarkus/grpc/examples/hello/GrpcMockTest.java
  integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/defaultpu/PanacheMockingTest.java
  integration-tests/hibernate-reactive-panache/src/test/java/io/quarkus/it/panache/reactive/PanacheMockingTest.java
  integration-tests/hibernate-validator/src/test/java/io/quarkus/hibernate/validator/runtime/ArcProxyBeanMetaDataClassNormalizerTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/DummyResourceTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/FooResourceTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/GenericFieldsTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/GreetingResourceTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/GreetingSingletonResourceMockTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/GreetingSingletonResourceTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/MockedObserverTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/NestedTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/SameBeanInstanceTest.java
  integration-tests/injectmock/src/test/java/io/quarkus/it/mockbean/UnusedServiceTest.java
  integration-tests/mongodb-panache-kotlin/src/test/kotlin/io/quarkus/it/mongodb/panache/MongodbPanacheMockingTest.kt
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/MongodbPanacheMockingTest.java
  integration-tests/mongodb-panache/src/test/java/io/quarkus/it/mongodb/panache/reactive/ReactiveMongodbPanacheMockingTest.java
  integration-tests/rest-client-reactive/src/main/java/io/quarkus/it/rest/client/main/FaultToleranceOnInterfaceClient.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/BasicTest.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/InjectMockTest.java
  integration-tests/rest-client-reactive/src/test/java/io/quarkus/it/rest/client/InjectMockWithInterceptorTest.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/InjectMockTest.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/InjectMock.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/CreateMockitoMocksCallback.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/SetMockitoMockAsBeanMockCallback.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/SingletonToApplicationScopedTestBuildChainCustomizerProducer.java
  test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/UnremoveableMockTestBuildChainCustomizerProducer.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/MockSupport.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/internal/VerifyMockitoMocksCallback.java
Labels: area/panache, area/core, area/hibernate-validator, area/rest-client, area/testing, area/mongodb, release/breaking-change, area/rest, triage/flaky-test

#47421 Also register superclasses as bean types in ResteasyReactiveProcessor
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  extensions/resteasy-reactive/rest/deployment/src/test/java/io/quarkus/resteasy/reactive/server/test/resource/basic/ContextAndInstanceTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: area/rest, triage/flaky-test

#47404 Dev UI - Only display exposed ports
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-dev-services.js
Labels: area/vertx, triage/flaky-test, triage/backport-3.21, triage/backport-3.20, triage/backport

#47438 Speed up reload test and update lgtm image
  extensions/observability-devservices/common/src/main/java/io/quarkus/observability/common/ContainerConstants.java
  integration-tests/observability-lgtm/src/main/resources/application.properties
  integration-tests/observability-lgtm/src/test/java/io/quarkus/observability/test/LgtmTestHelper.java
  integration-tests/observability-lgtm/src/test/resources/application.properties
Labels: triage/backport

#47439 Fix an issue with StatelessSession qualifiers
  extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java
  extensions/hibernate-orm/deployment/src/test/java/io/quarkus/hibernate/orm/multiplepersistenceunits/MultiplePersistenceUnitsCdiStatelessSessionTest.java
Labels: area/hibernate-orm, triage/backport

#47442 Add infrastructure to disable GIB and Develocity on specific PRs, and to run the Platform tests
  .github/workflows/ci-actions-incremental.yml
Labels: area/hibernate-validator, area/infra-automation, triage/flaky-test, ci/disable-gib, ci/disable-develocity-cache, ci/test-platform

#47448 Fail build when multiple HttpSecurityPolicies with same name are detected
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/DuplicatedNamedAuthPolicyValidationFailureTest.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/JaxRsPathMatchingHttpSecurityPolicy.java
Labels: area/vertx, triage/waiting-for-ci, triage/flaky-test, triage/backport-3.21, triage/backport-3.20, triage/backport

#47454 Add logger name to OTel Logging
  extensions/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/logs/OtelLoggingTest.java
  extensions/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/logs/OpenTelemetryLogHandler.java
Labels: area/tracing, triage/flaky-test, triage/backport

#47453 Bump Keycloak version to 26.2.0
  bom/application/pom.xml
  build-parent/pom.xml
  docs/src/main/asciidoc/security-keycloak-authorization.adoc
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication-tutorial.adoc
  docs/src/main/asciidoc/security-openid-connect-client.adoc
  docs/src/main/asciidoc/security-openid-connect-dev-services.adoc
  extensions/devservices/keycloak/src/main/java/io/quarkus/devservices/keycloak/KeycloakDevServicesConfig.java
  integration-tests/oidc-token-propagation/src/test/java/io/quarkus/it/keycloak/OidcTokenPropagationTest.java
Labels: area/documentation, area/dependencies, triage/flaky-test, area/docstyle

#47451 Set correct default values in constructors of OIDC config builders
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfig.java
  extensions/oidc-client-registration/runtime/src/main/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfigBuilder.java
  extensions/oidc-client-registration/runtime/src/test/java/io/quarkus/oidc/client/registration/OidcClientRegistrationConfigBuilderTest.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/OidcClientConfigBuilder.java
  extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientConfig.java
  extensions/oidc-client/runtime/src/test/java/io/quarkus/oidc/client/OidcClientConfigBuilderTest.java
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/config/OidcClientCommonConfigBuilder.java
  extensions/oidc-common/runtime/src/test/java/io/quarkus/oidc/common/runtime/OidcClientCommonConfigBuilderTest.java
Labels: area/oidc

#47452 Set path of client subinterfaces 2+ levels deep
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/InterfacePathInheritanceTest.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java
Labels: area/rest-client, area/rest, triage/flaky-test

#47470 QuarkusComponentTest: fail the test if unsupported InjectSpy is found
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtension.java
  test-framework/junit5-component/src/main/java/io/quarkus/test/component/QuarkusComponentTestExtensionBuilder.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/InjectSpyFailureTest.java
  test-framework/junit5-component/src/test/java/io/quarkus/test/component/declarative/InjectMockTest.java
Labels: area/testing

#47450 Make OIDC required claims support arrays
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcTenantConfig.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/StaticTenantResolver.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/builders/TokenConfigBuilder.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcTenantConfigBuilderTest.java
  extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcTenantConfigImpl.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantIntrospectionRequiredClaimsResource.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/TenantSpecificJwtPreferredNameValidator.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/main/java/io/quarkus/it/keycloak/AdminResource.java
  integration-tests/oidc-wiremock/src/main/resources/application.properties
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-wiremock/src/test/java/io/quarkus/it/keycloak/StaticTenantIssuerResolverTest.java
Labels: area/oidc

#47426 Only reset the test TCCL in cases where we had changed it
  integration-tests/main/src/test/java/io/quarkus/it/main/MethodSourceTest.java
  integration-tests/maven/pom.xml
  test-framework/junit5/src/main/java/io/quarkus/test/junit/launcher/ExecutionListener.java
Labels: area/maven, area/testing, triage/flaky-test, triage/backport, ci/disable-gib, ci/disable-develocity-cache, ci/test-platform

#47474 Trivial: Do not wrap runtime exception
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ProdModeTestBuildChainBuilderConsumer.java
  test-framework/junit5-internal/src/main/java/io/quarkus/test/ProdModeTestBuildChainCustomizerProducer.java
  test-framework/junit5/src/main/java/io/quarkus/test/junit/classloading/FacadeClassLoader.java
Labels: area/testing, triage/backport

#47472 Avoid setting null system properties in Mojos
  devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/RunMojo.java
Labels: area/maven, area/devtools, triage/backport

#47461 Tweaks for permission checkers for WebSockets Next
  docs/src/main/asciidoc/websockets-next-reference.adoc
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/HttpUpgradePermissionCheckerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/PayloadPermissionCheckerTest.java
  extensions/websockets-next/deployment/src/test/java/io/quarkus/websockets/next/test/security/ProductEndpoint.java
Labels: area/documentation

#47436 Clarified the usage of the @LoggerName with @Inject on loggers
  docs/src/main/asciidoc/logging.adoc
Labels: area/documentation, area/docstyle

#47468 Reload POMs that have changed during dev mode
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/DefaultEffectiveModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceModulePom.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/extra/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/extra/src/main/java/org/acme/extra/Extra.java
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/library/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/runner/pom.xml
Labels: area/maven, area/devtools, triage/flaky-test, triage/backport-3.21, triage/backport-3.20, triage/backport

#47492 Try and give more helpful error message for bad surefire version
  test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java
Labels: area/testing, triage/backport

#47490 [3.21] 3.21.4 backports 1
  .mvn/extensions.xml
  bom/application/pom.xml
  devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapMojo.java
  devtools/maven/src/main/java/io/quarkus/maven/QuarkusBootstrapProvider.java
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  extensions/devservices/keycloak/pom.xml
  extensions/resteasy-reactive/rest-client/deployment/src/main/java/io/quarkus/rest/client/reactive/deployment/devservices/DevServicesRestClientHttpProxyProcessor.java
  extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/security/DuplicatedNamedAuthPolicyValidationFailureTest.java
  extensions/vertx-http/dev-ui-resources/src/main/resources/dev-ui/qwc/qwc-dev-services.js
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/RoutingUtils.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/AbstractPathMatchingHttpSecurityPolicy.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/JaxRsPathMatchingHttpSecurityPolicy.java
  independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/BootstrapAppModelFactory.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContext.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BootstrapMavenContextConfig.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/DefaultEffectiveModelResolver.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/MavenModelBuilder.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/ModelResolutionTaskRunner.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalWorkspace.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/ModelUtils.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceLoader.java
  independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/WorkspaceModulePom.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/BuildIT.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/flatten-maven-plugin/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/flatten-maven-plugin/src/main/java/org/acme/GreetingResource.java
  integration-tests/maven/src/test/resources-filtered/projects/flatten-maven-plugin/src/test/java/org/acme/GreetingResourceTest.java
  integration-tests/maven/src/test/resources-filtered/projects/pom-in-target-dir/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/extra/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/extra/src/main/java/org/acme/extra/Extra.java
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/library/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/project-with-extension/runner/pom.xml
Labels: area/documentation, area/maven, area/infra, area/vertx, area/rest-client, area/dependencies, area/devtools, area/rest, triage/flaky-test, area/docstyle

#47482 Improve diagnostic output for null system properties
  test-framework/common/src/main/java/io/quarkus/test/common/RestorableSystemProperties.java
Labels: area/testing, triage/backport, ci/test-platform

#47493 Docs updates for test classloading
  docs/src/main/asciidoc/getting-started-testing.adoc
Labels: area/documentation, triage/backport

#47487 Upload more reports for TCKs testing
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#47496 SmallRye Fault Tolerance: update to 6.9.1
  bom/application/pom.xml
  docs/src/main/asciidoc/smallrye-fault-tolerance.adoc
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/retry/stackoverflow/RetryStackOverflowService.java
  extensions/smallrye-fault-tolerance/deployment/src/test/java/io/quarkus/smallrye/faulttolerance/test/retry/stackoverflow/RetryStackOverflowTest.java
Labels: area/documentation, area/smallrye, area/dependencies, area/fault-tolerance, dependencies, triage/backport-3.20, triage/backport

#47497 Qute: fix build time validation and generated value resolver for getters
  extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java
  extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/typesafe/getters/TypesafeGettersValidationTest.java
  independent-projects/qute/generator/src/main/java/io/quarkus/qute/generator/ValueResolverGenerator.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SimpleGeneratorTest.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SomeBean.java
  independent-projects/qute/generator/src/test/java/io/quarkus/qute/generator/SomeInterface.java
Labels: area/qute, triage/backport-3.20, triage/backport

#47445 OIDC: Add bearer token step up authenticaiton
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcConstants.java
  extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/OidcBuildStep.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/EmptyAuthenticationContextValidationFailureTest.java
  extensions/oidc/deployment/src/test/java/io/quarkus/oidc/test/ProactiveAuthenticationContextValidationFailureTest.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/AuthenticationContext.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/BearerAuthenticationMechanism.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcProvider.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/StepUpAuthenticationPolicy.java
  extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/TenantContextFactory.java
  extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/AuthenticationFailedExceptionMapper.java
  extensions/resteasy-reactive/rest/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/AuthenticationFailedExceptionMapper.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/EagerSecurityInterceptorBindingBuildItem.java
  extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpSecurityProcessor.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java
  extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityUtils.java
  integration-tests/oidc-tenancy/pom.xml
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/AcrValueValidator.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/CustomTenantConfigResolver.java
  integration-tests/oidc-tenancy/src/main/java/io/quarkus/it/keycloak/OidcResource.java
  integration-tests/oidc-tenancy/src/main/resources/application.properties
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java
  integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenStepUpAuthenticationTest.java
Labels: release/noteworthy-feature, area/documentation, area/resteasy-classic, area/vertx, area/oidc, area/rest, triage/flaky-test, area/docstyle

#47508 Always consider @RegisterRestClient interface as REST Clients
  extensions/resteasy-classic/resteasy-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/basic/ClientWithImplementationsInvalidTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/java/io/quarkus/restclient/basic/ClientWithImplementationsTest.java
  extensions/resteasy-classic/resteasy-client/deployment/src/test/resources/client-with-implementations.properties
Labels: area/resteasy-classic

#47503 Properly close the worker executor in Quarkus messaging
  extensions/smallrye-reactive-messaging/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/runtime/QuarkusWorkerPoolRegistry.java
Labels: area/smallrye, area/reactive-messaging

#47517 Add org.hibernate.orm:hibernate-vector to application bom
  bom/application/pom.xml
Labels: area/hibernate-orm, area/dependencies, triage/backport-3.21, triage/backport-3.20, triage/backport

#47522 Restore previous behavior of QuarkusTransaction#isActive()
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/QuarkusTransaction.java
Labels: area/narayana, triage/backport

#47535 Use a common name for a test classes index file instead of a one based on a test class name
  test-framework/common/src/main/java/io/quarkus/test/common/TestClassIndexer.java
Labels: area/testing, triage/flaky-test

#47521 Be extra clear about the need of a reproducer
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: area/infra-automation

#47530 Wrong reference to MariaDB XA driver in docs
  docs/src/main/asciidoc/datasource.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.20, triage/backport

#47532 Update dev services docs to not use deprecated guard
  docs/src/main/asciidoc/extension-writing-dev-service.adoc
Labels: area/documentation

#47528 [3.20] Add QuarkusTransaction.getStatus()
  extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/QuarkusTransaction.java
Labels: area/narayana, triage/flaky-test

#47550 Fully disable Dev Services in oidc-wiremock-providers
  integration-tests/oidc-wiremock-providers/src/main/resources/application.properties
Labels: area/oidc, env/windows, area/devservices

#47547 Use JDK 21 for build reporting
  .github/workflows/ci-actions-incremental.yml
Labels: area/infra-automation, triage/flaky-test

#47346 Catch Docker check exceptions in lightweight OIDC devservice
  extensions/devservices/oidc/src/main/java/io/quarkus/devservices/oidc/OidcDevServicesProcessor.java
Labels: area/oidc, env/windows, area/devservices, triage/backport-3.21, triage/backport-3.20, triage/backport

#47513 Exceptions thrown by resteasy reactive itself do not need to be wrapped
  extensions/resteasy-reactive/rest-client/deployment/src/test/java/io/quarkus/rest/client/reactive/ClientMultipleBodyParamLogMessageTest.java
  independent-projects/resteasy-reactive/client/processor/src/main/java/org/jboss/resteasy/reactive/client/processor/scanning/ClientEndpointIndexer.java
  independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/EndpointIndexer.java
Labels: area/rest-client, area/rest, triage/flaky-test

#47563 Make protected constructors callable again for resteasy reactive
  extensions/resteasy-reactive/rest/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java
  integration-tests/maven/src/test/java/io/quarkus/maven/it/DevMojoIT.java
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/app/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/app/src/main/java/org/acme/GreetingListSortAttribute.java
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/app/src/main/java/org/acme/ParametersResource.java
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/external-lib/pom.xml
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/external-lib/src/main/java/org/acme/lib/GreetingListFilter.java
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/external-lib/src/main/java/org/acme/lib/SortAttribute.java
  integration-tests/maven/src/test/resources-filtered/projects/rr-external-artifacts/external-lib/src/main/java/org/acme/lib/StringTypeProtectedConstructor.java
Labels: area/maven, area/rest

#47564 Polish DefaultMicroprofileRestClientExceptionMapper
  extensions/resteasy-reactive/rest-client/runtime/src/main/java/io/quarkus/rest/client/reactive/runtime/DefaultMicroprofileRestClientExceptionMapper.java
Labels: area/rest-client, area/rest

#47408 Docs: Implement QE feedback to Deploying to OpenShift guide
  docs/src/main/asciidoc/deploying-to-openshift-docker-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift-native-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift-s2i-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
Labels: area/documentation, area/docstyle, triage/backport-3.20, triage/backport

#47567 [3.20] Backport Implement QE feedback for Deploying to OpenShift guides
  docs/src/main/asciidoc/deploying-to-openshift-docker-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift-native-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift-s2i-howto.adoc
  docs/src/main/asciidoc/deploying-to-openshift.adoc
Labels: area/documentation, area/docstyle

#47577 Make these ids unique
  docs/src/main/asciidoc/security-oidc-bearer-token-authentication.adoc
  docs/src/main/asciidoc/security-oidc-code-flow-authentication.adoc
  docs/src/main/asciidoc/security-oidc-expanded-configuration.adoc
Labels: area/documentation, area/docstyle
